<template lang="pug">
section.mining.container.is-max-fullhd(v-observe-visibility="{callback: initSwiper, once: true}")
  h3.title
    span.is-italic {{ $t('homePage.mining.title1') }}&nbsp
    span.is-uppercase {{ $t('homePage.mining.title2') }}
  #mining-slider.swiper-container
    .swiper-wrapper.is-flex-mobile(:class="{mobile: this.$device.isMobile}")
      .swiper-slide.lazy(data-lazy-function="loaded", v-for="(column, index) in columns", :key="column.id", :class="`slide${index + 1}`")
        v-image(:src="`mining/${column.img}@2x.jpg`", :alt="column.imgAlt")
        .column-info
          h3.column-title(v-html="column.title")
          .column-text {{ column.text }}
          v-link.read-more(:to="column.to") {{ column.button }}
    .mining-swiper-pagination.swiper-pagination
</template>

<script>
export default {
  name: 'MiningComponent',

  computed: {
    columns() {
      return [
        {
          id: '9a355094-4c72-48b4-8e6e-323df9c58afe',
          img: 'mining1',
          imgAlt: this.$t('imagesAlt.miningLocations'),
          title: this.$t('homePage.mining.slide1.title'),
          text: this.$t('homePage.mining.slide1.text'),
          button: this.$t('homePage.mining.slide1.button'),
          to: {
            name: 'education-index-category-slug',
            params: {
              category: 'mining-locations',
              slug: 'colombia-emerald-mines'
            }
          }
        },
        {
          id: 'b1acf566-bf96-457e-b96c-78c58ad282cf',
          img: 'mining2',
          imgAlt: this.$t('imagesAlt.miningLocations'),
          title: this.$t('homePage.mining.slide2.title'),
          text: this.$t('homePage.mining.slide2.text'),
          button: this.$t('homePage.mining.slide1.button'),
          to: {
            name: 'education-index-category-slug',
            params: {
              category: 'mining-locations',
              slug: 'brazil-emerald-mines'
            }
          }
        },
        {
          id: 'ae8b4173-c0cc-4987-868a-ac09c060830e',
          img: 'mining3',
          imgAlt: this.$t('imagesAlt.miningLocations'),
          title: this.$t('homePage.mining.slide3.title'),
          text: this.$t('homePage.mining.slide3.text'),
          button: this.$t('homePage.mining.slide3.button'),
          to: {
            name: 'education-index-category-slug',
            params: {
              category: 'mining-locations',
              slug: 'zambia-emerald-mines'
            }
          }
        }
      ]
    },

    sliderParams() {
      return {
        // Default parameters
        slidesPerView: 1,
        slidesPerGroup: 1,
        spaceBetween: 20,
        watchOverflow: true,
        pagination: {
          el: '.mining-swiper-pagination',
          type: 'bullets',
          clickable: true
        }
      }
    }
  },

  methods: {
    async initSwiper(isVisible) {
      if (isVisible && this.$device.isMobile) {
        const sliderEl = document.getElementById('mining-slider')
        this.swiper = await this.$swiper.insert(sliderEl, this.sliderParams)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.mining
  margin-top: 120px
  +mobile
    margin-top: 90px
    //margin-bottom: 90px
  .swiper-container
    margin-top: 50px
    overflow: unset
    +mobile
      overflow: hidden
    .swiper-wrapper
      display: grid
      grid-template-columns: repeat(3, 1fr)
      grid-gap: 35px
      +mobile
        padding-bottom: 40px
        grid-gap: unset
      .swiper-slide
        ::v-deep
          .picture-wrapper
            aspect-ratio: 408 / 217
        .column-info
          font-size: 16px
          text-align: center
          .column-title
            font-size: 36px
            font-family: $lora
            line-height: 42px
            margin-top: 30px
            margin-bottom: 30px
            font-style: italic
            width: 100%
          .column-text
            margin-bottom: 25px
  .swiper-pagination
    bottom: 0
    ::v-deep
      .swiper-pagination-bullet-active
        background-color: $primary-color
</style>
