<template lang="pug">
.tile.is-flex.bracelets-tile
  .image.is-flex
    v-image(src="collections/bracelets@2x.png", :alt="$t('imagesAlt.collectionBracelets')")
  .content.is-flex
    h3.content-title {{ $t(`homePage.collection.${type}.title`) }}
    .content-text {{ $t(`homePage.collection.${type}.text`) }}
    v-link.button.tile-button(:to="{name: 'emerald-jewelry-emerald-bracelets'}") {{ $t(`homePage.collection.${type}.button`) }}
</template>

<script>
export default {
  name: 'BraceletsTileComponent',

  data: () => ({
    type: 'bracelets'
  })
}
</script>

<style lang="sass" scoped>
@import '~assets/styles/components/collectionTileHorizontal.sass'
.tile
  .image
    ::v-deep
      img
        max-width: 128px
        max-height: 198px
        aspect-ratio: 64 / 99
</style>
