<template lang="pug">
.tile.is-flex.earrings-tile
  .image.is-flex
    v-image(src="collections/earrings@2x.png", :alt="$t('imagesAlt.collectionEarrings')", :lazy="!$device.isDesktopOrTablet")
  .content.is-flex
    h3.content-title {{ $t(`homePage.collection.${type}.title`) }}
    .content-text {{ $t(`homePage.collection.${type}.text`) }}
    v-link.button.tile-button(:to="{name: 'emerald-jewelry-emerald-earrings'}") {{ $t(`homePage.collection.${type}.button`) }}
</template>

<script>
export default {
  name: 'EarringsTileComponent',

  data: () => ({
    type: 'earrings'
  })
}
</script>

<style lang="sass" scoped>
@import '~assets/styles/components/collectionTileHorizontal.sass'
.tile
  .image
    ::v-deep
      img
        max-width: 134px
        max-height: 195px
        aspect-ratio: 134 / 195
</style>
