<template lang="pug">
.tile.is-flex.necklaces-tile
  .image.is-flex
    v-image(src="collections/necklaces@2x.png", :alt="$t('imagesAlt.collectionNecklaces')")
  .content.is-flex
    h3.content-title {{ $t(`homePage.collection.${type}.title`) }}
    .content-text {{ $t(`homePage.collection.${type}.text`) }}
    v-link.button.tile-button(:to="{name: 'emerald-jewelry-emerald-necklaces-pendants'}") {{ $t(`homePage.collection.${type}.button`) }}
</template>

<script>
export default {
  name: 'NecklacesTileComponent',

  data: () => ({
    type: 'necklaces'
  })
}
</script>

<style lang="sass" scoped>
@import '~assets/styles/components/collectionTileHorizontal.sass'
.tile
  .image
    ::v-deep
      img
        max-width: 177px
        max-height: 231px
        aspect-ratio: 59 / 77
</style>
