<template lang="pug">
.tile.is-flex.pairs-tile
  .image.is-flex
    v-image(src="collections/pairs@2x.png", :alt="$t('imagesAlt.collectionPairs')")
  .content.is-flex
    h3.content-title {{ $t(`homePage.collection.${type}.title`) }}
    .content-text {{ $t(`homePage.collection.${type}.text`) }}
    v-link.button.tile-button(:to="{name: 'emeralds-matched-pairs-of-emeralds'}") {{ $t(`homePage.collection.${type}.button`) }}
</template>

<script>
export default {
  name: 'PairsTileComponent',

  data: () => ({
    type: 'pairs'
  })
}
</script>

<style lang="sass" scoped>
@import '~assets/styles/components/collectionTileHorizontal.sass'
.tile
  .image
    ::v-deep
      img
        max-width: 150px
        max-height: 115px
        aspect-ratio: 30 / 23
</style>
