<template lang="pug">
.tile.is-flex.rings-tile
  .image.is-flex
    v-image(src="collections/rings@2x.png", :alt="$t('imagesAlt.collectionRings')", :lazy="!$device.isDesktop")
  .content.is-flex
    h3.content-title {{ $t(`homePage.collection.${type}.title`) }}
    .content-text {{ $t(`homePage.collection.${type}.text`) }}
    v-link.button.tile-button(:to="{name: 'emerald-jewelry-engagement-emerald-rings'}") {{ $t(`homePage.collection.${type}.button`) }}
</template>

<script>
export default {
  name: 'RingsTileComponent',

  data: () => ({
    type: 'rings'
  })
}
</script>

<style lang="sass" scoped>
@import '~assets/styles/components/collectionTileHorizontal.sass'
.tile
  .image
    ::v-deep
      img
        max-width: 92px
        max-height: 166px
        aspect-ratio: 46 / 83
</style>
