<template lang="pug">
.tile.is-flex.settings-tile
  .image.is-flex
    v-image(src="collections/settings@2x.png", :alt="$t('imagesAlt.collectionSettings')")
  .content.is-flex
    h3.content-title {{ $t(`homePage.collection.${type}.title`) }}
    .content-text {{ $t(`homePage.collection.${type}.text`) }}
    v-link.button.tile-button(:to="{name: 'design-your-own-setting-emerald-engagement-ring-settings'}") {{ $t(`homePage.collection.${type}.button`) }}
</template>

<script>
export default {
  name: 'SettingsTileComponent',

  data: () => ({
    type: 'settings'
  })
}
</script>

<style lang="sass" scoped>
@import '~assets/styles/components/collectionTileHorizontal.sass'
.tile
  .image
    ::v-deep
      img
        max-width: 106px
        max-height: 155px
        aspect-ratio: 106 / 155
</style>
