<template lang="pug">
.tile.is-flex.stones-tile
  .image.is-flex
    v-image(src="collections/stones@2x.png", :alt="$t('imagesAlt.collectionStones')")
  .content.is-flex
    h3.content-title {{ $t(`homePage.collection.${type}.title`) }}
    .content-text {{ $t(`homePage.collection.${type}.text`) }}
    v-link.button.tile-button(:to="{name: 'emeralds'}") {{ $t(`homePage.collection.${type}.button`) }}
</template>

<script>
export default {
  name: 'StonesTileComponent',

  data: () => ({
    type: 'stones'
  })
}
</script>

<style lang="sass" scoped>
@import '~assets/styles/components/collectionTileHorizontal.sass'
.tile
  .image
    ::v-deep
      img
        max-width: 120px
        max-height: 82px
        aspect-ratio: 60 / 41
</style>
