<template lang="pug">
.tile.is-flex.bands-tile
  .image.is-flex
    v-image(src="collections/weddingRing@2x.png", :alt="$t('imagesAlt.collectionWeddingBands')", :lazy="!$device.isDesktop")
  .content.is-flex
    h3.content-title {{ $t(`homePage.collection.${type}.title`) }}
    .content-text {{ $t(`homePage.collection.${type}.text`) }}
    v-link.button.tile-button(:to="{name: 'emerald-wedding-rings-bands'}") {{ $t(`homePage.collection.${type}.button`) }}
</template>

<script>
export default {
  name: 'WeddingBandsTileComponent',

  data: () => ({
    type: 'weddingBands'
  })
}
</script>

<style lang="sass" scoped>
@import '~assets/styles/components/collectionTileHorizontal.sass'
.tile
  .image
    ::v-deep
      img
        max-width: 139px
        max-height: 163px
        aspect-ratio: 139 / 163
</style>
