<template lang="pug">
main.contact-us-page.page
  page-header(:showBreadcrumbs="true", :breadcrumbs="localBreadcrumbs")
  section.container.margin-top-30
    .contact-us-message(v-html="$t('contacts.pageMessage')")
    accordion-component.contact-us-accordion.margin-top-15
      accordion-item-component
        .address-header.weight-700(slot='header') {{ $t('contacts.headOffice.title') }}
        head-office-block.padding-15.padding-top-0
      accordion-item-component
        .address-header.weight-700(slot='header') {{ $t('contacts.mining.title') }}
        mining-production-block.padding-15.padding-top-0
    .customer-service.padding-15
      p.customer-service-title
        strong {{ $t('contacts.customerService.title') }}:
      hours-available-component.margin-bottom-0(:options="workingHours.phone", :showTitle="false")
    hr.margin-0
    lazy-hydrate(when-idle)
      phone-email-block.padding-15
    contacts-form
  back-to-top-component
</template>

<script>
import LazyHydrate, { hydrateNever, hydrateWhenIdle } from 'vue-lazy-hydration'
import { mapState } from 'vuex'
import _basePage from '~~/components/Page/_basePage'

export default {
  name: 'ContactUsPage',

  structuredData: true,

  pageType: 'contacts',

  components: {
    LazyHydrate,
    ContactsForm: hydrateWhenIdle(() =>
      import('~~/components/Contacts/ContactsForm')
    ),
    PhoneEmailBlock: hydrateWhenIdle(() =>
      import('~~/components/Contacts/PhoneEmailBlock')
    ),
    HoursAvailableComponent: hydrateNever(() =>
      import(
        '~~/components/Layout/TopHeader/TopHeaderContactsLine/hoursAvailable'
      )
    ),
    MiningProductionBlock: hydrateWhenIdle(() =>
      import('~~/components/Contacts/MiningProductionBlock')
    ),
    HeadOfficeBlock: hydrateWhenIdle(() =>
      import('~~/components/Contacts/HeadOfficeBlock')
    ),
    AccordionItemComponent: () =>
      import('~~/components/Common/Accordion/AccordionItem'),
    AccordionComponent: () => import('~~/components/Common/Accordion/Accordion'),
    PageHeader: hydrateWhenIdle(() => import('~~/components/Common/PageHeader'))
  },

  extends: _basePage,

  computed: {
    ...mapState({
      workingHours: (state) => state.app.workingHours
    }),

    localBreadcrumbs() {
      return [
        {
          id: 'd8ac6bff-ce6d-4232-a68a-ab3131728f62',
          name: this.$t('breadcrumbs.home'),
          path: '/'
        },
        {
          id: 'a056f40a-6739-47b5-a620-b8f20d0d170d',
          name: this.$t('breadcrumbs.contactUs')
        }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
.contact-us
  &-page
    font-size: 16px
    @include margin-bottom()
    .customer-service-title
      font-size: 20px
  &-message
    ::v-deep
      a
        color: $dark-primary-color
  &-accordion
    .address-header
      font-size: 20px
      cursor: pointer
    .accordion-item
      ::v-deep
        .accordion-item-header
          padding: 15px
      &:not(:last-child)
        ::v-deep
          .accordion-item-header
            border-bottom: 0
</style>
