<template lang="pug">
  section.main-filter(ref="mainFilter", v-on-clickaway="onClickAway")
    custom-design-filter-menu(:current="selectedFilter", @change="onSelectedFilterChangeHandler")
    custom-design-filter-areas(:selected="selectedFilter", @change="$emit('change')")
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'

export default {
  name: 'CustomDesignFilterComponent',

  components: {
    CustomDesignFilterAreas: () => import('./CustomDesignFilterAreas'),
    CustomDesignFilterMenu: () => import('./CustomDesignFilterMenu')
  },

  mixins: [clickaway],

  data: () => ({
    selectedFilter: ''
  }),

  methods: {
    onSelectedFilterChangeHandler(filter) {
      if (this.selectedFilter === filter) {
        this.selectedFilter = ''
        return
      }
      this.selectedFilter = filter
    },

    onClickAway() {
      this.selectedFilter = ''
    }
  }
}
</script>

<style lang="sass" scoped>
.main-filter
  margin-top: 20px
  &.sticky
    margin-top: 0
    top: 34px
    width: 100%
    position: fixed
    z-index: 1998
    +tablet
      border: 1px solid $border-color
</style>
