<template lang="pug">
.main-filter-menu
  .container.menu-items.is-flex
    .filter-by {{ $t('listingPage.filters.filterBy') }}
    .menu-item(v-for="(filter, index) in filters", :key="index", @click="$emit('change', index)", :class="{active: index === currentFilter}")
      span {{ $t(`listingPage.filters.${index}`) }}
      i.fa.fa-angle-down
</template>

<script>
export default {
  name: 'CustomDesignFilterMenuComponent',

  props: {
    current: {
      type: String,
      default: ''
    }
  },

  computed: {
    filters() {
      return this.$store.state.customItem.sourceCustomDesignsFilters
    },

    hasFilters() {
      return this.$store.getters['customItem/hasFiltersCustomDesigns']
    },

    currentFilter() {
      if (!this.current && this.hasFilters) return 'summary'
      if (this.current === 'summary' && !this.hasFilters) return ''
      return this.current || ''
    }
  }
}
</script>

<style lang="sass" scoped>
.main-filter-menu
  background-color: $fourth-bg-color
  height: 60px
  .menu-items
    height: 100%
    justify-content: center
    align-items: center
    .menu-item + .menu-item
      margin-left: 40px
    .menu-item
      cursor: pointer
      font-weight: 700
      i
        @include transition(all, .3s)
        margin-left: 10px
        color: $gold-color
      &.active
        i
          transform: rotate(-180deg)
    .filter-by
      margin-right: 40px
      font-weight: normal
      text-transform: uppercase
</style>
