<template lang="pug">
.main-filter-areas.is-flex(:class="{opened: filterComponent}")
  .container
    collapse-transition
      component(v-if="filterComponent", :is="filterComponent.name", @change="$emit('change')")
</template>

<script>
import { CollapseTransition } from 'vue2-transitions'

export default {
  name: 'CustomDesignFilterAreasComponent',

  components: {
    CollapseTransition,
    MainFilterAreaShapes: () => import('./Areas/MainFilterAreaShapes'),
    MainFilterAreaOrigins: () => import('./Areas/MainFilterAreaOrigins'),
    MainFilterAreaPrice: () => import('./Areas/MainFilterAreaPrice'),
    MainFilterAreaCarat: () => import('./Areas/MainFilterAreaCarat'),
    MainFilterAreaDimensions: () => import('./Areas/MainFilterAreaDimensions'),
    MainFilterAreaMetals: () => import('./Areas/MainFilterAreaMetals'),
    MainFilterAreaTreatments: () => import('./Areas/MainFilterAreaTreatments'),
    MainFilterAreaStoneTreatments: () =>
      import('./Areas/MainFilterAreaStoneTreatments'),
    MainFilterAreaStonesShapes: () =>
      import('./Areas/MainFilterAreaStonesShapes'),
    MainFilterAreaDesignStyles: () =>
      import('./Areas/MainFilterAreaDesignStyles'),
    MainFilterAreaSummary: () => import('./Areas/MainFilterAreaSummary')
  },

  props: {
    selected: {
      type: String,
      default: ''
    }
  },

  computed: {
    hasFilters() {
      return this.$store.getters['customItem/hasFiltersCustomDesigns']
    },

    currentFilter() {
      if (!this.selected && this.hasFilters) return 'summary'
      if (this.selected === 'summary' && !this.hasFilters) return ''
      return this.selected || ''
    },

    filterComponent() {
      return this.stonesFilters.find(
        (component) => this.currentFilter === component.visible
      )
    },

    stonesFilters() {
      return [
        { name: 'MainFilterAreaSummary', visible: 'summary' },
        { name: 'MainFilterAreaMetals', visible: 'metalTypes' },
        { name: 'MainFilterAreaDesignStyles', visible: 'designStyles' },
        { name: 'MainFilterAreaShapes', visible: 'stoneShapes' },
        { name: 'MainFilterAreaOrigins', visible: 'stoneOrigins' },
        { name: 'MainFilterAreaPrice', visible: 'priceRange' },
        { name: 'MainFilterAreaCarat', visible: 'caratRange' },
        { name: 'MainFilterAreaDimensions', visible: 'dimensions' },
        { name: 'MainFilterAreaStoneTreatments', visible: 'treatments' }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
.main-filter-areas
  background-color: #ffffff
  &.opened
    align-items: center
    min-height: 86px
    border-bottom: 1px solid $border-color
</style>
