<template lang="pug">
  div
</template>

<script>
import camelCase from 'lodash/camelCase'
import { mapActions, mapGetters } from 'vuex'
import ItemControlsWishlistIcon from '~~/components/ListingPage/ItemControls/ItemControlsWishlist'
import ItemControlsCompareIcon from '~~/components/ListingPage/ItemControls/ItemControlsCompare'
import addItemToLists from '~~/components/ListingPage/Mixins/addItemToLists'
import Tooltip from '~~/components/Common/Tooltip'
import Video360Component from '~~/components/Common/video360/video360'
import {
  tcwFormatter,
  moneyFormatter,
  caratFormatter,
  priceValidDate,
  tcwPlainFormatter
} from '~~/utils/formatters'
import {
  // productListTypeByCategory,
  jewelry,
  video360Speed as speed
} from '~~/utils/definitions/defaults'

import { getDetailsPath } from '~~/utils/utils'
import Price from '~~/components/Common/Price'
import ItemControlsComponent from '~~/components/ListingPage/ItemControls'

export default {
  name: 'BaseViewComponent',

  components: {
    ItemControlsWishlistIcon,
    ItemControlsCompareIcon,
    ItemControlsComponent,
    Video360Component,
    Price,
    Tooltip
  },

  filters: {
    moneyFormatter,
    caratFormatter
  },

  mixins: [addItemToLists],

  props: {
    item: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    loading: true,
    showQuickView: false
  }),

  computed: {
    ...mapGetters({
      productDetails: 'productDetails/productDetails'
    }),

    type() {
      return this.$store.getters.typeList
    },

    imagePath() {
      return jewelry.includes(this.type) ? 'jewelry' : 'stone'
    },

    isPair() {
      return this.type === 'stonePairsList'
    },

    detailsRoute() {
      const query = this.$h.flushQuery(this.$route.query)

      return {
        path: getDetailsPath(this.item, this.$route),
        query
      }
    }
  },

  methods: {
    ...mapActions({
      fetchDetails: 'productDetails/fetchDetails',
      checkSettingMatch: 'customItem/checkSettingMatch'
    }),

    priceValidDate,

    onLoadedHandler() {
      this.loading = false
      this.$emit('loaded', this.$el)
    },

    onQuickViewHandler(item) {
      this.$root.$emit('listing-quick-view', item)
    },

    getDetailsPath() {
      return getDetailsPath(this.item, this.$route)
    },

    urlEncodedDetailsPath() {
      return encodeURI(getDetailsPath(this.item))
    },

    pushDetailsPath() {
      this.$router.push(this.localePath(this.detailsRoute))
    },

    getImagePath(item) {
      return item.imagePath
    },

    getAttrs({ id, framesCount }) {
      return {
        id,
        prefix: id,
        behavior: 'mouseover',
        startOn: 'mouseover',
        onclick: this.pushDetailsPath,
        size: 'small',
        speed,
        cover: this.getImagePath(this.item),
        framesCount,
        itemType: 'stone',
        host: process.env.video360Url
      }
    },

    tcwFormatter(value) {
      return tcwFormatter.call(this, value)
    },

    tcwPlainFormatter(value) {
      return tcwPlainFormatter.call(this, value)
    },

    caratFormatter,
    camelCase
  }
}
</script>
