<template lang="pug">
.page-items(:data-page="source.pageNumber")
  .page-items-wrapper
    component(v-for="item in items", :key="item.guid", :is="getItemView(item)", :item="item", @loaded="onLoadedItemHandler")
</template>

<script>
import {
  jewelryByCategory,
  bandsByCategory,
  settingsByCategory,
  defaultPageSize
} from '~~/utils/definitions/defaults'

export default {
  name: 'ModulePageComponent',

  components: {
    StonesView: () => import('./ModuleItemsViews/StonesView'),
    SettingsView: () => import('./ModuleItemsViews/SettingsView'),
    JewelryView: () => import('./ModuleItemsViews/JewelryView'),
    BandsView: () => import('./ModuleItemsViews/BandsView')
  },

  props: {
    source: {
      type: Object,
      default: () => ({})
    }
  },

  data: () => ({
    loadedItems: 0,
    maxItemHeight: 0
  }),

  computed: {
    items() {
      return this.source.page
    }
  },

  methods: {
    onLoadedItemHandler(el) {
      setTimeout(() => {
        if (this.maxItemHeight < el.offsetHeight)
          this.maxItemHeight = el.offsetHeight
        this.loadedItems++
        // if last page have not full items count it will be not calculated
        if (this.loadedItems === defaultPageSize) {
          this.$scopedSlots.onAllItemsLoaded({
            pageNumber: this.source.pageNumber,
            pageHeight: this.$el.offsetHeight,
            itemHeight: this.maxItemHeight
          })
        }
      }, 50)
    },

    getItemView(item) {
      if (bandsByCategory.includes(item.category)) return 'BandsView'
      if (jewelryByCategory.includes(item.category)) return 'JewelryView'
      if (settingsByCategory.includes(item.category)) return 'SettingsView'
      return 'StonesView'
    }
  }
}
</script>

<style lang="sass" scoped>
.page-items
  position: relative
  &-wrapper
    display: grid
    grid-template-columns: repeat(5, 1fr)
    grid-column-gap: 34px
    margin: 0 -17px
    padding: 0 17px
    +mobile
      grid-template-columns: repeat(2, 1fr)
    +tablet
      grid-template-columns: repeat(3, 1fr)
    +ipad-pro
      grid-template-columns: repeat(4, 1fr)
    +touch
      grid-gap: 17px
    +desktop
      grid-template-columns: repeat(4, 1fr)
    +widescreen
      grid-template-columns: repeat(5, 1fr)
    +ultrahd
      grid-template-columns: repeat(6, 1fr)
  .product
    ::v-deep
      .product-wrapper
        height: calc(100% - 42px)
        margin-bottom: 42px
        z-index: 1
        position: relative
        +touch
          height: 100%
          margin-bottom: unset
          padding-bottom: 10px
          border-bottom: 1px solid $border-color
        &::after
          content: ''
          position: absolute
          z-index: -1
          top: 0
          left: 0
          width: 100%
          height: 100%
          opacity: 0
          @include box-shadow(0 2px 10px 2px, rgba(0,0,0,0.13))
          transition: opacity 0.3s ease-in-out
          +touch
            content: unset
        &:hover
          height: 100%
          z-index: 2
          margin-bottom: unset
          //padding-bottom: 10px
          +desktop
            border-bottom: unset
          &::after
            opacity: 1
          .item-view-controls
            display: flex
    //+mobile
      &:nth-child(odd)
        padding-right: 8px
      &:nth-child(even)
        padding-left: 8px
</style>
