<template lang="pug">
  .swiper-container(ref="swiper", :class="{ loading }")
    .swiper-wrapper
      .swiper-slide(v-for="(slide, index) in slides", :key="slide.guid")
        v-image.slide-image(@click="$emit('click')", @load="onImageLoad", :src="slide.img", :lazy="false", :alt="itemName")
    .swiper-pagination
    .swiper-button-next(@click.stop.prevent="onNextArrowClick")
    .swiper-button-prev(@click.stop.prevent="onPrevArrowClick")
</template>

<script>
import { itemNameFormatter } from '~~/utils/formatters'

export default {
  name: 'SlideShowComponent',

  props: {
    item: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    swiper: null,
    loading: true
  }),

  computed: {
    itemName() {
      return itemNameFormatter.call(this, this.item)
    },

    slides() {
      return this.item.thumbnails.map((slide) => {
        return {
          guid: this.$h.guid(),
          img: slide
        }
      })
    },

    sliderParams() {
      return {
        loop: true,
        longSwipesRatio: 0.3,
        allowTouchMove: this.$device.isMobileOrTablet,
        pagination: {
          el: '.swiper-pagination',
          type: 'bullets',
          clickable: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        on: {
          afterInit: this.onSliderReady
        }
      }
    }
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.updateSlider, false)
  },

  mounted() {
    this.initSwiper()
    window.addEventListener('resize', this.updateSlider, false)
  },

  methods: {
    async initSwiper() {
      this.swiper = await this.$swiper.insert(
        this.$refs.swiper,
        this.sliderParams
      )
    },

    onImageLoad() {
      this.$nextTick(this.updateSlider) // fix slider glitch
      this.$emit('load')
    },

    onSliderReady() {
      this.loading = false
    },

    onNextArrowClick() {
      if (this.swiper) this.swiper.slideNext()
      this.$emit('next-click')
    },

    onPrevArrowClick() {
      if (this.swiper) this.swiper.slidePrev()
      this.$emit('prev-click')
    },

    updateSlider() {
      if (this.swiper) this.swiper.update()
      this.$emit('update')
    }
  }
}
</script>

<style lang="sass" scoped>
.swiper-container
  &.loading
    .swiper-wrapper
      position: relative
      .swiper-slide
        &:not(:first-child)
          position: absolute
          top: 0
          left: 0
          z-index: -1
  .swiper-wrapper
    .swiper-slide
      width: 100% !important
      justify-content: center
      .slide-image
        max-height: 200px
  .swiper-button-next,
  .swiper-button-prev
    display: none
    outline: none
    z-index: 1
    background-color: transparent
    height: 100%
    top: 10%
    color: $gold-color
    +mobile
      top: 13%
    &:after
      font-size: 25px
  .swiper-button-next
    right: 2px
    +mobile
      right: 0
  .swiper-button-prev
    left: 2px
    +mobile
      left: 0
  .swiper-footer
    height: 20px
    width: 100%
    position: absolute
    z-index: 1
  .swiper-pagination
    display: none
    width: 100%
    height: 30px
    bottom: 0
    ::v-deep
      .swiper-pagination-bullet
        background-color: $gold-color
        opacity: .5
        outline: none
        margin: 0 4px
        &-active
          opacity: 1
</style>
