<template lang="pug">
  .page-items(:data-page="source.pageNumber")
    .page-items-wrapper.is-flex
      component(v-for="item in items", :widths="widths", :key="item.guid", :is="getItemView(item)", :item="item", @loaded="onLoadedItemHandler")
</template>

<script>
import ModulePage from './ModulePage'
import {
  jewelryByCategory,
  settingsByCategory
} from '~~/utils/definitions/defaults'

export default {
  name: 'TablePageComponent',

  components: {
    StonesView: () => import('./TableItemsViews/StonesView'),
    SettingsView: () => import('./TableItemsViews/SettingsView'),
    JewelryView: () => import('./TableItemsViews/JewelryView'),
    BandsView: () => import('./TableItemsViews/BandsView'),
    BandsPlainView: () => import('./TableItemsViews/BandsPlainView')
  },

  extends: ModulePage,

  props: {
    widths: {
      type: Object,
      default: () => ({})
    }
  },

  methods: {
    getItemView(item) {
      if (item.category === 'Wedding Band') return 'BandsView'
      if (item.category === 'Plain Band') return 'BandsPlainView'
      if (jewelryByCategory.includes(item.category)) return 'JewelryView'
      if (settingsByCategory.includes(item.category)) return 'SettingsView'
      return 'StonesView'
    }
  }
}
</script>

<style lang="sass" scoped>
.page-items
  position: relative
  &-wrapper
    flex-direction: column
    ::v-deep
      .table-product
        border-bottom: 1px solid $border-color
      &:nth-child(even)
        &.table-product
          background-color: $fourth-bg-color
</style>
