<template lang="pug">
section.details-help.lazy(data-lazy-function="loaded")
  .container.is-flex
    .details-help-name {{ $t('detailsPage.mainDetails.help.name') }}
    .details-help-icons.is-flex
      tooltip(:options="tooltipOptions")
        .details-help-icons-call.option-field.is-flex(slot="target")
          .icon-wrapper.is-flex
            icon(iconName="callUs")
          span {{ $t('detailsPage.mainDetails.help.call') }}
        phone-view-component
      .details-help-icons-email.option-field
        v-link.is-flex(to="contact-us")
          .icon-wrapper.is-flex
            icon(iconName="emailUs")
          span  {{ $t('detailsPage.mainDetails.help.email') }}
      .details-help-icons-chat.option-field.is-flex(@click="onStartChat")
        .icon-wrapper.is-flex
          icon(iconName="letsChat")
        span  {{ $t('detailsPage.mainDetails.help.chat') }}
</template>

<script>
import Tooltip from '~~/components/Common/Tooltip'
import PhoneViewComponent from '~~/components/Layout/TopHeader/TopHeaderContactsLine/phoneView'
import chatMixin from '~~/mixins/chatMixin'

export default {
  name: 'DetailsHelpComponent',

  components: {
    Tooltip,
    PhoneViewComponent
  },

  mixins: [chatMixin],

  data: () => ({
    tooltipOptions: {
      trigger: 'click',
      arrow: false
    }
  })
}
</script>

<style lang="sass" scoped>
@include background-image('details-help', 'ourStory/bg', 'jpg')
.details-help
  margin-top: 80px
  padding: 35px 0
  +touch
    background-size: 30px
  .container
    align-items: center
    justify-content: center
    height: 100%
    +touch
      flex-direction: column
    .option-field
      align-items: center
      color: $gold-color
      font-size: 20px
      .icon-wrapper
        align-items: center
        justify-content: center
        border: 1px solid $border-color
        background-color: white
        height: 60px
        width: 60px
        border-radius: 50%
        margin-right: 15px
        svg
          width: 30px
          height: 30px
  &-icons
    margin-left: 60px
    +mobile
      flex-direction: column
    +touch
      margin-left: 0
    > * + *
      margin-left: 60px
      +mobile
        margin-top: 25px
        margin-left: 0
    &-call,
    &-chat
      cursor: pointer
      position: relative
    &-email
      a
        align-items: center
        color: $gold-color
  &-name
    font-size: 42px
    font-weight: 800
    font-family: $lora
    font-style: italic
    +touch
      margin-bottom: 15px
</style>
