<template lang="pug">
.edu__share
  .edu__share-wrapper(v-if="socialSharingMounted")
    share-network(v-for="social in socials", :key="social.id", :media="image", :url="shareLink", :network="social.network", :title="title", :description="description")
      i.social-icon(:class="social.icon")
      span {{ social.name }}
</template>

<script>
export default {
  name: 'ShareComponent',

  props: {
    title: {
      type: String,
      default: ''
    },

    description: {
      type: String,
      default: ''
    },

    image: {
      type: String,
      default: ''
    }
  },

  data: () => ({
    socialSharingMounted: false
  }),

  computed: {
    socials() {
      return [
        {
          id: '668118ba-0310-4aae-b251-8b966c6dcf76',
          network: 'facebook',
          name: 'Facebook',
          icon: 'fab fa-facebook-f'
        },
        {
          id: 'd7773a80-f207-4f76-b274-0411878d6165',
          network: 'twitter',
          name: 'Twitter',
          icon: 'fab fa-twitter'
        },
        {
          id: '8a8156ef-303f-423f-9c79-895b5b331c2d',
          network: 'pinterest',
          name: 'Pinterest',
          icon: 'fab fa-pinterest-p'
        }
      ]
    },

    shareLink() {
      if (!window) return ''
      return window.location.href
    }
  },

  mounted() {
    this.$social.insert(() => {
      this.socialSharingMounted = true
    })
  }
}
</script>

<style lang="sass" scoped>
.edu__share
  margin-top: 80px
  +mobile
    margin-bottom: 30px
  &-wrapper
    text-align: center
    margin-left: -30px
    a
      margin-left: 30px
      font-size: 18px
      i
        color: $wp-red
      span
        margin-left: 5px
</style>
