<template lang="pug">
main.cart-page.page
  section.container.cart-page__container.is-flex(v-if="items.length")
    .cart-page__content
      nuxt-child(:key="$route.params.id")
    .cart-page__sidebar
      .cart-page__sidebar--wrapper
        //controls-sign-in.is-hidden-desktop.is-hidden-mobile
        mini-cart(v-if="showMiniCart")
        order-summary(:mini-cart="showMiniCart")
        faq
  section.container(v-else)
    .cart-page__empty.is-flex
      .cart-page__empty--title.is-flex {{ $t('cart.empty') }}
      .cart-page__empty--message.is-flex {{ $t('cart.continueShopping') }}
      v-link.button.gold-color(:to="{name: 'rubies'}")
        i.fa.fa-angle-left
        | {{ $t('cart.cartControls.continue') }}
  back-to-top-component
</template>

<script>
import { mapGetters, mapActions, mapState } from 'vuex'
import UpdatePrices from '~~/utils/store/classes/UpdatePrices'
import taxCalculationMixin from '~~/mixins/taxCalculationMixin'
import _basePage from '~~/components/Page/_basePage'
import { normRouteName } from '~~/utils/sitemapUtils.js'

export default {
  name: 'CartPage',

  pageType: 'cart',

  components: {
    MiniCart: () => import('~~/components/Cart/MiniCart/MiniCart.vue'),
    Faq: () => import('~~/components/Cart/Questions'),
    OrderSummary: () => import('~~/components/Cart/OrderSummary'),
    ControlsSignIn: () =>
      import('~~/components/Cart/SecurePayment/Controls/ControlsSignIn')
  },

  extends: _basePage,

  mixins: [taxCalculationMixin],

  computed: {
    ...mapState({
      pricesUpdated: (state) => state.app.cartPricesUpdated
    }),
    ...mapGetters({
      items: 'cart/items',
      localCurrency: 'cart/localCurrency',
      showLocal: 'app/showLocal',
      localCurrencyCode: 'app/localCurrencyCode',
      isOrderReceived: 'cart/isOrderReceived',
      conversionConfirmed: 'cart/conversionConfirmed',
      country: 'countryName'
    }),

    showMiniCart() {
      return ['cart-index-secure-payment', 'cart-index-payment-order'].includes(
        normRouteName(this.$route.name)
      )
    }
  },

  async fetch(context) {
    const { store } = context

    if (process.client && !store.state.app.cartPricesUpdated) {
      await UpdatePrices(context, 'cart')
      store.dispatch('app/cartUpdatePrices')
      // this.$root.$emit('items-prices-updated')
    }

    store.dispatch('account/fetchAddressesList')
    store.dispatch('getMeta', context)
    try {
      await store.dispatch('cart/fetchMetaData')
    } catch (e) {
      if (context.$sentry && context.$sentry.captureException) {
        context.$sentry.captureException(e)
      }
      console.log('cart meta data error', e)
    }
  },

  beforeDestroy() {
    this.$root.$off('login-complete', this.fetchUsersDetails)
  },

  mounted() {
    this.onLoginEvents()
    this.$root.$once('store-restored', this.onRestoreStore)
    if (this.localCurrencyCode === 'USD') return
    if (this.items.length && this.showLocal && !this.conversionConfirmed) {
      const currency = this.localCurrency.currencyCode

      this.$sweetalert.insert({
        title: this.$t('common.priceConversionTitle', { currency }),
        html: this.$t('common.priceConversionMessage', {
          currency,
          country: this.country
        }),
        confirmButtonText: 'Ok'
      })
      this.confirmConversion()
    }
  },

  methods: {
    ...mapActions({
      confirmConversion: 'cart/confirmConversion',
      fetchAddressesList: 'account/fetchAddressesList',
      cartUpdatePrices: 'app/cartUpdatePrices'
    }),

    onLoginEvents() {
      if (!this.$auth.loggedIn)
        this.$root.$once('login-complete', this.fetchUsersDetails)
    },

    fetchUsersDetails() {
      this.fetchAddressesList()
    },

    onRestoreStore() {
      if (this.pricesUpdated) return
      // set timeout to get a time to initialize mount hook for preloader
      setTimeout(async () => {
        this.$root.$emit('loading-start')
        await UpdatePrices({ store: this.$store }, 'cart')
        this.cartUpdatePrices()
        this.$root.$emit('items-prices-updated')
        this.$root.$emit('loading-stop')
      }, 10)
    }
  }
}
</script>

<style lang="sass" scoped>
.cart-page
  border-top: 1px solid $border-color
  @include margin-bottom()
  .container
    .cart-page-content,
    .cart-page-sidebar
      margin-top: 35px
    .cart-page-content + .cart-page-sidebar
      margin-left: 35px
      +mobile
        margin-left: unset
    +mobile
      flex-direction: column
  &__container
    margin-top: 20px
    justify-content: space-between
  &__content
    width: calc(68% - 30px)
    +touch
      width: calc(50% - 10px)
    +mobile
      width: 100%
  &__sidebar--wrapper
    position: sticky
    top: 55px
  &__sidebar
    width: 32%
    +touch
      width: calc(50% - 10px)
      .button-wrapper
        ::v-deep
          .button
            margin-top: 45px
    +mobile
      width: 100%
    .mini-cart
      margin-top: 40px
      +mobile
        margin-top: 10px
  &__empty
    height: 60vh
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    &--message
      font-size: 18px
    &--title
      font-weight: 700
      font-size: 28px
    .button
      margin-top: 40px
      i
        margin-right: 10px
</style>
