<template lang="pug">
main.cart-order-summary-page
  page-header
  .container
    .summary-order
      .summary-order-reference {{ $t('cart.orderSummary.order') }}
        strong {{ order.id }}
      p {{ $t('cart.orderSummary.thankYou') }}
      p {{ $t('cart.orderSummary.emailSent') }}
    order-summary(:order="order", :header="false")
  back-to-top-component
</template>

<script>
import { mapGetters } from 'vuex'
import get from 'lodash/get.js'
import Vue from 'vue'
import _basePage from '~~/components/Page/_basePage'
import { itemNameFormatterNoLocale } from '~~/utils/formatters/index.js'

export default {
  name: 'OrderSummaryPageComponent',

  components: {
    PageHeader: () => import('~~/components/Cart/PageHeader'),
    OrderSummary: () => import('~~/components/Cart/OrderSummaryPage')
  },

  extends: _basePage,

  validate({ store }) {
    return store.getters['cart/isOrderReceived']
  },

  scrollToTop: true,

  data: () => ({
    googleOptInParams: {
      merchant_id: process.env.merchantId,
      order_id: null,
      email: null,
      delivery_country: null, // example: 'RU'
      estimated_delivery_date: null, // example: '2023-06-06'
      products: []
    }
  }),

  computed: {
    ...mapGetters({
      order: 'cart/orderSummary'
    }),

    items() {
      return [
        ...this.order.stones,
        ...this.order.pairs,
        ...this.order.settings,
        ...this.order.bands,
        ...this.order.jewelries,
        ...this.order.custom,
        ...this.order.waxModels
      ]
    }
  },

  mounted() {
    this.initGoogleOptIn()
    this.sendGA()
  },

  methods: {
    sendGA() {
      const order = {
        event_label: 'Item purchase',
        transaction_id: this.order.id,
        affiliation: 'The Natural Emerald Company',
        currency: 'USD',
        value: this.order.total,
        tax: String(this.order.totalTax),
        shipping: String(this.order.totalShipping),
        items: this.items.map((item) => {
          return {
            id: item.id,
            name: itemNameFormatterNoLocale(item),
            category: item.category,
            sku: item.id, // SKU/code.
            brand: 'The Natural Emerald Company',
            quantity: 1,
            price: String(get(item, 'finalPrice.totalPrice', item.price))
          }
        })
      }

      Vue.$gtag.event('purchase', order)
    },

    emitGoogleSurvey() {
      this.$nextTick(window.renderOptIn) // ddd
    },

    initGoogleOptIn() {
      this.googleOptInParams.order_id = this.order.id
      this.googleOptInParams.email = this.order.email
      this.googleOptInParams.delivery_country = this.order.shippingCountryId
      this.googleOptInParams.estimated_delivery_date =
        this.order.estimatedDeliveryDate
      if (this.googleOptInParams.estimated_delivery_date)
        this.$googleSurvey.insert(this.googleOptInParams, this.emitGoogleSurvey)
    }
  }
}
</script>

<style lang="sass" scoped>
.cart-order-summary-page
  .summary-order
    margin-top: 30px
    &-reference
      font-size: 24px
      margin-bottom: 30px
    p
      font-size: 16px
</style>
