<template lang="pug">
.engraving
  input.engraving-input(maxlength="15", :value="value", @input="updateEngraving", :placeholder="$t('detailsPage.mainDetails.engravingPlaceholder')")
  span {{ $t('detailsPage.mainDetails.characters', [engravingLength]) }}
</template>

<script>
import debounce from 'lodash/debounce'

export default {
  name: 'EngravingComponent',

  props: {
    value: {
      type: String,
      default: ''
    }
  },

  computed: {
    engravingLength() {
      return (this.value || '').length
    }
  },

  methods: {
    updateEngraving: debounce(function(event) {
      const value = event.target.value
      this.$emit('input', value)
    }, 500)
  }
}
</script>

<style lang="sass" scoped>
.engraving
  text-align: left
  &-input
    outline: 0
    font-size: 14px
    color: $default-font-color
    width: 100%
    padding: 11px
    border: 1px solid $border-color
    +placeholder-color(#adadad)
</style>
