<template lang="pug">
  .tab-pane(v-show="isActive")
    slot(:isActive="isActive")
</template>

<script>
import TabsPane from '~~/components/Common/Tabs/TabsPane'
export default {
  name: 'TabsPaneComponent',

  extends: TabsPane
}
</script>

<style lang="sass" scoped>
.tab-pane
  +desktop
    margin-left: $tabs-horizontal-offset
    margin-right: $tabs-horizontal-offset
</style>
