<template lang="pug">
.tabs.tabs-wrapper
  tabs-nav(:panes="panes", @change="onTabChangeHandler")
  slot
</template>

<script>
import TabsNav from './TabsNav'
import Tabs from '~~/components/Common/Tabs'

export default {
  name: 'TabsComponent',

  components: {
    TabsNav
  },

  extends: Tabs
}
</script>

<style lang="sass" scoped>
.tabs-wrapper
  flex-direction: column
  +desktop
    margin-left: -$tabs-horizontal-offset
    margin-right: -$tabs-horizontal-offset
</style>
