<template functional>
  <svg
    id="Layer_1"
    version="1.1"
    xmlns:sketch=""
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    width="750px"
    height="471px"
    viewBox="0 0 750 471"
    enable-background="new 0 0 750 471"
    xml:space="preserve"
  >
    <title>Slice 1</title>
    <desc>Created with Sketch.</desc>
    <g>
      <path
        id="path3494"
        sketch:type="MSShapeGroup"
        fill="#FFFFFF"
        d="M617.242,346.766c0,41.615-33.729,75.36-75.357,75.36H132.759V124.245c0-41.626,33.73-75.371,75.364-75.371h409.12V346.766L617.242,346.766L617.242,346.766z"
      />
      <linearGradient
        id="path3496_1_"
        gradientUnits="userSpaceOnUse"
        x1="824.7424"
        y1="333.7813"
        x2="825.7424"
        y2="333.7813"
        gradientTransform="matrix(132.8743 0 0 -323.0226 -109129.5313 108054.6016)"
      >
        <stop offset="0" style="stop-color:#007B40" />
        <stop offset="1" style="stop-color:#55B330" />
      </linearGradient>
      <path
        id="path3496"
        sketch:type="MSShapeGroup"
        fill="url(#path3496_1_)"
        d="M483.86,242.045c11.686,0.254,23.439-0.516,35.078,0.4c11.787,2.199,14.627,20.043,4.156,25.887c-7.145,3.85-15.633,1.434-23.379,2.113H483.86V242.045L483.86,242.045z M525.694,209.9c2.596,9.164-6.238,17.392-15.064,16.13h-26.77c0.188-8.642-0.367-18.022,0.273-26.209c10.723,0.302,21.547-0.616,32.209,0.48C520.922,201.452,524.756,205.218,525.694,209.9L525.694,209.9z M590.119,73.997c0.498,17.501,0.072,35.927,0.215,53.783c-0.033,72.596,0.07,145.195-0.057,217.789c-0.469,27.207-24.582,50.847-51.6,51.39c-27.045,0.11-54.094,0.017-81.143,0.047v-109.75c29.471-0.153,58.957,0.308,88.416-0.231c13.666-0.858,28.635-9.875,29.271-24.914c1.609-15.103-12.631-25.551-26.152-27.201c-5.197-0.135-5.045-1.515,0-2.117c12.895-2.787,23.021-16.133,19.227-29.499c-3.234-14.058-18.771-19.499-31.695-19.472c-26.352-0.179-52.709-0.025-79.063-0.077c0.17-20.489-0.355-41,0.283-61.474c2.088-26.716,26.807-48.748,53.447-48.27C537.555,73.998,563.838,73.998,590.119,73.997L590.119,73.997z"
      />
      <linearGradient
        id="path3498_1_"
        gradientUnits="userSpaceOnUse"
        x1="824.7551"
        y1="333.7822"
        x2="825.7484"
        y2="333.7822"
        gradientTransform="matrix(133.4307 0 0 -323.0203 -109887.6875 108053.8203)"
      >
        <stop offset="0" style="stop-color:#1D2970" />
        <stop offset="1" style="stop-color:#006DBA" />
      </linearGradient>
      <path
        id="path3498"
        sketch:type="MSShapeGroup"
        fill="url(#path3498_1_)"
        d="M159.742,125.041c0.673-27.164,24.888-50.611,51.872-51.008c26.945-0.083,53.894-0.012,80.839-0.036c-0.074,90.885,0.146,181.776-0.111,272.657c-1.038,26.834-24.989,49.834-51.679,50.309c-26.996,0.098-53.995,0.014-80.992,0.041V283.551c26.223,6.195,53.722,8.832,80.474,4.723c15.991-2.574,33.487-10.426,38.901-27.016c3.984-14.191,1.741-29.126,2.334-43.691v-33.825h-46.297c-0.208,22.371,0.426,44.781-0.335,67.125c-1.248,13.734-14.849,22.46-27.802,21.994c-16.064,0.17-47.897-11.641-47.897-11.641C158.969,219.305,159.515,166.814,159.742,125.041L159.742,125.041z"
      />
      <linearGradient
        id="path3500_1_"
        gradientUnits="userSpaceOnUse"
        x1="824.7424"
        y1="333.7813"
        x2="825.741"
        y2="333.7813"
        gradientTransform="matrix(132.9583 0 0 -323.0276 -109347.9219 108056.2656)"
      >
        <stop offset="0" style="stop-color:#6E2B2F" />
        <stop offset="1" style="stop-color:#E30138" />
      </linearGradient>
      <path
        id="path3500"
        sketch:type="MSShapeGroup"
        fill="url(#path3500_1_)"
        d="M309.721,197.39c-2.437,0.517-0.491-8.301-1.114-11.646c0.166-21.15-0.346-42.323,0.284-63.458c2.082-26.829,26.991-48.916,53.738-48.288h78.767c-0.074,90.885,0.145,181.775-0.111,272.657c-1.039,26.834-24.992,49.833-51.682,50.309c-26.998,0.101-53.998,0.015-80.997,0.042V272.707c18.44,15.129,43.5,17.484,66.472,17.525c17.318-0.006,34.535-2.676,51.353-6.67V260.79c-18.953,9.446-41.234,15.446-62.244,10.019c-14.656-3.649-25.294-17.813-25.057-32.937c-1.698-15.729,7.522-32.335,22.979-37.011c19.192-6.008,40.108-1.413,58.096,6.398c3.855,2.018,7.766,4.521,6.225-1.921v-17.899c-30.086-7.158-62.104-9.792-92.33-2.005C325.352,187.902,316.828,191.645,309.721,197.39L309.721,197.39z"
      />
    </g>
  </svg>
</template>
