<template lang="pug">
  modal.setting-selector(ref="modal", :width="width", transition="modal", :max-width="800", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-header
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body.is-flex
      .selector-title.title.is-italic {{ $t('detailsPage.mainDetails.settingTypePicker.title') }}
      .settings-images.is-flex
        .image-wrapper
          v-image.image(@click="onSettingsClick('ringsList')", :class="{selected: selectedType === 'ringsList'}", src="details/ring@2x.jpg")
          .image-label {{ $t('detailsPage.mainDetails.settingTypePicker.ringsList') }}
        .image-wrapper
          v-image.image(@click="onSettingsClick('earringsList')", :class="{selected: selectedType === 'earringsList'}", src="details/earring@2x.jpg")
          .image-label {{ $t('detailsPage.mainDetails.settingTypePicker.earringsList') }}
        .image-wrapper
          v-image.image(@click="onSettingsClick('necklacesList')", :class="{selected: selectedType === 'necklacesList'}", src="details/necklaces@2x.jpg")
          .image-label {{ $t('detailsPage.mainDetails.settingTypePicker.necklacesPendantsList') }}
      button.continue-button.button.gold-color(@click="onContinueClick", :disabled="!selectedType") {{ $t('detailsPage.mainDetails.settingTypePicker.continue') }}
</template>

<script>
import SettingSelector from '~~/components/DetailsPage/DetailsMain/SettingsSelector'

const routesMap = {
  ruby: {
    ringsList: 'design-your-own-setting-ruby-engagement-ring-settings',
    earringsList: 'design-your-own-setting-ruby-earring-settings',
    default: 'design-your-own-setting-ruby-necklace-pendant-settings'
  },
  emerald: {
    ringsList: 'design-your-own-setting-emerald-engagement-ring-settings',
    earringsList: 'design-your-own-setting-emerald-earring-settings',
    default: 'design-your-own-setting-emerald-necklace-pendant-settings'
  }
}

export default {
  name: 'SettingSelectorAllComponent',

  extends: SettingSelector,

  data: () => ({
    modalEvent: 'settings-selector-all',
    modalName: 'settings-selector-all'
  }),

  methods: {
    onContinueClick() {
      this.$router.push(this.localePath(this.getListingRoute()))
    },

    getListingRoute() {
      return {
        name:
          routesMap[this.$site.name][this.selectedType] ||
          routesMap[this.$site.name].default
      }
    }
  }
}
</script>
