<template>
  <div />
</template>

<script>
import { mapGetters } from 'vuex'
import _baseWishlistItem from './_baseWishlistItem'
import { getItemId } from '~~/utils/utils'

export default {
  extends: _baseWishlistItem,

  computed: {
    ...mapGetters({
      cartItems: 'cart/items'
    }),

    inCart() {
      return this.cartItems.some(
        (item) => getItemId(item) === getItemId(this.item)
      )
    },

    attrs() {
      const { id, metalTypeCode, framesCount } = this.item

      return {
        id,
        prefix: id,
        framesCount,
        metalTypeCode,
        behavior: 'mouseover',
        startOn: 'mouseover',
        onclick: this.pushDetailsPath,
        size: 'small',
        itemType: 'band',
        cover: this.imagePath,
        host: process.env.video360Url
      }
    }
  }
}
</script>
