<template lang="pug">
div
</template>

<script>
import { mapGetters } from 'vuex'
import get from 'lodash/get'
import _baseWishlistItem from './_baseWishlistItem'

export default {
  name: 'BaseWishlistItemStonesComponent',

  extends: _baseWishlistItem,

  computed: {
    ...mapGetters({
      cartItems: 'cart/items',
      customStone: 'customItem/customStone'
    }),

    centerStoneWeight() {
      return (
        this.item.stoneWeight ||
        get(this.item, 'centerStones[0].totalWeight', '')
      )
    },

    inCart() {
      return this.cartItems.some((item) => {
        if (item.customStone) {
          if (item.category === 'Wax') return false
          return item.customStone.id === this.item.id
        }
        return item.id === this.item.id
      })
    },

    attrs() {
      return {
        id: this.item.id,
        prefix: this.item.id,
        behavior: 'mouseover',
        startOn: 'mouseover',
        onclick: this.pushDetailsPath,
        size: 'small',
        cover: this.imagePath,
        framesCount: this.item.framesCount,
        itemType: 'jewelry',
        host: process.env.video360Url
      }
    }
  }
}
</script>
