<template lang="pug">
div
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import camelCase from 'lodash/camelCase'
import get from 'lodash/get'
import { parametersNamesMap } from '~~/utils/definitions/itemParameters'
import { normalizeSelectedOptionsForURL } from '~~/utils/normalizers'
import { moneyFormatter, caratsFormatter } from '~~/utils/formatters'
import { getDetailsPath } from '~~/utils/utils'
import { productListTypeByCategory } from '~~/utils/definitions/defaults'

export default {
  name: 'BaseWishlistItemComponent',

  components: {
    InCart: () => import('~~/components/DetailsPage/InCart'),
    Price: () => import('~~/components/Common/Price'),
    video360Component: () => import('~~/components/Common/video360')
  },

  filters: {
    moneyFormatter,
    caratsFormatter
  },

  props: {
    item: {
      type: Object,
      required: true
    }
  },

  computed: {
    ...mapGetters({
      productDetails: 'productDetails/productDetails'
    }),

    imagePath() {
      return this.item.imagePath || get(this.item, 'thumbnails[0].micro', '')
    },

    type() {
      return productListTypeByCategory[this.item.category]
    },

    detailsPath() {
      const query = {}

      if (this.item.guid) query.guid = this.item.guid

      return {
        path: getDetailsPath(this.item),
        query: {
          ...this.$h.flushQuery(this.$route.query),
          ...query,
          source: 'wishlist'
        }
      }
    }
  },

  methods: {
    ...mapActions({
      removeFromWishlist: 'favorites/removeFromList'
    }),

    getImagePath(item) {
      return item.imagePath || get(item, 'thumbnails[0].micro', '')
    },

    getSelectedOptions(item) {
      const query = {}
      const selectedOptions = normalizeSelectedOptionsForURL(
        item.selectedOptions || {}
      )
      if (!selectedOptions) return query

      Object.keys(selectedOptions).forEach((param) => {
        if (parametersNamesMap[param] && selectedOptions[param])
          query[parametersNamesMap[param]] = selectedOptions[param]
      })
      return query
    },

    onRemoveFromWishlist() {
      this.removeFromWishlist(this.item)
    },

    pushDetailsPath() {
      this.$router.push(this.localePath(this.detailsPath))
    },

    getDetailsPath() {
      return getDetailsPath(this.item)
    },

    get,
    camelCase
  }
}
</script>
