<template lang="pug">
.wishlist-item
  .wishlist-item-wrapper.is-flex
    icon.remove-button(width="15", height="15", @click="$root.$emit('remove-wishlist', item)", iconColor="#7b817f", iconName="close")
    .video-wrapper(v-if="item.containsVideo360")
      video360-component.video-360(:attrs="attrs")
      icon.video-icon(iconColor="#7b817f", iconName="360", width="40")
    v-link(v-else, :to="detailsPath")
      v-image(:lazy="false", :src="imagePath", :alt="item.shape", @load="$emit('loaded')")
    .product-name {{ $t(`wishlist.metalTypes.${camelCase(item.metalName)}`) }} {{ $t(`categories.${item.category.replace('Setting_', '').toLowerCase()}`) }}
    .product-info {{ $t('wishlist.item.itemId') }}: {{ item.id }}
    v-link.view-button.button.gold-color(:to="detailsPath") {{ $t('wishlist.item.viewItem') }}
</template>

<script>
import _baseWishlistItemSettings from './_baseWishlistItemSettings'
import { caratFormatter } from '~~/utils/formatters'

export default {
  name: 'StonesListItemComponent',

  filters: {
    caratFormatter
  },

  extends: _baseWishlistItemSettings
}
</script>

<style lang="sass" scoped>
.wishlist-item
  width: 20%
  padding: 17px
  +mobile
    width: 50%
  +tablet
    width: 33.33%
  +ipad-pro
    width: 25%
  +desktop
    width: 25%
  +widescreen
    width: 20%
  &-wrapper
    border: 1px solid $border-color
    text-align: center
    position: relative
    height: 100%
    flex-direction: column
    .product-ring-size
      padding: 10px 10px 0
      .ring-size-error
        color: $error-color
    .product-name
      padding-top: 10px
      font-weight: 700
      text-align: center
    .product-info
      padding-bottom: 10px
    .view-button
      margin: auto 10px 10px
    .remove-button
      position: absolute
      cursor: pointer
      right: 7px
      top: 7px
      z-index: 1
    .video-wrapper
      position: relative
      .video-icon
        z-index: 1
        position: absolute
        right: 7px
        bottom: 14px
  &-buttons
    flex-direction: column
    padding: 10px
    margin-top: auto
    .button + .button
      margin-top: 10px
    .button
      width: 100%
</style>
