<template lang="pug">
  .wishlist-item.custom
    .wishlist-item-wrapper
      .item-remove(@click='onRemoveFromWishlist')
        icon(iconColor='#7b817f', iconName='close', width="15", height="15")
      .item-images-containers.is-flex
        .item-image-container
          icon.video-icon(v-if="stone.containsVideo360", iconColor="#7b817f", iconName="360", width="40")
          video-360.item-image-video-360(v-if='stone.containsVideo360', :attrs='stoneAttrs')
          v-image.item-image-img(v-else='', @click='toCustomReview', :src='stoneImagePath', :alt='stone.shape')
        .item-image-container
          icon.video-icon(v-if="setting.containsVideo360", iconColor="#7b817f", iconName="360", width="40")
          video-360.item-image-video-360(v-if='setting.containsVideo360', :attrs='settingAttrs')
          v-image.item-image-img(v-else='', @click='toCustomReview', :src='settingImagePath', :alt='setting.metalTypeCode')
      .items-info
        .item-info.is-flex(v-if="designId")
          icon(iconName="completedRing", iconColor="#d21868")
          .info
            .info-id {{ $t('wishlist.item.designId') }}: {{ designId }}
        .item-info.is-flex
          icon(iconName="stone", iconColor="#d21868")
          .info
            .info-name
              span(v-html="stoneWeight")
              span &nbsp;{{ $t(`wishlist.stoneShapes.${camelCase(stoneShape)}`) }} {{ stoneColor }} {{ $t(`wishlist.stoneTypes.${camelCase(stoneType)}`) }}
            .info-id {{ $t('wishlist.item.itemId') }}: {{ stone.id }}
        .item-info.is-flex
          icon(iconName="setting", iconColor="#d21868")
          .info
            .info-name {{ $t(`wishlist.metalTypes.${camelCase(setting.metalName)}`) }} {{ $t(`categories.${camelCase(setting.category.replace('Setting_', '').toLowerCase())}`) }}
            .info-id {{ $t('wishlist.item.itemId') }}: {{ setting.id + setting.metalTypeCode }}
        .item-price
          price(:tooltip='true', :item='item')
      .item-buttons
        in-cart(v-if='inCart')
        v-link.view-button.button.gold-color(:to="detailsPath") {{ $t('wishlist.item.viewItem') }}
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import get from 'lodash/get'
import _baseWishlistItem from './_baseWishlistItem'
import { caratFormatter, tcwFormatter } from '~~/utils/formatters'
import { getDetailsPath } from '~~/utils/utils'

export default {
  name: 'CustomItemComponent',

  components: {
    InCart: () => import('~~/components/DetailsPage/InCart'),
    video360: () => import('~~/components/Common/video360')
  },

  filters: {
    caratFormatter
  },

  extends: _baseWishlistItem,

  computed: {
    ...mapGetters({
      productDetailsOptions: 'productDetails/productDetailsOptions',
      cartItems: 'cart/items'
    }),

    designId() {
      return get(this.item, 'preview.itemRealId', null)
    },

    stoneWeight() {
      const weight = this.stone.weight || this.stone.totalWeight
      if (this.stone.category === 'Pair') return tcwFormatter.call(this, weight)
      return caratFormatter(weight)
    },

    stoneShape() {
      return this.stone.shape || get(this.stone, 'stones[0].shape', '')
    },

    stoneColor() {
      return this.stone.color || get(this.stone, 'stones[0].color', '')
    },

    stoneType() {
      return this.stone.stoneType || get(this.stone, 'stones[0].stoneType', '')
    },

    stone() {
      return this.item.customStone || this.item.stone || this.item.pair
    },

    inCart() {
      return this.cartItems.some((item) => item.id === this.item.id)
    },

    setting() {
      return this.item.customSetting || this.item.setting
    },

    stoneImagePath() {
      return this.stone.imagePath || get(this.stone, 'thumbnails[0].micro', '')
    },

    settingImagePath() {
      return (
        this.setting.imagePath || get(this.setting, 'thumbnails[0].micro', '')
      )
    },

    settingAttrs() {
      return {
        id: this.setting.id,
        prefix: this.setting.id,
        metalTypeCode: this.setting.metalTypeCode,
        behavior: 'mouseover',
        startOn: 'mouseover',
        onclick: this.toCustomReview,
        size: 'small',
        cover: this.settingImagePath,
        framesCount: this.setting.framesCount,
        itemType: 'setting',
        host: process.env.video360Url
      }
    },

    stoneAttrs() {
      return {
        id: this.stone.id,
        prefix: this.stone.id,
        behavior: 'mouseover',
        startOn: 'mouseover',
        onclick: this.toCustomReview,
        size: 'small',
        cover: this.stoneImagePath,
        framesCount: this.stone.framesCount,
        itemType: 'stone',
        host: process.env.video360Url
      }
    }
  },

  methods: {
    ...mapActions({
      resetCustomItem: 'customItem/resetCustomItem',
      getCustomItem: 'customItem/getCustomItem'
    }),

    onRemoveFromWishlist() {
      this.removeFromWishlist({ ...this.item, category: 'Custom' })
    },

    toCustomReview() {
      this.resetCustomItem()
      this.$router.push(
        this.localePath({
          path: getDetailsPath(this.item),
          query: { source: 'wishlist' }
        })
      )
    }
  }
}
</script>

<style lang="sass" scoped>
.wishlist-item
  padding: 17px
  &-wrapper
    position: relative
    border: 1px solid $border-color
  .item
    &-remove
      position: absolute
      cursor: pointer
      right: 7px
      top: 7px
      z-index: 1
    &-image-container
      width: 50%
      position: relative
      .item-image-video-360
        ::v-deep
          canvas
            display: block
      .video-icon
        position: absolute
        bottom: 14px
        right: 7px
    &-options
      margin-top: 20px
      .ring-sizes
        margin-left: 15px
        min-width: 100px
        cursor: pointer
        align-items: center
        span
          margin-left: 5px
    &-price
      margin-top: 20px
      font-size: 20px

    &-buttons
      margin-top: 10px
      margin-bottom: 20px
      text-align: center
      .view-button
        padding: 10px 40px
  .items-info
    padding: 10px
    .item-info
      align-items: center
      margin-top: 20px
      svg
        margin-right: 10px
</style>
