<template lang="pug">
 .item-placeholder(v-observe-visibility="{callback: onItemVisible, once: true, intersection: { rootMargin: '200px' }}")
   .item-placeholder__inner(v-if="item.category === 'Custom'")
     content-loader(:width="392", :height="486", :speed="2", primaryColor="#f3f3f3", secondaryColor="#ecebeb")
       rect(x="37", y="233", rx="0", ry="0", width="127", height="13")
       rect(x="37", y="273", rx="0" ry="0", width="149", height="13")
       rect(x="120", y="445", rx="0" ry="0", width="155", height="39")
       rect(x="6", y="6" rx="0", ry="0", width="185", height="185")
       rect(x="201", y="6", rx="0", ry="0", width="185", height="185")
       rect(x="37", y="295", rx="0", ry="0", width="102", height="13")
       rect(x="37", y="336", rx="0", ry="0", width="149", height="13")
       rect(x="37", y="358", rx="0", ry="0", width="114", height="13")
       rect(x="7", y="229", rx="0", ry="0", width="20", height="20")
       rect(x="7", y="281", rx="0", ry="0", width="20", height="20")
       rect(x="7", y="345", rx="0", ry="0", width="20", height="20")
       rect(x="125", y="398", rx="0", ry="0", width="142", height="23")
   .item-placeholder__inner(v-else)
     content-loader(:width="215", :height="365", :speed="2", primaryColor="#f3f3f3", secondaryColor="#ecebeb")
       rect(x="10", y="10", rx="0", ry="0", width="194", height="194")
       rect(x="43", y="230", rx="0", ry="0", width="127", height="13")
       rect(x="56", y="250", rx="0", ry="0", width="102", height="13")
       rect(x="29", y="285", rx="0", ry="0", width="157", height="20")
       rect(x="3", y="330", rx="0", ry="0", width="209", height="41")
</template>

<script>
import { ContentLoader } from 'vue-content-loader'

export default {
  name: 'PlaceholderComponent',

  components: {
    ContentLoader
  },

  props: {
    item: {
      type: Object,
      required: true
    }
  },

  methods: {
    onItemVisible(isVisible) {
      if (this.item.eventsStop) return
      if (isVisible) this.$emit('load-item', this.item)
    }
  }
}
</script>

<style scoped lang="sass">
.item-placeholder
  //min-height: 400px
  width: 20%
  padding: 17px
  +mobile
    width: 50%
  +tablet
    width: 33.33%
  +ipad-pro
    width: 25%
  +desktop
    width: 25%
  +widescreen
    width: 20%
  &.custom
    min-height: 500px
    width: 33.33%
    +mobile
      width: 100%
    +tablet
      width: 50%
    +ipad-pro
      width: 33.33%
    +desktop
      width: 33.33%
    +widescreen
      width: 33.33%
  &__inner
    height: 100%
    border: 1px solid $border-color
    //background-color: $secondary-bg-color
    justify-content: center
    align-items: center
</style>
