<template lang="pug">
.wishlist-item
  .wishlist-item-wrapper.is-flex
    icon.remove-button(width="15", height="15", @click="$root.$emit('remove-wishlist', item)", iconColor="#7b817f", iconName="close")
    .video-wrapper(v-if="item.containsVideo360")
      video360-component.video-360(:attrs="attrs")
      icon.video-icon(iconColor="#7b817f", iconName="360", width="40")
    v-link(v-else, :to="detailsPath")
      v-image(:lazy="false", :src="getImagePath(item)", :alt="item.shape", @load="$emit('loaded')")
    .product-name
      span(v-html="tcwFormatter(item.weight || item.totalWeight)")
      span &nbsp;{{ $t(`wishlist.stoneShapes.${getShape(item)}`) }} {{ $t(`wishlist.stoneTypes.${getStoneType(item)}`) }}
    .product-info {{ $t('wishlist.item.itemId') }}: {{ item.id }}
    price.product-price(:tooltip="true" :item="item")
    in-cart(v-if="inCart")
    v-link.view-button.button.gold-color(:to="detailsPath") {{ $t('wishlist.item.viewItem') }}
</template>

<script>
import _baseWishlistItemStones from './_baseWishlistItemStones'
import { caratFormatter, tcwFormatter } from '~~/utils/formatters'

export default {
  name: 'StonePairsListItemComponent',

  filters: {
    caratFormatter
  },

  extends: _baseWishlistItemStones,

  methods: {
    tcwFormatter(value) {
      return tcwFormatter.call(this, value)
    },

    getShape(item) {
      if (item.shape) return this.camelCase(item.shape)
      return this.camelCase(this.get(item, 'stones[0].shape', ''))
    },

    getStoneType(item) {
      if (item.stoneType) return this.camelCase(item.stoneType)
      return this.camelCase(this.get(item, 'stones[0].stoneType', ''))
    }
  }
}
</script>

<style lang="sass" scoped>
.wishlist-item
  width: 20%
  padding: 17px
  +mobile
    width: 50%
  +tablet
    width: 33.33%
  +ipad-pro
    width: 25%
  +desktop
    width: 25%
  +widescreen
    width: 20%
  &-wrapper
    border: 1px solid $border-color
    text-align: center
    position: relative
    height: 100%
    flex-direction: column
    .product-name
      padding-top: 10px
    .product-price
      padding-bottom: 10px
      ::v-deep
        .item-price
          font-size: 20px
          font-weight: 800
          +mobile
            font-size: 16px
    .view-button
      margin: auto 10px 10px
    .remove-button
      position: absolute
      cursor: pointer
      right: 7px
      top: 7px
      z-index: 1
    .video-wrapper
      position: relative
      .video-icon
        z-index: 1
        position: absolute
        right: 7px
        bottom: 14px
</style>
