<template lang="pug">
.wishlist-item
  .wishlist-item-wrapper.is-flex
    icon.remove-button(width="15", height="15", @click="$root.$emit('remove-wishlist', item)", iconColor="#7b817f", iconName="close")
    .video-wrapper(v-if="item.containsVideo360")
      video360-component.video-360(:attrs="attrs")
      icon.video-icon(iconColor="#7b817f", iconName="360", width="40")
    v-link(v-else, :to="detailsPath")
      v-image(:lazy="false", :src="getImagePath(item)", :alt="item.shape", @load="$emit('loaded')")
    .product-name {{ item.weight | caratFormatter }} {{ $t(`wishlist.stoneShapes.${camelCase(item.shape)}`) }} {{ $t(`wishlist.stoneTypes.${camelCase(item.stoneType)}`) }}
    .product-info {{ $t('wishlist.item.itemId') }}: {{ item.id }}
    price.product-price(:tooltip="true" :item="item")
    in-cart(v-if="inCart")
    v-link.view-button.button.gold-color(:to="detailsPath") {{ $t('wishlist.item.viewItem') }}
</template>

<script>
import _baseWishlistItemStones from './_baseWishlistItemStones'
import { caratFormatter } from '~~/utils/formatters'

export default {
  name: 'StonesListItemComponent',

  filters: {
    caratFormatter
  },

  extends: _baseWishlistItemStones
}
</script>

<style lang="sass" scoped>
.wishlist-item
  padding: 17px
  &-wrapper
    border: 1px solid $border-color
    text-align: center
    position: relative
    height: 100%
    flex-direction: column
    .product-price
      padding-bottom: 10px
      ::v-deep
        .item-price
          font-size: 20px
          font-weight: 800
          +mobile
            font-size: 16px
    .view-button
      margin: auto 10px 10px
    .remove-button
      position: absolute
      cursor: pointer
      right: 7px
      top: 7px
      z-index: 1
    .video-wrapper
      position: relative
      .video-icon
        z-index: 1
        position: absolute
        right: 7px
        bottom: 14px
  &-buttons
    flex-direction: column
    padding: 10px
    margin-top: auto
    .button + .button
      margin-top: 10px
    .button
      width: 100%
</style>
