<template lang="pug">
.wishlist-item
  .wishlist-item-wrapper.is-flex
    .remove-button(@click="$root.$emit('remove-wishlist', item)")
      icon(width="15", height="15", iconColor="#7b817f", iconName="close")
    .video-wrapper(v-if="item.containsVideo360")
      video360-component.video-360(:attrs="attrs")
      icon.video-icon(iconColor="#7b817f", iconName="360", width="40")
    v-link(v-else, :to="detailsPath")
      v-image(:lazy="false", :src="imagePath", :alt="item.shape", @load="$emit('loaded')")
    .product-name {{ $t(`wishlist.metalTypes.${camelCase(item.metalName)}`) }}
    .product-info {{ item.styleName }} {{ $t(`categories.${camelCase(item.category)}`) }}
    .product-info {{ $t('wishlist.item.itemId') }}: {{ item.id + item.metalTypeCode }}
    price.product-price(:tooltip="true" :item="item")
    in-cart(v-if="inCart")
    v-link.view-button.button.gold-color(:to="detailsPath") {{ $t('wishlist.item.viewItem') }}
</template>

<script>
import _baseWishlistItemBands from './_baseWishlistItemBands'
import { caratFormatter, caratsFormatter } from '~~/utils/formatters'

export default {
  name: 'CommonJewelryItemComponent',

  filters: {
    caratFormatter,
    caratsFormatter
  },

  extends: _baseWishlistItemBands
}
</script>

<style lang="sass" scoped>
.wishlist-item
  width: 20%
  padding: 17px
  +mobile
    width: 50%
  +tablet
    width: 33.33%
  +ipad-pro
    width: 25%
  +desktop
    width: 25%
  +widescreen
    width: 20%
  &-ring-size
    padding: 10px 10px 0 10px
    text-align: left
    .ring-size-error
      color: $error-color
  &-engraving
    padding: 10px
  &-wrapper
    border: 1px solid $border-color
    text-align: center
    position: relative
    height: 100%
    flex-direction: column
    .product-name
      padding-top: 10px
      font-weight: 700
      text-align: center
    .product-price
      padding-bottom: 10px
      ::v-deep
        .item-price
          font-size: 20px
          font-weight: 800
          +mobile
            font-size: 16px
    .view-button
      margin: auto 10px 10px
    .remove-button
      position: absolute
      cursor: pointer
      right: 7px
      top: 7px
      z-index: 1
    .video-wrapper
      position: relative
      .video-icon
        z-index: 1
        position: absolute
        right: 7px
        bottom: 14px
  &-buttons
    flex-direction: column
    padding: 10px
    margin-top: auto
    .button + .button
      margin-top: 10px
    .button
      width: 100%
</style>
