$sizes: 60, 30, 25, 20, 15, 10, 5, 0

@each $size in $sizes
  .margin-#{$size}
    margin: #{$size}px !important

  .margin-top-#{$size}
    margin-top: #{$size}px !important

  .margin-bottom-#{$size}
    margin-bottom: #{$size}px !important

  .margin-left-#{$size}
    margin-left: #{$size}px !important

  .margin-right-#{$size}
    margin-right: #{$size}px !important
