$orders: 0, 1, 2, 3, 4, 5

@each $order in $orders
  .order-desktop-#{$order}
    +desktop-only
      order: #{$order} !important
  .order-tablet-#{$order}
    +tablet-only
      order: #{$order} !important
  .order-mobile-#{$order}
    +mobile
      order: #{$order} !important
