$sizes: 30, 25, 20, 15, 10, 5, 0

@each $size in $sizes
  .padding-#{$size}
    padding: #{$size}px !important

  .padding-top-#{$size}
    padding-top: #{$size}px !important

  .padding-bottom-#{$size}
    padding-bottom: #{$size}px !important

  .padding-left-#{$size}
    padding-left: #{$size}px !important

  .padding-right-#{$size}
    padding-right: #{$size}px !important
