<template lang="pug">
  main.details-page.page
    .container
      breadcrumbs(:items="breadcrumbs")
      steps
      details-main
      details-description
    custom-designs(v-if="productDetails.customDesigns", :settingId="productDetails.id")
    our-process-component
    education-component
    back-to-top-component
    custom-item-remove-modal
</template>

<script>
import {
  hydrateWhenIdle,
  hydrateWhenVisible,
  hydrateNever
} from 'vue-lazy-hydration'
import { mapGetters } from 'vuex'
import camelCase from 'lodash/camelCase'
import FetchDetails from '~~/utils/fetch/details'
import _basePage from '~~/components/Page/_basePage'
import { itemNameFormatter } from '~~/utils/formatters/index.js'

export default {
  name: 'SettingsDetailsPage',

  pageType: 'details',

  components: {
    CustomItemRemoveModal: hydrateWhenIdle(() =>
      import('~~/components/DetailsPage/CustomItemRemoveModal')
    ),
    CustomDesigns: hydrateWhenIdle(() =>
      import('~~/components/DetailsPage/CustomDesignsSettings')
    ),
    OurProcessComponent: hydrateWhenVisible(() =>
      import('~~/components/DetailsPage/Process/OurProcess')
    ),
    EducationComponent: hydrateWhenVisible(() =>
      import('~~/components/HomePage/Education')
    ),
    Steps: hydrateWhenIdle(() => import('~~/components/ListingPage/Steps')),
    DetailsMain: hydrateWhenIdle(() =>
      import('~~/components/DetailsPage/DetailsMain')
    ),
    DetailsDescription: hydrateNever(() =>
      import('~~/components/DetailsPage/DetailsDescription')
    ),
    Breadcrumbs: hydrateWhenIdle(() =>
      import('~~/components/Common/Breadcrumbs')
    )
  },

  extends: _basePage,

  computed: {
    ...mapGetters({
      productDetails: 'productDetails/productDetails'
    }),

    breadcrumbs() {
      const last = {
        id: '388c7bc2-24d6-43b7-8068-aea821186f91',
        name: itemNameFormatter.call(this, this.productDetails)
      }
      return [
        this.breadcrumbsItems.home,
        this.breadcrumbsItems[
          `${camelCase(this.productDetails.category)}Listing`
        ],
        last
      ]
    }
  },

  async fetch(context) {
    try {
      const item = new FetchDetails({ context, category: 'Setting_Ring' })
      await item.fetch()
    } catch (e) {
      if (context.$sentry && context.$sentry.captureException) {
        context.$sentry.captureException(e)
      } else {
        console.log(e)
      }
    }
  }
}
</script>

<style lang="sass" src="~~/assets/styles/pages/detailsPage.sass"></style>

<style lang="sass" scoped>
.details-page
  border-top: 1px solid $border-color
  @include margin-bottom()
  .custom-designs
    margin-top: 120px
  .our-process
    margin-top: 0
  .steps
    border: 0
  .breadcrumbs-wrapper
    margin: 7px 0
</style>
