<template lang="pug">
main.details-page.page
  .container
    breadcrumbs(:items="breadcrumbs")
    steps
    details-main
  details-overview(v-if="isItemsMatch")
  .container(v-if="isItemsMatch")
    details-description
  our-process-component
  available-designs(v-if="availableDesigns.length")
  gemologist-component
  packaging-component
  education-component
  call-to-action
  back-to-top-component
  did-you-know-component(v-if="showDidYouKnow")
  custom-item-remove-modal
</template>

<script>
import {
  hydrateWhenIdle,
  hydrateWhenVisible,
  hydrateNever
} from 'vue-lazy-hydration'
import { mapGetters } from 'vuex'
import isEmpty from 'lodash/isEmpty'
import camelCase from 'lodash/camelCase'
import { isItemsMatch } from '~~/utils/utils'
import _basePage from '~~/components/Page/_basePage'
import FetchDetails from '~~/utils/fetch/details'
import structuredDataMixin from '~~/mixins/metatags/structuredDataMixin'
import { cookiesOpts } from '~~/utils/definitions/defaults.js'
import { itemNameFormatter } from '~~/utils/formatters/index.js'

const reminderEmitTimeout = 30 * 1000 // 30 seconds

export default {
  name: 'ReviewPage',

  pageType: 'review',

  scrollToTop: true,

  components: {
    CustomItemRemoveModal: hydrateWhenIdle(() =>
      import('~~/components/DetailsPage/CustomItemRemoveModal')
    ),
    DidYouKnowComponent: hydrateWhenIdle(() =>
      import('~~/components/DetailsPage/DidYouKnow')
    ),
    CallToAction: hydrateWhenIdle(() =>
      import('~~/components/DetailsPage/DetailsMain/CallToAction')
    ),
    Breadcrumbs: hydrateWhenIdle(() =>
      import('~~/components/Common/Breadcrumbs')
    ),
    OurProcessComponent: hydrateWhenVisible(
      () => import('~~/components/DetailsPage/Process/OurProcess'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    EducationComponent: hydrateWhenVisible(
      () => import('~~/components/HomePage/Education'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    AvailableDesigns: hydrateWhenIdle(() =>
      import('~~/components/DetailsPage/AvailableDesigns')
    ),
    Steps: hydrateWhenIdle(() => import('~~/components/ListingPage/Steps')),
    GemologistComponent: hydrateWhenVisible(
      () => import('~~/components/HomePage/Gemologist'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    DetailsMain: hydrateWhenIdle(() =>
      import('~~/components/DetailsPage/DetailsMain')
    ),
    DetailsOverview: hydrateWhenVisible(
      () => import('~~/components/DetailsPage/DetailsOverview'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    DetailsDescription: hydrateNever(() =>
      import('~~/components/DetailsPage/DetailsDescription')
    ),
    // DetailsOrigin: () => import('~~/components/DetailsPage/DetailsOrigin'),
    PackagingComponent: hydrateWhenVisible(
      () => import('~~/components/HomePage/Packaging'),
      { observerOptions: { rootMargin: '200px' } }
    )
  },

  extends: _basePage,

  structuredData: true,

  mixins: [structuredDataMixin],

  data: () => ({
    didYouKnow: null,
    didYouKnowTimeout: null
  }),

  computed: {
    ...mapGetters({
      customStone: 'customItem/customStone',
      customSetting: 'customItem/customSetting',
      customItem: 'customItem/customItem',
      itemId: 'customItem/itemId',
      availableDesigns: 'customItem/availableDesigns'
    }),

    isItemsMatch() {
      return isItemsMatch(this.customItem)
    },

    showDidYouKnow() {
      return (
        !this.$cookies.get('preview-reminder') &&
        !this.customItem.preview?.thumbnails?.length
      )
    },

    breadcrumbs() {
      let stonesListing =
        this.customStone.category === 'Stone'
          ? this.breadcrumbsItems.stoneListing
          : this.breadcrumbsItems.pairListing
      if (this.customStone.cuttingStyle === 'Cabochon') {
        stonesListing =
          this.customStone.category === 'Stone'
            ? this.breadcrumbsItems.stoneCabochonListing
            : this.breadcrumbsItems.pairCabochonListing
      }
      if (this.customStone.isStar) {
        stonesListing =
          this.customStone.category === 'Stone'
            ? this.breadcrumbsItems.stoneStarListing
            : this.breadcrumbsItems.pairStarListing
      }
      const settingCategory = camelCase(this.customSetting.category)
      const settingListing = this.breadcrumbsItems[`${settingCategory}Listing`]
      const items = isEmpty(this.customItem.preview)
        ? [stonesListing, settingListing]
        : [
            this.breadcrumbsItems[
              `${camelCase(
                this.customSetting.category.replace('Setting_', '')
              )}Listing`
            ]
          ]
      const last = {
        id: '5cd71679-ae08-43cf-af03-cf5c2d08f8fd',
        name: itemNameFormatter.call(this, this.customItem, true)
      }
      return [this.breadcrumbsItems.home, ...items, last]
    }
  },

  async fetch(context) {
    try {
      const item = new FetchDetails({ context, category: 'Custom' })
      await item.fetch()
    } catch (e) {
      if (context.$sentry && context.$sentry.captureException) {
        context.$sentry.captureException(e)
      } else {
        console.log(e)
      }
    }
  },

  beforeDestroy() {
    this.destroyDidYouKnow()
  },

  mounted() {
    this.initDidYouKnow()
  },

  methods: {
    initDidYouKnow() {
      if (!this.showDidYouKnow) return
      this.$root.$once('request-preview', this.disableDidYouKnow)
      if (this.$device.isMobileOrTablet) {
        this.didYouKnowTimeout = setTimeout(
          this.fireDidYouKnow,
          reminderEmitTimeout
        )
        return
      }
      this.didYouKnow = document.body
      if (this.didYouKnow)
        this.didYouKnow.addEventListener(
          'mouseleave',
          this.fireDidYouKnow,
          false
        )
    },

    destroyDidYouKnow() {
      if (this.didYouKnowTimeout) clearTimeout(this.didYouKnowTimeout)
      if (this.didYouKnow) {
        this.didYouKnow.removeEventListener('mouseleave', this.fireDidYouKnow)
        this.didYouKnow = null
      }
    },

    fireDidYouKnow() {
      if (this.$device.isMobileOrTablet) return
      this.$root.$emit('did-you-know', this.destroyDidYouKnow)
      this.disableDidYouKnow()
    },

    disableDidYouKnow() {
      this.$cookies.set('preview-reminder', true, {
        maxAge: 60 * 60 * 24,
        ...cookiesOpts
      })
      this.destroyDidYouKnow()
    }
  }
}
</script>

<style lang="sass" scoped>
.details-page
  border-top: 1px solid $border-color
  @include margin-bottom()
  .details-origin
    margin-top: 100px
</style>
