<template lang="pug">
.compare-items
  tabs-component(:active="selectedTab", @change="onTabChange")
    tabs-pane-component(v-for="tab in tabs", :name="tab.name", :badge="tab.items.length", :key="tab.type" v-slot="{ isActive }")
      .container
        template(v-if="draggableMounted && listsMap[tab.type].length")
          compare-table-custom(v-if="tab.type === 'custom'", @load-item="onItemLoadRequest", :items="tab.items", :isActive="isActive", :params="tab.params", @remove="onRemoveItem($event, tab.type)", @reorder="updateListOrder($event, tab.type)")
          compare-table(v-else, @load-item="onItemLoadRequest", :items="tab.items", :isActive="isActive", :params="tab.params", @remove="onRemoveItem($event, tab.type)", @reorder="updateListOrder($event, tab.type)")
        compare-list-empty(v-else, :text="$t(`compareList.${tab.type}Empty`)")
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
import cloneDeep from 'lodash/cloneDeep'
import debounce from 'lodash/debounce'
import remove from 'lodash/remove'
import CompareTableCustom from './CompareTableCustom'
import CompareTable from './CompareTable'
import { bands, jewelry, settings } from '~~/utils/sitemapUtils'
import { compareList } from '~~/utils/normalizers'
import CompareListEmpty from '~~/components/CompareList/CompareListEmpty'
import TabsPaneComponent from '~~/components/CompareList/Tabs/TabsPane'
import TabsComponent from '~~/components/CompareList/Tabs'

let itemsToLoad = []

export default {
  name: 'CompareItemsComponent',

  components: {
    CompareListEmpty,
    CompareTable,
    CompareTableCustom,
    TabsPaneComponent,
    TabsComponent
  },

  data: () => ({
    draggableMounted: false,
    selectedTab: 'custom',
    stonesList: [],
    jewelriesList: [],
    pairsList: [],
    settingsList: [],
    bandsList: [],
    customList: []
  }),

  computed: {
    ...mapState({
      lastAddedItemType: (state) => state.compareList.lastAddedItemType
    }),

    ...mapGetters({
      stonesListItems: 'compareList/stonesListItems',
      stonePairsListItems: 'compareList/stonePairsListItems',
      braceletsListItems: 'compareList/braceletsListItems',
      earringsListItems: 'compareList/earringsListItems',
      necklacesPendantsListItems: 'compareList/necklacesPendantsListItems',
      ringsListItems: 'compareList/ringsListItems',
      weddingBandsPlainItems: 'compareList/weddingBandsPlainItems',
      weddingBandsItems: 'compareList/weddingBandsItems',
      ringSettingsItems: 'compareList/ringSettingsItems',
      earringSettingsItems: 'compareList/earringSettingsItems',
      pendantSettingsItems: 'compareList/pendantSettingsItems',
      necklaceSettingsItems: 'compareList/necklaceSettingsItems',
      customItems: 'compareList/customItems',
      allCompareListItems: 'compareList/allListItems'
    }),

    listsMap() {
      return {
        stones: this.stonesList,
        jewelries: this.jewelriesList,
        pairs: this.pairsList,
        settings: this.settingsList,
        bands: this.bandsList,
        custom: this.customList
      }
    },

    tabs() {
      return [
        {
          name: this.$t('compareList.customJewelry'),
          type: 'custom',
          items: this.customList,
          params: {
            stone: [
              'image',
              'id',
              'price',
              'color',
              'weight',
              'labType',
              'labColor',
              'dimensions',
              'shape',
              'cut',
              'clarity',
              'colorIntensity',
              'origin',
              'treatment',
              'pricePerCt',
              'totalPrice'
            ],
            setting: ['image', 'id', 'price', 'metalName', 'prong']
          }
        },
        {
          name: this.$t('compareList.jewelry'),
          type: 'jewelries',
          items: this.jewelriesList,
          params: [
            'image',
            'id',
            'metalName',
            'centralStoneWeight',
            'centerDimensions',
            'shape',
            'color',
            'labType',
            'labColor',
            'cut',
            'clarity',
            'colorIntensity',
            'origin',
            'treatment',
            'sideStonesCount',
            'sideStonesWeight',
            'price'
          ]
        },
        {
          name: this.$t('compareList.stones'),
          type: 'stones',
          items: this.stonesList,
          params: [
            'image',
            'id',
            'weight',
            'dimensions',
            'shape',
            'color',
            'labType',
            'labColor',
            'cut',
            'clarity',
            'colorIntensity',
            'origin',
            'treatment',
            'pricePerCt',
            'price'
          ]
        },
        {
          name: this.$t('compareList.pairs'),
          type: 'pairs',
          items: this.pairsList,
          params: [
            'image',
            'id',
            'weight',
            'dimensions',
            'shape',
            'color',
            'labType',
            'labColor',
            'cut',
            'clarity',
            'colorIntensity',
            'origin',
            'treatment',
            'pricePerCt',
            'price'
          ]
        },
        {
          name: this.$t('compareList.settings'),
          type: 'settings',
          items: this.settingsList,
          params: [
            'image',
            'id',
            'metalName',
            'productionTime',
            'settingsPrice'
          ]
        },
        {
          name: this.$t('compareList.weddingBands'),
          type: 'bands',
          items: this.bandsList,
          params: [
            'image',
            'id',
            'metalName',
            'productionTime',
            'totalCarat',
            'metalWeight',
            'styleName',
            'price'
          ]
        }
      ]
    }
  },

  watch: {
    allCompareListItems: {
      deep: true,
      handler() {
        this.updateAllItems()
      }
    }
  },

  created() {
    this.updateAllItems()
    this.getSelectedTab()
  },

  mounted() {
    this.$draggable.insert(() => {
      this.draggableMounted = true
    })
  },

  methods: {
    ...mapActions({
      getItemsFromBase: 'compareList/getItemsFromBase'
    }),

    onItemLoadRequest(item) {
      itemsToLoad.push(item)
      this.makeRequest()
    },

    makeRequest: debounce(function() {
      const items = cloneDeep(itemsToLoad)
      if (!items.length) return
      this.getItemsFromBase(items)
      itemsToLoad = remove(itemsToLoad, (n) => {
        return items.includes(n)
      })
    }, 100),

    updateAllItems() {
      this.stonesUpdate()
      this.jewelriesUpdate()
      this.pairsUpdate()
      this.settingsUpdate()
      this.bandsUpdate()
      this.customUpdate()
    },

    onTabChange(tabName) {
      this.selectedTab = tabName
    },

    getSelectedTab() {
      let type = 'custom'

      if (bands.includes(this.lastAddedItemType)) type = 'bands'
      if (jewelry.includes(this.lastAddedItemType)) type = 'jewelries'
      if (settings.includes(this.lastAddedItemType)) type = 'settings'
      if (this.lastAddedItemType === 'stonesList') type = 'stones'
      if (this.lastAddedItemType === 'stonePairsList') type = 'pairs'
      if (this.lastAddedItemType === 'custom') type = 'custom'

      let tab = this.tabs.find((t) => t.type === type)

      // if selected tab is empty
      if (tab && !tab.items.length) {
        const firstNotEmptyTab = this.tabs.find((t) => t.items.length)
        type = firstNotEmptyTab ? firstNotEmptyTab.type : 'custom'
        tab = this.tabs.find((t) => t.type === type)
      }

      this.selectedTab = tab ? tab.name : ''
    },

    stonesUpdate() {
      this.stonesList = cloneDeep(this.stonesListItems).map((item) => {
        if (item.placeholder) return item
        return compareList.stone.call(
          this,
          item,
          this.tabs.find((tab) => tab.type === 'stones').params
        )
      })
    },

    jewelriesUpdate() {
      this.jewelriesList = cloneDeep([
        ...this.braceletsListItems,
        ...this.earringsListItems,
        ...this.necklacesPendantsListItems,
        ...this.ringsListItems
      ]).map((item) => {
        if (item.placeholder) return item
        return compareList.jewelry.call(
          this,
          item,
          this.tabs.find((tab) => tab.type === 'jewelries').params
        )
      })
    },

    pairsUpdate() {
      this.pairsList = cloneDeep(this.stonePairsListItems).map((item) => {
        if (item.placeholder) return item
        return compareList.pair.call(
          this,
          item,
          this.tabs.find((tab) => tab.type === 'pairs').params
        )
      })
    },

    settingsUpdate() {
      this.settingsList = cloneDeep([
        ...this.ringSettingsItems,
        ...this.earringSettingsItems,
        ...this.pendantSettingsItems,
        ...this.necklaceSettingsItems
      ]).map((item) => {
        if (item.placeholder) return item
        return compareList.setting.call(
          this,
          item,
          this.tabs.find((tab) => tab.type === 'settings').params
        )
      })
    },

    bandsUpdate() {
      this.bandsList = cloneDeep([
        ...this.weddingBandsItems,
        ...this.weddingBandsPlainItems
      ]).map((item) => {
        if (item.placeholder) return item
        return compareList.bands.call(
          this,
          item,
          this.tabs.find((tab) => tab.type === 'bands').params
        )
      })
    },

    customUpdate() {
      this.customList = cloneDeep(this.customItems)
        .map((item) => {
          if (item.placeholder) return item
          return compareList.custom.call(
            this,
            item,
            this.tabs.find((tab) => tab.type === 'custom').params
          )
        })
        .sort((a, b) =>
          a.customSetting?.category > b.customSetting?.category ? -1 : 1
        )
    },

    onRemoveItem(item, type) {
      this.$root.$emit('remove-compare', item)
      this[`${type}Update`]()
    },

    updateListOrder(value, type) {
      this[`${type}List`] = value
    }
  }
}
</script>

<style lang="sass" scoped>
.compare-items
  margin-top: 20px
  .tab-pane
    > .container
      +mobile
        padding: 0
  .compare-table-wrapper
    margin-top: 15px
    +mobile
      padding: 0 5px
</style>
