<template lang="pug">
  .compare-table-wrapper
    .compare-table.is-flex
      .compare-table-params(ref="paramsList")
        .params-toggle.is-hidden-tablet.is-flex(@click="onParamsToggleClick")
          i.fas.fa-chevron-right
        .compare-table-param-wrapper(data-param, v-for="(param, pIndex) in params.stone", :class="{alt: (pIndex % 2 !== 0) }")
          .compare-table-param.weight-700(:class="{first: pIndex === 0}")
            | {{ $t(`compareList.compareTable.${getParamLocaleName(param)}`) }} {{ params.setting[pIndex] && params.setting[pIndex] !== param ? `/ ${$t(`compareList.compareTable.${params.setting[pIndex]}`)}` : '' }}
      draggable.compare-table-items.is-flex(ref="itemsList", v-bind="{handle: '.item-drag', animation: 200}", :value="items", @input="$emit('reorder', $event)")
        template(v-for="(item, index) in items")
          placeholder(v-if="item.placeholder", :key="item.guid", :item="item", @load-item="$emit('load-item', $event)", :class="kebabCase(item.category)")
          .compare-table-item.is-flex(v-else, data-item, :key="item.id", :class="{last: (index + 1 === items.length)}")
            .compare-table-item-controls.is-flex
              .item-drag.is-hidden-mobile
                icon(iconColor="#8d7955", iconName="reorder")
              icon.close(@click="$emit('remove', item)", iconColor="#7b817f", iconName="close", width="15", height="15")
            .compare-table-item-stone
              .compare-table-item-param-wrapper(data-param, v-for="(param, pIndex) in params['stone']", :class="{alt: (pIndex % 2 !== 0) }")
                .compare-table-item-param(:class="{first: pIndex === 0}")
                  component(:is="paramComponentName(param)", :item="item", item-type="Stone", :param="param", @image-load="onImageLoaded")
            .compare-table-item-setting
              .compare-table-item-param-wrapper(data-param, v-for="(param, pIndex) in params['stone']", :class="{alt: (pIndex % 2 !== 0) }")
                .compare-table-item-param(:class="{first: pIndex === 0}")
                  component(:is="paramComponentName(params['setting'][pIndex])", :item="item", item-type="Setting", :param="params['setting'][pIndex] || ''", @image-load="onImageLoaded")
</template>

<script>
import CompareTable from './CompareTable'

export default {
  name: 'CompareTableCustomComponent',

  extends: CompareTable,

  props: {
    params: {
      type: Object,
      default: () => ({})
    }
  },

  watch: {
    loadedImages(count) {
      if (count === this.itemsCount * 2) {
        this.updateTable()
      }
    },

    isActive(state) {
      if (state) {
        this.initScrollbar()
        this.updateTable()
      }
    }
  },

  mounted() {
    this.updateTable()
    this.initScrollbar()
    setTimeout(() => {
      if (!this.$device.isMobile) return
      this.hideParams()
    }, 500)
  },

  methods: {
    getParamLocaleName(param) {
      if (param === 'id') return 'designId'
      return param
    },

    updateItemsContainerStyles() {
      if (this.$device.isMobile) return
      // fixing perfect scroll bar bug
      const width = this.$refs.itemsList.$el.clientWidth
      if (width) this.$refs.itemsList.$el.style.maxWidth = `${width}px`
    },

    updateTable() {
      this.createHeightsMap()
      this.applyHeightsMap()
      this.$nextTick(() => {
        this.updateItemsContainerStyles()
        if (this.ps) this.ps.update()
      })
    },

    calculateItemsHeightsMap() {
      if (!this.$refs.itemsList) return

      const items = [...this.$refs.itemsList.$el.children].filter(
        (param) => param.dataset.item === ''
      )

      for (let i = 0; i < items.length; i++) {
        this.calcHeights(items[i].children[1].children)
        this.calcHeights(items[i].children[2].children)
      }
    },

    calcHeights(params) {
      const filteredParams = [...params].filter(
        (param) => param.dataset.param === ''
      )
      for (let j = 0; j < filteredParams.length; j++) {
        if (j === 0) {
          // image, should be square
          this.heights[j] = filteredParams[j].clientWidth
          continue
        }
        if (!this.heights[j]) {
          this.heights[j] = filteredParams[j].clientHeight
          continue
        }
        if (this.heights[j] < filteredParams[j].clientHeight)
          this.heights[j] = filteredParams[j].clientHeight
      }
    },

    calculateParamsHeightsMap() {
      if (!this.$refs.paramsList) return

      const items = [...this.$refs.paramsList.children].filter(
        (param) => param.dataset.param === ''
      )

      for (let i = 0; i < items.length; i++) {
        if (!this.heights[i]) {
          this.heights[i] = items[i].clientHeight
          continue
        }
        if (items[i].clientHeight > this.heights[i]) {
          this.heights[i] = items[i].clientHeight
        }
      }
    },

    applyHeightsMapToItems() {
      if (!this.$refs.itemsList) return

      const items = [...this.$refs.itemsList.$el.children].filter(
        (param) => param.dataset.item === ''
      )

      for (let i = 0; i < items.length; i++) {
        this.applyHeights(items[i].children[1].children)
        this.applyHeights(items[i].children[2].children)
      }
    },

    applyHeights(params) {
      const filteredParams = [...params].filter(
        (param) => param.dataset.param === ''
      )

      for (let j = 0; j < filteredParams.length; j++) {
        if (filteredParams[j].clientHeight < this.heights[j])
          filteredParams[j].style.height = `${this.heights[j]}px`
      }
    },

    applyHeightsMapToParams() {
      if (!this.$refs.paramsList) return

      const params = [...this.$refs.paramsList.children].filter(
        (param) => param.dataset.param === ''
      )

      for (let i = 0; i < params.length; i++) {
        if (i === 0 || params[i].clientHeight < this.heights[i]) {
          params[i].style.height = `${this.heights[i]}px`
        }
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.compare-table
  position: relative
  +mobile
    overflow: hidden
  &-params
    +mobile
      transition: all 1s
      left: -500px
      position: absolute
      z-index: 2
      border-right: 1px solid $border-color
      border-top: 1px solid $border-color
      border-bottom: 3px solid $border-color
    .params-toggle
      top: 10px
      align-items: center
      justify-content: center
      width: 20px
      height: 25px
      position: absolute
      right: -20px
      background-color: #ffffff
      border-right: 1px solid $border-color
      border-top: 1px solid $border-color
      border-bottom: 1px solid $border-color
  &-param-wrapper
    background-color: #ffffff
    &.alt
      background-color: $fourth-bg-color
    .compare-table-param
      padding: 5px 10px
      &.first
        padding-bottom: 100%
        position: relative
        +mobile
          margin-bottom: -2px
  &-items
    width: 100%
    position: relative
    padding-bottom: 20px
    +mobile
      margin-right: 5px
      transition: all 1s
    .item-placeholder
      min-width: 220px
      margin-bottom: -20px
      padding: 0 0 0 10px
      &.custom
        min-width: 370px
  &-item
    min-width: 33%
    max-width: 33%
    position: relative
    background-color: #ffffff
    +ultrahd
      min-width: 25%
      max-width: 25%
    +tablet-only
      min-width: 60%
      max-width: unset
    +mobile
      min-width: 100vw
      max-width: 100vw
      &:first-child
        .compare-table-item-param-wrapper
          padding-left: 0
    .compare-table-item-param-wrapper + .compare-table-item-param-wrapper
      .compare-table-item-param
        border-top: 0
    .compare-table-item-param-wrapper
      .compare-table-item-param
        min-height: 34px
        height: 100%
      &:not(:last-child)
        .compare-table-item-param
          border-bottom: 0
      &:not(:first-child)
        .compare-table-item-param
          padding: 5px 10px
          height: 100%
          overflow: hidden
          .product-price
            ::v-deep
              .product-price__column
                > div
                  text-align: left
                  justify-content: flex-start
    &-stone
      width: 50%
      .compare-table-item-param-wrapper
        padding-left: 10px
        .compare-table-item-param
          border-right: unset
        &:last-child
          position: relative
          .compare-table-item-param
            overflow: unset
            .item-price-component
              margin-left: 70%
    &-setting
      width: 50%
      .compare-table-item-param-wrapper
        .compare-table-item-param
          border-left: unset
    &-controls
      position: absolute
      z-index: 1
      justify-content: space-between
      align-items: center
      width: 100%
      padding: 5px 10px 5px 20px
      +mobile
        justify-content: flex-end
      .item-drag
        flex: 1
        cursor: move
        svg
          display: block
      .close
        cursor: pointer
    &-param-wrapper
      .item-image
        height: auto
        width: 100%
        ::v-deep
          .video-360__wrapper
            height: inherit
            width: inherit
            position: relative
            .video360
              height: inherit
              width: inherit
      &.alt
        background-color: $fourth-bg-color
    &-param
      border: 1px solid $border-color
      &.first
        display: flex
        align-items: center
        padding-bottom: 100%
        position: relative
      .item-price-component
        ::v-deep
          .item-price-text
            flex-direction: column
            align-items: flex-start
            &-current
              margin-left: unset
</style>
