<template lang="pug">
  .compare-table-wrapper
    .compare-table.is-flex
      .compare-table-params(ref="paramsList")
        .params-toggle.is-hidden-tablet.is-flex(@click="onParamsToggleClick")
          i.fas.fa-chevron-right
        .compare-table-param-wrapper(data-param, v-for="(param, pIndex) in params", :class="{alt: (pIndex % 2 !== 0) }")
          .compare-table-param.weight-700(:class="{first: pIndex === 0}") {{ $t(`compareList.compareTable.${param}`) }}
      draggable.compare-table-items.is-flex(ref="itemsList", v-bind="{handle: '.item-drag', animation: 200}", :value="items", @input="$emit('reorder', $event)")
        template(v-for="(item, index) in items")
          placeholder(v-if="item.placeholder", :key="item.guid", :item="item", @load-item="$emit('load-item', $event)", :class="kebabCase(item.category)")
          .compare-table-item(v-else, data-item, :key="item.guid", :class="{last: (index + 1 === items.length)}")
            .compare-table-item-controls.is-flex
              .item-drag.is-flex.is-hidden-mobile
                icon(iconColor="#8d7955", iconName="reorder")
              icon.close(@click="$emit('remove', item)", iconColor="#7b817f", iconName="close", width="15", height="15")
            .compare-table-item-param-wrapper(data-param, v-for="(param, pIndex) in params", :class="{alt: (pIndex % 2 !== 0) }")
              .compare-table-item-param(:class="{first: pIndex === 0}")
                component(:is="paramComponentName(param)", :item="item", :param="param", @image-load="onImageLoaded")
            .compare-table-item-param-wrapper.item-controls
              .item-in-favorites.is-flex(v-if="inWishlist(item)")
                span {{ $t('compareList.compareTable.alreadyIn') }}&nbsp;
                v-link(to="wishlist") {{ $t('compareList.compareTable.favorites') }}
              button.button.gold-color(v-else, @click="addToWishlist({item})") {{ $t('compareList.compareTable.addToFavorites') }}
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import kebabCase from 'lodash/kebabCase'
import idParam from './CompareTableParams/idParam'
import imageParam from './CompareTableParams/imageParam'
import priceParam from './CompareTableParams/priceParam'
import defaultParam from './CompareTableParams/defaultParam'
import settingsPriceParam from './CompareTableParams/settingsPriceParam'
import perfectScrollbarMixin from '~~/mixins/perfectScrollbarMixin'
import { getItemId } from '~~/utils/utils'

export default {
  name: 'CompareTableComponent',

  components: {
    Placeholder: () => import('./Placeholder'),
    idParam,
    defaultParam,
    imageParam,
    priceParam,
    settingsPriceParam
  },

  mixins: [perfectScrollbarMixin],

  props: {
    items: {
      type: Array,
      default: () => []
    },

    params: {
      type: Array,
      default: () => []
    },

    isActive: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    heights: [],
    loadedImages: 0,
    paramsVisible: false,
    sidebarInitiated: false
  }),

  computed: {
    ...mapGetters({
      wishlistItems: 'favorites/allListItems'
    }),

    itemsCount() {
      return this.items.length
    }
  },

  watch: {
    loadedImages(count) {
      if (count === this.itemsCount) {
        this.updateTable()
      }
    },

    itemsCount(count) {
      if (count)
        this.$nextTick(() => {
          if (this.ps) this.ps.update() // update scroll
        })
    },

    isActive(state) {
      if (state) {
        this.initScrollbar()
        this.updateTable()
        setTimeout(() => {
          if (!this.$device.isMobile || this.sidebarInitiated) return
          this.hideParams()
          this.sidebarInitiated = true
        }, 100)
      }
    }
  },

  mounted() {
    this.updateTable()
    this.initScrollbar()
  },

  methods: {
    ...mapActions({
      addToWishlist: 'favorites/addToList'
    }),

    inWishlist(item) {
      return this.wishlistItems.some((i) => getItemId(i) === getItemId(item))
    },

    onImageLoaded() {
      this.loadedImages++
      setTimeout(this.updateTable, 100)
      // this.updateTable()
    },

    onParamsToggleClick() {
      if (this.paramsVisible) {
        this.hideParams()
        return
      }
      this.showParams()
    },

    hideParams() {
      const widthOffset = this.$refs.paramsList.offsetWidth
      this.$refs.paramsList.style.left = `-${widthOffset}px`
      this.$refs.itemsList.$el.style.marginLeft = '0px'
      this.paramsVisible = false
    },

    showParams() {
      const widthOffset = this.$refs.paramsList.offsetWidth
      this.$refs.paramsList.style.left = '0px'
      this.$refs.itemsList.$el.style.marginLeft = `${widthOffset}px`
      this.paramsVisible = true
    },

    paramComponentName(param) {
      if (param === 'id') return 'idParam'
      if (['price', 'totalPrice'].includes(param)) return 'priceParam'
      if (param === 'image') return 'imageParam'
      if (param === 'settingsPrice') return 'settingsPriceParam'
      return 'defaultParam'
    },

    initScrollbar() {
      this.makePS(this.$refs.itemsList.$el)
    },

    updateTable() {
      this.createHeightsMap()
      this.applyHeightsMap()
    },

    createHeightsMap() {
      this.calculateItemsHeightsMap()
      this.calculateParamsHeightsMap()
    },

    calculateItemsHeightsMap() {
      if (!this.$refs.itemsList) return

      const items = [...this.$refs.itemsList.$el.children].filter(
        (param) => param.dataset.item === ''
      )

      for (let i = 0; i < items.length; i++) {
        const params = [...items[i].children].filter(
          (param) => param.dataset.param === ''
        )
        for (let j = 0; j < params.length; j++) {
          if (!this.heights[j]) {
            this.heights[j] = params[j].clientHeight
            continue
          }
          if (this.heights[j] < params[j].clientHeight)
            this.heights[j] = params[j].clientHeight
        }
      }
    },

    calculateParamsHeightsMap() {
      if (!this.$refs.paramsList) return

      const items = [...this.$refs.paramsList.children].filter(
        (param) => param.dataset.param === ''
      )

      for (let i = 0; i < items.length; i++) {
        if (!this.heights[i]) {
          this.heights[i] = items[i].clientHeight
          continue
        }
        if (items[i].clientHeight > this.heights[i]) {
          this.heights[i] = items[i].clientHeight
        }
      }
    },

    applyHeightsMap() {
      this.applyHeightsMapToItems()
      this.applyHeightsMapToParams()
    },

    applyHeightsMapToItems() {
      if (!this.$refs.itemsList) return

      const items = [...this.$refs.itemsList.$el.children].filter(
        (param) => param.dataset.item === ''
      )

      for (let i = 0; i < items.length; i++) {
        const params = [...items[i].children].filter(
          (param) => param.dataset.param === ''
        )
        for (let j = 0; j < params.length; j++) {
          if (params[j].clientHeight < this.heights[j])
            params[j].style.height = `${this.heights[j]}px`
        }
      }
    },

    applyHeightsMapToParams() {
      if (!this.$refs.paramsList) return

      const params = [...this.$refs.paramsList.children].filter(
        (param) => param.dataset.param === ''
      )

      for (let i = 0; i < params.length; i++) {
        if (params[i].clientHeight < this.heights[i]) {
          params[i].style.height = `${this.heights[i]}px`
        }
      }
    },

    kebabCase
  }
}
</script>

<style lang="sass" scoped>
$firstParamMinHeightDesktop: 203px
.compare-table
  position: relative
  +mobile
    overflow: hidden
  &-params
    +mobile
      transition: all 1s
      left: -500px
      position: absolute
      z-index: 2
      border-right: 1px solid $border-color
      border-top: 1px solid $border-color
      border-bottom: 3px solid $border-color
    .params-toggle
      top: 10px
      align-items: center
      justify-content: center
      width: 20px
      height: 25px
      position: absolute
      right: -20px
      background-color: #ffffff
      border-right: 1px solid $border-color
      border-top: 1px solid $border-color
      border-bottom: 1px solid $border-color
  &-param-wrapper
    &.alt
      background-color: $fourth-bg-color
    .compare-table-param
      padding: 5px 10px
      &.first
        min-height: $firstParamMinHeightDesktop
        +mobile
          margin-bottom: -2px
  &-items
    width: 100%
    position: relative
    padding-bottom: 20px
    +mobile
      margin-right: 5px
      transition: all 1s
    .item-placeholder
      margin-bottom: -20px
      padding: 0 0 0 10px
      min-width: 220px
  &-item
    width: 20%
    max-width: 250px
    min-width: 200px
    position: relative
    background-color: #ffffff
    +tablet-only
      width: 33%
    +mobile
      width: 50vw
      &:first-child
        .compare-table-item-param-wrapper
          padding-left: 0
    .compare-table-item-param-wrapper + .compare-table-item-param-wrapper
      .compare-table-item-param
        border-top: 0
    &-param-wrapper
      &:not(:last-child)
        .compare-table-item-param
          border-bottom: 0
      &:not(:first-child)
        .compare-table-item-param
          padding: 5px 10px
          height: 100%
          overflow: hidden
          .product-price
            ::v-deep
              .product-price__column
                > div
                  text-align: left
                  justify-content: flex-start
      &.item-controls
        text-align: center
        padding-left: unset
        margin-left: 10px
        border-top: 1px solid $border-color
        padding-top: 10px
        .item-in-favorites
          justify-content: center
          align-items: center
          a
            padding: unset
            margin: unset
            text-decoration: underline
    &-controls
      position: absolute
      z-index: 1
      justify-content: space-between
      align-items: center
      width: 100%
      padding: 5px 10px 5px 20px
      +mobile
        justify-content: flex-end
        margin-top: 5px
      .item-drag
        flex: 1
        cursor: move
        svg
          display: block
      .close
        cursor: pointer
    &-param-wrapper
      padding-left: 10px
      .item-image
        .video-360__wrapper
          position: relative
      &.alt
        background-color: $fourth-bg-color
    &-param
      border: 1px solid $border-color
      &.first
        display: flex
        align-items: center
        justify-content: center
        position: relative
        min-height: $firstParamMinHeightDesktop
      .item-price-component
        ::v-deep
          .item-price-text
            //flex-direction: row
            justify-content: flex-start
</style>
