<template lang="pug">
 .item-placeholder(v-observe-visibility="{callback: onItemVisible, once: true, intersection: { rootMargin: '200px' }}")
   .item-placeholder__inner(v-if="item.category === 'Custom'")
     content-loader(:width='366' :height='629' :speed='2' primarycolor='#f3f3f3' secondarycolor='#ecebeb')
       rect(x='9' y='10' rx='0' ry='0' width='172' height='175')
       rect(x='192' y='236' rx='0' ry='0' width='120' height='13')
       rect(x='108' y='604' rx='0' ry='0' width='142' height='23')
       rect(x='188' y='10' rx='0' ry='0' width='172' height='175')
       rect(x='14' y='236' rx='0' ry='0' width='120' height='13')
       rect(x='14' y='268' rx='0' ry='0' width='36' height='13')
       rect(x='14' y='303' rx='0' ry='0' width='61' height='13')
       rect(x='14' y='337' rx='0' ry='0' width='157' height='13')
       rect(x='14' y='372' rx='0' ry='0' width='33' height='13')
       rect(x='14' y='405' rx='0' ry='0' width='103' height='13')
       rect(x='14' y='440' rx='0' ry='0' width='152' height='13')
       rect(x='14' y='472' rx='0' ry='0' width='33' height='13')
       rect(x='14' y='507' rx='0' ry='0' width='126' height='13')
       rect(x='14' y='540' rx='0' ry='0' width='95' height='13')
       rect(x='14' y='575' rx='0' ry='0' width='66' height='13')
       rect(x='192' y='269' rx='0' ry='0' width='115' height='13')
       rect(x='192' y='303' rx='0' ry='0' width='32' height='13')
       rect(x='14' y='201' rx='0' ry='0' width='42' height='15')
   .item-placeholder__inner(v-else)
     content-loader(:width='216' :height='684' :speed='2' primarycolor='#f3f3f3' secondarycolor='#ecebeb')
       rect(x='11' y='10' rx='0' ry='0' width='195' height='187')
       rect(x='38' y='659' rx='0' ry='0' width='142' height='23')
       rect(x='14' y='251' rx='0' ry='0' width='116' height='13')
       rect(x='14' y='284' rx='0' ry='0' width='56' height='13')
       rect(x='14' y='318' rx='0' ry='0' width='115' height='13')
       rect(x='14' y='352' rx='0' ry='0' width='53' height='13')
       rect(x='14' y='387' rx='0' ry='0' width='33' height='13')
       rect(x='14' y='420' rx='0' ry='0' width='91' height='13')
       rect(x='14' y='455' rx='0' ry='0' width='110' height='13')
       rect(x='14' y='487' rx='0' ry='0' width='37' height='13')
       rect(x='14' y='522' rx='0' ry='0' width='126' height='13')
       rect(x='14' y='555' rx='0' ry='0' width='95' height='13')
       rect(x='14' y='590' rx='0' ry='0' width='66' height='13')
       rect(x='14' y='216' rx='0' ry='0' width='42' height='15')
       rect(x='14' y='625' rx='0' ry='0' width='66' height='13')
</template>

<script>
import { ContentLoader } from 'vue-content-loader'

export default {
  name: 'PlaceholderComponent',

  components: {
    ContentLoader
  },

  props: {
    item: {
      type: Object,
      required: true
    }
  },

  methods: {
    onItemVisible(isVisible) {
      if (this.item.eventsStop) return
      if (isVisible) this.$emit('load-item', this.item)
    }
  }
}
</script>

<style scoped lang="sass">
.item-placeholder
  //min-height: 400px
  width: 20%
  padding: 17px
  +mobile
    width: 50%
  +tablet
    width: 33.33%
  +ipad-pro
    width: 25%
  +desktop
    width: 25%
  +widescreen
    width: 20%
  &.custom
    min-height: 500px
    width: 33.33%
    +mobile
      width: 100%
    +tablet
      width: 50%
    +ipad-pro
      width: 33.33%
    +desktop
      width: 33.33%
    +widescreen
      width: 33.33%
  &__inner
    height: 100%
    border: 1px solid $border-color
    //background-color: $secondary-bg-color
    justify-content: center
    align-items: center
</style>
