<template lang="pug">
section.our-collection.container.is-max-fullhd
  h2.title
    span.is-italic {{ $t('homePage.collection.ourCollection1') }}&nbsp
    span.is-uppercase {{ $t('homePage.collection.ourCollection2') }}
  .tiles
    rings-tile-component
    earrings-tile-component
    wedding-bands-tile-component
    necklaces-tile-component
    bracelets-tile-component
    settings-tile-component
    stones-tile-component
    pairs-tile-component
</template>

<script>
import BraceletsTileComponent from './Tiles/braceletsTile'
import NecklacesTileComponent from './Tiles/necklacesTile'
import EarringsTileComponent from './Tiles/earringsTile'
import PairsTileComponent from './Tiles/pairsTile'
import SettingsTileComponent from './Tiles/settingsTile'
import StonesTileComponent from './Tiles/stonesTile'
import RingsTileComponent from './Tiles/ringsTile'
import WeddingBandsTileComponent from './Tiles/weddingBandsTile'

export default {
  name: 'CollectionComponent',
  components: {
    BraceletsTileComponent,
    NecklacesTileComponent,
    EarringsTileComponent,
    PairsTileComponent,
    SettingsTileComponent,
    StonesTileComponent,
    RingsTileComponent,
    WeddingBandsTileComponent
  }
}
</script>

<style lang="sass" scoped>
.our-collection
  margin-top: 65px
  .tiles
    display: grid
    grid-template-columns: repeat(6, 1fr)
    grid-gap: 35px
    margin-top: 40px
    .tile
      grid-column: span 2
      +tablet-only
        grid-column: span 3
      +mobile
        grid-column: span 6
    .stones-tile
      grid-column: 1 / 4
      +mobile
        grid-column: span 6
    .pairs-tile
      grid-column: 4 / 7
      +mobile
        grid-column: span 6
</style>
