<template lang="pug">
  canvas(:id="sarinContainerId")
</template>

<script>
import SarinViewerPlugin from './SarinViewerPlugin.js'

export default {
  name: 'SarinViewerComponent',

  props: {
    attrs: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    sarin: null
  }),

  computed: {
    sarinContainerId() {
      return `sarin-container-${this.attrs.id}-${this._uid}`
    }
  },

  beforeDestroy() {
    if (this.sarin) this.sarin.removeEventListener('loaded', this.onSarinLoaded)
  },

  mounted() {
    this.$nextTick(() => {
      this.sarin = SarinViewerPlugin(
        document.getElementById(this.sarinContainerId),
        { ...this.attrs }
      )
      this.sarin.addEventListener('loaded', this.onSarinLoaded, false)
    })
  },

  methods: {
    onSarinLoaded() {
      this.$emit('load')
    }
  }
}
</script>
