<template lang="pug">
section.education.container.is-flex.is-max-fullhd
  .education-text.is-flex
    .education-text-wrapper
      h4.small-text {{ $t('homePage.education.smallText') }}
      h3.title {{ $t('homePage.education.title') }}
      .text {{ $t('homePage.education.text') }}
      v-link.read-more(:to="{name: 'education-index-category', params: {category: 'home'}}") {{ $t('homePage.education.readMore') }}
  v-image.education-video(@click="onVideoClick", src="education/video@2x.jpg", :alt="$t('imagesAlt.educationVideo')")
  video-modal(:name="modalName", :options="modalOptions")
</template>

<script>
const width = 925
const ratio = 0.56349

export default {
  name: 'EducationComponent',

  components: {
    VideoModal: () => import('~~/components/Common/VideoModal')
  },

  data: () => ({
    link: process.env.wpDomain,
    modalName: 'education-video',
    modalOptions: {
      autoplay: true,
      controls: true,
      muted: false,
      width,
      height: width * ratio,
      source:
        'https://video.thenaturalsapphirecompany.com/0565df84-ed57-4638-b63e-6a6109ed8803/hls/rubies-an-introduction.m3u8'
    }
  }),

  methods: {
    onVideoClick() {
      this.$root.$emit('education-video')
    }
  }
}
</script>

<style lang="sass" scoped>
.education
  margin-top: 120px
  margin-bottom: 60px
  min-height: 270px
  +ultrahd
    justify-content: center
  +tablet
    align-items: center
  +desktop
    padding: 20px 0
  +touch
    margin-top: 70px
  +mobile
    flex-direction: column
    text-align: center
    margin-top: 45px
  &-text
    align-items: center
    flex: 1
    +ultrahd
      flex: unset
    +mobile
      justify-content: center
      flex: unset
    &-wrapper
      max-width: 470px
      +ultrahd
        padding-right: 75px
        max-width: 680px
      .small-text
        text-transform: uppercase
      .title
        text-align: left
        font-style: italic
        font-family: $lora
        font-size: 36px
        margin-top: 20px
        +touch
          font-size: 30px
        +mobile
          text-align: center
      .text
        font-size: 16px
        margin: 20px 0
  &-video
    cursor: pointer
    border: 1px solid $border-color
    margin-left: 10px
    ::v-deep
      img
        width: 100%
        aspect-ratio: 287 / 162
    +tablet
      max-height: 378px
      width: 50%
    +mobile
      margin-top: 30px
      margin-left: 0
</style>
