<template lang="pug">
section.details-description(v-show="description")
  .details-description-title.title
    span.is-italic {{ $t('detailsPage.mainDetails.product') }}&nbsp
    span.is-uppercase {{ $t('detailsPage.mainDetails.description') }}
  .details-description-body.content(v-html="description")
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'DetailsDescriptionComponent',

  inject: ['pageType'],

  computed: {
    ...mapGetters({
      customItem: 'customItem/customItem',
      customStone: 'customItem/customStone',
      customSetting: 'customItem/customSetting',
      productDetails: 'productDetails/productDetails'
    }),

    isReview() {
      return this.pageType === 'review'
    },

    description() {
      if (this.isReview) {
        return (
          this.customItem?.preview?.productDescription ||
          [
            this.customStone.productDescription,
            this.customSetting.productDescription
          ]
            .filter((d) => d)
            .join('<br>')
        )
      }
      return this.productDetails.productDescription
    }
  }
}
</script>

<style lang="sass" scoped>
.details-description
  padding-top: 100px
  &-body
    margin-top: 35px
    //font-size: 16px
    //font-weight: 500
    //text-align: center
</style>
