<template lang="pug">
section.famous.container.is-max-fullhd(v-observe-visibility="{callback: initSwiper, once: true}")
  h3.title
    span.is-italic {{ $t('homePage.famous.title1') }}&nbsp
    span.is-uppercase {{ $t('homePage.famous.title2') }}
  #famous-slider.swiper-container
    .swiper-wrapper(:class="{desktop: this.$device.isDesktop}")
      .swiper-slide.lazy(data-lazy-function="loaded", v-for="(column, index) in columns", :key="column.id", :class="`slide${index + 1}`")
        v-image(:src="`famous/${column.img}@2x.jpg`", :alt="column.imgAlt")
        .column-info
          h3.column-title
            .column-title-row {{ column.title.row1 }}
            .column-title-row {{ column.title.row2 }}
          .column-text {{ column.text }}
          v-link.read-more(type="native" :to="column.to") {{ column.button }}
    .famous-swiper-pagination.swiper-pagination
</template>

<script>
export default {
  name: 'FamousComponent',

  data: () => ({
    swiper: null
  }),

  computed: {
    columns() {
      return [
        {
          id: '9a355094-4c72-48b4-8e6e-323df9c58afe',
          img: 'famous3',
          imgAlt: this.$t('imagesAlt.famousRubies'),
          title: {
            row1: this.$t('homePage.famous.slide1.title.row1'),
            row2: this.$t('homePage.famous.slide1.title.row2')
          },
          text: this.$t('homePage.famous.slide1.text'),
          button: this.$t('homePage.famous.slide1.button'),
          to: `${process.env.wpDomain}/ruby-history/rubies-in-film-television/`
        },
        {
          id: '67c09bbc-9fdd-4496-8b39-69db0b5d62b3',
          img: 'famous2',
          imgAlt: this.$t('imagesAlt.famousQuality'),
          title: {
            row1: this.$t('homePage.famous.slide2.title.row1'),
            row2: this.$t('homePage.famous.slide2.title.row2')
          },
          text: this.$t('homePage.famous.slide2.text'),
          button: this.$t('homePage.famous.slide2.button'),
          to: `${process.env.wpDomain}/ruby-history/famous-rubies/`
        },
        {
          id: '4e0b5fbe-14de-4392-a2e0-9d09a0b96c4e',
          img: 'famous1',
          imgAlt: this.$t('imagesAlt.famousElizabeth'),
          title: {
            row1: this.$t('homePage.famous.slide3.title.row1'),
            row2: this.$t('homePage.famous.slide3.title.row2')
          },
          text: this.$t('homePage.famous.slide3.text'),
          button: this.$t('homePage.famous.slide3.button'),
          to: `${process.env.wpDomain}/ruby-history/famous-rubies/#Taylor`
        }
      ]
    },

    sliderParams() {
      return {
        // Default parameters
        slidesPerView: 1,
        slidesPerGroup: 1,
        spaceBetween: 20,
        watchOverflow: true,
        pagination: {
          el: '.famous-swiper-pagination',
          type: 'bullets',
          clickable: true
        },

        breakpoints: {
          // when window width is >= 768px
          768: {
            slidesPerView: 2,
            slidesPerGroup: 2,
            spaceBetween: 20
          },
          // when window width is >= 1024px
          1024: {
            slidesPerView: 3,
            slidesPerGroup: 3,
            spaceBetween: 20
          }
        }
      }
    }
  },

  methods: {
    async initSwiper(isVisible) {
      if (isVisible && !this.$device.isDesktop) {
        const sliderEl = document.getElementById('famous-slider')
        this.swiper = await this.$swiper.insert(sliderEl, this.sliderParams)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
@import 'https://service.thenaturalsapphirecompany.com/cdn/swiper-bundle.min.css'

.famous
  margin-top: 70px
  +touch
    margin-top: 35px
  .title
    text-align: center
    font-family: $lora
    font-size: 42px
    font-weight: 400
  .swiper-container
    margin-top: 30px
    .famous-swiper-pagination
      ::v-deep .swiper-pagination
        &-bullet
          background: $primary-color
          opacity: .5
          outline: none
          &-active
            background: $primary-color
            opacity: 1
    .swiper-wrapper
      +mobile
        padding-bottom: 40px
      .swiper-slide
        position: relative
        ::v-deep
          .picture-wrapper
            aspect-ratio: 1 / 1
        .column-info
          position: relative
          top: -75px
          width: 80%
          max-width: 324px
          left: 0
          right: 0
          margin: 0 auto -75px
          background-color: #fff
          padding: 20px 30px 30px
          text-align: center
          +mobile
            top: -40px
          +tablet-only
            padding: 20px 20px 0
          .column-title
            font-style: italic
            font-family: $lora
            font-size: 36px
            line-height: 100%
            +tablet-only
              font-size: 30px
          .column-text
            margin: 15px 0
      &.desktop
        display: flex
        justify-content: center
        .swiper-slide + .swiper-slide
          margin-left: 35px
        .swiper-slide
          max-width: calc(33% - 34px * 2 / 3)
          //width: unset
</style>
