<template lang="pug">
main.details-page.page
  .container
    breadcrumbs(:items="breadcrumbs")
    details-main
  details-overview
  .container
    details-description
  //details-origin
  gemologist-component
  packaging-component
  education-component
  back-to-top-component
</template>

<script>
import {
  hydrateWhenIdle,
  hydrateWhenVisible,
  hydrateNever
} from 'vue-lazy-hydration'
import { mapGetters } from 'vuex'
import _basePage from '~~/components/Page/_basePage'
import FetchDetails from '~~/utils/fetch/details'
import structuredDataMixin from '~~/mixins/metatags/structuredDataMixin'
import { itemNameFormatter } from '~~/utils/formatters/index.js'

export default {
  name: 'JewelryDetailsPage',

  pageType: 'details',

  structuredData: true,

  scrollToTop: true,

  components: {
    EducationComponent: hydrateWhenVisible(
      () => import('~~/components/HomePage/Education'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    DetailsMain: hydrateWhenIdle(() =>
      import('~~/components/DetailsPage/DetailsMain')
    ),
    DetailsDescription: hydrateNever(() =>
      import('~~/components/DetailsPage/DetailsDescription')
    ),
    Breadcrumbs: hydrateWhenIdle(() =>
      import('~~/components/Common/Breadcrumbs')
    ),
    DetailsOverview: hydrateWhenIdle(() =>
      import('~~/components/DetailsPage/DetailsOverview')
    ),
    GemologistComponent: hydrateWhenIdle(() =>
      import('~~/components/HomePage/Gemologist')
    ),
    PackagingComponent: hydrateWhenVisible(
      () => import('~~/components/HomePage/Packaging'),
      { observerOptions: { rootMargin: '300px' } }
    )
  },

  extends: _basePage,

  mixins: [structuredDataMixin],

  computed: {
    ...mapGetters({
      productDetails: 'productDetails/productDetails'
    }),

    breadcrumbs() {
      const last = {
        id: '388c7bc2-24d6-43b7-8068-aea821186f91',
        name: itemNameFormatter.call(this, this.productDetails, true)
      }
      return [
        this.breadcrumbsItems.home,
        this.breadcrumbsItems[
          `${this.productDetails.category.toLowerCase()}Listing`
        ],
        last
      ]
    }
  },

  async fetch(context) {
    try {
      const item = new FetchDetails({ context, category: 'Ring' })
      await item.fetch()
    } catch (e) {
      if (context.$sentry && context.$sentry.captureException) {
        context.$sentry.captureException(e)
      } else {
        console.log(e)
      }
    }
  }
}
</script>

<style lang="sass" src="~~/assets/styles/pages/detailsPage.sass"></style>

<style lang="sass" scoped>
.details-page
  border-top: 1px solid $border-color
  @include margin-bottom()
  .steps
    border: 0
  .breadcrumbs-wrapper
    margin: 7px 0
</style>
