<template lang="pug">
  .edu(ref="page", :class="{loading: !accordionMounted}")
    .container
      breadcrumbs(:items="breadcrumbs")
      .edu__wrapper.is-flex
        #edu-side.edu__wrapper-side(v-if="$device.isDesktopOrTablet")
          side
        .edu__mobile-menu(v-else)
          mobile-menu
        nuxt-child(:key="$route.params.category + $route.params.slug")
    #edu-bottom
    back-to-top-component
</template>

<script>
import { hydrateWhenIdle } from 'vue-lazy-hydration'
import cloneDeep from 'lodash/cloneDeep'
import _baseEduPage from '~~/components/Page/_baseEduPage'

export default {
  name: 'EduSearchPage',

  components: {
    MobileMenu: hydrateWhenIdle(() =>
      import('~~/components/Wordpress/MobileMenu')
    ),
    Search: hydrateWhenIdle(() => import('~~/components/Wordpress/Side/Search')),
    Side: hydrateWhenIdle(() => import('~~/components/Wordpress/Side')),
    Breadcrumbs: hydrateWhenIdle(() =>
      import('~~/components/Common/Breadcrumbs')
    )
  },

  extends: _baseEduPage, // all meta tags will be added on child pages

  head: () => {},

  computed: {
    breadcrumbs() {
      const breadcrumbs = [
        {
          id: 'd8ac6bff-ce6d-4232-a68a-ab3131728f62',
          name: 'Home',
          path: '/'
        }
      ]

      if (this.page.parent) {
        const parentLink = cloneDeep(this.page.parentLink)
        parentLink.query.type = 'list'

        breadcrumbs.push({
          id: '388c7bc2-24d6-43b7-8068-aea821186f91',
          name: this.page.parentTitle,
          path: parentLink
        })
      }

      breadcrumbs.push({
        id: '6b719468-f57a-47a9-9aa1-fc2bde95e032',
        name: this.page.title.rendered
      })
      return breadcrumbs
    }
  }
}
</script>

<style lang="sass" scoped>
.edu
  &__wrapper-content
    flex: 2
  &__wrapper-side
    flex: 1
</style>
