<template lang="pug">
.pay-securely.is-flex
  v-image(src="cart/providers/visa@2x.jpg")
  v-image(src="cart/providers/master@2x.jpg")
  v-image(src="cart/providers/express@2x.jpg")
  v-image(src="cart/providers/discover@2x.jpg")
  v-image(src="cart/providers/bank@2x.jpg")
  v-image(src="cart/providers/bitcoin@2x.jpg")
</template>

<script>
export default {
  name: 'PaySecurelyComponent'
}
</script>

<style lang="sass" scoped>
.pay-securely
  flex-wrap: wrap
  margin-top: -10px
  .picture-wrapper
    margin-top: 10px
    &:not(:last-child)
      margin-right: 7px
</style>
