<template lang="pug">
section.quote.container.is-flex
  .quote-image.left-quote.lazy(data-lazy-function="loaded")
  .quote-content
    .quote-content-text {{ $t('homePage.quote.text') }}
    .quote-content-author.is-flex
      .quote-content-author-line
      .quote-content-author-name {{ $t('homePage.quote.author') }}
  .quote-image.right-quote.lazy(data-lazy-function="loaded")
</template>

<script>
export default {
  name: 'QuoteComponent'
}
</script>

<style lang="sass" scoped>
@include background-image('quote-image', 'quote/quote', 'jpg')
.quote
  align-items: center
  justify-content: center
  +desktop
    padding: 0 50px
  +mobile
    flex-direction: column
  &-image
    min-height: 350px
    min-width: 100px
    height: 100%
    background-repeat: no-repeat
    background-size: contain
    &.left-quote
      background-position-y: 100%
      @include flipY()
    &.right-quote
      @include flipXY()
    +touch
      background-position-y: 15px
    +mobile
      min-height: 120px
  &-content
    flex: auto
    padding: 0 65px
    max-width: 770px
    +touch
      padding: 0 25px
    +mobile
      padding: 0 15px
    &-text
      text-align: center
      font-family: $lora
      font-size: 30px
      text-transform: uppercase
    &-author
      margin-top: 90px
      padding: 0 110px
      +desktop-only
        margin-top: 50px
      +touch
        margin-top: 35px
        margin-left: auto
        margin-right: 0
        padding: 0 50px 0 0
        max-width: 400px
      +mobile
        padding: 0
      &-line
        border-bottom: 1px solid $quote-author-color
        flex: auto
        margin: 12px 25px 0
        height: 1px
        +mobile
          margin: 12px 25px 0 0
      &-name
        text-transform: uppercase
        color: $quote-author-color
        font-size: 16px
</style>
