<template lang="pug">
.table-product.is-flex(:class="{ loading }")
  v-link.product-param.product-thumbnail(:to="{path: getDetailsPath(item), query: $h.flushQuery($route.query)}")
    v-image(@load="onLoadedHandler", :lazy="false", width="75", height="75", :src="getImagePath(item)", :alt="item.shape", :style="{width: widths.photo}")
  .product-param.product-id(:style="{width: widths.id}") {{ $h.getItemId(item) }}
  .product-param.product-metal-weight(:style="{width: widths.metalWeight}") {{ item.metalWeight | caratFormatter }}
  .product-param.product-metal(:style="{width: widths.metal}") {{ $t(`listingPage.stonesList.metalTypes.${camelCase(item.metalName)}`) }}
  .product-param.product-style(:style="{width: widths.style}") {{ $t(`listingPage.filters.bandsStylesFilter.${camelCase(item.styleName)}`) }}
  .product-param.product-price(:style="{width: widths.price}")
    price(:disableBankWirePrice="true", :tooltip="true", :item="item")
  .product-param.product-wishlist(:style="{width: widths.wishlist}")
    item-controls-wishlist-icon(:state="wishlistState", @click="onAddToWishList")
  .product-param.product-compare(:style="{width: widths.compare}")
    item-controls-compare-icon(:state="compareListState", @click="onAddToCompareList")
  .product-param.product-actions(:style="{width: widths.actions}")
    button.button.is-hidden-touch(@click="onQuickViewHandler(item)")
      i.fa.fa-eye
    v-link.button(:to="{path: getDetailsPath(), query: $h.flushQuery($route.query)}") {{ $t('listingPage.common.details') }}
</template>

<script>
import BandsView from './BandsView'

export default {
  name: 'BandsPlainViewComponent',

  extends: BandsView
}
</script>
