<template lang="pug">
.table-product.is-flex(:class="{ loading }")
  v-link.product-param.product-thumbnail(:to="{path: getDetailsPath(item), query: $h.flushQuery($route.query)}")
    v-image(@load="onLoadedHandler", :lazy="false", width="75", height="75", :src="getImagePath(item)", :alt="item.shape", :style="{width: widths.photo}")
  .product-param.product-id(:style="{width: widths.id}") {{ item.id }}
  .product-param.product-weight(:style="{width: widths.weight}") {{ item.stoneWeight | caratFormatter }}
  .product-param.product-weight(:style="{width: widths.metal}") {{ $t(`listingPage.stonesList.metalTypes.${camelCase(item.metalName)}`) }}
  .product-param.product-weight(:style="{width: widths.treatment}") {{ $t(`listingPage.stonesList.treatments.${camelCase(item.treatment)}`) }}
  .product-param.product-shape(:style="{width: widths.shape}") {{ $t(`listingPage.stonesList.stoneShapes.${camelCase(item.shape)}`) }}
  .product-param.product-origin(:style="{width: widths.origin}") {{ $t(`listingPage.stonesList.stonesOrigins.${camelCase(item.origin)}`) }}
  .product-param.product-price(:style="{width: widths.price}")
    price(:disableBankWirePrice="true", :tooltip="true", :item="item")
  .product-param.product-wishlist(:style="{width: widths.wishlist}")
    item-controls-wishlist-icon(:state="wishlistState", @click="onAddToWishList")
  .product-param.product-compare(:style="{width: widths.compare}")
    item-controls-compare-icon(:state="compareListState", @click="onAddToCompareList")
  .product-param.product-actions(:style="{width: widths.actions}")
    tooltip(v-if="!isCustomItem")
      button.button.is-hidden-touch(slot="target", @click="onQuickViewHandler(item)")
        i.fa.fa-eye
      .tooltip-body {{ $t('listingPage.common.quickView') }}
    v-link.button(:to="{path: getDetailsPath(), query: $h.flushQuery($route.query)}") {{ $t('listingPage.common.details') }}
</template>

<script>
import _baseView from '../_baseView'

export default {
  name: 'JewelryViewComponent',

  extends: _baseView,

  props: {
    widths: {
      type: Object,
      required: true
    }
  },

  computed: {
    isCustomItem() {
      return this.item.dataType === 2
    },

    imagePath() {
      return 'jewelry'
    }
  },

  watch: {
    widths: {
      deep: true,
      handler() {
        this.$forceUpdate()
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.table-product
  .product-thumbnail
    max-height: 120px
    ::v-deep
      img
        max-height: 120px
  .product-param
    display: flex
    align-items: center
    justify-content: center
    min-width: 130px
    text-align: center
    svg
      cursor: pointer
  .product-actions
    justify-content: center
    width: 100%
    .button
      max-height: 30px
      height: 100%
      color: $gold-color
      padding: 7px 10px
    +desktop
      button.button
        border-right: 0
  &.loading
    .picture-wrapper
      padding-bottom: 100%
    .product-thumbnail
      ::v-deep
        img
          position: absolute
</style>
