<template lang="pug">
  modal.personal-details(v-show="mounted", ref="modal", transition="modal", :scrollable="true", :width="width", :min-width="600", :max-width="1200", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-header
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body
      .personal-details__title {{ $t('account.personal.editLogin') }}
      form.personal-details__form(@submit.prevent="onFormSubmit")
        .form-block
          .form-row.is-flex
            .field.is-fullwidth
              label.label {{ $t('account.personal.email') }}
              .control
                input.input(:disabled="true", :value="email")

          .form-row.is-flex
            .field.is-fullwidth
              label.label {{ $t('account.personal.currentPassword') }}
              .control.has-icons-right
                input.input(:type="showPassword.current ? 'text' : 'password'", v-model.trim="$v.form.currentPassword.$model", :class="{'is-danger': $v.form.currentPassword.$error}")
                span.icon.is-small.is-right.show-pass(@click="showPassword.current = !showPassword.current")
                  i.fa(:class="{'fa-eye': !showPassword.current, 'fa-eye-slash': showPassword.current}")
              p.help.is-danger(v-if="!$v.form.currentPassword.required && $v.form.currentPassword.$dirty") {{ $t('account.changePassword.form.rules.currentPassword.required') }}

          .form-row.is-flex
            .field(:class="{'field-error': $v.form.newPassword.$error}")
              label.label {{ $t('account.personal.newPassword') }}
              .control.has-icons-right
                input.input(:type="showPassword.new ? 'text' : 'password'", v-model.trim="$v.form.newPassword.$model", :class="{'is-danger': $v.form.newPassword.$error}")
                span.icon.is-small.is-right.show-pass(@click="showPassword.new = !showPassword.new")
                  i.fa(:class="{'fa-eye': !showPassword.new, 'fa-eye-slash': showPassword.new}")
              p.help.is-danger(v-if="!$v.form.newPassword.required && $v.form.newPassword.$dirty") {{ $t('account.changePassword.form.rules.password.required') }}
              p.help.is-danger(v-if="!$v.form.newPassword.minLength && $v.form.newPassword.$dirty") {{ $t('account.changePassword.form.rules.password.rangeMin') }}
              p.help.is-danger(v-if="!$v.form.newPassword.maxLength && $v.form.newPassword.$dirty") {{ $t('account.changePassword.form.rules.password.rangeMax') }}
            .field(:class="{'field-error': $v.form.confirmPassword.$error}")
              label.label {{ $t('account.personal.confirmPassword') }}
              .control.has-icons-right
                input.input(:type="showPassword.confirm ? 'text' : 'password'", v-model.trim="$v.form.confirmPassword.$model", :class="{'is-danger': $v.form.confirmPassword.$error}")
                span.icon.is-small.is-right.show-pass(@click="showPassword.confirm = !showPassword.confirm")
                  i.fa(:class="{'fa-eye': !showPassword.confirm, 'fa-eye-slash': showPassword.confirm}")
              p.help.is-danger(v-if="!$v.form.confirmPassword.required && $v.form.confirmPassword.$dirty") {{ $t('account.changePassword.form.rules.confirmPassword.required') }}
              p.help.is-danger(v-if="!$v.form.confirmPassword.sameAsPassword && $v.form.confirmPassword.$dirty") {{ $t('account.changePassword.form.rules.confirmPassword.sameAsPassword') }}

          .form-row.is-flex
            .field.submit-control
              .control
                button.button.gold-color(type="submit", :disabled="submitStatus === 'PENDING'") {{ $t('account.personal.saveLogin') }}
</template>

<script>
import { validationMixin } from 'vuelidate'
import { mapActions } from 'vuex'
import required from 'vuelidate/lib/validators/required'
import sameAs from 'vuelidate/lib/validators/sameAs'
import minLength from 'vuelidate/lib/validators/minLength'
import maxLength from 'vuelidate/lib/validators/maxLength'
import Vue from 'vue'
import emailValidatorMixin from '~~/mixins/emailValidatorMixin'
import modalMixin from '~~/mixins/modalMixin'

const initForm = {
  currentPassword: '',
  newPassword: '',
  confirmPassword: ''
}

export default {
  name: 'LoginFormModalComponent',

  components: {
    Checkbox: () => import('~~/components/Common/Checkbox')
  },

  mixins: [modalMixin, validationMixin, emailValidatorMixin],

  validations: {
    form: {
      currentPassword: {
        required
      },
      newPassword: {
        minLength: minLength(6),
        maxLength: maxLength(20),
        required
      },
      confirmPassword: {
        required,
        sameAsPassword: sameAs('newPassword')
      }
    }
  },

  data: () => ({
    submitStatus: null,
    modalEvent: 'login-edit',
    modalName: 'login-edit',
    modalView: '',
    width: '600px',
    showPassword: {
      current: false,
      new: false,
      confirm: false
    },
    form: Object.assign({}, initForm)
  }),

  computed: {
    email() {
      return this.$auth.user.email
    }
  },

  created() {
    this.setInitialData()
  },

  methods: {
    ...mapActions({
      changePassword: 'account/changePassword'
    }),

    setInitialData() {
      this.form.email = this.$auth.user.email
    },

    mountComponent() {
      if (!this.modalEvent || !this.modalName) return
      this.$on(this.modalEvent, this.onModalEventHandler)
      this.mounted = true
    },

    async onFormSubmit() {
      await this.$v.$touch()
      if (this.$v.$invalid) return
      this.$root.$emit('loading-start')
      this.submitStatus = 'PENDING'
      Vue.$gtag.event('password_update', {
        event_label: 'Password was updated'
      })
      try {
        const result = await this.changePassword(this.form)
        this.showAlert(result)
        this.submitStatus = 'OK'
      } catch (e) {
        this.submitStatus = 'ERROR'
      } finally {
        this.$root.$emit('loading-stop')
      }
    },

    showAlert(result) {
      let params = {
        title: this.$t('account.changePassword.alert.titleFail'),
        confirmButtonText: this.$t(
          'account.changePassword.alert.confirmButtonText'
        )
      }
      switch (result) {
        case 1:
          params = {
            ...params,
            title: this.$t('account.changePassword.alert.titleSuccess'),
            text: this.$t('account.changePassword.alert.textSuccess')
          }
          break
        case 2:
          params = {
            ...params,
            text: this.$t('account.changePassword.alert.textFail2')
          }
          break
        case 3:
          params = {
            ...params,
            text: this.$t('account.changePassword.alert.textFail3')
          }
          break
        case 4:
          params = {
            ...params,
            text: this.$t('account.changePassword.alert.textFail3')
          }
          break
        default:
          params = {
            ...params,
            text: this.$t('account.changePassword.alert.textFailDefault')
          }
      }

      this.$sweetalert.insert(params).then(() => {
        if (result === 1) {
          this.form = Object.assign(this.form, initForm)
          this.$v.$reset()
          this.onCloseHandler()
        }
      })
    }
  }
}
</script>

<style lang="sass" scoped>
.personal-details
  +mobile
    z-index: 1999
  ::v-deep
    .v--modal-box
      //max-width: 600px
      border-radius: 0
      +touch
        width: 80% !important
        margin: auto
        left: unset !important
      +mobile
        width: 100% !important
        @supports (-webkit-touch-callout: none)
          margin-bottom: 100px
  .modal-header
    position: relative
    height: 30px
    .close-button
      cursor: pointer
      position: absolute
      top: 10px
      right: 10px
      align-items: center
      text-transform: uppercase
      svg
        margin-left: 5px
        height: 15px
        width: 15px
  .modal-body
    padding: 20px
  &__form
    margin-top: 30px
    .form-block
      .form-row
        margin-top: unset
        .field
          &.submit-control
            margin-bottom: unset
            margin-top: 12px
            .control
              text-align: center
            button
              width: 50% !important
          .control
            .show-pass
              cursor: pointer
              pointer-events: unset
            button
              width: 100%
  &__title
    font-size: 36px
    font-family: $lora
    font-style: italic
</style>
