<template lang="pug">
  modal.personal-details(v-show="mounted", ref="modal", transition="modal", :scrollable="true", :width="width", :min-width="600", :max-width="1200", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-header
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body
      .personal-details__title {{ $t('account.personal.editPersonal') }}
      form.personal-details__form(@submit.prevent="onFormSubmit")
        .form-block
          .form-row.is-flex
            .field(:class="{'field-error': $v.form.firstName.$error}")
              label.label {{ $t('account.personal.firstName') }} *
              .control
                input.input(v-model.trim="$v.form.firstName.$model", autocomplete="given-name", :class="{'is-danger': $v.form.firstName.$error}")
              p.help.is-danger(v-if="!$v.form.firstName.required && $v.form.firstName.$dirty") {{ $t('account.addressBook.error.required') }}
            .field(:class="{'field-error': $v.form.lastName.$error}")
              label.label {{ $t('account.personal.lastName') }} *
              .control
                input.input(v-model.trim="$v.form.lastName.$model", autocomplete="family-name", :class="{'is-danger': $v.form.lastName.$error}")
              p.help.is-danger(v-if="!$v.form.lastName.required && $v.form.lastName.$dirty") {{ $t('account.addressBook.error.required') }}
          .form-row.is-flex
            .field
              label.label {{ $t('account.personal.birthday') }}
              .control
                multiselect(
                  v-if="multiselectMounted",
                  v-model.trim="$v.form.birthdayMonth.$model",
                  :options="months",
                  track-by="key",
                  label="label",
                  :searchable="false",
                  :show-labels="false",
                  :allow-empty="true",
                  :maxHeight="160",
                  :option-height="35",
                  :placeholder="$t('account.personal.selectMonth')"
                )

            .field
              label.label.is-hidden-mobile &nbsp;
              .control
                multiselect(
                  v-if="multiselectMounted",
                  v-model.trim="$v.form.birthdayDay.$model",
                  :options="days",
                  :searchable="false",
                  :show-labels="false",
                  :allow-empty="true",
                  :maxHeight="160",
                  :option-height="35",
                  :placeholder="$t('account.personal.selectDay')"
                )

          .form-row.is-flex
            .field.is-fullwidth
              label.label {{ $t('account.personal.relationshipStatus') }}
              .control
                multiselect(
                  v-if="multiselectMounted",
                  v-model.trim="$v.form.relationship.$model",
                  :options="relationships",
                  track-by="key",
                  label="label",
                  :searchable="false",
                  :show-labels="false",
                  :allow-empty="true",
                  openDirection="top",
                  :maxHeight="240",
                  :option-height="35",
                  :placeholder="$t('account.personal.selectStatus')"
                )

          .form-row.is-flex
            .field.submit-control
              .control
                button.button.gold-color(type="submit", :disabled="submitStatus === 'PENDING'") {{ $t('account.personal.save') }}
</template>

<script>
import { validationMixin } from 'vuelidate'
import required from 'vuelidate/lib/validators/required'
import { mapActions } from 'vuex'
import modalMixin from '~~/mixins/modalMixin'

export default {
  name: 'PersonalFormModalComponent',

  mixins: [modalMixin, validationMixin],

  validations: {
    form: {
      firstName: { required },
      lastName: { required },
      birthdayDay: {},
      birthdayMonth: {},
      relationship: {}
    }
  },

  props: {
    days: {
      type: Array,
      required: true
    },
    months: {
      type: Array,
      required: true
    },
    relationships: {
      type: Array,
      required: true
    }
  },

  data: () => ({
    submitStatus: null,
    multiselectMounted: false,
    modalEvent: 'personal-edit',
    modalName: 'personal-edit',
    modalView: '',
    width: '600px',
    form: {
      firstName: '',
      lastName: '',
      birthdayDay: null,
      birthdayMonth: null,
      relationship: null
    }
  }),

  computed: {
    birthdayMonth() {
      return this.months.find((m) => m.key === this.$auth.user.birthday?.month)
    },

    relationship() {
      return this.relationships.find(
        (r) => r.key === this.$auth.user.relationship
      )
    }
  },

  created() {
    this.setInitialData()
  },

  mounted() {
    this.$multiselect.insert(() => {
      this.multiselectMounted = true
    })
  },

  methods: {
    ...mapActions({
      updateProfile: 'account/updateProfile'
    }),

    setInitialData() {
      this.form.firstName = this.$auth.user.firstName
      this.form.lastName = this.$auth.user.lastName
      this.form.birthdayDay = this.$auth.user.birthday?.day
      this.form.birthdayMonth = this.birthdayMonth
      this.form.relationship = this.relationship
    },

    mountComponent() {
      if (!this.modalEvent || !this.modalName) return
      this.$on(this.modalEvent, this.onModalEventHandler)
      this.mounted = true
    },

    async onFormSubmit() {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR'
      } else {
        this.$root.$emit('loading-start')
        this.submitStatus = 'PENDING'
        await this.updateProfile({ form: this.form })
        this.$modal.hide(this.modalName)
        this.submitStatus = 'OK'
        this.$root.$emit('loading-stop')
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.personal-details
  +mobile
    z-index: 1999
  ::v-deep
    .v--modal-box
      //max-width: 600px
      border-radius: 0
      +touch
        width: 80% !important
        margin: auto
        left: unset !important
      +mobile
        width: 100% !important
        @supports (-webkit-touch-callout: none)
          margin-bottom: 100px
  .modal-header
    position: relative
    height: 30px
    .close-button
      cursor: pointer
      position: absolute
      top: 10px
      right: 10px
      align-items: center
      text-transform: uppercase
      svg
        margin-left: 5px
        height: 15px
        width: 15px
  .modal-body
    padding: 20px
  &__form
    margin-top: 30px
    .form-block
      .form-row
        margin-top: unset
        .field
          &.submit-control
            margin-bottom: unset
            margin-top: 5px
            .control
              text-align: center
            button
              width: 50% !important
          .control
            button
              width: 100%
  &__title
    font-size: 36px
    font-family: $lora
    font-style: italic
</style>
