<template lang="pug">
.cookie-notice
  .container
    .cookie-notice--title
      | The Natural Ruby Company
    .cookie-notice--container.is-flex
      .cookie-notice--container-message
        | {{ $t('common.cookieMessage') }}
      .cookie-notice--container-controls
        button.button.gold-color(@click="$emit('accept')") {{ $t('common.cookieAccept') }}
        v-link.button.gold-color.empty(:to="{ name: 'education-index-category', params: { category: 'frequently-asked-questions' }, hash: '#privacy-policy' }") {{ $t('common.cookieMore') }}
</template>

<script>
export default {
  name: 'CookieNoticeComponent',

  computed: {
    wpDomain() {
      return process.env.wpDomain
    }
  }
}
</script>

<style lang="sass" scoped>
.cookie-notice
  padding: 20px 0
  position: fixed
  background-color: #ffffff
  bottom: 0
  width: 100%
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8)
  z-index: 3001
  &--title
    font-size: 25px
    color: $gold-color
    text-transform: uppercase
    font-family: $trojan
    letter-spacing: 1px
    +mobile
      text-align: center
  &--container
    +mobile
      flex-direction: column
  &--container-message
    flex: 3
    padding-right: 20px
    +mobile
      padding-right: 0
  &--container-controls
    flex: 1
    +mobile
      margin-top: 20px
    .button + .button
      margin-top: 15px
    .button
      width: 100%
      padding: 10px 25px
    .empty
      color: $gold-color
</style>
