<template lang="pug">
section.quote.is-flex
  .container
    .quote__text {{ $t('homePage.quote.text') }}
    .quote__author {{ $t('homePage.quote.author') }}
</template>

<script>
export default {
  name: 'QuoteComponent'
}
</script>

<style lang="sass" scoped>
.quote
  background-color: $primary-color
  padding: 65px 70px
  margin-top: 100px
  +touch
    margin-top: 70px
  +mobile
    padding: 55px
  .container
    color: #ffffff
    text-align: center
  &__text
    font-size: 24px
    font-family: $lora
    font-style: italic
  &__author
    text-transform: uppercase
    +mobile
      margin-top: 40px
      font-weight: bold
</style>
