<template lang="pug">
.controls.is-flex
  .controls__first-line
    button.button.controls__continue-shopping(@click="onContinueShoppingClick")
      i.material-icons keyboard_arrow_left
      span {{ $t('cart.cartControls.continue') }}
  .controls__second-line.is-flex
    .controls__second-line--items-count {{ $t('cart.cartControls.itemsCount', { count: cartItems.length }) }}
    controls-sign-in.is-hidden-touch
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'ControlsComponent',

  components: {
    ControlsSignIn: () =>
      import('~~/components/Cart/SecurePayment/Controls/ControlsSignIn')
  },

  computed: {
    ...mapState({
      lastListingPage: (state) => state.navigation.lastListingPage
    }),
    ...mapGetters({
      cartItems: 'cart/items'
    })
  },

  methods: {
    onContinueShoppingClick() {
      this.$router.push(this.localePath(this.lastListingPage))
    }
  }
}
</script>

<style lang="sass" scoped>
.controls
  flex-direction: column
  justify-content: space-between
  &__continue-shopping
    padding: unset
    font-size: 12px
    font-weight: normal
    text-transform: unset
    border: unset
  .button
    margin-left: -5px
  &__second-line
    margin-top: 15px
    justify-content: space-between
  &__second-line--items-count
    font-size: 30px
    font-family: $lora
    font-style: italic
</style>
