<template lang="pug">
main.change-password-page.page
  page-header
  .container
    form.change-password-form(@submit.prevent="onFormSubmit", autocomplete="do-not-autofill")
      .form-block
        .form-row
          .field(:class="{'field-error': $v.form.currentPassword.$error}")
            label.label {{ $t('account.changePassword.form.currentPassword') }}
            .control.has-icons-left.has-icons-right
              input.input(:type="showCurrentPassword ? 'text' : 'password'", v-model.trim="$v.form.currentPassword.$model", :class="{ 'is-danger': $v.form.currentPassword.$error }")
              span.icon.is-small.is-left
                i.fa.fa-lock
              span.icon.is-small.is-right.show-pass(@click="showCurrentPassword = !showCurrentPassword")
                i.fa(:class="{'fa-eye': !showCurrentPassword, 'fa-eye-slash': showCurrentPassword}")
            p.help.is-danger(v-if="!$v.form.currentPassword.required && $v.form.currentPassword.$dirty") {{ $t('account.changePassword.form.rules.currentPassword.required') }}

        .form-row
          .field(:class="{'field-error': $v.form.newPassword.$error}")
            label.label {{ $t('account.changePassword.form.newPassword') }}
            .control.has-icons-left.has-icons-right
              input.input(:type="showPassword ? 'text' : 'password'", v-model.trim="$v.form.newPassword.$model", :class="{ 'is-danger': $v.form.newPassword.$error }")
              span.icon.is-small.is-left
                i.fa.fa-lock
              span.icon.is-small.is-right.show-pass(@click="showPassword = !showPassword")
                i.fa(:class="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}")
            p.help.is-danger(v-if="!$v.form.newPassword.required && $v.form.newPassword.$dirty") {{ $t('account.changePassword.form.rules.password.required') }}
            p.help.is-danger(v-if="!$v.form.newPassword.minLength && $v.form.newPassword.$dirty") {{ $t('account.changePassword.form.rules.password.rangeMin') }}
            p.help.is-danger(v-if="!$v.form.newPassword.maxLength && $v.form.newPassword.$dirty") {{ $t('account.changePassword.form.rules.password.rangeMax') }}
            p.help.is-danger(v-if="!$v.form.newPassword.sameAsPassword && $v.form.newPassword.$dirty") {{ $t('account.changePassword.form.rules.password.notSame') }}

        .form-row
          .field(:class="{'field-error': $v.form.confirmPassword.$error}")
            label.label {{ $t('account.changePassword.form.confirmPassword') }}
            .control.has-icons-left.has-icons-right
              input.input(:type="showConfirmPassword ? 'text' : 'password'", v-model.trim="$v.form.confirmPassword.$model", :class="{ 'is-danger': $v.form.confirmPassword.$error }")
              span.icon.is-small.is-left
                i.fa.fa-lock
              span.icon.is-small.is-right.show-pass(@click="showConfirmPassword = !showConfirmPassword")
                i.fa(:class="{'fa-eye': !showConfirmPassword, 'fa-eye-slash': showConfirmPassword}")
            p.help.is-danger(v-if="!$v.form.confirmPassword.required && $v.form.confirmPassword.$dirty") {{ $t('account.changePassword.form.rules.confirmPassword.required') }}
            p.help.is-danger(v-if="!$v.form.confirmPassword.sameAsPassword && $v.form.confirmPassword.$dirty") {{ $t('account.changePassword.form.rules.confirmPassword.sameAsPassword') }}

        .form-row
          .field
            .control
              button.button.gold-color.submit-button(type="submit", :disabled="submitStatus === 'PENDING'") {{ $t('account.changePassword.form.saveButton') }}
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { validationMixin } from 'vuelidate'
import maxLength from 'vuelidate/lib/validators/maxLength'
import minLength from 'vuelidate/lib/validators/minLength'
import required from 'vuelidate/lib/validators/required'
import sameAs from 'vuelidate/lib/validators/sameAs'
import not from 'vuelidate/lib/validators/not'
import Vue from 'vue'
import authRestrictedMixin from '~~/mixins/authRestrictedMixin'
import _basePage from '~~/components/Page/_basePage'

export default {
  name: 'ChangePasswordPage',

  middleware: 'isAuthorized',

  components: {
    PageHeader: () => import('~~/components/Common/PageHeader')
  },

  extends: _basePage,

  mixins: [validationMixin, authRestrictedMixin],

  validations: {
    form: {
      currentPassword: { required },
      newPassword: {
        required,
        minLength: minLength(6),
        maxLength: maxLength(20),
        sameAsPassword: not(sameAs('currentPassword'))
      },
      confirmPassword: {
        required,
        sameAsPassword: sameAs('newPassword')
      }
    }
  },

  data: () => ({
    submitStatus: null,

    showPassword: false,
    showConfirmPassword: false,
    showCurrentPassword: false,

    form: {
      currentPassword: '',
      newPassword: '',
      confirmPassword: ''
    }
  }),

  computed: {
    ...mapState({
      lastVisitedPage: (state) => state.navigation.lastVisitedPage
    })
  },

  methods: {
    ...mapActions({
      changePassword: 'account/changePassword'
    }),

    async onFormSubmit() {
      this.$v.$touch()
      if (this.$v.$invalid) return
      this.$root.$emit('loading-start')
      this.submitStatus = 'PENDING'
      Vue.$gtag.event('password_update', {
        event_label: 'Password was updated'
      })
      try {
        const result = await this.changePassword(this.form)
        this.showAlert(result)
        this.submitStatus = 'OK'
      } catch (e) {
        this.submitStatus = 'ERROR'
      } finally {
        this.$root.$emit('loading-stop')
      }
    },

    showAlert(result) {
      let params = {
        title: this.$t('account.changePassword.alert.titleFail'),
        confirmButtonText: this.$t(
          'account.changePassword.alert.confirmButtonText'
        )
      }
      switch (result) {
        case 1:
          params = {
            ...params,
            title: this.$t('account.changePassword.alert.titleSuccess'),
            text: this.$t('account.changePassword.alert.textSuccess')
          }
          break
        case 2:
          params = {
            ...params,
            text: this.$t('account.changePassword.alert.textFail2')
          }
          break
        case 3:
          params = {
            ...params,
            text: this.$t('account.changePassword.alert.textFail3')
          }
          break
        case 4:
          params = {
            ...params,
            text: this.$t('account.changePassword.alert.textFail3')
          }
          break
        default:
          params = {
            ...params,
            text: this.$t('account.changePassword.alert.textFailDefault')
          }
      }

      this.$sweetalert.insert(params).then(() => {
        if (result === 1)
          this.$router.push(this.localePath(this.lastVisitedPage.path))
      })
    }
  }
}
</script>

<style lang="sass" scoped>
.change-password
  &-page
    @include margin-bottom()
  &-form
    margin-top: 30px
    .show-pass
      cursor: pointer
      pointer-events: auto
    .submit-button
      +mobile
        width: 100%
</style>
