<template lang="pug">
  modal.dream-compare(ref="modal", transition="modal", :width="width", :max-width="800", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-header
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body
      .controls
        button.button.gold-color(@click="onPauseClick") {{ pause ? 'Play' : 'Pause' }}
        button.button.gold-color(@click="onResetClick") Reset
      .items-wrapper.is-flex
        .dream-item.is-flex(v-for="(item, index) in items", :key="item.guid")
          .dream-item-wrapper
            .dream-item-id {{ $h.getItemFullId(item) }}
            video-360(:ref="`item-${index}`", :attrs="getAttrs(item)", @position="onPositionChange($event, index)", @positionStart="onPositionStart(index)", @positionStop="onPositionStop(index)")
</template>

<script>
import get from 'lodash/get'
import modalMixin from '~~/mixins/modalMixin'
import {
  bands,
  jewelry,
  productListTypeByCategory,
  settings
} from '~~/utils/definitions/defaults'

export default {
  name: 'DreamCompareModalComponent',

  components: {
    video360: () => import('~~/components/Common/video360')
  },

  mixins: [modalMixin],

  props: {
    items: {
      type: Array,
      default: () => []
    }
  },

  data: () => ({
    modalEvent: 'dream-compare',
    modalName: 'dream-compare',
    width: '100%',
    pause: false
  }),

  methods: {
    getProductType(item) {
      if (jewelry.includes(productListTypeByCategory[item.category]))
        return 'jewelry'
      if (bands.includes(productListTypeByCategory[item.category]))
        return 'band'
      if (settings.includes(productListTypeByCategory[item.category]))
        return 'setting'
      return 'stone'
    },

    onPositionStart(index) {
      this.executeVideoFunction('pause', index)
    },

    onPositionStop(index) {
      if (!this.pause) this.executeVideoFunction('play', index)
    },

    onPositionChange(event, index) {
      const { direction, currentIdx, framesCount } = event.detail
      const percent = currentIdx / framesCount
      const params = {
        direction,
        percent
      }
      this.syncVideoPositions('setPosition', index, params)
    },

    onPauseClick() {
      this.executeVideoFunction(this.pause ? 'play' : 'pause')
      this.pause = !this.pause
    },

    onResetClick() {
      this.executeVideoFunction('reset')
    },

    syncVideoPositions(funcName, excludeId, params) {
      for (let i = 0; i < this.items.length; i++) {
        if (i === excludeId) continue
        const itemVideo = this.$refs[`item-${i}`][0]
        if (itemVideo) {
          const options = {
            direction: params.direction
          }
          options.currentIdx = Math.ceil(
            itemVideo.attrs.framesCount * params.percent
          )

          if (itemVideo[funcName]) itemVideo[funcName](options)
        }
      }
    },

    executeVideoFunction(funcName, exclude) {
      for (let i = 0; i < this.items.length; i++) {
        if (exclude === i) continue
        const itemVideo = this.$refs[`item-${i}`][0]
        if (itemVideo) {
          if (itemVideo[funcName]) itemVideo[funcName]()
        }
      }
    },

    getAttrs(item) {
      const { id, framesCount, metalTypeCode } = item

      const cover = get(item, 'thumbnails[0]', null) || item.imagePath

      return {
        id,
        prefix: id,
        behavior: 'swing',
        startOn: 'auto',
        onclick: null,
        size: 'small',
        progressHeight: '2',
        framesCount,
        metalTypeCode,
        cover,
        itemType: this.getProductType(item),
        host: process.env.video360Url,
        dream: true
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.dream-compare
  .modal-header
    position: relative
    height: 30px
    .close-button
      cursor: pointer
      position: absolute
      top: 10px
      right: 10px
      align-items: center
      text-transform: uppercase
      svg
        margin-left: 5px
        height: 15px
        width: 15px
  .modal-body
    padding: 20px
    .controls
      text-align: center
      .button + .button
        margin-left: 15px
    .items-wrapper
      flex-wrap: wrap
      .dream-item
        text-align: center
        width: 33%
        padding: 10px
        flex-direction: column
        &-wrapper
          background-color: $third-bg-color
          padding: 10px
        &-id
          font-weight: bold
          font-size: 16px
          text-transform: uppercase
</style>
