<template lang="pug">
.our-process
  .container
    .our-process__title.title
      span.is-italic {{ $t('detailsPage.ourProcess.title1') }}&nbsp
      span.is-uppercase {{ $t('detailsPage.ourProcess.title2') }}
    .our-process__body(@click="$root.$emit('create-process-video')")
      .our-process__body-filter
      .our-process__body-play
        v-image(src="details/play@2x.png")
      v-image(src="details/our-process@2x.jpg")
</template>

<script>
export default {
  name: 'OurProcessComponent'
}
</script>

<style lang="sass" scoped>
.our-process
  margin-top: 120px
  background-color: $second-light-primary-color
  padding: 70px 0
  +mobile
    padding: 50px 0
  .container
    text-align: center
  &__title
    margin-bottom: 0
  &__body
    display: inline-block
    position: relative
    margin-top: 55px
    +mobile
      margin-top: 33px
  &__body-play
    display: inline-block
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 2
    cursor: pointer
    ::v-deep
      img
        +mobile
          width: 50%
          height: 50%
  &__body-filter
    position: absolute
    background-color: #2e2e2e
    opacity: 0.43
    z-index: 1
    width: 100%
    height: 100%
</style>
