<template lang="pug">
.mobile-menu
  .mobile-menu__icon(ref="menuIcon", :class="{'to-top': hide}", @click="onMenuClick")
    div
    div
    div
  modal.mobile-menu__modal(v-show="mounted", :styles="styles", transition="modal", :max-width="1200", :pivotY="0", ref="modal", :name="modalName", :adaptive="true", @closed="enableScrolling")
    .modal-header
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body
      side
</template>

<script>
import { mapState } from 'vuex'
import modalMixin from '~~/mixins/modalMixin'

export default {
  name: 'MobileMenuComponent',

  components: { Side: () => import('~~/components/Wordpress/Side') },

  mixins: [modalMixin],

  data: () => ({
    signIn: true,
    modalEvent: 'edu-menu',
    modalName: 'edu-menu',
    styles: 'min-height: 100vh; border-radius: 0; z-index: 1000'
  }),

  computed: {
    ...mapState({
      hide: (state) => state.app.mobileHeaderHide
    })
  },

  beforeDestroy() {
    this.$root.$off('routeChanged', this.onCloseHandler)
  },

  mounted() {
    this.$root.$on('routeChanged', this.onCloseHandler)
  },

  methods: {
    onMenuClick() {
      this.$root.$emit('edu-menu')
    }
  }
}
</script>

<style lang="sass" scoped>
.mobile-menu
  &__modal
    &.v--modal-overlay
      z-index: 2000
    ::v-deep
      .v--modal-box
        overflow: auto
    .modal-header
      position: relative
      height: 30px
      .close-button
        cursor: pointer
        position: absolute
        top: 10px
        right: 10px
        align-items: center
        text-transform: uppercase
        svg
          margin-left: 5px
          height: 15px
          width: 15px
  .modal-body
    padding: 20px
  &__icon
    @include transition(top, 0.2s)
    position: fixed
    top: 195px
    right: 15px
    z-index: 1998
    border: 1px solid $wp-red
    opacity: 0.7
    &.to-top
      top: 15px
    div
      width: 28px
      height: 5px
      background-color: $wp-red
      margin: 6px
</style>
