<template lang="pug">
  .custom-designs(v-observe-visibility="{callback: initComponent, once: true, intersection: { rootMargin: '600px' }}")
    .custom-designs__wrapper(v-show="showComponent")
      .container
        .custom-designs__title.title
          span.is-italic {{ $t('detailsPage.customDesigns.title1') }}&nbsp;
          span {{ $t(`detailsPage.customDesigns.${category.toLowerCase()}`) }}
        i18n.custom-designs__message(path="detailsPage.customDesigns.message", tag="div")
          v-link(:to="{name: `custom-design-${$site.name}-rings-jewelry`}") {{ $t('detailsPage.customDesigns.dyo') }}
      custom-design-filter-mobile.is-hidden-tablet(@change="onFilterChange")
      custom-design-filter.is-hidden-mobile(@change="onFilterChange")
      custom-design-list(v-if="showComponent", :loading="loading")
</template>

<script>
import { mapActions } from 'vuex'

import CustomDesigns from '../CustomDesignsSettings/CustomDesignsSettings'

export default {
  name: 'CustomDesignsStones',

  extends: CustomDesigns,

  props: {
    category: {
      type: String,
      required: true
    }
  },

  methods: {
    ...mapActions({
      fetchCustomDesignsFilters: 'customItem/fetchCustomStonesDesignsFilters',
      fetchCustomDesigns: 'customItem/fetchCustomStonesDesigns'
    })
  }
}
</script>

<style lang="sass" scoped>
.custom-designs
  &__wrapper
    padding: 70px 0
    background-color: $third-bg-color
  &__title
    span
      white-space: normal
    +mobile
      font-size: 36px
  &__message
    text-align: center
    font-size: 18px
    a
      font-weight: bold
      color: $burgundy-color
</style>
