<template lang="pug">
  .order-item-step.is-flex(:class="{ finished: step.finished }")
    .order-item-step__graph.is-flex
      .order-item-step__graph--top(ref="top", v-if="index !== 0")
      .order-item-step__graph--circle.is-flex
        icon(icon-name="checked", width="16", height="12", icon-color="#ffffff", v-if="step.finished")
      .order-item-step__graph--bottom(v-if="index !== stepsCount - 1")
    .order-item-step__content(:class="{'step-offset': index > 0}")
      .order-item-step__content--title
        strong {{ step.stepTitle }}
        span {{ orderDateLocal(step.stepDate) }}
      .order-item-step__content--message
        span(v-html="step.stepMessage")
        span.status-details(v-if="step.children", @click="$root.$emit('show-item-steps', step.children)") {{ $t('account.orders.statusDetails') }}
</template>

<script>
import { orderDateLocal } from '~~/utils/formatters'

export default {
  name: 'OrderItemStep',

  props: {
    step: {
      type: Object,
      required: true
    },
    index: {
      type: Number,
      required: true
    },
    stepsCount: {
      type: Number,
      required: true
    }
  },

  data: () => ({
    contentOffset: '5px'
  }),

  methods: {
    orderDateLocal
  }
}
</script>

<style lang="sass" scoped>
.order-item-step
  text-align: left
  &__graph--top,
  &__graph--bottom
    border-left: 2px solid $border-color
    min-height: 20px
    flex: auto
  &__graph--circle
    height: 32px
    width: 32px
    border-radius: 50%
    border: 2px solid $border-color
    background-color: $third-bg-color
    justify-content: center
    align-items: center
  &__graph
    max-width: 32px
    flex-direction: column
    align-items: center
  &__content
    padding-left: 10px
    padding-top: 5px
    &.step-offset
      padding-top: 25px
      margin-bottom: -25px
    .status-details
      cursor: pointer
      text-decoration: underline
      color: $gold-color
      font-weight: 900
      margin-left: 10px
  &__content--message
    ::v-deep
      .track-order
        text-decoration: underline
        color: $gold-color
        font-weight: 900
  &__content--title
    span
      padding-left: 10px

  &.finished
    .order-item-step__graph--top,
    .order-item-step__graph--bottom
      border-left: 2px solid $dark-primary-color
    .order-item-step__graph--circle
      border: 2px solid $dark-primary-color
      background-color: $dark-primary-color
</style>
