<template lang="pug">
  modal.production-status(v-show="mounted", ref="modal", transition="modal", :width="width", :min-width="600", :max-width="1200", :scrollable="true", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-header
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body
      .production-status__title {{ $t('account.orders.productionStatus') }}
      .production-status__body.is-flex
        .production-status__body--steps
          order-item-step(v-for="(step, index) in steps", :key="index", :stepsCount="steps.length", :index="index", :step="step")
</template>

<script>
import modalMixin from '~~/mixins/modalMixin'

export default {
  name: 'OrderStepsModal',

  components: {
    OrderItemStep: () => import('./OrderItemStep')
  },

  mixins: [modalMixin],

  data: () => ({
    modalEvent: 'show-item-steps',
    modalName: 'show-item-steps',
    width: '1040px',
    steps: []
  }),

  methods: {
    onModalEventHandler(steps) {
      this.steps = steps
      this.disableScrolling()
      this.$modal.show(this.modalName)
      this.visible = true
    }
  }
}
</script>

<style lang="sass" scoped>
.production-status
  +mobile
    z-index: 1999
  ::v-deep
    .v--modal-box
      width: 1040px !important
      border-radius: 0
      +touch
        width: 80% !important
        margin: auto
        left: unset !important
      +mobile
        width: 100% !important
        @supports (-webkit-touch-callout: none)
          margin-bottom: 100px
  .modal-header
    position: relative
    height: 30px
    .close-button
      cursor: pointer
      position: absolute
      top: 10px
      right: 10px
      align-items: center
      text-transform: uppercase
      svg
        margin-left: 5px
        height: 15px
        width: 15px
  .modal-body
    padding: 20px
  &__title
    font-size: 36px
    font-family: $lora
    font-style: italic
    +mobile
      text-align: center
  &__body
    padding-top: 30px
    justify-content: center
</style>
