<template lang="pug">
  .order__body-item.is-flex
    .order__body-item--image-wrapper(v-if="item.category === 'Wax'")
      img.order__body-item--image(src="details/wax@2x.png")
    .order__body-item--image-wrapper.is-flex(v-else-if="item.category === 'Custom' && !item.itemImage")
      img.order__body-item--image(:src="item.customStone.itemImage")
      img.order__body-item--image(:src="item.customSetting.itemImage")
    .order__body-item--image-wrapper(v-else)
      img.order__body-item--image(:src="item.itemImage")
    .order__body-item--info
      .order__body-item--info-tile(v-html="itemNameFormatter(item)")
      template(v-if="item.category === 'Wax'")
        .order__body-item--info-id {{ $t('account.orders.stoneId', [item.customStone.id]) }}
        .order__body-item--info-id {{ $t('account.orders.settingId', [item.customSetting.id]) }}
      .order__body-item--info-id(v-else) {{ $t('account.orders.designId', [item.id]) }}
      .order__body-item--info-price.is-flex
        span {{ $t('account.orders.itemPrice') }}&nbsp;
        price(:tooltip="false", :item="item")
        span.payment-status &nbsp;{{ $t(`account.orders.paymentStatus.${item.paymentStatus}`) }}
      button.order__body-item--info-button.button.gold-color.light(@click="onViewDetailsClick")
        span {{ $t('account.orders.viewDetails') }}&nbsp;
        i.details-icon.fas.fa-chevron-down(v-show="detailsStatus === STATUS.CLOSED")
        i.details-icon.fas.fa-chevron-up(v-show="detailsStatus === STATUS.OPENED")
        loader.details-icon(v-show="detailsStatus === STATUS.LOADING")
      collapse-transition
        .order__body-item-steps(v-if="detailsStatus === STATUS.OPENED")
          order-item-step(v-for="(step, index) in steps", :key="index", :stepsCount="steps.length", :index="index", :step="step")
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { CollapseTransition } from 'vue2-transitions'
import { itemNameFormatter } from '~~/utils/formatters'

const STATUS = {
  CLOSED: 'CLOSED',
  OPENED: 'OPENED',
  LOADING: 'LOADING'
}

export default {
  name: 'OrderItemComponent',

  components: {
    CollapseTransition,
    OrderItemStep: () => import('~~/components/Account/Orders/OrderItemStep'),
    Loader: () => import('~~/components/Common/Loader/Loader'),
    Price: () => import('~~/components/Common/Price')
  },

  props: {
    orderId: {
      type: String,
      required: true
    },

    item: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    detailsStatus: STATUS.CLOSED,
    STATUS,
    loaded: false
  }),

  computed: {
    ...mapGetters({
      itemSteps: 'order/itemSteps'
    }),

    steps() {
      return this.itemSteps(this.orderId, this.item.stepListId)
    }
  },

  methods: {
    ...mapActions({
      fetchOrderSteps: 'order/fetchOrderSteps'
    }),

    async onViewDetailsClick() {
      if (!this.loaded) await this.fetchItemSteps()
      this.detailsStatus =
        this.detailsStatus === STATUS.OPENED ? STATUS.CLOSED : STATUS.OPENED
    },

    async fetchItemSteps() {
      this.detailsStatus = STATUS.LOADING
      await this.fetchOrderSteps({
        orderId: this.orderId,
        stepId: this.item.stepListId
      })
      this.loaded = true
    },

    itemNameFormatter(item) {
      return itemNameFormatter.call(this, item)
    }
  }
}
</script>

<style lang="sass" scoped>
.order__body-item
  padding: 20px 15px
  +mobile
    flex-direction: column
    align-items: center
.order__body-item--image-wrapper
  flex-direction: column
  .order__body-item--image + .order__body-item--image
    margin-top: 15px
.order__body-item--image
  max-width: 140px
.order__body-item--info
  padding-left: 20px
  > * + *
    margin-top: 10px
  +mobile
    padding-left: unset
    text-align: center
    width: 100%
.order__body-item--info-tile
  font-size: 16px
  font-weight: bold
  font-style: italic
  font-family: $lora
.order__body-item--info-price
  align-items: center
  .payment-status
    font-style: italic
  ::v-deep
    .item-price-text-current
      font-weight: normal
      color: $default-font-color
    .item-price-text-old
      display: none
  +mobile
    justify-content: center
.order__body-item--info-id
  text-transform: uppercase
.order__body-item--info-button
  width: 100%
  max-width: 170px
  +mobile
    max-width: unset
  .details-icon
    width: 20px
</style>
