<template lang="pug">
  .custom-designs-list(ref="list", :class="{ loading }")
    .swiper-container(ref="designs-slider", v-show="showDesigns", :class="{ expanded: showDetails }")
      .swiper-wrapper
        .swiper-slide.is-flex(v-for="(chunk, index) in normalizedDesigns", :key="index")
          .swiper-slide__design.is-flex(@click="onDesignClick(design)", v-for="design in chunk", :key="design.guid", :class="{selected: design.guid === selectedDesign.guid}")
            .swiper-slide__open-arrow
              i.fas.fa-angle-down
            .swiper-slide__image-wrapper
              .swiper-slide__overflow
              v-image(:src="design.imagePath")
      .swiper-button-next.is-hidden-mobile(v-show="showDesignsNavigation")
      .swiper-button-prev.is-hidden-mobile(v-show="showDesignsNavigation")
    collapse-transition
      custom-designs-list-details(v-if="showDetails", :selected-design="selectedDesign", @close="onCloseHandler")
</template>

<script>
import { CollapseTransition } from 'vue2-transitions'
import { mapState } from 'vuex'
import isEmpty from 'lodash/isEmpty'
import chunk from 'lodash/chunk'
import { moneyFormatter } from '~~/utils/formatters'

export default {
  name: 'CustomDesignsList',

  components: {
    CollapseTransition,
    CustomDesignsListDetails: () => import('./CustomDesignsListDetails.vue')
  },

  filters: {
    moneyFormatter
  },

  props: {
    loading: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    swiper: null,
    normalizedDesigns: [],
    selectedDesign: {}
  }),

  computed: {
    ...mapState({
      designs: (state) => state.customItem.customDesigns
    }),

    showDesigns() {
      return this.designs.length
    },

    showDetails() {
      return !isEmpty(this.selectedDesign)
    },

    showDesignsNavigation() {
      if (this.$device.isDesktop) return this.designs.length > 5
      if (this.$device.isMobile) return this.designs.length > 1
      return true
    },

    sliderParams() {
      return {
        // Default parameters
        allowTouchMove: this.$device.isMobileOrTablet,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      }
    }
  },

  watch: {
    loading(state) {
      if (state) this.selectedDesign = {}
      if (!state) this.freezeComponentHeight()
    },

    designs: {
      deep: true,
      handler() {
        this.calcNormalizedDesigns()
      }
    },

    normalizedDesigns: {
      deep: true,
      handler() {
        if (this.swiper) this.swiper.update()
      }
    }
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.calcNormalizedDesigns)
  },

  mounted() {
    window.addEventListener('resize', this.calcNormalizedDesigns, false)
    this.calcNormalizedDesigns()
    this.initSwiper()
  },

  methods: {
    calcNormalizedDesigns() {
      let itemsPerSlide = 1
      if (window.innerWidth >= 440) itemsPerSlide = 2
      if (window.innerWidth >= 768) itemsPerSlide = 3
      if (window.innerWidth >= 1024) itemsPerSlide = 4
      if (window.innerWidth >= 1216) itemsPerSlide = 5
      if (window.innerWidth >= 1840) itemsPerSlide = 6
      this.normalizedDesigns = chunk(this.designs, itemsPerSlide)
    },

    freezeComponentHeight() {
      setTimeout(() => {
        const { clientHeight } = this.$refs.list
        this.$refs.list.style.minHeight = clientHeight + 'px'
      }, 1000)
    },

    onCloseHandler() {
      this.selectedDesign = {}
    },

    async initSwiper() {
      this.swiper = await this.$swiper.insert(
        this.$refs['designs-slider'],
        this.sliderParams
      )
    },

    onDesignClick(design) {
      if (design.guid === this.selectedDesign.guid) {
        this.selectedDesign = {}
        return
      }
      this.selectedDesign = design
      this.$nextTick(() => {
        this.swiper.update()
      })
    }
  }
}
</script>

<style lang="sass" scoped>
.custom-designs-list
  &.loading
    opacity: 0.5
    pointer-events: none
  .swiper-container
    margin-top: 30px
    transition: transform .3s ease
    +mobile
      max-width: calc(173px * 2 + 20px * 1)
    +tablet-only
      max-width: calc(173px * 3 + 20px * 2 + 100px)
    +desktop
      max-width: calc(173px * 4 + 34px * 3 + 100px)
    +widescreen
      max-width: calc(200px * 5 + 34px * 4 + 100px)
    +ultrahd
      max-width: calc(268px * 6 + 34px * 5 + 100px)
    &.expanded
      padding-bottom: 30px
      ::v-deep
        .swiper-button-next,
        .swiper-button-prev
          margin-top: -15px
          transform: translateY(-50%)
    .swiper-button-next
      right: 0
    .swiper-button-prev
      left: 0
    .swiper-button-next,
    .swiper-button-prev
      outline: none
      z-index: 99
      color: $gold-color
      transform: translateY(-50%)
      font-size: 35px
      height: 100%
      width: 50px
      background: $third-bg-color
      margin-top: unset
      &.swiper-button-disabled
        pointer-events: none
      &:after
        font-size: 20px
        font-weight: bold
    .swiper-slide
      background-color: $third-bg-color
      justify-content: center
      &.selected
        .swiper-slide__overflow
          display: block
        .swiper-slide__open-arrow
          display: flex
      .swiper-slide__design + .swiper-slide__design
        margin-left: 34px
        +touch
          margin-left: 20px
      &__design
        max-width: 200px
        +desktop-only
          max-width: 173px
        +touch
          max-width: 173px
        +ultrahd
          max-width: 268px
        .swiper-slide__image-wrapper
          position: relative
          cursor: pointer
        .swiper-slide__open-arrow
          display: none
          cursor: pointer
          font-size: 22px
          color: white
          margin: auto
          position: absolute
          z-index: 2
          width: 42px
          height: 42px
          background-color: $gold-color
          border-radius: 50%
          justify-content: center
          align-items: center
          left: 0
          right: 0
          top: 0
          bottom: 0
        .swiper-slide__overflow
          display: none
          position: absolute
          left: 0
          top: 0
          z-index: 1
          width: 100%
          height: 100%
          background-color: rgba(0, 0, 0, 0.5)
</style>
