<template lang="pug">
  .custom-designs-list__details.is-flex.container
    .close-button.is-flex(@click="$emit('close')")
      icon(iconName="close", iconColor="#810038")
    .custom-designs-list__details-gallery
      .swiper-container(ref="design-slider", v-if="selectedDesign.thumbnails")
        .swiper-wrapper
          .swiper-slide.is-flex(v-for="(thumbnail, index) in selectedDesign.previewThumbnails", :key="index")
            .swiper-slide__image-wrapper
              img(:src="thumbnail.large", :lazy="false")
        .swiper-button-next.is-hidden-mobile
        .swiper-button-prev.is-hidden-mobile
        .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
    .custom-designs-list__details-info
      .custom-designs-list__details-info-title(v-html="selectedDesignTitle")
      i18n.custom-designs-list__details-info-message(path="detailsPage.customDesigns.designDescription", tag="div")
        v-link(:to="stoneDetailsRoute", v-html="stoneTitle")
        v-link(:to="settingDetailsRoute") {{ settingTitle }}
        v-link(:to="{name: `custom-design-${$site.name}-rings-jewelry`}") {{ $t('detailsPage.customDesigns.dyo') }}
      price(price-layout="columnLabel", :tooltip="false", :item="selectedDesign").custom-designs-list__details-info-price
      .custom-designs-list__details-info-production
        strong {{ $t('detailsPage.customDesigns.productionTime') }}:&nbsp;
        span {{ $t('detailsPage.customDesigns.productionTimePeriod', [selectedDesign.setting.productionTimeFrom, selectedDesign.setting.productionTimeTo]) }}
      .custom-designs-list__details-view
        v-link.button.gold-color(:to="previewDetailsRoute") {{ $t('detailsPage.customDesigns.view') }}
</template>

<script>
import { caratFormatter, tcwFormatter } from '~~/utils/formatters/index.js'
import { previewSettingsRoutesMap } from '~~/utils/definitions/defaults.js'

export default {
  name: 'CustomDesignsListDetails',

  components: {
    Price: () => import('~~/components/Common/Price')
  },

  props: {
    selectedDesign: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    swiperDetails: null
  }),

  computed: {
    stoneId() {
      return this.selectedDesign.id.split('-')[1].toLowerCase()
    },

    settingId() {
      return this.selectedDesign.id.split('-')[0].toLowerCase()
    },

    stoneDetailsRoute() {
      return { name: 'rubies-id', params: { id: this.stoneId } }
    },

    settingDetailsRoute() {
      return {
        name: `design-your-own-setting-${
          previewSettingsRoutesMap[this.$site.name][
            this.selectedDesign.category
          ]
        }-id`,
        params: {
          id: `${this.selectedDesign.category.toLowerCase()}-${this.settingId}`
        }
      }
    },

    previewDetailsRoute() {
      return {
        name: 'design-your-own-review-id',
        params: { id: this.selectedDesign.id }
      }
    },

    caratWeight() {
      return this.selectedDesign.category === 'Earring'
        ? tcwFormatter.call(this, this.selectedDesign.stoneWeight)
        : caratFormatter(this.selectedDesign.stoneWeight)
    },

    stoneTitle() {
      const { shape, color } = this.selectedDesign
      const stone = this.$t(`customItem.categories.${this.stoneType}`)
      return `${this.caratWeight} ${shape} ${color} ${stone}`
    },

    settingTitle() {
      const style = this.selectedDesign.setting.styles[0]
      const { metalName, category } = this.selectedDesign
      return `${metalName} ${style} ${category}`
    },

    selectedDesignTitle() {
      const { shape, color, category } = this.selectedDesign
      const stone = this.$t('customItem.ruby')
      const style = this.selectedDesign.setting.styles[0]
      return `${this.caratWeight} ${shape} ${color} ${stone} ${style} ${category}`
    },

    stoneType() {
      return ['Earring'].includes(this.selectedDesign.category)
        ? 'pair'
        : 'stone'
    },

    detailsSliderParams() {
      return {
        // Default parameters
        slidesPerView: 1,
        loop: true,
        pagination: {
          el: '.swiper-pagination',
          type: 'bullets',
          clickable: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        on: {
          slideChangeTransitionStart: this.slideChangeTransitionStart,
          slideChangeTransitionEnd: this.slideChangeTransitionEnd
        }
      }
    }
  },

  mounted() {
    this.swiperDetails = this.$swiper.insert(
      this.$refs['design-slider'],
      this.detailsSliderParams
    )
  },

  methods: {
    /**
     Fix loop issue (cloned slide not updating on design change)
     https://github.com/nolimits4web/swiper/issues/2629#issuecomment-737897281
     **/
    slideChangeTransitionStart(swiper) {
      const $wrapperEl = swiper.$wrapperEl
      const params = swiper.params
      $wrapperEl
        .children(`.${params.slideClass}.${params.slideDuplicateClass}`)
        .each(function () {
          const idx = this.getAttribute('data-swiper-slide-index')
          this.innerHTML = $wrapperEl
            .children(
              `.${params.slideClass}[data-swiper-slide-index="${idx}"]:not(.${params.slideDuplicateClass})`
            )
            .html()
        })
    },

    /**
     Fix loop issue (cloned slide not updating on design change)
     https://github.com/nolimits4web/swiper/issues/2629#issuecomment-737897281
     **/
    slideChangeTransitionEnd(swiper) {
      swiper.slideToLoop(swiper.realIndex, 0, false)
    }
  }
}
</script>

<style lang="sass" scoped>
.custom-designs-list
  &__details
    position: relative
    padding: 40px
    background-color: white
    +mobile
      flex-direction: column
      align-items: center
    .close-button
      cursor: pointer
      position: absolute
      right: 20px
      top: 20px
      height: 15px
      width: 15px
    z-index: 1
  &__details-gallery
    width: 100%
    max-width: 425px
    +tablet-only
      max-width: 300px
    +mobile
      width: 100%
    ::v-deep
      .swiper-pagination
        &-bullet
          background: $gold-color
          opacity: .5
          outline: none
          &-active
            background: $gold-color
            opacity: 1
    .swiper-container
      margin-top: unset
      padding-bottom: 45px
      max-width: 425px
      .swiper-button-next,
      .swiper-button-prev
        outline: none
        z-index: 99
        color: $gold-color
        //transform: translateY(-50%)
        margin-top: -10%
        +mobile
          margin-top: -15%
      +mobile
        .swiper-button-next
          right: 0
        .swiper-button-prev
          left: 0
      .swiper-slide
        flex-direction: column
        background-color: $third-bg-color
      ::v-deep
        .swiper-pagination
          bottom: 6px
          &-bullet
            transform: unset
  &__details-info
    padding-left: 50px
    width: auto
    +mobile
      padding-left: unset
      width: 100%
  &__details-info-title
    margin-top: 20px
    font-family: $lora
    font-size: 22px
  &__details-info-message
    margin-top: 10px
    font-size: 16px
    a
      color: $burgundy-color
  &__details-info-production
    margin-top: 20px
  &__details-info-price
    margin-top: 15px
    .product-price
      font-weight: normal
      ::v-deep
        .product-price__column
          > div
            text-align: left
            justify-content: left
  &__details-view
    margin-top: 20px
</style>
