<template lang="pug">
.contact-us-dropdown.is-flex(@click="onDropdownClick")
  icon(iconName="email", iconColor="#8c7956")
  i.fa.fa-angle-down(:class="{open: showContacts.state}")
</template>

<script>
export default {
  name: 'ContactUsDropdownComponent',

  inject: ['showContacts'],

  // data: () => ({
  //   open: false
  // }),

  methods: {
    onDropdownClick() {
      this.$emit('change')
      // this.open = !this.open
    }
  }
}
</script>

<style lang="sass" scoped>
.contact-us-dropdown
  cursor: pointer
  align-items: center
  i
    margin-left: 10px
    color: $gold-color
    @include transition(all, .3s)
    &.open
      transform: rotate(-180deg)
</style>
