<template lang="pug">
.language-switcher.is-flex
  nuxt-link(v-if="$i18n.locale === 'en'" :to="switchLocalePath('zh')") {{ languages.en }}
  nuxt-link(v-if="$i18n.locale === 'zh'" :to="switchLocalePath('en')") {{ languages.zh }}
</template>

<script>
export default {
  name: 'LanguageSwitcherComponent',

  data: () => ({
    languages: {
      en: 'English',
      zh: 'Chinese (中文)'
    }
  })
}
</script>

<style lang="sass" scoped>
.language-switcher
  a
    color: $default-font-color
</style>
