<template lang="pug">
.language-switcher(:class="{open: expand}")
  .language-switcher-root.is-flex(@click="onClickHandler")
    span {{ $t('layout.header.language') }}: {{ languages[$i18n.locale] }}
    i.fa.fa-chevron-right(:class="{open: expand}")
  collapse-transition
    .language-switcher-children(v-show="expand")
      .language-switcher-children-wrapper.is-flex(:class="{selected: $i18n.locale === 'en'}")
        nuxt-link(:to="switchLocalePath('en')") {{ languages.en }}
        i.fa.fa-check(v-if="$i18n.locale === 'en'")
      .language-switcher-children-wrapper.is-flex(:class="{selected: $i18n.locale === 'zh'}")
        nuxt-link(:to="switchLocalePath('zh')") {{ languages.zh }}
        i.fa.fa-check(v-if="$i18n.locale === 'zh'")
</template>

<script>
import { CollapseTransition } from 'vue2-transitions'
import LanguageSwitcher from './LanguageSwitcher'

const componentId = 'c58a2ba8-7256-4fef-8856-4cbe6db2bd01'

export default {
  name: 'LanguageSwitcherMobileComponent',

  components: {
    CollapseTransition
  },

  inject: ['expanded'],

  extends: LanguageSwitcher,

  computed: {
    expand() {
      return this.expanded.id === componentId
    }
  },

  methods: {
    onClickHandler() {
      const id = !this.expand ? componentId : ''
      this.$emit('expand', id)
    }
  }
}
</script>

<style lang="sass" scoped>
.language-switcher
  flex-direction: column
  a
    color: $default-font-color
  &-root
    width: 100%
    justify-content: space-between
    align-items: center
    cursor: pointer
    padding: $mobile-menu-paddings
    i
      color: $dark-green
      @include transition(all, .3s)
      &.open
        transform: rotate(90deg)
  &-children
    &-wrapper
      align-items: center
      padding: $mobile-menu-paddings
      padding-left: 35px
      i
        margin-left: 5px
        color: $dark-primary-color
      &:first-child
        border-bottom: 1px solid $border-color
      &.selected
        a
          font-weight: 700
  &.open
    .language-switcher-root
      padding-bottom: 9px
      border-bottom: 1px solid $border-color
</style>
