<template lang="pug">
main.staff-profile.page
  page-header(:showBreadcrumbs="true", :breadcrumbs="localBreadcrumbs")
  .staff-profile__body.is-flex.container
    .left-side
      .staff-profile__body-bio.is-flex
        v-image(:src='`${member.photo}`', alt='Michael Arnstein')
        .staff-profile__body-bio-info
          .staff-profile__body-birthplace {{ $t('ourStaff.birthplace') }}: {{ member.birthPlace }}
          .staff-profile__body-residence {{ $t('ourStaff.residence') }}: {{ member.residence }}
      .staff-profile__body-videos(v-if='showVideos')
        video-player(v-for="(video, index) in member.videos", :options="getVideoOptions(video)", :key="index")
      .staff-profile__body-summary(v-for='(block, index) in member.summary', :key='index')
        .staff-profile__body-summary-title.is-title.is-italic {{ block.headLine }}
        .staff-profile__body-summary-body(v-html='block.text')
</template>

<script>
import { hydrateWhenIdle } from 'vue-lazy-hydration'
import { mapGetters } from 'vuex'
import _basePage from '~~/components/Page/_basePage'

const width = 925
const ratio = 0.56349

export default {
  name: 'StaffProfilePage',

  components: {
    PageHeader: hydrateWhenIdle(() => import('~~/components/Common/PageHeader')),
    VideoPlayer: hydrateWhenIdle(() =>
      import('~~/components/Common/VideoPlayer')
    )
  },

  extends: _basePage,

  computed: {
    ...mapGetters({
      member: 'ourStaff/member'
    }),

    showVideos() {
      return this.member.videos?.length
    },

    localBreadcrumbs() {
      return [
        {
          id: 'd8ac6bff-ce6d-4232-a68a-ab3131728f62',
          name: this.$t('breadcrumbs.home'),
          path: '/'
        },
        {
          id: 'a056f40a-6739-47b5-a620-b8f20d0d170d',
          name: this.$t('breadcrumbs.staff'),
          path: '/our-staff/'
        },
        {
          id: 'db4aa657-efd4-4214-8664-5fb3610373a6',
          name: this.$t('breadcrumbs.michael')
        }
      ]
    }
  },

  async fetch(context) {
    const { store } = context
    await store.dispatch('getMeta', context)
    const bio = {
      bio: 'Michael Arnstein',
      id: 'b5094b52-c86e-ef70-1858-5101f1d3c79e'
    }

    await store.dispatch('ourStaff/getMemberDetails', bio)
  },

  methods: {
    getVideoOptions(video) {
      return {
        autoplay: false,
        controls: true,
        muted: false,
        width,
        height: width * ratio,
        source: video.video,
        poster: '/img/video_logo.jpg'
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.staff-profile
  @include margin-bottom()
  &__body
    padding-top: 30px
    .left-side
      width: 66.66%
      +touch
        width: 100%
  &__body-bio-info
    margin-left: 30px
  &__body-videos
    margin-top: 30px
    > *
      border: 1px solid $border-color
  &__body-summary
    margin-top: 30px
    ::v-deep
      a
        text-decoration: underline
</style>
