<template lang="pug">
main.change-password-page.page
  page-header-component
  .container
    .change-password-page-title.is-italic.weight-700 {{ $t('account.changePassword.assistance') }}
    p {{ $t('account.changePassword.create1') }}
    p {{ $t('account.changePassword.create2') }}

    form.change-password-form(@submit.prevent="onFormSubmit", autocomplete="do-not-autofill")
      .form-block
        .form-row
          .field(:class="{'field-error': $v.newPassword.$error}")
            label.label {{ $t('account.changePassword.form.newPassword') }}
            .control.has-icons-left.has-icons-right
              input.input(:type="showPassword ? 'text' : 'password'", v-model.trim="$v.newPassword.$model", :class="{ 'is-danger': $v.newPassword.$error }")
              span.icon.is-small.is-left
                i.fa.fa-lock
              span.icon.is-small.is-right.show-pass(@click="showPassword = !showPassword")
                i.fa(:class="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}")
            p.help.is-danger(v-if="!$v.newPassword.required && $v.newPassword.$dirty") {{ $t('account.changePassword.form.rules.password.required') }}
            p.help.is-danger(v-if="!$v.newPassword.minLength && $v.newPassword.$dirty") {{ $t('account.changePassword.form.rules.password.rangeMin') }}
            p.help.is-danger(v-if="!$v.newPassword.maxLength && $v.newPassword.$dirty") {{ $t('account.changePassword.form.rules.password.rangeMax') }}

        .form-row
          .field(:class="{'field-error': $v.confirmPassword.$error}")
            label.label {{ $t('account.changePassword.form.confirmPassword') }}
            .control.has-icons-left.has-icons-right
              input.input(:type="showConfirmPassword ? 'text' : 'password'", v-model.trim="$v.confirmPassword.$model", :class="{ 'is-danger': $v.confirmPassword.$error }")
              span.icon.is-small.is-left
                i.fa.fa-lock
              span.icon.is-small.is-right.show-pass(@click="showConfirmPassword = !showConfirmPassword")
                i.fa(:class="{'fa-eye': !showConfirmPassword, 'fa-eye-slash': showConfirmPassword}")
            p.help.is-danger(v-if="!$v.confirmPassword.required && $v.confirmPassword.$dirty") {{ $t('account.changePassword.form.rules.confirmPassword.required') }}
            p.help.is-danger(v-if="!$v.confirmPassword.sameAsPassword && $v.confirmPassword.$dirty") {{ $t('account.changePassword.form.rules.confirmPassword.sameAsPassword') }}

        .form-row
          .field
            .control
              button.button.gold-color(type="submit", :disabled="submitStatus === 'PENDING'") {{ $t('account.changePassword.form.saveButton') }}
</template>

<script>
import { validationMixin } from 'vuelidate'
import maxLength from 'vuelidate/lib/validators/maxLength'
import minLength from 'vuelidate/lib/validators/minLength'
import required from 'vuelidate/lib/validators/required'
import sameAs from 'vuelidate/lib/validators/sameAs'
import { mapActions } from 'vuex'
import Vue from 'vue'
import _basePage from '~~/components/Page/_basePage'

export default {
  name: 'ChangePasswordComponent',

  components: {
    PageHeaderComponent: () => import('~~/components/Common/PageHeader')
  },

  extends: _basePage,

  mixins: [validationMixin],

  validations: {
    newPassword: {
      required,
      minLength: minLength(6),
      maxLength: maxLength(20)
    },
    confirmPassword: {
      required,
      sameAsPassword: sameAs('newPassword')
    }
  },

  data: () => ({
    submitStatus: null,
    showPassword: false,
    showConfirmPassword: false,
    newPassword: '',
    confirmPassword: ''
  }),

  methods: {
    ...mapActions({
      resetPassword: 'account/resetPassword'
    }),

    async onFormSubmit() {
      this.$v.$touch()
      if (this.$v.$invalid) return
      this.submitStatus = 'PENDING'
      Vue.$gtag.event('new_password', {
        event_label: 'New password setted'
      })
      this.$root.$emit('loading-start')

      const options = {
        newPassword: this.newPassword,
        confirmPassword: this.confirmPassword,
        token: this.$route.params.token
      }

      try {
        const result = await this.resetPassword(options)

        this.submitStatus = 'OK'
        this.$root.$emit('loading-stop')
        this.showAlert(result)
      } catch (e) {
        this.submitStatus = 'ERROR'
        this.$root.$emit('loading-stop')
      }
    },

    showAlert(result) {
      let params = {
        title: this.$t('account.changePassword.alert.titleFail'),
        type: 'error',
        confirmButtonText: this.$t(
          'account.changePassword.alert.confirmButtonText'
        )
      }

      switch (result) {
        case 1:
          params = {
            ...params,
            type: 'success',
            title: this.$t('account.changePassword.alert.titleSuccess2'),
            html: this.$t('account.changePassword.alert.textSuccess2'),
            preConfirm: () => {
              this.$router.push(this.localePath({ name: 'auth' }))
            }
          }
          break
        case 2:
          params = {
            ...params,
            text: this.$t('account.changePassword.alert.textFail2')
          }
          break
        case 4:
          params = {
            ...params,
            text: this.$t('account.changePassword.alert.textFail5')
          }
          break
        case 5:
          params = {
            ...params,
            text: this.$t('account.changePassword.alert.textFail6')
          }
          break
        default:
          params = {
            ...params,
            text: this.$t('account.changePassword.alert.textFailDefault')
          }
      }

      this.$sweetalert.insert(params)
    }
  }
}
</script>

<style lang="sass" scoped>
.change-password-page
  @include margin-bottom()
  &-title
    margin: 30px 0
    font-size: 24px
    font-family: $lora
  .change-password-form
    margin-top: 20px
    .form-block
      .form-row
        .field
          .control
            .show-pass
              cursor: pointer
              z-index: 50
              pointer-events: unset
              color: $default-font-color
</style>
