<template lang="pug">
.account-menu
  .account-menu-root-item.is-flex
    icon(iconName="account", @click="onAccountClick")
    .not-logged-in(v-if="!$store.state.auth.loggedIn", @click="onAccountClick", key="cd988360-fc97-4f37-8ec4-1c68c748d485") {{ $t('account.signIn') }}
    .logged-in.is-flex(v-else, :class="{expanded: showAccountMenu}", key="2a5c5c57-2b7e-4920-9d4a-1bb285571006", @click="onUserMenuClick")
      span {{ $t('account.hi', { name: profile.firstName }) }}
      i.fa.fa-chevron-right
  collapse-transition
    .account-menu-sub(v-if="showAccountMenu")
      .account-menu-sub-item.weight-700(v-for="item in menuItems()", :key="item.id")
        v-link(:to="{ name: item.routeName }") {{ item.name }}
      .account-menu-sub-item.weight-700(@click="signOut")
        span {{ $t('account.menu.signOut') }}
</template>

<script>
import { CollapseTransition } from 'vue2-transitions'
import Vue from 'vue'
import getMenuList from '~~/utils/definitions/menus/AccountMenu'

export default {
  name: 'AccountComponent',

  components: {
    CollapseTransition
  },

  data: () => ({
    menuExpanded: false
  }),

  computed: {
    profile() {
      return this.$store.state.auth.user || {}
    },

    showAccountMenu() {
      return this.menuExpanded && this.$store.state.auth.loggedIn
    }
  },

  methods: {
    signOut() {
      Vue.$gtag.event('logout', {
        event_label: 'User signed out'
      })
      this.$auth.logout()
    },

    menuItems() {
      return getMenuList.call(this)
    },

    onAccountClick() {
      if (!this.$store.state.auth.loggedIn) this.$root.$emit('account-menu')
    },

    onUserMenuClick() {
      this.menuExpanded = !this.menuExpanded
    }
  }
}
</script>

<style lang="sass" scoped>
.account-menu
  &-root-item
    border-top: 1px solid $border-color
    display: inline-block
    padding: 10px 14px 10px 25px
  .not-logged-in
    text-transform: uppercase
    margin-left: 5px
  .logged-in
    width: 100%
    justify-content: space-between
    align-items: center
    i
      @include transition(all, .3s)
      color: $dark-green
    &.expanded
      i
        transform: rotate(90deg)
  &-sub
    &-item
      border-top: 1px solid $border-color
      padding: 10px 14px 10px 25px
</style>
