<template lang="pug">
  .quick-search.is-flex
    .quick-search-input
      input.is-italic(ref="search", :placeholder="$t('layout.header.searchById')", @input="handleInput", @keyup.up.exact="handleKeyupUp", @keyup.down.exact="handleKeyupDown", @keyup.enter.exact="redirectToDetails", @click.stop="handleClick", @paste="handlePaste", v-model="query", type="text")
    .quick-search-icon(@click="handleIconClick")
      .loader(v-if="loading")
      .search-icon(v-else)
        icon(icon-name="search", width='20', height='20', icon-color='#8c7956', key="ec03e3b5-47ee-4aa2-a117-9da3113c64b5")
        //icon(v-else, icon-name="close", width='20', height='20', icon-color='#8c7956', key="79d8cc33-56a1-4a20-b1d7-256fc64550e0")
    collapse-transition
      .quick-search-dropdown(ref="dropdown", v-if='showResults', v-on-clickaway='handleClickAway')
        component.quick-search-dropdown-item(v-for='(item, index) in items', @click="onItemClick", @mouseover.native='selectedItemIndex = index', :key='item.guid', :is='`${getItemType(item.category)}View`', :item='item', :class="{ 'is-selected': selectedItemIndex === index }")
      .quick-search-dropdown(ref="dropdown", v-else-if='dirty && searchQuery && !items.length', v-on-clickaway='handleClickAway')
        .no-results.is-italic {{ $t('layout.header.noResults') }}
</template>

<script>
import debounce from 'lodash/debounce'
import { mapActions, mapGetters } from 'vuex'

import { mixin as clickaway } from 'vue-clickaway'
import { CollapseTransition } from 'vue2-transitions'
import perfectScrollbarMixin from '~~/mixins/perfectScrollbarMixin'
import { getDetailsPath } from '~~/utils/utils'

import {
  productListTypeByCategory,
  jewelry,
  bands,
  settings
} from '~~/utils/definitions/defaults'

const settingPattern = '(js\\d+[a-z]{1,2}\\d{0,2})'
const stonePattern = '([a-z]{1,2}\\d+[-a-z]{0,2})'
const mtoPattern = `^(${settingPattern},?\\s*${stonePattern})|(${stonePattern},?\\s*${settingPattern})$`

export default {
  name: 'QuickSearch',

  components: {
    CollapseTransition,
    stoneView: () => import('./QuickSearchViews/stoneView'),
    jewelryView: () => import('./QuickSearchViews/jewelryView'),
    bandView: () => import('./QuickSearchViews/bandView'),
    settingView: () => import('./QuickSearchViews/settingView')
  },

  mixins: [clickaway, perfectScrollbarMixin],

  props: {
    hideSearchField: {
      type: Boolean,
      default: true
    }
  },

  data: () => ({
    ps: null,
    loading: false,
    selectedItemIndex: 0,
    offset: 0,
    call: null,
    callCount: 0,
    scrollMouseDown: false,
    dirty: false
  }),

  computed: {
    ...mapGetters({
      items: 'quickSearch/searchItems',
      searchQuery: 'quickSearch/query',
      showResultsBlock: 'quickSearch/showResults'
    }),

    isMtoItem() {
      return new RegExp(mtoPattern, 'i').test(this.query.trim())
    },

    query: {
      get() {
        return this.searchQuery.replace(/[^a-zA-Z,\s\d-]/g, '')
      },
      set(val) {
        this.setQuery(val)
      }
    },

    showResults: {
      get() {
        return this.showResultsBlock && !this.isMtoItem
      },
      set(val) {
        this.setShowResults(val)
      }
    }
  },

  watch: {
    items: {
      deep: true,
      handler(items) {
        if (!items.length) {
          this.hideDropdown()
          return
        }
        this.showDropdown()
      }
    },

    '$route.path'() {
      this.hideDropdown()
    }
  },

  beforeDestroy() {
    this.destroyListeners()
  },

  mounted() {
    if (this.showResults) this.showDropdown()
  },

  methods: {
    ...mapActions({
      fetchSearchItems: 'quickSearch/fetchSearchItems',
      clearSearchResults: 'quickSearch/clearSearchResults',
      setQuery: 'quickSearch/setQuery',
      setShowResults: 'quickSearch/setShowResults'
    }),

    onItemClick(item) {
      this.$router.push(
        this.localePath({
          path: getDetailsPath(item)
        })
      )
    },

    redirectToDetails() {
      if (this.loading) return

      if (this.isMtoItem) {
        this.pushToReviewPage()
        return
      }

      if (!this.items.length) return

      this.$router.push(
        this.localePath({
          path: getDetailsPath(this.items[this.selectedItemIndex])
        })
      )
    },

    changeSelectedIndex(delta) {
      if (!this.items.length) return
      const items = document.querySelectorAll('.quick-search-dropdown-item')
      if (this.selectedItemIndex + delta < 0) {
        this.selectedItemIndex = 0
        this.onSelectElement(items[this.selectedItemIndex])
        return
      }

      if (this.selectedItemIndex + delta > this.items.length - 1) {
        this.selectedItemIndex = this.items.length - 1
        this.onSelectElement(items[this.selectedItemIndex])
        return
      }

      this.selectedItemIndex += delta
      this.onSelectElement(items[this.selectedItemIndex])
    },

    scroll() {
      if (window.lazyUpdate) window.lazyUpdate()
      this.callCount++
      if (!this.$refs.dropdown || this.callCount > 25) {
        this.callCount = 0
        clearInterval(this.call)
        return
      }
      const offset = this.offset - this.$refs.dropdown.scrollTop

      if (!offset) {
        this.callCount = 0
        clearInterval(this.call)
        return
      }

      if (offset > 0) {
        this.$refs.dropdown.scrollTop += 5
        if (Math.abs(this.offset - this.$refs.dropdown.scrollTop) < 5)
          this.$refs.dropdown.scrollTop = this.offset
        return
      }

      if (offset < 0) {
        this.$refs.dropdown.scrollTop -= 5
        if (Math.abs(this.offset - this.$refs.dropdown.scrollTop) < 5)
          this.$refs.dropdown.scrollTop = this.offset
      }
    },

    onSelectElement(el) {
      if (this.call) {
        this.callCount = 0
        clearInterval(this.call)
      }
      this.offset = el.offsetTop
      this.call = setInterval(this.scroll, 10)
    },

    getItemType(category) {
      const type = productListTypeByCategory[category]
      if (jewelry.includes(type)) return 'jewelry'
      if (bands.includes(type)) return 'band'
      if (settings.includes(type)) return 'setting'
      return 'stone'
    },

    destroyListeners() {
      this.removeEventListeners()
      if (this.ps) {
        this.ps.destroy()
        this.ps = null
      }
    },

    showDropdown() {
      this.showResults = true
      this.$nextTick(() => {
        if (!this.$refs.dropdown) return
        this.makePS(this.$refs.dropdown)
        this.addEventListeners()
      })
    },

    addEventListeners() {
      if (!this.$refs.dropdown) return
      this.$refs.dropdown.addEventListener(
        'DOMMouseScroll',
        this.preventBodyScroll,
        false
      )
      this.$refs.dropdown.addEventListener(
        'mousewheel',
        this.preventBodyScroll,
        false
      )
      this.$refs.dropdown.addEventListener(
        'wheel',
        this.preventBodyScroll,
        false
      )
      if (this.$device.isDesktop) {
        const rail = this.$refs.dropdown.querySelector('.ps-rail-y')
        const thumb = this.$refs.dropdown.querySelector('.ps-thumb-y')
        if (rail) {
          rail.addEventListener('mousedown', this.onScrollMouseDown, false)
          rail.addEventListener('mouseup', this.onScrollMouseUp, false)
        }

        if (thumb) {
          thumb.addEventListener('mousedown', this.onScrollMouseDown, false)
          thumb.addEventListener('mouseup', this.onScrollMouseUp, false)
        }
      }
    },

    removeEventListeners() {
      if (!this.$refs.dropdown) return
      this.$refs.dropdown.removeEventListener(
        'DOMMouseScroll',
        this.preventBodyScroll,
        false
      )
      this.$refs.dropdown.removeEventListener(
        'mousewheel',
        this.preventBodyScroll,
        false
      )
      this.$refs.dropdown.removeEventListener(
        'wheel',
        this.preventBodyScroll,
        false
      )
      if (this.$device.isDesktop) {
        const rail = this.$refs.dropdown.querySelector('.ps-rail-y')
        const thumb = this.$refs.dropdown.querySelector('.ps-thumb-y')

        if (rail) {
          rail.removeEventListener('mousedown', this.onScrollMouseDown, false)
          rail.removeEventListener('mouseup', this.onScrollMouseUp, false)
        }

        if (thumb) {
          thumb.removeEventListener('mousedown', this.onScrollMouseDown, false)
          thumb.removeEventListener('mouseup', this.onScrollMouseUp, false)
        }
      }
    },

    onScrollMouseDown() {
      this.scrollMouseDown = true
    },

    onScrollMouseUp() {
      this.scrollMouseDown = false
    },

    preventBodyScroll(e) {
      if (window.lazyUpdate) window.lazyUpdate()
      if (e) e.preventDefault()
    },

    handleClickAway(e) {
      if (this.scrollMouseDown) {
        this.scrollMouseDown = false
        return
      }
      if (['ps-rail-y', 'ps-thumb-y'].includes(e.target.className)) return
      this.hideDropdown()
      if (!this.hideSearchField) return
      this.query = ''
      this.dirty = false
      this.clearSearchResults()
    },

    hideDropdown() {
      this.destroyListeners()
      this.showResults = false
    },

    handleKeyupUp() {
      if (!this.showResults) return
      this.changeSelectedIndex(-1)
    },

    handleKeyupDown() {
      if (!this.query) return
      if (!this.showResults) {
        this.showDropdown()
        return
      }
      this.changeSelectedIndex(1)
    },

    handleIconClick() {
      setTimeout(() => {
        if (this.$refs.search) this.$refs.search.focus()
        if (this.isMtoItem) this.pushToReviewPage()
      }, 10)
      // if (this.query) {
      //   this.query = ''
      //   this.clearSearchResults()
      // }
    },

    handleClick() {
      if (this.showResults) return
      if (this.query && this.items.length) {
        this.showDropdown()
      }
    },

    handleInput(e) {
      this.loading = true
      this.query = e.target.value
      if (this.isMtoItem) {
        this.loading = false
        this.hideDropdown()
        this.clearSearchResults()
        return
      }
      this.debouncedGetItems()
    },

    pushToReviewPage() {
      const result = new RegExp(mtoPattern, 'i').exec(this.query.trim())
      const stone = result[3] || result[5]
      const setting = result[2] || result[6]
      const path = this.localePath(
        `/design-your-own/review/${setting}-${stone}/`
      ).toLowerCase()

      if (/design-your-own-review-id/.test(this.$route.name)) {
        this.$root.$emit('loading-start')
        window.location = path
        return
      }
      this.$router.push(path)
    },

    handlePaste(e) {
      this.$nextTick(async () => {
        await this.getItems()
      })
    },

    debouncedGetItems: debounce(function (e) {
      this.getItems()
    }, 500),

    async getItems() {
      this.loading = true
      if (this.query) {
        await this.fetchSearchItems(this.query.trim())
        this.dirty = true
      } else {
        this.clearSearchResults()
        this.dirty = false
      }

      this.$nextTick(() => {
        if (this.items.length) {
          if (this.$refs.dropdown) this.$refs.dropdown.scrollTop = 0
          if (this.ps) this.ps.update()
        }
      })
      this.selectedItemIndex = 0
      this.loading = false
    }
  }
}
</script>

<style lang="sass" scoped>
@include fade-transition('search-input')

.quick-search
  flex-direction: row-reverse
  position: relative
  align-items: center
  top: -6px
  border-bottom: 1px solid $border-color
  +mobile
    border-bottom: none
    flex-direction: row
    top: unset
    width: 100%
    position: unset
  &-icon
    width: 20px
    height: 20px
    svg
      cursor: pointer
  &-input
    +mobile
      width: 100%
      right: 50px
      top: 5px
    input
      text-align: left
      width: 170px
      font-family: $lora
      font-size: 14px
      padding: 9px 15px 9px 10px
      line-height: 1.2
      border: 0
      //border-bottom: 1px solid $dark-primary-color
      //border-bottom: 1px solid $border-color
      outline: unset
      +tablet-only
        padding: 20px 15px
      +mobile
        font-size: 15px
        text-align: left
        padding: unset
        width: 100%
        //border-bottom: unset
        background-color: $secondary-bg-color
  &-dropdown
    position: absolute
    left: 0
    top: 35px
    z-index: 201
    width: 315px
    overflow: hidden
    max-height: 400px
    background-color: #ffffff
    border: 1px solid $border-color
    border-top: 1px solid $dark-primary-color
    +tablet-only
      top: 39px
    +mobile
      width: 300px
      max-height: 350px
      right: 0
      left: 0
      margin: auto
      top: 47px
    .no-results
      text-align: center
      padding: 10px
    &-item
      &.is-selected
        background-color: $secondary-bg-color
      ::v-deep
        .item-price-text
          &-current
            margin-left: 0 !important
          &-old
            .item-price
              font-size: 12px !important
.loader
  color: $gold-color
  font-size: 20px
  width: 1em
  height: 1em
  border-radius: 50%
  position: relative
  text-indent: -9999em
  -webkit-animation: load4 1.3s infinite linear
  animation: load4 1.3s infinite linear
  transform: scale(0.15)

@-webkit-keyframes load4
  0%,
  100%
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0

  12.5%
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em

  25%
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em

  37.5%
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em

  50%
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em

  62.5%
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em

  75%
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0

  87.5%
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em

@keyframes load4
  0%,
  100%
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0

  12.5%
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em

  25%
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em

  37.5%
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em

  50%
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em

  62.5%
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em

  75%
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0

  87.5%
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em
</style>
