.tile
  min-height: 270px
  border: 1px solid $border-color
  +touch
    min-height: 300px
    padding: 20px
  +mobile
    max-height: 450px
  &.necklaces-tile
    padding-top: unset
    .content
      padding-top: 20px
    img
      margin-top: unset
  .image
    overflow: hidden
    width: 50%
    justify-content: center
    align-items: center
    +touch
      width: 30%
    ::v-deep
      img
        min-height: 0
  .content
    justify-content: space-around
    align-items: center
    flex-direction: column
    width: 50%
    text-align: center
    padding: 20px 20px 20px 0
    +touch
      width: 70%
      padding: 0 0 0 10px
      //height: 50%
    &-title
      font-weight: 400
      font-family: $lora
      font-size: 24px
    &-text
      font-size: 16px
    .tile-button
      padding: 7px 0
      border: unset
      border-top: 2px solid $primary-color
      color: $primary-color
