.account-page__notifications
  &[data-v-important]
    .accordion
      .accordion-item + .accordion-item
        margin-top: 20px
      .accordion-item.open + .accordion-item
        .accordion-item-header
          border-top: 1px solid $border-color
      &-item
        .accordion-item-header
          font-size: 18px
          flex-direction: row-reverse
          justify-content: flex-end
          .notifications-section__title
            margin-left: 10px
        &.open
          .accordion-item-header
            border-color: $border-color
            border-bottom: 1px solid $border-color
          .accordion-item-body
            border-color: $border-color
            border-left: 1px solid $border-color
            border-right: 1px solid $border-color
            border-bottom: 1px solid $border-color
      &-item-header
        background-color: $third-bg-color
        border-top: unset
        border-bottom: unset
        border: 1px solid $border-color
      &-item-body
        padding: 20px
