<template lang="pug">
  .tabs-nav-wrapper
    ul.tabs-nav
      .container.is-flex(ref="tabsList")
        li.is-flex(v-for="tab in panes", :key="tab.id", @click="$emit('change', tab.name)", :class="{'is-active': tab.isActive}")
          icon.is-hidden-tablet(v-if="tab.iconName", :icon-name="tab.iconName", :icon-color="getIconColor(tab.isActive)")
          a.tab-name {{ tab.name }}
            span.badge(v-show="tab.badge") {{ tab.badge }}
</template>

<script>
import TabsNav from '~~/components/Common/Tabs/TabsNav'
import perfectScrollbarMixin from '~~/mixins/perfectScrollbarMixin'

export default {
  name: 'TabsNavComponent',

  extends: TabsNav,

  mixins: [perfectScrollbarMixin],

  mounted() {
    this.makePS(this.$refs.tabsList, {
      suppressScrollY: true
    })
  }
}
</script>

<style lang="sass" scoped>
.tabs-nav
  width: 100%
  margin: 0 auto -1px
  border: unset
  +mobile
    border-bottom-width: 2px
    align-items: flex-end
    position: relative

  &-wrapper
    border-bottom-color: $border-color
    border-bottom-width: 1px
    border-bottom-style: solid
    width: 100%
    .container
      overflow-y: hidden !important
      position: relative
      +iphone-5se
        padding: 0

  li
    +tablet-only
      &:last-child
        .tab-name
          margin-right: 24px
    +mobile
      flex-direction: column
      align-items: center
    .tab-name
      font-weight: bold
      color: $grey-text-color
      border: 1px solid $border-color
      padding: 11px 40px
      text-transform: uppercase
      font-size: 14px
      background-color: $fourth-bg-color
      cursor: pointer
      position: relative
      +mobile
        font-size: 14px
        font-weight: 600
        line-height: 22px
        width: 100%
        padding: 11px 16px
      &:after
        content: ''
        position: absolute
        border-bottom: 1px solid $border-color
        width: 100%
        z-index: 1
        bottom: 0px

      .badge
        width: 20px
        height: 20px
        @include border-radius(50%)
        background-color: $grey-text-color
        color: #fff
        line-height: 20px
        text-align: center
        margin-left: 5px
    &.is-active
      .tab-name
        position: relative
        color: $gold-color
        background-color: #fff
        +mobile
          color: $gold-color
        .badge
          background-color: $gold-color
        &:after
          border-bottom: 1px solid #fff
  li + li
    .tab-name
      border-left-width: 0
</style>
