<template lang="pug">
main.account-page.page
  page-header(:title="$t('account.dashboard.title')", :breadcrumbs="breadcrumbsLocal")
  .container.account-page__sections
    button.button.gold-color.light.is-hidden-tablet(@click="$auth.logout") {{ $t('account.dashboard.signOut') }}
    .account-page__options.is-flex
      .account-page__option-wrapper.is-flex(v-for="option in options", :key="option.id")
        v-link(:to="option.route").account-page__option.is-flex
          .account-page__option-icon.is-flex
            icon(:width="40", :height="40", iconColor="#8d7955", :iconName="option.icon")
          .account-page__option-info.is-flex
            .account-page__option-info-title {{ option.title }}
            .account-page__option-info-descr {{ option.descr }}
  back-to-top-component
</template>

<script>
import authRestrictedMixin from '~~/mixins/authRestrictedMixin'
import _basePage from '~~/components/Page/_basePage'

export default {
  name: 'AccountPage',

  middleware: 'isAuthorized',

  components: {
    PageHeader: () => import('~~/components/Account/PageHeader')
  },

  extends: _basePage,

  mixins: [authRestrictedMixin],

  computed: {
    breadcrumbsLocal() {
      return [
        {
          id: 'd8ac6bff-ce6d-4232-a68a-ab3131728f62',
          name: this.$t('breadcrumbs.home'),
          path: '/'
        },
        {
          id: 'a056f40a-6739-47b5-a620-b8f20d0d170d',
          name: this.$t('breadcrumbs.account.dashboard')
        }
      ]
    },

    options() {
      return [
        {
          id: '458bbf2e-9f88-40a8-8e07-048cfe046857',
          route: 'account-personal-details',
          icon: 'account'
        },
        {
          id: '59505a8e-8591-4314-a04e-755782355f6d',
          route: 'account-address-book',
          icon: 'mapBook'
        },
        {
          id: '148e6ddc-15e3-4655-9c0e-cf0ab1c4b202',
          route: 'account-orders',
          icon: 'box'
        },
        {
          id: '2365ebd0-0f7b-4e9b-90cd-f3800a2dee9c',
          route: 'account-notifications',
          icon: 'bell'
        },
        {
          id: '91d2dbb0-f5c2-4dd7-b84b-93d967fea6f0',
          route: 'account-preview-request-submissions',
          icon: 'eye'
        },
        {
          id: 'b4886f32-5983-4ddd-960c-a6e006dbec2c',
          route: 'account',
          icon: 'search',
          hide: true
        },
        {
          id: 'd82edacc-be3f-49a5-9f3f-95d653e9471c',
          route: 'account-recommendations',
          icon: 'recommended'
        },
        {
          id: '362f10df-e054-4626-8a94-be4caf691661',
          route: 'wishlist',
          icon: 'wishlist'
        },
        {
          id: '86bfc811-218f-404e-a597-8ce7a1fc27e5',
          route: 'compare-list',
          icon: 'compare'
        }
      ]
        .map((o, index) => ({
          ...o,
          title: this.$t(`account.notifications.${index}.title`),
          descr: this.$t(`account.notifications.${index}.descr`)
        }))
        .filter((i) => !i.hide)
    }
  }
}
</script>

<style lang="sass" scoped>
$padding: 34px

.account-page
  &__sections
    margin-top: $padding
    @include margin-bottom()
    .button
      width: 100%
      margin-bottom: 20px
  &__options
    margin-right: -$padding
    margin-bottom: -$padding
    flex-wrap: wrap
    +mobile
      flex-direction: column
  &__option-wrapper
    padding-right: $padding
    padding-bottom: $padding
    width: 33.33%
    +mobile
      width: 100%
  &__option
    border: 1px solid $border-color
    padding: 24px 24px 24px 30px
    width: 100%
    &:hover
      text-shadow: 0 0 6px rgba(255, 255, 255, 1)
      -webkit-box-shadow: 0 1px 10px -2px rgba(0,0,0,0.25)
      -moz-box-shadow: 0 1px 10px -2px rgba(0,0,0,0.25)
      transition: all 0.4s ease 0s
    +tablet-only
      text-align: center
      flex-direction: column
      padding: 20px
  &__option-icon
    flex: 1
    align-items: center
    +tablet-only
      justify-content: center
  &__option-info
    flex: 4
    flex-direction: column
    +tablet-only
      flex: 3
      margin-top: 20px
  &__option-info-title
    font-size: 20px
    font-family: $lora
    font-style: italic
    +tablet-only
      flex: 1
  &__option-info-descr
    margin-top: 10px
    +tablet-only
      flex: 1
</style>
