<template lang="pug">
  nav#main-menu(ref="navbar")
    .container
      main-menu-desktop.is-hidden-mobile(v-if="$device.isDesktopOrTablet", :items="menuItems")
      .main-menu-mobile-wrapper(v-else, v-show="menuOpen")
        main-menu-mobile.is-hidden-tablet(:visible="menuOpen", :items="menuItems")
</template>

<script>
import { mapGetters } from 'vuex'
import rubyMainMenu from '~~/utils/definitions/menus/rubyMainMenu'
import emeraldMainMenu from '~~/utils/definitions/menus/emeraldMainMenu'

const mainMenu = {
  ruby: rubyMainMenu,
  emerald: emeraldMainMenu
}

export default {
  name: 'MainMenuComponent',

  components: {
    MainMenuDesktop: () => import('./MainMenuDesktop'),
    MainMenuMobile: () => import(/* webpackPrefetch: true */ './MainMenuMobile')
  },

  data: () => ({
    isPinned: false
  }),

  computed: {
    ...mapGetters({
      menuOpen: 'app/menuOpen'
    }),

    menuItems() {
      return mainMenu[this.$site.name].call(this)
    }
  },

  watch: {
    menuOpen(state) {
      if (state) {
        this.disableScrolling()
        return
      }
      this.enableScrolling()
    }
  },

  mounted() {
    const observer = new IntersectionObserver(
      ([e]) => e.target.classList.toggle('is-pinned', e.intersectionRatio < 1),
      { threshold: [1] }
    )

    observer.observe(this.$refs.navbar)
  },

  methods: {
    disableScrolling() {
      const html = document.getElementsByTagName('html')[0]
      html.classList.add('stop-scrolling')
    },

    enableScrolling() {
      const html = document.getElementsByTagName('html')[0]
      html.classList.remove('stop-scrolling')
    }
  }
}
</script>

<style lang="sass" scoped>
#main-menu
  width: 100%
  background-color: white
  top: -1px
  position: sticky
  z-index: 200
  +mobile
    z-index: 2001
  +desktop
    max-height: 35px
  &.is-pinned
    border: 1px solid $border-color
</style>
