<template lang="pug">
  .custom-designs(v-observe-visibility="{callback: initComponent, once: true, intersection: { rootMargin: '600px' }}")
    .custom-designs__wrapper(v-show="showComponent")
      .container
        .custom-designs__title.title
          span.is-italic {{ $t('detailsPage.customDesigns.title1') }}&nbsp;
          span {{ $t('detailsPage.customDesigns.title2') }}
        i18n.custom-designs__message(path="detailsPage.customDesigns.message", tag="div")
          v-link(:to="{name: `custom-design-${$site.name}-rings-jewelry`}") {{ $t('detailsPage.customDesigns.dyo') }}
      custom-design-filter-mobile.is-hidden-tablet(@change="onFilterChange")
      custom-design-filter.is-hidden-mobile(@change="onFilterChange")
      client-only
        .custom-designs__results
          .custom-designs__empty(v-if="loading && !designs.length") {{ $t('detailsPage.customDesigns.loading') }}
          custom-design-list(v-else-if="!!this.designs.length", :loading="loading")
          .custom-designs__empty(v-else) {{ $t('detailsPage.customDesigns.empty') }}
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'CustomDesignsSettings',

  components: {
    CustomDesignFilterMobile: () => import('./CustomDesignFilterMobile'),
    CustomDesignFilter: () => import('./CustomDesignFilter'),
    CustomDesignList: () => import('./CustomDesignsList')
  },

  props: {
    settingId: {
      type: String,
      required: true
    }
  },

  data: () => ({
    showComponent: true,
    loading: true
  }),

  computed: {
    ...mapState({
      designs: (state) => state.customItem.customDesigns
    })
  },

  beforeDestroy() {
    this.clearCustomDesigns()
  },

  methods: {
    ...mapActions({
      fetchCustomDesignsFilters: 'customItem/fetchCustomSettingsDesignsFilters',
      fetchCustomDesigns: 'customItem/fetchCustomSettingsDesigns',
      clearCustomDesigns: 'customItem/clearCustomDesigns'
    }),

    async onFilterChange() {
      this.loading = true
      await this.fetchCustomDesigns(this.settingId)
      this.loading = false
    },

    async initComponent(isVisible) {
      if (isVisible) {
        await this.fetchCustomDesignsFilters(this.settingId)
        await this.fetchCustomDesigns(this.settingId)
        this.loading = false
        this.showComponent = !!this.designs.length
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.custom-designs
  &__wrapper
    padding: 70px 0
    background-color: $third-bg-color
  &__title
    span
      white-space: normal
    +mobile
      font-size: 36px
  &__message
    text-align: center
    font-size: 18px
    a
      font-weight: bold
      color: $burgundy-color
  &__empty
    text-align: center
    margin-top: 20px
    font-size: 16px
  &__results
    min-height: 200px
</style>
