<template lang="pug">
section.main-filter(ref="mainFilter", v-on-clickaway="onClickAway")
  .container
    .main-filter__top-line.is-flex
      .main-filter__label
        span {{ $t('listingPage.filters.filters') }}&nbsp;
        span(v-if="totalFiltersCount") ({{ totalFiltersCount }})
      .main-filter__clear-all(@click="onClearAll") {{ $t('listingPage.filters.clearAll') }}
    #main-filter.main-filter__items.is-flex
      .main-filter__item-wrapper(v-for="(filter, index) in filters", :key="index")
        main-filter-item(:filter-name="index")
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'
import omit from 'lodash/omit'
import cloneDeep from 'lodash/cloneDeep'
import without from 'lodash/without'
import isEmpty from 'lodash/isEmpty'
import MainFilterItem from './MainFilterItem'
import { validUrlFilterNames } from '~~/utils/definitions/filters.js'
import hideOnScroll from '~~/utils/helpers/hideOnScroll.js'

export default {
  name: 'MainFilterComponent',

  components: {
    MainFilterItem
  },

  mixins: [clickaway],

  data: () => ({
    selectedFilter: ''
  }),

  computed: {
    selectedFilters() {
      return this.$store.getters['filters/selectedFilters'](this.type)
    },

    sticky() {
      return this.$refs.mainFilter.offsetTop - 70
    },

    type() {
      return this.$store.getters.typeList
    },

    filters() {
      return this.$store.getters[`filters/${this.type}SourceFilters`]
    },

    totalFiltersCount() {
      let count = 0
      Object.keys(this.$route.query).forEach((f) => {
        if (
          without(
            validUrlFilterNames,
            'sort-by',
            'order',
            'availability'
          ).includes(f)
        ) {
          if (Array.isArray(this.$route.query[f])) {
            count += this.$route.query[f].length
          } else {
            count++
          }
        }
      })
      return count
    }
  },

  watch: {
    filters: {
      deep: true,
      handler(to) {
        if (!isEmpty(to)) this.$root.$emit('filters-loaded')
      }
    }
  },

  beforeDestroy() {
    window.removeEventListener('scroll', this.onScrollHandler, false)
  },

  mounted() {
    const observer = new IntersectionObserver(
      ([e]) => e.target.classList.toggle('is-pinned', e.intersectionRatio < 1),
      { threshold: [1] }
    )
    observer.observe(this.$refs.mainFilter)

    hideOnScroll(this.$refs.mainFilter)
  },

  methods: {
    onSelectedFilterChangeHandler(filter) {
      if (this.selectedFilter === filter) {
        this.selectedFilter = ''
        return
      }
      this.selectedFilter = filter
    },

    onClickAway() {
      this.selectedFilter = ''
    },

    flushQuery(query) {
      return omit(
        cloneDeep(query),
        without(validUrlFilterNames, 'sort-by', 'order')
      )
    },

    onClearAll() {
      this.$router.push({ query: this.flushQuery(this.$route.query) })
    }
  }
}
</script>

<style lang="sass" scoped>
.main-filter
  margin-top: -35px
  background-color: #ffffff
  position: sticky
  z-index: 198
  top: -1px
  padding-bottom: 20px
  padding-top: 35px
  transition: all .3s ease
  &.is-pinned
    border: 1px solid $border-color
    &.hide
      top: -225px
  &__wrapper
    margin-top: -35px
  &__top-line
    padding: 20px
    justify-content: space-between
  &__clear-all
    font-weight: bold
    text-decoration: underline
    cursor: pointer
  &__label
    text-transform: uppercase
  &__items
    flex-wrap: wrap
    margin-left: -8px
    margin-top: -8px
    +tablet
      min-height: 49px
    .main-filter-item
      width: 100%
  &__item-wrapper
    padding-left: 8px
    padding-top: 8px
    width: 16.6%
    +desktop
      width: 20%
    +tablet-only
      width: 25%
</style>
