<template lang="pug">
.main-filter-item.is-flex(ref="filter-button", :class="{expanded: !collapsed}", @mouseenter="onHoverInHandler", @mouseleave="onHoverOutHandler", v-on-clickaway="onClickAway")
  .main-filter-item__inner.is-flex
    i.fa.fa-xmark(v-if="selectedFiltersCount > 0", @click="onClearAll")
    span.main-filter-item__inner-filter-name {{ $t(`listingPage.filters.${filterName}`) }}
    span.badge(v-if="selectedFiltersCount") {{ selectedFiltersCount }}
  i.fa.fa-caret-down
  .main-filter-item__dropdown-wrapper(ref="dropdown", :class="kebabCase(filterName)")
    transition(name="dropdown", mode="out-in")
      .main-filter-item__dropdown(v-if="!collapsed")
        .main-filter-item__dropdown-header.is-flex
          .main-filter-item__dropdown-header--left {{ $t(`listingPage.filters.${filterName}`) }}
          .main-filter-item__dropdown-header--right
            span(@click="onClearAll") {{ $t('listingPage.filters.summary.clearAll') }}
        component(:is="filterComponent.name", :key="filterComponent.filterName", :filter-params="filterComponent")
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'
import kebabCase from 'lodash/kebabCase'
import { mapGetters, mapState } from 'vuex'
import omit from 'lodash/omit'
import cloneDeep from 'lodash/cloneDeep'
import { filtersNamesMap } from '~~/utils/definitions/filters'
import filtersMixin from '~~/mixins/filtersMixin'
import { menuOpenDelay } from '~~/utils/definitions/defaults.js'

export default {
  name: 'MainFilterItem',

  components: {
    MainFilterAreaSimple: () => import('./Views/MainFilterAreaSimple'),
    MainFilterAreaRange: () => import('./Views/MainFilterAreaRange'),
    MainFilterAreaPriceRange: () => import('./Views/MainFilterAreaPriceRange'),
    MainFilterAreaDimensions: () => import('./Views/MainFilterAreaDimensions'),
    MainFilterAreaCenterSideShapes: () =>
      import('./Views/MainFilterAreaCenterSideShapes')
  },

  mixins: [clickaway, filtersMixin],

  props: {
    filterName: {
      type: String,
      required: true,
      timeout: null
    }
  },

  data: () => ({
    popperInstance: null,
    collapsed: true
  }),

  computed: {
    ...mapState({
      loading: (state) => state.loading
    }),

    ...mapGetters({
      selectedFilters: 'filters/selectedFilters'
    }),

    type() {
      return this.$store.getters.typeList
    },

    filters() {
      return this.$store.getters[`filters/${this.type}SourceFilters`]
    },

    selectedFiltersCount() {
      let filterCount = 0
      if (this.filterName === 'dimensions') {
        filterCount += this.getFilterCount('lengthRange')
        filterCount += this.getFilterCount('widthRange')
      } else if (this.filterName === 'stonesShapes') {
        filterCount += this.getFilterCount('centerStoneShapes')
        filterCount += this.getFilterCount('sideStoneShapes')
      } else {
        filterCount += this.getFilterCount(this.filterName)
      }
      return filterCount
    }
  },

  beforeDestroy() {
    this.popperInstance?.destroy()
    this.$root.$off('filter-expanded', this.onCollapseFilter)
  },

  mounted() {
    this.initDropdown()
    this.$root.$on('filter-expanded', this.onCollapseFilter)
  },

  methods: {
    async initDropdown() {
      this.popperInstance = await this.$popper.insert(
        this.$refs['filter-button'],
        this.$refs.dropdown,
        {
          placement: 'bottom-start',
          modifiers: [
            {
              name: 'flip',
              enabled: false
            }
          ]
        }
      )
    },

    getFilterCount(filter) {
      let filterCount = 0
      const filterName = filtersNamesMap[filter]
      if (filter.includes('Range')) {
        if (this.$route.query[filterName + '-min']) filterCount++
        if (this.$route.query[filterName + '-max']) filterCount++
      }
      if (Array.isArray(this.$route.query[filterName])) {
        filterCount += this.$route.query[filterName].length
      } else if (typeof this.$route.query[filterName] === 'string') {
        filterCount += 1
      }
      return filterCount
    },

    onCollapseFilter(filterName) {
      if (this.filterName !== filterName) this.collapsed = true
    },

    onClickAway() {
      this.collapsed = true
    },

    flushQuery(query) {
      const filters = [filtersNamesMap[this.filterName]]
      if (this.filterName.includes('Range')) {
        filters.push(filtersNamesMap[this.filterName] + '-min')
        filters.push(filtersNamesMap[this.filterName] + '-max')
      }
      if (this.filterName === 'dimensions') {
        filters.push(...['length-max', 'width-max', 'length-min', 'width-min'])
      }
      return omit(
        cloneDeep(query),
        filters.filter((f) => f)
      )
    },

    onClearAll() {
      this.$router.push({ query: this.flushQuery(this.$route.query) })
    },

    getFilterBorders(filter) {
      if (filter === 'dimensions') {
        const lengthBorders = Object.values(this.filters[filter].lengthRange[0])
        const widthBorders = Object.values(this.filters[filter].widthRange[0])
        return [...lengthBorders, ...widthBorders]
      }
      if (/Range/.test(filter)) {
        return Object.values(this.filters[filter][0])
      }
      return []
    },

    kebabCase,

    onHoverInHandler() {
      this.timeout = setTimeout(this.onHoverIn, menuOpenDelay)
    },

    onHoverOutHandler() {
      if (this.timeout) clearTimeout(this.timeout)
      this.onHoverOut()
    },

    onHoverIn() {
      if (!this.popperInstance) return
      this.$root.$emit('filter-expanded', this.filterName) // all other filters should be collapsed
      this.collapsed = false

      // Enable the event listeners
      this.popperInstance.setOptions((options) => ({
        ...options,
        modifiers: [
          ...options.modifiers,
          { name: 'eventListeners', enabled: true }
        ]
      }))

      // Update its position
      this.popperInstance.update()
    },

    onHoverOut() {
      // don't close on loading overlay
      if (this.loading || !this.popperInstance) return
      this.collapsed = true

      // Disable the event listeners
      this.popperInstance.setOptions((options) => ({
        ...options,
        modifiers: [
          ...options.modifiers,
          { name: 'eventListeners', enabled: false }
        ]
      }))
      this.popperInstance.update()
    }
  }
}
</script>

<style lang="sass" scoped>
@include fade-transition('dropdown')
.main-filter-item
  cursor: pointer
  position: relative
  padding: 9px 20px
  border: 1px solid $border-color
  border-radius: 23px
  justify-content: space-between
  align-items: center
  &__dropdown-header
    justify-content: space-between
  &__dropdown-header--left
    text-transform: capitalize
    font-size: 18px
    font-weight: bold
  &__dropdown-header--right
    text-decoration: underline
    font-weight: bold
    cursor: pointer
  &__inner-filter-name
    text-transform: capitalize
    font-weight: bold
  &__inner
    align-items: center
    .badge
      display: inline-flex
      align-items: center
      justify-content: center
      width: 17px
      height: 17px
      @include border-radius(50%)
      background-color: $dark-primary-color
      color: #fff
      text-align: center
      margin-left: 5px
  .fa-xmark
    font-size: 18px
    margin-right: 10px
  &.expanded
    .main-filter-item__dropdown-wrapper
      padding-top: 8px
      margin-top: unset !important
    .fa-caret-down
      transform: rotate(-180deg)
  &__dropdown-wrapper
    margin-top: 8px !important
    width: calc(100% * 6)
    max-width: 580px
    position: absolute
    left: 0
    top: calc(100%)
    z-index: 10
    &.stones-shapes
      max-width: calc(100% * 4 + 30px)
      +tablet-only
        max-width: 400%
  &__dropdown
    background: #ffffff
    border: 1px solid $border-color
    padding: 20px
    @include box-shadow(0 2px 10px 2px, rgba(0,0,0,0.13))
</style>
