<template lang="pug">
.cart-steps.is-flex
  .cart-step.is-flex(v-for="step in steps", :key="step.id", :class="{active: active === step.number}")
    .cart-step-number.is-flex {{ step.number }}
    .cart-step-name {{ step.name }}
</template>

<script>
export default {
  name: 'CartStepsComponent',

  props: {
    active: {
      type: Number,
      default: 1
    }
  },

  computed: {
    steps() {
      return [
        {
          id: '0d8b0d6d-70da-4875-9d34-affab1ba3fb8',
          number: 1,
          name: this.$t('cart.screens.addressShipping')
        },
        {
          id: '94766025-c722-419e-a880-e3b9ecc18a9b',
          number: 2,
          name: this.$t('cart.screens.paymentOrder')
        }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
.cart-steps
  height: 61px
  align-items: center
  position: relative
  justify-content: center
  &:after
    content: ''
    position: absolute
    border-top: 1px solid $border-color
    width: 100%
    top: 20px
  .cart-step + .cart-step
    margin-left: 50px
  .cart-step
    flex-direction: column
    align-items: center
    color: $border-color-disabled
    &-number
      width: 40px
      height: 40px
      border: 1px solid $border-color-disabled
      border-radius: 50%
      align-items: center
      justify-content: center
      background-color: white
      z-index: 1
    &-name
      text-transform: uppercase
      font-weight: 700
      +mobile
        text-align: center
    &.active
      color: $default-font-color
      &-number
        border: 1px solid $border-color
</style>
