<template lang="pug">
  .dyo-view.container
    .dyo-view-header.is-flex
      .setting.is-flex
        icon(iconName="menuRing", iconColor="primary", width="24", height="24")
        span {{ $t('layout.mainMenu.setting') }}
      .or {{ $t('layout.mainMenu.or') }}
      .ruby.is-flex
        icon(iconName="menuStone", iconColor="primary", width="24", height="24")
        span {{ $t('layout.mainMenu.startWithStone') }}
    .dyo-view-body.lazy(data-lazy-function="loaded")
      .dyo-view-body-columns.is-flex
        .body-column.left-column.is-flex
          .sub-menu(v-for="(menu, index) in leftMenus", :key="index")
            .sub-menu-title {{ $t(`layout.mainMenu.${menu}`) }}
            .sub-menu-item(v-for="item in item.leftItems[menu]", :key="item.id")
              v-link.is-flex(@click.native="$emit('collapse')", :to="item.to")
                icon(:iconName="item.icon", iconColor="#2e2e2e", width="50", height="30")
                span {{ item.text }}
          .video.is-flex
            v-image(@click="onVideoPlayHandler", src="mainMenu/video@2x.jpg")
            .video-info.is-flex
              .video-info-button.is-flex(@click="onVideoPlayHandler")
                span {{ $t('layout.mainMenu.watchVideo') }}
                icon(iconName="playVideo")
              v-link.learn-more.button.gold-color.light(@click.native="$emit('collapse')", :to="routeToPresentation") {{ $t('layout.mainMenu.learnMore') }}
        .body-column.right-column.is-flex
          .sub-menu(v-for="(menu, index) in rightMenus", :key="index", :class="menu")
            .sub-menu-title {{ $t(`layout.mainMenu.${menu}`) }}
            .sub-menu-item(v-for="item in item.rightItems[menu]", :key="item.id")
              v-link(@click.native="$emit('collapse')", :to="item.to") {{ item.text }}
</template>

<script>
export default {
  name: 'DyoComponent',

  props: {
    item: {
      type: Object,
      required: true
    }
  },

  computed: {
    routeToPresentation() {
      return {
        name: 'custom-design-ruby-rings-jewelry'
      }
    },

    leftMenus() {
      return Object.keys(this.item.leftItems)
    },

    rightMenus() {
      return Object.keys(this.item.rightItems)
    }
  },

  methods: {
    onVideoPlayHandler() {
      this.$root.$emit('create-process-video')
    }
  }
}
</script>

<style lang="sass" scoped>
.dyo-view-body
  position: relative
  z-index: 1
  font-size: 16px
.dyo-view-body:after
  content: ''
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-size: 125%
  background-repeat: no-repeat
  background-position: top left
  z-index: -1
  background-color: #fff
  +touch
    background-size: cover
@include background-image-after('dyo-view-body', 'mainMenu/bg', 'jpg')

.dyo-view
  width: 100%
  @include box-shadow(0 0 5px 0, rgba(0,0,0,0.2))
  padding: 0
  &-header
    height: 60px
    align-items: center
    text-align: center
    font-size: 18px
    font-weight: 600
    background-color: $secondary-bg-color
    > *
      flex: 3
      justify-content: center
      align-items: center
    .or
      flex: 1
      text-transform: uppercase
    .setting,
    .ruby
      span
        margin-left: 15px
    .setting
      svg
        transform: rotate(-45deg)
  &-body
    padding: 35px
    .left-column,
    .body-column
      flex: 1
    .body-column + .body-column
      border-left: 1px solid $border-color
    .left-column
      padding-right: 35px
      +touch
        flex-direction: column
      .sub-menu
        flex: 1
        flex-basis: 160px
        &-item
          a
            align-items: center
          span
            margin-left: 20px
      .learn-more
        font-style: normal
        font-size: 16px
        max-width: 250px
        text-align: center
      .video
        background-color: $secondary-bg-color
        flex-direction: column
        margin-left: 35px
        flex: auto
        +touch
          margin-left: unset
          margin-top: 35px
        &-info
          height: 100%
          flex-direction: column
          align-items: center
          justify-content: center
          font-style: italic
          +touch
            padding: 20px
          &-button
            margin-bottom: 25px
            font-size: 15px
            color: $gold-color
            align-items: center
            cursor: pointer
            svg
              margin-left: 10px
        & ::v-deep img
          width: 100%
          cursor: pointer
    .right-column
      padding-left: 35px
      justify-content: space-between
      +touch
        flex-wrap: wrap
      .sub-menu
        +touch
          width: 50%
          &.shopByOrigin
            order: 1
          &.shopByShape
            order: 3
          &.shopByPrice
            order: 2
          &.shopByCarat
            order: 4
    .left-column,
    .right-column
      .sub-menu
        & > *:not(:last-child)
          margin-bottom: 20px
        &:not(:first-child)
          margin-left: 30px
          +touch
            margin-left: unset
        &-title
          font-size: 17px
          font-weight: 700
</style>
