<template lang="pug">
  .simple-view.is-flex.lazy(data-lazy-function="loaded", :class="item.class")
    .item-example.lazy(data-lazy-function="loaded", :class="`items-${item.class}`")
    v-link.sub-menu-item(@click.native="$emit('collapse')", :to="i.to", :type="i.type", v-for="i in item.items", :key="i.id") {{ i.text }}
</template>

<script>
export default {
  name: 'SimpleComponent',

  props: {
    item: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="sass" scoped>
@include background-image-after('simple-view', 'mainMenu/bg', 'jpg')
@include background-image('items-rings', 'mainMenu/rings', 'png')
@include background-image('items-jewelries', 'mainMenu/jewelries', 'png')
@include background-image('items-stones', 'mainMenu/stones', 'png')
@include background-image('items-origin', 'mainMenu/stones', 'png')
@include background-image('items-settings', 'mainMenu/settings', 'png')
.simple-view
  position: relative
  min-height: 350px
  padding: 45px
  flex-direction: column
  font-size: 18px
  font-weight: 700
  z-index: 1
  background-color: #fff
  @include box-shadow(0 0 5px 0, rgba(0,0,0,0.2))
  a
    z-index: 1
  &:after
    content: ''
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-size: 125%
    background-repeat: no-repeat
    background-position: top left
    z-index: -1
  .item-example
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-size: 45%
    background-repeat: no-repeat
    background-position-y: center
    background-position-x: 80%
    &.items-jewelries
      background-position-y: top
      background-size: 55%
    &.items-origin
      background-position-y: center
      background-size: 40%
      background-position-x: calc(100% - 20px)
  .sub-menu-item
    color: $default-font-color
    &:not(:last-child)
      margin-bottom: 20px
</style>
