<template lang="pug">
  .page
</template>

<script>
export default {
  name: 'SettingsDetailsPage',

  fetch({ redirect, route }) {
    const newRoute = {
      ...route,
      name: route.name.replace(
        'emerald-necklaces-settings',
        'emerald-necklace-pendant-settings'
      )
    }

    redirect(301, newRoute)
  }
}
</script>
