<template lang="pug">
  .edu__wrapper-content(ref="content")
    h1.edu-title.is-italic(v-html="page.title.rendered")
    .edu__pages.is-flex(v-if="$route.query.type ==='list'")
      .edu__pages-page(v-for="page in pages")
        v-image(:src="getImageSrc(page)", :alt="page.title.rendered").edu__pages-page-image
        v-link(v-html="page.title.rendered", :to="page.link").edu__pages-page-title
        .edu__pages-page-descr(v-html="page.excerpt.rendered")
    .edu__content(v-else, v-interpolation, v-html="page.content.rendered", ref="content")
    share(:title="title", :image="image", :description="description")
</template>

<script>
import get from 'lodash/get'
import { mapState } from 'vuex'
import cloneDeep from 'lodash/cloneDeep'
import index from './_slug/index'

export default {
  name: 'EduPage',

  extends: index,

  scrollToTop: true,

  async fetch(context) {
    try {
      const { route, redirect } = context
      if (route.query.type === 'list') {
        await fetchList(context)
        return
      }
      if (route.query.type === 'page') {
        const r = cloneDeep(route)
        delete r.query.type
        redirect(301, r)
        return
      }
      await fetchArticle(context)
    } catch (e) {
      if (context.$sentry && context.$sentry.captureException) {
        context.$sentry.captureException(e)
      } else {
        console.log(e)
      }
    }
  },

  computed: {
    ...mapState({
      pages: (state) => state.wordpress.pages
    })
  },

  methods: {
    getImageSrc(page) {
      return get(page, '_embedded.wp:featuredmedia[0].source_url', '')
    }
  }
}

async function fetchList({ store, route, error, $sentry }) {
  try {
    await store.dispatch('wordpress/fetchMenu', route)
    await store.dispatch('wordpress/fetchPage', {
      slug: route.params.category,
      omitContent: true
    })
    const { id } = store.state.wordpress.page

    await store.dispatch(
      'wordpress/fetchPages',
      `?parent=${id}&per_page=20&order=asc&orderby=modified&_embed`
    )
  } catch (e) {
    if ($sentry && $sentry.captureException) $sentry.captureException(e)
    console.log('Wordpress articles fetch issue', e)
    error({ statusCode: 404, message: 'This page could not be found' })
  }
}

async function fetchArticle({ store, route, error, $sentry }) {
  try {
    await store.dispatch('wordpress/fetchMenu', route)
    if (route.query.type === 'post') {
      await store.dispatch('wordpress/fetchPost', {
        slug: route.params.category
      })
      return
    }
    await store.dispatch('wordpress/fetchPage', {
      slug: route.params.category
    })
  } catch (e) {
    if ($sentry && $sentry.captureException) $sentry.captureException(e)
    console.log('Wordpress articles fetch issue', e)
    error({ statusCode: 404, message: 'This page could not be found' })
  }
}
</script>

<style lang="sass" scoped>
.edu
  &__wrapper-content
    flex: 2
    width: 66.66%
    +mobile
      width: 100%
  &__wrapper-side
    flex: 1
    width: 33.33%
    +mobile
      width: 100%
</style>
