<template lang="pug">
.radio-button-wrapper
  .radio-button.is-flex(@click="onCLickHandler")
    span.radio-button-label
      slot
    input(type="radio", :checked="value === val", :value="val", :name="name")
    span.checkmark
</template>

<script>
export default {
  name: 'RadioComponent',

  props: {
    value: {
      type: [String, Number, Boolean, Object],
      required: true
    },

    val: {
      type: [String, Number, Boolean, Object],
      default: ''
    },

    name: {
      type: String,
      required: true
    }
  },

  methods: {
    onCLickHandler() {
      this.$emit('input', this.val)
      this.$emit('change', this.val)
    }
  }
}
</script>

<style lang="sass" scoped>
.radio-button
  align-items: center
  display: block
  position: relative
  padding-left: 35px
  margin-bottom: 15px
  cursor: pointer
  font-size: 22px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  min-height: 34px
  &-wrapper
    display: inline-block
  .radio-button-label
    margin-left: 10px
    font-size: 16px
  input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0
  .checkmark
    &:after
      top: 4px
      left: 4px
      height: 24px
      width: 24px
      border-radius: 50%
      background-color: $dark-primary-color
  &:hover
    input ~ .checkmark
      background-color: white
      &:after
        display: block
        position: absolute
        top: 4px
        left: 4px
        height: 24px
        width: 24px
        background-color: #eee
        border-radius: 50%

  input:checked ~ .checkmark:after
    display: block
    background-color: $dark-primary-color

.checkmark
  position: absolute
  top: 0
  bottom: 0
  left: 0
  height: 34px
  width: 34px
  margin: auto
  background-color: white
  border-radius: 50%
  border: 1px solid $border-color
  &:after
    content: ''
    position: absolute
    display: none
</style>
