<template lang="pug">
.vedic-section
  .vedic-section__first-line
    .vedic-section__message {{ $t('detailsPage.mainDetails.vedicText') }}
    strong.vedic-section__message--cta {{ $t('detailsPage.mainDetails.vedicTextCTA') }}
  .vedic-section__second-line.is-flex
    .vedic-section__checkbox
      checkbox(:disabled="disabled", :value="!!value", @input="$emit('input', $event)") {{ $t('detailsPage.mainDetails.chooseVedic') }}
  .vedic-section__third-line.is-flex
    v-link(type="native", target="_blank", :to="localePath({ name: 'education-index-category-slug', params: { category: 'ruby-history', slug: 'rubies-jyotisha-vedic-astrology' }})") {{ $t('detailsPage.mainDetails.vedicLearnMore') }}
</template>

<script>
export default {
  name: 'VedicSection',

  components: {
    Checkbox: () => import('~~/components/Common/Checkbox')
  },

  props: {
    value: {
      type: [Boolean, String],
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="sass" scoped>
.vedic-section
  padding: 0 15px
  &__image
    width: 100%
    height: 100%
  &__second-line,
  &__third-line
    margin-top: 20px
  &__third-line
    font-size: 16px
    margin-bottom: 25px
    a
      color: $gold-color
  &__message--cta
    margin-top: 20px
    display: block
  &__checkbox
    border: 1px solid $gold-color
    padding-top: 9px
    padding-left: 12px
    padding-right: 30px
    color: $gold-color
    font-weight: bold
    text-transform: uppercase
    .checkbox
      margin-bottom: 9px
      height: 24px
      &:hover
        ::v-deep
          .checkbox-label
            color: $gold-color
          input ~ .checkmark
            &::after
              left: 7px
              top: 2px
      ::v-deep
        input:checked ~ .checkmark
          background-color: white
        input:checked ~ .checkmark:after
          border: solid $gold-color
          border-width: 0 3px 3px 0
        .checkbox-label
          margin-left: 0
          font-size: 14px
        .checkmark
          height: 24px
          width: 24px
          &::after
            left: 7px
            top: 2px
</style>
