<template lang="pug">
  component(:is="componentName", :item="item")
</template>

<script>
export default {
  name: 'QuestionAboutProductComponent',

  components: {
    QuestionAboutProductCommon: () => import('./QuestionAboutProductCommon'),
    QuestionAboutProductCustom: () => import('./QuestionAboutProductCustom')
  },

  props: {
    item: {
      type: Object,
      required: true
    }
  },

  computed: {
    componentName() {
      if (this.item.category === 'Custom') return 'QuestionAboutProductCustom'
      return 'QuestionAboutProductCommon'
    }
  }
}
</script>

<style lang="sass" scoped></style>
