<template lang="pug">
  modal.question-about-product(v-show="mounted", ref="modal", transition="modal", :max-width="1200", :width="width", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-header
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body.question
      .question-title.is-italic {{ $t('detailsPage.question.haveQuestion') }}
      .question-title-sub {{ $t('detailsPage.question.subTitle') }}
      .question-item.is-flex
        .question-item-image(:class="getItemClass()")
          v-image(:src="item.thumbnails[0].micro")
        .question-item-params(:class="getItemClass()")
          .question-item-param.is-flex(v-for="param in itemParams", :key="param.id")
            .param-label {{ param.label }}
            .param-value(v-html="param.value || $t('common.unknown')")
        .question-item-price.is-flex(v-if="!isSetting")
          span {{ $t('detailsPage.question.price') }}&nbsp;
          price(:item="item")
      .question-company
        p
          strong {{ $t('detailsPage.question.warningText1') }}
        p {{ $t('detailsPage.question.warningText2') }}
        p {{ $t('detailsPage.question.warningText3') }}
      question-about-product-form(:item="item", @submitted="onSubmitFinish")
</template>

<script>
import { mapGetters } from 'vuex'
import camelCase from 'lodash/camelCase'
import get from 'lodash/get'
import QuestionAboutProductForm from './QuestionAboutProductForm'
import { settingsByCategory } from '~~/utils/sitemapUtils'
import modalMixin from '~~/mixins/modalMixin'
import {
  caratFormatter,
  moneyFormatter,
  tcwFormatter
} from '~~/utils/formatters'

export default {
  name: 'QuestionAboutProductCommonComponent',

  components: {
    Price: () => import('~~/components/Common/Price'),
    QuestionAboutProductForm
  },

  filters: {
    moneyFormatter
  },

  mixins: [modalMixin],

  props: {
    item: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    modalEvent: 'question-about-product',
    modalName: 'question-about-product',
    width: '50%'
  }),

  computed: {
    ...mapGetters({
      shareLinkId: 'shareProduct/shareLinkId'
    }),

    isSetting() {
      return settingsByCategory.includes(this.item.category)
    },

    itemParams() {
      return this[`${camelCase(this.item.category)}Params`]
    },

    stoneParams() {
      return [
        {
          id: '67155e6d-978c-4f08-8999-fccf28002b56',
          label: this.$t('detailsPage.question.itemId'),
          value: this.item.id
        },
        {
          id: '1075ddde-cafa-47a5-8545-84563591995b',
          label: this.$t('detailsPage.question.weight'),
          value: caratFormatter(this.item.weight)
        },
        {
          id: 'f8dc0c8f-9cd4-4c19-8176-3a2519e23b06',
          label: this.$t('detailsPage.question.origin'),
          value: this.item.origin
        },
        {
          id: 'f3b7685d-32af-400a-9a68-2b6dd7bd115e',
          label: this.$t('detailsPage.question.color'),
          value: this.item.color
        },
        {
          id: '2780ff3f-2300-4d20-942e-ac8023bc555b',
          label: this.$t('detailsPage.question.shape'),
          value: this.item.shape
        }
      ]
    },

    pairParams() {
      return [
        {
          id: '67155e6d-978c-4f08-8999-fccf28002b56',
          label: this.$t('detailsPage.question.itemId'),
          value: this.item.id
        },
        {
          id: '1075ddde-cafa-47a5-8545-84563591995b',
          label: this.$t('detailsPage.question.weight'),
          value: tcwFormatter.call(this, this.item.totalWeight)
        },
        {
          id: 'f8dc0c8f-9cd4-4c19-8176-3a2519e23b06',
          label: this.$t('detailsPage.question.origin'),
          value: get(this.item, 'stones[0].origin', '')
        },
        {
          id: 'f3b7685d-32af-400a-9a68-2b6dd7bd115e',
          label: this.$t('detailsPage.question.color'),
          value: get(this.item, 'stones[0].color', '')
        },
        {
          id: '2780ff3f-2300-4d20-942e-ac8023bc555b',
          label: this.$t('detailsPage.question.shape'),
          value: get(this.item, 'stones[0].shape', '')
        }
      ]
    },

    ringParams() {
      return [
        {
          id: '67155e6d-978c-4f08-8999-fccf28002b56',
          label: this.$t('detailsPage.question.itemId'),
          value: this.item.id
        },
        {
          id: 'ff60299e-32a0-410c-abd8-5666bf896b10',
          label: this.$t('detailsPage.question.metalType'),
          value: get(this.item, 'metal.value', '')
        },
        {
          id: '8beb74b9-32a2-4c62-98e7-cee7fe565608',
          label: this.$t('detailsPage.question.centerStone'),
          value: get(this.item, 'centerStones[0].stoneType', '')
        },
        {
          id: 'fee50922-2901-47e5-8549-c3edb9738885',
          label: this.$t('detailsPage.question.centerStoneWeight'),
          value: caratFormatter(
            get(this.item, 'centerStones[0].totalWeight', 0)
          )
        },
        {
          id: '3d9e65e8-3e1b-4671-9397-246741987a0d',
          label: this.$t('detailsPage.question.centerStoneOrigin'),
          value: get(this.item, 'centerStones[0].origin', '')
        },
        {
          id: '0c534319-7475-4547-af4c-d0147cedfcc2',
          label: this.$t('detailsPage.question.centerStoneShape'),
          value: get(this.item, 'centerStones[0].shape', '')
        }
      ]
    },

    earringParams() {
      return [
        {
          id: '67155e6d-978c-4f08-8999-fccf28002b56',
          label: this.$t('detailsPage.question.itemId'),
          value: this.item.id
        },
        {
          id: 'ff60299e-32a0-410c-abd8-5666bf896b10',
          label: this.$t('detailsPage.question.metalType'),
          value: get(this.item, 'metal.value', '')
        },
        {
          id: '8beb74b9-32a2-4c62-98e7-cee7fe565608',
          label: this.$t('detailsPage.question.centerStone'),
          value: get(this.item, 'centerStones[0].stoneType', '')
        },
        {
          id: 'fee50922-2901-47e5-8549-c3edb9738885',
          label: this.$t('detailsPage.question.centerStoneWeight'),
          value: tcwFormatter.call(
            this,
            get(this.item, 'centerStones[0].totalWeight', 0)
          )
        },
        {
          id: '3d9e65e8-3e1b-4671-9397-246741987a0d',
          label: this.$t('detailsPage.question.centerStoneOrigin'),
          value: get(this.item, 'centerStones[0].origin', '')
        },
        {
          id: '0c534319-7475-4547-af4c-d0147cedfcc2',
          label: this.$t('detailsPage.question.centerStoneShape'),
          value: get(this.item, 'centerStones[0].shape', '')
        }
      ]
    },

    pendantParams() {
      return this.ringParams
    },

    necklaceParams() {
      return this.ringParams
    },

    braceletParams() {
      return this.earringParams
    },

    weddingBandParams() {
      return [
        ...this.plainBandParams,
        {
          id: '59a43ff9-6384-47a1-8d40-52bdb4645732',
          label: this.$t('detailsPage.question.stonesWeight'),
          value: caratFormatter(this.item.totalCarat)
        }
      ]
    },

    plainBandParams() {
      return [
        {
          id: '68ab66cf-fa62-48c9-b756-e3d8db742f5c',
          label: this.$t('detailsPage.question.itemId'),
          value: this.$h.getItemFullId(this.item)
        },
        {
          id: '7476ac6b-cfa8-44ea-b3ec-733960be9ace',
          label: this.$t('detailsPage.question.metalType'),
          value: this.item.metalName
        },
        {
          id: 'fbead137-d04e-48ce-8335-02536372e81d',
          label: this.$t('detailsPage.question.metalWeight'),
          value: caratFormatter(this.item.metalWeight)
        },
        {
          id: '86c6f078-9bb6-4279-b2b1-1f09be751c86',
          label: this.$t('detailsPage.question.styleName'),
          value: this.item.styleName
        }
      ]
    },

    settingRingParams() {
      return [
        {
          id: '68ab66cf-fa62-48c9-b756-e3d8db742f5c',
          label: this.$t('detailsPage.question.itemId'),
          value: this.$h.getItemFullId(this.item)
        },
        {
          id: 'ff60299e-32a0-410c-abd8-5666bf896b10',
          label: this.$t('detailsPage.question.metalType'),
          value: this.item.metalName
        }
      ]
    },

    settingEarringParams() {
      return this.settingRingParams
    },

    settingPendantParams() {
      return this.settingRingParams
    },

    settingNecklaceParams() {
      return this.settingRingParams
    }
  },

  methods: {
    getItemClass() {
      return this.item.category
        .toLowerCase()
        .replace(' ', '-')
        .replace('_', '-')
    },

    onSubmitFinish() {
      this.onCloseHandler()
      this.$sweetalert.insert({
        title: this.$t('detailsPage.question.swal.title'),
        text: this.$t('detailsPage.question.swal.text'),
        type: 'success',
        confirmButtonText: this.$t(
          'detailsPage.question.swal.confirmButtonText'
        )
      })
    }
  }
}
</script>

<style lang="sass" scoped>
.v--modal-overlay
  overflow: auto
  //z-index: 10000 // to overlap tooltips
.question-about-product
  ::v-deep
    .v--modal-box
      +tablet-only
        width: 80% !important
      +mobile
        width: 100% !important
        left: 0 !important
.modal-header
  position: relative
  height: 30px
  .close-button
    cursor: pointer
    position: absolute
    top: 10px
    right: 10px
    align-items: center
    text-transform: uppercase
    svg
      margin-left: 5px
      height: 15px
      width: 15px
.question
  padding: 30px 60px
  +touch
    padding: 20px 30px
  &-title
    font-size: 36px
    font-family: $lora
    font-weight: 400
    text-align: center
    margin-bottom: 20px
    &-sub
      text-align: center
  &-item
    margin-top: 15px
    padding: 40px
    background-color: $secondary-bg-color
    flex-wrap: wrap
    +mobile
      padding: 20px
      flex-direction: column
    &-image,
    &-params
      width: 50%
      +mobile
        width: 100%
    &-price
      justify-content: center
      width: 100%
    &-image
      &.bracelet,
      &.earring,
      &.ring,
      &.necklace,
      &.pendant
        width: 33.33%
        +mobile
          width: 100%
      ::v-deep
        img
          border: 1px solid $border-color
    &-params
      padding-left: 15px
      +mobile
        padding: 0 15px
      +mobile
        margin-top: 15px
      &.bracelet,
      &.earring,
      &.ring,
      &.necklace,
      &.pendant
        width: 66.66%
        +mobile
          width: 100%
    &-param
      justify-content: space-between
      &:not(:last-child)
        margin-bottom: 5px
      > div
        width: 50%
      .param-label
        text-transform: uppercase
        color: $dark-green
        font-family: $lato
        font-weight: 900
      .param-value
        font-family: $lato
        font-weight: 900
        padding-left: 5px
    &-price
      margin-top: 10px
      text-align: center
      &-total
        margin-top: 15px
        padding-top: 15px
        border-top: 1px solid $border-color
        font-size: 18px
        width: 100% !important
  &-company
    @extend .question-item
    background-color: $light-primary-color
  &-form
    margin-top: 10px
</style>
