<template lang="pug">
  modal.question-about-product(v-show="mounted", ref="modal", transition="modal", :max-width="1200", :width="width", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-header
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body.question
      .question-title.is-italic {{ $t('detailsPage.question.haveQuestion') }}
      .question-title-sub {{ $t('detailsPage.question.subTitle') }}
      .question-item
        .question-item__design-id(v-if="designId") {{ $t('detailsPage.question.designId') }}: {{ designId }}
        .question-item__wrapper.is-flex
          .question-item-stone.is-flex
            .question-item-image
              v-image(:src="customStone.thumbnails[0].micro")
            .question-item-params
              .question-item-param.is-flex(v-for="param in customStoneParams", :key="param.id")
                .param-label {{ param.label }}
                .param-value(v-html="param.value || $t('common.unknown')")
          .question-item-setting.is-flex
            .question-item-image
              v-image(:src="customSetting.thumbnails[0].micro")
            .question-item-params
              .question-item-param.is-flex(v-for="param in customSettingParams", :key="param.id")
                .param-label {{ param.label }}
                .param-value {{ param.value }}
          .question-item-price.stone-price
            price(:item="customStone")
          .question-item-price.setting-price
            price(:item="customSetting")
        .question-item-price-total.weight-700.is-flex
          span {{ $t('detailsPage.question.totalPrice') }}&nbsp;
          price.price(size="large", :tooltip="true", :item="item")
      .question-company
        p
          strong {{ $t('detailsPage.question.warningText1') }}
        p {{ $t('detailsPage.question.warningText2') }}
        p {{ $t('detailsPage.question.warningText3') }}
      question-about-product-form(:item="item", @submitted="onSubmitFinish")
</template>

<script>
import { mapGetters } from 'vuex'
import get from 'lodash/get'
import QuestionAboutProductForm from './QuestionAboutProductForm'
import modalMixin from '~~/mixins/modalMixin'
import {
  tcwFormatter,
  caratFormatter,
  moneyFormatter
} from '~~/utils/formatters'

export default {
  name: 'QuestionAboutProductCustomComponent',

  components: {
    Price: () => import('~~/components/Common/Price'),
    QuestionAboutProductForm
  },

  filters: {
    moneyFormatter
  },

  mixins: [modalMixin],

  props: {
    item: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    modalEvent: 'question-about-product',
    modalName: 'question-about-product',
    width: '60%'
    // item: {}
  }),

  computed: {
    ...mapGetters({
      shareLinkId: 'shareProduct/shareLinkId'
    }),

    designId() {
      return get(this.item, 'preview.itemRealId', null)
    },

    customStone() {
      return this.item.customStone
    },

    customSetting() {
      return this.item.customSetting
    },

    finalPrice() {
      return this.item.finalPrice
    },

    customStoneParams() {
      return [
        {
          id: '67155e6d-978c-4f08-8999-fccf28002b56',
          label: this.$t('detailsPage.question.itemId'),
          value: this.customStone.id
        },
        {
          id: '1075ddde-cafa-47a5-8545-84563591995b',
          label: this.$t('detailsPage.question.weight'),
          value:
            this.customStone.category === 'Pair'
              ? tcwFormatter.call(this, this.customStone.totalWeight)
              : caratFormatter(this.customStone.weight)
        },
        {
          id: 'f8dc0c8f-9cd4-4c19-8176-3a2519e23b06',
          label: this.$t('detailsPage.question.origin'),
          value: get(
            this.customStone,
            'stones[0].origin',
            this.customStone.origin
          )
        },
        {
          id: 'f3b7685d-32af-400a-9a68-2b6dd7bd115e',
          label: this.$t('detailsPage.question.color'),
          value: get(
            this.customStone,
            'stones[0].color',
            this.customStone.color
          )
        },
        {
          id: '2780ff3f-2300-4d20-942e-ac8023bc555b',
          label: this.$t('detailsPage.question.shape'),
          value: get(
            this.customStone,
            'stones[0].shape',
            this.customStone.shape
          )
        }
      ]
    },

    customSettingParams() {
      return [
        {
          id: '68ab66cf-fa62-48c9-b756-e3d8db742f5c',
          label: this.$t('detailsPage.question.itemId'),
          value: this.$h.getItemFullId(this.customSetting)
        },
        {
          id: 'ff60299e-32a0-410c-abd8-5666bf896b10',
          label: this.$t('detailsPage.question.metalType'),
          value: this.customSetting.metalName
        }
      ]
    }
  },

  // watch: {
  //   async visible() {
  //     this.item = await this.getCustomItem()
  //   }
  // },

  methods: {
    // ...mapActions({
    //   getCustomItem: 'customItem/getCustomItem'
    // }),

    onSubmitFinish() {
      this.onCloseHandler()
      this.$sweetalert.insert({
        title: this.$t('detailsPage.question.swal.title'),
        text: this.$t('detailsPage.question.swal.text'),
        type: 'success',
        confirmButtonText: this.$t(
          'detailsPage.question.swal.confirmButtonText'
        )
      })
    }
  }
}
</script>

<style lang="sass" scoped>
.v--modal-overlay
  overflow: auto
  z-index: 3000
.question-about-product
  ::v-deep
    .v--modal-box
      +tablet-only
        width: 80% !important
      +mobile
        width: 100% !important
        left: 0 !important
.modal-header
  position: relative
  height: 30px
  .close-button
    cursor: pointer
    position: absolute
    top: 10px
    right: 10px
    align-items: center
    text-transform: uppercase
    svg
      margin-left: 5px
      height: 15px
      width: 15px
.question
  padding: 30px 60px
  +touch
    padding: 20px 30px
  &-title
    font-size: 36px
    font-family: $lora
    font-weight: 400
    text-align: center
    margin-bottom: 20px
    &-sub
      text-align: center
  &-item
    margin-top: 15px
    padding: 40px
    background-color: $secondary-bg-color
    &__design-id
      text-align: center
      font-size: 16px
      font-weight: bold
      padding-bottom: 15px
    &__wrapper
      width: 100%
      flex-wrap: wrap
      > div
        width: 50%
        +mobile
          width: 100%
      +mobile
        flex-direction: column
    +mobile
      padding: 20px
      &-stone
        order: 0
      &-setting
        margin-top: 10px
        order: 2
      .stone-price
        order: 1
      .setting-price
        order: 3
      &-price-total
        order: 4
    &-image
      ::v-deep
        img
          border: 1px solid $border-color
    &-params
      width: 100%
      padding: 0 15px
    &-param
      justify-content: space-between
      &:not(:last-child)
        margin-bottom: 5px
      > div
        width: 50%
      .param-label
        text-transform: uppercase
        color: $dark-green
        font-family: $lato
        font-weight: 900
      .param-value
        font-family: $lato
        font-weight: 900
        +mobile
          padding-left: 5px
    &-price
      margin-top: 10px
      text-align: center
      &-total
        margin-top: 15px
        padding-top: 15px
        border-top: 1px solid $border-color
        font-size: 18px
        width: 100% !important
  &-company
    @extend .question-item
    background-color: $light-primary-color
  &-form
    margin-top: 10px
</style>
