<template lang="pug">
  form.question-form
    .form-block
      .form-row.is-flex
        .field(:class="{'field-error': $v.form.customerName.$error}")
          label.label {{ $t('form.askAbout.label.name') }}
          .control.has-icons-left
            input.input(v-model.trim="$v.form.customerName.$model", autocomplete="name", :class="{'is-danger': $v.form.customerName.$error}")
            span.icon.is-small.is-left
              i.fa.fa-user
          p.help.is-danger(v-if="!$v.form.customerName.required && $v.form.customerName.$dirty") {{ $t('form.askAbout.error.required') }}

        .field(:class="{'field-error': $v.form.email.$error}")
          label.label {{ $t('form.askAbout.label.email') }}
          .control.has-icons-left
            input.input(ref="email-field", v-model.trim="$v.form.email.$model", autocomplete="email", :class="{ 'is-danger': $v.form.email.$error }")
            span.icon.is-small.is-left
              i.fa.fa-envelope
          p.help.is-danger(v-if="!$v.form.email.required && $v.form.email.$dirty") {{ $t('form.askAbout.error.required') }}
          p.help.is-danger(v-if="!$v.form.email.email && $v.form.email.$dirty") {{ $t('form.askAbout.error.email') }}

      .form-row.is-flex
        .field(:class="{'field-error': $v.form.phone.$error}")
          label.is-align-items-flex-center.is-flex
            .label {{ $t('form.askAbout.label.phone') }}&nbsp;
            tooltip.why-phone-tooltip
              i.fa.fa-question-circle(slot="target")
              .tooltip-header-price(slot="header")
                strong {{ $t('common.whyPhone') }}
              .tooltip-body-price {{ $t('common.whyPhoneContent') }}
          .control.has-icons-left
            input.input(v-model.trim="$v.form.phone.$model", autocomplete="tel", :class="{ 'is-danger': $v.form.phone.$error }")
            span.icon.is-small.is-left
              i.fa.fa-phone
          p.help.is-danger(v-if="!$v.form.phone.required && $v.form.phone.$dirty") {{ $t('form.askAbout.error.required') }}

        .field(:class="{'field-error': $v.form.salesPerson.$error}")
          label.label {{ $t('showroom.form.salesPerson') }}
          .control.has-icons-left
            multiselect(
              v-if="multiselectMounted",
              v-model.trim="$v.form.salesPerson.$model"
              :class="{ 'is-danger': $v.form.salesPerson.$error }"
              :options="salePersons",
              track-by="id",
              label="name",
              select-label="",
              :show-labels="false",
              selected-label="",
              :allow-empty="false",
              :searchable="false",
              :option-height="35"
            )
            span.icon.is-small.is-left
              i.fa.fa-users

      .form-row.is-flex
        .field.textarea-control(:class="{'field-error': $v.form.message.$error}")
          label.label {{ $t('form.askAbout.label.message') }}
          .control
            textarea.textarea.is-radiusless(v-model.trim="$v.form.message.$model", :class="{ 'is-danger': $v.form.message.$error }")
          p.help.is-danger(v-if="!$v.form.message.required && $v.form.message.$dirty") {{ $t('form.askAbout.error.required') }}

      .form-row.is-flex
        .field.submit-control
          .control
            button.button.gold-color(ref="submitForm", :disabled="submitStatus === 'PENDING'") {{ $t('form.askAbout.submit') }}
</template>

<script>
import { validationMixin } from 'vuelidate'
import email from 'vuelidate/lib/validators/email'
import required from 'vuelidate/lib/validators/required'
import { mapActions, mapGetters, mapState } from 'vuex'
import Vue from 'vue'
import autoFillForms from '~~/mixins/autoFillForms'
import emailValidatorMixin from '~~/mixins/emailValidatorMixin'
import recaptchaMixin from '~~/mixins/recaptchaMixin'
import { getDetailsPath } from '~~/utils/utils'
import Tooltip from '~~/components/Common/Tooltip'

export default {
  name: 'QuestionAboutProductFormComponent',

  components: { Tooltip },

  mixins: [recaptchaMixin, validationMixin, autoFillForms, emailValidatorMixin],

  props: {
    item: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    form: {
      itemId: '',
      customerName: '',
      email: '',
      phone: '',
      message: '',
      salesPerson: {},
      pageLink: ''
    },
    multiselectMounted: false,
    submitStatus: null
  }),

  validations: {
    form: {
      itemId: {},
      customerName: { required },
      email: { required, email },
      phone: { required },
      message: { required },
      salesPerson: {},
      pageLink: {}
    }
  },

  computed: {
    ...mapGetters({
      shareLinkId: 'shareProduct/shareLinkId'
    }),
    ...mapState({
      salePersons: (state) => state.app.salePersons
    })
  },

  created() {
    this.setInitialFormData()
  },

  mounted() {
    this.mountReCaptcha()

    this.$multiselect.insert(() => {
      this.multiselectMounted = true
    })
  },

  methods: {
    ...mapActions({
      submitAskAboutForm: 'productDetails/submitAskAboutForm'
    }),

    setInitialFormData() {
      this.form.itemId = this.$h.getItemId(this.item)
      this.form.salesPerson = this.salePersons.find(
        (person) => person.id === '-1'
      )
    },

    async onFormSubmit(response) {
      this.form['g-recaptcha-response'] = response

      this.$v.$touch()
      if (this.$v.$invalid) {
        if (window.grecaptcha) window.grecaptcha.reset()
        this.submitStatus = 'ERROR'
      } else {
        this.submitStatus = 'PENDING'
        this.$root.$emit('loading-start')
        try {
          this.form.pageLink = getDetailsPath(this.item)
          await this.submitAskAboutForm(this.form)
          Vue.$gtag.event('ask_designer', {
            event_label: 'Ask designer form filled'
          })
          this.$root.$emit('loading-stop')
          this.submitStatus = 'OK'
          this.$emit('submitted')
        } catch (e) {
          if (this.$sentry) this.$sentry.captureException(e)
          console.log(e)
          this.submitStatus = 'ERROR'
          this.$root.$emit('loading-stop')
        }
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.question-form
  .form-row
    +mobile
      flex-direction: column
    &:not(:first-child)
      margin-top: 10px
      +mobile
        margin-top: unset
    .field
      flex: 1
      max-width: calc(50% - 10px)
      margin-bottom: 1.35rem
      +mobile
        max-width: unset
        width: 100%
      .why-phone-tooltip
        margin-bottom: .5em
      &.field-error
        margin-bottom: unset
      .label
        text-transform: uppercase
      &.submit-control
        width: 100%
        max-width: unset
        .control
          text-align: center
          .button
            width: 200px
      &.textarea-control
        @extend .submit-control
    .field + .field
      margin-left: 20px
      +mobile
        margin-left: unset
</style>
