<template lang="pug">
  table-component(:items="tableItems")
</template>

<script>
import camelCase from 'lodash/camelCase'

import { mapGetters } from 'vuex'
import TabsComponent from '~~/components/DetailsPage/Tabs'
import TabsPaneComponent from '~~/components/DetailsPage/Tabs/TabsPane'
import {
  moneyFormatter,
  caratFormatter,
  lengthFormatter,
  widthFormatter,
  heightFormatter,
  itemNameFormatter,
  tcwPlainFormatter
} from '~~/utils/formatters'

export default {
  components: {
    TabsComponent,
    TabsPaneComponent,
    TableComponent: () => import('~~/components/Common/Table')
  },

  filters: {
    moneyFormatter,
    caratFormatter,
    lengthFormatter,
    widthFormatter,
    heightFormatter
  },

  computed: {
    ...mapGetters({
      productDetails: 'productDetails/productDetails'
    }),

    fixHeader() {
      return !this.$device.isMobile
    },

    tableItems() {
      return []
    },

    description() {
      return (
        this.productDetails.productDescription ||
        this.productDetails.description
      )
    }
  },

  methods: {
    itemNameFormatter(item) {
      return itemNameFormatter.call(this, item)
    },

    tcwFormatter(value) {
      return tcwPlainFormatter.call(this, value)
    },

    camelCase,
    moneyFormatter,
    caratFormatter,
    lengthFormatter,
    widthFormatter,
    heightFormatter
  }
}
</script>

<style lang="sass" scoped>
@import '~~/assets/styles/components/tabsDetails'
.table-items
  margin-top: 48px
  ::v-deep
    .table-items__body
      tr
        td
          width: 100%
        td:first-of-type
          .table-cell
            padding-left: 108px
            +mobile
              padding-left: 30px
</style>
