<template lang="pug">
  .param-value(v-html="value")
</template>

<script>
import _baseParam from './_baseParam'

export default {
  name: 'DefaultParamComponent',

  extends: _baseParam,

  props: {
    item: {
      type: Object,
      required: true
    },

    param: {
      type: [String],
      required: true
    }
  },

  computed: {
    itemWrapper() {
      if (this.item.category === 'Custom') {
        return this.item.compare[this.itemType.toLowerCase()]
      }
      return this.item.compare
    },

    value() {
      if (!this.param) return ' '
      if (!this.itemWrapper[this.param])
        return ['Pair'].includes(
          this.item.customStone?.category || this.item.category
        )
          ? 'N/A<br/>N/A'
          : 'N/A'
      return this.itemWrapper[this.param]
    }
  }
}
</script>

<style lang="sass" scoped>
.param-value
  white-space: normal
</style>
