<template lang="pug">
  v-link.id-link(:to="detailsPath") {{ id }}
</template>

<script>
import get from 'lodash/get'
import _baseParam from './_baseParam'
import { getDetailsPath } from '~~/utils/utils'

export default {
  name: 'IdParamComponent',

  extends: _baseParam,

  props: {
    item: {
      type: Object,
      required: true
    }
  },

  computed: {
    detailsPath() {
      const query = {
        ...this.$h.flushQuery(this.$route.query),
        source: 'compare'
      }

      if (this.item.guid) query.guid = this.item.guid

      return {
        path: this.getDetailsPath(this.item),
        query
      }
    },

    id() {
      if (this.item.category === 'Custom') {
        if (this.itemType === 'Setting') return '' // remove duplicates ID
        const designId = get(this.item, 'preview.itemRealId', null)

        return (
          designId ||
          this.$h.getItemId({
            customStone: this.item.customStone,
            customSetting: this.item.customSetting
          })
        )
      }
      return this.item.id + (this.item.metalTypeCode || '')
    }
  },

  methods: {
    getDetailsPath
  }
}
</script>

<style lang="sass" scoped>
.id-link
  text-decoration: underline
  padding: 0
  justify-content: unset
</style>
