<template lang="pug">
  .item-image.is-flex
    icon.video-icon(v-if="itemWrapper.containsVideo360", iconColor="#7b817f", iconName="360", width="40")
    video360(v-if="itemWrapper.containsVideo360", :attrs="getAttrs(itemWrapper)", @loaded="$emit('image-load')")
    v-link(v-else, :to="detailsPath")
      v-image(:lazy="false", :src="getImagePath(itemWrapper)", :alt="itemWrapper.shape || ''", @load="$emit('image-load')")
</template>

<script>
import get from 'lodash/get'
import _baseParam from './_baseParam'
import Video360 from '~~/components/Common/video360'
import {
  jewelryByCategory,
  video360Speed as speed
} from '~~/utils/definitions/defaults'
import { getDetailsPath } from '~~/utils/utils'
import { bandsByCategory, settingsByCategory } from '~~/utils/sitemapUtils'

export default {
  name: 'ImageParamComponent',

  components: {
    Video360
  },

  extends: _baseParam,

  props: {
    item: {
      type: Object,
      required: true
    }
  },

  computed: {
    detailsPath() {
      const query = {
        ...this.$h.flushQuery(this.$route.query),
        source: 'compare'
      }

      if (this.item.guid) query.guid = this.item.guid

      return {
        path: this.getDetailsPath(this.item),
        query
      }
    },

    itemWrapper() {
      if (this.item.category === 'Custom')
        return this.item[`custom${this.itemType}`]
      return this.item
    }
  },

  methods: {
    getDetailsPath(item) {
      return getDetailsPath(item)
    },

    pushDetailsPath() {
      this.$router.push(this.localePath(this.detailsPath))
    },

    getItemType(category) {
      if (jewelryByCategory.includes(category)) return 'jewelry'
      if (settingsByCategory.includes(category)) return 'setting'
      if (bandsByCategory.includes(category)) return 'band'
      if (category === 'Custom') {
        const subCategory = this.item[`custom${this.itemType}`].category
        if (settingsByCategory.includes(subCategory)) return 'setting'
        return 'stone'
      }
      return 'stone'
    },

    getImagePath(item) {
      return item.thumbnails[0].large
    },

    getCoverPath(item) {
      return item.imagePath || get(item, 'thumbnails[0].micro', '')
    },

    getAttrs(item) {
      return {
        id: item.id,
        prefix: item.id,
        metalTypeCode: item.metalTypeCode,
        behavior: 'mouseover',
        startOn: 'mouseover',
        size: 'small',
        speed,
        onclick: this.pushDetailsPath,
        cover: this.getCoverPath(item),
        framesCount: item.framesCount,
        itemType: this.getItemType(item.category),
        host: process.env.video360Url
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.item-image
  justify-content: center
  align-items: center
  position: absolute
  right: 0
  left: 0
  bottom: 0
  top: 0
  ::v-deep
    canvas
      display: block
  .video-icon
    position: absolute
    bottom: 10px
    right: 5px
    z-index: 1
</style>
