<template lang="pug">
  price(size="small", :animate="false", :tooltip="true", :item="item", :type="type")
</template>

<script>
import _baseParam from './_baseParam'
import Price from '~~/components/Common/Price'

export default {
  name: 'PriceParamComponent',

  components: {
    Price
  },

  extends: _baseParam,

  props: {
    item: {
      type: Object,
      required: true
    },

    param: {
      type: [String],
      required: true
    }
  },

  computed: {
    type() {
      if (this.param === 'totalPrice') return 'default'
      return this.itemType.toLowerCase() || 'default'
    }
  }
}
</script>
