<template lang="pug">
  .param-value.is-flex
    span.is-italic {{ $t('compareList.lostSettingPrice') }}&nbsp
    tooltip
      template(slot="target")
        i.fa.fa-question-circle
      template(slot="header")
        strong {{ $t('compareList.lostSettingPriceHeader') }}
      span {{ $t('compareList.lostSettingPriceText') }}
</template>

<script>
import _baseParam from './_baseParam'
import Tooltip from '~~/components/Common/Tooltip'

export default {
  name: 'SettingsPriceParamComponent',

  components: {
    Tooltip
  },

  extends: _baseParam
}
</script>

<style lang="sass" scoped>
.param-value
  align-items: center
</style>
