<template lang="pug">
.items-count
  span(v-show="showItemsCount") {{ $tc(`listingPage.${type}.sort.items${subType}Found`, totalCount) }}
</template>

<script>
import { mapState } from 'vuex'
import { integerFormatter } from '~~/utils/formatters'
export default {
  name: 'ItemsCountComponent',

  filters: {
    integerFormatter
  },

  computed: {
    ...mapState({
      loading: (state) => state.loading
    }),

    showItemsCount() {
      return !(!this.totalCount && this.loading)
    },

    type() {
      return this.$store.getters.typeList
    },

    subType() {
      if (this.$h.isListingItemsHaveStar(this.$route)) return 'Star'
      if (this.$h.getListingItemsSubType(this.$route)) return 'Cabochon'
      return ''
    },

    totalCount() {
      return this.$store.state[this.type].totalItemsCount || 0
    }
  }
}
</script>

<style lang="sass" scoped>
.items-count
  span
    font-weight: 500
    font-family: $lora
    font-style: italic
    font-size: 18px
</style>
