<template lang="pug">
  component(@close="$emit('close')", v-if="showComponentDetails", :is="componentName")
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import isEmpty from 'lodash/isEmpty'

export default {
  name: 'DetailsMainInfoComponent',

  inject: ['pageType'],

  components: {
    NotMatchView: () => import('./Views/NotMatchView'),
    StoneView: () => import('./Views/StoneView'),
    StonePairsView: () => import('./Views/StonePairsView'),
    SettingsCommonView: () => import('./Views/SettingsCommonView'),
    SettingsRingView: () => import('./Views/SettingsRingView'),
    JewelryRingView: () => import('./Views/JewelryRingView'),
    JewelryCommonView: () => import('./Views/JewelryCommonView'),
    BandsView: () => import('./Views/BandsView'),
    CustomItemView: () => import('./Views/CustomItemView')
  },

  computed: {
    ...mapState({
      isItemsMatch: (state) => state.customItem.isItemsMatch
    }),

    ...mapGetters({
      productDetails: 'productDetails/productDetails',
      cartItems: 'cart/items',
      itemId: 'customItem/itemId'
    }),

    showComponentDetails() {
      if (
        ['CustomItemView', 'NotMatchView'].includes(this.componentName) &&
        this.itemId
      )
        return true
      return !isEmpty(this.productDetails)
    },

    componentName() {
      if (this.pageType === 'review') {
        if (!this.isItemsMatch) return 'NotMatchView'
        return 'CustomItemView'
      }
      const { category } = this.productDetails
      if (['Wedding Band', 'Plain Band'].includes(category)) return 'BandsView'
      if (
        ['Setting_Earring', 'Setting_Pendant', 'Setting_Necklace'].includes(
          category
        )
      )
        return 'SettingsCommonView'
      if (category === 'Ring') return 'JewelryRingView'
      if (category === 'Pair') return 'StonePairsView'
      if (category === 'Stone') return 'StoneView'
      if (category === 'Setting_Ring') return 'SettingsRingView'
      return 'JewelryCommonView'
    }
  }
}
</script>

<style lang="sass" scoped>
.details-main-info
  max-width: 620px
</style>
