<template lang="pug">
  section.hero.top-component
    .hero-content.is-flex.container.is-max-fullhd
      .hero-content-wrapper
        .create {{ $t('homePage.hero.create') }}
        .ring {{ $t('homePage.hero.ring') }}
        .description {{ $t('homePage.hero.description') }}
        .ready {{ $t('homePage.hero.ready') }}
        .buttons.is-flex
          v-link.stones(:to="{ name: 'rubies', query: { 'design-your-own': 1 } }").button.gold-color {{ $t('homePage.hero.chooseRuby') }}
          span {{ $t('homePage.hero.or') }}
          button.button.gold-color(@click="$root.$emit('settings-selector-all')") {{ $t('homePage.hero.chooseSetting') }}
        v-link.button.gold-color.empty.learn-more(:to="{name: 'custom-design-ruby-rings-jewelry'}") {{ $t('homePage.hero.learnMore') }}
</template>

<script>
export default {
  name: 'HeroComponent'
}
</script>

<style lang="sass">
// BEGIN trick to preload images
.hero.top-component
  &::after
    position: absolute
    width: 0
    height: 0
    overflow: hidden
    z-index: -1 // hide images
    content: url("#{$assetsHost}/normal-webp/hero/branch-ring.webp") // load images
    +tablet-only
      content: url('#{$assetsHost}/normal-webp/hero/branch-ring-tab.webp')
    +mobile
      content: url('#{$assetsHost}/normal-webp/hero/branch-ring-mob.webp')
    @media(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
      content: url("#{$assetsHost}/hi-res-webp/hero/branch-ring@2x.webp") // load images
      +tablet-only
        content: url('#{$assetsHost}/hi-res-webp/hero/branch-ring-tab@2x.webp')
      +mobile
        content: url('#{$assetsHost}/hi-res-webp/hero/branch-ring-mob@2x.webp')

.no-webp
  .hero.top-component
    &::after
      content: url("#{$assetsHost}/normal/hero/branch-ring.jpg") // load images
      +tablet-only
        content: url('#{$assetsHost}/normal/hero/branch-ring-tab.jpg')
      +mobile
        content: url('#{$assetsHost}/normal/hero/branch-ring-mob.jpg')
      @media(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
        content: url("#{$assetsHost}/hi-res/hero/branch-ring@2x.jpg") // load images
        +tablet-only
          content: url('#{$assetsHost}/hi-res/hero/branch-ring-tab@2x.jpg')
        +mobile
          content: url('#{$assetsHost}/hi-res/hero/branch-ring-mob@2x.jpg')
// END trick to preload images

.hero.top-component
  background-image: url('#{$assetsHost}/normal-webp/hero/branch-ring.webp')
  +tablet-only
    background-image: url('#{$assetsHost}/normal-webp/hero/branch-ring-tab.webp')
  +mobile
    background-image: url('#{$assetsHost}/normal-webp/hero/branch-ring-mob.webp')

.no-webp
  .hero.top-component
    background-image: url('#{$assetsHost}/normal/hero/branch-ring.jpg')
    +tablet-only
      background-image: url('#{$assetsHost}/normal/hero/branch-ring-tab.jpg')
    +mobile
      background-image: url('#{$assetsHost}/normal/hero/branch-ring-mob.jpg')

@media(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
  .hero.top-component
    background-image: url('#{$assetsHost}/hi-res-webp/hero/branch-ring@2x.webp')
    +tablet-only
      background-image: url('#{$assetsHost}/hi-res-webp/hero/branch-ring-tab@2x.webp')
    +mobile
      background-image: url('#{$assetsHost}/hi-res-webp/hero/branch-ring-mob@2x.webp')

  .no-webp
    .hero.top-component
      background-image: url('#{$assetsHost}/hi-res/hero/branch-ring@2x.jpg')
      +tablet-only
        background-image: url('#{$assetsHost}/hi-res/hero/branch-ring-tab@2x.jpg')
      +mobile
        background-image: url('#{$assetsHost}/hi-res/hero/branch-ring-mob@2x.jpg')
</style>

<style lang="sass" scoped>
.hero
  transition: all .3s ease
  position: relative
  height: 525px
  width: 100%
  background-color: #f8f8f8
  background-size: contain
  background-repeat: no-repeat
  background-position: calc(50% + 400px) 50%
  +tablet-only
    background-position: calc(50% + 270px) 50%
  +mobile
    background-position: center top
    background-size: 100%
  +mobile
    height: unset
  &-content
    justify-content: flex-start
    align-items: center
    width: 100%
    +mobile
      padding-top: 200px
      margin-bottom: 50px
      flex-direction: column-reverse
    &-wrapper
      width: 50%
      text-align: center
      +mobile
        width: unset
      .create
        font-size: 34px
        font-style: italic
        font-family: $lora
      .ring
        font-size: 50px
        text-transform: uppercase
        font-family: $lora
      .description
        font-size: 16px
        max-width: 400px
        margin: 15px auto 0
      .ready
        font-size: 18px
        font-weight: 700
        font-style: italic
        font-family: $lora
        margin-top: 20px
        margin-bottom: 10px
      .buttons
        justify-content: center
        align-items: center
        +touch
          flex-direction: column
        .button
          margin-bottom: 0
          padding: 10px 35px
          white-space: nowrap
          +touch
            max-width: 200px
            width: 100%
            margin-right: unset
        .stones
          padding: 10px 45px
        span
          margin-right: 0.5rem
          font-size: 16px
          +touch
            margin: 10px 0
      .learn-more
        color: $gold-color
        font-family: $lora
        padding: 10px 51px
    .hero-image
      width: 50%
      align-items: center
      justify-content: center
      +mobile
        margin-top: 20px
</style>
