<template lang="pug">
  modal.did-you-know(v-show="mounted", transition="modal", ref="modal", :width="width", :max-width="965", :name="modalName", :adaptive="true", height="auto", @closed="onClose")
    .modal-header
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body
      .did-you-know__title.is-italic {{ $t('detailsPage.didYouKnow.title') }}
      .did-you-know__message {{ $t('detailsPage.didYouKnow.message') }}
      .did-you-know__options.is-flex
        .did-you-know__option-preview.is-flex
          .did-you-know__option-preview-title {{ $t('detailsPage.didYouKnow.previewTitle') }}
          .did-you-know__option-preview-message {{ $t('detailsPage.didYouKnow.previewMessage') }}
          v-image.did-you-know__option-image(src="customJewelry/three-steps@2x.png")
          button.button.gold-color(@click="onPreviewRequestClick") {{ $t('detailsPage.didYouKnow.previewButton') }}
        .did-you-know__option-wax.is-flex
          .did-you-know__option-wax-title {{ $t('detailsPage.didYouKnow.waxTitle') }}
          .did-you-know__option-wax-message {{ $t('detailsPage.didYouKnow.waxMessage') }}
          .did-you-know__option-image.is-flex
            v-image(src="details/wax@2x.png")
            span $95
          button.button.gold-color(@click="onWaxPurchaseClick") {{ $t('detailsPage.didYouKnow.waxButton') }}
</template>

<script>
import modalMixin from '~~/mixins/modalMixin'

export default {
  name: 'DidYouKnowComponent',

  mixins: [modalMixin],

  data: () => ({
    modalEvent: 'did-you-know',
    modalName: 'did-you-know',
    width: '50%',
    destroyFunc: null
  }),

  methods: {
    onModalEventHandler(destroyFunc) {
      this.destroyFunc = destroyFunc
      this.disableScrolling()
      this.$modal.show(this.modalName)
      this.visible = true
    },

    onClose() {
      this.enableScrolling()
      if (this.destroyFunc) this.destroyFunc()
    },

    onPreviewRequestClick() {
      this.onCloseHandler()
      this.$root.$emit('request-preview')
    },

    onWaxPurchaseClick() {
      this.onCloseHandler()
      this.$root.$emit('wax-purchase')
    }
  }
}
</script>

<style lang="sass" scoped>
.modal-header
  position: relative
  height: 30px
  .close-button
    cursor: pointer
    position: absolute
    top: 10px
    right: 10px
    align-items: center
    text-transform: uppercase
    svg
      margin-left: 5px
      height: 15px
      width: 15px
.modal-body
  padding: 20px
  text-align: center
  justify-content: center
.did-you-know
  &.v--modal-overlay
    +mobile
      z-index: 1999
      ::v-deep
        .v--modal-box
          left: 0 !important
          width: 100% !important
  &__title
    text-align: center
    font-family: $lora
    font-size: 30px
  &__message
    font-size: 16px
    margin-top: 20px
  &__options
    +mobile
      flex-direction: column
  &__option-preview-title,
  &__option-wax-title
    text-align: center
    font-family: $lora
    font-size: 24px
  &__option-preview-message,
  &__option-wax-message
    padding: 0 10px
  &__option-image
    justify-content: center
    align-items: center
    min-height: 100px
    > * + *
      margin-left: 10px
  &__option-preview,
  &__option-wax
    flex-direction: column
    width: 50%
    +mobile
      width: 100%
    .button
      width: 80%
      max-width: 240px
      align-self: center
      margin-top: auto
      margin-top: 20px
    > *
      margin-top: 20px
</style>
