<template lang="pug">
.footer-subscription
  h3.footer-subscription-title {{ $t('layout.footer.subscription.title') }}
  .footer-subscription-text {{ $t('layout.footer.subscription.text') }}
  .footer-subscription-field.is-flex
    form.subscription-form(@submit.prevent="onFormSubmit")
      .form-block
        .form-row.is-flex
          .field(:class="{'field-error': $v.form.email.$error}")
            .control
              input.input(ref="email-field", autocomplete="email", type="text", :placeholder="$t('layout.footer.subscription.placeholder')", v-model.trim="$v.form.email.$model", :class="{ 'is-danger': $v.form.email.$error }")
            p.help.is-danger(v-if="!$v.form.email.required && $v.form.email.$dirty") {{ $t('newsletters.validation.required') }}
            p.help.is-danger(v-if="!$v.form.email.email && $v.form.email.$dirty") {{ $t('newsletters.validation.invalid') }}
          .field.submit-control.margin-0
            .control.is-flex
              button.button(type="submit", :disabled="submitStatus === 'PENDING'") {{ $t('layout.footer.subscription.button') }}
  footer-socials-component.is-hidden-touch
  footer-address-component.is-hidden-touch
</template>

<script>
import { validationMixin } from 'vuelidate'
import email from 'vuelidate/lib/validators/email'
import required from 'vuelidate/lib/validators/required'
import Vue from 'vue'
import FooterSocialsComponent from './FooterSocials'
import FooterAddressComponent from '~~/components/Layout/Footer/FooterAddress'
import emailValidatorMixin from '~~/mixins/emailValidatorMixin'

export default {
  name: 'FooterSubscriptionComponent',

  components: { FooterAddressComponent, FooterSocialsComponent },

  mixins: [validationMixin, emailValidatorMixin],

  validations: {
    form: {
      email: { required, email }
    }
  },

  data: () => ({
    submitStatus: null,
    form: {
      email: ''
    }
  }),

  methods: {
    async onFormSubmit() {
      this.$v.$touch()
      if (this.$v.$invalid) return

      Vue.$gtag.event('email_subscription', {
        event_label: 'Subscribed to newsletters'
      })

      try {
        this.$root.$emit('loading-start')
        await this.$api.news.subscribeToNewsletters(this.form)
        this.$root.$emit('loading-stop')
        this.$sweetalert.insert({
          text: this.$t('newsletters.success'),
          type: 'success',
          timer: 5000,
          toast: true,
          position: 'top-end'
        })
      } catch (e) {
        this.$root.$emit('loading-stop')
        if (this.$sentry) this.$sentry.captureException(e)
        console.log(e)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.footer-subscription
  &-title
    font-size: 22px
    font-weight: 700
    +touch
      text-align: center
  &-text
    margin-top: 20px
    +touch
      max-width: 200px
      margin: 20px auto
      text-align: center
  &-field
    margin-top: 20px
    +touch
      justify-content: center
    .input
      padding: 23px 10px
      border-right: 0
    .button
      white-space: nowrap
      padding: 12px 35px
      background-color: $dark-primary-color
      border: 1px solid $dark-primary-color
      color: white
  .subscription-form
    .form-block
      .form-row
        +mobile
          flex-direction: row
        .field
          max-width: unset
          width: 66.66%
          flex: 2
          .control
            &.has-icons-right
              ::v-deep
                .icon
                  bottom: 0
                  margin: auto
          &.submit-control
            flex: 1
            width: 33.33%
            .button
              padding: 12px
  .footer-address
    margin-top: 20px
</style>
