<template lang="pug">
.menu-column.is-flex
  h3.menu-column-title(@click="onTitleClickHandler", :class="{open: isExpanded}")
    span {{ menu.name }}
    i.fa.fa-angle-down.is-hidden-tablet(:class="{open: isExpanded}")
  collapse-transition
    .menu-column-items(v-show="isExpanded")
      v-link.menu-column-item(v-for="item in menu.items", :key="item.id", :to="item.link", :type="item.type", :target="item.target") {{ item.name }}
</template>

<script>
import { CollapseTransition } from 'vue2-transitions'

export default {
  name: 'FooterMenuColumnComponent',

  components: {
    CollapseTransition
  },

  props: {
    menu: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    expanded: false
  }),

  computed: {
    isExpanded() {
      return !this.$device.isMobile || (this.$device.isMobile && this.expanded)
    }
  },

  methods: {
    onTitleClickHandler() {
      this.expanded = !this.expanded
    }
  }
}
</script>

<style lang="sass" scoped>
.menu-column
  flex-direction: column
  &:last-child
    +mobile
      border-bottom: 1px solid $border-color
  &-title
    font-weight: 700
    text-transform: uppercase
    font-size: 16px
    margin-bottom: 30px
    +mobile
      margin-bottom: unset
      padding: 15px
      text-align: center
      border-top: 1px solid $border-color
    &.open
      +mobile
        border-bottom: 1px solid $border-color
    i
      @include transition(all, .3s)
      +mobile
        margin-left: 10px
      &.open
        transform: rotate(-180deg)
  &-items
    display: flex
    flex-direction: column
    +mobile
      padding: 20px 0
      text-align: center
  &-item
    color: $default-font-color
    &:not(:first-child)
      margin-top: 20px
</style>
