<template lang="pug">
footer(:class="{'is-marginless': isMarginless}")
  .container
    .columns.is-multiline
      .column.footer-menu.is-three-fifths-desktop.is-flex.is-full-touch
        footer-menu-column-component(v-for="menu in menus", :key="menu.id", :menu="menu")
      .column.footer-subscription.is-two-fifths-desktop.is-full-touch
        footer-subscription-component
      .column.footer-socials.is-full-touch.is-hidden-desktop
        footer-address-component
        footer-socials-component
    footer-bottom-component
</template>

<script>
import { mapGetters } from 'vuex'
import FooterAddressComponent from './FooterAddress'
import FooterMenuColumnComponent from './FooterMenuColumn'
import FooterSubscriptionComponent from './FooterSubscription'
import FooterBottomComponent from './FooterBottom'
import FooterSocialsComponent from './FooterSocials'
import rubyFooterMenu from '~~/utils/definitions/menus/rubyFooterMenu'
import emeraldFooterMenu from '~~/utils/definitions/menus/emeraldFooterMenu'

const footerMenu = {
  ruby: rubyFooterMenu,
  emerald: emeraldFooterMenu
}

export default {
  name: 'FooterComponent',

  components: {
    FooterAddressComponent,
    FooterSocialsComponent,
    FooterBottomComponent,
    FooterSubscriptionComponent,
    FooterMenuColumnComponent
  },

  computed: {
    ...mapGetters({
      cartItems: 'cart/items'
    }),

    menus() {
      return footerMenu[this.$site.name].call(this)
    },

    isMarginless() {
      if (RegExp('cart-index').test(this.$route.name) && !this.cartItems.length)
        return true
      return false
    }
  }
}
</script>

<style lang="sass" scoped>
footer
  padding: 50px 0
  background-color: $secondary-bg-color
  .columns
    +mobile
      display: flex
  .footer-menu
    padding-right: 90px
    justify-content: space-between
    +touch
      order: 2
    +mobile
      margin-top: 35px
      flex-direction: column
      padding: 0
  .footer-subscription
    +touch
      order: 1
  .footer-socials
    +touch
      order: 3
      .footer-address
        text-align: center
        margin-bottom: 25px
</style>
