<template lang="pug">
.footer-address
  h4.weight-700 {{ companyName }}
  p Head Office, Showroom & Workshop
  div
    p 6 East 45th Street, 20th Floor
    p New York, NY 10017
    p United States
</template>

<script>
import { companyName } from '~~/utils/definitions/defaults'

export default {
  name: 'FooterAddressComponent',

  computed: {
    companyName() {
      return companyName[this.$site.name]
    }
  }
}
</script>
