<template lang="pug">
  .footer-socials.is-flex
    .social.is-flex(v-for="social in socials", :key="social.id")
      v-link(:to='social.link', target='_blank', type="native", :noFollow="true")
        i.fab(:class="`fa-${social.name}`")
</template>

<script>
export default {
  name: 'FooterSocialsComponent',

  computed: {
    socials() {
      return [
        {
          id: '50091167-261d-450e-8c93-ed5ce7430afa',
          name: 'pinterest-p',
          link: 'https://www.pinterest.com/naturalrubycompany/'
        },
        {
          id: 'f92d70bc-e7e7-427d-8525-9ec0c7edc998',
          name: 'facebook-f',
          link:
            'https://www.facebook.com/The-Natural-Ruby-Company-110301307385037/'
        },
        {
          id: '9c8fa586-51ea-4683-b242-2b6e9347741a',
          name: 'instagram',
          link: 'https://www.instagram.com/thenaturalrubyco/'
        }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
.footer-socials
  +touch
    justify-content: center
  .social
    justify-content: center
    align-items: center
    height: 35px
    width: 35px
    color: #fff
    border-radius: 50%
    background-color: $gold-color
    margin-right: 10px
    cursor: pointer
    a
      color: #fff
      i
        font-size: 20px
        display: block
</style>
