<template lang="pug">
.footer-bottom.is-flex
  v-link.bbb(type="native", target="_blank", to="https://www.bbb.org/us/ny/new-york/profile/jewelry-stores/the-natural-sapphire-ruby-emerald-company-0121-103254/#sealclick")
    img(src="https://seal-newyork.bbb.org/seals/blue-seal-200-42-bbb-103254.png", alt="The Natural Sapphire Ruby & Emerald Company BBB Business Review")
  .footer-bottom-menu.is-flex
    v-link(to="index") © {{ domain }}
    v-link(:to="{ name: 'education-index-category', params: { category: 'frequently-asked-questions' }, hash: '#privacy-policy' }") {{ $t('layout.footer.bottom.terms') }}
    v-link(:to="{ name: 'education-index-category', params: { category: 'frequently-asked-questions' }, hash: '#privacy-policy' }") {{ $t('layout.footer.bottom.privacy') }}
</template>

<script>
export default {
  name: 'FooterBottomComponent',

  computed: {
    domain() {
      return process.env.prodDomain
    },

    wpDomain() {
      return process.env.wpDomain
    }
  }
}
</script>

<style lang="sass" scoped>
.footer-bottom
  margin-top: 30px
  justify-content: space-between
  align-items: center
  +mobile
    flex-direction: column
  .bbb
    +mobile
      order: 1
      margin-bottom: 30px
  &-menu
    margin: auto
    +touch
      max-width: 400px
      flex-wrap: wrap
    +mobile
      order: 3
    a
      color: $default-font-color
      +touch
        text-align: center
      &:first-child
        +touch
          font-weight: 700
          order: 3
          width: 100%
      &:not(:first-child)
        margin-left: 20px
        +touch
          order: 1
          margin-left: unset
          width: 50%
  &-logo
    flex-direction: column
    align-items: center
    +mobile
      order: 2
      margin-bottom: 30px
    span
      text-transform: uppercase
      font-size: 18px
      font-family: $trojan
      color: $gold-color
</style>
