<template lang="pug">
  .wishlist-hero
    .container.is-flex
      h1.wishlist-hero-title.is-italic {{ $t('wishlist.hero.title') }}
      .wishlist-hero-message.is-italic {{ $t('wishlist.hero.message') }}
      v-link.button.gold-color(:to="{name: 'auth'}") {{ $t('wishlist.hero.loginButton') }}
</template>

<script>
export default {
  name: 'WishlistHeroComponent'
}
</script>

<style lang="sass" scoped>
.wishlist-hero
  text-align: center
  font-family: $lora
  height: 25rem
  background-color: $secondary-bg-color
  border-bottom: 1px solid $border-color
  line-height: 1.2

  &-title
    font-size: 3rem

  &-message
    margin-top: 1rem
    font-size: 27px
    line-height: 30px

  .container
    height: 100%
    flex-direction: column
    align-items: center
    justify-content: center
    a
      margin-top: 1rem
</style>
