<template lang="pug">
.wishlist-items
  .wishlist-items-title
    span {{ $t(`wishlist.lists.${type}`) }}
    span ({{ items.length }})
  .wishlist-items-list.is-flex
    template(v-for="item in items")
      placeholder(v-if="item.placeholder", :key="item.guid", @load-item="onItemLoadRequest", :item="item", :class="kebabCase(item.category)")
      component(v-else, :is="listComponentName", :key="$h.getItemId(item)", :item="item")
</template>

<script>
import kebabCase from 'lodash/kebabCase'
import debounce from 'lodash/debounce'
import remove from 'lodash/remove'
import cloneDeep from 'lodash/cloneDeep'
import { mapActions } from 'vuex'

let itemsToLoad = []

export default {
  name: 'WishlistListComponent',

  components: {
    Placeholder: () => import('./Views/placeholder'),
    stonesListItem: () => import('./Views/stonesListItem'),
    stonePairsListItem: () => import('./Views/stonePairsListItem'),
    braceletsListItem: () => import('./Views/commonJewelryItem'),
    earringsListItem: () => import('./Views/commonJewelryItem'),
    necklacesPendantsListItem: () => import('./Views/commonJewelryItem'),
    ringsListItem: () => import('./Views/ringsListItem'),
    ringSettingsItem: () => import('./Views/ringSettingsItem'),
    earringSettingsItem: () => import('./Views/commonSettingsItem'),
    pendantSettingsItem: () => import('./Views/commonSettingsItem'),
    necklaceSettingsItem: () => import('./Views/commonSettingsItem'),
    weddingBandsItem: () => import('./Views/weddingBandsItem'),
    weddingBandsPlainItem: () => import('./Views/weddingBandsItem'),
    customItem: () => import('./Views/customItem')
  },

  props: {
    items: {
      type: Array,
      default: () => []
    },

    type: {
      type: String,
      required: true
    }
  },

  computed: {
    listComponentName() {
      return `${this.type}Item`
    }
  },

  methods: {
    ...mapActions({
      getItemsFromBase: 'favorites/getItemsFromBase'
    }),

    onItemLoadRequest(item) {
      itemsToLoad.push(item)
      this.makeRequest()
    },

    makeRequest: debounce(function () {
      const items = cloneDeep(itemsToLoad)
      if (!items.length) return
      this.getItemsFromBase(items)
      itemsToLoad = remove(itemsToLoad, (n) => {
        return items.includes(n)
      })
    }, 100),

    kebabCase
  }
}
</script>

<style lang="sass" scoped>
.wishlist-items
  margin-top: 30px
  &-title
    font-size: 27px
    font-style: italic
    font-family: $lora
  &-list
    flex-wrap: wrap
    margin: 0 -17px -17px
    .wishlist-item
      width: 20%
      max-width: 236px
      &.custom
        max-width: 436px
      +mobile
        width: 50%
      +tablet
        width: 33.33%
      +ipad-pro
        width: 25%
      +desktop
        width: 25%
      +widescreen
        width: 20%
      &.custom
        width: 33%
        +mobile
          width: 100%
</style>
