<template lang="pug">
.wishlist
  .wishlist-list-wrapper(v-if="allWishlistItems.length")
    wishlist-list-component(v-if="list.length", v-for="(list, key) in wishlistItems", :key="key", :items="list", :type="key")
  .wishlist-empty(v-else)
    span {{ $t('wishlist.empty') }}
  sizing-guide
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'WishlistComponent',

  components: {
    SizingGuide: () => import('~~/components/DetailsPage/SizingGuide'),
    WishlistListComponent: () => import('./WishlistList')
  },

  computed: {
    ...mapGetters({
      allWishlistItems: 'favorites/allListItems',
      stonesListItems: 'favorites/stonesListItems',
      stonePairsListItems: 'favorites/stonePairsListItems',
      braceletsListItems: 'favorites/braceletsListItems',
      earringsListItems: 'favorites/earringsListItems',
      necklacesPendantsListItems: 'favorites/necklacesPendantsListItems',
      ringsListItems: 'favorites/ringsListItems',
      weddingBandsItems: 'favorites/weddingBandsItems',
      weddingBandsPlainItems: 'favorites/weddingBandsPlainItems',
      ringSettingsItems: 'favorites/ringSettingsItems',
      earringSettingsItems: 'favorites/earringSettingsItems',
      pendantSettingsItems: 'favorites/pendantSettingsItems',
      necklaceSettingsItems: 'favorites/necklaceSettingsItems',
      customItems: 'favorites/customItems'
    }),

    wishlistItems() {
      return {
        stonesList: this.stonesListItems,
        stonePairsList: this.stonePairsListItems,
        braceletsList: this.braceletsListItems,
        earringsList: this.earringsListItems,
        necklacesPendantsList: this.necklacesPendantsListItems,
        ringsList: this.ringsListItems,
        weddingBands: this.weddingBandsItems,
        weddingBandsPlain: this.weddingBandsPlainItems,
        ringSettings: this.ringSettingsItems,
        earringSettings: this.earringSettingsItems,
        pendantSettings: this.pendantSettingsItems,
        necklaceSettings: this.necklaceSettingsItems,
        custom: this.customItems
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.wishlist
  margin-top: 35px
  &-empty
    height: 30vh
    display: flex
    text-align: center
    justify-content: center
    align-items: center
    font-size: 24px
</style>
