<template lang="pug">
.details-main-controls-compare-share(v-on-clickaway="onClickAwayHandler")
  icon(iconName="share", ref="icon", @click.native="onIconClick")
  .share-popper(v-show="visible", ref="popper", :style="popupStyle")
    input.link-field(@click="onSelectAll($event)", :readonly="true", v-model="shareLink")
    .social-icons.is-flex(v-if="socialSharingMounted")
      share-network(v-for="social in socials", :key="social.id", @open="onClickAway", :media="social.media", :url="shareLink", :network="social.network", :title="itemName", :description="itemDescr")
        i.social-icon(:class="social.icon")
      i.social-icon.far.fa-envelope(@click="onShareViaEmailClick")
      i.social-icon.far.fa-copy(@click="copyToClipboard")
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { mixin as clickaway } from 'vue-clickaway'
import cloneDeep from 'lodash/cloneDeep'
import get from 'lodash/get'
import { itemNameFormatter } from '~~/utils/formatters'

export default {
  name: 'ShareProductComponent',

  components: {
    SocialIcon: () => import('./SocialIcon')
  },

  mixins: [clickaway],

  data: () => ({
    socialSharingMounted: false,
    popperInstance: null,
    popupStyle: { opacity: 0 },
    outTimeout: null,
    visible: false,
    loading: false,
    shareViaEmail: false,
    item: null
  }),

  computed: {
    ...mapGetters({
      shareLinkId: 'shareProduct/shareLinkId',
      productDetails: 'productDetails/productDetails',
      selectedOptions: 'productDetails/selectedOptions'
    }),

    productImage() {
      const product = this.$store.getters['productDetails/productDetails']
      return (
        get(product, 'thumbnails[0].large', null) ||
        get(
          this.$store.getters['customItem/customSetting'],
          'thumbnails[0].large',
          ''
        )
      )
    },

    socials() {
      return [
        {
          id: '668118ba-0310-4aae-b251-8b966c6dcf76',
          network: 'facebook',
          title: "Hey, look what I've found",
          description:
            "This week, I’d like to introduce you to 'Vite', which means 'Fast'. It’s a brand new development setup created by Evan You.",
          icon: 'fab fa-facebook-f'
        },
        {
          id: '8a8156ef-303f-423f-9c79-895b5b331c2d',
          network: 'pinterest',
          title:
            'Say hi to Vite! A brand new, extremely fast development setup for Vue.',
          description:
            "This week, I’d like to introduce you to 'Vite', which means 'Fast'. It’s a brand new development setup created by Evan You.",
          icon: 'fab fa-pinterest-p',
          media: this.productImage
        }
      ]
    },

    itemName() {
      return itemNameFormatter
        .call(this, this.productDetails)
        .replace('\n', '')
        .trim()
    },

    itemDescr() {
      return this.productDetails.productDescription
    },

    position() {
      if (!this.$device) return 'right'
      return this.$device.isMobile ? 'top' : 'right'
    },

    width() {
      if (!this.$device) return '400'
      return this.$device.isMobile ? '300' : '400'
    },

    isCustomReview() {
      // details of custom item
      return /design-your-own-review/.test(this.$route.name)
    },

    shareLink() {
      if (!this.item || !window) return ''
      return window.location.href
    }
  },

  watch: {
    async visible(state) {
      if (state) {
        this.loading = true
        this.item = this.isCustomReview
          ? await this.getCustomItem()
          : cloneDeep({
              ...this.productDetails,
              selectedOptions: this.selectedOptions
            })
        this.$nextTick(() => {
          this.loading = false
        })
        return
      }
      this.destroyShareLinkId()
    }
  },

  async mounted() {
    this.$clipboard.insert()
    this.$social.insert(() => {
      this.socialSharingMounted = true
    })

    this.popperInstance = await this.$popper.insert(
      this.$refs.icon.$el,
      this.$refs.popper,
      {
        placement: 'bottom-start'
      }
    )
  },

  methods: {
    ...mapActions({
      getCustomItem: 'customItem/getCustomItem',
      destroyShareLinkId: 'shareProduct/destroyShareLinkId'
    }),

    onClickAwayHandler() {
      if (this.visible) this.onIconClick()
    },

    onIconClick() {
      if (!this.visible) {
        this.visible = true
        clearTimeout(this.outTimeout)
        setTimeout(() => {
          this.popupStyle.opacity = 1
          this.popperInstance.update()
        }, 10)
        return
      }
      setTimeout(() => {
        this.popupStyle.opacity = 0
        this.outTimeout = setTimeout(() => {
          this.visible = false
        }, 500)
      }, 10)
    },

    onClickAway() {
      this.visible = false
    },

    onShareViaEmailClick() {
      this.visible = false
      this.$root.$emit('share-via-email')
    },

    onSelectAll(event) {
      const input = event.target
      if (input.setSelectionRange)
        input.setSelectionRange(0, input.value.length)
    },

    copyToClipboard() {
      if (!this.$copyText) return
      this.$copyText(this.shareLink).then(
        (e) => {
          this.$sweetalert.insert({
            text: this.$t('share.linkCopied'),
            type: 'success',
            timer: 2500,
            toast: true,
            position: 'top-end'
          })
        },
        (e) => {
          this.$sweetalert.insert({
            text: this.$t('share.linkCopyError'),
            type: 'error',
            timer: 2500,
            toast: true,
            position: 'top-end'
          })
        }
      )
    }
  }
}
</script>

<style lang="sass" scoped>
.details-main-controls-compare-share
  position: relative
  .share-popper
    z-index: 999
    max-width: 400px
    background: #f9f9f9
    color: black
    padding: 15px
    @include border-radius(3px)
    @include transition(opacity, .5s)
    box-shadow: 0 5px 30px rgba(black, .1)
    .link-field
      height: 40px
      line-height: 40px
      outline: 0
      padding: 0 15px
      width: 100%
      font-size: 14px
    .social-icons
      .social-icon
        cursor: pointer
        border: 1px solid #8c7956
        border-radius: 50%
        color: #8c7956
        font-size: 20px
        height: 45px
        text-align: center
        text-decoration: none
        transition: all ease 0.3s
        width: 45px
        margin: 5px
        display: flex
        align-items: center
        justify-content: center
        &:hover
          background: #8c7956
          color: #fff
        &:focus
          outline: none
</style>
