<template lang="pug">
  modal.share-product(v-show="mounted", ref="modal", transition="modal", :max-width="1200", :name="modalName", :adaptive="true", :width="width", height="auto", @closed="enableScrolling")
    .modal-header
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body
      .share-product-title.is-italic {{ $t('detailsPage.shareProduct.form.title') }}
      .share-product-sub-title {{ $t('detailsPage.shareProduct.form.subTitle') }}
      form.share-product-form
        .form-row.is-flex
          .field(:class="{'field-error': $v.form.recipient1.$error}")
            label.label {{ $t('detailsPage.shareProduct.form.form.recipient1') }}
            .control.has-icons-left
              input.input(ref="email-field-0", v-model.trim="$v.form.recipient1.$model", :class="{'is-danger': $v.form.recipient1.$error}")
              span.icon.is-small.is-left
                i.fa.fa-envelope
            p.help.is-danger(v-if="!$v.form.recipient1.required && $v.form.recipient1.$dirty") {{ $t('detailsPage.shareProduct.form.rules.recipient1.required') }}
            p.help.is-danger(v-if="!$v.form.recipient1.email && $v.form.recipient1.$dirty") {{ $t('detailsPage.shareProduct.form.rules.recipient1.email') }}

          .field(:class="{'field-error': $v.form.senderName.$error}")
            label.label {{ $t('detailsPage.shareProduct.form.form.senderName') }}
            .control.has-icons-left
              input.input(v-model.trim="$v.form.senderName.$model", :class="{ 'is-danger': $v.form.senderName.$error }")
              span.icon.is-small.is-left
                i.fa.fa-user
            p.help.is-danger(v-if="!$v.form.senderName.required && $v.form.senderName.$dirty") {{ $t('detailsPage.shareProduct.form.rules.senderName.required') }}
        .form-row.is-flex
          .field(:class="{'field-error': $v.form.recipient2.$error}")
            label.label {{ $t('detailsPage.shareProduct.form.form.recipient2') }}
            .control.has-icons-left
              input.input(ref="email-field-1", v-model.trim="$v.form.recipient2.$model", :class="{'is-danger': $v.form.recipient2.$error}")
              span.icon.is-small.is-left
                i.fa.fa-envelope
            p.help.is-danger(v-if="!$v.form.recipient2.email && $v.form.recipient2.$dirty") {{ $t('detailsPage.shareProduct.form.rules.recipient2.email') }}

          .field(:class="{'field-error': $v.form.senderEmail.$error}")
            label.label {{ $t('detailsPage.shareProduct.form.form.senderEmail') }}
            .control.has-icons-left
              input.input(ref="email-field-2", v-model.trim="$v.form.senderEmail.$model", :class="{ 'is-danger': $v.form.senderEmail.$error }")
              span.icon.is-small.is-left
                i.fa.fa-envelope
            p.help.is-danger(v-if="!$v.form.senderEmail.required && $v.form.senderEmail.$dirty") {{ $t('detailsPage.shareProduct.form.rules.senderEmail.required') }}
            p.help.is-danger(v-if="!$v.form.senderEmail.email && $v.form.senderEmail.$dirty") {{ $t('detailsPage.shareProduct.form.rules.senderEmail.email') }}

        .form-row.is-flex
          .field.textarea-control(:class="{'field-error': $v.form.message.$error}")
            label.label {{ $t('detailsPage.shareProduct.form.form.message') }}
            .control
              textarea.textarea.is-radiusless(v-model.trim="$v.form.message.$model", :class="{ 'is-danger': $v.form.message.$error }")
          .field.send-copy
            .control
              checkbox(v-model="form.receiveCopy") {{ $t('detailsPage.shareProduct.form.form.shipToBilling') }}

        .form-row.is-flex
          .field.submit-control
            .control
              button.button.gold-color(ref="submitForm", :disabled="submitStatus === 'PENDING'") {{ $t('detailsPage.shareProduct.form.submit') }}

</template>

<script>
import email from 'vuelidate/lib/validators/email'
import required from 'vuelidate/lib/validators/required'
import { validationMixin } from 'vuelidate'
import { mapGetters, mapActions } from 'vuex'
import cloneDeep from 'lodash/cloneDeep'
import autoFillForms from '~~/mixins/autoFillForms'
import modalMixin from '~~/mixins/modalMixin'
import emailValidatorMixin from '~~/mixins/emailValidatorMixin'
import recaptchaMixin from '~~/mixins/recaptchaMixin'

export default {
  name: 'ShareProductEmailModalComponent',

  components: {
    Checkbox: () => import('~~/components/Common/Checkbox')
  },

  mixins: [
    recaptchaMixin,
    validationMixin,
    autoFillForms,
    modalMixin,
    emailValidatorMixin
  ],

  inject: ['pageType'],

  data: () => ({
    modalEvent: 'share-via-email',
    modalName: 'share-via-email',
    submitStatus: null,
    width: '60%',
    form: {
      senderName: '',
      senderEmail: '',
      recipient1: '',
      recipient2: '',
      message: '',
      receiveCopy: true
    }
  }),

  validations: {
    form: {
      senderName: { required },
      senderEmail: { required, email },
      recipient1: { required, email },
      recipient2: { email },
      message: {},
      receiveCopy: {}
    }
  },

  computed: {
    ...mapGetters({
      productDetails: 'productDetails/productDetails',
      selectedOptions: 'productDetails/selectedOptions'
    })
  },

  async created() {
    this.item =
      this.pageType === 'review'
        ? await this.getCustomItem()
        : cloneDeep({
            ...this.productDetails,
            selectedOptions: this.selectedOptions
          })
    this.form.message = this.$t('detailsPage.shareProduct.form.defaultMessage')
  },

  methods: {
    ...mapActions({
      submitForm: 'shareProduct/submitForm',
      getCustomItem: 'customItem/getCustomItem'
    }),

    onModalMounted() {
      this.mountReCaptcha()
    },

    // emailValidatorMixin for notification hotmail and live emails
    getEmailsFields() {
      this.emailFields = [
        this.$refs['email-field-0'],
        this.$refs['email-field-1'],
        this.$refs['email-field-2']
      ]
    },

    getShareLink() {
      if (window) {
        const { pathname, search } = window.location
        return pathname + search
      }
      return ''
    },

    async onFormSubmit(response) {
      this.form['g-recaptcha-response'] = response

      this.$v.$touch()
      if (this.$v.$invalid) {
        if (window.grecaptcha) window.grecaptcha.reset()
        this.submitStatus = 'ERROR'
      } else {
        this.submitStatus = 'PENDING'
        this.$root.$emit('loading-start')
        const params = {
          form: this.form,
          route: this.$route,
          item: this.item,
          pageLink: this.getShareLink()
        }
        await this.submitForm({ params })
        this.$root.$emit('loading-stop')
        this.onCloseHandler()
        this.$sweetalert.insert({
          title: this.$t('detailsPage.shareProduct.swal.title'),
          text: this.$t('detailsPage.shareProduct.swal.subTitle'),
          type: 'success',
          confirmButtonText: this.$t('detailsPage.shareProduct.swal.ok')
        })
        this.submitStatus = 'OK'
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.v--modal-overlay
  overflow: auto
  z-index: 3000
.share-product
  ::v-deep
    .v--modal-box
      +tablet-only
        width: 80% !important
      +mobile
        width: 100% !important
        left: 0 !important
  &-title
    font-size: 36px
    font-family: $lora
    font-weight: 400
    text-align: center
    margin-bottom: 20px
    line-height: 30px
    +mobile
      line-height: 42px
  &-sub-title
    text-align: center
    margin-bottom: 20px
  .modal-header
    position: relative
    height: 30px
    .close-button
      cursor: pointer
      position: absolute
      top: 10px
      right: 10px
      align-items: center
      text-transform: uppercase
      svg
        margin-left: 5px
        height: 15px
        width: 15px
  .modal-body
    padding: 20px
  &-form
    .form-row
      +mobile
        flex-direction: column
      &:not(:first-child)
        margin-top: 10px
        +mobile
          margin-top: unset
      .field
        flex: 1
        max-width: calc(50% - 10px)
        margin-bottom: 1.35rem
        &.send-copy
          margin-top: 31px
          .checkbox
            &:hover
              ::v-deep
                input:not(:checked) ~ .checkmark
                  background-color: white
                  &:after
                    border: solid #eee
                    border-width: 0 3px 3px 0
            ::v-deep
              .checkmark
                &:after
                  border: solid $dark-primary-color
                  border-width: 0 3px 3px 0
              input:checked ~ .checkmark
                background-color: white
        +mobile
          max-width: unset
          width: 100%
        &.field-error
          margin-bottom: unset
        .label
          text-transform: uppercase
        &.submit-control
          width: 100%
          max-width: unset
          .control
            text-align: center
            .button
              width: 200px
        &.textarea-control
          @extend .submit-control
      .field + .field
        margin-left: 20px
        +mobile
          margin-left: unset
</style>
