<template lang="pug">
.social-icon
  i(@click="onCLick(onCLickParams)", :class="icon")
</template>

<script>
export default {
  name: 'SocialIconComponent',

  props: {
    tooltipText: {
      type: String,
      default: 'Share'
    },
    tooltipPlacement: {
      type: String,
      default: 'top'
    },
    onCLick: {
      type: Function,
      default() {}
    },
    onCLickParams: {
      type: Object,
      default: () => {}
    },
    icon: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="sass" scoped>
.social-icon
  cursor: pointer
  border: 1px solid #8c7956
  border-radius: 50%
  color: #8c7956
  font-size: 20px
  height: 45px
  text-align: center
  text-decoration: none
  transition: all ease 0.3s
  width: 45px
  margin: 5px
  display: flex
  align-items: center
  justify-content: center

  &:hover
    background: #8c7956
    color: #fff

  &:focus
    outline: none

  i
    user-select: none
</style>
