<template lang="pug">
modal(ref="modal", name="details-param", :adaptive="true", height="auto", @closed="enableScrolling")
  .modal-header
    .close-button.is-flex(@click="onCloseHandler")
      span {{ $t('common.close') }}
      icon(iconName="close", iconColor="#2e2e2e")
  .modal-body
    component(:is="modalView")
</template>

<script>
export default {
  name: 'ModalComponent',

  components: {
    perCaratPrice: () => import('./Views/PerCaratPrice'),
    treatment: () => import('./Views/Treatment'),
    clarity: () => import('./Views/Clarity'),
    cut: () => import('./Views/Cut'),
    shape: () => import('./Views/Shape'),
    origin: () => import('./Views/Origin'),
    colorIntensity: () => import('./Views/ColorIntensity'),
    color: () => import('./Views/Color')
  },

  data: () => ({
    modalView: ''
  }),

  beforeDestroy() {
    this.$root.$off(['details-modal-param'])
  },

  mounted() {
    this.$root.$on('details-modal-param', this.onModalEventHandler)
  },

  methods: {
    onModalEventHandler(view) {
      this.modalView = view
      this.disableScrolling()
      this.$modal.show('details-param')
    },

    disableScrolling() {
      const html = document.getElementsByTagName('html')[0]
      html.classList.add('stop-scrolling')
    },

    enableScrolling() {
      const html = document.getElementsByTagName('html')[0]
      html.classList.remove('stop-scrolling')
    },

    onCloseHandler() {
      this.$modal.hide('details-param')
    }
  }
}
</script>

<style lang="sass" scoped>
.v--modal-overlay
  overflow: auto
  z-index: 3001
.modal-header
  position: relative
  height: 30px
  .close-button
    cursor: pointer
    position: absolute
    top: 10px
    right: 10px
    align-items: center
    text-transform: uppercase
    svg
      margin-left: 5px
      height: 15px
      width: 15px
</style>
