<template lang="pug">
.main-menu-mobile.is-flex(ref="menu")
  language-switcher-mobile-component(@expand="onExpandHandler")
  account-component
  top-header-search-line-component
  component.menu-item(@expand="onExpandHandler", @collapse="collapseHandler", :is="item.view", :item="item", v-for="item in items", :key="item.id")
  button.button.chat(@click="onStartChat") {{ $t('layout.mainMenu.chat') }}
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import dyo from './Views/dyo'
import simple from './Views/simple'
import AccountComponent from './Account'
import chatMixin from '~~/mixins/chatMixin'

export default {
  name: 'MainMenuMobileComponent',

  components: {
    AccountComponent,
    dyo,
    simple,
    LanguageSwitcherMobileComponent: () =>
      import('../../TopHeader/TopHeaderSecondLine/LanguageSwitcherMobile'),
    TopHeaderSearchLineComponent: () =>
      import('../../TopHeader/TopHeaderSearchLine')
  },

  mixins: [chatMixin],

  props: {
    items: {
      type: Array,
      default: () => []
    },

    visible: {
      type: Boolean,
      required: true
    }
  },

  provide() {
    return {
      expanded: this.expanded
    }
  },

  data: () => ({
    // provide/inject reactivity works only with objects
    expanded: {
      id: ''
    }
  }),

  computed: {
    ...mapGetters({
      localCurrencyCode: 'app/localCurrencyCode'
    })
  },

  watch: {
    visible(state) {
      // eslint-disable-next-line no-undef
      if (state && bodyScrollLock) bodyScrollLock.disableBodyScroll(this.$el)
      // eslint-disable-next-line no-undef
      if (!state && bodyScrollLock) bodyScrollLock.enableBodyScroll(this.$el)
    }
  },

  mounted() {
    this.$bodyScrollLock.insert()
  },

  beforeDestroy() {
    // eslint-disable-next-line no-undef
    if (bodyScrollLock) bodyScrollLock.enableBodyScroll(this.$el)
  },

  methods: {
    ...mapActions({
      setMenuState: 'app/setMenuState'
    }),

    collapseHandler() {
      this.setMenuState(false)
    },

    onExpandHandler(id) {
      this.expanded.id = id
    }
  }
}
</script>

<style lang="sass" scoped>
.main-menu-mobile
  position: fixed
  z-index: 1999
  overflow-y: auto
  top: 132px
  bottom: 0
  left: 0
  right: 0
  background-color: #ffffff
  flex-direction: column
  .menu-item
    border-bottom: 1px solid $border-color
  .top-header-search-line
    border-top: 1px solid $border-color
    flex-grow: unset
    width: 100%
  .chat
    margin: 20px
    text-transform: unset
    font-weight: 400
    color: $dark-green
</style>
