<template lang="pug">
  multiselect(
    @select="onSelectChange"
    v-model="sortBy",
    :options="items",
    track-by="id",
    label="label",
    select-label="",
    deselect-label="",
    selected-label="",
    :allow-empty="false",
    :searchable="false",
    :option-height="35"
    :placeholder="$t(`listingPage.${type}.localSort.placeholder`)"
  )
</template>

<script>
import cloneDeep from 'lodash/cloneDeep'
import { defaultFiltersMap } from '~~/utils/definitions/defaults'
import { newSortingNamesMap } from '~~/utils/definitions/filters'

export default {
  name: 'SortSelectorComponent',

  props: {
    items: {
      type: Array,
      default: () => []
    }
  },

  data: () => ({
    sortBy: null,
    default: null
  }),

  computed: {
    type() {
      return this.$store.getters.typeList
    },

    selectedFilters() {
      return this.$store.state.filters.selectedFilters[this.type]
    }
  },

  watch: {
    '$route.query': {
      deep: true,
      handler(newQuery, oldQuery) {
        if (
          newQuery['sort-by'] !== oldQuery['sort-by'] ||
          newQuery.order !== oldQuery.order
        ) {
          this.getSelectedSort()
        }
      }
    }
  },

  mounted() {
    this.updateSorting()
  },

  methods: {
    getSelectedSort() {
      let sortBy = null
      let sortOrder = null

      if (!this.selectedFilters.sortBy) {
        sortBy = defaultFiltersMap[this.type].sortBy
        sortOrder = defaultFiltersMap[this.type].sortOrder
      } else {
        sortBy = newSortingNamesMap[this.selectedFilters.sortBy[0]]
        sortOrder = this.selectedFilters.order[0] === 'asc' ? 1 : 2
      }

      this.sortBy = this.items.find(
        (item) => item.sortBy === sortBy && item.sortOrder === sortOrder
      )
    },

    updateSorting() {
      this.getSelectedSort()
      this.default = this.items.find((item) => item.default)
    },

    pushFilterToUrl(sortBy, order) {
      const query = cloneDeep(this.$route.query)
      query['sort-by'] = sortBy
      query.order = order

      this.$router.push({ query })
    },

    onSelectChange(val) {
      if (val.id === this.default.id) {
        const query = cloneDeep(this.$route.query)
        delete query['sort-by']
        delete query.order
        this.$router.push({ query })
        return
      }
      this.pushFilterToUrl(val.sort, val.order)
    }
  }
}
</script>
