<template lang="pug">
#listing-controls.controls-wrapper.is-flex(:class="kebabCase(type)")
  view-switcher-component
  items-count-component(v-if="$device.isDesktopOrTablet")
  preview-items-switcher-component(v-if="showPreviewItemsSwitcher")
  component(v-if="$device.isDesktopOrTablet", :is="sortComponentName")
</template>

<script>
import { hydrateWhenIdle } from 'vue-lazy-hydration'
import kebabCase from 'lodash/kebabCase'
import { settings, bands, previewJewelry } from '~~/utils/sitemapUtils'
export default {
  name: 'ControlsComponent',

  components: {
    PreviewItemsSwitcherComponent: hydrateWhenIdle(() =>
      import('~~/components/ListingPage/Controls/PreviewItemsSwitcher')
    ),
    SortComponent: hydrateWhenIdle(() => import('./Sorting/OldSorting/Sort')),
    NewSortComponent: hydrateWhenIdle(() =>
      import('./Sorting/NewSorting/Sort')
    ),
    ItemsCountComponent: hydrateWhenIdle(() => import('./ItemsCount')),
    ViewSwitcherComponent: hydrateWhenIdle(() => import('./ViewSwitcher'))
  },

  computed: {
    showPreviewItemsSwitcher() {
      return (
        previewJewelry.includes(this.type) && this.$device.isDesktopOrTablet
      )
    },

    type() {
      return this.$store.getters.typeList
    },

    sortComponentName() {
      if ([...settings, ...bands].includes(this.type)) return 'NewSortComponent'
      return 'SortComponent'
    }
  },

  methods: {
    kebabCase
  }
}
</script>

<style lang="sass" scoped>
.controls-wrapper
  align-items: center
  //margin-top: 35px
  justify-content: space-between
  +tablet-only
    flex-direction: column
    .sorting
      margin-top: 20px
      width: 100%
      justify-content: space-between !important
      order: 3
    .view-switcher
      margin-top: 20px
      width: 100%
      justify-content: space-between
      order: 2
    .items-count
      order: 1
    .preview-item-switcher
      margin-top: 25px
      width: 100%
      justify-content: space-between !important
  +mobile
    margin-top: unset
    flex-direction: column
    .sorting
      margin-top: 20px
      width: 100%
      justify-content: space-between
      order: 3
    .view-switcher
      width: 100%
      justify-content: space-between
      order: 2
    .items-count
      order: 1
  &.rings-list,
  &.earrings-list,
  &.necklaces-pendants-list
    .view-switcher
      order: 1
    .items-count
      order: 0
    .preview-item-switcher
      order: 2
    .sorting
      order: 3
    +desktop-only
      flex-wrap: wrap
      .view-switcher,
      .sorting
        justify-content: right
      .sorting,
      .preview-item-switcher
        margin-top: 10px
      > *
        width: 50%
    +tablet-only
      .view-switcher
        order: 2
      .items-count
        order: 0
      .preview-item-switcher
        justify-content: flex-end
        order: 3
      .sorting
        justify-content: flex-end
        order: 1
    +mobile
      .preview-item-switcher
        margin-top: 20px
</style>
