<template lang="pug">
main.account-page.page
  page-header(:title="$t('account.notifications.title')", :breadcrumbs="breadcrumbsLocal")
  .container.account-page__notifications(data-v-important)
    button.sign-out.button.gold-color.light.is-hidden-tablet(@click="$auth.logout") {{ $t('account.dashboard.signOut') }}
    accordion-component
      section-component(v-for="section in sections", :key="section.id", :section="section")
  back-to-top-component
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
import debounce from 'lodash/debounce'
import authRestrictedMixin from '~~/mixins/authRestrictedMixin'
import _basePage from '~~/components/Page/_basePage'

export default {
  name: 'AccountPage',

  middleware: 'isAuthorized',

  components: {
    PageHeader: () => import('~~/components/Account/PageHeader'),
    SectionComponent: () =>
      import('~~/components/Account/Notifications/Section'),
    AccordionComponent: () => import('~~/components/Common/Accordion/Accordion')
  },

  extends: _basePage,

  mixins: [authRestrictedMixin],

  computed: {
    ...mapState({
      sections: (state) => state.accountPages.notificationsList
    }),
    ...mapGetters({
      selectedNotifications: 'accountPages/selectedNotifications'
    }),

    breadcrumbsLocal() {
      return [
        {
          id: 'd8ac6bff-ce6d-4232-a68a-ab3131728f62',
          name: this.$t('breadcrumbs.home'),
          path: '/'
        },
        {
          id: 'a056f40a-6739-47b5-a620-b8f20d0d170d',
          name: this.$t('breadcrumbs.account.dashboard'),
          path: '/account'
        },
        {
          id: '95c14fc9-6ca5-4be2-af83-c870fd236f76',
          name: this.$t('breadcrumbs.account.notifications')
        }
      ]
    }
  },

  async fetch(context) {
    context.store.dispatch('getMeta', context)
    await context.store.dispatch('accountPages/fetchNotificationsList')
  },

  beforeDestroy() {
    this.$root.$off('notifications-updated', this.onNotificationsUpdated)
  },

  mounted() {
    this.$root.$on('notifications-updated', this.onNotificationsUpdated)
  },

  methods: {
    ...mapActions({
      saveNotificationsList: 'accountPages/saveNotificationsList'
    }),

    onNotificationsUpdated: debounce(async function() {
      await this.saveNotificationsList()
    }, 500)
  }
}
</script>

<style lang="sass" src="~~/assets/styles/pages/account/accordion.sass"></style>

<style lang="sass" scoped>
$padding: 34px

.account-page
  &__notifications
    margin-top: $padding
    @include margin-bottom()
    .sign-out
      margin-top: 2rem
      width: 100%
    .button
      width: 100%
      margin-bottom: 20px
</style>
