<template lang="pug">
  section.custom-design-section-one.lazy.is-flex(data-lazy-function="loaded")
    .container.is-flex
      .left-side
        v-image.ring-image(:src="`customJewelry/section-one-ring@2x.png`")
        v-image.earrings-image.is-hidden-mobile(:src="`customJewelry/section-one-earrings@2x.png`")
      .right-side.is-flex
        .right-side-sub-title.is-italic {{ $t('learnMore.topImage.subTitle') }}
        .right-side-title {{ $t('learnMore.topImage.title') }}
        .right-side-text {{ $t('learnMore.topImage.message') }}
        v-link.button.gold-color(:to="{name: 'design-your-own'}") {{ $t('learnMore.topImage.button') }}
</template>

<script>
export default {
  name: 'SectionOneComponent'
}
</script>

<style lang="sass" scoped>
@include background-image('custom-design-section-one', 'customJewelry/section-one-bg', 'jpg')
.custom-design-section-one
  background-size: contain
  background-position-x: center
  .container
    +mobile
      flex-direction: column
    .left-side,
    .right-side
      height: inherit
      width: 50%
    .left-side
      position: relative
      +tablet-only
        width: 33.33%
      +mobile
        height: 300px
        width: 100%
      .ring-image
        position: absolute
        margin: auto
        top: 10%
        left: 0
        right: 0
        +mobile
          top: 0
      .earrings-image
        position: absolute
        bottom: 10%
        right: 10%
        +tablet-only
          right: -10%
    .right-side
      padding: 77px 70px
      text-align: center
      flex-direction: column
      justify-content: center
      +tablet-only
        width: 66.66%
        padding: 70px 20px
      +mobile
        width: 100%
        padding: 0 0 35px 0
      &-sub-title
        font-size: 24px
        font-family: $lora
      &-title
        margin-top: 10px
        line-height: 1
        text-transform: uppercase
        font-size: 50px
        font-family: $lora
      &-text
        margin-top: 30px
        font-size: 16px
      .button
        margin: 30px auto 0
        padding: 12px 52px
</style>
