<template lang="pug">
section.custom-design-section-six.is-flex.lazy(data-lazy-function="loaded")
  .container.is-flex
    .section-title.is-italic {{ $t('learnMore.fifthBlock.title') }}
    .items-options.is-flex
      v-link.button.gold-color(:to="routeToStonesListing") {{ $t('learnMore.fifthBlock.buttonStones') }}
      v-link.button.gold-color(:to="routeToPairsListing") {{ $t('learnMore.fifthBlock.buttonPairs') }}
</template>

<script>
const routeMap = {
  ruby: {
    stones: 'rubies',
    pairs: 'rubies-matched-pairs-of-rubies'
  },
  emerald: {
    stones: 'emeralds',
    pairs: 'emeralds-matched-pairs-of-emeralds'
  }
}

export default {
  name: 'SectionSixComponent',

  computed: {
    routeToStonesListing() {
      return {
        name: routeMap[this.$site.name].stones
      }
    },

    routeToPairsListing() {
      return {
        name: routeMap[this.$site.name].pairs
      }
    }
  }
}
</script>

<style lang="sass" scoped>
@include background-image('custom-design-section-six', 'ourStory/bg', 'jpg')
.custom-design-section-six
  padding: 90px
  +touch
    background-size: 30px
  +mobile
    padding: 90px 20px
  .container
    flex-direction: column
    align-items: center
    .section-title
      text-align: center
      font-size: 40px
      font-family: $lora
      line-height: 1
      max-width: 510px
    .items-options
      +tablet
        .button + .button
          margin-left: 15px
      +mobile
        flex-direction: column
      .button
        margin-top: 30px
        padding: 12px 52px
</style>
