<template lang="pug">
  section.custom-design-section-four.is-flex.lazy(data-lazy-function="loaded")
    .container.is-flex
      .left-side
        .step-number.is-italic.is-flex 3
        .step-title.is-italic {{ $t("learnMore.thirdBlock.title") }}
        .step-text {{ $t('learnMore.thirdBlock.message') }}
      .right-side.is-flex
        v-image(:src="`customJewelry/three-steps@2x.png`")
</template>

<script>
export default {
  name: 'SectionFourComponent'
}
</script>

<style lang="sass" scoped>
@include background-image('custom-design-section-four', 'ourStory/bg', 'jpg')
.custom-design-section-four
  overflow: hidden
  align-items: center
  +touch
    background-size: 30px
  .container
    height: 100%
    +mobile
      flex-direction: column-reverse
    .left-side,
    .right-side
      height: inherit
      width: 50%
      text-align: center
      padding: 70px
    .step-number
      margin: 0 auto
      justify-content: center
      align-items: center
      font-size: 36px
      color: $dark-primary-color
      border: 1px solid $dark-primary-color
      height: 70px
      width: 70px
      border-radius: 50%
      font-family: $lora
    .step-title
      font-size: 40px
      font-family: $lora
      line-height: 1
      margin-top: 30px
    .step-text
      margin-top: 30px
      font-size: 16px
    .left-side
      +tablet-only
        width: 50%
        padding: 70px 20px
      +mobile
        width: 100%
        padding: 0 0 40px
    .right-side
      height: auto
      align-items: center
      +tablet-only
        width: 50%
        padding: 70px 20px
      +mobile
        height: 200px
      +mobile
        width: 100%
        padding: 0
</style>
