<template lang="pug">
  section.custom-design-section-two.is-flex
    .container.is-flex
      .left-side
        .step-number.is-italic.is-flex 1
        i18n.step-title.is-italic(path="learnMore.firstBlock.title", tag="div", for="learnMore.firstBlock.settings")
          a(slot="link", @click="$root.$emit('settings-selector-all')") {{ $t('learnMore.firstBlock.settings') }}
        .step-text {{ $t('learnMore.firstBlock.message') }}
      .right-side.is-paddingless
        ring-stone-component
</template>

<script>
export default {
  name: 'SectionTwoComponent',
  components: {
    RingStoneComponent: () =>
      import('~~/components/CustomJewelry/RingStone/RingStone')
  }
}
</script>

<style lang="sass" scoped>
.custom-design-section-two
  overflow: hidden
  background-color: $third-bg-color
  align-items: center
  .container
    height: 100%
    +mobile
      flex-direction: column-reverse
    .left-side,
    .right-side
      height: inherit
      width: 50%
      text-align: center
      padding: 70px
    .step-number
      margin: 0 auto
      justify-content: center
      align-items: center
      font-size: 36px
      color: $dark-primary-color
      border: 1px solid $dark-primary-color
      height: 70px
      width: 70px
      border-radius: 50%
      font-family: $lora
    .step-title
      font-size: 40px
      font-family: $lora
      line-height: 1
      margin-top: 30px
      a
        color: $gold-color
    .step-text
      margin-top: 30px
      font-size: 16px
    .left-side
      +tablet-only
        width: 66.66%
        padding: 70px 20px
      +mobile
        width: 100%
        padding: 30px 0
    .right-side
      height: auto
      +tablet-only
        width: 33.33%
      +mobile
        height: 400px
      +mobile
        width: 100%
        padding: 0
</style>
