<template lang="pug">
section.custom-design-section-five.is-flex.lazy(data-lazy-function="loaded")
  .container.is-flex
    .left-side.is-flex.lazy(data-lazy-function="loaded")
      v-image(@click="onVideoPlayHandler", src="packaging/playButton@2x.png")
    .right-side
      .step-number.is-italic.is-flex 4
      .step-title.is-italic {{ $t('learnMore.fourthBlock.title') }}
      .step-text {{ $t('learnMore.fourthBlock.message') }}
</template>

<script>
export default {
  name: 'SectionFiveComponent',

  methods: {
    onVideoPlayHandler() {
      this.$root.$emit('packaging-video')
    }
  }
}
</script>

<style lang="sass" scoped>
+tablet
  @include background-image('custom-design-section-five', 'packaging/bg-reverse', 'jpg')
+mobile
  @include background-image('left-side', 'customJewelry/mobile-bg', 'jpg')
.custom-design-section-five
  background-color: #520024
  background-size: cover
  background-position-y: center
  align-items: center
  +tablet-only
    background-position-x: center
  +mobile
    background-color: #560429
    background-image: unset
  .container
    height: 100%
    +mobile
      flex-direction: column
    .left-side,
    .right-side
      height: inherit
      width: 50%
      text-align: center
      padding: 80px
    .step-number
      margin: 0 auto
      justify-content: center
      align-items: center
      font-size: 36px
      color: #fff
      border: 1px solid #fff
      height: 70px
      width: 70px
      border-radius: 50%
      font-family: $lora
    .step-title
      color: #fff
      font-size: 40px
      font-family: $lora
      line-height: 1
      margin-top: 30px
    .step-text
      color: #fff
      margin-top: 30px
      font-size: 16px
    .left-side
      align-items: center
      justify-content: center
      height: auto
      +tablet-only
        width: 33.33%
        padding: 70px 20px
      +mobile
        background-size: contain
        background-position: center
        background-repeat: no-repeat
        height: 400px
        width: 100%
        padding: 30px 0
      ::v-deep
        img
          cursor: pointer
    .right-side
      height: auto
      align-items: center
      +tablet-only
        padding: 70px 20px
        width: 66.66%
      +mobile
        width: 100%
        padding: 0 0 30px
</style>
