<template lang="pug">
section.custom-design-section-three.is-flex
  .container.is-flex
    .left-side.is-flex
      v-image(:src="`customJewelry/stones@2x.png`")
    .right-side
      .step-number.is-italic.is-flex 2
      i18n.step-title.is-italic(path="learnMore.secondBlock.title", tag="div", for="learnMore.secondBlock.settings")
        v-link(slot="link", :to="routeToStonesListing") {{ $t('learnMore.secondBlock.stones') }}
      .step-text {{ $t('learnMore.secondBlock.message') }}
</template>

<script>
const routeMap = {
  ruby: 'rubies',
  emerald: 'emeralds'
}

export default {
  name: 'SectionThreeComponent',

  computed: {
    routeToStonesListing() {
      return {
        name: routeMap[this.$site.name]
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.custom-design-section-three
  align-items: center
  .container
    +mobile
      flex-direction: column
    .left-side,
    .right-side
      height: inherit
      width: 50%
      text-align: center
      padding: 70px
      +tablet-only
        padding: 20px
    .left-side
      align-items: center
      +tablet-only
        width: 33.33%
      +mobile
        width: 100%
        height: 300px
        padding: 30px 0
    .right-side
      +tablet-only
        padding: 70px 20px
        width: 66.66%
      +mobile
        width: 100%
        padding: 30px 0
      .step-number
        margin: 0 auto
        justify-content: center
        align-items: center
        font-size: 36px
        color: $dark-primary-color
        border: 1px solid $dark-primary-color
        height: 70px
        width: 70px
        border-radius: 50%
        font-family: $lora
      .step-title
        font-size: 40px
        font-family: $lora
        line-height: 1
        margin-top: 30px
        a
          color: $gold-color
      .step-text
        margin-top: 30px
        font-size: 16px
</style>
