<template lang="pug">
div
</template>

<script>
export default {
  name: 'BaseSlideComponent',

  props: {
    item: {
      type: Object,
      required: true
    },

    slide: {
      type: Object,
      required: true
    },

    active: {
      type: Boolean,
      default: false
    },

    // force load slide
    loadSlide: {
      type: Boolean,
      default: false
    },

    ready: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    loaded: false
  }),

  computed: {
    currentItem() {
      if (this.slide.custom) return this.item[`custom${this.slide.custom}`]
      return this.item
    }
  },

  watch: {
    loadSlide(state) {
      if (state && !this.loaded) this.forceLoadSlide()
    }
  },

  mounted() {
    if (this.loadSlide && !this.loaded) this.forceLoadSlide()
  },

  methods: {
    forceLoadSlide() {}
  }
}
</script>

<style lang="sass" scoped></style>
