<template lang="pug">
  .slide-hand
    .slide-hand__images(ref="sourceArea", :class="item.category.toLowerCase()")
      v-image.white-hand.hand-image(@load="$emit('load')", :src="backImage.white")
      v-image.dark-hand.hand-image(@load="$emit('load')", :src="backImage.dark", :style="{ opacity: darkOpacity}")
      v-image.black-hand.hand-image(@load="$emit('load')", :src="backImage.black", :style="{ opacity: blackOpacity}")
      img.ring-image(@load="$emit('load')", ref="ringImage", :src="slide.image.large")
    .slide-hand__slider.is-flex(:class="{[item.category.toLowerCase()]: true, dark: opacity > 0.7 }")
      .slide-hand__slider-left-label {{ $t('detailsPage.lightSkin') }}
      .slide-hand__slider-right-label {{ $t('detailsPage.darkSkin') }}
      .slider(ref="slider")
</template>

<script>
import Zoom from './SlideHandZoom'
import { cookiesOpts } from '~~/utils/definitions/defaults.js'

const imagesMap = {
  Ring: 'hand',
  Earring: 'ear',
  Pendant: 'neck',
  Necklace: 'neck'
}

export default {
  name: 'HandSlideComponent',

  props: {
    item: {
      type: Object,
      required: true
    },

    slide: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    sliderPlugin: null,
    zoomPlugin: null,
    opacity: 0,
    skinTonePosition: 0.35
    // loadedImagesCount: 0
  }),

  computed: {
    sliderOptions() {
      return {
        start: [this.skinTonePosition],
        range: {
          min: 0,
          max: 2
        }
      }
    },

    backImage() {
      const category =
        this.item.category === 'Preview'
          ? this.item.subCategory
          : this.item.category

      return {
        white: `details/${imagesMap[category]}3@2x.jpg`,
        dark: `details/${imagesMap[category]}2@2x.jpg`,
        black: `details/${imagesMap[category]}1@2x.jpg`
      }
    },

    darkOpacity() {
      if (this.opacity > 1) return 1
      return this.opacity
    },

    blackOpacity() {
      if (this.opacity <= 1) return 0
      return this.opacity - 1
    }
  },

  beforeDestroy() {
    if (this.zoomPlugin) this.zoomPlugin.destroy()
  },

  created() {
    this.setSkinTonePosition()
  },

  mounted() {
    this.initComponent()
    this.$once('load', this.onImageLoaded)
  },

  methods: {
    setSkinTonePosition() {
      const position = this.$cookies.get('skin-tone')
      if (position) {
        this.skinTonePosition = Number(position.skinTonePosition) || 0.9
      }
    },

    onImageLoaded() {
      this.zoomPlugin = new Zoom(this.$refs.sourceArea, {
        inline: this.$device.isMobile
      })
      this.zoomPlugin.init()
    },

    async initComponent() {
      this.sliderPlugin = await this.$nouislider.insert(
        this.$refs.slider,
        this.sliderOptions
      )
      this.sliderPlugin.on('update', this.onSliderUpdateHandler)
      this.sliderPlugin.on('end', this.onSliderEndHandler)
    },

    onSliderUpdateHandler(values, handle) {
      this.opacity = Number(values[handle])
      const params = {
        skinToneOpacity: this.opacity,
        skinTonePosition: Number(values[0])
      }
      this.$root.$emit('skin-tone-changed', params)
    },

    onSliderEndHandler(values, handle) {
      this.$nextTick(() => {
        const params = {
          skinToneOpacity: this.opacity,
          skinTonePosition: Number(values[0])
        }
        this.$cookies.set('skin-tone', params, cookiesOpts)
      })
    }
  }
}
</script>

<style lang="sass">
.zoom-lens
  position: absolute
  border: 1px solid $border-color
  z-index: 2
  pointer-events: none
.zoom-area
  &--wrapper
    pointer-events: none
    position: absolute
    z-index: 1996 // lower than main menu and mobile header
    top: 0
    left: 0
    border: 1px solid $border-color
    background-color: #ffffff
    overflow: hidden
  &--inline
    border: none
</style>

<style lang="sass" scoped>
.slide-hand
  user-select: none
  position: relative
  &__images
    position: relative
    .dark-hand,
    .black-hand,
    .ring-image
      position: absolute
      top: 0
      left: 0
    .ring-image
      z-index: 1
    &.earring
      ::v-deep
        img
          transform: scale(1.35) translate(-13%, 0%)
  &__slider
    position: absolute
    z-index: 999
    bottom: 0
    left: 0
    right: 0
    min-height: 40px
    max-width: 80%
    width: 100%
    margin: 0 auto
    align-items: center
    justify-content: center
    &.pendant,
    &.necklace
      .slide-hand__slider-left-label,
      .slide-hand__slider-right-label
        color: white
    &.earring
      &.dark
        .slide-hand__slider-right-label
          color: white
    .slider
      flex: auto
  &__slider-left-label,
  &__slider-right-label
    position: absolute
    z-index: 1000
    top: -10px
  &__slider-left-label
    left: -30px
  &__slider-right-label
    right: -30px
</style>
