<template lang="pug">
  v-image.slide-image(ref="image", @click="$emit('click')", @load="onImageLoad", :src="slide.image.large", :alt="itemNameFormatter(currentItem)")
</template>

<script>
import _baseSlide from './_baseSlide'
import { itemNameFormatter } from '~~/utils/formatters'

export default {
  name: 'SlideImageComponent',

  extends: _baseSlide,

  methods: {
    forceLoadSlide() {
      if (this.$refs.image) this.$refs.image.forceLoad()
    },

    onImageLoad() {
      this.loaded = true
      this.$emit('load')
    },

    itemNameFormatter
  }
}
</script>

<style lang="sass" scoped>
.slide-image
  cursor: zoom-in
  width: 100%
  height: 100%
  ::v-deep
    picture
      height: 100%
    img
      height: 100%
      width: auto
</style>
