<template lang="pug">
  .images-wrapper.slide-image.is-flex
    img.slide-image(@load="loaded++", :src="slide.image.stone.large", :alt="itemNameFormatter(currentItem)")
    img.slide-image(@load="loaded++", :src="slide.image.setting.large", :alt="itemNameFormatter(currentItem)")
</template>

<script>
import _baseSlide from './_baseSlide'
import { itemNameFormatter } from '~~/utils/formatters'

export default {
  name: 'SlideCombinationComponent',

  extends: _baseSlide,

  data: () => ({
    loaded: 0
  }),

  watch: {
    loaded(val) {
      if (val === 2) this.$emit('load')
    }
  },

  methods: {
    itemNameFormatter
  }
}
</script>

<style lang="sass" scoped>
.slide-image
  width: 100%
  align-items: center
  justify-content: center
  margin: 1px
  ::v-deep
    img
      flex: 1
      width: 0
      box-shadow: 0 0 0 1px $border-color
</style>
