<template lang="pug">
  .video-wrapper(v-observe-visibility="{callback: initVideoPlayer, once: true}")
    video(v-show="mounted", ref="video", muted, loop, playsinline, autoplay, :controls="showControls")
    button.button.fullscreen(v-if="!isIphone", @click="onFullScreenClick") {{ $t('detailsPage.fullscreen') }}
    .video-preloader(v-if="!mounted")
      .video-preloader__wrapper.is-flex
        loader-component
</template>

<script>
import _baseSlide from './_baseSlide'
import LoaderComponent from '~~/components/Common/Loader/Loader'

export default {
  name: 'SlideSizeVideoComponent',

  components: { LoaderComponent },

  extends: _baseSlide,

  data: () => ({
    player: null,
    mounted: false
  }),

  computed: {
    sizeVideoLink() {
      return this.slide.videoFileName
    },

    showControls() {
      return this.isIphone && this.mounted
    },

    isIphone() {
      return this.$device.isMobile && this.$device.isIos
    }
  },

  beforeDestroy() {
    if (this.player) this.player.destroy()
  },

  methods: {
    onFullScreenClick() {
      // Full screen not supported on iPhones https://stackoverflow.com/a/12823162

      if (this.$refs.video.requestFullscreen) {
        this.$refs.video.requestFullscreen()
      } else if (this.$refs.video.webkitRequestFullscreen) {
        /* Safari */
        this.$refs.video.webkitRequestFullscreen()
      } else if (this.$refs.video.msRequestFullscreen) {
        /* IE11 */
        this.$refs.video.msRequestFullscreen()
      }
    },

    forceLoadSlide() {
      this.initVideoPlayer(true)
    },

    initVideoPlayer(isVisible) {
      if (isVisible && !this.mounted) {
        const options = {
          debug: false,
          testBandwidth: true,
          startFragPrefetch: true,
          startLevel: -1,
          maxLoadingDelay: 3,
          autoplay: true
        }

        this.player = this.$hls.insert(
          this.$refs.video,
          this.sizeVideoLink,
          options,
          this.playerCallback,
          this.playerFallback
        )
      }
    },

    playerCallback() {
      this.mounted = true
    },

    playerFallback() {
      const source = document.createElement('source')
      source.setAttribute('src', this.sizeVideoLink)
      this.$refs.video.appendChild(source)
      this.$refs.video.play().then(() => {
        this.mounted = true
      })
    }
  }
}
</script>

<style lang="sass" scoped>
.video-wrapper
  position: relative
  height: 100%
  width: 100%
  text-align: center
  .fullscreen
    position: absolute
    width: 100%
    max-width: 200px
    margin: auto
    left: 0
    right: 0
    bottom: 5%
    color: white
    border: 1px solid #ffffff
    background-color: rgba(0, 0, 0, 0.3)
  .video-preloader
    position: absolute
    z-index: 9999 !important
    box-sizing: border-box
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.2)
    &__wrapper
      width: 100%
      height: 100%
      justify-content: center
      align-items: center
      .loader
        color: $dark-primary-color
        transform: scale(0.3)
  .not-supported
    width: 100%
    height: 100%
    justify-content: center
    align-items: center
    font-size: 16px
  video
    user-select: none
    height: 100%
    outline: none
</style>
