<template lang="pug">
  v-image.slide-image(ref="image", @load="onImageLoad", @click="$emit('click')", :src="slide.image.large")
</template>

<script>
import _baseSlide from './_baseSlide'

export default {
  name: 'SlideSarinComponent',

  extends: _baseSlide,

  methods: {
    forceLoadSlide() {
      if (this.$refs.image) this.$refs.image.forceLoad()
    },

    onImageLoad() {
      this.loaded = true
    }
  }
}
</script>

<style lang="sass" scoped>
.slide-image
  cursor: zoom-in
</style>
