<template lang="pug">
  .video-wrapper(v-observe-visibility="{callback: videoVisibility, once: true}")
    video-360(v-if="ready && visible", :message="showMessage", ref="video", :attrs="getAttrs", :key="currentItem.metalTypeCode || 'ecb4e21e'")
</template>

<script>
import get from 'lodash/get'
import _baseSlide from './_baseSlide'
import {
  bands,
  jewelry,
  jewelryByCategory,
  productListTypeByCategory,
  settings
} from '~~/utils/definitions/defaults'

export default {
  name: 'SlideVideoComponent',

  components: {
    video360: () => import('~~/components/Common/video360')
  },

  extends: _baseSlide,

  inject: ['pageType'],

  data: () => ({
    visible: false
  }),

  computed: {
    isQuickView() {
      return this.pageType === 'listing'
    },

    showMessage() {
      if (this.isQuickView) return false
      if (this.item.isFix) return false
      return ['Stone', 'Pair', ...jewelryByCategory].includes(
        this.item.category
      )
    },

    productType() {
      if (
        jewelry.includes(productListTypeByCategory[this.currentItem.category])
      )
        return 'jewelry'
      if (bands.includes(productListTypeByCategory[this.currentItem.category]))
        return 'band'
      if (
        settings.includes(productListTypeByCategory[this.currentItem.category])
      )
        return 'setting'
      return 'stone'
    },

    videoSize() {
      return this.$device.isMobile ? 'medium' : 'full'
    },

    getAttrs() {
      const { id, framesCount, metalTypeCode } = this.currentItem

      return {
        id,
        prefix: id,
        behavior: 'swing',
        startOn: 'auto',
        onclick: null,
        size: this.videoSize,
        progressHeight: '2',
        framesCount,
        metalTypeCode,
        itemType: this.productType,
        cover: get(this.currentItem, 'thumbnails[0].large', ''),
        host: process.env.video360Url,
        onSwipe: this.onSwipeHandler
      }
    }
  },

  methods: {
    videoVisibility(isVisible) {
      this.visible = isVisible
    },

    onSwipeHandler(direction) {
      this.$emit('swipe', direction)
    }
  }
}
</script>

<style lang="sass" scoped>
.video-wrapper
  width: 100%
  height: 100%
  position: relative
  //width: 100% // remove this if not necessary to scale video 360 to full size
  .border-left,
  .border-right
    position: absolute
    width: 30px
    height: 100%
    z-index: 1
  .border-left
    left: 0
    top: 0
  .border-right
    right: 0
    top: 0
</style>
