<template lang="pug">
  transition(name="view-change", mode="out-in")
    virtual-list#products-list.pages-list(
      :class="listView"
      :key="listView",
      :extra-props="extraProps",
      :item-scoped-slots="{ onAllItemsLoaded }",
      direction="vertical",
      ref="pagesList",
      item-class="listpages",
      @scroll="onScrollHandler",
      :top-threshold="topThreshold",
      :bottom-threshold="bottomThreshold",
      :keeps="5",
      :page-mode="true",
      :estimate-size="estimateSize",
      data-key="guid",
      :data-sources="pages",
      :data-component="pageComponent"
    )
      #table-header.table-header.is-flex(slot="header", ref="header", v-if="listView === 'table'")
        .table-column(v-for="column in headerColumns", :key="column.id", :data-name="column.name") {{ column.title }}
        .table-column-actions(data-name="actions")
</template>

<script>
import { FadeTransition } from 'vue2-transitions'
import debounce from 'lodash/debounce'
import VirtualList from '../VirtualList'
import ModulePage from './Pages/ModulePage'
import TablePage from './Pages/TablePage'
import { getOffset, query } from '~~/utils/utils'
import {
  tabletPageSize,
  updateItemsListDelay as delay
} from '~~/utils/definitions/defaults'
import {
  getResultTableColumns,
  getWidths
} from '~~/components/ListingPage/config'
import Queue from '~~/utils/helpers/listingQueue'

const reducer = (accumulator, currentValue) => accumulator + currentValue

const pageLoadDelta = 2 // pages loaded ahead
const defaultPagesPreloadDelay = 500 // delay before each next request in preloading query

export default {
  name: 'ItemsListComponent',

  components: {
    FadeTransition,
    VirtualList
  },

  data: () => ({
    topThreshold: 0,
    bottomThreshold: 0,
    oldHeight: 0,
    oldScroll: 0,
    pagesHeights: [],
    maxItemHeight: 0,
    widths: getWidths(),
    stopEvents: true,
    preloading: true, // preloading neighbor pages in process
    stopFetching: false,
    queue: null,
    lastScrollTop: null
  }),

  computed: {
    currentPage() {
      return Number(this.$route.query.page) || 1
    },

    extraProps() {
      return {
        widths: this.widths
      }
    },

    headerColumns() {
      return getResultTableColumns.call(this)
    },

    estimateSize() {
      const filtered = this.pagesHeights.filter((p) => !!p)
      if (!filtered.length) return 1532
      return filtered.reduce(reducer) / filtered.length
    },

    thresholdCommonOffset() {
      return this.maxItemHeight
    },

    pages() {
      return this.$store.state[this.type].pagesList
    },

    type() {
      return this.$store.getters.typeList
    },

    totalItemsCount() {
      return this.$store.state[this.type].totalItemsCount
    },

    totalPagesCount() {
      return this.$store.state[this.type].totalPagesCount
    },

    loadedPages() {
      return this.$store.getters[`${this.type}/loadedPages`]
    },

    firstLoadedPageNumber() {
      return this.loadedPages[0]
    },

    lastLoadedPageNumber() {
      return this.loadedPages[this.loadedPages.length - 1]
    },

    listView() {
      return this.$store.state[this.type].listView
    },

    pageComponent() {
      const componentsMap = {
        module: ModulePage,
        table: TablePage
      }
      return componentsMap[this.listView]
    },

    pagesPreloadDelay() {
      return defaultPagesPreloadDelay
    }
  },

  watch: {
    listView(state) {
      this.resetParams()
      if (state === 'module') {
        this.calcThresholds()
      } else {
        setTimeout(() => {
          this.updateWidth()
          this.calcThresholds()
        }, 400)
      }
    }
  },

  beforeDestroy() {
    this.$root.$off('listing-scroll-to-top', this.onScrollToTop)
    this.$root.$off('filter-updated', this.updateItemsList)
  },

  mounted() {
    this.preloadNearestPages()
    this.$root.$on('listing-scroll-to-top', this.onScrollToTop)
    this.$root.$on('filter-updated', this.updateItemsList)
    setTimeout(() => {
      this.calcThresholds()
      if (this.$route.query.page) this.onScrollToTop()
    }, 10)
    this.queue = new Queue()
    setInterval(() => this.queue.next(), this.pagesPreloadDelay)
  },

  methods: {
    disablePreloading() {
      setTimeout(() => {
        this.stopEvents = false
        this.preloading = false
      }, 100)
    },

    async preloadNearestPages() {
      const page = parseInt(this.$route.query.page) || 1
      const loadPrev = page >= 1 && page !== this.totalPagesCount
      const loadNext = page <= this.totalPagesCount && page > 0
      if (loadPrev) {
        await this.loadPrevPage()
        if (!loadNext) this.disablePreloading() // stop now if we won't load next page
      }
      setTimeout(() => {
        // if (loadNext) await this.loadNextPage()
        this.disablePreloading()
      }, this.pagesPreloadDelay)
    },

    onScrollToTop() {
      this.stopFetching = true
      this.stopEvents = true
      const mainMenuOffset = this.$device.isMobile ? 0 : 70
      const offset =
        this.topThreshold - this.thresholdCommonOffset - mainMenuOffset
      this.$refs.pagesList.scrollToOffset(offset)
      setTimeout(() => {
        this.stopFetching = false
        if (!this.preloading) {
          this.stopEvents = false // if preloading in progress, events will be enabled after finish preloading lists
          this.$nextTick(this.preloadNearestPages)
        }
      }, 100)
    },

    resetParams() {
      this.topThreshold = 0
      this.bottomThreshold = 0
      this.oldHeight = 0
      this.oldScroll = 0
      this.pagesHeights = []
      this.maxItemHeight = 0
    },

    updateWidth() {
      if (!this.$refs.header) return
      const children = this.$refs.header.children

      if (children && children.length) {
        for (let i = 0; i < children.length; i++) {
          const el = children[i]
          this.widths[el.dataset.name] = `${el.offsetWidth}px`
        }
      }
    },

    onAllItemsLoaded({ pageNumber, pageHeight, itemHeight }) {
      this.$emit('all-items-loaded')
      this.$set(this.pagesHeights, pageNumber, pageHeight)
      if (this.maxItemHeight < itemHeight) this.maxItemHeight = itemHeight
      this.calcThresholds()
      this.updateWidth()
    },

    updateItemsList: debounce(async function () {
      this.$root.$emit('loading-start')
      const params = {
        prefilterQuery: query(this.$store, this.$route),
        pageNumber: 1,
        force: true
      }

      this.getExtraParams(params)

      await this.$store.dispatch(`${this.type}/getPage`, params)
      this.$nextTick(() => {
        if (this.$route.query.page) this.onScrollToTop()
      })
      this.$root.$emit('loading-stop')
      // this.preloadNearestPages() // preload pages on filter update
    }, delay),

    getExtraParams(params) {
      const subType = this.$h.getListingItemsSubType(this.$route)
      const isStar = this.$h.isListingItemsHaveStar(this.$route)
      const origin = this.$h.getListingItemsOrigin(this.$route)
      const style = this.$h.getListingItemsStyle(this.$route)
      const webCategory = this.$h.getListingItemsWebCategory(this.$route)

      if (subType) params.itemsSubType = subType
      if (isStar) params.isStar = isStar
      if (origin) params.origin = origin
      if (style) params.style = style
      if (webCategory) params.webCategory = webCategory
    },

    calcDirection() {
      const st = window.pageYOffset || document.documentElement.scrollTop
      if (st > this.lastScrollTop) {
        this.lastScrollTop = st <= 0 ? 0 : st
        return 1 // downscroll code
      }
      this.lastScrollTop = st <= 0 ? 0 : st
      return 0 // upscroll code
    },

    onScrollHandler(event, range) {
      if (this.stopEvents) return
      if (!this.lastScrollTop) {
        this.calcDirection()
        return
      }
      const direction = this.calcDirection()

      const elements = document.querySelectorAll('.listpages')
      if (elements.length) {
        for (const el of elements) {
          if (this.isMostlyVisible(el)) {
            const pageNumber = el.children[0].dataset.page
            this.loadedPagesKeeper(Number(pageNumber), direction)
            if (this.$route.query.page !== pageNumber) {
              const query = { ...this.$route.query }
              query.page = pageNumber
              if (parseInt(pageNumber) <= 1) delete query.page
              this.$router.push({ query })
            }
            break
          }
        }
      }
    },

    /**
     * Keeps several (pageLoadDelta const) pages preloaded ahead
     * @param {Number} currentPage
     * @param {Number} direction
     */
    loadedPagesKeeper(currentPage, direction) {
      const index = this.loadedPages.findIndex((i) => i === currentPage)
      for (let i = 1; i <= pageLoadDelta; i++) {
        const pageToLoad = index + (direction ? i : -i)
        if (
          !this.loadedPages[pageToLoad] &&
          this.queue.queue.length < pageLoadDelta
        )
          this.queue.add(direction ? this.loadBottomPage : this.loadTopPage)
      }
    },

    /**
     * Calc pages count to preload including border conditions
     */
    calcPagesCountToLoad(currentPage, direction, count) {
      if (direction) {
        if (this.totalPagesCount < currentPage + count) {
          return this.totalPagesCount - currentPage
        }
        return count
      }
      if (currentPage - count < 0) {
        return count - currentPage
      }
      return count
    },

    isMostlyVisible(el) {
      // if ca 25% of element is visible
      const scrollPos = window.scrollY
      const windowHeight = window.innerHeight
      const elTop = getOffset(el).top
      const elHeight = el.offsetHeight
      const elBottom = elTop + elHeight
      return (
        elBottom - elHeight * 0.25 > scrollPos &&
        elTop < scrollPos + 0.5 * windowHeight
      )
    },

    saveScrollPosition() {
      this.stopEvents = true
      this.oldHeight = this.$refs.pagesList.$el.offsetHeight
      this.oldScroll = window.scrollY
    },

    restoreScrollPosition() {
      this.$nextTick(() => {
        window.scrollTo(
          0,
          this.oldScroll +
            this.$refs.pagesList.$el.offsetHeight -
            this.oldHeight
        )
        setTimeout(() => {
          if (!this.preloading) this.stopEvents = false
        }, 10)
      })
    },

    calcThresholds() {
      if (!this.$refs.pagesList) return
      const list = this.$refs.pagesList.$el
      const offset = getOffset(list) // offset items list from document
      this.topThreshold = offset.top + this.thresholdCommonOffset
      this.bottomThreshold = document.body.clientHeight - list.offsetHeight
      this.$refs.pagesList.updatePageModeFront()
    },

    async getPage(pageNumber, beforeCallback, afterCallback) {
      if (pageNumber < 1) return
      if (this.stopFetching) return
      if (this.totalItemsCount < 2) return

      const params = {
        keepPages: true,
        pageNumber,
        prefilterQuery: query(this.$store, this.$route),
        beforeAddItemsCallback: beforeCallback,
        afterAddItemsCallback: afterCallback
      }

      this.getExtraParams(params)

      if (this.$device.isTablet) params.pageSize = tabletPageSize

      await this.$store.dispatch(`${this.type}/getPage`, params)
    },

    async loadTopPage() {
      // get previous page
      if (this.stopEvents) return
      const pageNumber = this.firstLoadedPageNumber - 1
      await this.getPage(
        pageNumber,
        this.saveScrollPosition,
        this.restoreScrollPosition
      )
    },

    async loadBottomPage() {
      // get next page
      if (this.stopEvents) return
      const pageNumber = this.lastLoadedPageNumber + 1
      if (this.totalPagesCount < pageNumber) return
      await this.getPage(pageNumber)
    },

    async loadPrevPage() {
      if (this.stopFetching) return
      const pageNumber = this.currentPage - 1
      await this.getPage(
        pageNumber,
        this.saveScrollPosition,
        this.restoreScrollPosition
      )
    },

    async loadNextPage() {
      if (this.stopFetching) return
      const pageNumber = this.currentPage + 1
      if (this.totalPagesCount < pageNumber) return
      await this.getPage(pageNumber)
    }
  }
}
</script>

<style lang="sass" scoped>
@include fade-transition('view-change')
.pages-list
  margin-top: 20px
  ::v-deep
    .listpages + .listpages
      +mobile
        margin-top: 17px
  &.table
    overflow-x: auto
    overflow-y: hidden
    ::v-deep
      > *:not(:last-child)
        min-width: 100%
        display: table
  .table-header
    justify-content: space-between
    align-items: center
    width: 100%
    > *
      border-top: 1px solid #e6edea
      border-bottom: 1px solid #e6edea
      padding: 12px 0
      min-width: 129px
    .table-column
      text-align: center
      text-transform: uppercase
      flex: 1
      &-actions
        height: 47px
        flex: auto
</style>
