<template lang="pug">
  aside
    nav.nav-sidebar(role="navigation", itemscope, itemtype="http://schema.org/SiteNavigationElement")
      search
      side-menu(:menu="menu", :expand="isFaqMenu", :scrollSpy="isFaqMenu")
</template>

<script>
import { mapState } from 'vuex'
import Search from './Search'
import SideMenu from './Menu'

export default {
  name: 'SideComponent',

  components: { Search, SideMenu },

  computed: {
    ...mapState({
      menu: (state) => state.wordpress.menu
    }),

    isFaqMenu() {
      return this.menu.ID === 11
    }
  }
}
</script>

<style lang="sass" scoped></style>
