<template lang="pug">
  .page
</template>

<script>
export default {
  name: 'SettingsListingPage',

  fetch({ redirect, route }) {
    const newRoute = {
      ...route,
      name: route.name.replace(
        'ruby-pendants-settings',
        'ruby-necklace-pendant-settings'
      )
    }

    redirect(301, newRoute)
  }
}
</script>
