<template lang="pug">
  .compare-list-empty.container {{ text }}
</template>

<script>
export default {
  name: 'CompareListEmptyComponent',

  props: {
    text: {
      type: String,
      default: 'Your compare list is empty!'
    }
  }
}
</script>

<style lang="sass" scoped>
.compare-list-empty
  height: 30vh
  display: flex
  justify-content: center
  align-items: center
  font-size: 24px
  white-space: normal
  text-align: center
</style>
