<template lang="pug">
main.listing-page.page
  .container(v-if="showSteps")
    breadcrumbs(:items="breadcrumbs")
    steps
  page-header(v-else, :key="$route.fullPath", :breadcrumbs="breadcrumbs")
  main-filter-mobile(v-if="$device.isMobile")
  main-filter(v-else, :class="{'no-steps': !showSteps}")
  products-list
  setting-selector
  back-to-top-component
  custom-item-remove-modal
</template>

<script>
import { hydrateWhenIdle } from 'vue-lazy-hydration'
import { mapActions, mapGetters } from 'vuex'
import isEmpty from 'lodash/isEmpty'
import { query } from '~~/utils/utils'
import _baseListingPage from '~~/components/ListingPage/_baseListingPage'

import FetchListing from '~~/utils/fetch/listing'

const type = 'stonesList'

export default {
  name: 'StonesListingPage',

  components: {
    Steps: hydrateWhenIdle(() => import('~~/components/ListingPage/Steps')),
    PageHeader: hydrateWhenIdle(() => import('~~/components/Common/PageHeader')),
    ProductsList: hydrateWhenIdle(() =>
      import('~~/components/ListingPage/ProductsList')
    ),
    MainFilter: hydrateWhenIdle(() =>
      import('~~/components/ListingPage/MainFilter')
    ),
    MainFilterMobile: hydrateWhenIdle(() =>
      import('~~/components/ListingPage/MainFilterMobile')
    ),
    SettingSelector: hydrateWhenIdle(() =>
      import('~~/components/DetailsPage/DetailsMain/SettingsSelector')
    ),
    Breadcrumbs: hydrateWhenIdle(() =>
      import('~~/components/Common/Breadcrumbs')
    )
  },

  extends: _baseListingPage,

  data: () => ({
    type
  }),

  computed: {
    ...mapGetters({
      customSetting: 'customItem/customSetting',
      customStone: 'customItem/customStone'
    }),

    showSteps() {
      if (this.$route.query['design-your-own']) return true
      return !isEmpty(this.customSetting) || !isEmpty(this.customStone)
    },

    breadcrumbs() {
      const last = {
        id: '388c7bc2-24d6-43b7-8068-aea821186f91',
        name: this.$t('breadcrumbs.listings.stone')
      }
      return [this.breadcrumbsItems.home, last]
    }
  },

  watch: {
    dirtyLists(state) {
      if (state) this.getItems()
    }
  },

  async fetch(context) {
    try {
      const items = new FetchListing({ context, type, force: true })
      await items.fetch()
    } catch (e) {
      if (context.$sentry && context.$sentry.captureException) {
        context.$sentry.captureException(e)
      } else {
        console.log(e)
      }
    }
  },

  methods: {
    ...mapActions({
      setDirtyLists: 'filters/setDirtyLists',
      cleanDirtyLists: 'filters/cleanDirtyLists'
    }),

    async getItems() {
      const pageNumber = parseInt(this.$route.query.page) || 1
      await this.$store.dispatch(`${this.type}/getPage`, {
        filterQuery: query(this.$store, this.$route),
        pageNumber
      })
      if (this.$store.getters['filters/dirtyLists']) this.cleanDirtyLists()
    }
  }
}
</script>

<style lang="sass" src="~~/assets/styles/pages/listingPage.sass"></style>

<style lang="sass" scoped>
.listing-page
  border-top: 1px solid $border-color
  @include margin-bottom()
</style>
