<template lang="pug">
.cart-faq
  accordion-component(:open-index="openIndex")
    accordion-item-component(v-for="q in questions", :key="q.id")
      .cart-faq__question(slot="header") {{ q.question }}
      .cart-faq__answer {{ q.answer }}
</template>

<script>
import { normRouteName } from '~~/utils/sitemapUtils.js'

export default {
  name: 'QuestionsComponent',

  components: {
    AccordionItemComponent: () =>
      import('~~/components/Common/Accordion/AccordionItem'),
    AccordionComponent: () => import('~~/components/Common/Accordion/Accordion')
  },

  computed: {
    openIndex() {
      const routeName = normRouteName(this.$route.name)
      if (routeName === 'cart-index') return 0
      if (routeName === 'cart-index-secure-payment') return 1
      if (routeName === 'cart-index-payment-order') return 2
      return 0
    },

    questions() {
      return [
        {
          id: '6e527cf4-667f-41e8-93fe-b429f0779515',
          question: this.$t('cart.cartSidebar.infoBlock.whatNext.title'),
          answer: this.$t('cart.cartSidebar.infoBlock.whatNext.description')
        },
        {
          id: 'eb2069c3-5f0e-40fd-9475-926761d388df',
          question: this.$t(
            'cart.cartSidebar.infoBlock.shippingInformation.title'
          ),
          answer: this.$t(
            'cart.cartSidebar.infoBlock.shippingInformation.description'
          )
        },
        {
          id: 'd03f78e7-72c8-4236-9d40-ca399d60d500',
          question: this.$t('cart.cartSidebar.infoBlock.returnPolicy.title'),
          answer: this.$t('cart.cartSidebar.infoBlock.returnPolicy.description')
        },
        {
          id: '42038b17-2bff-4426-992e-9b2810ef35fe',
          question: this.$t('cart.cartSidebar.infoBlock.privacySecurity.title'),
          answer: this.$t(
            'cart.cartSidebar.infoBlock.privacySecurity.description'
          )
        },
        {
          id: 'dba40f68-8393-4715-987b-51c578a6d85b',
          question: this.$t('cart.cartSidebar.infoBlock.labReports.title'),
          answer: this.$t('cart.cartSidebar.infoBlock.labReports.description')
        }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
.cart-faq
  margin-top: 40px
  +mobile
    margin-top: 30px
  &__question
    font-size: 16px
    font-family: $lato
  &__answer
    padding: 7px 10px 20px
  .accordion-item.open + .accordion-item
    ::v-deep
      .accordion-item-header
        border-top: 1px solid $border-color
  .accordion-item
    &.open
      ::v-deep
        .accordion-item-header
          border-color: $border-color
        .accordion-item-body
          border-color: $border-color
          border-bottom: 1px solid $border-color
    &:last-child
      ::v-deep
        .accordion-item-header
          border-bottom: 1px solid $border-color
    ::v-deep
      .accordion-item-header
        cursor: pointer
        font-family: $lato
        font-size: 16px
        font-weight: 900
        border-top: 1px solid $border-color
        border-bottom: unset
        text-align: center
        padding: 7px 15px 7px 10px
        i
          color: $gold-color
      .accordion-item-body
        border-bottom: 1px solid $border-color
</style>
