<template lang="pug">
.documents
  .documents__message {{ $t('cart.docs.message') }}
  .documents__body.is-flex
    .documents__body-images
      .documents__body-images-image.is-flex(v-for="(doc, index) in documents", :key="doc.id")
        v-image(:src="doc.micro", :alt="doc.title", @click="onImageClick(index)")
        .documents__body-images-image-descr {{ doc.title }}
    .documents__body-options.radio-group
      radio.documents__body-options-option(v-for="option in options", :key="option.id" name="documents", :val="option.value", v-model="docType")
        .radio-text(v-html="option.text")
        .radio-icon
          icon(:icon-name="option.icon", width="40", height="40")
      .documents__body-options-notice {{ $t('cart.docs.notice') }}
  documents-lightbox(:thumbnails="documents")
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import cloneDeep from 'lodash/cloneDeep'

export default {
  name: 'DocumentsComponent',

  components: {
    Radio: () => import('~~/components/Common/Radio'),
    DocumentsLightbox: () => import('./DocumentsLightbox')
  },

  computed: {
    ...mapGetters({
      documentationType: 'cart/docType',
      allListItems: 'cart/allListItems'
    }),

    docType: {
      get() {
        return this.documentationType
      },

      set(val) {
        this.setDocumentationType(val)
      }
    },

    documents() {
      const docTypes = [3, 4, 10]
      const documents = []
      this.allListItems.forEach((item) => {
        if (item.category === 'Custom') {
          const thumbnails = [
            ...item.customStone.thumbnails,
            ...item.customSetting.thumbnails,
            ...(item.preview.thumbnails || [])
          ]
          thumbnails.forEach((t) => {
            if (docTypes.includes(t.type)) documents.push(t)
          })
          return
        }
        item.thumbnails?.forEach((t) => {
          if (docTypes.includes(t.type)) documents.push(t)
        })
      })
      return cloneDeep(documents).map((d) => {
        d.id = this.$h.guid()
        return d
      })
    },

    images() {
      return [
        {
          id: '45e3ebba-73ac-4859-a016-5d97c103a6c9',
          img: `cart/docs/doc1@2x.jpg`,
          descr: this.$t('cart.docs.scan')
        },
        {
          id: '1b4380ca-b2cf-42ad-bf78-e71d1e42aec9',
          img: `cart/docs/doc2@2x.jpg`,
          descr: this.$t('cart.docs.appraisal')
        },
        {
          id: 'ec448b51-fae0-4144-9759-121ceb9ee2e5',
          img: `cart/docs/doc3@2x.jpg`,
          descr: this.$t('cart.docs.scan3d')
        }
      ]
    },

    options() {
      return [
        {
          id: '5930435e-c463-42ec-8824-fa172bfef08b',
          text: this.$t('cart.docs.option1'),
          icon: 'docPrinted',
          value: 0
        },
        {
          id: 'f87f0835-3905-42fc-ae43-3c68258a4941',
          text: this.$t('cart.docs.option2'),
          icon: 'docEco',
          value: 1
        },
        {
          id: '5ea12852-a347-41a4-b1ca-8c8f63bcbd5b',
          text: this.$t('cart.docs.option3'),
          icon: 'docNone',
          value: 2
        }
      ]
    }
  },

  methods: {
    ...mapActions({
      setDocumentationType: 'cart/setDocumentationType'
    }),

    onImageClick(index) {
      this.$root.$emit('documents-lightbox', index)
    }
  }
}
</script>

<style lang="sass" scoped>
.documents
  &__body
    margin-top: 15px
    +touch
      flex-direction: column
  &__body-images,
  &__body-options
    width: 50%
    +touch
      width: 100%
  &__body-images
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 20px
    +touch
      grid-template-columns: repeat(2, 1fr)
  &__body-images-image
    cursor: pointer
    padding: 5px
    flex-direction: column
  &__body-images-image-descr
    margin-top: 5px
    text-align: center
    font-weight: bold
  &__body-options
    margin-left: 15px
    +touch
      margin-top: 15px
      margin-left: 0
  &__body-options-option
    width: 100%
    padding: 20px
    border: 1px solid $border-color
    &:not(:last-child)
      margin-bottom: 15px
    ::v-deep
      .radio-button
        margin-bottom: 0
      .radio-button-label
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
    .radio-text
      font-size: 14px
    .radio-icon
      width: 40px
</style>
