<template lang="pug">
.top-header-logo
  v-link.is-flex(to="index")
    v-image.top-header-logo__full.is-hidden-mobile(src="full-logo@2x.jpg", :lazy="false")
    v-image.top-header-logo__mobile.is-hidden-desktop(src="mobile-logo@2x.jpg", :lazy="false")
</template>

<script>
export default {
  name: 'TopHeaderLogo'
}
</script>

<style lang="sass" scoped>
$breakpoint: 768px

.top-header-logo__full
  @include until($breakpoint)
    display: none

.top-header-logo__mobile
  @include from($breakpoint)
    display: none
//.top-header-logo
//  &__full
//    +mobile
//      display: none
</style>
