<template lang="pug">
  .top-header-search-line.container
    quick-search(:hideSearchField="false")
</template>

<script>
export default {
  name: 'TopHeaderSearchLineComponent',
  components: {
    QuickSearch: () => import('~~/components/Layout/TopHeader/QuickSearch')
  }
}
</script>

<style lang="sass" scoped>
.top-header-search-line
  display: flex
  align-items: center
  justify-content: flex-end
  background-color: $secondary-bg-color
  padding: 13px 20px
  border-bottom: 1px solid $border-color
  input
    font-style: italic
    font-size: 14px
    font-family: $lora
    outline: none
    box-shadow: none
    padding: 10px 15px
    height: 48px
  .search-input
    background-color: $secondary-bg-color
    border: none
    padding-left: 0
</style>
