<template lang="pug">
  .top-header-second-line.is-flex
    .left-side.is-flex.is-hidden-tablet-only
      top-header-logo.is-hidden-tablet
      contact-us-dropdown-component.is-hidden-touch(@change="$emit('contacts')")
      language-switcher-component.is-hidden-touch
      quick-search.is-hidden-touch
    .center-side.is-flex.is-hidden-mobile
      top-header-logo
    .right-side.has-text-right.is-flex-touch
      v-link.wishlist-icon.right-side-item.is-inline-flex(:to="{name: 'wishlist'}")
        .badge(v-show="wishlistItems.length") {{ wishlistItems.length }}
        icon(iconName="wishlist")
        span.is-hidden-mobile.right-side-item-label {{ $t('layout.header.secondLine.favorites') }}
      v-link.compare-icon.right-side-item.is-inline-flex(:to="{name: 'compare-list'}")
        .badge(v-show="compareListItems.length") {{ compareListItems.length }}
        icon(iconName="compare")
        span.is-hidden-mobile.right-side-item-label {{ $t('layout.header.secondLine.compare') }}
      v-link.cart-icon.right-side-item.is-inline-flex(:to="{name: 'cart-index'}")
        .badge(v-show="cartItems.length") {{ cartItems.length }}
        icon(iconName="cart")
        span.is-hidden-mobile.right-side-item-label {{ $t('layout.header.secondLine.cart') }}
      .right-side-item.account-icon.is-hidden-mobile(@click="onAccountClick")
        .account-icon-wrapper.is-flex
          icon.is-hidden-mobile(iconName="account")
          i.fa-user.is-hidden-tablet(:class="loggedIn ? 'fas' : 'far'")
          span.right-side-item-label {{ loggedIn ? $t('account.hi', { name: profile.firstName }) : $t('layout.header.secondLine.account') }}
      .right-side-item.is-hidden-tablet
        hamburger-component(:state="menuOpen", @click.native="toggleMenu")
      .menu-wrapper(v-if="!$device.isMobile")
        collapse-transition
          user-menu(v-if="showUserMenu", @close="onCloseHandler", v-on-clickaway="onCloseHandler")
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
import { CollapseTransition } from 'vue2-transitions'
import { mixin as clickaway } from 'vue-clickaway'
import { companyName } from '~~/utils/definitions/defaults'

export default {
  name: 'TopHeaderSecondLineComponent',

  components: {
    CollapseTransition,
    QuickSearch: () => import('~~/components/Layout/TopHeader/QuickSearch'),
    HamburgerComponent: () => import('../MainMenu/MainMenuMobile/Hamburger'),
    PhoneSectionComponent: () => import('./TopHeaderContactsLine/phoneSection'),
    TopHeaderLogo: () => import('./TopHeaderLogo'),
    LanguageSwitcherComponent: () =>
      import('./TopHeaderSecondLine/LanguageSwitcher'),
    ContactUsDropdownComponent: () =>
      import('./TopHeaderSecondLine/ContactUsDropdown'),
    UserMenu: () => import('./TopHeaderSecondLine/UserMenu')
  },

  mixins: [clickaway],

  data: () => ({
    showUserMenu: false
  }),

  computed: {
    ...mapState({
      loggedIn: (state) => state.auth.loggedIn
    }),

    ...mapGetters({
      localCurrencyCode: 'app/localCurrencyCode',
      menuOpen: 'app/menuOpen',
      cartItems: 'cart/items',
      wishlistItems: 'favorites/allListItems',
      compareListItems: 'compareList/allListItems'
    }),

    companyName() {
      return companyName[this.$site.name]
    },

    profile() {
      return this.$store.state.auth.user || {}
    }
  },

  watch: {
    '$route.path'() {
      if (this.menuOpen) this.setMenuState(false)
      if (this.showUserMenu) this.showUserMenu = false
    }
  },

  methods: {
    ...mapActions({
      setMenuState: 'app/setMenuState',
      toggleMenu: 'app/toggleMenu'
    }),

    onCloseHandler() {
      this.showUserMenu = false
    },

    onAccountClick() {
      this.showUserMenu = !this.showUserMenu
      this.$nextTick(() => {
        if (!this.$store.state.auth.loggedIn) this.$root.$emit('account-menu')
      })
    }
  }
}
</script>

<style lang="sass" scoped>
.top-header-second-line
  padding: 20px
  justify-content: space-between
  border-bottom: 1px solid $border-color
  +touch
    height: 60px
    padding: 0 20px
  +mobile
    align-items: center
  > *
    flex: 1
  .center-side
    justify-content: center
    padding: 5px 0
    .logo
      align-items: center
    .company
      margin-left: 15px
      flex-direction: column
      justify-content: center
  .left-side
    align-items: flex-start
    > * + *:not(:last-child) // * + * for desktop and mobile devices
      align-items: center
      margin-right: 10px
      border-right: 1px solid $border-color
      padding-right: 10px
      min-width: 30px
      +touch
        border-right: unset
        padding-right: unset
        margin-right: unset
        &:not(:last-child)
          border-left: 1px solid $border-color
          padding-left: 10px
          margin-left: 10px
  .right-side
    align-items: flex-start
    +touch
      align-items: center
      justify-content: flex-end
    +tablet
      min-width: 380px
      position: relative
    +mobile
      min-width: unset
    &-item
      align-items: center
      &:not(:first-child)
        +mobile
          //border-right: 1px solid $border-color
          padding-left: 10px
          margin-left: 10px
    &-item-label
      margin-left: 10px
    .badge
      background-color: $primary-color
      border-radius: 50%
      font-size: 12px
      line-height: 12px
      position: absolute
      left: 15px
      top: -6px
      color: white
      min-width: 16px
      height: 16px
      text-align: center
      padding: 2px 5px
      +mobile
        right: 2px
    .account-icon
      cursor: pointer
      display: inline-block
      &-wrapper
        align-items: center
        i
          font-size: 20px
          color: $gold-color
        span
          margin-left: 5px
    .cart-icon,
    .wishlist-icon,
    .compare-icon
      position: relative
    a
      display: inline-block
    .right-side-item + .right-side-item
      align-items: center
      margin-left: 10px
      border-left: 1px solid $border-color
      padding-left: 10px
      min-width: 30px
      .badge
        left: 22px
        +mobile
          right: 2px
  .phone
    span
      margin-left: 10px
</style>
