<template lang="pug">
div
</template>

<script>
import camelCase from 'lodash/camelCase'
import {
  caratFormatter,
  heightFormatter,
  itemNameFormatter,
  lengthFormatter,
  moneyFormatter,
  widthFormatter,
  tcwFormatter
} from '~~/utils/formatters'

export default {
  name: 'BaseOverviewComponent',

  methods: {
    itemNameFormatter(item) {
      return itemNameFormatter.call(this, item)
    },

    tcwFormatter(value) {
      return tcwFormatter.call(this, value)
    },

    camelCase,
    moneyFormatter,
    caratFormatter,
    lengthFormatter,
    widthFormatter,
    heightFormatter
  }
}
</script>

<style lang="sass" scoped></style>
