<template lang="pug">
  .item-overview.is-flex
    .item-overview__item.is-flex
      .item-overview__item-image
        v-image(:src="customItem.customStone.thumbnails[0].large")
      .item-overview__item-details
        .item-overview__item-details-name.is-italic(v-html="itemNameFormatter(customItem.customStone)")
        .item-overview__item-details-param(v-for="param in stoneParameters")
          .item-overview__item-details-param-title.is-flex
            span {{ param.title }}
            i.material-icons(v-if="param.learnMore", @click="onInfoClick(param.learnMore)") help
          .item-overview__item-details-param-value(v-for="value in param.values", v-html="value")
    .item-overview__item.is-flex
      .item-overview__item-image
        v-image(:src="customItem.customSetting.thumbnails[0].large")
      .item-overview__item-details
        .item-overview__item-details-name.is-italic {{ itemNameFormatter(customItem.customSetting) }}
        .item-overview__item-details-param(v-for="param in settingParameters")
          .item-overview__item-details-param-title.is-flex
            span {{ param.title }}
            i.material-icons(v-if="param.learnMore", @click="onInfoClick(param.learnMore)") help
          .item-overview__item-details-param-value(v-for="value in param.values") {{ value }}
</template>

<script>
import { mapGetters } from 'vuex'
import _baseOverview from './_baseOverview'
import { caratFormatter, tcwFormatter } from '~~/utils/formatters'

export default {
  name: 'CustomOverviewComponent',

  extends: _baseOverview,

  computed: {
    ...mapGetters({
      customItem: 'customItem/customItem',
      customSetting: 'customItem/customSetting'
    }),

    stoneParameters() {
      if (this.customItem.customSetting.category === 'Setting_Earring')
        return [
          {
            id: '26baf39f-9b14-4a5c-9bcc-97250615ebaa',
            title: this.$t(
              'detailsPage.mainDetails.itemOverview.perCaratPrice'
            ),
            values: [
              this.moneyFormatter(this.customItem.customStone.pricePerCt)
            ],
            learnMore: 'perCaratPrice'
          },
          {
            id: 'b47072c1-fb7e-44ae-887f-a1be3e46e057',
            title: this.$t('detailsPage.mainDetails.itemOverview.price'),
            values: [this.moneyFormatter(this.customItem.customStone.price)]
          },
          {
            id: '1768e40f-5e88-41e9-915c-f2efca56760d',
            title: this.$t('detailsPage.mainDetails.itemOverview.itemId'),
            values: [this.customItem.customStone.id]
          },
          {
            id: 'c830704d-c49b-4b62-9b4a-d61c9ec221b4',
            title: this.$t('detailsPage.mainDetails.itemOverview.totalWeight'),
            values: [
              tcwFormatter.call(this, this.customItem.customStone.totalWeight)
            ]
          }
        ]
      return [
        {
          id: '26baf39f-9b14-4a5c-9bcc-97250615ebaa',
          title: this.$t('detailsPage.mainDetails.itemOverview.perCaratPrice'),
          values: [this.moneyFormatter(this.customItem.customStone.pricePerCt)],
          learnMore: 'perCaratPrice'
        },
        {
          id: 'b47072c1-fb7e-44ae-887f-a1be3e46e057',
          title: this.$t('detailsPage.mainDetails.itemOverview.price'),
          values: [this.moneyFormatter(this.customItem.customStone.price)]
        },
        {
          id: '1768e40f-5e88-41e9-915c-f2efca56760d',
          title: this.$t('detailsPage.mainDetails.itemOverview.itemId'),
          values: [this.customItem.customStone.id]
        },
        {
          id: 'c830704d-c49b-4b62-9b4a-d61c9ec221b4',
          title: this.$t('detailsPage.mainDetails.itemOverview.weight'),
          values: [this.caratFormatter(this.customItem.customStone.weight)]
        }
      ]
    },

    settingParameters() {
      const params = [
        {
          id: 'f000d6a1-d0e4-4ed0-ad9e-bf8f0deb830d',
          title: this.$t('detailsPage.mainDetails.itemOverview.settingPrice'),
          values: [
            this.moneyFormatter(
              this.customItem.finalPrice.settingPrice ||
                this.customItem.customSetting.price
            )
          ]
        },
        {
          id: '1768e40f-5e88-41e9-915c-f2efca56760d',
          title: this.$t('detailsPage.mainDetails.itemOverview.itemId'),
          values: [this.customItem.customSetting.id]
        }
      ]

      if (this.showPaveStones) {
        params.push({
          id: '265b98bf-da8b-4a53-833c-da252fd1ff50',
          title: this.$t('detailsPage.mainDetails.itemOverview.paveStones'),
          values: [caratFormatter(this.totalPaveStonesWeight)]
        })
      }

      return params.filter((p) => p.values.length)
    },

    totalPaveStonesWeight() {
      return this.paveStones
        .map((s) => s.value)
        .reduce((accumulator, weight) => Number(accumulator) + Number(weight))
    },

    paveStones() {
      return this.customSetting.pavesWeight || []
    },

    showPaveStones() {
      return this.paveStones.length
    }
  },

  methods: {
    onInfoClick(learnMore) {
      this.$root.$emit('details-modal-param', learnMore)
    }
  }
}
</script>

<style lang="sass" scoped>
.item-overview
  margin-top: 48px
  padding: 0 30px
  +touch
    flex-direction: column
  +mobile
    padding: 0 20px
    margin-top: 20px
  &__item
    width: 50%
    justify-content: flex-start
    +touch
      &:last-child
        margin-top: 25px
    +mobile
      flex-direction: column
      width: 100%
  &__item-image
    display: inline-block
    ::v-deep
      img
        max-width: 332px
        border: 1px solid $border-color
        +mobile
          width: 100%
  &__item-details
    padding-left: 50px
    padding-top: 15px
    +mobile
      padding-left: unset
  &__item-details-name
    font-size: 20px
    font-weight: bold
    font-family: $lora
    white-space: normal
  &__item-details-param
    margin-top: 24px
  &__item-details-param-title
    font-size: 13px
    text-transform: uppercase
    align-items: center
    color: $grey-text-color
    font-weight: 900
    white-space: normal
    i
      cursor: pointer
      color: $gold-color
      font-size: 1.2rem
      margin-left: 10px
  &__item-details-param-value
    font-weight: bold
    font-size: 16px
</style>
