<template lang="pug">
.item-overview.is-flex
  .item-overview__image
    v-image(:src="productDetails.thumbnails[0].large")
  .item-overview__details
    .item-overview__details-name.is-italic(v-html="itemNameFormatter(productDetails)")
    .item-overview__details-param(v-for="param in parameters")
      .item-overview__details-param-title.is-flex
        span {{ param.title }}
        i.material-icons(v-if="param.learnMore", @click="onInfoClick(param.learnMore)") help
      .item-overview__details-param-value(v-for="value in param.values")
        | {{ value }}

</template>

<script>
import { mapGetters } from 'vuex'
import _baseOverview from './_baseOverview'

export default {
  name: 'RingOverviewComponent',

  extends: _baseOverview,

  computed: {
    ...mapGetters({
      productDetails: 'productDetails/productDetails'
    }),

    parameters() {
      return [
        {
          id: '1768e40f-5e88-41e9-915c-f2efca56760d',
          title: this.$t('detailsPage.mainDetails.itemOverview.metalType'),
          values: [this.productDetails.metal.value]
        },
        {
          id: 'b47072c1-fb7e-44ae-887f-a1be3e46e057',
          title: this.$t('detailsPage.mainDetails.itemOverview.totalPrice'),
          values: [this.moneyFormatter(this.productDetails.price)]
        },
        {
          id: 'f88511f5-4efe-40eb-bfed-15b25b87f55c',
          title: this.$t('detailsPage.mainDetails.itemOverview.centerStones'),
          values: this.productDetails.centerStones.map(
            (p) => `${p.qty} x ${p.color} ${p.stoneType}`
          )
        },
        {
          id: 'f08c47a6-234b-4f89-a13b-f49e50ca3d1a',
          title: this.$t('detailsPage.mainDetails.itemOverview.sideStones'),
          values: this.productDetails.sideStones.map(
            (p) => `${p.qty} x ${p.color} ${p.stoneType}`
          )
        },
        ...(this.productDetails.chainLength
          ? [
              {
                id: 'b6ed0441-bdeb-4326-84e3-6599a10903fe',
                title: this.$t('detailsPage.mainDetails.chainLength'),
                values: [this.productDetails.chainLength]
              }
            ]
          : []),
        ...(this.productDetails.length
          ? [
              {
                id: '86ea1830-cb22-422a-8b40-eeeded2388a7',
                title: this.$t('detailsPage.mainDetails.braceletLength'),
                values: [this.productDetails.length]
              }
            ]
          : [])
      ].filter((p) => p.values.length)
    }
  },

  methods: {
    onInfoClick(learnMore) {
      this.$root.$emit('details-modal-param', learnMore)
    }
  }
}
</script>

<style lang="sass" scoped>
.item-overview
  margin-top: 48px
  padding: 0 30px
  +mobile
    flex-direction: column
    padding: 0 20px
    margin-top: 20px
  &__image
    ::v-deep
      img
        max-width: 332px
        border: 1px solid $border-color
        +mobile
          width: 100%
  &__details
    padding-left: 50px
    padding-top: 15px
    +mobile
      padding-left: 0
  &__details-name
    font-size: 20px
    font-weight: bold
    font-family: $lora
    white-space: normal
  &__details-param
    margin-top: 24px
  &__details-param-title
    font-size: 13px
    text-transform: uppercase
    align-items: center
    color: $grey-text-color
    font-weight: 900
    i
      cursor: pointer
      color: $gold-color
      font-size: 1.2rem
      margin-left: 10px
  &__details-param-value
    font-weight: bold
    font-size: 16px
    text-transform: uppercase
</style>
