<template lang="pug">
  modal.request-preview(:class="{'not-sent': !alreadySent}", v-show="mounted", ref="modal", :max-width="1200", transition="modal", :scrollable="true", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-header(ref="test1")
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body
      .request-preview-already-sent(v-if="alreadySent")
        .request-preview-title.is-italic {{ $t('detailsPage.requestPreview.title') }}
        .request-preview-form-sended-body(v-if="limitReached")
          p {{ $t('detailsPage.requestPreview.alreadySent.limitText1') }}
          p(v-html="$t('detailsPage.requestPreview.alreadySent.limitText2')")
          p(v-html="$t('detailsPage.requestPreview.alreadySent.limitText3')")
        .request-preview-form-sended-body(v-else)
          p {{ $t('detailsPage.requestPreview.alreadySent.text1') }}
          p(v-html="$t('detailsPage.requestPreview.alreadySent.text2')")
          p(v-html="$t('detailsPage.requestPreview.alreadySent.text3')")
      .request-preview-form-wrapper(v-else)
        .request-preview-title.is-italic {{ $t('detailsPage.requestPreview.title') }}
        .request-preview-images.is-flex
          v-image(:src="customStone.thumbnails[0].large")
          v-image(:src="customSetting.thumbnails[0].large")
        .request-preview-notify {{ $t('detailsPage.requestPreview.text1') }}
        form.request-preview-form(@submit.prevent="onFormSubmit")
          .form-block
            .form-row.is-flex
              .field(:class="{'field-error': $v.form.customerName.$error}")
                label.label {{ $t('detailsPage.requestPreview.form.customerName') }}
                .control.has-icons-left
                  input.input(autocomplete="name", v-model.trim="$v.form.customerName.$model", :class="{'is-danger': $v.form.customerName.$error}")
                  span.icon.is-small.is-left
                    i.fa.fa-user
                p.help.is-danger(v-if="!$v.form.customerName.required && $v.form.customerName.$dirty") {{ $t('form.askDesigner.error.required') }}

              .field(:class="{'field-error': $v.form.phone.$error}")
                label.is-align-items-flex-center.is-flex
                  .label {{ $t('detailsPage.requestPreview.form.phone') }}&nbsp;
                  tooltip.why-phone-tooltip
                    i.fa.fa-question-circle(slot="target")
                    .tooltip-header-price(slot="header")
                      strong {{ $t('common.whyPhone') }}
                    .tooltip-body-price {{ $t('common.whyPhoneContent') }}
                .control.has-icons-left
                  input.input(autocomplete="tel", v-model.trim="$v.form.phone.$model", :class="{'is-danger': $v.form.phone.$error}")
                  span.icon.is-small.is-left
                    i.fa.fa-phone
                p.help.is-danger(v-if="!$v.form.phone.required && $v.form.phone.$dirty") {{ $t('form.askDesigner.error.required') }}

            .form-row.is-flex
              .field(:class="{'field-error': $v.form.email.$error}")
                label.label {{ $t('detailsPage.requestPreview.form.email') }}
                .control.has-icons-left
                  input.input(autocomplete="email", ref="email-field", v-model.trim="$v.form.email.$model", :class="{ 'is-danger': $v.form.email.$error }")
                  span.icon.is-small.is-left
                    i.fa.fa-envelope
                p.help.is-danger(v-if="!$v.form.email.required && $v.form.email.$dirty") {{ $t('form.askDesigner.error.required') }}
                p.help.is-danger(v-if="!$v.form.email.email && $v.form.email.$dirty") {{ $t('form.askDesigner.error.email') }}

              .field(:class="{'field-error': $v.form.reEmail.$error}")
                label.label {{ $t('detailsPage.requestPreview.form.reEmail') }}
                .control.has-icons-left
                  input.input(autocomplete="do-not-autofill", v-model.trim="$v.form.reEmail.$model", :class="{ 'is-danger': $v.form.reEmail.$error }")
                  span.icon.is-small.is-left
                    i.fa.fa-envelope
                p.help.is-danger(v-if="!$v.form.reEmail.required && $v.form.reEmail.$dirty") {{ $t('form.askDesigner.error.reEmailRequired') }}
                p.help.is-danger(v-if="!$v.form.reEmail.sameAs && $v.form.reEmail.$dirty") {{ $t('form.askDesigner.error.reEmail') }}

            .form-row.is-flex
              .field(:class="{'field-error': $v.form.country.$error}")
                label.label {{ $t('detailsPage.requestPreview.form.country') }}
                .control.has-icons-left
                  multiselect(
                    v-if="multiselectMounted",
                    @open="showSelected('country')"
                    @search-change="countriesQuery = $event"
                    ref="country",
                    v-model.trim="$v.form.country.$model"
                    :class="{ 'is-danger': $v.form.country.$error }"
                    :options="countriesOptions",
                    track-by="key",
                    label="value",
                    select-label="",
                    :show-labels="false",
                    selected-label="",
                    :allow-empty="false",
                    :searchable="true",
                    :internalSearch="false",
                    :option-height="35"
                  )
                  span.icon.is-small.is-left
                    i.fa.fa-globe

            .form-row
              .request-preview-worry.is-italic.has-text-weight-semibold {{ $t('detailsPage.requestPreview.text2') }}
              .request-preview-team.is-italic.has-text-weight-semibold {{ $t('detailsPage.requestPreview.text3') }}

            .form-row
              .request-preview-field-title.is-italic {{ $t('detailsPage.requestPreview.occasion') }}
              .field(:class="{'field-error': $v.form.occasion.$error}")
                label.label {{ $t('detailsPage.requestPreview.form.occasion') }}
                .control.has-icons-left
                  multiselect(
                    v-if="multiselectMounted",
                    v-model.trim="$v.form.occasion.$model"
                    :class="{ 'is-danger': $v.form.occasion.$error }"
                    :options="occasions",
                    track-by="key",
                    label="value",
                    select-label="",
                    :show-labels="false",
                    selected-label="",
                    :allow-empty="false",
                    :searchable="false",
                    :option-height="35"
                  )
                  span.icon.is-small.is-left
                    i.fa.fa-gift

            .form-row
              .request-preview-field-title.is-italic {{ $t('detailsPage.requestPreview.timeframe') }}
              .field(:class="{'field-error': $v.form.timeframe.$error}")
                label.label {{ $t('detailsPage.requestPreview.form.timeframe') }}
                .control.has-icons-left
                  multiselect(
                    v-if="multiselectMounted",
                    v-model.trim="$v.form.timeframe.$model"
                    :class="{ 'is-danger': $v.form.timeframe.$error }"
                    :options="timeframes",
                    track-by="key",
                    label="value",
                    select-label="",
                    :show-labels="false",
                    selected-label="",
                    :allow-empty="false",
                    :searchable="false",
                    :option-height="35"
                  )
                  span.icon.is-small.is-left
                    i.fa.fa-hourglass-half

            .form-row
              .request-preview-field-title.is-italic {{ $t('detailsPage.requestPreview.deliveryDate') }}
              .request-preview-field-notice.is-italic(v-html="$t('detailsPage.requestPreview.deliveryDateNotice')")
              .field(:class="{'field-error': $v.form.deliveryDate.$error}")
                label.label {{ $t('detailsPage.requestPreview.form.deliveryDate') }}
                .control.has-icons-left
                  vue-date-pick(v-if="datePickerMounted", v-model="$v.form.deliveryDate.$model", :isDateDisabled="isPastDate", :selectableYearRange="selectableYearRange", :inputAttributes="{readonly: true, class: { input: true, 'date-picker': true, 'is-danger': $v.form.deliveryDate.$error }}")
                  span.icon.is-small.is-left
                    i.fa.fa-calendar

            .form-row
              .request-preview-field-title.is-italic {{ $t('detailsPage.requestPreview.teamMember') }}
              .field(:class="{'field-error': $v.form.teamMember.$error}")
                label.label {{ $t('detailsPage.requestPreview.form.teamMember') }}
                .control.has-icons-left
                  multiselect(
                    v-if="multiselectMounted",
                    v-model.trim="$v.form.teamMember.$model"
                    :class="{ 'is-danger': $v.form.teamMember.$error }"
                    :options="teamMembers",
                    track-by="id",
                    label="name",
                    select-label="",
                    :show-labels="false",
                    selected-label="",
                    :allow-empty="false",
                    :searchable="false",
                    :option-height="35"
                  )
                  span.icon.is-small.is-left
                    i.fa.fa-users

            // Show selected prong in request preview form
            //.form-row(v-if="selectedProng")
              .request-preview-field-title.is-italic {{ $t('detailsPage.requestPreview.prongs') }}
              .field.prongs-field
                .field-wrapper.is-flex
                  v-image(:src="selectedProng.image", :alt="selectedProng.name")
                  label.label {{ $t(`detailsPage.prongsNames.${camelCase(selectedProng.type)}`) }}

            .form-row
              .request-preview-field-title.is-italic {{ $t('detailsPage.requestPreview.questions') }}
              .field.textarea-field(:class="{'field-error': $v.form.comments.$error}")
                label.label {{ $t('detailsPage.requestPreview.form.comments') }}
                .control
                  textarea.textarea.is-radiusless(:placeholder="$t('detailsPage.requestPreview.placeholders.comments')", v-model.trim="$v.form.comments.$model", :class="{ 'is-danger': $v.form.comments.$error }")

            .form-row
              .request-preview-worry.is-italic.has-text-weight-semibold {{ $t('detailsPage.requestPreview.note1') }}
              .request-preview-team.is-italic {{ $t('detailsPage.requestPreview.note2') }}

            .form-row.is-flex
              .field.submit-control
                .control
                  button.button.gold-color(ref="submitForm", type="submit", :disabled="submitStatus === 'PENDING'") {{ $t('detailsPage.requestPreview.submit') }}
</template>

<script>
import { validationMixin } from 'vuelidate'
import email from 'vuelidate/lib/validators/email'
import required from 'vuelidate/lib/validators/required'
import { mapActions, mapGetters, mapState } from 'vuex'
import camelCase from 'lodash/camelCase'
import sameAs from 'vuelidate/lib/validators/sameAs'
import { occasions, timeframes } from './data'
import emailValidatorMixin from '~~/mixins/emailValidatorMixin'
import autoFillForms from '~~/mixins/autoFillForms'
import modalMixin from '~~/mixins/modalMixin'
import { cookiesOpts } from '~~/utils/definitions/defaults.js'
import md5 from '~~/utils/helpers/md5'
import Tooltip from '~~/components/Common/Tooltip'
import recaptchaMixin from '~~/mixins/recaptchaMixin.js'

const cookiePrefix = 'rp_hashes'

export default {
  name: 'RequestPreviewComponent',

  components: { Tooltip },

  mixins: [
    recaptchaMixin,
    modalMixin,
    validationMixin,
    autoFillForms,
    emailValidatorMixin
  ],

  inject: ['pageType'],

  validations: {
    form: {
      customerName: { required },
      email: { required, email },
      reEmail: {
        required,
        sameAs: sameAs('email')
      },
      phone: { required },
      comments: {},
      country: {},
      occasion: {},
      timeframe: {},
      teamMember: {},
      deliveryDate: {}
    }
  },

  data: () => ({
    multiselectMounted: false,
    datePickerMounted: false,
    modalEvent: 'request-preview',
    modalName: 'request-preview',
    modalView: '',
    width: '50%',
    countriesQuery: '',
    alreadySent: false,
    limitReached: false,
    form: {
      customerName: '',
      phone: '',
      email: '',
      reEmail: '',
      country: {}, // US by default
      occasion: {},
      timeframe: {},
      teamMember: {},
      deliveryDate: null,
      comments: '',
      pageLink: ''
    },
    submitStatus: null
  }),

  computed: {
    ...mapState({
      teamMembers: (state) => state.app.salePersons
    }),
    ...mapGetters({
      countries: 'customItem/countries',
      customStone: 'customItem/customStone',
      customSetting: 'customItem/customSetting',
      itemId: 'customItem/itemId',
      user: 'auth/user',
      shareLinkId: 'shareProduct/shareLinkId',
      productDetails: 'productDetails/productDetails',
      selectedOptions: 'customItem/selectedOptions'
    }),

    selectedProng() {
      return this.selectedOptions.prong
    },

    selectableYearRange() {
      const currentYear = new Date().getFullYear()
      return { from: currentYear, to: currentYear + 2 }
    },

    isCustomReview() {
      // details of custom item
      return this.pageType === 'review'
    },

    countriesOptions() {
      return this.countries.filter((c) =>
        c.value.toLowerCase().startsWith(this.countriesQuery.toLowerCase())
      )
    },

    occasions() {
      return occasions.map((el) => {
        return {
          key: el,
          value: this.$t(
            `detailsPage.requestPreview.occasionsList.${camelCase(el)}`
          )
        }
      })
    },

    timeframes() {
      return timeframes.map((el) => {
        return {
          key: el,
          value: this.$t(
            `detailsPage.requestPreview.timeframesList.${camelCase(el)}`
          )
        }
      })
    }
  },

  watch: {
    selectedOptions: {
      deep: true,
      handler() {
        this.updateAlreadySentState()
      }
    },

    visible(state) {
      if (!state) {
        this.updateAlreadySentState()
      }
    }
  },

  async created() {
    if (!this.countries.length && process.client) await this.getCountries()
    this.fillFormWithDefaultData()
  },

  mounted() {
    this.$multiselect.insert(() => {
      this.multiselectMounted = true
    })
    this.$datePicker.insert(() => {
      this.datePickerMounted = true
    })
    this.updateAlreadySentState()
  },

  methods: {
    ...mapActions({
      getCustomItem: 'customItem/getCustomItem',
      setCredentials: 'requestPreview/setCredentials',
      submitForm: 'customItem/submitRequestPreviewForm',
      getCountries: 'cart/fetchMetaData',
      resetCustomItem: 'customItem/resetCustomItem',
      disablePrefilter: 'filters/disablePrefilter',
      enablePrefilter: 'filters/enablePrefilter'
    }),

    onModalMounted() {
      this.mountReCaptcha()
    },

    updateAlreadySentState() {
      let hashes = []
      try {
        hashes = this.$cookies.get(cookiePrefix)
      } catch (e) {
        console.log(e)
      }
      if (!hashes || !Array.isArray(hashes)) {
        this.alreadySent = false
        return
      }

      this.limitReached = hashes.length >= 3

      this.alreadySent = hashes.includes(this.getMd5Hash()) || this.limitReached
    },

    markItemAsSent() {
      const hashes = this.$cookies.get(cookiePrefix) || []
      hashes.push(this.getMd5Hash())
      this.$cookies.set(cookiePrefix, JSON.stringify(hashes), {
        ...cookiesOpts,
        maxAge: 60 * 60 * 24,
        encode: (v) => v,
        path: '/'
      })
    },

    /**
     * Md5 hash of currently selected options
     * @returns {string}
     */
    getMd5Hash() {
      return md5(this.itemId).substr(0, 10)
    },

    showSelected(type) {
      // have to wait some till the list is rendered
      const timeout = setTimeout(() => {
        // the multiselect field
        const field = this.$refs[type].$el
        // the element that should be scrolled
        const wrapper = field.querySelector('.multiselect__content-wrapper')
        // the selected option
        const option = field.querySelector(
          'span.multiselect__option.multiselect__option--selected'
        )
        // if everything is present
        if (wrapper !== null && option !== null) {
          wrapper.scrollTop = option.offsetTop
        }
        clearTimeout(timeout)
      }, 10)
    },

    isPastDate(date) {
      const currentDate = new Date()
      return date < currentDate
    },

    fillFormWithDefaultData() {
      this.form.country = this.countries.find((c) => c.key === 'US')
      this.form.occasion = this.occasions.find((o) => o.key === 'Engagement')
      this.form.timeframe = this.timeframes.find(
        (t) => t.key === 'As soon as possible'
      )
      this.form.teamMember = this.teamMembers.find((c) => c.id === '-1')
    },

    getShareLink() {
      if (window) {
        const { pathname, search } = window.location
        return pathname + search
      }
      return ''
    },

    validateField(field) {
      this.$refs.previewForm.validateField(field)
    },

    onOpenDialog() {
      if (this.$store.state.auth.loggedIn) {
        this.setCredentials({
          customerName: `${this.user.firstName || ''} ${
            this.user.lastName || ''
          }`.trim(),
          email: this.user.email || ''
        })
      }
      this.previewForm = { ...this.previewForm, ...this.form }
    },

    async onFormSubmit(response) {
      this.form['g-recaptcha-response'] = response

      this.$v.$touch()
      if (this.$v.$invalid) {
        this.resetRecaptcha()
        this.submitStatus = 'ERROR'
      } else {
        this.submitStatus = 'PENDING'
        this.form.pageLink = this.getShareLink()
        await this.submitForm(this.form)
        this.submitStatus = 'OK'
        this.markItemAsSent()
        this.$modal.hide(this.modalName)
        this.$root.$emit('call-to-action')
        setTimeout(() => {
          this.updateAlreadySentState()
        }, 1000)
      }
    },

    camelCase
  }
}
</script>

<style lang="sass" scoped>
.request-preview
  +mobile
    z-index: 1999
  &.not-sent
    ::v-deep
      .v--modal-box
        +tablet
          top: 40px !important
        +touch
          width: 80% !important
          margin: auto
          left: unset !important
        +mobile
          width: 100% !important
.modal-header
  position: relative
  height: 30px
  .close-button
    cursor: pointer
    position: absolute
    top: 10px
    right: 10px
    align-items: center
    text-transform: uppercase
    svg
      margin-left: 5px
      height: 15px
      width: 15px
.modal-body
  padding: 20px
  ::v-deep
    .details-main
      &-left-side,
      &-right-side
        width: 50%
      &-right-side
        .details-main-info
          padding-right: 30px
  .request-preview
    &-already-sent
      p
        margin-top: 15px
    &-title
      text-align: center
      font-family: $lora
      font-size: 30px
    &-images
      margin-top: 20px
      .picture-wrapper
        flex: 1
        border: 1px solid $border-color
      .picture-wrapper + .picture-wrapper
        margin-left: 20px
    &-notify
      margin-top: 20px
    &-field-title
      font-size: 26px
      font-family: $lora
      margin: 16px 0
    &-field-notice
      margin-top: -16px
      margin-bottom: 16px
    &-form
      margin-top: 20px
      .form-row
        +mobile
          flex-direction: column
        &:not(:first-child)
          margin-top: 10px
          +mobile
            margin-top: unset
        .field
          flex: 1
          max-width: calc(50% - 10px)
          margin-bottom: 1.35rem
          +mobile
            max-width: unset
            width: 100%
          label
            .why-phone-tooltip
              margin-bottom: 0.5rem
          &.textarea-field
            max-width: unset
          &.prongs-field
            text-align: center
            .field-wrapper
              align-items: center
              .label
                margin-left: 15px
            ::v-deep
              img
                box-shadow: 0 0 0 1px $border-color
                max-height: 54px
                max-width: 54px
          .control
            .vdpComponent
              display: block
              ::v-deep
                .vdpOuterWrap
                  z-index: 51
                  .vdpInnerWrap
                    border-radius: 0
            .multiselect
              ::v-deep
                .multiselect__tags
                  padding-left: 40px
          &.field-error
            margin-bottom: unset
          .label
            text-transform: uppercase
          &.submit-control
            width: 100%
            max-width: unset
            margin-top: 20px
            .control
              text-align: center
              .button
                width: 200px
          &.textarea-control
            @extend .submit-control
        .field + .field
          margin-left: 20px
          +mobile
            margin-left: unset
</style>
