section.packaging.lazy(data-lazy-function="loaded", v-observe-visibility="{callback: initSwiper, once: true, intersection: { rootMargin: '100px' }}")
  .container.is-flex
    .swiper-container(ref="packaging-slider")
      .swiper-wrapper
        .swiper-slide
          .packaging-info.is-flex
            .packaging-info-sub-title {{ $t('homePage.packaging.slide1.subTitle') }}
            .packaging-info-title {{ $t('homePage.packaging.slide1.title') }}
            .packaging-info-text {{ $t('homePage.packaging.slide1.text') }}
            tabs-component.packaging-info-tabs
              tabs-pane-component(:name="$t('homePage.packaging.slide1.tab1name')") {{ $t('homePage.packaging.slide1.tab1text') }}
              tabs-pane-component(:name="$t('homePage.packaging.slide1.tab2name')") {{ $t('homePage.packaging.slide1.tab2text') }}
        .swiper-slide(v-for="(image, index) in images", :key="image.guid")
          .packaging-image.is-flex
            v-image(:src="image.image.micro", :alt="image.alt", @click.native="mountLightBox(index)")
      .swiper-button-next.is-hidden-touch(v-if="$device.isDesktop")
      .swiper-button-prev.is-hidden-touch(v-if="$device.isDesktop")
      .packaging-swiper-pagination.swiper-pagination(ref="pagination")
    .packaging-video.is-flex.lazy(data-lazy-function="loaded")
      v-image(@click="onVideoPlayHandler", src="packaging/playButton@2x.png")
    video-modal(:name="modalName", :options="modalOptions")
    gallery-lightbox
