<template lang="pug">
.cart-items
  template(v-for="item in items")
    placeholder(v-if="item.placeholder", @load-item="onItemLoadRequest", :item="item", :key="item.guid")
    item-wrapper(v-else, :item="item", :key="item.guid", @to-details="toDetails(item)", @remove="removeItem(item)", :title="getItemTitle(item)", :mini-cart="miniCart")
      component(:key="item.guid", :is="componentName(item)", @to-details="toDetails(item)", :item="item", :mini-cart="miniCart")
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import debounce from 'lodash/debounce'
import cloneDeep from 'lodash/cloneDeep'
import remove from 'lodash/remove'
import isEmpty from 'lodash/isEmpty.js'
import { itemNameFormatter } from '~~/utils/formatters/index.js'
import { bandsByCategory } from '~~/utils/definitions/defaults.js'

let itemsToLoad = []

export default {
  name: 'CartItemsComponent',

  components: {
    ItemWrapper: () => import('./Views/ItemWrapper'),
    Stone: () => import('./Views/Stone'),
    Pair: () => import('./Views/Pair'),
    Ring: () => import('./Views/Ring'),
    Earring: () => import('./Views/Earring'),
    Pendant: () => import('./Views/Pendant'),
    Necklace: () => import('./Views/Necklace'),
    Bracelet: () => import('./Views/Bracelet'),
    WeddingBand: () => import('./Views/WeddingBand'),
    PlainBand: () => import('./Views/PlainBand'),
    Custom: () => import('./Views/Custom'),
    Wax: () => import('./Views/Wax'),
    Placeholder: () => import('./Views/Placeholder')
  },

  props: {
    miniCart: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    itemsToLoad: []
  }),

  computed: {
    ...mapGetters({
      items: 'cart/items'
    })
  },

  methods: {
    ...mapActions({
      removeItem: 'cart/removeFromList',
      setCurrentGuid: 'productDetails/setCurrentGuid',
      resetCustomItem: 'customItem/resetCustomItem',
      resetDetails: 'productDetails/resetDetails',
      getItemsFromBase: 'cart/getItemsFromBase'
    }),

    toDetails(item) {
      if (this.miniCart) return
      if (item.isCustom) {
        this.resetCustomItem()
        this.$router.push(
          this.localePath({
            path: this.$h.getDetailsPath(item),
            query: { source: 'cart', guid: item.guid }
          })
        )
        return
      }

      if (bandsByCategory.includes(item.category))
        this.setCurrentGuid(item.guid)
      this.resetDetails()
      this.$router.push(
        this.localePath({
          path: this.$h.getDetailsPath(item),
          query: { source: 'cart', guid: item.guid }
        })
      )
    },

    getItemTitle(item) {
      if (!isEmpty(item.preview))
        return `${itemNameFormatter.call(this, item)} - ${this.$t(
          'cart.item.designId'
        )} ${item.preview.itemRealId}`
      return itemNameFormatter.call(this, item)
    },

    onItemLoadRequest(item) {
      itemsToLoad.push(item)
      this.makeRequest()
    },

    makeRequest: debounce(function () {
      const items = cloneDeep(itemsToLoad)
      if (!items.length) return
      this.getItemsFromBase(items)
      itemsToLoad = remove(itemsToLoad, (n) => {
        return items.includes(n)
      })
    }, 100),

    componentName(item) {
      return item.category.replace(/\s/g, '')
    },

    onRemoveItem(item) {
      this.removeItem(item)
    }
  }
}
</script>

<style lang="sass" scoped>
.cart-items
  margin-top: 25px
  .cart-item
    padding-top: 25px
    padding-bottom: 25px
    border-top: 1px solid $border-color
    &:last-child
      border-bottom: 1px solid $border-color
      +mobile
        border-bottom: none
        padding-bottom: unset
</style>
