<template lang="pug">
  main.page.page-landing
    promo-component(v-if="promo")
    hero-component(v-else)
    collection-component
    process-component
    education-component
    quote-component
    our-story-component
    gemologist-component
    famous-component
    showroom-component
    photo-gallery-component
    packaging-component
    setting-selector-all(v-if="renderSettingsSelectors")
    setting-selector(v-if="renderSettingsSelectors")
    quick-view(v-if="renderQuickView")
    back-to-top-component
</template>

<script>
import { mapState } from 'vuex'
import {
  // hydrateOnInteraction,
  hydrateNever,
  hydrateWhenIdle,
  hydrateWhenVisible
} from 'vue-lazy-hydration'
import _basePage from '~~/components/Page/_basePage'

export default {
  name: 'HomePage',

  pageType: 'home',

  components: {
    SettingSelectorAll: hydrateWhenIdle(() =>
      import('~~/components/DetailsPage/DetailsMain/SettingsSelectorAll')
    ),
    SettingSelector: hydrateWhenIdle(() =>
      import('~~/components/DetailsPage/DetailsMain/SettingsSelector')
    ),
    HeroComponent: hydrateWhenIdle(
      /* webpackPreload: true */ () => import('~~/components/HomePage/Hero')
    ),
    PromoComponent: hydrateWhenIdle(
      /* webpackPreload: true */ () => import('~~/components/HomePage/Promo')
    ),
    CollectionComponent: hydrateWhenVisible(
      () => import('~~/components/HomePage/Collection/Collection'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    ProcessComponent: hydrateWhenVisible(
      () => import('~~/components/HomePage/Process'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    EducationComponent: hydrateWhenVisible(
      () => import('~~/components/HomePage/Education'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    QuoteComponent: hydrateNever(() => import('~~/components/HomePage/Quote')),
    OurStoryComponent: hydrateWhenVisible(
      () => import('~~/components/HomePage/OurStory'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    GemologistComponent: hydrateWhenVisible(
      () => import('~~/components/HomePage/Gemologist'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    FamousComponent: hydrateWhenVisible(
      () => import('~~/components/HomePage/Famous'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    ShowroomComponent: hydrateWhenVisible(
      () => import('~~/components/HomePage/Showroom'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    PhotoGalleryComponent: hydrateNever(() =>
      import('~~/components/HomePage/PhotoGallery')
    ),
    PackagingComponent: hydrateWhenVisible(
      () => import('~~/components/HomePage/Packaging'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    QuickView: hydrateWhenIdle(() =>
      import('~~/components/ListingPage/QuickView')
    )
  },

  extends: _basePage,

  data: () => ({
    renderQuickView: false,
    renderSettingsSelectors: false
  }),

  computed: {
    ...mapState({
      saleHeadline: (state) => state.app.saleHeadline
    }),

    promo() {
      return process.env.promo && this.saleHeadline
    }
  },

  mounted() {
    this.$root.$once('gemologist-visible', this.onGemologistVisible)
    setTimeout(() => {
      this.renderSettingsSelectors = true
    }, 2000)
  },

  methods: {
    /**
     * Render quick view only when gemologist section is visible.
     * For performance reasons
     */
    onGemologistVisible() {
      this.renderQuickView = true
    }
  }
}
</script>

<style lang="sass" scoped>
.page-landing
  @include margin-bottom()
</style>
