<template lang="pug">
  .loading-overlay
    .loading-overlay__wrapper(v-show="showOverlay")
      .filter-section(ref="filters", v-if="!filtersLoaded && $device.isDesktopOrTablet")
        .filter-section__wrapper.container
          .filter-section__items.is-flex
            .filter-section__item-wrapper(v-for="(filter, index) in new Array(filtersCount)", :key="index")
              .filter-section__item.preloader
      .controls-section(ref="controls", :class="kebabCase(type)")
        .controls-section__wrapper.container.is-flex
          .controls-section__item.view-section.preloader.is-hidden-mobile
          .controls-section__item.items-count-section.preloader
          .controls-section__item.sorting-section.preloader.is-hidden-mobile
      .items-section(ref="items")
        .items-section__wrapper.container
          .items-section__item.is-flex(v-for="(filter, index) in new Array(itemsCount)", :key="index")
            .items-section__item--video.preloader
            .items-section__item--name.preloader
            .items-section__item--name.preloader
            .items-section__item--id.preloader
            .items-section__item--price.preloader
</template>

<script>
import stoneListing from './stoneListing.vue'

export default {
  name: 'ListingOverlay',

  extends: stoneListing
}
</script>

<style lang="sass" scoped>
.loading-overlay
  z-index: 9999 !important
  position: absolute
  box-sizing: border-box
  left: 0
  top: 0
  width: 100%
  height: 100vh
  background-color: transparent
  opacity: 1
  .preloader
    background: #eee
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%)
    border-radius: 5px
    background-size: 300% 200%
    animation: 3s preloader linear infinite
  +keyframes(preloader)
    to
      background-position-x: -300%
  &__wrapper
    position: relative
    background-color: transparent
    .filter-section,
    .controls-section,
    .items-section
      position: absolute
      background-color: white
      width: 100%
    .filter-section
      &__items
        flex-wrap: wrap
        margin-left: -8px
      //margin-top: -8px
      &__item-wrapper
        padding-left: 8px
        padding-top: 8px
        width: 16.6%
        +desktop-only
          width: 20%
        +tablet-only
          width: 25%
      &__item
        width: 100%
        height: 41px
        border-radius: 23px
    .controls-section
      &__wrapper
        width: 100%
        justify-content: space-between
        +tablet-only
          flex-direction: column
          align-items: center
      &__item
        height: 40px
        width: 100%
        &.view-section
          max-width: 200px
          +tablet-only
            margin-top: 13px
            width: 100%
            max-width: unset
            order: 2
        &.items-count-section
          max-width: 150px
          +tablet-only
            order: 1
            max-width: 175px
            height: 30px
          +mobile
            max-width: unset
            width: 100%
        &.sorting-section
          max-width: 265px
          +tablet-only
            margin-top: 20px
            width: 100%
            max-width: unset
            order: 3
    .items-section
      &__wrapper
        width: 100%
        display: grid
        grid-template-columns: repeat(5, 1fr)
        grid-column-gap: 34px
        grid-row-gap: 42px
        +mobile
          grid-template-columns: repeat(2, 1fr)
        +tablet
          grid-template-columns: repeat(3, 1fr)
        +ipad-pro
          grid-template-columns: repeat(4, 1fr)
        +touch
          grid-gap: 17px
        +desktop
          grid-template-columns: repeat(4, 1fr)
        +widescreen
          grid-template-columns: repeat(5, 1fr)
        +ultrahd
          grid-template-columns: repeat(6, 1fr)
      &__item
        border: 1px solid $border-color
        padding: 15px
        flex-direction: column
        width: 100%
        align-items: center
        .items-section__item--name + .items-section__item--name
          margin-top: 5px
      &__item--video
        width: 100%
        max-width: 200px
        &:before
          content: ""
          display: block
          padding-top: 100%
      &__item--name,
      &__item--id,
      &__item--price
        height: 21px
        width: 100%
      &__item--name
        margin-top: 15px
        //max-width: 150px
        height: 18px
        //margin-top: 15px
        //max-width: 150px
        //height: 20px
      &__item--id
        max-width: 130px
        height: 13px
        margin-top: 6px
      &__item--price
        max-width: 100px
        margin-top: 7px
        height: 23px
  //&__content
    margin-top: 383px
    background-color: white
    .filter-section
      &__items
        flex-wrap: wrap
        margin-left: -8px
        margin-top: -8px
      &__item-wrapper
        padding-left: 8px
        padding-top: 8px
        width: 16.6%
      &__item
        width: 100%
        height: 41px
        border-radius: 23px
    .controls-section
      margin-top: 20px
      width: 100%
      justify-content: space-between
      &__item
        height: 40px
        width: 100%
        &.view-section
          max-width: 200px
        &.items-count-section
          max-width: 220px
        &.sorting-section
          max-width: 265px
    .items-section
      width: 100%
      display: grid
      grid-template-columns: repeat(5, 1fr)
      grid-column-gap: 34px
      grid-row-gap: 42px
      +mobile
        grid-template-columns: repeat(2, 1fr)
      +tablet
        grid-template-columns: repeat(3, 1fr)
      +ipad-pro
        grid-template-columns: repeat(4, 1fr)
      +touch
        grid-gap: 17px
      +desktop
        grid-template-columns: repeat(4, 1fr)
      +widescreen
        grid-template-columns: repeat(5, 1fr)
      +ultrahd
        grid-template-columns: repeat(6, 1fr)
      &__wrapper
        margin-top: 20px
      &__item
        border: 1px solid $border-color
        padding: 15px
        flex-direction: column
        width: 100%
        align-items: center
        .items-section__item--name + .items-section__item--name
          margin-top: 5px
      &__item--video
        width: 100%
        padding-top: 100%
        max-width: 200px
      &__item--name,
      &__item--id,
      &__item--price
        height: 21px
        width: 100%
      &__item--name
        margin-top: 15px
        //max-width: 150px
        height: 18px
      &__item--id
        max-width: 130px
        height: 13px
        margin-top: 6px
      &__item--price
        max-width: 100px
        margin-top: 7px
        height: 23px
</style>
