<template lang="pug">
  .loading-overlay
</template>

<script>
export default {
  name: 'DefaultOverlay'
}
</script>

<style lang="sass" scoped>
.loading-overlay
  z-index: 9999 !important
  position: fixed
  box-sizing: border-box
  left: 0
  top: 0
  width: 100%
  height: 100vh
  background: rgba(0, 0, 0, 0.2)
  opacity: 1
//pointer-events: none
</style>
