<template lang="pug">
  .loading-overlay
    .loading-overlay__wrapper(v-show="showOverlay")
      .filter-section(ref="filters", v-if="!filtersLoaded && $device.isDesktopOrTablet")
        .filter-section__wrapper.container
          .filter-section__items.is-flex
            .filter-section__item-wrapper(v-for="(filter, index) in new Array(filtersCount)", :key="index")
              .filter-section__item.preloader
      .controls-section(ref="controls", :class="kebabCase(type)")
        .controls-section__wrapper.container.is-flex
          .controls-section__item.view-section.preloader.is-hidden-mobile
          .controls-section__item.items-count-section.preloader
          .controls-section__item.sorting-section.preloader.is-hidden-mobile
      .items-section(ref="items")
        .items-section__wrapper.container
          .items-section__item.is-flex(v-for="(filter, index) in new Array(itemsCount)", :key="index")
            .items-section__item--video.preloader
            .items-section__item--name.preloader
            .items-section__item--id.preloader
            .items-section__item--price.preloader
</template>

<script>
import { mapState } from 'vuex'
import isEmpty from 'lodash/isEmpty'
import kebabCase from 'lodash/kebabCase'
import cloneDeep from 'lodash/cloneDeep'
import { normRouteName } from '~~/utils/utils.js'
import { itemsTypeByRouteName } from '~~/utils/definitions/defaults.js'

export default {
  name: 'ListingOverlay',

  props: {
    filtersCount: {
      type: Number,
      default: 12
    },
    itemsCount: {
      type: Number,
      default: 60
    }
  },

  data: () => ({
    syncLoop: null,
    showOverlay: false,
    filtersLoaded: false,
    nextRouteLocal: {}
  }),

  computed: {
    ...mapState({
      nextRoute: (state) => state.navigation.nextRoute
    }),

    type() {
      return this.$store.getters.typeList
    },

    filters() {
      return this.$store.state.filters.sourceFilters[this.getItemsType()]
    }
  },

  beforeDestroy() {
    clearInterval(this.syncLoop)
  },

  created() {
    this.nextRouteLocal = cloneDeep(this.nextRoute) // nextRoute will be cleared on nextTick after loading finished. But I need to keep route data a bit longer
    this.hideElements()
    this.syncLoop = setInterval(this.syncSections, 1)
    setTimeout(() => {
      this.showOverlay = true
    }, 5)
  },

  mounted() {
    this.$bus.$once('filters-ready', () => {
      this.showElement(document.getElementById('main-filter'))
      this.filtersLoaded = true
    })
  },

  methods: {
    getItemsType() {
      const nextRouteName = normRouteName(this.nextRouteLocal.name)
      return Object.keys(itemsTypeByRouteName).find((key) =>
        itemsTypeByRouteName[key].includes(nextRouteName)
      )
    },

    hideElement(element) {
      if (!element) return
      element.style.visibility = 'hidden'
    },

    showElement(element) {
      if (!element) return
      element.style.visibility = 'visible'
    },

    hideElements() {
      this.hideElement(document.getElementById('main-filter'))
      this.hideElement(document.getElementById('listing-controls'))
      this.hideElement(document.getElementById('products-list'))
    },

    showElements() {
      this.showElement(document.getElementById('listing-controls'))
      this.showElement(document.getElementById('products-list'))
    },

    syncSections() {
      let filtersOffset = 0

      // mobile devices there is no filters section
      if (this.$device.isDesktopOrTablet && this.$refs.filters) {
        const filterElementHeight = this.$refs.filters.getElementsByClassName(
          'filter-section__item-wrapper'
        )[0].offsetHeight
        filtersOffset = isEmpty(this.filters)
          ? this.$refs.filters.clientHeight - filterElementHeight
          : 0

        if (!this.filtersLoaded)
          this.syncSection(
            document.getElementById('main-filter'),
            this.$refs.filters
          )
      }

      this.syncSection(
        document.getElementById('listing-controls'),
        this.$refs.controls,
        filtersOffset
      )
      this.syncSection(
        document.getElementById('products-list'),
        this.$refs.items,
        filtersOffset
      )
    },

    // sync top offset of absolute positioned element with another element in layout
    syncSection(original, skeleton, offset = 0) {
      if (!original || !skeleton) return
      const rect = original.getBoundingClientRect()
      skeleton.style.top =
        rect.top + document.documentElement.scrollTop + offset + 'px'
    },

    kebabCase
  }
}
</script>

<style lang="sass" scoped>
.loading-overlay
  z-index: 9999 !important
  position: absolute
  box-sizing: border-box
  left: 0
  top: 0
  width: 100%
  height: 100vh
  background-color: transparent
  opacity: 1
  .preloader
    background: #eee
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%)
    border-radius: 5px
    background-size: 300% 200%
    animation: 3s preloader linear infinite
  +keyframes(preloader)
    to
      background-position-x: -300%
  &__wrapper
    position: relative
    background-color: transparent
    .filter-section,
    .controls-section,
    .items-section
      position: absolute
      background-color: white
      width: 100%
    .filter-section
      &__items
        flex-wrap: wrap
        margin-left: -8px
      //margin-top: -8px
      &__item-wrapper
        padding-left: 8px
        padding-top: 8px
        width: 16.6%
        +desktop-only
          width: 20%
        +tablet-only
          width: 25%
      &__item
        width: 100%
        height: 41px
        border-radius: 23px
    .controls-section
      &__wrapper
        width: 100%
        justify-content: space-between
        +tablet-only
          flex-direction: column
          align-items: center
      &__item
        height: 40px
        width: 100%
        &.view-section
          max-width: 200px
          +tablet-only
            margin-top: 13px
            width: 100%
            max-width: unset
            order: 2
        &.items-count-section
          max-width: 150px
          +tablet-only
            order: 1
            max-width: 175px
            height: 30px
          +mobile
            max-width: unset
            width: 100%
        &.sorting-section
          max-width: 265px
          +tablet-only
            margin-top: 20px
            width: 100%
            max-width: unset
            order: 3
    .items-section
      &__wrapper
        width: 100%
        display: grid
        grid-template-columns: repeat(5, 1fr)
        grid-column-gap: 34px
        grid-row-gap: 42px
        +mobile
          grid-template-columns: repeat(2, 1fr)
        +tablet
          grid-template-columns: repeat(3, 1fr)
        +ipad-pro
          grid-template-columns: repeat(4, 1fr)
        +touch
          grid-gap: 17px
        +desktop
          grid-template-columns: repeat(4, 1fr)
        +widescreen
          grid-template-columns: repeat(5, 1fr)
        +ultrahd
          grid-template-columns: repeat(6, 1fr)
      &__item
        border: 1px solid $border-color
        padding: 15px
        flex-direction: column
        width: 100%
        align-items: center
      &__item--video
        width: 100%
        max-width: 200px
        &:before
          content: ""
          display: block
          padding-top: 100%
      &__item--name,
      &__item--id,
      &__item--price
        height: 21px
        width: 100%
      &__item--name
        margin-top: 15px
        max-width: 150px
        height: 20px
      &__item--id
        max-width: 130px
        height: 13px
        margin-top: 6px
      &__item--price
        max-width: 100px
        margin-top: 7px
        height: 23px
</style>
