<script>
import { hydrateWhenIdle } from 'vue-lazy-hydration'
import { mapGetters } from 'vuex'
import pick from 'lodash/pick'
import breadcrumbsMixin from '~~/mixins/breadcrumbsMixin'
import metatagsEduMixin from '~~/mixins/metatags/metatagsEduMixin'

export default {
  name: 'BaseEduPageComponent',

  components: {
    BackToTopComponent: hydrateWhenIdle(() =>
      import('~~/components/ListingPage/BackToTop')
    )
  },

  provide() {
    return {
      pageType: this.$options.pageType
    }
  },

  mixins: [metatagsEduMixin, breadcrumbsMixin],

  data: () => ({
    accordionMounted: false
  }),

  computed: {
    ...mapGetters({
      locale: 'locale/locale'
    })
  },

  beforeRouteLeave(to, from, next) {
    const paramsToPick = ['fullPath', 'meta', 'name', 'params', 'path', 'query']
    this.$store.dispatch('navigation/setLastVisitedPage', {
      path: pick(from, paramsToPick),
      isDetails: this.$options.pageType === 'details'
    })
    next()
  },

  fetch(context) {
    const { store } = context
    store.dispatch('getMeta', context)
  },

  mounted() {
    this.$root.$emit('page-loaded')
    this.$nextTick(() => {
      if (window.lazyUpdate) window.lazyUpdate()
    })
    this.$accordion.insert(() => {
      if (window.accordion) window.accordion()
      this.accordionMounted = true
    })
  }
}
</script>

<style lang="sass">
.edu
  .sp-easy-accordion
    .spcollapsing
      transition-duration: 0.2s
  &.loading
   .sp-easy-accordion
    display: none
</style>
