<template lang="pug">
div
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import pick from 'lodash/pick'
import { hydrateWhenIdle } from 'vue-lazy-hydration'
import breadcrumbsMixin from '~~/mixins/breadcrumbsMixin'
import metatagsMixin from '~~/mixins/metatags/metatagsMixin'

export default {
  name: 'BasePageComponent',

  components: {
    BackToTopComponent: hydrateWhenIdle(() =>
      import('~~/components/ListingPage/BackToTop')
    )
  },

  mixins: [metatagsMixin, breadcrumbsMixin],

  provide() {
    return {
      pageType: this.$options.pageType
    }
  },

  beforeRouteLeave(to, from, next) {
    const paramsToPick = ['fullPath', 'meta', 'name', 'params', 'path', 'query']
    this.$store.dispatch('navigation/setLastVisitedPage', {
      path: pick(from, paramsToPick),
      isDetails: this.$options.pageType === 'details'
    })
    if (this.$options.pageType === 'listing') this.setNextRoute(to) // only if routing between listings will show skeleton overlay
    next()
  },

  fetch(context) {
    const { store } = context
    store.dispatch('getMeta', context)
  },

  computed: {
    ...mapGetters({
      locale: 'locale/locale'
    })
  },

  mounted() {
    this.$root.$emit('page-loaded')
    this.$nextTick(() => {
      if (window.lazyUpdate) window.lazyUpdate()
    })
  },

  methods: {
    ...mapActions({
      setNextRoute: 'navigation/setNextRoute'
    })
  }
}
</script>
