<template lang="pug">
  .combination.is-flex
    img(:src="thumbnail.image.stone.micro")
    img(:src="thumbnail.image.setting.micro")
</template>

<script>
import _baseThumbnail from './_baseThumbnail'

export default {
  name: 'CombinationThumbnailComponent',

  extends: _baseThumbnail
}
</script>

<style lang="sass" scoped>
.combination
  box-shadow: 0 0 0 1px $border-color
  height: 100%
  align-items: center
  padding: 5px
  img
    flex: 1
    width: 0
    box-shadow: 0 0 0 1px $border-color
</style>
