<template lang="pug">
  v-image.item-image(@load="$emit('loaded', imgSrc)", :src='imgSrc')
</template>

<script>
import _baseThumbnail from './_baseThumbnail'

export default {
  name: 'ImageThumbnailComponent',

  extends: _baseThumbnail,

  computed: {
    imgSrc() {
      return this.thumbnail.image.micro
    }
  }
}
</script>

<style lang="sass" scoped>
.item-image
  box-shadow: 0 0 0 1px $border-color
  &.picture-wrapper
    height: 100%
    ::v-deep
      picture
        height: 100%
        img
          height: 100%
</style>
