<template lang="pug">
  video(v-observe-visibility="{callback: initVideoPlayer, once: true}", ref="video", muted="true", :controls="false")
</template>

<script>
// import Hls from 'hls.js'
import _baseThumbnail from './_baseThumbnail'

export default {
  name: 'SizeVideoThumbnailComponent',

  extends: _baseThumbnail,

  date: () => ({
    player: null
  }),

  beforeDestroy() {
    if (this.player) this.player.destroy()
  },

  methods: {
    initVideoPlayer(isVisible) {
      if (isVisible) {
        const options = {
          debug: false,
          testBandwidth: false,
          startFragPrefetch: true,
          startLevel: -1,
          startPosition: 1,
          maxBufferLength: 1,
          maxLoadingDelay: 3,
          capLevelToPlayerSize: true
        }

        this.player = this.$hls.insert(
          this.$refs.video,
          this.thumbnail.videoFileName,
          options
        )
      }
    }
  }
}
</script>

<style lang="sass" scoped>
video
  box-shadow: 0 0 0 1px $border-color
  height: 100%
  width: 100%
  margin: auto
</style>
