<template lang="pug">
  .slide-hand
    .slide-hand__images(ref="sourceArea", :class="item.category.toLowerCase()")
      v-image.white-hand.hand-image(@load="$emit('load')", :src="backImage.white")
      v-image.dark-hand.hand-image(@load="$emit('load')", :src="backImage.dark", :style="{ opacity: darkOpacity}")
      v-image.black-hand.hand-image(@load="$emit('load')", :src="backImage.black", :style="{ opacity: blackOpacity}")
      img.ring-image(@load="$emit('load')", :src="thumbnail.image.large")
</template>

<script>
import _baseThumbnail from './_baseThumbnail'

const imagesMap = {
  Ring: 'hand',
  Earring: 'ear',
  Pendant: 'neck',
  Necklace: 'neck'
}

export default {
  name: 'ImageThumbnailComponent',

  extends: _baseThumbnail,

  data: () => ({
    opacity: 0
  }),

  computed: {
    item() {
      return this.thumbnail.item
    },

    darkOpacity() {
      if (this.opacity > 1) return 1
      return this.opacity
    },

    blackOpacity() {
      if (this.opacity <= 1) return 0
      return this.opacity - 1
    },

    backImage() {
      const category =
        this.item.category === 'Preview'
          ? this.item.subCategory
          : this.item.category

      return {
        white: `details/${imagesMap[category]}3@2x.jpg`,
        dark: `details/${imagesMap[category]}2@2x.jpg`,
        black: `details/${imagesMap[category]}1@2x.jpg`
      }
    }
  },

  created() {
    this.setSkinToneOpacity()
  },

  mounted() {
    this.$root.$on('skin-tone-changed', (params) => {
      this.opacity = params.skinToneOpacity
    })
  },

  methods: {
    setSkinToneOpacity() {
      const position = this.$cookies.get('skin-tone')
      if (position) {
        this.opacity = Number(position.skinToneOpacity) || 0
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.slide-hand
  overflow: hidden
  user-select: none
  position: relative
  box-shadow: 0 0 0 1px $border-color
  &__images
    position: relative
    .dark-hand,
    .black-hand,
    .ring-image
      position: absolute
      top: 0
      left: 0
    .ring-image
      z-index: 1
    &.earring
      ::v-deep
        img
          transform: scale(1.35) translate(-13%, 0%)
</style>
