<template lang="pug">
  .video-360
    icon.video-icon(iconColor="#000000", iconName="360", width="40")
    v-image.item-image.fog(@load="$emit('loaded', imgSrc)", :src='imgSrc')
</template>

<script>
import _baseThumbnail from './_baseThumbnail'

export default {
  name: 'VideoThumbnailComponent',

  extends: _baseThumbnail,

  computed: {
    imgSrc() {
      return this.thumbnail.image.micro
    }
  }
}
</script>

<style lang="sass" scoped>
.video-360
  max-height: 84px
  +ultrahd
    max-height: unset
  .item-image
    aspect-ratio: 1/1
    box-shadow: 0 0 0 1px $border-color
    &.fog
      & ::v-deep
        img
          opacity: 0.5
  .video-icon
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
    z-index: 1
</style>
