<template lang="pug">
.address-form(:class="`${formType}-form`")
  .form-row(v-if="showAddressesList")
    .field.is-fullwidth
      label.label {{ $t(`cart.addressForm.${formType}AddressLabel`) }}
      .control.has-icons-left
        multiselect(
          ref="address",
          v-if="multiselectMounted",
          @select="onSelectAddress",
          :value.trim="selectedAddress",
          track-by="id",
          label="address",
          :options="accountAddresses",
          :allow-empty="false",
          :show-labels="false",
          :searchable="false",
          :option-height="35"
        )
        span.icon.is-small.is-left
          i.fas.fa-map-marked-alt
      .field__change-confirmation(ref="addressPopper", v-show="showAddressChangeConfirmation", v-on-clickaway="hideWarrantyPopups")
        .arrow(ref="addressArrow", data-popper-arrow)
        .field__change-confirmation--body
          .confirmation-message(v-interpolation, v-html="confirmationText")
          .buttons.are-small(v-if="popperButtons")
            button.button.gold-color.light(type="button", @click="$emit('country-confirm')") {{ $t('detailsPage.ringSizeConfirm.confirm') }}
            button.button.is-ghost(type="button", @click="$emit('country-cancel')") {{ $t('detailsPage.ringSizeConfirm.cancel') }}

  .form-row
    .field.is-fullwidth(:class="{'field-error': $v.firstName.$error}")
      label.label {{ $t('cart.addressForm.firstNameLabel') }}
      .control.has-icons-left
        input.input(name="given-name", autocomplete="given-name", v-model.trim="$v.firstName.$model", :class="{ 'is-danger': $v.firstName.$error }")
        span.icon.is-small.is-left
          i.fa.fa-user
      p.help.is-danger(v-if="!$v.firstName.required && $v.firstName.$dirty") {{ $t('cart.addressForm.rules.firstName.required') }}

  .form-row
    .field.is-fullwidth(:class="{'field-error': $v.lastName.$error}")
      label.label {{ $t('cart.addressForm.lastNameLabel') }}
      .control.has-icons-left
        input.input(name="family-name", autocomplete="family-name", v-model.trim="$v.lastName.$model", :class="{ 'is-danger': $v.lastName.$error }")
        span.icon.is-small.is-left
          i.fa.fa-user
      p.help.is-danger(v-if="!$v.lastName.required && $v.lastName.$dirty") {{ $t('cart.addressForm.rules.lastName.required') }}

  .form-row
    .field.is-fullwidth(:class="{'field-error': $v.street1.$error}")
      label.label {{ $t('cart.addressForm.addressLine1') }}
      .control.has-icons-left
        input.input#address-field(:disabled="blockAddressForm", maxlength="35", @blur="calculateTax", autocomplete="address-level1", name="address-level1", v-model.trim="$v.street1.$model", :class="{ 'is-danger': $v.street1.$error }")
        span.icon.is-small.is-left
          i.fa.fa-map-marker-alt
      p.help.is-danger(v-if="!$v.street1.required && $v.street1.$dirty") {{ $t(`cart.addressForm.rules.${formType}Street1.required`) }}

  .form-row
    .field.is-fullwidth
      label.label {{ $t('cart.addressForm.addressLine2') }}
      .control.has-icons-left
        input.input(:disabled="blockAddressForm", maxlength="35", @blur="calculateTax", autocomplete="address-level2", name="address-level2", v-model.trim="$v.street2.$model", :class="{ 'is-danger': $v.street2.$error }")
        span.icon.is-small.is-left
          i.fa.fa-map-marker-alt

  .form-row
    .field.is-fullwidth(:class="{'field-error': $v.city.$error}")
      label.label {{ $t(`cart.addressForm.${formType}City`) }}
      .control.has-icons-left
        input.input(:disabled="blockAddressForm", name="city", autocomplete="address-level2", @blur="calculateTax", v-model.trim="$v.city.$model", :class="{ 'is-danger': $v.city.$error }")
        span.icon.is-small.is-left
          i.fa.fa-city
      p.help.is-danger(v-if="!$v.city.required && $v.city.$dirty") {{ $t(`cart.addressForm.rules.${formType}City.required`) }}

  .form-row(v-if="country.divisionName")
    .field.is-fullwidth(v-if="showSelect", :class="{'field-error': $v.state.$error}")
      label.label {{ $t(`cart.addressForm.divisionNames.${camelCase(country.divisionName)}`) }}
      .control.has-icons-left
        multiselect(
          :disabled="blockAddressForm",
          v-if="multiselectMounted",
          @open="showSelected('state')"
          @select="onStateChanged"
          @search-change="statesQuery = $event"
          ref="state",
          v-model.trim="$v.state.$model",
          :class="{ 'is-danger': $v.state.$error }",
          :options="statesOptions",
          track-by="key",
          label="value",
          select-label="",
          :show-labels="false",
          selected-label="",
          :allow-empty="true",
          :searchable="true",
          :internalSearch="false",
          :option-height="35"
        )
          template(slot="option", slot-scope="props")
            span(v-html="props.option.value")
        span.icon.is-small.is-left
          i.fa.fa-compass
      p.help.is-danger(v-if="!$v.state.required && $v.state.$dirty") {{ $t(`cart.addressForm.rules.${formType}State.required`) }}

    .field.is-fullwidth(v-else, :class="{'field-error': $v.state.$error}")
      label.label {{ $t(`cart.addressForm.divisionNames.${camelCase(country.divisionName)}`) }}
      .control.has-icons-left
        input.input(v-model.trim="$v.state.$model", :class="{ 'is-danger': $v.state.$error }")
        span.icon.is-small.is-left
          i.fa.fa-compass
      p.help.is-danger(v-if="!$v.state.required && $v.state.$dirty") {{ $t(`cart.addressForm.rules.${formType}State.required`) }}

  .form-row
    .field.is-fullwidth(:class="{'field-error': $v.zipCode.$error}")
      label.label {{ $t('cart.addressForm.zip') }}
      .control.has-icons-left
        input.input(:disabled="blockAddressForm", name="postcode", autocomplete="postal-code", @blur="calculateTax", v-model.trim="$v.zipCode.$model", :class="{ 'is-danger': $v.zipCode.$error }")
        span.icon.is-small.is-left
          i.fa.fa-mail-bulk
      p.help.is-danger(v-if="!$v.zipCode.required && $v.zipCode.$dirty") {{ $t(`cart.addressForm.rules.${formType}ZipCode.required`) }}

  .form-row
    .field.is-fullwidth(:class="{'field-error': $v.country.$error}")
      label.label {{ $t('cart.addressForm.country') }}
      .control.has-icons-left
        multiselect(
          :disabled="blockAddressForm",
          v-if="multiselectMounted",
          @open="showSelected('country')"
          ref="country",
          @search-change="countriesQuery = $event"
          @select="onCountrySelect",
          :value.trim="$v.country.$model",
          :class="{ 'is-danger': $v.country.$error }",
          :options="countriesOptions",
          track-by="key",
          label="value",
          select-label="",
          :show-labels="false",
          selected-label="",
          :allow-empty="false",
          :searchable="true",
          :internalSearch="false",
          :option-height="35"
        )
          template(slot="option", slot-scope="props")
            span(v-html="props.option.value")
        span.icon.is-small.is-left
          i.fa.fa-flag
      .field__change-confirmation(ref="countryPopper", v-show="showCountryChangeConfirmation", v-on-clickaway="hideWarrantyPopups")
        .arrow(ref="countryArrow", data-popper-arrow)
        .field__change-confirmation--body
          .confirmation-message(v-interpolation, v-html="confirmationText")
          .buttons.are-small(v-if="popperButtons")
            button.button.gold-color.light(type="button", @click="$emit('country-confirm')") {{ $t('detailsPage.ringSizeConfirm.confirm') }}
            button.button.is-ghost(type="button", @click="$emit('country-cancel')") {{ $t('detailsPage.ringSizeConfirm.cancel') }}
      p.help.is-danger(v-if="formType === 'shipping' && !$v.country.notProhibitedCountry && $v.country.$dirty") {{ $t(`cart.addressForm.rules.${formType}CountryId.notProhibitedCountry`) }}
</template>

<script>
import required from 'vuelidate/lib/validators/required'
import { mapGetters, mapActions, mapState } from 'vuex'
import { validationMixin } from 'vuelidate'
import { mixin as clickaway } from 'vue-clickaway'
import camelCase from 'lodash/camelCase'
import { prohibitedCountries } from '~~/utils/definitions/defaults'
import { addressFormatter1, addressFormatter2 } from '~~/utils/formatters'
import addressAutocompleteMixin from '~~/mixins/addressAutocompleteMixin.js'

const formFields = [
  'firstName',
  'lastName',
  'street1',
  'street2',
  'city',
  'zipCode'
]

const notProhibitedCountry = (value) => !prohibitedCountries.includes(value.key)

function mapComputed(fields) {
  return fields.reduce((obj, field) => {
    const capitalizeField = field.charAt(0).toUpperCase() + field.slice(1)
    obj[field] = {
      get() {
        // 'this' context should be inside get or set
        const formField = this.formType + capitalizeField
        return this.form[formField]
      },

      set(value) {
        const formField = this.formType + capitalizeField
        this.setFormValue({ [formField]: value })
      }
    }
    return obj
  }, {})
}

export default {
  name: 'FormAddressComponent',

  mixins: [validationMixin, clickaway, addressAutocompleteMixin],

  props: {
    formType: {
      type: String,
      validator(value) {
        // The value must match one of these strings
        return ['shipping', 'billing'].includes(value)
      },
      required: true
    }
  },

  validations() {
    const defaultRules = {
      firstName: { required },
      lastName: { required },
      street1: { required },
      street2: {},
      city: { required },
      state: { required },
      zipCode: { required },
      country: {}
    }

    if (this.formType === 'shipping') {
      defaultRules.country = { notProhibitedCountry }
    }

    return defaultRules
  },

  data: () => ({
    addressPopperInstance: null,
    countryPopperInstance: null,
    popperButtons: false,
    multiselectMounted: false,
    selectedAddress: {},
    countriesQuery: '',
    statesQuery: '',
    previousCountry: '',
    countryShowConfirmation: false,
    addressShowConfirmation: false
  }),

  computed: {
    ...mapState({
      addressesList: (state) => state.account.addressesList,
      billingAddressDefault: (state) => state.account.billingAddress,
      shippingAddressDefault: (state) => state.account.shippingAddress,
      companyAddress: (state) => state.cart.companyAddress
    }),
    ...mapGetters({
      form: 'cart/addressForm',
      pickUpDeliverySelected: 'cart/pickUpDeliverySelected',
      metaData: 'cart/metaData',
      allCartItems: 'cart/allListItems'
    }),

    showAddressesList() {
      return this.$store.state.auth.loggedIn && this.accountAddresses.length
    },

    showAddressChangeConfirmation() {
      if (!this.$store.state.auth.loggedIn) return false
      if (this.formType !== 'shipping') return false
      return this.addressShowConfirmation
    },

    showCountryChangeConfirmation() {
      if (this.formType !== 'shipping') return false
      return this.countryShowConfirmation
    },

    ...mapComputed(formFields),

    warrantyCount() {
      return this.allCartItems.filter((i) => i.extendPlan).length
    },

    statesUS() {
      return this.metaData.states?.us || []
    },

    statesCAN() {
      return this.metaData.states?.can || []
    },

    delivery() {
      return this.form.shippingRateId
    },

    profile() {
      return this.$store.state.auth.user || {}
    },

    accountAddresses() {
      if (!this.$store.state.auth.loggedIn) return []
      return this.addressesList
        .map((a) => {
          const address = `${addressFormatter1(a)} ${addressFormatter2(
            a
          )}`.trim()
          const country = this.metaData.countries.find(
            (c) => c.key === a.countryId
          )
          return {
            id: a.id,
            address: [address, country?.value]
              .filter((item) => item)
              .join(', ')
              .trim()
          }
        })
        .filter((item) => item)
    },

    /*
      For pickup shipping option
     */
    blockAddressForm() {
      return this.pickUpDeliverySelected && this.formType === 'shipping'
    },

    state: {
      get() {
        const value = this.form[`${this.formType}State`]
        if (!['US', 'CA'].includes(this.country.key)) return value
        return this.states.find((state) => state.key === value)
      },

      set(value) {
        const val = typeof value === 'string' ? value : value.key
        this.setFormValue({ [`${this.formType}State`]: val })
      }
    },

    country: {
      get() {
        const id = this.form[`${this.formType}CountryId`]
        return this.metaData.countries.find((country) => country.key === id)
      },

      set(value) {
        this.setFormValue({ [`${this.formType}CountryId`]: value.key })
      }
    },

    states() {
      if (this.country.key === 'US') return this.statesUS
      if (this.country.key === 'CA') return this.statesCAN
      return []
    },

    showSelect() {
      return !!this.states.length
    },

    statesOptions() {
      return this.states.filter((c) =>
        c.value.toLowerCase().startsWith(this.statesQuery.toLowerCase())
      )
    },

    countriesOptions() {
      return this.metaData.countries.filter((c) =>
        c.value.toLowerCase().startsWith(this.countriesQuery.toLowerCase())
      )
    },

    confirmationText() {
      const code = this.country.key
      if (code === 'US') {
        if (this.popperButtons === true) return this.$t('cart.countryPopup.US1')
        return this.$t('cart.countryPopup.US2')
      }
      if (code === 'BE') return this.$t(`cart.countryPopup.${code}`)
      if (code === 'IN') return this.$t(`cart.countryPopup.${code}`)
      if (code === 'IR') return this.$t(`cart.countryPopup.${code}`)
      return ''
    }
  },

  watch: {
    delivery() {
      this.calculateTax()
    },

    showAddressesList(state) {
      if (state) setTimeout(this.mountAddressesPopper, 500)
    }
  },

  mounted() {
    this.previousCountry = this.country.key
    this.initAddressAutocomplete()
    this.$multiselect.insert(() => {
      this.multiselectMounted = true
      setTimeout(this.mountCountryPopper, 500)
      if (this.showAddressesList) setTimeout(this.mountAddressesPopper, 500)
    })
    if (!this.$cookies.get('addresses-set')) this.selectDefaultAddress()
  },

  methods: {
    ...mapActions({
      setFormValue: 'cart/setFormValue',
      updateAddressForm: 'cart/updateAddressForm',
      calcTax: 'cart/calculateTax',
      removeTax: 'cart/removeTax'
    }),

    setFormValues({ streetNumber, street, city, state, zip, country }) {
      this.setFormValue({
        [`${this.formType}Street1`]: [
          streetNumber?.long_name,
          street?.long_name
        ]
          .filter((s) => s)
          .join(' '),
        [`${this.formType}City`]: city?.long_name,
        [`${this.formType}State`]: state?.short_name,
        [`${this.formType}ZipCode`]: zip?.long_name,
        [`${this.formType}CountryId`]: country?.short_name
      })
    },

    async mountAddressesPopper() {
      await this.mountPopper('address')
    },

    async mountCountryPopper() {
      await this.mountPopper('country')
    },

    async mountPopper(type) {
      if (this.formType !== 'shipping') return
      if (!this.$refs[`${type}Popper`]) return

      this[`${type}PopperInstance`] = await this.$popper.insert(
        this.$refs[type].$el,
        this.$refs[`${type}Popper`],
        {
          placement: 'top',
          modifiers: [
            {
              name: 'offset',
              options: {
                offset: [0, 8]
              }
            },
            {
              name: 'arrow',
              options: {
                element: this.$refs[`${type}Arrow`]
              }
            }
          ]
        }
      )
    },

    hideWarrantyPopups() {
      if (this.popperButtons) return
      this.countryShowConfirmation = false
      this.addressShowConfirmation = false
    },

    onStateChanged(state) {
      if (!state.tax) {
        this.$root.$emit('remove-tax')
        return
      }
      this.calculateTax()
    },

    calculateTax() {
      this.$root.$emit('calc-tax')
    },

    showSelected(type) {
      // if (type === 'country') this.previousCountry = this.country.key
      // have to wait some till the list is rendered
      const timeout = setTimeout(() => {
        // the multiselect field
        const field = this.$refs[type].$el
        // the element that should be scrolled
        const wrapper = field.querySelector('.multiselect__content-wrapper')
        // the selected option
        const option = field.querySelector(
          'span.multiselect__option.multiselect__option--selected'
        )
        // if everything is present
        if (wrapper !== null && option !== null) {
          wrapper.scrollTop = option.offsetTop
        }
        clearTimeout(timeout)
      }, 10)
    },

    selectDefaultAddress() {
      if (!this.accountAddresses.length) return
      const defaultAddressId = this[`${this.formType}AddressDefault`]
      this.selectedAddress = this.accountAddresses.find(
        (a) => a.id === defaultAddressId
      )
      this.setSavedAddressToForm(this.selectedAddress)
    },

    async setSavedAddressToForm(addressFromList) {
      const address = this.addressesList.find(
        (a) => a.id === addressFromList.id
      )
      const country = { key: address?.countryId }

      if (address) {
        try {
          await this.checkWarranty(country, 'address')
          this.setCountryChanges(country)
        } catch (e) {
          return
        }

        this.selectedAddress = addressFromList
        this.updateAddressForm({ formType: this.formType, formData: address })
        this.$emit('auto-filled') // to set default delivery
      }
    },

    onSelectAddress(address) {
      this.setSavedAddressToForm(address)
    },

    onCountrySelect(country) {
      this.$parent.$emit('reset-delivery')
      this.$nextTick(async () => {
        this.$v.country.$touch()
        try {
          await this.checkWarranty(country, 'country')
          this.setCountryChanges(country)
        } catch (e) {}
      })
    },

    setCountryChanges(country) {
      this.country = country
      this.previousCountry = this.country.key
      if (country.key === 'US') {
        this.setFormValue({
          [`${this.formType}State`]: this.statesUS[0].key
        })
        this.$emit('change-country')
        this.calculateTax()
        return
      }

      if (country.key === 40) {
        this.setFormValue({
          [`${this.formType}State`]: this.statesCAN[0].key
        })
        this.$emit('change-country')
        return
      }

      this.setFormValue({ [`${this.formType}State`]: '' })
      this.$emit('change-country')
    },

    /**
     * Showing popup for extend warranty availability
     * @param country
     * @param {'address'|'country'} source - "address" - from user's addresses list; "country" - from countries dropdown
     * @returns {Promise<unknown>}
     */
    checkWarranty(country, source) {
      return new Promise((resolve, reject) => {
        if (this.formType === 'billing') {
          resolve()
          return
        }
        // if country has been changed
        if (prohibitedCountries.includes(country.key)) {
          this.showAvailablePopup(source)
          resolve()
          return
        }
        if (this.previousCountry !== country.key) {
          if (country.key === 'US') {
            this.showAvailablePopup(source)
            resolve()
            return
          }
          if (this.previousCountry === 'US' && this.warrantyCount) {
            this.showLoosePopup(source)
              .then(() => {
                this.popperButtons = false
                this.hideWarrantyPopups()
                resolve()
              })
              .catch((e) => {
                this.popperButtons = false
                this.hideWarrantyPopups()
                reject(new Error(e))
              })
            return
          }
          resolve()
          return
        }
        resolve()
        // reject(new Error())
      })
    },

    showAvailablePopup(source) {
      this.popperButtons = false
      this[`${source}ShowConfirmation`] = true
      if (this[`${source}PopperInstance`])
        setTimeout(this[`${source}PopperInstance`].update, 10)
    },

    showLoosePopup(source) {
      this.popperButtons = true
      this[`${source}ShowConfirmation`] = true
      if (this[`${source}PopperInstance`])
        setTimeout(this[`${source}PopperInstance`].update, 10)
      return new Promise((resolve, reject) => {
        this.$once('country-confirm', resolve)
        this.$once('country-cancel', reject)
      })
    },

    camelCase
  }
}
</script>

<style lang="sass" scoped>
.arrow,
.arrow::before
  background-color: #f9f9f9
  box-shadow: 0 5px 30px rgba(black, .1)
  position: absolute
  width: 16px
  height: 16px
  border: 1px solid $border-color
.arrow
  z-index: -1
  visibility: hidden
.arrow::before
  visibility: visible
  content: ''
  transform: rotate(45deg)

.field__change-confirmation[data-popper-placement^='top'] > .arrow
  bottom: -7px

.field__change-confirmation[data-popper-placement^='bottom'] > .arrow
  top: -7px

.field__change-confirmation[data-popper-placement^='left'] > .arrow
  right: -7px

.field__change-confirmation[data-popper-placement^='right'] > .arrow
  left: -7px

.address-form
  .form-row
    +touch
      flex-direction: column
    &:not(:first-child)
      margin-top: 10px
      +touch
        margin-top: unset
    .field
      .address-line
        &.input-empty
          ::v-deep
            .multiselect__content-wrapper
              display: none !important
      &__change-confirmation
        z-index: 999
        max-width: 310px
        box-shadow: 0 5px 30px rgba(black, .1)
        border: 1px solid $border-color
        @include border-radius(3px)
        @include transition(opacity, .5s)
      &__change-confirmation--body
        background: #f9f9f9
        color: $default-font-color
        padding: 15px
        z-index: 1
        .buttons
          margin-top: 10px
          .button
            padding-bottom: calc(.5em - 1px)
            padding-left: 1em
            padding-right: 1em
            padding-top: calc(.5em - 1px)
            &.is-ghost
              color: $default-font-color
      +touch
        max-width: unset
        width: 100%
    .field + .field
      +touch
        margin-left: unset
</style>
