<template lang="pug">
form.information-form(@submit.prevent="onFormSubmit")
  .form-block
    h3.block-title.is-italic {{ $t('cart.addressForm.customerInformation') }}
    .form-row.margin-top-10
      .field.is-fullwidth(:class="{'field-error': $v.email.$error}")
        label.label {{ $t('cart.addressForm.email') }}
        .control.has-icons-left
          input.input(ref="email-field", autocomplete="email", name="email", v-model.trim="$v.email.$model", :class="{ 'is-danger': $v.email.$error }")
          span.icon.is-small.is-left
            i.fa.fa-envelope
        p.help.is-danger(v-if="!$v.email.required && $v.email.$dirty") {{ $t('cart.addressForm.rules.email.required') }}
        p.help.is-danger(v-if="!$v.email.email && $v.email.$dirty") {{ $t('cart.addressForm.rules.email.template') }}

    .form-row.margin-top-10
      .field.is-fullwidth(:class="{'field-error': $v.teamMember.$error}")
        label.label {{ $t('cart.addressForm.salesTeam') }}
        .control.has-icons-left
          multiselect(
            v-if="multiselectMounted",
            v-model.trim="$v.teamMember.$model"
            :class="{ 'is-danger': $v.teamMember.$error }"
            :options="teamMembers",
            track-by="id",
            label="name",
            select-label="",
            :show-labels="false",
            selected-label="",
            :allow-empty="false",
            :searchable="false",
            :option-height="35"
          )
          span.icon.is-small.is-left
            i.fa.fa-users

  .form-block
    h3.block-title.is-italic {{ $t('cart.addressForm.deliveryAddress') }}
    form-address-component(@auto-filled="onAddressAutofilled", ref="shippingForm", formType="shipping", @change-country="onCountryChange")

    .form-row
      .field.is-fullwidth(:class="{'field-error': $v.phone.$error}")
        label.label {{ $t('cart.addressForm.phoneNumber') }}
        .control.has-icons-left
          input.input(v-model.trim="$v.phone.$model", autocomplete="tel", :class="{ 'is-danger': $v.phone.$error }")
          span.icon.is-small.is-left
            i.fa.fa-phone
        p.help.is-danger(v-if="!$v.phone.required && $v.phone.$dirty") {{ $t('cart.addressForm.rules.phone.required') }}

  .form-block
    h3.block-title.is-italic {{ $t('cart.addressForm.billingAddress') }}
    checkbox.as-shipping(v-model="asShipping", :invert-color="true", :disabled="pickUpDeliverySelected") {{ $t('cart.addressForm.asShipping') }}
    collapse-transition
      form-address-component(@auto-filled="onAddressAutofilled", v-if="!asShipping", ref="billingForm", formType="billing")

  .form-block
    h3.block-title.is-italic {{ $t('cart.addressForm.deliveryOptions') }}
    .radio-group.is-flex
      radio(v-for="rate in deliveryRates", :key="rate.id" name="delivery", :val="rate.id", v-model="delivery")
        .radio-value
          span {{ rate.description }}
          span {{ rate.price | moneyFormatter }}

  .form-block
    h3.block-title.is-italic {{ $t('cart.addressForm.comments') }}
    .comments-block
      .comments-block-label {{ $t('cart.addressForm.commentsTitle') }}
      textarea.comments-block-textarea.textarea(rows="4", v-model="customerComments")

    .form-row
      .field.is-fullwidth(v-if="externalCountry")
        .vat-notice
          i18n(path="cart.vatNotice.note", tag="div", for="cart.vatNotice.link")
            strong(slot="note") {{ $t('cart.vatNotice.strong') }}
            v-link(slot="link", to="/education/frequently-asked-questions/#vat", target="_blank", type="native") {{ $t('cart.vatNotice.link') }}
        .accept-vat
          checkbox(@input="$v.acceptVAT.$touch()", :invert-color="true", v-model="$v.acceptVAT.$model", :class="{error: !$v.acceptVAT.checked && $v.acceptVAT.$dirty}") {{ $t('cart.vatNotice.accept') }}
    .form-row
      .field.is-fullwidth.submit-control
        .control
          button.button.gold-color(type="submit", :disabled="isSubmitDisabled") {{ $t('cart.addressForm.payment') }}
</template>

<script>
import { validationMixin } from 'vuelidate'
import required from 'vuelidate/lib/validators/required'
import email from 'vuelidate/lib/validators/email'
import { mapActions, mapGetters, mapState } from 'vuex'
import { CollapseTransition } from 'vue2-transitions'
import Vue from 'vue'
import debounce from 'lodash/debounce'
import emailValidatorMixin from '~~/mixins/emailValidatorMixin'
import { moneyFormatter } from '~~/utils/formatters'
import { cookiesOpts } from '~~/utils/definitions/defaults.js'

export default {
  name: 'InformationFormComponent',

  components: {
    CollapseTransition,
    Radio: () => import('~~/components/Common/Radio'),
    Checkbox: () => import('~~/components/Common/Checkbox'),
    FormAddressComponent: () => import('./FormAddress')
  },

  filters: {
    moneyFormatter
  },

  mixins: [validationMixin, emailValidatorMixin],

  validations() {
    if (this.externalCountry) {
      return {
        email: { required, email },
        phone: { required },
        acceptVAT: {
          checked: (value) => value === true
        },
        teamMember: {},
        delivery: {},
        customerComments: {}
      }
    }

    return {
      email: { required, email },
      phone: { required },
      teamMember: {},
      delivery: {},
      customerComments: {}
    }
  },

  data: () => ({
    acceptVAT: false,
    submitStatus: null,
    multiselectMounted: false
  }),

  computed: {
    ...mapState({
      isDirty: (state) => state.cart.isDirty,
      teamMembers: (state) => state.app.salePersons,
      billingAddressDefault: (state) => state.account.billingAddress,
      shippingAddressDefault: (state) => state.account.shippingAddress
    }),
    ...mapGetters({
      pickUpDeliverySelected: 'cart/pickUpDeliverySelected',
      form: 'cart/addressForm',
      metaData: 'cart/metaData',
      subtotal: 'cart/getSubTotal'
    }),

    isSubmitDisabled() {
      return this.submitStatus === 'PENDING'
    },

    externalCountry() {
      return this.form.shippingCountryId !== 'US'
    },

    profile() {
      return this.$store.state.auth.user || {}
    },

    deliveryRates() {
      const rates =
        this.form.shippingCountryId === 'US'
          ? this.metaData.shippingRates.filter((i) => i.domestic)
          : this.metaData.shippingRates.filter((i) => !i.domestic)

      return rates.filter(
        (i) =>
          (i.maxOrderTotal >= this.subtotal || i.maxOrderTotal === null) &&
          i.minOrderTotal <= this.subtotal
      )
    },

    delivery: {
      get() {
        return this.form.shippingRateId
      },

      set(value) {
        this.setFormValue({ shippingRateId: value })
        this.$nextTick(() => {
          if (this.pickUpDeliverySelected) this.asShipping = false
        })
      }
    },

    asShipping: {
      get() {
        return this.form.shipToBilling
      },

      set(value) {
        this.setFormValue({ shipToBilling: value })
      }
    },

    email: {
      get() {
        return this.form.email
      },

      set(value) {
        this.setFormValue({ email: value })
      }
    },

    teamMember: {
      get() {
        return this.form.teamMember
      },

      set(value) {
        this.setFormValue({ teamMember: value })
      }
    },

    phone: {
      get() {
        return this.form.phone
      },

      set(value) {
        this.setFormValue({ phone: value })
      }
    },

    customerComments: {
      get() {
        return this.form.customerComments
      },

      set(value) {
        this.setFormValue({ customerComments: value })
      }
    }
  },

  created() {
    this.setDefaultFieldsValues()
  },

  mounted() {
    this.$multiselect.insert(() => {
      this.multiselectMounted = true
    })
    this.setDefaultDelivery()
    this.$on('reset-delivery', this.resetDelivery)
  },

  methods: {
    ...mapActions({
      setFormValue: 'cart/setFormValue',
      resetDirty: 'cart/resetDirty'
    }),

    onAddressAutofilled: debounce(function () {
      this.setDefaultDelivery()
      this.markAddressesAsSet()
      if (!this.asShippingSwitcher) {
        this.asShipping =
          this.billingAddressDefault === this.shippingAddressDefault
        this.asShippingSwitcher = true // don't need to declare it in data. We don't need reactivity here
      }
    }, 100),

    markAddressesAsSet() {
      this.$cookies.set('addresses-set', true, cookiesOpts)
    },

    setDefaultFieldsValues() {
      if (!this.teamMember)
        this.teamMember = this.teamMembers.find((c) => c.id === '-1')
      if (!this.$store.state.auth.loggedIn) return
      if (this.profile.email) this.email = this.profile.email
    },

    onCountryChange() {
      this.$nextTick(() => {
        this.setDefaultDelivery()
      })
    },

    setDefaultDelivery() {
      const possibleRates = this.deliveryRates.map((rate) => rate.id)
      if (
        !this.delivery ||
        !possibleRates.includes(this.delivery) ||
        this.isDirty
      )
        this.resetDelivery()
    },

    resetDelivery() {
      this.setFormValue({ shippingRateId: this.deliveryRates[0].id })
      this.resetDirty()
    },

    scrollToError() {
      const firstError = document.querySelectorAll('.field-error')[0]
      if (firstError) {
        const offset = this.$device.isMobile ? 180 : 45
        const bodyRect = document.body.getBoundingClientRect().top
        const elementRect = firstError.getBoundingClientRect().top
        const elementPosition = elementRect - bodyRect
        const offsetPosition = elementPosition - offset

        window.scrollTo({
          top: offsetPosition,
          behavior: 'smooth'
        })
      }
    },

    onFormSubmit() {
      this.$v.$touch()
      const { shippingForm, billingForm } = this.$refs

      if (shippingForm) shippingForm.$v.$touch()
      if (billingForm) billingForm.$v.$touch()
      if (
        this.$v.$invalid ||
        (shippingForm ? shippingForm.$v.$invalid : false) ||
        (billingForm ? billingForm.$v.$invalid : false)
      ) {
        this.submitStatus = 'ERROR'
        this.$nextTick(() => {
          this.scrollToError()
        })
      } else {
        this.submitStatus = 'PENDING'
        Vue.$gtag.event('checkout_address', {
          event_label: 'Checkout address form filled'
        })
        this.$router.push(
          this.localePath({
            name: 'cart-index-payment-order'
          })
        )
        this.submitStatus = 'OK'
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.information-form
  .form-block
    &:not(:first-child)
      margin-top: 50px
      +mobile
        margin-top: 30px
    .as-shipping
      margin-top: 15px
    .radio-group
      margin-top: 15px
      flex-direction: column
      .radio-value
        font-size: 14px
        span
          display: block
    .comments-block
      margin-top: 15px
      &-textarea
        border-radius: 0
        margin-top: 15px
  .address-form
    margin-top: 10px
  .form-row
    +touch
      flex-direction: column
    &:not(:first-child)
      margin-top: 10px
      +mobile
        margin-top: unset
    .field
      flex: 1
      max-width: calc(50% - 10px)
      margin-bottom: 1.35rem
      +touch
        max-width: unset
        width: 100%
      .vat-notice
        border-left: 2px solid $primary-color
        margin-top: 15px
        padding: 0 15px
        a
          color: $primary-color
      .accept-vat
        margin-top: 15px
        padding: 20px
        background-color: $light-primary-color
        ::v-deep
          .checkbox-label
            font-size: 14px
        .error
          color: $error-color
          ::v-deep
            .checkmark
              border: 1px solid $error-color
      &.is-fullwidth
        max-width: unset
      .control
        .vdpComponent
          display: block
          ::v-deep
            .vdpOuterWrap
              z-index: 51
              .vdpInnerWrap
                border-radius: 0
        .multiselect
          ::v-deep
            .multiselect__tags
              padding-left: 40px
      &.field-error
        margin-bottom: unset
      .label
        text-transform: uppercase
      &.submit-control
        width: 100%
        max-width: unset
        margin-top: 20px
        +mobile
          margin-top: 30px
        .control
          text-align: left
          .button
            width: unset
            padding: 11px 70px
            +mobile
              width: 100%
      &.textarea-control
        @extend .submit-control
    .field + .field
      margin-left: 20px
      +mobile
        margin-left: unset
</style>
