<template lang="pug">
main.account-page.page
  page-header(:title="$t('account.recommendations.title')", :breadcrumbs="breadcrumbsLocal")
  .container.account-page__recommendations(data-v-important)
    button.sign-out.button.gold-color.light.is-hidden-tablet(@click="$auth.logout") {{ $t('account.dashboard.signOut') }}
    template(v-if="recommendations.length")
      .account-page__recommendations--message {{ $t('account.recommendations.messageWithRecommendations') }}
    template(v-else)
      .account-page__recommendations--message {{ $t('account.recommendations.messageWithoutRecommendations') }}
      .account-page__recommendations--form.is-flex
        contacts-form(:data-type="3")
    .account-page__recommendations--wrapper
      .recommendation.is-flex(v-for="r in recommendations", :key="r.id" )
        .recommendation__item-section.is-flex
          v-image.recommendation__item-section--image(:src="r.item.imagePath")
          .recommendation__item-section--info.is-flex-mobile
            .recommendation__item-section--title {{ listingItemNameFormatter(r.item) }}
            .recommendation__item-section--item-id {{ $t('account.recommendations.itemID', [r.item.jewelryItemId || r.item.id]) }}
            price.recommendation__item-section--price(:item="r.item", :tooltip="false")
        .recommendation__message-section
          .recommendation__message-section--title {{ r.messageTitle }}
          .recommendation__message-section--message {{ r.messageBody }}
          //.recommendation__message-section--author
            span Best wishes,
            br
            strong.is-italic {{ r.messageAuthor }}
        .recommendation__controls-section
          buttons-list.recommendation__controls-section--buttons(:item="r.item")
          .recommendation__controls-section--rest.is-flex
            .help-block
              strong.help-block__question {{ $t('account.recommendations.questions') }}
              .help-block__button.is-flex(@click="setSelectedItem(r.item)")
                i.material-icons help
                span {{ $t('account.recommendations.help') }}
            .delete-block.is-flex(@click="onDeleteRecommendation(r)")
              icon(width="16", height="16", iconName="close", iconColor="#2e2e2e")
              span {{ $t('account.recommendations.delete') }}
  back-to-top-component
  question-about-product(v-if="selectedItem", :item="selectedItem")
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
import cloneDeep from 'lodash/cloneDeep'
import authRestrictedMixin from '~~/mixins/authRestrictedMixin'
import { listingItemNameFormatter } from '~~/utils/formatters'
import { productListTypeByCategory } from '~~/utils/definitions/defaults'
import _basePage from '~~/components/Page/_basePage'

export default {
  name: 'AccountPage',

  components: {
    ButtonsList: () =>
      import('~~/components/Account/Recommendations/ButtonsList'),
    ContactsForm: () => import('~~/components/Contacts/ContactsForm'),
    PageHeader: () => import('~~/components/Account/PageHeader'),
    QuestionAboutProduct: () =>
      import('~~/components/DetailsPage/DetailsMain/QuestionAboutProduct'),
    Price: () => import('~~/components/Common/Price')
  },

  extends: _basePage,

  mixins: [authRestrictedMixin],

  middleware: 'isAuthorized',

  data: () => ({
    selectedItem: null
  }),

  computed: {
    ...mapState({
      recommendations: (state) => state.accountPages.recommendations
    }),
    ...mapGetters({
      productDetails: 'productDetails/productDetails',
      customItem: 'customItem/customItem'
    }),

    breadcrumbsLocal() {
      return [
        {
          id: 'd8ac6bff-ce6d-4232-a68a-ab3131728f62',
          name: this.$t('breadcrumbs.home'),
          path: '/'
        },
        {
          id: 'a056f40a-6739-47b5-a620-b8f20d0d170d',
          name: this.$t('breadcrumbs.account.dashboard'),
          path: '/account'
        },
        {
          id: '95c14fc9-6ca5-4be2-af83-c870fd236f76',
          name: this.$t('breadcrumbs.account.recommended')
        }
      ]
    }
  },

  async fetch(context) {
    context.store.dispatch('getMeta', context)
    await context.store.dispatch('accountPages/fetchRecommendations')
  },

  beforeDestroy() {
    this.resetCustomItem()
  },

  methods: {
    ...mapActions({
      deleteRecommendation: 'accountPages/deleteRecommendation',
      getCustomItem: 'customItem/getCustomItem',
      fetchDetails: 'productDetails/fetchDetails',
      getFinalOptions: 'customItem/getFinalOptions',
      fetchPrice: 'customItem/fetchPrice',
      resetCustomItem: 'customItem/resetCustomItem'
    }),

    async fetchPreviewItem(item) {
      const regEx = /(JS\d+|js\d+)([A-Za-z\d]+)-(.+)$/gm
      const result = regEx.exec(item.id)
      const query = {
        id: result[1],
        stoneId: result[3],
        metalTypeCode: result[2]
        // TODO add preferable ring size
      }
      await this.getFinalOptions(query)
      await this.fetchPrice()

      const i = await this.getCustomItem()
      return i
    },

    async fetchSimpleItem(item) {
      const productListType = productListTypeByCategory[item.category]
      const params = { ...item, type: productListType }
      await this.fetchDetails(params)
      return cloneDeep(this.productDetails)
    },

    async setSelectedItem(item) {
      this.$root.$emit('loading-start')
      this.selectedItem =
        item.dataType === 2
          ? await this.fetchPreviewItem(item)
          : await this.fetchSimpleItem(item)
      this.$root.$emit('loading-stop')
      setTimeout(() => {
        this.$root.$emit('question-about-product')
      }, 100)
    },

    listingItemNameFormatter(item) {
      return listingItemNameFormatter.call(this, item)
    },

    async onDeleteRecommendation(r) {
      this.$root.$emit('loading-start')
      await this.deleteRecommendation(r)
      this.$root.$emit('loading-stop')
    }
  }
}
</script>

<style lang="sass" scoped>
$padding: 34px

.account-page
  &__recommendations
    margin-top: $padding
    @include margin-bottom()
    .sign-out
      margin-top: 2rem
      width: 100%
      +mobile
        margin-top: unset
    .button
      width: 100%
      margin-bottom: 20px
  &__recommendations--form
    justify-content: center
    .contacts-form
      width: 50%
      +mobile
        width: 100%
      ::v-deep
        .form-block
          h3
            text-align: center
          .field
            max-width: unset
          .submit-control
            .control
              justify-content: center
  &__recommendations--message
    font-size: 16px
    margin: 10px auto 30px
    max-width: 1000px
    text-align: center
  &__recommendations--wrapper
    .recommendation
      border-top: 1px solid $border-color
      padding: 20px 0
      +tablet-only
        flex-wrap: wrap
      +mobile
        flex-direction: column
      &:last-child
        border-bottom: 1px solid $border-color
      &__controls-section--buttons
        margin-bottom: 30px
      &__item-section
        border: 1px solid $border-color
        max-width: 230px
        width: 100%
        flex-direction: column
        justify-content: space-between
        padding: 14px
        +tablet-only
          max-width: unset
          width: calc(33% - 10px)
        +mobile
          flex-direction: row
          max-width: unset
          align-items: center
      &__item-section--price
        ::v-deep
          .price
            font-size: 20px
          .item-price-text
            +mobile
              align-items: flex-start
      &__item-section--info
        +mobile
          height: 120px
          flex-direction: column
          justify-content: space-around
          align-items: flex-start
      &__item-section--image
        +mobile
          max-width: 160px
      &__item-section--title
        font-weight: bold
        text-align: center
        +mobile
          text-align: left
      &__item-section--item-id
        text-align: center
      &__message-section
        flex: auto
        padding: 35px 50px
        font-size: 18px
        +tablet-only
          padding: 30px 20px
          width: calc(100% - 33% + 10px)
        +mobile
          padding: 30px 0
          text-align: center
      &__controls-section
        max-width: 250px
        width: 100%
        +tablet-only
          margin-top: 20px
          max-width: unset
        +mobile
          max-width: unset
      &__controls-section--rest
        flex-direction: column
        justify-content: space-between
        height: 130px
        +tablet-only
          flex-direction: row
          height: unset
          align-items: flex-end
        +mobile
          text-align: center
          align-items: center
          height: 115px
        .help-block
          font-size: 16px
          &__question
            font-size: 18px
          &__button
            color: $gold-color
            align-items: center
            cursor: pointer
            margin-top: 10px
            +mobile
              justify-content: center
            i
              font-size: 20px
            span
              margin-left: 5px
        .delete-block
          align-items: center
          font-size: 18px
          cursor: pointer
          span
            text-decoration: underline
            margin-left: 8px
      &__message-section--title
        text-align: center
        font-size: 30px
        font-family: $lora
        font-style: italic
      &__message-section--message
        padding: 35px 0
</style>
