<template lang="pug">
  .video-360__wrapper(v-observe-visibility="{callback: onVideoBecomeVisibleHandler, once: true}")
    .video-360(:id="videoContainerId", v-show="!loading")
    .video-360__message(v-if="message") {{ $t('common.videoMessage') }}
</template>

<script>
import video360Plugin from './video360Plugin.js'

export default {
  name: 'Video360Component',

  props: {
    attrs: {
      type: Object,
      required: true
    },

    message: {
      type: Boolean,
      default: false
    },

    lazy: {
      type: Boolean,
      default: true
    }
  },

  data: () => ({
    loading: true,
    el: null,
    video: null
  }),

  computed: {
    videoContainerId() {
      return `${this.attrs.id}-${this.$h.generateId()}`
    }
  },

  beforeDestroy() {
    if (this.video) this.video.kill()
    if (this.el) {
      this.el.removeEventListener('loaded', this.loaded)
      this.el.removeEventListener('position', this.positionEvent)
      this.el.removeEventListener('positionStart', this.positionEventStart)
      this.el.removeEventListener('positionStop', this.positionEventStop)
    }
  },

  mounted() {
    if (!this.lazy) this.initVideo360()
  },

  methods: {
    onVideoBecomeVisibleHandler(isVisible) {
      if (isVisible && this.lazy) this.initVideo360()
    },

    async initVideo360() {
      await this.$bluebird.insert()
      await this.$hammer.insert()
      this.el = document.getElementById(this.videoContainerId)
      if (!this.el) return
      this.el.addEventListener('position', this.positionEvent, false)
      this.el.addEventListener('positionStart', this.positionEventStart, false)
      this.el.addEventListener('positionStop', this.positionEventStop, false)
      this.video = video360Plugin(this.el, { ...this.attrs })
      if (this.attrs.startOn === 'auto') {
        this.loaded()
        return
      }
      this.el.addEventListener('loaded', this.loaded, false)
    },

    positionEvent(e) {
      this.$emit('position', e)
    },

    positionEventStart() {
      this.$emit('positionStart')
    },

    positionEventStop() {
      this.$emit('positionStop')
    },

    setPosition(params) {
      if (this.video) this.video.setPosition(params)
    },

    reset() {
      if (this.video) this.video.reset()
    },

    play() {
      if (this.video) this.video.play()
    },

    pause() {
      if (this.video) this.video.pause()
    },

    loaded() {
      this.loading = false
      this.$emit('loaded', this.el)
      if (!this.el) this.el.removeEventListener('loaded', this.loaded, false)
    }
  }
}
</script>

<style lang="sass" scoped>
.video360
  ::v-deep
    .cover
      cursor: pointer
      width: 100%
      display: block
.video-360
  &__wrapper
    position: relative
  &__message
    pointer-events: none
    white-space: normal
    position: absolute
    bottom: 20px
    width: 80%
    text-align: center
    margin: 0 auto
    right: 0
    left: 0
    +touch
      bottom: 10px
      width: 90%
</style>
