<template lang="pug">
  .ring-size-converter
    p.ring-size-title.is-italic {{ $t('detailsPage.sizingGuide.converterTitle') }}
    p.ring-size-message {{ $t('detailsPage.sizingGuide.converterMessage') }}
    .ring-size-cart
      .ring-size-usa-sizes.is-flex
        .ring-size-usa-flag
          v-image(src='details/flags/flag1@2x.jpg', alt='USA')
        .ring-size-row.is-flex
          .ring-size-usaSizes
            span.ring-size-label {{ $t('detailsPage.sizingGuide.usaSize') }}
            multiselect(
              v-if="multiselectMounted",
              v-model="usaSizesValue"
              :options="usaSizes",
              track-by="value",
              label="label",
              select-label="",
              :show-labels="false",
              selected-label="",
              :allow-empty="false",
              :searchable="false",
              :option-height="35",
              openDirection="top"
            )
          .ring-size-diamInch
            span.ring-size-label {{ $t('detailsPage.sizingGuide.diamInch') }}
            multiselect(
              v-if="multiselectMounted",
              v-model="diamInchValue"
              :options="diamInch",
              track-by="value",
              label="label",
              select-label="",
              :show-labels="false",
              selected-label="",
              :allow-empty="false",
              :searchable="false",
              :option-height="35",
              openDirection="top"
            )
        .ring-size-row.is-flex
          .ring-size-diamMM
            span.ring-size-label {{ $t('detailsPage.sizingGuide.diamMm') }}
            multiselect(
              v-if="multiselectMounted",
              v-model="diamMMValue"
              :options="diamMM",
              track-by="value",
              label="label",
              select-label="",
              :show-labels="false",
              selected-label="",
              :allow-empty="false",
              :searchable="false",
              :option-height="35",
              openDirection="top"
            )
          .ring-size-circumMM
            span.ring-size-label {{ $t('detailsPage.sizingGuide.circumMm') }}
            multiselect(
              v-if="multiselectMounted",
              v-model="circumMMValue"
              :options="circumMM",
              track-by="value",
              label="label",
              select-label="",
              :show-labels="false",
              selected-label="",
              :allow-empty="false",
              :searchable="false",
              :option-height="35",
              openDirection="top"
            )
      .ring-size-other-sizes.is-flex
        .ring-size-row.is-flex
          .ring-size-british.country.is-flex
            .ring-size-county-flag.is-hidden-mobile
              v-image(src='details/flags/flag2@2x.jpg', alt='British')
            .ring-size-county-sizes
              .ring-size-county-flag.is-hidden-tablet
                v-image(src='details/flags/flag2@2x.jpg', alt='British')
              span.ring-size-label {{ $t('detailsPage.sizingGuide.british') }}
              multiselect(
                v-if="multiselectMounted",
                v-model="britishValue"
                :options="british",
                track-by="value",
                label="label",
                select-label="",
                :show-labels="false",
                selected-label="",
                :allow-empty="false",
                :searchable="false",
                :option-height="35",
                openDirection="top"
              )
          .ring-size-french.country.is-flex
            .ring-size-county-flag.is-hidden-mobile
              v-image(src='details/flags/flag3@2x.jpg', alt='French')
            .ring-size-county-sizes
              .ring-size-county-flag.is-hidden-tablet
                v-image(src='details/flags/flag3@2x.jpg', alt='French')
              span.ring-size-label {{ $t('detailsPage.sizingGuide.french') }}
              multiselect(
                v-if="multiselectMounted",
                v-model="frenchValue"
                :options="french",
                track-by="value",
                label="label",
                select-label="",
                :show-labels="false",
                selected-label="",
                :allow-empty="false",
                :searchable="false",
                :option-height="35",
                openDirection="top"
              )
        .ring-size-row.is-flex
          .ring-size-swiss.country.is-flex
            .ring-size-county-flag.is-hidden-mobile
              v-image(src='details/flags/flag6@2x.jpg', alt='Swiss')
            .ring-size-county-sizes
              .ring-size-county-flag.is-hidden-tablet
                v-image(src='details/flags/flag6@2x.jpg', alt='Swiss')
              span.ring-size-label {{ $t('detailsPage.sizingGuide.swiss') }}
              multiselect(
                v-if="multiselectMounted",
                v-model="swissValue"
                :options="swiss",
                track-by="value",
                label="label",
                select-label="",
                :show-labels="false",
                selected-label="",
                :allow-empty="false",
                :searchable="false",
                :option-height="35",
                openDirection="top"
              )
          .ring-size-japanese.country.is-flex
            .ring-size-county-flag.is-hidden-mobile
              v-image(src='details/flags/flag5@2x.jpg', alt='Japanese')
            .ring-size-county-sizes
              .ring-size-county-flag.is-hidden-tablet
                v-image(src='details/flags/flag5@2x.jpg', alt='Japanese')
              span.ring-size-label {{ $t('detailsPage.sizingGuide.japanese') }}
              multiselect(
                v-if="multiselectMounted",
                v-model="japaneseValue"
                :options="japanese",
                track-by="value",
                label="label",
                select-label="",
                :show-labels="false",
                selected-label="",
                :allow-empty="false",
                :searchable="false",
                :option-height="35",
                openDirection="top"
              )
        .ring-size-row.is-flex
          .ring-size-german.country.is-flex
            .ring-size-county-flag.is-hidden-mobile
              v-image(src='details/flags/flag4@2x.jpg', alt='German')
            .ring-size-county-sizes
              .ring-size-county-flag.is-hidden-tablet
                v-image(src='details/flags/flag4@2x.jpg', alt='German')
              span.ring-size-label {{ $t('detailsPage.sizingGuide.german') }}
              multiselect(
                v-if="multiselectMounted",
                v-model="germanValue"
                :options="german",
                track-by="value",
                label="label",
                select-label="",
                :show-labels="false",
                selected-label="",
                :allow-empty="false",
                :searchable="false",
                :option-height="35",
                openDirection="top"
              )
</template>

<script>
import {
  usaSizes,
  diamInch,
  diamMM,
  circumMM,
  british,
  french,
  german,
  japanese,
  swiss
} from './data.js'

function normalize(items) {
  return items.map((item, index) => {
    return {
      value: index,
      label: item
    }
  })
}

export default {
  name: 'SizingGuideConverterComponent',

  data: () => ({
    multiselectMounted: false,
    value: 0,
    usaSizes: normalize(usaSizes),
    diamInch: normalize(diamInch),
    diamMM: normalize(diamMM),
    circumMM: normalize(circumMM),
    british: normalize(british),
    french: normalize(french),
    german: normalize(german),
    japanese: normalize(japanese),
    swiss: normalize(swiss)
  }),

  computed: {
    usaSizesValue: {
      get() {
        return this.usaSizes[this.value]
      },

      set(value) {
        this.value = value.value
      }
    },

    diamInchValue: {
      get() {
        return this.diamInch[this.value]
      },

      set(value) {
        this.value = value.value
      }
    },

    diamMMValue: {
      get() {
        return this.diamMM[this.value]
      },

      set(value) {
        this.value = value.value
      }
    },

    circumMMValue: {
      get() {
        return this.circumMM[this.value]
      },

      set(value) {
        this.value = value.value
      }
    },

    britishValue: {
      get() {
        return this.british[this.value]
      },

      set(value) {
        this.value = value.value
      }
    },

    frenchValue: {
      get() {
        return this.french[this.value]
      },

      set(value) {
        this.value = value.value
      }
    },

    germanValue: {
      get() {
        return this.german[this.value]
      },

      set(value) {
        this.value = value.value
      }
    },

    japaneseValue: {
      get() {
        return this.japanese[this.value]
      },

      set(value) {
        this.value = value.value
      }
    },

    swissValue: {
      get() {
        return this.swiss[this.value]
      },

      set(value) {
        this.value = value.value
      }
    }
  },

  mounted() {
    this.$multiselect.insert(() => {
      this.multiselectMounted = true
    })
  }
}
</script>

<style lang="sass" scoped>
.ring-size
  &-title
    text-align: center
    font-family: $lora
    font-size: 30px
  &-usa-sizes
    padding: 15px 0
    justify-content: center
    align-items: center
    +mobile
      flex-direction: column
      .ring-size-row
        width: 100%
        > *
          width: 50%
    +tablet
      > * + *
        margin-left: 15px
    .ring-size-row
      > * + *
        margin-left: 15px
  &-other-sizes
    justify-content: center
    align-items: center
    +mobile
      flex-direction: column
      .ring-size-row
        width: 100%
    +tablet
      .ring-size-row + .ring-size-row
        margin-left: 15px
    .ring-size-row
      .country + .country
        margin-left: 15px
    .country
      align-items: center
      +mobile
        width: 50%
        .ring-size-county-sizes
          width: 100%
      .ring-size-county-flag
        padding: 10px 10px 0 0
        ::v-deep
          img
            border: 1px solid $border-color
</style>
