<template lang="pug">
  modal.modal-window(v-show="mounted", ref="modal", transition="modal", :width="width", :max-width="900", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-header
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body
      .ring-size-title.is-italic {{ $t('detailsPage.sizingGuide.ringSizeTitle') }}
      .ring-size-body {{ $t('detailsPage.sizingGuide.ringSizeMessage') }}
      .ring-size-download
        span {{ $t('detailsPage.sizingGuide.ringSizeDownload') }}
        v-link(to="/files/ring_size_chart.pdf", target="_blank", type="native") {{ $t('detailsPage.sizingGuide.ringSizingChart') }}
        small {{ $t('detailsPage.sizingGuide.pdf') }}
      sizing-guide-converter-component
</template>

<script>
import SizingGuideConverterComponent from './SizingGuideConverter'
import modalMixin from '~~/mixins/modalMixin'

export default {
  name: 'SizingGuideComponent',

  components: { SizingGuideConverterComponent },

  mixins: [modalMixin],

  data: () => ({
    modalEvent: 'sizing-guide',
    modalName: 'sizing-guide',
    modalView: '',
    width: '50%'
  })
}
</script>

<style lang="sass" scoped>
.v--modal-overlay
  overflow: auto
  z-index: 3001
.modal-window
  ::v-deep
    .v--modal-box
      +touch
        width: 80% !important
        margin: auto
        left: unset !important
      +mobile
        width: 100% !important
.modal-header
  position: relative
  height: 30px
  .close-button
    cursor: pointer
    position: absolute
    top: 10px
    right: 10px
    align-items: center
    text-transform: uppercase
    svg
      margin-left: 5px
      height: 15px
      width: 15px
.modal-body
  padding: 20px
  ::v-deep
    .details-main
      &-left-side,
      &-right-side
        width: 50%
      &-right-side
        .details-main-info
          padding-right: 30px
  .ring-size
    &-title
      text-align: center
      font-family: $lora
      font-size: 30px
    &-download
      margin-top: 10px
      font-weight: 700
      a,
      small
        color: $gold-color
        margin-left: 5px
</style>
