<template lang="pug">
main.our-staff-page.page
  page-header(:showBreadcrumbs="true", :breadcrumbs="localBreadcrumbs")
  section.our-staff-page-content.container.is-flex
    .our-staff-content
      .our-staff-title.is-title.is-italic {{ $t('ourStaff.pageSubtitle') }}
      p {{ $t('ourStaff.pageMessage') }}
      team(@read-more="onReadMore", v-for="(team, index) in teams", :key="index", :team="team")
    aside.our-staff-side
      .contact-us-block-title.padding-15.is-italic {{ $t('ourStaff.contactUsTitle') }}
      .contact-us-block-body
        .block-wrapper.padding-15
          .block-title.weight-700.margin-bottom-15 {{ $t('contacts.headOffice.title') }}
          head-office-block
        .block-wrapper.padding-15
          .block-title.weight-700.margin-bottom-15 {{ $t('contacts.mining.title') }}
          mining-production-block
        .block-wrapper.padding-15
          .block-title.weight-700.margin-bottom-15 {{ $t('contacts.customerService.title') }}:
          hours-available-component(:options="options", :showTitle="false")
        .block-wrapper.padding-15
          phone-email-block
  member-modal
  back-to-top-component
</template>

<script>
import {
  hydrateNever,
  hydrateWhenIdle,
  hydrateWhenVisible
} from 'vue-lazy-hydration'
import { mapActions, mapGetters, mapState } from 'vuex'
import _basePage from '~~/components/Page/_basePage'

export default {
  name: 'OurStaffPage',

  components: {
    PhoneEmailBlock: hydrateWhenVisible(
      () => import('~~/components/Contacts/PhoneEmailBlock'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    HoursAvailableComponent: hydrateNever(() =>
      import(
        '~~/components/Layout/TopHeader/TopHeaderContactsLine/hoursAvailable'
      )
    ),
    MiningProductionBlock: hydrateWhenVisible(
      () => import('~~/components/Contacts/MiningProductionBlock'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    HeadOfficeBlock: hydrateWhenIdle(() =>
      import('~~/components/Contacts/HeadOfficeBlock')
    ),
    MemberModal: hydrateWhenIdle(() =>
      import('~~/components/OurStaff/MemberModal')
    ),
    PageHeader: hydrateWhenIdle(() => import('~~/components/Common/PageHeader')),
    Team: hydrateWhenIdle(() => import('~~/components/OurStaff/Team'))
  },

  extends: _basePage,

  computed: {
    ...mapState({
      workingHours: (state) => state.app.workingHours
    }),
    ...mapGetters({
      teams: 'ourStaff/teams'
    }),

    options() {
      return [this.workingHours.phone[0]]
    },

    localBreadcrumbs() {
      return [
        {
          id: 'd8ac6bff-ce6d-4232-a68a-ab3131728f62',
          name: this.$t('breadcrumbs.home'),
          path: '/'
        },
        {
          id: 'a056f40a-6739-47b5-a620-b8f20d0d170d',
          name: this.$t('breadcrumbs.staff')
        }
      ]
    }
  },

  async fetch(context) {
    const { store } = context
    store.dispatch('getMeta', context)

    await store.dispatch('ourStaff/getTeams')
  },

  methods: {
    ...mapActions({
      getMemberDetails: 'ourStaff/getMemberDetails',
      flushMember: 'ourStaff/flushMember'
    }),

    onDetailsClose() {
      this.flushMember()
    },

    async onReadMore(params) {
      await this.getMemberDetails(params)
      this.$root.$emit('member-details')
    }
  }
}
</script>

<style lang="sass" scoped>
.our-staff
  &-page
    @include margin-bottom()
    &-content
      padding-top: 15px
      +touch
        flex-direction: column
  &-content
    flex: 2
    p
      padding: 15px 0
  &-title
    +mobile
      font-size: 26px
  &-side
    flex: 1
    .contact-us-block-title
      border: 1px solid $border-color
      font-size: 26px
      font-family: $lora
    .contact-us-block-body
      border: 1px solid $border-color
      border-top: unset
    .block-wrapper
      &:not(:first-child)
        border-top: 1px solid $border-color
      .block-title
        font-size: 20px
</style>
