<script>
import { mapActions } from 'vuex'
import _base from './_base'
import Slider from './Slider'

const dimensions = ['lengthRange', 'widthRange']

export default {
  name: 'BaseSliderAreaComponent',

  components: {
    Slider
  },

  extends: _base,

  computed: {
    rangeOptions() {
      return {}
    },

    selectedFilters() {
      return (
        this.$store.state.filters.selectedFilters[this.type][
          this.filterParams.filterName
        ] || []
      )
    },

    filterSource() {
      if (dimensions.includes(this.filterParams.filterName))
        return this.filters.dimensions[this.filterParams.filterName]
          ? this.filters.dimensions[this.filterParams.filterName][0]
          : { min: 0, max: 0 }
      return this.filters[this.filterParams.filterName]
        ? this.filters[this.filterParams.filterName][0]
        : { min: 0, max: 0 }
    }
  },

  methods: {
    ...mapActions({
      setAreasFilters: 'filters/setAreasFilters'
    })
  }
}
</script>

<style lang="sass" scoped>
.filters-area
  flex-direction: column
  max-width: 700px
  margin: 0 auto
  padding: 10px 0
  &-label
    font-weight: 700
    text-transform: uppercase
    font-size: 14px
</style>
