<script>
import { mapGetters } from 'vuex'
import camelCase from 'lodash/camelCase'
import cloneDeep from 'lodash/cloneDeep'
import get from 'lodash/get'
import {
  filtersNamesMap,
  sourceRangeFiltersNamesMap
} from '~~/utils/definitions/filters'

export default {
  name: 'BaseComponent',

  props: {
    filterParams: {
      type: Object,
      required: true
    }
  },

  computed: {
    ...mapGetters({
      type: 'typeList'
    }),

    filters() {
      return this.$store.state.filters.sourceFilters[this.type]
    },

    filterSource() {
      return this.filters[this.filterParams.filterName]
    }
  },

  methods: {
    getFilterBorders(filterName) {
      const borders = get(
        this.filters,
        sourceRangeFiltersNamesMap[filterName],
        [{}]
      )[0]

      return [borders.min, borders.max]
    },

    pushFilterToUrl(filterName, filterValue) {
      if (/Range/.test(filterName)) {
        this.pushRangeFilter(filterName, filterValue)
        return
      }
      this.pushSimpleFilter(filterName, filterValue)
    },

    pushRangeFilter(filterName, filterValue) {
      const name = filtersNamesMap[filterName]
      const query = cloneDeep(this.$route.query)
      const [min, max] = this.getFilterBorders(filterName)

      if (min < filterValue[0]) query[`${name}-min`] = filterValue[0]
      if (max > filterValue[1]) query[`${name}-max`] = filterValue[1]
      if (query[`${name}-min`] && min >= filterValue[0])
        delete query[`${name}-min`]
      if (query[`${name}-max`] && max <= filterValue[1])
        delete query[`${name}-max`]

      this.$router.push({ query })
    },

    normalizeQueryValues(values) {
      if (Array.isArray(values))
        return values.map((value) => this.tryConvertStringToNumber(value))
      return this.tryConvertStringToNumber(values)
    },

    tryConvertStringToNumber(string) {
      if (!isNaN(Number(string))) return Number(string)
      return string
    },

    pushSimpleFilter(filterName, filterValue) {
      const query = cloneDeep(this.$route.query)
      const urlFilterName = filtersNamesMap[filterName]
      const normFilterValue = this.normalizeQueryValues(query[urlFilterName])

      if (normFilterValue) {
        // Can be array or string (string when only one filter selected after reload page)
        if (Array.isArray(normFilterValue)) {
          const index = normFilterValue.findIndex((val) => val === filterValue)
          if (index > -1) {
            query[urlFilterName].splice(index, 1) // remove if exists
          } else {
            query[urlFilterName].push(filterValue) // add to existed ones
          }
          // if string
        } else if (normFilterValue === filterValue) {
          delete query[urlFilterName] // remove if exists
        } else {
          query[urlFilterName] = [query[urlFilterName], filterValue] // create array and add new filter
        }
      } else {
        query[urlFilterName] = []
        query[urlFilterName].push(filterValue)
      }
      if (query[urlFilterName] && !query[urlFilterName].length)
        delete query[urlFilterName]
      delete query.page
      this.$router.push({ query })
    },

    getId(text) {
      return `filter-${camelCase(text)}`
    },

    camelCase
  }
}
</script>

<style lang="sass" scoped></style>
