<template lang="pug">
  .filters-area.is-flex
    .filters-area-item(v-for="filter in filterSource", :id="getId(filter)", :key="filter", :class="{active: selectedFilters.includes(filter)}")
      input(type="checkbox", :id="filter.toLowerCase()", @click="pushFilterToUrl(filterParams.filterName, filter)", :value="selectedFilters")
      label.is-flex(:for="filter.toLowerCase()")
        icon(width="30", height="30", :iconName="camelCase(filter)", iconColor="#2e2e2e")
        span {{ $t(`listingPage.filters.stoneShapesFilter.${camelCase(filter)}`) }}
</template>

<script>
import { mapActions } from 'vuex'
import _base from './_base'

export default {
  name: 'BaseAreaComponent',

  extends: _base,

  computed: {
    selectedFilters() {
      return (
        this.$store.state.filters.selectedFilters[this.type][
          this.filterParams.filterName
        ] || []
      )
    }
  },

  methods: {
    ...mapActions({
      setAreasFilters: 'filters/setAreasFilters'
    })
  }
}
</script>

<style lang="sass" scoped>
.filters-area
  padding: 10px 0
  justify-content: center
  flex-wrap: wrap
  margin-top: -15px
  .filters-area-item + .filters-area-item
    margin-left: 15px
  &-item
    cursor: pointer
    @include box-shadow(0 0 0 1px, $border-color)
    margin-top: 15px
    &.active
      @include box-shadow(0 0 0 1px, $dark-primary-color)
      color: $dark-primary-color
      svg
        ::v-deep
          path
            fill: $dark-primary-color !important
    > *
      cursor: pointer
    input
      display: none
    label
      align-items: center
      padding: 10px
      height: 100%
      svg:not(.no-icon)
        margin-right: 10px
</style>
