<template lang="pug">
.filters-area-shapes.is-flex
  .filters-area-center(v-if="centerStoneShapes.length")
    .filters-area-center-title {{ $t('listingPage.filters.selectCenterStoneShapes') }}
    main-filter-area-simple-shapes(:filter-params="filterParams.children[0]")
  .filters-area-side(v-if="sideStoneShapes.length")
    .filters-area-side-title {{ $t('listingPage.filters.selectSideStoneShapes') }}
    main-filter-area-simple-shapes(:filter-params="filterParams.children[1]")
</template>

<script>
import { mapGetters } from 'vuex'
import MainFilterAreaSimpleShapes from './MainFilterAreaSimpleShapes'

export default {
  name: 'MainFilterAreaCenterSideShapesComponent',
  components: {
    MainFilterAreaSimpleShapes
  },

  props: {
    filterParams: {
      type: Object,
      required: true
    }
  },

  computed: {
    ...mapGetters({
      type: 'typeList'
    }),

    filters() {
      return this.$store.state.filters.sourceFilters[this.type]
    },

    centerStoneShapes() {
      return this.filters.stonesShapes.centerStoneShapes || []
    },

    sideStoneShapes() {
      return this.filters.stonesShapes.sideStoneShapes || []
    }
  }
}
</script>

<style lang="sass" scoped>
.filters-area
  &-shapes
    +mobile
      padding: 15px
      flex-direction: column
  &-center,
  &-side
    width: 50%
    +mobile
      width: 100%
  &-center
    padding-right: 20px
    +mobile
      padding-right: unset
    &-title
      text-align: center
      font-weight: 700
      margin: 20px 0 15px
  &-side
    padding-left: 20px
    +mobile
      padding-left: unset
    &-title
      text-align: center
      font-weight: 700
      margin: 15px 0
</style>
