<template lang="pug">
  .filters-area.is-flex
    .filters-area-item(v-for="filter in filterSource", :id="getId(filter.name || filter.key)", :key="filter.name || filter.key", :class="{active: selectedFilters.includes(filter.name || filter.key)}")
      input(type="checkbox", :id="(filter.name || filter.key) + _uid", @click="pushFilterToUrl(filterParams.filterName, filter.name || filter.key)", :value="selectedFilters")
      label.is-flex(:for="(filter.name || filter.key) + _uid")
        icon(v-if="filterParams.icons && hasIcon(filter.name || filter.value)", width="30", height="30", :iconColor="getIconColor(filter.name || filter.value)", :iconName="getIconName(filter.name || filter.value)")
        span {{ $t(`listingPage.filters.${filterParams.filterName}Filter.${camelCase(filter.name || filter.value)}`) }}
        span(v-if="filter.count") &nbsp;({{ filter.count }})
</template>

<script>
import MainFilterAreaSimple from './MainFilterAreaSimple'
export default {
  name: 'MainFilterAreaSimpleComponent',

  extends: MainFilterAreaSimple,

  computed: {
    filterSource() {
      if (!this.filters.stonesShapes[this.filterParams.filterName]) return []
      return this.filters.stonesShapes[this.filterParams.filterName].map(
        (filter) => {
          filter.id = `side-${this.camelCase(filter.value)}`
          return filter
        }
      )
    }
  }
}
</script>
