<template lang="pug">
.filters-area
  main-filter-area-range(:filter-params="filterParams.children[0]")
  main-filter-area-range(:filter-params="filterParams.children[1]")
</template>

<script>
import MainFilterAreaRange from './MainFilterAreaRange'

export default {
  name: 'MainFilterAreaPriceComponent',

  components: {
    MainFilterAreaRange
  },

  props: {
    filterParams: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="sass" scoped>
.filters-area
  width: 100%
  padding: 10px 0
  margin: 0 auto
  justify-content: center
  +mobile
    flex-direction: column
  > *
    margin: unset
    width: 100%
    +mobile
      width: unset
    +mobile
      margin-left: unset
</style>
