<template lang="pug">
  .filters-area.is-flex
    .filters-area-item(v-for="filter in filterSource", :id="getId(filter.name || filter.key)", :key="filter.name || filter.key", :class="{active: selectedFilters.includes(filter.name || filter.key)}")
      input(type="checkbox", :id="filter.name || filter.key", @click="pushFilterToUrl(filterParams.filterName, filter.name || filter.key)", :value="selectedFilters")
      label.is-flex(:for="filter.name || filter.key")
        icon(v-if="filterParams.icons && hasIcon(filter)", width="30", height="30", :iconColor="getIconColor(filter.name || filter.value)", :iconName="getIconName(filter.name || filter.value)", :class="{'native-color': nativeColor}")
        span {{ $t(`listingPage.filters.${filterParams.filterName}Filter.${camelCase(filter.name || filter.value)}`) }}
        span(v-if="filter.count") &nbsp;({{ filter.count }})
</template>

<script>
import camelCase from 'lodash/camelCase'
import _baseArea from './_baseArea'
import { itemTypeByListingType } from '~~/utils/definitions/defaults'
import { getIconName, getIconColor } from '~~/utils/utils'
export default {
  name: 'MainFilterAreaSimpleComponent',

  extends: _baseArea,

  computed: {
    nativeColor() {
      return ['metalTypes'].includes(this.filterParams.filterName)
    }
  },

  methods: {
    hasIcon(filter) {
      const val = filter.name || filter.value
      if (
        this.filterParams.filterName === 'styles' &&
        ['braceletsList'].includes(this.type)
      )
        return false
      return ![
        'Bezel',
        'Custom Designs',
        'Fancy',
        'Shield',
        'Hexagonal',
        'Various'
      ].includes(val) // these options have not icons
    },

    getIconName(val) {
      if (this.filterParams.filterName === 'metalTypes') return getIconName(val)
      if (['styles', 'designStyles'].includes(this.filterParams.filterName))
        return `${this.camelCase(val)}${itemTypeByListingType[this.type]}`
      return camelCase(val)
    },

    getIconColor(val) {
      if (this.filterParams.filterName === 'metalTypes')
        return getIconColor(val)
      return '#2e2e2e'
    }
  }
}
</script>

<style lang="sass" scoped>
.filters-area
  padding: 10px 0
  justify-content: left
  flex-wrap: wrap
  margin-top: -5px
  margin-left: -15px
  .filters-area-item
    margin-left: 15px
  &-item
    cursor: pointer
    @include box-shadow(0 0 0 1px, $border-color)
    margin-top: 15px
    &.active
      @include box-shadow(0 0 0 1px, $dark-primary-color)
      color: $dark-primary-color
      svg:not(.native-color)
        ::v-deep
          path
            fill: $dark-primary-color !important
    > *
      cursor: pointer
    input
      display: none
    label
      align-items: center
      padding: 10px
      height: 100%
      svg
        margin-right: 10px
</style>
