<template lang="pug">
.filters-area.is-flex
  //.filters-area-label {{ $t(`listingPage.filters.${filterParams.filterName}`) }}
  currency-slider(:formatter="roundToInt", :rangeOptions="rangeOptions", :step="priceStep", @change="onFilterChange", :min="minValue", :max="maxValue", :value="selectedFilters", :currency="true")
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import _baseSliderArea from './_baseSliderArea'
import { getOriginalPrice, getLocalPrice } from '~~/utils/utils'

export default {
  name: 'MainFilterAreaPriceComponent',

  components: {
    CurrencySlider: () => import('./Slider/CurrencySlider')
  },

  extends: _baseSliderArea,

  computed: {
    ...mapState({
      localCurrency: (state) => state.app.localCurrency
    }),
    ...mapGetters({
      showLocalPrices: 'app/showLocal'
    }),

    priceStep() {
      return this.convertToLocalPrice(this.filterParams.step)
    },

    usdRate() {
      return this.localCurrency.usdRate
    },

    conversionRate() {
      return this.localCurrency.localRate
    },

    minValue() {
      return this.convertToLocalPrice(this.filterSource.min)
    },

    maxValue() {
      return this.convertToLocalPrice(this.filterSource.max)
    },

    selectedFilters() {
      return (
        this.convertToLocalPrice(
          this.$store.state.filters.selectedFilters[this.type][
            this.filterParams.filterName
          ]
        ) || []
      )
    },

    rangeOptions() {
      const range = {}
      if (this.minValue < 50000 && this.maxValue > 50000)
        range['70%'] = this.convertToLocalPrice([50000, 5000])
      if (this.minValue < 10000 && this.maxValue > 10000)
        range['40%'] = this.convertToLocalPrice([10000, 1000])
      if (this.minValue < 2000 && this.maxValue > 2000)
        range['20%'] = this.convertToLocalPrice([2000, 500])
      return range
      // return {
      //   '20%': this.convertToLocalPrice([2000, 500]),
      //   '40%': this.convertToLocalPrice([10000, 1000]),
      //   '70%': this.convertToLocalPrice([50000, 5000])
      // }
    }
  },

  methods: {
    roundToInt(val) {
      return Math.round(val)
    },

    onFilterChange(value) {
      this.pushFilterToUrl(
        this.filterParams.filterName,
        this.convertFromLocalPrice(value)
      )
    },

    convertToLocalPrice(prices) {
      if (!this.showLocalPrices) return prices
      if (Array.isArray(prices)) {
        return prices.map((price) => {
          return getLocalPrice(price, this.usdRate, this.conversionRate)
        })
      }
      return getLocalPrice(prices, this.usdRate, this.conversionRate)
    },

    convertFromLocalPrice(prices) {
      if (!this.showLocalPrices) return prices
      if (Array.isArray(prices)) {
        return prices.map((price) => {
          return Math.round(
            getOriginalPrice(price, this.usdRate, this.conversionRate)
          )
        })
      }
      return Math.round(
        getOriginalPrice(prices, this.usdRate, this.conversionRate)
      )
    }
  }
}
</script>
