<template lang="pug">
.filters-area.is-flex
  //.filters-area-label {{ filterParams.label || $t(`listingPage.filters.${filterParams.filterName}`) }}
  .filters-area-label(v-if="filterParams.label") {{ filterParams.label }}
  slider.slider(:step="filterParams.step", :formatter="twoDecimalFormatter", @change="pushFilterToUrl(filterParams.filterName, $event)", :min="filterSource.min", :max="filterSource.max", :value="selectedFilters")
</template>

<script>
import _baseSliderArea from './_baseSliderArea'
import { twoDecimalFormatter } from '~~/utils/formatters'

export default {
  name: 'MainFilterAreaCaratComponent',

  extends: _baseSliderArea,

  methods: {
    twoDecimalFormatter
  }
}
</script>

<style lang="sass" scoped>
.filters-area
  flex-direction: column
  max-width: 700px
  margin: 0 auto
  padding: 10px 0
  &-label
    font-weight: 700
    text-transform: uppercase
    font-size: 14px
</style>
