<template lang="pug">
  .item-wrapper
    .item-image
      v-image(:src='getImagePath', :alt='item.id')
    .item-info.is-flex
      span {{ $t(`quickSearch.ruby`) }} {{ $t(`categories.${camelCase(item.category)}`) }}
      span {{ $t(`quickSearch.centerStone`) }}: {{ item.stoneWeight | caratsFormatter }}
      span.item-id {{ $t(`quickSearch.itemId`) }}: {{ item.id }}
      price(size='small', :item='item')
</template>

<script>
import jewelryView from '~~/components/Layout/TopHeader/QuickSearch/QuickSearchViews/jewelryView'

export default {
  extends: jewelryView
}
</script>

<style lang="sass" scoped>
.item-info
  padding-left: 1rem
  flex: 2
  flex-direction: column
  height: 70px
  justify-content: space-between
  .item-price-component
    ::v-deep
      .item-price-text
        align-items: flex-start

  > span
    display: block

.item-link
  color: #4a4a4a

.item-wrapper
  display: flex
  align-items: center

.item-image
  display: flex
  align-items: center
  justify-content: center
  flex: 1
  max-width: 90px

.item-id
  display: block
</style>
