<template lang="pug">
  .item-wrapper
    .item-image
      v-image(:src='getImagePath', :alt='item.id')
    .item-info.is-flex
      span {{ $t(`quickSearch.metalTypes.${camelCase(item.metalName)}`) }} {{ $t(`quickSearch.${item.category}`) }}
      span.item-id {{ $t(`quickSearch.itemId`) }}: {{ item.id + item.metalTypeCode }}
</template>

<script>
import settingView from '~~/components/Layout/TopHeader/QuickSearch/QuickSearchViews/settingView'

export default {
  extends: settingView
}
</script>

<style lang="sass" scoped>
.item-info
  padding-left: 1rem
  flex: 2
  flex-direction: column
  height: 60px
  justify-content: space-between

  > span
    display: block

.item-link
  color: #4a4a4a

.item-wrapper
  display: flex
  align-items: center

.item-image
  display: flex
  align-items: center
  justify-content: center
  flex: 1
  max-width: 90px

.item-id
  display: block
</style>
