<template lang="pug">
  .item-wrapper
    .item-image
      v-image(:src='getImagePath', :alt='item.id')
    .item-info.is-flex
      span {{ (item.weight || item.totalWeight) | caratFormatter }} {{ $t(`quickSearch.stoneShapes.${camelCase(item.shape || item.stones[0].shape)}`) }} {{ $t(`quickSearch.ruby`) }} {{ isPair ? $t(`quickSearch.pair`) : '' }}
      span.item-id {{ $t(`quickSearch.itemId`) }}: {{ item.id }}
      price(size='small', :item='item')
</template>

<script>
import stoneView from '~~/components/Layout/TopHeader/QuickSearch/QuickSearchViews/stoneView'

export default {
  extends: stoneView
}
</script>

<style lang="sass" scoped>
.item-info
  padding-left: 1rem
  flex: 2
  white-space: normal
  flex-direction: column
  height: 60px
  justify-content: space-between
  .item-price-component
    ::v-deep
      .item-price-text
        align-items: flex-start

  > span
    display: block

.item-link
  color: #4a4a4a

.item-wrapper
  display: flex
  align-items: center

.item-image
  display: flex
  align-items: center
  justify-content: center
  flex: 1
  max-width: 90px

.item-id
  display: block
</style>
