<template lang="pug">
  .in-cart
    span {{ $t('detailsPage.mainDetails.inCartStone') }}&nbsp
    v-link(:to="{name: 'cart-index'}") {{ $t('detailsPage.mainDetails.shoppingCart') }}
</template>

<script>
export default {
  name: 'InCartStoneComponent'
}
</script>

<style lang="sass" scoped>
.in-cart
  margin: 0 10px 10px
  padding: 10px 15px
  border-left: 4px solid $dark-primary-color
  a
    color: $dark-primary-color
</style>
