<template lang="pug">
  .item-availability.is-flex
    i.material-icons.available(v-if="itemStatus === 0") check_circle
    i.material-icons.not-available(v-else) add_circle
    .item-availability__tomporary-out(v-if="isOutOfStockTemporary")
      strong.availability(:style="{ color: '#fa933b' }") {{ $t('detailsPage.mainDetails.outOfStock') }}
      span {{ $t('detailsPage.mainDetails.soldDelivery') }}
      tooltip
        span.item-availability__tomporary-out--date(slot="target") {{ outOfStockDate(estimatedShipDate) }}
        .tooltip-body {{ $t('detailsPage.mainDetails.soldDeliveryTooltip', {category: itemCategory, date: outOfStockDate(estimatedShipDate)}) }}
    span.availability(v-else, :style="availabilityStyle") {{ $t(`detailsPage.mainDetails.availability.${itemStatus}`) }}&nbsp;
    span.free-shipping(v-if="itemStatus === 0") /&nbsp{{ $t('detailsPage.mainDetails.freeShipping') }}
</template>

<script>
import availabilityMixin from '~~/mixins/availabilityMixin'
import { outOfStockDate } from '~~/utils/formatters'
import Tooltip from '~~/components/Common/Tooltip'

export default {
  name: 'ItemAvailabilityComponent',

  components: {
    Tooltip
  },

  mixins: [availabilityMixin],

  inject: ['pageType'],

  computed: {
    itemCategory() {
      if (this.isCustomItem)
        return this.customItem.customSetting?.category
          ?.replace('Setting_', '')
          .toLowerCase()
      return this.productDetails.category.toLowerCase()
    },
    availabilityStyle() {
      if (this.itemStatus !== 0) return { color: '#fa933b' }
      return {}
    }
  },

  methods: {
    outOfStockDate
  }
}
</script>

<style lang="sass" scoped>
.item-availability
  align-items: flex-start
  font-size: 14px
  .available,
  .not-available
    margin-top: 4px
  .not-available
    transform: rotate(45deg)
  &__tomporary-out
    .tooltip
      display: inline
  &__tomporary-out--date
    font-size: 14px
    text-decoration: underline
    cursor: help
  i
    font-size: 16px
    color: $gold-color
    margin-right: 5px
    margin-left: -1px
</style>
