<template lang="pug">
  svg(@click="$emit('click')", :class="{ 'is-active': isActive, hide: hideIcon, 'no-icon': !hasIcon }", :width="iconWidth", :height="iconHeight", preserveAspectRatio="xMidYMid meet", :aria-label="iconName", xmlns="http://www.w3.org/2000/svg", :viewBox="viewBox")
    title(:class="iconName", lang="en") {{ showName ? iconName : '' }}
    lazy-hydrate(never)
      component(:fill="iconColorNormalized", :is="icon")
</template>

<script>
import LazyHydrate from 'vue-lazy-hydration'
import viewBoxMap from './Icons/viewBoxMap'
import { getSiteColor } from '~~/utils/utils'

export default {
  name: 'IconComponent',

  components: {
    LazyHydrate
  },

  props: {
    iconName: {
      type: String,
      required: true
    },
    width: {
      type: [Number, String],
      default: 20
    },
    height: {
      type: [Number, String],
      default: 20
    },
    iconColor: {
      type: String,
      default: '#8c7956'
    },
    showName: {
      type: Boolean,
      default: false
    },
    isActive: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    hideIcon: false,
    localWidth: null,
    localHeight: null
  }),

  computed: {
    iconColorNormalized() {
      return getSiteColor(this.iconColor)
    },

    hasIcon() {
      return Object.keys(viewBoxMap).includes(this.iconName)
    },

    iconWidth() {
      return this.localWidth || this.width
    },

    iconHeight() {
      return this.localHeight || this.height
    },

    icon() {
      if (this.hasIcon) return () => import(`./Icons/${this.iconName}Icon`)
      return () => import('./Icons/emptyIcon')
    },

    viewBox() {
      return viewBoxMap[this.iconName] || '0 0 0 0'
    }
  },

  mounted() {
    if (!this.hasIcon) {
      this.localWidth = 1
      this.localHeight = 1
    }
  }
}
</script>

<style lang="sass" scoped>
.hide
  display: none
</style>
