<template lang="pug">
  .picture-wrapper(:style="style")
    picture(ref="picture", @mouseenter="$emit('mouseenter')", @click="$emit('click')")
      source(v-if="webpSrc", :data-srcset="webpSrc", type="image/webp")
      img.lazy(ref="img", v-if="lazy", @load="onLoaded", class="lazy", :data-srcset="imgSrc[0]", :data-src="imgSrc[1]", :alt="alt")
      img(ref="img", v-else, @load="onLoaded", :srcset="imgSrc[0]", :src="imgSrc[1]", :alt="alt")
</template>

<script>
import pickBy from 'lodash/pickBy'

const images = {}

function importAll(r) {
  r.keys().forEach((key) => {
    images[key] = r(key)
  })
}

const contexts = [
  require.context('~~/assets/images', true)
  // require.context('~~/static/images', true)
]

contexts.forEach((context) => importAll(context))

export default {
  props: {
    src: {
      type: String,
      required: true
    },

    width: {
      type: String,
      default: ''
    },

    height: {
      type: String,
      default: ''
    },

    preloader: {
      type: Boolean,
      default: false
    },

    alt: {
      type: String,
      default: 'Image'
    },

    version: {
      type: String,
      default: ''
    },

    lazy: {
      type: Boolean,
      default: true
    }
  },

  data() {
    return {
      loading: true
    }
  },

  computed: {
    srcNormalized() {
      if (/https?:\/\//.test(this.src)) return this.src
      return `~~/assets/images/${this.$site.name}/hi-res/${this.src}`
    },

    imageVersion() {
      if (!this.version) return ''
      return '?v=' + this.version
    },

    imgSrc() {
      if (!this.src) return ''
      if (/https?:\/\//.test(this.srcNormalized))
        return [
          this.srcNormalized + this.imageVersion,
          this.srcNormalized + this.imageVersion
        ]
      const src = this.srcNormalized
        .replace('~~/assets', '')
        .replace('~assets', '')
        .replace('/images', '.')
      return [
        `${images[src].replace('hi-res', 'normal').replace('@2x', '')}${
          this.imageVersion
        } 1x, ${images[src]}${this.imageVersion} 2x`,
        `${images[src].replace('hi-res', 'normal').replace('@2x', '')}${
          this.imageVersion
        }`
      ]
    },
    webpSrc() {
      if (!this.srcNormalized || /https?:\/\//.test(this.srcNormalized))
        return ''
      const ext = this.srcNormalized.match(/\.([\w]+$)/)[1]
      if (['gif', 'svg'].includes(ext)) return ''
      const src = this.srcNormalized
        .replace('~~/assets/images', '.')
        .replace('~assets/images', '.')
        .replace('/images', '.')
        .replace('hi-res', 'hi-res-webp')
        .replace(ext, 'webp')
      return `${images[src].replace('hi-res', 'normal').replace('@2x', '')}${
        this.imageVersion
      } 1x, ${images[src]}${this.imageVersion} 2x`
    },

    style() {
      return pickBy(
        { height: this.height, width: this.width },
        (param) => param
      )
    }
  },

  watch: {
    imgSrc(val) {
      this.loading = true
      this.$nextTick(() => {
        if (!this.$refs.picture) return
        const { childNodes } = this.$refs.picture

        for (let i = 0; i < childNodes.length; i++) {
          const node = childNodes[i]
          if (!node.dataset) continue // vue commented node
          const params = ['srcset', 'src']

          for (let j = 0; j < params.length; j++) {
            const param = node.dataset[params[j]]
            if (!param) continue
            node.setAttribute(params[j], param)
          }
        }
      })
    }
  },

  created() {
    if (process.client) {
      if (!this.preloader) this.loading = false
    }
  },

  mounted() {
    if (window.lazyUpdate) window.lazyUpdate()
  },

  methods: {
    forceLoad() {
      if (!window.LazyLoad) {
        this.$root.$once('lazy-loaded', () => {
          if (this.$refs.img) {
            this.$nextTick(() => {
              window.LazyLoad.load(this.$refs.img)
            })
          }
        })
        return
      }
      if (this.$refs.img) window.LazyLoad.load(this.$refs.img)
    },

    onLoaded() {
      this.$nextTick(() => {
        this.loading = false
        this.$emit('load')
      })
    }
  }
}
</script>

<style lang="sass" scoped>
.picture-wrapper
  position: relative

picture
  display: block

img
  display: block
  margin: auto

img:not([srcset])
  visibility: hidden
</style>
