<template lang="pug">
main.reset-password-page.page
  page-header-component
  .container
    .reset-password-page-title.is-italic.weight-700 {{ $t('account.resetPassword.assistance') }}
    fade-transition(group)
      .reset-password-page-message(v-if="submitStatus !== 'OK'", key="08821538-7fdd-4e10-a37a-1fea9f45321a")
        p {{ $t('account.resetPassword.enterEmail') }}
        ul
          li {{ $t('account.resetPassword.notify1') }}
          li {{ $t('account.resetPassword.notify3', {contactUs: $t('account.resetPassword.contactUs')}) }}
      .reset-password-page-message(v-else, key="240397a2-477f-4aa4-a651-3b9f0a8e8437")
        ul
          li {{ $t('account.resetPassword.notify1') }}
          li {{ $t('account.resetPassword.notify2', {createAccount: $t('account.resetPassword.createAccount')}) }}
    form.reset-password-form(@submit.prevent="onFormSubmit")
      .form-block
        .form-row
          .field(:class="{'field-error': $v.email.$error}")
            label.label {{ $t('account.resetPassword.email') }}
            .controls.is-flex
              .control.input-control.has-icons-left
                input.input(type="text", v-model.trim="$v.email.$model", autocomplete="email", :class="{ 'is-danger': $v.email.$error }")
                span.icon.is-small.is-left
                  i.fa.fa-envelope
              .control.submit-control
                button.button.gold-color(type="submit", :disabled="submitStatus === 'PENDING'") {{ $t('account.resetPassword.submit') }}
            p.help.is-danger(v-if="!$v.email.required && $v.email.$dirty") {{ $t('account.resetPassword.validation.email.required') }}
            p.help.is-danger(v-if="!$v.email.email && $v.email.$dirty") {{ $t('account.resetPassword.validation.email.invalid') }}
</template>

<script>
import { validationMixin } from 'vuelidate'
import required from 'vuelidate/lib/validators/required'
import email from 'vuelidate/lib/validators/email'
import { mapActions } from 'vuex'
import { FadeTransition } from 'vue2-transitions'
import Vue from 'vue'
import _basePage from '~~/components/Page/_basePage'

export default {
  name: 'ResetPasswordPage',

  components: {
    FadeTransition,
    PageHeaderComponent: () => import('~~/components/Common/PageHeader')
  },

  extends: _basePage,

  mixins: [validationMixin],

  validations: {
    email: { required, email }
  },

  data: () => ({
    submitStatus: null,
    email: ''
  }),

  methods: {
    ...mapActions({
      requestResetPassword: 'account/requestResetPassword'
    }),

    async onFormSubmit() {
      this.$v.$touch()
      if (this.$v.$invalid) return
      this.$root.$emit('loading-start')
      this.submitStatus = 'PENDING'
      Vue.$gtag.event('password_reset', {
        event_label: 'Password reset requested'
      })
      const params = {
        email: this.email,
        callbackUrl: 'account/reset-password'
      }
      try {
        await this.requestResetPassword(params)
        this.submitStatus = 'OK'
        this.$sweetalert
          .insert({
            title: this.$t('account.resetPassword.title'),
            text: this.$t('account.resetPassword.swal'),
            type: 'success',
            confirmButtonText: this.$t('account.resetPassword.ok')
          })
          .then((result) => {
            this.$router.push(this.localePath({ name: 'index' }))
          })
      } catch (e) {
        this.submitStatus = 'ERROR'
      } finally {
        this.$root.$emit('loading-stop')
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.reset-password-page
  @include margin-bottom()
  &-title
    margin: 30px 0
    font-size: 24px
    font-family: $lora
  ul
    margin-top: 20px
  .reset-password-form
    margin-top: 30px
    .form-block
      .form-row
        .field
          .controls
            align-items: center
            +mobile
              flex-direction: column
              margin-top: -20px
              .control
                margin-top: 20px
                width: 100%
            .input-control
              flex: auto
            .submit-control
              margin-left: 20px
              +mobile
                margin-left: unset
              .button
                max-height: 40px
                padding: 9px 20px
                +mobile
                  width: 100%
</style>
