<template lang="pug">
.details-origin.lazy(data-lazy-function="loaded")
  .container.is-flex
    .details-origin-video.is-flex
      v-image.video-preview(src="details/origin-video@2x.jpg")
      v-image.video-play(src="details/play@2x.png")
    .details-origin-content.is-flex
      .details-origin-content-pre-title {{ $t('detailsPage.productOrigin.preTitle') }}
      .details-origin-content-title.is-italic {{ origin }}
      .details-origin-content-text {{ originText }}

</template>

<script>
import get from 'lodash/get'
import { mapGetters } from 'vuex'

export default {
  name: 'DetailsOriginComponent',

  computed: {
    ...mapGetters({
      productDetails: 'productDetails/productDetails'
    }),

    originText() {
      return this.$t('detailsPage.productOrigin.text')
    },

    origin() {
      return (
        this.productDetails.origin ||
        get(this.productDetails, 'centerStones[0].origin', '') ||
        get(this.productDetails, 'stones[0].origin', '') // earrings
      )
    }
  }
}
</script>

<style lang="sass" scoped>
@include background-image('details-origin', 'ourStory/bg', 'jpg')
.details-origin
  padding: 50px 0
  +touch
    background-size: 30px
  .container
    +mobile
      flex-direction: column
  &-video,
  &-content
    width: 50%
    +mobile
      width: 100%
    &-pre-title
      font-size: 12px
      text-transform: uppercase
    &-title
      margin-top: 20px
      font-size: 36px
      font-family: $lora
    &-text
      font-size: 16px
      max-width: 450px
  &-video
    padding-right: 35px
    position: relative
    align-items: center
    +tablet-only
      width: 45%
      padding-right: 15px
      overflow: hidden
      .video-preview
        margin-left: -10%
        ::v-deep
          img
            max-width: unset
    +mobile
      padding-right: 0
    .video-play
      cursor: pointer
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
  &-content
    flex-direction: column
    justify-content: center
    padding-left: 35px
    +tablet
      width: 55%
      padding-left: 15px
    +mobile
      margin-top: 35px
      padding-left: 0
      padding-right: 15px
</style>
