<template lang="pug">
  .slider-wrapper.is-flex(:class="{'no-slider': !showSlider}")
    .input-wrapper.left-input.currency(:class="{local: showLocalPrices}")
      span.original-symbol(v-if="symbolPositionFront") {{ priceSymbol }}
      input(tabindex="0", type="number", ref="min").min-value
      span.original-symbol(v-if="!symbolPositionFront") {{ priceSymbol }}
    .slider(ref="slider", v-show="showSlider")
    .not-a-slider(v-show="!showSlider") -
    .input-wrapper.right-input.currency(:class="{local: showLocalPrices}")
      span.local-symbol(v-if="symbolPositionFront") {{ priceSymbol }}
      input(tabindex="1", type="number", ref="max").max-value
      span.local-symbol(v-if="!symbolPositionFront") {{ priceSymbol }}
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import Slider from './Slider'

export default {
  name: 'SliderComponent',

  extends: Slider,

  computed: {
    ...mapState({
      localCurrency: (state) => state.app.localCurrency
    }),
    ...mapGetters({
      showLocalPrices: 'app/showLocal',
      symbolPositionFront: 'app/symbolPositionFront',
      localCurrencySymbol: 'app/localCurrencySymbol'
    }),

    priceSymbol() {
      if (this.showLocalPrices) return this.localCurrencySymbol
      return '$'
    }
  }
}
</script>

<style lang="sass" scoped>
@mixin font-settings()
  font-size: 18px
  font-weight: 700
  font-style: italic
  font-family: $lora
  color: $dark-primary-color

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

input[type=number]
  -moz-appearance: textfield

.slider-wrapper
  align-items: center
  justify-content: space-between

  .input-wrapper
    background-color: #fff
    position: relative
    @include font-settings()
    &.right-input
      margin-left: 25px
      &.currency
        margin-left: 20px

    input
      text-align: center
      outline: none
      max-width: 100px
      min-width: 40px
      padding: 5px 0 5px
      height: 32px
      border: 0
      @include font-settings()
      border-bottom: 2px dashed $dark-primary-color

  .slider
    flex: auto
    margin-left: 10px
  &.no-slider
    * + *
      margin-left: 10px
</style>
