<template lang="pug">
  .slider-wrapper.is-flex(:class="{'no-slider': !showSlider}")
    .input-wrapper.left-input
      input(tabindex="0", type="number", ref="min").min-value
    .slider(ref="slider", v-show="showSlider")
    .not-a-slider(v-show="!showSlider") -
    .input-wrapper.right-input
      input(tabindex="1", type="number", ref="max").max-value
</template>

<script>
export default {
  name: 'SliderComponent',

  props: {
    min: {
      type: [Number, String],
      required: true
    },

    max: {
      type: [Number, String],
      required: true
    },

    value: {
      type: Array,
      default: () => []
    },

    rangeOptions: {
      type: Object,
      default: () => ({})
    },

    step: {
      type: [Number, Boolean],
      default: false
    },

    formatter: {
      type: Function,
      default: (val) => val
    }
  },

  data: () => ({
    sliderEl: null,
    stopInputEvents: false,
    stopEvents: false, // stop all evens
    showSlider: true
  }),

  computed: {
    sliderOptions() {
      const min = this.min
      const max = this.max
      const options = {
        start: [min, max],
        connect: true,
        step: 10,
        range: {
          min: [min],
          ...this.rangeOptions,
          max: [max]
        }
      }
      if (this.step) options.step = this.step
      return options
    }
  },

  watch: {
    value: {
      deep: true,
      handler(val) {
        this.updateValuesAfterEmit(val)
      }
    }
  },

  beforeDestroy() {
    this.removeEventListeners()
  },

  mounted() {
    this.initComponent()
  },

  methods: {
    calcSliderVisibility() {
      if (this.$refs.slider && this.$refs.slider.clientWidth < 50) {
        this.showSlider = false
        return
      }
      this.showSlider = true
    },

    async initComponent() {
      this.sliderEl = this.$refs.slider
      const min = Number(this.min)
      const max = Number(this.max)
      if (isNaN(min) || isNaN(max)) {
        this.showSlider = false
        return
      }
      await this.initSlider()
      this.initFields(min, max)
      this.calcSliderVisibility()
      this.addEventListeners()
      this.resizeFields()
    },

    async initSlider() {
      await this.$nouislider.insert(this.sliderEl, this.sliderOptions)
    },

    setValues(min, max, formatter) {
      if (!this.$refs.min || !this.$refs.max) return
      if (formatter) {
        this.$refs.min.value = formatter(min)
        this.$refs.max.value = formatter(max)
        return
      }
      this.$refs.min.value = min
      this.$refs.max.value = max
    },

    initFields(min, max) {
      if (!this.$refs.min || !this.$refs.max) return
      this.setValues(this.value[0] || min, this.value[1] || max, this.formatter)
      this.sliderEl.noUiSlider.set([this.value[0] || min, this.value[1] || max])
      this.resizeFields()
    },

    resizeFields() {
      const { min, max } = this.$refs
      min.style.width = min.value.length + 'ch'
      max.style.width = max.value.length + 'ch'
    },

    addEventListeners() {
      window.addEventListener('resize', this.calcSliderVisibility, false)

      this.$refs.min.addEventListener(
        'change',
        this.onMinFieldChangeHandler,
        false
      )

      this.$refs.max.addEventListener(
        'change',
        this.onMaxFieldChangeHandler,
        false
      )

      this.$refs.min.addEventListener('input', this.resizeFields, false)
      this.$refs.max.addEventListener('input', this.resizeFields, false)

      this.$refs.min.addEventListener('keydown', this.onKeyDown, false)
      this.$refs.max.addEventListener('keydown', this.onKeyDown, false)

      this.sliderEl.noUiSlider?.on('change', this.onChangeEmitter)
      this.sliderEl.noUiSlider?.on('slide', this.updateInputValues)
    },

    removeEventListeners() {
      window.removeEventListener('resize', this.calcSliderVisibility, false)

      this.$refs.min.removeEventListener(
        'change',
        this.onMinFieldChangeHandler,
        false
      )

      this.$refs.max.removeEventListener(
        'change',
        this.onMaxFieldChangeHandler,
        false
      )

      this.$refs.min.removeEventListener('input', this.resizeFields, false)
      this.$refs.max.removeEventListener('input', this.resizeFields, false)

      this.$refs.min.addEventListener('keydown', this.onKeyDown, false)
      this.$refs.max.addEventListener('keydown', this.onKeyDown, false)

      this.sliderEl.noUiSlider?.on('change', () => {})
      this.sliderEl.noUiSlider?.on('slide', () => {})
    },

    onKeyDown(e) {
      if (e.key === 'Tab') {
        if (e.target.className === 'min-value') {
          this.$refs.max.focus()
          this.$refs.max.select()
        }
        if (e.target.className === 'max-value') {
          this.$refs.min.focus()
          this.$refs.min.select()
        }
      }
      if (!/[0-9,.]|Backspace|Enter|ArrowLeft|ArrowRight|Delete/.test(e.key))
        e.preventDefault()
    },

    onMinFieldChangeHandler(e) {
      if (this.stopInputEvents || this.stopEvents) return
      const min = this.normalizeMinValue(e.target.value)
      const max = this.value[1] || this.max
      this.onChangeEmitter([min, max].sort((a, b) => a - b))
    },

    onMaxFieldChangeHandler(e) {
      if (this.stopInputEvents || this.stopEvents) return
      const min = this.value[0] || this.min
      const max = this.normalizeMaxValue(e.target.value)
      this.onChangeEmitter([min, max].sort((a, b) => a - b))
    },

    normalizeMinValue(value) {
      if (value === '') return this.min
      if (Number(value) < this.min) return this.min
      if (Number(value) > this.max) return this.max
      return Number(value) || this.min
    },

    normalizeMaxValue(value) {
      if (value === '') return this.max
      if (Number(value) < this.min) return this.min
      if (Number(value) > this.max) return this.max
      return Number(value) || this.max
    },

    onChangeEmitter(values) {
      if (this.stopEvents) return
      this.stopEvents = true
      this.$emit('change', [Number(values[0]), Number(values[1])])
      this.$nextTick(() => {
        this.stopEvents = false
      })
    },

    updateInputValues(value) {
      this.stopInputEvents = true
      this.setValues(Number(value[0]), Number(value[1]), this.formatter)
      this.stopInputEvents = false
      this.$emit('slide', [Number(value[0]), Number(value[1])])
      this.resizeFields()
    },

    updateValuesAfterEmit(value) {
      this.stopEvents = true
      const min = value[0] || this.min
      const max = value[1] || this.max
      this.sliderEl.noUiSlider.set([min, max])
      this.setValues(min, max, this.formatter)
      this.resizeFields()
      this.$nextTick(() => {
        this.stopEvents = false
      })
    }
  }
}
</script>

<style lang="sass" scoped>
@mixin font-settings()
  font-size: 18px
  font-weight: 700
  font-style: italic
  font-family: $lora
  color: $dark-primary-color

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

input[type=number]
  -moz-appearance: textfield

.slider-wrapper
  align-items: center
  justify-content: space-between

  .input-wrapper
    background-color: #fff
    position: relative
    @include font-settings()
    &.right-input
      margin-left: 25px
      &.currency
        margin-left: 20px

    input
      text-align: center
      outline: none
      max-width: 100px
      min-width: 40px
      padding: 5px 0 5px
      height: 32px
      border: 0
      @include font-settings()
      border-bottom: 2px dashed $dark-primary-color

  .slider
    flex: auto
    margin-left: 10px
  &.no-slider
    * + *
      margin-left: 10px
</style>
