<template lang="pug">
section.process.lazy(data-lazy-function="loaded")
  .process-content.container.is-flex.is-max-fullhd
    h2.title
      span.is-italic {{ $t('homePage.process.ourProcess1') }}&nbsp
      span.is-uppercase {{ $t('homePage.process.ourProcess2') }}
    .steps.is-flex
      .step(v-for="step in processSteps", :key="step.id")
        icon(:iconName="step.icon", iconColor="#fff", height="70", width="60")
        .step-message {{ step.text }}
    button.button.white-color.enquire-button(@click="$root.$emit('create-process-video')") {{ $t('homePage.process.button') }}
</template>

<script>
export default {
  name: 'ProcessComponent',

  computed: {
    processSteps() {
      return [
        {
          id: '05a0d154-b16e-46ae-ab97-5a3c50fee3fc',
          icon: 'gem',
          text: this.$t('homePage.process.step1')
        },
        {
          id: '814defcb-ac84-4d44-bb10-64a0bc83cc1c',
          icon: 'ringSetting',
          text: this.$t('homePage.process.step2')
        },
        {
          id: '7380fd2b-4f10-46fb-97c2-cd92060d6663',
          icon: 'completedRing',
          text: this.$t('homePage.process.step3')
        },
        {
          id: '73d153ce-a596-42a2-a885-1418086c6fcd',
          icon: 'book',
          text: this.$t('homePage.process.step4')
        },
        {
          id: 'e82b03be-7faf-4e2d-9bf6-9327bae2c658',
          icon: 'ringBox',
          text: this.$t('homePage.process.step5')
        }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
@include background-image('process', 'process/bg', 'jpg')
.process
  margin-top: 70px
  &-content
    height: 100%
    padding: 60px
    flex-direction: column
    align-items: center
    justify-content: space-between
    +touch
      padding: 60px 32px
    .title
      color: #fff
      text-align: center
      font-family: $lora
      font-size: 42px
      font-weight: 400
      margin-bottom: 50px
    .steps
      text-align: center
      +mobile
        flex-direction: column
      .step
        flex: 1
        color: #fff
        position: relative
        padding: 0 20px
        &:first-child
          padding-left: 0
          +mobile
            padding-left: 20px
            margin-bottom: 60px
        &:last-child
          padding-right: 0
          +mobile
            padding-right: 20px
        +touch
          padding: 0 15px
        &-message
          margin-top: 15px
          text-transform: uppercase
          font-size: 16px
        &-notice
          font-size: 10px
      .step + .step
        margin-left: 30px
        +mobile
          margin-left: unset
          margin-bottom: 60px
          &:last-child
            margin-bottom: unset
    .enquire-button
      @include box-shadow(0 0 5px 0, rgba(0,0,0,0.2))
      padding: 10px 65px
      margin-top: 35px
      +mobile
        padding: 10px 25px
</style>
