<template
  lang="pug"
  src="~~/components/HomePage/Packaging/Template.pug"
></template>

<script>
import Packaging from '~~/components/HomePage/Packaging'

const width = 925
const ratio = 0.56349

export default {
  name: 'PackagingComponent',

  extends: Packaging,

  data: () => ({
    modalOptions: {
      autoplay: true,
      controls: true,
      muted: false,
      width,
      height: width * ratio,
      source:
        'https://video.thenaturalsapphirecompany.com/54d85808-eb94-4f08-802e-ef3251ba5fb2/hls/packaging-emerald.m3u8'
    }
  })
}
</script>

<style lang="sass" scoped>
@include background-image('packaging', 'ourStory/bg', 'jpg')
@include background-image('packaging-video', 'packaging/packaging', 'jpg')

.packaging
  margin-top: 100px
  height: 465px
  background-size: 35px
  +touch
    margin-top: 45px
    background-position-x: 65%
    height: 565px
  +mobile
    height: unset
    background-repeat: no-repeat
    background-size: 310%
    background-position-y: bottom
    background-position-x: 78%
  .container
    height: 100%
    align-items: center
    +touch
      padding: 45px 0
    +mobile
      flex-direction: column
      align-items: flex-start
      margin-right: 30px
    +iphone-5se
      margin-right: 20px
  .swiper-container
    width: 50%
    height: 100%
    +mobile
      width: 100%
    //height: 515px
    .swiper-slide
      > *
        height: 465px
        +desktop-only
          height: 560px
        +mobile
          height: 540px
    .swiper-button-next,
    .swiper-button-prev
      outline: none
      z-index: 1
      color: $dark-primary-color
      transform: translateY(-50%)
    .packaging-swiper-pagination
      ::v-deep
        .swiper-pagination-bullet
          background: $primary-color
          opacity: .5
          outline: none
          &-active
            background: $primary-color
            opacity: 1
  &-image
    cursor: pointer
    padding: 40px 70px
    background-color: #fff
    height: 100%
    width: 100%
    justify-content: center
    align-items: center
    +mobile
      min-height: 490px
  &-info
    padding: 40px 70px
    background-color: #fff
    flex-direction: column
    height: 100%
    +touch
      padding: 25px
    ::v-deep
      .tab-name
        text-transform: uppercase
      .tab-pane
        white-space: normal
        padding: 15px 0
  &-info-tabs
    margin-top: 40px
  &-info-sub-title
    text-transform: uppercase
  &-info-title
    margin-top: 15px
    font-family: $lora
    font-size: 36px
    font-style: italic
    +touch
      font-size: 30px
  &-info-text
    font-size: 16px
  &-video
    justify-content: center
    align-items: center
    width: 50%
    height: 100%
    background-size: cover
    background-position-x: center
    +mobile
      min-height: 300px
      width: 100%
      padding-top: 15px
      margin-left: 15px
    +iphone-5se
      margin-left: 10px
    .picture-wrapper
      cursor: pointer
</style>
