<template lang="pug">
  section.hero.top-component
    .hero-content.container
      .hero-content__left
      .hero-content__wrapper
        .create {{ $t('homePage.hero.create') }}
        .ring {{ $t('homePage.hero.ring') }}
        .description {{ $t('homePage.hero.description') }}
        .ready {{ $t('homePage.hero.ready') }}
        .buttons-actions
          v-link.stones(:to="{ name: 'emeralds', query: { 'design-your-own': 1 } }").button.gold-color {{ $t('homePage.hero.chooseStone') }}
          span {{ $t('homePage.hero.or') }}
          button.settings.button.gold-color(@click="$root.$emit('settings-selector-all')") {{ $t('homePage.hero.chooseSetting') }}
        v-link.button.gold-color.empty.learn-more(:to="{name: 'custom-design-emerald-rings-jewelry'}") {{ $t('homePage.hero.learnMore') }}
      .hero-content__right.is-hidden-touch
</template>

<script>
export default {
  name: 'HeroComponent'
}
</script>

<style lang="sass">
.hero-content__left
  background-image: url('#{$assetsHost}/normal-webp/hero/left-ring.webp')
  +mobile
    background-image: url('#{$assetsHost}/normal-webp/hero/mobil-ring.webp')
.no-webp
  .hero-content__left
    background-image: url('#{$assetsHost}/normal/hero/left-ring.jpg')
    +mobile
      background-image: url('#{$assetsHost}/normal/hero/mobil-ring.jpg')
@media(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
  .hero-content__left
    background-image: url('#{$assetsHost}/hi-res-webp/hero/left-ring@2x.webp')
    +mobile
      background-image: url('#{$assetsHost}/hi-res-webp/hero/mobil-ring@2x.webp')

  .no-webp
    .hero-content__left
      background-image: url('#{$assetsHost}/hi-res/hero/left-ring@2x.jpg')
      +mobile
        background-image: url('#{$assetsHost}/hi-res/hero/mobil-ring@2x.jpg')

.hero-content__right
  background-image: url('#{$assetsHost}/normal-webp/hero/right-ring.webp')

.no-webp
  .hero-content__right
    background-image: url('#{$assetsHost}/normal/hero/right-ring.jpg')

@media(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
  .hero-content__right
    background-image: url('#{$assetsHost}/hi-res-webp/hero/right-ring@2x.webp')

  .no-webp
    .hero-content__right
      background-image: url('#{$assetsHost}/hi-res/hero/right-ring@2x.jpg')
</style>

<style lang="sass" scoped>
.hero
  transition: all .3s ease
  position: relative
  height: 525px
  width: 100%
  background-color: $secondary-bg-color
  +mobile
    height: unset
.hero-content
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  width: 100%
  +tablet-only
    grid-template-columns: 1fr 2fr
  +mobile
    grid-template-columns: unset
    grid-template-rows: 200px 1fr
    margin-bottom: 50px
    //flex-direction: column-reverse
  &__wrapper
    align-self: center
    text-align: center
    +mobile
      width: unset
    .create
      font-size: 34px
      font-style: italic
      font-family: $lora
    .ring
      font-size: 50px
      text-transform: uppercase
      font-family: $lora
    .description
      max-width: 400px
      margin: 15px auto 0
    .ready
      font-size: 18px
      font-weight: 700
      font-style: italic
      font-family: $lora
      margin-top: 20px
      margin-bottom: 10px
    .buttons-actions
      align-items: center
      margin-bottom: 1rem
      display: grid
      grid-template-columns: 1fr 40px 1fr
      +touch
        grid-template-columns: 1fr 40px 1fr
        flex-direction: column
      +tablet-only
        .stones
          justify-self: flex-end
        .settings
          justify-self: flex-start
      .button
        margin-bottom: 0
        margin-right: 0
        padding-top: 10px
        padding-bottom: 10px
        white-space: nowrap
        +touch
          max-width: 200px
          width: 100%
          margin-right: unset
      span
        text-align: center
        font-size: 16px
        +touch
          margin: 10px 0
    .learn-more
      color: $gold-color
      font-family: $lora
      padding: 10px 51px
  &__left,
  &__right
    background-repeat: no-repeat
    background-position: center
  &__left
    background-size: 50%
    +touch
      background-size: 70%
  &__right
    background-size: 70%
</style>
