<template lang="pug">
.sorting.is-flex
  .sorting-label {{ $t('listingPage.controls.sortBy') }}
  sort-selector.sorting-select(v-if="multiselectMounted", :items="items")
</template>

<script>
import SortSelector from './SortSelector'
export default {
  name: 'SortComponent',

  components: { SortSelector },

  data: () => ({
    multiselectMounted: false
  }),

  computed: {
    type() {
      return this.$store.getters.typeList
    },

    items() {
      return [
        {
          id: 'bf2f1ff1-d58b-4969-9f22-bea3874ed03b',
          label: this.$t(`listingPage.${this.type}.sort.other.newFirst`),
          sort: 'new-first',
          order: 'asc',
          type: 'newFirst',
          value: 1
        },
        {
          id: '8fa2f5ba-d0e7-4a94-a23b-6f5edbeaf59a',
          default: true,
          label: this.$t(`listingPage.${this.type}.sort.other.featuredFirst`),
          sort: 'featured-first',
          order: 'asc',
          type: 'featuredFirst',
          value: 1
        },
        {
          id: '464ec841-0551-47e3-9aa8-c87087858e2a',
          label: this.$t(`listingPage.${this.type}.sort.price.lowToHigh`),
          sort: 'price',
          order: 'asc',
          type: 'sortByPrice',
          value: 1
        },
        {
          id: 'a461c3ef-aa10-4e63-9f98-d10f4583e924',
          label: this.$t(`listingPage.${this.type}.sort.price.highToLow`),
          sort: 'price',
          order: 'desc',
          type: 'sortByPrice',
          value: 2
        },
        {
          id: '88951f37-aa5e-4d66-bc70-d11763ace440',
          label: this.$t(`listingPage.${this.type}.sort.carat.lowToHigh`),
          sort: 'weight',
          order: 'asc',
          type: 'sortByWeight',
          value: 1
        },
        {
          id: 'b1db094b-7056-415f-9c33-6eeee7b556cd',
          label: this.$t(`listingPage.${this.type}.sort.carat.highToLow`),
          sort: 'weight',
          order: 'desc',
          type: 'sortByWeight',
          value: 2
        }
      ]
    }
  },

  mounted() {
    this.$multiselect.insert(() => {
      this.multiselectMounted = true
    })
  }
}
</script>

<style lang="sass" scoped>
.sorting
  height: 40px // to prevent change height on loading
  align-items: center
  &-label
    text-transform: uppercase
  &-select
    margin-left: 15px
    width: 190px
</style>
