<template lang="pug">
  multiselect(
    @select="onSelectChange"
    v-model="sortBy",
    :options="items",
    track-by="id",
    label="label",
    select-label="",
    deselect-label="",
    selected-label="",
    :allow-empty="false",
    :searchable="false",
    :option-height="35"
    :placeholder="$t(`listingPage.${type}.localSort.placeholder`)"
  )
</template>

<script>
import cloneDeep from 'lodash/cloneDeep'
import { defaultFiltersMap } from '~~/utils/definitions/defaults'
import { urlToStoreSort } from '~~/utils/definitions/filters'

export default {
  name: 'SortSelectorComponent',

  props: {
    items: {
      type: Array,
      default: () => []
    }
  },

  data: () => ({
    sortBy: null,
    default: null
  }),

  computed: {
    type() {
      return this.$store.getters.typeList
    },

    selectedFilters() {
      return this.$store.state.filters.selectedFilters[this.type]
    }
  },

  watch: {
    '$route.query': {
      deep: true,
      handler(newQuery, oldQuery) {
        if (
          newQuery['sort-by'] !== oldQuery['sort-by'] ||
          newQuery.order !== oldQuery.order
        ) {
          this.getSelectedSort()
        }
      }
    }
  },

  mounted() {
    this.updateSorting()
  },

  methods: {
    getSelectedSort() {
      let sort = null
      if (!this.selectedFilters.sortBy) {
        const keys = Object.keys(defaultFiltersMap[this.type])
        for (let i = 0; i < keys.length; i++) {
          if (Array.isArray(defaultFiltersMap[this.type][keys[i]])) continue
          if (defaultFiltersMap[this.type][keys[i]] === 1) {
            sort = keys[i]
            break
          }
        }
        this.sortBy = this.items.find((item) => item.type === sort)
        return
      }

      sort = urlToStoreSort[this.selectedFilters.sortBy[0]]
      const order = this.selectedFilters.order[0] === 'asc' ? 1 : 2

      this.sortBy = this.items.find(
        (item) => item.type === sort && item.value === order
      )
    },

    updateSorting() {
      this.getSelectedSort()
      this.default = this.items.find((item) => item.default)
    },

    pushFilterToUrl(sortBy, order) {
      const query = cloneDeep(this.$route.query)
      query['sort-by'] = sortBy
      query.order = order

      this.$router.push({ query })
    },

    onSelectChange(val) {
      if (val.id === this.default.id) {
        const query = cloneDeep(this.$route.query)
        delete query['sort-by']
        delete query.order
        this.$router.push({ query })
        return
      }
      this.pushFilterToUrl(val.sort, val.order)
    }
  }
}
</script>
