<template lang="pug">
  modal.quick-view-modal(ref="modal", :scrollable="true", :width="width", :max-width="900", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-header
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body
      details-main-component
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import modalMixin from '~~/mixins/modalMixin'
import { productListTypeByCategory } from '~~/utils/definitions/defaults'

export default {
  name: 'QuickViewComponent',

  components: {
    DetailsMainComponent: () => import('~~/components/DetailsPage/DetailsMain')
  },

  mixins: [modalMixin],

  data: () => ({
    modalEvent: 'listing-quick-view',
    modalName: 'quick-view',
    modalView: '',
    width: '100%'
  }),

  computed: {
    ...mapGetters({
      productDetails: 'productDetails/productDetails'
    })
  },

  methods: {
    ...mapActions({
      fetchStonesDetails: 'productDetails/fetchDetails',
      fetchJewelriesDetails: 'productDetails/fetchDetails',
      fetchDetails: 'productDetails/fetchDetails',
      checkSettingMatch: 'customItem/checkSettingMatch'
    }),

    async onModalEventHandler(item) {
      this.$root.$emit('loading-start')
      await this.fetchItemDetails(item)
      await this.checkSettingMatch(this.productDetails)
      this.$root.$emit('loading-stop', { noTransition: true, delay: 100 })
      this.disableScrolling()
      this.$modal.show(this.modalName)
    },

    async fetchItemDetails(item) {
      const type = productListTypeByCategory[item.category]
      const params = {
        ...item,
        type
      }
      delete params.guid
      // if (item.metalTypeCode) params.metalTypeCode = item.metalTypeCode

      await this.fetchDetails(params)
    }
  }
}
</script>

<style lang="sass" scoped>
.v--modal-overlay
  z-index: 3001
.quick-view-modal
  ::v-deep
    .v--modal-box
      +ultrahd
        max-width: 1280px
        width: 100% !important
        left: unset !important
        margin: auto
      +tablet-only
        left: 0 !important
        width: 100% !important
.modal-header
  position: relative
  height: 30px
  .close-button
    cursor: pointer
    position: absolute
    top: 10px
    right: 10px
    align-items: center
    text-transform: uppercase
    svg
      margin-left: 5px
      height: 15px
      width: 15px
.modal-body
  padding: 20px
  ::v-deep
    .details-main
      &-left-side,
      &-right-side
        width: 50%
        +mobile
          width: 100%
      &-right-side
        .details-main-info
          padding-right: 30px
          +mobile
            padding-right: unset
        .details-main-info-quality
          display: none !important
</style>
