<template lang="pug">
  .card-container
    .creditcard(@click="onCreditCardClick", :class="{flipped}")
      .front
        #ccsingle
          component(v-if="cardView", :is="cardView")
        svg#cardfront(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 750 471', style='enable-background:new 0 0 750 471;', xml:space='preserve')
          g#Front
            g#CardBackground
              g#Page-1_1_
                g#amex_1_
                  path#Rectangle-1_1_.lightcolor(:class="color", d='M40,0h670c22.1,0,40,17.9,40,40v391c0,22.1-17.9,40-40,40H40c-22.1,0-40-17.9-40-40V40\
                C0,17.9,17.9,0,40,0z')
              path.darkcolor(:class="`${color}dark`", d='M750,431V193.2c-217.6-57.5-556.4-13.5-750,24.9V431c0,22.1,17.9,40,40,40h670C732.1,471,750,453.1,750,431z')
            text#svgnumber.st2.st3.st4(transform='matrix(1 0 0 1 60.106 295.0121)') {{ cardNumber || '0123 4567 8910 0000' }}
            text#svgname.st2.st5.st6(transform='matrix(1 0 0 1 54.1064 428.1723)') {{ cardHolderName || 'JOHN DOE' }}
            text.st7.st5.st8(transform='matrix(1 0 0 1 54.1074 389.8793)') cardholder name
            text.st7.st5.st8(transform='matrix(1 0 0 1 479.7754 388.8793)') expiration
            text.st7.st5.st8(transform='matrix(1 0 0 1 65.1054 241.5)') card number
            g
              text#svgexpire.st2.st5.st9(transform='matrix(1 0 0 1 574.4219 433.8095)') {{ expMonth }}/{{ expYear }}
              text.st2.st10.st11(transform='matrix(1 0 0 1 479.3848 417.0097)') VALID
              text.st2.st10.st11(transform='matrix(1 0 0 1 479.3848 435.6762)') THRU
              polygon.st2(points='554.5,421 540.4,414.2 540.4,427.9 		')
            g#cchip
              g
                path.st2(d='M168.1,143.6H82.9c-10.2,0-18.5-8.3-18.5-18.5V74.9c0-10.2,8.3-18.5,18.5-18.5h85.3\
              c10.2,0,18.5,8.3,18.5,18.5v50.2C186.6,135.3,178.3,143.6,168.1,143.6z')
              g
                g
                  rect.st12(x='82', y='70', width='1.5', height='60')
                g
                  rect.st12(x='167.4', y='70', width='1.5', height='60')
                g
                  path.st12(d='M125.5,130.8c-10.2,0-18.5-8.3-18.5-18.5c0-4.6,1.7-8.9,4.7-12.3c-3-3.4-4.7-7.7-4.7-12.3\
                c0-10.2,8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5c0,4.6-1.7,8.9-4.7,12.3c3,3.4,4.7,7.7,4.7,12.3\
                C143.9,122.5,135.7,130.8,125.5,130.8z M125.5,70.8c-9.3,0-16.9,7.6-16.9,16.9c0,4.4,1.7,8.6,4.8,11.8l0.5,0.5l-0.5,0.5\
                c-3.1,3.2-4.8,7.4-4.8,11.8c0,9.3,7.6,16.9,16.9,16.9s16.9-7.6,16.9-16.9c0-4.4-1.7-8.6-4.8-11.8l-0.5-0.5l0.5-0.5\
                c3.1-3.2,4.8-7.4,4.8-11.8C142.4,78.4,134.8,70.8,125.5,70.8z')
                g
                  rect.st12(x='82.8', y='82.1', width='25.8', height='1.5')
                g
                  rect.st12(x='82.8', y='117.9', width='26.1', height='1.5')
                g
                  rect.st12(x='142.4', y='82.1', width='25.8', height='1.5')
                g
                  rect.st12(x='142', y='117.9', width='26.2', height='1.5')
          g#Back
      .back
        svg#cardback(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 750 471', style='enable-background:new 0 0 750 471;', xml:space='preserve')
          g#Front
            line.st0(x1='35.3', y1='10.4', x2='36.7', y2='11')
          g#Back
            g#Page-1_2_
              g#amex_2_
                path#Rectangle-1_2_.darkcolor(:class="`${color}dark`", d='M40,0h670c22.1,0,40,17.9,40,40v391c0,22.1-17.9,40-40,40H40c-22.1,0-40-17.9-40-40V40\
              C0,17.9,17.9,0,40,0z')
            rect.st2(y='61.6', width='750', height='78')
            g
              path.st3(d='M701.1,249.1H48.9c-3.3,0-6-2.7-6-6v-52.5c0-3.3,2.7-6,6-6h652.1c3.3,0,6,2.7,6,6v52.5\
            C707.1,246.4,704.4,249.1,701.1,249.1z')
              rect.st4(x='42.9', y='198.6', width='664.1', height='10.5')
              rect.st4(x='42.9', y='224.5', width='664.1', height='10.5')
              path.st5(d='M701.1,184.6H618h-8h-10v64.5h10h8h83.1c3.3,0,6-2.7,6-6v-52.5C707.1,187.3,704.4,184.6,701.1,184.6z')
            text#svgsecurity.st6.st7(transform='matrix(1 0 0 1 621.999 227.2734)') 123
            g.st8
              text.st9.st6.st10(transform='matrix(1 0 0 1 518.083 280.0879)') security code
            rect.st11(x='58.1', y='378.6', width='375.5', height='13.5')
            rect.st11(x='58.1', y='405.6', width='421.7', height='13.5')
            text#svgnameback.st12.st13(transform='matrix(1 0 0 1 59.5073 228.6099)') {{ cardHolderName }}
</template>

<script>
export default {
  name: 'CreditCardComponent',

  components: {
    amex: () => import('./CreditCardIcons/Amex'),
    diners: () => import('./CreditCardIcons/Diners'),
    discover: () => import('./CreditCardIcons/Discover'),
    jsb: () => import('./CreditCardIcons/Jcb'),
    maestro: () => import('./CreditCardIcons/Maestro'),
    mastercard: () => import('./CreditCardIcons/Mastercard'),
    unionpay: () => import('./CreditCardIcons/Unionpay'),
    visa: () => import('./CreditCardIcons/Visa')
  },

  props: {
    color: {
      type: String,
      default: 'grey'
    },

    cardView: {
      type: String,
      default: ''
    },

    cardNumber: {
      type: [String, Number],
      required: true
    },

    cardHolderName: {
      type: String,
      required: true
    },

    expMonth: {
      type: [String, Number],
      required: true
    },

    expYear: {
      type: [String, Number],
      required: true
    },

    cvvCode: {
      type: [String, Number],
      required: true
    }
  },

  data: () => ({
    flipped: false
  }),

  methods: {
    onCreditCardClick() {
      this.flipped = !this.flipped
    },

    showFrontSide() {
      this.flipped = false
    },

    showBackSide() {
      this.flipped = true
    }
  }
}
</script>

<style lang="sass" scoped>
.payment-title
  width: 100%
  text-align: center

.ccicon
  height: 38px
  position: absolute
  right: 6px
  top: calc(50% - 17px)
  width: 60px

/* CREDIT CARD IMAGE STYLING

.preload *
  -webkit-transition: none !important
  -moz-transition: none !important
  -ms-transition: none !important
  -o-transition: none !important

.card-container
  width: 100%
  max-width: 400px
  max-height: 251px
  height: 54vw
  padding: 20px

#ccsingle
  position: absolute
  right: 15px
  top: 20px

  svg
    width: 100px
    max-height: 60px

.creditcard svg
  &#cardfront, &#cardback
    width: 100%
    -webkit-box-shadow: 1px 5px 6px 0px black
    box-shadow: 1px 5px 6px 0px black
    border-radius: 22px

/* CHANGEABLE CARD ELEMENTS

.creditcard
  .lightcolor, .darkcolor
    -webkit-transition: fill .5s
    transition: fill .5s

  .lightblue
    fill: #03A9F4

  .lightbluedark
    fill: #0288D1

  .red
    fill: #ef5350

  .reddark
    fill: #d32f2f

  .purple
    fill: #ab47bc

  .purpledark
    fill: #7b1fa2

  .cyan
    fill: #26c6da

  .cyandark
    fill: #0097a7

  .green
    fill: #66bb6a

  .greendark
    fill: #388e3c

  .lime
    fill: #d4e157

  .limedark
    fill: #afb42b

  .yellow
    fill: #ffeb3b

  .yellowdark
    fill: #f9a825

  .orange
    fill: #ff9800

  .orangedark
    fill: #ef6c00

  .grey
    fill: #bdbdbd

  .greydark
    fill: #616161

/* FRONT OF CARD

#svgname
  text-transform: uppercase

#cardfront
  .st2
    fill: #FFFFFF

  .st3
    font-family: 'Source Code Pro', monospace
    font-weight: 600

  .st4
    font-size: 54.7817px

  .st5
    font-family: 'Source Code Pro', monospace
    font-weight: 400

  .st6
    font-size: 33.1112px

  .st7
    opacity: 0.6
    fill: #FFFFFF

  .st8
    font-size: 24px

  .st9
    font-size: 36.5498px

  .st10
    font-family: 'Source Code Pro', monospace
    font-weight: 300

  .st11
    font-size: 16.1716px

  .st12
    fill: #4C4C4C

/* BACK OF CARD

#cardback
  .st0
    fill: none
    stroke: #0F0F0F
    stroke-miterlimit: 10

  .st2
    fill: #111111

  .st3
    fill: #F2F2F2

  .st4
    fill: #D8D2DB

  .st5
    fill: #C4C4C4

  .st6
    font-family: 'Source Code Pro', monospace
    font-weight: 400

  .st7
    font-size: 27px

  .st8
    opacity: 0.6

  .st9
    fill: #FFFFFF

  .st10
    font-size: 24px

  .st11
    fill: #EAEAEA

  .st12
    font-family: 'Rock Salt', cursive

  .st13
    font-size: 37.769px

/* FLIP ANIMATION

.card-container
  perspective: 1000px

.creditcard
  width: 100%
  max-width: 400px
  -webkit-transform-style: preserve-3d
  transform-style: preserve-3d
  transition: -webkit-transform 0.6s
  -webkit-transition: -webkit-transform 0.6s
  transition: transform 0.6s
  transition: transform 0.6s, -webkit-transform 0.6s
  cursor: pointer

  .front
    position: absolute
    width: 100%
    max-width: 400px
    -webkit-backface-visibility: hidden
    backface-visibility: hidden
    -webkit-font-smoothing: antialiased
    color: #47525d

  .back
    position: absolute
    width: 100%
    max-width: 400px
    -webkit-backface-visibility: hidden
    backface-visibility: hidden
    -webkit-font-smoothing: antialiased
    color: #47525d
    -webkit-transform: rotateY(180deg)
    transform: rotateY(180deg)

  &.flipped
    -webkit-transform: rotateY(180deg)
    transform: rotateY(180deg)
</style>
