<template lang="pug">
  form.payment-form(@submit.prevent="onFormSubmit", v-observe-visibility="{callback: initImask, once: true}")
    .form-block
      h3.block-title.is-italic {{ $t('cart.paymentForm.cardDetails') }}
      credit-card-component(ref="card", :color="color", :card-view="cardView", :card-number="cardNumber", :card-holder-name="billingName", :exp-month="ccExpMonth", :exp-year="ccExpYear", :cvv-code="cvvCode")
      .form-row.payment-form-first-row
        .field.is-fullwidth(:class="{'field-error': $v.billingName.$error}")
          label.label {{ $t('cart.paymentForm.cardholder') }}
          .control.has-icons-left
            input.input(name="cc-name", @click="onFieldClick", type="text", v-model.trim="$v.billingName.$model", :class="{ 'is-danger': $v.billingName.$error }")
            span.icon.is-small.is-left
              i.fa.fa-user
          p.help.is-danger(v-if="!$v.billingName.required && $v.billingName.$dirty") {{ $t('cart.paymentForm.rules.billingName.required') }}
          p.help.is-danger(v-if="!$v.billingName.minLength && $v.billingName.$dirty") {{ $t('cart.paymentForm.rules.billingName.range') }}
          p.help.is-danger(v-if="!$v.billingName.maxLength && $v.billingName.$dirty") {{ $t('cart.paymentForm.rules.billingName.range') }}

      .form-row
        .field.is-fullwidth(:class="{'field-error': $v.cardNumber.$error}")
          label.label {{ $t('cart.paymentForm.cardNumber') }}
          .control.has-icons-left
            input.input(name="cc-number", @click="onFieldClick", ref="card-number", maxlength="19", pattern="[0-9]*", inputmode="numeric", type="text", v-model="$v.cardNumber.$model", :class="{ 'is-danger': $v.cardNumber.$error }")
            span.icon.is-small.is-left
              i.fa.fa-credit-card
          p.help.is-danger(v-if="!$v.cardNumber.required && $v.cardNumber.$dirty") {{ $t('cart.paymentForm.rules.cardNumber.required') }}
          p.help.is-danger(v-if="!$v.cardNumber.minLength && $v.cardNumber.$dirty") {{ $t('cart.paymentForm.rules.cardNumber.range') }}
          p.help.is-danger(v-if="!$v.cardNumber.maxLength && $v.cardNumber.$dirty") {{ $t('cart.paymentForm.rules.cardNumber.range') }}

      .form-row
        .field
          label.label {{ $t('cart.paymentForm.expirationDate') }}
          .controls-block.is-flex
            .control__wrapper
              .control.has-icons-left
                input.input(name="cc-exp-month", @click="onFieldClick", type="text", v-model.trim="$v.ccExpMonth.$model", :class="{ 'is-danger': $v.ccExpMonth.$error }")
                span.icon.is-small.is-left
                  i.fa.fa-calendar-alt
              p.help.is-danger(v-if="!$v.ccExpMonth.required && $v.ccExpMonth.$dirty") {{ $t('cart.paymentForm.rules.ccExpMonth.required') }}
              p.help.is-danger(v-if="ccExpMonth && !$v.ccExpMonth.isInRange && $v.ccExpMonth.$dirty") {{ $t('cart.paymentForm.rules.ccExpMonth.between', [monthBorders[0], monthBorders[1] - 1]) }}

            .separator /

            .control__wrapper
              .control.has-icons-left
                input.input(name="cc-exp-year", @click="onFieldClick", type="text", v-model.trim="$v.ccExpYear.$model", :class="{ 'is-danger': $v.ccExpYear.$error }")
                span.icon.is-small.is-left
                  i.fa.fa-calendar-alt
              p.help.is-danger(v-if="!$v.ccExpYear.required && $v.ccExpYear.$dirty") {{ $t('cart.paymentForm.rules.ccExpYear.required') }}
              p.help.is-danger(v-if="!$v.ccExpYear.between && $v.ccExpYear.$dirty") {{ $t('cart.paymentForm.rules.ccExpYear.between', [years[0], years[years.length - 1]]) }}

      .form-row
        .field.ccv-code.is-fullwidth(:class="{'field-error': $v.cvvCode.$error}")
          label.label {{ $t('cart.paymentForm.ccv') }}
          .control.has-icons-left
            input.input(name="cc-csc", @click="onCvvClick", autocomplete="new-password", ref="cvv-code", maxlength="4", pattern="[0-9]*", inputmode="numeric", type="password", v-model="$v.cvvCode.$model", :class="{ 'is-danger': $v.cvvCode.$error }")
            span.icon.is-small.is-left
              i.fa.fa-lock
          p.help.is-danger(v-if="!isAmex && $v.cvvCode.$error") {{ $t('cart.paymentForm.rules.cvvCode.required') }}
          p.help.is-danger(v-else-if="$v.cvvCode.$error") {{ $t('cart.paymentForm.rules.cvvCode.requiredAmex') }}
</template>

<script>
import { validationMixin } from 'vuelidate'
import required from 'vuelidate/lib/validators/required'
import minLength from 'vuelidate/lib/validators/minLength'
import maxLength from 'vuelidate/lib/validators/maxLength'
import between from 'vuelidate/lib/validators/between'
import inRange from 'lodash/inRange'
import { mapActions, mapGetters } from 'vuex'

const months = [...Array(12).keys()].map((m) => m + 1)
const years = [...Array(10).keys()].map((i) => new Date().getFullYear() + i)

export default {
  name: 'FormComponent',

  components: {
    CreditCardComponent: () =>
      import('~~/components/Cart/PaymentOrder/Form/CreditCard')
  },

  mixins: [validationMixin],

  validations() {
    return {
      billingName: {
        required,
        minLength: minLength(5),
        maxLength: maxLength(100)
      },
      cardNumber: {
        required,
        minLength: minLength(14),
        maxLength: maxLength(19)
      },
      ccExpMonth: {
        required,
        isInRange: (value) => {
          if (!inRange(value, 1, 13)) return false
          return (
            inRange(value, this.monthBorders[0], this.monthBorders[1]) ||
            Number(this.ccExpYear) > years[0]
          )
        }
      },
      ccExpYear: {
        required,
        between: between(years[0], years[years.length - 1])
      },
      cvvCode: {
        required,
        minLength: minLength(this.isAmex ? 4 : 3),
        maxLength: maxLength(this.isAmex ? 4 : 3)
      }
    }
  },

  data: () => ({
    multiselectMounted: false,
    test: '',
    submitStatus: null,
    cardView: '',
    color: 'grey',
    cardNumberMask: null,
    cvvModeMask: null,
    months,
    years
  }),

  computed: {
    ...mapGetters({
      form: 'cart/paymentForm'
    }),

    monthBorders() {
      const date = new Date()
      const currentYear = years[0]
      if (!this.ccExpYear || this.ccExpYear > currentYear) return [1, 13] // 13 because inRange func not include border values
      return [months[date.getMonth()], 13]
    },

    billingName: {
      get() {
        return this.form.billingName
      },

      set(value) {
        this.setFormValue({ billingName: value })
      }
    },

    isAmex() {
      const prefix = ['37', '34']
      return prefix.includes(this.cardNumber.substring(0, 2))
    },

    cardNumber: {
      get() {
        return this.form.cardNumber
      },

      set(value) {
        this.setFormValue({ cardNumber: value })
      }
    },

    ccExpMonth: {
      get() {
        return this.form.ccExpMonth
      },

      set(value) {
        this.setFormValue({ ccExpMonth: value })
      }
    },

    ccExpYear: {
      get() {
        return this.form.ccExpYear
      },

      set(value) {
        this.setFormValue({ ccExpYear: value })
      }
    },

    cvvCode: {
      get() {
        return this.form.cvvCode
      },

      set(value) {
        this.setFormValue({ cvvCode: value })
      }
    }
  },

  mounted() {
    this.$multiselect.insert(() => {
      this.multiselectMounted = true
    })
  },

  methods: {
    ...mapActions({
      setFormValue: 'cart/setPaymentFormValue'
    }),

    async initImask(isVisible) {
      if (isVisible) {
        await this.applyCardNumberMask()
        await this.applyCcvMask()
        this.cardNumberMask.on('accept', this.onCardNumberAccept)
      }
    },

    onFieldClick() {
      if (this.$refs.card) this.$refs.card.showFrontSide()
    },

    onCvvClick() {
      if (this.$refs.card) this.$refs.card.showBackSide()
    },

    onCardNumberAccept() {
      switch (this.cardNumberMask.masked.currentMask.cardtype) {
        case 'american express':
          this.cardView = 'amex'
          this.color = 'green'
          break
        case 'visa':
          this.cardView = 'visa'
          this.color = 'lime'
          break
        case 'diners':
          this.cardView = 'diners'
          this.color = 'orange'
          break
        case 'discover':
          this.cardView = 'discover'
          this.color = 'purple'
          break
        case 'jcb' || 'jcb15':
          this.cardView = 'jcb'
          this.color = 'red'
          break
        case 'maestro':
          this.cardView = 'maestro'
          this.color = 'yellow'
          break
        case 'mastercard':
          this.cardView = 'mastercard'
          this.color = 'lightblue'

          break
        case 'unionpay':
          this.cardView = 'unionpay'
          this.color = 'cyan'
          break
        default:
          this.cardView = ''
          this.color = 'grey'
          break
      }
    },

    async applyCcvMask() {
      this.cvvModeMask = await this.$imask.insert(this.$refs['cvv-code'], {
        mask: '0000'
      })
    },

    async applyCardNumberMask() {
      this.cardNumberMask = await this.$imask.insert(
        this.$refs['card-number'],
        {
          mask: [
            {
              mask: '0000 000000 00000',
              regex: '^3[47]\\d{0,13}',
              cardtype: 'american express'
            },
            {
              mask: '0000 0000 0000 0000',
              regex: '^(?:6011|65\\d{0,2}|64[4-9]\\d?)\\d{0,12}',
              cardtype: 'discover'
            },
            {
              mask: '0000 000000 0000',
              regex: '^3(?:0([0-5]|9)|[689]\\d?)\\d{0,11}',
              cardtype: 'diners'
            },
            {
              mask: '0000 0000 0000 0000',
              regex:
                '^(5[1-5]\\d{0,2}|22[2-9]\\d{0,1}|2[3-7]\\d{0,2})\\d{0,12}',
              cardtype: 'mastercard'
            },
            {
              mask: '0000 000000 00000',
              regex: '^(?:2131|1800)\\d{0,11}',
              cardtype: 'jcb15'
            },
            {
              mask: '0000 0000 0000 0000',
              regex: '^(?:35\\d{0,2})\\d{0,12}',
              cardtype: 'jcb'
            },
            {
              mask: '0000 0000 0000 0000',
              regex: '^(?:5[0678]\\d{0,2}|6304|67\\d{0,2})\\d{0,12}',
              cardtype: 'maestro'
            },
            {
              mask: '0000 0000 0000 0000',
              regex: '^4\\d{0,15}',
              cardtype: 'visa'
            },
            {
              mask: '0000 0000 0000 0000',
              regex: '^62\\d{0,14}',
              cardtype: 'unionpay'
            },
            {
              mask: '0000 0000 0000 0000',
              cardtype: 'Unknown'
            }
          ],
          dispatch(appended, dynamicMasked) {
            const number = (dynamicMasked.value + appended).replace(/\D/g, '')

            for (let i = 0; i < dynamicMasked.compiledMasks.length; i++) {
              const re = new RegExp(dynamicMasked.compiledMasks[i].regex)
              if (number.match(re) != null) {
                return dynamicMasked.compiledMasks[i]
              }
            }
          }
        }
      )
    }
  }
}
</script>

<style lang="sass" scoped>
.payment-form
  &-first-row
    margin-top: 30px !important
  .form-row
    .field
      &.ccv-code
        .control
          max-width: 100px
    .controls-block
      align-items: flex-start
      .control__wrapper
        max-width: 100px
      .separator
        margin: 6px 15px 0
        font-size: 18px
</style>
