<template lang="pug">
div
</template>

<script>
import _baseView from './_baseView'

export default {
  name: 'BaseViewStonesComponent',

  components: {
    CartButton: () => import('./CartButton'),
    InCart: () => import('~~/components/DetailsPage/InCart')
  },

  extends: _baseView,

  inject: ['pageType'],

  computed: {
    isDetails() {
      return this.pageType === 'details'
    }
  }
}
</script>
