<template lang="pug">
  div
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import camelCase from 'lodash/camelCase'
import invert from 'lodash/invert'
import omitBy from 'lodash/omitBy'
import cloneDeep from 'lodash/cloneDeep'
import reduce from 'lodash/reduce'
import isEqual from 'lodash/isEqual'
import isEmpty from 'lodash/isEmpty'
import uniq from 'lodash/uniq'
import omit from 'lodash/omit'
import Vue from 'vue'
import get from 'lodash/get'
import Controls from '../../DetailsMainControls'
import QualityValueHeart from '~~/components/DetailsPage/QualityValueHeart'
import Price from '~~/components/Common/Price'
import NoHasslePolicy from '~~/components/DetailsPage/NoHasslePolicy'
import ItemAvailability from '~~/components/DetailsPage/ItemAvailability'
import QuestionAboutProduct from '~~/components/DetailsPage/DetailsMain/QuestionAboutProduct'
import ShareProductEmailModal from '~~/components/DetailsPage/DetailsMain/ShareProduct/ShareProductEmailModal'
import {
  parametersNamesMap,
  sideStonesParametersNamesMap
} from '~~/utils/definitions/itemParameters'
import { bandsByCategory } from '~~/utils/sitemapUtils'
import { normalizeSelectedOptionsForURL } from '~~/utils/normalizers'
import availabilityMixin from '~~/mixins/availabilityMixin'
import {
  moneyFormatter,
  caratFormatter,
  metalWeightFormatter,
  capitalizeFullString,
  itemNameFormatter,
  itemNameFormatterNoLocale
} from '~~/utils/formatters'

import { getItemId, setPreferableRingSize } from '~~/utils/utils'

import { productListTypeByCategory, stones } from '~~/utils/definitions/defaults'

export default {
  components: {
    QualityValueHeart,
    Price,
    Controls,
    NoHasslePolicy,
    ItemAvailability,
    QuestionAboutProduct,
    ShareProductEmailModal
  },

  filters: {
    moneyFormatter,
    caratFormatter,
    metalWeightFormatter,
    capitalizeFullString
  },

  mixins: [availabilityMixin],

  inject: ['pageType'],

  data: () => ({
    multiselectMounted: false,
    startWatch: false,
    stopWatchParams: false
  }),

  computed: {
    ...mapGetters({
      cartItems: 'cart/items',
      productDetails: 'productDetails/productDetails',
      customItem: 'customItem/customItem',
      isPreview: 'customItem/isPreview',
      customStone: 'customItem/customStone',
      sideStones: 'customItem/sideStones',
      customSetting: 'customItem/customSetting',
      settingMatch: 'customItem/settingMatch',
      allFontsLoaded: 'app/allFontsLoaded',
      inListFavorites: 'favorites/inList',
      inListCompareList: 'compareList/inList'
    }),

    item() {
      return this.productDetails || this.customItem
    },

    isCustomPreview() {
      return this.isCustomItem && this.isPreview // preview is the same as MTO
    },

    isBlocked() {
      if (this.isOutOfStockTemporary) return false
      return this.isSoldOut || this.isOutOfStock || this.isDelisted
    },

    showIcon() {
      return this.allFontsLoaded
    },

    showAddToCustomJewelryButton() {
      // if (this.inCart) return false
      if (stones.includes(this.type)) {
        return this.customStone.id !== this.productDetails.id
      }
      return getItemId(this.customSetting) !== getItemId(this.productDetails)
    },

    wishlistItems() {
      return this.$store.getters[`favorites/${this.type}Items`]
    },

    compareListItems() {
      return this.$store.getters[`compareList/${this.type}Items`]
    },

    inCart() {
      return this.cartItems.some(
        (item) => getItemId(item) === getItemId(this.productDetails)
      )
    },

    inWishlist() {
      return this.inListFavorites(this.item)
    },

    inCompareList() {
      return this.inListCompareList(this.item)
    },

    type() {
      return productListTypeByCategory[this.productDetails.category]
    },

    sideStoneSource() {
      return this.isCustomItem
        ? this.sideStones
        : this.productDetails.sidestoneOptions
    }
  },

  watch: {
    '$route.query': {
      deep: true,
      handler(newQuery, oldQuery) {
        if (this.stopWatchParams) return
        this.setParamsToStore(newQuery, oldQuery)
      }
    }
  },

  mounted() {
    this.sendGtagData()
  },

  methods: {
    ...mapActions({
      enablePrefilter: 'filters/enablePrefilter',
      dropStoneItems: 'stonesList/dropItems',
      dropPairItems: 'stonePairsList/dropItems',
      addItemToCart: 'cart/addToList',
      setSelectedOptions: 'productDetails/setSelectedOptions',
      updateWishlistItem: 'favorites/updateListItem',
      updateCompareListItem: 'compareList/updateListItem'
    }),

    sendGtagData() {
      if (!this.item) return
      if (Vue.$gtag) {
        this.emitGtagData()
        return
      }
      this.$root.$once('gtag-initialized', this.emitGtagData)
    },

    emitGtagData() {
      Vue.$gtag.event('view_details', {
        event_label: 'Details page view',
        currency: 'USD',
        value: get(this.item, 'finalPrice.totalPrice', this.item.price),
        items: [
          {
            id: this.item.id,
            name: itemNameFormatterNoLocale(this.item),
            category: this.item.category,
            brand: 'The Natural Ruby Company',
            quantity: 1,
            price: String(
              get(this.item, 'finalPrice.totalPrice', this.item.price)
            )
          }
        ]
      })
    },

    // UPDATE ITEMS PARAMETERS
    setParamsToStore(newQuery, oldQuery) {
      const params = this.fromUrlToStoreParams(newQuery, oldQuery)
      if (
        !params.engraving &&
        this.startWatch &&
        !this.$route.query[parametersNamesMap.engraving]
      )
        this.engravingUpdate('') // remove engraving from route and store if it empty
      Object.keys(params).forEach((key) => {
        const pattern = /(weight|grade|position|clarity)/

        if (pattern.test(key)) {
          const result = pattern.exec(key)
          const paramName = result[1]
          params[key].forEach((p, index) => {
            this[`${paramName}Update`](params[key][index], index)
          })
          return
        }
        this[`${key}Update`](params[key])
      })
      this.getParamsFromStore()
    },

    getParamsFromStore() {
      if (!['review', 'details'].includes(this.pageType)) return
      this.stopWatchParams = true
      const { selectedOptions } = this.isCustomItem
        ? this.$store.state.customItem
        : this.$store.state.productDetails.productDetails
      const normalizedOptions = normalizeSelectedOptionsForURL(selectedOptions)
      this.pushParametersToUrl(normalizedOptions, false, true)
      setTimeout(() => {
        this.stopWatchParams = false
      })
    },

    fromUrlToStoreParams(newQuery, oldQuery) {
      const { query } = this.$route
      const parameters = {}
      const queryToStore = invert(parametersNamesMap)
      const changedParams = this.findChangedParams(newQuery, oldQuery)
      changedParams.forEach((q) => {
        if (!Object.keys(queryToStore).includes(q)) return
        const pattern = /(weight|grade|position|clarity)/
        const noArrayPattern = /vedicSetting/

        if (pattern.test(queryToStore[q])) {
          const result = pattern.exec(queryToStore[q])
          const paramName = result[1]
          if (!query[q]) return
          parameters[queryToStore[q]] = this[`${paramName}GetValue`](
            Array.isArray(query[q]) ? query[q] : [query[q]]
          )
          return
        }
        if (noArrayPattern.test(queryToStore[q])) {
          parameters[queryToStore[q]] = this[`${queryToStore[q]}GetValue`](
            query[q]
          )
          return
        }
        parameters[queryToStore[q]] = this[`${queryToStore[q]}GetValue`](
          Array.isArray(query[q]) ? query[q] : [query[q]]
        )
      })
      return omitBy(parameters, (val) => {
        if (typeof val === 'string') return !val.trim()
        return !val
      })
    },

    findChangedParams(newQuery, oldQuery) {
      const diff1 = reduce(
        newQuery,
        (result, value, key) => {
          return isEqual(value, oldQuery[key]) ? result : result.concat(key)
        },
        []
      )
      const diff2 = reduce(
        oldQuery,
        (result, value, key) => {
          return isEqual(value, newQuery[key]) ? result : result.concat(key)
        },
        []
      )

      return uniq([...diff1, ...diff2])
    },

    vedicSettingGetValue(value) {
      return value
    },

    ringSizeGetValue(key) {
      if (this.ringSizes) {
        return this.ringSizes.find((o) => o.key === Number(key)) || null
      }
      return null
    },

    clarityGetValue(keys) {
      const values = []
      keys.forEach((key, index) => {
        const { clarities } = this.sideStoneSource[index]
        const value = clarities.find((o) => o.id === Number(key)) || null
        if (value) values.push(value)
      })
      return values.length ? values : null
    },

    positionGetValue(keys) {
      const values = []
      keys.forEach((key, index) => {
        const { position } = this.sideStoneSource[index]
        values.push(position)
      })
      return values.length ? values : null
    },

    weightGetValue(keys) {
      const values = []
      keys.forEach((key, index) => {
        const { weights } = this.sideStoneSource[index]
        const value = weights.find((o) => o.id === key) || null
        if (value) values.push(value)
      })
      return values.length ? values : null
    },

    gradeGetValue(keys) {
      const values = []
      keys.forEach((key, index) => {
        const { grades } = this.sideStoneSource[index]
        const value = grades.find((o) => o.id === Number(key)) || null
        if (value) values.push(value)
      })
      return values.length ? values : null
    },

    ringWidthGetValue(key) {
      if (this.ringWidths) {
        return this.ringWidths.find((o) => o.key === Number(key)) || null
      }
      return null
    },

    prongGetValue(id) {
      if (this.prongs) {
        return this.prongs.find((o) => o.id === Number(id)) || null
      }
      return null
    },

    finishGetValue(key) {
      if (this.metalsFinish) {
        return this.metalsFinish.find((o) => o.key === Number(key)) || null
      }
      return null
    },

    engravingGetValue(key) {
      return Array.isArray(key) ? key[0].substring(0, 15) : key.substring(0, 15)
    },

    ringSizeUpdate(ringSize) {
      setPreferableRingSize(this.$cookies, ringSize.key)
      this.setSelectedOptions({ ringSize })
      if (bandsByCategory.includes(this.productDetails.category))
        this.$emit('fetch-details')
    },

    ringWidthUpdate(ringWidth) {
      this.setSelectedOptions({ ringWidth })
      this.$emit('fetch-side-stones')
    },

    weightUpdate(value, index) {
      this.setSideStonesOptions({ index, value, type: 'weight' })
    },

    gradeUpdate(value, index) {
      this.setSideStonesOptions({ index, value, type: 'grade' })
    },

    clarityUpdate(value, index) {
      this.setSideStonesOptions({ index, value, type: 'clarity' })
    },

    positionUpdate(value, index) {
      this.setSideStonesOptions({ index, value, type: 'position' })
    },

    vedicSettingUpdate(vedicSetting) {
      this.setSelectedOptions({ vedicSetting })
    },

    prongUpdate(prong) {
      this.setSelectedOptions({ prong })
    },

    finishUpdate(finish) {
      this.setSelectedOptions({ finish })
    },

    engravingUpdate(engraving) {
      this.setSelectedOptions({ engraving })
    },

    paramsFilter(params) {
      const parameters = Object.keys(params)
      const parametersToOmit = []

      parameters.forEach((param) => {
        if (['engraving', 'vedicSetting'].includes(param)) return // otherwise there is no way to clear engraving https://nscompany.atlassian.net/browse/NRW-438
        if (
          !params[param] ||
          (typeof params[param] === 'object' ? isEmpty(params[param]) : false)
        )
          parametersToOmit.push(param) // there is no value
      })

      return omit(params, parametersToOmit)
    },

    pushParametersToUrl(params, clearSideStones, clearEmpty, callBack) {
      const parameters = this.paramsFilter(params)

      const valuesToClean = ['undefined', undefined, null, '', 'false', false]

      let query = cloneDeep(this.$route.query)

      if (clearSideStones) {
        const params = Object.keys(invert(sideStonesParametersNamesMap))
        query = omit(query, params)
      }

      Object.keys(parameters).forEach((param) => {
        if (!parametersNamesMap[param]) return
        if (['string', 'boolean'].includes(typeof parameters[param])) {
          query[parametersNamesMap[param]] = parameters[param]
          return
        }
        if (Array.isArray(parameters[param])) {
          const nonEmptyVals = parameters[param].filter(
            (val) => !valuesToClean.includes(val)
          )
          query[parametersNamesMap[param]] = []
          nonEmptyVals.forEach((p, i) => {
            query[parametersNamesMap[param]][i] =
              typeof p === 'string' ? p : p?.id + ''
          })
          return
        }
        query[parametersNamesMap[param]] =
          (parameters[param].key || parameters[param].id) + ''
      })

      if (clearEmpty) query = omitBy(query, (v) => valuesToClean.includes(v))

      // to prevent pushing the same routes. If the same route has been pushed the issue will be pushed from vue-router (route duplicate)
      if (!isEqual(this.normalizeQuery(query), this.$route.query))
        this.$router.replace({ query })

      setTimeout(() => {
        if (callBack) callBack()
      })
    },

    /**
     * The $route.query some times can have strings in parameters, some times arrays (when there are several side stones).
     * We should modify existed query to make more plain ["2"] -> "2" for example
     * @param query
     * @returns {*}
     */
    normalizeQuery(query) {
      Object.keys(this.$route.query).forEach((key) => {
        if (
          Array.isArray(query[key]) &&
          !Array.isArray(this.$route.query[key])
        ) {
          query[key] = query[key][0]
        }
      })
      return query
    },

    // !UPDATE ITEMS PARAMETERS

    onCartButtonClick() {
      if (this.inCart) return
      this.addItemToCart({ item: this.productDetails })
    },

    dropStonesItems() {
      this.dropStoneItems()
      this.dropPairItems()
    },

    itemNameFormatter(item) {
      return itemNameFormatter.call(this, item)
    },

    camelCase
  }
}
</script>
