<template lang="pug">
  div
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import cloneDeep from 'lodash/cloneDeep'
import camelCase from 'lodash/camelCase'
import _baseView from './_baseView'
import { moneyFormatter, caratFormatter } from '~~/utils/formatters'
import canAddSettingToJewelryMixin from '~~/mixins/customJewelry/canAddSettingToJewelryMixin'
import { productListTypeByCategory } from '~~/utils/definitions/defaults'
import { getIconName, getIconColor, CustomNextPath } from '~~/utils/utils'

export default {
  name: 'BaseViewSettingsComponent',

  filters: {
    moneyFormatter,
    caratFormatter
  },

  components: {
    AccordionItemComponent: () =>
      import('~~/components/Common/Accordion/AccordionItem'),
    AccordionComponent: () => import('~~/components/Common/Accordion/Accordion')
  },

  extends: _baseView,

  inject: ['pageType'],

  mixins: [canAddSettingToJewelryMixin],

  computed: {
    ...mapGetters({
      fetched: 'fetched',
      productDetailsOptions: 'productDetails/productDetailsOptions',
      productDetails: 'productDetails/productDetails',
      selectedOptions: 'productDetails/selectedOptions',
      customSetting: 'customItem/customSetting',
      customStone: 'customItem/customStone',
      customItem: 'customItem/customItem',
      wishlistCustomItems: 'favorites/customItems',
      compareCustomItems: 'compareList/customItems',
      cartItems: 'cart/items',
      customSelectedOptions: 'customItem/selectedOptions'
    }),

    showProngs() {
      return !!this.productDetails.prongs.length
    },

    selectedProng() {
      if (!this.selectedOptions.prong) return {}
      const prong = cloneDeep(this.selectedOptions.prong)
      prong.name = this.$t(`detailsPage.prongsNames.${camelCase(prong.type)}`)
      return prong
    },

    prongs() {
      if (!this.productDetails.prongs) return []
      const prongs = cloneDeep(this.productDetails.prongs)
      return prongs.map((prong) => {
        prong.name = this.$t(`detailsPage.prongsNames.${camelCase(prong.type)}`)
        return prong
      })
    },

    isDetails() {
      return this.pageType === 'details'
    },

    wishlistItems() {
      const typeList = productListTypeByCategory[this.item.category]
      return this.$store.getters[`favorites/${typeList}Items`]
    },

    inCustomItem() {
      if (!this.item.parentGuid) return false
      return [...this.wishlistCustomItems, ...this.compareCustomItems].some(
        (i) => i.guid === this.item.parentGuid
      )
    },

    customItemInCart() {
      return this.cartItems.some(
        (item) => item.id === this.$h.getItemId(this.customItem)
      )
    },

    item() {
      return { ...this.productDetails, selectedOptions: this.selectedOptions }
    },

    selectedMetalType() {
      return this.metalTypes.find(
        (metal) => metal.key === this.item.metalTypeCode
      )
    },

    metalTypes() {
      if (!this.productDetails.metalTypes) return []
      const metals = cloneDeep(this.productDetails.metalTypes)
      return metals.map((metal) => {
        metal.id = this.$h.guid()
        metal.icon = metal.value
        metal.value = this.$t(
          `detailsPage.metalTypesNames.${camelCase(metal.value)}`
        )
        return metal
      })
    }
  },

  methods: {
    ...mapActions({
      setCustomSelectedOptions: 'customItem/setSettingOptions',
      updateItem: 'productDetails/updateItem',
      fetchDetails: 'productDetails/fetchDetails',
      setDetailsItem: 'productDetails/setDetailsItem',
      resetSelectedOptions: 'productDetails/resetSelectedOptions',
      setCustomSetting: 'customItem/setCustomSetting',
      updateCartItem: 'cart/updateListItem',
      getCustomItem: 'customItem/getCustomItem',
      getFinalOptions: 'customItem/getFinalOptions',
      fetchPrice: 'customItem/fetchPrice',
      updateWishlistItem: 'favorites/updateListItem'
    }),

    lazyUpdate() {
      window.lazyUpdate()
    },

    onSelectProng(prongObj) {
      const prong = cloneDeep(prongObj)
      this.pushParametersToUrl({ prong }, false, false, this.updateAllSources)
    },

    onSettingsButtonClick() {
      this.$modal.hide('quick-view')
      this.setCustomSetting(this.item)
      this.dropStonesItems()
      const route = new CustomNextPath({
        customStone: this.customStone,
        customSetting: this.customSetting,
        route: this.$route,
        query: this.$h.flushQuery(this.$route.query)
      })
      this.enablePrefilter()
      this.$router.push(this.localePath(route.get()))
    },

    async onSelectMetalType(metalTypeCode) {
      this.$root.$emit('loading-start')
      const metal = cloneDeep(metalTypeCode)
      metal.value = metal.icon // this do b/c metal.value is in chinese lang but in metal.icon metal name is in english
      this.setSelectedOptions({ metalTypeCode: metal })
      const type = productListTypeByCategory[this.productDetails.category]
      await this.fetchDetails({
        id: this.item.id,
        metalTypeCode: metal.key,
        type,
        guid: this.item.guid,
        parent: this.$route.query.parent,
        force: true
      }) // because video 360 not implemented for all settings
      this.setParamsToStore()
      await this.updateAllItems()
      if (this.isDetails) this.updateRoute(metal)
      this.$root.$emit('loading-stop')
    },

    async updateAllItems() {
      const { source } = this.$route.query
      if (!['wishlist', 'compare', 'cart'].includes(source)) return

      let item = null
      if (this.inCustomItem) item = await this.getNewCustomItem()

      this[`${source}ItemsUpdate`](item)
    },

    async wishlistItemsUpdate(item) {
      if (this.inWishlist) await this.updateWishlistItem({ item: this.item })
      if (item) await this.updateWishlistItem({ item })
    },

    async compareItemsUpdate(item) {
      if (this.inCompareList)
        await this.updateCompareListItem({ item: this.item })
      if (item) await this.updateCompareListItem({ item })
    },

    async cartItemsUpdate(item) {
      if (item) await this.updateCartItem({ item })
    },

    async getNewCustomItem() {
      this.setCustomSetting({
        ...this.item,
        size: this.selectedOptions.ringSize
      }) // after updating custom item we need to update this item in cart and wishlist
      await this.getFinalOptions()
      await this.fetchPrice()
      const item = await this.getCustomItem()
      const ringSize = this.item.sizes.find(
        (s) => s.key === this.selectedOptions.ringSize
      )
      if (ringSize) this.setCustomSelectedOptions({ ringSize })

      // const { guid } = this.$route.query
      // if (guid) item.guid = guid

      // const { guid } = this.$route.query
      item.guid = this.item.parentGuid

      return item
    },

    // async updateAllItems() {
    //   if (this.inCustomItem) {
    //     this.setCustomSetting(this.item) // after updating custom item we need to update this item in cart and wishlist
    //     this.dropStonesItems()
    //     await this.getFinalOptions()
    //     await this.fetchPrice()
    //     // const item = await this.getCustomItem()
    //     // if (this.customItemInWishlist) await this.updateWishlistItem({ item })
    //     if (this.inWishlist)
    //       await this.updateWishlistItem({ item: this.customItem })
    //     if (this.customItemInCart)
    //       this.updateCartItem({ item: this.customItem })
    //   }
    //   if (this.inWishlist && this.$route.query.source === 'wishlist')
    //     await this.updateWishlistItem({ item: this.item })
    // },

    updateRoute(metal) {
      const path = this.localePath({
        path: `${this.$h.getDetailsPath({
          ...this.item,
          metalTypeCode: metal.key
        })}`,
        query: this.$h.flushQuery(this.$route.query)
      })
      window.history.pushState({}, '', path)
    },

    camelCase,

    getIconColor,

    getIconName
  }
}
</script>
