<template lang="pug">
div
</template>

<script>
import _baseView from './_baseView'
import extendWarrantyMixin from '~~/mixins/extendWarrantyMixin'

export default {
  name: 'BaseViewJewelriesComponent',

  components: {
    CartButton: () => import('./CartButton'),
    InCart: () => import('~~/components/DetailsPage/InCart'),
    AccordionItemComponent: () =>
      import('~~/components/Common/Accordion/AccordionItem'),
    AccordionComponent: () => import('~~/components/Common/Accordion/Accordion')
  },

  extends: _baseView,

  mixins: [extendWarrantyMixin]
}
</script>
