<template lang="pug">
  .details-main-info
    h1.details-main-info-name.is-italic(v-html="itemNameFormatter(productDetails)")
    .details-main-info-id.is-flex
      icon(width="14", height="12", iconName="stone", iconColor="#8c7956")
      span {{ $t('detailsPage.mainDetails.itemId') }}: {{ productDetails.id + productDetails.metalTypeCode }}
    no-hassle-policy
    item-availability
    price(priceLayout="columnLabel", :tooltip="true", :item="productDetails")
    .details-main-info-production-time
      strong {{ $t('detailsPage.mainDetails.productionTime') }}:&nbsp
      span {{ $t('detailsPage.mainDetails.productionTimePeriod', [productDetails.productionTimeFrom, productDetails.productionTimeTo]) }}
    .details-main-info-total-weight(v-for="stone in stonesTotalWeight", :key="stone.index")
      strong {{ $t(`detailsPage.mainDetails.totalStonesWeight.${stone.stoneType.toLowerCase()}`) }}:&nbsp
      span {{ caratFormatter(stone.weight) }}
    //.details-main-info-total-weight
    //  strong {{ $t('detailsPage.mainDetails.totalMetalWeight') }}:&nbsp
    //  span {{ productDetails.metalWeight | caratFormatter }}
    .details-main-info-options
      accordion-component
        accordion-item-component(:disabled="isBlocked")
          .property-name.is-flex(slot="header")
            strong {{ $t('detailsPage.mainDetails.metal') }}
            .selected-value.is-flex
              span {{ $t(`detailsPage.metalTypesNames.${camelCase(selectedMetalType.value)}`) }}
              icon(:key="selectedMetalType.value", width="26", height="26", :iconColor="getIconColor(selectedMetalType.value)", :iconName="getIconName(selectedMetalType.value)")
          .property-values.is-flex
            .metal-icon.is-flex(v-for="metal in metalTypes", :key="metal.id", @click="onSelectMetalType(metal)")
              icon(width="36", height="36", :iconColor="getIconColor(metal.icon)", :iconName="getIconName(metal.icon)")
              span {{ metal.value }}
        accordion-item-component(ref="ringSize", :disabled="isBlocked", @mounted="onRingSizeMounted")
          .property-name.is-flex(slot="header")
            strong {{ $t('detailsPage.mainDetails.size') }}
            .selected-value.is-flex
              span {{ selectedRingSize.value }}
          .property-values.is-flex
            .ring-size-selector
              multiselect(
                v-if="multiselectMounted",
                class="band-size",
                v-model="selectedRingSize"
                :options="ringSizes",
                track-by="key",
                label="value",
                select-label="",
                :show-labels="false",
                selected-label="",
                :allow-empty="false",
                :searchable="false",
                :option-height="35"
              )
            .ring-sizes.is-flex(@click="onSizesClickHandler")
              icon(iconName="sizingGuide")
              span {{ $t('detailsPage.mainDetails.sizingGuide') }}
        .property-name-confirmation(ref="popper", v-show="showRingSizeConfirmation", v-on-clickaway="onClickAwayHandler")
          .arrow(ref="arrow", data-popper-arrow)
          .property-name-confirmation-body
            .confirmation-message {{ $t('detailsPage.ringSizeConfirm.text', [selectedRingSize.value]) }}
            .buttons.are-small
              button.button.gold-color.light(@click="onOnConfirmationConfirm") {{ $t('detailsPage.ringSizeConfirm.confirm') }}
              button.button.is-ghost(@click="onOnConfirmationCancel") {{ $t('detailsPage.ringSizeConfirm.cancel') }}
        accordion-item-component(:disabled="isBlocked")
          .property-name.is-flex(slot="header")
            strong {{ $t('detailsPage.mainDetails.ringWidth') }}
            .selected-value.is-flex
              span {{ selectedRingWidth.value }}
          .property-values.is-flex
            .ring-size-selector
              multiselect(
                v-if="multiselectMounted",
                class="band-width"
                v-model="selectedRingWidth"
                :options="ringWidths",
                track-by="key",
                label="value",
                select-label="",
                :show-labels="false",
                selected-label="",
                :allow-empty="false",
                :searchable="false",
                :option-height="35"
              )
        accordion-item-component(v-if="showStonesOptions", :disabled="isBlocked")
          .property-name.is-flex(slot="header")
            strong {{ $t('detailsPage.mainDetails.sideStones') }}
          .side-stones(v-for="(stone, index) in productDetails.sidestoneOptions", :key="$h.guid()")
            .side-stones-title
              strong {{ $t(`detailsPage.mainDetails.stoneShapesName.${camelCase(stone.shape)}`) }} {{ $t(`detailsPage.mainDetails.stoneColors.${camelCase(stone.color)}`) }} {{ $t(`detailsPage.mainDetails.stoneTypeName.${camelCase(stone.stoneType)}`) }}
            .side-stones-body.is-flex(v-if="selectedStonesOptions[index]")
              .side-stones-body-grade
                .side-stones-body-grade-label {{ $t('detailsPage.mainDetails.grade') }}
                multiselect(
                  v-if="multiselectMounted",
                  :class="`band-grade-${index}`"
                  @select="onGradeChange($event, index)"
                  :value="selectedStonesOptions[index].grade"
                  :options="productDetails.sidestoneOptions[index].grades",
                  track-by="id",
                  label="name",
                  :show-labels="false",
                  :allow-empty="false",
                  :searchable="false",
                  :option-height="35"
                )
              .side-stones-body-weight
                .side-stones-body-weight-label {{ $t('detailsPage.mainDetails.weight') }}
                multiselect(
                  v-if="multiselectMounted",
                  :class="`band-weight-${index}`"
                  @select="onWeightChange($event, index)"
                  :value="selectedStonesOptions[index].weight"
                  :options="sideStonesWeights(index, selectedStonesOptions[index].grade.id)",
                  track-by="name",
                  label="name",
                  :show-labels="false",
                  :allow-empty="false",
                  :searchable="false",
                  :option-height="35"
                )
        accordion-item-component(:disabled="isBlocked")
          .property-name.is-flex(slot="header")
            strong {{ $t('detailsPage.mainDetails.finish') }}
            .selected-value.is-flex
              span {{ selectedFinish.value }}
              v-image.selected-finish__image(:src="selectedFinish.img || ''")
          .property-values.is-flex
            .finish-icon.is-flex(v-for="finish in metalsFinish", :key="finish.key", @click="onSelectMetalFinish(finish)")
              v-image(:src="finish.img")
              span {{ $t(`detailsPage.mainDetails.bandFinish.${camelCase(finish.value)}`) }}
        accordion-item-component(:disabled="isBlocked")
          .property-name.is-flex(slot="header")
            .property-name-wrapper
              strong {{ $t('detailsPage.mainDetails.addEngraving') }}&nbsp
              span ({{ $t('detailsPage.mainDetails.optional') }})
            .selected-value.is-flex(v-if="selectedEngraving") "{{ selectedEngraving }}"
          .property-values
            engraving-component(v-model="selectedEngraving")
    #extend-offer(v-if="!inCart")
    .details-main-info-buttons.is-flex
      cart-button(:in-cart="inCart", @click="onCartButtonClick", :isBlocked="isBlocked")
        i18n(v-if="inCart", path="detailsPage.mainDetails.addedToCart", tag="span")
          v-link(slot="cart", :to="{name: 'cart-index'}") {{ $t('detailsPage.mainDetails.cart') }}
        span(v-else) {{ $t('detailsPage.productToCart', [[$t(`categories.${camelCase(productDetails.category)}`)]]) }}
    controls(:item="productDetails", :disabled="isBlocked")
    .details-main-info-quality.is-flex
      quality-value-heart
    sizing-guide
    share-product-email-modal
    question-about-product(:item="productDetails")
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import cloneDeep from 'lodash/cloneDeep'
import debounce from 'lodash/debounce'
import camelCase from 'lodash/camelCase'
import isEqual from 'lodash/isEqual'
import get from 'lodash/get'
import { mixin as clickaway } from 'vue-clickaway'
import _baseViewJewelries from './_baseViewJewelries'
import { getIconColor, getIconName, getItemId } from '~~/utils/utils'
import { serializeWeddingBands } from '~~/utils/serializators'
import {
  capitalizeFullString,
  caratFormatter,
  metalWeightFormatter,
  moneyFormatter,
  itemNameFormatter
} from '~~/utils/formatters'
import {
  productListTypeByCategory,
  metalsFinishMap
} from '~~/utils/definitions/defaults'

export default {
  name: 'BandsViewComponent',

  components: {
    EngravingComponent: () => import('~~/components/DetailsPage/Engraving'),
    SizingGuide: () => import('~~/components/DetailsPage/SizingGuide')
  },

  filters: {
    moneyFormatter,
    caratFormatter,
    metalWeightFormatter,
    capitalizeFullString
  },

  extends: _baseViewJewelries,

  mixins: [clickaway],

  data: () => ({
    multiselectMounted: false,
    finishTooltip: false,
    popperInstance: null,
    showRingSizeConfirmation: false
  }),

  computed: {
    ...mapGetters({
      fetched: 'fetched',
      loading: 'loading',
      productDetails: 'productDetails/productDetails',
      selectedOptions: 'productDetails/selectedOptions',
      cartItems: 'cart/items',
      ringSizeConfirmed: 'productDetails/ringSizeConfirmed',
      sideStonesWeights: 'productDetails/sideStonesWeights'
    }),

    stonesTotalWeight() {
      return this.productDetails.sidestoneOptions
        .map((stone, index) => {
          const weight = get(
            this.selectedOptions,
            `sidestoneOptions[${index}].weight.value`,
            0
          )
          return {
            index,
            stoneType: stone.stoneType,
            weight: stone.quantity * weight
          }
        })
        .filter((s) => s.weight)
    },

    /**
     * Customer should change ring size manually, or confirm the ring size is ok
     * @returns {boolean}
     */
    isRingSizeValid() {
      return this.ringSizeConfirmed
    },

    currentGuid() {
      return this.productDetails.guid
    },

    canUpdateAllSources() {
      return this.$route.query.source !== 'share'
    },

    selectedMetalType() {
      return this.selectedOptions.metalType || {}
    },

    selectedRingSize: {
      get() {
        return this.selectedOptions.ringSize || {}
      },

      set(ringSize) {
        this.pushParametersToUrl({ ringSize }, true)
        this.confirmRingSize()
      }
    },

    selectedRingWidth: {
      get() {
        return this.selectedOptions.ringWidth || {}
      },

      set(ringWidth) {
        this.pushParametersToUrl({ ringWidth }, true)
      }
    },

    selectedFinish: {
      get() {
        if (!this.selectedOptions.finish) return {}
        // need images for finish metals. Images were installed manually in metalsFinish computed property
        return this.metalsFinish.find(
          (size) => size.key === this.selectedOptions.finish.key
        )
      },

      set(finish) {
        this.pushParametersToUrl({ finish })
      }
    },

    selectedStonesOptions: {
      get() {
        if (!this.selectedOptions.sidestoneOptions) return []
        return cloneDeep(this.selectedOptions.sidestoneOptions)
      },

      set(sidestoneOptions) {
        this.pushParametersToUrl({ sidestoneOptions })
      }
    },

    selectedEngraving: {
      get() {
        return this.selectedOptions.engraving || ''
      },

      set(engraving) {
        this.pushParametersToUrl({ engraving })
      }
    },

    guid() {
      return this.$route.query.guid || this.currentGuid
    },

    inCart() {
      return this.cartItems.some((item) => {
        return getItemId(item, 'guid') === this.guid
      })
    },

    showStonesOptions() {
      return (
        !this.isPlain && get(this.productDetails, 'sidestoneOptions', []).length
      )
    },

    isDetails() {
      // details of setting item
      return (
        /ruby-wedding-rings-bands-id/.test(this.$route.name) ||
        /wedding-bands-without-gemstone-id/.test(this.$route.name)
      )
    },

    isPlain() {
      return this.productDetails.category === 'Plain Band'
    },

    type() {
      return productListTypeByCategory[this.productDetails.category]
    },

    ringSizes() {
      return this.productDetails.sizes || [] // default empty array for simple bands that added from listing page
    },

    ringWidths() {
      return this.productDetails.widths || []
    },

    metalTypes() {
      if (!this.productDetails.metalTypes) return []
      const metals = cloneDeep(this.productDetails.metalTypes)
      return metals.map((metal) => {
        metal.icon = metal.value
        metal.value = this.$t(
          `detailsPage.metalTypesNames.${camelCase(metal.value)}`
        )
        return metal
      })
    },

    metalsFinish() {
      return (this.productDetails.finish || []).map((metal) => {
        metal.img = metalsFinishMap[camelCase(metal.value)]
        metal.imgFull = metalsFinishMap[camelCase(`${metal.value}Full`)]
        return metal
      })
    }
  },

  watch: {
    selectedEngraving(newVal, oldVal) {
      if (newVal === oldVal) return
      this.updateAllSources()
    },

    selectedFinish(newVal, oldVal) {
      if (isEqual(newVal, oldVal)) return
      this.updateAllSources()
    }
  },

  beforeDestroy() {
    this.$off('fetch-details', this.updateDetails)
    this.$off('fetch-side-stones', this.updateSideStones)
    this.$off('update-sources', this.updateAllSources)
  },

  mounted() {
    this.$multiselect.insert(() => {
      this.multiselectMounted = true
    })
    this.$on('fetch-details', this.updateDetails)
    this.$on('fetch-side-stones', this.updateSideStones)
    this.$on('update-sources', this.updateAllSources)
    this.startWatch = true
  },

  methods: {
    ...mapActions({
      confirmRingSize: 'productDetails/confirmRingSize',
      resetDetails: 'productDetails/resetDetails',
      setDetailsItem: 'productDetails/setDetailsItem',
      setSelectedOptions: 'productDetails/setSelectedOptions',
      setSideStonesOptions: 'productDetails/setSideStonesOptions',
      fetchDetails: 'productDetails/fetchDetails',
      fetchSideStones: 'productDetails/fetchSideStones',
      updateWishlistItem: 'favorites/updateListItem',
      updateCompareListItem: 'compareList/updateListItem',
      updateCartItem: 'cart/updateListItem',
      addItemToCart: 'cart/addToList'
    }),

    async onRingSizeMounted() {
      this.popperInstance = await this.$popper.insert(
        this.$refs.ringSize.$el,
        this.$refs.popper,
        {
          placement: 'top',
          modifiers: [
            {
              name: 'offset',
              options: {
                offset: [0, 8]
              }
            },
            {
              name: 'arrow',
              options: {
                element: this.$refs.arrow
              }
            }
          ]
        }
      )
    },

    onOnConfirmationConfirm() {
      this.confirmRingSize()
      this.showRingSizeConfirmation = false
      this.$nextTick(() => {
        this.onCartButtonClick()
      })
    },

    onOnConfirmationCancel() {
      this.showRingSizeConfirmation = false
    },

    onClickAwayHandler() {
      this.showRingSizeConfirmation = false
    },

    async updateDetails() {
      this.$root.$emit('loading-start')
      const query = serializeWeddingBands(this.productDetails)
      query.force = true
      query.guid = this.productDetails.guid // keep guid, dont change
      await this.fetchDetails(query)
      this.$emit('update-sources')
      this.$root.$emit('loading-stop')
    },

    async updateSideStones() {
      this.$root.$emit('loading-start')
      const bandId = this.productDetails.id
      const bandWidth = this.productDetails.selectedOptions.ringWidth.key
      await this.fetchSideStones({ bandId, bandWidth })
      this.$emit('fetch-details')
      // loading will be stopped on details fetch
    },

    updateRoute(metal) {
      const path = this.localePath({
        path: `${this.$h.getDetailsPath({
          ...this.productDetails,
          metalTypeCode: metal.key,
          metalName: metal.value
        })}`,
        query: this.$h.flushQuery(this.$route.query)
      })
      window.history.pushState({}, '', path)
    },

    onSizesClickHandler() {
      this.$root.$emit('sizing-guide')
    },

    itemNameFormatter(item) {
      return itemNameFormatter.call(this, item)
    },

    async updateAllSources() {
      if (this.canUpdateAllSources) {
        const { source } = this.$route.query
        if (this.inCart && source === 'cart')
          this.updateCartItem({ item: cloneDeep(this.productDetails) })
        if (this.inWishlist && source === 'wishlist')
          await this.updateWishlistItem({
            item: cloneDeep(this.productDetails)
          })
        if (this.inCompareList && source === 'compare')
          await this.updateCompareListItem({
            item: cloneDeep(this.productDetails)
          })
      }
    },

    updateEngravingDebounced: debounce(function (engraving) {
      this.setSelectedOptions({ engraving })
      this.$emit('update-sources')
    }, 500),

    onSelectMetalFinish(finish) {
      this.selectedFinish = finish
    },

    onSelectMetalType(metalTypeCode) {
      const metal = cloneDeep(metalTypeCode)
      metal.value = metal.icon // this do b/c metal.value is in chinese lang but in metal.icon metal name is in english
      this.setSelectedOptions({ metalType: metal })
      this.$emit('fetch-details')
      if (this.isDetails) this.updateRoute(metal)
    },

    onCartButtonClick() {
      if (!this.isRingSizeValid) {
        setTimeout(() => {
          this.showRingSizeConfirmation = true
          this.popperInstance.update()
        }, 10)
        return
      }
      if (this.inCart) return
      this.addItemToCart({
        item: this.productDetails,
        extendPlan: this.$extendSDK.getPlan()
      })

      // avoid adding multiple items after page refresh
      this.pushGuidToURL()
    },

    pushGuidToURL() {
      if (!this.currentGuid) return
      this.stopWatchParams = true
      const query = cloneDeep(this.$route.query)
      query.guid = this.currentGuid
      this.$router.push({ query })
      setTimeout(() => {
        this.stopWatchParams = false
      }, 10)
    },

    onWeightChange(value, index) {
      const params = {
        weight: [],
        grade: [],
        position: [],
        clarity: []
      }
      this.selectedStonesOptions.forEach((line, idx) => {
        params.grade[idx] = line.grade
        params.position[idx] = line.position
        params.clarity[idx] = line.clarity

        if (index === idx) {
          params.weight[idx] = value
          return
        }
        params.weight[idx] = this.selectedStonesOptions[idx].weight
      })

      this.pushParametersToUrl(params)
      setTimeout(() => {
        this.$emit('fetch-details')
      }, 10)
    },

    onGradeChange(value, index) {
      const params = {
        weight: [],
        grade: [],
        position: [],
        clarity: []
      }
      this.selectedStonesOptions.forEach((line, idx) => {
        params.grade[idx] =
          index === idx ? value : this.selectedStonesOptions[idx].grade

        params.weight[idx] = this.getDefaultWeight(
          params.grade[idx],
          idx,
          line.weight
        )
        params.position[idx] = line.position
        params.clarity[idx] = line.clarity
      })

      this.pushParametersToUrl(params)
      setTimeout(() => {
        this.$emit('fetch-details')
      }, 10)
    },

    /**
     * Each Grade may have different possible weights. After selecting new grade
     * we should verify if old weight acceptable for new grade or not. If not
     * we will select first weight from valid weights for selected grade
     * @param {object} grade - selected grade
     * @param {integer} index - side stones line
     * @param {object} oldWeight - previously selected weight for this line
     */
    getDefaultWeight(grade, index, oldWeight) {
      const weights = this.sideStonesWeights(index, grade.id)
      return weights.find((w) => w.id === oldWeight.id) || weights[0]
    },

    camelCase,
    caratFormatter,

    getIconColor,
    getItemId,
    getIconName
  }
}
</script>

<style lang="sass" scoped>
.arrow,
.arrow::before
  background-color: #f9f9f9
  box-shadow: 0 5px 30px rgba(black, .1)
  position: absolute
  width: 16px
  height: 16px
  border: 1px solid $error-color
.arrow
  z-index: -1
  visibility: hidden
.arrow::before
  visibility: visible
  content: ''
  transform: rotate(45deg)

.property-name-confirmation[data-popper-placement^='top'] > .arrow
  bottom: -7px

.property-name-confirmation[data-popper-placement^='bottom'] > .arrow
  top: -7px

.property-name-confirmation[data-popper-placement^='left'] > .arrow
  right: -7px

.property-name-confirmation[data-popper-placement^='right'] > .arrow
  left: -7px

.details-main-info
  padding: 0 50px
  #extend-offer
    margin-top: 30px
  +tablet-only
    padding-right: 0
  +mobile
    padding: 0
  &-quality
    justify-content: center
    margin-top: 25px
  &-options
    margin-top: 20px
    .side-stones
      padding: 10px
      &-body
        &-grade,
        &-weight
          width: 50%
        &-weight
          margin-left: 20px
    .accordion-item
      &:not(:last-child)
        ::v-deep
          .accordion-item-header
            border-bottom: 0
    .property-name
      justify-content: space-between
      width: 100%
      align-items: center
      padding-right: 10px
      .selected-finish__image
        &::v-deep
          img
            border-radius: 50%
      &-confirmation
        z-index: 999
        max-width: 300px
        box-shadow: 0 5px 30px rgba(black, .1)
        border: 1px solid $error-color
        @include border-radius(3px)
        @include transition(opacity, .5s)
      &-confirmation-body
        background: #f9f9f9
        color: $default-font-color
        padding: 15px
        z-index: 1
        .buttons
          margin-top: 10px
          .button
            padding-bottom: calc(.5em - 1px)
            padding-left: 1em
            padding-right: 1em
            padding-top: calc(.5em - 1px)
            &.is-ghost
              color: $default-font-color
      .selected-value
        align-items: center
        font-weight: 400
        ::v-deep
          img
            border: 1px solid $border-color
        span
          margin-right: 10px
    .property-values
      flex-wrap: wrap
      padding: 20px
      margin-top: -10px
      .metal-icon
        cursor: pointer
        margin-top: 10px
        padding: 0 10px
        font-size: 12px
        text-align: center
        max-width: 85px
        align-items: center
        flex-direction: column
      .finish-icon + .finish-icon
        margin-left: 20px
      .finish-icon
        @extend .metal-icon
        max-width: 35px
        padding: 0
        ::v-deep
          img
            border: 1px solid $border-color
            border-radius: 50%
      .ring-size-selector
        flex: auto
        margin-right: 15px
      .ring-sizes
        cursor: pointer
        align-items: center
        span
          margin-left: 5px
    .values-error
      margin-top: -15px
      padding: 0 20px 20px
      color: $error-color
  &-name
    padding-top: .5em
    font-family: $lora
    font-size: 42px
    line-height: 45px
    +tablet
      font-size: 35px
    +mobile
      font-size: 35px
  &-id
    margin-top: 15px
    align-items: center
    text-transform: uppercase
    svg
      margin-right: 10px
  .product-price
    margin-top: 10px
    margin-bottom: 20px
  &-buttons
    margin-top: 30px
    flex-direction: column
    button + button
      margin-top: 20px
    .in-cart
      padding: 10px 15px
      border-left: 4px solid $dark-primary-color
      a
        color: $inactive-element
        text-decoration: underline
</style>
