<template lang="pug">
  .details-main-info
    h1.details-main-info-name.is-italic(v-html="itemNameFormatter(item)")
    .details-main-info-preview(v-if="previewId")
      .details-main-info-mto.is-inline-flex
        icon(iconName="mto", iconColor="#8c7956")
        span {{ $t('detailsPage.mainDetails.thisIsMto') }}
      .details-main-info-id.is-flex
        icon(width="14", height="17", iconName="completedRing", iconColor="#8c7956")
        span {{ $t('detailsPage.mainDetails.designId') }}: {{ previewId }}
    .details-main-info-stone.is-flex(:class="{'info-offset': !previewId}")
      .details-main-info-id.is-flex
        icon(width="14", height="12", iconName="stone", iconColor="#8c7956")
        span {{ $t('detailsPage.mainDetails.stoneItemId') }}:
          v-link(:to="getDetailsPath(item.customStone)") {{ item.customStone.id }}
      price#stone-price(price-layout="inline", :show-local="false", type="stone", :tooltip="true", :item="item")
    .details-main-info-setting.is-flex
      .details-main-info-id.is-flex
        icon(width="14", height="17", iconName="setting", iconColor="#8c7956")
        span {{ $t('detailsPage.mainDetails.settingItemId') }}:
          v-link(:to="getDetailsPath(item.customSetting)") {{ item.customSetting.id }}
      price#setting-price(price-layout="inline", :show-local="false", type="setting", :tooltip="true", :item="item")
    no-hassle-policy
    item-availability
    price(priceLayout="columnLabel", :tooltip="true", :item="item")
    .details-main-info-production-time
      strong {{ $t('customItem.productionTime') }}:&nbsp;
      span {{ $t('customItem.productionTimePeriod', [item.customSetting.productionTimeFrom, item.customSetting.productionTimeTo]) }}
    .details-main-info-chain(v-if="['Setting_Pendant', 'Setting_Necklace'].includes(customSetting.category)")
      strong {{ $t('detailsPage.mainDetails.chain') }}
    .details-main-info-production-time-push.is-italic {{ $t('customItem.pushService') }}
    .details-main-info-options
      accordion-component
        accordion-item-component(:disabled="isBlocked")
          .property-name.is-flex(slot="header")
            strong {{ $t('detailsPage.mainDetails.metal') }}
            .selected-value.is-flex
              span {{ selectedMetalType.value }}
              icon(:key="selectedMetalType.icon", width="26", height="26", :iconColor="getIconColor(selectedMetalType.icon)", :iconName="getIconName(selectedMetalType.icon)")
          .property-values.is-flex
            .metal-icon.is-flex(v-for="metal in metalTypes", :key="metal.id", @click="onSelectMetalType(metal)")
              icon(width="36", height="36", :iconColor="getIconColor(metal.icon)", :iconName="getIconName(metal.icon)")
              span {{ metal.value }}

        accordion-item-component(ref="ringSize", @mounted="initRingSizePopper", v-if="showRingSizeField", :disabled="isBlocked")
          .property-name.is-flex(slot="header")
            strong {{ $t('detailsPage.mainDetails.size') }}
            .selected-value {{ selectedRingSize.value }}
          .property-values.is-flex
            .ring-size-selector
              multiselect(
                v-if="multiselectMounted",
                class="ring-size",
                v-model="selectedRingSize",
                @select="confirmRingSize",
                :options="ringSizes",
                track-by="key",
                label="value",
                select-label="",
                :show-labels="false",
                selected-label="",
                :allow-empty="false",
                :searchable="false",
                :option-height="35"
                :placeholder="$t('detailsPage.mainDetails.ringDetails.chooseRingSize')"
              )
            .ring-sizes.is-flex(@click="onSizesClickHandler")
              icon(iconName="sizingGuide")
              span {{ $t('detailsPage.mainDetails.sizingGuide') }}
        .popup-confirmation(ref="ringSizePopper", v-if="showRingSizeField", v-show="showRingSizeConfirmation", v-on-clickaway="onClickAwayHandler")
          .arrow(ref="ringSizeArrow", data-popper-arrow)
          .popup-confirmation-body
            .confirmation-message {{ $t('detailsPage.mainDetails.confirmation.ringSize', { ringSize: selectedRingSize.value }) }}
            .buttons.are-small
              button.button.gold-color.light(@click="onRingSizeConfirm") {{ $t('detailsPage.mainDetails.confirmation.confirm') }}
              button.button.is-ghost(@click="onOnConfirmationCancel") {{ $t('detailsPage.mainDetails.confirmation.cancel') }}

        accordion-item-component(:disabled="isBlocked", v-if="showProngs")
          .property-name.is-flex(slot="header")
            strong {{ $t('detailsPage.mainDetails.prongs') }}
            .selected-value.is-flex(v-if="selectedProng.name")
              span {{ selectedProng.name }}
          .property-values.prongs.is-flex
            tooltip(v-for="prong in prongs", :key="prong.id", @show="lazyUpdate")
              .prong-img.is-flex(slot="target", @click="onSelectProng(prong)", :class="{ selected: prong.id === selectedProng.id }")
                v-image(:src="prong.image", :alt="prong.name")
                span {{ prong.name }}
              v-image(:src="prong.image", :alt="prong.name", :lazy="false")

        accordion-item-component(v-if="showStonesOptions", :disabled="isBlocked")
          .property-name.is-flex(slot="header")
            strong {{ $t('detailsPage.mainDetails.sideStones') }}
            .selected-values.is-flex
              .selected-value(v-for="(stone, index) in selectedStonesOptions")
                span {{ $t('detailsPage.mainDetails.grade') }}: {{ stone.grade.name }},
                span {{ $t('detailsPage.mainDetails.totalWeight') }} {{ sideStoneSource[index].quantity * stone.weight.value | weightPaveFormatter }}
          .side-stones(v-for="(stone, index) in sideStones", :key="$h.guid()")
            .side-stones-title
              strong {{ $t(`detailsPage.mainDetails.stoneShapesName.${camelCase(stone.shape)}`) }} {{ stone.color }} {{ $t(`detailsPage.mainDetails.stoneTypeName.${camelCase(stone.stoneType)}`) }}
            .side-stones-body.is-flex(v-if="selectedStonesOptions[index]")
              .side-stones-body-grade
                .side-stones-body-grade-label {{ $t('detailsPage.mainDetails.grade') }}
                multiselect(
                  v-if="multiselectMounted",
                  :class="`side-grade-${index}`"
                  @select="onGradeChange($event, index)"
                  :value="selectedStonesOptions[index].grade"
                  :options="sideStones[index].grades",
                  track-by="id",
                  label="name",
                  :show-labels="false",
                  :allow-empty="false",
                  :searchable="false",
                  :option-height="35"
                )
              .side-stones-body-weight
                .side-stones-body-weight-label {{ $t('detailsPage.mainDetails.weight') }}
                multiselect(
                  v-if="multiselectMounted",
                  :class="`side-weight-${index}`"
                  @select="onWeightChange($event, index)"
                  :value="selectedStonesOptions[index].weight"
                  :options="sideStonesWeights(index, selectedStonesOptions[index].grade.id)",
                  track-by="name",
                  label="name",
                  :show-labels="false",
                  :allow-empty="false",
                  :searchable="false",
                  :option-height="35"
                )

        accordion-item-component(v-if="showPaveStones")
          .property-name.is-flex(slot="header")
            .property-name-wrapper
              strong {{ $t('detailsPage.mainDetails.paveStone') }}
            .selected-value(v-if="totalPaveStonesWeight") {{ totalPaveStonesWeight | caratPaveFormatter }}
          .property-values
            .pave-stone(v-for="stones in paveStones", :key="stones.key") {{ $t('detailsPage.mainDetails.totalPaveWeight', [$t(`detailsPage.mainDetails.paveStones.${stones.key.toLowerCase()}`), caratPaveFormatter(stones.value)]) }}

        accordion-item-component(v-if="customSetting.vedicSetting", :disabled="isBlocked")
          .property-name.is-flex(slot="header")
            strong {{ $t('detailsPage.mainDetails.vedic') }}
            .selected-value.is-flex {{ $t(`detailsPage.mainDetails.vedic${ selectedVedicSetting? '' : 'Not' }Selected`) }}
          vedic-section(v-model="selectedVedicSetting", :disabled="isBlocked")

        accordion-item-component(:disabled="isBlocked", v-if="showEngraving")
          .property-name.is-flex(slot="header")
            .property-name-wrapper
              span
                strong {{ $t('detailsPage.mainDetails.addEngraving') }}&nbsp
              span ({{ $t('detailsPage.mainDetails.optional') }})
            .selected-value(v-if="selectedEngraving") "{{ selectedEngraving }}"
          .property-values
            engraving-component(v-model="selectedEngraving")

        accordion-item-component(:disabled="isBlocked")
          .property-name.is-flex(slot="header")
            .property-name-wrapper
              span
                strong {{ $t('customItem.polymer.title') }}&nbsp
              span ({{ $t('detailsPage.mainDetails.optional') }})
          .property-values
            .polymer-model
              .polymer-model-wrapper.is-flex
                .polymer-model-info
                  p {{ $t('customItem.polymer.text') }}
                  button.polymer-model-button.button.gold-color.light.is-hidden-touch(@click="onWaxCartButtonClick") {{ $t('customItem.polymer.button') }}
                .polymer-model-icon
                  v-image(:src="`details/wax@2x.png`")
                  p {{ $t('customItem.polymer.price') }}
              button.polymer-model-button.button.gold-color.light.is-hidden-desktop(@click="onWaxCartButtonClick") {{ $t('customItem.polymer.button') }}
    #extend-offer(v-if="showExtendWarranty")
    .details-main-info-buttons.is-flex
      button.button.gold-color(@click="onShowRequestDialog", v-if="showRequestPreview", :disabled="isBlocked") {{ $t('customItem.freePreview') }}
      cart-button(ref="cartButton", :in-cart="inCart", @click="onCartButtonClick", :light="showRequestPreview", :isBlocked="isBlocked")
        i18n(v-if="inCart", path="detailsPage.mainDetails.addedToCart", tag="span")
          v-link(slot="cart", :to="{name: 'cart-index'}") {{ $t('detailsPage.mainDetails.cart') }}
        span(v-else) {{ $t('detailsPage.productToCart', [[$t(`categories.settings.${camelCase(customSetting.category)}`)]]) }}
      .popup-confirmation(ref="inCartPopper", v-show="showRemoveFromCartConfirmation", v-on-clickaway="onClickAwayHandler")
        .arrow(ref="inCartArrow", data-popper-arrow)
        .popup-confirmation-body
          .confirmation-message {{ $t('detailsPage.mainDetails.confirmation.inCart') }}
          .buttons.are-small
            button.button.gold-color.light(@click="onRemoveFromCartConfirm") {{ $t('detailsPage.mainDetails.confirmation.confirm') }}
            button.button.is-ghost(@click="onOnConfirmationCancel") {{ $t('detailsPage.mainDetails.confirmation.cancel') }}

    controls(:item="item", :disabled="isBlocked")
    .details-main-info-quality.is-flex
      quality-value-heart
    share-product-email-modal
    question-about-product(:item="item")
    sizing-guide
    request-preview
</template>

<script>
import { mapGetters, mapActions, mapState } from 'vuex'
import omit from 'lodash/omit'
import cloneDeep from 'lodash/cloneDeep'
import debounce from 'lodash/debounce'
import camelCase from 'lodash/camelCase'
import isEmpty from 'lodash/isEmpty'
import { mixin as clickaway } from 'vue-clickaway'
import _baseView from './_baseView'
import CartButton from './CartButton'
import {
  caratPaveFormatter,
  itemNameFormatter,
  weightPaveFormatter
} from '~~/utils/formatters'
import { parametersNamesMap } from '~~/utils/definitions/itemParameters'
import extendWarrantyMixin from '~~/mixins/extendWarrantyMixin'
import {
  getDetailsPath,
  getIconColor,
  getIconName,
  getItemId
} from '~~/utils/utils'

export default {
  name: 'CustomItemViewComponent',

  components: {
    CartButton,
    VedicSection: () => import('./Vedic'),
    InCart: () => import('~~/components/DetailsPage/InCart'),
    Tooltip: () => import('~~/components/Common/Tooltip'),
    RequestPreview: () => import('~~/components/DetailsPage/RequestPreview'),
    InCartStone: () => import('~~/components/DetailsPage/InCartStone'),
    AccordionItemComponent: () =>
      import('~~/components/Common/Accordion/AccordionItem'),
    AccordionComponent: () => import('~~/components/Common/Accordion/Accordion'),
    EngravingComponent: () => import('~~/components/DetailsPage/Engraving'),
    SizingGuide: () => import('~~/components/DetailsPage/SizingGuide')
  },

  filters: {
    caratPaveFormatter,
    weightPaveFormatter
  },

  extends: _baseView,

  mixins: [clickaway, extendWarrantyMixin],

  data: () => ({
    popperInstances: {
      ringSize: null,
      inCart: null
    },
    showRingSizeConfirmation: false,
    showRemoveFromCartConfirmation: false,
    removeFromCartConfirmed: false
  }),

  computed: {
    ...mapState({
      preview: (state) => state.customItem.preview,
      guid: (state) => state.customItem.guid
    }),
    ...mapGetters({
      fetched: 'fetched',
      isPreview: 'customItem/isPreview',
      ringSizeConfirmed: 'customItem/ringSizeConfirmed',
      item: 'customItem/customItem',
      itemWax: 'customItem/customItemWax',
      customStone: 'customItem/customStone',
      customSetting: 'customItem/customSetting',
      selectedOptions: 'customItem/selectedOptions',
      wishlistCustomItems: 'favorites/customItems',
      compareCustomItems: 'compareList/customItems',
      itemId: 'customItem/itemId',
      cartItems: 'cart/items',
      finalPrice: 'customItem/finalPrice',
      sideStones: 'customItem/sideStones',
      sideStonesWeights: 'customItem/sideStonesWeights',
      isBankWire: 'cart/isBankWire'
    }),

    // needed for extend warranty mixin
    stoneInCart() {
      return this.cartItems.some((item) => {
        if (item.category === 'Wax') return false
        if (item.customStone) {
          return item.customStone.id === this.customStone.id
        }
        return item.id === this.customStone.id
      })
    },

    totalPaveStonesWeight() {
      return this.paveStones
        .map((s) => s.value)
        .reduce((accumulator, weight) => Number(accumulator) + Number(weight))
    },

    paveStones() {
      return this.customSetting.pavesWeight || []
    },

    showPaveStones() {
      return this.paveStones.length
    },

    isRingItem() {
      return this.customSetting.category === 'Setting_Ring'
    },

    showRingSizeField() {
      return this.isRingItem
      // return this.selectedRingSize && this.selectedRingSize.key
    },

    /**
     * Customer should change ring size manually, or confirm the ring size is ok
     * @returns {boolean}
     */
    isRingSizeValid() {
      return this.ringSizeConfirmed
    },

    previewId() {
      return this.preview.itemRealId || ''
    },

    showEngraving() {
      return ['Setting_Ring'].includes(this.customSetting.category)
    },

    /**
     * If not a preview (MTO)
     * @returns {boolean}
     */
    showProngs() {
      return !!this.customSetting.prongs.length
    },

    showRequestPreview() {
      return isEmpty(this.preview)
    },

    showStonesOptions() {
      return !!this.sideStones.length
    },

    selectedMetalType() {
      if (!this.selectedOptions.metalTypeCode) return {}
      const metal = cloneDeep(this.selectedOptions.metalTypeCode)
      metal.icon = metal.value
      metal.value = this.$t(
        `detailsPage.metalTypesNames.${camelCase(metal.value)}`
      )
      return metal
    },

    selectedProng() {
      if (!this.selectedOptions.prong) return {}
      const prong = cloneDeep(this.selectedOptions.prong)
      prong.name = this.$t(`detailsPage.prongsNames.${camelCase(prong.type)}`)
      return prong
    },

    isCustomItemChanged() {
      if (this.$route.query.source !== 'dyo') return false
      return (
        this.changeStoneId !== this.$h.getItemId(this.customStone) ||
        this.changeSettingId !== this.$h.getItemId(this.changeSettingId)
      )
    },

    canUpdateSources() {
      // if (this.$route.query.source === 'design') return false
      return this.$route.query.source !== 'share'
    },

    selectedRingSize: {
      get() {
        return this.selectedOptions.ringSize
      },

      set(ringSize) {
        this.pushParametersToUrl({ ringSize })
        setTimeout(() => {
          this.$emit('update-side-stones')
        })
      }
    },

    selectedVedicSetting: {
      get() {
        return this.selectedOptions.vedicSetting || false
      },
      set(vedicSetting) {
        this.pushParametersToUrl(
          { vedicSetting },
          false,
          true,
          this.updateAllSources
        )
        if (!vedicSetting) this.setSelectedOptions({ vedicSetting })
      }
    },

    selectedEngraving: {
      get() {
        return this.selectedOptions.engraving
      },

      set(engraving) {
        this.updateEngravingDebounced(engraving)
      }
    },

    inCart() {
      return this.cartItems.some(
        (item) => item.guid === this.guid && item.category !== 'Wax'
      )
    },

    // validate if there are any other items with this stone in the cart
    isStoneInCart() {
      return this.cartItems.some((item) => {
        if (item.category === 'Wax') return false
        if (item.customStone) {
          return item.customStone.id === this.customStone.id
        }
        return false
      })
    },

    metalTypes() {
      if (!this.customSetting.metalTypes) return []
      const metals = cloneDeep(this.customSetting.metalTypes)
      return metals.map((metal) => {
        metal.icon = metal.value
        metal.value = this.$t(
          `detailsPage.metalTypesNames.${camelCase(metal.value)}`
        )
        return metal
      })
    },

    prongs() {
      if (!this.customSetting.prongs) return []
      const prongs = cloneDeep(this.customSetting.prongs)
      return prongs.map((prong) => {
        prong.name = this.$t(`detailsPage.prongsNames.${camelCase(prong.type)}`)
        return prong
      })
    },

    ringSizes() {
      return this.customSetting.sizes
    },

    selectedStonesOptions() {
      if (!this.selectedOptions) return []
      return this.selectedOptions.sidestoneOptions || []
    },

    completePrice() {
      if (this.isBankWire && this.customStone.bankWirePrice && this.inCart) {
        const stonePrice = this.customStone.bankWirePrice
        const settingPrice = this.finalPrice.settingPrice
        return Number(stonePrice) + Number(settingPrice)
      }
      if (this.customStone.discountPrice) {
        const stonePrice = this.customStone.discountPrice
        const settingPrice = this.finalPrice.settingPrice
        return Number(stonePrice) + Number(settingPrice)
      }
      return this.finalPrice.totalPrice
    },

    isHasDiscount() {
      return this.isBankWirePrice || this.customStone.discountPrice
    },

    isBankWirePrice() {
      return this.isBankWire && this.customStone.bankWirePrice && this.inCart
    },

    isDev() {
      return process.env.NODE_ENV !== 'production'
    }
  },

  created() {
    this.setParamsToStore()
  },

  beforeDestroy() {
    this.$root.$off('wax-purchase', this.onWaxCartButtonClick)
    this.$off(['update-price', 'update-side-stones'])
    Object.values(this.popperInstances).forEach((instance) => {
      if (instance) instance.destroy()
    })
  },

  async mounted() {
    this.$root.$on('wax-purchase', this.onWaxCartButtonClick)
    this.$on('update-price', this.updatePrice)
    this.$on('update-side-stones', this.updateSideStones)
    this.$multiselect.insert(() => {
      setTimeout(() => {
        this.multiselectMounted = true
      }, 10)
    })
    await this.updateAllSourcesWithNewSettings()
    this.initInCartPopper()
    this.startWatch = true
  },

  methods: {
    ...mapActions({
      confirmRingSize: 'customItem/confirmRingSize',
      resetCustomItem: 'customItem/resetCustomItem',
      getFinalOptions: 'customItem/getFinalOptions',
      fetchPrice: 'customItem/fetchPrice',
      setSelectedOptions: 'customItem/setSettingOptions',
      setSideStonesOptions: 'customItem/setSideStonesOptions',
      setWishlistSettingOptions: 'favorites/setSettingOptions',
      setWishlistSideStonesOptions: 'favorites/setSideStonesOptions',
      updateCustomItemPrice: 'favorites/updateCustomItemPrice',
      updateWishlistItem: 'favorites/updateListItem',
      updateCompareListItem: 'compareList/updateListItem',
      updateCartItem: 'cart/updateListItem',
      replaceWishlistItem: 'favorites/replaceListItem',
      addItemToCart: 'cart/addToList',
      removeFromCartSilent: 'cart/removeFromListSilent'
    }),

    getConfirmationPopperOptions(name) {
      return {
        placement: 'top',
        modifiers: [
          {
            name: 'offset',
            options: {
              offset: [0, 8]
            }
          },
          {
            name: 'arrow',
            options: {
              element: this.$refs[`${name}Arrow`]
            }
          }
        ]
      }
    },

    lazyUpdate() {
      window.lazyUpdate()
    },

    onClickAwayHandler() {
      this.showRingSizeConfirmation = false
      this.showRemoveFromCartConfirmation = false
    },

    onRingSizeConfirm() {
      this.confirmRingSize()
      this.showRingSizeConfirmation = false
      this.$nextTick(() => {
        this.onCartButtonClick()
      })
    },

    onRemoveFromCartConfirm() {
      this.removeItemsFromCartWithSameStone()
      this.showRemoveFromCartConfirmation = false
      this.$nextTick(() => {
        this.onCartButtonClick()
      })
    },

    removeItemsFromCartWithSameStone() {
      this.cartItems.forEach((item) => {
        if ([item.id, item.customStone?.id].includes(this.customStone.id)) {
          this.removeFromCartSilent(item)
        }
      })
    },

    onOnConfirmationCancel() {
      this.showRingSizeConfirmation = false
    },

    async initRingSizePopper() {
      this.popperInstances.ringSize = await this.$popper.insert(
        this.$refs.ringSize.$el,
        this.$refs.ringSizePopper,
        this.getConfirmationPopperOptions('ringSize')
      )
    },

    async initInCartPopper() {
      this.popperInstances.inCart = await this.$popper.insert(
        this.$refs.cartButton.$el,
        this.$refs.inCartPopper,
        this.getConfirmationPopperOptions('inCart')
      )
    },

    getDetailsPath,

    async updatePrice() {
      this.$root.$emit('loading-start')
      await this.fetchPrice()
      await this.updateAllSources()
      this.updateRoute()
      this.$root.$emit('update-price-end')
      this.$root.$emit('loading-stop')
    },

    async updateSideStones() {
      this.$root.$emit('loading-start')
      await this.getFinalOptions() // if there is side stones
      this.$emit('update-price')
    },

    updateRoute() {
      if (this.$route.path !== this.$h.getDetailsPath(this.item)) {
        const route = this.localePath({
          path: `${this.$h.getDetailsPath(this.item)}`,
          query: this.flushQuery(this.$route.query)
        })
        this.$router.replace(route)
      } else {
        this.$router.push({ query: this.flushQuery(this.$route.query) })
      }
      // window.history.pushState({}, '', path)
    },

    flushQuery(query) {
      const paramsToOmit = []
      if (this.isPreview || !this.customSetting.prongs.length) {
        paramsToOmit.push(parametersNamesMap.prong)
      }
      return omit(query, paramsToOmit)
    },

    onShowRequestDialog() {
      this.$root.$emit('request-preview')
    },

    onSizesClickHandler() {
      this.$root.$emit('sizing-guide')
    },

    async updateAllSourcesWithNewSettings(silent = false) {
      if (this.canUpdateSources) {
        const { source } = this.$route.query
        if (this.inWishlist && source === 'wishlist')
          await this.findAndUpdate(
            this.item,
            this.wishlistCustomItems,
            this.updateWishlistItem
          )
        if (this.inCompareList && source === 'compare')
          await this.findAndUpdate(
            this.item,
            this.compareCustomItems,
            this.updateCompareListItem
          )
        if (this.inCart && source === 'cart')
          await this.findAndUpdate(
            this.item,
            this.cartItems,
            this.updateCartItem
          )
      }
    },

    async findAndUpdate(item, list, func) {
      const customItem = list.find((i) => i.guid === this.$route.query.guid)
      if (customItem) {
        if (
          customItem.customStone.id !== item.customStone.id ||
          customItem.customSetting.id !== item.customSetting.id
        )
          await func({ item, silent: false })
      }
    },

    async updateAllSources(silent = false) {
      if (this.canUpdateSources) {
        const { source } = this.$route.query
        if (this.inWishlist && source === 'wishlist')
          await this.updateWishlistItem({ item: this.item, silent })
        if (this.inCompareList && source === 'compare')
          await this.updateCompareListItem({ item: this.item, silent })
        if (this.inCart && source === 'cart')
          this.updateCartItem({ item: this.item, silent })
      }
    },

    ringSizeConfirmation() {
      if (this.isRingItem && !this.isRingSizeValid) {
        setTimeout(() => {
          this.showRingSizeConfirmation = true
          this.popperInstances.ringSize.update()
        }, 10)
        return false
      }
      return true
    },

    removeFromCartConfirmation() {
      if (this.removeFromCartConfirmed) return true
      if (this.isStoneInCart) {
        setTimeout(() => {
          this.showRemoveFromCartConfirmation = true
          this.popperInstances.inCart.update()
        }, 10)
        return false
      }
      return true
    },

    onCartButtonClick() {
      if (!this.ringSizeConfirmation()) return
      if (!this.removeFromCartConfirmation()) return

      this.removeItemsFromCartWithSameStone() // remove stones from cart

      if (!this.isPreview) {
        this.showExtendModal((plan, product) => {
          this.addToCart(plan)
        })
        return
      }

      this.addToCart(this.$extendSDK.getPlan())
    },

    addToCart(plan) {
      this.addItemToCart({
        item: this.item,
        extendPlan: plan
      })
      this.$root.$once('routeChanged', this.resetCustomItem)
      this.$router.push(this.localePath({ name: 'cart-index' }))
    },

    onWaxCartButtonClick() {
      this.addItemToCart({ item: this.itemWax })
      this.$router.push(this.localePath({ name: 'cart-index' }))
      setTimeout(() => {
        this.resetCustomItem()
      }, 1000)
    },

    updateEngravingDebounced: debounce(function (engraving) {
      this.pushParametersToUrl(
        { engraving },
        false,
        false,
        this.updateAllSources
      )
    }, 500),

    onWeightChange(value, index) {
      const params = {
        weight: [],
        grade: [],
        position: [],
        clarity: []
      }
      for (let i = 0; i < this.sideStoneSource.length; i++) {
        params.weight[i] =
          index === i ? value : this.selectedStonesOptions[i].weight
      }

      this.selectedStonesOptions.forEach((line, idx) => {
        params.position[idx] = line.position
        params.clarity[idx] = line.clarity
        params.grade[idx] = line.grade
      })

      this.pushParametersToUrl(params)

      setTimeout(() => {
        this.$emit('update-price')
      }, 10)
    },

    /**
     * Each Grade may have different possible weights. After selecting new grade
     * we should verify if old weight acceptable for new grade or not. If not
     * we will select first weight from valid weights for selected grade
     * @param {object} grade - selected grade
     * @param {integer} index - side stones line
     * @param {object} oldWeight - previously selected weight for this line
     */
    getDefaultWeight(grade, index, oldWeight) {
      const weights = this.sideStonesWeights(index, grade.id)
      return weights.find((w) => w.id === oldWeight.id) || weights[0]
    },

    onGradeChange(value, index) {
      const params = {
        weight: [],
        grade: [],
        position: [],
        clarity: []
      }
      for (let i = 0; i < this.sideStoneSource.length; i++) {
        params.grade[i] =
          index === i ? value : this.selectedStonesOptions[i].grade
      }

      this.selectedStonesOptions.forEach((line, idx) => {
        params.position[idx] = line.position
        params.clarity[idx] = line.clarity
        params.weight[idx] = this.getDefaultWeight(
          params.grade[idx],
          idx,
          line.weight
        )
      })

      this.pushParametersToUrl(params)

      setTimeout(() => {
        this.$emit('update-price')
      }, 10)
    },

    onSelectMetalType(metalTypeCode) {
      const metal = cloneDeep(metalTypeCode)
      metal.value = metal.icon // this do b/c metal.value is in chinese lang but in metal.icon metal name is in english
      this.setSelectedOptions({ metalTypeCode: metal })
      setTimeout(() => {
        this.$emit('update-side-stones')
      }, 10)
    },

    onSelectProng(prongObj) {
      const prong = cloneDeep(prongObj)
      this.pushParametersToUrl({ prong }, false, false, this.updateAllSources)
    },

    itemNameFormatter(item) {
      return itemNameFormatter.call(this, item)
    },

    caratPaveFormatter,

    getIconColor,

    getIconName,

    getItemId,

    camelCase
  }
}
</script>

<style lang="sass" scoped>
.arrow,
.arrow::before
  background-color: #f9f9f9
  box-shadow: 0 5px 30px rgba(black, .1)
  position: absolute
  width: 16px
  height: 16px
  border: 1px solid $error-color
.arrow
  z-index: -1
  visibility: hidden
.arrow::before
  visibility: visible
  content: ''
  transform: rotate(45deg)

.popup-confirmation[data-popper-placement^='top'] > .arrow
  bottom: -7px

.popup-confirmation[data-popper-placement^='bottom'] > .arrow
  top: -7px

.popup-confirmation[data-popper-placement^='left'] > .arrow
  right: -7px

.popup-confirmation[data-popper-placement^='right'] > .arrow
  left: -7px

.popup-confirmation
  z-index: 999
  max-width: 300px
  box-shadow: 0 5px 30px rgba(black, .1)
  border: 1px solid $error-color
  @include border-radius(3px)
  @include transition(opacity, .5s)
.popup-confirmation-body
  background: #f9f9f9
  color: $default-font-color
  padding: 15px
  z-index: 1
  .buttons
     margin-top: 10px
     .button + .button
       margin-top: unset
     .button
       padding: calc(.5em - 1px) 1em
       &.is-ghost
         color: $default-font-color

.details-main-info
  padding: 0 50px
  margin-top: 43px
  border-top: 1px solid $border-color
  +mobile
    border-top: unset
  #extend-offer
    margin-top: 30px
  .info-offset
    margin-top: 20px
  +tablet-only
    padding-right: 0
  +mobile
    margin-top: 0
    padding: 0
  &-preview
    .details-main-info-mto
      display: inline-block
      font-style: italic
      border-left: 1px solid $dark-border-color
      padding: 5px 10px
      margin-top: 10px
      margin-bottom: 25px
      background-color: $secondary-bg-color
      svg
        margin-right: 5px
  &-quality
    justify-content: center
    margin-top: 25px
  &-stone,
  &-setting
    align-items: center
    max-width: 300px
    +mobile
      justify-content: space-between
    .details-main-info-id
      flex: auto
      +tablet-only
        flex: 2
      +mobile
        flex: unset
    .item-price-component
      flex: 1
      +tablet-only
        flex: 1
      +mobile
        flex: unset
      ::v-deep
        .item-price-text
          justify-content: unset
          align-items: flex-start
  &-production-time
    margin-top: 20px
  &-options
    margin-top: 20px
    .accordion-item
      .side-stones
        padding: 10px
        &-body
          &-grade,
          &-weight
            width: 50%
          &-weight
            margin-left: 20px
      &:not(:last-child)
        ::v-deep
          .accordion-item-header
            border-bottom: 0
    .property-name
      font-size: 16px
      justify-content: space-between
      width: 100%
      align-items: center
      padding-right: 10px
      .selected-value
        align-items: center
        font-weight: 400
        span
          margin-right: 10px
      .selected-values
        flex-direction: column
        .selected-value
          @extend .selected-value
    .property-values
      flex-wrap: wrap
      padding: 20px
      margin-top: -10px
      &.prongs
        margin-left: -6px
        justify-content: center
      .metal-icon
        cursor: pointer
        margin-top: 10px
        padding: 0 10px
        font-size: 12px
        text-align: center
        max-width: 85px
        align-items: center
        flex-direction: column
      .prong-img
        font-size: 12px
        flex-direction: column
        text-align: center
        padding: 10px 8px
        margin-left: 6px
        cursor: pointer
        &.selected
          background-color: #f7f7f7
          box-shadow: 0 0 0 1px $gold-color
        ::v-deep
          img
            max-height: 54px
            max-width: 54px
            border: 1px solid $border-color
      .ring-size-selector
        flex: auto
        margin-right: 15px
      .ring-sizes
        cursor: pointer
        align-items: center
        span
          margin-left: 5px
      .polymer-model
        &-info
          font-size: 16px
          padding-right: 20px
          +touch
            padding-right: unset
          .button
            margin-top: 15px
            padding: 10px 15px
        &-icon
          min-width: 70px
          text-align: center
        &-wrapper
          margin-bottom: 15px
        &-button
          +touch
            width: 100%
    .values-error
      margin-top: -15px
      padding: 0 20px 20px
      color: $error-color
  &-name
    padding-top: .5em
    font-family: $lora
    font-size: 42px
    line-height: 45px
    +tablet
      font-size: 35px
    +mobile
      font-size: 35px
  &-id
    align-items: center
    a
      margin-left: 5px
      text-decoration: underline
    svg
      margin-right: 10px
  > .product-price
    margin-top: 10px
  &-buttons
    margin-top: 30px
    flex-direction: column
    button + .tooltip,
    button + button
      margin-top: 20px
    .in-cart
      a
        color: $inactive-element
        text-decoration: underline
</style>
