<template lang="pug">
  .details-main-info
    h1.details-main-info-name.is-italic(v-html="itemNameFormatter(productDetails)")
    .details-main-info-id.is-flex
      icon(width="14", height="12", iconName="stone", iconColor="#8c7956")
      span {{ $t('detailsPage.mainDetails.itemId') }}: {{ productDetails.id }}
    no-hassle-policy
    item-availability
    price(priceLayout="columnLabel", :tooltip="true", :showBankWireText="true", :isBankWirePrice="isBankWirePrice", :item="productDetails")
    .details-main-info-options
      accordion-component
        accordion-item-component(ref="ringSize", @mounted="onRingSizeMounted", :class="{error: showRingSizeError}", :disabled="isBlocked")
          .property-name.is-flex(slot="header")
            span
              strong {{ $t('detailsPage.mainDetails.size') }}
            .selected-value.is-flex
              span {{ selectedRingSize.value }}
          .property-values.is-flex
            .ring-size-selector
              multiselect(
                v-if="multiselectMounted",
                @select="onRingSizeChange"
                v-model="selectedRingSize"
                :options="ringSizes",
                track-by="key",
                label="value",
                select-label="",
                :show-labels="false",
                selected-label="",
                :allow-empty="false",
                :searchable="false",
                :option-height="35"
                :placeholder="$t('detailsPage.mainDetails.ringDetails.chooseRingSize')"
              )
            .ring-sizes.is-flex(@click="onSizesClickHandler")
              icon(iconName="sizingGuide")
              span {{ $t('detailsPage.mainDetails.sizingGuide') }}
          slide-y-up-transition
            .values-error(v-if="showRingSizeError") {{ $t('detailsPage.mainDetails.ringDetails.selectSize') }}
        .property-name-confirmation(ref="popper", v-show="showRingSizeConfirmation", v-on-clickaway="onClickAwayHandler")
          .arrow(ref="arrow", data-popper-arrow)
          .property-name-confirmation-body
            .confirmation-message {{ $t('detailsPage.ringSizeConfirm.text', [selectedRingSize.value]) }}
            .buttons.are-small
              button.button.gold-color.light(@click="onOnConfirmationConfirm") {{ $t('detailsPage.ringSizeConfirm.confirm') }}
              button.button.is-ghost(@click="onOnConfirmationCancel") {{ $t('detailsPage.ringSizeConfirm.cancel') }}
        accordion-item-component(:disabled="isBlocked")
          .property-name.is-flex(slot="header")
            .property-name-wrapper
              span
                strong {{ $t('detailsPage.mainDetails.addEngraving') }}&nbsp
              span ({{ $t('detailsPage.mainDetails.optional') }})
            .selected-value.is-flex(v-if="selectedEngraving") "{{ selectedEngraving }}"
          .property-values
            engraving-component(v-model="selectedEngraving")
    #extend-offer(v-if="showExtendWarranty")
    .details-main-info-buttons.is-flex
      cart-button(:in-cart="inCart", @click="onCartButtonClick", :isBlocked="isBlocked")
        i18n(v-if="inCart", path="detailsPage.mainDetails.addedToCart", tag="span")
          v-link(slot="cart", :to="{name: 'cart-index'}") {{ $t('detailsPage.mainDetails.cart') }}
        span(v-else) {{ $t('detailsPage.productToCart', [[$t(`categories.${camelCase(productDetails.category)}`)]]) }}
    controls(:item="productDetails", :disabled="isBlocked")
    .details-main-info-quality.is-flex
      quality-value-heart
    sizing-guide
    share-product-email-modal
    question-about-product(:item="productDetails")
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { SlideYUpTransition } from 'vue2-transitions'
import debounce from 'lodash/debounce'
import camelCase from 'lodash/camelCase'
import isEmpty from 'lodash/isEmpty'
import { mixin as clickaway } from 'vue-clickaway'
import _baseViewJewelries from './_baseViewJewelries'
import { productListTypeByCategory } from '~~/utils/definitions/defaults'

export default {
  name: 'JewelryViewComponent',

  components: {
    EngravingComponent: () => import('~~/components/DetailsPage/Engraving'),
    SizingGuide: () => import('~~/components/DetailsPage/SizingGuide'),
    SlideYUpTransition
  },

  extends: _baseViewJewelries,

  mixins: [clickaway],

  data: () => ({
    multiselectMounted: false,
    startWatch: true,
    showRingSizeError: false,
    popperInstance: null,
    showRingSizeConfirmation: false
  }),

  computed: {
    ...mapGetters({
      ringSizeConfirmed: 'productDetails/ringSizeConfirmed',
      productDetails: 'productDetails/productDetails',
      productDetailsOptions: 'productDetails/productDetailsOptions',
      options: 'productDetails/selectedOptions',
      cartItems: 'cart/items',
      wishlistItems: 'favorites/ringsListItems',
      isBankWire: 'cart/isBankWire'
    }),

    /**
     * Customer should change ring size manually, or confirm the ring size is ok
     * @returns {boolean}
     */
    isRingSizeValid() {
      return this.ringSizeConfirmed
    },

    // If bank wire discount is exists but not applied
    isBankWirePriceExists() {
      return !this.isBankWirePrice && this.productDetails.bankWirePrice !== null
    },

    isBankWirePrice() {
      return this.isBankWire && this.productDetails.bankWirePrice && this.inCart
    },

    selectedRingSize: {
      get() {
        return this.productDetails.selectedOptions.ringSize || {}
      },
      set(ringSize) {
        this.pushParametersToUrl({ ringSize })
      }
    },

    selectedEngraving: {
      get() {
        return this.productDetails.selectedOptions.engraving
      },
      set(engraving) {
        this.pushParametersToUrl({ engraving })
      }
    },

    type() {
      return productListTypeByCategory[this.productDetails.category]
    },

    inCart() {
      return this.cartItems.some((item) => item.id === this.productDetails.id)
    },

    ringSizes() {
      return this.productDetailsOptions.ringSizes
    }
  },

  watch: {
    inCart(state) {
      if (state) {
        this.startWatch = false
        const index = this.cartItems.findIndex(
          (el) => el.id === this.productDetails.id
        )
        this.setSelectedOptions(this.cartItems[index].selectedOptions)
        this.$nextTick(() => {
          this.startWatch = true
        })
        return
      }
      this.resetSelectedOptions()
    },

    selectedRingSize() {
      if (this.startWatch) this.updateAllItems()
    },

    selectedEngraving() {
      if (this.startWatch) this.updateAllItems()
    }
  },

  mounted() {
    this.$multiselect.insert(() => {
      this.multiselectMounted = true
    })
    if (this.inCart) {
      this.startWatch = false
      const index = this.cartItems.findIndex(
        (el) => el.id === this.productDetails.id
      )
      this.setSelectedOptions(this.cartItems[index].selectedOptions)
      this.$nextTick(() => {
        this.startWatch = true
      })
    }
  },

  methods: {
    ...mapActions({
      confirmRingSize: 'productDetails/confirmRingSize',
      setSelectedOptions: 'productDetails/setSelectedOptions',
      resetSelectedOptions: 'productDetails/resetSelectedOptions',
      addItemToCart: 'cart/addToList',
      updateCartItem: 'cart/updateListItem'
    }),

    onSizesClickHandler() {
      this.$root.$emit('sizing-guide')
    },

    updateAllItems: debounce(function () {
      const item = {
        ...this.productDetails,
        selectedOptions: this.options
      }

      const { source } = this.$route.query

      if (this.inWishlist && source === 'wishlist')
        this.updateWishlistItem({ item })
      if (this.inCompareList && source === 'compare')
        this.updateCompareListItem({ item })
      if (this.inCart && source === 'cart') this.updateCartItem({ item })
    }, 1000),

    setSelectedOptionsDebounced: debounce(function (options) {
      this.setSelectedOptions(options)
    }, 500),

    onOnConfirmationConfirm() {
      this.confirmRingSize()
      this.showRingSizeConfirmation = false
      this.$nextTick(() => {
        this.onCartButtonClick()
      })
    },

    onOnConfirmationCancel() {
      this.showRingSizeConfirmation = false
    },

    onClickAwayHandler() {
      this.showRingSizeConfirmation = false
    },

    async onRingSizeMounted() {
      this.popperInstance = await this.$popper.insert(
        this.$refs.ringSize.$el,
        this.$refs.popper,
        {
          placement: 'top',
          modifiers: [
            {
              name: 'offset',
              options: {
                offset: [0, 8]
              }
            },
            {
              name: 'arrow',
              options: {
                element: this.$refs.arrow
              }
            }
          ]
        }
      )
    },

    onCartButtonClick() {
      if (!this.isRingSizeValid) {
        setTimeout(() => {
          this.showRingSizeConfirmation = true
          this.popperInstance.update()
        }, 10)
        return
      }
      if (this.inCart) return
      this.showRingSizeError = isEmpty(this.selectedRingSize)
      if (this.showRingSizeError) return
      this.addItemToCart({
        item: {
          ...this.productDetails,
          selectedOptions: this.options
        },
        extendPlan: this.$extendSDK.getPlan()
      })
    },

    onRingSizeChange() {
      this.confirmRingSize()
      this.showRingSizeError = false
    },

    camelCase
  }
}
</script>

<style lang="sass" scoped>
.arrow,
.arrow::before
  background-color: #f9f9f9
  box-shadow: 0 5px 30px rgba(black, .1)
  position: absolute
  width: 16px
  height: 16px
  border: 1px solid $error-color
.arrow
  z-index: -1
  visibility: hidden
.arrow::before
  visibility: visible
  content: ''
  transform: rotate(45deg)

.property-name-confirmation[data-popper-placement^='top'] > .arrow
  bottom: -7px

.property-name-confirmation[data-popper-placement^='bottom'] > .arrow
  top: -7px

.property-name-confirmation[data-popper-placement^='left'] > .arrow
  right: -7px

.property-name-confirmation[data-popper-placement^='right'] > .arrow
  left: -7px

.details-main-info
  padding: 0 50px
  +tablet-only
    padding-right: 0
  +mobile
    padding: 0
  #extend-offer
    margin-top: 30px
  &-quality
    justify-content: center
    margin-top: 25px
  &-options
    margin-top: 20px
    .accordion-item
      &:not(:last-child)
        ::v-deep
          .accordion-item-header
            border-bottom: 0
    .property-name
      justify-content: space-between
      width: 100%
      align-items: center
      padding-right: 10px
      &-confirmation
        z-index: 999
        max-width: 300px
        box-shadow: 0 5px 30px rgba(black, .1)
        border: 1px solid $error-color
        @include border-radius(3px)
        @include transition(opacity, .5s)
      &-confirmation-body
        background: #f9f9f9
        color: $default-font-color
        padding: 15px
        z-index: 1
        .buttons
          margin-top: 10px
          .button
            padding-bottom: calc(.5em - 1px)
            padding-left: 1em
            padding-right: 1em
            padding-top: calc(.5em - 1px)
            &.is-ghost
              color: $default-font-color
      .selected-value
        align-items: center
        font-weight: 400
        span
          margin-right: 10px
    .property-values
      flex-wrap: wrap
      padding: 20px
      margin-top: -10px
      .metal-icon
        cursor: pointer
        margin-top: 10px
        padding: 0 10px
        font-size: 12px
        text-align: center
        max-width: 85px
        align-items: center
        flex-direction: column
      .ring-size-selector
        flex: auto
        margin-right: 15px
      .ring-sizes
        cursor: pointer
        align-items: center
        span
          margin-left: 5px
    .values-error
      margin-top: -15px
      padding: 0 20px 20px
      color: $error-color
  &-name
    padding-top: .5em
    font-family: $lora
    font-size: 42px
    line-height: 45px
    +tablet
      font-size: 35px
    +mobile
      font-size: 35px
  &-id
    margin-top: 15px
    align-items: center
    text-transform: uppercase
    svg
      margin-right: 10px
  .product-price
    margin-top: 10px
  &-buttons
    margin-top: 30px
    flex-direction: column
    button + button
      margin-top: 20px
    .in-cart
      padding: 10px 15px
      border-left: 4px solid $dark-primary-color
      a
        color: $inactive-element
        text-decoration: underline
</style>
