<template lang="pug">
  .details-main-info
    h1.details-main-info-name.is-italic(v-html="itemNameFormatter(productDetails)")
    .details-main-info-id.is-flex
      icon(width="14", height="12", iconName="stone", iconColor="#8c7956")
      span {{ $t('detailsPage.mainDetails.itemId') }}: {{ productDetails.id }}
    no-hassle-policy
    item-availability
    .details-main-info-chain(v-if="['Pendant', 'Necklace'].includes(productDetails.category)")
      strong {{ $t('detailsPage.mainDetails.chain') }}
    price(priceLayout="columnLabel", :tooltip="true", :showBankWireText="true", :isBankWirePrice="isBankWirePrice", :item="productDetails")
    #extend-offer(v-if="showExtendWarranty")
    .details-main-info-buttons.is-flex
      cart-button(:in-cart="inCart", @click="onCartButtonClick", :isBlocked="isBlocked")
        i18n(v-if="inCart", path="detailsPage.mainDetails.addedToCart", tag="span")
          v-link(slot="cart", :to="{name: 'cart-index'}") {{ $t('detailsPage.mainDetails.cart') }}
        span(v-else) {{ $t('detailsPage.productToCart', [[$t(`categories.${camelCase(productDetails.category)}`)]]) }}
    controls(:item="productDetails", :disabled="isBlocked")
    .details-main-info-quality.is-flex
      quality-value-heart
    share-product-email-modal
    question-about-product(:item="productDetails")
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import camelCase from 'lodash/camelCase'
import _baseViewJewelries from './_baseViewJewelries'
import { productListTypeByCategory } from '~~/utils/definitions/defaults'

export default {
  name: 'JewelryCommonViewComponent',

  extends: _baseViewJewelries,

  data: () => ({
    showRingSizeError: false
  }),

  computed: {
    ...mapGetters({
      productDetails: 'productDetails/productDetails',
      productDetailsOptions: 'productDetails/productDetailsOptions',
      options: 'productDetails/selectedOptions',
      cartItems: 'cart/items',
      wishlistItems: 'favorites/ringsListItems',
      isBankWire: 'cart/isBankWire'
    }),

    // If bank wire discount is exists but not applied
    isBankWirePriceExists() {
      return !this.isBankWirePrice && this.productDetails.bankWirePrice !== null
    },

    isBankWirePrice() {
      return this.isBankWire && this.productDetails.bankWirePrice && this.inCart
    },

    type() {
      return productListTypeByCategory[this.productDetails.category]
    },

    inCart() {
      return this.cartItems.some((item) => item.id === this.productDetails.id)
    }
  },

  methods: {
    ...mapActions({
      addItemToCart: 'cart/addToList',
      updateCartItem: 'cart/updateListItem',
      updateWishlistItem: 'favorites/updateListItem',
      setSelectedOptions: 'productDetails/setSelectedOptions'
    }),

    onCartButtonClick() {
      if (this.inCart) return
      this.addItemToCart({
        item: this.productDetails,
        extendPlan: this.$extendSDK.getPlan()
      })
    },

    camelCase
  }
}
</script>

<style lang="sass" scoped>
.details-main-info
  padding: 0 50px
  +tablet-only
    padding-right: 0
  +mobile
    padding: 0
  #extend-offer
    margin-top: 30px
  &-quality
    justify-content: center
    margin-top: 25px
  &-options
    margin-top: 20px
    .accordion-item
      &:not(:last-child)
        ::v-deep
          .accordion-item-header
            border-bottom: 0
    .property-name
      justify-content: space-between
      width: 100%
      align-items: center
      padding-right: 10px
      .selected-value
        align-items: center
        font-weight: 400
        span
          margin-right: 10px
    .property-values
      flex-wrap: wrap
      padding: 20px
      margin-top: -10px
      .metal-icon
        cursor: pointer
        margin-top: 10px
        padding: 0 10px
        font-size: 12px
        text-align: center
        max-width: 85px
        align-items: center
        flex-direction: column
      .ring-size-selector
        flex: auto
        margin-right: 15px
      .ring-sizes
        cursor: pointer
        align-items: center
        span
          margin-left: 5px
    .values-error
      margin-top: -15px
      padding: 0 20px 20px
      color: $error-color
  &-name
    padding-top: .5em
    font-family: $lora
    font-size: 42px
    line-height: 45px
    +tablet
      font-size: 35px
    +mobile
      font-size: 35px
  &-id
    margin-top: 15px
    align-items: center
    text-transform: uppercase
    svg
      margin-right: 10px
  &-chain
    margin-top: 10px
  .product-price
    margin-top: 10px
  &-buttons
    margin-top: 30px
    flex-direction: column
    button + button
      margin-top: 20px
    .in-cart
      padding: 10px 15px
      border-left: 4px solid $dark-primary-color
      a
        color: $inactive-element
        text-decoration: underline
</style>
