<template lang="pug">
  .details-main-info
    h1.details-main-info-title.is-italic {{ $t('customItem.noMatch.detailsTitle') }}
    .details-main-info-alert
      strong {{ $t('customItem.noMatch.detailsAlert') }}
    .details-main-info-proposal {{ $t('customItem.noMatch.detailsProposal') }}
    button.button.gold-color(@click="onInquireClickHandler") {{ $t('customItem.noMatch.detailsInquire') }}
    .details-main-info-divider
      span {{ $t('customItem.noMatch.detailsOr') }}
    .details-main-info-continue {{ $t('customItem.noMatch.detailsContinue') }}
    button.button.gold-color.light(@click="onNewRubyClickHandler") {{ $t('customItem.noMatch.detailsStone') }}
    button.button.gold-color.light(@click="onNewSettingClickHandler") {{ $t('customItem.noMatch.detailsSetting') }}
    no-match-modal-component
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import NoMatchModalComponent from './NoMatchModal'
import modalMixin from '~~/mixins/modalMixin'

const routesMap = {
  ruby: {
    settings: {
      Setting_Earring: 'rubies-matched-pairs-of-rubies',
      default: 'rubies'
    },
    stones: {
      Pair: 'design-your-own-setting-ruby-earring-settings',
      default: 'design-your-own-setting-ruby-engagement-ring-settings'
    }
  },
  emerald: {
    settings: {
      Setting_Earring: 'emeralds-matched-pairs-of-emeralds',
      default: 'emeralds'
    },
    stones: {
      Pair: 'design-your-own-setting-emerald-earring-settings',
      default: 'design-your-own-setting-emerald-engagement-ring-settings'
    }
  }
}

export default {
  name: 'NotMatchViewComponent',

  components: { NoMatchModalComponent },

  mixins: [modalMixin],

  data: () => ({
    modalEvent: 'inquire-about-custom-design',
    modalName: 'inquire-about-custom-design'
  }),

  computed: {
    ...mapGetters({
      customSetting: 'customItem/customSetting',
      customStone: 'customItem/customStone'
    })
  },

  methods: {
    ...mapActions({
      clearAllFilters: 'filters/clearAllFilters'
    }),

    onInquireClickHandler() {
      this.$root.$emit('no-match')
    },

    onNewRubyClickHandler() {
      if (this.customSetting.category === 'Setting_Earring') {
        this.clearAllFilters('stonePairsList')
        this.$router.push(
          this.localePath({
            name: routesMap[this.$site.name].settings.Setting_Earring
          })
        )
        return
      }
      this.clearAllFilters('stonesList')
      this.$router.push(
        this.localePath({ name: routesMap[this.$site.name].settings.default })
      )
    },

    onNewSettingClickHandler() {
      if (this.customStone.category === 'Pair') {
        this.clearAllFilters('earringSettings')
        this.$router.push(
          this.localePath({
            name: routesMap[this.$site.name].stones.Pair
          })
        )
        return
      }
      this.clearAllFilters('ringsSettings')
      this.$router.push(
        this.localePath({
          name: routesMap[this.$site.name].stones.default
        })
      )
    }
  }
}
</script>

<style lang="sass" scoped>
.details-main-info
  padding: 0 50px
  margin-top: 70px
  +tablet-only
    padding-right: 0
  +mobile
    margin-top: 0
    padding: 0
  &-title
    padding-top: .5em
    font-family: $lora
    font-size: 42px
    line-height: 45px
    +tablet
      font-size: 35px
    +mobile
      font-size: 35px
  &-alert
    margin-top: 15px
    padding: 20px
    background-color: $light-primary-color
    border-left: 2px solid $primary-color
  &-proposal,
  &-continue
    margin-top: 15px
  &-divider
    margin-top: 15px
    position: relative
    text-align: center
    span
      background-color: #ffffff
      padding: 0 7px
    &:after
      content: ''
      top: 44%
      left: 0
      position: absolute
      width: 100%
      height: 1px
      z-index: -1
      background-color: $border-color
  .button
    width: 100%
    margin-top: 15px
</style>
