<template lang="pug">
  .details-main-info
    h1.details-main-info-name.is-italic(v-html="itemNameFormatter(productDetails)")
    .details-main-info-id.is-flex
      icon(width="14", height="12", iconName="stone", iconColor="#8c7956")
      span {{ $t('detailsPage.mainDetails.itemId') }}: {{ productDetails.id }}
    no-hassle-policy
    item-availability
    .details-main-info-price.is-flex
      strong {{ $t('detailsPage.mainDetails.calculatedPrice') }}
      tooltip
        template(slot="target")
          i.fa.fa-question-circle
        template(slot="header")
          strong {{ $t('detailsPage.mainDetails.calculatedPriceTitle') }}
        span {{ $t('detailsPage.mainDetails.calculatedPriceText') }}
    .details-main-info-chain(v-if="['Setting_Pendant', 'Setting_Necklace'].includes(productDetails.category)")
      strong {{ $t('detailsPage.mainDetails.chain') }}
    .details-main-info-production-time
      strong {{ $t('detailsPage.mainDetails.productionTime') }}:&nbsp
      span {{ $t('detailsPage.mainDetails.productionTimePeriod', [productDetails.productionTimeFrom, productDetails.productionTimeTo]) }}
    .details-main-info-options
      accordion-component
        accordion-item-component(:disabled="isBlocked")
          .property-name.is-flex(slot="header")
            span {{ $t('detailsPage.mainDetails.metal') }}
            .selected-value.is-flex
              span {{ selectedMetalType.value }}
              icon(:key="selectedMetalType.icon", width="26", height="26", :iconColor="getIconColor(selectedMetalType.icon)", :iconName="getIconName(selectedMetalType.icon)")
          .property-values.is-flex
            .metal-icon.is-flex(v-for="metal in metalTypes", :key="metal.id", @click="onSelectMetalType(metal)")
              icon(width="36", height="36", :iconColor="getIconColor(metal.icon)", :iconName="getIconName(metal.icon)")
              span {{ metal.value }}
    .details-main-info-buttons.is-flex
      button.button.gold-color(v-if="showAddToCustomJewelryButton", :disabled="isBlocked", @click="onSettingsButtonClick") {{ createJewelryFormatter() }}
      .back-to-compatible-items(v-if="!settingMatch && isDetails", @click="onTakeBack") {{ takeMeBackFormatter() }}
    controls(:item="productDetails", :disabled="isBlocked")
    .details-main-info-quality.is-flex
      quality-value-heart
    share-product-email-modal
    question-about-product(:item="productDetails")
</template>

<script>
import _baseViewSettings from './_baseViewSettings'
import Tooltip from '~~/components/Common/Tooltip'

export default {
  name: 'SettingsCommonViewComponent',

  components: {
    Tooltip
  },

  extends: _baseViewSettings,

  methods: {
    takeMeBackFormatter() {
      if (this.customStone.category === 'Pair')
        return this.$t('detailsPage.mainDetails.takeMeBackEarringSetting')
      return this.customStone.category === 'Stone' &&
        this.productDetails.category === 'Setting_Earring'
        ? this.$t('detailsPage.mainDetails.takeMeBackRingSetting')
        : this.$t(
            `detailsPage.mainDetails.takeMeBack${this.productDetails.category.replace(
              'Setting_',
              ''
            )}Setting`
          )
    },

    createJewelryFormatter() {
      if (!this.settingMatch)
        return this.$t(
          `detailsPage.mainDetails.notCompatible${this.productDetails.category.replace(
            'Setting_',
            ''
          )}Setting`
        )
      return this.$t('detailsPage.mainDetails.startFromSetting')
    },

    onTakeBack() {
      this.enablePrefilter()
      const settingsPaths = {
        ring: '/design-your-own/setting/ruby-engagement-ring-settings/',
        earring: '/design-your-own/setting/ruby-earring-settings/',
        pendant: '/design-your-own/setting/ruby-pendants-settings/',
        necklace: '/design-your-own/setting/ruby-necklaces-settings/'
      }
      let nextPath = this.localePath({
        path: settingsPaths[
          this.productDetails.category.replace('Setting_', '').toLowerCase()
        ]
      })
      if (this.customStone.category === 'Pair')
        nextPath = this.localePath({
          path: '/design-your-own/setting/ruby-earring-settings/'
        })
      if (
        this.customStone.category === 'Stone' &&
        this.productDetails.category === 'Setting_Earring'
      )
        nextPath = this.localePath({
          path: '/design-your-own/setting/ruby-engagement-ring-settings/'
        })
      this.$router.push(nextPath)
    }
  }
}
</script>

<style lang="sass" scoped>
.details-main-info
  padding: 0 50px
  +tablet-only
    padding-right: 0
  +mobile
    padding: 0
  &-quality
    justify-content: center
    margin-top: 25px
  &-options
    margin-top: 20px
    .property-name
      font-weight: 700
      justify-content: space-between
      width: 100%
      align-items: center
      padding-right: 10px
      .selected-value
        align-items: center
        font-weight: 400
        span
          margin-right: 10px
    .property-values
      flex-wrap: wrap
      padding: 20px
      margin-top: -10px
      .metal-icon
        cursor: pointer
        margin-top: 10px
        padding: 0 10px
        font-size: 12px
        text-align: center
        max-width: 85px
        align-items: center
        flex-direction: column
  &-name
    padding-top: .5em
    font-family: $lora
    font-size: 42px
    line-height: 45px
    +tablet
      font-size: 35px
    +mobile
      font-size: 35px
  &-id
    margin-top: 15px
    align-items: center
    text-transform: uppercase
    svg
      margin-right: 10px
  &-price
    margin-top: 10px
    align-items: center
    .tooltip
      margin-left: 5px
    .total-price
      font-weight: 400
      font-size: 20px
      font-style: italic
      font-family: $lora
    .price
      margin-left: 15px
      font-size: 26px
      font-weight: 800
      & ::v-deep
        .item-price-text-old
          line-height: 0
  &-buttons
    margin-top: 30px
    flex-direction: column
    .back-to-compatible-items
      font-weight: 900
      color: $dark-primary-color
      cursor: pointer
      margin-top: 20px
      font-size: 16px
    button + button
      margin-top: 20px
    .in-cart
      padding: 10px 15px
      border-left: 4px solid $dark-primary-color
      a
        color: $dark-primary-color
</style>
