<template lang="pug">
  .details-main-info
    h1.details-main-info-name.is-italic(v-html="itemNameFormatter(productDetails)")
    .details-main-info-id.is-flex
      icon(width="14", height="12", iconName="stone", iconColor="#8c7956")
      span {{ $t('detailsPage.mainDetails.itemId') }}: {{ productDetails.id }}
    no-hassle-policy
    item-availability
    .details-main-info-price.is-flex
      strong {{ $t('detailsPage.mainDetails.calculatedPrice') }}
      tooltip
        template(slot="target")
          i.fa.fa-question-circle
        template(slot="header")
          strong {{ $t('detailsPage.mainDetails.calculatedPriceTitle') }}
        span {{ $t('detailsPage.mainDetails.calculatedPriceText') }}
    .details-main-info-production-time
      strong {{ $t('detailsPage.mainDetails.productionTime') }}:&nbsp
      span {{ $t('detailsPage.mainDetails.productionTimePeriod', [productDetails.productionTimeFrom, productDetails.productionTimeTo]) }}
    .details-main-info-options
      accordion-component
        accordion-item-component(:class="{error: showRingSizeError}", :disabled="isBlocked")
          .property-name.is-flex(slot="header")
            strong {{ $t('detailsPage.mainDetails.size') }}
            .selected-value.is-flex
              span {{ selectedRingSize.value }}
          .property-values.is-flex
            .ring-size-selector
              multiselect(
                v-if="multiselectMounted",
                @select="onRingSizeChange"
                v-model="selectedRingSize"
                :options="ringSizes",
                track-by="key",
                label="value",
                select-label="",
                :show-labels="false",
                selected-label="",
                :allow-empty="false",
                :searchable="false",
                :option-height="35"
                :placeholder="$t('detailsPage.mainDetails.ringDetails.chooseRingSize')"
              )
            .ring-sizes.is-flex(@click="onSizesClickHandler")
              icon(iconName="sizingGuide")
              span {{ $t('detailsPage.mainDetails.sizingGuide') }}
          slide-y-up-transition
            .values-error(v-if="showRingSizeError") {{ $t('detailsPage.mainDetails.ringDetails.selectSize') }}
        accordion-item-component(:disabled="isBlocked")
          .property-name.is-flex(slot="header")
            strong {{ $t('detailsPage.mainDetails.metal') }}
            .selected-value.is-flex
              span {{ selectedMetalType.value }}
              icon(:key="selectedMetalType.icon", width="26", height="26", :iconColor="getIconColor(selectedMetalType.icon)", :iconName="getIconName(selectedMetalType.icon)")
          .property-values.is-flex
            .metal-icon.is-flex(v-for="metal in metalTypes", :key="metal.id", @click="onSelectMetalType(metal)")
              icon(width="36", height="36", :iconColor="getIconColor(metal.icon)", :iconName="getIconName(metal.icon)")
              span {{ metal.value }}
        accordion-item-component(:disabled="isBlocked", v-if="showProngs")
          .property-name.is-flex(slot="header")
            strong {{ $t('detailsPage.mainDetails.prongs') }}
            .selected-value.is-flex(v-if="selectedProng.name")
              span {{ selectedProng.name }}
          .property-values.prongs.is-flex
            tooltip(v-for="prong in prongs", :key="prong.id", @show="lazyUpdate")
              .prong-img.is-flex(slot="target", @click="onSelectProng(prong)", :class="{ selected: prong.id === selectedProng.id }")
                v-image(:src="prong.image", :alt="prong.name")
                span {{ prong.name }}
              v-image(:src="prong.image", :alt="prong.name", :lazy="false")
        accordion-item-component(v-if="productDetails.vedicSetting", :disabled="isBlocked")
          .property-name.is-flex(slot="header")
            strong {{ $t('detailsPage.mainDetails.vedic') }}
            .selected-value.is-flex {{ $t(`detailsPage.mainDetails.vedic${ selectedVedicSetting? '' : 'Not' }Selected`) }}
          vedic-section(v-model="selectedVedicSetting", :disabled="isBlocked")
    .details-main-info-buttons.is-flex(v-if="showButtons")
      button.button.gold-color(v-if="showAddToCustomJewelryButton", :disabled="isBlocked", @click="onSettingsButtonClick") {{ createJewelryFormatter() }}
      .back-to-compatible-items(v-if="!settingMatch && isDetails", @click="onTakeBack") {{ takeMeBackFormatter() }}
    controls(:item="productDetails", :disabled="isBlocked")
    .details-main-info-quality.is-flex
      quality-value-heart
    sizing-guide
    share-product-email-modal
    question-about-product(:item="productDetails")
</template>

<script>
import { SlideYUpTransition } from 'vue2-transitions'
import { mapGetters } from 'vuex'
import _baseViewSettings from './_baseViewSettings'
import Tooltip from '~~/components/Common/Tooltip'
import { CustomNextPath } from '~~/utils/utils'

export default {
  name: 'SettingsRingViewComponent',

  components: {
    VedicSection: () => import('./Vedic'),
    Tooltip,
    SizingGuide: () => import('~~/components/DetailsPage/SizingGuide'),
    SlideYUpTransition
  },

  extends: _baseViewSettings,

  data: () => ({
    multiselectMounted: false,
    showRingSizeError: false
  }),

  computed: {
    ...mapGetters({
      customItem: 'customItem/customItem'
    }),

    selectedRingSize: {
      get() {
        return this.selectedOptions.ringSize || {}
      },
      set(ringSize) {
        this.pushParametersToUrl({ ringSize })
        setTimeout(this.updateAllItems, 10)
      }
    },

    selectedVedicSetting: {
      get() {
        return this.selectedOptions.vedicSetting || false
      },
      set(vedicSetting) {
        this.pushParametersToUrl({ vedicSetting }, false, true)
        if (!vedicSetting) this.setSelectedOptions({ vedicSetting })
        setTimeout(this.updateAllItems, 10)
      }
    },

    ringSizes() {
      return this.productDetails.sizes
    },

    showButtons() {
      return this.showAddToCustomJewelryButton || !this.settingMatch
    }
  },

  mounted() {
    this.$multiselect.insert(() => {
      this.multiselectMounted = true
    })
  },

  methods: {
    // ...mapActions({
    //   setCustomSelectedOptions: 'customItem/setSettingOptions'
    // }),

    onSizesClickHandler() {
      this.$root.$emit('sizing-guide')
    },

    takeMeBackFormatter() {
      return this.customStone.category === 'Pair'
        ? this.$t('detailsPage.mainDetails.takeMeBackEarringSetting')
        : this.$t('detailsPage.mainDetails.takeMeBackRingSetting')
    },

    createJewelryFormatter() {
      if (!this.settingMatch)
        return this.$t(
          `detailsPage.mainDetails.notCompatible${this.productDetails.category.replace(
            'Setting_',
            ''
          )}Setting`
        )
      return this.$t('detailsPage.mainDetails.startFromSetting')
    },

    onTakeBack() {
      this.enablePrefilter()
      let nextPath = this.localePath({
        name: 'design-your-own-setting-ruby-engagement-ring-settings'
      })
      if (this.customStone.category === 'Pair')
        nextPath = this.localePath({
          name: 'design-your-own-setting-ruby-earring-settings'
        })
      this.$router.push(nextPath)
    },

    onSettingsButtonClick() {
      this.showRingSizeError = !this.selectedRingSize
      if (!this.selectedRingSize) return
      this.$modal.hide('quick-view')
      this.setCustomSetting({
        ...this.item,
        size: this.selectedOptions.ringSize
      })
      const route = new CustomNextPath({
        customStone: this.customStone,
        customSetting: this.customSetting,
        route: this.$route,
        query: this.$h.flushQuery(this.$route.query)
      })
      this.enablePrefilter()
      this.$router.push(this.localePath(route.get()))
    },

    onRingSizeChange() {
      this.showRingSizeError = false
    }
  }
}
</script>

<style lang="sass" scoped>
.details-main-info
  padding: 0 50px
  +tablet-only
    padding-right: 0
  +mobile
    padding: 0
  &-quality
    justify-content: center
    margin-top: 25px
  &-options
    margin-top: 20px
    .accordion-item
      &:not(:last-child)
        ::v-deep
          .accordion-item-header
            border-bottom: 0
    .property-name
      justify-content: space-between
      width: 100%
      align-items: center
      padding-right: 10px
      .selected-value
        align-items: center
        font-weight: 400
        span
          margin-right: 10px
    .property-values
      flex-wrap: wrap
      padding: 20px
      margin-top: -10px
      .metal-icon
        cursor: pointer
        margin-top: 10px
        padding: 0 10px
        font-size: 12px
        text-align: center
        max-width: 85px
        align-items: center
        flex-direction: column
      .ring-size-selector
        flex: auto
        margin-right: 15px
      .ring-sizes
        cursor: pointer
        align-items: center
        +iphone-5se
          margin-top: 10px
        span
          margin-left: 5px
    .values-error
      margin-top: -15px
      padding: 0 20px 20px
      color: $error-color
  &-name
    padding-top: .5em
    font-family: $lora
    font-size: 42px
    line-height: 45px
    +tablet
      font-size: 35px
    +mobile
      font-size: 35px
  &-id
    margin-top: 15px
    align-items: center
    text-transform: uppercase
    svg
      margin-right: 10px
  &-price
    margin-top: 10px
    align-items: center
    .tooltip
      margin-left: 5px
    .total-price
      font-weight: 400
      font-size: 20px
      font-style: italic
      font-family: $lora
    .price
      margin-left: 15px
      font-size: 26px
      font-weight: 800
      & ::v-deep
        .item-price-text-old
          line-height: 0
  &-buttons
    margin-top: 30px
    flex-direction: column
    .back-to-compatible-items
      font-weight: 900
      color: $dark-primary-color
      cursor: pointer
      margin-top: 20px
      font-size: 16px
    button + button
      margin-top: 20px
    .in-cart
      padding: 10px 15px
      border-left: 4px solid $dark-primary-color
      a
        color: $dark-primary-color
</style>
