<template lang="pug">
  .details-main-info
    h1.details-main-info-name.is-italic(v-html="itemNameFormatter(productDetails)")
    .details-main-info-id.is-flex
      icon(width="14", height="12", iconName="stone", iconColor="#8c7956")
      span {{ $t('detailsPage.mainDetails.itemId') }}: {{ productDetails.id }}
    no-hassle-policy
    item-availability
    price(priceLayout="columnLabel", :tooltip="true", :showBankWireText="true", :isBankWirePrice="isBankWirePrice", :item="productDetails")
    .details-main-info-buttons.is-flex
      button.button.gold-color(v-if="showAddToCustomJewelryButton", :disabled="isBlocked", @click="onSettingButtonClick") {{ createJewelryFormatter(startFromStone) }}
      cart-button(:in-cart="inCart", @click="onCartButtonClick", :light="showAddToCustomJewelryButton", :isBlocked="isBlocked")
        i18n(v-if="inCart", path="detailsPage.mainDetails.addedToCart", tag="span")
          v-link(slot="cart", :to="{name: 'cart-index'}") {{ $t('detailsPage.mainDetails.cart') }}
        span(v-else) {{ $t('detailsPage.mainDetails.toCartPair') }}
      .back-to-compatible-items(v-show="!settingMatch && isDetails", @click="onTakeBack") {{ takeMeBackFormatter() }}
    controls(:item="productDetails", :disabled="isBlocked")
    .details-main-info-quality.is-flex
      quality-value-heart
    share-product-email-modal
    question-about-product(:item="productDetails")
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import _baseViewStones from './_baseViewStones'
import { getItemId } from '~~/utils/utils'
import stonesDialogMixin from '~~/mixins/settingsTypePicker/stonesDialogMixin'
import canAddStoneToJewelryMixin from '~~/mixins/customJewelry/canAddStoneToJewelryMixin'

export default {
  name: 'StonesViewComponent',

  extends: _baseViewStones,

  mixins: [stonesDialogMixin, canAddStoneToJewelryMixin],

  computed: {
    ...mapGetters({
      isBankWire: 'cart/isBankWire',
      startFromStone: 'customItem/startFromStone'
    }),

    // If bank wire discount is exists but not applied
    isBankWirePriceExists() {
      return !this.isBankWirePrice && this.productDetails.bankWirePrice !== null
    },

    isBankWirePrice() {
      return this.isBankWire && this.productDetails.bankWirePrice && this.inCart
    },

    inCart() {
      return this.cartItems.some((item) => {
        if (item.customStone && item.customSetting) {
          // is custom jewelry
          if (item.category === 'Wax') return false
          return getItemId(item.customStone) === getItemId(this.productDetails)
        }
        return getItemId(item) === getItemId(this.productDetails)
      })
    }
  },

  methods: {
    ...mapActions({
      addItemToCart: 'cart/addToList',
      setCustomStone: 'customItem/setCustomStone'
    }),

    takeMeBackFormatter() {
      return this.customSetting.category === 'Setting_Earring'
        ? this.$t('detailsPage.mainDetails.takeMeBackPair')
        : this.$t('detailsPage.mainDetails.takeMeBackStone')
    },

    onTakeBack() {
      this.enablePrefilter()
      let nextPath = this.localePath({
        name: 'rubies',
        query: { 'design-your-own': 1 }
      })
      if (this.customSetting.category === 'Setting_Earring')
        nextPath = this.localePath({
          name: 'rubies-matched-pairs-of-rubies',
          query: { 'design-your-own': 1 }
        })
      this.$router.push(nextPath)
    },

    createJewelryFormatter(state) {
      if (!this.settingMatch)
        return this.$t('detailsPage.mainDetails.notCompatiblePair')
      if (state) return this.$t('detailsPage.mainDetails.startFromPair')
      return this.$t('detailsPage.mainDetails.continueWithPair')
    }
  }
}
</script>

<style lang="sass" scoped>
.details-main-info
  padding: 0 50px
  +tablet-only
    padding-right: 0
  +mobile
    padding: 0
  &-quality
    justify-content: center
    margin-top: 25px
  &-name
    padding-top: .5em
    font-family: $lora
    font-size: 42px
    line-height: 45px
    +tablet
      font-size: 35px
    +mobile
      font-size: 35px
  &-id
    margin-top: 15px
    align-items: center
    svg
      margin-right: 10px
  .product-price
    margin-top: 10px
  &-buttons
    margin-top: 30px
    flex-direction: column
    .back-to-compatible-items
      font-weight: 900
      color: $dark-primary-color
      cursor: pointer
      margin-top: 20px
      font-size: 16px
    button + .tooltip,
    button + button
      margin-top: 20px
    .in-cart
      a
        color: $inactive-element
        text-decoration: underline
</style>
