.main-menu-desktop.is-flex
  .main-menu-root.is-flex(v-for="item in items", :key="item.id", @touchstart="setDropdownType(item.view)", @mouseenter="setDropdownType(item.view)", @mouseleave="removeDropdownType", :class="{'dyo-item': item.view ==='dyo'}")
    v-link.main-menu-root-link.is-flex(:to="item.to", :disabled="!item.to")
      icon(v-if="item.icon", :iconName="item.icon")
      span.main-menu-item-menu {{ item.name }}
      .arrow-wrapper(:class="{hide: !dropdownType}")
        .arrow
    .dropdown(:class="{hide: !dropdownType, [item.class]: item.class}")
      component.main-menu-child(:is="item.view", :item="item", @collapse="collapseHandler")
