<template lang="pug">
  .product-gallery-final
    tabs-component(@change="onTabChange", :key="tabs[0].id", :active="activeTab")
      tabs-pane-component(v-for="tab in tabs", :name="tab.name", :badge="tab.thumbnails.length", :key="tab.id", v-slot="{ isActive }")
        product-gallery-component(ref="gallery", :messages="messages", @beyond-edges="onBeyondEdgesHandler", :loop="false", @nav-click="onNavClick", v-if="isActive", :item="tab.data", :thumbnails="tab.thumbnails", :inverse="inverse")
</template>

<script>
import isEmpty from 'lodash/isEmpty'
import cloneDeep from 'lodash/cloneDeep'
import perfectScrollbarMixin from '~~/mixins/perfectScrollbarMixin'
import TabsComponent from '~~/components/CompareList/Tabs'
import TabsPaneComponent from '~~/components/CompareList/Tabs/TabsPane'
import ProductGalleryComponent from '~~/components/DetailsPage/ProductGallery/ProductGallery'
import { reportTypes } from '~~/utils/definitions/defaults'

const TABS = {
  STONE: 'Stone',
  SETTING: 'Setting',
  REPORTS: 'Reports',
  PREVIEW: 'Preview',
  CUSTOM: 'Custom' // two images - stone and setting
}

export default {
  name: 'ProductGalleryFinalizeComponent',

  components: {
    ProductGalleryComponent,
    TabsComponent,
    TabsPaneComponent,
    ProductGalleryLightbox: () =>
      import('../ProductGallery/ProductGalleryLightbox'),
    ProductGalleryThumbnail: () =>
      import('../ProductGallery/ProductGalleryThumbnail'),
    ProductGallerySlider: () => import('../ProductGallery/ProductGallerySlider')
  },

  mixins: [perfectScrollbarMixin],

  props: {
    messages: {
      type: Array,
      default: () => []
    },

    item: {
      type: Object,
      required: true
    },

    createThumbFunc: {
      type: Function,
      required: true
    }
  },

  data: () => ({
    inverse: false,
    activeTab: '',
    currentSlideIndex: 0,
    tabs: []
  }),

  computed: {
    tabsKeys() {
      return TABS
    },

    isPreview() {
      return !isEmpty(this.item.preview)
    },

    itemId() {
      return this.item.id
    },

    stoneData() {
      return {
        dataType: 'stone',
        ...this.omitReportsThumbnails(this.item.customStone)
      }
    },

    settingsData() {
      return {
        dataType: 'setting',
        ...this.omitReportsThumbnails(this.item.customSetting)
      }
    },

    reportsData() {
      return {
        dataType: 'reports',
        ...this.getReportsThumbnails()
      }
    },

    previewData() {
      return {
        dataType: 'preview',
        ...this.omitReportsThumbnails(this.item.preview)
      }
    },

    customData() {
      return {
        dataType: 'custom',
        ...this.item
      }
      // return this.omitReportsThumbnails(this.item)
    },

    stoneThumbnails() {
      return this.createThumbFunc(this.stoneData)
    },

    settingThumbnails() {
      return this.createThumbFunc(this.settingsData)
    },

    reportsThumbnails() {
      return this.createThumbFunc(this.reportsData)
    },

    previewThumbnails() {
      return this.createThumbFunc(this.previewData)
    },

    customThumbnails() {
      return this.createThumbFunc(this.customData)
    }
  },

  watch: {
    itemId() {
      this.inverse = false
      this.currentSlideIndex = 0
      this.$refs.gallery[0].resetSlider()
    }
  },

  created() {
    this.getTabs()
  },

  mounted() {
    this.$root.$on('update-price-end', this.getTabs) // only after custom item fully fetched update tabs. Otherwise tabs will recalculate several times and gallery will flickering
  },

  methods: {
    getTabs() {
      this.tabs = [
        {
          id: '8c39c774-bfa4-4bbe-932f-09d9bee31bbc',
          name: this.$t('detailsPage.mainDetails.stone'),
          key: TABS.STONE,
          data: this.stoneData,
          thumbnails: this.stoneThumbnails
        },
        {
          id: 'ad834192-f3f0-4b59-bb11-eb0cfa21d686',
          name: this.$t('detailsPage.mainDetails.setting'),
          key: TABS.SETTING,
          data: this.settingsData,
          thumbnails: this.settingThumbnails
        },
        {
          id: '2d910ca4-1918-4b2f-907f-33bf2e49a2a7',
          name: this.$t('detailsPage.mainDetails.reports'),
          key: TABS.REPORTS,
          data: this.reportsData,
          thumbnails: this.reportsThumbnails
        }
      ]
      if (this.isPreview)
        this.tabs.unshift({
          id: 'fddbfee1-4211-488a-91b2-998e9f2d8ecf',
          name: this.getName(TABS.PREVIEW),
          key: TABS.PREVIEW,
          data: this.previewData,
          thumbnails: this.previewThumbnails
        })
      this.tabs.unshift({
        id: '2ed09893-11b4-42d7-aadf-27a961b63cc7',
        name: this.$t('detailsPage.mainDetails.preview'),
        key: TABS.CUSTOM,
        data: this.customData,
        thumbnails: this.customThumbnails
      })
      // if (!this.isPreview)
      //   this.tabs.unshift({
      //     id: '2ed09893-11b4-42d7-aadf-27a961b63cc7',
      //     name: this.$t('detailsPage.mainDetails.preview'),
      //     key: TABS.CUSTOM,
      //     data: this.customData,
      //     thumbnails: this.customThumbnails
      //   })
      this.activeTab = this.tabs[0].name
    },

    omitReportsThumbnails(item) {
      const i = cloneDeep(item)
      if (i.category === 'Custom') {
        i.customStone.thumbnails = i.customStone.thumbnails.filter(
          (t) => !reportTypes.includes(t.type)
        )
        i.customSetting.thumbnails = i.customSetting.thumbnails.filter(
          (t) => !reportTypes.includes(t.type)
        )
      } else
        i.thumbnails = i.thumbnails.filter((t) => !reportTypes.includes(t.type))
      return i
    },

    getReportsThumbnails() {
      const thumbnails = [
        ...(this.item.preview?.thumbnails || []),
        ...(this.item.customStone.thumbnails || []),
        ...(this.item.customSetting.thumbnails || [])
      ].filter((t) => reportTypes.includes(t.type))

      return { thumbnails }
    },

    onBeyondEdgesHandler(direction) {
      this[`${direction}TabSwitch`]()
    },

    getName(key) {
      if (key === TABS.PREVIEW) {
        const category = this.item.customSetting.category
          .replace('Setting_', '')
          .toLowerCase()
        return this.$t(`detailsPage.mainDetails.${category}`)
      }
    },

    onTabChange(tabName) {
      this.inverse = false
      this.activeTab = tabName
    },

    onNavClick(direction) {
      if (this.$device.isMobileOrTablet) this[`${direction}TabSwitch`]()
    },

    nextTabSwitch() {
      this.inverse = false
      const index = this.tabs.findIndex((tab) => tab.name === this.activeTab)
      const count = this.tabs.length

      if (index + 1 === count) {
        this.activeTab = this.tabs[0].name
        return
      }
      this.activeTab = this.tabs[index + 1].name
    },

    prevTabSwitch() {
      this.inverse = true
      const index = this.tabs.findIndex((tab) => tab.name === this.activeTab)
      const count = this.tabs.length

      if (index === 0) {
        this.activeTab = this.tabs[count - 1].name
        return
      }
      this.activeTab = this.tabs[index - 1].name
    }
  }
}
</script>

<style lang="sass" scoped>
.product-gallery-final
  +tablet
    position: sticky
    top: 50px
    z-index: 199
  .tabs-wrapper
    margin-left: unset
    margin-right: unset
    ::v-deep
      .tabs-nav
        .container
          padding: 0
    padding: 0
  .preview-images
    margin-top: 22px
    img
      flex: 1
      border: 1px solid $border-color
      width: 0
      height: 100%
    img + img
      margin-left: 20px
  .product-gallery
    margin-top: 22px
    ::v-deep
     .swiper-button-disabled
       opacity: 1
       cursor: pointer
       pointer-events: unset
</style>
