<template lang="pug">
.quality-value-heart
  .quality-value-heart-title.is-italic {{ $t('detailsPage.qualityValueHeart.title') }}
  .quality-value-heart-separator
    .icon-wrapper
      icon(iconName="menuStone", :iconColor="$h.getSiteColor('darkPrimary')")
  tooltip(v-for="row in rows", :key="row.id")
    .quality-value-heart-row(slot="target") {{ row.anchor }}
    span.quality-value-heart-row-title(slot="header") {{ row.title }}
    span {{ row.message }}
</template>

<script>
import Tooltip from '~~/components/Common/Tooltip'

export default {
  name: 'QualityValueHeartComponent',

  components: { Tooltip },

  computed: {
    rows() {
      return [
        {
          id: 'a78e30c7-9af6-4048-80c9-727120c16b4e',
          anchor: this.$t('detailsPage.qualityValueHeart.row1.anchor'),
          title: this.$t('detailsPage.qualityValueHeart.row1.title'),
          message: this.$t('detailsPage.qualityValueHeart.row1.message')
        },
        {
          id: 'ec1fb520-be45-4c6a-9775-8aed65822c7c',
          anchor: this.$t('detailsPage.qualityValueHeart.row2.anchor'),
          title: this.$t('detailsPage.qualityValueHeart.row2.title'),
          message: this.$t('detailsPage.qualityValueHeart.row2.message')
        },
        {
          id: '4bedacc6-7ad2-4cd2-a170-2b9a5d9a2923',
          anchor: this.$t('detailsPage.qualityValueHeart.row3.anchor'),
          title: this.$t('detailsPage.qualityValueHeart.row3.title'),
          message: this.$t('detailsPage.qualityValueHeart.row3.message')
        },
        {
          id: '641c4f56-7d9b-453e-8233-e8364a55e6cd',
          anchor: this.$t('detailsPage.qualityValueHeart.row4.anchor'),
          title: this.$t('detailsPage.qualityValueHeart.row4.title'),
          message: this.$t('detailsPage.qualityValueHeart.row4.message')
        }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
.quality-value-heart
  .tooltip
    z-index: 1
  .tooltip + .tooltip
    margin-top: 5px
  &-title
    font-family: $lora
    font-size: 22px
  &-row
    text-align: center
    font-size: 16px
    &-title
      font-size: 16px
  &-separator
    position: relative
    text-align: center
    height: 20px
    &::before
      position: absolute
      content: ''
      border-bottom: 1px solid $border-color
      width: 100%
      left: 0
      top: 8px
    .icon-wrapper
      background-color: #ffffff
      position: absolute
      z-index: 1
      display: inline-block
      right: 50%
      width: 60px
      transform: translateX(50%)
</style>
