<template lang="pug">
section.showroom.lazy(data-lazy-function="loaded")
  .showroom-wrapper.container.is-flex
    h2.showroom-title.section-title
      span.is-italic {{ $t('homePage.showroom.title1') }}
      span.is-uppercase {{ $t('homePage.showroom.title2') }}
    .showroom-text {{ $t('homePage.showroom.text') }}
    v-link.button.white-color(:to="{name: 'showroom'}") {{ $t('homePage.showroom.button') }}
</template>

<script>
export default {
  name: 'ShowroomComponent'
}
</script>

<style lang="sass" scoped>
@include background-image('showroom', 'showroom/bg', 'jpg')
.showroom
  margin-top: 60px
  padding: 75px 0
  background-size: cover
  color: #fff
  background-repeat: no-repeat
  +touch
    margin-top: 40px
  &-wrapper
    flex-direction: column
    height: 100%
    justify-content: center
    align-items: center
    a
      margin-top: 40px
      padding: 11px 75px
      font-size: 14px
  &-text
    font-size: 16px
    margin-top: 10px
    max-width: 500px
    text-align: center
</style>
