<template lang="pug">
  modal.custom-remove(v-show="mounted", ref="modal", transition="modal", :width="width", :min-width="825", :max-width="900", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-header
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body
      .item-remove-title.is-italic {{ $t('customItem.removeModal.title') }}
      //.item-remove-message {{ messageText }}
      .item-remove-buttons.is-flex
        button.button.gold-color(:disabled="inWishlist", :class="{'light': !inWishlist}", @click="onAddToWishlist") {{ firstOptionText }}
        button.button.gold-color(:disabled="inCompare", :class="{'light': !inCompare}", @click="onAddToCompare") {{ secondOptionText }}
        button.button.gold-color.light(@click="onRemoveWithoutSave(pushToStonesListingPage)") {{ thirdOptionText }}
        button.button.gold-color.light(@click="onRemoveWithoutSave(pushToSettingsListingPage)") {{ $t('customItem.removeModal.findSetting') }}
</template>

<script>
import cloneDeep from 'lodash/cloneDeep'
import { mapGetters, mapActions } from 'vuex'
import { routesMap } from '~~/utils/definitions/defaults'
import modalMixin from '~~/mixins/modalMixin'
// import { normRouteName } from '~~/utils/utils'

export default {
  name: 'CustomItemRemoveModalComponent',

  inject: ['pageType'],

  mixins: [modalMixin],

  data: () => ({
    modalEvent: 'custom-remove',
    modalName: 'custom-remove',
    modalView: '',
    width: '50%',
    step: null
  }),

  computed: {
    ...mapGetters({
      itemId: 'customItem/itemId',
      wishlistItems: 'favorites/customItems',
      compareItems: 'compareList/customItems',
      customStone: 'customItem/customStone',
      customSetting: 'customItem/customSetting'
    }),

    messageText() {
      if (!this.step || this.step.type === 'setting')
        return this.$t('customItem.removeModal.messageSetting')
      return this.$t('customItem.removeModal.messageStone')
    },

    firstOptionText() {
      if (this.inWishlist)
        return this.$t('customItem.removeModal.savedDesignFavorites')
      return this.$t('customItem.removeModal.saveDesignFavorites')
    },

    secondOptionText() {
      if (this.inCompare)
        return this.$t('customItem.removeModal.savedDesignCompare')
      return this.$t('customItem.removeModal.saveDesignCompare')
    },

    thirdOptionText() {
      if (this.customSetting.category === 'Setting_Earring')
        return this.$t('customItem.removeModal.findPair')
      return this.$t('customItem.removeModal.findStone')
    },

    inWishlist() {
      return (
        this.wishlistItems.findIndex((item) => item.id === this.itemId) > -1
      )
    },

    inCompare() {
      return this.compareItems.findIndex((item) => item.id === this.itemId) > -1
    },

    customItemQuery() {
      if (this.$route.query.source === 'design') return {}
      if (this.isStones || this.isSettings || this.isReview)
        return this.$h.flushQuery(this.$route.query)
      return {}
    },

    isStones() {
      const pattern = new RegExp('rubies', 'g')
      return pattern.test(this.$route.name)
    },

    isSettings() {
      const pattern = new RegExp('design-your-own-setting', 'g')
      return pattern.test(this.$route.name)
    },

    isReview() {
      const pattern = new RegExp('design-your-own-review', 'g')
      return pattern.test(this.$route.name)
    }
  },

  methods: {
    ...mapActions({
      getCustomItem: 'customItem/getCustomItem',
      dropStoneItems: 'stonesList/dropItems',
      dropPairItems: 'stonePairsList/dropItems',
      dropNecklaceItems: 'necklaceSettings/dropItems',
      dropPendantItems: 'pendantSettings/dropItems',
      dropRingItems: 'ringSettings/dropItems',
      dropEarringItems: 'earringSettings/dropItems',
      resetCustomItem: 'customItem/resetCustomItem',
      addToWishlist: 'favorites/addToList',
      addToCompare: 'compareList/addToList',
      disablePrefilter: 'filters/disablePrefilter'
    }),

    onModalEventHandler(step) {
      this.disableScrolling()
      this.$modal.show(this.modalName)
      this.visible = true
      this.step = step
    },

    dropStonesItems() {
      this.dropStoneItems()
      this.dropPairItems()
    },

    dropSettingsItems() {
      this.dropNecklaceItems()
      this.dropPendantItems()
      this.dropRingItems()
      this.dropEarringItems()
    },

    dropAllListsItems() {
      this.dropStonesItems()
      this.dropSettingsItems()
    },

    async onAddToWishlist() {
      this.addToWishlist({ item: cloneDeep(await this.getCustomItem()) })
    },

    async onAddToCompare() {
      this.addToCompare({ item: cloneDeep(await this.getCustomItem()) })
    },

    onRemoveWithoutSave(toListingPage) {
      this.disablePrefilter()
      this.$modal.hide(this.modalName)
      if (this.pageType === 'review') {
        this.dropAllListsItems()
        this.$root.$once('page-loaded', this.resetCustomItem)
        toListingPage()
        return
      }
      toListingPage()
      this.resetCustomItem()
      this.$root.$emit('filter-updated')
    },

    pushToStonesListingPage() {
      const path = {
        query: this.customItemQuery,
        name: 'rubies'
      }
      if (this.customSetting.category === 'Setting_Earring')
        path.name = 'rubies-matched-pairs-of-rubies'
      this.$router.push(this.localePath(path))
    },

    pushToSettingsListingPage() {
      const path = {
        query: {
          ...this.customItemQuery,
          metals: 5
        },
        name: `design-your-own-setting-${
          routesMap[this.$site.name][this.customSetting.category]
        }`
      }
      this.$router.push(this.localePath(path))
    }
  }
}
</script>

<style lang="sass" scoped>
.custom-remove
  ::v-deep
    .v--modal-box
      +mobile
        width: 100% !important
        left: 0 !important
.modal-header
  position: relative
  height: 30px
  .close-button
    cursor: pointer
    position: absolute
    top: 10px
    right: 10px
    align-items: center
    text-transform: uppercase
    svg
      margin-left: 5px
      height: 15px
      width: 15px
.modal-body
  padding: 20px
  text-align: center
  .item-remove-title
    font-size: 36px
    font-family: $lora
    padding: 0 30px
    +mobile
      font-size: 24px
      padding: 0 10px
  .item-remove-message
    margin-top: 20px
  .item-remove-buttons
    flex-wrap: wrap
    justify-content: space-between
    +mobile
      flex-wrap: unset
      flex-direction: column
    .button
      width: 47%
      margin: 20px 10px 0
      +mobile
        margin-left: 0
        width: 100%
</style>
