<template lang="pug">
main.account-page.page
  page-header(:title="$t('account.personal.title')", :breadcrumbs="breadcrumbsLocal")
  .container.account-page__personal(data-v-important)
    button.sign-out.button.gold-color.light.is-hidden-tablet(@click="$auth.logout") {{ $t('account.dashboard.signOut') }}
    .columns
      .column.account-page__info
        h3.block-title.is-italic {{ $t('account.personal.personalDetails') }}
        .columns.is-flex-mobile
          .column.personal-labels.is-half
            .personal-label(v-for="param in personalParams", :key="param.id") {{ param.label }}
          .column.personal-values.is-half
            .personal-value(v-for="param in personalParams", :key="param.id") {{ param.value }}
            //button.edit-button.button.gold-color.light(@click="$refs.personal.$emit('personal-edit')") {{ $t('account.personal.edit') }}
        button.edit-button.button.gold-color.light(@click="$refs.personal.$emit('personal-edit')") {{ $t('account.personal.edit') }}
      .column.account-page__info
        h3.block-title.is-italic {{ $t('account.personal.loginDetails') }}
        .columns.is-flex-mobile
          .column.personal-labels.is-half
            .personal-label(v-for="param in loginParams", :key="param.id") {{ param.label }}
          .column.personal-values.is-half
            .personal-value(v-for="param in loginParams", :key="param.id") {{ param.value }}
            //button.edit-button.button.gold-color.light(@click="$refs.login.$emit('login-edit')") {{ $t('account.personal.edit') }}
        button.edit-button.button.gold-color.light(@click="$refs.login.$emit('login-edit')") {{ $t('account.personal.edit') }}
  personal-form-modal(ref="personal", :days="daysList", :months="monthsList", :relationships="relationshipsList")
  login-form-modal(ref="login")
  back-to-top-component
</template>

<script>
import authRestrictedMixin from '~~/mixins/authRestrictedMixin'
import _basePage from '~~/components/Page/_basePage'

export default {
  name: 'AccountPage',

  middleware: 'isAuthorized',

  components: {
    PageHeader: () => import('~~/components/Account/PageHeader'),
    PersonalFormModal: () =>
      import('~~/components/Account/PersonalDetails/PersonalFormModal'),
    LoginFormModal: () =>
      import('~~/components/Account/PersonalDetails/LoginFormModal')
  },

  extends: _basePage,

  mixins: [authRestrictedMixin],

  computed: {
    daysList() {
      return Array.from(new Array(31), (x, i) => i + 1)
    },

    monthsList() {
      return Array.from(new Array(12), (x, i) => ({
        key: i + 1,
        label: this.$t(`account.personal.months.${i + 1}`)
      }))
    },

    relationshipsList() {
      return Array.from(new Array(12), (x, i) => ({
        key: i,
        label: this.$t(`account.personal.statuses.${i}`)
      }))
    },

    birthdayMonth() {
      return (
        this.monthsList.find((m) => m.key === this.$auth.user.birthday?.month)
          ?.label || ''
      )
    },

    relationship() {
      return (
        this.relationshipsList.find(
          (r) => r.key === this.$auth.user.relationship
        )?.label || ''
      )
    },

    breadcrumbsLocal() {
      return [
        {
          id: 'd8ac6bff-ce6d-4232-a68a-ab3131728f62',
          name: this.$t('breadcrumbs.home'),
          path: '/'
        },
        {
          id: 'a056f40a-6739-47b5-a620-b8f20d0d170d',
          name: this.$t('breadcrumbs.account.dashboard'),
          path: '/account'
        },
        {
          id: '95c14fc9-6ca5-4be2-af83-c870fd236f76',
          name: this.$t('breadcrumbs.account.personal')
        }
      ]
    },

    personalParams() {
      return [
        {
          id: 'fdb33f33-08b5-4f2d-a82c-4d85f4ebcb30',
          label: this.$t('account.personal.firstName'),
          value: this.$auth.user.firstName
        },
        {
          id: '29a5dda5-b8b7-46cd-9883-1a5894985aa7',
          label: this.$t('account.personal.lastName'),
          value: this.$auth.user.lastName
        },
        {
          id: '452a437a-37d0-42b8-923f-d58cb4f1e1c6',
          label: this.$t('account.personal.birthday'),
          value: [this.birthdayMonth, this.$auth.user.birthday?.day]
            .filter((d) => d)
            .join(', ')
        },
        {
          id: '5524de65-0009-453c-be16-6c672e1c98e2',
          label: this.$t('account.personal.relationship'),
          value: this.relationship
        }
      ]
    },

    loginParams() {
      return [
        {
          id: 'fdb33f33-08b5-4f2d-a82c-4d85f4ebcb30',
          label: this.$t('account.personal.emailAddress'),
          value: this.$auth.user.email
        },
        {
          id: '29a5dda5-b8b7-46cd-9883-1a5894985aa7',
          label: this.$t('account.personal.password'),
          value: '• • • • • • • •'
        }
      ]
    }
  },

  fetch(context) {
    context.store.dispatch('getMeta', context)
  }
}
</script>

<style lang="sass" src="~~/assets/styles/pages/account/accordion.sass"></style>

<style lang="sass" scoped>
$padding: 34px

.account-page
  &__info
    position: relative
    .edit-button
      position: absolute
      right: 0.75rem
      top: 4.5rem
      padding: 10px 34px
      +touch
        position: unset
        width: 100%
  &__personal
    margin-top: $padding
    @include margin-bottom()
    .sign-out
      margin-bottom: 2rem
      width: 100%
    .personal-label,
    .personal-value
      margin-top: 20px
    .personal-label
      text-transform: uppercase
      font-weight: bold
    .personal-values
      position: relative
</style>
