<template lang="pug">
  .showroom-page__preview.sub-page
    .showroom-page__preview-title {{ $t('showroom.preview.previewTitle') }}
    .showroom-page__preview-message {{ $t('showroom.preview.previewMessage') }}
    .showroom-page__preview-sub-title {{ $t('showroom.preview.details') }}
    .showroom-page__preview-details
      .showroom-page__preview-details-param.is-flex(v-for="param in detailParams", :key="param.id")
        .param-label {{ param.label }}
        .param-value
          strong {{ param.value }}
    v-link.showroom-page__preview-back(:to="{ name: 'showroom' }") {{ $t('showroom.preview.back') }}
    .showroom-page__preview-sub-title {{ $t('showroom.preview.contactDetails') }}
    form.showroom-page__preview-form
      .form-block
        .form-row
          .field.is-fullwidth(:class="{'field-error': $v.customerName.$error}")
            label.label {{ $t('showroom.form.customerName') }}
            .control.has-icons-left
              input.input(id="a81c105f", autocomplete="name", type="text", v-model.trim="$v.customerName.$model", :class="{ 'is-danger': $v.customerName.$error }")
              span.icon.is-small.is-left
                i.fa.fa-user
            p.help.is-danger(v-if="!$v.customerName.required && $v.customerName.$dirty") {{ $t('showroom.formErrors.customerName') }}

        .form-row
          .field.is-fullwidth(:class="{'field-error': $v.email.$error}")
            label.label {{ $t('showroom.form.email') }}
            .control.has-icons-left
              input.input(ref="email-field", id="c485b90a", autocomplete="email", type="text", v-model.trim="$v.email.$model", :class="{ 'is-danger': $v.email.$error }")
              span.icon.is-small.is-left
                i.fa.fa-envelope
            p.help.is-danger(v-if="!$v.email.required && $v.email.$dirty") {{ $t('showroom.formErrors.email.required') }}
            p.help.is-danger(v-if="!$v.email.email && $v.email.$dirty") {{ $t('showroom.formErrors.email.valid') }}

        .form-row
          .field.is-fullwidth(:class="{'field-error': $v.phone.$error}")
            label.label {{ $t('showroom.form.phone') }}
            .control.has-icons-left
              input.input(id="ed999510", autocomplete="tel", type="text", v-model.trim="$v.phone.$model", :class="{ 'is-danger': $v.phone.$error }")
              span.icon.is-small.is-left
                i.fa.fa-phone
            p.help.is-danger(v-if="!$v.phone.required && $v.phone.$dirty") {{ $t('showroom.formErrors.phone') }}

        .form-row
          .field.is-fullwidth.submit-control
            .control
              button.button.gold-color(ref="submitForm") {{ $t('showroom.sectionFour.submitButton') }}
</template>

<script>
import { validationMixin } from 'vuelidate'
import required from 'vuelidate/lib/validators/required'
import email from 'vuelidate/lib/validators/email'
import { mapActions } from 'vuex'
import showroomFormMixin from '~~/mixins/showroomFormMixin'
import _basePage from '~~/components/Page/_basePage'
import recaptchaMixin from '~~/mixins/recaptchaMixin'

export default {
  name: 'PreviewPage',

  extends: _basePage,

  scrollToTop: true,

  mixins: [recaptchaMixin, validationMixin, showroomFormMixin],

  validations: {
    customerName: { required },
    phone: { required },
    email: { required, email }
  },

  computed: {
    detailParams() {
      return [
        {
          id: '536c26a9-b77f-4164-b6fb-5896975e457b',
          label: this.$t('showroom.preview.date'),
          value: this.showroomForm.date
        },
        {
          id: '99b6c761-5c80-408a-9082-ef1149c26da7',
          label: this.$t('showroom.preview.time'),
          value: this.showroomForm.time
        },
        {
          id: '880bd783-4520-43f6-b2fc-43cef7a37d7c',
          label: this.$t('showroom.preview.salesPerson'),
          value: this.showroomForm.salesPerson?.name
        }
      ]
    }
  },

  fetch({ store, error }) {
    const { customerName, phone, email } = store.state.showroom.form
    if (customerName && phone && email) return // check if all fields are filled
    error({ statusCode: 404, message: 'This page could not be found' })
  },

  mounted() {
    this.mountReCaptcha()
  },

  methods: {
    ...mapActions({
      submitForm: 'showroom/submitForm'
    }),

    async onFormSubmit(token) {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.resetRecaptcha()
        return
      }

      this.formUpdate({ 'g-recaptcha-response': token })

      this.$root.$emit('loading-start')
      await this.submitForm()
      this.$root.$emit('loading-end')
      this.$router.push(this.localePath({ name: 'showroom-preview-success' }))
    }
  }
}
</script>

<style lang="sass" scoped>
.showroom-page
  &__preview
    padding: 120px 0
    font-size: 18px
    +touch
      padding: 40px 0
  &__preview-title
    line-height: 66px
    font-size: 50px
    font-style: italic
    font-family: $lora
    +mobile
      font-size: 42px
      text-align: center
  &__preview-sub-title
    margin-top: 50px
    font-size: 26px
    font-weight: bold
  &__preview-message
    margin-top: 30px
  &__preview-details-param
    margin-top: 15px
    .param-label
      width: 115px
  &__preview-back
    display: block
    color: $gold-color
    margin-top: 40px
    text-decoration: underline
  &__preview-form
    margin-top: 40px
    .form-row
      .field
        margin-bottom: 32px
        .input
          height: 3em
        .control
          &.has-icons-left
            .icon
              height: 3em
        &.submit-control
          padding-top: 10px
          margin-top: unset
          .control
            text-align: left
            .button
              padding: 15px 10px
              width: 330px
              +touch
                width: 100%
</style>
