<template lang="pug">
  .showroom-page__success.sub-page
    .showroom-page__success-title {{ $t('showroom.success.successTitle') }}
    .showroom-page__success-message {{ $t('showroom.success.successMessage') }}
    .showroom-page__success-sub-title {{ $t('showroom.success.details') }}
    .showroom-page__success-details
      .showroom-page__success-details-param.is-flex(v-for="param in detailParams", :key="param.id")
        .param-label {{ param.label }}
        .param-value
          strong {{ param.value }}
    showroom-address
</template>

<script>
import { mapState } from 'vuex'
import _basePage from '~~/components/Page/_basePage'

export default {
  name: 'ReviewPage',

  components: {
    ShowroomAddress: () => import('~~/components/Showroom/ShowroomAddress')
  },

  extends: _basePage,

  computed: {
    ...mapState({
      showroomForm: (state) => state.showroom.form
    }),

    detailParams() {
      return [
        {
          id: '536c26a9-b77f-4164-b6fb-5896975e457b',
          label: this.$t('showroom.preview.date'),
          value: this.showroomForm.date
        },
        {
          id: '99b6c761-5c80-408a-9082-ef1149c26da7',
          label: this.$t('showroom.preview.time'),
          value: this.showroomForm.time
        },
        {
          id: '880bd783-4520-43f6-b2fc-43cef7a37d7c',
          label: this.$t('showroom.preview.salesPerson'),
          value: this.showroomForm.salesPerson?.name
        }
      ]
    }
  },

  fetch({ store, error }) {
    const { customerName, phone, email } = store.state.showroom.form
    if (customerName && phone && email) return // check if all fields are filled
    error({ statusCode: 404, message: 'This page could not be found' })
  }
}
</script>

<style lang="sass" scoped>
.showroom-page
  &__address
    padding-left: 0
    width: unset
  &__success
    padding: 120px 0
    font-size: 18px
    +touch
      padding: 40px 0
  &__success-title
    line-height: 66px
    font-size: 50px
    font-style: italic
    font-family: $lora
    +mobile
      font-size: 42px
      text-align: center
  &__success-sub-title
    margin-top: 50px
    font-size: 26px
    font-weight: bold
  &__success-message
    margin-top: 30px
  &__success-details-param
    margin-top: 15px
    .param-label
      width: 115px
  &__success-back
    display: block
    color: $gold-color
    margin-top: 40px
    text-decoration: underline
</style>
