<template lang="pug">
main.compare-list-page.page
  .container.is-flex
    continue-shopping-button
    .button-wrapper.is-flex(v-if="!$device.isMobile")
      tooltip
        i.material-icons(slot="target") help
        .tooltip-content
          .tooltip-header
            strong {{ $t('compareList.dreamCompare') }}
          .tooltip-body {{ $t('compareList.dreamCompareDescription') }}
      button.button.gold-color.dream-compare(@click="onDreamClick", :disabled="!dreamCompareItems.length") {{ $t('compareList.dreamCompare') }}
  compare-items(v-if="fetched")
  dream-compare-modal-component(v-if="!$device.isMobile", :items="dreamCompareItems")
  back-to-top-component
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
import DreamCompareModalComponent from '~~/components/CompareList/DreamCompare/DreamCompareModal'
import Tooltip from '~~/components/Common/Tooltip'
import UpdatePrices from '~~/utils/store/classes/UpdatePrices'
import _basePage from '~~/components/Page/_basePage'
import ContinueShoppingButton from '~~/components/Common/ContinueShoppingButton'

export default {
  name: 'CompareListPage',

  components: {
    Tooltip,
    DreamCompareModalComponent,
    CompareItems: () => import('~~/components/CompareList/CompareItems'),
    ContinueShoppingButton
  },

  extends: _basePage,

  computed: {
    ...mapState({
      fetched: (state) => state.fetched,
      pricesUpdated: (state) => state.app.comparePricesUpdated
    }),

    ...mapGetters({
      allCompareListItems: 'compareList/allListItems'
    }),

    dreamCompareItems() {
      return this.allCompareListItems.filter((item) => item.containsVideo360)
    }
  },

  async fetch(ctx) {
    await ctx.store.dispatch('getMeta', ctx)
    if (process.client && !ctx.store.state.app.comparePricesUpdated) {
      await UpdatePrices(ctx, 'compare')
      ctx.store.dispatch('app/compareUpdatePrices')
    }
  },

  beforeDestroy() {
    this.$root.$off('remove-compare', this.onRemoveFromCompareList)
  },

  mounted() {
    this.$root.$on('remove-compare', this.onRemoveFromCompareList)
    if (!this.pricesUpdated)
      this.$root.$once('store-restored', this.onRestoreStore)
  },

  methods: {
    ...mapActions({
      onRemoveFromCompareList: 'compareList/removeFromList',
      updateListPrices: 'app/compareUpdatePrices'
    }),

    onRestoreStore() {
      // set timeout to get a time to initialize mount hook for preloader
      setTimeout(async () => {
        this.$root.$emit('loading-start')
        await UpdatePrices({ store: this.$store }, 'compare')
        this.updateListPrices()
        this.$root.$emit('loading-stop')
      }, 10)
    },

    onDreamClick() {
      if (!this.dreamCompareItems.length) return
      this.$root.$emit('dream-compare')
    }
  }
}
</script>

<style lang="sass" scoped>
.compare-list-page
  border-top: 1px solid $border-color
  @include margin-bottom()
  .container
    justify-content: space-between
    .button-wrapper
      margin-top: 20px
      align-items: center
      i
        cursor: help
        color: $gold-color
        margin-right: 10px
</style>
