<template lang="pug">
main.details-page.page
  .container
    breadcrumbs(:items="breadcrumbs")
    steps
    details-main
  details-overview
  .container
    details-description
  custom-designs(v-if="productDetails.customDesigns", :settingId="productDetails.id", :category="productDetails.category")
  our-process-component
  //details-origin
  gemologist-component
  packaging-component
  education-component
  setting-selector
  back-to-top-component
  custom-item-remove-modal
</template>

<script>
import {
  hydrateWhenIdle,
  hydrateWhenVisible,
  hydrateNever
} from 'vue-lazy-hydration'
import isEmpty from 'lodash/isEmpty'
import { mapGetters } from 'vuex'
import _basePage from '~~/components/Page/_basePage'
import structuredDataMixin from '~~/mixins/metatags/structuredDataMixin'
import FetchDetails from '~~/utils/fetch/details'
import { itemNameFormatter } from '~~/utils/formatters/index.js'

export default {
  name: 'StonesDetailsPage',

  pageType: 'details',

  scrollToTop: true,

  components: {
    CustomItemRemoveModal: hydrateWhenIdle(() =>
      import('~~/components/DetailsPage/CustomItemRemoveModal')
    ),
    CustomDesigns: hydrateWhenIdle(() =>
      import('~~/components/DetailsPage/CustomDesignsStones')
    ),
    OurProcessComponent: hydrateWhenVisible(() =>
      import('~~/components/DetailsPage/Process/OurProcess')
    ),
    EducationComponent: hydrateWhenVisible(() =>
      import('~~/components/HomePage/Education')
    ),
    Steps: hydrateWhenIdle(
      /* webpackPreload: true */ () => import('~~/components/ListingPage/Steps')
    ),
    SettingSelector: hydrateWhenIdle(() =>
      import('~~/components/DetailsPage/DetailsMain/SettingsSelector')
    ),
    GemologistComponent: hydrateWhenIdle(() =>
      import('~~/components/HomePage/Gemologist')
    ),
    DetailsOverview: hydrateWhenIdle(() =>
      import('~~/components/DetailsPage/DetailsOverview')
    ),
    // DetailsOrigin: () => import('~~/components/DetailsPage/DetailsOrigin'),
    DetailsMain: hydrateWhenIdle(() =>
      import('~~/components/DetailsPage/DetailsMain')
    ),
    DetailsDescription: hydrateNever(() =>
      import('~~/components/DetailsPage/DetailsDescription')
    ),
    PackagingComponent: hydrateWhenVisible(() =>
      import('~~/components/HomePage/Packaging')
    ),
    Breadcrumbs: hydrateWhenIdle(() =>
      import('~~/components/Common/Breadcrumbs')
    )
  },

  extends: _basePage,

  isDetails: true,

  structuredData: true,

  mixins: [structuredDataMixin],

  computed: {
    ...mapGetters({
      productDetails: 'productDetails/productDetails',
      customSetting: 'customItem/customSetting',
      customStone: 'customItem/customStone'
    }),

    showSteps() {
      return !isEmpty(this.customSetting) || !isEmpty(this.customStone)
    },

    breadcrumbs() {
      const last = {
        id: '388c7bc2-24d6-43b7-8068-aea821186f91',
        name: itemNameFormatter.call(this, this.productDetails)
      }

      let middle = this.breadcrumbsItems.stoneListing

      if (this.productDetails.cuttingStyle === 'Cabochon')
        middle = this.breadcrumbsItems.stoneCabochonListing
      if (this.productDetails.isStar)
        middle = this.breadcrumbsItems.stoneStarListing
      return [this.breadcrumbsItems.home, middle, last]
    }
  },

  async fetch(context) {
    try {
      const item = new FetchDetails({ context, category: 'Stone' })
      await item.fetch()
    } catch (e) {
      if (context.$sentry && context.$sentry.captureException) {
        context.$sentry.captureException(e)
      } else {
        console.log(e)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.details-page
  border-top: 1px solid $border-color
  @include margin-bottom()
  .custom-designs
    margin-top: 120px
  .our-process
    margin-top: 0
  .breadcrumbs-wrapper
    margin: 7px 0
</style>
