<template lang="pug">
.designer-help
  .designer-help-button.is-flex(@click="onHelpButtonClick")
    tooltip
      i.material-icons(slot="target") help
      .designer-help-popper
        .designer-help-popper-title.weight-700 {{ $t('customItem.askHelp') }}
        .designer-help-popper-body {{ $t('customItem.helpMessage') }}
    span {{ $t('customItem.designerHelp') }}
  modal.designer-help-modal(v-show="mounted", ref="modal", :max-width="1200", transition="modal", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-header
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body
      slide-x-left-transition(group, :styles="{animationFillMode: 'both', animationTimingFunction: 'ease-in-out'}")
        page-one(@next-page="onNextPage", v-if="formPage", key="eae106c7-515d-4947-bf2e-85f1fc1ebc79")
        page-two(@prev-page="onPrevPage", v-else, key="8f59a3b9-ac1f-446a-bd3e-069141a73c57")
</template>

<script>
import { SlideXLeftTransition } from 'vue2-transitions'
import Tooltip from '~~/components/Common/Tooltip'
import modalMixin from '~~/mixins/modalMixin'

export default {
  name: 'CustomItemDesignerHelpComponent',

  components: {
    Tooltip,
    SlideXLeftTransition,
    PageOne: () => import('./Pages/PageOne'),
    PageTwo: () => import('./Pages/PageTwo')
  },

  mixins: [modalMixin],

  data: () => ({
    modalEvent: 'designer-help',
    modalName: 'designer-help',
    modalView: '',
    width: '50%',
    formPage: true
  }),

  methods: {
    onNextPage() {
      this.formPage = false
    },

    onPrevPage() {
      this.formPage = true
    },

    onHelpButtonClick() {
      this.$root.$emit('designer-help')
    }
  }
}
</script>

<style lang="sass" scoped>
.designer-help
  margin-top: 40px
  color: $gold-color
  font-weight: 700
  cursor: pointer
  &-button
    align-items: center
    i
      color: $gold-color
      font-size: 1.2rem
      margin-right: 5px
  &-modal
    .modal-header
      position: relative
      height: 30px
      .close-button
        cursor: pointer
        position: absolute
        top: 10px
        right: 10px
        align-items: center
        text-transform: uppercase
        svg
          margin-left: 5px
          height: 15px
          width: 15px
    .modal-body
      padding: 20px
  &-popper
    &-title
      text-align: center
    &-body
      margin-top: 10px
      font-weight: normal
</style>
