<template lang="pug">
section.our-story
  .our-story__title.title(v-html="$t('homePage.ourHistory.title')")
  .our-story__wrapper.lazy(data-lazy-function="loaded")
    .container.is-flex
      .slide-image.is-flex
        v-image(src="ourStory/slide1@2x.jpg", :alt="$t('imagesAlt.ourStory')")
      .slide-content.is-flex
        .sub-title {{ $t('homePage.ourHistory.slide1.subTitle') }}
        h3.title {{ $t('homePage.ourHistory.slide1.title') }}
        .text {{ $t('homePage.ourHistory.slide1.text') }}
        v-link.read-more(:to="{ name: 'education-index-category-slug', params: { category: 'about-us', slug: 'our-history' }}") {{ $t('homePage.ourHistory.slide1.button') }}
</template>

<script>
export default {
  name: 'OurStoryComponent'
}
</script>

<style lang="sass" scoped>
@include background-image('our-story__wrapper', 'ourStory/bg', 'jpg')
.our-story
  margin-top: 100px
  +tablet-only
    margin-top: 70px
  &__title
    margin-bottom: 40px !important
  &__wrapper
    background-size: 35px
    background-repeat: repeat
    +mobile
      background-size: 30px
    .container
      align-items: center
      padding: 35px 0
      +mobile
        flex-direction: column
    .slide-image
      width: 50%
      max-height: 420px
      justify-content: flex-end
      align-items: center
      aspect-ratio: 10 / 7
      +mobile
        width: 100%
        max-height: unset
        margin: auto
        padding: 0 18px
        justify-content: center
    .slide-content
      height: 334px
      font-size: 16px
      width: 50%
      justify-content: center
      flex-direction: column
      padding: 70px
      background-color: #ffffff
      //height: 100%
      //+tablet-only
        padding: 45px 50px 45px 20px
      +mobile
        width: 100%
        margin: 0 40px
        padding: 20px
        text-align: center
      .read-more
        margin-top: 15px
      .sub-title
        text-transform: uppercase
      .title
        text-align: left
        margin-top: 30px
        font-family: $lora
        font-style: italic
        font-weight: 400
        font-size: 36px
        +mobile
          text-align: center
      .text
        max-width: 500px
        +mobile
          margin: auto
        +ultrahd
          max-width: 670px
</style>
