<template lang="pug">
  modal.mobile-filter-modal(v-show="mounted", transition="modal", ref="modal", :width="modalWidth", :max-width="965", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-body.is-flex
      .filter-container
        .filter-container-title.is-flex
          .filter-title {{ $t('listingPage.filters.filter') }}
          .filter-close-wrapper
            .fa.fa-xmark(@click="onCloseHandler")
        .filter-container-body(ref="body")
          .filter-item-wrapper(v-for="(filter, index) in filters", :key="index")
            .filter-item.is-flex(@click="onMenuItemClickHandler(index)", :class="{open: selectedFilter === index}")
              .filter-item-name.is-flex
                span {{ $t(`listingPage.filters.${index}`) }}
                .badge(v-if="getFiltersCount(index)") {{ getFiltersCount(index) }}
              i.fa.fa-chevron-right
            collapse-transition
              component(v-if="filterComponent && filterComponent.filterName === index", :is="filterComponent.name", :key="filterComponent.filterName", :filter-params="filterComponent")
        .filter-container-close
          button.button.gold-color.light(@click="onClearAll") {{ $t('listingPage.filters.clearAll') }}
</template>

<script>
import { CollapseTransition } from 'vue2-transitions'
import { mapGetters } from 'vuex'
import omit from 'lodash/omit'
import cloneDeep from 'lodash/cloneDeep'
import without from 'lodash/without'
import { validUrlFilterNames } from '~~/utils/definitions/filters'
import modalMixin from '~~/mixins/modalMixin'
import filtersMixin from '~~/mixins/filtersMixin'

export default {
  name: 'MainFilterMobileModalComponent',

  components: {
    CollapseTransition,
    MainFilterAreaSimple: () =>
      import('~~/components/ListingPage/MainFilter/Views/MainFilterAreaSimple'),
    MainFilterAreaRange: () =>
      import('~~/components/ListingPage/MainFilter/Views/MainFilterAreaRange'),
    MainFilterAreaPriceRange: () =>
      import(
        '~~/components/ListingPage/MainFilter/Views/MainFilterAreaPriceRange'
      ),
    MainFilterAreaDimensions: () =>
      import(
        '~~/components/ListingPage/MainFilter/Views/MainFilterAreaDimensions'
      ),
    MainFilterAreaCenterSideShapes: () =>
      import(
        '~~/components/ListingPage/MainFilter/Views/MainFilterAreaCenterSideShapes'
      )
  },

  mixins: [modalMixin, filtersMixin],

  data: () => ({
    modalEvent: 'mobile-filters',
    modalName: 'mobile-filters',
    modalWidth: '100%',
    selectedFilter: ''
  }),

  computed: {
    ...mapGetters({
      selectedFilters: 'filters/selectedFilters',
      hasFilters: 'filters/hasFilters'
    }),

    type() {
      return this.$store.getters.typeList
    },

    hasSelectedFilters() {
      return this.hasFilters(this.type)
    },

    filters() {
      return this.$store.getters[`filters/${this.type}SourceFilters`]
    },

    filterComponent() {
      if (!this.selectedFilter) return null
      return this[`${this.itemsType}Filters`].find(
        (component) => this.selectedFilter === component.filterName
      )
    }
  },

  methods: {
    getFiltersCount(filter) {
      const filters = this.selectedFilters(this.type)
      let filterValues = []
      if (filter === 'dimensions') {
        const lengthValues = filters.lengthRange || []
        const widthValues = filters.widthRange || []
        filterValues = [...lengthValues, ...widthValues]
      } else if (filter === 'stonesShapes') {
        const centerValues = filters.centerStoneShapes || []
        const sideValues = filters.sideStoneShapes || []
        filterValues = [...centerValues, ...sideValues]
      } else {
        filterValues = filters[filter] || []
      }
      return filterValues.filter(
        (n) => !this.getFilterBorders(filter).includes(n)
      ).length
    },

    getFilterBorders(filter) {
      if (filter === 'dimensions') {
        const lengthBorders = Object.values(this.filters[filter].lengthRange[0])
        const widthBorders = Object.values(this.filters[filter].widthRange[0])
        return [...lengthBorders, ...widthBorders]
      }
      if (/Range/.test(filter)) {
        return Object.values(this.filters[filter][0])
      }
      return []
    },

    flushQuery(query) {
      return omit(
        cloneDeep(query),
        without(validUrlFilterNames, 'sort-by', 'order')
      )
    },

    onClearAll() {
      this.$router.push({ query: this.flushQuery(this.$route.query) })
    },

    onMenuItemClickHandler(index) {
      if (this.selectedFilter === index) {
        this.selectedFilter = ''
        return
      }
      this.selectedFilter = index
    }
  }
}
</script>

<style lang="sass" scoped>
.mobile-filter-modal
  &.v--modal-overlay
    z-index: 2000
  ::v-deep
    .v--modal-box
      //overflow: auto
      height: 100vh !important
      height: calc(var(--vh, 1vh) * 100) !important
      top: 0 !important
      left: 0 !important
      border-radius: 0
  .modal-header
    position: relative
    height: 30px
    .close-button
      cursor: pointer
      position: absolute
      top: 10px
      right: 10px
      align-items: center
      text-transform: uppercase
      svg
        margin-left: 5px
        height: 15px
        width: 15px
  .modal-body
    height: 100vh
    height: calc(var(--vh, 1vh) * 100)
.filter-container
  width: 100%
  &-title
    position: relative
    justify-content: center
    padding: 15px
    border-bottom: 1px solid $border-color
    .filter-close-wrapper
      font-size: 20px
      position: absolute
      top: 5px
      right: 10px
      padding: 10px
      .fa
        text-align: right
        width: 20px
    .filter-title
      font-size: 18px
      font-weight: bold
      text-transform: uppercase
    .clear-all
      font-weight: bold
      right: 15px
      position: absolute
  &-body
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    border-bottom: 1px solid $border-color
    height: calc(100% - 120px) // 120px - title & close containers height
    .filter-item
      padding: 10px 14px 10px 25px
      align-items: center
      justify-content: space-between
      border-bottom: 1px solid $border-color
      i
        @include transition(all, .3s)
        color: $gold-color
      &.open
        i
          transform: rotate(90deg)
      &-name
        .badge
          border-radius: 50%
          text-align: center
          margin-left: 5px
          height: 21px
          width: 21px
          color: #ffffff
          background-color: $dark-primary-color
          &.empty
            display: none
    .filters-area
      padding: 10px 14px 10px 25px !important
  &-close
    padding: 10px
    .button
      width: 100%
</style>
