<template lang="pug">
.main-filter-mobile(ref="mainFilter", :class="{'header-offset': !hide}")
  button.button.filter-button(@click="$root.$emit('mobile-filters')")
    span {{ $t('listingPage.filters.filter') }}&nbsp;
    span.badge(v-if="totalFiltersCount") {{ totalFiltersCount }}
  button.button.filter-button(@click="$root.$emit('mobile-sort')") {{ $t('listingPage.filters.sort') }}
  main-filter-mobile-modal
  component(:is="sortComponentName")
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import without from 'lodash/without'
import { validUrlFilterNames } from '~~/utils/definitions/filters'
import { bands, settings } from '~~/utils/sitemapUtils'

export default {
  name: 'MainFilterMobileComponent',

  components: {
    MainFilterMobileModal: () => import('./MainFilterMobileModal'),
    MainSortMobileModal: () => import('./MainSortMobileModal'),
    MainNewSortMobileModal: () => import('./MainNewSortMobileModal')
  },

  data: () => ({
    filterOpen: false,
    sticky: false
  }),

  computed: {
    ...mapGetters({
      selectedFilters: 'filters/selectedFilters'
    }),

    sortComponentName() {
      if ([...settings, ...bands].includes(this.type))
        return 'MainNewSortMobileModal'
      return 'MainSortMobileModal'
    },

    ...mapState({
      hide: (state) => state.app.mobileHeaderHide
    }),

    // sticky() {
    //   if (this.hide) return this.$refs.mainFilter.offsetTop
    //   return this.$refs.mainFilter.offsetTop - 180
    // },

    type() {
      return this.$store.getters.typeList
    },

    filters() {
      return this.$store.getters[`filters/${this.type}SourceFilters`]
    },

    totalFiltersCount() {
      let count = 0
      Object.keys(this.$route.query).forEach((f) => {
        if (
          without(
            validUrlFilterNames,
            'sort-by',
            'order',
            'availability'
          ).includes(f)
        ) {
          if (Array.isArray(this.$route.query[f])) {
            count += this.$route.query[f].length
          } else {
            count++
          }
        }
      })
      return count
    }
  },

  beforeDestroy() {
    window.removeEventListener('scroll', this.onScrollHandler, false)
  },

  mounted() {
    if (!this.$refs.mainFilter) return
    window.addEventListener('scroll', this.onScrollHandler, false)
  },

  methods: {
    onScrollHandler() {
      this.sticky = this.hide
        ? this.$refs.mainFilter.offsetTop
        : this.$refs.mainFilter.offsetTop - 180

      if (this.sticky - window.scrollY < 1) {
        this.$refs.mainFilter.classList.add('sticky')
      } else {
        this.$refs.mainFilter.classList.remove('sticky')
      }
    },

    getFilterBorders(filter) {
      if (filter === 'lengthRange')
        return Object.values(this.filters.dimensions.lengthRange[0])
      if (filter === 'widthRange')
        return Object.values(this.filters.dimensions.widthRange[0])
      if (/Range/.test(filter)) {
        return Object.values(this.filters[filter][0])
      }
      return []
    }
  }
}
</script>

<style lang="sass" scoped>
.main-filter-mobile
  background-color: #ffffff
  padding: 20px
  transition: all .3s ease
  position: sticky
  top: 0
  z-index: 2000
  .filter-button
    border: 1px solid $border-color
    width: 50%
    .badge
      border-radius: 50%
      text-align: center
      margin-left: 5px
      height: 21px
      width: 21px
      color: #ffffff
      background-color: $dark-primary-color
      &.empty
        display: none
  .filter-button + .filter-button
    border-left: unset
  &.sticky
    border-bottom: 1px solid $border-color
  &.header-offset
    top: 180px
  .container
    justify-content: space-between
    .filter-by
      text-transform: uppercase
</style>
