<template lang="pug">
  modal.mobile-filter-modal(v-show="mounted", transition="modal", ref="modal", :width="modalWidth", :max-width="965", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-body.is-flex
      .filter-container
        .filter-container-title.is-flex
          .filter-title {{ $t('listingPage.filters.sort') }}
          .filter-close-wrapper
            .fa.fa-xmark(@click="onCloseHandler")
        .filter-container-body(ref="body")
          .filter-container-body__sort-wrapper
            .radio-group.is-flex(v-if="visible")
              radio(v-for="sort in items", :key="sort.id", name="sort", :val="sort", v-model="sortBy", @change="onSelectChange")
                .radio-value
                  span {{ sort.label }}
          .filter-container-body__availability-wrapper(v-if="showPreviewItemsSwitcher")
            preview-items-switcher
        .filter-container-footer
          button.button.gold-color.light(@click="onClearAll") {{ $t('listingPage.filters.clearAll') }}
</template>

<script>
import omit from 'lodash/omit'
import cloneDeep from 'lodash/cloneDeep'
import { hydrateWhenIdle } from 'vue-lazy-hydration'
import { urlToStoreSort } from '~~/utils/definitions/filters'
import modalMixin from '~~/mixins/modalMixin'
import { defaultFiltersMap } from '~~/utils/definitions/defaults'
import { previewJewelry } from '~~/utils/sitemapUtils.js'

export default {
  name: 'MainSortMobileModalComponent',

  components: {
    PreviewItemsSwitcher: hydrateWhenIdle(() =>
      import('~~/components/ListingPage/Controls/PreviewItemsSwitcher')
    ),
    Radio: hydrateWhenIdle(() => import('~~/components/Common/Radio'))
  },

  mixins: [modalMixin],

  data: () => ({
    modalEvent: 'mobile-sort',
    modalName: 'mobile-sort',
    modalWidth: '100%',
    sortBy: null,
    default: null
  }),

  computed: {
    selectedFilters() {
      return this.$store.state.filters.selectedFilters[this.type]
    },

    type() {
      return this.$store.getters.typeList
    },

    showPreviewItemsSwitcher() {
      return previewJewelry.includes(this.type)
    },

    items() {
      return [
        {
          id: 'bf2f1ff1-d58b-4969-9f22-bea3874ed03b',
          label: this.$t(`listingPage.${this.type}.sort.other.newFirst`),
          sort: 'new-first',
          order: 'asc',
          type: 'newFirst',
          value: 1
        },
        {
          id: '8fa2f5ba-d0e7-4a94-a23b-6f5edbeaf59a',
          default: true,
          label: this.$t(`listingPage.${this.type}.sort.other.featuredFirst`),
          sort: 'featured-first',
          order: 'asc',
          type: 'featuredFirst',
          value: 1
        },
        {
          id: '464ec841-0551-47e3-9aa8-c87087858e2a',
          label: this.$t(`listingPage.${this.type}.sort.price.lowToHigh`),
          sort: 'price',
          order: 'asc',
          type: 'sortByPrice',
          value: 1
        },
        {
          id: 'a461c3ef-aa10-4e63-9f98-d10f4583e924',
          label: this.$t(`listingPage.${this.type}.sort.price.highToLow`),
          sort: 'price',
          order: 'desc',
          type: 'sortByPrice',
          value: 2
        },
        {
          id: '88951f37-aa5e-4d66-bc70-d11763ace440',
          label: this.$t(`listingPage.${this.type}.sort.carat.lowToHigh`),
          sort: 'weight',
          order: 'asc',
          type: 'sortByWeight',
          value: 1
        },
        {
          id: 'b1db094b-7056-415f-9c33-6eeee7b556cd',
          label: this.$t(`listingPage.${this.type}.sort.carat.highToLow`),
          sort: 'weight',
          order: 'desc',
          type: 'sortByWeight',
          value: 2
        }
      ]
    }
  },

  watch: {
    '$route.query': {
      deep: true,
      handler(newQuery, oldQuery) {
        if (
          newQuery['sort-by'] !== oldQuery['sort-by'] ||
          newQuery.order !== oldQuery.order
        ) {
          this.getSelectedSort()
        }
      }
    },

    visible(state) {
      if (state) this.updateSorting()
    }
  },

  created() {
    this.updateSorting()
  },

  methods: {
    getSelectedSort() {
      let sort = null
      if (!this.selectedFilters.sortBy) {
        const keys = Object.keys(defaultFiltersMap[this.type])
        for (let i = 0; i < keys.length; i++) {
          if (Array.isArray(defaultFiltersMap[this.type][keys[i]])) continue
          if (defaultFiltersMap[this.type][keys[i]] === 1) {
            sort = keys[i]
            break
          }
        }
        this.sortBy = this.items.find((item) => item.type === sort)
        return
      }

      sort = urlToStoreSort[this.selectedFilters.sortBy[0]]
      const order = this.selectedFilters.order[0] === 'asc' ? 1 : 2

      this.sortBy = this.items.find(
        (item) => item.type === sort && item.value === order
      )
    },

    updateSorting() {
      this.getSelectedSort()
      this.default = this.items.find((item) => item.default)
    },

    pushFilterToUrl(sortBy, order) {
      const query = cloneDeep(this.$route.query)
      query['sort-by'] = sortBy
      query.order = order

      this.$router.push({ query })
    },

    onSelectChange(val) {
      if (val.id === this.default.id) {
        const query = cloneDeep(this.$route.query)
        delete query['sort-by']
        delete query.order
        this.$router.push({ query })
        return
      }
      this.pushFilterToUrl(val.sort, val.order)
    },

    flushQuery(query) {
      return omit(cloneDeep(query), ['sort-by', 'order', 'availability'])
    },

    onClearAll() {
      this.$router.push({ query: this.flushQuery(this.$route.query) })
    }
  }
}
</script>

<style lang="sass" scoped>
.mobile-filter-modal
  &.v--modal-overlay
    z-index: 2000
  ::v-deep
    .v--modal-box
      //overflow: auto
      height: 100vh !important
      height: calc(var(--vh, 1vh) * 100) !important
      top: 0 !important
      left: 0 !important
      border-radius: 0
  .modal-header
    position: relative
    height: 30px
    .close-button
      cursor: pointer
      position: absolute
      top: 10px
      right: 10px
      align-items: center
      text-transform: uppercase
      svg
        margin-left: 5px
        height: 15px
        width: 15px
  .modal-body
    height: 100vh
    height: calc(var(--vh, 1vh) * 100)
.filter-container
  width: 100%
  .filter-container-title
    position: relative
    justify-content: center
    padding: 15px
    border-bottom: 1px solid $border-color
    .filter-close-wrapper
      font-size: 20px
      position: absolute
      top: 5px
      right: 10px
      padding: 10px
      .fa
        text-align: right
        width: 20px
    .filter-title
      font-size: 18px
      font-weight: bold
      text-transform: uppercase
    .clear-all
      font-weight: bold
      right: 15px
      position: absolute
  .filter-container-body
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    border-bottom: 1px solid $border-color
    height: calc(100% - 120px) // 120px - title & close containers height

    &__sort-wrapper
      padding: 20px
      border-bottom: 1px solid $border-color
      .radio-group
        flex-direction: column
        .radio-button-wrapper
          &:last-child
            ::v-deep
              .radio-button
                margin-bottom: unset
    &__availability-wrapper
      padding: 20px
      border-bottom: 1px solid $border-color
  .filter-container-footer
    padding: 10px
    .button
      width: 100%
</style>
