<template lang="pug">
  modal.mobile-filter-modal(v-show="mounted", transition="modal", ref="modal", :width="modalWidth", :max-width="965", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-body.is-flex
      .filter-container
        .filter-container-title.is-flex
          .filter-title {{ $t('listingPage.filters.sort') }}
          .filter-close-wrapper
            .fa.fa-xmark(@click="onCloseHandler")
        .filter-container-body(ref="body")
          .filter-container-body__sort-wrapper
            .radio-group.is-flex(v-if="visible")
              radio(v-for="sort in items", :key="sort.id", name="sort", :val="sort", v-model="sortBy", @change="onSelectChange")
                .radio-value
                  span {{ sort.label }}
          .filter-container-body__availability-wrapper(v-if="showPreviewItemsSwitcher")
            preview-items-switcher
        .filter-container-footer
          button.button.gold-color.light(@click="onClearAll") {{ $t('listingPage.filters.clearAll') }}
</template>

<script>
import MainSortMobileModal from './MainSortMobileModal'
import { defaultFiltersMap, settings } from '~~/utils/definitions/defaults'
import { newSortingNamesMap } from '~~/utils/definitions/filters'

export default {
  name: 'MainNewSortMobileModalComponent',

  extends: MainSortMobileModal,

  computed: {
    items() {
      if (settings.includes(this.type)) {
        return [
          {
            id: '32c2abd0-2364-4453-93b1-0a42a98cfb74',
            default: true,
            label: this.$t(`listingPage.${this.type}.sort.other.featuredFirst`),
            sort: 'featured-first',
            order: 'asc',
            sortBy: 'FeaturedFirst',
            sortOrder: 1
          },
          {
            id: '446bb61e-c7c1-44b3-9474-18aa3a58a7d8',
            label: this.$t(`listingPage.${this.type}.sort.price.lowToHigh`),
            sort: 'price',
            order: 'asc',
            sortBy: 'Price',
            sortOrder: 1
          },
          {
            id: '8d60f62a-20f0-4fb4-a872-c58b9b91749f',
            label: this.$t(`listingPage.${this.type}.sort.price.highToLow`),
            sort: 'price',
            order: 'desc',
            sortBy: 'Price',
            sortOrder: 2
          },
          {
            id: '51eb4af4-2c93-4f05-8b1e-32b0e99ccf9b',
            label: this.$t(`listingPage.${this.type}.sort.weight.lowToHigh`),
            sort: 'metal-weight',
            order: 'asc',
            sortBy: 'MetalWeight',
            sortOrder: 1
          },
          {
            id: 'ac09b4fa-9ae3-40bf-8b41-956b6cba011f',
            label: this.$t(`listingPage.${this.type}.sort.weight.highToLow`),
            sort: 'metal-weight',
            order: 'desc',
            sortBy: 'MetalWeight',
            sortOrder: 2
          }
        ]
      }

      if (this.type === 'weddingBandsPlain') {
        return [
          {
            id: '654ccca9-7320-4a7c-a5f3-9d331093df69',
            default: true,
            label: this.$t(`listingPage.${this.type}.sort.other.featuredFirst`),
            sort: 'featured-first',
            order: 'asc',
            sortBy: 'FeaturedFirst',
            sortOrder: 1
          },
          {
            id: 'fc4ca08a-8ab6-4eca-a73a-7bfa04d83f2a',
            label: this.$t(`listingPage.${this.type}.sort.other.newFirst`),
            sort: 'new-first',
            order: 'asc',
            sortBy: 'NewFirst',
            sortOrder: 1
          },
          {
            id: 'f7a21499-774c-4820-b975-a2f7f0b6bd52',
            label: this.$t(`listingPage.${this.type}.sort.price.lowToHigh`),
            sort: 'price',
            order: 'asc',
            sortBy: 'Price',
            sortOrder: 1
          },
          {
            id: 'd1c96bb7-0242-47e7-8c23-b0e6cc666964',
            label: this.$t(`listingPage.${this.type}.sort.price.highToLow`),
            sort: 'price',
            order: 'desc',
            sortBy: 'Price',
            sortOrder: 2
          },
          {
            id: '9833bb72-94e5-41ed-84fd-dd981d6b7051',
            label: this.$t(`listingPage.${this.type}.sort.weight.lowToHigh`),
            sort: 'metal-weight',
            order: 'asc',
            sortBy: 'MetalWeight',
            sortOrder: 1
          },
          {
            id: '6a8e650e-f5fb-4e1f-bf35-8bd156302115',
            label: this.$t(`listingPage.${this.type}.sort.weight.highToLow`),
            sort: 'metal-weight',
            order: 'desc',
            sortBy: 'MetalWeight',
            sortOrder: 2
          }
        ]
      }

      if (this.type === 'weddingBands') {
        return [
          {
            id: '1f20dbd2-7ab7-493d-8ac1-1c00b96e80ec',
            default: true,
            label: this.$t(`listingPage.${this.type}.sort.other.featuredFirst`),
            sort: 'featured-first',
            order: 'asc',
            sortBy: 'FeaturedFirst',
            sortOrder: 1
          },
          {
            id: '449e6cb0-85dd-4f2c-9ca8-75618531f1c2',
            label: this.$t(`listingPage.${this.type}.sort.other.newFirst`),
            sort: 'new-first',
            order: 'asc',
            sortBy: 'NewFirst',
            sortOrder: 1
          },
          {
            id: 'a2ab2957-0178-439a-b9d0-1caf0d17b16f',
            label: this.$t(`listingPage.${this.type}.sort.carat.lowToHigh`),
            sort: 'carat-weight',
            order: 'asc',
            sortBy: 'TotalCarat',
            sortOrder: 1
          },
          {
            id: 'f40ef114-0ed4-492e-bdd4-d876d88ca15e',
            label: this.$t(`listingPage.${this.type}.sort.carat.highToLow`),
            sort: 'carat-weight',
            order: 'desc',
            sortBy: 'TotalCarat',
            sortOrder: 2
          },
          {
            id: 'b97c67ab-3c8f-4569-9ebf-dd9cf0b3f093',
            label: this.$t(`listingPage.${this.type}.sort.weight.lowToHigh`),
            sort: 'metal-weight',
            order: 'asc',
            sortBy: 'MetalWeight',
            sortOrder: 1
          },
          {
            id: 'c385bb00-caa4-4ace-a404-e7224267ac06',
            label: this.$t(`listingPage.${this.type}.sort.weight.highToLow`),
            sort: 'metal-weight',
            order: 'desc',
            sortBy: 'MetalWeight',
            sortOrder: 2
          },
          {
            id: '4aa250c8-9edd-4181-9cd1-44bac3f84f37',
            label: this.$t(`listingPage.${this.type}.sort.price.lowToHigh`),
            sort: 'price',
            order: 'asc',
            sortBy: 'Price',
            sortOrder: 1
          },
          {
            id: '7a396a31-e1b6-4d67-9d74-a8bf1e16b1cc',
            label: this.$t(`listingPage.${this.type}.sort.price.highToLow`),
            sort: 'price',
            order: 'desc',
            sortBy: 'Price',
            sortOrder: 2
          }
        ]
      }

      return []
    }
  },

  methods: {
    getSelectedSort() {
      let sortBy = null
      let sortOrder = null

      if (!this.selectedFilters.sortBy) {
        sortBy = defaultFiltersMap[this.type].sortBy
        sortOrder = defaultFiltersMap[this.type].sortOrder
      } else {
        sortBy = newSortingNamesMap[this.selectedFilters.sortBy[0]]
        sortOrder = this.selectedFilters.order[0] === 'asc' ? 1 : 2
      }

      this.sortBy = this.items.find(
        (item) => item.sortBy === sortBy && item.sortOrder === sortOrder
      )
    }
  }
}
</script>

<style lang="sass" scoped>
.mobile-filter-modal
  &.v--modal-overlay
    z-index: 2000
  ::v-deep
    .v--modal-box
      //overflow: auto
      height: 100vh !important
      height: calc(var(--vh, 1vh) * 100) !important
      top: 0 !important
      left: 0 !important
      border-radius: 0
  .modal-header
    position: relative
    height: 30px
    .close-button
      cursor: pointer
      position: absolute
      top: 10px
      right: 10px
      align-items: center
      text-transform: uppercase
      svg
        margin-left: 5px
        height: 15px
        width: 15px
  .modal-body
    height: 100vh
    height: calc(var(--vh, 1vh) * 100)
.filter-container
  width: 100%
  .filter-container-title
    position: relative
    justify-content: center
    padding: 15px
    border-bottom: 1px solid $border-color
    .filter-close-wrapper
      font-size: 20px
      position: absolute
      top: 5px
      right: 10px
      padding: 10px
      .fa
        text-align: right
        width: 20px
    .filter-title
      font-size: 18px
      font-weight: bold
      text-transform: uppercase
    .clear-all
      font-weight: bold
      right: 15px
      position: absolute
  .filter-container-body
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    border-bottom: 1px solid $border-color
    height: calc(100% - 120px) // 120px - title & close containers height

    &__sort-wrapper
      padding: 20px
      border-bottom: 1px solid $border-color
      .radio-group
        flex-direction: column
        .radio-button-wrapper
          &:last-child
            ::v-deep
              .radio-button
                margin-bottom: unset
    &__availability-wrapper
      padding: 20px
      border-bottom: 1px solid $border-color
  .filter-container-footer
    padding: 10px
    .button
      width: 100%
</style>
