<template lang="pug">
.address-book-info
  .address-book-info-title.is-italic {{ $t(`account.${formType}Address.title`) }}
  transition(name="address", mode="out-in")
    address-book-form(v-if="active", :formType="formType", @close="$emit('close')")
    .address-book-summary.is-flex(v-else)
      .table-info
        .table-info-item.is-flex(v-for="row in infoRows", :key="row.id") {{ row.value }}
      .controls
        button.button.gold-color.light(@click="$emit('active')") {{ $t('account.dashboard.change') }}
</template>

<script>
import AddressBookForm from './AddressBookForm'

export default {
  name: 'AddressBookInfoComponent',

  components: { AddressBookForm },

  props: {
    formType: {
      type: String,
      validator: (val) => ['shipping', 'billing'].includes(val),
      required: true
    },

    active: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    profile() {
      return this.$store.state.auth.user || {}
    },

    address() {
      return this.profile[`${this.formType}Address`] || {}
    },

    infoRows() {
      return [
        {
          id: '025c5b89-ffa2-47a3-a18a-3d257c59c1b2',
          value: [this.address.firstName, this.address.lastName]
            .filter((i) => i)
            .join(' ')
        },
        {
          id: '87378352-49ef-4e00-b73d-5012f45dd072',
          value: [this.address.street1, this.address.street2]
            .filter((i) => i)
            .join(', ')
        },
        {
          id: '2a982296-6c01-42e9-8350-26c466bf541b',
          value: this.getAddress2Line()
        },
        {
          id: '757884eb-3416-43ae-91ff-514d2561d096',
          value: this.address.country
        }
      ].filter((r) => r.value)
    }
  },

  methods: {
    getAddress2Line() {
      const state = this.address.state || ''
      const city = this.address.city || ''
      const zipCode = this.address.zipCode || ''
      const stateAndZip = [state, zipCode]
        .filter((i) => i)
        .join(' ')
        .trim()
      return [city, stateAndZip]
        .filter((i) => i)
        .join(', ')
        .trim()
    }
  }
}
</script>

<style lang="sass" scoped>
@include fade-transition('address')
.address-book
  &-info
    position: relative
    margin-top: 20px
    &-title
      font-family: $lora
      font-size: 20px
      font-weight: 900
      text-align: left
      margin-bottom: 20px
  &-summary
    +mobile
      flex-direction: column-reverse
    .table-info
      flex: 2
      +mobile
        margin-top: 20px
      &-item
        margin-bottom: 10px
        &-label
          text-transform: uppercase
          width: 50%
        &-value
          width: 50%
    .controls
      text-align: center
      flex: 1
      +mobile
        .button
          width: 100%
</style>
