<template lang="pug">
form.address-book-form(@submit.prevent="onFormSubmit")
  .form-block
    .form-row.is-flex
      .field(:class="{'field-error': $v.firstName.$error}")
        label.label {{ $t('cart.addressForm.firstNameLabel') }}
        .control.has-icons-left
          input.input(v-model.trim="$v.firstName.$model", autocomplete="given-name", :class="{ 'is-danger': $v.firstName.$error }")
          span.icon.is-small.is-left
            i.fa.fa-user
        p.help.is-danger(v-if="!$v.firstName.required && $v.firstName.$dirty") {{ $t('cart.addressForm.rules.firstName.required') }}

      .field(:class="{'field-error': $v.lastName.$error}")
        label.label {{ $t('cart.addressForm.lastNameLabel') }}
        .control.has-icons-left
          input.input(v-model.trim="$v.lastName.$model", autocomplete="family-name", :class="{ 'is-danger': $v.lastName.$error }")
          span.icon.is-small.is-left
            i.fa.fa-user
        p.help.is-danger(v-if="!$v.lastName.required && $v.lastName.$dirty") {{ $t('cart.addressForm.rules.lastName.required') }}

    .form-row
      .field.is-fullwidth(:class="{'field-error': $v.street1.$error}")
        label.label {{ $t('cart.addressForm.addressLine1') }}
        .control.has-icons-left
          input.input(v-model.trim="$v.street1.$model", autocomplete="address-level1", :class="{ 'is-danger': $v.street1.$error }")
          span.icon.is-small.is-left
            i.fa.fa-map-marker-alt
        p.help.is-danger(v-if="!$v.street1.required && $v.street1.$dirty") {{ $t(`cart.addressForm.rules.${formType}Street1.required`) }}

    .form-row
      .field.is-fullwidth
        label.label {{ $t('cart.addressForm.addressLine2') }}
        .control.has-icons-left
          input.input(v-model.trim="$v.street2.$model", autocomplete="address-level2", :class="{ 'is-danger': $v.street2.$error }")
          span.icon.is-small.is-left
            i.fa.fa-map-marker-alt

    .form-row.is-flex
      .field(:class="{'field-error': $v.city.$error}")
        label.label {{ $t(`cart.addressForm.${formType}City`) }}
        .control.has-icons-left
          input.input(v-model.trim="$v.city.$model", autocomplete="address-level2", :class="{ 'is-danger': $v.city.$error }")
          span.icon.is-small.is-left
            i.fa.fa-city
        p.help.is-danger(v-if="!$v.city.required && $v.city.$dirty") {{ $t(`cart.addressForm.rules.${formType}City.required`) }}

      .field(v-if="showSelect")
        label.label {{ $t('cart.addressForm.state') }}
        .control.has-icons-left
          multiselect(
            v-if="multiselectMounted",
            @open="showSelected('state')"
            @search-change="statesQuery = $event"
            ref="state",
            v-model.trim="$v.state.$model"
            :options="statesOptions",
            track-by="key",
            label="value",
            select-label="",
            :show-labels="false",
            selected-label="",
            :allow-empty="false",
            :searchable="true",
            :internalSearch="false",
            :option-height="35"
          )
            template(slot="option", slot-scope="props")
              span(v-html="props.option.value")
          span.icon.is-small.is-left
            i.fa.fa-compass

      .field(v-else)
        label.label {{ $t('cart.addressForm.state') }}
        .control.has-icons-left
          input.input(v-model.trim="$v.state.$model", autocomplete="address-level1")
          span.icon.is-small.is-left
            i.fa.fa-compass

    .form-row.is-flex
      .field(:class="{'field-error': $v.zipCode.$error}")
        label.label {{ $t('cart.addressForm.zip') }}
        .control.has-icons-left
          input.input(v-model.trim="$v.zipCode.$model", autocomplete="postal-code", :class="{ 'is-danger': $v.zipCode.$error }")
          span.icon.is-small.is-left
            i.fa.fa-mail-bulk
        p.help.is-danger(v-if="!$v.zipCode.required && $v.zipCode.$dirty") {{ $t(`cart.addressForm.rules.${formType}ZipCode.required`) }}

      .field(:class="{'field-error': $v.country.$error}")
        label.label {{ $t('cart.addressForm.country') }}
        .control.has-icons-left
          multiselect(
            v-if="multiselectMounted",
            @open="showSelected('country')"
            @search-change="countriesQuery = $event"
            ref="country",
            @select="onCountrySelect",
            v-model.trim="$v.country.$model",
            :class="{ 'is-danger': $v.country.$error }",
            :options="countriesOptions",
            track-by="key",
            label="value",
            select-label="",
            :show-labels="false",
            selected-label="",
            :allow-empty="false",
            :searchable="true",
            :internalSearch="false",
            :option-height="35"
          )
            template(slot="option", slot-scope="props")
              span(v-html="props.option.value")
          span.icon.is-small.is-left
            i.fa.fa-flag

    .form-row
      .field.submit-control
        .control
          button.button.gold-color(type="submit", :disabled="submitStatus === 'PENDING'") {{ $t(`account.${formType}Address.saveButton`) }}

</template>

<script>
import { validationMixin } from 'vuelidate'
import required from 'vuelidate/lib/validators/required'
import { mapGetters } from 'vuex'
import cloneDeep from 'lodash/cloneDeep'
import isEmpty from 'lodash/isEmpty'
import Vue from 'vue'
import { capitalize } from '~~/utils/formatters'

const formFields = [
  'firstName',
  'lastName',
  'street1',
  'street2',
  'city',
  'zipCode'
]

function mapComputed(fields) {
  return fields.reduce((obj, field) => {
    obj[field] = {
      get() {
        return this.form[field]
      },

      set(value) {
        this.form[field] = value
      }
    }
    return obj
  }, {})
}

export default {
  name: 'AddressBookFormComponent',

  mixins: [validationMixin],

  props: {
    formType: {
      type: String,
      validator: (val) => ['shipping', 'billing'].includes(val),
      required: true
    }
  },

  validations: {
    firstName: { required },
    lastName: { required },
    street1: { required },
    street2: {},
    city: { required },
    state: {},
    zipCode: { required },
    country: {}
  },

  data: () => ({
    multiselectMounted: false,
    submitStatus: null,
    countriesQuery: '',
    statesQuery: '',
    form: {
      firstName: '',
      lastName: '',
      street1: '',
      street2: '',
      city: '',
      state: '',
      zipCode: '',
      country: '',
      countryId: ''
    }
  }),

  computed: {
    ...mapGetters({
      metaData: 'cart/metaData'
    }),

    statesUS() {
      return this.metaData.states?.us || []
    },

    statesCAN() {
      return this.metaData.states?.can || []
    },

    profile() {
      return this.$store.state.auth.user || {}
    },

    address() {
      return this.profile[`${this.formType}Address`]
    },

    ...mapComputed(formFields),

    state: {
      get() {
        if (!this.showSelect) return this.form.state
        const key = this.form.state
        return this.states.find((state) => state.key === key)
      },

      set(value) {
        if (!this.showSelect) {
          this.form.state = value
          return
        }
        this.form.state = value.key
      }
    },

    country: {
      get() {
        const id = this.form.countryId || 'US'
        return this.metaData.countries.find((country) => country.key === id)
      },

      set(value) {
        this.form.countryId = value.key
        this.form.country = value.value
      }
    },

    states() {
      if (this.country.key === 'US') return this.statesUS
      if (this.country.key === 'CA') return this.statesCAN
      return []
    },

    showSelect() {
      return !!this.states.length
    },

    statesOptions() {
      return this.states.filter((c) =>
        c.value.toLowerCase().startsWith(this.statesQuery.toLowerCase())
      )
    },

    countriesOptions() {
      return this.metaData.countries.filter((c) =>
        c.value.toLowerCase().startsWith(this.countriesQuery.toLowerCase())
      )
    }
  },

  mounted() {
    this.$multiselect.insert(() => {
      this.multiselectMounted = true
    })
    if (!isEmpty(this.address)) this.form = cloneDeep(this.address)
  },

  methods: {
    showSelected(type) {
      // have to wait some till the list is rendered
      const timeout = setTimeout(() => {
        // the multiselect field
        const field = this.$refs[type].$el
        // the element that should be scrolled
        const wrapper = field.querySelector('.multiselect__content-wrapper')
        // the selected option
        const option = field.querySelector(
          'span.multiselect__option.multiselect__option--selected'
        )
        // if everything is present
        if (wrapper !== null && option !== null) {
          wrapper.scrollTop = option.offsetTop
        }
        clearTimeout(timeout)
      }, 10)
    },

    async onFormSubmit() {
      this.$v.$touch()
      if (this.$v.$invalid) return
      this.submitStatus = 'PENDING'
      this.$root.$emit('loading-start')
      try {
        Vue.$gtag.event(`${this.formType}_address_update`, {
          event_label: `${capitalize(this.formType)} address was updated`
        })
        await this.$store.dispatch(
          `account/${this.formType}AddressUpdate`,
          this.form
        )
        this.submitStatus = 'OK'
        this.$emit('close')
      } catch (e) {
        this.submitStatus = 'ERROR'
      } finally {
        this.$root.$emit('loading-stop')
      }
    },

    onCountrySelect(country) {
      if (country.key === 'US') {
        this.form.state = this.statesUS[0].key
        return
      }

      if (country.key === 'CA') {
        this.form.state = this.statesCAN[0].key
        return
      }

      this.form.state = ''
    }
  }
}
</script>

<style lang="sass" scoped>
.address-book-form
  .form-row
    +touch
      flex-direction: column
    &:not(:first-child)
      margin-top: 10px
      +touch
        margin-top: unset
    .field
      +touch
        max-width: unset
        width: 100%
    .field + .field
      +touch
        margin-left: unset

  .submit-control
    .button
      width: 100% !important
</style>
