<template lang="pug">
main.account-page.page
  page-header(:title="$t('account.preview.title')", :breadcrumbs="breadcrumbsLocal")
  .container.account-page__pr-submissions(data-v-important)
    button.sign-out.button.gold-color.light.is-hidden-tablet(@click="$auth.logout") {{ $t('account.dashboard.signOut') }}
    .account-page__submissions-table
      #preview-submissions.ag-theme-alpine(ref="table")
  previews-lightbox(:thumbnails="thumbnails")
  back-to-top-component
</template>

<script>
import { mapState } from 'vuex'
import authRestrictedMixin from '~~/mixins/authRestrictedMixin'
import statusCell from '~~/components/Account/PreviewRequests/statusCell.js'
import imagesCell from '~~/components/Account/PreviewRequests/imagesCell.js'
import titlesCell from '~~/components/Account/PreviewRequests/titlesCell.js'
import detailsCell from '~~/components/Account/PreviewRequests/detailsCell.js'
import dateCell from '~~/components/Account/PreviewRequests/dateCell.js'
import _basePage from '~~/components/Page/_basePage'

export default {
  name: 'AccountPage',

  middleware: 'isAuthorized',

  components: {
    PreviewsLightbox: () =>
      import('~~/components/Account/PreviewRequests/PreviewsLightbox'),
    PageHeader: () => import('~~/components/Account/PageHeader')
  },

  extends: _basePage,

  mixins: [authRestrictedMixin],

  data: () => ({
    thumbnails: [],
    table: null,
    header: null,
    sticky: 0,
    stickyScroll: 0
  }),

  computed: {
    ...mapState({
      previewSubmissions: (state) => state.accountPages.previewSubmissions,
      hide: (state) => state.app.mobileHeaderHide
    }),

    columnDefs() {
      return [
        {
          headerName: this.$t('account.preview.itemImage'),
          field: 'item',
          width: 120,
          cellClass: 'align-center',
          cellRenderer: imagesCell,
          pinned: 'left'
        },
        {
          headerName: this.$t('account.preview.itemName'),
          field: 'item',
          minWidth: 250,
          cellRenderer: titlesCell,
          cellRendererParams: {
            context: this
          }
        },
        {
          headerName: this.$t('account.preview.itemDetails'),
          headerClass: 'offset-left-20',
          field: 'item',
          width: 435,
          cellRenderer: detailsCell,
          cellRendererParams: {
            context: this
          }
        },
        {
          headerName: this.$t('account.preview.dateRequested'),
          headerClass: 'text-center',
          field: 'requestDate',
          minWidth: 250,
          cellClass: 'small-font align-center',
          cellRenderer: dateCell,
          cellRendererParams: {
            context: this
          }
        },
        {
          headerName: this.$t('account.preview.status'),
          headerClass: 'text-center',
          field: 'thumbnails',
          minWidth: 250,
          cellClass: 'small-font align-center',
          cellRenderer: statusCell,
          cellRendererParams: {
            context: this
          }
        }
      ]
    },

    gridOptions() {
      return {
        defaultColDef: {
          resizable: false,
          suppressMovable: true,
          cellClass: 'small-font'
        },
        headerHeight: 44,
        rowHeight: 180,
        suppressCellSelection: true,
        suppressRowHoverHighlight: true,
        columnDefs: this.columnDefs,
        rowData: this.previewSubmissions,
        domLayout: 'autoHeight',
        // enableCellTextSelection: true,
        // ensureDomOrder: true,
        onFirstDataRendered: this.onTableRendered
      }
    },

    breadcrumbsLocal() {
      return [
        {
          id: 'd8ac6bff-ce6d-4232-a68a-ab3131728f62',
          name: this.$t('breadcrumbs.home'),
          path: '/'
        },
        {
          id: 'a056f40a-6739-47b5-a620-b8f20d0d170d',
          name: this.$t('breadcrumbs.account.dashboard'),
          path: '/account'
        },
        {
          id: '95c14fc9-6ca5-4be2-af83-c870fd236f76',
          name: this.$t('breadcrumbs.account.preview')
        }
      ]
    }
  },

  async fetch(context) {
    context.store.dispatch('getMeta', context)
    await context.store.dispatch('accountPages/fetchPreviewSubmissions')
  },

  beforeDestroy() {
    this.destroyEvents()
    this.table.destroy()
  },

  async mounted() {
    await this.mountTable()
  },

  methods: {
    onTableRendered() {
      this.initEvents()
      this.initStickyTableHeader()
    },

    initEvents() {
      this.$on('show-previews', this.onShowPreviews)
      window.addEventListener('scroll', this.onScrollHandler, false)
    },

    destroyEvents() {
      this.$off('show-previews', this.onShowPreviews)
      window.removeEventListener('scroll', this.onScrollHandler, false)
    },

    onShowPreviews(thumbnails) {
      this.thumbnails = thumbnails
      this.$root.$emit('previews-lightbox')
    },

    initStickyTableHeader() {
      this.sticky = this.$refs.table.getBoundingClientRect().top
      this.stickyScroll = this.$refs.table.getBoundingClientRect().bottom - 22
      this.header = this.$refs.table.querySelector('.ag-header')
    },

    onScrollHandler() {
      this.stickHeader()
      this.stickBottomScroll()
    },

    stickHeader() {
      if (
        this.stickyScroll > window.pageYOffset &&
        window.pageYOffset >= this.sticky
      ) {
        let top = 34
        if (this.$device.isMobile) top = this.hide ? 0 : 179
        this.header.style.top = top + 'px'
        this.$refs.table.classList.add('sticky')
      } else {
        this.$refs.table.classList.remove('sticky')
        this.header.style.top = 0
      }
    },

    stickBottomScroll() {
      if (this.stickyScroll > window.pageYOffset + window.outerHeight) {
        this.$refs.table.classList.add('sticky-horizontal-scroll')
      } else {
        this.$refs.table.classList.remove('sticky-horizontal-scroll')
      }
    },

    async mountTable() {
      // lookup the container we want the Grid to use
      const eGridDiv = document.getElementById('preview-submissions')
      this.table = await this.$agGrid.insert(eGridDiv, this.gridOptions)
    }
  }
}
</script>

<style lang="sass" scoped>
$padding: 34px

.account-page
  &__pr-submissions
    margin-top: $padding
    @include margin-bottom()
    .sign-out
      margin-bottom: 2rem
      width: 100%
  &__submissions-table
    #preview-submissions
      position: relative
      &.sticky-horizontal-scroll
        ::v-deep
          .ag-body-horizontal-scroll
            position: fixed
            bottom: 0
            margin: auto
            max-width: calc(1344px - 48px)
            +touch
              max-width: calc(100% - 40px)
      &.sticky
        ::v-deep
          .ag-header
            z-index: 1
            position: fixed
            max-width: calc(1344px - 48px)
            +mobile
              max-width: calc(100% - 40px)
      ::v-deep
        .align-center
          display: flex
          align-items: center
          justify-content: center
          text-align: center
        .cell-wrapper
          height: 100%
          .half-item
            height: 50%
            align-items: center
          .item-title
            font-weight: bold
          .item-image
            max-width: 80px
          .item-param
            text-align: center
            width: 25%
            overflow: hidden
            text-overflow: ellipsis
        .ag-unselectable
          user-select: initial
          -moz-user-select: text
          -ms-user-select: text
          -webkit-user-select: text
        .ag-pinned-left-header
          border-right-color: $border-color
        .ag-cell
          line-height: 16px
          &.ag-cell-last-left-pinned
            &:not(.ag-cell-range-right)
              &:not(.ag-cell-range-single-cell)
                border-right-color: $border-color
        .ag-row
          border-color: $border-color
        .ag-row-odd
          background-color: $third-bg-color
        .ag-root-wrapper
          border: unset
        .ag-header-cell-text
          text-transform: uppercase
          font-size: 14px
          font-weight: normal
        .ag-header
          background-color: #ffffff
          border-top: solid 1px $border-color
          border-bottom-color: $border-color
          +mobile
            transition: all .3s ease
        .ag-body-horizontal-scroll
          .ag-horizontal-left-spacer
            border-right-color: $border-color
        .offset-left-20
          .ag-header-cell-label
            padding-left: 20px
        .text-center
          .ag-header-cell-label
            justify-content: center
        .item-status-awaiting
          font-style: italic
        .small-font
          font-size: 12px
</style>
