<template lang="pug">
  main.showroom-page.page
    .container
      breadcrumbs(:items="localBreadcrumbs")
      .showroom-page__header-visit-wrapper
        .showroom-page__header-visit
          .showroom-page__header-visit-title {{ $t('showroom.header.visitTitle') }}
          .showroom-page__header-visit-message
            .showroom-page__header-visit-message--title {{ $t('showroom.header.messageTitle') }}
            .showroom-page__header-visit-message--body
              .showroom-page__header-visit-message--city.is-flex
                icon(:width="13", :height="15", iconColor="#d21868", iconName="locations")
                span {{ $t('showroom.header.city') }}
              .showroom-page__header-visit-message--text {{ $t('showroom.header.messageText') }}
              .showroom-page__header-visit-message--text
                i18n(path="showroom.header.review", tag="strong", for="showroom.header.security")
                  a(slot="link", @click.prevent="$root.$emit('security-requirements')") {{ $t('showroom.header.security') }}
          icon.new-york-icon(height="290", width="142", icon-name="newYork", icon-color="#2e2e2e")
    .showroom-page__header.is-flex
      .showroom-page__header--left-side.is-hidden-touch
        .showroom-page__header--left-side-image.lazy(data-lazy-function="loaded")
      .showroom-page__header--right-side
        .showroom-page__header--right-side-image.lazy(data-lazy-function="loaded")
        button.gallery-button.button.gold-color.light.is-hidden-mobile(@click="$root.$emit('showroom-gallery')")
          icon(height="22", width="26", icon-name="gallery", icon-color="#8c7956")
          span {{ $t('showroom.header.galleryButton') }}
    .gallery-button__wrapper.is-hidden-tablet
      button.gallery-button.button.gold-color.light(@click="$root.$emit('showroom-gallery')")
        icon(height="22", width="26", icon-name="gallery", icon-color="#8c7956")
        span {{ $t('showroom.header.galleryButton') }}
    .form.showroom-page__form
      showroom-first-section(:vuelidate="$v")
      showroom-second-section(:vuelidate="$v")
      showroom-third-section(:vuelidate="$v")
      showroom-fourth-section(@submit="onFormSubmit")
    security-modal
    showroom-gallery-modal(@change="onImageChanged", :firstImage="firstImage", :images="images", :currentImage="currentImage")
    back-to-top-component
</template>

<script>
import { hydrateWhenIdle, hydrateWhenVisible } from 'vue-lazy-hydration'
import required from 'vuelidate/lib/validators/required'
import email from 'vuelidate/lib/validators/email'
import { validationMixin } from 'vuelidate'
import _basePage from '~~/components/Page/_basePage'
import showroomFormMixin from '~~/mixins/showroomFormMixin'

export default {
  name: 'ShowroomPage',

  components: {
    ShowroomFourthSection: hydrateWhenVisible(() =>
      import('~~/components/Showroom/ShowroomPage/ShowroomFourthSection')
    ),
    ShowroomThirdSection: hydrateWhenVisible(() =>
      import('~~/components/Showroom/ShowroomPage/ShowroomThirdSection')
    ),
    ShowroomSecondSection: hydrateWhenVisible(() =>
      import('~~/components/Showroom/ShowroomPage/ShowroomSecondSection')
    ),
    ShowroomFirstSection: hydrateWhenVisible(() =>
      import('~~/components/Showroom/ShowroomPage/ShowroomFirstSection')
    ),
    SecurityModal: hydrateWhenIdle(() =>
      import('~~/components/Showroom/SecurityModal')
    ),
    ShowroomGalleryModal: hydrateWhenIdle(() =>
      import('~~/components/Showroom/GalleryModal')
    ),
    Breadcrumbs: hydrateWhenIdle(() =>
      import('~~/components/Common/Breadcrumbs')
    )
  },

  extends: _basePage,

  mixins: [validationMixin, showroomFormMixin],

  validations: {
    customerName: { required },
    phone: { required },
    email: { required, email },
    date: { required },
    time: { required },
    // period: { required },
    salesPerson: {},
    medicalMask: {},
    itemIds: { required },
    message: {}
  },

  data: () => ({
    firstImage: 0,
    currentImage: {}
  }),

  computed: {
    localBreadcrumbs() {
      return [
        {
          id: 'd8ac6bff-ce6d-4232-a68a-ab3131728f62',
          name: this.$t('breadcrumbs.home'),
          path: '/'
        },
        {
          id: 'a056f40a-6739-47b5-a620-b8f20d0d170d',
          name: this.$t('breadcrumbs.showroom')
        }
      ]
    },

    images() {
      return [
        {
          id: '515535de-23a3-4c89-ba1d-5a11d7c1d559',
          text: this.$t('showroom.images.image1'),
          thumbnail: 'showroom/thumbnails/showroom_full-06@2x.jpg',
          src: 'showroom/showroom_full-06@2x.jpg'
        },
        {
          id: '780b2887-7a8d-4cbc-bd28-84c8ad385280',
          text: this.$t('showroom.images.image2'),
          thumbnail: 'showroom/thumbnails/showroom_full-01@2x.jpg',
          src: 'showroom/showroom_full-01@2x.jpg'
        },
        {
          id: '412fb693-a30c-41c8-9f46-d33d1a111fb3',
          text: this.$t('showroom.images.image3'),
          thumbnail: 'showroom/thumbnails/showroom_full-15@2x.jpg',
          src: 'showroom/showroom_full-15@2x.jpg'
        },
        {
          id: '8d5bfed6-a4cc-4c3b-abb3-e5d3f3ae9185',
          text: this.$t('showroom.images.image4'),
          thumbnail: 'showroom/thumbnails/showroom_full-11@2x.jpg',
          src: 'showroom/showroom_full-11@2x.jpg'
        },
        {
          id: '61a3b8a9-9c7f-4235-a5ec-763925e0c968',
          text: this.$t('showroom.images.image5'),
          thumbnail: 'showroom/thumbnails/showroom_full-10@2x.jpg',
          src: 'showroom/showroom_full-10@2x.jpg'
        },
        {
          id: 'd0c38aa9-ad61-4e21-9619-fe100afe3923',
          text: this.$t('showroom.images.image6'),
          thumbnail: 'showroom/thumbnails/showroom_full-08@2x.jpg',
          src: 'showroom/showroom_full-08@2x.jpg'
        },
        {
          id: '2c26f9ab-15dd-4b6a-8b32-8c2ae5345367',
          text: this.$t('showroom.images.image7'),
          thumbnail: 'showroom/thumbnails/showroom_full-07@2x.jpg',
          src: 'showroom/showroom_full-07@2x.jpg'
        }
      ]
    }
  },

  created() {
    this.onImageChanged(0)
  },

  methods: {
    scrollToError() {
      const firstError = document.querySelectorAll('.field-error')[0]
      if (firstError) {
        const offset = this.$device.isMobile ? 180 : 45
        const bodyRect = document.body.getBoundingClientRect().top
        const elementRect = firstError.getBoundingClientRect().top
        const elementPosition = elementRect - bodyRect
        const offsetPosition = elementPosition - offset

        window.scrollTo({
          top: offsetPosition,
          behavior: 'smooth'
        })
      }
    },

    onFormSubmit() {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.$nextTick(() => {
          this.scrollToError()
        })
        return
      }
      this.$router.push(this.localePath({ name: 'showroom-preview' }))
    },

    onImageChanged(index) {
      this.firstImage = index
      this.currentImage = this.images[index]
    }
  }
}
</script>

<style lang="sass" scoped>
@include background-image('showroom-page__header--left-side-image', 'showroom/background/showroom_full-02', 'jpg')
@include background-image('showroom-page__header--right-side-image', 'showroom/background/showroom_full-06', 'jpg')

.showroom-page
  border: 1px solid $border-color
  position: relative
  @include margin-bottom()
  &__header
    height: 1050px
    +touch
      overflow: hidden
      height: 800px
  &__header--left-side,
  &__header--right-side
    position: relative
  &__header--left-side
    width: 50%
    +mobile
      width: 30%
  &__header--left-side-image,
  &__header--right-side-image
    position: absolute
    width: 100vh
    background-repeat: no-repeat
    z-index: -1
  &__header--left-side-image
    right: 23%
    background-position-x: right
    background-size: contain
    background-position-y: 26px
    height: 100%
  &__header--right-side
    width: 50%
    +touch
      width: 100%
  &__header--right-side-image
    background-position-x: left
    left: calc(-23% + 45px)
    background-size: cover
    height: calc(100% - 100px)
    +tablet-only
      left: unset
      background-position-x: 80%
      background-position-y: bottom
      height: 100%
      max-height: 665px
      background-size: 130%
    +mobile
      max-height: 360px
      height: 100%
      left: -35%
      background-position-y: bottom
  &__header-visit-wrapper
    max-width: 770px
    width: 100%
    position: absolute
    left: 24px // container padding
    top: 245px
    z-index: 1
    +tablet-only
      top: 275px
    +mobile
      top: 150px
      left: 0
      padding: 0 20px
  &__header-visit
    padding: 75px 50px
    background-color: #ffffff
    position: relative
    +tablet-only
      padding: 30px
    +mobile
      padding: 20px 20px 100px 20px
    .new-york-icon
      position: absolute
      right: 25px
      bottom: -5px
      +mobile
        width: 78px
        height: 160px
  &__header-visit-title
    font-size: 24px
    font-family: $lora
    font-style: italic
    +mobile
      font-size: 18px
  &__header-visit-message
    padding: 0 130px 0 40px
    +mobile
      padding: 0
  &__header-visit-message--title
    font-family: $lora
    font-size: 50px
    text-transform: uppercase
    +mobile
      font-size: 30px
  &__header-visit-message--city
    text-transform: uppercase
    align-items: center
    span
      margin-left: 5px
  &__header-visit-message--text
    font-size: 18px
    margin-top: 10px
    a
      color: $gold-color
  .gallery-button
    position: absolute
    bottom: 0
    left: calc(-23% + 45px)
    font-size: 20px
    text-transform: unset
    +tablet-only
      left: 0
      right: 0
      max-width: 360px
      margin: auto
    +mobile
      position: unset
      left: unset
      width: 100%
    span
      margin-left: 15px
    &__wrapper
      padding: 20px 20px 0
      text-align: center
</style>
