<template lang="pug">
  main.showroom-preview-page.page
    .container
      breadcrumbs(:items="localBreadcrumbs")
    .showroom-preview-page__wrapper
      .container.is-flex
        .showroom-preview-page__left-side
          nuxt-child
        .showroom-preview-page__right-side
          .showroom-preview-page__right-side--image.lazy(data-lazy-function="loaded")
</template>

<script>
export default {
  name: 'PreviewPage',

  components: {
    Breadcrumbs: () => import('~~/components/Common/Breadcrumbs')
  },

  computed: {
    localBreadcrumbs() {
      return [
        {
          id: 'd8ac6bff-ce6d-4232-a68a-ab3131728f62',
          name: this.$t('breadcrumbs.home'),
          path: '/'
        },
        {
          id: 'a056f40a-6739-47b5-a620-b8f20d0d170d',
          name: this.$t('breadcrumbs.showroom')
        }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
@include background-image('showroom-preview-page__right-side--image', 'showroom/background/showroom_full-15', 'jpg')

.showroom-preview-page
  border: 1px solid $border-color
  @include margin-bottom()

  .showroom-preview-page__left-side,
  .showroom-preview-page__right-side
    width: 50%
    +mobile
      width: 100%
  &__wrapper
    background-color: $third-bg-color
    .container
      +touch
        overflow: hidden
      +mobile
        flex-direction: column-reverse
  &__left-side
    padding-right: 90px
    +tablet-only
      padding-right: 20px
    +mobile
      padding-right: unset
  &__right-side
    position: relative
    +mobile
      height: 300px
  &__right-side--image
    position: absolute
    left: 90px
    top: 0
    width: 1000px
    height: 100%
    background-size: contain
    background-repeat: no-repeat
    +tablet-only
      left: 20px
    +mobile
      left: -20px
      background-size: cover
      background-position: center
      width: calc(100% + 40px)
</style>
