<template lang="pug">
  button.button.continue-shopping(@click="onContinueShoppingClick")
    i.material-icons keyboard_arrow_left
    | {{ $t('cart.cartControls.continue') }}
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'ContinueShoppingButtonComponent',

  computed: {
    ...mapGetters({
      lastListingPage: 'navigation/lastListingPage'
    })
  },

  methods: {
    onContinueShoppingClick() {
      this.$router.push(this.localePath(this.lastListingPage))
    }
  }
}
</script>

<style lang="sass" scoped>
.continue-shopping
  margin-top: 20px
  border: unset
</style>
