<template lang="pug">
  section.page-header(v-show="pageHeader")
    .container
      h1 {{ pageHeader }}
</template>

<script>
import camelCase from 'lodash/camelCase'
export default {
  name: 'PageHeaderComponent',

  computed: {
    pageHeader() {
      if (this.$route.name.includes('cart-index-secure-payment'))
        return this.$t('cart.screens.securePayment')
      if (this.$route.name.includes('cart-index-payment-order'))
        return this.$t('cart.screens.securePayment')
      if (this.$route.name.includes('cart-index'))
        return this.$t('cart.screens.shoppingCart')
      if (this.$route.name.includes('cart-order-summary'))
        return this.$t('cart.screens.orderSummary')
      if (!this.$route.params.id) return this.$t('cart.screens.shoppingCart')
      return this.$t(`cart.screens.${camelCase(this.$route.params.id)}`)
    }
  }
}
</script>

<style lang="sass" scoped>
.page-header
  background-color: $light-primary-color
  padding: 25px 0
  text-align: center
  .container
    position: relative
  h1
    font-size: 45px
    font-family: $lora
    font-style: italic
    margin: 0
    +mobile
      font-size: 35px
      padding-top: 0
</style>
