<template lang="pug">
.mini-cart
  .mini-cart__header.is-flex
    .mini-cart__title.is-flex
      span.mini-cart__title--name {{ $t('cart.cartControls.shoppingCart') }}&nbsp;
      span.mini-cart__title--count ({{ $t('cart.cartControls.items', [cartItems.length]) }})
    .mini-cart__edit.is-flex(@click="onEditMiniCart")
      span {{ $t('cart.cartControls.edit') }}
      icon(iconName="edit", iconColor="#8c7956")
  items-list-component(:mini-cart="true")
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'MiniCart',

  components: {
    ItemsListComponent: () => import('~~/components/Cart/ItemsList')
  },

  computed: {
    ...mapGetters({
      cartItems: 'cart/items'
    })
  },

  methods: {
    onEditMiniCart() {
      this.$router.push(this.localePath({ name: 'cart-index' }))
    }
  }
}
</script>

<style lang="sass" scoped>
.mini-cart
  background-color: #f7f7f7
  padding: 20px
  &__header
    justify-content: space-between
    align-items: center
  &__title
    align-items: center
    +mobile
      flex-direction: column
      align-items: flex-start
  &__title--name
    font-size: 26px
    font-weight: bold
  &__title--count
    font-style: italic
    font-size: 18px
  &__edit
    cursor: pointer
    align-items: center
    color: $gold-color
    span
      margin-right: 5px
  ::v-deep
    .cart-item
      &:last-child
        border-bottom: none
        padding-bottom: unset
      &__inner--image
        width: 100%
        +touch
          max-width: 100px
          min-width: 100px
        +desktop
          max-width: 90px
          min-width: 90px
        +widescreen
          max-width: 100px
          min-width: 100px
        img
          cursor: unset
      &__controls
        display: none !important
      &__inner
        .cart-item__inner-wrapper
          flex-direction: column-reverse
          margin-left: 20px
      &__inner--info
        width: 100%
        .ps__rail-x
          bottom: 20px !important
      &__inner--price
        padding-right: 0
        .item-price-text
          justify-content: flex-end
      &__inner--image
        max-width: 100px
</style>
