<template lang="pug">
main.auth-page.page
  .container
    .auth-page-forms-wrapper.is-flex
      .auth-page-left
        sign-in-form
      .auth-page-divider.is-flex
        span {{ $t('auth.or') }}
      .auth-page-right
        sign-up-form
  details-help
  back-to-top-component
</template>

<script>
// import get from 'lodash/get'
import { mapState } from 'vuex'
import _basePage from '~~/components/Page/_basePage'

export default {
  name: 'AuthPage',

  middleware: 'notAuthorized',

  components: {
    DetailsHelp: () => import('~~/components/DetailsPage/DetailsHelp'),
    SignInForm: () => import('~~/components/Auth/SignInForm'),
    SignUpForm: () => import('~~/components/Auth/SignUpForm')
  },

  extends: _basePage,

  computed: {
    ...mapState({
      lastVisitedPage: (state) => state.navigation.lastVisitedPage
    })
  }
}
</script>

<style lang="sass" scoped>
.auth-page
  background-color: $secondary-bg-color
  @include margin-bottom()
  &-forms-wrapper
    padding: 30px 20px 20px
  &-left
    width: 50%
  &-right
    width: 50%
  &-divider
    width: 160px
    align-items: center
    justify-content: center
    span
      background-color: $secondary-bg-color
      z-index: 2
      padding: 15px 0
    &:after
      content: ''
      display: block
      width: 1px
      height: 100%
      background: #ebebeb
      position: absolute
      left: 50%
      z-index: 1
</style>
