<template lang="pug">
div
</template>

<script>
import { hydrateWhenIdle } from 'vue-lazy-hydration'
import reduce from 'lodash/reduce'
import isEqual from 'lodash/isEqual'
import uniq from 'lodash/uniq'
import cloneDeep from 'lodash/cloneDeep'
import get from 'lodash/get'
import pick from 'lodash/pick'
import isEmpty from 'lodash/isEmpty'
import { mapActions, mapState } from 'vuex'
import {
  filtersNamesMap,
  sourceRangeFiltersNamesMap,
  validUrlFilterNames
} from '~~/utils/definitions/filters'
import { normalizeUrlFilters } from '~~/utils/normalizers/filters'
import _basePage from '~~/components/Page/_basePage'

export default {
  name: 'BaseListingPageComponent',

  components: {
    PageHeader: hydrateWhenIdle(() => import('~~/components/Common/PageHeader')),
    ProductsList: hydrateWhenIdle(() =>
      import('~~/components/ListingPage/ProductsList')
    ),
    MainFilter: hydrateWhenIdle(() =>
      import('~~/components/ListingPage/MainFilter')
    ),
    MainFilterMobile: hydrateWhenIdle(() =>
      import('~~/components/ListingPage/MainFilterMobile')
    ),
    CustomItemRemoveModal: hydrateWhenIdle(() =>
      import('~~/components/DetailsPage/CustomItemRemoveModal')
    )
  },

  extends: _basePage,

  provide() {
    return { isStar: 0 }
  },

  scrollToTop: true,

  pageType: 'listing',

  data: () => ({
    resetFiltersFromStore: false, // pushing filters to URL from store on route change
    query: {}
  }),

  computed: {
    ...mapState({
      selectedFilters: (state) => state.filters.selectedFilters
    }),

    listingSelectedFilters() {
      return this.selectedFilters[this.type]
    },

    sourceFilters() {
      return this.$store.state.filters.sourceFilters[this.type]
    }
  },

  watch: {
    '$route.query': {
      deep: true,
      handler(newQuery, oldQuery) {
        // the event should be emitted only on filters changes
        if (this.isFiltersChanged(newQuery, oldQuery)) {
          this.setToStore()
          this.$root.$emit('filter-updated')
        }
      }
    }
  },

  created() {
    if (process.client) {
      setTimeout(() => {
        // all listing pages should be scrolled up on enter to avoid infinite scroll glitches
        // eslint-disable-next-line nuxt/no-globals-in-created
        if (window) window.scrollTo(0, 0)
      })
    }
    const updateUrlCondition = !isEmpty(this.listingSelectedFilters)
    // #NRW-288 Removed next condition
    // && (isEmpty(this.$route.query) || this.$route.query['design-your-own'])
    if (updateUrlCondition) this.pushFiltersToUrl()
  },

  methods: {
    ...mapActions({
      setAreasFilters: 'filters/setAreasFilters'
    }),

    pushFiltersToUrl() {
      this.resetFiltersFromStore = true
      const query = cloneDeep(this.$route.query)
      const keys = Object.keys(this.listingSelectedFilters)
      keys.forEach((filterName) => {
        if (/Range/.test(filterName)) {
          const filterValue = this.listingSelectedFilters[filterName]
          const [min, max] = this.getFilterBorders(filterName)

          const name = filtersNamesMap[filterName]

          if (min < filterValue[0]) query[`${name}-min`] = filterValue[0]
          if (max > filterValue[1]) query[`${name}-max`] = filterValue[1]
          return
        }
        query[filtersNamesMap[filterName]] =
          this.listingSelectedFilters[filterName]
      })

      this.addStopResetFiltersProcessEvent()
      this.$router.push({ query })
    },

    addStopResetFiltersProcessEvent() {
      this.$root.$once('page-loaded', this.stopResetFiltersProcess)
    },

    stopResetFiltersProcess() {
      // setTimeout to avoid false query watcher emits
      setTimeout(() => {
        this.resetFiltersFromStore = false
      }, 10)
    },

    isFiltersChanged(newQuery, oldQuery) {
      if (this.resetFiltersFromStore) return false
      const diff1 = reduce(
        newQuery,
        (result, value, key) => {
          return isEqual(value, oldQuery[key]) ? result : result.concat(key)
        },
        []
      )
      const diff2 = reduce(
        oldQuery,
        (result, value, key) => {
          return isEqual(value, newQuery[key]) ? result : result.concat(key)
        },
        []
      )

      const diff = uniq([...diff1, ...diff2])

      return validUrlFilterNames.some((filter) => {
        return diff.includes(filter)
      })
    },

    getFilterBorders(filterName) {
      const borders = get(
        this.sourceFilters,
        sourceRangeFiltersNamesMap[filterName],
        [{}]
      )[0]
      return [borders.min, borders.max]
    },

    getFromUrl() {
      return pick(this.$route.query, validUrlFilterNames)
    },

    resetStoreFilters() {
      this.$store.dispatch('filters/clearAllFilters', this.type)
    },

    setToStore() {
      this.resetStoreFilters()

      const filtersFromUrl = this.getFromUrl()

      const normFilters = normalizeUrlFilters(filtersFromUrl)

      Object.keys(normFilters).forEach((filterName) => {
        const value = normFilters[filterName]

        if (/Range/.test(filterName)) {
          const borders = this.getFilterBorders(filterName)
          for (let i = 0; i < value.length; i++) {
            if (value[i] === null) {
              value[i] = borders[i]
            }
          }
        }

        this.setAreasFilters({
          listType: this.type,
          filterName,
          value
        })
      })
    }
  }
}
</script>
