<template lang="pug">
  #prefilter.displaying-items.is-flex
    .warning-message
      span(v-if='usePrefilter', v-html='$t(`listingPage.${typeList}.prefilteredItems`)')
      span(v-if='!usePrefilter', v-html='$t(`listingPage.${typeList}.notPrefilteredItems`)')
    .warning-control(@click='onControlClick')
      span(v-if='usePrefilter', v-html='$t(`listingPage.${typeList}.showAllItems`)')
      span(v-if='!usePrefilter', v-html='$t(`listingPage.${typeList}.hideNonCompatibleItems`)')
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'PrefilteredItemsComponent',

  props: {
    query: {
      type: Object,
      required: true
    }
  },

  computed: {
    ...mapGetters({
      usePrefilter: 'filters/usePrefilter',
      customStone: 'customItem/customStone',
      customSetting: 'customItem/customSetting',
      typeList: 'typeList'
    })
  },

  methods: {
    ...mapActions({
      disablePrefilter: 'filters/disablePrefilter',
      enablePrefilter: 'filters/enablePrefilter'
    }),

    onControlClick() {
      if (this.usePrefilter) {
        this.getItems(this.disablePrefilter)
        return
      }
      this.getItems(this.enablePrefilter)
    },

    async getItems(prefilter) {
      prefilter()
      await this.$store.dispatch('filters/setFilters', {
        itemsType: this.typeList,
        query: this.query
      })
      this.$root.$emit('filter-updated')
    }
  }
}
</script>

<style lang="sass" scoped>
.displaying-items
  margin-top: 35px
  padding: 20px
  background-color: $secondary-bg-color
  font-size: 16px
  +mobile
    flex-direction: column
  .warning-message
    margin-right: 5px
    +mobile
      margin-right: 0
  .warning-control
    cursor: pointer
    font-weight: 900
    color: $dark-primary-color
</style>
