<template lang="pug">
  section.steps-elements.is-flex
    .steps-element(v-for="(step, index) in steps", :class="{ 'active': index === currentStep }", :key="index")
      .step-item.is-flex(v-if="step.itemData", :class="{[step.type]: true, filled: getFilledClass(step.type), first: index === 1}")
        span.step-number.is-hidden-mobile {{ index + 1 }}
        .step-item-wrapper.is-flex
          .step-item-summary(v-if="step.type === 'stone'")
            .step-item-info.is-hidden-touch
              span.step-item-name
                | {{ step.itemData.weight || step.itemData.totalWeight | caratFormatter }}
                | {{ step.itemData.shape || step.itemData.stones[0].shape }}
                | {{ $t(`customItem.categories.${camelCase(step.itemData.category)}`) }}
            .step-item-id.is-hidden-touch ID:&nbsp;
              v-link(:to='{path: getDetailsPath(step.itemData), query: getQuery(step.itemData)}') {{ step.itemData.id }}
            .step-item-controls.is-hidden-mobile.is-flex(@click="onChangeItem(step)") {{ $t('customItem.steps.change') }}
          .step-item-summary(v-else)
            .step-item-info.is-hidden-touch
              span.step-item-name
                | {{ $t(`detailsPage.metalTypesNames.${camelCase(step.itemData.metalName)}`) }}
                | {{ $t(`customItem.categories.${camelCase(step.itemData.category.replace('Setting_', '').toLowerCase())}`) }}
            .step-item-id.is-hidden-touch ID:&nbsp;
              v-link(:to='{path: getDetailsPath(step.itemData), query: getQuery(step.itemData)}') {{ step.itemData.id }}
            .step-item-controls.is-hidden-mobile.is-flex(@click="onChangeItem(step)") {{ $t('customItem.steps.change') }}
          div(v-if='$device.isMobile')
            v-image.step-item-image.test(@click="onItemClick(step.itemData)", v-if='getImagePath(step.itemData)', :src='getImagePath(step.itemData)', :alt='step.itemData.category')
          v-link.step-item-image(v-else, :to='{path: getDetailsPath(step.itemData), query: getQuery(step.itemData)}')
            v-image(v-if='getImagePath(step.itemData)', :src='getImagePath(step.itemData)', :alt='step.itemData.category')
          .step-item-controls-mobile.is-hidden-tablet(@click="onChangeItem(step)") {{ $t('customItem.steps.change') }}
      .step-item-blank.is-flex(v-else, :class="{'review-filled': allItemsFilled && step.type === 'review'}")
        .step-item-blank-info.is-flex
          .step-number.is-hidden-touch {{ index + 1 }}
          .step-item-wrapper.is-flex
            .step-name-wrapper.is-hidden-mobile
              .step-name {{ step.stepName }}
              .step-item-blank-browse(v-if="showStartOver(step)", @click="onStepOver(step)") {{ step.stepStartOver }}
            .step-icon(v-if="!allItemsFilled", :class='{[step.type]: true, filled: getFilledClass(step.type)}')
              icon(v-if="step.type !== 'start'", :iconName="step.icon", :width="step.type === 'stone' ? 30 : 25", :iconColor="$h.getSiteColor('darkPrimary')", height="30")
              .step-type.is-hidden-tablet {{ $t(`customItem.steps.${step.type}`) }}
            .step-images(v-if="allItemsFilled && step.type === 'review'")
              v-link.is-flex(:to='getRoute()')
                v-image.review-image(v-if="getImagePath(customStone)", :src="getImagePath(customStone)", alt='Review')
                v-image.review-image(v-if="getImagePath(customSetting)", :src="getImagePath(customSetting)", alt='Review')
              .step-type.is-hidden-tablet(@click="onStepOver(step)")
                span {{ $t(`customItem.steps.startOver`) }}
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import get from 'lodash/get'
import isEmpty from 'lodash/isEmpty'
import camelCase from 'lodash/camelCase'
import {
  filtersNamesMap,
  sourceRangeFiltersNamesMap
} from '~~/utils/definitions/filters'
import { parametersNamesMap } from '~~/utils/definitions/itemParameters'
import { caratFormatter } from '~~/utils/formatters'
import { productListTypeByCategory } from '~~/utils/definitions/defaults'
import {
  getDetailsPath,
  CustomNextPath,
  getCustomPathByCategory
} from '~~/utils/utils'

export default {
  name: 'StepsComponent',

  filters: {
    caratFormatter
  },

  inject: ['pageType'],

  data: () => ({
    md: null, // mobile detect
    steps: [],
    removeStep: {}
    // showRemoveModal: false
  }),

  computed: {
    ...mapGetters({
      customItem: 'customItem/customItem',
      typeList: 'typeList',
      fetched: 'fetched',
      productDetails: 'productDetails/productDetails',
      startFromStone: 'customItem/startFromStone',
      customStone: 'customItem/customStone',
      customSetting: 'customItem/customSetting',
      itemId: 'customItem/itemId',
      wishlistItems: 'favorites/customItems',
      locale: 'locale/locale',
      selectedFilters: 'filters/selectedFilters'
    }),

    type() {
      return (
        this.typeList || productListTypeByCategory[this.productDetails.category]
      )
    },

    allItemsFilled() {
      return !isEmpty(this.customStone) && !isEmpty(this.customSetting)
    },

    currentStep() {
      if (this.isReview) {
        // all items are chosen
        return 2
      }

      if (isEmpty(this.customStone) && isEmpty(this.customSetting)) {
        // if there is nothing chosen
        this.setStartFromStone(!this.isSettings)
      }

      if (this.startFromStone) {
        if (this.isSettings) return 1
        if (this.isStones) return 0
      }
      if (!this.startFromStone) {
        if (this.isSettings) return 0
        if (this.isStones) return 1
      }
      return 3
    },

    customItemQuery() {
      if (this.$route.query.source === 'design') return {}
      if (this.isStones || this.isSettings || this.isReview)
        return this.$h.flushQuery(this.$route.query)
      return {}
    },

    isStones() {
      const pattern = /rubies/g
      return pattern.test(this.$route.name)
    },

    isSettings() {
      const pattern = /design-your-own-setting/g
      return pattern.test(this.$route.name)
    },

    isReview() {
      const pattern = /design-your-own-review/g
      return pattern.test(this.$route.name)
    },

    inWishlist() {
      return (
        this.wishlistItems.findIndex((item) => item.id === this.itemId) > -1
      )
    }
  },

  watch: {
    customStone: {
      deep: true,
      handler() {
        this.updateSteps()
      }
    },
    customSetting: {
      deep: true,
      handler() {
        this.updateSteps()
      }
    },

    locale() {
      this.$nextTick(() => {
        this.updateSteps()
      })
    }
  },

  created() {
    this.updateSteps()
  },

  methods: {
    ...mapActions({
      enablePrefilter: 'filters/enablePrefilter',
      setStartFromStone: 'customItem/setStartFromStone',
      removeCustomStone: 'customItem/removeCustomStone',
      removeCustomSetting: 'customItem/removeCustomSetting',
      resetCustomItem: 'customItem/resetCustomItem',
      addToWishlist: 'favorites/addToList',
      getCustomItem: 'customItem/getCustomItem',
      dropStoneItems: 'stonesList/dropItems',
      dropPairItems: 'stonePairsList/dropItems',
      dropNecklaceItems: 'necklaceSettings/dropItems',
      dropPendantItems: 'pendantSettings/dropItems',
      dropRingItems: 'ringSettings/dropItems',
      dropEarringItems: 'earringSettings/dropItems'
    }),

    getQuery(item) {
      const query = {
        ...this.customItemQuery
      }

      if (!item.category.includes('Setting')) return query

      const ringSize = get(
        this.customItem,
        'selectedOptions.ringSize.key',
        null
      )
      if (ringSize) query[parametersNamesMap.ringSize] = ringSize

      query.parent = query.guid
      delete query.guid

      return query
    },

    getRoute() {
      const route = new CustomNextPath({
        customStone: this.customStone,
        customSetting: this.customSetting,
        route: this.$route,
        query: this.customItemQuery
      })
      return route.get()
    },

    dropStonesItems() {
      this.dropStoneItems()
      this.dropPairItems()
    },

    dropSettingsItems() {
      this.dropNecklaceItems()
      this.dropPendantItems()
      this.dropRingItems()
      this.dropEarringItems()
    },

    onItemClick(item) {
      this.$router.push(this.localePath({ path: this.$h.getDetailsPath(item) }))
    },

    getFilledClass(stepType) {
      if (stepType === 'review' && this.allItemsFilled) return true
      if (stepType === 'stone' && !isEmpty(this.customStone)) return true
      return stepType === 'setting' && !isEmpty(this.customSetting)
    },

    showStartOver(step) {
      return !isEmpty(this.customStone) && !isEmpty(this.customSetting)
    },

    updateSteps() {
      const itemType =
        (this.customSetting.category
          ? this.$t(
              `categories.${camelCase(
                this.customSetting.category
                  .replace('Setting_', '')
                  .toLowerCase()
              )}`
            )
          : null) || this.$t('customItem.steps.jewelry')
      if (isEmpty(this.customStone)) {
        // if there is nothing chosen
        this.setStartFromStone(false)
      }

      if (isEmpty(this.customSetting)) {
        // if there is nothing chosen
        this.setStartFromStone(true)
      }

      if (isEmpty(this.customStone) && isEmpty(this.customSetting)) {
        // if there is nothing chosen
        this.setStartFromStone(!this.isSettings)
      }

      const itemSteps = [
        {
          stepName:
            this.type === 'stonePairsList'
              ? this.$t('customItem.steps.chooseYourStones')
              : this.$t('customItem.steps.chooseYourStone'),
          // stepBrowse: this.$t('customItem.steps.browseToStones'),
          itemData: isEmpty(this.customStone) ? null : this.customStone,
          icon: 'stepStone',
          type: 'stone'
        },
        {
          stepName: this.$t('customItem.steps.chooseYourSetting'),
          // stepBrowse: this.$t('customItem.steps.browseToSettings'),
          itemData: isEmpty(this.customSetting) ? null : this.customSetting,
          icon: 'stepSetting',
          type: 'setting'
        }
      ]
      this.steps = [
        ...(this.startFromStone ? itemSteps : itemSteps.reverse()),
        {
          stepName: this.$t('customItem.steps.yourDesign', [itemType]),
          stepStartOver: this.$t('customItem.steps.startOver'),
          icon: 'stepReview',
          type: 'review'
        }
      ]
    },

    camelCase,

    getDetailsPath(item) {
      return getDetailsPath(item, productListTypeByCategory[item.category]) // category of current chosen item
    },

    getFilterBorders(filterName, type) {
      const filters = this.$store.state.filters.sourceFilters[type]
      const borders = get(filters, sourceRangeFiltersNamesMap[filterName], [
        {}
      ])[0]

      return [borders.min, borders.max]
    },

    getSelectedListFilters(step) {
      const query = {}
      if (!step) return query
      const type = productListTypeByCategory[step.itemData.category]
      if (!type) return query
      const selectedFilters = this.selectedFilters(type)
      if (!selectedFilters) return query
      Object.keys(selectedFilters).forEach((n) => {
        const filterValue = selectedFilters[n]
        const name = filtersNamesMap[n]
        if (/Range/.test(n)) {
          const [min, max] = this.getFilterBorders(n, type)
          if (min < filterValue[0]) query[`${name}-min`] = filterValue[0]
          if (max > filterValue[1]) query[`${name}-max`] = filterValue[1]
          if (query[`${name}-min`] && min >= filterValue[0])
            delete query[`${name}-min`]
          if (query[`${name}-max`] && max <= filterValue[1])
            delete query[`${name}-max`]
          return
        }
        query[name] = filterValue
      })
      return query
    },

    stonesListingPathName(step) {
      if (step.itemData.cuttingStyle === 'Cabochon') {
        if (step.itemData.isStar) return 'rubies-star-rubies'
        return 'rubies-ruby-cabochon'
      }
      return 'rubies'
    },

    pairsListingPathName(step) {
      if (step.itemData.cuttingStyle === 'Cabochon') {
        if (step.itemData.isStar) return 'rubies-star-ruby-pairs'
        return 'rubies-matched-pairs-of-rubies-cabochon'
      }
      return 'rubies-matched-pairs-of-rubies'
    },

    changeItemRoute(step) {
      const stonesPaths = [
        'rubies',
        'rubies-ruby-cabochon',
        'rubies-star-rubies'
      ]
      const pairsPaths = [
        'rubies-matched-pairs-of-rubies',
        'rubies-matched-pairs-of-rubies-cabochon',
        'rubies-star-ruby-pairs'
      ]
      if (step.itemData.category === 'Pair') {
        if (pairsPaths.includes(this.$route.name))
          return this.$route.path.replace(/^\//, '')
        return {
          name: this.pairsListingPathName(step),
          params: {},
          query: {
            ...this.customItemQuery,
            ...this.getSelectedListFilters(step),
            'design-your-own': 1
          }
        }
      }
      if (step.itemData.category === 'Stone') {
        if (stonesPaths.includes(this.$route.name))
          return this.$route.path.replace(/^\//, '')
        return {
          name: this.stonesListingPathName(step),
          params: {},
          query: {
            ...this.customItemQuery,
            ...this.getSelectedListFilters(step),
            'design-your-own': 1
          }
        }
      }
      const settingsListRoute = {
        name: 'design-your-own-setting-ruby-engagement-ring-settings',
        query: {
          ...this.customItemQuery,
          ...this.getSelectedListFilters(step)
        }
      }
      if (step.itemData.category === 'Setting_Ring') return settingsListRoute
      if (step.itemData.category === 'Setting_Earring') {
        settingsListRoute.name = 'design-your-own-setting-ruby-earring-settings'
        return settingsListRoute
      }
      if (
        ['Setting_Pendant', 'Setting_Necklace'].includes(step.itemData.category)
      ) {
        settingsListRoute.name =
          'design-your-own-setting-ruby-necklace-pendant-settings'
        return settingsListRoute
      }

      return {}
    },

    removeItemPath(step) {
      return getCustomPathByCategory(step)
    },

    onChangeItem(step) {
      if (this.isTheSamePage(step)) return
      this.$router.push(this.localePath(this.changeItemRoute(step)))
      this.removeStep = step
      this.$root.$on('page-loaded', this.removeItem)
    },

    // for DYO process on listing pages. On try to change item in steps, are we already on the necessary listing page
    isTheSamePage(step) {
      const nextRoute = this.changeItemRoute(step)
      return this.$route.name === nextRoute.name
    },

    onStepOver(step) {
      this.$root.$emit('custom-remove', step)
    },

    removeItem() {
      this.$root.$off('page-loaded', this.removeItem)

      if (this.removeStep.type === 'stone') {
        this.dropSettingsItems()
        this.removeCustomStone()
        if (isEmpty(this.customSetting) && isEmpty(this.customStone))
          this.resetCustomItem() // if all parts removed
        return
      }
      this.dropStonesItems()
      this.removeCustomSetting()
      if (isEmpty(this.customSetting) && isEmpty(this.customStone))
        this.resetCustomItem() // if all parts removed
    },

    getImagePath(item) {
      return get(item, 'thumbnails[0].micro', '')
    }
  }
}
</script>

<style lang="sass" scoped>
.steps-elements
  position: relative
  z-index: 199
  +tablet-only
    margin-top: 10px
  +mobile
    margin: 20px 0
  .steps-element
    height: 95px
    flex: 1
    border: 1px solid $border-color
    position: relative
    padding: 0 20px
    +tablet-only
      height: 115px
      padding: 0 15px
    +mobile
      padding: 0 10px
    &:not(:last-child)
      border-right: unset
      &:after
        background-color: #fff
        content: ' '
        border-top: 1px solid $border-color
        border-right: 1px solid $border-color
        right: -26px
        position: absolute
        top: 21px
        width: 52px
        height: 52px
        z-index: 2
        transform: rotate(67.5deg) skewX(45deg) scaleY(.71)
        +tablet-only
          right: -30px
          top: 26px
          width: 62px
          height: 62px
    &:not(:first-child)
      border-left: unset
      padding-left: 40px
      +mobile
        padding-left: 30px
      &:before
        background-color: #fff
        content: ' '
        border-top: 1px solid $border-color
        border-right: 1px solid $border-color
        left: -26px
        position: absolute
        top: 21px
        width: 52px
        height: 52px
        z-index: 1
        transform: rotate(67.5deg) skewX(45deg) scaleY(.71)
        +tablet-only
          left: -30px
          top: 26px
          width: 62px
          height: 62px
    .step-item
      align-items: center
      height: 100%
      &-id
        text-align: left
        text-transform: uppercase
        a
          text-decoration: underline
      &-wrapper
        align-items: center
        justify-content: space-between
        width: 100%
        text-align: center
        +tablet-only
          padding: 10px
          flex-direction: column-reverse
        +mobile
          flex-direction: column
          z-index: 5
          font-size: 12px
      &-summary
        margin-left: 15px
        +tablet-only
          margin-left: unset
        .step-item-type
          font-weight: 700
          text-transform: uppercase
        .step-item-name
          font-size: 16px
          font-weight: bold
      &-controls
        text-decoration: underline
        cursor: pointer
        .remove-item
          cursor: pointer
        > *
          text-decoration: underline
        * + *
          &:before
            content: '|'
            margin: 0 5px
        &-mobile
          margin-top: 5px
          text-decoration: underline
      &-image
        max-width: 70px
        border: 1px solid $border-color
        +tablet-only
          max-width: 60px
        +mobile
          max-width: 50px
      .step-name
        margin-left: 15px
        font-size: 16px
        text-transform: uppercase
      .step-number
        color: $dark-primary-color
        font-size: 40px
        font-family: $lora
      &-blank
        justify-content: center
        height: 100%
        flex-direction: column
        &.review-filled
          .step-name
            +touch
              display: none
        &-info
          align-items: center
          width: 100%
          .step-number
            color: $dark-primary-color
            font-size: 40px
            font-family: $lora
          .step-name-wrapper
            margin-left: 15px
            +touch
              margin-left: unset
            .step-item-blank-browse
              text-align: left
              text-decoration: underline
              cursor: pointer
            .step-name
              font-size: 16px
              text-transform: uppercase
              +tablet-only
                font-size: 14px
          .step-icon
            margin-left: auto
            text-align: center
            z-index: 5
            +touch
              margin: auto
            .step-type
              text-transform: uppercase
              font-size: 12px
            svg
              width: 50px
              height: 50px
              +tablet-only
                width: 35px
                height: 35px
              +mobile
                width: 30px
                height: 30px
          .step-images
            margin-left: auto
            +touch
              margin: auto
            a
              justify-content: center
            .review-image
              max-width: 70px
              border: 1px solid $border-color
              +tablet-only
                max-width: 60px
              +mobile
                max-width: 50px
            .review-image + .review-image
              border-left: none
              //margin-left: 10px
            .step-type
              text-align: center
              margin-top: 5px
              text-decoration: underline
    &.active
      background-color: #f7f7f7
      &:after
        background-color: #f7f7f7
  .steps-element + .steps-element
    margin-left: 10px
</style>
