.tile
  width: 100%
  height: 270px
  background-repeat: no-repeat
  background-size: cover
  +touch
    height: 420px
    padding: 20px
    flex-direction: column
    justify-content: space-around
  +mobile
    height: 450px
  .image
    overflow: hidden
    width: 50%
    justify-content: center
    align-items: center
    .picture-wrapper
      height: 100%
      ::v-deep
        picture
          height: 100%
          display: flex
          align-items: center
          img
            max-height: 100%
            max-width: 100%
            height: unset
            width: unset
    +touch
      width: 100%
      height: 50%
      ::v-deep
        img
          width: 85%
    +mobile
      ::v-deep
        img
          width: 75%
  .content
    justify-content: center
    align-items: center
    flex-direction: column
    width: 50%
    text-align: center
    padding: 20px
    +touch
      width: 100%
      padding: unset
      height: 50%
    > * + *
      margin-top: 20px
    &-title
      font-weight: 400
      font-family: $lora
      font-size: 30px
      font-style: italic
      margin-bottom: unset
    &-text
      font-size: 16px
    a
      height: 35px
      width: 140px
      padding: 4px
