@import './collectionTileHorizontal.sass'
.tile
  flex-direction: column
  height: 420px
  .image
    width: unset
    height: 40%
    .picture-wrapper
      display: flex
      align-items: center
      ::v-deep
        picture
          height: inherit
          img
            width: auto
  .content
    width: unset
    height: 60%
    padding-top: unset
