.order-info
  > .order-item
    border-bottom: 1px solid #ebf1ef

    &:nth-of-type(even)
      background-color: #f7faf9

    &:nth-of-type(odd)
      background-color: #fff

.order-item-container
  padding: 25px 15px
  display: flex

.order-item-wrapper
  display: flex
  width: 100%

.order-item-data
  display: flex

.order-item-image
  width: 120px
  display: flex
  align-items: flex-start
  margin-right: 15px
  flex-direction: column

  img
    border: 1px solid #ebf1ef

  &.wax-item
    align-items: center

  &-wrapper
    cursor: pointer

.order-item-image-wrapper + .order-item-image-wrapper
  margin-top: 50px

.order-item-header-id-title-wrapper
  display: flex
  flex-direction: column

.order-item-info
  flex: auto

.order-item-controls
  width: 7%
  text-align: center
  padding-top: 8px

.order-item-price
  white-space: nowrap
  .item-price-component
    ::v-deep
      .item-price-text
        +mobile
          align-items: flex-end

.order-item-name
  font-size: 18px

  /* font-weight: 700;
  font-family: Lora,serif
  font-style: italic

  &.wax-item
    font-weight: 700

.order-item-description
  margin-top: 10px

.order-item-description-title
  font-weight: 700

.order-item-description-name
  font-weight: 700
  margin-right: 10px
  text-transform: uppercase
  white-space: nowrap

.order-item-description-block
  margin-right: 25px
  padding-top: 10px

.order-item-description-string
  display: flex

.order-item-header-mobile
  display: flex
  justify-content: space-between

  &:first-child
    flex: 1

.order-item-sidestone
  font-weight: 700
  margin-top: 20px

.order-item-sidestone-list, .order-item-params-list
  list-style: circle
  margin-left: 30px

@media screen and (max-width: 767px)
  .order-item-wrapper
    flex-direction: column

  .order-item
    padding: 25px 0

  .order-item-image
    margin-top: 20px
    margin-right: 20px
    width: 90px

  .order-item-info
    flex: 1
    padding-left: 0

  .order-item-controls
    width: 30px

  .order-item-description
    flex-direction: column
    margin-top: 20px

  .order-item-container
    padding: 0 15px

  .order-item-description-block
    margin-right: 0

  .order-item-description-string
    justify-content: space-between

  .order-item-description-value
    text-align: right

  .order-item-sidestone-select
    display: flex
    flex-direction: column
    align-items: flex-start
