@import '../constants'

.details-product
  padding: 90px 0
  background-color: $third-bg-color
  &-overview,
  &-details
    padding-bottom: 65px
    border-bottom: 1px solid $border-color
    &-title
      font-style: italic
      font-size: 26px
      font-family: $lora
      text-align: center
    &-body
      margin-top: 30px
      +mobile
        flex-direction: column
    &-image
      text-align: center
      & ::v-deep
        img
          border: 1px solid $border-color
      &-name
        font-family: $lora
        margin-top: 20px
    &-parameters
      width: 100%
      margin-left: 30px
      +tablet
        flex-wrap: wrap
      +mobile
        margin-top: 30px
        margin-left: 0
        flex-direction: column
    &-parameter
      width: 33%
      +tablet
        width: 50%
      +mobile
        margin-top: 15px
        width: 100%
      .value-helper-offset
        padding-left: 30px
    .param-name-wrapper
      width: 33.33%
      +touch
        width: 50%
      align-items: flex-start
      .param-title
        text-transform: uppercase
        color: $dark-green
        font-size: 13px
        font-family: $lato
        font-weight: 900
      i
        cursor: pointer
        color: $gold-color
        font-size: 1.2rem
        margin-right: 10px
    .param-value-wrapper
      width: 33.33%
      +touch
        width: 100%
      .param-value
        width: 50%
        font-size: 18px
        font-family: $lato
        font-weight: 900
        &-multiple
          @extend .param-value
          flex-direction: column
  &-overview
      .param-value
        +touch
          line-height: 1
          &.value-helper-offset
            padding-left: 0
  &-details
    border-bottom: none
    padding-bottom: 0
    &-title
      margin-top: 40px
    &-body
      position: relative
      flex-wrap: wrap
      margin-top: 10px
      overflow: hidden
    &-parameter
      margin-top: 20px
      width: 100%
      +mobile
        width: 100%
      .param-name-wrapper
        min-width: 200px
      .param-value-wrapper
        min-width: 200px
        .param-value
          font-size: 13px
