.tabs-wrapper
  margin: unset
  ::v-deep
    .tab-pane
      margin: unset
    .tabs-nav-wrapper
      border-bottom-width: 2px
      .tabs-nav
        margin: 0 auto -2px
      .container
        padding: 0
        li
          .tab-name
            color: $inactive-element
            font-size: 14px
            padding: 10px 15px
            text-transform: unset
            border: unset
            //border-bottom: 2px solid $border-color
            border-bottom: unset
            background-color: #ffffff
            margin-bottom: 2px
            +mobile
              font-size: 13px
            &:after
              content: unset
          &.is-active
            .tab-name
              color: $default-font-color
              border-bottom: 2px solid $primary-color
              margin-bottom: unset
