.tabulator
  border: 1px solid $border-color
  background-color: #fff
  color: $default-font-color
  .tabulator-header
    border-bottom: 1px solid $border-color
    background-color: #fff
    .tabulator-headers
      .tabulator-col
        background: #fff
      .tabulator-frozen-left
        border-right: unset
  .tabulator-row
    .tabulator-frozen-left
      border-right: unset
