// lightweight tooltip without JS for using using in multiple places at once (listings for example)

.tooltip-light
  cursor: help
  position: relative
  display: inline-block
  border-bottom: 1px dotted $tooltip-border-color
  //padding-left: 5px
  &.tooltipless
    border-bottom: unset
    cursor: inherit
  .tooltiptext
    opacity: 0
    transition: opacity .4s
    font-size: 14px
    font-weight: normal
    line-height: 24px
    visibility: hidden
    width: 150px
    background-color: #fff
    color: $default-font-color
    text-align: center
    padding: 5px
    border-radius: 6px
    //height: 100%
    display: flex
    align-items: center
    justify-content: center

    box-shadow: 0 1px 10px -2px rgba(0,0,0,.25)
    -webkit-box-shadow: 0 1px 10px -2px rgba(0,0,0,.25)
    -moz-box-shadow: 0 1px 10px -2px rgba(0,0,0,.25)

    position: absolute
    z-index: 2

    bottom: 120%
    left: 50%
    margin-left: -75px /* Use half of the width (120/2 = 60), to center the tooltip */
    &::after
      content: " "
      position: absolute
      top: 100% /* At the bottom of the tooltip */
      left: 50%
      margin-left: -5px
      border-width: 5px
      border-style: solid
      border-color: #fff transparent transparent transparent
  &:hover
    .tooltiptext
      opacity: 1
      visibility: visible
