.tippy-box
  .tippy-content
    .tooltip-header
      margin-bottom: 10px
    .tooltip-body
      // Price tooltip
      .tooltip-body-price
        .original-price
          font-weight: 700
          margin-top: 10px
      // Help block - call us
      .phone-view
        text-align: center
      // Share block
      .share-popper
        max-width: 400px
        background: #f9f9f9
        color: black
        padding: 15px
        .link-field
          height: 40px
          line-height: 40px
          outline: 0
          padding: 0 15px
          width: 100%
          font-size: 14px
