.video-modal
  &.v--modal-overlay
    z-index: 4001
  ::v-deep
    .v--modal-box
      left: unset !important
      margin: auto
      +mobile
        width: 100% !important
        left: 0 !important
