<template lang="pug">
  modal.address-book(v-show="mounted", ref="modal", transition="modal", :scrollable="true", :width="width", :min-width="600", :max-width="1200", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-header
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body
      .address-book__title {{ mode === 'edit' ? $t('account.addressBook.editAddressTitle') : $t('account.addressBook.addAddressTitle')}}
      form.address-book__form(@submit.prevent="onFormSubmit")
        .form-block
          .form-row.is-flex
            .field.is-fullwidth(:class="{'field-error': $v.form.addressNickname.$error}")
              label.label {{ $t('account.addressBook.addressNickname') }} *
              .control
                input.input(v-model.trim="$v.form.addressNickname.$model", autocomplete="do-not-autofill", :class="{'is-danger': $v.form.addressNickname.$error}")
              p.help.is-danger(v-if="!$v.form.addressNickname.required && $v.form.addressNickname.$dirty") {{ $t('account.addressBook.error.required') }}
          .form-row.is-flex
            .field(:class="{'field-error': $v.form.firstName.$error}")
              label.label {{ $t('account.addressBook.firstName') }} *
              .control
                input.input(v-model.trim="$v.form.firstName.$model", autocomplete="given-name", :class="{'is-danger': $v.form.firstName.$error}")
              p.help.is-danger(v-if="!$v.form.firstName.required && $v.form.firstName.$dirty") {{ $t('account.addressBook.error.required') }}
            .field(:class="{'field-error': $v.form.lastName.$error}")
              label.label {{ $t('account.addressBook.lastName') }} *
              .control
                input.input(v-model.trim="$v.form.lastName.$model", autocomplete="family-name", :class="{'is-danger': $v.form.lastName.$error}")
              p.help.is-danger(v-if="!$v.form.lastName.required && $v.form.lastName.$dirty") {{ $t('account.addressBook.error.required') }}
          .form-row.is-flex
            .field.is-fullwidth(:class="{'field-error': $v.form.street1.$error}")
              label.label {{ $t('account.addressBook.address1') }} *
              .control
                input.input#address-field(v-model.trim="$v.form.street1.$model", maxlength="35", autocomplete="address-line1", :class="{'is-danger': $v.form.street1.$error}")
              p.help.is-danger(v-if="!$v.form.street1.required && $v.form.street1.$dirty") {{ $t('account.addressBook.error.required') }}
          .form-row.is-flex
            .field.is-fullwidth(:class="{'field-error': $v.form.street2.$error}")
              label.label {{ $t('account.addressBook.address2') }}
              .control
                input.input(v-model.trim="$v.form.street2.$model", maxlength="35", autocomplete="address-line2", :class="{'is-danger': $v.form.street2.$error}")
          .form-row.is-flex
            .field(:class="{'field-error': $v.form.city.$error}")
              label.label {{ $t('account.addressBook.city') }} *
              .control
                input.input(v-model.trim="$v.form.city.$model", name="city", autocomplete="address-level2", :class="{'is-danger': $v.form.city.$error}")
              p.help.is-danger(v-if="!$v.form.city.required && $v.form.city.$dirty") {{ $t('account.addressBook.error.required') }}
            .field(:class="{'field-error': $v.country.$error}")
              label.label {{ $t('account.addressBook.country') }}
              .control
                multiselect(
                  v-if="multiselectMounted",
                  ref="country",
                  @search-change="countriesQuery = $event"
                  @select="onCountrySelect",
                  v-model.trim="$v.country.$model",
                  :class="{ 'is-danger': $v.country.$error }",
                  :options="countriesOptions",
                  track-by="key",
                  label="value",
                  select-label="",
                  :show-labels="false",
                  selected-label="",
                  :allow-empty="false",
                  :searchable="true",
                  :internalSearch="false",
                  :option-height="35"
                )
                  template(slot="option", slot-scope="props")
                    span(v-html="props.option.value")
          .form-row.is-flex
            .field(:class="{'field-error': $v.form.zipCode.$error}")
              label.label {{ $t('account.addressBook.zipCode') }} *
              .control
                input.input(v-model.trim="$v.form.zipCode.$model", name="postcode", autocomplete="postal-code", :class="{'is-danger': $v.form.zipCode.$error}")
              p.help.is-danger(v-if="!$v.form.zipCode.required && $v.form.zipCode.$dirty") {{ $t('account.addressBook.error.required') }}
            template(v-if="country.divisionName")
              .field(v-if="showStateSelect", :class="{'field-error': $v.state.$error}")
                label.label {{ $t(`account.addressBook.divisionNames.${camelCase(country.divisionName)}`) }}
                .control
                  multiselect(
                    v-if="multiselectMounted",
                    @search-change="statesQuery = $event"
                    ref="state",
                    v-model.trim="$v.state.$model",
                    :class="{ 'is-danger': $v.state.$error }",
                    :options="statesOptions",
                    track-by="key",
                    label="value",
                    select-label="",
                    :show-labels="false",
                    selected-label="",
                    :allow-empty="true",
                    :searchable="true",
                    :internalSearch="false",
                    :option-height="35"
                  )
                    template(slot="option", slot-scope="props")
                      span(v-html="props.option.value")
              .field(v-else, :class="{'field-error': $v.state.$error}")
                label.label {{ $t(`account.addressBook.divisionNames.${camelCase(country.divisionName)}`) }}
                .control
                  input.input(v-model.trim="$v.state.$model", name="state", autocomplete="address-line1", :class="{ 'is-danger': $v.state.$error }")
          .form-row.is-flex
            .field(:class="{'field-error': $v.form.phone.$error}")
              label.label {{ $t('account.addressBook.phone') }}
              .control
                input.input(v-model.trim="$v.form.phone.$model", autocomplete="tel", :class="{'is-danger': $v.form.phone.$error}")

          .form-row.address-book__address-default
            .address-book__address-checkbox
              checkbox(v-model="form.defaultBillingAddress", invertColor) {{ $t('account.addressBook.defaultBilling') }}
            .address-book__address-checkbox
              checkbox(v-model="form.defaultShippingAddress", invertColor) {{ $t('account.addressBook.defaultShipping') }}

          .form-row.is-flex
            .field.submit-control
              .control
                button.button.gold-color.light(type="button", @click="onCloseHandler") {{ $t('account.addressBook.cancel') }}
            .field.submit-control
              .control
                button.button.gold-color(type="submit", :disabled="submitStatus === 'PENDING'") {{ $t('account.addressBook.submit') }}
</template>

<script>
import { validationMixin } from 'vuelidate'
import required from 'vuelidate/lib/validators/required'
import { mapActions, mapGetters, mapState } from 'vuex'
import camelCase from 'lodash/camelCase'
import modalMixin from '~~/mixins/modalMixin'
import autoFillForms from '~~/mixins/autoFillForms'
import emailValidatorMixin from '~~/mixins/emailValidatorMixin'
import addressAutocompleteMixin from '~~/mixins/addressAutocompleteMixin.js'

const initFormData = {
  id: null,
  addressNickname: '',
  city: '',
  countryId: 'US', // US by default
  firstName: '',
  lastName: '',
  phone: '',
  state: '',
  street1: '',
  street2: '',
  zipCode: '',
  defaultBillingAddress: false,
  defaultShippingAddress: false
}

export default {
  name: 'AddressFormModalComponent',

  components: {
    Checkbox: () => import('~~/components/Common/Checkbox')
  },

  mixins: [
    modalMixin,
    validationMixin,
    autoFillForms,
    emailValidatorMixin,
    addressAutocompleteMixin
  ],

  validations: {
    form: {
      addressNickname: { required },
      firstName: { required },
      lastName: { required },
      city: { required },
      countryId: {},
      zipCode: { required },
      street1: { required },
      street2: {},
      state: {},
      phone: {}
    },
    country: {},
    state: {}
  },

  data: () => ({
    modalEvent: 'account-address-form',
    modalName: 'account-address-form',
    modalView: '',
    width: '600px',
    form: {
      addressNickname: initFormData.addressNickname,
      city: initFormData.city,
      countryId: initFormData.countryId,
      firstName: initFormData.firstName,
      lastName: initFormData.lastName,
      phone: initFormData.phone,
      state: initFormData.state,
      street1: initFormData.street1,
      street2: initFormData.street2,
      zipCode: initFormData.zipCode,
      defaultBillingAddress: initFormData.defaultBillingAddress,
      defaultShippingAddress: initFormData.defaultShippingAddress
    },
    countriesQuery: '',
    statesQuery: '',
    multiselectMounted: false,
    submitStatus: null,
    mode: 'create'
  }),

  computed: {
    ...mapState({
      shippingAddress: (state) => state.account.shippingAddress,
      billingAddress: (state) => state.account.billingAddress,
      addresses: (state) => state.account.addressesList
    }),

    ...mapGetters({
      metaData: 'cart/metaData'
    }),

    statesUS() {
      return this.metaData.states?.us || []
    },

    statesCAN() {
      return this.metaData.states?.can || []
    },

    states() {
      if (this.form.countryId === 'US') return this.statesUS
      if (this.form.countryId === 'CA') return this.statesCAN
      return []
    },

    showStateSelect() {
      return !!this.states.length
    },

    state: {
      get() {
        if (!['US', 'CA'].includes(this.form.countryId)) return this.form.state
        return this.states.find((state) => state.key === this.form.state)
      },

      set(value) {
        if (!['US', 'CA'].includes(this.form.countryId)) {
          this.form.state = value
          return
        }
        this.form.state = value.key
      }
    },

    country: {
      get() {
        return this.metaData.countries.find(
          (country) => country.key === this.form.countryId
        )
      },

      set(value) {
        this.form.countryId = value.key
      }
    },

    statesOptions() {
      return this.states.filter((c) =>
        c.value.toLowerCase().startsWith(this.statesQuery.toLowerCase())
      )
    },

    countriesOptions() {
      return this.metaData.countries.filter((c) =>
        c.value.toLowerCase().startsWith(this.countriesQuery.toLowerCase())
      )
    }
  },

  mounted() {
    this.$multiselect.insert(() => {
      this.multiselectMounted = true
    })
  },

  methods: {
    ...mapActions({
      submitForm: 'account/submitAddressForm'
    }),

    setFormValues({ streetNumber, street, city, state, zip, country }) {
      this.form.street1 = [streetNumber?.long_name, street?.long_name]
        .filter((s) => s)
        .join(' ')
      this.form.city = city?.long_name
      this.form.state = state?.short_name
      this.form.zipCode = zip?.long_name
      this.form.countryId = country?.short_name
    },

    onModalMounted() {
      setTimeout(() => {
        this.initAddressAutocomplete()
      }, 100)
    },

    onCountrySelect(country) {
      this.form.state = ''
      this.form.countryId = country.key
    },

    onModalEventHandler(address) {
      if (this.initForm(address)) {
        this.disableScrolling()
        this.$modal.show(this.modalName)
        this.visible = true
        this.$nextTick(this.onModalMounted)
      }
    },

    initForm(address) {
      // if create new address
      if (!address) {
        Object.assign(this.form, initFormData) // reset form
        this.$v.$reset()
        this.mode = 'create'
        return true
      }
      const add = this.addresses.find((a) => a.id === address.id)
      if (add) {
        Object.assign(this.form, add)
        this.form.defaultBillingAddress = add.id === this.billingAddress
        this.form.defaultShippingAddress = add.id === this.shippingAddress
        this.mode = 'edit'
        return true
      }
      return false
    },

    async onFormSubmit() {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR'
      } else {
        this.$root.$emit('loading-start')
        this.submitStatus = 'PENDING'
        await this.submitForm({ form: this.form })
        this.$modal.hide(this.modalName)
        this.submitStatus = 'OK'
        this.$root.$emit('loading-stop')
      }
    },

    camelCase
  }
}
</script>

<style lang="sass" scoped>
.address-book
  +mobile
    z-index: 1999
  ::v-deep
    .v--modal-box
      //max-width: 600px
      border-radius: 0
      +tablet
        top: 40px !important
      +touch
        width: 80% !important
        margin: auto
        left: unset !important
      +mobile
        width: 100% !important
        @supports (-webkit-touch-callout: none)
          margin-bottom: 100px
  .modal-header
    position: relative
    height: 30px
    .close-button
      cursor: pointer
      position: absolute
      top: 10px
      right: 10px
      align-items: center
      text-transform: uppercase
      svg
        margin-left: 5px
        height: 15px
        width: 15px
  .modal-body
    padding: 20px
  &__form
    margin-top: 30px
    .form-block
      .form-row
        margin-top: unset
        .field
          &.submit-control
            margin-bottom: unset
            margin-top: 5px
          .control
            button
              width: 100%
  &__title
    font-size: 36px
    font-family: $lora
    font-style: italic
  &__address-default
    padding: 10px
    background-color: $third-bg-color
    height: 100%
    max-height: 78px
    margin-bottom: 1.35rem
  &__address-checkbox
    .checkbox
      padding-left: 25px
      height: 24px
      line-height: 14px
      &:hover
        ::v-deep
          input ~ .checkmark
            background-color: white
            &:after
              width: 7px
              height: 12px
              border: solid $border-color
              border-width: 0 2.5px 2.5px 0 !important
              left: 8px
              top: 3px
          input:checked ~ .checkmark:after
            border-width: 0 2.5px 2.5px 0 !important
            border: solid $dark-primary-color
            border-top: unset
            border-left: unset
      ::v-deep
        .checkbox-label
          font-size: 14px
        .checkmark
          width: 24px
          height: 24px
          &:after
            width: 7px
            height: 12px
            border-width: 0 2.5px 2.5px 0
            left: 8px
            top: 3px
</style>
