<template lang="pug">
  .our-staff-member
    v-link(:to="pathToMichaelsProfile", :disabled="!isMichael", type="native", target="_blank", @click.native="onReadMore").our-staff-member-photo
      v-image(:src='member.photo', :alt='member.name', style='cursor: pointer;')
    .our-staff-member-info
      .our-staff-member-name.is-italic {{ member.name }}
      .our-staff-member-position(v-html='member.jobTitle')
      .our-staff-read-more
        v-link(:to="pathToMichaelsProfile", :disabled="!isMichael", type="native", target="_blank", @click.native="onReadMore").our-staff-read-more-wrapper {{ readMoreText }}
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: {
    member: {
      type: Object,
      required: true
    }
  },

  computed: {
    readMoreText() {
      return this.member.link?.name || this.$t('ourStaff.readMore')
    },

    pathToMichaelsProfile() {
      return this.localePath({ name: 'michael-arnstein' })
    },

    isMichael() {
      return this.member.name === 'Michael Arnstein'
    }
  },

  methods: {
    ...mapActions({
      getMemberDetails: 'ourStaff/getMemberDetails'
    }),

    async onReadMore() {
      if (this.isMichael) return
      const link = this.member.link?.link
      if (link) {
        window.location = link
        return
      }
      this.$root.$emit('loading-start')
      await this.getMemberDetails({
        bio: this.member.name,
        id: this.member.id
      })
      this.$root.$emit('loading-stop')

      this.$root.$emit('member-details')
    }
  }
}
</script>

<style lang="sass" scoped>
.our-staff-member
  width: 25%
  padding: 0 5px
  text-align: center
  margin-bottom: 1rem
  margin-top: 0.4rem
  display: flex
  flex-direction: column
  justify-content: space-between
  +mobile
    width: 50%
  &-name
    font-size: 18px
    font-family: $lora
    font-weight: bold
    margin: 2px 0 5px 0
  &-position
    text-transform: uppercase
    font-size: 11px
    color: $grey-text-color
    height: 43px
.our-staff-read-more
  border-top: 1px solid $dark-primary-color
  padding-top: 5px
  width: 100px
  text-align: center
  margin: 0 auto
  &-wrapper
    cursor: pointer
    color: $dark-primary-color
    text-transform: uppercase
    display: inline-block
    font-size: 13px
    letter-spacing: .8px
</style>
