<template lang="pug">
  .member-details
    .member-header.is-flex
      .member-photo
        v-image(:src='member.photo', :alt='member.name')
      .member-short-info
        .member-name.is-title.is-italic {{ member.name }}
        .member-job-title.is-uppercase {{ member.jobTitle }}
        table.member-locations
          tbody
            tr
              td.weight-700 {{ $t('ourStaff.birthplace') }}:
              td {{ member.birthPlace }}
            tr(v-if='member.residence')
              td.weight-700 {{ $t('ourStaff.residence') }}:
              td {{ member.residence }}
        .member-blog(v-if='member.blog')
          i.material-icons rss_feed
          a(:href='member.blog', target='_blank') {{ $t('ourStaff.blog') }}
    .member-body
      .member-container
        .member-videos(v-if='showVideos')
          video-player(v-for="(video, index) in member.videos", :options="getVideoOptions(video)", :key="index")
        .member-summary
          .member-summary-block(v-for='(block, index) in member.summary', :key='index')
            .member-summary-title.is-title.is-italic {{ block.headLine }}
            .member-summary-body(v-html='block.text')
        .member-navigation.is-flex
          .member-navigation-prev.is-flex(@click='onPrevClick')
            v-image.is-hidden-mobile(:src='members[previousMemberIndex].photo', alt='Photo')
            .member-navigation-info
              .member-navigation-title-short.is-hidden-tablet {{ $t('ourStaff.previousShort') }}
              .member-navigation-title.is-hidden-mobile {{ $t('ourStaff.previous') }}
              .member-navigation-name.weight-900.is-italic {{ members[previousMemberIndex].name }}
          .divider
          .member-navigation-next.is-flex(@click='onNextClick')
            .member-navigation-info
              .member-navigation-title-short.is-hidden-tablet {{ $t('ourStaff.nextShort') }}
              .member-navigation-title.is-hidden-mobile {{ $t('ourStaff.next') }}
              .member-navigation-name.weight-900.is-italic {{ members[nextMemberIndex].name }}
            v-image.is-hidden-mobile(:src='members[nextMemberIndex].photo', alt='Photo')
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import flatten from 'lodash/flatten'
import VideoPlayer from '~~/components/Common/VideoPlayer'

const width = 925
const ratio = 0.56349

export default {
  name: 'MemberDetailsComponent',

  components: {
    VideoPlayer
  },

  computed: {
    ...mapGetters({
      teams: 'ourStaff/teams',
      member: 'ourStaff/member'
    }),

    showVideos() {
      return this.member.videos?.length
    },

    members() {
      return flatten(this.teams.map((t) => t.members)).filter(
        (member) => !member.link
      )
    },

    currentMemberIndex() {
      return this.members.findIndex((member) => member.id === this.member.id)
    },

    previousMemberIndex() {
      return this.currentMemberIndex - 1 < 0
        ? this.members.length - 1
        : this.currentMemberIndex - 1
    },

    nextMemberIndex() {
      return this.currentMemberIndex + 1 > this.members.length - 1
        ? 0
        : this.currentMemberIndex + 1
    }
  },

  methods: {
    ...mapActions({
      getMemberDetails: 'ourStaff/getMemberDetails'
    }),

    getVideoOptions(video) {
      return {
        autoplay: false,
        controls: true,
        muted: false,
        width,
        height: width * ratio,
        source: video.video,
        poster: '/img/video_logo.jpg'
      }
    },

    async onPrevClick() {
      this.$root.$emit('loading-start')
      const member = this.members[this.previousMemberIndex]
      await this.getMemberDetails({ bio: member.name, id: member.id })
      this.$root.$emit('loading-stop')
    },

    async onNextClick() {
      this.$root.$emit('loading-start')
      const member = this.members[this.nextMemberIndex]
      await this.getMemberDetails({ bio: member.name, id: member.id })
      this.$root.$emit('loading-stop')
    }
  }
}
</script>

<style lang="sass" scoped>
.member-details
  .member-header
    padding: 0 60px 60px
    background-color: $secondary-bg-color
    +mobile
      flex-direction: column
      padding: 20px
    .member-short-info
      margin-left: 20px
      +mobile
        margin-left: unset
      .member-name
        font-size: 36px
        +mobile
          font-size: 30px
          text-align: center
      .member-job-title
        text-align: center
      .member-locations
        margin-top: 10px
        tbody
          tr
            td + td
              padding-left: 10px

  .member-body
    padding-bottom: 40px
    .member-container
      padding: 0 60px
      +mobile
        padding: 0 20px
    .member-videos
      padding: 40px 0 20px
      text-align: center
      +mobile
        padding: 20px 0 20px
        .video-js
          width: 100%
          height: 200px
      .member-single-video
        width: 560px
        height: 315px
        +mobile
          width: 100%
          height: auto
    .member-summary
      &-title
        padding: 10px 0
        font-size: 26px
      &-body
        ::v-deep
          a
            color: $dark-primary-color
    .member-navigation
      justify-content: space-between
      margin-top: 20px
      border-top: 1px solid $border-color
      border-bottom: 1px solid $border-color
      padding: 15px 0
      &-name
        padding: 0 10px
      &-title,
      &-title-short
        text-transform: uppercase
        padding: 0 10px
        color: $grey-dark
        font-size: 12px
      .divider
        border-left: 1px solid $border-color
      &-prev,
      &-next
        cursor: pointer
        ::v-deep
          img
            max-width: 100px
</style>
