<template lang="pug">
  modal.member-details(ref="modal", :scrollable="true", transition="modal", :width="width", :max-width="800", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-header
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body.is-flex
      member-details
</template>

<script>
import MemberDetails from './MemberDetails'
import modalMixin from '~~/mixins/modalMixin'

export default {
  name: 'MemberModalComponent',

  components: {
    MemberDetails
  },

  mixins: [modalMixin],

  data: () => ({
    modalEvent: 'member-details',
    modalName: 'member-details',
    modalView: '',
    width: '70%'
  })
}
</script>

<style lang="sass" scoped>
.member-details
  z-index: 1999
  +mobile
    top: 0
    margin-bottom: $headerHeight
  ::v-deep
    .v--modal
      +mobile
        border-radius: 0
    .v--modal-box
      overflow: auto
    .v--modal-box
      +touch
        width: 100% !important
        left: 0 !important
.modal-header
  position: relative
  height: 30px
  background-color: $secondary-bg-color
  .close-button
    cursor: pointer
    position: absolute
    top: 10px
    right: 10px
    align-items: center
    text-transform: uppercase
    svg
      margin-left: 5px
      height: 15px
      width: 15px
</style>
