<template lang="pug">
  .our-staff-team
    .our-staff-team-name.is-italic {{ team.teamName }}
    .our-staff-team-members.is-flex
      member(v-for='(member, index) in team.members', :key='index', :member='member')
</template>

<script>
export default {
  components: {
    Member: () => import('./Member')
  },

  props: {
    team: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="sass" scoped>
.our-staff-team
  &-members
    flex-wrap: wrap
  &-name
    font-family: $lora
    font-size: 26px
    margin: 1rem 0
    +mobile
      font-size: 20px
</style>
