<template lang="pug">
  section.breadcrumbs-wrapper.is-hidden-mobile
    .breadcrumbs.is-flex(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      .breadcrumb-item.is-flex(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem', v-for='(crumb, index) in items', :key='crumb.id')
        nuxt-link(v-if="crumb.path", itemprop='item', :to="getPath(crumb.path)")
          span(itemprop='name', v-html="crumb.name")
        span(v-else, itemprop='name', v-html="crumb.name")
        .separator(v-if="index < (items.length - 1)") /
        meta(itemprop='position', :content='index + 1')
</template>

<script>
export default {
  name: 'BreadcrumbsComponent',

  props: {
    items: {
      type: Array,
      default: () => []
    }
  },

  methods: {
    getPath(path) {
      if (typeof path === 'string') {
        return this.localePath({ path })
      }
      return this.localePath(path)
    }
  }
}
</script>

<style lang="sass" scoped>
.breadcrumbs
  margin: 7px 0
  .breadcrumb-item
    align-items: center
    white-space: nowrap
    font-size: 12px
    &:last-child
      min-width: 0
    a
      color: $default-font-color
      &:hover
        text-decoration: none
    .separator
      margin: 0 10px

  .breadcrumb-last
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    font-weight: 300
</style>
