@font-face {
  font-family: 'Lato';
  src:
    local('Lato Regular'),
    local('Lato-Regular'),
    url(/styles/fonts/Lato/woff2/Lato-Regular.woff2) format('woff2'),
    url(/styles/fonts/Lato/woff/Lato-Regular.woff) format('woff'),
    url(/styles/fonts/Lato/ttf/Lato-Regular.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src:
    local('Lato Italic'),
    local('Lato-Italic'),
    url(/styles/fonts/Lato/woff2/Lato-Italic.woff2) format('woff2'),
    url(/styles/fonts/Lato/woff/Lato-Italic.woff) format('woff'),
    url(/styles/fonts/Lato/ttf/Lato-Italic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src:
    local('Lato Bold'),
    local('Lato-Bold'),
    url(/styles/fonts/Lato/woff2/Lato-Bold.woff2) format('woff2'),
    url(/styles/fonts/Lato/woff/Lato-Bold.woff) format('woff'),
    url(/styles/fonts/Lato/ttf/Lato-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src:
    local('Lato BoldItalic'),
    local('Lato-BoldItalic'),
    url(/styles/fonts/Lato/woff2/Lato-BoldItalic.woff2) format('woff2'),
    url(/styles/fonts/Lato/woff/Lato-BoldItalic.woff) format('woff'),
    url(/styles/fonts/Lato/ttf/Lato-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src:
    local('Lora'),
    local('Lora-Regular'),
    url(/styles/fonts/Lora/woff2/Lora-Regular.woff2) format('woff2'),
    url(/styles/fonts/Lora/woff/Lora-Regular.woff) format('woff'),
    url(/styles/fonts/Lora/ttf/Lora-Regular.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src:
    local('Lora Italic'),
    local('Lora-Italic'),
    url(/styles/fonts/Lora/woff2/Lora-Italic.woff2) format('woff2'),
    url(/styles/fonts/Lora/woff/Lora-Italic.woff) format('woff'),
    url(/styles/fonts/Lora/ttf/Lora-Italic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src:
    local('Lora Bold'),
    local('Lora-Bold'),
    url(/styles/fonts/Lora/woff2/Lora-Bold.woff2) format('woff2'),
    url(/styles/fonts/Lora/woff/Lora-Bold.woff) format('woff'),
    url(/styles/fonts/Lora/ttf/Lora-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src:
    local('Lora BoldItalic'),
    local('Lora-BoldItalic'),
    url(/styles/fonts/Lora/woff2/Lora-BoldItalic.woff2) format('woff2'),
    url(/styles/fonts/Lora/woff/Lora-BoldItalic.woff) format('woff'),
    url(/styles/fonts/Lora/ttf/Lora-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/styles/fonts/MaterialIcons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(/styles/fonts/MaterialIcons/MaterialIcons-Regular.woff2) format('woff2'),
  url(/styles/fonts/MaterialIcons/MaterialIcons-Regular.woff) format('woff'),
  url(/styles/fonts/MaterialIcons/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Trajan Pro';
  src:
    local('Trajan Pro Regular'),
    url(/styles/fonts/TrajanProRegular/TrajanPro-Regular.woff2) format('woff2'),
    url(/styles/fonts/TrajanProRegular/TrajanPro-Regular.woff) format('woff'),
    url(/styles/fonts/TrajanProRegular/TrajanPro-Regular.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

