<template lang="pug">
  tooltip.no-hassle-policy
    .tooltip-anchor(slot="target")
      i.fa.fa-question-circle &nbsp;
      v-link(type="native", :to="`${wpDomain}/frequently-asked-questions/#return-policy`") {{ $t('detailsPage.mainDetails.noHasslePolicy') }}
    .tooltip-header-price(slot="header")
      strong {{ $t('detailsPage.mainDetails.noHasslePolicy') }}
    .tooltip-body-price
      div {{ $t('detailsPage.mainDetails.noHasslePolicyText') }}
</template>

<script>
import Tooltip from '~~/components/Common/Tooltip'

export default {
  name: 'NoHasslePolicyComponent',

  components: { Tooltip },

  data: () => ({
    wpDomain: process.env.wpDomain
  })
}
</script>

<style lang="sass" scoped>
.no-hassle-policy
  margin-top: 15px
  font-size: 14px
  display: inline-block
</style>
