<template lang="pug">
  .page-header
    .container
      breadcrumbs(v-if="showBreadcrumbs", :items="breadcrumbs")
      h1 {{ title }}
      button.button.gold-color.light.is-hidden-mobile(@click="$auth.logout") {{ $t('account.dashboard.signOut') }}
</template>
:showBreadcrumbs="true", :breadcrumbs="localBreadcrumbs"
<script>
export default {
  name: 'PageHeaderComponent',

  components: {
    Breadcrumbs: () => import('~~/components/Common/Breadcrumbs')
  },

  props: {
    title: {
      type: String,
      required: true
    },
    showBreadcrumbs: {
      type: Boolean,
      default: true
    },
    breadcrumbs: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="sass" scoped>
.page-header
  position: relative
  background-color: $light-primary-color
  padding: 25px 0
  text-align: center
  .container
    position: relative
  h1
    font-size: 45px
    font-family: $lora
    font-style: italic
    margin: 0
    +mobile
      font-size: 35px
      padding-top: 0
  .button
    position: absolute
    right: 24px
    top: 0
    bottom: 0
    margin: auto 0
    padding: 8px 10px
    height: 40px
  .breadcrumbs-wrapper
    position: absolute
    left: 24px
    top: -25px
</style>
