<template lang="pug">
  .edu__wrapper-content
    article.tease.tease-page.mb-4.clearfix(v-for="item in sResults", :key="item.id")
      h2
        v-link(:to="item.url", v-html="item.title")
      .tease-body(v-html="getBody(item)")
</template>

<script>
import get from 'lodash/get'
import _baseEduPage from '~~/components/Page/_baseEduPage'

export default {
  name: 'EduPage',

  extends: _baseEduPage,

  scrollToTop: true,

  async asyncData({ store, app, redirect, route, error, $sentry }) {
    try {
      if (route.query.s) {
        await store.dispatch('wordpress/fetchMenu', route)
        await store.dispatch('wordpress/search', route.query.s)
        const sResults = store.state.wordpress.searchResults.slice(0, 9)
        return { sResults }
      }
    } catch (e) {
      if ($sentry) $sentry.captureException(e)
      error({ statusCode: 404, message: 'This page could not be found' })
    }

    const defaultRoute = {
      name: 'education-index-category',
      params: {
        category: 'home'
      }
    }

    redirect(301, app.localePath(defaultRoute))
  },

  methods: {
    getBody(item) {
      return get(item, '_embedded.self[0].excerpt.rendered', '')
    }
  }
}
</script>
