<template lang="pug">
section.reviews
  .container
    h2.title.is-italic {{ $t('homePage.reviews.title') }}
    .sub-title {{ $t('homePage.reviews.subTitle') }}
    .iframe-wrapper
      iframe#reviews(v-if="showReviews", name="reviews", frameBorder="0", width="100%", height="100%", src="//cl.avis-verifies.com/us/cache/3/c/b/3cb53d45-0b9f-b594-6546-40eed2160ee1/widget4/3cb53d45-0b9f-b594-6546-40eed2160ee1horizontal_index.html")
</template>

<script>
export default {
  name: 'ReviewsComponent',

  data: () => ({
    showReviews: false
  }),

  mounted() {
    this.showReviews = true
  }
}
</script>

<style lang="sass" scoped>
.iframe-wrapper
  height: 150px
  @media screen and (max-width: 535px)
    height: 315px
.reviews
  width: 100%
  margin-bottom: 100px
  +touch
    margin-bottom: 50px
  .sub-title
    text-align: center
    font-size: 18px
    margin-bottom: 30px
  .title
    +mobile
      font-size: 36px
</style>
