@import '~bulma/bulma'
@import './controls/all.sass'
@import './wordpress/all.sass'
@import './components/order'
@import './components/tooltip'
@import './components/tooltip-light'
@import './components/sweetalert'
@import './components/videoModal'
@import './components/tabulator'
@import 'helpers'

body
  margin: 0
  padding: 0
  font-size: 14px
  font-family: 'Lato', sans-serif
  color: $default-font-color

h3
  &.block-title
    font-family: $lora
    font-size: 20px
    font-weight: 900
    border-top: 1px solid $border-color
    border-bottom: 1px solid $border-color
    background-color: $fourth-bg-color
    text-align: center
    padding: 7px 15px

.is-title
  font-family: $lora
  font-size: 36px
  font-weight: 400

.section-title
  text-align: center
  font-family: $lora
  font-size: 42px
  font-weight: 400

.tooltip-style
  cursor: help
  border-bottom: 1px dotted $tooltip-border-color

.available
  color: $available !important

.not-available
  color: $notAvailable !important

.email-warning
  cursor: pointer
  z-index: 50
  pointer-events: unset !important
  color: $notAvailable !important
  &__paragraph
    &:not(:last-child)
      margin-bottom: 10px

a
  color: $default-font-color
  &.has-border
    border-bottom: 1px solid currentColor

.title
  text-align: center
  font-family: $lora
  font-size: 42px
  font-weight: 400
  span
    display: inline-block
    white-space: nowrap

.stop-scrolling
  overflow: hidden

.__nuxt-error-page
  flex: auto
  position: unset !important
  @include margin-bottom()
  +mobile
    margin-top: 180px

.multiselect
  height: 40px
  &__tags
    padding: 0 40px 0 8px
    display: flex
    align-items: center
    .multiselect__single,
    .multiselect__input
      overflow: hidden
      margin-bottom: unset

input
  outline: none !important
  box-shadow: unset !important
  &:focus
    box-shadow: unset !important
    outline: none !important

.userlike-tracking-img
  display: block

#userlike-tab
  z-index: 3000 !important

.tabs
  a
    border: unset

.container
  +tablet
    padding: 0 $tablet-container-padding
  +mobile
    padding: 0 $mobile-container-padding

.material-icons
  opacity: 0

.fonts-loaded
  .material-icons
    opacity: 1

.modal-enter-active,
.modal-leave-active
  transition: all .3s ease

.modal-enter,
.modal-leave-active
  opacity: 0
  transform: translateY(100px)

.material-icons
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px  /* Preferred icon size */
  display: inline-block
  line-height: 1
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale

  /* Support for IE. */
  font-feature-settings: 'liga'

.is-align-items-flex-center
  align-items: center

.pac-logo
  &:after
    content: unset
