@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white)
  overflow: hidden
  position: relative
  line-height: $lineHeight
  max-height: $lineHeight * $lineCount
  text-align: justify
  margin-right: -1em
  padding-right: 1em
  &:before
    content: '...'
    position: absolute
    right: 15px
    bottom: 0
    background: $bgColor
    padding-left: 6px
    opacity: 1
  &:after
    content: ''
    position: absolute
    right: 15px
    width: 1em
    height: 1em
    margin-top: 0.2em
    background: $bgColor
    opacity: 1

@mixin border-radius($radius)
  border-radius: $radius
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius

@mixin box-shadow($size, $color)
  -webkit-box-shadow: $size $color
  -moz-box-shadow: $size $color
  box-shadow: $size $color

@mixin box-shadow-inner($size, $color)
  -webkit-box-shadow: inset $size $color
  -moz-box-shadow: inset $size $color
  box-shadow: inset $size $color

@mixin margin-bottom()
  margin-bottom: 100px
  +mobile
    margin-bottom: 35px

@mixin placeholder-color($color)
  &::placeholder
    color: $color
    opacity: 1
  &:-ms-input-placeholder
    color: $color
  ::-ms-input-placeholder
    color: $color

@mixin flipX()
  -moz-transform: scaleX(-1)
  -o-transform: scaleX(-1)
  -webkit-transform: scaleX(-1)
  transform: scaleX(-1)

@mixin flipY()
  -moz-transform: scaleY(-1)
  -o-transform: scaleY(-1)
  -webkit-transform: scaleY(-1)
  transform: scaleY(-1)

@mixin flipXY()
  -moz-transform: scale(-1, -1)
  -o-transform: scale(-1, -1)
  -webkit-transform: scale(-1, -1)
  transform: scale(-1, -1)

@mixin transition($type, $time)
  -webkit-transition: $type $time ease-in-out
  -moz-transition: $type $time ease-in-out
  -ms-transition: $type $time ease-in-out
  -o-transition: $type $time ease-in-out
  transition: $type $time ease-in-out

@mixin background-image($class, $path, $ext, $mobile: false, $mobileExt: '')
  .#{$class}[lazy-status="entered"]
    background-image: url('#{$assetsHost}/normal-webp/#{$path}.webp')
    @if $mobile
      +mobile
        background-image: url('#{$assetsHost}/normal-webp/#{$mobile}.webp')

  .no-webp .#{$class}[lazy-status="entered"]
    background-image: url('#{$assetsHost}/normal/#{$path}.#{$ext}')
    @if $mobile
      +mobile
        background-image: url('#{$assetsHost}/normal/#{$mobile}.#{$mobileExt}')

  $retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"

  @media #{$retina}
    .#{$class}[lazy-status="entered"]
      background-image: url('#{$assetsHost}/hi-res-webp/#{$path}@2x.webp')
      @if $mobile
        +mobile
          background-image: url('#{$assetsHost}/hi-res-webp/#{$mobile}@2x.webp')

    .no-webp .#{$class}[lazy-status="entered"]
      background-image: url('#{$assetsHost}/hi-res/#{$path}@2x.#{$ext}')
      @if $mobile
        +mobile
          background-image: url('#{$assetsHost}/hi-res/#{$mobile}@2x.#{$mobileExt}')

@mixin background-image-before($class, $path, $ext)
  .#{$class}[lazy-status="entered"]::before
    content: ""
    background-image: url('#{$assetsHost}/normal-webp/#{$path}.webp')

  .no-webp .#{$class}[lazy-status="entered"]::before
    content: ""
    background-image: url('#{$assetsHost}/normal/#{$path}.#{$ext}')

  $retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"

  @media #{$retina}
    .#{$class}[lazy-status="entered"]::before
      content: ""
      background-image: url('#{$assetsHost}/hi-res-webp/#{$path}@2x.webp')

    .no-webp .#{$class}[lazy-status="entered"]::before
      content: ""
      background-image: url('#{$assetsHost}/hi-res/#{$path}@2x.#{$ext}')

@mixin background-image-after($class, $path, $ext)
  .#{$class}[lazy-status="entered"]::after
    background-image: url('#{$assetsHost}/normal-webp/#{$path}.webp')

  .no-webp .#{$class}[lazy-status="entered"]::after
    background-image: url('#{$assetsHost}/normal/#{$path}.#{$ext}')

  $retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"

  @media #{$retina}
    .#{$class}[lazy-status="entered"]::after
      background-image: url('#{$assetsHost}/hi-res-webp/#{$path}@2x.webp')

    .no-webp .#{$class}[lazy-status="entered"]::after
      background-image: url('#{$assetsHost}/hi-res/#{$path}@2x.#{$ext}')

@mixin background-image-gradient($class, $hires-path, $path, $ext, $color1, $color2)

  .#{$class}[lazy-status="entered"]
    background-image: url('#{$assetsHost}/normal-webp/#{$path}.webp')
    background-image: url('#{$assetsHost}/normal-webp/#{$path}.webp'), linear-gradient(#{$color1}, #{$color2})

  .no-webp .#{$class}[lazy-status="entered"]
    background-image: url('#{$assetsHost}/normal/#{$path}.#{$ext}')
    background-image: url('#{$assetsHost}/normal/#{$path}.#{$ext}'), linear-gradient(#{$color1}, #{$color2})

  $retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"

  @media #{$retina}
    .#{$class}
      background-image: url('#{$assetsHost}/hi-res-webp/#{$hires-path}.webp')
      background-image: url('#{$assetsHost}/hi-res-webp/#{$hires-path}.webp'), linear-gradient(#{$color1}, #{$color2})

    .no-webp .#{$class}
      background-image: url('#{$assetsHost}/hi-res/#{$hires-path}.#{$ext}')
      background-image: url('#{$assetsHost}/hi-res/#{$hires-path}.#{$ext}'), linear-gradient(#{$color1}, #{$color2})

@mixin fade-transition($class)
  .#{$class}-enter
    opacity: 0

  .#{$class}-leave-active
    opacity: 0

  .#{$class}-enter-active, .#{$class}-leave-active
    transition: opacity .3s

@mixin group-fade-transition($class)
  .#{$class}
    &-enter-active
      transition: all .3s ease
    &-leave-active
      transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0)
    &-enter,
    &-leave-to
      transform: translateX(10px)
      opacity: 0

@mixin container-paddings
  .container
    padding-left: $desktop-container-padding !important
    padding-right: $desktop-container-padding !important
    +tablet-only
      padding-left: $tablet-container-padding !important
      padding-right: $tablet-container-padding !important
    +mobile
      padding-left: $mobile-container-padding !important
      padding-right: $mobile-container-padding !important

=ipad-pro
  @media only screen and (min-width: 1024px) and (max-width: 1087px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)
    @content

=ipad
  @media only screen and (min-width: 768px) and (max-width: 1023px) and (max-height: 1024px) and (-webkit-min-device-pixel-ratio: 1.5)
    @content

=iphone-5se
  @media only screen and (min-width: 300px) and (max-width: 400px) and (max-height: 568px) and (-webkit-min-device-pixel-ratio: 1.5)
    @content

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content
