<template lang="pug">
.page
</template>

<script>
export default {
  name: 'WeddingBandsListingPage',

  fetch({ redirect, route }) {
    const newRoute = {
      ...route,
      name: route.name.replace('ruby-wedding-bands', 'ruby-wedding-rings-bands')
    }

    redirect(301, newRoute)
  }
}
</script>
