<template lang="pug">
section.photo-gallery.container.is-max-fullhd
  .photo-gallery-wrapper
    .area-1.image-wrapper
      v-image(src="photoGallery/img2@2x.jpg")
    .area-2.image-wrapper
      v-image.is-hidden-mobile(src="photoGallery/img4@2x.jpg")
      v-image.is-hidden-tablet(src="photoGallery/img5@2x.jpg")
    .area-3.image-wrapper.is-hidden-mobile
      v-image(src="photoGallery/img3@2x.jpg")
    .area-4.image-wrapper.is-hidden-mobile
      v-image(src="photoGallery/img5@2x.jpg")
    .area-5.is-flex
      h3.gallery-title {{ $t(`homePage.photoGallery.title`) }}
      .gallery-text {{ $t(`homePage.photoGallery.text`) }}
      v-link.button.pink-color(:to="url", target="_blank", type="native", :noFollow="true") {{ $t(`homePage.photoGallery.button`) }}
</template>

<script>
export default {
  name: 'PhotoGalleryComponent',

  data: () => ({
    url: 'https://www.instagram.com/thenaturalrubyco/'
  })
}
</script>

<style lang="sass" scoped>
.photo-gallery
  margin-top: 100px
  +touch
    margin-top: 45px
  &-wrapper
    display: grid
    grid-template-columns: minmax(200px, 1fr) minmax(200px, auto) minmax(200px, 1fr)
    grid-template-rows: repeat(2, minmax(200px, 1fr))
    grid-gap: 40px
    .area-1
      grid-area: 1 / 1 / 2 / 2
    .area-2
      grid-area: 2 / 1 / 3 / 2
    .area-3
      grid-area: 1 / 3 / 2 / 4
    .area-4
      grid-area: 2 / 3 / 3 / 4
    .area-5
      grid-area: 1 / 2 / 3 / 3
      justify-content: center
      align-items: center
      flex-direction: column
      border: 1px solid $border-color
      padding: 70px
      +touch
        padding: 30px
      .gallery-title
        text-align: center
        font-family: $lora
        font-size: 36px
        font-style: italic
        line-height: 36px
      .gallery-text
        font-size: 16px
        margin-top: 15px
        text-align: center
      .button
        margin-top: 40px
        +iphone-5se
          padding: 11px 25px
    +touch
      grid-gap: 35px
    +tablet-only
      grid-template-columns: minmax(150px, 1fr) minmax(150px, auto) minmax(150px, 1fr)
      grid-template-rows: repeat(2, minmax(150px, 1fr))
    +mobile
      grid-template-columns: repeat(2, minmax(100px, 228px))
      grid-template-rows: minmax(100px, auto) 2fr
      justify-content: center
      .area-1
        grid-area: 1 / 1 / 2 / 2
      .area-2
        grid-area: 1 / 2 / 2 / 3
      .area-3
        grid-area: unset
      .area-4
        grid-area: unset
      .area-5
        grid-area: 2 / 1 / 3 / 3
    .image-wrapper
      aspect-ratio: 1 / 1
</style>
