<template lang="pug">
.preview-item-switcher.is-flex
  .preview-item-switcher__title {{ $t('listingPage.filters.previewSwitcher.availability') }}
  .preview-item-switcher__options.is-flex
    label.radio-container(v-for="(state, index) in states", :class="{selected: index === position}")
      input(type="radio", :value="state.value", v-model="position")
      span.radio-btn {{ state.text }}
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'PreviewItemsSwitcherComponent',

  inject: ['isStar'],

  data: () => ({
    loading: false
  }),

  computed: {
    ...mapState({
      dataType: (state) => state.filters.dataType
    }),

    type() {
      return this.$store.getters.typeList
    },

    position: {
      get() {
        return Number(this.dataType[this.type])
      },
      async set(value) {
        this.$root.$emit('loading-start')
        this.loading = true
        this.setDataType({ listType: this.type, value })
        await this.reFetchFilters()
        this.$root.$emit('filter-updated')
      }
    },

    states() {
      return [
        {
          id: '2be9f2f3-c274-45b2-b784-ca96bcf65cc0',
          text: this.$t('listingPage.filters.previewSwitcher.all'),
          value: 0
        },
        {
          id: 'bbe212bb-3ee4-4108-8a88-e3f45f7f8c3b',
          text: this.$t('listingPage.filters.previewSwitcher.ready'),
          value: 1
        },
        {
          id: '7351361f-20b6-4f4f-9081-a1d65c2f795b',
          text: this.$t('listingPage.filters.previewSwitcher.notReady'),
          value: 2
        }
      ]
    }
  },

  watch: {
    '$route.query': {
      deep: true,
      handler(newQuery, oldQuery) {
        if (newQuery.availability !== oldQuery.availability) {
          this.setDataType({
            listType: this.type,
            value: newQuery.availability || 0
          })
        }
      }
    }
  },

  mounted() {
    this.$root.$on('loading-stop', this.finishLoading)
  },

  methods: {
    ...mapActions({
      setDataType: 'filters/setDataType'
    }),

    // waiting for the finish loading, and then finish update route query. Otherwise route changing will stop loading overlay
    finishLoading() {
      if (this.loading) {
        this.loading = false
        this.pushToUrl(this.dataType[this.type])
      }
    },

    async reFetchFilters() {
      this.$root.$emit('loading-start')
      await this.$store.dispatch('filters/setFilters', {
        itemsType: this.type,
        isStar: this.isStar,
        origin: this.$h.getListingItemsOrigin(this.$route),
        style: this.$h.getListingItemsStyle(this.$route),
        query: {}
      })
    },

    pushToUrl(value) {
      const query = {
        ...this.$route.query,
        availability: value
      }

      if (!value) delete query.availability

      this.$router.push({ query })
    }
  }
}
</script>

<style lang="sass" scoped>
.preview-item-switcher
  +mobile
    flex-direction: column
    width: 100%
  &__title
    font-size: 14px
    text-transform: uppercase
    +mobile
      margin-bottom: 10px
  &__options
    margin-left: 20px
    +mobile
      margin-left: 0
    .radio-container + .radio-container
      .radio-btn
        margin-left: -1px
    .radio-container
      display: inline-block
      position: relative
      cursor: pointer
      font-size: 16px
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      user-select: none
      +mobile
        width: 33.33%
        font-size: 14px
        &:last-child
          .radio-btn
            margin-left: -2px
      &.selected
        z-index: 1
      .radio-btn
        color: #35495e
        box-shadow: inset 0 0 0 1px $border-color
        padding: 10px
        +mobile
          width: 100%
          display: inline-block
          text-align: center
      input
        position: absolute
        opacity: 0
        cursor: pointer
        height: 0
        width: 0
        &:checked ~ .radio-btn
          box-shadow: inset 0 0 0 1px $active-control
          color: $active-control
</style>
