<template lang="pug">
main.listing-page.page
  page-header(:breadcrumbs="breadcrumbs")
  main-filter-mobile(v-if="$device.isMobile")
  main-filter(v-else)
  products-list
  back-to-top-component
</template>

<script>
import _baseListingPage from '~~/components/ListingPage/_baseListingPage'
import FetchListing from '~~/utils/fetch/listing'

const type = 'ringsList'

export default {
  name: 'RingsListingPage',

  extends: _baseListingPage,

  data: () => ({
    type
  }),

  async fetch(context) {
    try {
      const items = new FetchListing({ context, type, force: true })
      await items.fetch()
    } catch (e) {
      if (context.$sentry && context.$sentry.captureException) {
        context.$sentry.captureException(e)
      } else {
        console.log(e)
      }
    }
  },

  computed: {
    breadcrumbs() {
      const last = {
        id: '388c7bc2-24d6-43b7-8068-aea821186f91',
        name: this.$t('breadcrumbs.listings.engagementRings')
      }
      return [this.breadcrumbsItems.home, last]
    }
  }
}
</script>

<style lang="sass" src="~~/assets/styles/pages/listingPage.sass"></style>

<style lang="sass" scoped>
.listing-page
  @include margin-bottom()
</style>
