<template lang="pug">
section.details-main.is-flex
  .details-main-left-side
    product-gallery-finalize(v-if="isCustom", :messages="messages", :item="item", :create-thumb-func="createThumbnails")
    product-gallery(v-else, :item="item", :messages="messages", :thumbnails="createThumbnails(item)")
  .details-main-right-side(:class="{'custom-item': isCustom}")
    details-main-info-component
    .details-main-full(v-if="isQuickView")
      v-link(:to="getDetailsPath(item)") {{ $t('detailsPage.mainDetails.viewFullDetails') }}
  product-gallery-lightbox
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
import createGalleryThumbnailsMixin from '~~/mixins/createGalleryThumbnailsMixin'
import { getDetailsPath } from '~~/utils/utils.js'

export default {
  name: 'DetailsMainComponent',

  components: {
    ProductGalleryLightbox: () =>
      import(
        '~~/components/DetailsPage/ProductGallery/ProductGalleryLightbox.vue'
      ),
    DetailsMainInfoComponent: () => import('./DetailsMainInfo/DetailsMainInfo'),
    ProductGallery: () => import('../ProductGallery'),
    ProductGalleryFinalize: () => import('../ProductGalleryFinalize')
  },

  mixins: [createGalleryThumbnailsMixin],

  inject: ['pageType'],

  computed: {
    ...mapState({
      customInitialData: (state) => state.customItem.initialData
    }),
    ...mapGetters({
      productDetails: 'productDetails/productDetails',
      customItem: 'customItem/customItem',
      selectedOptions: 'customItem/selectedOptions'
    }),

    messages() {
      const messages = []
      this.getProngsMessages(messages)
      return messages
    },

    isQuickView() {
      return this.pageType === 'listing'
    },

    isCustom() {
      return this.pageType === 'review'
    },

    item() {
      if (this.isCustom) return this.customItem
      return this.productDetails
    },

    itemKey() {
      return this.item.guid + (this.item.metalTypeCode || '')
    }
  },

  methods: {
    ...mapActions({
      getCustomItem: 'customItem/getCustomItem'
    }),

    getProngsMessages(messages) {
      // for custom items which have prongs and currently selected prong is not the same as default selected
      if (this.isCustom && this.customItem.customSetting.prongs?.length) {
        if (
          this.customInitialData?.prongTypeId !== this.selectedOptions.prong?.id
        ) {
          const prong = this.customItem.customSetting.prongs.find(
            (prong) => prong.id === this.customInitialData?.prongTypeId
          )
          const message = {
            text: this.$t('detailsPage.mainDetails.prongsNotice', [
              prong?.type
            ]),
            slideTypes: ['Preview'] // All - for all slide types
          }
          if (!messages.includes(message)) messages.push(message)
        }
      }
    },

    getDetailsPath
  }
}
</script>

<style lang="sass" scoped>
.details-main
  margin-top: 20px
  +mobile
    flex-direction: column
  &-full
    padding-top: 20px
    padding-left: 50px
    a
      text-decoration: underline
      font-size: 16px
      color: $gold-color
  &-left-side
    width: 60%
    position: relative
    +touch
      width: 50%
    +mobile
      width: 100%
  &-right-side
    width: 40%
    +touch
      width: 50%
    +mobile
      margin-top: 15px
      width: 100%
    &.custom-item
      margin-top: 43px
      border-top: 1px solid #e6edea
      .details-main-info
        margin-top: unset
        border-top: unset
</style>
