<template lang="pug">
  .edu__wrapper-content(ref="content")
    h1.edu-title.is-italic(v-html="title")
    .edu__content(v-interpolation, v-html="page.content.rendered", ref="content")
    share(:title="title", :image="image", :description="description")
</template>

<script>
import { hydrateWhenIdle, hydrateWhenVisible } from 'vue-lazy-hydration'
import cloneDeep from 'lodash/cloneDeep'
import tail from 'lodash/tail'
import get from 'lodash/get'
import { mapActions, mapState } from 'vuex'
import _baseEduPage from '~~/components/Page/_baseEduPage'
import video360Plugin from '~~/components/Common/video360/video360Plugin.js'
import { jewelryByCategory } from '~~/utils/definitions/defaults'
import { bandsByCategory, settingsByCategory } from '~~/utils/sitemapUtils'

export default {
  name: 'EduPage',

  components: {
    Share: hydrateWhenVisible(() => import('~~/components/Wordpress/Share'), {
      observerOptions: { rootMargin: '200px' }
    }),
    Side: hydrateWhenIdle(() => import('~~/components/Wordpress/Side')),
    Breadcrumbs: hydrateWhenIdle(() =>
      import('~~/components/Common/Breadcrumbs')
    )
  },

  extends: _baseEduPage,

  scrollToTop: true,

  data: () => ({
    videos: [],
    tooltipInstance: null
  }),

  async fetch(context) {
    const { store, route, redirect, error } = context
    if (route.query.type === 'page') {
      const r = cloneDeep(route)
      delete r.query.type
      redirect(301, r)
      return
    }

    try {
      await store.dispatch('wordpress/fetchMenu', route)
      if (route.query.type === 'post') {
        await store.dispatch('wordpress/fetchPost', { slug: route.params.slug })
        return
      }
      await store.dispatch('wordpress/fetchPage', { slug: route.params.slug })
    } catch (e) {
      if (context.$sentry && context.$sentry.captureException) {
        context.$sentry.captureException(e)
      } else {
        console.log(e)
      }
      error({ statusCode: 404, message: 'This page could not be found' })
    }
  },

  computed: {
    ...mapState({
      videosData: (state) => state.wordpress.videos,
      page: (state) => state.wordpress.page,
      menu: (state) => state.wordpress.menu
    }),

    title() {
      return get(this.page, 'title.rendered', '')
    },

    description() {
      return this.page.description.replace(/^<p>|<\/p>$/g, '')
    },

    image() {
      return get(this.page, "_embedded['wp:featuredmedia'][0].source_url", '')
    }
  },

  beforeDestroy() {
    this.unMountTooltips()
    if (window.changeValues) window.changeValues = null
  },

  mounted() {
    this.insertVideos()
    this.mountTooltips()
    this.ringSizingFuncInject()
  },

  methods: {
    ...mapActions({
      getVideo360Details: 'wordpress/getVideo360Details'
    }),

    ringSizingFuncInject() {
      if (
        this.$route.params.category === 'frequently-asked-questions' &&
        window
      ) {
        window.changeValues = (which) => {
          document.getElementById('USASize').selectedIndex = which
          document.getElementById('DiamInch').selectedIndex = which
          document.getElementById('DiamMM').selectedIndex = which
          document.getElementById('CircumMM').selectedIndex = which
          document.getElementById('British').selectedIndex = which
          document.getElementById('French').selectedIndex = which
          document.getElementById('German').selectedIndex = which
          document.getElementById('Japanese').selectedIndex = which
          document.getElementById('Swiss').selectedIndex = which
        }
      }
    },

    async mountTooltips() {
      const tooltips = document.querySelectorAll('[data-toggle="tooltip"]')
      this.changeTitleAttribute(tooltips)
      this.tooltipInstance = await this.$tippy.insert(tooltips, {
        content: (reference) => reference.getAttribute('tooltip-title')
      })
    },

    changeTitleAttribute(elements) {
      elements.forEach((el) => {
        const title = el.getAttribute('title')
        el.setAttribute('tooltip-title', title)
        el.removeAttribute('title')
      })
    },

    unMountTooltips() {
      if (this.tooltipInstance && this.tooltipInstance[0]) {
        this.tooltipInstance[0].destroy()
        this.tooltipInstance = null
      }
    },

    async insertVideos() {
      const videos = this.$refs.content.querySelectorAll('.video-360')
      await this.getVideosDetails(videos)
      if (videos.length) {
        await this.$bluebird.insert()
        await this.$hammer.insert()
        videos.forEach((v) => {
          this.addClasses(v)
          const video = video360Plugin(v, this.getAttrs(v))
          this.videos.push(video)
        })
      }
    },

    async getVideosDetails(videos) {
      const publicIds = []
      videos.forEach((video) => {
        publicIds.push(this.getParams(video)[0])
      })
      if (publicIds.length) await this.getVideo360Details({ publicIds })
    },

    getAttrs(el) {
      const params = this.getParams(el)
      // el.classList.add.apply(el.classList, tail(params))
      const id = params[0]
      const size = this.getVideoSize(params)
      el.textContent = ''
      if (el.dataset.descr) this.addDescription(el)
      this.addIcon(el)
      const details = this.videosData.find((v) => {
        return v.publicId.toLowerCase() === id.toLowerCase()
      })
      const framesCount = details.framesCount
      const metalTypeCode = null
      const cover = details.converImages[size]
      return {
        id,
        prefix: id,
        behavior: this.getBehavior(params),
        startOn: this.getPlayMode(params),
        onclick: null,
        size,
        progressHeight: '2',
        framesCount,
        metalTypeCode,
        cover,
        itemType: this.getItemType(details.category),
        host: process.env.video360Url
      }
    },

    getItemType(category) {
      if (jewelryByCategory.includes(category)) return 'jewelry'
      if (settingsByCategory.includes(category)) return 'setting'
      if (bandsByCategory.includes(category)) return 'band'
      return 'stone'
    },

    addDescription(el) {
      const description = document.createElement('span')
      description.className = 'video-descr'
      description.textContent = el.dataset.descr
      el.append(description)
    },

    addIcon(el) {
      const icon = document.createElement('img')
      icon.className = 'video-icon'
      icon.src = '/img/360.svg'
      el.append(icon)
    },

    addClasses(el) {
      let descr = ''
      const params = this.getParams(el)
      const descrIndex = params.findIndex((p) => /^“.*”$/.test(p))
      if (descrIndex > -1) {
        descr = params[descrIndex].replace(/“|”/g, '')
        params[descrIndex] = 'descr'
      }
      params.push(this.getVideoSize(params))
      el.dataset.descr = descr
      el.classList.add.apply(el.classList, tail(params))
    },

    getParams(el) {
      if (!el) return []
      return el.textContent.split('|').map((p) => {
        p = p.trim()
        if (!/^“.*”$/.test(p)) p = p.toLowerCase()
        return p
      })
    },

    getPlayMode(params) {
      if (params.includes('play')) return 'auto'
      return 'mouseover'
    },

    getBehavior(params) {
      if (params.includes('play')) return 'swing'
      return 'mouseover'
    },

    getVideoSize(params) {
      if (params.includes('full')) return 'full'
      if (params.includes('medium')) return 'medium'
      return 'small'
    }
  }
}
</script>

<style lang="sass" scoped>
.edu
  &__wrapper-content
    flex: 2
    width: 66.66%
    +mobile
      width: 100%
  &__wrapper-side
    flex: 1
    width: 33.33%
    +mobile
      width: 100%
</style>
