<template lang="pug">
main.custom-design-page.page
  section-one-component
  section-two-component
  section-three-component
  section-four-component
  section-five-component
  section-six-component
  setting-selector-all
  video-modal(:name="modalName", :options="modalOptions")
  back-to-top-component
</template>

<script>
import { hydrateWhenIdle, hydrateWhenVisible } from 'vue-lazy-hydration'
import _basePage from '~~/components/Page/_basePage'

const width = 925
const ratio = 0.56349

export default {
  name: 'CustomDesignEmeraldRingsJewelryPage',

  pageType: 'customDesign',

  components: {
    SectionSixComponent: hydrateWhenVisible(
      () => import('~~/components/CustomJewelry/Sections/SectionSix'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    SectionFiveComponent: hydrateWhenVisible(
      () => import('~~/components/CustomJewelry/Sections/SectionFive'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    SectionFourComponent: hydrateWhenVisible(
      () => import('~~/components/CustomJewelry/Sections/SectionFour'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    SectionThreeComponent: hydrateWhenVisible(
      () => import('~~/components/CustomJewelry/Sections/SectionThree'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    SectionTwoComponent: hydrateWhenVisible(
      () => import('~~/components/CustomJewelry/Sections/SectionTwo'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    SectionOneComponent: hydrateWhenIdle(() =>
      import('~~/components/CustomJewelry/Sections/SectionOne')
    ),
    VideoModal: hydrateWhenIdle(() =>
      import('~~/components/Common/VideoModal')
    ),
    SettingSelectorAll: hydrateWhenIdle(() =>
      import('~~/components/DetailsPage/DetailsMain/SettingsSelectorAll')
    )
  },

  extends: _basePage,

  data: () => ({
    modalName: 'packaging-video',
    modalOptions: {
      autoplay: true,
      controls: true,
      muted: false,
      width,
      height: width * ratio,
      source:
        'https://video.thenaturalsapphirecompany.com/54d85808-eb94-4f08-802e-ef3251ba5fb2/hls/packaging-emerald.m3u8'
    }
  })
}
</script>

<style lang="sass" scoped>
.custom-design
  &-page
    @include margin-bottom()
  &-section
    &-one,
    &-two,
    &-three,
    &-four,
    &-five
      align-items: center
      .container
        +mobile
          flex-direction: column
        .left-side,
        .right-side
          height: inherit
          width: 50%
          text-align: center
          padding: 70px
          +tablet-only
            padding: 20px
        .step-number
          margin: 0 auto
          justify-content: center
          align-items: center
          font-size: 36px
          color: $dark-primary-color
          border: 1px solid $dark-primary-color
          height: 70px
          width: 70px
          border-radius: 50%
          font-family: $lora
        .step-title
          font-size: 40px
          font-family: $lora
          line-height: 1
          margin-top: 30px
          a
            color: $gold-color
        .step-text
          margin-top: 30px
          font-size: 16px
</style>
