<template lang="pug">
  g
    path(:style='{fill}', d='M15.13,15.14C21.81,14.27,27,8.16,27,.77a.49.49,0,0,0-.48-.48A.5.5,0,0,0,26,.77h0c0,6.85-4.75,12.51-10.88,13.39a1.71,1.71,0,0,0-3.3,0C5.72,13.28,1,7.62,1,.77H1A.5.5,0,0,0,.48.29.49.49,0,0,0,0,.77c0,7.39,5.19,13.5,11.87,14.37a1.7,1.7,0,0,0,.35.63h-2a.89.89,0,0,0-.15-.29.88.88,0,0,0-.61-.34,1,1,0,0,0-.7.19.94.94,0,0,0-.14,1.31h0a1,1,0,0,0,.44.27v8a.87.87,0,0,0-.3.16.93.93,0,0,0-.14,1.3h0a1,1,0,0,0,.72.34A.9.9,0,0,0,10,26.5a.92.92,0,0,0,.27-.38h6.51a1.08,1.08,0,0,0,.12.24h0a1,1,0,0,0,.72.34,1,1,0,0,0,.93-.83.88.88,0,0,0-.2-.68,1,1,0,0,0-.44-.29v-8a1,1,0,0,0,.29-.16.91.91,0,0,0,.15-1.3.88.88,0,0,0-.61-.34,1,1,0,0,0-.7.19,1,1,0,0,0-.28.44h-2A1.7,1.7,0,0,0,15.13,15.14Zm2.25.65a.38.38,0,0,1,.27-.08.36.36,0,0,1,.23.13.33.33,0,0,1,.07.25.32.32,0,0,1-.13.24.36.36,0,0,1-.49,0A.35.35,0,0,1,17.38,15.79Zm.44,10.26a.35.35,0,0,1-.44-.54.39.39,0,0,1,.27-.08.36.36,0,0,1,.23.13.35.35,0,0,1,.07.26A.32.32,0,0,1,17.82,26.05Zm-.8-1a.88.88,0,0,0-.3.48H10.29a.91.91,0,0,0-.17-.34,1,1,0,0,0-.44-.29v-8a1,1,0,0,0,.29-.16.89.89,0,0,0,.29-.43h6.47a.86.86,0,0,0,.14.29h0a1,1,0,0,0,.44.27v8A.87.87,0,0,0,17,25.06ZM9.12,26a.36.36,0,0,1,.05-.49.39.39,0,0,1,.27-.08.36.36,0,0,1,.23.13.35.35,0,0,1,.08.26.33.33,0,0,1-.14.23A.36.36,0,0,1,9.12,26Zm.05-10.21a.38.38,0,0,1,.27-.08.36.36,0,0,1,.23.13.34.34,0,0,1,.08.25.33.33,0,0,1-.14.24.36.36,0,0,1-.49,0A.35.35,0,0,1,9.17,15.79Zm3.19-1.16a1.14,1.14,0,1,1,1.14,1.14A1.14,1.14,0,0,1,12.36,14.63Z')
    path(:style='{fill}', d='M16.08,17.27a1.66,1.66,0,0,1-.16-.24.27.27,0,0,0-.25-.14H11.33a.29.29,0,0,0-.25.14,2,2,0,0,1-.48.55l-.2.14a.29.29,0,0,0-.14.25v5.9a.27.27,0,0,0,.14.24,1.79,1.79,0,0,1,.52.46,1.73,1.73,0,0,1,.19.28.29.29,0,0,0,.25.15h4.28a.28.28,0,0,0,.25-.15,2,2,0,0,1,.49-.59l.22-.14a.27.27,0,0,0,.14-.25V18a.27.27,0,0,0-.14-.24A1.9,1.9,0,0,1,16.08,17.27Zm.08,6.44a.71.71,0,0,0-.14.1h0a2.85,2.85,0,0,0-.54.61H11.53l-.15-.21a2.21,2.21,0,0,0-.55-.5V18.13L11,18a2.44,2.44,0,0,0,.53-.58h4l.14.21a2.83,2.83,0,0,0,.51.45Z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
