<template lang="pug">
  g
    path(:style='{fill}', d='M17.95,13.55c-0.06-0.07-0.1-0.14-0.16-0.25c-0.05-0.09-0.15-0.15-0.26-0.15H9.47c-0.11,0-0.21,0.06-0.26,0.15c-0.13,0.23-0.3,0.42-0.5,0.58c-0.07,0.05-0.14,0.1-0.22,0.14c-0.09,0.06-0.15,0.15-0.15,0.26v10.91c0,0.11,0.06,0.21,0.15,0.26c0.22,0.13,0.41,0.29,0.55,0.48c0.07,0.09,0.13,0.19,0.19,0.29c0.05,0.1,0.16,0.16,0.27,0.16h7.99c0.11,0,0.21-0.06,0.27-0.16c0.13-0.24,0.3-0.44,0.51-0.61c0.06-0.05,0.12-0.08,0.24-0.15c0.09-0.05,0.15-0.15,0.15-0.26V14.28c0-0.11-0.06-0.21-0.15-0.26C18.28,13.88,18.11,13.74,17.95,13.55z M18.04,25.03c-0.05,0.03-0.1,0.07-0.15,0.11c0,0,0,0,0,0c-0.22,0.18-0.41,0.4-0.57,0.64H9.68c-0.05-0.08-0.1-0.15-0.16-0.22c-0.16-0.2-0.35-0.38-0.57-0.53V14.45c0.05-0.03,0.09-0.06,0.13-0.09c0.21-0.17,0.4-0.37,0.56-0.6h7.72c0.04,0.06,0.09,0.13,0.15,0.21c0.15,0.18,0.32,0.33,0.54,0.48V25.03z')
    path(:style='{fill}', d='M19.86,26.29V13.2c0.11-0.04,0.21-0.09,0.3-0.16c0.21-0.16,0.34-0.39,0.36-0.65c0.03-0.26-0.05-0.51-0.21-0.71c-0.16-0.21-0.4-0.34-0.65-0.37c-0.26-0.03-0.51,0.04-0.72,0.21c-0.15,0.12-0.24,0.28-0.29,0.46h-3.86c0.32-0.33,0.51-0.77,0.51-1.26c0-0.85-0.59-1.55-1.37-1.75l3.37-6.83c0.17-0.34,0.15-0.73-0.05-1.05c-0.2-0.32-0.54-0.51-0.92-0.51h-5.67c-0.38,0-0.72,0.19-0.92,0.51C9.55,1.41,9.53,1.8,9.69,2.14l3.37,6.83c-0.79,0.2-1.37,0.9-1.37,1.75c0,0.49,0.2,0.93,0.51,1.26H8.36c-0.04-0.11-0.09-0.21-0.16-0.3c-0.16-0.21-0.4-0.34-0.65-0.37c-0.26-0.03-0.51,0.04-0.72,0.21c-0.41,0.34-0.48,0.95-0.15,1.37c0,0,0,0,0,0.01c0.12,0.15,0.28,0.23,0.46,0.29v13.1c-0.11,0.04-0.21,0.08-0.31,0.16c-0.42,0.34-0.48,0.95-0.15,1.37c0,0,0,0,0,0.01c0.19,0.23,0.47,0.36,0.76,0.36c0.22,0,0.43-0.07,0.61-0.22c0.14-0.11,0.22-0.25,0.29-0.4h10.33c0.03,0.09,0.07,0.18,0.13,0.25c0,0,0,0,0,0.01c0.19,0.23,0.47,0.36,0.76,0.36c0.22,0,0.43-0.07,0.61-0.22c0.21-0.16,0.34-0.39,0.36-0.65c0.03-0.26-0.05-0.51-0.21-0.71C20.2,26.44,20.03,26.35,19.86,26.29z M19.79,27.48c-0.17,0.13-0.39,0.1-0.52-0.05c-0.12-0.16-0.1-0.39,0.06-0.52c0.16-0.13,0.39-0.11,0.52,0.06c0.06,0.07,0.09,0.17,0.08,0.26C19.91,27.33,19.86,27.42,19.79,27.48z M7.15,27.43c-0.12-0.16-0.1-0.39,0.06-0.52c0.16-0.13,0.39-0.11,0.52,0.06c0.06,0.07,0.09,0.17,0.08,0.26c-0.01,0.1-0.06,0.18-0.14,0.24C7.5,27.62,7.28,27.58,7.15,27.43z M7.21,11.99c0.08-0.06,0.17-0.09,0.28-0.08c0.1,0.01,0.18,0.06,0.25,0.14c0.06,0.07,0.09,0.17,0.08,0.26c-0.01,0.1-0.06,0.18-0.14,0.24c-0.17,0.13-0.39,0.1-0.52-0.05C7.03,12.35,7.05,12.12,7.21,11.99z M8.38,26.95c-0.03-0.13-0.09-0.25-0.18-0.35c-0.12-0.15-0.29-0.24-0.46-0.3V13.2c0.11-0.04,0.21-0.09,0.3-0.16c0.15-0.12,0.24-0.28,0.3-0.46h10.28c0.03,0.11,0.08,0.21,0.16,0.31c0,0,0,0,0,0.01c0.12,0.15,0.28,0.23,0.46,0.29v13.1c-0.11,0.04-0.21,0.08-0.31,0.16c-0.16,0.13-0.26,0.32-0.31,0.51H8.38z M12.3,10.72c0-0.66,0.54-1.2,1.2-1.2c0.66,0,1.2,0.54,1.2,1.2c0,0.66-0.54,1.2-1.2,1.2C12.84,11.91,12.3,11.38,12.3,10.72z M10.26,1.41c0.09-0.14,0.24-0.22,0.4-0.22h5.67c0.17,0,0.32,0.08,0.4,0.22s0.1,0.31,0.02,0.46L13.5,8.48l-3.26-6.61C10.16,1.72,10.17,1.55,10.26,1.41z M19.32,11.99c0.08-0.06,0.17-0.09,0.28-0.08c0.1,0.01,0.18,0.06,0.25,0.14c0.06,0.07,0.09,0.17,0.08,0.26c-0.01,0.1-0.06,0.18-0.14,0.24c-0.17,0.13-0.39,0.1-0.52-0.05C19.14,12.35,19.17,12.12,19.32,11.99z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
