<template lang="pug">
  g
    path(:style='{fill}', d='M23.4,2.7h-6.3c0.2-0.1,0.4-0.4,0.4-0.7c0-0.4-0.3-0.8-0.7-0.8c-0.4,0-0.7,0.3-0.7,0.7c-0.1-0.2-0.3-0.4-0.5-0.6C14.7,0.5,13.7,0,12.5,0s-2.3,0.5-3.1,1.3C9.2,1.5,9.1,1.7,8.9,1.9c0-0.4-0.4-0.7-0.7-0.7C7.8,1.3,7.4,1.6,7.4,2c0,0.3,0.2,0.6,0.4,0.7H1.6C0.7,2.7,0,3.4,0,4.3v0.4c0,0.9,0.7,1.6,1.5,1.6h6.3C7.6,6.4,7.4,6.6,7.4,7c0,0.4,0.3,0.8,0.7,0.8c0.4,0,0.7-0.3,0.7-0.7c0.1,0.2,0.3,0.4,0.5,0.6C10.3,8.5,11.3,9,12.5,9s2.3-0.5,3.1-1.3c0.2-0.2,0.4-0.4,0.5-0.6c0,0.4,0.4,0.7,0.7,0.7c0.4,0,0.7-0.3,0.7-0.8c0-0.3-0.2-0.6-0.4-0.7h6.3c0.9,0,1.5-0.7,1.5-1.6V4.3C25,3.4,24.3,2.7,23.4,2.7z M1.7,5.5c-0.6,0-1-0.5-1-1s0.5-1,1-1s1,0.5,1,1C2.7,5.1,2.3,5.5,1.7,5.5z M4.1,5.5c-0.6,0-1-0.5-1-1s0.5-1,1-1s1,0.5,1,1S4.7,5.5,4.1,5.5z M6.6,5.5c-0.6,0-1-0.5-1-1s0.5-1,1-1s1,0.5,1,1C7.6,5.1,7.1,5.5,6.6,5.5z M15.2,7.3c-0.7,0.7-1.7,1.1-2.7,1.1s-2-0.4-2.7-1.1c-1.5-1.5-1.5-4,0-5.6c0.7-0.7,1.7-1.1,2.7-1.1s2,0.4,2.7,1.1C16.7,3.3,16.7,5.7,15.2,7.3z M18.4,5.5c-0.6,0-1-0.5-1-1s0.5-1,1-1s1,0.5,1,1S19,5.5,18.4,5.5z M20.9,5.5c-0.6,0-1-0.5-1-1s0.5-1,1-1c0.6,0,1,0.5,1,1C21.9,5.1,21.4,5.5,20.9,5.5z M23.3,5.5c-0.6,0-1-0.5-1-1s0.5-1,1-1c0.6,0,1,0.5,1,1S23.8,5.5,23.3,5.5z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
