<template lang="pug">
  g
    path(:style="{fill}" d="M29.2,31H4.8V22.83c0-4.34,8.61-6.09,12.2-6.09s12.2,1.75,12.2,6.09Zm-22.37-2H27.17V22.83c0-2.16-6.34-4.06-10.17-4.06S6.83,20.66,6.83,22.83ZM17,15.21A7,7,0,0,1,9.88,8.09a7.12,7.12,0,1,1,14.24,0A7,7,0,0,1,17,15.21ZM17,3a5,5,0,0,0-5.08,5.09A5,5,0,0,0,17,13.17a5,5,0,0,0,5.09-5.08A5,5,0,0,0,17,3Z" transform="translate(-4.8 -0.97)")
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
