<template lang="pug">
  g(transform='translate(-8.9 58.098)')
    path(:style='{fill}', d='M22.638-58A13.651,13.651,0,0,0,9-44.362c0,6.235,3.284,12.7,6.512,17.657a67.963,67.963,0,0,0,6.462,8.419.909.909,0,0,0,.664.288.909.909,0,0,0,.664-.288s1.262-1.353,2.982-3.555a.909.909,0,0,0-.156-1.277.909.909,0,0,0-.671-.186.909.909,0,0,0-.606.344c-1.294,1.658-1.828,2.214-2.222,2.649A60.118,60.118,0,0,1,17.035-27.7c-3.136-4.816-6.217-11.081-6.217-16.664A11.8,11.8,0,0,1,22.638-56.18a11.8,11.8,0,0,1,11.82,11.818,20.248,20.248,0,0,1-.847,5.532.909.909,0,0,0,.623,1.124.909.909,0,0,0,1.124-.623,22.014,22.014,0,0,0,.918-6.032A13.651,13.651,0,0,0,22.638-58Z', stroke-width='0.2')
    path(:style='{fill}', d='M23.238-51a7.641,7.641,0,0,0-7.627,7.627,7.64,7.64,0,0,0,7.627,7.625,7.64,7.64,0,0,0,7.627-7.625A7.641,7.641,0,0,0,23.238-51Zm0,1.818a5.8,5.8,0,0,1,5.809,5.809,5.794,5.794,0,0,1-5.809,5.807,5.794,5.794,0,0,1-5.809-5.807A5.8,5.8,0,0,1,23.238-49.182Z' transform='translate(-0.6 -0.635)', stroke-width='0.2')
    path(:style='{fill}', d='M36.183-34A8.2,8.2,0,0,0,28-25.817a8.2,8.2,0,0,0,8.183,8.183,8.2,8.2,0,0,0,8.183-8.183A8.2,8.2,0,0,0,36.183-34Zm0,1.818a6.351,6.351,0,0,1,6.364,6.364,6.351,6.351,0,0,1-6.364,6.364,6.351,6.351,0,0,1-6.364-6.364A6.351,6.351,0,0,1,36.183-32.182Z' transform='translate(-1.725 -2.179)', stroke-width='0.2')
    path(:style='{fill}', d='M213.046,270a.909.909,0,0,0-.909.909v2.728h-2.728a.909.909,0,0,0,0,1.818h2.728v2.728a.909.909,0,0,0,1.818,0v-2.728h2.728a.909.909,0,0,0,0-1.818h-2.728v-2.728A.909.909,0,0,0,213.046,270Z' transform='translate(-178.588 -302.542)', stroke-width='0.2')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
