<template lang="pug">
  g
    path(:style='{fill}', d='M23.1,4L23.1,4c-0.6,0-1.1,0.2-1.6,0.3h-5c-0.2-0.6-0.5-1.1-1-1.5c-0.7-0.7-1.5-1.1-2.4-1.3v0c0.1-0.2,0.2-0.4,0.2-0.6c0-0.4-0.3-0.8-0.7-0.9l0,0l0,0c0,0-0.1,0-0.1,0c-0.1,0-0.3,0-0.3,0c-2-0.1-3.3,0.6-5,1.4C6.8,1.7,6.3,2,5.8,2.4C4.7,3,3.6,3.7,2.5,3.9c0,0,0,0,0,0C0.8,4.1,0,4.8,0,6c0,1.1,0.8,2,1.9,2h0.1h0c0.6,0,1.1-0.2,1.6-0.4h4.9c0.2,0.6,0.5,1.2,1,1.6c0.7,0.7,1.5,1.1,2.4,1.3l0,0v0c-0.1,0.2-0.2,0.4-0.2,0.6c0,0.4,0.3,0.7,0.6,0.9l0,0c0,0,0,0,0,0c0,0,0,0,0,0C12.5,12,12.9,12,13,12c1.8,0,3.1-0.6,4.8-1.5c0.5-0.3,1-0.6,1.5-0.9C20.3,9,21.4,8.2,22.5,8c0,0,0,0,0,0C24.2,7.8,25,7.2,25,6C25,4.9,24.2,4,23.1,4z M16.6,7.6h1.3C17.4,8,17,8.4,16.5,8.8C16.4,8.9,16.2,9,16,9.2c-0.2,0.2-0.5,0.3-0.7,0.4c-0.1,0-0.2,0.1-0.3,0.1c0.1-0.1,0.2-0.1,0.3-0.2C15.8,9,16.3,8.3,16.6,7.6z M12.5,0.6c0.2,0,0.4,0.2,0.4,0.4s-0.2,0.4-0.4,0.4S12.1,1.2,12.1,1S12.3,0.6,12.5,0.6z M5.8,5L5.5,5.2C4.8,6,3.7,7.3,1.9,7.3H1.9C1.1,7.3,0.5,6.7,0.5,6c0-0.6,0.2-1.3,2.1-1.5c0,0,0,0,0.1,0c1.2-0.2,2.3-1,3.4-1.6c0.5-0.3,1-0.6,1.5-0.9c1.4-0.7,2.6-1.3,4.1-1.4l0,0c0,0.1-0.1,0.2-0.1,0.4c0,0.1,0,0.1,0,0.2l0,0c-1.2,0.3-2.2,0.6-2.9,1.1C7.5,3.2,6.8,3.8,5.8,5z M7.2,4.3C7.5,4,7.7,3.8,8,3.5c0.1-0.1,0.3-0.2,0.5-0.4C8.7,3.1,8.8,2.9,9,2.8c0.1-0.1,0.3-0.2,0.5-0.3C9.7,2.4,9.8,2.3,10,2.3C9.8,2.4,9.7,2.5,9.5,2.7C9,3.1,8.7,3.7,8.4,4.3H7.2z M9.8,8.8C9.1,8,8.7,7,8.7,6c0-2.2,1.7-3.9,3.8-3.9c1,0,2,0.4,2.7,1.2c0.7,0.7,1.1,1.7,1.1,2.8c0,2.2-1.7,3.9-3.8,3.9l0,0C11.5,9.9,10.5,9.5,9.8,8.8z M12.5,11.4c-0.2,0-0.4-0.2-0.4-0.4c0-0.2,0.2-0.4,0.4-0.4s0.4,0.2,0.4,0.4C12.9,11.2,12.7,11.4,12.5,11.4z M22.4,7.4C22.4,7.4,22.3,7.5,22.4,7.4c-1.2,0.2-2.4,1-3.5,1.7c-0.5,0.3-1,0.6-1.5,0.9c-1.4,0.8-2.6,1.3-4.1,1.4c0,0,0,0,0,0c0.1-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.1,0-0.2c1.2-0.3,2.1-0.6,2.9-1.2c1.3-0.9,1.9-1.5,2.9-2.7l0.3-0.3c0.7-0.8,1.8-2.1,3.7-2.1c0.7,0,1.3,0.6,1.3,1.4C24.5,6.6,24.2,7.2,22.4,7.4z')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
