<template lang="pug">
  g
    path(:style='{fill}', d='M279.6,52.2H150.1a8,8,0,0,0,0,16H279.6a8,8,0,0,0,0-16Z', transform='translate(0 -20.7)')
    path(:style='{fill}', d='M476.3,311.9A107,107,0,0,0,431,266.6V59.8a7.49,7.49,0,0,0-7.4-7.6H7.7A7.45,7.45,0,0,0,0,59.3V402.6a7.39,7.39,0,0,0,7.2,7.6h280a106.56,106.56,0,0,0,189.1-98.3Zm-201.4,49a102,102,0,0,0,5.5,33.3H16V68.2H415V259.8a103.1,103.1,0,0,0-33.5-5.4A106.54,106.54,0,0,0,274.9,360.9ZM438,374.84H395.29v42.68a13.64,13.64,0,0,1-27.28,0V374.84H325.33a13.64,13.64,0,0,1,0-27.28H368V304.88a13.64,13.64,0,0,1,27.28,0v42.68H438a13.64,13.64,0,0,1,0,27.28Z', transform='translate(0 -20.7)')
    path(:style='{fill}', d='M327,91V28.7a8,8,0,1,0-16,0V91', transform='translate(0 -20.7)')
    path(:style='{fill}', d='M120,91V28.7a8,8,0,1,0-16,0V91', transform='translate(0 -20.7)')
    path(:style='{fill}', d='M371.3,150.2H59.6a8,8,0,1,0,0,16H371.2a8,8,0,1,0,.1-16Z', transform='translate(0 -20.7)')
    path(:style='{fill}', d='M298.5,213.2H59.6a8,8,0,0,0,0,16H298.5a8,8,0,0,0,0-16Z', transform='translate(0 -20.7)')
    path(:style='{fill}', d='M194.6,275.2H59.6a8,8,0,0,0,0,16h135a8,8,0,0,0,0-16Z', transform='translate(0 -20.7)')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
