<template lang="pug">
  g
    path(:style='{fill}', d='M19.33,25H5.67a.2.2,0,0,1-.16-.07L.07,19.49A.2.2,0,0,1,0,19.33V5.67a.2.2,0,0,1,.07-.16L5.51.07A.2.2,0,0,1,5.67,0H19.33a.2.2,0,0,1,.16.07l5.44,5.44a.2.2,0,0,1,.07.16V19.33a.2.2,0,0,1-.07.16l-5.44,5.44a.2.2,0,0,1-.16.07M5.76,24.55H19.24l5.31-5.31V5.76L19.24.45H5.76L.45,5.76V19.24Z', transform='translate(0 0)')
    path(:style='{fill}', d='M15.73,18.54H9.27a.24.24,0,0,1-.16-.07L6.53,15.89a.23.23,0,0,1-.07-.15V9.27a.24.24,0,0,1,.07-.16L9.11,6.53a.24.24,0,0,1,.16-.07h6.46a.24.24,0,0,1,.16.07l2.58,2.58a.24.24,0,0,1,.07.16v6.47a.23.23,0,0,1-.07.15l-2.58,2.58a.24.24,0,0,1-.16.07m-6.37-.45h6.28l2.45-2.45V9.36L15.64,6.91H9.36L6.91,9.36v6.28Z', transform='translate(0 0)')
    path(:style='{fill}', d='M16.93,20.68H8.07a.25.25,0,0,1-.16-.06L4.38,17.09a.25.25,0,0,1-.06-.16V8.07a.25.25,0,0,1,.06-.16L7.91,4.38a.25.25,0,0,1,.16-.06h8.86a.25.25,0,0,1,.16.06l3.53,3.53a.25.25,0,0,1,.06.16v8.86a.25.25,0,0,1-.06.16l-3.53,3.53a.25.25,0,0,1-.16.06m-8.77-.44h8.68l3.4-3.4V8.16l-3.4-3.4H8.16l-3.4,3.4v8.68Z', transform='translate(0 0)')
    path(:style='{fill}', d='M18.25,23.05H6.75A.2.2,0,0,1,6.6,23L2,18.4A.2.2,0,0,1,2,18.25V6.75A.2.2,0,0,1,2,6.6L6.6,2A.2.2,0,0,1,6.75,2h11.5A.2.2,0,0,1,18.4,2L23,6.6a.2.2,0,0,1,.06.15v11.5a.2.2,0,0,1-.06.15L18.4,23a.2.2,0,0,1-.15.06m-11.4-.44h11.3l4.46-4.46V6.85L18.15,2.39H6.85L2.39,6.85v11.3Z', transform='translate(0 0)')
    path(:style='{fill}', d='M6.69,9.49a.2.2,0,0,1-.11,0L.11,5.86A.22.22,0,0,1,0,5.56a.21.21,0,0,1,.3-.08L6.79,9.07a.22.22,0,0,1,.09.3.22.22,0,0,1-.19.12', transform='translate(0 0)')
    path(:style='{fill}', d='M9.27,6.91a.22.22,0,0,1-.2-.12L5.48.33A.21.21,0,0,1,5.56,0a.22.22,0,0,1,.3.08l3.6,6.47a.22.22,0,0,1-.09.3.19.19,0,0,1-.1,0', transform='translate(0 0)')
    path(:style='{fill}', d='M15.73,6.91a.19.19,0,0,1-.1,0,.22.22,0,0,1-.09-.3L19.14.11a.22.22,0,0,1,.3-.08.21.21,0,0,1,.08.3L15.93,6.79a.22.22,0,0,1-.2.12', transform='translate(0 0)')
    path(:style='{fill}', d='M18.31,9.49a.22.22,0,0,1-.19-.12.22.22,0,0,1,.09-.3l6.46-3.59a.21.21,0,0,1,.3.08.22.22,0,0,1-.08.3l-6.47,3.6a.2.2,0,0,1-.11,0', transform='translate(0 0)')
    path(:style='{fill}', d='M24.78,19.55l-.11,0-6.46-3.6a.22.22,0,0,1-.09-.3.22.22,0,0,1,.3-.09l6.47,3.6a.22.22,0,0,1,.08.3.23.23,0,0,1-.19.11', transform='translate(0 0)')
    path(:style='{fill}', d='M19.33,25a.21.21,0,0,1-.19-.11l-3.6-6.47a.22.22,0,0,1,.09-.3.22.22,0,0,1,.3.09l3.59,6.46a.21.21,0,0,1-.08.3.23.23,0,0,1-.11,0', transform='translate(0 0)')
    path(:style='{fill}', d='M5.67,25a.23.23,0,0,1-.11,0,.21.21,0,0,1-.08-.3l3.59-6.46a.22.22,0,0,1,.3-.09.22.22,0,0,1,.09.3l-3.6,6.47a.21.21,0,0,1-.19.11', transform='translate(0 0)')
    path(:style='{fill}', d='M.22,19.55A.23.23,0,0,1,0,19.44a.22.22,0,0,1,.08-.3l6.47-3.6a.22.22,0,0,1,.3.09.22.22,0,0,1-.09.3L.33,19.53l-.11,0', transform='translate(0 0)')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
