<template lang="pug">
  g
    path(:style='{fill}', d='M19.68,37H.32A.32.32,0,0,1,0,36.67V.33A.32.32,0,0,1,.32,0H19.68A.32.32,0,0,1,20,.33V36.67a.32.32,0,0,1-.32.33m-19-.65H19.36V.65H.64Z')
    path(:style='{fill}', d='M15.45,32.69H4.56a.32.32,0,0,1-.32-.32V4.63a.32.32,0,0,1,.32-.32H15.45a.32.32,0,0,1,.32.32V32.37a.32.32,0,0,1-.32.32M4.88,32H15.13V5H4.88Z')
    path(:style='{fill}', d='M4.56,5a.32.32,0,0,1-.23-.09L.09.56A.34.34,0,0,1,.09.1.32.32,0,0,1,.55.1L4.78,4.4a.32.32,0,0,1,0,.46.28.28,0,0,1-.22.1')
    path(:style='{fill}', d='M15.45,5a.29.29,0,0,1-.23-.1.32.32,0,0,1,0-.46L19.45.1a.32.32,0,0,1,.46,0,.34.34,0,0,1,0,.46L15.67,4.87a.31.31,0,0,1-.22.09')
    path(:style='{fill}', d='M.32,37a.32.32,0,0,1-.23-.1.34.34,0,0,1,0-.46l4.24-4.3a.31.31,0,0,1,.45,0,.32.32,0,0,1,0,.46L.55,36.9a.32.32,0,0,1-.23.1')
    path(:style='{fill}', d='M19.68,37a.32.32,0,0,1-.23-.1l-4.23-4.3a.32.32,0,0,1,0-.46.31.31,0,0,1,.45,0l4.24,4.3a.34.34,0,0,1,0,.46.32.32,0,0,1-.23.1')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
