<template lang="pug">
  g
    path(:style='{fill}', d='M15.41,38H4.59a.33.33,0,0,1-.32-.3L0,.38A.36.36,0,0,1,.08.11.32.32,0,0,1,.32,0H19.68a.32.32,0,0,1,.24.11A.36.36,0,0,1,20,.38L15.73,37.7a.33.33,0,0,1-.32.3M4.87,37.33H15.13L19.32.67H.68Z', transform='translate(0)')
    path(:style='{fill}', d='M12.92,35H7a.32.32,0,0,1-.31-.3L3.12,3.34a.36.36,0,0,1,.08-.27A.32.32,0,0,1,3.44,3H16.51a.32.32,0,0,1,.24.11.38.38,0,0,1,.08.27l-3.59,31.4a.33.33,0,0,1-.32.3m-5.64-.67h5.35L16.15,3.63H3.8Z', transform='translate(0)')
    path(:style='{fill}', d='M3.44,3.65a.31.31,0,0,1-.22-.09L.1.58a.34.34,0,0,1,0-.47.31.31,0,0,1,.46,0l3.11,3a.34.34,0,0,1,0,.47.31.31,0,0,1-.23.11', transform='translate(0)')
    path(:style='{fill}', d='M16.51,3.65a.32.32,0,0,1-.24-.11.33.33,0,0,1,0-.47l3.17-3a.3.3,0,0,1,.45,0,.33.33,0,0,1,0,.47l-3.17,3a.29.29,0,0,1-.21.09', transform='translate(0)')
    path(:style='{fill}', d='M15.41,38a.32.32,0,0,1-.24-.11L12.68,35a.35.35,0,0,1,0-.48.32.32,0,0,1,.46,0l2.49,2.94a.35.35,0,0,1,0,.48.32.32,0,0,1-.21.08', transform='translate(0)')
    path(:style='{fill}', d='M4.59,38a.32.32,0,0,1-.21-.08.34.34,0,0,1,0-.47l2.4-2.94a.3.3,0,0,1,.45,0,.34.34,0,0,1,0,.47L4.83,37.88a.3.3,0,0,1-.24.12', transform='translate(0)')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
