<template lang="pug">
  g(transform='translate(-536 -1833)')
    g(transform='translate(536 1833)')
      g(transform='translate(0 0)')
        g(transform='translate(0 0)')
          path(:style='{fill}', d='M195.232,63.979a3.274,3.274,0,1,0,3.274,3.274A3.278,3.278,0,0,0,195.232,63.979Zm0,4.912a1.638,1.638,0,1,1,1.638-1.638A1.64,1.64,0,0,1,195.232,68.891Z' transform='translate(-177.234 -59.072)')
          path(:style='{fill}', d='M35.182,14.727A.816.816,0,0,0,36,13.912V10.639a.817.817,0,0,0-.4-.7l-16-9.5L19.573.419A3.173,3.173,0,0,0,16.4.43L.4,9.936a.817.817,0,0,0-.4.7v3.272a.816.816,0,0,0,.818.816H3.273V29.455A3.276,3.276,0,0,0,0,32.728v2.454A.818.818,0,0,0,.818,36H35.182A.818.818,0,0,0,36,35.182V32.728a3.276,3.276,0,0,0-3.273-3.272V14.727Zm-.818,18v1.636H1.636V32.727a1.638,1.638,0,0,1,1.636-1.636H32.727A1.638,1.638,0,0,1,34.364,32.727ZM4.909,29.455V14.727H8.182V29.455Zm4.909,0V14.727h4.909V29.455Zm6.545,0V14.727h3.273V29.455Zm4.909,0V14.727h4.909V29.455Zm6.545,0V14.727h3.273V29.455ZM1.636,13.091V11.1l15.58-9.256a1.557,1.557,0,0,1,1.555-.006L34.364,11.1v1.989Z' transform='translate(0 0)')
    g(transform='translate(592 1833)')
      g(transform='translate(0 0)')
        g(transform='translate(0 0)')
          path(:style='{fill}', d='M195.232,63.979a3.274,3.274,0,1,0,3.274,3.274A3.278,3.278,0,0,0,195.232,63.979Zm0,4.912a1.638,1.638,0,1,1,1.638-1.638A1.64,1.64,0,0,1,195.232,68.891Z' transform='translate(-177.234 -59.072)')
          path(:style='{fill}', d='M35.182,14.727A.816.816,0,0,0,36,13.912V10.639a.817.817,0,0,0-.4-.7l-16-9.5L19.573.419A3.173,3.173,0,0,0,16.4.43L.4,9.936a.817.817,0,0,0-.4.7v3.272a.816.816,0,0,0,.818.816H3.273V29.455A3.276,3.276,0,0,0,0,32.728v2.454A.818.818,0,0,0,.818,36H35.182A.818.818,0,0,0,36,35.182V32.728a3.276,3.276,0,0,0-3.273-3.272V14.727Zm-.818,18v1.636H1.636V32.727a1.638,1.638,0,0,1,1.636-1.636H32.727A1.638,1.638,0,0,1,34.364,32.727ZM4.909,29.455V14.727H8.182V29.455Zm4.909,0V14.727h4.909V29.455Zm6.545,0V14.727h3.273V29.455Zm4.909,0V14.727h4.909V29.455Zm6.545,0V14.727h3.273V29.455ZM1.636,13.091V11.1l15.58-9.256a1.557,1.557,0,0,1,1.555-.006L34.364,11.1v1.989Z' transform='translate(0 0)')
    path(:style='{fill}', d='M130.785,109.423a1.06,1.06,0,0,1,0-1.2l2.2-2.926a.532.532,0,0,1,.9,0,1.06,1.06,0,0,1,0,1.2l-1.113,1.479h7.186c.351,0,.638.382.638.848s-.287.848-.638.848h-7.186l1.113,1.479a1.06,1.06,0,0,1,0,1.2.535.535,0,0,1-.9,0Zm9.629,7.254a1.06,1.06,0,0,1,0,1.2l-2.2,2.926a.532.532,0,0,1-.9,0,1.06,1.06,0,0,1,0-1.2l1.113-1.479h-7.186c-.351,0-.638-.382-.638-.848s.287-.848.638-.848h7.186l-1.113-1.479a1.06,1.06,0,0,1,0-1.2.531.531,0,0,1,.9,0Z' transform='translate(446.4 1737.95)')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
