<template lang="pug">
  g
    path(:style='{fill}', d='M40,32.969a11.086,11.086,0,0,0-3.731-8.291l-.6-.535-3.03-13.806a12.893,12.893,0,0,0-25.274,0L4.334,24.142l-.6.535A11.086,11.086,0,0,0,0,32.969v1.172H10.922a9.962,9.962,0,0,0,18.156,0H40ZM9.655,10.828l0-.021a10.549,10.549,0,0,1,20.682,0l2.806,12.787H6.853ZM20,37.656a7.634,7.634,0,0,1-6.419-3.516H26.419A7.634,7.634,0,0,1,20,37.656ZM2.423,31.8A8.743,8.743,0,0,1,5.287,26.43l.555-.493H34.158l.555.493A8.743,8.743,0,0,1,37.577,31.8Z')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
