<template lang="pug">
  g
    path(:style='{fill}', d='M56.34,0H6.88A2.65,2.65,0,0,0,4.23,2.64V4.52h-1a3.23,3.23,0,1,0,0,6.46h1v4.44h-1a3.23,3.23,0,1,0,0,6.46h1v4.44h-1a3.23,3.23,0,1,0,0,6.46h1v4.44h-1a3.23,3.23,0,1,0,0,6.46h1v4.44h-1a3.23,3.23,0,1,0,0,6.46h1V59h-1a3.23,3.23,0,1,0,0,6.46h1v1.88A2.65,2.65,0,0,0,6.88,70H56.34A2.65,2.65,0,0,0,59,67.36V2.64A2.65,2.65,0,0,0,56.34,0ZM4.23,8.9h-1a1.16,1.16,0,1,1,0-2.31h1Zm0,10.9h-1a1.16,1.16,0,1,1,0-2.31h1Zm0,10.91h-1a1.16,1.16,0,0,1,0-2.32h1Zm0,10.9h-1a1.16,1.16,0,0,1,0-2.32h1Zm0,10.9h-1a1.16,1.16,0,0,1,0-2.32h1Zm0,10.9h-1a1.16,1.16,0,1,1,0-2.31h1Zm52.68,4a.56.56,0,0,1-.57.56H6.88a.57.57,0,0,1-.57-.56V2.64a.57.57,0,0,1,.57-.56H56.34a.56.56,0,0,1,.57.56Z')
    path(:style='{fill}', d='M38.89,26.58s1.19-.94,1.6-1.22a.64.64,0,0,0,.25-.44.92.92,0,0,0-.09-.43l-2.93-4.63a.64.64,0,0,0-.47-.3l-7-.93a.7.7,0,0,0-.53.17l-4,3.69a.64.64,0,0,0-.08.87L26.83,25a13.7,13.7,0,0,0-8.71,17.37A13.84,13.84,0,0,0,35.61,51,13.7,13.7,0,0,0,38.9,26.58Zm-1.63-5L38.8,24l-2.52-.34Zm1.2,3.7L33.9,28.79l1.81-3.9Zm-6.82,6.08a.73.73,0,0,0,.44.25.81.81,0,0,0,.48-.13l2.62-2A9.36,9.36,0,0,1,39.79,41.9a9.47,9.47,0,0,1-12.54,4.57A9.37,9.37,0,0,1,29.64,28.7Zm.09-7,2.6.35-1.87,4.05Zm4.46-3.64-.82,1.75-.71-1.94Zm-1.88,2.67-2.23-.3,1.41-1.95Zm-1.79-3.15-1.22,1.7L31,20Zm-1.45,8.18-2.63-3.49h0l-.84-1.11,2.75.36Zm-1.33-7.86.35,2.27-2.48-.33Zm-.18,29.72a12.4,12.4,0,0,1-1.9-24.2l1.13,1.46a10.77,10.77,0,1,0,7.56,1l1.47-1.12a12.37,12.37,0,0,1,4,17.09A12.51,12.51,0,0,1,29.56,50.28Z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
