<template lang="pug">
  g(transform='translate(0 -15.499)')
    g(transform='translate(0 15.499)')
      path(:style='{fill}', d='M35.479,28.39l4.32-6.374a1.172,1.172,0,0,0-.6-1.77L25.057,15.559a1.172,1.172,0,0,0-1.344.462L20,21.59l-3.712-5.569a1.172,1.172,0,0,0-1.344-.462L.8,20.246a1.172,1.172,0,0,0-.6,1.77l4.32,6.374L.2,34.764a1.172,1.172,0,0,0,.6,1.77l3.962,1.313v9.371a1.172,1.172,0,0,0,.8,1.112l14.057,4.686a1.172,1.172,0,0,0,.75,0L34.433,48.33a1.172,1.172,0,0,0,.8-1.112V37.847L39.2,36.533a1.172,1.172,0,0,0,.6-1.77ZM25.167,18.065l11.822,3.919L33.591,27,21.827,23.076ZM3.012,21.983l11.822-3.919,3.341,5.011L6.41,27Zm0,12.813,3.4-5.014L18.174,33.7l-3.341,5.011ZM18.829,50.279,7.11,46.373V38.624l7.834,2.6a1.172,1.172,0,0,0,1.344-.462l2.541-3.811ZM20,31.842,9.644,28.39,20,24.938,30.357,28.39ZM32.891,46.373,21.172,50.279V36.948l2.541,3.811a1.172,1.172,0,0,0,1.344.462l7.834-2.6Zm-7.724-7.658L21.827,33.7l11.765-3.921,3.4,5.014Z' transform='translate(0 -15.499)')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
