<template lang="pug">
  g
    path(:style='{fill}', d='M10,40a.33.33,0,0,1-.26-.13L1.59,29.49a.28.28,0,0,1-.07-.17L0,4.09a.42.42,0,0,1,.06-.21L2.89.13A.34.34,0,0,1,3.16,0H16.84a.34.34,0,0,1,.27.13L19.94,3.9a.37.37,0,0,1,.06.21L18.48,29.32a.28.28,0,0,1-.07.17L10.26,39.87A.33.33,0,0,1,10,40M2.17,29.18l7.83,10,7.83-10,1.51-25L16.68.64H3.32L.66,4.17Z', transform='translate(0 0)')
    path(:style='{fill}', d='M10,36.49a.32.32,0,0,1-.26-.12l-6-7.66a.29.29,0,0,1-.07-.18L2.23,4.74a.27.27,0,0,1,.06-.21L4,2.27a.32.32,0,0,1,.26-.13H15.74a.33.33,0,0,1,.26.13l1.71,2.27a.27.27,0,0,1,.06.21L16.34,28.53a.29.29,0,0,1-.07.18l-6,7.66a.32.32,0,0,1-.26.12M4.31,28.4,10,35.65l5.69-7.25L17.11,4.83,15.57,2.78H4.42l-1.53,2Z', transform='translate(0 0)')
    path(:style='{fill}', d='M10,33a.33.33,0,0,1-.26-.13L5.87,27.93a.29.29,0,0,1-.07-.18L4.45,5.39a.31.31,0,0,1,.07-.21l.58-.77a.3.3,0,0,1,.26-.13h9.28a.3.3,0,0,1,.26.13l.59.78a.37.37,0,0,1,.06.21L14.2,27.75a.29.29,0,0,1-.07.18l-3.87,4.93A.33.33,0,0,1,10,33M6.45,27.61,10,32.14l3.55-4.53L14.89,5.47l-.42-.55H5.53l-.42.55Z', transform='translate(0 0)')
    path(:style='{fill}', d='M5.36,4.92a.33.33,0,0,1-.29-.18L2.86.47A.33.33,0,0,1,3.45.18l2.2,4.27a.32.32,0,0,1-.14.43.28.28,0,0,1-.15,0', transform='translate(0 0)')
    path(:style='{fill}', d='M4.78,5.69H4.69L.23,4.38A.32.32,0,0,1,0,4a.34.34,0,0,1,.41-.21L4.87,5.06a.32.32,0,0,1,.22.4.32.32,0,0,1-.31.23', transform='translate(0 0)')
    path(:style='{fill}', d='M14.64,4.92a.28.28,0,0,1-.15,0,.32.32,0,0,1-.15-.43L16.55.18a.33.33,0,1,1,.59.29L14.93,4.74a.33.33,0,0,1-.29.18', transform='translate(0 0)')
    path(:style='{fill}', d='M15.22,5.7a.32.32,0,0,1-.09-.63l4.45-1.29A.33.33,0,0,1,20,4a.32.32,0,0,1-.22.4L15.31,5.69h-.09', transform='translate(0 0)')
    path(:style='{fill}', d='M1.85,29.62a.33.33,0,0,1-.31-.21A.31.31,0,0,1,1.73,29L6,27.43a.33.33,0,0,1,.42.19.31.31,0,0,1-.19.41L2,29.6l-.11,0', transform='translate(0 0)')
    path(:style='{fill}', d='M10,40a.32.32,0,0,1-.33-.32v-7a.33.33,0,0,1,.66,0v7A.32.32,0,0,1,10,40', transform='translate(0 0)')
    path(:style='{fill}', d='M18.15,29.62l-.11,0L13.76,28a.31.31,0,0,1-.19-.41.33.33,0,0,1,.42-.19L18.27,29a.31.31,0,0,1,.19.41.33.33,0,0,1-.31.21', transform='translate(0 0)')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
