<template lang="pug">
  g
    path(:style='{fill}', d='M232.5,299c-21.3,0-100.3-39-145.5-86.2C40,167.8,1,88.8,1,67.5C1,49.3,4.8,37.8,13.5,29c4.3-4.3,16.8-14.8,26.5-22.8c3.8-3.1,8.6-4.6,13.5-4c4.9,0.5,9.3,3,12.3,6.9l44.3,57.2c7.5,9.7,8.4,22.8,2.2,33.5l-6.1,10.5c-3.7,6.4-3.2,14.4,1.3,20.2c6.4,8.3,16.6,20.8,28.6,32.9c12.2,12.2,24.9,22.5,33.4,29.1c5.9,4.5,13.8,5,20.2,1.3l10.5-6.1c10.6-6.1,23.7-5.3,33.5,2.3l57.2,44.2c3.9,3,6.4,7.4,6.9,12.3c0.5,4.9-0.9,9.7-4,13.5c-6.5,7.9-18.2,21.9-22.8,26.5C262.2,295.3,250.7,299,232.5,299z M51.6,13.9c-1.4,0-2.8,0.5-3.9,1.4C34.2,26.4,25.1,34.3,21.9,37.4c-4.7,4.7-9.1,11.6-9.1,30.1c0,16.3,36.6,92.9,82.5,136.9c44.2,46.1,120.8,82.7,137.1,82.7c18.5,0,25.4-4.3,30.1-9.1c3.2-3.2,11.2-12.5,22.1-25.7c1.1-1.3,1.6-2.9,1.4-4.6c-0.2-1.7-1-3.2-2.4-4.2l-57.2-44.2c-5.9-4.5-13.8-5.1-20.3-1.4l-10.5,6.1c0,0,0,0,0,0c-10.6,6.1-23.8,5.2-33.4-2.2c-8.8-6.7-21.9-17.5-34.5-30.1c-12.5-12.5-23-25.4-29.7-34c-7.4-9.7-8.3-22.8-2.2-33.4l6.1-10.5c3.7-6.5,3.2-14.4-1.4-20.3L56.4,16.3c-1-1.3-2.5-2.2-4.2-2.4C52,13.9,51.8,13.9,51.6,13.9z')
    path(:style='{fill}', d='M280.2,96.8c-2.4,0-4.7-1.5-5.6-3.9c-11.5-31.4-36.1-56-67.5-67.5c-3.1-1.1-4.7-4.5-3.6-7.6c1.1-3.1,4.6-4.7,7.6-3.5c34.8,12.7,61.9,39.9,74.6,74.6c1.1,3.1-0.5,6.5-3.6,7.6C281.5,96.7,280.9,96.8,280.2,96.8z')
    path(:style='{fill}', d='M235.5,113.1c-2.4,0-4.7-1.5-5.6-3.9c-6.5-18-21.1-32.6-39.1-39.1c-3.1-1.1-4.7-4.5-3.6-7.6c1.1-3.1,4.6-4.7,7.6-3.6c21.3,7.7,38.5,25,46.2,46.2c1.1,3.1-0.5,6.5-3.6,7.6C236.9,113,236.2,113.1,235.5,113.1z')
    path(:style='{fill}', d='M190.9,129.4c-2.4,0-4.7-1.5-5.6-3.9c-1.8-5-5.7-8.9-10.7-10.7c-3.1-1.1-4.7-4.5-3.6-7.6c1.1-3.1,4.5-4.7,7.6-3.6c8.4,3,14.9,9.5,17.9,17.8c1.1,3.1-0.5,6.5-3.6,7.6C192.2,129.3,191.5,129.4,190.9,129.4z')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
