<template lang="pug">
  g
    path(:style='{fill}', d='M23.92,9C23.54,3.76,20.27,1,17,1s-6.54,2.76-6.92,8H6V25.81A5.1,5.1,0,0,0,11,31H23a5.1,5.1,0,0,0,5-5.19V9ZM17,3a4.38,4.38,0,0,1,3.36,1.64A7.65,7.65,0,0,1,21.93,9H12.07C12.41,4.91,14.77,3,17,3Zm9,22.81A3.1,3.1,0,0,1,23,29H11a3.1,3.1,0,0,1-3-3.19V11H26Z', transform='translate(-6 -1)')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
