<template lang="pug">
  g
    path(:style='{fill}', d='M0,70.954l5.479,5.49L16,65.933l-1.51-1.49-9.01,9-3.99-3.99Z', transform='translate(0 -64.443)')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
