<template lang="pug">
  g(transform='translate(0 -72.916)')
    path(:style='{fill}', d='M35.286,310.93H58.059a.844.844,0,1,0,0-1.687H35.286a.844.844,0,1,0,0,1.688Z' transform='translate(-30.567 -209.739)')
    path(:style='{fill}', d='M199.153,348.281c.209.719.426,1.462,1.168,1.462.4,0,.675,0,3.866-3.726.942,1.061,2.638,2.673,4.248,2.673a2.336,2.336,0,0,0,.263-.015,4.841,4.841,0,0,0,2.422-1.323c1.253-1.041,1.478-1.03,1.974-.52a3.985,3.985,0,0,0,5.046.65.844.844,0,1,0-.914-1.419,2.3,2.3,0,0,1-2.922-.408,2.325,2.325,0,0,0-2.465-.745,5.52,5.52,0,0,0-1.8,1.143,3.7,3.7,0,0,1-1.535.944c-.939.108-2.727-1.611-3.639-2.805a.844.844,0,0,0-1.315-.034c-.992,1.169-2.138,2.474-2.885,3.273-.277-1.04-.654-2.7-.953-4.17a.844.844,0,0,0-1.619-.123l-2.07,5.627a.844.844,0,1,0,1.584.583l1.072-2.914C198.863,347.207,199.021,347.828,199.153,348.281Z' transform='translate(-173.926 -239.333)')
    path(:style='{fill}', d='M35.286,277.192H58.059a.844.844,0,0,0,0-1.688H35.286a.844.844,0,0,0,0,1.688Z' transform='translate(-30.567 -179.796)')
    path(:style='{fill}', d='M36.57,204.125H65.714A2.129,2.129,0,0,0,67.84,202v-2.459a2.129,2.129,0,0,0-2.127-2.127H36.57a2.129,2.129,0,0,0-2.127,2.127V202A2.129,2.129,0,0,0,36.57,204.125Zm-.439-4.586a.44.44,0,0,1,.439-.439H65.713a.44.44,0,0,1,.439.439V202a.44.44,0,0,1-.439.439H36.57a.44.44,0,0,1-.439-.439v-2.459Z' transform='translate(-30.568 -110.49)')
    path(:style='{fill}', d='M241.766,389.135a.844.844,0,0,0-.844.844v2a.9.9,0,0,1-.894.894H214.974a.844.844,0,0,0,0,1.688h25.054a2.585,2.585,0,0,0,2.582-2.582v-2A.844.844,0,0,0,241.766,389.135Z' transform='translate(-190.04 -280.644)')
    path(:style='{fill}', d='M56.814,79.163a4.162,4.162,0,0,0-2.225-1.735l.291-1.093a2.461,2.461,0,0,0-.305-1.956A2.706,2.706,0,0,0,52.967,73.2l-.729-.194a2.6,2.6,0,0,0-3.216,1.767l-2.379,8.945H2.581A2.584,2.584,0,0,0,0,86.3v25.031a2.584,2.584,0,0,0,2.581,2.582H31.109a.844.844,0,1,0,0-1.688H2.581a.9.9,0,0,1-.893-.894V86.3a.9.9,0,0,1,.893-.894H46.194l-.6,2.252,0,.006v.006l-1.73,6.506v.009l-.765,2.877a2.568,2.568,0,0,0,1.366,2.921l-.6,2.274a.844.844,0,1,0,1.631.434l.594-2.235a2.751,2.751,0,0,0,.371.026,2.671,2.671,0,0,0,1.264-.315,2.461,2.461,0,0,0,1.237-1.546l.766-2.88h0v0l1.163-4.374V109.51a.844.844,0,1,0,1.688,0V86.3a2.566,2.566,0,0,0-.128-.8l1.712-6.437a2.47,2.47,0,0,1,1.229.993,2.083,2.083,0,0,1,.267,1.651l-1.39,5.227a.844.844,0,1,0,1.631.434l1.39-5.227a3.755,3.755,0,0,0-.467-2.98ZM47.321,98.189a.791.791,0,0,1-.4.492,1.023,1.023,0,0,1-.749.078l-.729-.194a.914.914,0,0,1-.716-1.067l.549-2.066,2.6.691Zm.983-3.7-2.6-.69,1.3-4.885,2.6.69Zm1.733-6.516-2.6-.69,3.211-12.075a.871.871,0,0,1,.872-.607c.092,0,1.009.231,1.009.231a1.024,1.024,0,0,1,.611.44.791.791,0,0,1,.1.627Z' transform='translate(0)')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
