<template lang="pug">
  g
    polygon(:style='{fill}', points='30 2.18 27.82 0 15 12.82 2.18 0 0 2.18 12.82 15 0 27.82 2.18 30 15 17.18 27.82 30 30 27.82 17.18 15 30 2.18')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
