<template lang="pug">
  g
    path(:style='{fill}', d='M41.76,14.38s2.22-2.3,3-3a1.38,1.38,0,0,0,.4-1,1.88,1.88,0,0,0-.32-.89l-7.4-9A1.36,1.36,0,0,0,36.37,0H21.6a1.56,1.56,0,0,0-1.06.5l-7.38,9a1.69,1.69,0,0,0-.32.89,1.67,1.67,0,0,0,.4,1l3,3.07A29.45,29.45,0,0,0,3,53.61,28.86,28.86,0,0,0,41.78,67,29.44,29.44,0,0,0,55,27.79,29.14,29.14,0,0,0,41.78,14.4ZM37,4.24l3.89,4.7H35.51Zm3.55,7.48L32,20.47l2.69-8.75ZM28,26.5a1.44,1.44,0,0,0,1,.42,1.67,1.67,0,0,0,1-.42l4.89-5A20.08,20.08,0,0,1,47.93,46.56,19.8,19.8,0,0,1,23.11,59.77a20.09,20.09,0,0,1,0-38.28ZM26.24,11.72h5.5L29,20.82Zm8.25-9L33.28,6.7l-2-3.92ZM31.34,8.94H26.61L29,4.41ZM26.72,2.78l-2,3.93L23.48,2.78ZM26,20.49l-6.45-6.65h0l-2.06-2.11h5.83ZM21,4.24l1.38,4.7H17.14Zm8,62.94A26.54,26.54,0,0,1,18.26,16.5L21,19.28A22.88,22.88,0,0,0,7.9,48.7,22.51,22.51,0,0,0,37,62a22.9,22.9,0,0,0,0-42.67l2.75-2.78a26.61,26.61,0,0,1,13.2,35A26.22,26.22,0,0,1,29,67.18Z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
