<template lang="pug">
  g
    path(:style='{fill}', d='M7.5,12.2a.66.66,0,0,0,0-.64L4.32,5.2a.58.58,0,0,0-.53-.37.59.59,0,0,0-.53.37L.08,11.56a.64.64,0,0,0,0,.64.64.64,0,0,0,.56.29H6.93a.66.66,0,0,0,.57-.29ZM3.79,6c.07,0,.11.09.11.09l2.25,4.51c.16.3,0,.22-.13.2a9.7,9.7,0,0,0-2.23-.24,10.11,10.11,0,0,0-2.2.23c-.1,0-.33.11-.15-.19l2.25-4.5s0-.1.1-.1Z')
    path(:style='{fill}', d='M18.29,9.44,15.1,3.08a.6.6,0,0,0-.53-.37.61.61,0,0,0-.53.37L10.86,9.44a.64.64,0,0,0,0,.64.64.64,0,0,0,.56.29h6.28a.66.66,0,0,0,.57-.29.69.69,0,0,0,0-.64ZM14.57,4c.09,0,.15.13.15.13L16.9,8.43c.18.33-.07.27-.19.24a9.69,9.69,0,0,0-2.14-.21,10,10,0,0,0-2.18.22c-.11,0-.33.05-.11-.31l2.13-4.28s.07-.14.16-.14Z')
    path(:style='{fill}', d='M.8,3.87H.89L17.66,1.13a.57.57,0,0,0,.47-.65A.58.58,0,0,0,17.47,0l-6.8,1.11c-.18,0-.21-.13-.23-.21A1.33,1.33,0,0,0,9.18,0,1.32,1.32,0,0,0,7.86,1.33c0,.1,0,.24-.12.27l-7,1.14a.58.58,0,0,0-.47.66.57.57,0,0,0,.56.47Z')
    path(:style='{fill}', d='M9.75,14.37V4a.56.56,0,0,0-.57-.56A.57.57,0,0,0,8.61,4v10.4c0,.22-.19.24-.28.25-3.2.21-5.81,1.59-6.65,2.72-.14.19-.34.56.43.56H16.25c.78,0,.6-.33.47-.51-.78-1.14-3.42-2.55-6.67-2.77-.1,0-.3,0-.3-.25Z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
