<template lang="pug">
  g
    path(:style='{fill}', d='M7.5,12.2c0.1-0.2,0.1-0.4,0-0.6L4.3,5.2C4.2,5,4,4.8,3.8,4.8S3.3,5,3.3,5.2l-3.2,6.4C0,11.8,0,12,0.1,12.2s0.3,0.3,0.6,0.3\
    H7C7.2,12.5,7.4,12.4,7.5,12.2z')
    path(:style='{fill}', d='M3.8,6C3.9,6,3.9,6.1,3.8,6l2.3,4.6c0.2,0.3,0,0.2-0.1,0.2c-0.7-0.2-1.5-0.2-2.2-0.2s-1.5,0.1-2.2,0.2\
    c-0.1,0-0.3,0.1-0.1-0.2l2.2-4.5C3.7,6.1,3.7,6,3.8,6z')
    path(:style='{fill}', d='M18.3,9.4L15.1,3c-0.1-0.2-0.3-0.4-0.5-0.4S14.2,2.8,14.1,3l-3.2,6.4c-0.1,0.2-0.1,0.4,0,0.6c0.1,0.2,0.3,0.3,0.6,0.3h6.3\
    c0.2,0,0.4-0.1,0.6-0.3C18.4,9.9,18.4,9.6,18.3,9.4L18.3,9.4z')
    path(:style='{fill}', d='M14.6,4c0.1,0,0.1,0.1,0.1,0.1l2.2,4.3c0.2,0.3-0.1,0.3-0.2,0.2c-0.7-0.1-1.4-0.2-2.1-0.2c-0.7,0-1.5,0.1-2.2,0.2\
    c-0.1,0-0.3,0.1-0.1-0.3L14.4,4C14.4,4.1,14.5,3.9,14.6,4L14.6,4z')
    path(:style='{fill}', d='M0.8,3.9L0.8,3.9l16.9-2.7c0.3-0.1,0.5-0.3,0.5-0.6C18.1,0.2,17.8,0,17.5,0l-6.8,1.1c-0.2,0-0.2-0.1-0.2-0.2\
    C10.3,0.4,9.7,0,9.2,0C8.5,0,7.9,0.6,7.9,1.3l0,0c0,0.1,0,0.2-0.1,0.3l-7,1.1C0.4,2.8,0.2,3.1,0.3,3.4C0.3,3.7,0.6,3.9,0.8,3.9\
    L0.8,3.9z')
    path(:style='{fill}', d='M9.8,14.4V4c0-0.3-0.3-0.6-0.6-0.6l0,0C8.9,3.4,8.6,3.7,8.6,4v10.4c0,0.2-0.2,0.2-0.3,0.2c-3.2,0.2-5.8,1.6-6.7,2.7\
    c-0.1,0.2-0.3,0.6,0.4,0.6h14.1c0.8,0,0.6-0.3,0.5-0.5c-0.8-1.1-3.4-2.6-6.7-2.8C9.9,14.6,9.7,14.6,9.8,14.4L9.8,14.4z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
