<template lang="pug">
  g
    path(:style='{fill}', d='M300.68,119.4A20.25,20.25,0,0,1,298.46,79l.47-.06-5.59-4.65-.12-.12-.05-.11-.05-.1,0-.12v-.15l0-.11,0-.11,2.15-3.5a.68.68,0,0,1,.56-.31h9.59A.68.68,0,0,1,306,70l2.12,3.46,0,.1,0,.11v.26l0,.1,0,.1-.06.09-.09.1L302.43,79l.46.06a20.25,20.25,0,0,1-2.21,40.38Zm0-39.18A18.93,18.93,0,1,0,319.6,99.15,18.95,18.95,0,0,0,300.68,80.22Zm.66-2.08,4.42-3.68h-4.42Zm-1.33,0V74.46H295.6Zm2.27-5h4.12L305.1,71h-.69Zm-7.33,0h4.12L297,71h-.69Zm5.73-.27L302.53,71h-3.71Z', transform='translate(-280.43 -69.68)')
    path(:style='{fill}', d='M300.68,115.94a16.89,16.89,0,0,1-3.63-.39,16.78,16.78,0,0,1-10.43-7.21,16.8,16.8,0,0,1,20.59-24.67,16.47,16.47,0,0,1,2.86,1.55,17.31,17.31,0,0,1,2.48,2,16.15,16.15,0,0,1,2.05,2.49,16.67,16.67,0,0,1,2.87,9.39,16.6,16.6,0,0,1-2.05,8,.67.67,0,0,1-.58.34.72.72,0,0,1-.32-.08.64.64,0,0,1-.32-.4.63.63,0,0,1,.06-.5,15.93,15.93,0,0,0,1.39-3.52,15.48,15.48,0,0,0,.49-3.89,15.47,15.47,0,0,0-26.4-10.94,15.5,15.5,0,0,0,4.39,25h0l.14,0a15.33,15.33,0,0,0,6.41,1.38,15.6,15.6,0,0,0,3.4-.37,15.22,15.22,0,0,0,3.13-1.07,15.54,15.54,0,0,0,2.79-1.68,16.51,16.51,0,0,0,2.37-2.21.64.64,0,0,1,.5-.23.62.62,0,0,1,.43.16.67.67,0,0,1,.07.94,17.2,17.2,0,0,1-2.57,2.4,16.35,16.35,0,0,1-3,1.82,17.08,17.08,0,0,1-3.4,1.17,17.52,17.52,0,0,1-3.69.4Z', transform='translate(-280.43 -69.68)')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
