<template lang="pug">
  g
    path(:style='{fill}', d='M24.88,45.72c-2,0-3-1.61-3-4.65S22.9,34,24.88,34s3,4.11,3,7.08-1,4.65-3,4.65m0-10.52c-.7,0-1.81,2.74-1.81,5.86s1,3.44,1.82,3.44,1.82-.36,1.82-3.44-1.11-5.82-1.81-5.86h0Z', transform='translate(0 0)')
    path(:style='{fill}', d='M10.32,36a2.23,2.23,0,1,1,2.23-2.23A2.23,2.23,0,0,1,10.32,36m0-3.24a1,1,0,1,0,1,1,1,1,0,0,0-1-1', transform='translate(0 0)')
    path(:style='{fill}', d='M39.45,36a2.23,2.23,0,1,1,2.23-2.23A2.23,2.23,0,0,1,39.45,36m0-3.24a1,1,0,1,0,1,1,1,1,0,0,0-1-1', transform='translate(0 0)')
    path(:style='{fill}', d='M24.88,49.77a7.09,7.09,0,0,1-7.08-7.08,20.37,20.37,0,0,1,4.31-12.47l.11-.14L22.1,30a3.8,3.8,0,0,1-1-2.18l0-.15-.15,0a24.63,24.63,0,0,1-7.59-2.52L13.2,25l-.1.11a3.81,3.81,0,0,1-.74.6l-.21.13.61.61a10.31,10.31,0,0,1,3,7.34,5.46,5.46,0,0,1-10.93,0,10.31,10.31,0,0,1,3-7.34l.61-.61-.21-.13a3.83,3.83,0,0,1-1.81-3.25A3.78,3.78,0,0,1,7,20.54l.08-.13L7,20.3A24.74,24.74,0,0,1,0,3V0H1.22V3A23.54,23.54,0,0,0,7.77,19.36l.12.13L8,19.39a3.82,3.82,0,0,1,5.88,4.41l-.06.17L14,24a23.44,23.44,0,0,0,7,2.32l.17,0,.05-.17a3.82,3.82,0,0,1,7.34,0l.05.17.17,0a23.45,23.45,0,0,0,7-2.32l.16-.08-.06-.17a3.82,3.82,0,0,1,5.88-4.41l.14.11.12-.13A23.53,23.53,0,0,0,48.55,3V0h1.22V3a24.74,24.74,0,0,1-7,17.26l-.1.11.08.13a3.78,3.78,0,0,1,.53,1.92,3.83,3.83,0,0,1-1.81,3.25l-.21.13.61.61a10.31,10.31,0,0,1,3,7.34,5.46,5.46,0,0,1-10.93,0,10.31,10.31,0,0,1,3-7.34l.61-.61-.21-.13a3.92,3.92,0,0,1-.74-.6l-.1-.11-.13.07a24.61,24.61,0,0,1-7.59,2.52l-.15,0,0,.15a3.8,3.8,0,0,1-1,2.18l-.12.13.11.14A20.38,20.38,0,0,1,32,42.69a7.09,7.09,0,0,1-7.08,7.08M23.12,30.9A19.15,19.15,0,0,0,19,42.69a5.86,5.86,0,1,0,11.73,0,19.16,19.16,0,0,0-4.1-11.79l-.1-.12-.14.06a3.8,3.8,0,0,1-3.05,0l-.14-.06Zm14.76-3.59a9.1,9.1,0,0,0-2.68,6.48,4.25,4.25,0,1,0,8.49,0A9.1,9.1,0,0,0,41,27.31l-1-1H38.89Zm-29.13,0a9.1,9.1,0,0,0-2.68,6.48,4.25,4.25,0,0,0,8.49,0,9.1,9.1,0,0,0-2.68-6.48l-1-1H9.76Zm16.13-2.63a2.63,2.63,0,1,0,2.63,2.63,2.63,2.63,0,0,0-2.63-2.63m14.57-4.86a2.63,2.63,0,1,0,2.63,2.63,2.63,2.63,0,0,0-2.63-2.63m-29.13,0a2.63,2.63,0,1,0,2.63,2.63,2.63,2.63,0,0,0-2.63-2.63', transform='translate(0 0)')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
