<template lang="pug">
  g
    path(:style='{fill}', d='M48,.73A.77.77,0,0,0,47.43,0a.66.66,0,0,0-.72.59A36.88,36.88,0,0,1,24,29.23,37.22,37.22,0,0,1,1.31.6.62.62,0,0,0,.6,0,.62.62,0,0,0,0,.73,38.32,38.32,0,0,0,22.64,30.08l-6.78,4.5c-.07.06-.13.06-.13.13a.24.24,0,0,0-.06.2V35l.26,9.78V45c0,.07.07.13.07.2l.2.2L24.4,50.1h.13c.07,0,.13.07.19.07a.24.24,0,0,0,.2-.07h.13l7.89-5.22.07-.07.07-.07.06-.06.07-.07a.24.24,0,0,0,.06-.2V44.3L33,34.51v-.13c0-.06-.07-.13-.07-.2s-.06-.13-.13-.13l-7.11-4.11A38.58,38.58,0,0,0,48,.73M23.56,31.06l.07,3.33L20,36.6,17.43,35ZM17,36.28l2.41,1.5.13,4.3-2.35,1.63Zm.78,8.55,2.41-1.7,3.78,2L24,48.47ZM24.6,44l-3.78-2-.13-4.31,3.65-2.28,3.78,2,.13,4.31Zm.78,4.44-.07-3.33L29,42.93l2.54,1.57ZM32,43.26l-2.41-1.5-.13-4.31,2.35-1.63Zm-.85-8.61-2.41,1.7-3.78-2L24.86,31Z', transform='translate(0 0)')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
