<template lang="pug">
  g
    path(:style='{fill}', d='M25.69,37.86a1.08,1.08,0,0,1-.93-.54l-5-8.65a1.09,1.09,0,0,1,0-1.08l5-8.64a1.08,1.08,0,0,1,.93-.54h1.66V13.66a1.08,1.08,0,0,1,1.08-1.08h1.68v-4A.57.57,0,0,1,30.68,8a3.45,3.45,0,1,0-3.45-3.45.57.57,0,0,1-1.14,0,4.59,4.59,0,1,1,5.33,4.53l-.17,0v3.43h1.68A1.08,1.08,0,0,1,34,13.66v4.75h1.66a1.08,1.08,0,0,1,.94.54l1.56,2.71a.57.57,0,0,1-.21.78.56.56,0,0,1-.28.08.57.57,0,0,1-.49-.28l-1.5-2.6-2.61,4.51.08.11,1.92,3.32h5.18l-1.72-3a.57.57,0,0,1,.49-.85.57.57,0,0,1,.49.28L41.6,27.6a1.09,1.09,0,0,1,0,1.08l-5,8.65a1.08,1.08,0,0,1-.94.54Zm1.24-1.14h7.49l-2.59-4.49H29.52ZM33.21,32l-.09.11,0,.19,2.54,4.4,4.58-7.94H35.09Zm-7.54,4.68,2.6-4.51L28.19,32l-1.92-3.31H21.1Zm1.59-8.49,1.71,3h3.42l1.71-3-1.71-3H29Zm-6.17-.57h5.18l1.87-3.25.08-.11,0-.18-2.54-4.39ZM29.52,24h2.31l2.59-4.49H26.93Zm-1-5.63h4.39V16.79H28.49Zm0-2.76h4.39V13.72H28.49Z', transform='translate(0 0)')
    path(:style='{fill}', d='M6.07,49.64a1.08,1.08,0,0,1-.93-.54l-5-8.65a1.08,1.08,0,0,1,0-1.08l5-8.64a1.08,1.08,0,0,1,.93-.54H7.73V25.44a1.08,1.08,0,0,1,1.08-1.08h1.68v-4a.57.57,0,0,1,.57-.57,3.45,3.45,0,1,0-3.45-3.45.57.57,0,1,1-1.14,0A4.59,4.59,0,1,1,11.8,20.9l-.17,0v3.43h1.68a1.08,1.08,0,0,1,1.08,1.08v4.75h1.66a1.08,1.08,0,0,1,.93.54l1.56,2.71a.57.57,0,0,1-1,.57l-1.5-2.6-2.61,4.52.08.11,1.92,3.32h5.18l-1.72-3a.57.57,0,0,1,1-.57L22,39.37a1.08,1.08,0,0,1,0,1.08L17,49.1a1.08,1.08,0,0,1-.94.54ZM7.31,48.5H14.8L12.21,44H9.9Zm6.28-4.77-.08.11,0,.19,2.54,4.4,4.58-7.94H15.47ZM6,48.4l2.6-4.51-.08-.11L6.66,40.48H1.47Zm1.59-8.49,1.71,3h3.42l1.71-3-1.71-3H9.35Zm-6.17-.57H6.66L8.53,36.1,8.61,36l0-.18L6,31.42ZM9.9,35.81h2.31l2.59-4.49H7.31Zm-1-5.63h4.39V28.56H8.87Zm0-2.76h4.39V25.49H8.87Z', transform='translate(0 0)')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
