<template lang="pug">
  g(transform='translate(0 0)')
    g
      path(:style='{fill}', d='M264.367,251.485H277.7a.789.789,0,0,0,.833-.837v-7.531a.789.789,0,0,0-.833-.837H264.367a.789.789,0,0,0-.833.837v7.531A.789.789,0,0,0,264.367,251.485Zm.833-7.531h11.663v5.857H265.2Z' transform='translate(-237.709 -223.036)')
      path(:style='{fill}', d='M33.967,209.82h6.665a.837.837,0,0,0,0-1.673H33.967a.837.837,0,0,0,0,1.673Z' transform='translate(-29.802 -192.249)')
      path(:style='{fill}', d='M136.367,209.82h6.665a.837.837,0,0,0,0-1.673h-6.665a.837.837,0,0,0,0,1.673Z' transform='translate(-122.205 -192.249)')
      path(:style='{fill}', d='M33.967,243.954H44.8a.837.837,0,0,0,0-1.673H33.967a.837.837,0,0,0,0,1.673Z' transform='translate(-29.802 -223.036)')
      path(:style='{fill}', d='M181.532,242.28h-2.5a.837.837,0,0,0,0,1.673h2.5a.837.837,0,0,0,0-1.673Z' transform='translate(-160.705 -223.035)')
      path(:style='{fill}', d='M48.235,54.883a3.1,3.1,0,0,0-2.249-1.255l-2-.243V49.361a3.349,3.349,0,0,0-3.332-3.347H2.332A3.349,3.349,0,0,0-1,49.361V76.136a3.358,3.358,0,0,0,2.387,3.208,3.251,3.251,0,0,0,2.944,3.318L42.82,87.014h.333a3.34,3.34,0,0,0,3.332-2.845l2.5-26.859A3.262,3.262,0,0,0,48.235,54.883ZM.666,51.871H42.32v5.02H.666Zm1.666-4.184H40.654a1.675,1.675,0,0,1,1.666,1.674V50.2H.666v-.837A1.675,1.675,0,0,1,2.332,47.687ZM.666,76.136V58.565H42.32V76.136a1.675,1.675,0,0,1-1.666,1.674H2.332A1.675,1.675,0,0,1,.666,76.136ZM47.318,56.975l-2.5,26.859a1.682,1.682,0,0,1-1.833,1.506L4.582,80.99a1.688,1.688,0,0,1-1.5-1.506H40.654a3.349,3.349,0,0,0,3.332-3.347V54.967l1.916.167a1.422,1.422,0,0,1,1.083.586A1.7,1.7,0,0,1,47.318,56.975Z' transform='translate(1 -46.014)')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
