<template lang="pug">
  g(transform="translate(1013.394 -19.692)")
    path(:style="{fill}", d="M-984.378,30.517l-10.191-10.589a.77.77,0,0,0-.554-.236h-15.188a3.086,3.086,0,0,0-3.083,3.081v12.3h.015V48.154h-.015v8.462a3.083,3.083,0,0,0,3.083,3.076h23.065a3.082,3.082,0,0,0,3.083-3.074V31.05A.77.77,0,0,0-984.378,30.517Zm-10.554-8.748,8.366,8.693h-8.366Zm9.231,34.849a1.542,1.542,0,0,1-1.544,1.536h-23.065a1.543,1.543,0,0,1-1.544-1.537V48.154h-.015V35.077h.015v-12.3a1.545,1.545,0,0,1,1.544-1.543h13.84v10A.769.769,0,0,0-995.7,32h10Z")
    g(transform="translate(-1007.475 43.377)")
      path(:style="{fill}", transform="translate(-123.114 -72.77)", d="M133.454,73.924l-1.147-1.154-4.034,4.061-4.013-4.041-1.147,1.154,4.013,4.041-4.013,4.041,1.147,1.154,4.013-4.041,4.013,4.041,1.147-1.154-4.013-4.041Z")
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
