<template lang="pug">
  g
    path(:style="{fill}", transform="translate(-8 -8)", d="M47.355,8H21.548a.645.645,0,0,0-.645.645V20.9H16.065a1.615,1.615,0,0,0-1.613,1.613V33.484a1.629,1.629,0,0,0,.032.323H9.613A1.615,1.615,0,0,0,8,35.419V46.387A1.615,1.615,0,0,0,9.613,48H20.581a1.605,1.605,0,0,0,.968-.326,1.605,1.605,0,0,0,.968.326H47.355A.645.645,0,0,0,48,47.355V8.645A.645.645,0,0,0,47.355,8ZM46.5,9.29l-2.211,7.742h-7.9V14.452a1.935,1.935,0,1,0-3.871,0v2.581h-7.9L22.4,9.29ZM34.452,18.968a1.922,1.922,0,0,0-.645.111v-.756H35.1v.756A1.922,1.922,0,0,0,34.452,18.968ZM35.1,20.9a.645.645,0,1,1-.645-.645A.645.645,0,0,1,35.1,20.9Zm-1.29-3.871v-.756a1.926,1.926,0,0,0,1.29,0v.756Zm.645-1.935a.645.645,0,1,1,.645-.645A.645.645,0,0,1,34.452,15.1Zm-14.839,7.1h3.871v4.763l-1.647-.824a.649.649,0,0,0-.577,0l-1.647.824ZM13.161,35.1h3.871V39.86l-1.647-.824a.649.649,0,0,0-.577,0l-1.647.824ZM20.9,46.387a.323.323,0,0,1-.323.323H9.613a.323.323,0,0,1-.323-.323V35.419a.323.323,0,0,1,.323-.323h2.258V40.9a.645.645,0,0,0,.934.577L15.1,40.334l2.292,1.147a.645.645,0,0,0,.934-.577V35.1h2.258a.323.323,0,0,1,.323.323ZM16.065,33.806a.323.323,0,0,1-.323-.323V22.516a.323.323,0,0,1,.323-.323h2.258V28a.645.645,0,0,0,.934.577l2.292-1.147,2.292,1.147A.645.645,0,0,0,24.774,28V22.194h2.258a.323.323,0,0,1,.323.323V33.484a.323.323,0,0,1-.323.323ZM29.935,35.1V39.86l-1.647-.824a.649.649,0,0,0-.577,0l-1.647.824V35.1Zm3.871,11.29a.323.323,0,0,1-.323.323H22.516a.323.323,0,0,1-.323-.323V35.419a.323.323,0,0,1,.323-.323h2.258V40.9a.645.645,0,0,0,.934.577L28,40.334l2.292,1.147a.645.645,0,0,0,.934-.577V35.1h2.258a.323.323,0,0,1,.323.323Zm1.258.323a1.629,1.629,0,0,0,.032-.323V42.839h9.279l1.935,3.871ZM46.71,44.622,45.352,41.9a.646.646,0,0,0-.577-.356H35.1V35.419a1.615,1.615,0,0,0-1.613-1.613H28.613a1.629,1.629,0,0,0,.032-.323V22.516A1.615,1.615,0,0,0,27.032,20.9H22.194V13.252l1.315,4.6a.645.645,0,0,0,.62.468h8.387V20.9a1.935,1.935,0,1,0,3.871,0V18.323h8.387a.645.645,0,0,0,.62-.468l1.315-4.6Z")
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
