<template lang="pug">
  g
    path(:style='{fill}', d="M14,13.3a8,8,0,0,0-.15-10.77h0A8,8,0,0,0,8.28,0H7.72A8,8,0,0,0,2.18,2.52h0A8,8,0,0,0,2,13.3H2l0,0A8,8,0,0,0,7.72,16h.56A7.94,7.94,0,0,0,14,13.32h0ZM.56,8.28H3.87a10.11,10.11,0,0,0,.67,3.37A9.65,9.65,0,0,0,2.3,12.79,7.37,7.37,0,0,1,.56,8.28ZM2.45,3A10.25,10.25,0,0,0,4.63,4.11a10.09,10.09,0,0,0-.76,3.61H.56A7.39,7.39,0,0,1,2.45,3Zm13,4.68H12.13a10.09,10.09,0,0,0-.76-3.61A10,10,0,0,0,13.55,3a7.39,7.39,0,0,1,1.89,4.68ZM7.72,4.13a9.13,9.13,0,0,1-2.33-.36,9.8,9.8,0,0,1,2.33-3Zm0,.55v3H4.42a9.81,9.81,0,0,1,.74-3.44,10.05,10.05,0,0,0,2.56.4Zm.56,0a10.05,10.05,0,0,0,2.56-.4,9.6,9.6,0,0,1,.74,3.44H8.28Zm0-.55V.73a9.8,9.8,0,0,1,2.33,3,9.13,9.13,0,0,1-2.33.36Zm2.87-.52A10.13,10.13,0,0,0,9,.62a7.39,7.39,0,0,1,4.19,2,10.33,10.33,0,0,1-2,1Zm-6.3,0a10.33,10.33,0,0,1-2-1A7.39,7.39,0,0,1,7,.62a10.13,10.13,0,0,0-2.18,3ZM4.42,8.28h3.3v2.77a9.92,9.92,0,0,0-2.66.42,9.59,9.59,0,0,1-.64-3.19Zm3.3,3.32v3.67A9.74,9.74,0,0,1,5.27,12a9.63,9.63,0,0,1,2.45-.38Zm.56,3.67V11.6a9.63,9.63,0,0,1,2.45.38,9.74,9.74,0,0,1-2.45,3.29Zm0-4.22V8.28h3.3a9.59,9.59,0,0,1-.64,3.19,9.92,9.92,0,0,0-2.66-.42Zm3.85-2.77h3.31a7.37,7.37,0,0,1-1.74,4.51,9.65,9.65,0,0,0-2.24-1.14,10.11,10.11,0,0,0,.67-3.37ZM2.67,13.2a9.87,9.87,0,0,1,2.08-1A9.91,9.91,0,0,0,7,15.38,7.41,7.41,0,0,1,2.67,13.2ZM9,15.38a9.91,9.91,0,0,0,2.28-3.22,9.87,9.87,0,0,1,2.08,1A7.41,7.41,0,0,1,9,15.38Z")
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
