<template lang="pug">
  g
    path(:style='{fill}', d='M11.671,3.334,10.591,4.415a.282.282,0,0,1-.4,0l-2.6-2.6a.282.282,0,0,1,0-.4L8.671.334a1.127,1.127,0,0,1,1.591,0l1.409,1.409A1.123,1.123,0,0,1,11.671,3.334ZM6.662,2.343.507,8.5l-.5,2.848A.563.563,0,0,0,.662,12l2.848-.5L9.665,5.343a.282.282,0,0,0,0-.4l-2.6-2.6a.284.284,0,0,0-.4,0ZM2.91,7.97a.327.327,0,0,1,0-.464L6.519,3.9a.328.328,0,0,1,.464.464L3.374,7.97a.327.327,0,0,1-.464,0ZM2.064,9.941H3.189v.851l-1.512.265-.729-.729.265-1.512h.851Z', transform='translate(-0.002 -0.005)')
    //path(:style='{fill}', d='M40,32.969a11.086,11.086,0,0,0-3.731-8.291l-.6-.535-3.03-13.806a12.893,12.893,0,0,0-25.274,0L4.334,24.142l-.6.535A11.086,11.086,0,0,0,0,32.969v1.172H10.922a9.962,9.962,0,0,0,18.156,0H40ZM9.655,10.828l0-.021a10.549,10.549,0,0,1,20.682,0l2.806,12.787H6.853ZM20,37.656a7.634,7.634,0,0,1-6.419-3.516H26.419A7.634,7.634,0,0,1,20,37.656ZM2.423,31.8A8.743,8.743,0,0,1,5.287,26.43l.555-.493H34.158l.555.493A8.743,8.743,0,0,1,37.577,31.8Z')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
