<template lang="pug">
  g
    path.cls-1(d="M458.8,239.41v-3a20,20,0,0,0,0-40v-3a23,23,0,0,1,0,46Z" transform="translate(-435.8 -193.41)")
    path.cls-2(d="M458.8,239.41a23,23,0,0,1,0-46v3a20,20,0,0,0,0,40Z" transform="translate(-435.8 -193.41)")
    path.cls-2(d="M450.54,221.18h2.69v-8.12c0-.28,0-.57,0-.88l-2.08,1.76a.7.7,0,0,1-.27.14.57.57,0,0,1-.26,0l-.22-.08a.67.67,0,0,1-.15-.14l-.6-.84,3.91-3.36h1.57v11.52h2.44v1.47h-7.06Z" transform="translate(-435.8 -193.41)")
    path.cls-2(d="M464,222.79a6.09,6.09,0,0,1-1.81-.26,4.36,4.36,0,0,1-1.4-.75,3.5,3.5,0,0,1-.91-1.18,3.74,3.74,0,0,1-.32-1.55,3.22,3.22,0,0,1,.6-2,3.48,3.48,0,0,1,1.79-1.17,3.1,3.1,0,0,1-1.46-1.12A3.15,3.15,0,0,1,460,213a3.29,3.29,0,0,1,.29-1.36,3.2,3.2,0,0,1,.81-1.09,4,4,0,0,1,1.27-.73,5,5,0,0,1,3.25,0,3.9,3.9,0,0,1,1.26.73,3.23,3.23,0,0,1,.82,1.09,3.42,3.42,0,0,1-.2,3.14,3,3,0,0,1-1.46,1.12,3.48,3.48,0,0,1,1.79,1.17,3.22,3.22,0,0,1,.6,2,3.58,3.58,0,0,1-.32,1.55,3.5,3.5,0,0,1-.91,1.18,4.36,4.36,0,0,1-1.4.75A6,6,0,0,1,464,222.79Zm0-1.53a3.07,3.07,0,0,0,1-.16,2.13,2.13,0,0,0,.77-.47,2,2,0,0,0,.47-.72,2.36,2.36,0,0,0,.16-.9,2.62,2.62,0,0,0-.18-1,1.89,1.89,0,0,0-.51-.72,2.1,2.1,0,0,0-.78-.42,3.47,3.47,0,0,0-1.95,0,2.06,2.06,0,0,0-.77.42,2,2,0,0,0-.52.72,2.62,2.62,0,0,0-.18,1,2.36,2.36,0,0,0,.16.9,2.09,2.09,0,0,0,.47.72,2.21,2.21,0,0,0,.77.47A3.13,3.13,0,0,0,464,221.26Zm0-6.09a2.43,2.43,0,0,0,1-.18,1.78,1.78,0,0,0,.65-.48,2.06,2.06,0,0,0,.36-.69,3,3,0,0,0,.11-.79,2.19,2.19,0,0,0-.13-.77,1.9,1.9,0,0,0-.39-.64,2,2,0,0,0-.67-.43,2.75,2.75,0,0,0-1.85,0,2,2,0,0,0-.67.43,1.9,1.9,0,0,0-.39.64,2.44,2.44,0,0,0-.13.77,3,3,0,0,0,.11.79,2.06,2.06,0,0,0,.36.69,1.82,1.82,0,0,0,.66.48A2.43,2.43,0,0,0,464,215.17Z" transform="translate(-435.8 -193.41)")
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  name: 'EighteenKDoubleMetalIcon',

  extends: _baseIcon
}
</script>

<style lang="sass" scoped>
.cls-1
  fill: #d5a82a

.cls-2
  fill: #898989
</style>
