<template lang="pug">
  g
    path(:style="{fill}" d="M23,46A23,23,0,1,1,46,23,23,23,0,0,1,23,46ZM23,3A20,20,0,1,0,43,23,20,20,0,0,0,23,3Z")
    path(:style="{fill}" d="M21.8,27.78v1.47H14.74V27.78h2.7V19.66q0-.43,0-.88l-2.08,1.75a.69.69,0,0,1-.27.14.59.59,0,0,1-.26,0,.69.69,0,0,1-.22-.09.53.53,0,0,1-.15-.13l-.6-.85,3.91-3.36h1.58V27.78Z")
    path(:style="{fill}" d="M30.26,22.48a3.41,3.41,0,0,1,1.8,1.17,3.23,3.23,0,0,1,.6,2,3.61,3.61,0,0,1-.32,1.55,3.37,3.37,0,0,1-.91,1.18,4.21,4.21,0,0,1-1.4.75,6.29,6.29,0,0,1-3.61,0,4.22,4.22,0,0,1-1.4-.75,3.37,3.37,0,0,1-.91-1.18,3.6,3.6,0,0,1-.32-1.55,3.23,3.23,0,0,1,.6-2,3.4,3.4,0,0,1,1.79-1.17,3,3,0,0,1-1.46-1.12,3.13,3.13,0,0,1-.49-1.77,3.22,3.22,0,0,1,1.1-2.45,3.87,3.87,0,0,1,1.26-.73,5.12,5.12,0,0,1,3.25,0,3.88,3.88,0,0,1,1.26.73,3.3,3.3,0,0,1,.82,1.09,3.2,3.2,0,0,1,.29,1.36,3.13,3.13,0,0,1-.49,1.77A3,3,0,0,1,30.26,22.48Zm-2,5.37a3,3,0,0,0,1-.17,2.11,2.11,0,0,0,.77-.47,2,2,0,0,0,.47-.72,2.43,2.43,0,0,0,.16-.9,2.6,2.6,0,0,0-.18-1,1.94,1.94,0,0,0-.51-.72,2.17,2.17,0,0,0-.78-.42,3.45,3.45,0,0,0-1.94,0,2.17,2.17,0,0,0-.78.42,1.93,1.93,0,0,0-.51.72,2.6,2.6,0,0,0-.18,1,2.45,2.45,0,0,0,.16.9,2,2,0,0,0,.47.72,2.12,2.12,0,0,0,.77.47A3,3,0,0,0,28.22,27.86Zm0-10.23a2.48,2.48,0,0,0-.93.16,1.89,1.89,0,0,0-.66.43,1.75,1.75,0,0,0-.39.63,2.27,2.27,0,0,0-.13.77,2.81,2.81,0,0,0,.11.79,1.9,1.9,0,0,0,.36.69,1.73,1.73,0,0,0,.65.48,2.81,2.81,0,0,0,2,0,1.73,1.73,0,0,0,.65-.48,1.91,1.91,0,0,0,.36-.69,2.81,2.81,0,0,0,.11-.79,2.27,2.27,0,0,0-.13-.77,1.72,1.72,0,0,0-.4-.63,1.94,1.94,0,0,0-.66-.43A2.44,2.44,0,0,0,28.22,17.62Z")
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  name: 'EighteenKMetalIcon',

  extends: _baseIcon
}
</script>
