<template lang="pug">
  g
    path(:style='{fill}', d='M28.34,0H.66A.66.66,0,0,0,0,.66V20.34A.67.67,0,0,0,.66,21H28.34a.66.66,0,0,0,.66-.66V.66A.65.65,0,0,0,28.34,0Zm-.65,18.1L19.52,10l-.93.93,8.83,8.79H1.59l8.83-8.79L9.49,10,1.32,18.1V1.31H27.69Zm0,0', transform='translate(0)')
    path(:style='{fill}', d='M26.35,1.31,14.5,13.11,2.65,1.31H1.32v.53L14,14.5a.65.65,0,0,0,.93,0L27.69,1.84V1.31Zm0,0', transform='translate(0)')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
