<template lang="pug">
  g
    path(:style='{fill}', d='M5.3,290.3c-1.4,0-2.8-0.6-3.8-1.6c-1-1-1.6-2.4-1.6-3.8l-0.2-169.1c0,0,0-0.2,0-0.2c0-1.8,0.9-3.4,2.3-4.4l44.9-31V46.9c0-3,2.4-5.4,5.4-5.4H103l43.6-30.1c0.9-0.6,2-1,3.1-1c1.1,0,2.2,0.3,3.1,1l43.3,30.1h50.9c3,0,5.4,2.4,5.4,5.4v33.8l44.6,31c1,0.7,1.8,1.8,2.1,3l0,0.2l0.1,0.2c0,0.1,0.1,0.4,0.1,0.6l0.2,168.9c0,1.4-0.6,2.8-1.6,3.8c-1,1-2.4,1.6-3.8,1.6L5.3,290.3L5.3,290.3z M21.2,279.5l256.7-0.4l-128.1-99.4L21.2,279.5z M10.8,273.8l100.7-78.1L10.6,126.1L10.8,273.8z M188,195.6l100.8,78.2l-0.2-148.1L188,195.6z M57.7,145.5l62.7,43.3l26.1-20.2c1-0.7,2.1-1.1,3.3-1.1c1.2,0,2.3,0.4,3.3,1.1l0.1,0.1l25.9,20.1l62.6-43.5V52.3H57.7V145.5z M14.6,115.7L46.9,138V93.4L14.6,115.7z M252.5,137.6l31.5-21.9l-31.5-21.9V137.6z M122.1,41.4h55l-27.4-19.1L122.1,41.4z')
    path(:style='{fill}', d='M96.9,99.1c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4h105.7c3,0,5.4,2.4,5.4,5.4s-2.4,5.4-5.4,5.4H96.9z')
    path(:style='{fill}', d='M96.9,139.7c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4h105.7c3,0,5.4,2.4,5.4,5.4s-2.4,5.4-5.4,5.4H96.9z')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
