<template lang="pug">
  g
    path(:style='{fill}', d='M20.46,36H4.54a.29.29,0,0,1-.23-.1L.1,31.75a.37.37,0,0,1-.1-.24v-27a.37.37,0,0,1,.1-.24L4.31.1A.29.29,0,0,1,4.54,0H20.46a.29.29,0,0,1,.23.1L24.9,4.25a.37.37,0,0,1,.1.24v27a.37.37,0,0,1-.1.24L20.69,35.9a.29.29,0,0,1-.23.1M4.68,35.34H20.32l4-4V4.62l-4-4H4.68l-4,4V31.38Z', transform='translate(0)')
    path(:style='{fill}', d='M19.31,33.27H5.69a.31.31,0,0,1-.24-.1L2.86,30.62a.37.37,0,0,1-.1-.24V5.62a.37.37,0,0,1,.1-.24L5.45,2.83a.31.31,0,0,1,.24-.1H19.31a.31.31,0,0,1,.24.1l2.59,2.55a.37.37,0,0,1,.1.24V30.38a.37.37,0,0,1-.1.24l-2.59,2.55a.31.31,0,0,1-.24.1M5.83,32.61H19.18l2.39-2.36V5.75L19.18,3.39H5.83L3.43,5.75v24.5Z', transform='translate(0)')
    path(:style='{fill}', d='M18.33,30.93H6.67a.34.34,0,0,1-.24-.09l-1.2-1.19a.31.31,0,0,1-.1-.24V6.59a.33.33,0,0,1,.1-.24l1.2-1.19a.34.34,0,0,1,.24-.09H18.33a.34.34,0,0,1,.24.09l1.2,1.19a.33.33,0,0,1,.1.24V29.41a.33.33,0,0,1-.1.24l-1.2,1.19a.34.34,0,0,1-.24.09M6.81,30.27H18.19l1-1V6.72l-1-1H6.81l-1,1V29.28Z', transform='translate(0)')
    path(:style='{fill}', d='M6.67,5.73a.34.34,0,0,1-.31-.21L4.23.46A.33.33,0,0,1,4.41,0,.34.34,0,0,1,4.85.2L7,5.27a.33.33,0,0,1-.18.43l-.13,0', transform='translate(0)')
    path(:style='{fill}', d='M5.46,6.92a.27.27,0,0,1-.12,0L.21,4.79a.33.33,0,0,1,.25-.61l5.13,2.1a.33.33,0,0,1,.18.43.34.34,0,0,1-.31.21', transform='translate(0)')
    path(:style='{fill}', d='M18.33,5.73l-.13,0A.33.33,0,0,1,18,5.27L20.15.2A.34.34,0,0,1,20.59,0a.33.33,0,0,1,.18.43L18.64,5.52a.34.34,0,0,1-.31.21', transform='translate(0)')
    path(:style='{fill}', d='M19.54,6.92a.34.34,0,0,1-.31-.21.33.33,0,0,1,.18-.43l5.13-2.1a.33.33,0,1,1,.25.61l-5.13,2.1a.27.27,0,0,1-.12,0', transform='translate(0)')
    path(:style='{fill}', d='M24.67,31.84l-.13,0-5.13-2.1a.33.33,0,0,1,.25-.61l5.13,2.1a.33.33,0,0,1,.18.43.31.31,0,0,1-.3.2', transform='translate(0)')
    path(:style='{fill}', d='M20.46,36a.34.34,0,0,1-.31-.2L18,30.73a.33.33,0,0,1,.18-.43.34.34,0,0,1,.44.18l2.13,5.06a.34.34,0,0,1-.19.44l-.12,0', transform='translate(0)')
    path(:style='{fill}', d='M4.54,36l-.13,0a.34.34,0,0,1-.18-.44l2.13-5.06a.34.34,0,0,1,.44-.18.33.33,0,0,1,.18.43L4.85,35.8a.34.34,0,0,1-.31.2', transform='translate(0)')
    path(:style='{fill}', d='M.33,31.84a.31.31,0,0,1-.3-.2.33.33,0,0,1,.18-.43l5.13-2.1a.33.33,0,0,1,.25.61L.46,31.82l-.13,0', transform='translate(0)')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
