<template lang="pug">
  g
</template>

<script>
import _baseIcon from './_baseIcon'

export default {
  name: 'EmptyIconComponent',
  extends: _baseIcon
}
</script>

<style lang="sass" scoped></style>
