<template lang="pug">
  g(transform='translate(0 -91)')
    g(transform='translate(0 91)')
      g(transform='translate(0)')
        path(:style='{fill}', d='M39.778,103.2a37.16,37.16,0,0,0-5.949-6.255C29.886,93.64,25.149,91,20,91,14.772,91,9.889,93.751,5.94,97.142A39.021,39.021,0,0,0,.222,103.2a1.172,1.172,0,0,0,0,1.373,36.356,36.356,0,0,0,5.325,5.743c3.8,3.32,8.939,6.461,14.453,6.461,4.971,0,9.512-2.447,13.359-5.565a36.9,36.9,0,0,0,6.418-6.639A1.172,1.172,0,0,0,39.778,103.2Zm-7.746,6.075c-3.2,2.647-7.449,5.158-12.031,5.158-4.611,0-9.207-2.621-12.969-5.948a37.866,37.866,0,0,1-4.377-4.6A39.1,39.1,0,0,1,7.11,99.236c3.282-2.9,7.885-5.892,12.891-5.892,4.358,0,8.7,2.342,12.344,5.409a37.554,37.554,0,0,1,5,5.138A38.793,38.793,0,0,1,32.032,109.279Z' transform='translate(0 -91)')
    g(transform='translate(11.797 95.687)')
      g
        path(:style='{fill}', d='M159.2,151a8.2,8.2,0,1,0,8.2,8.2A8.212,8.212,0,0,0,159.2,151Zm0,14.062a5.859,5.859,0,1,1,5.859-5.859A5.866,5.866,0,0,1,159.2,165.062Z' transform='translate(-151.001 -151)')
    g(transform='translate(16.485 100.375)')
      g
        path(:style='{fill}', d='M214.517,211a3.516,3.516,0,1,0,3.516,3.516A3.52,3.52,0,0,0,214.517,211Zm0,4.688a1.172,1.172,0,1,1,1.172-1.172A1.173,1.173,0,0,1,214.517,215.688Z' transform='translate(-211.001 -211)')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
