<template lang="pug">
  g
    path(:style='{fill}', d='M7.26,20a.2.2,0,0,1-.11,0h0A.26.26,0,0,1,7,19.73v-7.9a1.7,1.7,0,0,0-.5-1.21L.67,4.81A2.26,2.26,0,0,1,0,3.2V1.28A1.28,1.28,0,0,1,1.28,0H17a1.27,1.27,0,0,1,1.27,1.28v1.9a2.27,2.27,0,0,1-.69,1.63l-6,5.8A1.73,1.73,0,0,0,11,11.85v4a2.31,2.31,0,0,1-.79,1.73L7.45,19.94A.34.34,0,0,1,7.26,20ZM1.28.56a.72.72,0,0,0-.72.72V3.2a1.7,1.7,0,0,0,.5,1.21l5.82,5.81a2.29,2.29,0,0,1,.66,1.61v7.29l2.33-2a1.72,1.72,0,0,0,.6-1.3v-4a2.28,2.28,0,0,1,.7-1.64l6-5.8a1.73,1.73,0,0,0,.52-1.23V1.28A.72.72,0,0,0,17,.56Z')
    path(:style='{fill}', d='M15.24,23A1.28,1.28,0,0,1,14,21.72V13.25A1.28,1.28,0,0,1,15.24,12h6.48A1.28,1.28,0,0,1,23,13.25v8.47A1.28,1.28,0,0,1,21.72,23Zm0-10.47a.72.72,0,0,0-.72.72v8.47a.72.72,0,0,0,.72.72h6.48a.72.72,0,0,0,.72-.72V13.25a.72.72,0,0,0-.72-.72Z')
    path(:style='{fill}', d='M17.23,16.27A.29.29,0,0,1,17,16a.28.28,0,0,1,.28-.28h2.5A.28.28,0,0,1,20,16a.29.29,0,0,1-.28.28Z')
    path(:style='{fill}', d='M17.23,19.26a.28.28,0,0,1,0-.56h2.5a.28.28,0,0,1,0,.56Z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
