<template lang="pug">
  g(data-name="Layer 2")
    circle(style='fill:#F0F0F0;' cx='256' cy='256' r='256')
    path(style='fill:#D80027;' d='M345.043,256c0,22.261-39.866,77.913-89.043,77.913S166.957,278.261,166.957,256  c0-49.178,39.866-89.043,89.043-89.043S345.043,206.822,345.043,256z')
    path(style='fill:#0052B4;' d='M345.043,256c0,49.178-39.866,89.043-89.043,89.043S166.957,305.178,166.957,256')
    rect(x='353.427' y='319.639' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -125.4831 358.5964)' width='33.391' height='22.261')
    rect(x='314.07' y='358.994' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -164.8388 342.2935)' width='33.391' height='22.261')
    rect(x='400.656' y='366.851' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -145.034 405.8207)' width='33.391' height='22.261')
    rect(x='361.299' y='406.213' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -184.3942 389.5197)' width='33.391' height='22.261')
    rect(x='377.04' y='343.247' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -135.2602 382.2079)' width='33.391' height='22.261')
    rect(x='337.694' y='382.602' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -174.6126 365.9128)' width='33.391' height='22.261')
    rect(x='329.544' y='126.805' transform='matrix(-0.7071 -0.7071 0.7071 -0.7071 541.0344 499.9738)' width='89.043' height='22.261')
    rect(x='314.081' y='130.749' transform='matrix(-0.7071 -0.7071 0.7071 -0.7071 464.3475 476.0975)' width='33.391' height='22.26')
    rect(x='353.427' y='170.098' transform='matrix(-0.7071 -0.7071 0.7071 -0.7071 503.692 571.0911)' width='33.391' height='22.26')
    rect(x='361.282' y='83.526' transform='matrix(-0.7071 -0.7071 0.7071 -0.7071 578.3161 428.8593)' width='33.391' height='22.261')
    rect(x='400.651' y='122.879' transform='matrix(-0.7071 -0.7071 0.7071 -0.7071 617.6954 523.8765)' width='33.391' height='22.261')
    rect(x='69.81' y='386.542' transform='matrix(0.7071 0.7071 -0.7071 0.7071 314.6838 35.6313)' width='89.043' height='22.261')
    rect(x='140.919' y='382.6' transform='matrix(0.7071 0.7071 -0.7071 0.7071 324.573 3.8704)' width='33.391' height='22.26')
    rect(x='101.569' y='343.252' transform='matrix(0.7071 0.7071 -0.7071 0.7071 285.2246 20.1705)' width='33.391' height='22.261')
    rect(x='117.031' y='339.316' transform='matrix(0.7071 0.7071 -0.7071 0.7071 295.1205 -11.5916)' width='89.043' height='22.261')
    rect(x='69.81' y='103.201' transform='matrix(-0.7071 0.7071 -0.7071 -0.7071 276.0196 114.331)' width='89.043' height='22.261')
    rect(x='93.412' y='126.806' transform='matrix(-0.7071 0.7071 -0.7071 -0.7071 333.0029 137.9383)' width='89.043' height='22.261')
    rect(x='117.038' y='150.428' transform='matrix(-0.7071 0.7071 -0.7071 -0.7071 390.0373 161.557)' width='89.043' height='22.26')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
