<template lang="pug">
  g(data-name="Layer 2")
    circle(style='fill:#FFF;' cx='256' cy='256' r='256')
    path(style='fill:#D80027;' d='M512,256c0,141.384-114.616,256-256,256S0,397.384,0,256s256,0,256,0S449.761,256,512,256z')
    path(style='fill:#0052B4;' d='M0,256C0,114.616,114.616,0,256,0c0,97.355,0,256,0,256S89.043,256,0,256z')
    polygon(style='fill:#FFF;' points='152.389,89.043 168.966,140.061 222.609,140.061 179.211,171.591 195.787,222.609   152.389,191.078 108.991,222.609 125.567,171.591 82.169,140.061 135.812,140.061 ')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
