<template lang="pug">
  g(data-name="Layer 2")
    circle(style='fill:#F0F0F0;' cx='255.997' cy='255.996' r='255.957')
    path(d='M34.33,128.016c-11.553,20.008-20.075,40.926-25.75,62.233L436.638,437.39c15.615-15.569,29.471-33.41,41.021-53.417  L34.33,128.016z')
    path(style='fill:#FFDA44;' d='M383.974,34.329C281.558-24.8,155.278-5.093,75.351,74.599l428.058,247.139   C532.462,212.676,486.388,93.459,383.974,34.329z')
    path(style='fill:#FFDA44;' d='M128.017,477.66c102.414,59.129,228.697,39.422,308.622-40.269L8.58,190.249   C-20.471,299.314,25.601,418.531,128.017,477.66z')
    path(style='fill:#D80027;' d='M328.331,228.173c0,39.949-32.386,72.336-72.336,72.336s-72.336-32.386-72.336-72.336   c0-12.456,3.149-24.177,8.695-34.41c-15.697,16.053-25.388,38.005-25.388,62.231c0,49.169,39.859,89.029,89.029,89.029   s89.029-39.859,89.029-89.029c0-24.226-9.69-46.178-25.388-62.231C325.182,203.998,328.331,215.717,328.331,228.173z')
    rect(x='239.304' y='144.71' style='fill:#D80027;' width='33.386' height='166.929')
    path(style='fill:#D80027;' d='M311.638,178.095H200.353c0,7.683,6.693,13.911,14.375,13.911h-0.464   c0,7.683,6.229,13.911,13.911,13.911c0,7.683,6.229,13.911,13.911,13.911h27.821c7.683,0,13.911-6.228,13.911-13.911   c7.683,0,13.911-6.228,13.911-13.911h-0.463C304.946,192.005,311.638,185.779,311.638,178.095z')
    rect(x='178.097' y='322.767' style='fill:#D80027;' width='155.8' height='33.386')
    rect(x='289.382' y='333.896' style='fill:#D80027;' width='66.771' height='33.386')
    rect(x='155.84' y='333.896' style='fill:#D80027;' width='66.771' height='33.386')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
