<template lang="pug">
  g(data-name="Layer 2")
    circle(style='fill:#F0F0F0;' cx='256' cy='256' r='256')
    path(d='M144.696,345.043l22.261,151.036C194.689,506.37,224.686,512,256,512c110.07,0,203.906-69.472,240.076-166.957H144.696z')
    path(style='fill:#6DA544;' d='M144.696,166.957l22.261-151.036C194.689,5.63,224.686,0,256,0  c110.07,0,203.906,69.472,240.076,166.957H144.696z')
    path(style='fill:#A2001D;' d='M0,256c0,110.071,69.473,203.906,166.957,240.077V15.923C69.473,52.094,0,145.929,0,256z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
