<template lang="pug">
  g(data-name="Layer 2")
    path(style='fill:#D80027;' d='M512,256c0,141.384-114.616,256-256,256S0,397.384,0,256c11.13,0,256-33.391,256-33.391L512,256z')
    path(style='fill:#0052B4;' d='M0,256C0,114.616,114.616,0,256,0s256,114.616,256,256')
    path(style='fill:#FFDA44;' d='M189.217,178.087c0-18.441-14.95-33.391-33.391-33.391c-8.555,0-16.352,3.22-22.261,8.509v-19.64  h11.13v-22.261h-11.13v-11.13h-22.261v11.13h-11.13v22.261h11.13v19.64c-5.909-5.289-13.706-8.509-22.261-8.509  c-18.441,0-33.391,14.95-33.391,33.391c0,9.887,4.301,18.767,11.13,24.882v19.64h111.304v-19.64  C184.917,196.854,189.217,187.974,189.217,178.087z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>

<style lang="sass" scoped>
g
  border: 1px solid #000
</style>
