<template lang="pug">
  g(data-name="Layer 2")
    path(style='fill:#F0F0F0;' d='M496.077,345.043C506.367,317.31,512,287.314,512,256s-5.633-61.31-15.923-89.043L256,144.696  L15.923,166.957C5.633,194.69,0,224.686,0,256s5.633,61.31,15.923,89.043L256,367.304L496.077,345.043z')
    path(style='fill:#D80027;' d='M256,512c110.07,0,203.906-69.472,240.076-166.957H15.922C52.094,442.528,145.928,512,256,512z')
    path(style='fill:#6DA544;' d='M256,0C145.928,0,52.094,69.472,15.922,166.957h480.155C459.906,69.472,366.07,0,256,0z')
    path(d='M74.98,74.98c-99.974,99.974-99.974,262.065,0,362.04c26.095-26.095,51.565-51.565,91.976-91.976V166.957L74.98,74.98z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
