<template lang="pug">
  g(data-name="Layer 2")
    circle(style='fill:#6DA544;' cx='256' cy='256' r='256')
    path(style='fill:#F0F0F0;' d='M144.696,306.087c0,18.441,14.95,33.391,33.391,33.391h100.174   c0,15.368,12.458,27.826,27.826,27.826h33.391c15.368,0,27.826-12.458,27.826-27.826v-33.391H144.696z')
    path(style='fill:#F0F0F0;' d='M370.087,144.696v77.913c0,12.275-9.986,22.261-22.261,22.261v33.391   c30.687,0,55.652-24.966,55.652-55.652v-77.913H370.087z')
    path(style='fill:#F0F0F0;' d='M130.783,222.609c0,12.275-9.986,22.261-22.261,22.261v33.391c30.687,0,55.652-24.966,55.652-55.652   v-77.913h-33.391V222.609z')
    rect(x='320' y='144.696' style='fill:#F0F0F0;' width='33.391' height='77.913')
    path(style='fill:#F0F0F0;' d='M269.913,189.217c0,3.069-2.497,5.565-5.565,5.565s-5.565-2.497-5.565-5.565v-44.522h-33.391v44.522   c0,3.069-2.497,5.565-5.565,5.565s-5.565-2.497-5.565-5.565v-44.522H180.87v44.522c0,21.481,17.476,38.957,38.957,38.957   c8.273,0,15.945-2.6,22.261-7.016c6.315,4.415,13.988,7.016,22.261,7.016c1.666,0,3.304-0.117,4.915-0.322   c-2.366,9.749-11.146,17.017-21.611,17.017v33.391c30.687,0,55.652-24.966,55.652-55.652v-33.391v-44.522h-33.391V189.217z')
    rect(x='180.87' y='244.87' style='fill:#F0F0F0;' width='50.087' height='33.391')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
