<template lang="pug">
  g(data-name="Layer 2")
    circle(style='fill:#F0F0F0;' cx='256' cy='256' r='256')
    path#SVGCleanerId_0(style='fill:#338AF3;' d='M256,189.217h247.181c-6.419-23.814-16.175-46.255-28.755-66.783H256V189.217z')
    path(style='fill:#338AF3;' d='M96.643,456.348h318.713c23.363-18.608,43.399-41.21,59.069-66.783H37.574   C53.245,415.137,73.281,437.74,96.643,456.348z')
    path(style='fill:#338AF3;' d='M256,0c0,22.261,0,55.652,0,55.652h159.357C371.627,20.824,316.249,0,256,0z')
    path#SVGCleanerId_0_1_(style='fill:#338AF3;' d='M256,189.217h247.181c-6.419-23.814-16.175-46.255-28.755-66.783H256   V189.217z')
    path(style='fill:#338AF3;' d='M0,256c0,23.107,3.08,45.489,8.819,66.783h494.363C508.92,301.489,512,279.107,512,256H0z')
    polygon(style='fill:#FFDA44;' points='222.609,149.821 191.343,164.528 207.992,194.808 174.042,188.314 169.74,222.609   146.094,197.385 122.446,222.609 118.145,188.314 84.195,194.806 100.843,164.527 69.579,149.821 100.844,135.116 84.195,104.836   118.144,111.33 122.447,77.035 146.094,102.259 169.741,77.035 174.042,111.33 207.993,104.836 191.344,135.117 ')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
