<template lang="pug">
  g(data-name="Layer 2")
    circle(style='fill:#F0F0F0;' cx='256' cy='256' r='256')
    path(style='fill:#751A46;' d='M512,256C512,114.616,397.384,0,256,0c-50.08,0-96.794,14.395-136.252,39.251l56.113,23.841  L100.174,95.25l75.687,32.157l-75.687,32.156l75.687,32.155l-75.687,32.151l75.687,32.149l-75.687,32.156l75.687,32.154  l-75.687,32.151l75.687,32.154l-75.687,32.156l75.687,32.151l-56.088,23.828C159.226,497.612,205.93,512,256,512  C397.384,512,512,397.384,512,256z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
