<template lang="pug">
  g(data-name="Layer 2")
    circle(style='fill:#FFF;' cx='256' cy='256' r='256')
    circle(style='fill:#D80027;' cx='256' cy='256' r='111.304')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
