<template lang="pug">
  g(data-name="Layer 2")
    circle(style='fill:#FCFCFC;' cx='256' cy='256' r='256')
    path(style='fill:#6DA544;' d='M400.696,222.609c-7.791,0-17.438,0-33.391,0c0,61.472-49.834,111.304-111.304,111.304  c-61.473,0-111.304-49.832-111.304-111.304c-10.76,0-22.633,0-33.391,0c0,66.215,44.476,122.042,105.186,139.235  c-6.656,12.644-5.642,28.563,3.866,40.428c12.488-10.009,25.417-20.37,36.385-29.158c10.968,8.789,23.898,19.15,36.385,29.158  c9.602-11.983,10.547-28.104,3.67-40.809C356.843,343.848,400.696,288.353,400.696,222.609z')
    path(style='fill:#FFDA44;' d='M166.957,211.478c0,0,0,55.652,55.652,55.652l11.13,11.13H256c0,0,11.13-33.391,33.391-33.391  c0,0,0-22.261,22.261-22.261s33.391,0,33.391,0s-11.13-44.522,44.522-77.913l-22.261-11.13c0,0-77.913,55.652-133.565,44.522v22.261  h-22.261l-11.13-11.13L166.957,211.478z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
