<template lang="pug">
  g(data-name="Layer 2")
    path(style='fill:#D80027;' d='M0,256c0,44.35,11.283,86.064,31.127,122.435L256,400.696l224.873-22.261  C500.717,342.064,512,300.35,512,256s-11.283-86.064-31.127-122.435L256,111.304L31.127,133.565C11.283,169.936,0,211.65,0,256z')
    path(style='fill:#0052B4;' d='M31.127,133.565h449.745C437.454,53.989,353.035,0,256,0S74.546,53.989,31.127,133.565z')
    path(style='fill:#0052B4;' d='M256,512c97.035,0,181.454-53.989,224.873-133.565H31.127C74.546,458.011,158.965,512,256,512z')
    polygon(style='fill:#F0F0F0;' points='345.043,306.087 345.043,272.696 322.783,272.696 322.783,228.174 300.522,205.913   278.261,228.174 278.261,183.652 256,161.391 233.739,183.652 233.739,228.174 211.478,205.913 189.217,228.174 189.217,272.696   166.957,272.696 166.957,306.087 144.696,306.087 144.696,339.478 367.304,339.478 367.304,306.087 ')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
