<template lang="pug">
  g(data-name="Layer 2")
    circle(style='fill:#D80027;' cx='256' cy='256' r='256')
    polygon(style='fill:#FFDA44;' points='256,133.565 283.628,218.594 373.033,218.594 300.702,271.144 328.33,356.174 256,303.623   183.67,356.174 211.298,271.144 138.968,218.594 228.372,218.594 ')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
