<template lang="pug">
  g(data-name="Layer 2")
    circle(style='fill:#F0F0F0;' cx='256' cy='256' r='256')
    path(style='fill:#D80027;' d='M256,0c-51.376,0-99.208,15.145-139.3,41.198l65.839,44.129l-82.365,42.666l82.365,42.666  l-82.365,42.666l82.365,42.661l-82.365,42.665l82.365,42.665l-82.365,42.67l82.365,42.666l-65.847,44.143  C156.786,496.853,204.621,512,256,512c141.384,0,256-114.616,256-256S397.384,0,256,0z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
