<template lang="pug">
  g(data-name="Layer 2")
    circle(style='fill:#D80027;' cx='256' cy='256' r='256')
    polygon(style='fill:#FFF;' points='245.518,209.186 266.523,238.131 300.54,227.101 279.502,256.021 300.504,284.965    266.499,273.893 245.462,302.813 245.484,267.052 211.478,255.98 245.496,244.95  ')
    path(style='fill:#FFF;' d='M188.194,328.348c-39.956,0-72.348-32.392-72.348-72.348s32.392-72.348,72.348-72.348   c12.458,0,24.18,3.151,34.414,8.696c-16.055-15.702-38.012-25.392-62.24-25.392c-49.178,0-89.043,39.866-89.043,89.043   s39.866,89.043,89.043,89.043c24.23,0,46.186-9.691,62.24-25.392C212.374,325.197,200.652,328.348,188.194,328.348z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
