<template lang="pug">
  g(data-name="Layer 2")
    circle(style='fill:#D80027;' cx='256' cy='256' r='256')
    polygon(style='fill:#FFF;' points='389.565,211.479 300.522,211.479 300.522,122.435 211.478,122.435 211.478,211.479   122.435,211.479 122.435,300.522 211.478,300.522 211.478,389.565 300.522,389.565 300.522,300.522 389.565,300.522 ')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
