<template lang="pug">
  g(data-name="Layer 2")
    circle(style='fill:#F0F0F0;' cx='256' cy='256' r='256')
    path(style='fill:#D80027;' d='M0,256c0,97.035,53.99,181.455,133.565,224.873V31.127C53.99,74.545,0,158.965,0,256z')
    path(style='fill:#D80027;' d='M496.078,345.043C506.368,317.31,512,287.314,512,256s-5.632-61.311-15.922-89.043H15.924   C5.633,194.689,0,224.686,0,256s5.633,61.31,15.924,89.043L256,367.304L496.078,345.043z')
    path(style='fill:#6DA544;' d='M256,512c110.072,0,203.906-69.472,240.078-166.957H15.924C52.094,442.528,145.93,512,256,512z')
    path(style='fill:#D80027;' d='M0,256c0,118.279,80.221,217.805,189.217,247.181V8.819C80.221,38.195,0,137.721,0,256z')
    polygon(style='fill:#F0F0F0;' points='156.617,112.654 133.006,89.043 117.266,104.785 101.526,89.043 77.915,112.654   93.656,128.395 77.913,144.137 101.524,167.748 117.265,152.006 133.006,167.748 156.617,144.137 140.876,128.395 ')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
