<template lang="pug">
  g(data-name="Layer 2")
    circle(style='fill:#FFDA44;' cx='256' cy='256' r='256')
    path(style='fill:#0052B4;' d='M200.349,222.609h309.484C493.47,97.002,386.067,0,256,0c-19.114,0-37.733,2.113-55.652,6.085   v216.524H200.349z')
    path(style='fill:#0052B4;' d='M133.565,222.608V31.127C63.271,69.481,12.95,139.832,2.167,222.609h131.398V222.608z')
    path(style='fill:#0052B4;' d='M133.564,289.391H2.167c10.783,82.777,61.104,153.128,131.398,191.481L133.564,289.391   L133.564,289.391z')
    path(style='fill:#0052B4;' d='M200.348,289.392v216.523C218.267,509.887,236.886,512,256,512   c130.067,0,237.47-97.002,253.833-222.609H200.348V289.392z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
