<template lang="pug">
  g(data-name="Layer 2")
    circle(style='fill:#FFF;' cx='256' cy='256' r='256')
    path(style='fill:#A2001D;' d='M0,256C0,114.616,114.616,0,256,0s256,114.616,256,256')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
