<template lang="pug">
  g
    path(:style="{fill}" d="M23.13,46a23,23,0,1,1,23-23A23,23,0,0,1,23.13,46Zm0-43a20,20,0,1,0,20,20A20,20,0,0,0,23.13,3Z" transform="translate(-0.13)")
    path(:style="{fill}" d="M21.8,27.78v1.47H14.74V27.78h2.7V19.66q0-.43,0-.88l-2.08,1.75a.69.69,0,0,1-.27.14.59.59,0,0,1-.26,0,.69.69,0,0,1-.22-.09.53.53,0,0,1-.15-.13l-.6-.85,3.91-3.36h1.58V27.78Z" transform="translate(-0.13)")
    path(:style="{fill}" d="M33,24.46v1.12a.41.41,0,0,1-.1.28.4.4,0,0,1-.31.12H31.17v3.28H29.49V26H23.88a.54.54,0,0,1-.36-.12.56.56,0,0,1-.19-.3l-.2-1,6.22-8.28h1.82v8.18Zm-3.47,0V19.72a10.35,10.35,0,0,1,.08-1.24l-4.36,6Z" transform="translate(-0.13)")
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  name: 'FourteenKMetalIcon',

  extends: _baseIcon
}
</script>
