<template lang="pug">
  g
    path.cls-1(d="M458.8,239.41v-3a20,20,0,0,0,0-40v-3a23,23,0,0,1,0,46Z" transform="translate(-435.8 -193.41)")
    path.cls-2(d="M458.8,239.41a23,23,0,0,1,0-46v3a20,20,0,0,0,0,40Z" transform="translate(-435.8 -193.41)")
    path.cls-2(d="M450.54,221.18h2.69v-8.12c0-.28,0-.57,0-.88l-2.08,1.76a.7.7,0,0,1-.27.14.57.57,0,0,1-.26,0l-.22-.08a.67.67,0,0,1-.15-.14l-.6-.84,3.91-3.36h1.57v11.52h2.44v1.47h-7.06Z" transform="translate(-435.8 -193.41)")
    path.cls-2(d="M467,217.86h1.79V219a.42.42,0,0,1-.1.28.43.43,0,0,1-.31.11H467v3.28h-1.68v-3.28h-5.61a.56.56,0,0,1-.36-.12.54.54,0,0,1-.19-.3l-.2-1,6.22-8.28H467Zm-1.68-4.73c0-.18,0-.38,0-.59s0-.43.07-.66l-4.36,6h4.28Z" transform="translate(-435.8 -193.41)")
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  name: 'FourteenKDoubleReverseMetalIcon',

  extends: _baseIcon
}
</script>

<style lang="sass" scoped>
.cls-1
  fill: #898989

.cls-2
  fill: #d5a82a
</style>
