<template lang="pug">
  g
    path(:style='{fill}', d='M44.88,7a1.39,1.39,0,0,0,1.89-.5,1.38,1.38,0,1,0-1.89.5Z')
    path(:style='{fill}', d='M29,2.74a1.38,1.38,0,0,0,1.38-1.37,1.38,1.38,0,0,0-2.76,0A1.38,1.38,0,0,0,29,2.74Z')
    path(:style='{fill}', d='M29,39.16a1.37,1.37,0,1,0-1.38-1.37A1.38,1.38,0,0,0,29,39.16Z')
    path(:style='{fill}', d='M13.12,7a1.36,1.36,0,0,0,.5-1.87,1.38,1.38,0,0,0-2.39,1.37A1.39,1.39,0,0,0,13.12,7Z')
    path(:style='{fill}', d='M29,13.69a1.37,1.37,0,0,0,1.38-1.37V6.85a1.38,1.38,0,0,0-2.76,0v5.47A1.37,1.37,0,0,0,29,13.69Z')
    path(:style='{fill}', d='M16.76,15.94a1.38,1.38,0,0,0,1.19.69,1.31,1.31,0,0,0,.69-.19,1.36,1.36,0,0,0,.51-1.87L16.39,9.83a1.38,1.38,0,0,0-1.89-.5A1.36,1.36,0,0,0,14,11.2Z')
    path(:style='{fill}', d='M39.36,16.44a1.31,1.31,0,0,0,.69.19,1.38,1.38,0,0,0,1.19-.69L44,11.2a1.36,1.36,0,0,0-.51-1.87,1.38,1.38,0,0,0-1.89.5l-2.76,4.74A1.36,1.36,0,0,0,39.36,16.44Z')
    path(:style='{fill}', d='M58,37.78v-.24s0,0,0,0v-.09s0,0,0,0l0,0s0,0,0-.05,0,0,0,0v0l0-.06a.08.08,0,0,1,0,0h0L49.55,22.6l0,0-.07-.11,0,0-.11-.13h0a.65.65,0,0,0-.12-.11l0,0a.41.41,0,0,0-.11-.07l0,0L48.88,22h0L48.72,22h0l-.13,0H9.46l-.13,0h0L9.15,22h0L9,22.09l0,0-.11.07,0,0-.11.09h0l-.11.13,0,0-.07.11v0L.2,37.08h0l0,0h0l0,.05,0,0v0s0,0,0,0l0,.06v0l0,.05s0,0,0,0v0s0,0,0,0a.11.11,0,0,1,0,.05v.08a.09.09,0,0,0,0,0v.05H0v.29l0,.05v.08s0,0,0,0v0l0,.05,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0L28.14,69.54l.11.11h0l.12.1.05,0,.12.07h0l.17.07h0l.14,0h.47l.14,0,0,0a.58.58,0,0,0,.17-.06l0,0,.13-.07,0,0,.12-.1,0,0,.11-.1L57.65,38.69h0l0,0,0,0,0,0,0,0a.08.08,0,0,1,0,0l0,0v0l0,0,0-.05v0l0,0a.43.43,0,0,1,0,0v0l0,0a.09.09,0,0,1,0-.05V38a.13.13,0,0,0,0-.06v0a.09.09,0,0,0,0,0v-.07ZM9.49,26.36l4.33,10.06H3.75ZM54.25,36.42h-10l4.24-10Zm-30.77,0H19l10-11.1,10.13,11.1H34.52a1.37,1.37,0,1,0,0,2.74h5.61l-11,26L18,39.16h5.48a1.37,1.37,0,1,0,0-2.74Zm18.31-1.18-9.68-10.6H46.27Zm-25.47,0L11.76,24.64H25.91ZM15,39.16l9.61,22.35L4.47,39.16Zm28.13,0H53.56L33.69,61.48Z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
