<template lang="pug">
  g
    path(:style='{fill}', d='M33,1V33H1V1H33m1-1H0V34H34V0Z')
    rect(:style='{fill}', x='6', y='19', width='9', height='9')
    rect(:style='{fill}', x='19', y='19', width='9', height='9')
    rect(:style='{fill}', x='6', y='6', width='9', height='9')
    rect(:style='{fill}', x='19', y='6', width='9', height='9')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
