<template lang="pug">
  g#Layer_2(data-name='Layer 2')
    path(:style='{fill}', d='M19.61,40A19.83,19.83,0,0,1,0,20,19.83,19.83,0,0,1,19.61,0,.38.38,0,0,1,20,.39V39.61a.38.38,0,0,1-.38.39M19.23.78A19.07,19.07,0,0,0,.76,20,19.07,19.07,0,0,0,19.23,39.22Z', transform='translate(0 0)')
    path(:style='{fill}', d='M12.53,33.08a.38.38,0,0,1-.3-.15L6.91,26.09a.41.41,0,0,1-.08-.24V14.24A.38.38,0,0,1,6.92,14l5.31-6.71a.38.38,0,0,1,.48-.09L15.87,9a.38.38,0,0,1,.15.52.37.37,0,0,1-.52.15L12.62,8l-5,6.35V25.71l5,6.47,2.87-1.76a.37.37,0,0,1,.52.13.39.39,0,0,1-.13.53L12.72,33a.35.35,0,0,1-.19.06', transform='translate(0 0)')
    path(:style='{fill}', d='M19.61,40a.38.38,0,0,1-.26-.11l-7-6.84L6.91,32.3a.38.38,0,0,1-.33-.4L6.83,26l-4.1-5.83a.39.39,0,0,1,0-.46l4.1-5.56L6.58,8.45a.38.38,0,0,1,.32-.4l5.45-.89,7-7a.38.38,0,0,1,.47,0A.38.38,0,0,1,20,.51l-1.9,6a.24.24,0,0,1-.05.1L16.07,9.45V30.64l1.83,2.87a.2.2,0,0,1,0,.08l2,5.82a.36.36,0,0,1,.06.2.4.4,0,0,1-.38.39ZM7.35,31.58l5.23.72a.43.43,0,0,1,.21.11l5.94,5.8-1.49-4.32L15.37,31a.37.37,0,0,1-.06-.21V9.33a.36.36,0,0,1,.07-.22l2-2.92,1.4-4.41-6,6a.33.33,0,0,1-.2.11l-5.24.85.24,5.46a.38.38,0,0,1-.08.25l-4,5.45,4,5.7a.43.43,0,0,1,.07.25Z', transform='translate(0 0)')
    path(:style='{fill}', d='M9.49,37.2h0a.37.37,0,0,1-.31-.2L6.77,32.37l-1.86.56a.38.38,0,0,1-.47-.26.39.39,0,0,1,.26-.48l2.15-.65a.38.38,0,0,1,.44.19L9.55,36.1l2.67-3.64a.38.38,0,0,1,.38-.15l4.73.94V6.85L12.61,7.91a.39.39,0,0,1-.4-.16L9.77,4.13,7.29,8.62a.38.38,0,0,1-.45.18L4.56,8a.38.38,0,0,1,.24-.73l2,.67L9.41,3.21a.37.37,0,0,1,.64,0l2.64,3.91L17.63,6a.37.37,0,0,1,.32.07.41.41,0,0,1,.14.31V33.72A.37.37,0,0,1,18,34a.38.38,0,0,1-.31.08l-5-1-2.9,3.94a.36.36,0,0,1-.3.15', transform='translate(0 0)')
    path(:style='{fill}', d='M7,32.3a.39.39,0,0,1-.28-.12L1,26.12a.41.41,0,0,1-.09-.38l1.74-5.82L.9,14.35A.41.41,0,0,1,1,14l5.69-5.8a.38.38,0,0,1,.54,0,.4.4,0,0,1,0,.54L1.7,14.34,3.4,19.8a.45.45,0,0,1,0,.23L1.69,25.75l5.54,5.9a.38.38,0,0,1,0,.54A.34.34,0,0,1,7,32.3', transform='translate(0 0)')
    path(:style='{fill}', d='M12.53,7.91h-.11a.39.39,0,0,1-.26-.48l1.77-6.19A.38.38,0,0,1,14.4,1a.39.39,0,0,1,.26.48l-1.77,6.2a.38.38,0,0,1-.36.27', transform='translate(0 0)')
    path(:style='{fill}', d='M14.3,39.14a.38.38,0,0,1-.37-.28L12.16,32.8a.39.39,0,0,1,.26-.48.37.37,0,0,1,.47.26l1.77,6.06a.38.38,0,0,1-.26.48l-.1,0', transform='translate(0 0)')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
