<template lang="pug">
  g#Layer_2(data-name='Layer 2')
    path(:style='{fill}', d='M23.6,5h-5.1c-0.2-1.1-0.8-2.2-1.6-3.1C15.7,0.7,14.1,0,12.5,0S9.3,0.7,8.1,1.9C7.3,2.8,6.7,3.9,6.5,5H1.4C0.6,5,0,5.7,0,6.5S0.6,8,1.4,8h5.1c0.3,1.2,0.8,2.3,1.6,3.1c1.2,1.2,2.7,1.9,4.4,1.9s3.2-0.7,4.4-1.9c0.9-0.9,1.4-2,1.6-3.1h5.1C24.4,8,25,7.3,25,6.5C25,5.7,24.4,5,23.6,5z M23.6,7.4h-5c0.1-0.6,0.1-1.2,0-1.8h5c0.5,0,0.8,0.4,0.8,0.9C24.4,7,24.1,7.4,23.6,7.4z M0.6,6.5c0-0.5,0.4-0.9,0.8-0.9h5c0,0.3-0.1,0.6-0.1,0.9c0,0.3,0,0.6,0.1,0.9h-5C0.9,7.4,0.6,7,0.6,6.5z M14.2,11.7c-0.5,0.2-1-0.1-1.2-0.6c-0.2-0.5,0.1-1.1,0.5-1.2c0.1,0,0.2-0.1,0.3-0.1c0.4,0,0.7,0.3,0.9,0.6c0.1,0.2,0.1,0.5,0,0.7C14.6,11.4,14.4,11.6,14.2,11.7z M10.6,11.6c-0.5-0.2-0.7-0.7-0.5-1.2c0.1-0.4,0.5-0.6,0.9-0.6c0.1,0,0.2,0,0.3,0.1c0.5,0.2,0.7,0.7,0.5,1.2C11.6,11.6,11,11.8,10.6,11.6z M10.6,3c0,0.3-0.1,0.5-0.3,0.7C9.9,4,9.3,3.9,9,3.5C8.8,3.3,8.7,3.1,8.8,2.8c0-0.3,0.1-0.5,0.3-0.7C9.3,2,9.5,2,9.7,2c0.3,0,0.5,0.1,0.7,0.3C10.5,2.5,10.6,2.7,10.6,3z M17.6,5.6c0.1,0.5-0.2,1-0.7,1.1c-0.5,0.1-1-0.3-1.1-0.8c0-0.3,0-0.5,0.1-0.7s0.4-0.4,0.6-0.4c0.1,0,0.1,0,0.2,0C17.2,4.8,17.6,5.1,17.6,5.6z M14.3,8.4c-1,1-2.7,1-3.6,0c-0.5-0.5-0.8-1.2-0.8-1.9s0.3-1.4,0.8-1.9s1.1-0.8,1.8-0.8c0.7,0,1.3,0.3,1.8,0.8C15.3,5.6,15.3,7.4,14.3,8.4z M16.2,2.9c0,0.3-0.1,0.5-0.2,0.7c-0.3,0.4-0.9,0.4-1.3,0.1c-0.2-0.2-0.3-0.4-0.3-0.7s0.1-0.5,0.2-0.7C14.8,2.2,15,2,15.3,2c0.2,0,0.4,0.1,0.6,0.2C16.1,2.4,16.2,2.7,16.2,2.9z M14.2,2c-0.3,0.3-0.4,0.7-0.3,1.1c0,0.2,0.1,0.3,0.1,0.5c-0.3-0.1-0.5-0.3-0.8-0.3C13.6,3,14,2.5,14,1.9c0-0.5-0.2-0.9-0.6-1.2c0.8,0.1,1.5,0.4,2.1,0.8C15,1.4,14.5,1.6,14.2,2z M12.5,0.9c0.5,0,0.9,0.4,0.9,1c0,0.5-0.4,1-0.9,1c-0.5,0-0.9-0.4-0.9-1S12,0.9,12.5,0.9z M9.1,5.8C9,6.3,8.5,6.6,8,6.5c-0.2,0-0.5-0.2-0.6-0.4C7.3,5.9,7.2,5.7,7.3,5.4C7.3,5,7.7,4.6,8.2,4.6c0.1,0,0.1,0,0.2,0c0.2,0,0.5,0.2,0.6,0.4C9,5.3,9.1,5.5,9.1,5.8z M9.4,8.2c0.1,0.2,0.2,0.5,0.1,0.7C9.5,9.2,9.3,9.4,9.1,9.5c-0.4,0.3-1,0.1-1.3-0.4C7.6,8.7,7.7,8.1,8.2,7.9c0.1-0.1,0.3-0.1,0.5-0.1C9,7.7,9.3,7.9,9.4,8.2z M16.6,8c0.4,0.3,0.6,0.9,0.3,1.3c-0.2,0.4-0.8,0.6-1.2,0.4c-0.4-0.3-0.6-0.9-0.3-1.3c0.2-0.3,0.5-0.5,0.8-0.5C16.3,7.8,16.5,7.9,16.6,8z M16.5,4.2c-0.4,0.1-0.7,0.3-0.9,0.6c-0.1,0.1-0.1,0.2-0.2,0.4c-0.1-0.3-0.3-0.5-0.4-0.7c0.1,0,0.2,0.1,0.4,0.1c0.4,0,0.8-0.2,1.1-0.6c0.2-0.3,0.4-0.7,0.3-1.1c0-0.1,0-0.2,0-0.3c0.5,0.6,0.9,1.4,1.1,2.1C17.5,4.3,17,4.1,16.5,4.2z M11,1.9c0,0.6,0.4,1.2,0.9,1.4c-0.3,0.1-0.6,0.2-0.9,0.4c0.1-0.2,0.2-0.4,0.2-0.6c0-0.4-0.1-0.8-0.3-1.1c-0.3-0.4-0.7-0.5-1.1-0.5c0.6-0.4,1.3-0.6,1.9-0.7C11.3,0.9,11,1.4,11,1.9z M8.6,3.9c0.3,0.4,0.7,0.6,1.1,0.6c0.2,0,0.3,0,0.5-0.1C9.9,4.7,9.7,5,9.6,5.3c0-0.2-0.1-0.4-0.2-0.6C9.2,4.4,8.8,4.2,8.4,4.1C8,4,7.6,4.1,7.3,4.4c0.2-0.7,0.6-1.3,1-1.8c0,0-0.1,0.1-0.1,0.1C8.2,3.2,8.3,3.6,8.6,3.9z M6.9,6.5c0-0.1,0-0.1,0-0.2C6.9,6.4,6.9,6.4,6.9,6.5c0.3,0.3,0.7,0.5,1,0.6c0.1,0,0.2,0,0.3,0c0.5,0,1-0.3,1.2-0.7c0,0.4,0,0.7,0.2,1.1C9.1,7.1,8.4,7,7.9,7.3C7.5,7.6,7.3,8,7.2,8.4C7,7.8,6.9,7.2,6.9,6.5z M8.6,10.2c0.3,0,0.5-0.1,0.7-0.2c0.3-0.2,0.6-0.5,0.7-0.9c0-0.2,0.1-0.4,0-0.5c0.1,0.1,0.1,0.2,0.2,0.3c0.1,0.1,0.3,0.3,0.5,0.4c-0.5,0.1-1,0.4-1.2,1c-0.2,0.5-0.1,1,0.2,1.4c-0.4-0.3-0.8-0.6-1.2-0.9c-0.2-0.2-0.3-0.4-0.5-0.6C8.2,10.2,8.4,10.2,8.6,10.2z M12.3,11.3c0.2-0.5,0.1-1.1-0.3-1.5c0.2,0,0.3,0,0.5,0c0.1,0,0.2,0,0.3,0c-0.4,0.4-0.5,1-0.3,1.6c0.2,0.5,0.6,0.9,1.2,1c-0.4,0.1-0.8,0.1-1.1,0.1c-0.5,0-0.9-0.1-1.4-0.2C11.7,12.1,12.1,11.8,12.3,11.3z M14.9,11.8c0.1-0.1,0.2-0.2,0.3-0.4c0.2-0.4,0.2-0.8,0-1.2c-0.2-0.5-0.6-0.9-1.1-1c0.2-0.1,0.4-0.3,0.6-0.5c0,0,0,0,0,0c0,0.5,0.3,1.1,0.7,1.3c0.2,0.1,0.5,0.2,0.7,0.2s0.5-0.1,0.7-0.2c-0.1,0.2-0.3,0.4-0.4,0.5C16,11.2,15.5,11.6,14.9,11.8z M16.9,7.5c-0.5-0.3-1-0.2-1.5,0c0.1-0.3,0.1-0.5,0.1-0.8c0.3,0.4,0.7,0.6,1.1,0.6c0.1,0,0.2,0,0.3,0c0.5-0.1,0.9-0.5,1.1-1c0,0.9-0.1,1.8-0.5,2.6C17.7,8.3,17.4,7.8,16.9,7.5z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
