<template lang="pug">
  g#Layer_2(data-name='Layer 2')
    rect(:style='{fill}', width='173', height='18')
    rect(:style='{fill}', y='68', width='173', height='18')
    rect(:style='{fill}', y='136', width='173', height='18')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
