<template lang="pug">
  g#Layer_2(data-name='Layer 2')
    path(:style='{fill}', d='M12.5,26a.3.3,0,0,1-.16-.05C11.83,25.64,0,18.1,0,9,0,3.1,4,0,7.88,0a5.49,5.49,0,0,1,4.61,2.17A5.31,5.31,0,0,1,17.05,0c3.85,0,8,3.14,8,9,0,9.15-11.83,16.69-12.34,17a.3.3,0,0,1-.16.05M7.88.64C4.26.64.61,3.5.61,9c0,8.26,10.45,15.44,11.89,16.39C13.94,24.39,24.39,17.2,24.39,9,24.39,3.47,20.7.6,17.05.6a4.58,4.58,0,0,0-4.28,2.33.32.32,0,0,1-.26.17.36.36,0,0,1-.28-.16A4.78,4.78,0,0,0,7.88.64', transform='translate(0)')
    path(:style='{fill}', d='M12.5,19.42h0a.29.29,0,0,1-.21-.09L9.56,16.47,6.27,12a.2.2,0,0,1,0-.09L5,7.43a.32.32,0,0,1,.17-.35l3.6-1.6a.23.23,0,0,1,.18,0l3.54.71L16,5.46a.22.22,0,0,1,.18,0l3.64,1.6a.3.3,0,0,1,.17.33l-.89,4.37a.34.34,0,0,1-.06.12l-3.4,4.63a.08.08,0,0,1,0,0l-2.89,2.77a.32.32,0,0,1-.21.08M6.79,11.66,10,16.09l2.49,2.61,2.65-2.54,3.36-4.56.83-4.07L16,6.06l-3.47.71h-.12l-3.5-.71L5.66,7.52Z', transform='translate(0)')
    path(:style='{fill}', d='M12.5,6.48a.3.3,0,0,1-.3-.3V2.8a.3.3,0,0,1,.6,0V6.18a.3.3,0,0,1-.3.3', transform='translate(0)')
    path(:style='{fill}', d='M14.78,20.52a.31.31,0,0,1-.13,0l-2.28-1.1a.29.29,0,0,1-.14-.4.3.3,0,0,1,.4-.14l1.92.92.53-3.46a.31.31,0,0,1,.24-.25l3.4-.72-.24-3.6a.34.34,0,0,1,.11-.25L21.6,9,19.51,7.6a.26.26,0,0,1-.12-.18l-.64-2.7L16.2,6A.36.36,0,0,1,16,6L12.4,5a.3.3,0,0,1-.2-.38.31.31,0,0,1,.37-.2L16,5.43,18.82,4a.27.27,0,0,1,.26,0,.28.28,0,0,1,.17.2l.7,3,2.32,1.59a.31.31,0,0,1,.14.23.32.32,0,0,1-.11.24l-3.2,2.63.24,3.7a.29.29,0,0,1-.24.31l-3.45.74-.57,3.65a.27.27,0,0,1-.16.22.33.33,0,0,1-.14,0', transform='translate(0)')
    path(:style='{fill}', d='M12.5,25.7a.25.25,0,0,1-.12,0,.31.31,0,0,1-.16-.4l2.29-5.18a.28.28,0,0,1,.26-.18l4-.12-.06-4.22a.28.28,0,0,1,.2-.28l4.18-1.45L21.81,9.08a.32.32,0,0,1,0-.17l1.43-4.17-4.31-.16a.28.28,0,0,1-.24-.14L16.42,1,12.71,4.87a.31.31,0,0,1-.43,0,.3.3,0,0,1,0-.42l4-4.19a.28.28,0,0,1,.25-.09.26.26,0,0,1,.22.13L19.12,4l4.56.17a.29.29,0,0,1,.24.13.27.27,0,0,1,0,.26L22.42,9l1.35,5a.3.3,0,0,1-.19.36l-4.23,1.47.06,4.29a.31.31,0,0,1-.3.31L15,20.51l-2.2,5a.29.29,0,0,1-.28.18', transform='translate(0)')
    path(:style='{fill}', d='M19,4.58l-.11,0a.31.31,0,0,1-.17-.39L20,1a.31.31,0,0,1,.4-.16.29.29,0,0,1,.16.39L19.23,4.4a.3.3,0,0,1-.28.18', transform='translate(0)')
    path(:style='{fill}', d='M22.1,9.3A.3.3,0,0,1,21.8,9a.31.31,0,0,1,.3-.31l2.59,0A.32.32,0,0,1,25,9a.3.3,0,0,1-.3.3l-2.59.05Z', transform='translate(0)')
    path(:style='{fill}', d='M21.51,17.57a.34.34,0,0,1-.17-.05l-2.47-1.69a.3.3,0,0,1,.34-.5L21.68,17a.3.3,0,0,1,.08.42.33.33,0,0,1-.25.13', transform='translate(0)')
    path(:style='{fill}', d='M16.15,23.05a.31.31,0,0,1-.27-.15l-1.36-2.54a.3.3,0,0,1,.12-.41.3.3,0,0,1,.41.13l1.36,2.53a.3.3,0,0,1-.12.41.35.35,0,0,1-.14,0', transform='translate(0)')
    path(:style='{fill}', d='M10.18,20.52a.42.42,0,0,1-.15,0,.3.3,0,0,1-.15-.23L9.5,16.52l-3.63-.65a.3.3,0,0,1-.25-.34l.56-3.61L2.67,9.24A.29.29,0,0,1,2.56,9a.28.28,0,0,1,.13-.24L5,7.17l.7-3A.31.31,0,0,1,5.88,4a.29.29,0,0,1,.27,0L8.93,5.43,12.4,4.37a.3.3,0,0,1,.17.58L9,6a.36.36,0,0,1-.23,0L6.21,4.72l-.63,2.7a.27.27,0,0,1-.13.18L3.37,9,6.7,11.55a.31.31,0,0,1,.11.28l-.54,3.51L9.83,16a.32.32,0,0,1,.25.27l.36,3.52,1.93-.91a.3.3,0,1,1,.26.54l-2.32,1.1a.31.31,0,0,1-.13,0', transform='translate(0)')
    path(:style='{fill}', d='M12.55,25.72a.3.3,0,0,1-.28-.17l-2.29-5-4.09-.13a.31.31,0,0,1-.3-.3l0-4.29L1.44,14.31a.31.31,0,0,1-.2-.36L2.54,9,1,4.58a.29.29,0,0,1,0-.26.31.31,0,0,1,.24-.13L5.84,4,8.26.34A.3.3,0,0,1,8.49.2a.31.31,0,0,1,.24.1l4,4.15a.3.3,0,0,1,0,.42.31.31,0,0,1-.43,0L8.56,1,6.26,4.45A.28.28,0,0,1,6,4.58l-4.3.19L3.14,8.91a.25.25,0,0,1,0,.17L1.9,13.84,6,15.3a.27.27,0,0,1,.2.28l0,4.21,4,.13a.29.29,0,0,1,.26.17l2.37,5.21a.3.3,0,0,1-.15.4l-.12,0', transform='translate(0)')
    path(:style='{fill}', d='M6,4.58a.3.3,0,0,1-.28-.19L4.43,1.23A.3.3,0,0,1,5,1l1.3,3.17a.3.3,0,0,1-.17.39L6,4.58', transform='translate(0)')
    path(:style='{fill}', d='M2.86,9.3h0L.3,9.25A.3.3,0,0,1,0,9a.32.32,0,0,1,.31-.3l2.55,0a.31.31,0,0,1,.3.31.3.3,0,0,1-.3.29', transform='translate(0)')
    path(:style='{fill}', d='M3.48,17.55a.3.3,0,0,1-.25-.13A.29.29,0,0,1,3.31,17l2.44-1.68a.3.3,0,0,1,.42.08.3.3,0,0,1-.08.42L3.65,17.5a.34.34,0,0,1-.17.05', transform='translate(0)')
    path(:style='{fill}', d='M8.82,23a.43.43,0,0,1-.14,0,.29.29,0,0,1-.12-.4l1.35-2.52a.3.3,0,0,1,.41-.13.31.31,0,0,1,.13.41L9.09,22.88a.3.3,0,0,1-.27.16', transform='translate(0)')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
