<template lang="pug">
  g
    path(:style='{fill}', d="M179.1,286.8c-1.2,0-2.5-0.5-3.5-1.4l-33.8-31H34.3C15.4,254.4,0,239.2,0,220.6v-85c0-18.9,15.4-34.2,34.3-34.2h81.5V47.9c0-18.7,15.5-33.9,34.5-33.9h115.8c9.1,0,17.6,3.5,24,9.9c6.4,6.4,9.9,14.9,9.9,24v85c0,18.8-15.2,34.1-33.9,34.1h-98c-2.1,0-3.6,0-4.8,0c-0.7,0-1.3,0-2,0c-1.2,0-1.7,0-1.9,0.1l-0.6,0.1l-0.5,0.3c-0.7,0.5-1.9,1.6-4,3.4c-0.3,0.3-0.6,0.6-1,0.9c-0.3,0.3-0.6,0.6-1,0.9L124.8,198c-1,0.9-2.2,1.4-3.5,1.4c-0.7,0-1.4-0.1-2.1-0.4c-1.9-0.9-3.2-2.8-3.2-4.7v-82.5H34.3c-13.2,0-24,10.7-24,23.9v85c0,12.9,10.8,23.5,24,23.5h109.5c1.1,0,2.4,0.5,3.4,1.5l26.6,24.5v-77.2c0-2.9,2.3-5.2,5.2-5.2s5.2,2.3,5.2,5.2v88.9c0,2.1-1.2,3.9-3,4.7C180.5,286.7,179.8,286.8,179.1,286.8z M150.3,24.3c-13.3,0-24.1,10.6-24.1,23.6v134.5l19.2-17.3c0.3-0.3,0.7-0.6,1-0.9c0.4-0.3,0.7-0.6,1.1-0.9c6.2-5.7,7.7-6.6,14.4-6.6c0.5,0,1.1,0,1.7,0c1.1,0,2.5,0,4.5,0h98c13,0,23.6-10.7,23.6-23.7v-85c0-13.2-10.3-23.6-23.6-23.6H150.3z M80.5,181.3c-2.9,0-5.2-2.3-5.2-5.2c0-2.9,2.3-5.2,5.2-5.2h0.6c2.9,0,5.2,2.3,5.2,5.2c0,2.9-2.3,5.2-5.2,5.2H80.5z M54.2,181.3c-2.9,0-5.2-2.3-5.2-5.2c0-2.9,2.3-5.2,5.2-5.2h0.6c2.9,0,5.2,2.3,5.2,5.2c0,2.9-2.3,5.2-5.2,5.2H54.2z M206.5,128.7c-2.8,0-5-2.3-5-5.1c0-3,2.2-5.2,5-5.2c2.9,0,5.2,2.3,5.2,5.2C211.7,126.4,209.4,128.7,206.5,128.7z M206.3,106.6c-2.9,0-5.1-2.2-5.2-5c-0.1-7,5.1-11.3,9.7-15.1l0.2-0.2c4.4-3.7,7.1-6.2,7.1-9.2c0-5.4-4.4-9.9-9.9-9.9c-5.4,0-9.9,4.4-9.9,9.9c0,2.9-2.3,5.2-5.2,5.2c-2.9,0-5.2-2.3-5.2-5.2c0-11.1,9.1-20.2,20.2-20.2c11.1,0,20.2,9.1,20.2,20.2c0,8.1-6,13.1-10.7,17.1l-0.3,0.3c-4.3,3.6-5.9,5.3-5.9,7.1c0,1.4-0.5,2.6-1.5,3.6C209.1,106.1,207.8,106.6,206.3,106.6L206.3,106.6z")
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
