<template lang="pug">
  g
    path(:style='{fill}', d='M33,1V33H1V1H33m1-1H0V34H34V0Z')
    rect(:style='{fill}', x='6', y='19', width='22', height='2')
    rect(:style='{fill}', x='6', y='25', width='22', height='2')
    rect(:style='{fill}', x='6', y='13', width='22', height='2')
    rect(:style='{fill}', x='6', y='7', width='22', height='2')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
