<template lang="pug">
  g
    path(:style='{fill}', d='M25,14.1C25,14,25,14,25,14.1l0-11.2C25,1.3,23.7,0,22.1,0H2.9C1.3,0,0,1.3,0,2.8V14c0,1.6,1.3,2.8,2.9,2.8c0,0,0,0,0,0h0.8v3.4c0,0.6,0.5,1.1,1.1,1.1c0,0,0,0,0,0c0.3,0,0.6-0.1,0.9-0.3l3.6-4.1h12.8C23.7,16.9,25,15.6,25,14.1z M9,15.3c-0.2,0-0.4,0.1-0.6,0.3l-3.2,3.6v-3.1c0-0.4-0.3-0.8-0.8-0.8c0,0,0,0,0,0H2.9c-0.7,0-1.3-0.6-1.3-1.3c0,0,0,0,0,0V2.8c0-0.7,0.6-1.3,1.3-1.3h0h19.3c0.7,0,1.3,0.6,1.3,1.3c0,0,0,0,0,0V14c0,0.7-0.6,1.3-1.3,1.3h0L9,15.3z')
    path(:style='{fill}', d='M28.1,4.6c-0.4,0-0.8,0.3-0.8,0.8c0,0,0,0,0,0c0,0.4,0.4,0.8,0.8,0.8c0.7,0,1.3,0.6,1.3,1.3v0v11.2c0,0.7-0.5,1.3-1.3,1.3c0,0,0,0-0.1,0h-1.6c-0.4,0-0.8,0.3-0.8,0.8v3l-3.1-3.6C22.5,20.1,22.2,20,22,20H10.4c-0.4,0-0.8,0.3-0.9,0.7c0,0.4,0.3,0.8,0.7,0.9c0.1,0,0.1,0,0.2,0h11.3l3.6,4.1c0.2,0.2,0.5,0.4,0.9,0.4c0.6,0,1.1-0.5,1.1-1.1c0,0,0,0,0,0v-3.4h0.8c1.6,0,2.8-1.3,2.9-2.8V7.4C31,5.9,29.7,4.6,28.1,4.6z')
    path(:style='{fill}', d='M12.5,7.8C12.5,7.8,12.5,7.8,12.5,7.8c-0.5,0-1,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9c0.5,0,0.9-0.4,0.9-0.9C13.4,8.2,13,7.8,12.5,7.8z')
    path(:style='{fill}', d='M15.6,7.8C15.6,7.8,15.6,7.8,15.6,7.8c-0.5,0-0.9,0.4-0.9,1c0,0.5,0.4,0.9,0.9,0.9c0.5,0,0.9-0.4,0.9-0.9c0,0,0,0,0,0C16.5,8.2,16.1,7.8,15.6,7.8z')
    path(:style='{fill}', d='M9.4,7.8C9.4,7.8,9.4,7.8,9.4,7.8c-0.5,0-0.9,0.4-0.9,1s0.4,0.9,0.9,0.9s0.9-0.4,0.9-0.9c0,0,0,0,0,0C10.3,8.2,9.9,7.8,9.4,7.8z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
