<template lang="pug">
  g#Layer_2(data-name='Layer 2')
    path(:style='{fill}', d='M390.17,130.6h-5.72l2.43-3.52c4.6-6.14,3.94-16.22-1.42-21.59a15.35,15.35,0,0,0-21.7,0c-5.36,5.37-6,15.45-1.44,21.56l2.45,3.55h-6L350,149h48.93Zm-15.42-20a5.6,5.6,0,1,1-5.6,5.6,5.6,5.6,0,0,1,5.6-5.6Zm-15,21.6h6.11l8.73,12.6,8.73-12.6h5.82l7.24,15.2H352.53Zm0,0', transform='translate(-350 -101)')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
