<template lang="pug">
  g
    path(:style='{fill}', d='M12.68,35a.84.84,0,0,1-.72-.39L1.87,18.68A12,12,0,0,1,0,12.24,12.39,12.39,0,0,1,12.5,0,12.39,12.39,0,0,1,25,12.24a12.08,12.08,0,0,1-1.76,6.28L13.4,34.6a.85.85,0,0,1-.72.4ZM12.5,1.65A10.72,10.72,0,0,0,1.68,12.24a10.39,10.39,0,0,0,1.63,5.57l9.35,14.77,9.12-14.92a10.4,10.4,0,0,0,1.53-5.42A10.71,10.71,0,0,0,12.5,1.65Z')
    path(:style='{fill}', d='M12.5,18.26a6.08,6.08,0,0,1-6.14-6,6.08,6.08,0,0,1,6.14-6,6.08,6.08,0,0,1,6.14,6,6,6,0,0,1-1.76,4.24A6.18,6.18,0,0,1,12.5,18.26Zm0-10.39A4.37,4.37,0,1,0,17,12.24,4.42,4.42,0,0,0,12.5,7.87Z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
