<template lang="pug">
  g
    path(:style='{fill}', d='M183.516,158.031A3.516,3.516,0,1,0,180,154.516,3.52,3.52,0,0,0,183.516,158.031Zm0-4.687a1.172,1.172,0,1,1-1.172,1.172A1.173,1.173,0,0,1,183.516,153.344Zm0,0' transform='translate(-165.938 -139.203)')
    path(:style='{fill}', d='M121.636,104.115l6.567,8.761,6.567-8.761a8.2,8.2,0,1,0-13.134,0ZM128.2,93.344a5.856,5.856,0,0,1,4.692,9.365l-4.692,6.259-4.691-6.259a5.8,5.8,0,0,1-1.168-3.506A5.866,5.866,0,0,1,128.2,93.344Zm0,0' transform='translate(-110.625 -83.891)')
    path(:style='{fill}', d='M30.469,35.313V0H3.516A3.52,3.52,0,0,0,0,3.516V36.484A3.52,3.52,0,0,0,3.516,40H30.469V37.656H28.125V35.313Zm-2.344-2.344H7.031V2.344H28.125ZM3.516,2.344H4.688V32.969H3.516a3.5,3.5,0,0,0-1.172.2V3.516A1.173,1.173,0,0,1,3.516,2.344ZM25.781,37.656H3.516a1.172,1.172,0,0,1,0-2.344H25.781Zm0,0')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
