<template lang="pug">
  g
    path(:style='{fill}', d='M631,125v0c0-141.14-114.85-256-256-256S119-16.17,119,125V125c0,141.14,114.85,256,256,256S631,266.17,631,125v0ZM385,360.77V313.05a10,10,0,1,0-20,0v47.72C242.81,355.65,144.35,257.19,139.23,135H187a10,10,0,0,0,0-20H139.23C144.35-7.19,242.81-105.65,365-110.77V-63a10,10,0,0,0,10,10,10,10,0,0,0,10-10v-47.72C507.19-105.65,605.65-7.19,610.77,115H563.05a10,10,0,0,0,0,20h47.72C605.65,257.19,507.19,355.65,385,360.77Zm0,0', transform='translate(-119 131)')
    path(:style='{fill}', d='M296.38,153,261.16,232a10,10,0,0,0,12.68,13.43L375,206.93l101.15,38.46a10.23,10.23,0,0,0,3.56.65A10,10,0,0,0,488.84,232L384.13-2.73a10,10,0,0,0-18.26,0L330.65,76.21m18.26,8.14M384.13-2.73', transform='translate(-119 131)')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
