<template lang="pug">
  g
    path(:style='{fill}', d='M24,0H1C0.5,0,0,0.4,0,1v5c0,0.5,0.5,1,1,1H24c0.6,0,1-0.4,1-1V1C25,0.4,24.5,0,24,0z M24.4,6c0,0.3-0.2,0.5-0.5,0.5H1C0.8,6.5,0.6,6.3,0.6,6V3.8h10.5c0,0.1,0,0.1,0.1,0.2c0.2,0.6,0.8,0.9,1.4,0.9c0.2,0,0.3,0,0.5-0.1c0.4-0.1,0.7-0.4,0.8-0.7c0.1-0.1,0.1-0.2,0.1-0.3h10.5V6z M11.6,3.5c0-0.5,0.4-0.9,0.9-0.9s0.9,0.4,0.9,0.9S13,4.4,12.5,4.4S11.6,4,11.6,3.5z M24.4,3.2H13.9c0-0.1,0-0.1-0.1-0.2c-0.3-0.7-1.1-1.1-1.9-0.9c-0.4,0.1-0.7,0.4-0.8,0.7c-0.1,0.1-0.1,0.2-0.1,0.3H0.6V1c0-0.3,0.2-0.5,0.5-0.5H24c0.3,0,0.5,0.2,0.5,0.5C24.4,1,24.4,3.2,24.4,3.2z')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
