<template lang="pug">
  g
    path(:style='{fill}', d='M128.9,51.6h1.7v6.1C55.8,74-0.2,141.2,1,221c1.3,87.7,72,159.5,159.7,162.1c93,2.7,169.5-72.1,169.5-164.5\
    c0-78.8-55.6-144.8-129.7-160.9v-6.1h1.7 M185,51.6V54h-39v-2.4H185z M168.9,367.7C84,369.6,14.5,300.1,16.4,215.2\
    c1.8-79.4,66.3-144,145.8-145.8c84.9-1.9,154.4,67.6,152.5,152.5C312.9,301.4,248.3,366,168.9,367.7z')
    path(:style='{fill}', d='M165.7,93.1c-69.2,0-125.5,56.3-125.5,125.5s56.3,125.5,125.5,125.5s125.5-56.3,125.5-125.5S234.9,93.1,165.7,93.1z\
    M165.7,328.7c-60.7,0-110.1-49.4-110.1-110.1S105,108.5,165.7,108.5s110.1,49.4,110.1,110.1S226.4,328.7,165.7,328.7z')
    path(:style='{fill}', d='M202.2,51.6H129c-3.7,0-6.7-3-6.7-6.7l0,0c0-3.7,3-6.7,6.7-6.7h73.2c3.7,0,6.7,3,6.7,6.7l0,0\
    C208.9,48.6,205.9,51.6,202.2,51.6z')
    path(:style='{fill}', d='M136.4,43.5L101.2,8.2c-1.9-1.9-1.9-4.9,0-6.8l0,0c1.9-1.9,4.9-1.9,6.8,0l35.3,35.3c1.9,1.9,1.9,4.9,0,6.8l0,0\
    C141.4,45.4,138.3,45.4,136.4,43.5z')
    path(:style='{fill}', d='M194.7,43.5L230,8.2c1.9-1.9,1.9-4.9,0-6.8l0,0c-1.9-1.9-4.9-1.9-6.8,0l-35.3,35.3c-1.9,1.9-1.9,4.9,0,6.8l0,0\
    C189.7,45.4,192.8,45.4,194.7,43.5z')
    path(:style='{fill}', d='M170.5,39.1V12.8c0-2.7-2.2-4.8-4.8-4.8l0,0c-2.7,0-4.8,2.2-4.8,4.8v26.3c0,2.7,2.2,4.8,4.8,4.8l0,0\
    C168.4,43.9,170.5,41.8,170.5,39.1z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
