<template lang="pug">
  g
    path(:style='{fill}', d='M155.86,52.061c-.066-.4-.241-1.467-4.17-7.019a1.9,1.9,0,0,0-1.969-.733,1.772,1.772,0,0,0-1.422,1.473,37.9,37.9,0,0,0-.614,7.458c.624,3.79,1.292,11.055-1.24,17.124-.013.03-.025.06-.038.094l-.8,2.061-.8-2.064c-.012-.03-.024-.061-.035-.086-2.533-6.073-1.865-13.338-1.241-17.128a36.248,36.248,0,0,0-.615-7.315,1.774,1.774,0,0,0-1.412-1.465,1.905,1.905,0,0,0-1.965.712c-3.94,5.41-4.117,6.484-4.184,6.888-.079.482-.155.986-.225,1.505A33.575,33.575,0,0,0,115,40.719l3.775-6.321a1.277,1.277,0,0,0-.543-1.8,1.462,1.462,0,0,0-1.919.508l-5.566,9.322a3.4,3.4,0,0,1-.757.881l6.046-15.574h3.485l-.235.393a1.277,1.277,0,0,0,.543,1.8,1.461,1.461,0,0,0,1.919-.508l1.488-2.492a2.4,2.4,0,0,0,.168-2.155,2.647,2.647,0,0,0-1.658-1.5l-.066-.021h0l-7.649-2.471-5.2-1.68h0l-.054-.018a3.654,3.654,0,0,0-2.228,0l-.054.018h0L93.638,23.249h0l-.066.021a2.647,2.647,0,0,0-1.658,1.5,2.4,2.4,0,0,0,.168,2.155l.034.057v0l.046.076,8.154,13.656c-15.1,3.187-25.931,15.775-25.931,30.387,0,17.177,14.925,31.152,33.27,31.152a35.075,35.075,0,0,0,11.652-1.971,1.3,1.3,0,0,0,.825-1.7,1.44,1.44,0,0,0-1.815-.773,32.094,32.094,0,0,1-10.661,1.8c-16.79,0-30.45-12.79-30.45-28.512,0-13.637,10.3-25.348,24.552-27.973l.35.586a6.2,6.2,0,0,0,3.528,2.745A27.183,27.183,0,0,0,88.1,54.526a1.262,1.262,0,0,0,.1,1.865,1.478,1.478,0,0,0,1.992-.092,24.375,24.375,0,0,1,17.47-7.268c13,0,23.576,9.9,23.576,22.075s-10.576,22.075-23.576,22.075-23.576-9.9-23.576-22.075a20.961,20.961,0,0,1,2.795-10.418A1.279,1.279,0,0,0,86.3,58.9a1.46,1.46,0,0,0-1.91.538,23.475,23.475,0,0,0-3.131,11.668c0,13.628,11.841,24.715,26.4,24.715s26.4-11.087,26.4-24.715c0-12.99-10.758-23.672-24.37-24.644A6.2,6.2,0,0,0,113.2,43.72l.35-.587a30.455,30.455,0,0,1,21.172,14.931,35.445,35.445,0,0,0,2.326,15.076l.776,2.006a1.256,1.256,0,0,0-.064.239,28.473,28.473,0,0,1-14.141,19.991,1.272,1.272,0,0,0-.458,1.817,1.434,1.434,0,0,0,1.2.626,1.474,1.474,0,0,0,.74-.2,31.5,31.5,0,0,0,14.511-17.852l1.833,4.738v9.5a4.023,4.023,0,0,0,3.938,3.94c.068,0,.135,0,.2,0a4.25,4.25,0,0,0,2.851-1.07,3.776,3.776,0,0,0,1.281-2.8v-9.45l4.445-11.487c3.054-7.36,2.607-15.525,1.693-21.079ZM107.67,41.548l-5.361-13.81h10.722Zm.235-19.955,1.083.35,2.948,3.155H103.4l2.96-3.167,1.045-.338A.818.818,0,0,1,107.906,21.593ZM101,23.664,99.657,25.1h-3.1ZM115.684,25.1l-1.327-1.421,4.4,1.421ZM104.57,42.431,95.8,27.738h3.512l6.058,15.6a3.4,3.4,0,0,1-.8-.912ZM151.534,72.2l-.012.029-4.535,11.719a1.245,1.245,0,0,0-.084.45v9.682a1.186,1.186,0,0,1-.408.892,1.355,1.355,0,0,1-.974.339,1.319,1.319,0,0,1-1.25-1.3v-9.73a1.245,1.245,0,0,0-.084-.45l-4.489-11.6-.012-.029c-2.834-6.819-2.4-14.495-1.542-19.721a19.421,19.421,0,0,1,2.3-3.8,24.093,24.093,0,0,1,.307,4.165c-.667,4.052-1.372,11.843,1.4,18.5l2.133,5.511a1.445,1.445,0,0,0,2.652,0l2.122-5.483.013-.032c2.773-6.648,2.068-14.439,1.4-18.491a25.23,25.23,0,0,1,.307-4.256,20.59,20.59,0,0,1,2.3,3.889c.862,5.239,1.293,12.911-1.54,19.726Z' transform='translate(-66.54 -18.905)')
    path(:style='{fill}', d='M13.326,112.308a1.345,1.345,0,0,0,.2-.164l3.615-3.54a1.336,1.336,0,0,0-1.431-2.2l-4.7,1.879a1.325,1.325,0,0,0-.232.12l-6.435,4.175c-.073-.02-.146-.039-.221-.055a3.42,3.42,0,1,0-1.411,6.694,3.449,3.449,0,0,0,.712.075,3.423,3.423,0,0,0,3.34-2.716l0-.02Zm-1.7-2.559,3.522-1.408-2.709,2.654-5.785,3.754a3.46,3.46,0,0,0-.783-1.265Zm-6.407,6.5a1.836,1.836,0,1,1-1.8-2.215,1.855,1.855,0,0,1,.382.04,1.836,1.836,0,0,1,1.418,2.175Z' transform='translate(-0.001 -88.792)')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
