<template lang="pug">
  g(transform='translate(0)' opacity='0.3')
    path(d='M730.8,751.2h4.968v15.527H730.8Z' transform='translate(-626.461 -565.192)' :style='{fill}')
    path(d='M730.8,834h4.968v15.527H730.8Z' transform='translate(-626.461 -626.565)' :style='{fill}')
    path(d='M733.2,998.4h4.968v15.527H733.2Z' transform='translate(-628.24 -748.422)' :style='{fill}')
    path(d='M776.4,998.4h4.969v15.527H776.4Z' transform='translate(-660.261 -748.422)' :style='{fill}')
    path(d='M745.252,348.519l2.485-.621c16.147-3.105,19.874-5.9,21.117-7.763a8.133,8.133,0,0,0,1.243-6.521,8.659,8.659,0,0,0-3.726-5.59c-2.173-1.553-4.968-1.242-7.143-.932-.31-2.173-.932-4.658-3.106-6.211a8.64,8.64,0,0,0-12.111,2.485c-.62.932-2.795,4.348.621,22.669Zm3.105-22.358a3.82,3.82,0,0,1,3.105-1.553,5.759,5.759,0,0,1,2.173.621c.31.31.932,1.242.621,4.968l-.31,4.658,3.726-1.863c1.863-.932,4.968-1.553,5.9-.932a4.263,4.263,0,0,1,1.553,2.485,3.169,3.169,0,0,1-.621,2.8c-.31.31-2.173,2.485-15.526,5.279-1.552-10.247-1.241-15.216-.621-16.458Z' transform='translate(-635.324 -245.112)' :style='{fill}')
    path(d='M778.606,209.3l2.173,1.242,1.242-2.173c9.006-13.974,9.626-18.322,9.006-20.805a8.944,8.944,0,0,0-10.558-6.831c-2.485.621-4.348,2.8-5.59,4.658-1.552-1.242-4.037-2.8-6.521-2.173a8.944,8.944,0,0,0-6.831,10.558c.62,1.551,1.553,5.277,17.079,15.525ZM769.6,188.494h0c.932,0,1.863.31,4.037,2.8l3.105,3.416,1.242-4.037c.621-1.863,2.173-4.658,3.416-4.968a3.665,3.665,0,0,1,4.348,2.8c0,.621.31,3.416-7.143,14.906-8.7-5.9-12.111-9.626-12.421-10.869C766.495,190.978,767.737,188.8,769.6,188.494Z' transform='translate(-649.114 -142.225)' :style='{fill}')
    path(d='M609.6,668.4h4.968v15.527H609.6Z' transform='translate(-536.625 -503.818)' :style='{fill}')
    path(d='M567.6,668.4h4.968v15.527H567.6Z' transform='translate(-505.494 -503.818)' :style='{fill}')
    path(d='M609.6,751.2h4.968v15.527H609.6Z' transform='translate(-536.625 -565.192)' :style='{fill}')
    path(d='M691.2,751.2h4.969v15.527H691.2Z' transform='translate(-597.109 -565.192)' :style='{fill}')
    path(d='M691.2,834h4.969v15.527H691.2Z' transform='translate(-597.109 -626.565)' :style='{fill}')
    path(d='M567.6,751.2h4.968v15.527H567.6Z' transform='translate(-505.494 -565.192)' :style='{fill}')
    path(d='M609.6,834h4.968v15.527H609.6Z' transform='translate(-536.625 -626.565)' :style='{fill}')
    path(d='M567.6,834h4.968v15.527H567.6Z' transform='translate(-505.494 -626.565)' :style='{fill}')
    path(d='M609.6,916.8h4.968v15.527H609.6Z' transform='translate(-536.625 -687.938)' :style='{fill}')
    path(d='M567.6,916.8h4.968v15.527H567.6Z' transform='translate(-505.494 -687.938)' :style='{fill}')
    path(d='M609.6,999.6h4.968v15.526H609.6Z' transform='translate(-536.625 -749.312)' :style='{fill}')
    path(d='M567.6,999.6h4.968v15.526H567.6Z' transform='translate(-505.494 -749.312)' :style='{fill}')
    path(d='M487.2,751.2h4.968v15.527H487.2Z' transform='translate(-445.899 -565.192)' :style='{fill}')
    path(d='M445.2,751.2h4.968v15.527H445.2Z' transform='translate(-414.768 -565.192)' :style='{fill}')
    path(d='M487.2,834h4.968v15.527H487.2Z' transform='translate(-445.899 -626.565)' :style='{fill}')
    path(d='M445.2,834h4.968v15.527H445.2Z' transform='translate(-414.768 -626.565)' :style='{fill}')
    path(d='M444,998.4h4.968v15.527H444Z' transform='translate(-413.878 -748.422)' :style='{fill}')
    path(d='M402,998.4h4.968v15.527H402Z' transform='translate(-382.747 -748.422)' :style='{fill}')
    path(d='M487.2,998.4h4.968v15.527H487.2Z' transform='translate(-445.899 -748.422)' :style='{fill}')
    path(d='M691.2,998.4h4.969v15.527H691.2Z' transform='translate(-597.109 -748.422)' :style='{fill}')
    path(d='M458.023,317.16V272.754H446.845v-63.97h-9.006v-23.6h-6.211V169.657H422v-9.626h-7.763v-8.7h-5.9V139.846h-3.105V87.677h-4.658V32.4h-4.968V87.366h-4.658v52.169h-2.8v11.489h-5.9v8.7H374.49v9.626h-9.626v15.527h-6.831v23.6h-9.006v63.97h-11.8V316.85H327.6v5.279H469.824V317.16ZM441.875,213.752v59h-4.658V261.264h-5.278v11.489h-5.59V261.264H421.38v11.489h-5.59v-59ZM393.122,144.5H403.37v6.521H393.122Zm2.8-51.859h4.348v6.831h-4.348Zm0,11.49h4.348v5.9h-4.348Zm0,11.179h4.348v24.222h-4.348Zm-8.7,40.68h21.737v3.726H387.221ZM379.458,165h37.264v4.658H379.458Zm-9.936,9.626h56.827v10.558H421.07v-5.9H416.1v5.59h-8.7v-5.59h-4.968v5.59h-8.7v-5.59h-4.968v5.59h-8.7v-5.59H375.11v5.59h-5.59Zm9.316,142.534h-4.968V304.118H368.9V317.16H362.69V304.118h-5.28v13.042h-5.9V304.117h-4.968v13.042h-4.348V277.722h36.643Zm0-44.406H374.18V261.575h-4.968v11.179h-5.9V261.575h-4.968v11.179h-4.348v-59h25.153v59Zm32.3,44.406h-5.59V304.428h-4.968V317.16h-5.9V304.428h-4.968V317.16h-5.9V196.984h-4.968v11.8h-5.59V197.3H368.28v11.489H363V190.153h69.87v18.632h-5.279V197.3h-4.968v11.489h-6.21v-11.8h-4.968V317.16Zm41.611,0h-4.037V304.118h-4.968V317.16h-6.211V304.118h-4.968V317.16h-5.9V304.118h-4.968V317.16H416.1V277.722h36.643Z' transform='translate(-327.6 -32.402)' :style='{fill}')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
