<template lang="pug">
  g
    path(:style='{fill}', d='M.34,16.32A.33.33,0,0,1,0,16C0,6.73,5.26,0,12.5,0a.33.33,0,0,1,.33.33.33.33,0,0,1-.33.33C5.65.66.67,7.11.67,16a.33.33,0,0,1-.33.33')
    path(:style='{fill}', d='M5.91,16.33H5.82a.34.34,0,0,1-.24-.4L7.29,9.79a.33.33,0,0,1,.19-.21l4.88-2.15a.33.33,0,0,1,.44.17.32.32,0,0,1-.16.43L7.9,10.12l-1.67,6a.32.32,0,0,1-.32.24')
    path(:style='{fill}', d='M5.91,16.33a.33.33,0,0,1-.31-.2L3.8,12,.6,16.19a.34.34,0,0,1-.47.07.33.33,0,0,1-.06-.46l3.48-4.52L3.32,5a.29.29,0,0,1,.11-.26.3.3,0,0,1,.27-.08l5.61.88a.3.3,0,0,1,.24.16.33.33,0,0,1,0,.29L7.93,10a.39.39,0,0,1-.19.19L4.33,11.56l1.89,4.31a.34.34,0,0,1-.18.44l-.13,0M4,5.38l.2,5.52L7.35,9.63l1.44-3.5Z')
    path(:style='{fill}', d='M12.5,8.06a.33.33,0,0,1-.17,0L9.09,6.16A.33.33,0,0,1,9,5.71L12.21.17A.33.33,0,0,1,12.66,0a.32.32,0,0,1,.13.45L9.72,5.75l2.95,1.7a.33.33,0,0,1,.12.45.36.36,0,0,1-.29.16')
    path(:style='{fill}', d='M9.26,6.2A.33.33,0,0,1,9,6L7.19,1.75a.34.34,0,0,1,.63-.25L9.57,5.75a.33.33,0,0,1-.18.43l-.13,0')
    path(:style='{fill}', d='M3.89,11.71a.25.25,0,0,1-.12,0L1,10.68a.33.33,0,0,1-.2-.43.34.34,0,0,1,.43-.19l2.82,1a.34.34,0,0,1,.2.43.34.34,0,0,1-.31.21')
    path(:style='{fill}', d='M24.66,16.32a.33.33,0,0,1-.33-.33c0-8.88-5-15.33-11.83-15.33a.33.33,0,0,1-.33-.33A.33.33,0,0,1,12.5,0C19.74,0,25,6.73,25,16a.33.33,0,0,1-.34.33')
    path(:style='{fill}', d='M19.09,16.33a.32.32,0,0,1-.32-.24l-1.67-6L12.36,8a.32.32,0,0,1-.16-.43.33.33,0,0,1,.44-.17l4.88,2.15a.33.33,0,0,1,.19.21l1.71,6.13a.34.34,0,0,1-.24.4h-.09')
    path(:style='{fill}', d='M19.09,16.33l-.13,0a.34.34,0,0,1-.18-.44l1.89-4.31-3.41-1.37a.34.34,0,0,1-.18-.19L15.43,6a.33.33,0,0,1,0-.29.3.3,0,0,1,.23-.16l5.61-.88a.32.32,0,0,1,.28.08.29.29,0,0,1,.11.26l-.22,6.27,3.47,4.52a.33.33,0,1,1-.53.39L21.2,12l-1.8,4.1a.33.33,0,0,1-.31.2m-1.44-6.7L20.8,10.9,21,5.38l-4.79.75Z')
    path(:style='{fill}', d='M12.5,8.06a.36.36,0,0,1-.29-.16.33.33,0,0,1,.12-.45l2.95-1.7L12.21.49A.32.32,0,0,1,12.34,0a.33.33,0,0,1,.45.13L16,5.71a.33.33,0,0,1-.12.45L12.67,8a.33.33,0,0,1-.17,0')
    path(:style='{fill}', d='M15.74,6.2l-.13,0a.33.33,0,0,1-.18-.43L17.18,1.5a.34.34,0,0,1,.63.25L16.05,6a.33.33,0,0,1-.31.2')
    path(:style='{fill}', d='M21.12,11.71a.33.33,0,0,1-.12-.64l2.82-1a.34.34,0,0,1,.43.19.33.33,0,0,1-.2.43l-2.82,1a.23.23,0,0,1-.11,0')
    path(:style='{fill}', d='M12.5,32C5.26,32,0,25.27,0,16a.33.33,0,0,1,.34-.33A.33.33,0,0,1,.67,16c0,8.88,5,15.33,11.83,15.33a.33.33,0,1,1,0,.66')
    path(:style='{fill}', d='M12.5,24.6a.32.32,0,0,1-.14,0L7.48,22.42a.33.33,0,0,1-.19-.21L5.58,16.08a.34.34,0,0,1,.24-.4.33.33,0,0,1,.41.23l1.67,6L12.63,24a.32.32,0,0,1,.17.43.31.31,0,0,1-.3.2')
    path(:style='{fill}', d='M3.65,27.33a.3.3,0,0,1-.22-.08A.29.29,0,0,1,3.32,27l.23-6.27L.07,16.2a.33.33,0,0,1,.06-.46.34.34,0,0,1,.47.07L3.8,20l1.8-4.1A.34.34,0,0,1,6,15.69a.34.34,0,0,1,.18.44L4.33,20.44l3.41,1.38a.29.29,0,0,1,.18.18l1.65,4a.33.33,0,0,1,0,.29.31.31,0,0,1-.24.16l-5.61.88H3.65M4.2,21.1,4,26.62l4.79-.75-1.43-3.5Z')
    path(:style='{fill}', d='M12.5,32a.32.32,0,0,1-.29-.17L9,26.29a.33.33,0,0,1,.12-.45L12.33,24a.34.34,0,0,1,.46.12.33.33,0,0,1-.12.45l-2.95,1.7,3.07,5.26a.32.32,0,0,1-.13.45.32.32,0,0,1-.16,0')
    path(:style='{fill}', d='M7.51,30.7a.27.27,0,0,1-.13,0,.34.34,0,0,1-.19-.43L9,26a.34.34,0,0,1,.44-.18.33.33,0,0,1,.18.43L7.82,30.5a.34.34,0,0,1-.31.2')
    path(:style='{fill}', d='M1.07,22A.33.33,0,0,1,1,21.32l2.82-1a.34.34,0,0,1,.43.19.33.33,0,0,1-.2.43l-2.82,1a.23.23,0,0,1-.11,0')
    path(:style='{fill}', d='M12.5,32a.33.33,0,0,1,0-.66c6.86,0,11.83-6.45,11.83-15.33A.34.34,0,0,1,25,16c0,9.26-5.26,16-12.5,16')
    path(:style='{fill}', d='M12.5,24.6a.31.31,0,0,1-.3-.2.32.32,0,0,1,.17-.43l4.73-2.09,1.67-6a.33.33,0,0,1,.41-.23.34.34,0,0,1,.24.4l-1.71,6.13a.33.33,0,0,1-.19.21l-4.88,2.15a.32.32,0,0,1-.14,0')
    path(:style='{fill}', d='M21.35,27.33H21.3l-5.62-.88a.32.32,0,0,1-.25-.45l1.65-4a.29.29,0,0,1,.18-.18l3.41-1.38-1.89-4.31a.34.34,0,0,1,.18-.44.34.34,0,0,1,.44.18L21.2,20l3.2-4.16a.33.33,0,1,1,.53.39l-3.48,4.52L21.68,27a.29.29,0,0,1-.11.26.3.3,0,0,1-.22.08m-5.14-1.46,4.79.75-.2-5.52-3.16,1.27Z')
    path(:style='{fill}', d='M12.5,32a.32.32,0,0,1-.16,0,.32.32,0,0,1-.13-.45l3.07-5.26-2.95-1.7a.33.33,0,0,1-.12-.45.34.34,0,0,1,.46-.12l3.24,1.86a.33.33,0,0,1,.12.45l-3.24,5.54a.32.32,0,0,1-.29.17')
    path(:style='{fill}', d='M17.49,30.7a.34.34,0,0,1-.31-.2l-1.75-4.25a.33.33,0,0,1,.18-.43.34.34,0,0,1,.44.18l1.76,4.25a.34.34,0,0,1-.19.43.27.27,0,0,1-.13,0')
    path(:style='{fill}', d='M23.93,22a.23.23,0,0,1-.11,0l-2.82-1a.33.33,0,0,1-.2-.43.34.34,0,0,1,.43-.19l2.82,1a.33.33,0,0,1-.12.64')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
