<template lang="pug">
  g
    path(:style='{fill}', d='M18.6,14.9C24.2,12.8,28,7,28,0.5C28,0.2,27.8,0,27.5,0S27,0.2,27,0.5c0,0.3,0,0.5,0,0.8c-0.3,5.6-3.7,10.6-8.6,12.5c-0.1,0-0.2,0.1-0.3,0.1c-0.3-0.1-0.7-0.1-0.9,0.2L16,15.3c-0.6-0.2-1.3-0.4-2-0.4s-1.4,0.1-2,0.4l-1.2-1.1c-0.2-0.2-0.6-0.3-0.9-0.2c-0.1,0-0.2-0.1-0.3-0.1C4.8,11.9,1.4,6.9,1.1,1.3c0-0.3,0-0.5,0-0.8C1,0.2,0.8,0,0.5,0S0,0.2,0,0.5C0,7,3.8,12.8,9.4,14.9c0,0.2,0.1,0.4,0.2,0.5l0.8,0.8c-0.1,0.1-0.2,0.2-0.3,0.3c-1,1.1-1.6,2.4-1.6,3.9s0.6,2.9,1.6,3.9S12.5,26,14,26s2.8-0.6,3.9-1.6s1.6-2.4,1.6-3.9s-0.6-2.9-1.6-3.9c-0.1-0.1-0.2-0.2-0.3-0.3l0.8-0.8C18.5,15.3,18.6,15.1,18.6,14.9z M15.9,19.7c-0.4,0-0.8-0.4-0.8-0.8c0-0.4,0.4-0.8,0.8-0.8c0.4,0,0.8,0.4,0.8,0.8C16.6,19.3,16.3,19.7,15.9,19.7z M17.1,21c0,0.4-0.4,0.8-0.8,0.8c-0.4,0-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8C16.8,20.2,17.1,20.5,17.1,21z M15.1,15.6c0.4,0,0.8,0.4,0.8,0.8s-0.4,0.8-0.8,0.8c-0.4,0-0.8-0.4-0.8-0.8S14.7,15.6,15.1,15.6z M14.8,18c0,0.4-0.4,0.8-0.8,0.8s-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8S14.8,17.6,14.8,18z M13,15.6c0.4,0,0.8,0.4,0.8,0.8s-0.4,0.8-0.8,0.8c-0.4,0-0.8-0.4-0.8-0.8S12.5,15.6,13,15.6z M12.1,18.1c0.4,0,0.8,0.4,0.8,0.8c0,0.4-0.4,0.8-0.8,0.8s-0.8-0.4-0.8-0.8C11.3,18.5,11.7,18.1,12.1,18.1z M12.4,21c0,0.4-0.4,0.8-0.8,0.8s-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8S12.4,20.6,12.4,21z M10.1,15c-0.1-0.1-0.1-0.3,0-0.4c0.1-0.1,0.1-0.1,0.2-0.1s0.1,0,0.2,0.1l1,1c-0.2,0.1-0.3,0.2-0.5,0.3L10.1,15z M11.1,16.6c0.4,0,0.8,0.4,0.8,0.8c0,0.4-0.4,0.8-0.8,0.8s-0.8-0.4-0.8-0.8C10.3,17,10.7,16.6,11.1,16.6z M10,18.5c0.4,0,0.8,0.4,0.8,0.8s-0.4,0.8-0.8,0.8s-0.8-0.4-0.8-0.8S9.6,18.5,10,18.5z M10,22.3c-0.4,0-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8S10.4,22.3,10,22.3z M11,24.2c-0.4,0-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8S11.5,24.2,11,24.2z M12.9,25.3c-0.4,0-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8c0.4,0,0.8,0.4,0.8,0.8S13.3,25.3,12.9,25.3z M13,23.4c-0.4,0-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8S13.4,23.4,13,23.4z M14,21.7c-0.7,0-1.2-0.6-1.2-1.3s0.5-1.3,1.2-1.3c0.7,0,1.2,0.6,1.2,1.3C15.2,21.1,14.7,21.7,14,21.7z M15,25.3c-0.4,0-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8C15.8,25,15.5,25.3,15,25.3z M15,23.4c-0.4,0-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8c0.4,0,0.8,0.4,0.8,0.8S15.5,23.4,15,23.4z M16.9,24.3c-0.4,0-0.8-0.4-0.8-0.8c0-0.4,0.4-0.8,0.8-0.8c0.4,0,0.8,0.4,0.8,0.8C17.7,23.9,17.3,24.3,16.9,24.3z M18,22.4c-0.4,0-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8S18.4,22.4,18,22.4z M18,18.6c0.4,0,0.8,0.4,0.8,0.8s-0.4,0.8-0.8,0.8c-0.4,0-0.8-0.4-0.8-0.8S17.6,18.6,18,18.6z M17.7,17.5c0,0.4-0.4,0.8-0.8,0.8c-0.4,0-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8C17.4,16.7,17.7,17,17.7,17.5z M17.9,15l-0.9,0.9c-0.2-0.1-0.3-0.2-0.5-0.3l1-1c0.1-0.1,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0.1C18,14.7,18,14.9,17.9,15z')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
