<template lang="pug">
  g
    path(:style='{fill}', d='M22.8,2h-5.7c0-0.1,0-0.2,0-0.3c0-0.4-0.3-0.8-0.7-0.8c-0.4,0-0.6,0.3-0.7,0.6c-0.1-0.1-0.1-0.2-0.2-0.2C14.8,0.5,13.7,0,12.5,0s-2.3,0.5-3.1,1.3C9.4,1.4,9.3,1.5,9.2,1.6C9.2,1.2,8.9,0.9,8.5,0.9c-0.4,0-0.7,0.3-0.7,0.8c0,0.1,0,0.2,0,0.3H2.2C1,2,0,3,0,4.2v0.6C0,6,1,7,2.2,7h5.7c0,0.1-0.1,0.2-0.1,0.3c0,0.4,0.3,0.8,0.7,0.8c0.4,0,0.6-0.3,0.7-0.6c0.1,0.1,0.1,0.2,0.2,0.2C10.2,8.5,11.3,9,12.5,9s2.3-0.5,3.1-1.3c0.1-0.1,0.1-0.2,0.2-0.2c0.1,0.3,0.4,0.6,0.7,0.6c0.4,0,0.7-0.3,0.7-0.8c0-0.1,0-0.2-0.1-0.3h5.7C24,7,25,6,25,4.8V4.2C25,3,24,2,22.8,2z M12.5,8.4c-1,0-2-0.4-2.7-1.2c-1.5-1.5-1.5-4,0-5.6c0.7-0.7,1.7-1.2,2.7-1.2s2,0.4,2.7,1.2c1.5,1.5,1.5,4,0,5.6C14.5,8,13.5,8.4,12.5,8.4z M2,4.6C2,5,1.7,5.3,1.3,5.3C0.9,5.3,0.6,5,0.6,4.6c0-0.4,0.3-0.8,0.7-0.8C1.7,3.8,2,4.1,2,4.6z M1.9,3.4c0-0.4,0.3-0.8,0.7-0.8c0.4,0,0.7,0.3,0.7,0.8c0,0.4-0.3,0.8-0.7,0.8C2.3,4.1,1.9,3.8,1.9,3.4z M2.5,4.9c0.4,0,0.7,0.3,0.7,0.8c0,0.4-0.3,0.8-0.7,0.8c-0.4,0-0.7-0.3-0.7-0.8C1.8,5.3,2.1,4.9,2.5,4.9z M3,4.6c0-0.4,0.3-0.8,0.7-0.8c0.4,0,0.7,0.3,0.7,0.8c0,0.4-0.3,0.8-0.7,0.8C3.4,5.3,3,5,3,4.6z M4.4,3.4c0-0.4,0.3-0.8,0.7-0.8c0.4,0,0.7,0.3,0.7,0.8c0,0.4-0.3,0.8-0.7,0.8C4.7,4.1,4.4,3.8,4.4,3.4z M5,4.9c0.4,0,0.7,0.3,0.7,0.8c0,0.4-0.3,0.8-0.7,0.8c-0.4,0-0.7-0.3-0.7-0.8C4.3,5.3,4.6,4.9,5,4.9z M5.5,4.6c0-0.4,0.3-0.8,0.7-0.8C6.7,3.8,7,4.1,7,4.6C7,5,6.7,5.3,6.3,5.3C5.8,5.3,5.5,5,5.5,4.6z M6.8,3.4c0-0.4,0.3-0.8,0.7-0.8c0.4,0,0.7,0.3,0.7,0.8c0,0.4-0.3,0.8-0.7,0.8C7.1,4.1,6.8,3.8,6.8,3.4z M7.5,4.9c0.4,0,0.7,0.3,0.7,0.8c0,0.4-0.3,0.8-0.7,0.8c-0.4,0-0.7-0.3-0.7-0.8C6.8,5.3,7.1,4.9,7.5,4.9z M16.8,3.4c0-0.4,0.3-0.8,0.7-0.8c0.4,0,0.7,0.3,0.7,0.8c0,0.4-0.3,0.8-0.7,0.8C17.1,4.1,16.8,3.8,16.8,3.4z M17.5,4.9c0.4,0,0.7,0.3,0.7,0.8c0,0.4-0.3,0.8-0.7,0.8c-0.4,0-0.7-0.3-0.7-0.8C16.8,5.3,17.1,4.9,17.5,4.9z M18,4.6c0-0.4,0.3-0.8,0.7-0.8c0.4,0,0.7,0.3,0.7,0.8c0,0.4-0.3,0.8-0.7,0.8C18.4,5.3,18,5,18,4.6z M19.2,3.4c0-0.4,0.3-0.8,0.7-0.8c0.4,0,0.7,0.3,0.7,0.8c0,0.4-0.3,0.8-0.7,0.8S19.2,3.8,19.2,3.4z M20,4.9c0.4,0,0.7,0.3,0.7,0.8c0,0.4-0.3,0.8-0.7,0.8c-0.4,0-0.7-0.3-0.7-0.8C19.2,5.3,19.6,4.9,20,4.9z M20.5,4.6c0-0.4,0.3-0.8,0.7-0.8c0.4,0,0.7,0.3,0.7,0.8c0,0.4-0.3,0.8-0.7,0.8C20.8,5.3,20.5,5,20.5,4.6z M23.1,3.4c0,0.4-0.3,0.8-0.7,0.8s-0.7-0.3-0.7-0.8c0-0.4,0.3-0.8,0.7-0.8S23.1,3,23.1,3.4z M22.5,4.9c0.4,0,0.7,0.3,0.7,0.8c0,0.4-0.3,0.8-0.7,0.8c-0.4,0-0.7-0.3-0.7-0.8C21.7,5.3,22.1,4.9,22.5,4.9z M23,4.6c0-0.4,0.3-0.8,0.7-0.8s0.7,0.3,0.7,0.8c0,0.4-0.3,0.8-0.7,0.8S23,5,23,4.6z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
