<template lang="pug">
  g
    path(:style='{fill}', d='M3.69,17.22a.37.37,0,0,1-.31-.17L.13,11.83a.35.35,0,0,1,0-.42L4.06,7.32a.37.37,0,0,1,.6.1L6.7,12a.32.32,0,0,1,0,.3L4,17a.38.38,0,0,1-.31.19ZM.89,11.69l2.78,4.47,2.3-4L4.22,8.19Z')
    path(:style='{fill}', d='M8.89,26.6a.33.33,0,0,1-.19-.06l-5-3.19a.33.33,0,0,1-.16-.28l-.24-6.19a.33.33,0,0,1,.17-.31.38.38,0,0,1,.37,0l4.77,2.7a.36.36,0,0,1,.18.28l.43,6.69a.36.36,0,0,1-.18.33.34.34,0,0,1-.18,0M4.28,22.87l4.21,2.7-.38-5.8-4-2.28Z')
    path(:style='{fill}', d='M4.33,7.91a.36.36,0,0,1-.26-.11A.33.33,0,0,1,4,7.54l.24-4.25a.33.33,0,0,1,.12-.24A.41.41,0,0,1,4.59,3L9,3.27a.38.38,0,0,1,.25.13.33.33,0,0,1,.08.27L8.79,7.5a.35.35,0,0,1-.34.31l-4.11.1Zm.58-4.22L4.71,7.2l3.41-.08L8.53,4Z')
    path(:style='{fill}', d='M12.5,34a.34.34,0,0,1-.24-.09C11.76,33.46,0,22.82,0,11.69,0,4.47,6.49,0,12.5,0a.35.35,0,0,1,.33.22.35.35,0,0,1-.08.39l-3.26,3,3.22,2.32a.36.36,0,0,1,.15.34.37.37,0,0,1-.25.28L8.7,7.75,6.75,12.16l2,7.24,4,4.62a.38.38,0,0,1,.07.29.32.32,0,0,1-.17.24L9.36,26.4l3.46,7.1a.35.35,0,0,1-.32.5M7.91,1.57A10.72,10.72,0,0,0,.72,11.69c0,8.5,7.35,17,10.56,20.27L8.57,26.4A.34.34,0,0,1,8.71,26L12,24.15,8.18,19.79a.37.37,0,0,1-.07-.14L6,12.23A.3.3,0,0,1,6,12L8.11,7.32a.35.35,0,0,1,.22-.19l3.39-1.06-3-2.16s0,0-.05-.05a.29.29,0,0,1-.08-.14Zm.68-.25L9.11,3,11.55.74a12.51,12.51,0,0,0-3,.58')
    path(:style='{fill}', d='M6.93,27.81a.35.35,0,0,1-.3-.16.35.35,0,0,1,.11-.49l2-1.2a.37.37,0,0,1,.5.1.35.35,0,0,1-.11.49l-2,1.21a.41.41,0,0,1-.19,0')
    path(:style='{fill}', d='M21.31,17.22h0A.38.38,0,0,1,21,17l-2.69-4.72a.37.37,0,0,1,0-.31l2.05-4.58a.36.36,0,0,1,.27-.21.38.38,0,0,1,.33.11l3.88,4.09a.35.35,0,0,1,.05.42l-3.25,5.22a.37.37,0,0,1-.31.17M19,12.12l2.3,4.05,2.78-4.48-3.33-3.5Z')
    path(:style='{fill}', d='M16.11,26.6a.41.41,0,0,1-.19,0,.4.4,0,0,1-.18-.33l.44-6.69a.36.36,0,0,1,.18-.28l4.77-2.7a.38.38,0,0,1,.37,0,.33.33,0,0,1,.17.31l-.24,6.19a.33.33,0,0,1-.16.28l-5,3.19a.35.35,0,0,1-.19.06m.78-6.83-.38,5.8,4.21-2.7.21-5.38Z')
    path(:style='{fill}', d='M20.67,7.91h0l-4.11-.1a.36.36,0,0,1-.35-.31l-.49-3.83a.3.3,0,0,1,.08-.27A.38.38,0,0,1,16,3.27L20.53,3a.41.41,0,0,1,.26.09.33.33,0,0,1,.12.25L21,7.55a.3.3,0,0,1-.1.25.36.36,0,0,1-.26.11m-3.79-.79,3.42.08-.1-3.51L16.47,4Z')
    path(:style='{fill}', d='M12.5,34a.33.33,0,0,1-.21-.07.35.35,0,0,1-.12-.43l3.47-7.1-3.32-1.85a.36.36,0,0,1-.18-.24.38.38,0,0,1,.08-.29l4-4.62,2-7.24L16.3,7.75,12.39,6.53a.35.35,0,0,1-.11-.62L15.5,3.59,12.25.6a.34.34,0,0,1-.09-.38A.38.38,0,0,1,12.5,0C18.64,0,25,4.36,25,11.67c0,11.12-11.76,21.79-12.26,22.24a.34.34,0,0,1-.24.09m.55-9.85L16.28,26a.34.34,0,0,1,.15.45L13.73,32c3.21-3.3,10.55-11.79,10.55-20.28A10.7,10.7,0,0,0,17.15,1.59l-.74,2.14a.35.35,0,0,1-.08.13l-.06.05-3,2.16,3.39,1.06a.35.35,0,0,1,.22.19L19,12a.36.36,0,0,1,0,.23l-2.08,7.42a.37.37,0,0,1-.07.14ZM13.45.74,15.9,3l.58-1.65a13.12,13.12,0,0,0-3-.6')
    path(:style='{fill}', d='M18.07,27.81a.41.41,0,0,1-.19,0l-2-1.21a.35.35,0,0,1-.11-.49.37.37,0,0,1,.5-.1l2,1.2a.35.35,0,0,1,.11.49.37.37,0,0,1-.3.16')
    path(:style='{fill}', d='M4.33,7.85l-.15,0L1.66,6.73a.35.35,0,0,1-.19-.47A.37.37,0,0,1,2,6.09L4.47,7.18a.34.34,0,0,1,.19.46.37.37,0,0,1-.33.21')
    path(:style='{fill}', d='M20.67,7.82a.36.36,0,0,1-.33-.22.35.35,0,0,1,.2-.46l2.58-1a.36.36,0,0,1,.47.19.34.34,0,0,1-.2.46l-2.58,1a.35.35,0,0,1-.14,0')
    path(:style='{fill}', d='M1.56,18.13a.36.36,0,0,1-.33-.21.34.34,0,0,1,.19-.46l2.12-.92a.39.39,0,0,1,.48.18.36.36,0,0,1-.19.47l-2.12.91a.4.4,0,0,1-.15,0')
    path(:style='{fill}', d='M23.52,18.17a.32.32,0,0,1-.14,0l-2.21-.95a.36.36,0,0,1-.19-.47.37.37,0,0,1,.48-.17l2.21.95a.34.34,0,0,1,.18.46.36.36,0,0,1-.33.21')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
