<template lang="pug">
  g
    path(:style='{fill}', d='M5.88,19.28a30.7,30.7,0,0,0,10.27,8A16.11,16.11,0,0,0,21.9,29h.41A4.78,4.78,0,0,0,26,27.42l0,0a14.62,14.62,0,0,1,1.17-1.2c.28-.27.57-.55.85-.84A2.9,2.9,0,0,0,28,21L24.4,17.41a3,3,0,0,0-2.12-1,3,3,0,0,0-2.15,1L18,19.56c-.2-.11-.4-.22-.6-.31s-.46-.24-.66-.36a23,23,0,0,1-5.46-5A13.11,13.11,0,0,1,9.41,11C10,10.49,10.5,10,11,9.43l.55-.55a3.08,3.08,0,0,0,1-2.17,3,3,0,0,0-1-2.16L9.77,2.76l-.61-.63c-.4-.41-.82-.83-1.23-1.2A3,3,0,0,0,5.81,0,3.12,3.12,0,0,0,3.66.93L1.41,3.18A4.59,4.59,0,0,0,0,6.14a11.07,11.07,0,0,0,.83,4.8,27.9,27.9,0,0,0,5,8.34ZM1.5,6.26a3.16,3.16,0,0,1,1-2L4.7,2a1.66,1.66,0,0,1,1.11-.51A1.59,1.59,0,0,1,6.9,2c.4.38.78.77,1.19,1.18l.63.64,1.8,1.79a1.63,1.63,0,0,1,.56,1.12,1.63,1.63,0,0,1-.56,1.13L10,8.41C9.39,9,8.87,9.51,8.29,10l0,0A1.18,1.18,0,0,0,8,11.39s0,0,0,0a14.36,14.36,0,0,0,2.11,3.43,24.18,24.18,0,0,0,5.82,5.27c.26.17.53.3.79.44a5.94,5.94,0,0,1,.67.36l.06,0a1.32,1.32,0,0,0,.59.15,1.25,1.25,0,0,0,.9-.41l2.25-2.24a1.6,1.6,0,0,1,1.11-.54,1.46,1.46,0,0,1,1.06.54L27,22.08a1.44,1.44,0,0,1,0,2.27c-.25.27-.51.53-.8.8s-.86.83-1.26,1.3a3.3,3.3,0,0,1-2.59,1.1l-.31,0A14.33,14.33,0,0,1,16.8,26,29.4,29.4,0,0,1,7,18.35a26.74,26.74,0,0,1-4.76-7.9A9.62,9.62,0,0,1,1.5,6.26Zm0,0')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
