<template lang="pug">
  g
    path(:style='{fill}', d='M9,1A8,8,0,1,1,1,9,8,8,0,0,1,9,1M9,0a9,9,0,1,0,9,9A9,9,0,0,0,9,0Z')
    path(:style='{fill}', d='M12.25,9l-4.5,4.5v-9Z')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
