<template lang="pug">
  g
    path(:style='{fill}', d='M23,46A23,23,0,1,1,46,23,23,23,0,0,1,23,46ZM23,3A20,20,0,1,0,43,23,20,20,0,0,0,23,3Z', transform='translate(0)')
    path(:style='{fill}', d='M18,16.28a7.28,7.28,0,0,1,2.2.3,4.25,4.25,0,0,1,1.54.83,3.32,3.32,0,0,1,.9,1.29,4.75,4.75,0,0,1,0,3.36,3.56,3.56,0,0,1-.94,1.32,4.4,4.4,0,0,1-1.54.86,6.76,6.76,0,0,1-2.15.31H16.06v4.69H14v-13Zm0,6.61a3.88,3.88,0,0,0,1.24-.18,2.43,2.43,0,0,0,.89-.51,2.09,2.09,0,0,0,.54-.8,2.89,2.89,0,0,0,.18-1,2.78,2.78,0,0,0-.18-1,2,2,0,0,0-.53-.77,2.35,2.35,0,0,0-.89-.48A4.25,4.25,0,0,0,18,17.93H16.06v5Z', transform='translate(0)')
    path(:style='{fill}', d='M32.43,27.48v1.76H24.94v-13H27v11.2Z', transform='translate(0)')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
