<template lang="pug">
  g
    path(:style='{fill}', d='M24.69,25H.31A.31.31,0,0,1,0,24.69V.31A.31.31,0,0,1,.31,0H24.69A.31.31,0,0,1,25,.31V24.69a.31.31,0,0,1-.31.31M.61,24.39H24.39V.61H.61Z')
    path(:style='{fill}', d='M12.5,20.25h0l-6.62-.82a.32.32,0,0,1-.27-.27l-.82-6.62v-.08l.82-6.62a.32.32,0,0,1,.27-.27l6.62-.82h.08l6.62.82a.32.32,0,0,1,.27.27l.82,6.62v.08l-.82,6.62a.32.32,0,0,1-.27.27l-6.62.82h0m-6.35-1.4,6.35.78,6.35-.78.78-6.35-.78-6.35L12.5,5.37l-6.35.78L5.37,12.5Z')
    path(:style='{fill}', d='M24.69,25l-.11,0L12.5,20.27.42,25a.31.31,0,0,1-.4-.4L4.73,12.5,0,.42A.31.31,0,0,1,.09.09.31.31,0,0,1,.42,0L12.5,4.73,24.58,0a.31.31,0,0,1,.33.07A.31.31,0,0,1,25,.42L20.27,12.5,25,24.58a.31.31,0,0,1-.29.42M12.5,19.63a.2.2,0,0,1,.11,0l11.54,4.49L19.66,12.61a.28.28,0,0,1,0-.22L24.15.85,12.61,5.35a.41.41,0,0,1-.22,0L.85.85,5.34,12.39a.28.28,0,0,1,0,.22L.85,24.15l11.54-4.49a.2.2,0,0,1,.11,0')
    path(:style='{fill}', d='M19,22.74H6.1a.31.31,0,0,1-.31-.29l-.2-3-3-.19a.31.31,0,0,1-.29-.3V6.37a.3.3,0,0,1,.26-.3l3.07-.46.2-3.06a.31.31,0,0,1,.31-.29H19a.31.31,0,0,1,.31.29l.11,3.06,3.06.46a.3.3,0,0,1,.26.3V18.92a.31.31,0,0,1-.29.3l-3,.19-.11,3a.31.31,0,0,1-.31.29M6.39,22.13H18.71l.1-3a.31.31,0,0,1,.29-.29l3-.19v-12l-3.05-.46a.31.31,0,0,1-.27-.29l-.1-3H6.39l-.21,3a.31.31,0,0,1-.26.28l-3,.46v12l3,.19a.3.3,0,0,1,.28.28Z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
