<template lang="pug">
  g
    path(:style='{fill}', d='M20.47,24H4.53a.3.3,0,0,1-.21-.08L.1,20.13a.32.32,0,0,1-.1-.22V4.09a.32.32,0,0,1,.1-.22L4.32.08A.3.3,0,0,1,4.53,0H20.47a.35.35,0,0,1,.22.08L24.9,3.87a.32.32,0,0,1,.1.22V19.91a.32.32,0,0,1-.1.22l-4.22,3.79a.3.3,0,0,1-.21.08M4.65,23.4h15.7l4-3.62V4.22L20.35.6H4.65l-4,3.62V19.78Z')
    path(:style='{fill}', d='M19.33,21.51H5.68a.35.35,0,0,1-.22-.08L2.87,19.1a.28.28,0,0,1-.1-.22V5.12a.28.28,0,0,1,.1-.22L5.46,2.57a.35.35,0,0,1,.22-.08H19.33a.34.34,0,0,1,.21.08L22.13,4.9a.28.28,0,0,1,.1.22V18.88a.28.28,0,0,1-.1.22l-2.59,2.33a.34.34,0,0,1-.21.08M5.8,20.91H19.2l2.41-2.16V5.25L19.2,3.09H5.8L3.39,5.25v13.5Z')
    path(:style='{fill}', d='M7.48,7.06a.31.31,0,0,1-.28-.18L4.24.42A.29.29,0,0,1,4.4,0a.31.31,0,0,1,.41.15l3,6.46A.29.29,0,0,1,7.61,7a.28.28,0,0,1-.13,0')
    path(:style='{fill}', d='M7.48,7.06,7.37,7,.2,4.37A.3.3,0,0,1,0,4a.31.31,0,0,1,.4-.17L7.6,6.48a.28.28,0,0,1,.17.38.3.3,0,0,1-.29.2')
    path(:style='{fill}', d='M17.46,7.06a.31.31,0,0,1-.13,0,.29.29,0,0,1-.15-.4l3-6.45A.31.31,0,0,1,20.6,0a.29.29,0,0,1,.16.39l-3,6.46a.31.31,0,0,1-.28.18')
    path(:style='{fill}', d='M17.46,7.06a.31.31,0,0,1-.29-.2.29.29,0,0,1,.18-.38l7.23-2.67A.31.31,0,0,1,25,4a.3.3,0,0,1-.18.39L17.57,7l-.11,0')
    path(:style='{fill}', d='M24.69,20.21l-.12,0-7.22-2.73a.3.3,0,1,1,.22-.56l7.23,2.73A.3.3,0,0,1,25,20a.31.31,0,0,1-.29.19')
    path(:style='{fill}', d='M20.47,24a.31.31,0,0,1-.28-.18l-3-6.52a.32.32,0,0,1,.16-.4.31.31,0,0,1,.41.15l3,6.53a.29.29,0,0,1-.16.39.31.31,0,0,1-.13,0')
    path(:style='{fill}', d='M4.53,24,4.4,24a.31.31,0,0,1-.16-.4l3-6.53a.31.31,0,0,1,.41-.15.3.3,0,0,1,.16.4l-3,6.52a.31.31,0,0,1-.28.18')
    path(:style='{fill}', d='M.31,20.21A.31.31,0,0,1,0,20a.3.3,0,0,1,.18-.39L7.37,16.9a.3.3,0,1,1,.23.56L.43,20.19l-.12,0')
    path(:style='{fill}', d='M3.08,19.18l-.1,0a.3.3,0,0,1-.2-.38L7.19,6.66a.3.3,0,0,1,.19-.19l11.84-4a.32.32,0,0,1,.4.19.29.29,0,0,1-.19.38L7.73,7,3.37,19a.3.3,0,0,1-.29.2')
    path(:style='{fill}', d='M19.33,21.51h-.11l-11.84-4a.3.3,0,0,1-.19-.19L2.79,5.15A.29.29,0,0,1,3,4.77.3.3,0,0,1,3.37,5l4.36,12,11.7,4a.29.29,0,0,1,.19.38.31.31,0,0,1-.29.2')
    path(:style='{fill}', d='M21.92,19.18a.3.3,0,0,1-.29-.2L17.22,7,5.57,3.07a.29.29,0,0,1-.19-.38.32.32,0,0,1,.4-.19l11.78,4a.3.3,0,0,1,.19.19l4.47,12.12a.3.3,0,0,1-.19.38l-.11,0')
    path(:style='{fill}', d='M5.67,21.51a.31.31,0,0,1-.29-.2.29.29,0,0,1,.19-.38l11.65-4L21.63,5a.31.31,0,0,1,.4-.18.3.3,0,0,1,.19.38L17.75,17.28a.31.31,0,0,1-.19.18l-11.78,4H5.67')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
