<template lang="pug">
  g
    path(:style='{fill}', d='M20.46,33H4.54a.33.33,0,0,1-.23-.1L.1,28.68a.37.37,0,0,1-.1-.24V4.56a.37.37,0,0,1,.1-.24L4.31.1A.33.33,0,0,1,4.54,0H20.46a.33.33,0,0,1,.23.1L24.9,4.32a.37.37,0,0,1,.1.24V28.44a.37.37,0,0,1-.1.24L20.69,32.9a.33.33,0,0,1-.23.1M4.68,32.33H20.32l4-4V4.7l-4-4H4.68l-4,4V28.3Z', transform='translate(0 0)')
    path(:style='{fill}', d='M19.31,30.23H5.69a.35.35,0,0,1-.24-.1l-2.59-2.6a.35.35,0,0,1-.1-.24V5.71a.35.35,0,0,1,.1-.24l2.59-2.6a.35.35,0,0,1,.24-.1H19.31a.35.35,0,0,1,.24.1l2.59,2.6a.35.35,0,0,1,.1.24V27.29a.35.35,0,0,1-.1.24l-2.59,2.6a.35.35,0,0,1-.24.1M5.83,29.56H19.18l2.39-2.41V5.85L19.18,3.44H5.83L3.43,5.85v21.3Z', transform='translate(0 0)')
    path(:style='{fill}', d='M7.49,7.86a.34.34,0,0,1-.31-.2L4.23.46A.33.33,0,0,1,4.42,0a.32.32,0,0,1,.43.18l3,7.19a.34.34,0,0,1-.18.44.27.27,0,0,1-.13,0', transform='translate(0 0)')
    path(:style='{fill}', d='M7.49,7.86a.32.32,0,0,1-.13,0l-7.15-3A.34.34,0,0,1,0,4.43a.33.33,0,0,1,.43-.18l7.16,3a.34.34,0,0,1,.18.44.33.33,0,0,1-.31.2', transform='translate(0 0)')
    path(:style='{fill}', d='M17.45,7.86a.3.3,0,0,1-.13,0,.34.34,0,0,1-.18-.44l3-7.19A.33.33,0,0,1,20.59,0a.32.32,0,0,1,.17.43l-3,7.2a.34.34,0,0,1-.31.2', transform='translate(0 0)')
    path(:style='{fill}', d='M17.45,7.86a.33.33,0,0,1-.31-.2.34.34,0,0,1,.18-.44l7.22-3a.34.34,0,0,1,.44.18.35.35,0,0,1-.19.44l-7.21,3a.3.3,0,0,1-.13,0', transform='translate(0 0)')
    path(:style='{fill}', d='M24.67,28.78a.28.28,0,0,1-.13,0L17.32,25.7a.33.33,0,0,1-.18-.44.33.33,0,0,1,.44-.17l7.22,3a.34.34,0,0,1,.17.44.32.32,0,0,1-.3.21', transform='translate(0 0)')
    path(:style='{fill}', d='M20.46,33a.34.34,0,0,1-.31-.21l-3-7.27a.33.33,0,0,1,.18-.43.32.32,0,0,1,.44.18l3,7.27a.32.32,0,0,1-.19.43.27.27,0,0,1-.12,0', transform='translate(0 0)')
    path(:style='{fill}', d='M4.54,33a.27.27,0,0,1-.12,0,.33.33,0,0,1-.19-.43l2.95-7.27a.34.34,0,0,1,.44-.19.34.34,0,0,1,.18.44L4.85,32.79a.34.34,0,0,1-.31.21', transform='translate(0 0)')
    path(:style='{fill}', d='M.33,28.78a.32.32,0,0,1-.3-.21.33.33,0,0,1,.17-.44l7.16-3a.33.33,0,0,1,.44.17.34.34,0,0,1-.18.44L.46,28.75a.28.28,0,0,1-.13,0', transform='translate(0 0)')
    path(:style='{fill}', d='M3.1,27.63H3a.33.33,0,0,1-.25-.4L7.17,7.46a.33.33,0,0,1,.21-.25L19.2,2.79a.35.35,0,0,1,.43.2.34.34,0,0,1-.2.43L7.78,7.78,3.42,27.37a.33.33,0,0,1-.32.26', transform='translate(0 0)')
    path(:style='{fill}', d='M19.31,30.23l-.12,0L7.37,25.71a.33.33,0,0,1-.2-.24L2.77,5.7A.33.33,0,0,1,3,5.3a.35.35,0,0,1,.4.26L7.78,25.15l11.65,4.43a.35.35,0,0,1,.2.43.33.33,0,0,1-.32.22', transform='translate(0 0)')
    path(:style='{fill}', d='M21.9,27.63a.33.33,0,0,1-.32-.26L17.16,7.78,5.57,3.42A.34.34,0,0,1,5.37,3a.35.35,0,0,1,.43-.2L17.57,7.22a.32.32,0,0,1,.21.24l4.45,19.76a.33.33,0,0,1-.25.4H21.9', transform='translate(0 0)')
    path(:style='{fill}', d='M5.69,30.23a.34.34,0,0,1-.12-.65l11.59-4.43L21.58,5.63a.33.33,0,1,1,.65.15L17.78,25.47a.36.36,0,0,1-.21.24L5.81,30.21l-.12,0', transform='translate(0 0)')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
