<template lang="pug">
  g#Layer_2(data-name='Layer 2')
    path(:style='{fill}', d='M315.74,324.27H196.27a8.54,8.54,0,0,1-8.53-8.53V196.27a8.54,8.54,0,0,1,8.53-8.53H315.74a8.54,8.54,0,0,1,8.53,8.53V315.74a8.54,8.54,0,0,1-8.53,8.53M204.8,307.2H307.2V204.8H204.8Z', transform='translate(0 0)')
    path(:style='{fill}', d='M256,153.6a8.54,8.54,0,0,1-8.53-8.53V8.54a8.53,8.53,0,1,1,17.07,0V145.07A8.54,8.54,0,0,1,256,153.6', transform='translate(0 0)')
    path(:style='{fill}', d='M298.67,59.74a8.51,8.51,0,0,1-6-2.5L256,20.6,219.37,57.24A8.53,8.53,0,0,1,207.3,45.17L250,2.5A8.52,8.52,0,0,1,262,2.5L304.7,45.17a8.53,8.53,0,0,1-6,14.57', transform='translate(0 0)')
    path(:style='{fill}', d='M256,512a8.54,8.54,0,0,1-8.53-8.53V366.94a8.53,8.53,0,1,1,17.07,0V503.47A8.54,8.54,0,0,1,256,512', transform='translate(0 0)')
    path(:style='{fill}', d='M256,512a8.51,8.51,0,0,1-6-2.5L207.3,466.84a8.53,8.53,0,1,1,12.07-12.07L256,491.4l36.63-36.63a8.53,8.53,0,0,1,12.07,12.07L262,509.5a8.51,8.51,0,0,1-6,2.5', transform='translate(0 0)')
    path(:style='{fill}', d='M503.47,264.54H366.94a8.53,8.53,0,0,1,0-17.07H503.47a8.53,8.53,0,0,1,0,17.07', transform='translate(0 0)')
    path(:style='{fill}', d='M460.8,307.2a8.53,8.53,0,0,1-6-14.57L491.4,256l-36.63-36.63a8.53,8.53,0,1,1,12.07-12.07L509.5,250a8.52,8.52,0,0,1,0,12.07L466.83,304.7a8.51,8.51,0,0,1-6,2.5', transform='translate(0 0)')
    path(:style='{fill}', d='M145.07,264.54H8.54a8.53,8.53,0,1,1,0-17.07H145.07a8.53,8.53,0,0,1,0,17.07', transform='translate(0 0)')
    path(:style='{fill}', d='M51.2,307.2a8.51,8.51,0,0,1-6-2.5L2.5,262A8.52,8.52,0,0,1,2.5,250L45.17,207.3a8.53,8.53,0,1,1,12.07,12.07L20.6,256l36.63,36.63a8.53,8.53,0,0,1-6,14.57', transform='translate(0 0)')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
