<template lang="pug">
  g
    path(:style='{fill}', d='M12.3,4.9l3.1-4.1c0.1-0.2,0.1-0.4,0-0.5C15.3,0.1,15.2,0,15,0H7C6.7,0,6.5,0.2,6.5,0.5c0,0.1,0,0.2,0.1,0.3l3.1,4.1\
    c-6,0.7-10.3,6.2-9.6,12.2c0.7,6,6.2,10.3,12.2,9.6c6-0.7,10.3-6.2,9.6-12.2C21.3,9.5,17.3,5.5,12.3,4.9L12.3,4.9z M11,24.8\
    c-5,0-9-4-9-9s4-9,9-9s9,4,9,9S16,24.8,11,24.8z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
