<template lang="pug">
  g
    path(:style='{fill}', d='M1.08,67.85A1,1,0,0,1,0,66.93v-9.2a1,1,0,0,1,1.08-.92,1,1,0,0,1,1.08.92v9.2A1,1,0,0,1,1.08,67.85Z')
    path(:style='{fill}', d='M3.25,70A3.25,3.25,0,0,1,0,66.77a1.08,1.08,0,1,1,2.16,0,1.09,1.09,0,0,0,1.09,1.08,1.08,1.08,0,0,1,1.08,1.07,1,1,0,0,1-.32.76A1,1,0,0,1,3.25,70Z')
    path(:style='{fill}', d='M64.92,67.85a1,1,0,0,1-1.08-.92v-9.2a1.09,1.09,0,0,1,2.16,0v9.2A1,1,0,0,1,64.92,67.85Z')
    path(:style='{fill}', d='M62.75,70a1.08,1.08,0,1,1,0-2.15,1.09,1.09,0,0,0,1.09-1.08,1.08,1.08,0,0,1,2.16,0A3.25,3.25,0,0,1,62.75,70Z')
    path(:style='{fill}', d='M3.25,70a1.08,1.08,0,1,1,0-2.15h59.5a1.08,1.08,0,1,1,0,2.15Z')
    path(:style='{fill}', d='M2.52,56A2.49,2.49,0,0,1,.35,54.93a2.47,2.47,0,0,1-.07-2.41L5,42.43A4.72,4.72,0,0,1,9,39.85,1.08,1.08,0,1,1,9,42a2.63,2.63,0,0,0-2.09,1.33L2.25,53.42c-.11.22-.09.33-.08.35a.57.57,0,0,0,.35.08h61a.57.57,0,0,0,.35-.08s0-.13-.08-.35L59.07,43.33A2.6,2.6,0,0,0,57,42a1.08,1.08,0,1,1,0-2.15,4.72,4.72,0,0,1,4,2.58l4.68,10.08A2.35,2.35,0,0,1,63.48,56Z')
    path(:style='{fill}', d='M60.41,39a1.2,1.2,0,0,1-.74-.25,1,1,0,0,1-.38-.69.94.94,0,0,1,.28-.73,1.25,1.25,0,0,0,.34-.64l3.84-23.12a.68.68,0,0,0-.17-.6.88.88,0,0,0-.64-.23H3.06a.9.9,0,0,0-.64.23.69.69,0,0,0-.17.61L6.09,36.73a1.18,1.18,0,0,0,.34.64.93.93,0,0,1-.11,1.42,1.17,1.17,0,0,1-.73.25,1.19,1.19,0,0,1-.85-.35A3,3,0,0,1,3.88,37L0,13.91a2.54,2.54,0,0,1,.7-2.21,3.2,3.2,0,0,1,2.33-.93H62.94a3.2,3.2,0,0,1,2.33.93,2.53,2.53,0,0,1,.7,2.2L62.12,37a3.11,3.11,0,0,1-.87,1.68A1.2,1.2,0,0,1,60.41,39Z')
    path(:style='{fill}', d='M64.88,9.55c-.62,0-1.12-.35-1.12-.79V4c0-.43.5-.79,1.12-.79S66,3.59,66,4V8.76C66,9.2,65.5,9.55,64.88,9.55Z')
    path(:style='{fill}', d='M1.12,5.38A1.1,1.1,0,0,1,0,4.31,3.46,3.46,0,0,1,3.22,1.09h.14A1.1,1.1,0,0,1,4.47,2a1.09,1.09,0,0,1-1,1.2c-.61.08-1.26.51-1.26,1.09A1.1,1.1,0,0,1,1.12,5.38Z')
    path(:style='{fill}', d='M64.88,5.38a1.1,1.1,0,0,1-1.12-1.07c0-.58-.65-1-1.26-1.09a1.09,1.09,0,0,1-1-1.2,1.1,1.1,0,0,1,1.11-.94h.16A3.46,3.46,0,0,1,66,4.31,1.1,1.1,0,0,1,64.88,5.38Z')
    path(:style='{fill}', d='M1.12,9.55C.5,9.55,0,9.2,0,8.76V4c0-.43.5-.79,1.12-.79s1.12.36,1.12.79V8.76C2.24,9.2,1.74,9.55,1.12,9.55Z')
    path(:style='{fill}', d='M3.36,3.23a1.11,1.11,0,0,1-1.12-1,1.07,1.07,0,0,1,.26-.78,1.14,1.14,0,0,1,.76-.38C3.83,1,17.16,0,33,0S62.17,1,62.73,1.08a1.14,1.14,0,0,1,.77.38,1.07,1.07,0,0,1,.26.78,1.09,1.09,0,0,1-1.11,1h-.1C62,3.18,48.74,2.15,33,2.15S4,3.18,3.45,3.23Z')
    path(:style='{fill}', d='M42.26,46.56A1,1,0,0,1,41.38,45a9.83,9.83,0,1,0-16.76,0,1,1,0,0,1,.13.78,1.08,1.08,0,0,1-.47.64,1.09,1.09,0,0,1-.54.15,1,1,0,0,1-.88-.49,11.9,11.9,0,1,1,20.28,0A1,1,0,0,1,42.26,46.56Z')
    path(:style='{fill}', d='M27.32,45.34a.85.85,0,0,1-.66-.31,8.32,8.32,0,1,1,12.7,0,.88.88,0,0,1-1.54-.49.88.88,0,0,1,.2-.64,6.49,6.49,0,0,0,1.55-4.21A6.57,6.57,0,1,0,28,43.9a.89.89,0,0,1,.21.64.86.86,0,0,1-.31.59A.91.91,0,0,1,27.32,45.34Z')
    path(:style='{fill}', d='M9,42a1.08,1.08,0,1,1,0-2.15H19.48a1.08,1.08,0,1,1,0,2.15Z')
    path(:style='{fill}', d='M46.52,42a1.08,1.08,0,1,1,0-2.15H57A1.08,1.08,0,1,1,57,42Z')
    path(:style='{fill}', d='M33,29.21a.56.56,0,0,1-.37-.13l-5-4.31a.53.53,0,0,1-.18-.39.51.51,0,0,1,.16-.4l2.24-2.15a.55.55,0,0,1,.39-.16h5.6a.57.57,0,0,1,.39.16L38.43,24a.51.51,0,0,1,.16.4.53.53,0,0,1-.18.39l-5,4.31A.56.56,0,0,1,33,29.21Zm-4.22-4.87L33,28l4.22-3.61-1.66-1.59H30.43Z')
    path(:style='{fill}', d='M31.07,25.13a.77.77,0,1,1,0-1.53h3.86a.77.77,0,1,1,0,1.53Z')
    path(:style='{fill}', d='M33,27.06a.54.54,0,0,1-.54-.54V24.46a.54.54,0,1,1,1.08,0v2.06A.54.54,0,0,1,33,27.06Z')
    path(:style='{fill}', d='M19.48,49.54a1.08,1.08,0,1,1,0-2.16h9.73a1.08,1.08,0,1,1,0,2.16Z')
    path(:style='{fill}', d='M36.79,49.54a1.08,1.08,0,0,1,0-2.16h9.74a1.08,1.08,0,0,1,0,2.16Z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
