<template lang="pug">
  g
    path(:style='{fill}', d="M3.07,2.59v0h0v0h0l0,0h0l0,0h0l0,0h0L6.8,6.05a5.81,5.81,0,0,0-5.21,5.69A5.82,5.82,0,0,0,7.5,17.46a5.82,5.82,0,0,0,5.91-5.72A5.81,5.81,0,0,0,8.2,6.05l3.64-3.28h0l0,0h0l0,0h0l0,0h0v0h0v0h0v0h0v0h0a.64.64,0,0,1,0-.07h0l0,0L10.3.13h0l0,0h0l0,0h0l0,0h0a.28.28,0,0,0-.13,0H4.91A.3.3,0,0,0,4.7.13L3.12,2.41l0,0h0a.64.64,0,0,1,0,.07h0v0h0v0Zm1,.26H6l.85,2.48Zm2.52,0H8.38L7.5,5.39Zm6.2,8.89A5.26,5.26,0,0,1,7.5,16.9a5.26,5.26,0,0,1-5.33-5.16A5.25,5.25,0,0,1,7.5,6.58,5.25,5.25,0,0,1,12.83,11.74ZM8.14,5.33,9,2.85h1.9ZM10.09.83l1,1.45H9.27ZM9.56.57,8.78,2,8,.57ZM7.5.88l.79,1.4H6.72ZM7,.57,6.22,2,5.44.57ZM4.92.83l.81,1.45H3.91Z")
    path(:style='{fill}', d="M10.44,5.06a.29.29,0,0,0-.38.15.27.27,0,0,0,.15.37,6.69,6.69,0,0,1,4.2,6.16A6.81,6.81,0,0,1,7.5,18.43,6.81,6.81,0,0,1,.59,11.74,6.68,6.68,0,0,1,4.8,5.58.28.28,0,0,0,5,5.2a.29.29,0,0,0-.38-.15A7.25,7.25,0,0,0,0,11.74,7.39,7.39,0,0,0,7.5,19,7.39,7.39,0,0,0,15,11.74,7.24,7.24,0,0,0,10.44,5.06Z")

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
