<template lang="pug">
  g
    path(:style='{fill}', d='M15.4,20.7L15.4,20.7l-5.9,0c-0.1,0-0.2,0-0.2-0.1l-4.1-4.3c-0.1-0.1-0.1-0.1-0.1-0.2l0-6.1c0-0.1,0-0.2,0.1-0.2l4.1-4.3c0.1-0.1,0.1-0.1,0.2-0.1l5.9,0c0.1,0,0.2,0,0.2,0.1l4.1,4.3c0.1,0.1,0.1,0.1,0.1,0.2l0,6.1c0,0.1,0,0.2-0.1,0.2l-4.1,4.3C15.6,20.6,15.5,20.7,15.4,20.7 M9.7,20l5.6,0l4-4.1l0-5.8l-4-4.1L9.7,6l-4,4.1l0,5.8L9.7,20z')
    path(:style='{fill}', d='M12.5,26C5.6,26,0,20.2,0,13S5.6,0,12.5,0C19.4,0,25,5.8,25,13S19.4,26,12.5,26 M12.5,0.7C5.9,0.7,0.6,6.2,0.6,13c0,6.8,5.3,12.3,11.9,12.3c6.6,0,11.9-5.5,11.9-12.3C24.4,6.2,19.1,0.7,12.5,0.7')
    path(:style='{fill}', d='M12.5,24.2c-0.1,0-0.2,0-0.2-0.1l-2.8-3.4l-4.4,0.4c-0.1,0-0.2,0-0.2-0.1c-0.1-0.1-0.1-0.2-0.1-0.3l0.4-4.5l-3.3-2.9c-0.1-0.1-0.1-0.2-0.1-0.2c0-0.1,0-0.2,0.1-0.2l3.3-2.9L4.7,5.3c0-0.1,0-0.2,0.1-0.3C4.8,5,4.9,5,5,5l4.4,0.4l2.8-3.4c0.1-0.1,0.1-0.1,0.2-0.1c0.1,0,0.2,0,0.2,0.1l2.8,3.4l4.3-0.4c0.1,0,0.2,0,0.2,0.1c0.1,0.1,0.1,0.2,0.1,0.3l-0.3,4.6l3.3,2.9c0.1,0.1,0.1,0.2,0.1,0.2c0,0.1,0,0.2-0.1,0.2l-3.3,2.9l0.4,4.4c0,0,0,0.1,0,0.1c0,0.2-0.1,0.3-0.3,0.3c0,0,0,0,0,0c0,0,0,0,0,0l-4.4-0.3l-2.8,3.4C12.7,24.2,12.6,24.2,12.5,24.2 M9.6,20c0.1,0,0.2,0,0.2,0.1l2.7,3.3l2.7-3.3c0.1-0.1,0.2-0.1,0.3-0.1l4.2,0.3l-0.4-4.3c0-0.1,0-0.2,0.1-0.3l3.2-2.8l-3.2-2.8c-0.1-0.1-0.1-0.2-0.1-0.3l0.3-4.4L15.5,6c-0.1,0-0.2,0-0.3-0.1l-2.7-3.3L9.8,5.9C9.7,5.9,9.7,6,9.6,6L5.3,5.6l0.4,4.3c0,0.1,0,0.2-0.1,0.3L2.5,13l3.2,2.8c0.1,0.1,0.1,0.2,0.1,0.3l-0.4,4.3L9.6,20C9.6,20,9.6,20,9.6,20')
    path(:style='{fill}', d='M7.8,25c-0.1,0-0.2,0-0.3-0.1L4.8,21l-3.7-2.9C1,18,1,17.9,1,17.8L1.7,13L0.9,8.3c0-0.1,0-0.2,0.1-0.3l3.8-3l2.8-3.9c0.1-0.1,0.2-0.1,0.3-0.1l4.6,0.7L17,1.1c0.1,0,0.2,0,0.3,0.1L20.1,5l3.8,2.9C24,8,24,8.1,24,8.2L23.3,13l0.7,4.7c0,0.1,0,0.2-0.1,0.3l-3.7,2.9l-2.8,3.9c-0.1,0.1-0.2,0.1-0.3,0.1l-4.6-0.7L7.8,25C7.8,25,7.8,25,7.8,25 M1.6,17.7l3.6,2.8c0,0,0,0,0.1,0.1l2.6,3.8l4.5-0.8c0,0,0.1,0,0.1,0l4.5,0.7l2.7-3.8c0,0,0,0,0.1-0.1l3.6-2.8l-0.7-4.6c0,0,0-0.1,0-0.1l0.7-4.6l-3.7-2.8c0,0,0,0-0.1-0.1l-2.7-3.6l-4.4,0.6c0,0-0.1,0-0.1,0L8,1.7L5.2,5.5c0,0,0,0-0.1,0.1L1.5,8.4L2.3,13c0,0,0,0.1,0,0.1L1.6,17.7z')
    path(:style='{fill}', d='M5,5.6c-0.1,0-0.2,0-0.2-0.1l-1-1.2C3.6,4.2,3.6,4,3.8,3.9c0.1-0.1,0.3-0.1,0.4,0l1,1.2c0.1,0.1,0.1,0.3,0,0.5C5.1,5.6,5.1,5.6,5,5.6')
    path(:style='{fill}', d='M2,13.3H0.3C0.1,13.3,0,13.2,0,13c0-0.2,0.1-0.3,0.3-0.3H2c0.2,0,0.3,0.1,0.3,0.3C2.3,13.2,2.2,13.3,2,13.3')
    path(:style='{fill}', d='M3.9,22.2c-0.1,0-0.2,0-0.2-0.1c-0.1-0.1-0.1-0.3,0-0.5l1.1-1.2c0.1-0.1,0.3-0.1,0.4,0c0.1,0.1,0.1,0.3,0,0.5l-1.1,1.2C4.1,22.2,4,22.2,3.9,22.2')
    path(:style='{fill}', d='M12.5,26c-0.2,0-0.3-0.1-0.3-0.3v-1.8c0-0.2,0.1-0.3,0.3-0.3c0.2,0,0.3,0.1,0.3,0.3v1.8C12.8,25.9,12.7,26,12.5,26')
    path(:style='{fill}', d='M21,22.2c-0.1,0-0.2,0-0.2-0.1l-1-1.2c-0.1-0.1-0.1-0.3,0-0.5c0.1-0.1,0.3-0.1,0.4,0l1,1.2c0.1,0.1,0.1,0.3,0,0.5C21.2,22.2,21.1,22.2,21,22.2')
    path(:style='{fill}', d='M24.7,13.3H23c-0.2,0-0.3-0.1-0.3-0.3c0-0.2,0.1-0.3,0.3-0.3h1.7c0.2,0,0.3,0.1,0.3,0.3C25,13.2,24.9,13.3,24.7,13.3')
    path(:style='{fill}', d='M20,5.6c-0.1,0-0.2,0-0.2-0.1c-0.1-0.1-0.1-0.3,0-0.5l1.1-1.2c0.1-0.1,0.3-0.1,0.4,0c0.1,0.1,0.1,0.3,0,0.5l-1.1,1.2C20.1,5.5,20,5.6,20,5.6')
    path(:style='{fill}', d='M12.5,2.4c-0.2,0-0.3-0.1-0.3-0.3V0.3c0-0.2,0.1-0.3,0.3-0.3c0.2,0,0.3,0.1,0.3,0.3v1.8C12.8,2.3,12.7,2.4,12.5,2.4')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
