<template lang="pug">
  g
    path(:style='{fill}', d='M12.11,23.2a11.4,11.4,0,1,1,11.4-11.4A11.41,11.41,0,0,1,12.11,23.2Zm0-20.11a8.71,8.71,0,1,0,8.71,8.71A8.72,8.72,0,0,0,12.11,3.09Z', transform='translate(-0.72 -0.41)')
    path(:style='{fill}', d='M29.38,30.32a1.34,1.34,0,0,1-.95-.39l-8-8a1.34,1.34,0,0,1,1.9-1.9l8,8a1.34,1.34,0,0,1-.95,2.29Z', transform='translate(-0.72 -0.41)')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
