<template lang="pug">
  g
    path(:style='{fill}', d='M12.9,5.5l2.9-3.9c0.3-0.4,0.2-1.1-0.2-1.4c-0.4-0.3-1.1-0.2-1.4,0.2c0,0,0,0,0,0L11,4.7L7.8,0.4C7.5,0,6.8-0.1,6.4,0.2\
    C6,0.5,5.9,1.2,6.2,1.6l2.9,3.9c-6,1-10,6.7-9,12.7c1,6,6.7,10,12.7,9s10-6.7,9-12.7C21,9.9,17.5,6.3,12.9,5.5z M11,25.3\
    c-5,0-9-4-9-9s4-9,9-9s9,4,9,9S16,25.3,11,25.3z')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
