<template lang="pug">
  g
    path(:style='{fill}', d='M13.7,11.5c-1,0-1.9,0.5-2.5,1.2l-5-2.7c0.1-0.3,0.2-0.7,0.2-1c0-0.4-0.1-0.7-0.2-1.1l4.9-2.8c0.6,0.8,1.6,1.2,2.5,1.2\
    c1.8,0,3.2-1.4,3.2-3.2S15.4,0,13.7,0c-1.8,0-3.2,1.4-3.2,3.2l0,0c0,0.4,0.1,0.7,0.2,1.1L5.7,7c-1-1.4-3-1.7-4.4-0.6\
    s-1.7,3.1-0.6,4.5s3.1,1.7,4.5,0.6c0.2-0.2,0.4-0.4,0.6-0.6l4.9,2.7c-0.6,1.7,0.3,3.5,1.9,4.1c1.7,0.6,3.5-0.3,4.1-1.9\
    s-0.3-3.5-1.9-4.1C14.4,11.6,14,11.5,13.7,11.5L13.7,11.5z')
    path(:style='{fill}', d='M13.7,1c1.2,0,2.2,1,2.2,2.2s-1,2.2-2.2,2.2s-2.2-1-2.2-2.2l0,0C11.5,2,12.5,1,13.7,1z')
    path(:style='{fill}', d='M3.2,11.1C2,11.1,1,10.2,1,8.9s1-2.2,2.2-2.2s2.2,1,2.2,2.2c0,0,0,0,0,0.1C5.4,10.2,4.4,11.2,3.2,11.1\
    C3.2,11.2,3.2,11.2,3.2,11.1L3.2,11.1z')
    path(:style='{fill}', d='M13.7,16.9c-1.2,0-2.2-1-2.2-2.2s1-2.2,2.2-2.2s2.2,1,2.2,2.2l0,0C15.9,15.9,14.9,16.9,13.7,16.9z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
