<template lang="pug">
  g
    path(:style='{fill}', d='M13.67,11.5a3.21,3.21,0,0,0-2.54,1.25L6.22,10A3.35,3.35,0,0,0,6.4,9a3.07,3.07,0,0,0-.19-1.06l4.92-2.75A3.16,3.16,0,0,0,13.67,6.4a3.2,3.2,0,1,0-3.2-3.2,3.11,3.11,0,0,0,.18,1.06L5.74,7a3.2,3.2,0,1,0,0,3.89l4.91,2.74a3.2,3.2,0,1,0,3-2.13ZM13.67,1a2.2,2.2,0,1,1-2.2,2.19A2.2,2.2,0,0,1,13.67,1ZM3.2,11.14A2.2,2.2,0,1,1,5.4,9a2.19,2.19,0,0,1-2.2,2.19Zm10.47,5.75a2.2,2.2,0,1,1,2.2-2.19,2.2,2.2,0,0,1-2.2,2.19Z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
