<template lang="pug">
  g
    path(:style='{fill}', d='M28.66,0H6.34L0,8.57,17.5,25,35,8.57ZM24.17,9.19,17.5,22.47,10.89,9.19ZM11.51,7.78l6-6.08,6,6.08Zm7.67-6.37h8.11L25,7.31ZM10.09,7.22,8.18,1.41h7.64Zm-.76,2,5.8,11.66L2.71,9.19Zm16.4,0h6.56L19.9,20.82Zm.59-1.41L28.5,2.14l4.17,5.64ZM6.81,1.72l2,6.06H2.33Zm0,0')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
