<template lang="pug">
  g
    path(:style='{fill}', d='M102,21c30.9,0,56,25.1,56,56s-25.1,56-56,56s-56-25.1-56-56C46,46.1,71.1,21,102,21 M102,13c-35.3,0-64,28.7-64,64 s28.7,64,64,64s64-28.7,64-64S137.3,13,102,13')
    path(:style='{fill}', d='M102,3C86.1,3,70.6,8.1,57.9,17.6l7.1,7.1c22.2-15.7,51.8-15.7,74,0l7.1-7.1C133.4,8.1,117.9,3,102,3')
    polygon(:style='{fill}', points='24.2,144 0,144 0,0 24.2,0 24.2,6 6,6 6,138 24.2,138 ')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
