<template lang="pug">
  g
    path(:style='{fill}', d='M10.5,8.3l3.4-6.8c0.2-0.3,0.2-0.7-0.1-1C13.6,0.2,13.2,0,12.9,0H7.1C6.8,0,6.4,0.2,6.2,0.5C6,0.8,6,1.2,6.2,1.6l3.4,6.8C4.2,8.5,0,12.9,0,18.1C0,23.6,4.5,28,10,28s10-4.4,10-9.9C20,12.9,15.8,8.5,10.5,8.3z M10,27.4c-5.2,0-9.4-4.2-9.4-9.3S4.8,8.9,10,8.9s9.4,4.2,9.4,9.3C19.4,23.2,15.2,27.4,10,27.4z M6.7,0.8C6.8,0.7,7,0.6,7.1,0.6h5.7c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.1,0.3,0,0.5L10,7.9L6.7,1.3C6.6,1.1,6.6,1,6.7,0.8z')
    path(:style='{fill}', d='M10,9.8c-4.5,0-8.2,3.7-8.2,8.3s3.7,8.3,8.2,8.3s8.2-3.7,8.2-8.3S14.5,9.8,10,9.8zM10,25.9c-4.2,0-7.6-3.5-7.6-7.7s3.4-7.7,7.6-7.7s7.6,3.5,7.6,7.7S14.2,25.9,10,25.9z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
