<template lang="pug">
  g
    path(:style='{fill}', d='M22.4,8.6c0.1,0,0.2-0.1,0.3-0.1l2-2.8c0.1-0.1,0.1-0.2,0-0.3c-0.1-0.1-0.2-0.2-0.3-0.2h-3.9c-0.1,0-0.2,0.1-0.3,0.2c-0.1,0.1,0,0.2,0,0.3l2,2.8C22.2,8.5,22.3,8.6,22.4,8.6z M21,5.8h2.7l-1.4,1.9L21,5.8z')
    path(:style='{fill}', d='M25.2,19h-1.3h-0.6v-9l4.2-5.9c0.6-0.9,0.7-2.1,0.1-3C27.5,1,27.4,1,27.3,1c-0.1,0-0.2,0-0.2,0.1c0-0.1,0-0.1-0.1-0.2l-0.8-0.8C26.1,0,26.1,0,26,0h-7.3c-0.1,0-0.2,0-0.2,0.1l-0.7,0.7c-0.1,0.1-0.1,0.2-0.1,0.3C17.6,1,17.5,1,17.4,1c-0.1,0-0.2,0.1-0.3,0.1c-0.6,0.9-0.5,2.1,0.1,3l4.2,5.9v9h-0.6h-1.3c0,0-2.8,0.1-2.8,2.9c0,1,0.5,1.8,1.5,2.2c0.3,0.1,0.6,0.2,0.9,0.2c0.6,0,1.3-0.2,1.7-0.7c0.9-1,0.5-2.1,0.2-2.5c-0.1-0.1-0.3-0.2-0.4-0.1s-0.2,0.3-0.1,0.4c0,0,0.6,0.9-0.1,1.7c-0.4,0.5-1.2,0.6-1.9,0.3c-0.4-0.1-1-0.6-1.1-1.6c0-1.3,0.7-1.8,1.3-2.1c0.2,0,1,0.1,1.6,0.3c0.4,0.1,0.7,0.2,1.1,0.2V25c0,0.5,0.4,1,1,1s1-0.4,1-1v-4.7c0.3-0.1,0.7-0.1,1.1-0.2c0.6-0.1,1.4-0.3,1.6-0.3l0,0c0.6,0.2,1.3,0.8,1.3,2.1c0,1.1-0.7,1.5-1.1,1.6c-0.7,0.3-1.5,0.1-1.9-0.3c-0.7-0.7-0.3-1.6-0.1-1.7c0.1-0.1,0.1-0.3-0.1-0.4s-0.3-0.1-0.4,0.1c-0.3,0.4-0.7,1.6,0.2,2.5c0.4,0.4,1,0.7,1.7,0.7c0.3,0,0.6-0.1,0.9-0.2c0.9-0.3,1.4-1.1,1.5-2.2C28,19.1,25.2,19,25.2,19z M21.9,9.7l-4.2-5.9c-0.4-0.6-0.5-1.2-0.3-1.9l1.8,2.5c0.1,0.1,0.2,0.1,0.3,0.1h5.8c0.1,0,0.2-0.1,0.3-0.1l1.8-2.5c0.2,0.6,0.1,1.3-0.3,1.9l-4.2,5.9c0,0.1-0.1,0.1-0.1,0.2V19H22V9.9C22,9.8,22,9.7,21.9,9.7z M25.8,0.6l0.5,0.5l0.1,0.1h-8.3L18.4,1l0.4-0.4C18.8,0.6,25.8,0.6,25.8,0.6z M18.2,1.8h8.4l-1.5,2h-5.5L18.2,1.8z M24.2,19.5c-0.7,0.2-1.4,0.3-1.8,0.3h-0.1c-0.4,0-1.1-0.2-1.8-0.3H24.2z M22.4,25.4c-0.2,0-0.4-0.2-0.4-0.4v-4.6c0.1,0,0.2,0,0.3,0h0.1c0.1,0,0.2,0,0.3,0V25C22.7,25.2,22.6,25.4,22.4,25.4z')
    path(:style='{fill}', d='M11.7,16.1c0.6-0.9,0.9-2,0.9-3.1s-0.3-2.2-0.9-3.1c0.7-0.2,1.2-0.8,1.2-1.6c0-0.9-0.7-1.6-1.7-1.6c-0.8,0-1.4,0.5-1.6,1.2c-1-0.6-2-0.9-3.2-0.9c-1.1,0-2.2,0.3-3.2,0.9C3.1,7.1,2.4,6.6,1.7,6.6C0.7,6.6,0,7.4,0,8.3C0,9,0.5,9.7,1.2,9.9c-1.2,1.9-1.2,4.4,0,6.3C0.5,16.3,0,17,0,17.7c0,0.9,0.7,1.6,1.7,1.6c0.8,0,1.4-0.5,1.6-1.2c1,0.6,2,0.9,3.2,0.9s2.2-0.3,3.2-0.9c0.2,0.7,0.8,1.2,1.6,1.2c0.9,0,1.7-0.7,1.7-1.6C12.9,17,12.4,16.3,11.7,16.1z M11.2,18.8c-0.6,0-1.1-0.5-1.1-1.1s0.5-1.1,1.1-1.1s1.1,0.5,1.1,1.1S11.8,18.8,11.2,18.8z M6.5,18.5c-1.1,0-2.2-0.3-3.1-0.9c-0.1-0.8-0.7-1.4-1.5-1.4c-1.3-1.9-1.3-4.3,0-6.2c0.8-0.1,1.4-0.7,1.5-1.4c0.9-0.6,2-0.9,3.1-0.9c1.1,0,2.2,0.3,3.1,0.9c0.1,0.8,0.7,1.4,1.5,1.4c0.6,0.9,1,2,1,3.1c0,1.1-0.3,2.2-1,3.1c-0.8,0.1-1.4,0.7-1.5,1.4C8.7,18.1,7.6,18.5,6.5,18.5z M2.8,17.7c0,0.6-0.5,1.1-1.1,1.1s-1.1-0.5-1.1-1.1s0.5-1.1,1.1-1.1S2.8,17.1,2.8,17.7z M1.7,7.2c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1S0.6,8.9,0.6,8.3C0.6,7.7,1.1,7.2,1.7,7.2z M10.2,8.3c0-0.6,0.5-1.1,1.1-1.1c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1C10.7,9.4,10.2,8.9,10.2,8.3z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
