<template lang="pug">
  g
    path(:style='{fill}', d="M9.36,16A7.35,7.35,0,0,1,8.48,1.34h1.76A7.35,7.35,0,0,1,9.36,16Zm0-14.25a6.9,6.9,0,1,0,6.9,6.9A6.91,6.91,0,0,0,9.36,1.74Z")
    path(:style='{fill}', d="M9.36,15.94A7.3,7.3,0,0,1,8.49,1.39h1.75a7.3,7.3,0,0,1-.88,14.55Zm0-14.25a6.95,6.95,0,1,0,7,7A7,7,0,0,0,9.36,1.69Z")
    path(:style='{fill}', d="M9.36,18A9.36,9.36,0,0,1,5.7,0l.09,0A.23.23,0,0,1,6,.14a.24.24,0,0,1-.12.3,8.9,8.9,0,1,0,7,0,.22.22,0,0,1-.12-.3A.23.23,0,0,1,13,0H13A9.37,9.37,0,0,1,9.36,18Z")
    path(:style='{fill}', d="M9.36,18A9.32,9.32,0,0,1,5.72.06h.07A.16.16,0,0,1,6,.16a.17.17,0,0,1-.09.23,9,9,0,1,0,7,0,.18.18,0,0,1-.09-.24A.18.18,0,0,1,13,.05l.07,0A9.31,9.31,0,0,1,9.36,18Z")

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
