<template lang="pug">
  g
    path(:style='{fill}', d="M100.1,159.3L0.9,67.1l-0.2-0.2c0,0-0.1-0.1-0.2-0.2v-0.1c-0.1-0.1-0.1-0.2-0.2-0.2l-0.1-0.1c0,0-0.1-0.1-0.1-0.2C0.1,66,0,65.9,0,65.8v-0.1c0,0,0-0.1,0-0.2v-0.1c0-0.1,0-0.2,0-0.3V65l0.1-0.3c0-0.2,0.1-0.4,0.2-0.6V64c0-0.1,0.1-0.2,0.1-0.3L41.7,2.2c0.4-0.6,1.1-1.1,1.9-1.2c0.2,0,0.3,0,0.4,0h133.4c0.4,0,0.8,0.1,1.2,0.3l0.1,0.1l0.2,0.1c0.1,0.1,0.3,0.2,0.3,0.2l0.2,0.3l0.2,0.3l41.2,61.4c0.1,0.1,0.1,0.2,0.2,0.3v0.1c0.1,0.2,0.1,0.4,0.2,0.6c0,0.1,0,0.2,0.1,0.3v0.1c0,0.1,0,0.2,0,0.3v0.1c0,0,0,0.1,0,0.2v0.1c0,0.1,0,0.2-0.1,0.3v0.1c0,0,0,0.1-0.1,0.1l-0.1,0.2c0,0.1-0.1,0.1-0.1,0.2l-0.1,0.1c0,0-0.1,0.1-0.2,0.2l-0.2,0.2l-99.2,92.2l-10.6,9.5L100.1,159.3z M110.7,157.1l29.8-89.3H81.1L110.7,157.1z M101,152.9l2.4-0.9L75.5,67.8h-66L101,152.9z M118.2,151.5l2.2,1.4l91.5-85.1H146L118.2,151.5z M148.6,62.5h65.1l-36-53.7L148.6,62.5z M81.9,62.5h57.7L110.7,9.3L81.9,62.5zM7.7,62.5h65.2L43.7,8.7L7.7,62.5z M77.4,59.6l28.9-53.2H48.5L77.4,59.6z M144.1,59.6L173,6.4h-57.8L144.1,59.6z")

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
