<template lang="pug">
  g
    path(:style='{fill}', d='M19.3,2L21,4.1l-9.4,10.4L2.3,4.1L4.1,2H19.3 M19.8,0H3.7C3.4,0,3.1,0.1,2.9,0.3L0.2,3.5c-0.3,0.4-0.3,0.9,0,1.3l11.4,12.7L23.1,4.8c0.3-0.4,0.3-0.9,0-1.3l-2.7-3.2C20.3,0.1,20,0,19.8,0L19.8,0z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
