<template lang="pug">
  g
    path(:style='{fill}', d='M18.6,14.8C24.2,12.7,28,6.9,28,0.5C28,0.2,27.8,0,27.5,0S27,0.2,27,0.5c0,0.3,0,0.5,0,0.8c-0.3,5.6-3.7,10.5-8.5,12.4c-0.1,0-0.2,0.1-0.3,0.1c-0.3-0.1-0.7-0.1-0.9,0.2l-0.9,0.9c-0.7-0.4-1.5-0.6-2.3-0.6s-1.6,0.2-2.3,0.6L10.9,14c-0.2-0.2-0.6-0.3-0.9-0.2c-0.1,0-0.2-0.1-0.3-0.1C4.8,11.8,1.4,6.9,1.1,1.3c0-0.3,0-0.5,0-0.8C1,0.2,0.8,0,0.5,0S0,0.2,0,0.5c0,6.4,3.8,12.2,9.4,14.2c0,0.2,0.1,0.4,0.2,0.5l0.7,0.7c-1.6,1.9-1.5,4.8,0.2,6.6c0.9,0.9,2.1,1.4,3.4,1.4s2.5-0.5,3.4-1.4c1.8-1.8,1.8-4.7,0.2-6.6l0.7-0.7C18.5,15.2,18.6,15,18.6,14.8z M14,23.4c-1.1,0-2.2-0.4-3-1.2c-1.6-1.6-1.6-4.3,0-6c0.8-0.8,1.8-1.2,3-1.2c1.1,0,2.2,0.4,3,1.2c1.6,1.6,1.6,4.3,0,6C16.2,22.9,15.1,23.4,14,23.4z M10.1,14.9c-0.1-0.1-0.1-0.3,0-0.4c0.1-0.1,0.1-0.1,0.2-0.1s0.1,0,0.2,0.1l0.8,0.7c-0.1,0.1-0.3,0.2-0.4,0.3L10.1,14.9z M17.2,15.6c-0.1-0.1-0.3-0.2-0.4-0.3l0.8-0.7c0.1-0.1,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0.1c0.1,0.1,0.1,0.1,0.1,0.2c0,0.1,0,0.1-0.1,0.2L17.2,15.6z')
    path(:style='{fill}', d='M12,17.1c-1.1,1.1-1.1,2.9,0,4c0.5,0.5,1.2,0.8,2,0.8c0.8,0,1.5-0.3,2-0.8c0.5-0.5,0.8-1.3,0.8-2s-0.3-1.5-0.8-2C14.9,16.1,13.1,16.1,12,17.1z M12.4,20.7c-0.9-0.9-0.9-2.3,0-3.1c0.4-0.4,1-0.6,1.6-0.6c0.6,0,1.1,0.2,1.6,0.6c0.4,0.4,0.6,1,0.6,1.6c0,0.6-0.2,1.1-0.6,1.6C14.7,21.6,13.3,21.6,12.4,20.7z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
