<template lang="pug">
  g
    path(:style='{fill}', d='M22.9,2h-5.8c0-0.1,0-0.2,0-0.2c0-0.4-0.3-0.8-0.8-0.8c-0.4,0-0.6,0.3-0.7,0.6c-0.1-0.1-0.1-0.2-0.2-0.2C14.7,0.5,13.6,0,12.4,0s-2.3,0.5-3.1,1.3C9.3,1.4,9.2,1.5,9.2,1.5C9.1,1.2,8.8,0.9,8.5,0.9C8,0.9,7.7,1.3,7.7,1.7c0,0.1,0,0.2,0,0.2H2.1C1,2,0,3,0,4.2v0.6C0,6,1,7,2.1,7h5.6c0,0.1-0.1,0.2-0.1,0.3c0,0.4,0.3,0.8,0.8,0.8c0.4,0,0.6-0.3,0.7-0.6c0.1,0.1,0.1,0.2,0.2,0.2C10.2,8.5,11.2,9,12.4,9s2.3-0.5,3.1-1.3c0.1-0.1,0.1-0.2,0.2-0.2c0.1,0.3,0.4,0.6,0.7,0.6c0.4,0,0.8-0.3,0.8-0.8c0-0.1,0-0.2-0.1-0.3h5.8C24,7,25,6,25,4.8V4.2C25,3,24,2,22.9,2z M24.5,4.8c0,0.9-0.7,1.7-1.6,1.7h-6.5c0.3-0.6,0.5-1.3,0.5-2c0-0.7-0.2-1.4-0.5-2h6.5c0.9,0,1.6,0.7,1.6,1.7C24.5,4.2,24.5,4.8,24.5,4.8z M9.7,7.3c-1.5-1.5-1.5-4,0-5.6c0.7-0.7,1.7-1.1,2.7-1.1s2,0.4,2.7,1.1c0.7,0.7,1.1,1.7,1.1,2.8s-0.4,2-1.1,2.8c-0.7,0.7-1.7,1.1-2.7,1.1S10.5,8,9.7,7.3z M0.5,4.8V4.2c0-0.9,0.7-1.7,1.6-1.7h6.4c-0.6,1.2-0.6,2.7,0,3.9H2.1C1.3,6.5,0.5,5.7,0.5,4.8z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
