<template lang="pug">
  g
    path(:style='{fill}', d='M7.8,0.5C7.6,0.2,7.3,0,6.9,0H1.1C0.7,0,0.4,0.2,0.2,0.5C0,0.8-0.1,1.2,0.1,1.6l3.5,6.9C3,8.5,2.5,8.8,2.1,9.1c-1,1-1,2.7,0,3.7c0.3,0.3,0.7,0.5,1.1,0.6c-0.2,0.3-0.2,0.7,0,1c-0.4,0.1-0.8,0.3-1.1,0.6c-1,1-1,2.7,0,3.7c0.3,0.3,0.7,0.5,1,0.6c-0.2,0.3-0.2,0.7,0,1c-1.7,0.4-3,1.9-3,3.7C0.1,26.3,1.9,28,4,28s3.9-1.7,3.9-3.8c0-1.8-1.3-3.3-3-3.7C4.9,20.3,5,20.2,5,20.1c0-0.2,0-0.4-0.2-0.6c0.4-0.1,0.8-0.3,1.1-0.6c0.5-0.5,0.8-1.2,0.8-1.9s-0.3-1.4-0.8-1.9c-0.3-0.3-0.7-0.5-1.1-0.6C4.9,14.4,5,14.3,5,14.1c0-0.2,0-0.4-0.2-0.6c0.4-0.1,0.8-0.3,1.1-0.6c0.5-0.5,0.8-1.2,0.8-1.9c0-0.7-0.3-1.4-0.8-1.9C5.5,8.7,5,8.5,4.4,8.4l3.5-6.9C8,1.2,8,0.8,7.8,0.5z M7.3,24.2c0,1.8-1.5,3.2-3.3,3.2c-1.8,0-3.3-1.4-3.3-3.2C0.7,22.4,2.2,21,4,21C5.8,21,7.3,22.4,7.3,24.2z M3.6,20c0-0.2,0.2-0.4,0.4-0.4c0.2,0,0.4,0.2,0.4,0.4c0,0.2-0.2,0.4-0.4,0.4C3.8,20.3,3.6,20.2,3.6,20z M6.1,17c0,1.1-0.9,2-2.1,2s-2.1-0.9-2.1-2s0.9-2,2.1-2C5.1,15,6.1,15.9,6.1,17z M3.6,14c0-0.2,0.2-0.4,0.4-0.4c0.2,0,0.4,0.2,0.4,0.4S4.2,14.4,4,14.4C3.8,14.4,3.6,14.2,3.6,14z M6.1,11c0,1.1-0.9,2-2.1,2s-2.1-0.9-2.1-2S2.9,9,4,9C5.1,9,6.1,9.9,6.1,11z M7.3,1.3L4,7.9L0.7,1.3C0.6,1.1,0.6,1,0.7,0.8s0.2-0.2,0.4-0.2h5.8c0.2,0,0.3,0.1,0.4,0.2S7.4,1.1,7.3,1.3z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
