<template lang="pug">
  g
    path(:style='{fill}', d='M28,0.5C28,0.2,27.8,0,27.5,0S27,0.2,27,0.5c0,5.5-2.8,10.2-7,12.6c-0.9-0.2-1.8,0-2.5,0.7c-0.1,0.1-0.1,0.1-0.1,0.2c-0.2-0.4-0.6-0.6-1-0.6c-0.6,0-1.1,0.5-1.1,1.2c0,0.1,0,0.1,0,0.1c-0.4-0.1-0.8-0.2-1.2-0.2s-0.8,0.1-1.2,0.2c0-0.1,0-0.1,0-0.1c0-0.6-0.5-1.2-1.1-1.2c-0.4,0-0.8,0.3-1,0.6c0-0.1-0.1-0.1-0.1-0.2C10,13.1,9,12.9,8.1,13.2C3.9,10.8,1,6,1,0.5C1,0.2,0.8,0,0.5,0S0,0.2,0,0.5c0,5.7,2.9,10.6,7.1,13.3c-1,1-1,2.7,0,3.7c0.5,0.5,1.1,0.8,1.8,0.8c0.6,0,1.1-0.2,1.5-0.5c-0.1,1.1,0.2,2.3,1,3.2c0.7,0.7,1.6,1.1,2.6,1.1s1.9-0.4,2.6-1.1c0.9-0.9,1.2-2,1-3.2c0.4,0.3,1,0.5,1.5,0.5c0.7,0,1.3-0.3,1.8-0.8c1-1,1-2.7,0-3.7c0,0-0.1-0.1-0.1-0.1C25.2,11.1,28,6.2,28,0.5z M8.9,17.6c-1.1,0-1.9-0.9-1.9-2s0.9-2,1.9-2s1.9,0.9,1.9,2S10,17.6,8.9,17.6z M16.4,14c0.3,0,0.5,0.2,0.5,0.5c0,0.3-0.2,0.5-0.5,0.5c-0.3,0-0.5-0.2-0.5-0.5C15.9,14.2,16.1,14,16.4,14z M16.8,15.6C16.8,15.6,16.8,15.6,16.8,15.6C16.8,15.6,16.8,15.6,16.8,15.6L16.8,15.6z M11.9,14c0.3,0,0.5,0.2,0.5,0.5c0,0.3-0.2,0.5-0.5,0.5c-0.3,0-0.5-0.2-0.5-0.5C11.4,14.2,11.6,14,11.9,14z M11.5,15.6L11.5,15.6L11.5,15.6L11.5,15.6z M14.1,21.4c-1.7,0-3.1-1.4-3.1-3.2c0-1.7,1.4-3.2,3.1-3.2s3.1,1.4,3.1,3.2C17.2,20,15.8,21.4,14.1,21.4z M21.3,15.6c0,1.1-0.9,2-1.9,2c-1.1,0-1.9-0.9-1.9-2s0.9-2,1.9-2C20.4,13.7,21.3,14.5,21.3,15.6z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
