<template lang="pug">
  g
    path(:style='{fill}', d='M23.6,3.1h-1c0-0.1,0.1-0.2,0.1-0.3c0-0.4-0.3-0.8-0.8-0.8c-0.3,0-0.5,0.2-0.6,0.4c0,0,0,0,0-0.1c-0.5-0.6-1.3-0.9-2.1-0.9c-0.7,0-1.3,0.2-1.8,0.7c-0.1-0.3-0.4-0.5-0.7-0.5c-0.2,0-0.4,0.1-0.6,0.3c-0.1-0.2-0.3-0.5-0.5-0.7C14.7,0.5,13.6,0,12.4,0s-2.3,0.5-3.1,1.3C9.1,1.5,9,1.8,8.8,2C8.7,1.8,8.5,1.7,8.2,1.7c-0.3,0-0.6,0.2-0.7,0.5C7,1.7,6.4,1.5,5.7,1.5c-0.8,0-1.5,0.3-2.1,0.9c0,0,0,0,0,0C3.5,2.2,3.3,2,3,2C2.6,2,2.3,2.4,2.3,2.8c0,0.1,0,0.2,0,0.3H1.4C0.6,3.1,0,3.7,0,4.5s0.6,1.4,1.4,1.4h0.9c0,0.1-0.1,0.2-0.1,0.3C2.3,6.6,2.6,7,3,7c0.3,0,0.5-0.2,0.6-0.4l0,0c0.5,0.6,1.3,0.9,2.1,0.9c0.7,0,1.3-0.2,1.8-0.7c0.1,0.3,0.4,0.5,0.7,0.5c0.2,0,0.4-0.1,0.6-0.3C9,7.2,9.1,7.5,9.3,7.7C10.2,8.5,11.3,9,12.4,9s2.3-0.5,3.1-1.3C15.7,7.5,15.9,7.3,16,7c0.1,0.2,0.3,0.3,0.6,0.3c0.3,0,0.6-0.2,0.7-0.5c0.5,0.4,1.2,0.7,1.8,0.7c0.8,0,1.5-0.3,2.1-0.9c0,0,0,0,0,0C21.4,6.8,21.6,7,21.9,7c0.4,0,0.8-0.3,0.8-0.8c0-0.1,0-0.2-0.1-0.3h1c0.8,0,1.4-0.6,1.4-1.4S24.4,3.1,23.6,3.1z M17.5,6.2c-0.4-0.5-0.7-1.1-0.7-1.7s0.3-1.3,0.7-1.7c0.4-0.5,1-0.7,1.7-0.7c0.6,0,1.2,0.3,1.7,0.7c0.9,0.9,0.9,2.5,0,3.5C19.9,7.1,18.4,7.1,17.5,6.2z M12.4,8.4c-1,0-2-0.4-2.7-1.1C9,6.5,8.6,5.6,8.6,4.5c0,0,0-0.1,0-0.1c0-1,0.4-2,1.1-2.7c0.7-0.7,1.7-1.1,2.7-1.1s2,0.4,2.7,1.1c0.7,0.7,1.1,1.7,1.1,2.7c0,0,0,0,0,0.1c0,0,0,0,0,0c0,1-0.4,2-1.1,2.7C14.4,8,13.4,8.4,12.4,8.4z M4,6.2C3.6,5.8,3.4,5.2,3.4,4.5S3.6,3.2,4,2.8c0.4-0.5,1-0.7,1.7-0.7s1.2,0.3,1.7,0.7c0.9,0.9,0.9,2.5,0,3.5C6.5,7.1,4.9,7.1,4,6.2z M2.9,3.6C2.9,3.9,2.8,4.2,2.8,4.5c0,0.3,0.1,0.6,0.1,0.9H1.4C0.9,5.4,0.6,5,0.6,4.5s0.4-0.9,0.8-0.9H2.9z M21.9,5.4c0.2-0.6,0.2-1.2,0-1.7h1.7c0.5,0,0.8,0.4,0.8,0.9s-0.4,0.9-0.8,0.9L21.9,5.4L21.9,5.4z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
