<template lang="pug">
  g
    path(:style='{fill}', d='M19.57,37a.46.46,0,0,1-.2,0L.24,27.36A.42.42,0,0,1,0,27V10a.42.42,0,0,1,.24-.38L19.37.05a.45.45,0,0,1,.42,0A.44.44,0,0,1,20,.43V36.57a.44.44,0,0,1-.21.37.46.46,0,0,1-.22.06M.87,26.71l18.26,9.16V1.13L.87,10.29Z', transform='translate(0)')
    path(:style='{fill}', d='M16.67,32.32a.45.45,0,0,1-.2,0L3.14,25.59a.42.42,0,0,1-.24-.38V11.79a.42.42,0,0,1,.24-.38L16.47,4.72a.42.42,0,0,1,.42,0,.44.44,0,0,1,.21.37V31.89a.44.44,0,0,1-.21.37.43.43,0,0,1-.22.06M3.77,24.94l12.46,6.25V5.81L3.77,12.06Z', transform='translate(0)')
    path(:style='{fill}', d='M13.77,27.65a.46.46,0,0,1-.2,0L6,23.82a.42.42,0,0,1-.24-.38V13.56A.42.42,0,0,1,6,13.18L13.57,9.4a.44.44,0,0,1,.43,0,.45.45,0,0,1,.2.37V27.21a.45.45,0,0,1-.2.37.48.48,0,0,1-.23.07m-7.1-4.48,6.66,3.34v-16L6.67,13.83Z', transform='translate(0)')
    path(:style='{fill}', d='M13.77,10.22a.39.39,0,0,1-.23-.07.42.42,0,0,1-.14-.59L19.19.21a.44.44,0,0,1,.6-.15.44.44,0,0,1,.15.6L14.14,10a.45.45,0,0,1-.37.21', transform='translate(0)')
    path(:style='{fill}', d='M19.57,37a.44.44,0,0,1-.38-.21L13.4,27.44a.42.42,0,0,1,.14-.59.44.44,0,0,1,.6.14l5.8,9.35a.44.44,0,0,1-.15.6.46.46,0,0,1-.22.06', transform='translate(0)')
    path(:style='{fill}', d='M.44,27.41a.44.44,0,0,1-.38-.21.43.43,0,0,1,.15-.59L6,23.07a.44.44,0,0,1,.6.14.42.42,0,0,1-.14.59L.66,27.34a.38.38,0,0,1-.22.07', transform='translate(0)')
    path(:style='{fill}', d='M6.23,14A.43.43,0,0,1,6,13.93L.21,10.39a.43.43,0,1,1,.45-.73l5.8,3.54a.42.42,0,0,1,.14.59.43.43,0,0,1-.37.2', transform='translate(0)')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
