<template lang="pug">
  g
    g
      g(transform='translate(0)')
        path(:style='{fill}', d='M83.886,2.006H80.313V.652A.652.652,0,0,0,79.661,0H74.884a.652.652,0,0,0-.652.652V2.006H70.659a.652.652,0,0,0-.652.652V4.664a.652.652,0,0,0,.652.652H83.885a.652.652,0,0,0,.652-.652V2.658A.652.652,0,0,0,83.886,2.006Zm-4.877,0H75.536V1.3h3.473Z' transform='translate(-70.007)')
    g(transform='translate(0.906 6.621)')
      g(transform='translate(0)')
        path(:style='{fill}', d='M93.192,169.5l.541,12.755a.652.652,0,0,0,.652.625h10.335a.652.652,0,0,0,.652-.625l.541-12.754Zm4.388,10.727a.652.652,0,0,1-1.3,0v-8.075a.652.652,0,1,1,1.3,0Zm2.624,0a.652.652,0,0,1-1.3,0v-8.075a.652.652,0,1,1,1.3,0Zm2.624,0a.652.652,0,0,1-1.3,0v-8.075a.652.652,0,1,1,1.3,0Z' transform='translate(-93.192 -169.497)')
</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
