<template lang="pug">
  g
    path(:style='{fill}', d='M12.49,24a.31.31,0,0,1-.3-.21L4.94,2.25a.37.37,0,0,1,0-.18L5.48.23A.32.32,0,0,1,5.88,0,.31.31,0,0,1,6.1.4L5.58,2.15,12.8,23.59a.3.3,0,0,1-.21.39.16.16,0,0,1-.1,0', transform='translate(0)')
    path(:style='{fill}', d='M5.24,2.46a.32.32,0,0,1-.31-.23.31.31,0,0,1,.23-.38L12.43,0a.31.31,0,0,1,.39.22.31.31,0,0,1-.23.38L5.32,2.45H5.24', transform='translate(0)')
    path(:style='{fill}', d='M12.49,24a.34.34,0,0,1-.21-.08L7.94,20.07,7.87,20,.88,6.71l0-.1L0,1.21A.33.33,0,0,1,.27.85L5.74,0H19.26l5.47.85a.33.33,0,0,1,.27.36l-.85,5.4,0,.1L17.13,20l-.07.09-4.35,3.84a.35.35,0,0,1-.22.08M8.42,19.65l4.07,3.62,4.09-3.62L23.52,6.47l.79-5L19.18.62H5.82l-5.13.8.79,5.05Z', transform='translate(0)')
    path(:style='{fill}', d='M12.51,24a.16.16,0,0,1-.1,0,.3.3,0,0,1-.21-.39L19.42,2.15,18.9.4A.31.31,0,0,1,19.12,0a.32.32,0,0,1,.4.22l.55,1.84a.37.37,0,0,1,0,.18L12.81,23.79a.31.31,0,0,1-.3.21', transform='translate(0)')
    path(:style='{fill}', d='M14.15,19.1A.31.31,0,0,1,14,19L12.3,17.72a.31.31,0,0,1-.06-.42L20.89,5.71,12.43,4a.31.31,0,0,1-.25-.3.32.32,0,0,1,.25-.31L24.61.86A.33.33,0,0,1,25,1a.3.3,0,0,1,0,.35l-3,4,2,.9a.31.31,0,0,1,.15.42.33.33,0,0,1-.43.15l-2-.88-1.38,7.87a.31.31,0,0,1-.11.18l-5.86,5a.3.3,0,0,1-.22.08m-1.21-1.67,1.21.95,5.57-4.75L20.94,6.7ZM14.05,3.65,21.3,5.16l2.63-3.53Z', transform='translate(0)')
    path(:style='{fill}', d='M19.76,2.46h-.08L12.43.63A.31.31,0,0,1,12.2.25.31.31,0,0,1,12.59,0l7.25,1.82a.31.31,0,0,1,.23.38.32.32,0,0,1-.31.23', transform='translate(0)')
    path(:style='{fill}', d='M10.85,19.1a.3.3,0,0,1-.22-.08L4.77,14a.31.31,0,0,1-.11-.18L3.28,6l-2,.88A.33.33,0,0,1,.88,6.7.31.31,0,0,1,1,6.28l2-.9-3-4A.3.3,0,0,1,.05,1,.32.32,0,0,1,.39.86L12.56,3.34a.31.31,0,0,1,0,.61L4.11,5.71,12.75,17.3a.3.3,0,0,1-.05.42L11.05,19a.31.31,0,0,1-.2.07M5.28,13.63l5.57,4.75,1.21-.95L4.06,6.7Zm-4.21-12L3.7,5.16,11,3.65Z', transform='translate(0)')
    path(:style='{fill}', d='M8.16,20.16a.33.33,0,0,1-.3-.2.31.31,0,0,1,.19-.41l2.65-1a.33.33,0,0,1,.42.18.31.31,0,0,1-.19.4l-2.65,1-.12,0', transform='translate(0)')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
