<template lang="pug">
  g
    path(:style='{fill}', d='M22.9,2H16c-0.1-0.2-0.3-0.4-0.5-0.6C14.7,0.5,13.6,0,12.4,0s-2.3,0.5-3.1,1.3C9.1,1.5,9,1.7,8.8,2H2.2C1,2,0,3,0,4.2v0.6C0,6,1,7,2.1,7h6.7C9,7.3,9.1,7.5,9.3,7.7C10.2,8.5,11.2,9,12.4,9s2.3-0.5,3.1-1.3C15.7,7.5,15.9,7.3,16,7h6.8C24,7,25,6,25,4.8V4.2C25,3,24,2,22.9,2z M24.4,4.8c0,0.9-0.7,1.6-1.6,1.6h-6.5c0.3-0.6,0.5-1.3,0.5-2c0-0.7-0.2-1.4-0.5-2h6.5c0.9,0,1.6,0.7,1.6,1.6L24.4,4.8L24.4,4.8z M12.4,8.4c-1,0-2-0.4-2.7-1.1C9,6.5,8.6,5.6,8.6,4.5s0.4-2,1.1-2.8c0.7-0.7,1.7-1.1,2.7-1.1s2,0.4,2.7,1.1c0.7,0.7,1.1,1.7,1.1,2.8s-0.4,2-1.1,2.8C14.4,8,13.4,8.4,12.4,8.4z M0.6,4.2c0-0.9,0.7-1.6,1.6-1.6h6.4c-0.3,0.6-0.5,1.3-0.5,2c0,0.7,0.2,1.4,0.5,2H2.1c-0.9,0-1.6-0.7-1.6-1.6L0.6,4.2L0.6,4.2z')
    path(:style='{fill}', d='M14.4,6.6c0.5-0.5,0.8-1.3,0.8-2.1c0-0.8-0.3-1.5-0.8-2.1c-0.5-0.5-1.2-0.9-2-0.9c-0.8,0-1.5,0.3-2,0.9C9.9,3,9.6,3.7,9.6,4.5S9.9,6,10.4,6.6c0.5,0.5,1.2,0.9,2,0.9C13.2,7.4,13.9,7.1,14.4,6.6z M10.8,6.1c-0.4-0.4-0.7-1-0.7-1.6s0.2-1.2,0.7-1.6s1-0.7,1.6-0.7s1.2,0.2,1.6,0.7s0.7,1,0.7,1.6S14.4,5.7,14,6.1C13.2,7,11.7,7,10.8,6.1z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
