<template lang="pug">
  g
    path(:style='{fill}', d='M14.9,0.1c-1.7,0-3.3,0.9-4.2,2.3c-0.2,0.3-0.4,0.5-0.5,0.8C10,2.9,9.9,2.7,9.7,2.4C8.1,0,5-0.6,2.6,0.9\
    C2.2,1.1,1.9,1.4,1.5,1.8C0.6,2.9,0,4.4,0.1,5.9c0.1,1.8,0.8,3.6,2.1,4.9c1.6,1.7,3.3,3.4,5.2,4.8C8.2,16.3,9,17,9.9,17.7l0,0\
    c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.3-0.1,0.4-0.1l0,0l2.5-2.1c1.9-1.5,3.6-3.1,5.2-4.8c1.3-1.3,2-3.1,2.1-4.9C20.5,4.4,20,3,19,1.8\
    C17.8,0.7,16.4,0.1,14.9,0.1z M12.3,14.8c-0.7,0.6-1.4,1.2-2.1,1.8c-0.7-0.6-1.4-1.2-2.1-1.8C4,11.2,1.2,8.9,1.2,5.9\
    c0-1.2,0.4-2.4,1.2-3.3s1.9-1.4,3-1.4C6.8,1.3,8,2,8.7,3.1c0.4,0.6,0.7,1.2,0.9,1.8c0.1,0.3,0.4,0.5,0.7,0.4\
    c0.2-0.1,0.3-0.2,0.4-0.4c0.2-0.6,0.5-1.2,0.9-1.8c0.7-1.1,1.9-1.8,3.3-1.9c1.1,0,2.2,0.5,3,1.4s1.2,2.1,1.2,3.3\
    C19.1,8.9,16.4,11.2,12.3,14.8z')
    path(:style='{fill}', d='M10.2,18c-0.2,0-0.3-0.1-0.4-0.2l0,0c-0.9-0.8-1.7-1.5-2.4-2.1c-1.9-1.5-3.6-3.1-5.2-4.8c-1.3-1.3-2-3.1-2.1-5\
    c0-1.5,0.5-3,1.5-4.1c1.9-2.2,5.1-2.4,7.3-0.5c0.4,0.3,0.7,0.7,1,1.1c0.2,0.2,0.3,0.5,0.4,0.7c0.1-0.2,0.3-0.5,0.5-0.7\
    c1.5-2.4,4.7-3.1,7.1-1.6c0.4,0.3,0.8,0.6,1.1,1c1,1.1,1.5,2.6,1.5,4.1c-0.1,1.9-0.8,3.6-2.1,5c-1.6,1.7-3.3,3.4-5.2,4.8l0,0\
    c-0.8,0.7-1.6,1.4-2.4,2.1l0,0C10.5,18,10.3,18,10.2,18z')
    path(:style='{fill}', d='M5.4,0.1C4,0.1,2.6,0.7,1.6,1.9c-1,1.1-1.5,2.5-1.5,4c0.1,1.8,0.8,3.6,2.1,4.9c1.6,1.7,3.3,3.4,5.2,4.8\
    C8.2,16.3,9,17,9.9,17.7l0,0c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.3,0,0.4-0.1l0,0c0.9-0.8,1.7-1.4,2.4-2.1l0,0c1.8-1.5,3.6-3.1,5.2-4.8\
    c1.3-1.3,2-3.1,2-4.9c0-1.5-0.5-2.9-1.5-4c-1.8-2.1-5-2.3-7.1-0.5c-0.4,0.3-0.7,0.6-1,1c-0.2,0.3-0.3,0.5-0.5,0.8l-0.1,0.1L10,3.2\
    C10,3,9.8,2.7,9.6,2.4C8.7,1,7.1,0.1,5.4,0.1z')
    path(:style='{fill}', d='M10.2,16.6L10.2,16.6L8,14.8C3.9,11.3,1.2,9,1.2,5.9c0-1.2,0.4-2.4,1.2-3.3s1.9-1.4,3-1.4C6.8,1.2,8,1.9,8.8,3\
    c0.4,0.6,0.7,1.2,0.9,1.8c0.1,0.3,0.4,0.4,0.7,0.3c0.2-0.1,0.3-0.2,0.3-0.3c0.2-0.6,0.5-1.3,0.9-1.8c1.2-1.9,3.6-2.4,5.5-1.3\
    C17.4,2,17.7,2.3,18,2.6c0.8,0.9,1.2,2.1,1.2,3.3c0,3.1-2.7,5.4-6.9,8.9l0,0L10.2,16.6L10.2,16.6z')
    path(:style='{fill}', d='M5.4,1.3c-1.1,0-2.2,0.5-3,1.3c-0.7,1-1.1,2.1-1.1,3.3c0,3,2.7,5.3,6.8,8.8l2.1,1.8l2.1-1.8l0,0c4.1-3.5,6.8-5.8,6.8-8.8\
    c0-1.2-0.4-2.3-1.2-3.2c-0.8-0.9-1.9-1.4-3-1.3c-1.3,0-2.5,0.7-3.2,1.8C11.3,3.8,11,4.4,10.8,5c-0.1,0.3-0.3,0.5-0.6,0.4\
    C9.9,5.4,9.7,5.2,9.6,5C9.3,4.3,9,3.7,8.6,3.1C7.9,2,6.7,1.3,5.4,1.3z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
