<template lang="pug">
  g
    path(:style='{fill}', d='M14.92.06A5.11,5.11,0,0,0,10.68,2.4a7.69,7.69,0,0,0-.51.82,7.53,7.53,0,0,0-.5-.82,5.1,5.1,0,0,0-8.13-.59A6.11,6.11,0,0,0,.06,5.89a7.49,7.49,0,0,0,2.07,4.92A45.86,45.86,0,0,0,7.3,15.65c.79.67,1.6,1.36,2.46,2.11l0,0a.6.6,0,0,0,.39.15.58.58,0,0,0,.39-.15l0,0L13,15.65a45.2,45.2,0,0,0,5.18-4.84,7.49,7.49,0,0,0,2.07-4.92,6.16,6.16,0,0,0-1.48-4.08A5.12,5.12,0,0,0,14.92.06ZM12.28,14.75c-.68.57-1.37,1.17-2.11,1.8-.73-.63-1.42-1.23-2.1-1.8C4,11.24,1.24,8.93,1.24,5.89A4.94,4.94,0,0,1,2.42,2.6a4,4,0,0,1,3-1.36A4,4,0,0,1,8.7,3.09a6.66,6.66,0,0,1,.91,1.8.59.59,0,0,0,1.13,0,6.86,6.86,0,0,1,.9-1.8,4,4,0,0,1,3.28-1.85,4,4,0,0,1,3,1.36A4.94,4.94,0,0,1,19.1,5.89C19.1,8.93,16.39,11.24,12.28,14.75Z')
    path(:style='{fill}', d='M10.17,18a.69.69,0,0,1-.43-.16l0,0c-.86-.76-1.67-1.45-2.45-2.11a46.24,46.24,0,0,1-5.19-4.85A7.55,7.55,0,0,1,0,5.89,6.19,6.19,0,0,1,1.49,1.78a5.15,5.15,0,0,1,8.23.59,7.32,7.32,0,0,1,.45.72c.15-.25.3-.5.46-.72a5.15,5.15,0,0,1,8.23-.59,6.19,6.19,0,0,1,1.49,4.11,7.55,7.55,0,0,1-2.08,5,46.24,46.24,0,0,1-5.19,4.85h0c-.78.67-1.59,1.35-2.45,2.11l0,0A.67.67,0,0,1,10.17,18ZM5.43.12A5.06,5.06,0,0,0,1.58,1.85a6.11,6.11,0,0,0-1.46,4,7.46,7.46,0,0,0,2.05,4.89,46.82,46.82,0,0,0,5.17,4.83c.78.66,1.59,1.35,2.46,2.11l0,0a.56.56,0,0,0,.35.13.59.59,0,0,0,.36-.13l0,0c.86-.76,1.67-1.44,2.45-2.11h0a47.74,47.74,0,0,0,5.17-4.83,7.46,7.46,0,0,0,2.05-4.89,6.11,6.11,0,0,0-1.46-4,5,5,0,0,0-8,.58,8.39,8.39,0,0,0-.5.81l-.06.1-.05-.1a8.39,8.39,0,0,0-.5-.81A5.09,5.09,0,0,0,5.43.12Zm4.74,16.51,0,0L8,14.79C3.91,11.28,1.19,9,1.19,5.89A5,5,0,0,1,2.38,2.56,4,4,0,0,1,5.43,1.19,4,4,0,0,1,8.75,3.05a7.32,7.32,0,0,1,.92,1.82.53.53,0,0,0,1,0,7.32,7.32,0,0,1,.92-1.82A4,4,0,0,1,18,2.56a5,5,0,0,1,1.19,3.33c0,3.07-2.72,5.39-6.85,8.9h0l-2.1,1.81ZM5.43,1.3a3.9,3.9,0,0,0-3,1.34A4.88,4.88,0,0,0,1.3,5.89c0,3,2.71,5.32,6.81,8.81l2.06,1.77,2.07-1.77h0c4.1-3.49,6.8-5.8,6.8-8.81a4.88,4.88,0,0,0-1.16-3.25,3.9,3.9,0,0,0-3-1.34,4,4,0,0,0-3.23,1.82,7.19,7.19,0,0,0-.9,1.79.64.64,0,0,1-.62.45.65.65,0,0,1-.62-.45,6.84,6.84,0,0,0-.9-1.79A3.92,3.92,0,0,0,5.43,1.3Z')

</template>

<script>
import _baseIcon from './_baseIcon'
export default {
  extends: _baseIcon
}
</script>
