<template lang="pug">
  form.contacts-form.padding-top-30
    .form-block
      h3.is-italic {{ $t('contacts.formTitle') }}
      .form-row
        .field
          label.label {{ $t('contacts.form.customerName') }}
          .control.has-icons-left
            input.input(type="text", autocomplete="name", v-model.trim="$v.form.customerName.$model")
            span.icon.is-small.is-left
              i.fa.fa-user

      .form-row
        .field(:class="{'field-error': $v.form.email.$error}")
          label.label {{ $t('contacts.form.email') }}
          .control.has-icons-left
            input.input(ref="email-field", autocomplete="email", type="text", v-model.trim="$v.form.email.$model", :class="{ 'is-danger': $v.form.email.$error }")
            span.icon.is-small.is-left
              i.fa.fa-envelope
          p.help.is-danger(v-if="!$v.form.email.required && $v.form.email.$dirty") {{ $t('contacts.formErrors.email.required') }}
          p.help.is-danger(v-if="!$v.form.email.email && $v.form.email.$dirty") {{ $t('contacts.formErrors.email.valid') }}

      .form-row
        .field(:class="{'field-error': $v.form.phone.$error}")
          label.is-align-items-flex-center.is-flex
            .label {{ $t('contacts.form.phone') }}&nbsp;
            tooltip.why-phone-tooltip
              i.fa.fa-question-circle(slot="target")
              .tooltip-header-price(slot="header")
                strong {{ $t('common.whyPhone') }}
              .tooltip-body-price {{ $t('common.whyPhoneContent') }}
          .control.has-icons-left
            input.input(autocomplete="tel", v-model.trim="$v.form.phone.$model", :class="{'is-danger': $v.form.phone.$error}")
            span.icon.is-small.is-left
              i.fa.fa-phone
          p.help.is-danger(v-if="!$v.form.phone.required && $v.form.phone.$dirty") {{ $t('contacts.formErrors.phone.required') }}

      .form-row
        .field(:class="{'field-error': $v.form.salesPerson.$error}")
          label.label {{ $t('showroom.form.salesPerson') }}
          .control.has-icons-left
            multiselect(
              v-if="multiselectMounted",
              v-model.trim="$v.form.salesPerson.$model"
              :class="{ 'is-danger': $v.form.salesPerson.$error }"
              :options="salePersons",
              track-by="id",
              label="name",
              select-label="",
              :show-labels="false",
              selected-label="",
              :allow-empty="false",
              :searchable="false",
              :option-height="35"
            )
            span.icon.is-small.is-left
              i.fa.fa-users

      .form-row
        .field(:class="{'field-error': $v.form.message.$error}")
          label.label {{ $t('showroom.form.message') }}
          .control
            textarea.textarea.is-radiusless(v-model.trim="$v.form.message.$model", :class="{ 'is-danger': $v.form.message.$error }")
          p.help.is-danger(v-if="!$v.form.message.required && $v.form.message.$dirty") {{ $t('contacts.formErrors.message') }}

      .form-row
        .field.submit-control
          .control.is-flex
            button.button.gold-color.g-recaptcha(ref="submitForm", :disabled="submitStatus === 'PENDING'") {{ $t('contacts.form.submit') }}
</template>

<script>
import { validationMixin } from 'vuelidate'
import email from 'vuelidate/lib/validators/email'
import required from 'vuelidate/lib/validators/required'
import { mapActions, mapState } from 'vuex'
import Vue from 'vue'
import emailValidatorMixin from '~~/mixins/emailValidatorMixin'
import recaptchaMixin from '~~/mixins/recaptchaMixin'
import autoFillForms from '~~/mixins/autoFillForms'
import Tooltip from '~~/components/Common/Tooltip/index.js'

export default {
  name: 'ContactsFormComponent',

  components: { Tooltip },

  mixins: [recaptchaMixin, validationMixin, autoFillForms, emailValidatorMixin],

  validations: {
    form: {
      customerName: {},
      phone: { required },
      salesPerson: {},
      email: { required, email },
      message: { required }
    }
  },

  props: {
    dataType: {
      type: Number,
      default: 1
    }
  },

  data: () => ({
    multiselectMounted: false,
    submitStatus: null,
    form: {
      customerName: '',
      phone: '',
      email: '',
      salesPerson: {},
      message: ''
    }
  }),

  computed: {
    ...mapState({
      salePersons: (state) => state.app.salePersons
    })
  },

  created() {
    this.setInitialFormData()
  },

  mounted() {
    this.$multiselect.insert(() => {
      this.multiselectMounted = true
    })

    this.mountReCaptcha()
  },

  methods: {
    ...mapActions({
      submitForm: 'contacts/submitForm'
    }),

    setInitialFormData() {
      this.form.salesPerson = this.salePersons.find(
        (person) => person.id === '-1'
      )
    },

    async onFormSubmit(response) {
      this.form['g-recaptcha-response'] = response

      this.$v.$touch()
      if (this.$v.$invalid) {
        this.resetRecaptcha()
        return
      }

      Vue.$gtag.event('contact_us', {
        event_label: 'Contact us form filled'
      })
      this.$root.$emit('loading-start')
      try {
        this.submitStatus = 'PENDING'
        await this.submitForm({
          ...this.form,
          dataType: this.dataType
        })

        this.form['g-recaptcha-response'] = ''
        this.resetRecaptcha()
        this.$sweetalert.insert({
          title: this.$t('contacts.swal.title'),
          text: this.$t('contacts.swal.message'),
          type: 'success',
          confirmButtonText: this.$t('contacts.swal.ok')
        })
      } catch (e) {
        this.submitStatus = 'ERROR'
        if (this.$sentry) this.$sentry.captureException(e)
        console.log(e)
      } finally {
        this.submitStatus = 'SUCCESS'
        this.$root.$emit('loading-stop')
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.contacts-form
  .form-block
    h3
      font-size: 26px
      font-family: $lora
    .form-row
      .why-phone-tooltip
        margin-bottom: .5em
        i
          font-size: 14px
      .submit-control
        .button
          padding: 10px 30px
</style>
