<template lang="pug">
  table.customer-service-table
    tbody
      tr
        td {{ $t('contacts.customerService.week1') }}:
        td 10:30am – 6:00pm&nbsp
          small ET
</template>

<script>
export default {
  name: 'CustomerServiceBlockComponent'
}
</script>

<style lang="sass" scoped>
.customer-service-table
  margin-bottom: 1rem
  font-size: 16px
  font-weight: 500
  tr
    td
      &:first-child
        padding-right: 1rem
        font-weight: 600
      &:nth-child(2)
        color: $grey-text-color
</style>
