<template lang="pug">
  .header-office-block
    p {{ $t('contacts.headOffice.address1') }}
    p {{ $t('contacts.headOffice.address2') }}
    p {{ $t('contacts.headOffice.country') }}
    p.links
      icon(icon-color='#d21868', icon-name='map')
      a(href='https://www.google.com/maps/place/The+Natural+Ruby+Company/@40.7549234,-73.9810824,1047m/data=!3m3!1e3!4b1!5s0x89c25990a488e0b1:0x340c5b7911e4b2fe!4m5!3m4!1s0x89c259ff56c27a51:0x25d7146796e74b2b!8m2!3d40.7549194!4d-73.9788937', target='_blank') {{ $t('contacts.headOffice.map') }}
    p.links
      icon(icon-color='#d21868', icon-name='location')
      a(href='https://www.google.com/maps/dir//The+Natural+Ruby+Company,+6+E+45th+St+Fl.+20,+New+York,+NY+10017,+United+States/@40.7549791,-74.013913,13z/data=!3m1!5s0x89c259076548250b:0xca131d87981af58b!4m8!4m7!1m0!1m5!1m1!1s0x89c259ff56c27a51:0x25d7146796e74b2b!2m2!1d-73.9788937!2d40.7549194', target='_blank') {{ $t('contacts.headOffice.directions') }}
    p.links
      icon(icon-color='#d21868', icon-name='appointment')
      v-link.item-button(:to="{name: 'showroom'}") {{ $t('contacts.headOffice.link') }}
</template>

<script>
export default {
  name: 'HeadOfficeBlockComponent'
}
</script>

<style lang="sass" scoped>
.header-office-block
  font-size: 16px
  font-weight: 500
  color: $grey-text-color
  p.links
    margin-bottom: 0.2rem
    margin-top: 0.2rem
    font-weight: 500
    display: flex
    align-items: center
    svg
      margin-right: 0.5rem
  a
    color: #4a4a4a
    font-weight: 600
</style>
