<template lang="pug">
.mining-production-block
  p {{ $t('contacts.mining.address1') }}
  p {{ $t('contacts.mining.address2') }}
  p {{ $t('contacts.mining.country') }}
  p.links
    icon(icon-color='#d21868', icon-name='map')
    a(href='https://goo.gl/im20Nk', target='_blank') {{ $t('contacts.mining.map') }}
  p.links
    icon(icon-color='#d21868', icon-name='location')
    a(href='https://goo.gl/ta2s2J', target='_blank') {{ $t('contacts.mining.directions') }}
</template>

<script>
export default {
  name: 'MiningProductionBlockComponent'
}
</script>

<style lang="sass" scoped>
.mining-production-block
  font-size: 16px
  font-weight: 500
  color: $grey-text-color
  p.links
    margin-bottom: 0.2rem
    margin-top: 0.2rem
    font-weight: 500
    display: flex
    align-items: center
    svg
      margin-right: 0.5rem
  a
    &.email
      color: rgb(58, 186, 154)
    color: #4a4a4a
    font-weight: 600
</style>
