<template lang="pug">
  div
    p.customer-service-title {{ $t('contacts.customerService.phone') }}
    p.phone
      icon(icon-name="flagUSA")
      span.margin-left-10 {{ $t('phones.us') }}
    .phone.international
      icon(icon-name="earth", icon-color="#d21868")
      .international-phones.margin-left-10
        p {{ $t('phones.other.line1') }}
        p {{ $t('phones.other.line2') }}
    p.customer-service-title {{ $t('contacts.customerService.email') }}
    p
      a.email(href='mailto:info@thenaturalrubycompany.com') info@thenaturalrubycompany.com
</template>

<script>
export default {
  name: 'PhoneEmailBlock'
}
</script>

<style lang="sass" scoped>
.customer-service-title
  font-size: 20px
  font-weight: bold
a.email
  color: $dark-primary-color
  font-style: italic
.phone
  color: $grey-text-color
  display: flex
  align-items: center
  padding: 2px 0
  picture
    width: 25px
    height: 17px
.international-phones
  margin-left: 5px
.international
  svg
    min-width: 20px
</style>
