<template lang="pug">
.checkbox.is-flex(:class="{'invert-color': invertColor, disabled}", @click="onClickHandler")
  span.checkbox-label
    slot
  input(type="checkbox", :checked="value", :disabled="disabled")
  span.checkmark
</template>

<script>
export default {
  name: 'CheckboxComponent',

  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    invertColor: {
      type: Boolean,
      default: false
    },
    value: {
      type: Boolean,
      default: true
    }
  },

  methods: {
    onClickHandler() {
      if (this.disabled) return
      this.$emit('input', !this.value)
    }
  }
}
</script>

<style lang="sass" scoped>
.checkbox
  align-items: center
  position: relative
  padding-left: 24px
  cursor: pointer
  font-size: 22px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  height: 24px
  .checkbox-label
    margin-left: 10px
    font-size: 16px
  input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0
  .checkmark
    &:after
      left: 32%
      top: 8%
      width: 40%
      height: 63%
      border: solid white
      border-width: 0 3px 3px 0
      -webkit-transform: rotate(45deg)
      -ms-transform: rotate(45deg)
      transform: rotate(45deg)
  &:hover
    input ~ .checkmark
      background-color: white
      &:after
        display: block
        left: 32%
        top: 8%
        width: 40%
        height: 63%
        border: solid #eee
        border-width: 0 3px 3px 0
        -webkit-transform: rotate(45deg)
        -ms-transform: rotate(45deg)
        transform: rotate(45deg)
  &.disabled
    cursor: not-allowed
    color: #7a7a7a
    .checkmark
      background-color: whitesmoke
    &:hover
      input ~ .checkmark
        background-color: whitesmoke
        &:after
          display: none
  input:checked ~ .checkmark
    background-color: $dark-primary-color

  input:checked ~ .checkmark:after
    display: block

  &.invert-color
    input:checked ~ .checkmark
      background-color: #ffffff

    .checkmark
      &:after
        left: 32%
        top: 8%
        width: 40%
        height: 63%
        border: solid $dark-primary-color
        border-width: 0 3px 3px 0
        -webkit-transform: rotate(45deg)
        -ms-transform: rotate(45deg)
        transform: rotate(45deg)
    &:hover
      input:checked ~ .checkmark
        &:after
          border-color: $dark-primary-color
.checkmark
  position: absolute
  top: 0
  left: 0
  height: 24px
  width: 24px
  background-color: white
  border: 1px solid $border-color
  &:after
    content: ''
    position: absolute
    display: none
</style>
