<template lang="pug">
main.get-started-page.page
  .container
    steps-component
  section.get-started-content
    .container
      .get-started-content-title.is-italic {{ $t('designYourOwn.createYourJewelry') }}
      .get-started-content-steps.is-flex
        .step.is-flex(v-for="step in steps", :key="step.id")
          .step-number.is-flex {{ step.number }}
          v-image.step-image.is-flex(:src="`designYourOwn/${step.img}@2x.png`")
          .step-description-title.weight-700 {{ step.description.title }}
          .step-description-text {{ step.description.text }}
      v-link.button.gold-color(:to="{name: 'emeralds'}") {{ $t('designYourOwn.startCreating') }}
  back-to-top-component
</template>

<script>
import { hydrateWhenIdle } from 'vue-lazy-hydration'
import _basePage from '~~/components/Page/_basePage'

export default {
  name: 'GetStartedPage',

  pageType: 'customDesign',

  components: {
    StepsComponent: hydrateWhenIdle(() =>
      import('~~/components/ListingPage/Steps')
    )
  },

  extends: _basePage,

  computed: {
    steps() {
      return [
        {
          number: 1,
          img: 'stones',
          description: {
            title: this.$t('designYourOwn.stepOneTitle'),
            text: this.$t('designYourOwn.stepOneText')
          }
        },
        {
          number: 2,
          img: 'settings',
          description: {
            title: this.$t('designYourOwn.stepTwoTitle'),
            text: this.$t('designYourOwn.stepTwoText')
          }
        },
        {
          number: 3,
          img: 'rings',
          description: {
            title: this.$t('designYourOwn.stepThreeTitle'),
            text: this.$t('designYourOwn.stepThreeText')
          }
        }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
.get-started-page
  border-bottom: 1px solid $border-color
  @include margin-bottom
  .steps
    padding-bottom: 14px
    border-bottom: 1px solid $border-color
    +mobile
      border-top: unset
      padding-bottom: unset
  .get-started-content
    padding: 50px
    background-color: $secondary-bg-color
    +mobile
      padding: 50px 0
    .container
      text-align: center
      .get-started-content-title
        margin: 0 auto 50px
        font-size: 40px
        font-family: $lora
        max-width: 550px
        text-align: center
        +mobile
          font-size: 36px
      .get-started-content-steps
        width: 100%
        justify-content: space-around
        +mobile
          flex-direction: column
          align-items: center
        .step
          flex-direction: column
          text-align: center
          max-width: 240px
          +mobile
            margin-bottom: 30px
          &-number
            margin: 0 auto 30px
            justify-content: center
            align-items: center
            font-size: 36px
            color: $dark-primary-color
            border: 1px solid $dark-primary-color
            height: 70px
            width: 70px
            border-radius: 50%
            font-family: $lora
            background-color: white
            +mobile
              margin-bottom: 10px
          &-description-title
            text-transform: uppercase
            font-size: 16px
          &-description-text
            margin-top: 20px
          &-image
            min-height: 200px
            max-width: 240px
            align-items: center
            justify-content: center
            +tablet-only
              min-height: 150px
        .step + .step
          margin-left: 50px
          +mobile
            margin-left: unset
      .button
        padding: 10px 40px
        margin-top: 50px
        +mobile
          margin-top: 0
          width: 100%
</style>
