<template lang="pug">
main.account-page.page
  page-header(:title="$t('account.addressBook.title')", :breadcrumbs="breadcrumbsLocal")
  .container.account-page__address-book(data-v-important)
    button.sign-out.button.gold-color.light.is-hidden-tablet(@click="$auth.logout") {{ $t('account.dashboard.signOut') }}
    .columns
      .column.is-one-third
        .account-page__add-address.is-flex(@click="$root.$emit('account-address-form')")
          .account-page__add-address-icon
            icon(iconColor="#8d7955", width="40", height="40", iconName="addLocation")
          .account-page__add-address-text {{ $t('account.addressBook.addAddress') }}
      .column.is-one-third(v-for="address in addresses", :key="address.id")
        .account-page__address.is-flex
          .account-page__address-info
            .account-page__address-head.is-flex
              .account-page__address-nickname {{ address.addressNickname }}
              .account-page__address-actions.is-flex
                .account-page__address-edit.is-flex(@click="onEditAddress(address)")
                  icon(icon-name="edit", width="12", height="12", icon-color="#8c7956")
                  span {{ $t('account.addressBook.edit') }}
                .account-page__address-remove.is-flex(@click="onRemoveAddress(address)")
                  icon(icon-name="close", width="12", height="12", icon-color="#8c7956")
                  span {{ $t('account.addressBook.remove') }}
            .account-page__address-data
              .account-page__address-parameter {{ address.firstName }} {{ address.lastName }}
              .account-page__address-parameter(v-if="address.street1") {{ address.street1 }}
              .account-page__address-parameter(v-if="address.street2") {{ address.street2 }}
              .account-page__address-parameter(v-if="address.street3") {{ address.street3 }}
              .account-page__address-parameter(v-if="address.city || address.zipCode") {{ address.city }} {{ address.zipCode }}
          .account-page__address-default
            .account-page__address-checkbox
              .checkedbox.is-flex(v-if="billingAddress === address.id")
                span.checkmark
                span.checkbox-label {{ $t('account.addressBook.defaultBilling') }}
              checkbox(v-else, :value="false", invertColor, @input="onDefaultAddressChange('billing', address.id)") {{ $t('account.addressBook.defaultBilling') }}
            .account-page__address-checkbox
              .checkedbox.is-flex(v-if="shippingAddress === address.id")
                span.checkmark
                span.checkbox-label {{ $t('account.addressBook.defaultShipping') }}
              checkbox(v-else, :value="false", invertColor, @input="onDefaultAddressChange('shipping', address.id)") {{ $t('account.addressBook.defaultShipping') }}
  address-form-modal
  back-to-top-component
</template>

<script>
import { mapActions, mapState } from 'vuex'
import debounce from 'lodash/debounce'
import authRestrictedMixin from '~~/mixins/authRestrictedMixin'
import _basePage from '~~/components/Page/_basePage'

export default {
  name: 'AccountPage',

  components: {
    AddressFormModal: () =>
      import('~~/components/Account/AddressBook/AddressFormModal'),
    PageHeader: () => import('~~/components/Account/PageHeader'),
    Checkbox: () => import('~~/components/Common/Checkbox')
  },

  extends: _basePage,

  mixins: [authRestrictedMixin],

  middleware: 'isAuthorized',

  data: () => ({
    defaultShippingAddress: null,
    defaultBillingAddress: null
  }),

  computed: {
    ...mapState({
      shippingAddress: (state) => state.account.shippingAddress,
      billingAddress: (state) => state.account.billingAddress,
      addresses: (state) => state.account.addressesList
    }),

    breadcrumbsLocal() {
      return [
        {
          id: 'd8ac6bff-ce6d-4232-a68a-ab3131728f62',
          name: this.$t('breadcrumbs.home'),
          path: '/'
        },
        {
          id: 'a056f40a-6739-47b5-a620-b8f20d0d170d',
          name: this.$t('breadcrumbs.account.dashboard'),
          path: '/account'
        },
        {
          id: '95c14fc9-6ca5-4be2-af83-c870fd236f76',
          name: this.$t('breadcrumbs.account.addressBook')
        }
      ]
    }
  },

  async fetch({ store }) {
    await store.dispatch('cart/fetchMetaData')
    await store.dispatch('account/fetchAddressesList')
  },

  methods: {
    ...mapActions({
      setDefaultAddress: 'account/setDefaultAddress',
      updateDefaultAddress: 'account/updateDefaultAddress',
      deleteAddress: 'account/deleteAddress'
    }),

    onEditAddress(address) {
      this.$root.$emit('account-address-form', address)
    },

    onRemoveAddress(address) {
      this.deleteAddress({ id: address.id })
    },

    onDefaultAddressChange(type, id) {
      this.setDefaultAddress({
        type,
        id
      })
      this.updateDefaultAddressDebounced()
    },

    updateDefaultAddressDebounced: debounce(function () {
      this.updateDefaultAddress()
    }, 500)
  }
}
</script>

<style lang="sass" scoped>
$gap: 1.094rem

.account-page
  @include margin-bottom()
  &__address-book
    .sign-out
      margin-top: 2rem
      width: 100%
    .columns
      margin-left: -$gap
      margin-right: -$gap
      margin-top: $gap
      flex-wrap: wrap
      &:last-child
        margin-bottom: -$gap
      .column
        padding: $gap
  &__add-address
    cursor: pointer
    background-color: $third-bg-color
    width: 100%
    height: 290px
    flex-direction: column
    align-items: center
    justify-content: center
  &__add-address-text
    font-size: 20px
    font-weight: bold
    font-family: $lora
    font-style: italic
  &__address
    border: 1px solid $border-color
    height: 100%
    padding: 20px
    flex-direction: column
  &__address-head,
  &__address-data
    padding-left: 10px
  &__address-head
    align-items: center
    justify-content: space-between
  &__address-actions
    > *
      line-height: 14px
      align-items: center
      color: $gold-color
      cursor: pointer
      span
        margin-left: 7px
    > * + *
      margin-left: 8px
      padding-left: 8px
      border-left: 1px solid $border-color
  &__address-nickname
    font-size: 20px
    font-family: $lora
    font-style: italic
    font-weight: bold
  &__address-data
    padding-top: 10px
  &__address-info
    height: 100%
  &__address-default
    margin-top: 10px
    padding: 10px
    background-color: $third-bg-color
    height: 100%
    max-height: 78px
  &__address-checkbox
    .checkbox
      padding-left: 25px
      height: 24px
      line-height: 14px
      &:hover
        ::v-deep
          input ~ .checkmark
            background-color: white
            &:after
              width: 7px
              height: 12px
              border: solid $border-color
              border-width: 0 2.5px 2.5px 0
              left: 8px
              top: 3px
      ::v-deep
        .checkbox-label
          font-size: 14px
        .checkmark
          width: 24px
          height: 24px
          &:after
            width: 7px
            height: 12px
            border-width: 0 2.5px 2.5px 0
            left: 8px
            top: 3px
    .checkedbox
      position: relative
      padding-left: 25px
      height: 24px
      line-height: 14px
      margin-bottom: 12px
      align-items: center
      .checkbox-label
        margin-left: 10px
      .checkmark
        position: absolute
        top: 0
        left: 0
        height: 24px
        width: 24px
        background-color: $third-bg-color
        border: 1px solid $third-bg-color
        &:after
          position: absolute
          content: ''
          width: 7px
          height: 12px
          border: solid $dark-primary-color
          border-width: 0 2.5px 2.5px 0
          left: 8px
          top: 3px
          -webkit-transform: rotate(45deg)
          -ms-transform: rotate(45deg)
          transform: rotate(45deg)
</style>
