.edu
  border-top: 1px solid $border-color
  .anchor
    +tablet
      padding-top: 75px
      margin-top: -75px
  +mobile
    padding-top: 180px
  .stop-float
    clear: both
  .video-360
    visibility: hidden
    &.small
      canvas
        +mobile
          max-width: 160px
    &.medium
      canvas
        +mobile
          width: 100%
    &.video360
      visibility: visible
    &.descr
      margin-bottom: 20px
    .video-icon
      position: absolute
      right: 7px
      bottom: 7px
    .video-descr
      text-align: center
      font-size: 14px
      position: absolute
      bottom: -20px
      left: 0
      right: 0
  &__wrapper
    margin-bottom: 80px
    +mobile
      flex-direction: column
  &__wrapper-content
    padding-right: 15px
    +mobile
      padding-right: unset
    .space
      margin: 10px 0 0 10px
      td,
      th
        padding: 4px 5px
    .edu-title
      font-size: 58px
      color: $wp-red
      font-family: $lora
      margin-bottom: 1.75rem
      +mobile
        font-size: 40px
        margin-bottom: 1rem
    .edu__pages
      flex-wrap: wrap
      .edu__pages-page
        padding: 0 15px
        width: 50%
        margin-bottom: 2.625rem
        +touch
          width: 100%
          padding: 0
        .edu__pages-page-image
          margin-bottom: 1.75rem
          img
            margin-left: 0
            max-height: 270px
            width: auto
        .edu__pages-page-title
          font-size: 1.75rem
          font-style: italic
          font-family: $lora
          color: $wp-red
    .edu__content
      a
        /* These are technically the same, but use both */
        overflow-wrap: break-word
        word-wrap: break-word

        -ms-word-break: break-all
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all
        /* Instead use this non-standard one: */
        word-break: break-word

        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto
        -moz-hyphens: auto
        -webkit-hyphens: auto
        hyphens: auto
      .has-gtb-color-7-color
        color: #ffffff
      figure
        display: inline-block
      .wp-block-table
        width: 100%
        max-width: 100%
        margin-bottom: 23px
        overflow-x: auto
        table
          width: 100%
        table, th, td
          border: 1px solid $border-color
        &.borderless
          table, th, td
            border: unset
        figcaption
          font-family: $lato
          font-size: 14px
          font-weight: 300
          font-style: normal
          color: #3d4240
      .wp-block-columns
        display: flex
        margin-bottom: 1.75em
        flex-wrap: nowrap
        +mobile
          flex-wrap: wrap
          flex-direction: column
        .wp-block-column
          flex-grow: 1
          min-width: 0
          flex-basis: 0
          word-break: break-word
          overflow-wrap: break-word
          &:not(:first-child)
            margin-left: 2em
            +mobile
              margin-left: unset
          +mobile
            flex-basis: unset
      .has-text-align-center
        text-align: center
      h2
        font-size: 42px
        font-family: $lora
        font-style: italic
        font-weight: 400
        margin-bottom: 20px
        +mobile
          font-size: 30px
      h3
        font-family: $lora
        font-style: italic
        font-weight: 400
        margin-bottom: 20px
        font-size: 34px
      h4
        font-size: 26px
        font-family: $lora
        font-style: italic
      h5
        font-size: 22px
        font-family: $lora
        font-style: italic
      p
        font-family: $lato
        font-size: 18px
        margin-bottom: 1.75rem
      dl, ol, ul
        font-family: $lato
        font-size: 18px
        margin-top: 0
        margin-bottom: 1.75rem
        list-style: unset
        padding-left: 40px
        li
          margin-bottom: .5rem
      a
        color: $wp-link
        text-decoration: underline
        text-decoration-color: #e9f2fe
        text-underline-position: under
      span[data-toggle=tooltip]:not(.external-link)
        display: inline-block
        border-bottom: 1px dotted #90989f
        cursor: help
      .wp-block-image
        position: relative
        margin-bottom: 1em
        .alignright
          float: right
          margin: .5em 0 .5em 1em
          display: table
          +mobile
            float: unset
            margin: .5em auto
          & > figcaption
            display: table-caption
            caption-side: bottom
        .alignleft
          float: left
          margin: .5em 1em .5em 0
          display: table
          +mobile
            float: unset
            margin: .5em auto
          & > figcaption
            display: table-caption
            caption-side: bottom
        .aligncenter
          margin-left: auto
          margin-right: auto
          display: block
          text-align: center
          & > figcaption
            display: block
        figure
          figcaption
            font-family: $lato
            font-size: 14px
            font-weight: 300
            margin-top: .5em
            margin-bottom: 1em
  &__wrapper-side
    padding-right: 15px
    +mobile
      padding-left: unset
