.edu
  .ring_sizing
    text-align: center
    .column
      flex-basis: unset
      flex-grow: unset
      flex-shrink: unset
    p
      margin-bottom: 1rem
    .first
      flex-wrap: wrap
      display: flex
      justify-content: center
    .second
      flex-wrap: wrap
      display: flex
      justify-content: center
