.edu
  .mb-4
    margin-bottom: 2.625rem
  article
    display: block
    h2
      font-size: 42px
      font-family: $lora
      font-style: italic
      font-weight: 400
      margin-bottom: 20px
      +mobile
        font-size: 30px
      a
        color: $wp-red
    .tease-body
      font-size: 16px
