$blue: #155eaa
$gray-lightest: #f3f5f6

.edu
  aside
    .nav-sidebar
      color: #3d4240
      padding-top: 1.2rem
      .nav
        font-family: $lato
      .nav-item
        margin-bottom: 1px
        border-radius: 6px
        -webkit-transition: background .25s ease-in-out
        transition: background .25s ease-in-out
        &:hover
          background: $gray-lightest
        &.expanded
          > .nav-link
            i
              transform: rotate(90deg)
      .nav-link
        display: block
        font-size: 1.125rem
        padding: .5rem 1rem
        font-weight: 600
        &.spy-active
          color: $dark-primary-color !important
        i
          color: $wp-red
          height: 16px
          width: 16px
          display: inline-flex
          align-items: center
          justify-content: center
          @include transition(transform, .2s)
      .nav-sub
        overflow: hidden
        opacity: 0
        visibility: hidden
        -webkit-transition: opacity .2s ease-in-out
        transition: opacity .2s ease-in-out
        height: 0
        &.active
          padding-left: 1rem
          padding-bottom: .75rem
          overflow: hidden
          opacity: 1
          visibility: unset
          height: unset
        .nav-item
          padding-left: 20px
          background: unset
          .nav-link
            font-weight: normal
            padding: .35rem .25rem .35rem 0
            font-size: 1rem
            &:hover,
            &.nuxt-link-exact-active
              color: $dark-primary-color
          &.has-child
            padding-left: 4px
            > .nav-link
              font-weight: 600
