.edu
  .video-360
    position: relative
    display: inline-block
    margin: 10px
    &.left
      margin-left: 0
      float: left
    &.right
      margin-right: 0
      float: right
    &.border
      canvas
        border: 1px solid $border-color
    &.block
      display: block
      &.center
        text-align: center
      &.left
        text-align: left
        margin-left: 0
      &.right
        text-align: right
        margin-right: 0
  .video-360.right + .video-360.right
    clear: right
  .video-360.left + .video-360.left
    clear: left
  .video-360.inline + .video-360.inline
    clear: unset
