<template lang="pug">
.checkbox.is-flex(@click="$emit('input', val)")
  span.checkbox-label
    slot
  input(type="checkbox", :checked="value.includes(val)")
  span.checkmark
</template>

<script>
export default {
  name: 'CheckboxGroupComponent',

  props: {
    value: {
      type: [Array],
      required: true
    },

    val: {
      type: [String, Number, Boolean],
      default: ''
    },

    name: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="sass" scoped>
.checkbox
  align-items: center
  position: relative
  padding-left: 35px
  margin-bottom: 12px
  cursor: pointer
  font-size: 22px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  height: 34px
  .checkbox-label
    margin-left: 10px
    font-size: 16px
  input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0
  .checkmark
    &:after
      left: 12px
      top: 7px
      width: 9px
      height: 15px
      border: solid white
      border-width: 0 3px 3px 0
      -webkit-transform: rotate(45deg)
      -ms-transform: rotate(45deg)
      transform: rotate(45deg)
  &:hover
    input ~ .checkmark
      background-color: white
      &:after
        display: block
        left: 12px
        top: 7px
        width: 9px
        height: 15px
        border: solid #eee
        border-width: 0 3px 3px 0
        -webkit-transform: rotate(45deg)
        -ms-transform: rotate(45deg)
        transform: rotate(45deg)

  input:checked ~ .checkmark
    background-color: $dark-primary-color

  input:checked ~ .checkmark:after
    display: block

.checkmark
  position: absolute
  top: 0
  left: 0
  height: 34px
  width: 34px
  background-color: white
  border: 1px solid $border-color
  &:after
    content: ''
    position: absolute
    display: none
</style>
