<template lang="pug">
  .product-price__inline.is-flex
    .price.product-price__inline--original.price(v-if="discountAmount")
      span {{ originalPrice | moneyFormatter }}
      span(v-if="showLocalPrice")  USD
    .price.product-price__inline--current(:class="{'discounted': discountAmount}")
      span {{ currentPrice | moneyFormatter }}
      span(v-if="showLocalPrice")  USD
    .price.product-price__inline--local.is-flex(v-if="showLocalPrice")
      span {{ localPriceFormatter(localPrice) }}
      tooltip(v-if="params.tooltip")
        i.fa.fa-question-circle(slot="target")
        .tooltip-header-price(slot="header")
          strong {{ content.title }}
        .tooltip-body-price
          div {{ content.message }}
</template>

<script>
import _basePriceView from './_basePriceView.vue'

export default {
  name: 'PriceInline',

  extends: _basePriceView
}
</script>

<style lang="sass" scoped>
.product-price
  &__inline
    color: inherit
    align-items: center
  &__inline--local
    .tooltip
      margin-left: 5px
  &__inline--current
    font-size: 14px
    font-weight: bold
    &.discounted
      color: $new-price-color
  &__inline--original
    font-size: 12px
    text-decoration: line-through
  &__inline--local
    font-size: 12px
    justify-content: center
  .price + .price
    margin-left: 8px
</style>
