<template lang="pug">
  .product-price__column
    .product-price__column--original(v-if="discountAmount")
      span {{ originalPrice | moneyFormatter }}
      span(v-if="showLocalPrice")  USD
    .product-price__column--discount(v-if="discountAmount && params.showDiscount")
      span -{{ discountAmount | moneyFormatter }}
      span(v-if="showLocalPrice")  USD
    .product-price__column--current(:class="{'discounted': discountAmount}")
      span {{ currentPrice | moneyFormatter }}
      span(v-if="showLocalPrice")  USD
    .product-price__column--local.is-flex(v-if="showLocalPrice")
      span {{ localPriceFormatter(localPrice) }}
      tooltip(v-if="params.tooltip")
        i.fa.fa-question-circle(slot="target")
        .tooltip-header-price(slot="header")
          strong {{ content.title }}
        .tooltip-body-price
          div {{ content.message }}
</template>

<script>
import _basePriceView from './_basePriceView.vue'

export default {
  name: 'PriceColumn',

  extends: _basePriceView
}
</script>

<style lang="sass" scoped>
.product-price
  &__column
    color: inherit
  &__column--local
    .tooltip
      margin-left: 5px
  &__column--current
    font-size: 18px
    font-weight: bold
    &.discounted
      color: $new-price-color
  &__column--original
    font-size: 12px
    text-decoration: line-through
  &__column--discount
    font-size: 12px
  &__column--local
    font-size: 12px
    justify-content: center
</style>
