<template lang="pug">
  .product-price__column-label
    .product-price__column-label--total.is-flex
      .product-price__column-label--total-label.is-flex {{ $t('detailsPage.mainDetails.totalPrice') }}:
      .product-price__column-label--total-wrapper
        .product-price__column-label--original(v-if="discountAmount")
          span {{ originalPrice | moneyFormatter }}
          span(v-if="showLocalPrice")  USD
        .product-price__column-label--current(:class="{'discounted': discountAmount}")
          span {{ currentPrice | moneyFormatter }}
          span(v-if="showLocalPrice")  USD
    .product-price__column-label--estimated.is-flex(v-if="showLocalPrice")
      .product-price__column-label--estimated-label Total estimated conversion in {{ localCurrencyCode }}
      .product-price__column-label--local.is-flex
        span {{ localPriceFormatter(localPrice) }}
        tooltip(v-if="params.tooltip")
          i.fa.fa-question-circle(slot="target")
          .tooltip-header-price(slot="header")
            strong {{ content.title }}
          .tooltip-body-price
            div {{content.message }}
</template>

<script>
import _basePriceView from './_basePriceView.vue'

export default {
  name: 'PriceColumnLabel',

  extends: _basePriceView
}
</script>

<style lang="sass" scoped>
.product-price
  &__column-label--total-label
    width: 145px
    font-size: 20px
    font-style: italic
    font-family: $lora
    align-items: center
  &__column-label--total-wrapper
    text-align: right
  &__column-label--original
    font-size: 12px
    text-decoration: line-through
  &__column-label--current
    font-size: 26px
    font-weight: bold
    &.discounted
      color: $new-price-color
  &__column-label--estimated-label
    width: 145px
  &__column-label--estimated
    justify-content: space-between
  &__column-label--local
    .tooltip
      margin-left: 5px
</style>
