<template lang="pug">
.user-menu
  fade-transition(group)
    user-menu-auth(v-if="$store.state.auth.loggedIn", key="91ce8e8a-d340-438e-823f-7f6927ebf2ff")
    user-menu-non-auth-desktop(v-else, key="91ce8e8a-d340-438e-823f-7f6927ebf2ff")
</template>

<script>
import { FadeTransition } from 'vue2-transitions'

export default {
  name: 'UserMenuComponent',

  components: {
    FadeTransition,
    UserMenuNonAuthDesktop: () => import('./UserMenuNonAuthDesktop'),
    UserMenuAuth: () => import('./UserMenuAuth')
  },

  watch: {
    // collapse menu on login/logout
    '$store.state.auth.loggedIn'() {
      this.$emit('close')
    }
  }
}
</script>

<style lang="sass" scoped>
.user-menu
  position: absolute
  background-color: white
  top: 28px
  right: 0
  border: 1px solid $border-color
  padding: 15px
  z-index: 201
  width: 300px
  +tablet-only
    top: 64px
</style>
