<template lang="pug">
.user-menu-auth
  .user-menu-item(v-for="item in menuItems()", :key="item.id")
    v-link(:to="{ name: item.routeName }") {{ item.name }}
  button.button.gold-color(@click="signOut") {{ $t('account.menu.signOut') }}
</template>

<script>
import Vue from 'vue'
import getMenuList from '~~/utils/definitions/menus/AccountMenu'

export default {
  name: 'UserMenuAuthComponent',

  methods: {
    menuItems() {
      return getMenuList.call(this)
    },

    signOut() {
      Vue.$gtag.event('logout', {
        event_label: 'User signed out'
      })
      this.$auth.logout()
    }
  }
}
</script>

<style lang="sass" scoped>
.user-menu
  &-auth
    margin-top: -10px
    text-align: left
    .button
      margin-top: 10px
      width: 100%
      padding: 8px 10px
  &-item
    padding: 10px 0
    &:hover
      text-decoration: underline
</style>
