<template lang="pug">
.user-menu-non-auth
  p {{ $t('account.menu.noAccount') }}
  button.button.gold-color(@click="onCreateAccountClick") {{ $t('account.menu.createAccount') }}
  form.sign-in-form(@submit.prevent="onFormSubmit")
    .form-block
      h4 {{ $t('account.menu.signIn') }}

      .form-row
        .field.is-fullwidth(:class="{'field-error': $v.authForm.email.$error}")
          label.label {{ $t('account.menu.email') }}
          .control.has-icons-left
            input.input(type="text", autocomplete="email", v-model.trim="$v.authForm.email.$model", :class="{ 'is-danger': $v.authForm.email.$error }")
            span.icon.is-small.is-left
              i.fa.fa-envelope
          p.help.is-danger(v-if="!$v.authForm.email.required && $v.authForm.email.$dirty") {{ $t('account.menu.rules.email.required') }}
          p.help.is-danger(v-if="!$v.authForm.email.email && $v.authForm.email.$dirty") {{ $t('account.menu.rules.email.type') }}

      .form-row
        .field.is-fullwidth(:class="{'field-error': $v.authForm.password.$error}")
          label.label {{ $t('account.menu.pass') }}
          .control.has-icons-left.has-icons-right
            input.input(:type="showPassword ? 'text' : 'password'", v-model.trim="$v.authForm.password.$model", :class="{ 'is-danger': $v.authForm.password.$error }")
            span.icon.is-small.is-left
              i.fa.fa-lock
            span.icon.is-small.is-right.show-pass(@click="showPassword = !showPassword")
              i.fa(:class="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}")
          p.help.is-danger(v-if="!$v.authForm.password.required && $v.authForm.password.$dirty") {{ $t('account.menu.rules.password.required') }}

      .form-row
        .field.remember-me.is-fullwidth
          .control
            checkbox(v-model="authForm.rememberMe") {{ $t('auth.signInForm.remember') }}

      .form-row.forgot-password
        .field.is-fullwidth
          .control
            v-link.is-underline(:to="{name: 'account-reset-password'}") {{ $t('auth.signInForm.forgotPass') }}

      .form-row
        .field.submit-control
          .control
            button.button.gold-color(type="submit", :disabled="submitStatus === 'PENDING'") {{ $t('auth.signInForm.login') }}
</template>

<script>
import email from 'vuelidate/lib/validators/email'
import required from 'vuelidate/lib/validators/required'
import { validationMixin } from 'vuelidate'
import { mapActions } from 'vuex'
import Vue from 'vue'
import { cookiesOpts } from '~~/utils/definitions/defaults.js'

export default {
  name: 'UserMenuNonAuthDesktopComponent',

  components: { Checkbox: () => import('~~/components/Common/Checkbox') },

  mixins: [validationMixin],

  validations: {
    authForm: {
      email: { required, email },
      password: { required }
    }
  },

  data: () => ({
    submitStatus: null,
    showPassword: false,
    authForm: {
      email: '',
      password: '',
      rememberMe: false,
      auth: true
    }
  }),

  created() {
    this.resetEmailFromCookies()
  },

  methods: {
    ...mapActions({
      fetchProfile: 'account/fetchProfile'
    }),

    resetEmailFromCookies() {
      const userEmail = this.$cookies.get('user-email')
      if (userEmail) {
        this.authForm.email = userEmail
        this.authForm.rememberMe = true
      }
    },

    setEmailToCookies() {
      this.$cookies.set('user-email', this.authForm.email, cookiesOpts)
    },

    removeEmailFromCookies() {
      this.$cookies.remove('user-email')
    },

    onCreateAccountClick() {
      this.$router.push(this.localePath({ name: 'auth' }))
    },

    async onFormSubmit() {
      this.$v.$touch()
      if (this.$v.$invalid) return

      this.$root.$emit('loading-start')
      this.submitStatus = 'PENDING'

      try {
        await this.$auth.loginWith('login', {
          data: this.authForm
        })
        this.$v.$reset()
        Vue.$gtag.event('login', {
          method: 'local',
          event_label: 'User signed in'
        })

        if (this.authForm.rememberMe) {
          this.setEmailToCookies()
        } else {
          this.removeEmailFromCookies()
        }

        this.$root.$emit('login-complete')
        this.submitStatus = 'OK'
      } catch (e) {
        this.submitStatus = 'ERROR'
      } finally {
        this.$root.$emit('loading-stop')
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.user-menu-non-auth
  text-align: left
  > .button
    margin-top: 15px
  .button
    width: 100% !important
  .sign-in-form
    margin-top: 15px
    padding-top: 15px
    border-top: 1px solid $border-color
    .form-block
      h4
        margin-bottom: 20px
      .form-row
        margin-top: 15px
        .field
          &.remember-me
            display: flex
            align-items: center
            margin-bottom: 0
            +mobile
              .checkbox
                margin-bottom: unset
            ::v-deep
              .checkbox
                padding-left: 24px
                height: 24px
                .checkbox-label
                  font-size: 14px
                .checkmark
                  width: 24px
                  height: 24px
                  &:after
                    left: 7px
                    top: 3px
                    width: 8px
                    height: 13px
          &.submit-control
            margin: unset
          .label
            font-size: 14px
          .control
            .show-pass
              cursor: pointer
              z-index: 50
              pointer-events: unset
              color: $default-font-color
            a
              font-size: 14px
        &.forgot-password
          border-bottom: 1px solid $border-color
          .field
            margin-bottom: 15px
</style>
