<template lang="pug">
section.promo(@click="$root.$emit('settings-selector-all')")
  picture
    source(media="(min-width: 2500px)", :srcset="`${paths.super.webp['1x']} 1x, ${paths.super.webp['2x']} 2x`", type="image/webp")
    source(media="(min-width: 1920px)", :srcset="`${paths.large.webp['1x']} 1x, ${paths.large.webp['2x']} 2x`", type="image/webp")
    source(media="(min-width: 1024px)", :srcset="`${paths.standart.webp['1x']} 1x, ${paths.standart.webp['2x']} 2x`", type="image/webp")
    source(media="(min-width: 768px)", :srcset="`${paths.tablet.webp['1x']} 1x, ${paths.tablet.webp['2x']} 2x`", type="image/webp")
    source(:srcset="`${paths.mobile.webp['1x']} 1x, ${paths.mobile.webp['2x']} 2x`", type="image/webp")
    img(:srcset="`${paths.tablet.jpeg['1x']} 768w, ${paths.standart.jpeg['1x']} 1024w, ${paths.large.jpeg['1x']} 1920w, ${paths.super.jpeg['1x']} 2500w`", :src="paths.mobile.jpeg['1x']", type="image/jpeg", alt="image description")
</template>

<script>
export default {
  name: 'PromoComponent',

  data: () => ({
    windowWidth: null
  }),

  computed: {
    promo() {
      return process.env.promo
    },

    paths() {
      return {
        mobile: {
          webp: {
            '1x': require(`~~/assets/images/${this.$site.name}/normal-webp/promo/hero/${process.env.promo}/mobile.webp`),
            '2x': require(`~~/assets/images/${this.$site.name}/hi-res-webp/promo/hero/${process.env.promo}/mobile@2x.webp`)
          },
          jpeg: {
            '1x': require(`~~/assets/images/${this.$site.name}/normal/promo/hero/${process.env.promo}/mobile.jpg`),
            '2x': require(`~~/assets/images/${this.$site.name}/hi-res/promo/hero/${process.env.promo}/mobile@2x.jpg`)
          }
        },
        tablet: {
          webp: {
            '1x': require(`~~/assets/images/${this.$site.name}/normal-webp/promo/hero/${process.env.promo}/ipad.webp`),
            '2x': require(`~~/assets/images/${this.$site.name}/hi-res-webp/promo/hero/${process.env.promo}/ipad@2x.webp`)
          },
          jpeg: {
            '1x': require(`~~/assets/images/${this.$site.name}/normal/promo/hero/${process.env.promo}/ipad.jpg`),
            '2x': require(`~~/assets/images/${this.$site.name}/hi-res/promo/hero/${process.env.promo}/ipad@2x.jpg`)
          }
        },
        standart: {
          webp: {
            '1x': require(`~~/assets/images/${this.$site.name}/normal-webp/promo/hero/${process.env.promo}/standart.webp`),
            '2x': require(`~~/assets/images/${this.$site.name}/hi-res-webp/promo/hero/${process.env.promo}/standart@2x.webp`)
          },
          jpeg: {
            '1x': require(`~~/assets/images/${this.$site.name}/normal/promo/hero/${process.env.promo}/standart.jpg`),
            '2x': require(`~~/assets/images/${this.$site.name}/hi-res/promo/hero/${process.env.promo}/standart@2x.jpg`)
          }
        },
        large: {
          webp: {
            '1x': require(`~~/assets/images/${this.$site.name}/normal-webp/promo/hero/${process.env.promo}/large.webp`),
            '2x': require(`~~/assets/images/${this.$site.name}/hi-res-webp/promo/hero/${process.env.promo}/large@2x.webp`)
          },
          jpeg: {
            '1x': require(`~~/assets/images/${this.$site.name}/normal/promo/hero/${process.env.promo}/large.jpg`),
            '2x': require(`~~/assets/images/${this.$site.name}/hi-res/promo/hero/${process.env.promo}/large@2x.jpg`)
          }
        },
        super: {
          webp: {
            '1x': require(`~~/assets/images/${this.$site.name}/normal-webp/promo/hero/${process.env.promo}/super-large.webp`),
            '2x': require(`~~/assets/images/${this.$site.name}/hi-res-webp/promo/hero/${process.env.promo}/super-large@2x.webp`)
          },
          jpeg: {
            '1x': require(`~~/assets/images/${this.$site.name}/normal/promo/hero/${process.env.promo}/super-large.jpg`),
            '2x': require(`~~/assets/images/${this.$site.name}/hi-res/promo/hero/${process.env.promo}/super-large@2x.jpg`)
          }
        }
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.promo
  cursor: pointer
  border-top: 1px solid $border-color
  +mobile
    border-top: unset
  ::v-deep
    img
      width: 100%
      @media screen and (max-width: 767px)
        aspect-ratio: 0.56
      @media (min-width: 768px)
        aspect-ratio: 1.6
      @media (min-width: 1024px)
        aspect-ratio: 2.66
      @media (min-width: 1920px)
        aspect-ratio: 3.66
      @media (min-width: 2500px)
        aspect-ratio: 5.71
</style>
