<template lang="pug">
.general-information
  transition(name="general", mode="out-in")
    general-information-form(v-if="active", @close="$emit('close')")
    .general-information-summary.is-flex(v-else)
      .table-info
        .table-info-item.is-flex(v-for="field in summaryFields", :key="field.id")
          .table-info-item-label.weight-700 {{ field.name }}
          .table-info-item-value {{ field.value }}
      .controls
        button.button.gold-color.light(@click="$emit('active')") {{ $t('account.dashboard.change') }}
</template>

<script>
export default {
  name: 'GeneralInformationComponent',

  components: {
    GeneralInformationForm: () => import('./GeneralInformationForm')
  },

  props: {
    active: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    profile() {
      return this.$store.state.auth.user || {}
    },

    summaryFields() {
      return [
        {
          id: '8a0032b4-7216-4143-b1f7-8cbd4ad61798',
          name: this.$t('account.generalInformation.firstName'),
          value: this.profile.firstName
        },
        {
          id: 'd11b0b03-615b-4055-9885-22b308c90b6c',
          name: this.$t('account.generalInformation.lastName'),
          value: this.profile.lastName
        },
        {
          id: '340dcbcd-06e8-41d3-8c0e-2dd7b5fb2375',
          name: this.$t('account.generalInformation.email'),
          value: this.profile.email
        },
        {
          id: '4e335293-1218-4b23-a7b4-0b42b43b4f17',
          name: this.$t('account.generalInformation.phone'),
          value: this.profile.phone
        },
        {
          id: '7a4be697-ebe2-4150-abae-b9726bee5469',
          name: this.$t('account.generalInformation.password'),
          value: '********'
        },
        {
          id: '7a1b41eb-1c78-4b23-aef8-410cc8f9dee8',
          name: this.$t('account.generalInformation.emailPreferences'),
          value: this.profile.mailingList
            ? this.$t('account.generalInformation.mailingListTrue')
            : this.$t('account.generalInformation.mailingListFalse')
        }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
@include fade-transition('general')
.general-information
  position: relative
  margin-top: 20px
  &-summary
    +mobile
      flex-direction: column-reverse
    .table-info
      flex: 2
      +mobile
        margin-top: 20px
      &-item
        margin-bottom: 10px
        &-label
          text-transform: uppercase
          width: 50%
        &-value
          width: 50%
    .controls
      text-align: center
      flex: 1
      +mobile
        .button
          width: 100%
</style>
