<template lang="pug">
form.general-information-form(@submit.prevent="onFormSubmit")
  .form-block
    .form-row
      .field.is-fullwidth(:class="{'field-error': $v.accountForm.firstName.$error}")
        label.label {{ $t('account.profile.form.firstName') }}
        .control.has-icons-left
          input.input(v-model.trim="$v.accountForm.firstName.$model", :class="{ 'is-danger': $v.accountForm.firstName.$error }")
          span.icon.is-small.is-left
            i.fa.fa-user
        p.help.is-danger(v-if="!$v.accountForm.firstName.required && $v.accountForm.firstName.$dirty") {{ $t('cart.addressForm.rules.firstName.required') }}

    .form-row
      .field.is-fullwidth(:class="{'field-error': $v.accountForm.lastName.$error}")
        label.label {{ $t('account.profile.form.lastName') }}
        .control.has-icons-left
          input.input(v-model.trim="$v.accountForm.lastName.$model", :class="{ 'is-danger': $v.accountForm.lastName.$error }")
          span.icon.is-small.is-left
            i.fa.fa-user
        p.help.is-danger(v-if="!$v.accountForm.lastName.required && $v.accountForm.lastName.$dirty") {{ $t('cart.addressForm.rules.lastName.required') }}

    .form-row
      .field.is-fullwidth(:class="{'field-error': $v.accountForm.email.$error}")
        label.label {{ $t('account.profile.form.email') }}
        .control.has-icons-left
          input.input(v-model.trim="$v.accountForm.email.$model", :class="{ 'is-danger': $v.accountForm.email.$error }")
          span.icon.is-small.is-left
            i.fa.fa-envelope
        p.help.is-danger(v-if="!$v.accountForm.email.required && $v.accountForm.email.$dirty") {{ $t('cart.addressForm.rules.email.required') }}
        p.help.is-danger(v-if="!$v.accountForm.email.email && $v.accountForm.email.$dirty") {{ $t('cart.addressForm.rules.email.template') }}

    .form-row
      .field.is-fullwidth
        label.label {{ $t('account.profile.form.phone') }}
        .control.has-icons-left
          input.input(v-model.trim="$v.accountForm.phone.$model", :class="{ 'is-danger': $v.accountForm.phone.$error }")
          span.icon.is-small.is-left
            i.fa.fa-phone
        p.help.is-danger(v-if="!$v.accountForm.phone.required && $v.accountForm.phone.$dirty") {{ $t('cart.addressForm.rules.phone.required') }}

    .form-row
      .field
        label.label {{ $t('account.profile.form.gender') }}
        .control.has-icons-left
          multiselect(
            v-if="multiselectMounted",
            v-model.trim="$v.accountForm.gender.$model"
            :options="genders",
            track-by="key",
            label="value",
            select-label="",
            :show-labels="false",
            selected-label="",
            :allow-empty="false",
            :searchable="true",
            :option-height="35"
          )
          span.icon.is-small.is-left
            i.fa.fa-venus-mars

    .form-row
      .field.update-password-control
        .control
          button.button.gold-color.light(@click="onUpdatePassword") {{ $t('account.profile.form.updatePassword') }}

    .form-row
      .field
        label.label {{ $t('account.profile.form.mailingListItem') }}
        .control
          .radio-group.is-flex
            radio(v-for="option in mailOptions", :key="option.id" name="mailingList", :val="option.key", v-model="accountForm.mailingList")
              .radio-value
                span {{ option.value }}

    .form-row
      .field.submit-control
        .control
          button.button.gold-color(type="submit", :disabled="submitStatus === 'PENDING'") {{ $t('account.profile.form.saveButton') }}

</template>

<script>
import { mapActions } from 'vuex'
import omit from 'lodash/omit'
import { validationMixin } from 'vuelidate'
import email from 'vuelidate/lib/validators/email'
import required from 'vuelidate/lib/validators/required'
import Vue from 'vue'

export default {
  name: 'GeneralInformationFormComponent',

  components: {
    Radio: () => import('~~/components/Common/Radio')
  },

  mixins: [validationMixin],

  validations: {
    accountForm: {
      firstName: { required },
      lastName: { required },
      email: { required, email },
      phone: { required },
      mailingList: {},
      gender: {}
    }
  },

  data: () => ({
    multiselectMounted: false,
    submitStatus: null,
    accountForm: {
      firstName: null,
      lastName: null,
      email: null,
      phone: null,
      mailingList: true,
      gender: null
    }
  }),

  computed: {
    profile() {
      return this.$store.state.auth.user || {}
    },

    genders() {
      return [
        { key: 1, value: this.$t('account.profile.genders.male') },
        { key: 2, value: this.$t('account.profile.genders.female') }
      ]
    },

    mailOptions() {
      return [
        {
          id: '553eee1e-f993-4d82-88dc-1bab123c3806',
          key: true,
          value: this.$t('account.profile.form.yes')
        },
        {
          id: '82423cc9-ca91-4480-99b8-ef24e32959a1',
          key: false,
          value: this.$t('account.profile.form.no')
        }
      ]
    }
  },

  mounted() {
    this.$multiselect.insert(() => {
      this.multiselectMounted = true
    })
    this.accountForm = omit(this.profile, ['billingAddress', 'shippingAddress'])
    this.accountForm.gender =
      this.genders.find((g) => g.key === this.profile.gender) || null
  },

  methods: {
    ...mapActions({
      updateProfile: 'account/updateProfile'
    }),

    async onFormSubmit() {
      this.$v.$touch()
      if (this.$v.$invalid) return
      try {
        this.submitStatus = 'PENDING'
        this.$root.$emit('loading-start')
        Vue.$gtag.event('profile_update', {
          event_label: "User's profile was updated"
        })
        await this.updateProfile(this.accountForm)
        this.submitStatus = 'OK'
        this.$emit('close')
      } catch (e) {
        this.submitStatus = 'ERROR'
      } finally {
        this.$root.$emit('loading-stop')
      }
    },

    onUpdatePassword() {
      this.$router.push(this.localePath({ name: 'account-change-password' }))
    }
  }
}
</script>

<style lang="sass" scoped>
.general-information-form
  .update-password-control
    text-align: left

  .radio-button-wrapper + .radio-button-wrapper
    margin-left: 15px

  .submit-control
    .button
      width: 100% !important
</style>
