<template lang="pug">
  .container.available-designs
    .available-designs-title {{ $t('customItem.availableDesigns.title') }}
    .available-designs-sub-title {{ $t('customItem.availableDesigns.subTitle') }}
    available-designs-list.items-list(:selectedItem='selectedItem', @click='onItemClickHandler')
    collapse-transition
      available-designs-item-info(v-if='showItemInfo', :item='item', :key="selectedItem", @close='onInfoCloseHandler', @click='onInfoClick')
</template>

<script>
import isEmpty from 'lodash/isEmpty'
import { CollapseTransition } from 'vue2-transitions'

export default {
  name: 'AvailableDesignsComponent',

  components: {
    CollapseTransition,
    AvailableDesignsList: () => import('./AvailableDesignsList'),
    AvailableDesignsItemInfo: () => import('./AvailableDesignsItemInfo')
  },

  data: () => ({
    item: {},
    selectedItem: ''
  }),

  computed: {
    showItemInfo() {
      return !isEmpty(this.item) && this.selectedItem
    }
  },

  methods: {
    onItemClickHandler(item) {
      this.selectedItem = item.guid
      this.item = item
    },

    onInfoCloseHandler() {
      this.selectedItem = ''
      this.item = ''
    },

    onInfoClick(item) {}
  }
}
</script>

<style lang="sass" scoped>
.available-designs
  background-color: #fff
  padding: 60px 20px 0
  &-title
    font-family: $lora
    font-size: 2.2rem
    font-style: italic
    line-height: 1.2
    text-align: center
  &-sub-title
    text-align: center
    margin-top: 20px

  .items-list
    margin-top: 40px
</style>
