<template lang="pug">
  .item-info(v-observe-visibility="{callback: initSwiper, once: true}")
    .close-button(@click="$emit('close')")
      i.el-icon.el-icon-close
    .item-info-wrapper.is-flex
      .swiper-container(ref="gallery")
        .swiper-wrapper
          .swiper-slide.is-flex(v-for='image in previews', :key='image')
            v-image.item-info-gallery-image(@click='imageClickHandler', :src="getImagePath(image)")
        .swiper-button-next
        .swiper-button-prev
      .item-info-info
        .item-info-title.is-italic
          | {{ designItemNameFormatter(item) }}
        .item-info-message
          | {{ $t('customItem.availableDesigns.message', [designItemNameFormatter(item), metalName]) }}
        .item-info-options
          .item-info-production
            .options-label
              strong {{ $t('customItem.availableDesigns.production') }}&nbsp
              span {{ $t('customItem.availableDesigns.fromTo', [item.productionTimeFrom, item.productionTimeTo]) }}
          .item-info-price
            .options-label
              strong {{ $t('customItem.availableDesigns.price') }}&nbsp
              span {{ item.totalPrice | moneyFormatter }}
        .item-info-button(v-if='item.isStoneAvailable')
          button.button.gold-color(@click='onCustomizeButtonClickHandler')
            | {{ $t('customItem.availableDesigns.customize') }}

</template>

<script>
import Vue from 'vue'
import { mapActions, mapGetters } from 'vuex'
import { designItemNameFormatter, moneyFormatter } from '~~/utils/formatters'

const LightBox = Vue.extend({})
const ItemLightbox = () => import('./AvailableDesignsItemInfoLightbox')

export default {
  name: 'AvailableDesignsItemInfoComponent',

  filters: {
    moneyFormatter
  },

  props: {
    item: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    imageIndex: 0
  }),

  computed: {
    ...mapGetters({
      productDetails: 'productDetails/productDetails'
    }),

    sliderParams() {
      return {
        initialSlide: this.initialSlide,
        setWrapperSize: true,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        on: {
          slideChange: this.onSlideChangeHandler
        }
      }
    },

    initialSlide() {
      return this.item.category === 'Ring' && this.item.preview.length > 1
        ? 1
        : 0
    },

    previews() {
      return this.item.preview
    },

    arrows() {
      return this.item.preview.length > 1 ? 'always' : 'never'
    },

    settingName() {
      return `${this.item.metalTypeCode}`
    },

    metalName() {
      return `${this.item.metalName}`
    },

    thumbnails() {
      return this.item.preview.map((image) => {
        return {
          guid: this.$h.guid(),
          image: {
            sm: this.getImagePath(image),
            md: this.getImagePath(image, 'md')
          },
          type: 'thumbnail'
        }
      })
    }
  },

  methods: {
    ...mapActions({
      setSettingOptions: 'customItem/setSettingOptions',
      setCustomStone: 'customItem/setCustomStone',
      fetchDetails: 'productDetails/fetchDetails',
      getFinalOptions: 'customItem/getFinalOptions'
    }),

    async initSwiper(isVisible) {
      if (isVisible) {
        this.swiper = await this.$swiper.insert(
          this.$refs.gallery,
          this.sliderParams
        )
      }
    },

    onCustomizeButtonClickHandler() {
      const id = `${this.item.settingId.toLowerCase()}${this.item.metalTypeCode.toLowerCase()}-${this.item.stoneId.toLowerCase()}`
      this.$router.push(
        this.localePath({
          name: 'design-your-own-review-id',
          params: { id },
          query: { source: 'design' }
        })
      )
    },

    onSlideChangeHandler() {
      if (this.swiper) this.imageIndex = this.swiper.activeIndex
    },

    getImagePath(image, size = 'sm') {
      return `${process.env.video360Url}/preview/${image}/${size}/${image}.jpg`
    },

    imageClickHandler() {
      this.mountLightBox()
    },

    mountLightBox() {
      this.lightBox = new LightBox({
        render: (h) => {
          return (
            <item-lightbox
              onclose={this.unMountLightBox}
              thumbnails={this.thumbnails}
              imageIndex={this.imageIndex}
            />
          )
        },
        components: {
          ItemLightbox
        }
      })
      document.body.appendChild(this.lightBox.$mount().$el)
    },

    unMountLightBox() {
      this.lightBox.$destroy(true)
      document.body.removeChild(this.lightBox.$mount().$el)
    },

    designItemNameFormatter(params) {
      return designItemNameFormatter.call(this, params)
    }
  }
}
</script>

<style lang="sass" scoped>
.item-info
  padding: 20px
  background-color: #f7faf9
  position: relative
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.1)
  z-index: 2

  &-wrapper
    +mobile
      margin-top: 20px
      flex-direction: column
    .item-info-gallery-image
      margin: auto
      cursor: zoom-in
    .swiper
      &-slide
        background-color: white
      &-container
        max-width: 300px
        width: 100%
        .swiper-button-next,
        .swiper-button-prev
          outline: none
          color: $dark-green
          &.swiper-button-disabled
            pointer-events: auto

  .close-button
    position: absolute
    z-index: 5
    right: 20px
    cursor: pointer
    +mobile
      right: 10px
      top: 10px

    &::before
      content: 'Close'
      text-transform: uppercase
      color: #606266
      font-size: 14px
      margin-right: 0.5rem

  &-info
    padding: 20px

  &-message,
  &-options,
  &-button
    margin-top: 25px

  &-label
    display: inline-block
    min-width: 120px

  &-title
    font-family: $lora
    font-size: 25px
    line-height: 1.2
</style>
