<template lang="pug">
  .designs-list(:class='{expanded}', v-observe-visibility="{callback: initSwiper, once: true}")
    .swiper-container(ref="designs")
      .swiper-wrapper
        .swiper-slide.is-flex(v-for='item in availableDesigns', :key='item.guid', :class="{selected: item.guid === selectedItem}")
          .swiper-slide-image(@click="onItemClickHandler(item)")
            v-image(:src="getImagePath(item)")
          .swiper-slide-name {{ designItemNameFormatter(item) }}
          .swiper-slide-arrow ▲
      .swiper-button-next
      .swiper-button-prev
</template>

<script>
import { mapGetters } from 'vuex'
import { designItemNameFormatter } from '~~/utils/formatters'

export default {
  name: 'AvailableDesignsListComponent',

  props: {
    selectedItem: {
      type: String,
      default: ''
    }
  },

  computed: {
    ...mapGetters({
      availableDesigns: 'customItem/availableDesigns'
    }),

    sliderParams() {
      return {
        // Default parameters
        slidesPerView: 6,
        slidesPerGroup: 6,
        spaceBetween: 20,
        allowTouchMove: this.$device.isMobileOrTablet,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },

        breakpoints: {
          // when window width is >= 300px
          300: {
            slidesPerGroup: 1,
            slidesPerView: 1
          },
          // when window width is >= 440px
          440: {
            slidesPerView: 2,
            slidesPerGroup: 2,
            spaceBetween: 20
          },
          // when window width is >= 768px
          768: {
            slidesPerView: 3,
            slidesPerGroup: 3,
            spaceBetween: 20
          },
          // when window width is >= 1024px
          1024: {
            slidesPerView: 4,
            slidesPerGroup: 4,
            spaceBetween: 20
          }
        }
      }
    },

    expanded() {
      return this.selectedItem
    }
  },

  methods: {
    async initSwiper(isVisible) {
      if (isVisible) {
        this.swiper = await this.$swiper.insert(
          this.$refs.designs,
          this.sliderParams
        )
      }
    },

    onItemClickHandler(item) {
      this.$emit('click', item)
    },

    getImagePath(item) {
      let image = item.preview[0]
      if (item.category === 'Ring') image = item.preview[1]
      return `${process.env.video360Url}/preview/${image}/sm/${image}.jpg`
    },

    designItemNameFormatter(params) {
      return designItemNameFormatter.call(this, params)
    }
  }
}
</script>

<style lang="sass" scoped>
.designs-list
  .swiper
    &-container
      .swiper-button-next,
      .swiper-button-prev
        outline: none
        color: $dark-green
        top: 40%
        &.swiper-button-disabled
          pointer-events: auto
    &-slide
      flex-direction: column
      &-arrow
        display: none
        text-align: center
        margin-top: 10px
        z-index: 1
        line-height: 17px
        font-size: 24px
        transform: scaleX(2)
        text-shadow: 1px 1px 1px rgba(0,0,0,.1)
        color: #f7faf9
      &-image
        ::v-deep
          img
            cursor: pointer
      &-name
        text-align: center
        margin-top: 20px
      &.selected
        .swiper-slide-arrow
          display: block
</style>
