<template lang="pug">
  .gallery-lightbox
    span.close.cursor ×
    .lightbox-content.is-flex-mobile(v-on-clickaway='onClose')
      transition(name='el-fade-in-linear', mode='out-in')
        .lightbox-slide(v-loading='loading', :class="{'max-size': maxSize}", :key='`image-${currentSlideIndex}`')
          .numbertext {{ currentSlideIndex + 1 }} / {{ thumbnails.length }}
          v-image.lightbox-slide-image(@load='onImageLoaded', @click='onZoom', :src='bigImage.image.md')
      a.prev(@click='prevSlide') ❮
      a.next(@click='nextSlide') ❯
      .thumbnails-container
        div(:class="{'thumbnail': true, 'selected': currentSlideIndex === index}", v-for='(item, index) in thumbnails', :key='`thumbnail-${item.guid}`')
          v-image.thumbnail-image(:src='item.image.sm', @click='setCurrentSlide(index)', alt='Thumbnail')
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'

export default {
  name: 'ProductGalleryLightboxComponent',

  components: {
    SarinViewer: () =>
      import('~~/components/DetailsPage/ProductGallery/SarinViewer')
  },

  mixins: [clickaway],

  props: {
    imageIndex: {
      type: Number,
      default: 0
    },
    thumbnails: {
      type: Array,
      default: () => []
    }
  },

  data: () => ({
    loading: true,
    currentSlideIndex: 0,
    maxSize: true
  }),

  computed: {
    bigImage() {
      return this.thumbnails[this.currentSlideIndex]
    }
  },

  watch: {
    currentSlideIndex() {
      this.loading = true
      setTimeout(() => {
        if (window.lazyUpdate) window.lazyUpdate()
      }, 50)
    }
  },

  created() {
    this.maxSize = true // start show with max size
    const guid = this.thumbnails[this.imageIndex].guid
    this.currentSlideIndex = this.thumbnails.findIndex(
      (item) => item.guid === guid
    )
  },

  mounted() {
    const html = document.getElementsByTagName('html')[0]
    html.classList.add('stop-scrolling')
    this.$nextTick(() => {
      if (window.lazyUpdate) window.lazyUpdate()
    })
  },

  beforeDestroy() {
    const html = document.getElementsByTagName('html')[0]
    html.classList.remove('stop-scrolling')
  },

  methods: {
    onClose() {
      this.$emit('close')
    },

    onZoom() {
      this.maxSize = true
      // this.maxSize = !this.maxSize // uncomment if needed to change zoom by clicking image
    },

    onImageLoaded() {
      this.loading = false
    },

    prevSlide() {
      this.currentSlideIndex =
        this.currentSlideIndex > 0
          ? this.currentSlideIndex - 1
          : this.thumbnails.length - 1
    },

    nextSlide() {
      this.currentSlideIndex =
        this.currentSlideIndex < this.thumbnails.length - 1
          ? this.currentSlideIndex + 1
          : 0
    },

    setCurrentSlide(val) {
      this.currentSlideIndex = val
    }
  }
}
</script>

<style lang="sass" scoped>
.gallery-lightbox
  display: block
  position: fixed
  z-index: 2600
  padding: 5rem 0
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  background: rgba(0, 0, 0, 0.8)
  +mobile
    padding: unset

.thumbnails-container
  display: flex
  justify-content: center
  align-items: center
  padding-bottom: 20px
  +mobile
    padding-bottom: unset
    margin-top: 20px

.thumbnail
  max-width: 5rem
  width: 100%
  cursor: pointer

.lightbox-slide-image
  ::v-deep
    img
      max-width: 500px
      width: 100%

.lightbox-content
  position: relative
  background: rgba(255, 255, 255, 1)
  margin: auto
  padding: 0
  width: 90%
  //max-width: 1200px
  white-space: break-spaces
  +mobile
    width: 100%
    height: 100%
    flex-direction: column
    justify-content: center

.close
  color: white
  position: fixed
  top: 1rem
  right: 2rem
  font-size: 35px
  font-weight: bold
  +mobile
    color: $dark-green
    z-index: 1
    top: 0
    right: 20px

  &:hover, &:focus
    color: #999
    text-decoration: none
    cursor: pointer

.lightbox-slide
  min-height: 50rem
  display: flex
  justify-content: center
  align-items: center
  +mobile
    min-height: unset

  picture
    display: block

    /* margin: auto;
    max-height: 50rem

/* cursor: zoom-in;

.max-size picture
  max-height: 100rem !important

.prev
  cursor: pointer
  position: absolute
  top: 50%
  width: auto
  padding: 16px
  margin-top: -50px
  color: #fff
  background-color: rgba(0, 0, 0, 0.7)
  font-weight: bold
  font-size: 20px
  transition: 0.6s ease
  border-radius: 0 3px 3px 0
  user-select: none
  -webkit-user-select: none

.next
  cursor: pointer
  position: absolute
  top: 50%
  width: auto
  padding: 16px
  margin-top: -50px
  color: #fff
  background-color: rgba(0, 0, 0, 0.7)
  font-weight: bold
  font-size: 20px
  transition: 0.6s ease
  user-select: none
  -webkit-user-select: none
  right: 0
  border-radius: 3px 0 0 3px

.prev:hover, .next:hover
  background-color: rgba(0, 0, 0, 0.9)

/* Number text (1/3 etc)

.numbertext
  color: #4a4a4a
  font-size: 12px
  padding: 8px 12px
  position: absolute
  top: 0
  left: 0

.caption-container
  white-space: break-spaces
  text-align: center
  background-color: rgba(0, 0, 0, 0.7)
  padding: 1rem
  color: white

.thumbnail.selected picture
  opacity: 1

picture.demo
  opacity: 0.6

.active, .demo:hover
  opacity: 1

picture.hover-shadow
  transition: 0.3s

.hover-shadow:hover
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
</style>
