<template lang="pug">
main.wishlist-page.page
  wishlist-hero(v-if="!$store.state.auth.loggedIn")
  .container
    continue-shopping-button
    wishlist
  back-to-top-component
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
import ContinueShoppingButton from '~~/components/Common/ContinueShoppingButton'
import WishlistHero from '~~/components/Wishlist/WishlistHero'
import _basePage from '~~/components/Page/_basePage'
import UpdatePrices from '~~/utils/store/classes/UpdatePrices'

export default {
  name: 'WishlistPage',

  components: {
    ContinueShoppingButton,
    Wishlist: () => import('~~/components/Wishlist'),
    WishlistHero
  },

  pageType: 'wishlist',

  extends: _basePage,

  computed: {
    ...mapState({
      pricesUpdated: (state) => state.app.wishlistPricesUpdated
    }),
    ...mapGetters({
      lastListingPage: 'navigation/lastListingPage',
      allWishlistItems: 'favorites/allListItems'
    })
  },

  async fetch(ctx) {
    await ctx.store.dispatch('getMeta', ctx)
    if (process.client && !ctx.store.state.app.wishlistPricesUpdated) {
      await UpdatePrices(ctx, 'wishlist')
      ctx.store.dispatch('app/wishlistUpdatePrices')
    }
  },

  beforeDestroy() {
    this.$root.$off(['remove-wishlist'])
  },

  mounted() {
    this.$root.$on('remove-wishlist', this.onRemoveFromWishList)
    if (!this.pricesUpdated)
      this.$root.$once('store-restored', this.onRestoreStore)
  },

  methods: {
    ...mapActions({
      updateListPrices: 'app/wishlistUpdatePrices',
      onRemoveFromWishList: 'favorites/removeFromList'
    }),

    onRestoreStore() {
      // set timeout to get a time to initialize mount hook for preloader
      setTimeout(async () => {
        this.$root.$emit('loading-start')
        await UpdatePrices({ store: this.$store }, 'wishlist')
        this.updateListPrices()
        this.$root.$emit('loading-stop')
      }, 10)
    },

    onContinueShoppingClick() {
      this.$router.push(this.localePath({ name: this.lastListingPage }))
    }
  }
}
</script>

<style lang="sass" scoped>
.wishlist-page
  border-top: 1px solid $border-color
  @include margin-bottom()
  .wishlist-empty
    height: 30vh
    justify-content: center
    align-items: center
    font-size: 24px
</style>
