<template lang="pug">
section.our-collection.container.is-max-fullhd
  h2.title
    span.is-italic {{ $t('homePage.collection.ourCollection1') }}&nbsp
    span.is-uppercase {{ $t('homePage.collection.ourCollection2') }}
  .tiles
    earrings-tile-component.tile-1
    necklaces-tile-component.tile-2
    rings-tile-component.tile-3
    wedding-bands-tile-component.tile-4
    bracelets-tile-component.tile-5
    stones-tile-component.tile-6
    pairs-tile-component.tile-7
    settings-tile-component.tile-8
</template>

<script>
import BraceletsTileComponent from './Tiles/braceletsTile'
import NecklacesTileComponent from './Tiles/necklacesTile'
import EarringsTileComponent from './Tiles/earringsTile'
import PairsTileComponent from './Tiles/pairsTile'
import SettingsTileComponent from './Tiles/settingsTile'
import StonesTileComponent from './Tiles/stonesTile'
import RingsTileComponent from './Tiles/ringsTile'
import WeddingBandsTileComponent from './Tiles/weddingBandsTile'

export default {
  name: 'CollectionComponent',
  components: {
    BraceletsTileComponent,
    NecklacesTileComponent,
    EarringsTileComponent,
    PairsTileComponent,
    SettingsTileComponent,
    StonesTileComponent,
    RingsTileComponent,
    WeddingBandsTileComponent
  }
}
</script>

<style lang="sass" scoped>
.our-collection
  margin-top: 65px
  .title
    text-align: center
    font-family: $lora
    font-size: 42px
    font-weight: 400
  .tiles
    margin-top: 40px
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(9, 1fr)
    grid-column-gap: 35px
    grid-row-gap: 35px
    .tile-1
      grid-area: 1 / 3 / 4 / 4
    .tile-2
      grid-area: 4 / 3 / 7 / 4
    .tile-3
      grid-area: 1 / 1 / 3 / 3
    .tile-4
      grid-area: 3 / 1 / 5 / 3
    .tile-5
      grid-area: 5 / 1 / 7 / 3
    .tile-6
      grid-area: 7 / 1 / 10 / 2
    .tile-7
      grid-area: 7 / 2 / 10 / 3
    .tile-8
      grid-area: 7 / 3 / 10 / 4
    +tablet-only
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(4, 1fr)
      .tile-1
        grid-area: 1 / 2 / 2 / 3
      .tile-2
        grid-area: 2 / 2 / 3 / 3
      .tile-3
        grid-area: 1 / 1 / 2 / 2
      .tile-4
        grid-area: 2 / 1 / 3 / 2
      .tile-5
        grid-area: 3 / 1 / 4 / 2
      .tile-6
        grid-area: 4 / 1 / 5 / 2
      .tile-7
        grid-area: 4 / 2 / 5 / 3
      .tile-8
        grid-area: 3 / 2 / 4 / 3
    +mobile
      grid-template-columns: 1fr
      grid-template-rows: repeat(8, auto)
      .tile-1
        grid-area: 2 / 1 / 3 / 2
      .tile-2
        grid-area: 5 / 1 / 6 / 2
      .tile-3
        grid-area: 1 / 1 / 2 / 2
      .tile-4
        grid-area: 3 / 1 / 4 / 2
      .tile-5
        grid-area: 4 / 1 / 5 / 2
      .tile-6
        grid-area: 6 / 1 / 7 / 2
      .tile-7
        grid-area: 7 / 1 / 8 / 2
      .tile-8
        grid-area: 8 / 1 / 9 / 2
</style>
