<template lang="pug">
  .second-page.is-flex
    .second-page-title.is-italic {{ $t('customItem.designerHelpSuccessTitle') }}
    .second-page-body "{{ askDesignerForm.message }}"
    .second-page-footer.is-italic {{ $t('customItem.designerHelpSuccessFooter') }}
    button.button(@click="$emit('prev-page')")
      i.material-icons keyboard_arrow_left
      | {{ $t('customItem.designerHelpBack') }}
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'PageTwoComponent',

  computed: {
    ...mapGetters({
      askDesignerForm: 'customItem/askDesignerForm'
    })
  }
}
</script>

<style lang="sass" scoped>
.second-page
  color: $default-font-color
  flex-direction: column
  justify-content: space-between
  align-items: center
  padding: 20px
  text-align: center
  min-height: 540px
  &-title
    font-size: 36px
    font-family: $lora
    font-weight: 400
    text-align: center
  &-body
    text-align: center
  &-footer
    font-size: 26px
    font-family: $lora
    font-weight: 400
  .button
    max-width: 230px
    border: 0
</style>
