<template lang="pug">
  .first-page
    .first-page-title.is-italic {{ $t('customItem.askHelp') }}
    form.first-page-form(@submit.prevent="onFormSubmit")
      .form-row.is-flex
        .field(:class="{'field-error': $v.form.customerName.$error}")
          label.label {{ $t('form.askDesigner.label.name') }}
          .control.has-icons-left
            input.input(v-model.trim="$v.form.customerName.$model", :class="{'is-danger': $v.form.customerName.$error}")
            span.icon.is-small.is-left
              i.fa.fa-user
          p.help.is-danger(v-if="!$v.form.customerName.required && $v.form.customerName.$dirty") {{ $t('form.askDesigner.error.required') }}

        .field(:class="{'field-error': $v.form.email.$error}")
          label.label {{ $t('form.askDesigner.label.email') }}
          .control.has-icons-left
            input.input(v-model.trim="$v.form.email.$model", :class="{ 'is-danger': $v.form.email.$error }")
            span.icon.is-small.is-left
              i.fa.fa-envelope
          p.help.is-danger(v-if="!$v.form.email.required && $v.form.email.$dirty") {{ $t('form.askDesigner.error.required') }}
          p.help.is-danger(v-if="!$v.form.email.email && $v.form.email.$dirty") {{ $t('form.askDesigner.error.email') }}

      .form-row.is-flex
        .field(:class="{'field-error': $v.form.phone.$error}")
          label.label {{ $t('form.askDesigner.label.phone') }}
          .control.has-icons-left
            input.input(v-model.trim="$v.form.phone.$model", :class="{ 'is-danger': $v.form.phone.$error }")
            span.icon.is-small.is-left
              i.fa.fa-phone
          p.help.is-danger(v-if="!$v.form.phone.required && $v.form.phone.$dirty") {{ $t('form.askDesigner.error.required') }}

      .form-row.is-flex
        .field.textarea-control(:class="{'field-error': $v.form.message.$error}")
          label.label {{ $t('form.askDesigner.label.message') }}
          .control
            textarea.textarea.is-radiusless(v-model.trim="$v.form.message.$model", :class="{ 'is-danger': $v.form.message.$error }")
          p.help.is-danger(v-if="!$v.form.message.required && $v.form.message.$dirty") {{ $t('form.askDesigner.error.required') }}

      .form-row.is-flex
        .field.submit-control
          .control
            button.button.gold-color(type="submit", :disabled="submitStatus === 'PENDING'") {{ $t('form.askDesigner.submit') }}
</template>

<script>
import { validationMixin } from 'vuelidate'
import email from 'vuelidate/lib/validators/email'
import required from 'vuelidate/lib/validators/required'
import cloneDeep from 'lodash/cloneDeep'
import get from 'lodash/get'
import { mapActions, mapGetters } from 'vuex'
import Vue from 'vue'
import autoFillForms from '~~/mixins/autoFillForms'

export default {
  name: 'PageOneComponent',

  mixins: [validationMixin, autoFillForms],

  data: () => ({
    form: {
      customerName: '',
      email: '',
      phone: '',
      message: '',
      pageLink: ''
    },
    submitStatus: null
  }),

  validations: {
    form: {
      customerName: { required },
      email: { required, email },
      phone: { required },
      message: { required }
    }
  },

  computed: {
    ...mapGetters({
      askDesignerForm: 'customItem/askDesignerForm'
    }),

    pageLink() {
      return get(this.$route, 'fullPath', null)
    }
  },

  created() {
    this.form = cloneDeep(this.askDesignerForm)
    this.autoFillFormMixinInit()
  },

  methods: {
    ...mapActions({
      askDesignerSubmit: 'customItem/askDesignerSubmit'
    }),

    async onFormSubmit() {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR'
      } else {
        this.submitStatus = 'PENDING'
        this.form.pageLink = this.pageLink
        await this.askDesignerSubmit(this.form)
        Vue.$gtag.event('ask_designer', {
          event_label: 'Ask designer form filled'
        })
        this.submitStatus = 'OK'
        this.$emit('next-page')
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.first-page
  color: $default-font-color
  min-height: 540px
  &-title
    font-size: 36px
    font-family: $lora
    font-weight: 400
    text-align: center
    margin-bottom: 20px
  &-form
    .form-row
      +mobile
        flex-direction: column
      &:not(:first-child)
        margin-top: 10px
        +mobile
          margin-top: unset
      .field
        flex: 1
        max-width: calc(50% - 10px)
        margin-bottom: 1.35rem
        +mobile
          max-width: unset
          width: 100%
        /*margin-bottom: 0.75rem*/
        &.field-error
          margin-bottom: unset
        .label
          text-transform: uppercase
        &.submit-control
          width: 100%
          max-width: unset
          .control
            text-align: center
            .button
              width: 200px
        &.textarea-control
          @extend .submit-control
      .field + .field
        margin-left: 20px
        +mobile
          margin-left: unset
</style>
