<template lang="pug">
  div.site-wrapper.is-flex
    top-header-component(:class="{hide}")
    user-menu-mobile(v-if="$device.isMobile", :show-menu="showUserMenu", @close="onCloseHandler")
    main-menu
    nuxt
    reviews-component(v-if="showReviews")
    footer-component
    lazy-hydrate(when-idle)
      video-modal(:name="modalName", :options="modalOptions")
    //slide-y-down-transition
      cookie-notice-component(v-if="showCookies", @accept="onAcceptCookies")
</template>

<script>
// import { SlideYDownTransition } from 'vue2-transitions'
import { mapActions, mapState } from 'vuex'
import LazyHydrate, {
  hydrateWhenIdle,
  hydrateWhenVisible
} from 'vue-lazy-hydration'
import listsSyncMixin from '~~/mixins/listsSyncMixin'
import subscriptions from '~~/utils/store/subscriptions'
import { cookiesOpts } from '~~/utils/definitions/defaults.js'
import { normRouteName } from '~~/utils/sitemapUtils.js'

const width = 925
const ratio = 0.56349

export default {
  name: 'DefaultLayout',

  components: {
    LazyHydrate,
    // SlideYDownTransition,
    VideoModal: hydrateWhenIdle(() =>
      import('~~/components/Common/VideoModal')
    ),
    UserMenuMobile: hydrateWhenVisible(() =>
      import(
        '~~/components/Layout/TopHeader/TopHeaderSecondLine/UserMenu/UserMenuMobile'
      )
    ),
    TopHeaderComponent: hydrateWhenIdle(() =>
      import('~~/components/Layout/TopHeader')
    ),
    MainMenu: hydrateWhenIdle(() => import('~~/components/Layout/MainMenu')),
    ReviewsComponent: hydrateWhenVisible(
      () => import('~~/components/HomePage/Reviews'),
      { observerOptions: { rootMargin: '200px' } }
    ),
    FooterComponent: hydrateWhenVisible(
      () => import('~~/components/Layout/Footer/Footer'),
      { observerOptions: { rootMargin: '200px' } }
    )
  },

  mixins: [listsSyncMixin],

  data: () => ({
    lastScrollTop: Number.POSITIVE_INFINITY,
    showUserMenu: false,
    modalName: 'create-process-video',
    modalOptions: {
      autoplay: true,
      controls: true,
      muted: false,
      width,
      height: width * ratio,
      source:
        'https://video.thenaturalsapphirecompany.com/f31bb118-1462-4df6-9d33-b4b17c20ed97/hls/design-your-own.m3u8'
    }
  }),

  computed: {
    ...mapState({
      hide: (state) => state.app.mobileHeaderHide
    }),

    showReviews() {
      return !normRouteName(this.$route.name).includes('cart')
    }
  },

  beforeDestroy() {
    window.removeEventListener('scroll', this.onScrollHandler, false)
  },

  async mounted() {
    this.$root.$once('store-restored', this.onRestoreStore)
    this.$root.$on('loading-start', this.startLoading)
    this.$root.$on('loading-stop', this.finishLoading)
    this.$root.$on('calc-view-port-units', this.getViewPortUnits)
    this.getViewPortUnits()
    await this.$modernizr.insert()
    this.applyStoreSubscriptions()
    // this.$googleBadge.insert()
    this.$vueGTag.insert(() => {
      this.$root.$emit('gtag-initialized')
    })
    this.$userlike.insert()
    this.$lazyload.insert(() => {
      this.$root.$emit('lazy-loaded')
    })
    if (this.$device.isMobile)
      window.addEventListener('scroll', this.onScrollHandler, false)
    if (!process.env.isDev) {
      this.$analytics.insert()
      this.$callrail.insert()
    }
  },

  methods: {
    ...mapActions({
      setMobileHeaderVisibility: 'app/setMobileHeaderVisibility',
      setShippingBillingCountry: 'cart/setShippingBillingCountry'
    }),

    onRestoreStore() {
      if (this.$cookies.get('country-auto-set')) return // prevent multiple times country change
      this.setShippingBillingCountry()
      this.$cookies.set('country-auto-set', true, {
        maxAge: 60 * 60 * 24,
        ...cookiesOpts
      })
    },

    startLoading() {
      this.$nuxt.$loading.start()
    },

    finishLoading() {
      this.$nuxt.$loading.finish()
    },

    getViewPortUnits() {
      const vh = window.innerHeight * 0.01
      document.documentElement.style.setProperty('--vh', `${vh}px`)
    },

    initCookiesNotice() {
      const accepted = this.$cookies.get('cookiesAccepted')
      if (!accepted) {
        setTimeout(() => {
          this.showCookies = true
        }, 3000)
      }
    },

    onAcceptCookies() {
      this.showCookies = false
      this.$cookies.set('cookiesAccepted', true, {
        maxAge: 365,
        ...cookiesOpts
      })
    },

    onCloseHandler() {
      this.showUserMenu = false
    },

    onScrollHandler() {
      const startOffset = 180 // pixels
      const upCallsDelay = 20 // scroll up events calls count
      const downCallsDelay = 20 // scroll down events calls count
      const st = window.scrollY || document.documentElement.scrollTop
      const isInHideArea = st > startOffset

      if (this.lastScrollTop > st) {
        this.downCalls = 0
        this.upCalls++
      } else {
        this.upCalls = 0
        this.downCalls++
      }

      const isHide =
        (this.hide && this.upCalls < upCallsDelay) ||
        (!this.hide && this.downCalls > downCallsDelay)

      this.setMobileHeaderVisibility(isInHideArea && isHide)
      this.lastScrollTop = st <= 0 ? 0 : st
    },

    applyStoreSubscriptions() {
      subscriptions.call(this)
    }
  }
}
</script>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
</style>

<style lang="sass" scoped>
.site-wrapper
  flex-direction: column
  min-height: 100vh
  .page
    +mobile
      margin-top: $headerHeight
</style>
