<template lang="pug">
.view-switcher.is-flex
  .view-switcher-label(v-if="$device.isDesktopOrTablet" ) {{ $t('listingPage.controls.changeView') }}
  items-count-component(v-else)
  .view-switcher-buttons.is-flex
    icon(@click.native="gridViewType = 'module'", iconName="grid", height="35", width="35", iconColor="#d2d2d2", :class="{selected: gridViewType === 'module'}")
    icon(@click.native="gridViewType = 'table'", iconName="list", height="35", width="35", iconColor="#d2d2d2", :class="{selected: gridViewType !== 'module'}")
</template>

<script>
import { hydrateWhenIdle } from 'vue-lazy-hydration'

export default {
  name: 'ViewSwitcherComponent',

  components: {
    ItemsCountComponent: hydrateWhenIdle(() => import('../ItemsCount'))
  },

  data: () => ({
    gridViewType: 'module'
  }),

  computed: {
    type() {
      return this.$store.getters.typeList
    }
  },

  watch: {
    gridViewType(type) {
      this.$store.dispatch(`${this.type}/switchItemsListView`, type)
    }
  },

  created() {
    this.gridViewType = this.$store.state[this.type].listView
  }
}
</script>

<style lang="sass" scoped>
.view-switcher
  align-items: center
  &-label
    font-size: 14px
    text-transform: uppercase
  &-buttons
    align-items: center
    svg
      cursor: pointer
      margin-left: 15px
      &.selected
        ::v-deep
          path,
          rect
            fill: $active-control !important
</style>
