<template lang="pug">
.total-price
  .total-price-top.is-flex
    .total-price-top-left
      span {{ $t('cart.cartSidebar.paySecurely') }}:
      pay-securely-component
    .total-price-top-right
      .cart-parts-subtotal.is-flex
        span.cart-parts-name {{ $t('cart.cartSidebar.subtotal') }} {{ (showLocal) ? $t('cart.cartSidebar.in', [localCurrencySymbol]) : '' }}:
        span(v-if='showLocal') {{ priceFormatter(subTotalLocal) }}
        span(v-else) {{ subtotal | moneyFormatter }}
      .cart-parts-tax.is-flex(v-if="showOriginalTax")
        span.cart-parts-name {{ $t('cart.cartSidebar.tax', [form.shippingState]) }}:
        span {{ tax | moneyFormatter }}
      .cart-parts-tax.is-flex(v-else-if="showLocalTax")
        span.cart-parts-name {{ $t('cart.cartSidebar.tax', [form.shippingState]) }}{{ $t('cart.cartSidebar.in', [localCurrencySymbol]) }}:
        span {{ priceFormatter(taxLocal) }}
      .cart-parts-shipping.is-flex(v-if="showShippingPrice")
        span.cart-parts-name {{ $t('cart.cartSidebar.shipping') }}{{ (showLocal) ? $t('cart.cartSidebar.in', [localCurrencySymbol]) : '' }}:
        span(v-if='showLocal') {{ priceFormatter(shippingLocal) }}
        span(v-else) {{ shipping | moneyFormatter }}
  .total-price-bottom.is-flex
    .total-price-bottom-left(:class="{'is-hidden-touch': !showLocal}")
      .cart-total-info(v-if='showLocal') {{ $t('cart.cartSidebar.totalInfo', [localCurrencySymbol]) }}
    .total-price-bottom-right
      .cart-total-local.is-flex(v-if='showLocal')
        span.cart-total-local-name {{ $t('cart.cartSidebar.orderTotal') }}{{ (showLocal) ? $t('cart.cartSidebar.in', [localCurrencySymbol]) : '' }}:
        span.cart-total-local-value {{ priceFormatter(orderTotalLocal) }}*
      .cart-total-original.is-flex
        span.cart-total-original-name {{ $t('cart.cartSidebar.orderTotal') }}:
        span.cart-total-original-value {{ orderTotal | moneyFormatter }}
</template>

<script>
import { mapGetters } from 'vuex'
import { normRouteName } from '~~/utils/utils'
import { moneyFormatter, decimalFormatter } from '~~/utils/formatters'

export default {
  name: 'TotalPriceComponent',

  components: {
    PaySecurelyComponent: () => import('~~/components/Cart/PaySecurely')
  },

  filters: {
    moneyFormatter
  },

  computed: {
    ...mapGetters({
      symbolPositionFront: 'app/symbolPositionFront',
      items: 'cart/items',
      shipping: 'cart/shipping',
      shippingLocal: 'cart/shippingLocal',
      form: 'cart/addressForm',
      tax: 'cart/getTax',
      taxLocal: 'cart/getTaxLocal',
      orderTotal: 'cart/getTotal',
      orderTotalLocal: 'cart/getTotalLocal',
      subtotal: 'cart/getSubTotal',
      subTotalLocal: 'cart/getSubTotalLocal',
      mixedPrices: 'cart/mixedPrices',
      showLocalPrices: 'app/showLocal',
      localCurrencySymbol: 'app/localCurrencySymbol'
    }),

    showShippingPrice() {
      return normRouteName(this.$route.name) !== 'cart-index'
    },

    showLocal() {
      return this.showLocalPrices && !this.mixedPrices
    },

    showOriginalTax() {
      return this.tax && !this.showLocal
    },

    showLocalTax() {
      return this.taxLocal && this.showLocal
    }
  },

  methods: {
    priceFormatter(price) {
      const p = decimalFormatter(price)
      const s = this.localCurrencySymbol
      if (this.symbolPositionFront) {
        return `${s} `.concat(p)
      }
      return `${p} `.concat(s)
    }
  }
}
</script>

<style lang="sass" scoped>
.total-price
  &-top
    padding: 25px
    +touch
      flex-direction: column-reverse
    &-left
      flex: 2
      +touch
        margin-top: 15px
        flex: 1
      span
        font-weight: 700
      .pay-securely
        margin-top: 10px
    &-right
      flex: 1
      .cart-parts
        padding: 20px 10px
        &-subtotal,
        &-tax,
        &-shipping
          justify-content: space-between
          .cart-parts-name
            font-weight: 700
  &-bottom
    padding: 25px
    background-color: $fourth-bg-color
    margin-bottom: 35px
    +touch
      flex-direction: column-reverse
    &-left
      flex: 2
      +touch
        margin-top: 15px
        flex: 1
    &-right
      flex: 1
      .cart-total
        border-top: 1px solid $border-color
        padding: 20px 10px
        .cart-total-local + .cart-total-original
          margin-top: 15px
        &-local,
        &-original
          justify-content: space-between
        &-original
          color: $gold-color
          font-weight: 700
          &-name
            font-size: 16px
          &-value
            font-size: 18px
</style>
