<template lang="pug">
section.education.container.is-flex
  .education__wrapper
    .education__stone-image.lazy(data-lazy-function="loaded")
    .education__content
      .education__content--title {{ $t('homePage.education.title') }}
      .education__content--body {{ $t('homePage.education.text') }}
    .education__button.is-flex
      v-link.button.gold-color.empty(:to="{name: 'education-index-category', params: { category: 'home'}}") {{ $t('homePage.education.readMore') }}
</template>

<script>
export default {
  name: 'EducationComponent'
}
</script>

<style lang="sass" scoped>
@include background-image('education__stone-image', 'education/emerald-in-stone', 'jpg')

.education
  margin-top: 60px
  font-size: 16px
  &__wrapper
    display: grid
    grid-template-columns: 1fr 1fr 0.6fr
    width: 100%
    background-color: $secondary-bg-color
    +tablet-only
      grid-template-columns: 0.8fr 1fr
      grid-template-rows: 1fr auto
    +mobile
      grid-template-columns: 1fr
      grid-template-rows: 1fr auto 200px
  &__stone-image
    background-size: contain
    background-repeat: no-repeat
    background-position-y: bottom
    +tablet-only
      grid-row: 1 / 3
    +mobile
      grid-row: 3 / 4
  &__content
    padding: 50px 0
    text-align: center
    +tablet-only
      padding: 35px 30px 0 0
  &__content--title
    font-size: 36px
    font-family: $lora
    font-style: italic
    line-height: 44px
    margin-bottom: 10px
  &__button
    justify-content: flex-end
    align-items: center
    padding: 50px 70px 50px 0
    +tablet-only
      justify-content: center
      padding: 30px 30px 35px 0
    +mobile
      justify-content: center
      padding: unset
    a
      color: $gold-color
      width: 100%
      max-width: 180px
</style>
