<template lang="pug">
  section.page-header.is-flex(v-show="pageHeader")
    .container.is-flex
      breadcrumbs(v-if="showBreadcrumbs", :items="breadcrumbs",)
      h1.is-flex {{ pageHeader }}
      h2.sub-title.is-flex(v-if="pageDescription", v-interpolation, v-html="pageDescription")
</template>

<script>
import get from 'lodash/get'
import { mapGetters } from 'vuex'

export default {
  name: 'PageHeaderComponent',

  components: {
    Breadcrumbs: () => import('~~/components/Common/Breadcrumbs')
  },

  props: {
    showBreadcrumbs: {
      type: Boolean,
      default: true
    },
    breadcrumbs: {
      type: Array,
      default: () => []
    }
  },

  data: () => ({
    pageHeader: null,
    pageDescription: null
  }),

  computed: {
    ...mapGetters({
      locale: 'locale/locale',
      meta: 'meta'
    })
  },

  created() {
    if (!this.pageHeader) this.pageHeader = this.getPageHeader()
    if (!this.pageDescription) this.pageDescription = this.getPageDescription()
    if (process.client)
      this.$nextTick(() => {
        this.$root.$emit('header-changed')
      })
  },

  methods: {
    getPageHeader() {
      if (!this.meta.length) return null
      return get(
        this.meta.find((meta) => meta.name === 'navigation-page-title'),
        'content',
        null
      )
    },

    getPageDescription() {
      if (!this.meta.length) return null
      return get(
        this.meta.find((meta) => meta.name === 'navigation-page-description'),
        'content',
        null
      )
    }
  }
}
</script>

<style lang="sass" scoped>
.page-header
  background-color: $light-primary-color
  height: 145px
  align-items: center
  position: relative
  z-index: 199
  +tablet-only
    height: 195px
  +mobile
    height: unset
    padding: 25px 0
  .container
    position: relative
    +touch
      flex-direction: column
    .sub-title
      font-size: 16px
      +touch
        margin-top: 20px
      ::v-deep
        a
          text-decoration: underline
  h1
    font-size: 26px
    font-family: $lora
    font-style: italic
    line-height: 1
    margin: 0
    align-items: center
    white-space: nowrap
    padding-right: 80px
    +tablet-only
      font-size: 27px
    +mobile
      white-space: normal
      font-size: 35px
      padding-top: 0
      padding-right: 0

  .breadcrumbs-wrapper
    position: absolute
    left: 24px
    top: -35px
</style>
