<template lang="pug">
  .product-gallery.is-flex(:class="{'quick-view': isQuickView}")
    .product-gallery__thumbnails-section.is-flex.is-hidden-touch(ref="thumbnailsSection")
      .product-gallery__thumbnails(ref="thumbnails")
        product-gallery-thumbnail.product-gallery__thumbnail(v-for="(thumbnail, index) in thumbnails", :key="thumbnail.guid", @click="onThumbnailClick(index)", :selected="selectedIndex === index", :thumbnail="thumbnail")
    .product-gallery__view-section(ref="view")
      product-gallery-slider(ref="slider", :loop="loop", @beyond-edges="onBeyondEdgesHandler", @slide-change="onSlideChange", @update="calcThumbnailsHeight", :item="item", :slides="thumbnails", :slideIndex="selectedIndex", @change="onItemChange", @click="mountLightBox")
      product-gallery-message(:messages="messages", :currentThumbnail="currentThumbnail")
</template>

<script>
import get from 'lodash/get'
import perfectScrollbarMixin from '~~/mixins/perfectScrollbarMixin'

export default {
  name: 'ProductGalleryComponent',

  components: {
    ProductGalleryMessage: () => import('./ProductGalleryMessage'),
    ProductGalleryThumbnail: () => import('./ProductGalleryThumbnail'),
    ProductGallerySlider: () => import('./ProductGallerySlider')
  },

  mixins: [perfectScrollbarMixin],

  inject: ['pageType'],

  props: {
    messages: {
      type: Array,
      default: () => []
    },

    thumbnails: {
      type: Array,
      default: () => []
    },

    item: {
      type: Object,
      required: true
    },

    // start from last slide
    inverse: {
      type: Boolean,
      default: false
    },

    loop: {
      type: Boolean,
      default: true
    }
  },

  data: () => ({
    selectedIndex: 0
  }),

  computed: {
    currentThumbnail() {
      return this.thumbnails[this.selectedIndex]
    },

    selectedId() {
      return this.thumbnails[this.selectedIndex].guid
    },

    isQuickView() {
      return this.pageType === 'listing'
    },

    lightboxThumbnails() {
      return this.thumbnails.filter((t) => !['Model'].includes(t.type))
    }
  },

  created() {
    if (this.inverse) this.selectedIndex = this.thumbnails.length - 1
  },

  mounted() {
    this.makePS(this.$refs.thumbnails)
  },

  methods: {
    resetSlider() {
      this.selectedIndex = 0
    },

    calcThumbnailsHeight() {
      const viewHeight = get(
        this.$refs,
        'view.childNodes[0].childNodes[0].offsetHeight',
        null
      )
      if (viewHeight)
        this.$refs.thumbnailsSection.style.maxHeight = viewHeight + 'px'
    },

    onBeyondEdgesHandler(direction) {
      this.$emit('beyond-edges', direction)
    },

    onNavigationClick(direction) {
      const swiper = this.$refs.slider.swiper
      if (direction === 'next') {
        if (swiper.activeIndex === swiper.slides.length - 1) {
          this.$emit('beyond-edges', direction)
          return
        }
        swiper.slideNext()
      }
      if (direction === 'prev') {
        if (swiper.activeIndex === 0) {
          this.$emit('beyond-edges', direction)
          return
        }
        swiper.slidePrev()
      }
    },

    onSlideChange(swiper) {
      const index = swiper.realIndex
      this.selectedIndex = index
      const thumbnail = get(this.$refs, `thumbnails.children[${index}]`, null)
      if (thumbnail)
        this.$refs.thumbnails.scrollTo({
          top: thumbnail.offsetTop - 1, // -1 to show top border
          behavior: 'smooth'
        })
    },

    onItemChange(index) {
      this.selectedIndex = index
    },

    onThumbnailClick(index) {
      this.selectedIndex = index

      const thumbnail = this.thumbnails[index]

      if (!thumbnail) return

      if (thumbnail.type === 'Sarin') this.mountLightBox(this.selectedIndex)
      if (thumbnail.type === 'SettingsSarin')
        this.mountLightBox(this.selectedIndex)
    },

    mountLightBox(index) {
      this.selectedIndex = index
      setTimeout(() => {
        this.$root.$emit('gallery-lightbox', {
          item: this.item,
          imageIndex: this.selectedIndex,
          imageId: this.selectedId,
          thumbnails: this.lightboxThumbnails
        })
      })
    }
  }
}
</script>

<style lang="sass" scoped>
.product-gallery
  +tablet
    position: sticky
    top: 50px
    z-index: 199
  &__thumbnails-section
    flex: 1
    min-width: 101px
    max-width: 101px
    flex-direction: column
    max-height: 640px
  &__view-section
    position: relative
    padding: 0 1px 1px 10px
    flex: 5
    +touch
      flex: 1
      padding: unset
  &__thumbnails
    position: relative
    overflow: hidden
    padding: 1px 16px 1px 1px
    display: grid
    grid-gap: 10px
    grid-template-columns: minmax(84px, 84px)
  &__thumbnail
    max-width: 120px
  &:not(.quick-view)
    +ultrahd
      .product-gallery
        &__thumbnails-section
          flex: auto
          max-width: unset
          .image-wrapper
            height: unset
            max-height: 120px
        &__view-section
          flex: 1
          .swiper-container
            margin-right: unset
            width: 720px !important
        &__thumbnails
          grid-template-columns: repeat(2, minmax(84px, 120px))
          grid-template-rows: repeat(2, 120px)
          grid-gap: 34px
</style>
