<template lang="pug">
  modal.gallery-lightbox(v-show="mounted", ref="modal", transition="modal", :width="width", :min-width="825", :max-width="1200", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-header
      .numbertext {{ currentSlideIndex + 1 }} / {{ items.length }}
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body
      .lightbox-content(v-if="currentSlide")
        transition(name='el-fade-in-linear', mode='out-in')
          .lightbox-slide(:class="{'max-size': maxSize}", :key='`image-${currentSlideIndex}`')
            sarin-viewer(v-if="currentSlide.type === 'Sarin'", :attrs='getSarinAttrs')
            settings-viewer(:item='currentItem', v-else-if="currentSlide.type === 'SettingsSarin'")
            v-image(v-else-if="currentSlide.image.large", @click='onZoom', :src='currentSlide.image.large')
        a.prev(@click='prevSlide') ❮
        a.next(@click='nextSlide') ❯
        .caption-container(v-if='props.description')
          p(v-html="currentItem.productDescription")
        .thumbnails-container
          .thumbnail(:class="{'selected': currentSlideIndex === index}", v-for='(item, index) in items', :key='`thumbnail-${item.guid}`')
            v-image.thumbnail-image(v-if="item.image.micro", :src='item.image.micro', @click='setCurrentSlide(index)', alt='Thumbnail')
</template>

<script>
import modalMixin from '~~/mixins/modalMixin'

export default {
  name: 'ProductGalleryLightboxComponent',

  components: {
    SettingsViewer: () => import('./3dViewer'),
    SarinViewer: () => import('./SarinViewer')
  },

  mixins: [modalMixin],

  data() {
    return {
      modalEvent: 'gallery-lightbox',
      modalName: 'gallery-lightbox',
      modalView: '',
      width: '70%',
      currentSlideIndex: 0,
      maxSize: true,
      props: {
        item: {},
        imageIndex: 0,
        imageId: '',
        description: true,
        thumbnails: [],
        showThumbnails: true
      }
    }
  },

  computed: {
    currentSlide() {
      return this.items[this.currentSlideIndex]
    },

    currentItem() {
      if (this.currentSlide.custom)
        return this.props.item[`custom${this.currentSlide.custom}`]
      return this.props.item
    },

    items() {
      return this.props.thumbnails.filter(
        (thumbnail) => !['Video', 'SizeVideo'].includes(thumbnail.type)
      )
    },

    getSarinAttrs() {
      return {
        id: this.currentItem.id,
        url: this.currentItem.sarinPath,
        autoResize: true,
        maxDimension: 900,
        padding: 40,
        ratio: 2,
        clickFacet: true
      }
    }
  },

  watch: {
    currentSlideIndex() {
      if (process.client) {
        setTimeout(() => {
          if (window.lazyUpdate) window.lazyUpdate()
        }, 50)
      }
    }
  },

  mounted() {
    if (window.lazyUpdate) window.lazyUpdate()
  },

  methods: {
    setCurrentSlideIndex() {
      this.currentSlideIndex = this.items.findIndex(
        (item) => item.guid === this.props.imageId
      )
      if (this.currentSlideIndex === -1) this.currentSlideIndex = 0
    },

    onModalEventHandler(props) {
      this.props = Object.assign(this.props, props)
      this.setCurrentSlideIndex()
      this.disableScrolling()
      this.$modal.show(this.modalName)
    },

    onZoom() {
      this.maxSize = !this.maxSize // uncomment if needed to change zoom by clicking image
    },

    prevSlide() {
      this.currentSlideIndex =
        this.currentSlideIndex > 0
          ? this.currentSlideIndex - 1
          : this.items.length - 1
    },

    nextSlide() {
      this.currentSlideIndex =
        this.currentSlideIndex < this.items.length - 1
          ? this.currentSlideIndex + 1
          : 0
    },

    onCloseHandler() {
      this.$modal.hide(this.modalName)
      this.enableScrolling()
    },

    setCurrentSlide(val) {
      this.currentSlideIndex = val
    }
  }
}
</script>

<style lang="sass" scoped>
.gallery-lightbox
  overflow: auto
  z-index: 2600
  ::v-deep
    .v--modal-box
      +tablet-only
        width: 80% !important
        margin: auto
        left: unset !important
      +mobile
        top: 5vh !important
        left: unset !important
        width: 100% !important
  .modal-header
    position: relative
    height: 30px
    .numbertext
      color: #4a4a4a
      font-size: 12px
      padding: 8px 12px
      position: absolute
      top: 0
      left: 0
      z-index: 1
    .close-button
      cursor: pointer
      position: absolute
      top: 10px
      right: 10px
      align-items: center
      text-transform: uppercase
      svg
        margin-left: 5px
        height: 15px
        width: 15px

  .lightbox-content
    position: relative
    background: rgba(255, 255, 255, 1)
    margin: auto
    padding: 0
    max-width: 1200px
    .thumbnails-container
      display: flex
      justify-content: center
      align-items: center
      .thumbnail
        max-width: 5rem
        width: 100%
        cursor: pointer
        &-image
          opacity: 0.6
          &:hover
            opacity: 1
        &.selected
          .thumbnail-image
            opacity: 1
    .lightbox-slide
      min-height: 50rem
      display: flex
      justify-content: center
      +mobile
        min-height: 25rem
      ::v-deep
        img
          cursor: zoom-in
          max-height: 75vh
      &.max-size
        ::v-deep
          img
            cursor: zoom-out
            max-height: unset
      .picture-wrapper
        margin: auto
      picture
        display: block
        max-height: 50rem
    .prev,
    .next
      cursor: pointer
      position: absolute
      top: 50%
      width: auto
      padding: 16px
      margin-top: -50px
      color: #fff
      background-color: rgba(0, 0, 0, 0.7)
      font-weight: bold
      font-size: 20px
      transition: 0.6s ease
      border-radius: 0 3px 3px 0
      user-select: none
      -webkit-user-select: none
      &:hover
        background-color: rgba(0, 0, 0, 0.9)
    .next
      right: 0
      border-radius: 3px 0 0 3px
    .caption-container
      white-space: break-spaces
      text-align: center
      background-color: rgba(0, 0, 0, 0.7)
      padding: 1rem
      color: white
</style>
