<template lang="pug">
.swiper-container(ref="swiper", v-observe-visibility="{callback: mountSwiper}", :class="{ 'not-mounted': !swiperMounted }")
  .swiper-wrapper
    .swiper-slide.is-flex(v-for="(slide, index) in slides", :key="slide.guid", :style="slideStyles", :class="slide.type.toLowerCase()")
      component.swiper-slide-inner(:loadSlide="isReadyToLoad(index)", :ready="!!swiper", :item="item", @load="updateSwiper", @swipe="onSwipeHandler", @click="$emit('click', index)", :is="getSlideType(slide)", :active="slideIndex === index", :slide="slide")
  .swiper-footer.is-flex
    .swiper-slides-count
      strong.current-slide-number {{ slideIndex + 1 }}&nbsp
      span.total-slide-number of {{ slides.length }}
    .swiper-pagination
  .swiper-button-next(v-if="$device.isDesktop", @click="onNextArrowClick")
  .swiper-button-prev(v-if="$device.isDesktop", @click="onPrevArrowClick")
</template>

<script>
export default {
  name: 'ProductGallerySliderComponent',

  components: {
    SlideModel: () => import('./ProductGallerySliderViews/SlideModel'),
    SlidePreview: () => import('./ProductGallerySliderViews/SlidePreview'),
    SlideImage: () => import('./ProductGallerySliderViews/SlideImage'),
    SlideVideo: () => import('./ProductGallerySliderViews/SlideVideo'),
    SlideSarin: () => import('./ProductGallerySliderViews/SlideSarin'),
    SlideSettingsSarin: () =>
      import('./ProductGallerySliderViews/SlideSettingsSarin'),
    SlideSizeVideo: () => import('./ProductGallerySliderViews/SlideSizeVideo'),
    SlideCombination: () =>
      import('./ProductGallerySliderViews/SlideCombination')
  },

  props: {
    item: {
      type: Object,
      default: () => ({})
    },

    slideIndex: {
      type: Number,
      default: 0
    },

    slides: {
      type: Array,
      default: () => []
    },

    loop: {
      type: Boolean,
      default: true
    }
  },

  data: () => ({
    swiperMounted: false,
    slideStyles: {},
    swiper: null,
    progress: 0 // slide move progress for mobile devices
  }),

  computed: {
    slidesCount() {
      return `${this.slideIndex + 1} of ${this.slides.length}`
    },

    sliderParams() {
      const params = {
        loop: this.loop,
        slidesPerView: 1,
        slidesPerGroup: 1,
        initialSlide: this.slideIndex,
        longSwipesRatio: 0.3,
        allowTouchMove: this.$device.isMobileOrTablet,
        on: {
          slideChange: this.onSlideChange,
          touchEnd: this.onTouchEnd,
          progress: this.onProgressChange
        },
        pagination: {
          el: '.swiper-pagination',
          dynamicBullets: true,
          dynamicMainBullets: 3,
          clickable: true
        }
      }

      if (this.$device.isDesktop) {
        params.navigation = {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      }

      return params
    }
  },

  watch: {
    // hack to reset swiper plugin. After change metal type it starts emit wrong realId parameter. This fall browser into changing slides in loop endlessly
    slides: {
      deep: true,

      handler() {
        this.destroySwiper()
        this.$nextTick(() => {
          this.mountSwiper(true)
        })
      }
    },

    // Can't rid of this watcher. On loop swiper duplicates slides, but it can't duplicate video-360 slide correctly
    slideIndex(index) {
      this.slideTo(index)
    }
  },

  beforeDestroy() {
    this.destroySwiper()
  },

  methods: {
    getSlideType(slide) {
      if (
        [
          'Image',
          'ScanReport',
          'Appraisal',
          '3DScanReport',
          'LifeStyle'
        ].includes(slide.type)
      )
        return 'SlideImage'
      return `Slide${slide.type}`
    },

    slideTo(index) {
      if (this.swiper)
        this.loop ? this.swiper.slideToLoop(index) : this.swiper.slideTo(index)
    },

    async mountSwiper(isVisible) {
      if (isVisible && !this.swiperMounted) {
        this.updateSlider()
        this.swiper = await this.$swiper.insert(
          this.$refs.swiper,
          this.sliderParams,
          () => {
            this.$nextTick(() => {
              this.swiperMounted = true
            })
          }
        )
        window.addEventListener('resize', this.updateSlider, false)
      }
    },

    destroySwiper() {
      if (!this.swiper) return
      this.swiperMounted = false
      this.swiper.destroy()
      window.removeEventListener('resize', this.updateSlider, false)
    },

    isReadyToLoad(index) {
      if (index === this.slideIndex - 1) return true // previous
      if (index === this.slideIndex + 1) return true // next slide
      if (index === this.slideIndex) return true // current slide
      return false
    },

    onProgressChange(swiper, progress) {
      this.progress = progress
    },

    onTouchEnd(swiper, event) {
      if (this.progress < 0 || this.progress > 1) {
        this.$emit('beyond-edges', swiper.swipeDirection)
      }
    },

    onSlideChange(swiper) {
      this.$emit('slide-change', swiper)
    },

    onNextArrowClick() {
      if (this.progress >= 1) this.$emit('beyond-edges', 'next')
    },

    onPrevArrowClick() {
      if (this.progress <= 0) this.$emit('beyond-edges', 'prev')
    },

    updateSlider() {
      this.initSliderSize()
      if (this.swiper) this.swiper.update()
      this.$emit('update')
    },

    initSliderSize() {
      const productGallery = this.$el.parentNode.parentNode
      const thumbnailsSection = productGallery.childNodes[0]
      const viewSectionStyles = window.getComputedStyle(
        productGallery.childNodes[1]
      )

      const viewSectionPaddings =
        parseInt(viewSectionStyles.paddingLeft) +
        parseInt(viewSectionStyles.paddingRight)

      const size =
        productGallery.offsetWidth -
        thumbnailsSection.offsetWidth -
        viewSectionPaddings

      this.$refs.swiper.style.width = size + 'px'
      this.$refs.swiper.childNodes[0].style.height = size + 'px' // wrapper
      this.slideStyles.maxHeight = size + 'px' // max height for slides
      const slides = document.querySelectorAll('.swiper-slide-inner')
      if (slides.length) {
        slides.forEach((el) => {
          if (el.style) el.style.maxHeight = size - 2 + 'px' // to avoid borders overlap by doc images
        })
      }
    },

    updateSwiper() {
      if (this.swiper) this.swiper.update()
    },

    onSwipeHandler(direction) {
      if (this.$device.isDesktop) return
      if (direction) this.$emit('beyond-edges', 'prev')
      if (!direction) this.swiper.slideNext()
    }
  }
}
</script>

<style lang="sass" scoped>
.swiper-container
  overflow: hidden
  aspect-ratio: 1 / 1
  &.not-mounted
    visibility: hidden
    //display: none
  .swiper-wrapper
    .swiper-slide
      aspect-ratio: 1 / 1
      align-items: center
      justify-content: center
      border: 1px solid $border-color
      height: inherit
      &.combination
        border: unset
      ::v-deep
        *
          //height: inherit
          max-height: inherit
  .swiper-button-next,
  .swiper-button-prev
    outline: none
    z-index: 1
    color: $dark-primary-color
    transform: translateY(-50%)
  .swiper-footer
    position: relative
    width: 100%
    height: 45px
    background-color: #ffffff
    z-index: 1
    justify-content: center
    align-items: flex-end
    .swiper-slides-count
      position: absolute
      left: 10px
      bottom: 0
      font-style: italic
      font-family: $lora
    .swiper-pagination
      white-space: nowrap
      position: relative
      ::v-deep
        .swiper-pagination-bullet
          background: $primary-color
          opacity: .5
          outline: none
          margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px)
          &-active
            background: $primary-color
            opacity: 1
</style>
