<template lang="pug">
  .image-wrapper(@click='onClick', :class="{ selected }")
    component(:is="thumbnailComponent", :thumbnail="thumbnail", @loaded="$emit('loaded', $event)")
</template>

<script>
export default {
  name: 'ProductGalleryThumbnailComponent',

  components: {
    CombinationThumbnail: () =>
      import('./ProductGalleryThumbnailViews/CombinationThumbnail'),
    ImageThumbnail: () =>
      import('./ProductGalleryThumbnailViews/ImageThumbnail'),
    SlideModelThumbnail: () =>
      import('./ProductGalleryThumbnailViews/SlideModelThumbnail'),
    SizeVideoThumbnail: () =>
      import('./ProductGalleryThumbnailViews/SizeVideoThumbnail'),
    VideoThumbnail: () =>
      import('./ProductGalleryThumbnailViews/VideoThumbnail')
  },

  props: {
    thumbnail: {
      type: Object,
      default: () => ({})
    },

    selected: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    thumbnailComponent() {
      if (this.thumbnail.type === 'Combination') return 'CombinationThumbnail'
      if (this.thumbnail.type === 'Video') return 'VideoThumbnail'
      if (this.thumbnail.type === 'SizeVideo') return 'SizeVideoThumbnail'
      if (this.thumbnail.type === 'Model') return 'SlideModelThumbnail'
      return 'ImageThumbnail'
    }
  },

  methods: {
    onClick() {
      this.$emit('click', { image: this.thumbnail.image })
    }
  }
}
</script>

<style lang="sass" scoped>
.image-wrapper
  aspect-ratio: 1 / 1
  position: relative
  flex: 84px 0 0
  height: 84px
  cursor: pointer
  user-select: none
  &.selected
    video,
    .combination,
    .item-image,
    .slide-hand
      box-shadow: 0 0 0 1px $dark-primary-color
    .video-360
      ::v-deep
        .item-image
          box-shadow: 0 0 0 1px $dark-primary-color
</style>
