<template lang="pug">
  .order
    h1(v-if='header') {{ $t('order.summary.orderId', [order.id]) }}
    .order-info
      h3.block-title.is-italic {{ $t('order.summary.info') }}
      .order-info-item
        .order-info-name {{ $t('order.summary.date') }}
        .order-info-value {{ order.dateOrdered | formatDateUTCAM }}
      .order-info-item
        .order-info-name {{ $t('order.summary.number') }}
        .order-info-value {{ order.id }}
      .order-info-item
        .order-info-name
          | {{ orderItems.length > 1 ? $t('order.summary.items') : $t('order.summary.item') }}
        .order-info-value {{ itemIds }}
      .order-info-item
        .order-info-name {{ $t('order.summary.docs') }}
        .order-info-value {{ $t(`order.summary.docsOptions.${order.docType}`) }}
      .order-info-item
        .order-info-name {{ $t('order.summary.customerId') }}
        .order-info-value {{ order.customerId }}
      .order-info-item
        .order-info-name {{ $t('order.summary.email') }}
        .order-info-value {{ order.email }}
      .order-info-item
        .order-info-name {{ $t('order.summary.sales') }}
        .order-info-value {{ order.salesRepName ? order.salesRepName : $t('order.summary.na') }}
    .order-info
      h3.block-title.is-italic {{ $t('order.summary.billingInfo') }}
      .order-info-item
        .order-info-name {{ $t('order.summary.name') }}
        .order-info-value {{ `${order.billingFirstName} ${order.billingLastName}` }}
      .order-info-item
        .order-info-name {{ $t('order.summary.address') }}
        .order-info-value
          div {{ order.billingStreet1 }} {{ order.billingStreet2 }}
          div {{ order.billingCity }} {{ order.billingState }} {{ order.billingZipCode }}
          div {{ order.billingCountry }}
      .order-info-item
        .order-info-name {{ $t('order.summary.phone') }}
        .order-info-value {{ order.phone }}
      .order-info-item
        .order-info-name {{ $t('order.summary.method') }}
        .order-info-value {{ order.paymentMethod }}
      .order-info-item(v-if="order.billingName")
        .order-info-name {{ $t('order.summary.nameCard') }}
        .order-info-value {{ order.billingName }}
      .order-info-item(v-if="order.cardType")
        .order-info-name {{ $t('order.summary.cardType') }}
        .order-info-value {{ order.cardType }}
    .order-info
      h3.block-title.is-italic {{ $t('order.summary.shippingInfo') }}
      .order-info-item
        .order-info-name {{ $t('order.summary.name') }}
        .order-info-value {{ order.shippingFirstName }} {{ order.shippingLastName }}
      .order-info-item
        .order-info-name {{ $t('order.summary.address') }}
        .order-info-value
          div {{ order.shippingStreet1 }} {{ order.shippingStreet2 }}
          div {{ order.shippingCity }} {{ order.shippingState }} {{ order.shippingZipCode }}
          div {{ order.shippingCountry }}
      .order-info-item
        .order-info-name {{ $t('order.summary.phone') }}
        .order-info-value {{ order.phone }}
      .order-info-item
        .order-info-name {{ $t('order.summary.shippingMethod') }}
        .order-info-value {{ order.shippingMethod ? order.shippingMethod : $t('order.summary.na') }}
    .order-info
      h3.block-title.is-italic {{ $t('order.summary.orderDetails') }}
      component(@to-details="pushToDetails", v-for='item in orderItems', :key='item.guid', :item='item', :is='`${itemCategoryFormatter(item.category)}Item`')
      .order-info-total
        .order-info-comments
          div(v-if='order.customerComments') {{ $t('order.summary.comments') }}&nbsp
          div {{ order.customerComments }}
        .order-info-price(v-if='showLocal')
          .order-info-price-item
            .order-info-price-name {{ $t('order.summary.subtotalIn', [localCurrencySymbol]) }}
            .order-info-price-value {{ getPrice('subTotal') }}
          .order-info-price-item
            .order-info-price-name {{ $t('order.summary.shippingIn', [localCurrencySymbol]) }}
            .order-info-price-value {{ getPrice('totalShipping') }}
          .order-info-price-item
            .order-info-price-name {{ $t('order.summary.taxIn', [localCurrencySymbol]) }}
            .order-info-price-value {{ getPrice('totalTax') }}
          .order-info-price-item.order-info-price-item--total
            .order-info-price-name {{ $t('order.summary.totalIn', [localCurrencySymbol]) }}
            .order-info-price-value {{ getPrice('total') }}
          .order-info-price-item.order-info-price-item--total.original
            .order-info-price-name {{ $t('order.summary.total') }}
            .order-info-price-value {{ order.total | moneyFormatter }}
        .order-info-price(v-else)
          .order-info-price-item
            .order-info-price-name {{ $t('order.summary.subtotal') }}
            .order-info-price-value {{ order.subTotal | moneyFormatter }}
          .order-info-price-item
            .order-info-price-name {{ $t('order.summary.shipping') }}
            .order-info-price-value {{ order.totalShipping | moneyFormatter }}
          .order-info-price-item
            .order-info-price-name {{ $t('order.summary.tax') }}
            .order-info-price-value {{ order.totalTax | moneyFormatter }}
          .order-info-price-item(class='order-info-price-item--total.original')
            .order-info-price-name {{ $t('order.summary.total') }}
            .order-info-price-value {{ order.total | moneyFormatter }}
</template>

<script>
import get from 'lodash/get'
import isEmpty from 'lodash/isEmpty'
import cloneDeep from 'lodash/cloneDeep'
import { mapGetters } from 'vuex'
import { getDetailsPath } from '~~/utils/utils'
import {
  moneyFormatter,
  decimalFormatter,
  formatDateUTCAM
} from '~~/utils/formatters'

export default {
  name: 'OrderSummaryPageComponent',

  components: {
    CustomItem: () => import('~~/components/Cart/OrderItems/CustomItem'),
    StoneItem: () => import('~~/components/Cart/OrderItems/StoneItem'),
    PairItem: () => import('~~/components/Cart/OrderItems/PairItem'),
    RingItem: () => import('~~/components/Cart/OrderItems/RingItem'),
    EarringItem: () => import('~~/components/Cart/OrderItems/EarringItem'),
    PendantItem: () => import('~~/components/Cart/OrderItems/PendantItem'),
    NecklaceItem: () => import('~~/components/Cart/OrderItems/NecklaceItem'),
    BraceletItem: () => import('~~/components/Cart/OrderItems/BraceletItem'),
    PlainBandItem: () => import('~~/components/Cart/OrderItems/PlainBandItem'),
    WeddingBandItem: () =>
      import('~~/components/Cart/OrderItems/WeddingBandItem'),
    SettingEarringItem: () =>
      import('~~/components/Cart/OrderItems/SettingEarringItem'),
    SettingNecklaceItem: () =>
      import('~~/components/Cart/OrderItems/SettingNecklaceItem'),
    SettingPendantItem: () =>
      import('~~/components/Cart/OrderItems/SettingPendantItem'),
    SettingRingItem: () =>
      import('~~/components/Cart/OrderItems/SettingRingItem'),
    WaxItem: () => import('~~/components/Cart/OrderItems/WaxItem')
  },

  filters: {
    moneyFormatter,
    formatDateUTCAM
  },

  props: {
    order: {
      type: Object,
      required: true
    },
    header: {
      type: Boolean,
      required: false,
      default: true
    }
  },

  computed: {
    ...mapGetters({
      symbolPositionFront: 'app/symbolPositionFront'
    }),

    showLocal() {
      return get(this.order, 'localCurrency.total', false)
    },

    localCurrencySymbol() {
      return get(this.order, 'localCurrency.symbol', '')
    },

    orderItems() {
      if (isEmpty(this.order)) return []

      const order = cloneDeep(this.order)

      return [
        ...order.stones,
        ...order.pairs,
        ...order.settings,
        ...order.bands,
        ...order.jewelries,
        ...order.custom,
        ...order.waxModels
      ].map((item) => {
        item.guid = this.$h.guid()
        return item
      })
    },
    itemIds() {
      if (!this.orderItems || !this.order) return ''

      return this.orderItems.map((i) => i.id).join(', ')
    }
  },

  methods: {
    pushToDetails(item) {
      this.$router.push(
        this.localePath({ path: getDetailsPath(item), query: { overview: 1 } })
      )
    },

    itemCategoryFormatter(category) {
      return category.replace(/[\s_]/, '')
    },

    getPrice(param) {
      const localPrice = get(this.order, `localCurrency.${param}`, null)
      if (localPrice || localPrice === 0) {
        if (this.symbolPositionFront) {
          return `${this.localCurrencySymbol} `.concat(localPrice)
        }
        return `${localPrice} `.concat(this.localCurrencySymbol)
      }
      return moneyFormatter(get(this.order, param, 0))
    },

    priceFormatter(price) {
      return decimalFormatter(price)
    }
  }
}
</script>

<style lang="sass" scoped>
.order
  > h1
    font-size: 50px
    font-family: $lora
    font-style: italic
    background-color: #f7faf9
    padding: 25px
    text-align: center
    margin-bottom: 40px

.order-info
  border-bottom: 1px solid #ebf1ef
  margin: 30px 0
  h3
    text-align: left

.order-info-item
  padding: 5px 10px
  display: flex

.order-info-name
  min-width: 200px

.order-info-total
  display: flex
  justify-content: space-between
  padding: 10px

.order-info-comments
  display: flex

.order-info-price-item
  display: flex
  width: 200px
  justify-content: space-between
  margin-bottom: 5px

.order-info-price-item--total
  font-size: 14px
  font-weight: bold

  &.original
    font-size: 18px
    font-weight: bold
    color: #8d7955

@media (max-width: 768px)
  .order-info-name
    min-width: 150px

  .order-info-total
    flex-direction: column

  .order-info-comments
    margin-bottom: 30px

  .order-info-price-item
    width: auto
</style>
