<template lang="pug">
.dyo-view
  .dyo-view-root.is-flex(@click="onClickHandler")
    .dyo-view-root-name.is-flex
      icon(:iconName="item.icon")
      span {{ item.name }}
    i.fa.fa-chevron-right(:class="{open: expand}")
  collapse-transition
    .dyo-view-children(v-show="expand")
      .dyo-view-children-label.setting.is-flex
        icon(iconName="menuRing", iconColor="primary")
        span {{ $t('layout.mainMenu.setting') }}
      .dyo-view-sub-root(v-for="(menuItems, key) in item.leftItems", :key="key")
        .dyo-view-sub-root-name.is-flex(@click.self="onLocalClickHandler(key)")
          span(@click.self="onLocalClickHandler(key)") {{ $t(`layout.mainMenu.${key}`) }}
          i.fa.fa-chevron-right(@click.self="onLocalClickHandler(key)", :class="{open: expandedSubMenu === key}")
        collapse-transition
          .dyo-view-sub-children(v-show="expandedSubMenu === key")
            .dyo-view-sub-child(v-for="menuItem in menuItems", :key="menuItem.id")
              v-link.is-flex(@click.native="$emit('collapse')", :to="menuItem.to")
                icon(height="30", width="30", :iconName="menuItem.icon", iconColor="#2e2e2e")
                span {{ menuItem.text }}
      .dyo-view-children-label.stone.is-flex
        icon(iconName="menuStone", iconColor="primary")
        span {{ $t('layout.mainMenu.startWithStone') }}
      .dyo-view-sub-root.stone(v-for="(menuItems, key) in item.rightItems", :key="key")
        .dyo-view-sub-root-name.is-flex(@click.self="onLocalClickHandler(key)")
          span(@click.self="onLocalClickHandler(key)") {{ $t(`layout.mainMenu.${key}`) }}
          i.fa.fa-chevron-right(@click.self="onLocalClickHandler(key)", :class="{open: expandedSubMenu === key}")
        collapse-transition
          .dyo-view-sub-children(v-show="expandedSubMenu === key")
            .dyo-view-sub-child.is-flex(v-for="menuItem in menuItems", :key="menuItem.id")
              v-link(@click.native="$emit('collapse')", :to="menuItem.to") {{ menuItem.text }}
</template>

<script>
import { CollapseTransition } from 'vue2-transitions'

export default {
  name: 'DyoComponent',

  components: {
    CollapseTransition
  },

  props: {
    item: {
      type: Object,
      required: true
    }
  },

  inject: ['expanded'],

  data: () => ({
    expandedSubMenu: ''
  }),

  computed: {
    expand() {
      return this.expanded.id === this.item.id
    }
  },

  methods: {
    onClickHandler() {
      const id = !this.expand ? this.item.id : ''
      this.$emit('expand', id)
    },

    onLocalClickHandler(id) {
      if (this.expandedSubMenu === id) {
        this.expandedSubMenu = ''
        return
      }
      this.expandedSubMenu = id
    }
  }
}
</script>

<style lang="sass" scoped>
.dyo-view
  &-root
    padding: $mobile-menu-paddings
    justify-content: space-between
    align-items: center
    cursor: pointer
    &-name
      text-transform: uppercase
      align-items: center
    i
      color: $arrows-color
      @include transition(all, .3s)
      &.open
        transform: rotate(90deg)
  &-children
    flex-direction: column
    &-label
      padding: $mobile-menu-paddings
      background-color: $secondary-bg-color
      align-items: center
      font-weight: 700
      svg
        margin-right: 5px
      &.setting
        svg
          transform: rotate(-45deg)
    .dyo-view-sub-root
      &.stone
        &:not(:last-child)
          border-bottom: 1px solid $border-color
      &-name
        font-weight: 700
        justify-content: space-between
        align-items: center
        padding: $mobile-menu-paddings
        cursor: pointer
      i
        color: $arrows-color
        @include transition(all, .3s)
        &.open
          transform: rotate(90deg)
      .dyo-view-sub-children
        .dyo-view-sub-child
          border-top: 1px solid $border-color
          padding: $mobile-menu-paddings
          a
            align-items: center
          svg
            margin-right: 10px
</style>
