<template lang="pug">
.simple-view
  .simple-view-root.is-flex(@click="onClickHandler")
    span {{ item.name }}
    i.fa.fa-chevron-right(:class="{open: expand}")
  collapse-transition
    .simple-view-children.lazy(data-lazy-function="loaded", v-show="expand", :class="item.class")
      .item-example.lazy(data-lazy-function="loaded", :class="`items-${item.class}`")
      .simple-view-children-item(v-for="i in item.items", :key="i.key")
        v-link(@click.native="$emit('collapse')", :to="i.to", :type="i.type") {{ i.text }}
</template>

<script>
import { CollapseTransition } from 'vue2-transitions'

export default {
  name: 'SimpleComponent',

  components: {
    CollapseTransition
  },

  props: {
    item: {
      type: Object,
      required: true
    }
  },

  inject: ['expanded'],

  computed: {
    expand() {
      return this.expanded.id === this.item.id
    }
  },

  watch: {
    expand(state) {
      if (state)
        this.$nextTick(() => {
          if (window.lazyUpdate) window.lazyUpdate()
        })
    }
  },

  methods: {
    onClickHandler() {
      const id = !this.expand ? this.item.id : ''
      this.$emit('expand', id)
    }
  }
}
</script>

<style lang="sass" scoped>
@include background-image-after('simple-view-children', 'mainMenu/mobile/bg', 'jpg')
@include background-image('items-rings', 'mainMenu/mobile/rings', 'png')
@include background-image('items-jewelries', 'mainMenu/mobile/jewelries', 'png')
@include background-image('items-stones', 'mainMenu/mobile/stones', 'png')
@include background-image('items-origin', 'mainMenu/mobile/stones', 'png')
@include background-image('items-settings', 'mainMenu/mobile/settings', 'png')
.simple-view
  &-root
    padding: $mobile-menu-paddings
    justify-content: space-between
    align-items: center
    cursor: pointer
    span
      text-transform: uppercase
    i
      color: $arrows-color
      @include transition(all, .3s)
      &.open
        transform: rotate(90deg)
  &-children
    position: relative
    &:after
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      background-size: 125%
      background-repeat: no-repeat
      background-position: top left
      z-index: -2
    .item-example
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      background-size: 45%
      background-repeat: no-repeat
      background-position-y: center
      background-position-x: 80%
      z-index: -1
      &.items-jewelries
        background-size: 35%
    &.faq,
    &.about,
    &.education
      &:after
        background-size: 175%
    &.rings
      height: 160px
    &-item
      font-weight: 700
      padding: $mobile-menu-paddings
</style>
