<template lang="pug">
  div
</template>

<script>
import camelCase from 'lodash/camelCase'
import { getDetailsPath } from '~~/utils/utils'
import {
  productListTypeByCategory,
  jewelry,
  bands
} from '~~/utils/definitions/defaults'
import {
  moneyFormatter,
  caratFormatter,
  caratsFormatter,
  itemNameFormatter
} from '~~/utils/formatters'

export default {
  components: {
    Price: () => import('~~/components/Common/Price')
  },

  filters: {
    moneyFormatter,
    caratFormatter,
    caratsFormatter
  },
  props: {
    item: {
      type: Object,
      default() {
        return {}
      }
    },
    preventRedirect: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    isPair() {
      return this.item.category === 'Pair'
    },

    getDetailsPath() {
      const type = productListTypeByCategory[this.item.category]
      return getDetailsPath(this.item, type)
    },

    getImagePath() {
      return this.item.imagePath
    },

    getItemType() {
      const type = productListTypeByCategory[this.item.category]
      if (jewelry.includes(type)) return 'jewelry'
      if (bands.includes(type)) return 'band'
      return 'stone'
    }
  },

  methods: {
    onItemClick() {
      if (this.preventRedirect) return
      this.$emit('click', this.item)
    },

    itemNameFormatter(item) {
      return itemNameFormatter.call(this, item)
    },

    camelCase,
    moneyFormatter,
    caratFormatter,
    caratsFormatter
  }
}
</script>
