<template lang="pug">
  .item-wrapper.is-flex(@click.stop='onItemClick')
    .item-image
      v-image(:src='getImagePath', :alt='item.id')
    .item-info.is-flex
      span {{ $t(`quickSearch.ruby`) }} {{ $t(`categories.${camelCase(item.category)}`) }}
      .item-info__center-stone
        span {{ $t(`quickSearch.centerStone`) }}:&nbsp;
        span(v-html="totalWeight")
      span.item-id {{ $t(`quickSearch.itemId`) }}: {{ itemId }}
      price(:item='item', size='small')
</template>

<script>
import _baseView from './_baseView'

export default {
  extends: _baseView,

  computed: {
    itemId() {
      return this.item.dataType === 2 ? this.item.jewelryItemId : this.item.id
    },

    totalWeight() {
      if (['Earring', 'Bracelet'].includes(this.item.category))
        return this.$t('common.tcw-t', [this.item.stoneWeight])
      return this.caratFormatter(this.item.stoneWeight)
    }
  }
}
</script>

<style lang="sass" scoped>
.item-wrapper
  cursor: pointer
  padding: 10px 10px
  &:hover
    background-color: $secondary-bg-color
  .item-image
    border: 1px solid $border-color
    max-width: 75px
    height: 100%
  .item-info
    text-align: left
    padding: 0 15px
    flex-direction: column
    justify-content: center
    > *
      &:not(:first-child)
        margin-top: 5px
    .item-price-component
      display: inline-block
      ::v-deep
        .item-price-text
          justify-content: left
          align-items: flex-start
</style>
