<template lang="pug">
  .item-wrapper.is-flex(@click.stop='onItemClick')
    .item-image
      v-image(:src='getImagePath', :alt='item.id')
    .item-info.is-flex
      span {{ $t(`quickSearch.metalTypes.${camelCase(item.metalName)}`) }} {{ $t(`quickSearch.${item.category}`) }}
      span.item-id {{ $t(`quickSearch.itemId`) }}: {{ item.id + item.metalTypeCode }}
</template>

<script>
import _baseView from './_baseView'

export default {
  extends: _baseView
}
</script>

<style lang="sass" scoped>
.item-wrapper
  cursor: pointer
  padding: 10px 10px
  &:hover
    background-color: $secondary-bg-color
  .item-image
    border: 1px solid $border-color
    max-width: 75px
    height: 100%
  .item-info
    text-align: left
    padding: 0 15px
    flex-direction: column
    justify-content: center
    > *
      &:not(:first-child)
        margin-top: 5px
    .item-price-component
      display: inline-block
      ::v-deep
        .item-price-text
          justify-content: left
          align-items: flex-start
</style>
