<template lang="pug">
  .item-wrapper.is-flex(@click.stop='onItemClick')
    .item-image
      v-image(:src='getImagePath', :alt='item.id')
    .item-info.is-flex
      .item-info__title
        span(v-html="totalWeight")
        span &nbsp;{{ $t(`quickSearch.stoneShapes.${camelCase(item.shape || item.stones[0].shape)}`) }} {{ $t(`quickSearch.ruby`) }} {{ isPair ? $t(`quickSearch.pair`) : '' }}
      span.item-id {{ $t(`quickSearch.itemId`) }}: {{ item.id }}
      price(size='small', :item='item')
</template>

<script>
import _baseView from './_baseView'

export default {
  extends: _baseView,

  computed: {
    totalWeight() {
      if (this.item.category === 'Pair')
        return this.$t('common.tcw-t', [
          this.item.totalWeight || this.item.weight
        ])
      return this.caratFormatter(this.item.weight)
    }
  }
}
</script>

<style lang="sass" scoped>
.item-wrapper
  cursor: pointer
  padding: 10px 10px
  &:hover
    background-color: $secondary-bg-color
  .item-image
    border: 1px solid $border-color
    max-width: 75px
    height: 100%
  .item-info
    text-align: left
    padding: 0 15px
    flex-direction: column
    justify-content: center
    > *
      &:not(:first-child)
        margin-top: 5px
    .item-price-component
      display: inline-block
      ::v-deep
        .item-price-text
          justify-content: left
          align-items: flex-start
</style>
