<template lang="pug">
  .product-price
    meta(v-if='microdata', itemprop='priceCurrency', content="USD")
    meta(v-if='microdata', itemprop='priceValidUntil', :content='priceValidDate(new Date(Date.now() + 12096e5))')
    meta(v-if='microdata', itemprop='price', :content='priceObj.price')
    meta(v-if='microdata', itemprop='url', :content='productUrl')
    link(v-if='microdata', itemprop='availability', href='http://schema.org/InStock')
    link(v-if='microdata', itemprop='itemCondition', href='http://schema.org/NewCondition')
    component(:is="priceLayout", :params="priceParams")
</template>

<script>
import pick from 'lodash/pick'
import Tooltip from '~~/components/Common/Tooltip'
import { moneyFormatter, priceValidDate } from '~~/utils/formatters'
import { defaultWaxPrice } from '~~/utils/definitions/defaults'

export default {
  name: 'PriceComponent',

  components: {
    Tooltip,
    column: () => import('./Views/PriceColumn.vue'),
    columnLabel: () => import('./Views/PriceColumnLabel.vue'),
    inline: () => import('./Views/PriceInline.vue')
  },

  filters: {
    moneyFormatter
  },

  props: {
    priceLayout: {
      type: String,
      default: 'column',
      validator: (val) => ['column', 'columnLabel', 'inline'].includes(val)
    },

    item: {
      type: Object,
      required: true
    },

    showLocal: {
      type: Boolean,
      default: true
    },

    disableBankWirePrice: {
      type: Boolean,
      default: false
    },

    microdata: {
      type: Boolean,
      default: false
    },

    showDiscount: {
      type: Boolean,
      default: false
    },

    showBankWireText: {
      type: Boolean,
      default: false
    },

    type: {
      type: String,
      default: 'default',
      validator: (val) => ['default', 'stone', 'setting'].includes(val)
    },

    productUrl: {
      type: String,
      default: ''
    },

    tooltip: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    priceParams() {
      return {
        priceObj: this.priceObj,
        ...this._props
      }
    },

    /**
     * All parameters related to price
     * @returns {object}
     */
    priceObj() {
      if (this.item.category === 'Custom') return this.item.finalPrice
      if (this.item.category === 'Wax')
        return {
          price: defaultWaxPrice,
          localCurrency: {
            price: this.getLocalPrice(defaultWaxPrice)
          }
        }
      const paramsToPick = [
        'discountAmt',
        'bankWirePrice',
        'discountPrice',
        'price',
        'totalPrice',
        'localCurrency'
      ]
      return pick(this.item, paramsToPick)
    }
  },

  methods: {
    priceValidDate
  }
}
</script>

<style lang="sass" scoped>
.product-price
  display: inline-block
</style>
