<template lang="pug">
.custom-designs-filter-mobile(ref="mainFilter")
  .container.is-flex(@click="onFilterOpenHandler")
    .custom-designs-filter-mobile-label.is-flex
      .filter-by {{ $t('listingPage.filters.filterBy') }}
      .badge(v-if="totalFiltersCount") {{ totalFiltersCount }}
    icon(iconName="filter")
  slide-y-up-transition
    custom-design-filter-mobile-modal(v-if="filterOpen", @change="$emit('change')", @close="onFilterCloseHandler")
</template>

<script>
import { SlideYUpTransition } from 'vue2-transitions'
import { mapState } from 'vuex'

export default {
  name: 'CustomDesignFilterMobileComponent',

  components: {
    CustomDesignFilterMobileModal: () =>
      import('./CustomDesignFilterMobileModal'),
    SlideYUpTransition
  },

  data: () => ({
    filterOpen: false
  }),

  computed: {
    ...mapState({
      selectedFilters: (state) => state.customItem.selectedCustomDesignsFilters
    }),

    filters() {
      return this.$store.state.customItem.sourceCustomDesignsFilters
    },

    totalFiltersCount() {
      let count = 0
      for (const filter in this.selectedFilters) {
        if (this.selectedFilters.hasOwnProperty(filter)) {
          count += this.selectedFilters[filter].filter(
            (n) => !this.getFilterBorders(filter).includes(n)
          ).length
        }
      }
      return count
    }
  },

  methods: {
    getFilterBorders(filter) {
      if (filter === 'lengthRange')
        return Object.values(this.filters.dimensions.lengthRange[0])
      if (filter === 'widthRange')
        return Object.values(this.filters.dimensions.widthRange[0])
      if (/Range/.test(filter)) {
        return Object.values(this.filters[filter][0])
      }
      return []
    },

    onFilterOpenHandler() {
      this.filterOpen = true
    },

    onFilterCloseHandler() {
      this.filterOpen = false
    }
  }
}
</script>

<style lang="sass" scoped>
.custom-designs-filter-mobile
  background-color: $secondary-bg-color
  padding: 14px 0
  transition: all .3s ease
  +mobile
    margin-top: 30px
  &.header-offset
    top: 180px
  .container
    justify-content: space-between
    .filter-by
      text-transform: uppercase
  &-label
    .badge
      border-radius: 50%
      text-align: center
      margin-left: 5px
      height: 21px
      width: 21px
      color: #ffffff
      background-color: $dark-primary-color
      &.empty
        display: none
</style>
