<template lang="pug">
.filter-container(ref="filter", v-observe-visibility="disableScroll")
  .filter-container-title.is-flex
    .filter-title {{ $t('listingPage.filters.filter') }}
    .clear-all(v-if="hasSelectedFilters", @click="onClearAll") {{ $t('listingPage.filters.clearAll') }}
  .filter-container-body
    .filter-item-wrapper(v-for="(filter, index) in filters", :key="index")
      .filter-item.is-flex(@click="onMenuItemClickHandler(index)", :class="{open: selectedFilter === index}")
        .filter-item-name.is-flex
          span {{ $t(`listingPage.filters.${index}`) }}
          .badge(v-if="getFiltersCount(index)") {{ getFiltersCount(index) }}
        i.fa.fa-chevron-right
      collapse-transition
        component(v-if="filterComponent.visible === index", :is="filterComponent.name", @change="$emit('change')")
  .filter-container-close
    button.button(@click="$emit('close')") {{ $t('listingPage.filters.close') }}
</template>

<script>
import { CollapseTransition } from 'vue2-transitions'
import { mapActions, mapGetters, mapState } from 'vuex'

export default {
  name: 'CustomDesignFilterMobileModalComponent',

  components: {
    CollapseTransition,
    MainFilterAreaShapes: () =>
      import(
        '~~/components/DetailsPage/CustomDesignsSettings/CustomDesignFilter/Areas/MainFilterAreaShapes'
      ),
    MainFilterAreaOrigins: () =>
      import(
        '~~/components/DetailsPage/CustomDesignsSettings/CustomDesignFilter/Areas/MainFilterAreaOrigins'
      ),
    MainFilterAreaPrice: () =>
      import(
        '~~/components/DetailsPage/CustomDesignsSettings/CustomDesignFilter/Areas/MainFilterAreaPrice'
      ),
    MainFilterAreaCarat: () =>
      import(
        '~~/components/DetailsPage/CustomDesignsSettings/CustomDesignFilter/Areas/MainFilterAreaCarat'
      ),
    MainFilterAreaDimensions: () =>
      import(
        '~~/components/DetailsPage/CustomDesignsSettings/CustomDesignFilter/Areas/MainFilterAreaDimensions'
      ),
    MainFilterAreaMetals: () =>
      import(
        '~~/components/DetailsPage/CustomDesignsSettings/CustomDesignFilter/Areas/MainFilterAreaMetals'
      ),
    MainFilterAreaTreatments: () =>
      import(
        '~~/components/DetailsPage/CustomDesignsSettings/CustomDesignFilter/Areas/MainFilterAreaTreatments'
      ),
    MainFilterAreaStoneTreatments: () =>
      import(
        '~~/components/DetailsPage/CustomDesignsSettings/CustomDesignFilter/Areas/MainFilterAreaStoneTreatments'
      ),
    MainFilterAreaStonesShapes: () =>
      import(
        '~~/components/DetailsPage/CustomDesignsSettings/CustomDesignFilter/Areas/MainFilterAreaStonesShapes'
      ),
    MainFilterAreaDesignStyles: () =>
      import(
        '~~/components/DetailsPage/CustomDesignsSettings/CustomDesignFilter/Areas/MainFilterAreaDesignStyles'
      ),
    MainFilterAreaSummary: () =>
      import(
        '~~/components/DetailsPage/CustomDesignsSettings/CustomDesignFilter/Areas/MainFilterAreaSummary'
      )
  },

  data: () => ({
    selectedFilter: ''
  }),

  computed: {
    ...mapState({
      selectedFilters: (state) => state.customItem.selectedCustomDesignsFilters,
      hide: (state) => state.app.mobileHeaderHide
    }),
    ...mapGetters({
      hasFilters: 'customItem/hasFiltersCustomDesigns'
    }),

    hasSelectedFilters() {
      return this.hasFilters
    },

    filters() {
      return this.$store.state.customItem.sourceCustomDesignsFilters
    },

    filterComponent() {
      if (!this.selectedFilter) return {}
      return this.stonesFilters.find(
        (component) => this.selectedFilter === component.visible
      )
    },

    stonesFilters() {
      return [
        { name: 'MainFilterAreaSummary', visible: 'summary' },
        { name: 'MainFilterAreaMetals', visible: 'metalTypes' },
        { name: 'MainFilterAreaDesignStyles', visible: 'designStyles' },
        { name: 'MainFilterAreaShapes', visible: 'stoneShapes' },
        { name: 'MainFilterAreaOrigins', visible: 'stoneOrigins' },
        { name: 'MainFilterAreaPrice', visible: 'priceRange' },
        { name: 'MainFilterAreaCarat', visible: 'caratRange' },
        { name: 'MainFilterAreaDimensions', visible: 'dimensions' },
        { name: 'MainFilterAreaStoneTreatments', visible: 'treatments' }
      ]
    }
  },

  beforeDestroy() {
    // eslint-disable-next-line no-undef
    if (bodyScrollLock) bodyScrollLock.enableBodyScroll(this.$refs.filter)
  },

  methods: {
    ...mapActions({
      clearCustomDesignsFilters: 'customItem/clearCustomDesignsFilters'
    }),

    async disableScroll(isVisible) {
      if (isVisible) {
        await this.$bodyScrollLock.insert()
        // eslint-disable-next-line no-undef
        if (bodyScrollLock) bodyScrollLock.disableBodyScroll(this.$refs.filter)
      }
    },
    getFiltersCount(filter) {
      const filters = this.selectedFilters
      let filterValues = []
      if (filter === 'dimensions') {
        const lengthValues = filters.lengthRange || []
        const widthValues = filters.widthRange || []
        filterValues = [...lengthValues, ...widthValues]
      } else if (filter === 'stonesShapes') {
        const centerValues = filters.centerStoneShapes || []
        const sideValues = filters.sideStoneShapes || []
        filterValues = [...centerValues, ...sideValues]
      } else {
        filterValues = filters[filter] || []
      }
      return filterValues.filter(
        (n) => !this.getFilterBorders(filter).includes(n)
      ).length
    },

    getFilterBorders(filter) {
      if (filter === 'dimensions') {
        const lengthBorders = Object.values(this.filters[filter].lengthRange[0])
        const widthBorders = Object.values(this.filters[filter].widthRange[0])
        return [...lengthBorders, ...widthBorders]
      }
      if (/Range/.test(filter)) {
        return Object.values(this.filters[filter][0])
      }
      return []
    },

    onClearAll() {
      this.clearCustomDesignsFilters()
      this.$emit('change')
    },

    onMenuItemClickHandler(index) {
      if (this.selectedFilter === index) {
        this.selectedFilter = ''
        return
      }
      this.selectedFilter = index
    }
  }
}
</script>

<style lang="sass" scoped>
.filter-container
  background-color: #ffffff
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  z-index: 1999
  &-title
    position: relative
    justify-content: center
    padding: 15px
    border-bottom: 1px solid $border-color
    .filter-title
      text-transform: uppercase
    .clear-all
      font-weight: bold
      right: 15px
      position: absolute
  &-body
    overflow-y: auto
    border-bottom: 1px solid $border-color
    height: calc(100% - 120px) // 120px - title & close containers height
    .filter-item
      padding: 10px 14px 10px 25px
      align-items: center
      justify-content: space-between
      border-bottom: 1px solid $border-color
      i
        @include transition(all, .3s)
        color: $arrows-color
      &.open
        i
          transform: rotate(90deg)
      &-name
        .badge
          border-radius: 50%
          text-align: center
          margin-left: 5px
          height: 21px
          width: 21px
          color: #ffffff
          background-color: $dark-primary-color
          &.empty
            display: none
    .filters-area
      padding: 10px 14px 10px 25px !important
  &-close
    padding: 10px
    .button
      width: 100%
      background-color: $gold-color
      color: #fff
</style>
