<template lang="pug">
component(:is="component", v-if="showOverlay", ref="overlay", :filtersCount="filtersCount")
</template>

<script>
import { mapActions, mapState } from 'vuex'
import defaultOverlay from './Views/default.vue'
import stoneListingOverlay from './Views/stoneListing.vue'
import jewelryListingOverlay from './Views/jewelryListing.vue'
import bandListingOverlay from './Views/bandListing.vue'
import { normRouteName } from '~~/utils/utils'

const routesMap = [
  {
    routes: [
      'rubies',
      'rubies-matched-pairs-of-rubies',
      'rubies-star-rubies',
      'rubies-ruby-cabochon',
      'rubies-gemologist-recommended',

      'emeralds',
      'emeralds-matched-pairs-of-emeralds',
      'emeralds-emerald-cabochon',
      'emeralds-gemologist-recommended'
    ],
    filtersCount: 10,
    overlayName: 'stoneListing'
  },
  {
    routes: [
      'rubies-star-ruby-pairs',
      'rubies-matched-pairs-of-rubies-cabochon',
      'rubies-burmese-rubies',
      'rubies-mozambique-rubies',

      'emeralds-matched-pairs-of-emeralds-cabochon',
      'emeralds-colombian-emeralds',
      'emeralds-zambian-emeralds'
    ],
    filtersCount: 9,
    overlayName: 'stoneListing'
  },
  {
    routes: [
      'ruby-jewelry-ruby-bracelets',
      'emerald-jewelry-emerald-bracelets'
    ],
    filtersCount: 12,
    overlayName: 'stoneListing'
  },
  {
    routes: [
      'wedding-bands-without-gemstone',
      'design-your-own-setting-ruby-engagement-ring-settings',
      'design-your-own-setting-ruby-necklace-pendant-settings',
      'design-your-own-setting-ruby-earring-settings',

      'design-your-own-setting-emerald-engagement-ring-settings',
      'design-your-own-setting-emerald-necklace-pendant-settings',
      'design-your-own-setting-emerald-earring-settings'
    ],
    filtersCount: 3,
    overlayName: 'stoneListing'
  },
  {
    routes: ['design-your-own-setting-mens-ring-settings'],
    filtersCount: 2,
    overlayName: 'stoneListing'
  },
  {
    routes: ['ruby-wedding-rings-bands', 'emerald-wedding-rings-bands'],
    filtersCount: 5,
    overlayName: 'bandListing'
  },
  {
    routes: [
      'ruby-jewelry-ruby-rings',
      'ruby-jewelry-ruby-engagement-rings',
      'ruby-jewelry-mens-ruby-rings',
      'ruby-jewelry-star-ruby-rings',
      'ruby-jewelry-ruby-earrings',
      'ruby-jewelry-ruby-necklaces-pendants',

      'emerald-jewelry-emerald-rings',
      'emerald-jewelry-engagement-emerald-rings',
      'emerald-jewelry-mens-emerald-rings',
      'emerald-jewelry-star-emerald-rings',
      'emerald-jewelry-emerald-earrings',
      'emerald-jewelry-emerald-necklaces-pendants'
    ],
    filtersCount: 13,
    overlayName: 'jewelryListing'
  }
]

export default {
  name: 'LoadingOverlayNuxtComponent',

  components: {
    defaultOverlay,
    stoneListingOverlay,
    jewelryListingOverlay,
    bandListingOverlay
  },
  data: () => ({
    showOverlay: false,
    filtersCount: 0,
    component: 'defaultOverlay'
  }),

  computed: {
    ...mapState({
      nextRoute: (state) => state.navigation.nextRoute
    })
  },

  methods: {
    ...mapActions({
      globalLoading: 'globalLoading',
      clearNextRoute: 'navigation/clearNextRoute'
    }),

    getOverlayParams() {
      const routeName = normRouteName(this.nextRoute?.name)
      const currentRouteName = normRouteName(this.$route.name)
      const params = routesMap.find((param) => param.routes.includes(routeName))
      const skeletonRoutes = routesMap.map((param) => param.routes).flat() // all routes with skeleton overlay
      // if route is skeleton route, set skeleton overlay parameters
      if (params && skeletonRoutes.includes(currentRouteName)) {
        this.filtersCount = params.filtersCount
        this.component = `${params.overlayName}Overlay`
        return
      }
      this.filtersCount = 0
      this.component = 'defaultOverlay'
    },

    disableScrolling() {
      const html = document.getElementsByTagName('html')[0]
      html.classList.add('stop-scrolling')
    },

    enableScrolling() {
      const html = document.getElementsByTagName('html')[0]
      html.classList.remove('stop-scrolling')
    },

    start() {
      this.getOverlayParams()
      this.showOverlay = true
      this.globalLoading(this.showOverlay)
      this.$nextTick(() => {
        this.addBlockEvents()
      })
    },

    finish() {
      const removeOverlayDelay = this.component === 'defaultOverlay' ? 0 : 300
      this.$nextTick(() => {
        this.globalLoading(false)
        this.clearNextRoute()
      })
      setTimeout(() => {
        this.removeBlockEvents()
        if (this.$refs.overlay?.showElements) this.$refs.overlay.showElements()
        this.showOverlay = false
        this.getOverlayParams()
      }, removeOverlayDelay)
    },

    addBlockEvents() {
      if (this.$refs.overlay?.$el)
        this.$refs.overlay.$el.addEventListener(
          'click',
          this.blockEvents,
          false
        )
    },

    removeBlockEvents() {
      if (this.$refs.overlay?.$el)
        this.$refs.overlay.$el.removeEventListener('click', this.blockEvents)
    },

    blockEvents(e) {
      e.preventDefault()
      e.stopPropagation()
      return false
    }
  }
}
</script>
