<template lang="pug">
  form.sign-up-form
    .form-block
      h4.is-italic.weight-700 {{ $t('auth.signUpForm.signUp') }}
      .form-row
        .field.is-fullwidth
          label.label {{ $t('auth.signUpForm.firstName') }}
          .control.has-icons-left
            input.input(type="text", autocomplete="given-name", v-model.trim="$v.form.firstName.$model")
            span.icon.is-small.is-left
              i.fa.fa-user

      .form-row
        .field.is-fullwidth
          label.label {{ $t('auth.signUpForm.lastName') }}
          .control.has-icons-left
            input.input(type="text", autocomplete="family-name", v-model.trim="$v.form.lastName.$model")
            span.icon.is-small.is-left
              i.fa.fa-user

      .form-row
        .field.is-fullwidth(:class="{'field-error': $v.form.email.$error}")
          label.label {{ $t('auth.signUpForm.email') }}
          .control.has-icons-left
            input.input(ref="email-field", autocomplete="email", type="text", v-model.trim="$v.form.email.$model", :class="{ 'is-danger': $v.form.email.$error }")
            span.icon.is-small.is-left
              i.fa.fa-envelope
          p.help.is-danger(v-if="!$v.form.email.required && $v.form.email.$dirty") {{ $t('auth.signUpForm.rules.email.required') }}
          p.help.is-danger(v-if="!$v.form.email.email && $v.form.email.$dirty") {{ $t('auth.signUpForm.rules.email.type') }}

      .form-row
        .field.is-fullwidth(:class="{'field-error': $v.form.password.$error}")
          label.label {{ $t('auth.signUpForm.pass') }}
          .control.has-icons-left.has-icons-right
            input.input(:type="showPassword ? 'text' : 'password'", v-model.trim="$v.form.password.$model", :class="{ 'is-danger': $v.form.password.$error }")
            span.icon.is-small.is-left
              i.fa.fa-lock
            span.icon.is-small.is-right.show-pass(@click="showPassword = !showPassword")
              i.fa(:class="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}")
          p.help.is-danger(v-if="!$v.form.password.required && $v.form.password.$dirty") {{ $t('auth.signUpForm.rules.password.required') }}
          p.help.is-danger(v-if="!$v.form.password.minLength && $v.form.password.$dirty") {{ $t('auth.signUpForm.rules.password.range') }}
          p.help.is-danger(v-if="!$v.form.password.maxLength && $v.form.password.$dirty") {{ $t('auth.signUpForm.rules.password.range') }}

      .form-row
        .field.is-fullwidth(:class="{'field-error': $v.form.confirmPassword.$error}")
          label.label {{ $t('auth.signUpForm.rePass') }}
          .control.has-icons-left.has-icons-right
            input.input(:type="showConfirmPassword ? 'text' : 'password'", v-model.trim="$v.form.confirmPassword.$model", :class="{ 'is-danger': $v.form.confirmPassword.$error }")
            span.icon.is-small.is-left
              i.fa.fa-lock
            span.icon.is-small.is-right.show-pass(@click="showConfirmPassword = !showConfirmPassword")
              i.fa(:class="{'fa-eye': !showConfirmPassword, 'fa-eye-slash': showConfirmPassword}")
          p.help.is-danger(v-if="!$v.form.confirmPassword.required && $v.form.confirmPassword.$dirty") {{ $t('auth.signUpForm.checkPass1') }}
          p.help.is-danger(v-if="!$v.form.confirmPassword.sameAsPassword && $v.form.confirmPassword.$dirty") {{ $t('auth.signUpForm.checkPass2') }}

      .form-row.is-flex
        .field.submit-control
          .control.is-flex
            button.button.gold-color.light(v-if="type === 'user-menu'", @click="$emit('change')") {{ $t('auth.signUpForm.signIn') }}
            button.button.gold-color(ref="submitForm", :disabled="submitStatus === 'PENDING'") {{ $t('auth.signUpForm.register') }}
</template>

<script>
import { mapActions } from 'vuex'
import { validationMixin } from 'vuelidate'
import maxLength from 'vuelidate/lib/validators/maxLength'
import sameAs from 'vuelidate/lib/validators/sameAs'
import minLength from 'vuelidate/lib/validators/minLength'
import required from 'vuelidate/lib/validators/required'
import email from 'vuelidate/lib/validators/email'
import isEmpty from 'lodash/isEmpty'
import Vue from 'vue'
import { normRoute } from '~~/utils/utils'
import emailValidatorMixin from '~~/mixins/emailValidatorMixin'
import recaptchaMixin from '~~/mixins/recaptchaMixin'

export default {
  name: 'SignUpFormComponent',

  mixins: [recaptchaMixin, validationMixin, emailValidatorMixin],

  validations: {
    form: {
      firstName: {},
      lastName: {},
      email: { required, email },
      password: {
        required,
        minLength: minLength(6),
        maxLength: maxLength(20)
      },
      confirmPassword: {
        required,
        sameAsPassword: sameAs('password')
      }
    }
  },

  props: {
    type: {
      type: String,
      default: 'default'
    }
  },

  data: () => ({
    submitStatus: null,
    showPassword: false,
    showConfirmPassword: false,
    form: {
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      confirmPassword: ''
    }
  }),

  computed: {
    key() {
      return process.env.reCaptchaKey
    }
  },

  mounted() {
    this.mountReCaptcha()
  },

  methods: {
    ...mapActions({
      pushAllWishlistItemsToServer: 'favorites/pushAllListItemsToServer',
      signUp: 'auth/startAuthFlow'
    }),

    onConfirmShow() {
      this.showConfirmPassword = !this.showConfirmPassword
    },

    async onFormSubmit(response) {
      this.form['g-recaptcha-response'] = response

      this.$v.$touch()
      if (this.$v.$invalid) {
        if (window.grecaptcha) window.grecaptcha.reset()
        return
      }

      this.$root.$emit('loading-start')
      this.submitStatus = 'PENDING'
      try {
        await this.$auth.setStrategy('register')
        await this.$auth.loginWith('register', {
          data: this.form
        })
        Vue.$gtag.event('sign_up', {
          method: 'local',
          event_label: 'User signed up'
        })
        this.$root.$emit('register-complete')

        // await this.pushAllWishlistItemsToServer()

        this.submitStatus = 'OK'
        this.redirectToLastPage()
      } catch (e) {
        this.submitStatus = 'ERROR'
      } finally {
        this.$root.$emit('loading-stop')
      }
    },

    redirectToLastPage() {
      if (isEmpty(this.lastVisitedPage))
        this.$router.push(this.localePath({ name: 'index' }))
      this.$router.push(this.localePath(normRoute(this.lastVisitedPage.path)))
    }
  }
}
</script>

<style lang="sass" scoped>
.sign-up-form
  .form-block
    h4
      font-weight: 700
      font-size: 16px
      font-family: $lora
      margin-bottom: 30px
    .form-row
      .field
        .control
          .show-pass
            cursor: pointer
            z-index: 50
            pointer-events: unset
            color: $default-font-color
        &.submit-control
          .control
            +tablet
              justify-content: flex-end
            +mobile
              .button + .button
                margin-left: 20px
</style>
