<template lang="pug">
  form.sign-in-form(@submit.prevent="onFormSubmit")
    .form-block
      h4.is-italic.weight-700 {{ $t('auth.signUpForm.signIn') }}

      .form-row
        .field.is-fullwidth(:class="{'field-error': $v.form.email.$error}")
          label.label {{ $t('auth.signUpForm.email') }}
          .control.has-icons-left
            input.input(type="text", autocomplete="email", v-model.trim="$v.form.email.$model", :class="{ 'is-danger': $v.form.email.$error }")
            span.icon.is-small.is-left
              i.fa.fa-envelope
          p.help.is-danger(v-if="!$v.form.email.required && $v.form.email.$dirty") {{ $t('auth.signUpForm.rules.email.required') }}
          p.help.is-danger(v-if="!$v.form.email.email && $v.form.email.$dirty") {{ $t('auth.signUpForm.rules.email.type') }}

      .form-row
        .field.is-fullwidth(:class="{'field-error': $v.form.password.$error}")
          label.label {{ $t('auth.signUpForm.pass') }}
          .control.has-icons-left.has-icons-right
            input.input(:type="showPassword ? 'text' : 'password'", autocomplete="current-password", v-model.trim="$v.form.password.$model", :class="{ 'is-danger': $v.form.password.$error }")
            span.icon.is-small.is-left
              i.fa.fa-lock
            span.icon.is-small.is-right.show-pass(@click="showPassword = !showPassword")
              i.fa(:class="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}")
          p.help.is-danger(v-if="!$v.form.password.required && $v.form.password.$dirty") {{ $t('auth.signUpForm.rules.password.required') }}

      .form-row
        .field.forgot-password
          .control
            v-link.is-underline(:to="{name: 'account-reset-password'}") {{ $t('auth.signInForm.forgotPass') }}

      .form-row.is-flex
        .field.remember-me
          .control
            checkbox(v-model="form.rememberMe") {{ $t('auth.signInForm.remember') }}
        .field.submit-control
          .control.is-flex
            button.button.gold-color.light(v-if="type === 'user-menu'", @click="$emit('change')") {{ $t('auth.signInForm.signUp') }}
            button.button.gold-color(type="submit", :disabled="submitStatus === 'PENDING'") {{ $t('auth.signInForm.login') }}
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { validationMixin } from 'vuelidate'
import email from 'vuelidate/lib/validators/email'
import required from 'vuelidate/lib/validators/required'
import get from 'lodash/get'
import Vue from 'vue'
import { normRouteName } from '~~/utils/utils'
import { cookiesOpts } from '~~/utils/definitions/defaults.js'

export default {
  name: 'SignInFormComponent',

  components: { Checkbox: () => import('~~/components/Common/Checkbox') },

  mixins: [validationMixin],

  validations: {
    form: {
      email: { required, email },
      password: { required }
    }
  },

  props: {
    type: {
      type: String,
      default: 'default'
    },
    redirect: {
      type: Boolean,
      default: true
    }
  },

  data: () => ({
    submitStatus: null,
    showPassword: false,
    form: {
      email: '',
      password: '',
      rememberMe: false,
      auth: false
    }
  }),

  computed: {
    ...mapGetters({
      lastVisitedPage: 'navigation/lastVisitedPage'
    })
  },

  created() {
    this.resetEmailFromCookies()
  },

  methods: {
    ...mapActions({
      fetchProfile: 'account/fetchProfile'
    }),

    resetEmailFromCookies() {
      const userEmail = this.$cookies.get('user-email')
      if (userEmail) {
        this.form.email = userEmail
        this.form.rememberMe = true
      }
    },

    setEmailToCookies() {
      this.$cookies.set('user-email', this.form.email, cookiesOpts)
    },

    removeEmailFromCookies() {
      this.$cookies.remove('user-email')
    },

    async onFormSubmit() {
      this.$v.$touch()
      if (this.$v.$invalid) return

      this.$root.$emit('loading-start')
      this.submitStatus = 'PENDING'

      try {
        await this.$auth.setStrategy('login')
        await this.$auth.loginWith('login', {
          data: this.form
        })
        this.$v.$reset()
        Vue.$gtag.event('login', {
          method: 'local',
          event_label: 'User signed in'
        })

        if (this.form.rememberMe) {
          this.setEmailToCookies()
        } else {
          this.removeEmailFromCookies()
        }

        this.$root.$emit('login-complete')
        this.submitStatus = 'OK'

        if (this.type === 'default' && this.redirect) this.redirectUser()
      } catch (e) {
        this.submitStatus = 'ERROR'
      } finally {
        this.$root.$emit('loading-stop')
      }
    },

    redirectUser() {
      const restrictedNames = ['auth']
      const name = normRouteName(
        get(this.lastVisitedPage, 'path.name', 'index')
      )

      if (restrictedNames.includes(name)) {
        this.$router.push(
          this.localePath({
            name: 'index'
          })
        )
        return
      }

      this.$router.push(this.localePath({ name }))
    }
  }
}
</script>

<style lang="sass" scoped>
.sign-in-form
  .form-block
    h4
      font-weight: 700
      font-size: 16px
      font-family: $lora
      margin-bottom: 30px
    .form-row
      .field
        &.remember-me
          display: flex
          align-items: center
          margin-bottom: 0
          +mobile
            .checkbox
              margin-bottom: unset
        .control
          .show-pass
            cursor: pointer
            z-index: 50
            pointer-events: unset
            color: $default-font-color
        &.submit-control
          .control
            +tablet
              justify-content: flex-end
            +mobile
              .button + .button
                margin-left: 20px
</style>
