<template lang="pug">
  transition-group(name="list", tag="div").product-gallery-message__wrapper
    product-gallery-message(v-for="message in normMessages", :key="message.id", :message="message", @close="closeMessage(message)", @open="openMessage(message)")
</template>

<script>
import isEqual from 'lodash/isEqual'
import md5 from '~~/utils/helpers/md5'
import { cookiesOpts } from '~~/utils/definitions/defaults.js'

export default {
  name: 'ProductGalleryController',

  components: {
    ProductGalleryMessage: () => import('./ProductGalleryMessage')
  },

  props: {
    messages: {
      type: [String, Array],
      default: () => []
    },
    currentThumbnail: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    normMessages: []
  }),

  watch: {
    messages: {
      handler(newVal, oldVal) {
        if (!isEqual(newVal, oldVal)) this.getNormMessages()
      }
    },

    'currentThumbnail.type': {
      handler(newVal, oldVal) {
        if (newVal !== oldVal) this.getNormMessages()
      }
    }
  },

  mounted() {
    this.getNormMessages()
  },

  methods: {
    getHash(txt) {
      return md5(txt).substring(0, 8)
    },

    getNormMessages() {
      const closedMessages = this.$cookies.get('cgm') || []
      this.normMessages = (
        Array.isArray(this.messages) ? this.messages : [this.messages]
      )
        .map((msg) => {
          msg.id = this.getHash(msg.text + this.$route.path)
          msg.isClosed = closedMessages.some((t) => msg.slideTypes.includes(t))
          return msg
        })
        .filter((msg) => {
          if (msg.slideTypes.includes('All')) return true
          if (!msg.categories)
            return msg.slideTypes.includes(this.currentThumbnail.type)
          return (
            msg.categories.includes(this.currentThumbnail.item.category) &&
            msg.slideTypes.includes(this.currentThumbnail.type)
          )
        })
    },

    openMessage(message) {
      // cgm - closed gallery messages
      let closedMessages = this.$cookies.get('cgm') || []
      closedMessages = closedMessages.filter(
        (t) => !message.slideTypes.includes(t)
      )
      this.$cookies.set('cgm', closedMessages, {
        ...cookiesOpts,
        maxAge: 60 * 60 * 24 * 7
      })
      this.getNormMessages()
    },

    closeMessage(message) {
      // cgm - closed gallery messages
      let closedMessages = this.$cookies.get('cgm') || []
      closedMessages = [...closedMessages, ...message.slideTypes]
      this.$cookies.set('cgm', closedMessages, {
        ...cookiesOpts,
        maxAge: 60 * 60 * 24 * 7
      })
      this.getNormMessages()
    }
  }
}
</script>

<style lang="sass" scoped>
.list-enter-active,
.list-leave-active
  transition: all 0.5s ease

.list-enter-from,
.list-leave-to
  opacity: 0
  transform: translateY(30px)

.product-gallery-message__wrapper
  pointer-events: none
  position: absolute
  bottom: 10px
  z-index: 1
  width: calc(100% - 10px)
  padding: 0 10px
  .product-gallery-message + .product-gallery-message
    margin-top: 10px
</style>
