<template lang="pug">
  .product-gallery-message
    slide-x-right-transition(group)
      .product-gallery-message__content(v-if="!message.isClosed", key="0")
        icon(iconName="close", iconColor="#2e2e2e", @click="$emit('close')")
        .marquee(v-if="$device.isMobile")
          .track {{ message.text }}
        .content.has-text-centered(v-else) {{ message.text }}
      .product-gallery-message__closed.is-flex(v-else, @click="$emit('open')", key="1")
        i.fa.fa-question-circle
</template>

<script>
import { SlideXRightTransition } from 'vue2-transitions'

export default {
  name: 'ProductGalleryMessage',

  components: {
    SlideXRightTransition
  },

  props: {
    message: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="sass" scoped>
.product-gallery-message
  position: relative
  &__content
    background-color: $light-gray-color
    padding: 10px 40px 10px 10px
    width: 100%
    position: relative
    > .content
      white-space: normal
      font-size: 14px
  &__closed
    pointer-events: auto
    color: $gold-color
    position: relative
    padding: 10px
    height: 62px
    width: 40px
    margin-left: auto
    margin-right: 2px
    cursor: pointer
    font-size: 20px
    align-items: center
  svg
    pointer-events: auto
    cursor: pointer
    position: absolute
    right: 15px
    margin: auto
    top: 0
    bottom: 0
    height: 15px
    width: 15px
  +touch
    bottom: 10px
    width: 100%
  .marquee
    position: relative
    width: 100vw
    max-width: 100%
    height: 25px
    overflow-x: hidden
    .track
      position: absolute
      white-space: nowrap
      animation: marquee 20s linear infinite
      padding-left: 100%
  @keyframes marquee
    0%
      transform: translateX(0)
    100%
      transform: translateX(-100%)
</style>
