<template lang="pug">
  tooltip(:disabled="!isBlocked")
    .tooltip-anchor(slot="target")
      button.button.in-cart(v-if="inCart", :class="{ light }", @click="$emit('click')", :disabled="inCart || isBlocked")
        i.fa.fa-check
        slot
      button.button.gold-color(v-else, :class="{ light }", @click="$emit('click')", :disabled="isBlocked")
        slot
    .tooltip-body-price
      div {{ $t('detailsPage.mainDetails.soldSorry') }}
</template>

<script>
import Tooltip from '~~/components/Common/Tooltip'

export default {
  name: 'CartButton',

  components: { Tooltip },

  props: {
    inCart: {
      type: Boolean,
      default: false
    },

    isBlocked: {
      type: Boolean,
      default: false
    },

    light: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="sass" scoped>
.button
  width: 100%
  &.in-cart
    background-color: $secondary-bg-color
    border-color: $secondary-bg-color
    color: $inactive-element
    i
      font-weight: 900
      margin-right: 5px
      color: $inactive-element
  &[disabled]
    opacity: 1
</style>
