<template lang="pug">
  .side-nav__wrapper(ref="sideMenu", :class="{'scroll-spy': scrollSpy, 'sticky': isSticky, 'bottom-reached': isBottomReached}")
    ul.nav
      li(v-for="item in menu.items", :class="getClasses(item)").nav-item.menu-item.menu-item-type-post_type.menu-item-object-page
        v-link.nav-link.toggle-sub(:to="item.url", itemprop="url", :stop="stopPropagation(item)", @click.native="setExpanded(item.id)")
          span(itemprop="name", v-html="item.title")
        menu-children(v-if="item.children && item.children.length", :expanded="isExpanded(item)", :item="item", :level="1")
</template>

<script>
import { mapActions, mapState } from 'vuex'
import debounce from 'lodash/debounce'
import perfectScrollbarMixin from '~~/mixins/perfectScrollbarMixin'

export default {
  name: 'SideMenuComponent',

  components: {
    MenuChildren: () => import('./MenuChildren')
  },

  mixins: [perfectScrollbarMixin],

  props: {
    menu: {
      type: Object,
      default: () => ({})
    },

    expand: {
      type: Boolean,
      default: false
    },

    scrollSpy: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    sticky: 0,
    isSticky: false,
    isBottomReached: false,
    menuNodes: []
  }),

  computed: {
    ...mapState({
      expanded: (state) => state.wordpress.expanded
    })
  },

  watch: {
    isSticky(state) {
      if (state) {
        this.$nextTick(this.initSideScrollBar)
        this.$refs.sideMenu.scrollTop = 0
        return
      }
      this.destroyPS()
    },

    isBottomReached(state) {
      if (state) {
        this.destroyPS()
        // this.$refs.sideMenu.scrollTop = this.$refs.sideMenu.scrollHeight
        return
      }
      this.$nextTick(this.initSideScrollBar)
      // this.initSideScrollBar()
    }
  },

  beforeDestroy() {
    window.removeEventListener('scroll', this.onScrollHandler, false)
  },

  created() {
    if (!this.expanded) this.findExpanded()
  },

  mounted() {
    if (this.$device.isDesktopOrTablet) {
      setTimeout(() => {
        this.initFloatMenu()
        if (this.scrollSpy) this.initScrollSpy()
      }, 100)
    }
  },

  methods: {
    ...mapActions({
      setExpanded: 'wordpress/setExpanded'
    }),

    initScrollSpy() {
      const menuNodes = this.$refs.sideMenu.querySelectorAll('a.nav-link')
      const menuOptions = Array.from(menuNodes).map((link) =>
        link.hash.replace('#', '')
      )
      this.menuNodes = menuOptions.map((id, index) => ({
        id,
        node: menuNodes[index]
      }))
      this.$nextTick(this.scanSpyLinks)
    },

    scanSpyLinks: debounce(function () {
      let idToMark = this.menuNodes[0]?.id
      if (!idToMark) return
      this.menuNodes
        .map((m) => m.id)
        .forEach((id) => {
          const el = document.getElementById(id)
          if (el) {
            const rect = el.getBoundingClientRect()
            if (rect.top < 100) idToMark = id
          }
        })
      this.markMenuItemAsActive(idToMark)
    }, 100),

    unMarkMenuItems() {
      this.menuNodes.forEach((n) => {
        n.node.classList.remove('spy-active')
      })
    },

    markMenuItemAsActive(id) {
      if (!id) return
      const menuNode = this.menuNodes.find((n) => n.id === id)
      this.unMarkMenuItems()
      if (menuNode) menuNode.node.classList.add('spy-active')
    },

    initFloatMenu() {
      this.initStickyMenu()
      this.setSideMenuWidth()
    },

    initStickyMenu() {
      if (!this.$refs.sideMenu) return
      this.calcStickyOffset()
      this.onScrollHandler()
      window.addEventListener('scroll', this.onScrollHandler, false)
    },

    calcStickyOffset() {
      const sideSection = document.getElementById('edu-side')
      const rect = sideSection.getBoundingClientRect()
      this.sticky = rect.top + 57 + window.scrollY
    },

    initSideScrollBar() {
      if (!this.ps) this.makePS(this.$refs.sideMenu)
    },

    setSideMenuWidth() {
      if (!this.$refs.sideMenu) return
      const sideSection = document.getElementById('edu-side')
      const computedStyles = getComputedStyle(sideSection)
      const paddingX =
        parseFloat(computedStyles.paddingLeft) +
        parseFloat(computedStyles.paddingRight)
      this.$refs.sideMenu.style.width =
        sideSection.offsetWidth - paddingX + 'px'
    },

    onScrollHandler() {
      this.bottomReachCalc()
      // 35 - height of sticky main menu
      this.isSticky = window.scrollY + 35 >= this.sticky
      if (this.scrollSpy) this.scanSpyLinks()
    },

    bottomReachCalc() {
      const sideSection = document.getElementById('edu-side')
      const menuRect = this.$refs.sideMenu.getBoundingClientRect()
      const sideRect = sideSection.getBoundingClientRect()

      const sideOffset = Math.round(sideRect.top + sideSection.offsetHeight)

      if (this.isBottomReached && menuRect.top < 50) return
      this.isBottomReached = sideOffset < Math.round(menuRect.bottom)
    },

    isExpanded(item) {
      if (this.expand) return true
      return this.expanded === item.id
    },

    stopPropagation(item) {
      if (!item.children) return false
      return item.type !== 'custom'
    },

    findExpanded() {
      const item = this.menu.items.find(
        (i) => i.object_slug === this.$route.params.category
      )
      if (item) this.setExpanded(item.id)
    },

    getClasses(item) {
      const obj = {
        'menu-item-has-children': item.children && item.children.length
      }
      obj[`menu-item-${item.id}`] = true
      return obj
    }
  }
}
</script>

<style lang="sass" scoped>
.side-nav__wrapper
  padding-bottom: 107px
  &.scroll-spy
    ::v-deep
      .nuxt-link-exact-active
        color: unset !important
  &.sticky
    position: fixed
    top: 50px
    max-height: calc(100vh - 35px)
    overflow-y: auto
  &.bottom-reached
    position: absolute
    bottom: 0
    top: unset
    overflow-y: unset
    max-height: unset
</style>
