<template lang="pug">
  ul.nav.nav-sub(v-if="item.children && item.children.length", :class="{'no-bottom-padding': level > 1, active: expanded}")
    li(v-for="child in item.children", :class="{'has-child': child.children && child.children.length, expanded: expandedChild.includes(child.id)}").nav-item.menu-item.menu-item-type-post_type.menu-item-object-page
      v-link.nav-link.toggle-sub(:to="child.url", itemprop="url", :stop="!!(child.children && child.children.length)", @click.native="onClickHandler(child)")
        i.fas.fa-caret-right(v-if="child.children && child.children.length")
        span(itemprop="name", v-html="child.title")
      menu-sub-children(v-if="child.children && child.children.length", :expanded="expandedChild.includes(child.id)", :item="child", :level="level + 1")
</template>

<script>
export default {
  name: 'MenuChildrenComponent',

  components: {
    MenuSubChildren: () => import('./MenuChildren')
  },

  props: {
    item: {
      type: Object,
      default: () => ({})
    },

    expanded: {
      type: Boolean,
      default: false
    },

    level: {
      type: Number,
      default: 0
    }
  },

  data: () => ({
    expandedChild: []
  }),

  methods: {
    onClickHandler(child) {
      if (child.children && child.children.length) {
        if (!this.expandedChild.includes(child.id)) {
          this.expandedChild.push(child.id)
        } else {
          this.expandedChild.splice(this.expandedChild.indexOf(child.id), 1)
        }
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.no-bottom-padding
  padding-bottom: 0 !important
</style>
