<template lang="pug">
.product
  .product-wrapper.is-flex(itemscope, itemtype="http://schema.org/Product")
    div(itemprop="brand", itemtype="https://schema.org/Brand", itemscope)
      meta(itemprop="name", content="The Natural Ruby Company")
    meta(itemprop="sku", :content="item.id")
    meta(itemprop="mpn", :content="item.id")
    meta(itemprop="image", :content="getImagePath(item)")
    .product-frame__wrapper(:class="{ loading }")
      .product-frame
        item-controls-component(:item="item")
        video360-component.video-360(v-if="item.containsVideo360", :attrs="getAttrs(item)", @loaded="onLoadedHandler")
        v-link.product-image(v-else, :to="detailsRoute")
          v-image(:lazy="false", :src="getImagePath(item)", :alt="item.shape", @load="onLoadedHandler")
        icon.video-icon(v-if="item.containsVideo360", iconColor="#7b817f", iconName="360", width="40")
    v-link.product-details(:to="detailsRoute")
      .product-name(itemprop="name", :content="itemName", v-html="itemName")
      .product-info(itemprop="description") {{ $t(`listingPage.common.itemId`) }}: {{ item.id }}
      .product-price.is-flex
        span {{ $t(`listingPage.common.startingFrom`) }}&nbsp;
        price(itemprop="offers", itemscope, itemtype="http://schema.org/Offer", :productUrl="urlEncodedDetailsPath()", :microdata="true", :disableBankWirePrice="true", :tooltip="true" :item="item")
    .item-view-controls
      button.button.gold-color.light.quick-view.is-hidden-mobile(slot="target", @click="onQuickViewHandler(item)")
        i.fa.fa-eye
      v-link.button.gold-color.light(:to="detailsRoute", slot="target") {{ $t('listingPage.common.moreDetails') }}
</template>

<script>
import _baseView from '../_baseView'
import { video360Speed as speed } from '~~/utils/definitions/defaults'

export default {
  name: 'SettingsViewComponent',

  extends: _baseView,

  computed: {
    imagePath() {
      return 'setting'
    },

    itemName() {
      const metalName = this.$t(
        `listingPage.filters.metalTypesFilter.${
          this.camelCase(this.item.metalName) || 'none'
        }`
      )
      const category = this.$t(
        `categories.${this.camelCase(
          this.item.category.replace('Setting_', '').toLowerCase()
        )}`
      )

      return [metalName, category].join(' ').trim()
    }
  },

  methods: {
    getAttrs({ id, metalTypeCode, framesCount }) {
      return {
        id,
        prefix: id,
        metalTypeCode,
        behavior: 'mouseover',
        startOn: 'mouseover',
        onclick: this.pushDetailsPath,
        size: 'small',
        speed,
        cover: this.getImagePath(this.item),
        framesCount,
        itemType: 'setting',
        host: process.env.video360Url
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.product
  flex-direction: column
  &-info
    text-align: center
  &-name
    display: block
    font-weight: 700
    @extend .product-info

  &-wrapper
    flex-direction: column
    border: 1px solid $border-color
    padding: 15px
    .product-details
      flex: auto
      margin-top: 15px
      text-align: center
    .item-view-controls
      margin-top: 10px
      height: 100%
      align-items: self-end
      justify-content: center
      width: 100%
      display: none
      +touch
        display: flex
      .quick-view
        max-width: 35px
        height: 100%
        max-height: 33px
      .button + .button
        margin-left: 10px
        +mobile
          margin-left: unset
      .button
        visibility: hidden
        font-weight: 600
        color: $gold-color
        padding: 5px
        width: 100%
        +touch
          visibility: visible
    +touch
      .item-controls
        display: flex !important
    &:hover
      .item-controls
        display: flex !important
      .item-view-controls
        .button
          visibility: visible
    .product-frame__wrapper
      width: 100%
      max-width: 200px
      margin: auto
      flex: 1
      .product-frame
        position: relative
        max-width: 200px
        margin: 0 auto
        .video-360
          position: relative
        .product-image
          ::v-deep
            img
              @extend .video-360
      &.loading
        .product-frame
          padding-bottom: 100%
          width: 100%
          .video-360
            position: absolute
          .product-image
            ::v-deep
              img
                position: absolute
      .item-controls
        display: none
      .item-view-controls
        justify-content: center
        width: 100%
        height: 45px
        padding-bottom: 15px
        .button
          display: none
          color: $gold-color
          padding: 7px 10px
        button.button
          border-right: 0
      &:hover
        .item-view-controls
          .button
            display: flex
      .video-icon
        position: absolute
        right: 7px
        bottom: 7px
    .sale-name
      color: $primary-color
      text-align: center
    .product-price
      align-items: center
      justify-content: center
      flex-wrap: wrap
</style>
