<template lang="pug">
.product
  .product-wrapper.is-flex(itemscope, itemtype="http://schema.org/Product")
    div(itemprop="brand", itemtype="https://schema.org/Brand", itemscope)
      meta(itemprop="name", content="The Natural Ruby Company")
    meta(itemprop="sku", :content="item.id")
    meta(itemprop="mpn", :content="item.id")
    meta(itemprop="image", :content="getImagePath(item)")
    .product-frame__wrapper(:class="{ loading }")
      .product-frame
        item-controls-component(:item="item")
        video360-component.video-360(v-if="item.containsVideo360", :attrs="getAttrs(item)", @loaded="onLoadedHandler")
        v-link.product-image(v-else, :to="detailsRoute")
          v-image(:lazy="false", :src="getImagePath(item)", :alt="item.shape", @load="onLoadedHandler")
        icon.video-icon(v-if="item.containsVideo360", iconColor="#7b817f", iconName="360", width="40")
    v-link.product-details(:to="detailsRoute")
      .product-name(itemprop="name", :content="getItemName('plain')", v-html="getItemName()")
      .product-info(itemprop="description") {{ $t(`listingPage.common.itemId`) }}: {{ item.id }}
      .sale-name(v-if="item.saleName") {{ item.saleName }}
      price.product-price(itemprop="offers", itemscope, itemtype="http://schema.org/Offer", :productUrl="urlEncodedDetailsPath()", :microdata="true", :disableBankWirePrice="true", :tooltip="true" :item="item")
    .item-view-controls
      button.button.gold-color.light.quick-view.is-hidden-mobile(slot="target", @click="onQuickViewHandler(item)")
        i.fa.fa-eye
      v-link.button.gold-color.light(:to="detailsRoute", slot="target") {{ $t('listingPage.common.moreDetails') }}
</template>

<script>
import _baseView from '../_baseView'

export default {
  name: 'StonesViewComponent',

  extends: _baseView,

  computed: {
    imagePath() {
      return 'sapphire'
    }
  },

  methods: {
    getItemName(type) {
      let caratFormatter =
        this.item.category === 'Pair' ? this.tcwFormatter : this.caratFormatter
      if (type === 'plain') caratFormatter = this.tcwPlainFormatter // only pairs have HTML tags in name and need to be plained for structured data

      const carat = caratFormatter(this.item.weight)

      const name = [
        carat,
        this.$t(
          `listingPage.filters.stoneShapesFilter.${
            this.camelCase(this.item.shape) || 'none'
          }`
        ),
        this.$t(
          `listingPage.filters.stoneTypeName.${
            this.camelCase(this.item.stoneType) || 'none'
          }`
        ),
        this.isPair ? this.$t('listingPage.stonePairsList.pair') : ''
      ]
      return name.join(' ').trim()
    }
  }
}
</script>

<style lang="sass" scoped>
.product
  &-info
    text-align: center
  &-name
    display: block
    font-weight: 700
    @extend .product-info

  &-wrapper
    flex-direction: column
    border: 1px solid $border-color
    padding: 15px
    .product-details
      flex: auto
      margin-top: 15px
      text-align: center
    .item-view-controls
      margin-top: 10px
      height: 100%
      align-items: self-end
      justify-content: center
      width: 100%
      display: none
      +touch
        display: flex
      .quick-view
        max-width: 35px
        height: 100%
        max-height: 33px
      .button + .button
        margin-left: 10px
        +mobile
          margin-left: unset
      .button
        visibility: hidden
        font-weight: 600
        color: $gold-color
        padding: 5px
        width: 100%
        +touch
          visibility: visible
    +touch
      .item-controls
        display: flex !important
    &:hover
      .item-controls
        display: flex !important
      .item-view-controls
        .button
          visibility: visible
    .product-frame__wrapper
      width: 100%
      max-width: 200px
      margin: auto
      flex: 1
      .product-frame
        position: relative
        max-width: 200px
        margin: 0 auto
        .video-360
          position: relative
        .product-image
          ::v-deep
            img
              @extend .video-360
      &.loading
        .product-frame
          padding-bottom: 100%
          width: 100%
          .video-360
            position: absolute
          .product-image
            ::v-deep
              img
                position: absolute
      .item-controls
        display: none
      .video-icon
        position: absolute
        right: 7px
        bottom: 7px
    .sale-name
      color: $primary-color
      text-align: center
    .product-price
      ::v-deep
        .item-price
          font-size: 18px
          font-weight: 800
          +mobile
            font-size: 16px
</style>
