<template lang="pug">
section.gemologist.container#gemologist-wrapper(v-observe-visibility="{callback: fetchBestsellers, once: true, intersection: { rootMargin: '800px' }}")
  h2.title
    span.is-italic {{ $t('homePage.gemologist.title1') }}&nbsp
    span.is-uppercase {{ $t('homePage.gemologist.title2') }}
  .swiper-container(ref="gemologist-slider")
    .swiper-wrapper
      .swiper-slide.is-flex(v-for="slide in slides", :key="slide.guid")
        .slide-video
          icon.slide-video-icon(v-if="slide.containsVideo360", iconName="360")
          video360-component(v-if="slide.containsVideo360", :attrs="getAttrs(slide)", :lazy="false")
          v-image(v-else, :src="slide.thumbnail", @click="onQuickView(slide.id)")
        .slide-info.is-flex
          .slide-info-id {{ $t('homePage.gemologist.itemId') }}: {{ slide.id }}
          .slide-info-weight(v-if="slide.weight")
            span {{ $t('homePage.gemologist.weight') }}:&nbsp;
            span(v-html="getItemWeight(slide)")
          .slide-info-price
            price-component(:tooltip="true", :item="slide")
    .swiper-button-next(v-if="$device.isDesktopOrTablet")
    .swiper-button-prev(v-if="$device.isDesktopOrTablet")
    .gemologist-swiper-pagination.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import cloneDeep from 'lodash/cloneDeep'
import debounce from 'lodash/debounce'
import { video360Speed } from '~~/utils/definitions/defaults'
import { caratFormatter, tcwFormatter } from '~~/utils/formatters'
import PriceComponent from '~~/components/Common/Price'
import Video360Component from '~~/components/Common/video360'
import { getDetailsPath } from '~~/utils/utils'

export default {
  name: 'GemologistComponent',

  components: {
    Video360Component,
    PriceComponent
  },

  filters: {
    caratFormatter
  },

  inject: ['pageType'],

  data: () => ({
    swiper: null
  }),

  computed: {
    ...mapGetters({
      bestsellers: 'bestsellers/bestsellers'
    }),

    slides() {
      const slides = cloneDeep(this.bestsellers)
      return slides.map((slide) => {
        slide.guid = this.$h.guid()
        return slide
      })
    },

    sliderParams() {
      const params = {
        // Default parameters
        slidesPerGroup: 1,
        slidesPerView: 1,
        spaceBetween: 20,
        pagination: {
          el: '.gemologist-swiper-pagination',
          type: 'bullets',
          clickable: true,
          dynamicBullets: true,
          dynamicMainBullets: 5
        },
        longSwipesRatio: 0.3,
        allowTouchMove: false,

        breakpoints: {
          // when window width is >= 300px
          300: {
            slidesPerGroup: 1,
            slidesPerView: 1
          },
          // when window width is >= 440px
          440: {
            slidesPerView: 2,
            slidesPerGroup: 2,
            spaceBetween: 20
          },
          // when window width is >= 768px
          768: {
            slidesPerView: 3,
            slidesPerGroup: 3,
            spaceBetween: 20
          },
          // when window width is >= 1024px
          1024: {
            slidesPerView: 4,
            slidesPerGroup: 4,
            spaceBetween: 20
          },
          // when window width is >= 1280px
          1280: {
            slidesPerView: 5,
            slidesPerGroup: 5,
            spaceBetween: 20
          },
          // when window width is >= 1440px
          1407: {
            slidesPerView: 6,
            slidesPerGroup: 6,
            spaceBetween: 20
          }
        }
      }

      if (this.$device.isDesktopOrTablet) {
        params.navigation = {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      }

      return params
    }
  },

  methods: {
    ...mapActions({
      getBestsellers: 'bestsellers/getBestsellers',
      fetchDetailsOptions: 'productDetails/fetchDetailsOptions'
    }),

    getItemWeight(item) {
      if (['Pair', 'Earring', 'Bracelet'].includes(item.category))
        return tcwFormatter.call(this, item.weight)
      return caratFormatter(item.weight)
    },

    onNextArrowClick() {
      if (this.swiper) this.swiper.slideNext()
    },

    onPrevArrowClick() {
      if (this.swiper) this.swiper.slidePrev()
    },

    onSwipeHandler: debounce(function (direction) {
      if (this.$device.isDesktop || !this.swiper) return
      if (direction) this.swiper.slidePrev()
      if (!direction) this.swiper.slideNext()
    }),

    async initSwiper() {
      this.swiper = await this.$swiper.insert(
        this.$refs['gemologist-slider'],
        this.sliderParams
      )
    },

    async fetchBestsellers(isVisible) {
      if (isVisible) {
        await this.getBestsellers()
        setTimeout(async () => {
          await this.initSwiper()
          this.$root.$emit('gemologist-visible')
        }, 10)
      }
    },

    getAttrs(item) {
      let folder = 'sapphire'
      const { id, framesCount, itemType } = item
      if (itemType === 3) folder = 'jewelry'
      return {
        id,
        backgroundColor: '#fbfbfb',
        prefix: id,
        behavior: 'mouseover',
        startOn: 'mouseover',
        onclick: this.onQuickView,
        size: 'small',
        video360Speed,
        cover: item.thumbnail,
        framesCount,
        itemType: folder,
        host: process.env.video360Url,
        onSwipe: this.onSwipeHandler
      }
    },

    async onQuickView(id) {
      const item = this.bestsellers.find((item) => item.id === id)
      if (!item) return
      await this.fetchDetailsOptions()

      if (
        this.$device.isMobileOrTablet ||
        ['details', 'review'].includes(this.pageType)
      ) {
        this.$router.push(this.localePath({ path: getDetailsPath(item) }))
        return
      }

      this.$root.$emit('listing-quick-view', item)
    }
  }
}
</script>

<style lang="sass" scoped>
.gemologist
  margin-top: 80px
  +touch
    margin-top: 60px
  .title
    text-align: center
    font-family: $lora
    font-size: 42px
    font-weight: 400
  .swiper-container
    padding: 30px 50px 40px
    height: 100%
    +mobile
      aspect-ratio: 613 / 400
    @media (min-width: 440px) and (max-width: 768px)
      aspect-ratio: 97 / 75
    @media screen and (max-width: 440px)
      aspect-ratio: 5 / 6
    +tablet-only
      aspect-ratio: 101 / 50
    +touch
      height: unset
    +desktop-only
      height: 375px
    +widescreen
      height: 370px
    @media (min-width: 1215px) and (max-width: 1280px)
      height: 425px
    +ultrahd
      height: 440px
    .gemologist-swiper-pagination
      ::v-deep .swiper-pagination
        &-bullet
          background: $primary-color
          opacity: .5
          outline: none
          &-active
            background: $primary-color
            opacity: 1
    .swiper-button-next,
    .swiper-button-prev
      outline: none
      z-index: 1
      color: $dark-primary-color
      transform: translateY(-50%)
      height: 100%
      width: 50px
      background: #fff
    .swiper-button-next
      right: 0
    .swiper-button-prev
      left: 0
    .swiper-slide
      flex-direction: column
      background-color: $third-bg-color
      padding: 20px 0
      .slide
        &-video
          cursor: pointer
          position: relative
          text-align: center
          ::v-deep
            .video-360
              canvas
                margin: auto
                width: 90%
          &-icon
            position: absolute
            width: 33px
            height: 18px
            bottom: 10px
            right: 10px
            z-index: 1
        &-info
          font-size: 15px
          text-align: center
          width: 100%
          flex: auto
          flex-direction: column
          justify-content: center
          &-id
            font-weight: 700
</style>
