<template lang="pug">
  .notifications-section__body-list(:class="{disabled}")
    .notifications-section__body-list-title(v-if="list.label") {{ list.label }}:
    .notifications-section__body-options.is-flex
      template(v-for="option in list.children || list", :list="list.id")
        list-component(v-if="option.type === 'list'", :list="option")
        template(v-else)
          checkbox(v-if="list.selectionType === 'checkbox'", name="notification", :val="option.id", :value="selectedNotifications", @input="onNotificationStateUpdate") {{ option.label }}
          radio(v-else, name="notification", :val="option.id", :value="selectedNotifications", @input="onNotificationStateUpdate") {{ option.label }}
          list-component(v-if="option.children", :list="option.children", :disabled="isChildListDisabled(list, option)")
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'ListComponent',

  components: {
    ListComponent: () => import('./List'),
    Checkbox: () => import('~~/components/Common/CheckboxGroup'),
    Radio: () => import('~~/components/Common/RadioGroup')
  },

  props: {
    list: {
      type: [Object, Array],
      required: true
    },

    disabled: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    ...mapGetters({
      selectedNotifications: 'accountPages/selectedNotifications'
    })
  },

  methods: {
    ...mapActions({
      setNotificationState: 'accountPages/setNotificationState'
    }),

    onNotificationStateUpdate(id) {
      this.setNotificationState(id)
      this.$root.$emit('notifications-updated')
    },

    isChildListDisabled(list, option) {
      return (
        this.disabled ||
        (list.selectionType === 'checkbox' && option.selected === false)
      )
    }
  }
}
</script>

<style lang="sass" scoped>
.notifications-section
  &__body-list
    padding-left: 23px
    &.disabled
      color: $disabled
      ::v-deep
        .radio-button
          position: relative
          pointer-events: none
          &-wrapper
            position: relative
            &:after
              content: ''
              position: absolute
              width: 50%
              height: 100%
              top: 0
              left: 0
              cursor: not-allowed
  &__body-options
    flex-direction: column
    margin-top: 10px
  &__body-list-title
    font-weight: 700
</style>
