<template lang="pug">
  accordion-item-component.notifications-section
    .notifications-section__title.is-flex(slot="header")
      strong {{ section.label }}
    .notifications-section__body
      .notifications-section__body-descr {{ section.description }}
      .notifications-section__body-lists
        list-component(v-for="list in section.children", :key="list.id", :list="list")
</template>

<script>
export default {
  name: 'SectionComponent',

  components: {
    AccordionItemComponent: () =>
      import('~~/components/Common/Accordion/AccordionItem'),
    ListComponent: () => import('./List')
  },

  props: {
    section: {
      type: Object,
      required: true
    }
  },

  beforeDestroy() {
    this.$off('open', this.onOpenHandler)
  },

  mounted() {
    this.$on('open', this.onOpenHandler)
  },

  methods: {
    onOpenHandler(id) {
      this.$parent.$emit('open', id)
    }
  }
}
</script>

<style lang="sass" scoped>
.notifications-section
  &__body-lists
    margin-top: 30px
    margin-left: -23px
</style>
