<script>
import camelCase from 'lodash/camelCase'
import { mapActions, mapGetters, mapState } from 'vuex'
import { moneyMaxFormatterInt, moneyMinFormatterInt } from '~~/utils/formatters'
import { getLocalPrice } from '~~/utils/utils'

export default {
  name: 'BaseSummaryComponent',

  computed: {
    ...mapState({
      localCurrency: (state) => state.app.localCurrency
    }),
    ...mapGetters({
      showLocalPrices: 'app/showLocal',
      type: 'typeList',
      symbolPositionFront: 'app/symbolPositionFront',
      symbol: 'app/localCurrencySymbol'
    }),

    sortOrder() {
      return [
        'stoneShapes',
        'stoneOrigins',
        'priceRange',
        'caratRange',
        'lengthRange',
        'widthRange',
        'treatments'
      ]
    },

    localPriceSymbol() {
      return this.localCurrency.symbol
    },

    usdRate() {
      return this.localCurrency.usdRate
    },

    conversionRate() {
      return this.localCurrency.localRate
    },

    filters() {
      return this.$store.state.customItem.sourceCustomDesignsFilters
    },

    selectedFilters() {
      const filters = []
      const selectedFilters = this.$store.state.customItem
        .selectedCustomDesignsFilters
      const filtersNames = Object.keys(selectedFilters)
      filtersNames.forEach((name) => {
        if (/Range/.test(name)) {
          filters.push({
            id: this.$h.guid(),
            type: name,
            value: selectedFilters[name]
          })
          return
        }
        selectedFilters[name].forEach((f) => {
          filters.push({
            id: this.$h.guid(),
            type: name,
            value: f
          })
        })
      })
      return filters.sort(this.compare)
    }
  },

  methods: {
    ...mapActions({
      removeCustomDesignsFilter: 'customItem/removeCustomDesignsFilter',
      clearCustomDesignsFilters: 'customItem/clearCustomDesignsFilters'
    }),

    compare(a, b) {
      const indexA = this.sortOrder.findIndex((t) => t === a.type)
      const indexB = this.sortOrder.findIndex((t) => t === b.type)
      if (indexA < indexB) return -1
      if (indexA > indexB) return 1
      return 0
    },

    priceFilterFormat(val) {
      if (!this.showLocalPrices)
        return `${this.$t(
          'listingPage.filters.priceSum'
        )} $ ${moneyMinFormatterInt(val[0])} - $ ${moneyMaxFormatterInt(
          val[1]
        )}`
      const minPrice = moneyMinFormatterInt(
        getLocalPrice(val[0], this.usdRate, this.conversionRate)
      )
      const maxPrice = moneyMaxFormatterInt(
        getLocalPrice(val[1], this.usdRate, this.conversionRate)
      )
      return `${this.$t(
        'listingPage.filters.priceSum'
      )} ${this.formatLocalPrice(minPrice, maxPrice)}`
    },

    formatLocalPrice(minPrice, maxPrice) {
      if (this.symbolPositionFront)
        return `${this.symbol} ${minPrice} - ${this.symbol} ${maxPrice}`
      return `${minPrice} ${this.symbol} - ${maxPrice} ${this.symbol}`
    },

    onRemoveFilter(filter) {
      const filterName = filter.type
      const value = filter.value

      this.removeCustomDesignsFilter({ filterName, value })
      this.$emit('change')
    },

    onClearAll() {
      this.clearCustomDesignsFilters()
      this.$emit('change')
    },

    camelCase
  }
}
</script>

<style lang="sass" scoped></style>
