<script>
import { mapActions } from 'vuex'
import _base from './_base'
import Slider from './Slider'

const dimensions = ['lengthRange', 'widthRange']

export default {
  name: 'BaseSliderAreaComponent',

  components: {
    Slider
  },

  extends: _base,

  data: () => ({
    filterName: 'priceRange',
    step: 20
  }),

  computed: {
    rangeOptions() {
      return {}
    },

    selectedFilters() {
      return (
        this.$store.state.customItem.selectedCustomDesignsFilters[
          this.filterName
        ] || []
      )
    },

    filterSource() {
      if (dimensions.includes(this.filterName))
        return this.filters.dimensions[this.filterName]
          ? this.filters.dimensions[this.filterName][0]
          : { min: 0, max: 0 }
      return this.filters[this.filterName]
        ? this.filters[this.filterName][0]
        : { min: 0, max: 0 }
    }
  },

  methods: {
    ...mapActions({
      setAreasFilters: 'customItem/setCustomDesignsFilters'
    }),

    setFilter(filterName, value) {
      this.setAreasFilters({ filterName, value })
      this.$emit('change')
    }
  }
}
</script>

<style lang="sass" scoped>
.filters-area
  flex-direction: column
  max-width: 700px
  margin: 0 auto
  padding: 10px 0
  &-label
    font-weight: 700
    text-transform: uppercase
    font-size: 14px
</style>
