<script>
import camelCase from 'lodash/camelCase'

export default {
  name: 'BaseComponent',

  data: () => ({
    filterName: null
  }),

  computed: {
    filters() {
      return this.$store.state.customItem.sourceCustomDesignsFilters
    },

    filterSource() {
      return this.filters[this.filterName]
    }
  },

  methods: {
    getId(text) {
      return `filter-${camelCase(text)}`
    },

    camelCase
  }
}
</script>

<style lang="sass" scoped></style>
