<template lang="pug">
.filters-area.is-flex
  .filters-area-label {{ $t('listingPage.filters.dimensionsLength') }}
  slider.slider(:step="step", :formatter="twoDecimalFormatter", @change="setFilter(filterName, $event)", :min="filterSource.min", :max="filterSource.max", :value="selectedFilters")
</template>

<script>
import _baseSliderArea from './_baseSliderArea'
import { twoDecimalFormatter } from '~~/utils/formatters'

export default {
  name: 'MainFilterAreaPriceComponent',

  extends: _baseSliderArea,

  data: () => ({
    filterName: 'lengthRange',
    step: 0.5
  }),

  methods: {
    twoDecimalFormatter
  }
}
</script>

<style lang="sass" scoped>
.filters-area
  flex-direction: column
  max-width: 400px
  margin: 0 auto
  padding: 10px 0
  &-label
    font-weight: 700
    text-transform: uppercase
    font-size: 14px
</style>
