<template lang="pug">
  .filters-area.is-flex
    .filters-area-item.is-flex(v-for="filter in filterSource", :id="getId(filter.name)", :key="filter.name", :class="{active: selectedFilters.includes(filter.name)}")
      input(type="checkbox" :id="filter.name", @click="setFilter(filterName, filter.name)", :value="selectedFilters")
      label.is-flex(:for="filter.name")
        icon(width="30", height="30", iconColor="#2e2e2e", :iconName="camelCase(`${filter.name}${itemType}`)")
        span {{ $t(`listingPage.filters.designStylesFilter.${camelCase(filter.name)}`) }} ({{ filter.count }})
</template>

<script>
import _baseArea from './_baseArea'
export default {
  name: 'MainFilterAreaDesignStylesComponent',

  extends: _baseArea,

  data: () => ({
    filterName: 'designStyles'
  }),

  computed: {
    itemType() {
      // if (this.type === 'earringSettings') return 'Earring'
      // if (this.type === 'necklaceSettings') return 'Necklace'
      // if (this.type === 'pendantSettings') return 'Pendant'
      // if (this.type === 'ringSettings') return 'Ring'
      return 'Ring'
    }
  }
}
</script>
