<template lang="pug">
  .filters-area.is-flex
    .filters-area-item(v-for="filter in filterSource", :id="getId(filter.name)", :key="filter.name", :class="{active: selectedFilters.includes(filter.name)}")
      input(type="checkbox", :id="filter.name.toLowerCase()", @click="setFilter(filterName, filter.name)", :value="selectedFilters")
      label.is-flex(:for="filter.name.toLowerCase()")
        span {{ $t(`listingPage.filters.treatmentsFilter.${camelCase(filter.name)}`) }} ({{ filter.count }})
</template>

<script>
import MainFilterAreaTreatments from './MainFilterAreaTreatments'
export default {
  name: 'MainFilterAreaTreatmentsComponent',

  extends: MainFilterAreaTreatments,

  data: () => ({
    filterName: 'treatments'
  })
}
</script>
