<template lang="pug">
.filters-area
  .filters-area-center
    .filters-area-center-title {{ $t('listingPage.filters.selectCenterStoneShapes') }}
    main-filter-area-center-stone-shapes-component
  .filters-area-side
    .filters-area-side-title {{ $t('listingPage.filters.selectSideStoneShapes') }}
    main-filter-area-side-stone-shapes-component
</template>

<script>
import MainFilterAreaCenterStoneShapesComponent from './MainFilterAreaCenterStoneShapes'
import MainFilterAreaSideStoneShapesComponent from './MainFilterAreaSideStoneShapes'
export default {
  name: 'MainFilterAreaStonesShapesComponent',
  components: {
    MainFilterAreaSideStoneShapesComponent,
    MainFilterAreaCenterStoneShapesComponent
  }
}
</script>

<style lang="sass" scoped>
.filters-area
  &-center
    &-title
      text-align: center
      font-weight: 700
      margin: 20px 0 15px
  &-side
    &-title
      text-align: center
      font-weight: 700
      margin: 15px 0
</style>
