<template lang="pug">
  .filters-area.is-flex
    .filters-area-item(v-for="filter in filterSource", :id="getId(filter.key)", :key="filter.key", :class="{active: selectedFilters.includes(filter.key)}")
      input(type="checkbox" :id="filter.key + _uid", @click="setFilter(filterName, filter.key)", :value="selectedFilters")
      label.is-flex(:for="filter.key + _uid")
        icon(width="30", height="30", iconColor="#2e2e2e", :iconName="camelCase(filter.value)")
        span {{ $t(`listingPage.filters.stoneShapesFilter.${camelCase(filter.value)}`) }}
</template>

<script>
import _baseArea from './_baseArea'

export default {
  name: 'MainFilterAreaSideStoneShapesComponent',

  extends: _baseArea,

  data: () => ({
    filterName: 'sideStoneShapes'
  }),

  computed: {
    filterSource() {
      return this.filters.stonesShapes.sideStoneShapes.map((filter) => {
        filter.id = `side-${this.camelCase(filter.value)}`
        return filter
      })
    }
  }
}
</script>
