<template lang="pug">
  .filters-area.is-flex
    .filters-area-item(v-for="filter in filterSource", :id="getId(filter.id)", :key="filter.id", :class="{active: selectedFilters.includes(filter.key)}")
      input(type="checkbox", :id="filter.id", @click="setFilter(filterName, filter.key)", :value="selectedFilters")
      label.is-flex(:for="filter.id")
        icon(width="30", height="30", iconColor="#2e2e2e", :iconName="camelCase(filter.value)")
        span {{ $t(`listingPage.filters.stoneShapesFilter.${camelCase(filter.value)}`) }}
</template>

<script>
import _baseArea from './_baseArea'

export default {
  name: 'MainFilterAreaCenterStoneShapesComponent',

  extends: _baseArea,

  data: () => ({
    filterName: 'centerStoneShapes'
  }),

  computed: {
    filterSource() {
      return this.filters.stonesShapes.centerStoneShapes.map((filter) => {
        filter.id = `center-${this.camelCase(filter.value)}`
        return filter
      })
    }
  }
}
</script>
