<template lang="pug">
.filters-area.is-flex
  main-filter-area-dimensions-length-component
  main-filter-area-dimensions-width-component
</template>

<script>
import MainFilterAreaDimensionsLengthComponent from './MainFilterAreaDimensionsLength'
import MainFilterAreaDimensionsWidthComponent from './MainFilterAreaDimensionsWidth'

export default {
  name: 'MainFilterAreaPriceComponent',

  components: {
    MainFilterAreaDimensionsWidthComponent,
    MainFilterAreaDimensionsLengthComponent
  }
}
</script>

<style lang="sass" scoped>
.filters-area
  width: 100%
  padding: 10px 0
  margin: 0 auto
  justify-content: center
  +mobile
    flex-direction: column
  > *
    margin: unset
    width: 50%
    +mobile
      width: unset
  > * + *
    margin-left: 40px
    +mobile
      margin-left: unset
</style>
