<template lang="pug">
.filters-area-summary.is-flex
  .filter.is-flex(v-for="filter in selectedFilters", :key="filter.id")
    span.is-flex(v-if="filter.type === 'metalTypes'")
      icon(width="30", height="30", :iconName="getIconName(getFilterName(filter.value))", :iconColor="getIconColor(getFilterName(filter.value))")
      | {{ $t(`listingPage.filters.metalTypesFilter.${camelCase(getFilterName(filter.value))}`) }}
    span.is-flex(v-if="filter.type === 'stoneShapes'")
      icon(width="30", height="30", :iconName="camelCase(filter.value)")
      | {{ $t(`listingPage.filters.stoneShapesFilter.${camelCase(filter.value)}`) }}
    span.is-flex(v-if="filter.type === 'designStyles'")
      icon(width="30", height="30", :iconName="`${camelCase(filter.value)}Ring`")
      | {{ $t(`listingPage.filters.designStylesFilter.${camelCase(filter.value)}`) }}
    span(v-else-if="filter.type === 'stoneOrigins'")
      | {{ $t(`listingPage.filters.stoneOriginsFilter.${camelCase(filter.value)}`) }}
    span(v-else-if="filter.type === 'priceRange'")
      | {{ priceFilterFormat(filter.value) }}
    span(v-else-if="filter.type === 'caratRange'")
      | {{ caratFilterFormatter(filter.value) }}
    span(v-else-if="filter.type === 'lengthRange'")
      | {{ lengthFilterFormatter(filter.value) }}
    span(v-else-if="filter.type === 'widthRange'")
      | {{ widthFilterFormatter(filter.value) }}
    span(v-else-if="filter.type === 'treatments'")
      | {{ $t(`listingPage.filters.treatmentsFilter.${camelCase(filter.value)}`) }}
    i.fa.fa-times(@click="onRemoveFilter(filter)")
  .clear-all.is-flex(@click="onClearAll") {{ $t('listingPage.filters.summary.clearAll') }}
</template>

<script>
import _baseSummary from './_baseSummary'
import { getIconColor, getIconName } from '~~/utils/utils'

export default {
  name: 'MainFilterAreaSummaryComponent',

  extends: _baseSummary,

  methods: {
    getFilterName(value) {
      const filter = this.filters.metalTypes.find(
        (f) => f.key === Number(value)
      )
      return filter.value
    },

    caratFilterFormatter(val) {
      return `${this.$t('listingPage.filters.summary.caratSum')} ${val[0]} - ${
        val[1]
      }`
    },

    lengthFilterFormatter(val) {
      return `${this.$t('listingPage.filters.summary.lengthSum')} ${val[0]} - ${
        val[1]
      }`
    },

    widthFilterFormatter(val) {
      return `${this.$t('listingPage.filters.summary.widthSum')} ${val[0]} - ${
        val[1]
      }`
    },

    getIconColor,
    getIconName
  }
}
</script>

<style lang="sass" scoped>
.filters-area-summary
  margin-top: -10px
  padding: 10px 0
  justify-content: center
  flex-wrap: wrap
  .filter
    margin-top: 10px
    align-items: center
    color: $dark-primary-color
    padding-right: 10px
    @include box-shadow(0 0 0 1px, $border-color)
    span
      padding: 10px
      align-items: center
      svg
        margin-right: 10px
    i
      cursor: pointer
  .filter + .filter
    margin-left: 10px
  .clear-all
    align-items: center
    margin: 10px 0 0 10px
    cursor: pointer
    padding: 0 10px
  color: $dark-primary-color
</style>
