<template lang="pug">
  .filters-area.is-flex
    .filters-area-item(v-for="filter in filterSource", :id="getId(filter.name)", :key="filter.name", :class="{active: selectedFilters.includes(filter.name)}")
      input(type="checkbox" :id="filter.name.toLowerCase()", @click="setFilter(filterName, filter.name)", :value="selectedFilters")
      label.is-flex(:for="filter.name.toLowerCase()")
        span {{ $t(`listingPage.filters.stoneOriginsFilter.${camelCase(filter.name)}`) }} ({{ filter.count }})
</template>

<script>
import _baseArea from './_baseArea'

export default {
  name: 'MainFilterAreaOriginsComponent',

  extends: _baseArea,

  data: () => ({
    filterName: 'stoneOrigins'
  })
}
</script>

<style lang="sass" scoped>
.filters-area
  padding: 10px 0
  justify-content: center
  flex-wrap: wrap
  margin-top: -15px
  .filters-area-item + .filters-area-item
    margin-left: 15px
  &-item
    cursor: pointer
    @include box-shadow(0 0 0 1px, $border-color)
    margin-top: 15px
    &.active
      @include box-shadow(0 0 0 1px, $dark-primary-color)
      color: $dark-primary-color
    > *
      cursor: pointer
    input
      display: none
    label
      align-items: center
      padding: 10px
</style>
