<template lang="pug">
.filters-area.is-flex
  .filters-area-label {{ $t('listingPage.filters.priceRange') }}
  currency-slider(:formatter="roundToInt", :rangeOptions="rangeOptions", :step="priceStep", @change="onFilterChange", :min="minValue", :max="maxValue", :value="selectedFilters", :currency="true")
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import _baseSliderArea from './_baseSliderArea'
import { getOriginalPrice, getLocalPrice } from '~~/utils/utils'

export default {
  name: 'MainFilterAreaPriceComponent',

  components: {
    CurrencySlider: () => import('./Slider/CurrencySlider')
  },

  extends: _baseSliderArea,

  data: () => ({
    filterName: 'priceRange'
  }),

  computed: {
    ...mapState({
      localCurrency: (state) => state.app.localCurrency
    }),
    ...mapGetters({
      showLocalPrices: 'app/showLocal'
    }),

    priceStep() {
      return this.convertToLocalPrice(this.step)
    },

    usdRate() {
      return this.localCurrency.usdRate
    },

    conversionRate() {
      return this.localCurrency.localRate
    },

    minValue() {
      return this.convertToLocalPrice(this.filterSource.min)
    },

    maxValue() {
      return this.convertToLocalPrice(this.filterSource.max)
    },

    selectedFilters() {
      const priceRange = this.$store.state.customItem
        .selectedCustomDesignsFilters[this.filterName]
      return this.convertToLocalPrice(priceRange)
    },

    rangeOptions() {
      const { min, max } = this.filterSource
      const steps = [
        {
          key: '30%', // slider position
          border: 0.3, // (maxValue - minValue) * 0.3 ~ 30% of delta
          stepScale: 10 // default step * 10
        },
        {
          key: '60%',
          border: 0.6,
          stepScale: 15
        },
        {
          key: '90%',
          border: 0.9,
          stepScale: 20
        }
      ]
      const range = [min, max]
      return this.getIntervals(steps, range)
    }
  },

  methods: {
    getIntervals(steps, range) {
      const intervals = {}
      steps.forEach((p) => {
        const border = p.border * (range[1] - range[0]) + range[0]
        const step = p.stepScale * this.step
        const arr = [border, step]
        intervals[p.key] = this.convertToLocalPrice(arr)
      })
      return intervals
    },

    roundToInt(val) {
      return Math.round(val)
    },

    onFilterChange(value) {
      this.setFilter(this.filterName, this.convertFromLocalPrice(value))
    },

    convertToLocalPrice(prices) {
      if (!this.showLocalPrices) return prices
      if (Array.isArray(prices)) {
        return prices.map((price) => {
          return getLocalPrice(price, this.usdRate, this.conversionRate)
        })
      }
      return getLocalPrice(prices, this.usdRate, this.conversionRate)
    },

    convertFromLocalPrice(prices) {
      if (!this.showLocalPrices) return prices
      if (Array.isArray(prices)) {
        return prices.map((price) => {
          return Math.round(
            getOriginalPrice(price, this.usdRate, this.conversionRate)
          )
        })
      }
      return Math.round(
        getOriginalPrice(prices, this.usdRate, this.conversionRate)
      )
    }
  }
}
</script>
