<template lang="pug">
  .filters-area.is-flex
    .filters-area-item(v-for="filter in filterSource", :id="getId(filter.key)", :key="filter.key", :class="{active: selectedFilters.includes(filter.key)}")
      input(type="checkbox", :id="filter.key", @click="setFilter(filterName, filter.key)", :value="selectedFilters")
      label.is-flex(:for="filter.key")
        icon(width="30", height="30", :iconColor="getIconColor(filter.value)", :iconName="getIconName(filter.value)")
        span {{ $t(`listingPage.filters.metalTypesFilter.${camelCase(filter.value)}`) }}
</template>

<script>
import _baseArea from './_baseArea'
import { getIconName, getIconColor } from '~~/utils/utils'
export default {
  name: 'MainFilterAreaMetalsComponent',

  extends: _baseArea,

  data: () => ({
    filterName: 'metalTypes'
  }),

  methods: {
    getIconName,
    getIconColor
  }
}
</script>

<style lang="sass" scoped>
.filters-area
  padding: 10px 0
  justify-content: center
  flex-wrap: wrap
  margin-top: -15px
  .filters-area-item + .filters-area-item
    margin-left: 15px
  &-item
    cursor: pointer
    @include box-shadow(0 0 0 1px, $border-color)
    margin-top: 15px
    &.active
      @include box-shadow(0 0 0 1px, $dark-primary-color)
      color: $dark-primary-color
    > *
      cursor: pointer
    input
      display: none
    label
      align-items: center
      padding: 10px
      span
        margin-left: 10px
</style>
