<template lang="pug">
.email-view
  .email-view-content
    .email-view-content-title {{ $t('layout.header.contacts.email.title') }}
    .email-view-content-text {{ $t('layout.header.contacts.email.text') }}
  v-link.button.pink-color(:to="{ name: 'contact-us' }") {{ $t('layout.header.contacts.email.button') }}
</template>

<script>
export default {
  name: 'EmailViewComponent'
}
</script>

<style lang="sass" scoped>
.email-view
  &-content
    &-title
      font-weight: 700
    &-text
      margin-top: 15px
</style>
