<template lang="pug">
.hours-available
  .hours-available-title(v-if="showTitle")
    strong {{ $t('layout.header.contacts.availableHours') }}
  .hours-available-text(v-for="(option, index) in options", :key="index")
    strong(v-html="option.days")
    span {{ `${option.from} – ${option.to} ET` }}
</template>

<script>
export default {
  name: 'HoursAvailableComponent',

  props: {
    showTitle: {
      type: Boolean,
      default: true
    },
    options: {
      type: Array,
      default: () => [
        {
          days: 'Mon – Fri:',
          from: '10:30am',
          to: '9:00pm'
        },
        {
          days: 'Sat & Sun:',
          from: '1:00pm',
          to: '9:00pm'
        }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
.hours-available
  &-text
    &:first-child
      margin-top: 15px
    strong
      margin-right: 5px
    span
      color: $grey-text-color
</style>
