<template lang="pug">
.locations-view
  .locations-view-title {{ $t('layout.header.contacts.locations.title1') }}
  .locations-view-text {{ $t('layout.header.contacts.locations.text1') }}
  .locations-view-title {{ $t('layout.header.contacts.locations.title2') }}
  .locations-view-text {{ $t('layout.header.contacts.locations.text2') }}
</template>

<script>
export default {
  name: 'LocationsViewComponent'
}
</script>

<style lang="sass" scoped>
.locations-view
  & > *
    &:not(:first-child)
      margin-top: 15px
  &-title
    font-weight: 700
</style>
