<template lang="pug">
.phone-view-telephone.is-flex
  icon(iconName="flagUSA")
  span &nbsp{{ $t('layout.header.contacts.phone.usa') }}:&nbsp
  span {{ $t('layout.header.contacts.phone.usaPhone') }}
</template>

<script>
export default {
  name: 'PhoneSectionComponent'
}
</script>

<style lang="sass" scoped>
.phone-view-telephone
  justify-content: center
  align-items: center
</style>
