<template lang="pug">
.phone-view
  hours-available-component(:options="options")
  phone-section-component
  .phone-view-text-line1 {{ $t('layout.header.contacts.phone.line1') }}
  .phone-view-text-line2 {{ $t('layout.header.contacts.phone.line2') }}
</template>

<script>
import { mapState } from 'vuex'
import HoursAvailableComponent from './hoursAvailable'
import PhoneSectionComponent from './phoneSection'
export default {
  name: 'PhoneViewComponent',

  components: { PhoneSectionComponent, HoursAvailableComponent },

  computed: {
    ...mapState({
      workingHours: (state) => state.app.workingHours
    }),

    options() {
      return this.workingHours.phone
    }
  }
}
</script>
