<template lang="pug">
.showroom-view
  .showroom-view-text {{ $t('layout.header.contacts.showroom.text') }}
  hours-available-component(:options="options")
  v-link.button.pink-color(:to="{ name: 'showroom' }") {{ $t('layout.header.contacts.showroom.button') }}
</template>

<script>
import { mapState } from 'vuex'
import HoursAvailableComponent from './hoursAvailable'
export default {
  name: 'ShowroomViewComponent',
  components: { HoursAvailableComponent },

  computed: {
    ...mapState({
      workingHours: (state) => state.app.workingHours
    }),

    options() {
      return this.workingHours.showRoom
    }
  }
}
</script>
