<template lang="pug">
.side-search
  .side-search__input.is-flex
    input(type="text", v-model="searchField", placeholder="Search...", @click="onInputClickHandler")
    .side-search__input-right
      .loader(v-if="loading")
      .search-icon(v-else)
        icon.clear(v-if="sField", icon-name="close", icon-color='#8c7956', @click="onClearClickHandler")
        icon(v-else, icon-name="search", icon-color='#8c7956')
  fade-transition
    .side-search__dropdown(v-if="dropdownOpen", v-on-clickaway="onClickAwayHandler")
      .side-search__dropdown-items-wrapper(ref="wrapper")
        .side-search__dropdown-item-wrapper(v-for="item in sResults", :key="item.id")
          .side-search__dropdown-item
            v-link(:to="item.url")
              .side-search__dropdown-item-title(v-html="item.title")
              .side-search__dropdown-item-descr(v-html="item.descr")
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'
import debounce from 'lodash/debounce'
import { mapActions, mapState } from 'vuex'
import { FadeTransition } from 'vue2-transitions'
import perfectScrollbarMixin from '~~/mixins/perfectScrollbarMixin'

export default {
  name: 'SearchComponent',

  components: {
    FadeTransition
  },

  mixins: [clickaway, perfectScrollbarMixin],

  data: () => ({
    dropdownOpen: false,
    loading: false
  }),

  computed: {
    ...mapState({
      sField: (state) => state.wordpress.searchField,
      sResults: (state) => state.wordpress.searchResults
    }),

    searchField: {
      get() {
        return this.sField
      },
      set(text) {
        this.setSearchField(text)
        this.fetchSearchItems(text)
      }
    }
  },

  watch: {
    sResults(val) {
      if (val.length) {
        this.dropdownOpen = true
        this.addPerfectScroll()
        return
      }
      this.removePerfectScroll()
      this.dropdownOpen = false
    }
  },

  beforeDestroy() {
    this.$root.$off('routeChanged', this.onClickAwayHandler)
  },

  mounted() {
    this.$root.$on('routeChanged', this.onClickAwayHandler) // dirty hack for styles links from main menu
  },

  methods: {
    ...mapActions({
      setSearchField: 'wordpress/setSearchField',
      search: 'wordpress/search'
    }),

    addPerfectScroll() {
      this.$nextTick(() => {
        this.makePS(this.$refs.wrapper)
      })
    },

    removePerfectScroll() {
      this.destroyPS()
    },

    onClearClickHandler() {
      this.searchField = ''
    },

    onInputClickHandler() {
      if (this.sResults.length) {
        this.dropdownOpen = true
        this.addPerfectScroll()
      }
    },

    onClickAwayHandler() {
      this.removePerfectScroll()
      this.dropdownOpen = false
    },

    fetchSearchItems: debounce(async function(text) {
      this.loading = true
      await this.search(text)
      this.loading = false
    }, 500)
  }
}
</script>

<style lang="sass" scoped>
$gray-lightest: #f3f5f6

.side-search
  margin-bottom: .875rem
  position: relative
  &__input
    height: 42px
    background-color: $gray-lightest
    box-shadow: 0 0 0 0 #b5b5b5 inset
    border-radius: 50px
    align-items: center
    padding-left: 15px
    input
      border: none
      background-color: $gray-lightest
      height: 28px
      font-size: 15px
      font-style: italic
      width: 100%
  &__input-right
    width: 20px
    margin-right: 15px
    .search-icon
      .clear
        cursor: pointer
  &__dropdown
    position: absolute
    z-index: 1
    background-color: #ffffff
    padding: 8px 11px
    border: 1px solid $border-color
    border-radius: 10px
    box-shadow: 0 7px 30px rgba(60,77,109,.22),inset 0 -4px rgba(98,105,124,.1)
    top: 50px
    width: 100%
  &__dropdown-items-wrapper
    position: relative
    max-height: 360px
    overflow-y: auto
  &__dropdown-item-wrapper
    padding: 10px
    border-radius: 6px
    &:hover
      background-color: $gray-lightest
    &:not(:last-child)
      .side-search__dropdown-item
        position: relative
        &:after
          position: absolute
          z-index: 1
          content: ''
          height: 1px
          width: 100%
          background-color: $border-color
          bottom: -10px
  &__dropdown-item-title
    font-size: 16px

.loader
  color: $gold-color
  font-size: 20px
  width: 1em
  height: 1em
  border-radius: 50%
  position: relative
  text-indent: -9999em
  -webkit-animation: load4 1.3s infinite linear
  animation: load4 1.3s infinite linear
  transform: scale(0.15)

@-webkit-keyframes load4
  0%,
  100%
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0

  12.5%
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em

  25%
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em

  37.5%
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em

  50%
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em

  62.5%
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em

  75%
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0

  87.5%
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em

@keyframes load4
  0%,
  100%
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0

  12.5%
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em

  25%
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em

  37.5%
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em

  50%
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em

  62.5%
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em

  75%
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0

  87.5%
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em
</style>
