<template lang="pug">
section.our-story.lazy(data-lazy-function="loaded")
  .our-story-wrapper.container.is-flex
    .slide-image.is-flex
      v-image(src="ourStory/slide1@2x.jpg", :alt="$t('imagesAlt.ourStory')")
    .slide-content.is-flex
      .sub-title {{ $t('homePage.ourHistory.slide1.subTitle') }}
      h3.title {{ $t('homePage.ourHistory.slide1.title') }}
      .text {{ $t('homePage.ourHistory.slide1.text') }}
      v-link.read-more(:to="{ name: 'education-index-category-slug', params: { category: 'about-us', slug: 'our-history' }}") {{ $t('homePage.ourHistory.slide1.button') }}
</template>

<script>
export default {
  name: 'OurStoryComponent'
}
</script>

<style lang="sass" scoped>
@include background-image('our-story', 'ourStory/bg', 'jpg')
.our-story
  margin-top: 70px
  background-size: 2%
  background-repeat: repeat
  +mobile
    background-size: 8%
  &-wrapper
    padding: 35px 0
    +mobile
      flex-direction: column
    .slide-image
      width: 50%
      max-height: 420px
      justify-content: flex-end
      align-items: center
      padding-right: 18px
      aspect-ratio: 10 / 7
      +mobile
        width: 100%
        margin: auto
        padding: 0 18px
    .slide-content
      width: 50%
      justify-content: center
      flex-direction: column
      padding-left: 18px
      +mobile
        width: 100%
        padding: 0 18px
        margin-top: 35px
      .read-more
        margin-top: 15px
      .sub-title
        text-transform: uppercase
      .title
        text-align: left
        margin-top: 30px
        font-family: $lora
        font-style: italic
        font-weight: 400
        font-size: 36px
        +touch
          font-size: 30px
      .text
        font-size: 16px
        +ultrahd
          max-width: 670px
</style>
