<template lang="pug">
  modal.video-modal(v-show="mounted", transition="modal", ref="modal", :width="modalWidth", :max-width="965", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-header
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body.is-flex
      video-player(:options="options")
</template>

<script>
import modalMixin from '~~/mixins/modalMixin'
import VideoPlayer from '~~/components/Common/VideoPlayer'

export default {
  name: 'VideoModalComponent',

  components: {
    VideoPlayer
  },

  mixins: [modalMixin],

  props: {
    name: {
      type: String,
      required: true
    },
    options: {
      type: Object,
      default: () => ({})
    }
  },

  data: () => ({
    modalEvent: '',
    modalName: 'video-modal'
  }),

  computed: {
    modalWidth() {
      return this.options.width
    }
  },

  created() {
    this.modalEvent = this.name
    this.modalName = this.name
  }
}
</script>

<style lang="sass" scoped>
.modal-header
  position: relative
  height: 30px
  .close-button
    cursor: pointer
    position: absolute
    top: 10px
    right: 10px
    align-items: center
    text-transform: uppercase
    svg
      margin-left: 5px
      height: 15px
      width: 15px
.modal-body
  padding: 20px
  text-align: center
  justify-content: center
</style>
