<template lang="pug">
main.account-page.page
  page-header(:title="$t('account.orders.title')", :breadcrumbs="breadcrumbsLocal")
  .container.account-page__orders(data-v-important)
    button.sign-out.button.gold-color.light.is-hidden-tablet(@click="$auth.logout") {{ $t('account.dashboard.signOut') }}
    .account-page__orders--wrapper
      .order(v-for="order in orderHistory", :key="order.id")
        .order__header.is-flex
          .order__header--status {{ getOrderStatus(order.orderStatus) }}
          .order__header--wrapper.is-flex
            .order__header--wrapper-inner.is-flex
              .order__header--date {{ $t('account.orders.date', [orderDateLocal(order.date)]) }}
              .separator.is-hidden-mobile |
              .order__header--id {{ $t('account.orders.orderId', ['CO' + order.id]) }}
              .separator.is-hidden-mobile(v-if="order.trackOrder") |
              .order__header--track(v-if="order.trackOrder") {{ $t('account.orders.track', [order.trackOrder]) }}
            .order__header--wrapper-inner.is-flex.is-hidden-touch
              .order__header--price.is-flex
                span {{ $t('account.orders.totalPrice') }}&nbsp;
                price(:tooltip="false", :item="order")
                span &nbsp;({{ $tc('account.orders.itemsCount', order.itemDetails.length, { count: order.itemDetails.length }) }})
              .separator(v-if="order.invoice") |
              a.order__header--invoice(v-if="order.invoice", :href="order.invoice", target="_blank") {{ $t('account.orders.invoice') }}
        .order__body
          order-item(v-for="item in order.itemDetails", :key="item.id", :order-id="order.id", :item="item")
        .order__footer.is-hidden-desktop
          .order__footer--wrapper-inner.is-flex
            .order__footer--price.is-flex
              span {{ $t('account.orders.totalPrice') }}&nbsp;
              price(:tooltip="false", :item="order")
              span &nbsp;({{ $tc('account.orders.itemsCount', order.itemDetails.length, { count: order.itemDetails.length }) }})
            .separator(v-if="order.invoice") |
            a.order__footer--invoice(v-if="order.invoice", :href="order.invoice", target="_blank") {{ $t('account.orders.invoice') }}
  order-steps-modal
  back-to-top-component
</template>

<script>
import { mapState } from 'vuex'
import authRestrictedMixin from '~~/mixins/authRestrictedMixin'
import { orderDateLocal } from '~~/utils/formatters'
import _basePage from '~~/components/Page/_basePage'

export default {
  name: 'AccountPage',

  middleware: 'isAuthorized',

  components: {
    OrderStepsModal: () =>
      import('~~/components/Account/Orders/OrderStepsModal'),
    OrderItem: () => import('~~/components/Account/Orders/OrderItem'),
    PageHeader: () => import('~~/components/Account/PageHeader'),
    Price: () => import('~~/components/Common/Price')
  },

  extends: _basePage,

  mixins: [authRestrictedMixin],

  computed: {
    ...mapState({
      orderHistory: (state) => state.order.orderHistory
    }),

    breadcrumbsLocal() {
      return [
        {
          id: 'd8ac6bff-ce6d-4232-a68a-ab3131728f62',
          name: this.$t('breadcrumbs.home'),
          path: '/'
        },
        {
          id: 'a056f40a-6739-47b5-a620-b8f20d0d170d',
          name: this.$t('breadcrumbs.account.dashboard'),
          path: '/account'
        },
        {
          id: '95c14fc9-6ca5-4be2-af83-c870fd236f76',
          name: this.$t('breadcrumbs.account.orders')
        }
      ]
    }
  },

  async fetch(context) {
    context.store.dispatch('getMeta', context)
    await context.store.dispatch('order/fetchOrderHistory')
  },

  methods: {
    orderDateLocal,

    getOrderStatus(status) {
      return this.$t(`account.orders.status.${status}`)
    }
  }
}
</script>

<style lang="sass" scoped>
$padding: 34px

.account-page
  &__orders
    margin-top: $padding
    @include margin-bottom()
    .sign-out
      margin-top: 2rem
      width: 100%
      +mobile
        margin-top: unset
    .button
      width: 100%
      margin-bottom: 20px
  &__orders--wrapper
    .order + .order
      margin-top: 20px
    .order
      &__header,
      &__footer
        border: 1px solid $border-color
        padding: 9px 15px
        background-color: $third-bg-color
        align-items: center
      &__header
        +mobile
          flex-direction: column
          align-items: flex-start
      &__footer
        border-top: unset
        padding: 12px 15px
      &__header--wrapper
        padding-left: 20px
        justify-content: space-between
        flex: auto
        +mobile
          padding-left: unset
      &__header--wrapper-inner,
      &__footer--wrapper-inner
        .separator
          margin: 0 20px
          +mobile
            margin: 0 5px
      &__header--wrapper-inner
        +mobile
          flex-direction: column
      &__footer--wrapper-inner
        justify-content: flex-end
      &__header--status
        font-size: 18px
        font-weight: bold
        width: 140px
      &__header--price,
      &__footer--price
        font-weight: bold
        ::v-deep
          .item-price-text-current
            color: $default-font-color
          .item-price-text-old
            display: none
      &__header--invoice,
      &__footer--invoice
        text-transform: uppercase
        font-weight: 900
        color: $gold-color
      &__body
        border: 1px solid $border-color
        border-top: unset
        .order__body-item + .order__body-item
          border-top: 1px solid $border-color
</style>
