<template lang="pug">
  .order-item(:class="{preview: withPreviews, custom: !withPreviews}")
    .order-item__title.is-flex(v-if="designId")
      span {{ $t('order.item.designId') }} {{ designId }}
      price(:tooltip='true', :item='item', :showDiscount="true")
    item-wrapper(@to-details="$emit('to-details', item)", :no-price='!!designId', :no-id="true", :show-title='false', :no-image='!withPreviews', :is-custom='true', :item='item')
      .order-item-custom-stone
        component(@to-details="$emit('to-details', item)", :no-image="withPreviews", :no-price='true', :no-controls='true', :item='item.customStone', :is='stoneComponent')
      .order-item-custom-setting
        component(@to-details="$emit('to-details', item)", :no-image="withPreviews", :no-price='true', :no-controls='true', :item='item.customSetting', :is='settingComponent')
    warranty-item(v-if="item.customSetting.warranty", :warranty="item.customSetting.warranty")
</template>

<script>
import get from 'lodash/get'
import isEmpty from 'lodash/isEmpty'
import _orderItemBase from './_orderItemBase'

export default {
  name: 'CartCustomItem',

  components: {
    Stone: () => import('./StoneItem'),
    Pair: () => import('./PairItem'),
    SettingEarring: () => import('./SettingEarringItem'),
    SettingNecklace: () => import('./SettingNecklaceItem'),
    SettingPendant: () => import('./SettingPendantItem'),
    SettingRing: () => import('./SettingRingItem'),
    WarrantyItem: () => import('./WarrantyItem'),
    Price: () => import('~~/components/Common/Price')
  },

  extends: _orderItemBase,

  computed: {
    designId() {
      return this.item.customSetting.previewRequestID || null
    },

    withPreviews() {
      return !isEmpty(
        get(this.item, 'customSetting.previewRequestThumbnail', {})
      )
    },

    settingComponent() {
      return this.item.customSetting.category.replace('_', '')
    },

    stoneComponent() {
      return this.item.customStone.category
    }
  }
}
</script>

<style lang="sass" scoped>
.order-item
  &__title
    font-size: 16px
    font-weight: bold
    padding: 25px 15px 15px
    justify-content: space-between
    .product-price
      font-weight: normal
      ::v-deep
        .product-price__column
          > div
            text-align: left
            justify-content: left
  &.preview
    .order-item
      &-container
        padding-top: 0
  .order-item-custom-setting,
  .order-item-custom-stone
    ::v-deep
      .order-item
        border-bottom: none
        &-container
          padding-top: 0
        &-container,
        &-info
          padding-left: 0
      .order-item-custom-stone
        ::v-deep
          .order-item-container
            padding-bottom: 0
  &-price
    ::v-deep
      .item-price-text
        align-items: flex-start
  &.custom
    ::v-deep
      .order-item-info
        padding-left: 0
        .order-item
          +mobile
            padding-top: 0
</style>
