<template lang="pug">
  .order-item-container
    .order-item-wrapper
      .order-item-header-mobile.is-flex.is-hidden-tablet
        .order-item-header-column.is-flex
          .order-item-header-id-title-wrapper
            .order-item-id-title(v-if="!['Wax', 'Custom'].includes(item.category)")
              strong {{ $t('order.item.itemId') }}
              |  {{ item.id }}
          .order-item-price(v-if="!noPrice")
            price(:tooltip='true', :item='item', :showDiscount="true")
        .order-item-name(:class="{'wax-item': item.category === 'Wax'}", v-html="item.title")
      .order-item-data
        .order-item-image(v-if="!noImage", :class="{'wax-item': item.category === 'Wax'}")
          .order-item-image-wrapper(@click="$emit('to-details')", v-for="thumbnail in itemThumbnails", :key="thumbnail" )
            v-image(:src='thumbnail', :alt='item.title')
        .order-item-info
          .order-item-header-id-title-wrapper.is-hidden-mobile
            .order-item-id-title(v-if="!['Wax', 'Custom'].includes(item.category)")
              strong {{ $t('order.item.itemId') }}
              |  {{ item.id }}
            .order-item-name(:class="{'wax-item': item.category === 'Wax'}", v-html="item.title")
          slot
    .order-item-price.is-hidden-mobile(v-if="!noPrice")
      price(:tooltip='true', :item='item', :showDiscount="true")
</template>

<script>
import get from 'lodash/get'

export default {
  name: 'OrderItemWrapper',

  components: {
    Price: () => import('~~/components/Common/Price')
  },

  props: {
    item: {
      type: Object,
      required: true
    },

    noImage: {
      type: Boolean,
      default: false
    },

    noPrice: {
      type: Boolean,
      default: false
    },

    noId: {
      type: Boolean,
      default: false
    },

    isCustom: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    itemThumbnails() {
      if (this.item.category === 'Wax')
        return [`details/wax@2x.png`]
      if (this.item.category === 'Custom') {
        const preview = get(
          this.item,
          'customSetting.previewRequestThumbnail.small',
          null
        )
        if (preview) return [this.item.customStone.thumbnail.small, preview]
        return [
          this.item.customStone.thumbnail.small,
          this.item.customSetting.thumbnail.small
        ]
      }
      return [this.item.thumbnail.small]
    }
  }
}
</script>

<style lang="sass" scoped>
.order-item-controls > .remove
  cursor: pointer
.order-item-header-mobile
  flex-direction: column
  .order-item-header-column
    width: 100%
    .order-item-price
      margin-left: auto
.product-price
  ::v-deep
    .product-price__column
      > div
        text-align: left
        justify-content: left
</style>
