<template lang="pug">
  .order-item
    item-wrapper(@to-details="$emit('to-details', item)", :item='item', :no-image="noImage", :no-price='!!noPrice')
      .order-item-description
        .order-item-description-title {{ $t('order.item.details') }}
        .order-item-description-list
          ul.order-item-params-list
            li
              p {{ $t('order.item.stoneColor') }} {{ item.color }}
            li
              p {{ $t('order.item.stoneShape') }} {{ $t(`cart.item.stoneShapes.${camelCase(item.shape)}`) }}
            li
              p {{ $t('order.item.totalStoneWeight') }} {{ item.totalWeight | caratFormatter }}
            li
              p {{ $t('order.item.colorIntensity') }} {{ $t(`cart.item.stoneColorIntensity.${camelCase(item.colorIntensity)}`) }}
            li
              p {{ $t('order.item.stoneOrigin') }} {{ $t(`cart.item.stonesOrigins.${camelCase(item.origin)}`) }}
            li
              p {{ $t('order.item.dimensions') }} {{ item.dimensions }}
            li
              p {{ $t('order.item.enhancement') }} {{ item.enhancement }}
            li
              p {{ $t('order.item.stoneClarity') }} {{ $t(`cart.item.stoneClarity.${camelCase(item.clarity)}`) }}
            li
              p {{ $t('order.item.stoneCut') }} {{ $t(`cart.item.stoneCut.${camelCase(item.cut)}`) }}
</template>

<script>
import _orderItemBase from './_orderItemBase'
export default {
  name: 'OrderPairItem',

  extends: _orderItemBase
}
</script>
