<template lang="pug">
  .order-item
    item-wrapper(@to-details="$emit('to-details', item)", :item='item')
      .order-item-description
        .order-item-description-title
          | {{ $t('order.item.details') }}
        .order-item-description-list
          ul.order-item-params-list
            li
              p {{ $t('order.item.metalType') }} {{ $t(`cart.item.metalTypes.${camelCase(item.metalType)}`) }}
            li
              p {{ $t('order.item.stoneColor') }} {{ item.stoneColor }}
            li
              p {{ $t('order.item.stoneShape') }} {{ $t(`cart.item.stoneShapes.${camelCase(item.stoneShape)}`) }}
            li
              p {{ $t('order.item.centerStoneWeight') }} {{ item.centerStoneWeight | caratFormatter }}
            li(v-if='item.sideStoneWeight')
              p {{ $t('order.item.sideStoneWeight') }} {{ item.sideStoneWeight | caratFormatter }}
      .order-item-description
        .order-item-description-title
          | {{ $t('order.item.selectedOptions') }}
        .order-item-description-list
          ul.order-item-params-list
            li
              p {{ $t('order.item.ringSize') }} {{ item.ringSize }}
            li(v-if='item.engraving')
              p {{ $t('order.item.engraving') }} {{ item.engraving }}
    warranty-item.margin-top-0(v-if="item.warranty", :warranty="item.warranty")
</template>

<script>
import _orderItemBase from './_orderItemBase'
export default {
  name: 'OrderRingItem',

  components: {
    WarrantyItem: () => import('./WarrantyItem')
  },

  extends: _orderItemBase
}
</script>
