<template lang="pug">
  .order-item
    item-wrapper(@to-details="$emit('to-details', item)", :item='item', :no-image="noImage", :no-price='!!noPrice')
      .order-item-description
        .order-item-description-title {{ $t('order.item.details') }}
        .order-item-description-list
          ul.order-item-params-list
            li
              p {{ $t('order.item.metalType') }} {{ $t(`cart.item.metalTypes.${camelCase(item.metalType)}`) }}
            li(v-if="item.prongType")
              p {{ $t('order.item.prongs') }} {{ $t(`cart.item.prongTypes.${camelCase(item.prongType)}`) }}
            li(v-if="item.paves.length", v-for="pave in item.paves")
              p {{ $t('order.item.paveStones') }} {{ pave.totalWeight | caratPaveFormatter }}
      .order-item-description(v-if='item.engraving || item.vedicSetting')
        .order-item-description-title {{ $t('order.item.selectedOptions') }}
        .order-item-description-list
          ul.order-item-params-list
            li(v-if="item.vedicSetting")
              p {{ $t('order.item.vedicSetting') }} {{ $t('order.item.vedicSettingSelected') }}
            li(v-if="item.engraving")
              p {{ $t('order.item.engraving') }} {{ item.engraving }}
      .order-item-description(v-if='item.sideStones.length')
        .order-item-description-title {{ $t('order.item.sideStones') }}
        .order-item-description-list
          ul.order-item-sidestone-list
            li(v-for='(sidestone, i) in item.sideStones', :key='i')
              p {{ sidestone.position || sidestone.name }}
              p {{ $t('order.item.grade', [sidestone.grade]) }}
              p {{ $t('order.item.totalWeight') }} {{ sidestone.totalWeight | sideStonesCaratFormatter }}

</template>

<script>
import _orderItemBase from './_orderItemBase'
import { caratPaveFormatter } from '~~/utils/formatters'
export default {
  name: 'OrderSettingEarringItem',

  filters: {
    caratPaveFormatter
  },

  extends: _orderItemBase
}
</script>
