<template lang="pug">
  .order-item__warranty.is-flex
    .order-item__warranty-info.is-flex
      img(src="/img/extend/extend_logo_shield_small.png", alt="Extend warranty")
      .order-item__warranty-info-text.is-flex
        strong.order-item__warranty-title {{ warranty.extendPlanName }}.&nbsp;
        span {{ $t('extendWarranty.term', [ getExtendLifeTime(warranty) ]) }}
        .order-item__warranty-price.is-flex.is-hidden-tablet
          price(:tooltip="false", :item="warranty")
    .order-item__warranty-price.is-flex.is-hidden-mobile
      price(:item="warranty")
</template>

<script>
export default {
  name: 'ExtendWarrantyItem',

  components: {
    Price: () => import('~~/components/Common/Price')
  },

  props: {
    warranty: {
      type: Object,
      required: true
    }
  },

  methods: {
    getExtendLifeTime(plan) {
      if (!plan) return null
      const lifetime = plan.term / 12
      if (lifetime > 5) return this.$t('extendWarranty.lifetime')
      return this.$t('extendWarranty.years', [lifetime])
    }
  }
}
</script>

<style lang="sass" scoped>
.order-item
  &__warranty
    height: 60px
    padding-left: 150px
    background-color: $fourth-bg-color
    margin-top: -25px
    margin-bottom: 25px
    +mobile
      margin: unset
      height: unset
      padding-left: 15px
  &__warranty-info
    width: 100%
    align-items: center
    img
      max-height: 50px
      margin-right: 15px
  &__warranty-info-text
    +mobile
      flex-direction: column
  &__warranty-price
    padding-right: 15px
    align-items: center
</style>
