<template lang="pug">
  .order-item
    item-wrapper(@to-details="$emit('to-details', item)", :item='item')
      .order-item-description
        .order-item-description-title {{ $t('order.item.details') }}
        .order-item-description-list
          ul.order-item-params-list
            li(v-if="designId")
              p {{ $t('order.item.designId') }} {{ designId }}
            li
              p {{ $t('order.item.stoneId') }} {{ item.stoneId }}
            li
              p {{ $t('order.item.settingId') }} {{ item.settingId }}
            li
              p {{ $t('order.item.ringSize') }} {{ item.ringSize }}
      .order-item-description(v-if='item.engraving')
        .order-item-description-title {{ $t('order.item.selectedOptions') }}
        .order-item-description-list
          ul.order-item-params-list
            li
              p {{ $t('order.item.engraving') }} {{ item.engraving }}
</template>

<script>
import _orderItemBase from './_orderItemBase'
export default {
  name: 'OrderWaxItem',

  extends: _orderItemBase,

  computed: {
    designId() {
      return this.item.previewRequestID || null
    }
  }
}
</script>
