<template lang="pug">
  .order-item
    item-wrapper(@to-details="$emit('to-details', item)", :item='item')
      .order-item-description
        .order-item-description-title {{ $t('order.item.details') }}
        .order-item-description-list
          ul.order-item-params-list
            li
              p {{ $t('order.item.metalType') }} {{ $t(`cart.item.metalTypes.${camelCase(item.metalType)}`) }}
      .order-item-description
        .order-item-description-title {{ $t('order.item.selectedOptions') }}
        .order-item-description-list
          ul.order-item-params-list
            li
              p {{ $t('order.item.ringSize') }} {{ item.ringSize }}
            li
              p {{ $t('order.item.ringWidth', [item.ringWidth]) }}
            li(v-if='item.engraving')
              p {{ $t('order.item.engraving') }} {{ item.engraving }}
            li
              p {{ $t('order.item.finish') }} {{ item.finishStyle }}
      .order-item-description(v-if='item.sideStones.length')
        .order-item-description-title {{ $t('order.item.sideStones') }}
        .order-item-description-list
          ul.order-item-sidestone-list
            li(v-for='(sidestone, i) in item.sideStones', :key='i')
              p {{ sidestone.position || sidestone.name }}
              p {{ $t('order.item.grade', [sidestone.grade]) }}
              p {{ $t('order.item.eachStoneWeight') }} {{ sidestone.weight | sideStonesCaratFormatter }}
    warranty-item.margin-top-0(v-if="item.warranty", :warranty="item.warranty")
</template>

<script>
import _orderItemBase from './_orderItemBase'

export default {
  name: 'OrderWeddingBandItem',

  components: {
    WarrantyItem: () => import('./WarrantyItem')
  },

  extends: _orderItemBase
}
</script>
