<template lang="pug">
section.products-list
  .container
    controls-component
    prefiltered-items(:query="prefilterQuery", v-if="showPrefilteredNotice")
    items-list-component
  pagination-component(v-if="totalPagesCount > 1", :key="listView")
  .container
    quick-view
</template>

<script>
import isEmpty from 'lodash/isEmpty'
import { listsForPrefilter } from '~~/utils/definitions/defaults'
import { query } from '~~/utils/utils'

export default {
  name: 'ProductsListComponent',

  components: {
    PaginationComponent: () => import('~~/components/ListingPage/Pagination'),
    PrefilteredItems: () => import('~~/components/ListingPage/PrefilteredItems'),
    ItemsListComponent: () => import('../ItemsList/ItemsList'),
    ControlsComponent: () => import('../Controls/Controls'),
    QuickView: () => import('../QuickView')
  },

  computed: {
    type() {
      return this.$store.getters.typeList
    },

    listView() {
      return this.$store.state[this.type].listView
    },

    totalPagesCount() {
      return this.$store.state[this.type].totalPagesCount
    },

    prefilterQuery() {
      return query(this.$store, this.$route)
    },

    showPrefilteredNotice() {
      if (listsForPrefilter.includes(this.$h.normRouteName(this.$route.name)))
        return !isEmpty(this.prefilterQuery)
      return false
    }
  }
}
</script>
