<template lang="pug">
  .simple-view.is-flex.lazy(data-lazy-function="loaded", :class="item.class")
    .item-example.lazy(data-lazy-function="loaded", :class="[`items-${item.class}`, this.itemHover]")
    v-link.sub-menu-item(@click.native="$emit('collapse')", :to="i.to", :type="i.type", @mouseover.native="onHoverIn(i.itemType)", v-for="i in item.items", :key="i.id") {{ i.text }}
</template>

<script>
import simple from '~~/components/Layout/MainMenu/MainMenuDesktop/Views/simple.vue'

export default {
  name: 'SimpleComponent',

  extends: simple,

  data: () => ({
    itemHover: ''
  }),

  methods: {
    onHoverIn(itemType) {
      this.itemHover = `${itemType}-item`
    },

    onHoverOut() {
      this.itemHover = 'items-jewelries'
    }
  }
}
</script>

<style lang="sass" scoped>
@include background-image-after('simple-view', 'mainMenu/bg', 'jpg')
@include background-image('items-rings', 'mainMenu/rings', 'png')
@include background-image('items-jewelries', 'mainMenu/jewelries', 'png')
@include background-image('items-stones', 'mainMenu/stones', 'png')
@include background-image('items-origin', 'mainMenu/origin', 'png')
@include background-image('items-settings', 'mainMenu/settings', 'png')

@include background-image('ring-item', 'mainMenu/jewelry/ring', 'png')
@include background-image('earrings-item', 'mainMenu/jewelry/earrings', 'png')
@include background-image('pendant-item', 'mainMenu/jewelry/pendant', 'png')
@include background-image('bracelet-item', 'mainMenu/jewelry/bracelet', 'png')
@include background-image('plain-band-item', 'mainMenu/jewelry/plain-band', 'png')
@include background-image('wedding-band-item', 'mainMenu/jewelry/wedding-band', 'png')
.simple-view
  position: relative
  min-height: 350px
  padding: 45px
  flex-direction: column
  font-size: 18px
  font-weight: 700
  z-index: 1
  background-color: #fff
  @include box-shadow(0 0 5px 0, rgba(0,0,0,0.2))
  a
    z-index: 1
  &:after
    content: ''
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-size: 125%
    background-repeat: no-repeat
    background-position: top left
    z-index: -1
  .item-example
    //transition: background-image 0.2s ease-in-out
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-size: 45%
    background-repeat: no-repeat
    background-position-y: center
    background-position-x: right
    &.items-jewelries
      background-position-y: top
      background-size: 55%
      &.ring-item,
      &.earrings-item,
      &.bracelet-item,
      &.wedding-band-item
        background-position-y: center
        background-position-x: 90%
        background-size: 45%
      &.plain-band-item
        background-position-y: center
        background-position-x: 90%
        background-size: 40%
    &.items-origin
      background-position-y: center
      background-size: 40%
      background-position-x: calc(100% - 20px)
  .sub-menu-item
    color: $default-font-color
    &:not(:last-child)
      margin-bottom: 20px
</style>
