<template lang="pug">
.ring-stone
  .ring-setting.lazy(data-lazy-function="loaded")
    .setting-part.lazy(data-lazy-function="loaded", ref="anchor")
  .stone(ref="stone")
    v-image(:src="`customJewelry/stone/${currentFrame}@2x.png`", :lazy="false")
</template>

<script>
import StoneAnimation from './StoneAnimation'

const framesCount = 7

export default {
  name: 'RingStoneComponent',

  data: () => ({
    animation: null,
    currentFrame: 1
  }),

  beforeDestroy() {
    if (this.animation) {
      this.animation.destroy()
    }
    this.$refs.stone.removeEventListener(
      'frame',
      this.onFrameChangeHandler,
      false
    )
  },

  mounted() {
    const options = {
      start: 30, // percents from top
      end: 20, // percents from bottom
      framesCount
    }
    this.animation = new StoneAnimation(
      this.$refs.stone,
      this.$refs.anchor,
      options
    )

    this.animation.init()
    this.$refs.stone.addEventListener('frame', this.onFrameChangeHandler, false)
  },

  methods: {
    onFrameChangeHandler(e) {
      this.currentFrame = e.detail
      if (window.lazyUpdate) window.lazyUpdate()
    }
  }
}
</script>

<style lang="sass" scoped>
@include background-image('ring-setting', 'customJewelry/ring-setting', 'jpg')
@include background-image('setting-part', 'customJewelry/setting-part', 'png')
//@include background-image('stone', 'customJewelry/stone', 'png')
.ring-stone
  height: 100%
  position: relative
  .ring-setting
    position: absolute
    left: 0
    right: 0
    /*position: relative*/
    margin: auto
    top: 40%
    width: 216px
    height: 233px
    background-size: contain
    background-repeat: no-repeat
    background-position: bottom
    +tablet
      &:before
        content: ''
        position: absolute
        top: 100%
        left: 0
        width: inherit
        height: inherit
        opacity: 0.25
        background-size: contain
        background-image: inherit
        -webkit-transform: rotateX(180deg)
        -moz-transform: rotateX(180deg)
        -ms-transform: rotateX(180deg)
        -o-transform: rotateX(180deg)
        transform: rotateX(180deg)
        -webkit-box-shadow: inset 0 150px 50px -12px #fff
        -moz-box-shadow: inset 0 150px 50px -12px #fff
        -ms-box-shadow: inset 0 150px 50px -12px #fff
        -o-box-shadow: inset 0 150px 50px -12px #fff
        box-shadow: inset 0 150px 50px -12px #fff
    .setting-part
      z-index: 2
      position: absolute
      margin: auto
      top: 46px
      left: 9px
      width: 216px
      height: 65px
      background-size: contain
      background-repeat: no-repeat
      background-position-x: center
  .stone
    transition: all 1s ease 0s
    z-index: 1
    position: absolute
    margin: auto
    top: 95px
    left: 0
    right: 0
    width: 104px
    height: 77px
    background-size: contain
    background-repeat: no-repeat
    +mobile
      top: 50px
</style>
