<script>
import index from '~~/pages/listing-page/pairs/index.vue'
import FetchListing from '~~/utils/fetch/listing'

const type = 'stonePairsList'

export default {
  name: 'StonesPairsListingPage',

  extends: index,

  data: () => ({
    type
  }),

  async fetch(context) {
    try {
      const items = new FetchListing({ context, type, force: true })
      await items.fetch()
    } catch (e) {
      if (context.$sentry && context.$sentry.captureException) {
        context.$sentry.captureException(e)
      } else {
        console.log(e)
      }
    }
  },

  computed: {
    breadcrumbs() {
      const last = {
        id: '388c7bc2-24d6-43b7-8068-aea821186f91',
        name: this.$t('breadcrumbs.listings.pair')
      }
      return [this.breadcrumbsItems.home, last]
    }
  }
}
</script>

<style lang="sass" src="~~/assets/styles/pages/listingPage.sass"></style>
