<template lang="pug">
.controls
  .controls__back
    button.button.continue-shopping(@click="onContinueShoppingClick")
      i.material-icons keyboard_arrow_left
      | {{ goBackButtonText }}
  .controls__head.is-flex
    .controls__title {{ $t('cart.screens.securePayment') }}
    controls-sign-in(v-if="showSignIn")
</template>

<script>
export default {
  name: 'ControlsComponent',

  components: {
    ControlsSignIn: () =>
      import('~~/components/Cart/SecurePayment/Controls/ControlsSignIn')
  },

  computed: {
    goBackButtonText() {
      if (this.$route.name.includes('secure-payment'))
        return this.$t('cart.cartControls.backToCart')
      return this.$t('cart.cartControls.backToAddress')
    },
    showSignIn() {
      return !this.$route.name.includes('payment-order')
    }
  },

  methods: {
    onContinueShoppingClick() {
      const path = this.$route.name.includes('secure-payment')
        ? '/cart/'
        : '/cart/secure-payment/'
      this.$router.push(this.localePath({ path }))
    }
  }
}
</script>

<style lang="sass" scoped>
.controls
  &__head
    justify-content: space-between
    align-items: center
    margin-top: 15px
    +touch
      flex-direction: column
      align-items: flex-start
      .button-wrapper
        width: 100%
  &__title
    font-size: 30px
    font-style: italic
    font-family: $lora
  &__back
    .continue-shopping
      padding: 0
      border: unset
      background-color: unset
      margin-left: -5px
      text-transform: unset
      font-weight: normal
      font-size: 12px
</style>
