<template lang="pug">
  .button-wrapper.is-flex(:class="{'signed-in': $store.state.auth.loggedIn}")
    v-link.button.gold-color.light(v-if="!$store.state.auth.loggedIn", :to="{name: 'auth'}") {{ $t('cart.cartControls.signIn') }}
    .user-info(v-else)
      .user-info-title {{ $t('cart.cartControls.signInAs') }}
      .user-info-user.has-text-weight-semibold {{ $store.state.auth.user.email || $t('cart.cartControls.guest') }}
</template>

<script>
export default {
  name: 'ControlsSignIn'
}
</script>

<style lang="sass" scoped>
.button-wrapper
  &.signed-in
    flex-direction: row-reverse
    > * + *
      margin-right: 35px
      +touch
        margin-left: unset
  .button
    width: 210px
    +touch
      width: 100%
      margin-top: 12px
  .button + .button
    margin-left: 35px
    +touch
      margin-left: unset
</style>
