<template lang="pug">
  .buttons-wrapper.is-flex-tablet-only
    v-link.button.gold-color(:disabled="blockControls", :to="detailsRoute") {{ $t('account.recommendations.viewItem') }}
    button.button.gold-color.light(:disabled="blockControls", @click="onAddToWishList") {{ wishlistState ? $t('account.recommendations.removeFavorites') : $t('account.recommendations.favorites') }}
    button.button.gold-color.light(:disabled="blockControls", @click="onAddToCompareList") {{ compareListState ? $t('account.recommendations.removeCompare') : $t('account.recommendations.compare') }}
</template>

<script>
import addItemToLists from '~~/components/ListingPage/Mixins/addItemToLists'
import { getDetailsPath } from '~~/utils/utils'

export default {
  name: 'ButtonsList',

  mixins: [addItemToLists],

  props: {
    item: {
      type: Object,
      required: true
    }
  },

  computed: {
    detailsRoute() {
      const query = this.$h.flushQuery(this.$route.query)

      return {
        path: getDetailsPath(this.item),
        query
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.buttons-wrapper
  .button
    width: 100%
    +tablet-only
      width: 33%
  .button + .button
    margin-top: 10px
    +tablet-only
      margin-top: unset
      margin-left: 20px
    +mobile
      margin-top: 20px
</style>
