<template lang="pug">
  .viewer-wrapper(v-observe-visibility="{callback: init3dViewer, once: true}")
    .menu
      .menu-item(:class='{ active: item.metal === metal }', v-for='item in availableMetals', @click='onMetalSelectHandler(item.metal)', :key='item.id')
        | {{ item.title }}
      .menu-item.reset(@click='onResetHandler')
        | {{ $t('detailsPage.reset') }}
    .viewer
      canvas#ivwindow3d(:key='canvasKey')
</template>

<script>
/* global ivwindow3d, material3d, mat4, vec3 */

import { settingsItems } from '~~/utils/definitions/defaults'
import { guid } from '~~/utils/utils'

const host = process.env.isDev
  ? 'https://qa-images.thenaturalsapphirecompany.com'
  : 'https://images.thenaturalsapphirecompany.com'

function ivRingMouseDown(event, bTouch) {
  this.doneRotate()
  this.waitCount = 0
  ivwindow3d.prototype.OnMouseDown.call(this, event, bTouch)
}

export default {
  name: 'SettingsViewerComponent',

  props: {
    item: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    canvasKey: '1',
    canvas: null,
    view3d: null,
    metal: '',
    file: '',
    folder: '',
    materials: [
      {
        name: 'pt',
        diffuse: { color: [0.572549, 0.572549, 0.560784] },
        specular: { color: [0.42353, 0.429412, 0.394117] },
        reflection: { texture: 'white_.jpg', type: 'cube', amount: 0.4 },
        phong: 32
      },
      {
        name: 'wy18',
        diffuse: { color: [0.737255, 0.721569, 0.490196] },
        specular: { color: [1.23529, 1.20588, 0.735294] },
        reflection: { texture: 'green_.jpg', type: 'cube', amount: 0.4 },
        phong: 32
      },
      {
        name: 'y18',
        diffuse: { color: [0.737255, 0.721569, 0.352941] },
        specular: { color: [1.23529, 1.20588, 0.735294] },
        reflection: { texture: 'green_.jpg', type: 'cube', amount: 0.4 },
        phong: 32
      },
      {
        name: 'w18',
        diffuse: { color: [1, 1, 1] },
        specular: { color: [1, 1, 1] },
        reflection: { texture: 'white_.jpg', type: 'cube', amount: 0.4 },
        phong: 20
      },
      {
        name: 'wy14',
        diffuse: { color: [0.737255, 0.721569, 0.490196] },
        specular: { color: [1.23529, 1.20588, 0.735294] },
        reflection: { texture: 'green_.jpg', type: 'cube', amount: 0.4 },
        phong: 32
      },
      {
        name: 'y14',
        diffuse: { color: [0.737255, 0.721569, 0.352941] },
        specular: { color: [1.23529, 1.20588, 0.735294] },
        reflection: { texture: 'green_.jpg', type: 'cube', amount: 0.4 },
        phong: 32
      },
      {
        name: 'w14',
        diffuse: { color: [1, 1, 1] },
        specular: { color: [1, 1, 1] },
        reflection: { texture: 'white_.jpg', type: 'cube', amount: 0.4 },
        phong: 20
      },
      {
        name: 'r14',
        diffuse: { color: [0.9725, 0.8117, 0.7607] },
        specular: { color: [1.0, 0.8990196078, 0.8049019608] },
        reflection: { texture: 'rose_.jpg', type: 'cube', amount: 0.4 },
        phong: 20
      },
      {
        name: 'r18',
        diffuse: { color: [0.9725, 0.8117, 0.7607] },
        specular: { color: [1.0, 0.8990196078, 0.8049019608] },
        reflection: { texture: 'rose_.jpg', type: 'cube', amount: 0.4 },
        phong: 20
      }
    ]
  }),

  computed: {
    availableMetals() {
      return [
        {
          title: this.$t('detailsPage.wireframe'),
          metal: 'wire'
        },
        {
          title: this.$t('detailsPage.metalTypesNames.18KWhiteGold'),
          metal: 'w18'
        },
        {
          title: this.$t('detailsPage.metalTypesNames.18KYellowGold'),
          metal: 'wy18'
        },
        {
          title: this.$t('detailsPage.metalTypesNames.platinum950'),
          metal: 'pt'
        }
      ].map((m) => {
        m.id = guid()
        return m
      })
    }
  },

  beforeDestroy() {
    this.view3d = null
    this.canvas = null
    window.removeEventListener('resize', this.init3d)
  },

  methods: {
    async init3dViewer(isVisible) {
      if (isVisible) {
        await this.$iv3d.insert()
        window.addEventListener('resize', this.updateCanvas, false)
        this.$nextTick(() => this.init3d())
      }
    },

    updateCanvas() {
      if (this.canvas) this.resizeCanvas()
      if (this.view3d) {
        this.canvasKey = guid()
        this.$nextTick(() => this.init3d())
      }
    },

    resizeCanvas() {
      if (!this.canvas) return
      const aspect = window.innerWidth / window.innerHeight
      this.canvas.width = Math.round(this.canvas.parentElement.clientWidth)
      this.canvas.height = Math.round(this.canvas.width / aspect)
    },

    init3d() {
      this.canvas = document.getElementById('ivwindow3d')
      this.resizeCanvas()
      if (!settingsItems.includes(this.item.category) || !this.canvas) return
      const id = this.item.id.toLowerCase()
      const folder = `${host}/setting/${id}/3dviewer/`
      const file = `${id}.json`
      this.metal = this.item.metalTypeCode.toLowerCase()
      this.extendPrototypes()
      this.ivCommonInit3d(folder, file, this.metal)
    },

    onResetHandler() {
      this.view3d.setDefView()
      this.view3d.initRotate()
    },

    onMetalSelectHandler(metal) {
      this.metal = metal
      this.ivSetSetMaterial(this.metal)
    },

    ivCommonInit3d(folder, file, metal) {
      // eslint-disable-next-line new-cap
      this.view3d = new ivwindow3d(
        this.canvas,
        file,
        '#ffffff',
        folder,
        '/img/'
      )
      this.view3d.onDataReady = this.ivDataReady
      // eslint-disable-next-line new-cap
      const mtl = new material3d(this.view3d.space)
      let c = mtl.newChannel('emissive')
      c.color = [0.0, 0.0, 0.0]
      c = mtl.newChannel('opacity')
      c.amount = 0.1
      this.view3d.ringWireframe = this.view3d.space.rmodes.length
      this.view3d.space.rmodes.push({ f: false, n: false, e: true, mtl })
      this.view3d.ringMtl = metal
    },

    ivDataReady(space) {
      this.ivSetSetMaterialImp(this.view3d.ringMtl)
      let k = 2.1
      const org = [0.0765372, -0.985218, 0.14467]
      const up = [0.099929, -0.954622, 0.340666]
      vec3.subtract(up, org)
      vec3.scale(org, k)
      vec3.add(up, org)

      space.view = {
        org,
        up,
        target: [0, 0, 0],
        fov: 30,
        far: 66.763,
        near: 3.33815
      }
      this.view3d.setDefView()
      const lights = space.lights
      k = 1.1
      for (let i = 0; i < lights.length; i++) {
        const l = lights[i]
        l.color[0] *= k
        l.color[1] *= k
        l.color[2] *= k
      }
      this.view3d.initRotate()
      this.view3d.OnMouseDown = ivRingMouseDown
      this.$emit('load')
    },

    setNodeMaterial(n, mtl) {
      if (!n) return
      n.material = mtl
      n = n.firstChild
      while (n) {
        this.setNodeMaterial(n, mtl)
        n = n.next
      }
    },

    ivSetSetMaterialImp(name) {
      const space = this.view3d.space
      let rm = space.rmode
      if (name === 'wire') {
        rm = this.view3d.ringWireframe
      } else {
        rm = 0
        let mtl = space.getMaterial(name)
        if (!mtl) {
          // eslint-disable-next-line new-cap
          mtl = new material3d(space)
          mtl.name = name
          space.materials.push(mtl)
          for (let i = 0; i < this.materials.length; i++) {
            const m = this.materials[i]
            if (m.name === name) {
              mtl.load(m)
              break
            }
          }
        }
        this.setNodeMaterial(space.root, mtl)
      }
      if (space.rmode !== rm) {
        space.rmode = rm
      }
      space.invalidate()
    },

    ivSetSetMaterial(name) {
      this.view3d.ringMtl = name
      this.ivSetSetMaterialImp(name)
    },

    extendPrototypes() {
      mat4.setRotateZ = function (a, rad) {
        const s = Math.sin(rad)
        const c = Math.cos(rad)
        a[0] = c
        a[1] = s
        a[4] = -s
        a[5] = c
        return a
      }

      ivwindow3d.prototype.rotateScene = function () {
        let a = this.ramount
        if (a) {
          const tm = mat4.create()
          mat4.identity(tm)
          mat4.rotateAxisOrg(tm, this.viewTo, [0, 0, 1], a)
          mat4.mulPoint(tm, this.viewFrom)
          mat4.mulPoint(tm, this.viewUp)
          this.invalidate()
        }
        a += 0.00004
        const max = 0.006
        if (a > max) {
          a = max
        }
        if (a !== this.ramount) {
          this.ramount = a
        }
      }

      ivwindow3d.prototype.doneRotate = function () {
        if (this.rtimer) {
          clearInterval(this.rtimer)
          delete this.rtimer
          if (!this.wtimer) {
            this.waitCount = 0
            this.wtimer = setInterval(this.waitForRotation.bind(this), 500)
          }
        }
      }

      ivwindow3d.prototype.waitForRotation = function () {
        // eslint-disable-next-line camelcase,no-undef
        if (g_mouseDownWindow) {
          this.waitCount = 0
          return
        }
        if (this.waitCount > 1) {
          this.initRotate()
        } else {
          this.waitCount++
        }
      }

      ivwindow3d.prototype.initRotate = function () {
        if (this.rtimer !== undefined) return
        if (this.wtimer) {
          clearInterval(this.wtimer)
          delete this.wtimer
        }
        this.ramount = 0
        this.rtimer = setInterval(this.rotateScene.bind(this), 20)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.viewer-wrapper
  width: 100%
  padding: 30px 50px
  display: flex
  flex-direction: column
  .viewer
    width: 100%
    height: 100%
    display: flex
    line-height: 100%
    overflow: hidden
    font-size: 12.73px
    font-weight: normal
    margin-left: auto
    margin-right: auto
    text-align: center
    canvas
      margin: auto
  .menu
    display: flex
    justify-content: space-around
    margin-bottom: 10px
    flex-wrap: wrap
    &-item
      cursor: pointer
      padding: 5px 10px
      &.reset
        font-weight: 900
      &.active
        padding: 4px 9px
        border: 1px solid $dark-primary-color
</style>
