<template lang="pug">
  .table-component.ag-theme-balham(:class="{'table-server': showSSR, 'table-client': !showSSR}", ref="table")
    .table-ssr(v-if="showSSR")
      .table-ssr__body
        .table-ssr__body-row(v-for="item in items", :key="item.paramName")
          .table-ssr__body-cell.param-name-cell
            .param-name.is-flex
              span {{ item.paramName }}
              i.material-icons(v-if="item.learnMore", @click="onInfoClick(item)") help
          .table-ssr__body-cell(v-for="(value, index) in item.values", :key="index", :class="{'last-cell': index === item.values.length - 1}")
            .param-value(v-if="typeof value === 'object'")
              .table-ssr__body-cell-content
                .table-ssr__body-cell-content-row(v-for="(val, key) in value", :key="key")
                  .table-ssr__body-cell-content-row-value {{ val }}
            .param-value.is-flex(v-else)
              .table-ssr__body-cell-content(v-html="value")
</template>

<script>
import nameCell from './CellViews/nameCell.js'
import valueCell from './CellViews/valueCell.js'
import customTooltip from './customTooltip.js'

export default {
  name: 'TableComponent',

  props: {
    items: {
      type: Array,
      default: () => []
    }
  },

  data: () => ({
    showSSR: true
  }),
  computed: {
    rowData() {
      return this.items.map((item) => {
        const dataObj = {
          paramName: item.paramName,
          learnMore: item.learnMore,
          link: item.link
        }
        item.values.forEach((value, index) => {
          dataObj[`paramValue${index}`] = value
          if (item.tooltip && item.tooltip[index])
            dataObj.tooltip = item.tooltip[index]
        })
        return dataObj
      })
    },
    columnDefs() {
      const defs = [
        {
          field: 'paramName',
          width: 245,
          maxWidth: 245,
          minWidth: 245,
          cellRenderer: nameCell,
          cellRendererParams: {
            context: this
          },
          pinned: 'left'
        }
      ]
      for (let i = 0; i < this.items[0].values.length; i++) {
        const colDef = {
          field: `paramValue${i}`,
          tooltipField: `paramValue${i}`,
          wrapText: true,
          // maxWidth: i + 1 === this.items[0].values.length ? null : 340,
          minWidth: 340,
          autoHeight: true,
          cellRenderer: valueCell
        }
        defs.push(colDef)
      }
      return defs
    },

    gridOptions() {
      return {
        defaultColDef: {
          resizable: false,
          suppressMovable: true,
          tooltipComponent: customTooltip
        },
        tooltipShowDelay: 100,
        suppressCellSelection: true,
        columnDefs: this.columnDefs,
        rowData: this.rowData,
        domLayout: 'autoHeight',
        onGridReady: this.onGridReady
      }
    }
  },

  mounted() {
    this.$refs.table.style.height = this.$refs.table.clientHeight + 'px'
    if (this.$device.isDesktopOrTablet) this.mountTable()
  },

  methods: {
    async mountTable() {
      this.table = await this.$agGrid.insert(this.$refs.table, this.gridOptions)
    },

    openInNewTab(url) {
      const win = window.open(url, '_blank')
      win.focus()
    },

    onInfoClick(data) {
      if (data.link) {
        this.openInNewTab(data.link)
        return
      }
      this.$root.$emit('details-modal-param', data.learnMore)
    },

    onGridReady(event) {
      this.showSSR = false
      event.api.sizeColumnsToFit()
      setTimeout(() => {
        this.$refs.table.style.height = null
      }, 500)
    }
  }
}
</script>

<style lang="sass" scoped>
.table-component
  overflow: hidden
.table-server
  .table-ssr
    overflow-x: auto
    &__body
      display: table
      height: 100%
      width: 100%
      table-layout: fixed
    &__body-row
      display: table-row
      &:nth-child(odd)
        .table-ssr__body-cell
          background-color: $third-bg-color
    &__body-cell
      display: table-cell
      vertical-align: middle
      width: 340px
      &.param-name-cell
        width: 160px
        +mobile
          width: 200px
      .param-value
        align-items: center
        padding: 14px 54px 14px 108px
        width: 100%
        min-width: 340px
        font-weight: 900
        font-size: 18px
      .param-name
        align-items: center
        padding: 14px 70px 14px 25px
        width: 100%
        height: 100%
        max-width: 250px
        border-right: 8px solid white
        white-space: nowrap
        text-transform: uppercase
        color: grey
        font-weight: 900
        font-size: 13px
        i
          cursor: pointer
          color: $gold-color
          font-size: 1.2rem
          margin-left: 10px
</style>

<style lang="sass" scoped>
.table-client
  ::v-deep
    .custom-tooltip
      width: 150px
      font-size: 14px
      font-weight: normal
      line-height: 24px
      border-radius: 6px
      overflow: hidden
      position: absolute
      top: 0
      box-shadow: 0 1px 10px -2px rgba(0,0,0,.25)
      -webkit-box-shadow: 0 1px 10px -2px rgba(0,0,0,.25)
      -moz-box-shadow: 0 1px 10px -2px rgba(0,0,0,.25)
      display: flex
      align-items: center
      justify-content: center
      .ag-tooltip-hiding
        opacity: 0
        transition: unset
      p
        margin: 5px
        white-space: nowrap
        &:first-of-type
          font-weight: bold
    .ag-header
      display: none
    .ag-row
      &.ag-row-hover
        background-color: $table-bg-hover !important
        z-index: 1
      &:nth-child(odd)
        background-color: $third-bg-color
    .ag-cell
      > *
        height: 100%
      .param-value
        padding: 14px 54px 14px 108px
        font-weight: 900
        font-size: 18px
      .param-name
        align-items: center
        height: 100%
        padding: 14px 70px 14px 25px
        border-right: 8px solid white
        white-space: nowrap
        text-transform: uppercase
        color: grey
        font-weight: 900
        font-size: 13px
        i
          cursor: pointer
          color: $gold-color
          font-size: 1.2rem
          margin-left: 10px
</style>
