<template lang="pug">
span(:class="{block}")
  icon(v-if="state", @click.native="$emit('click')", iconName="wishlistFilled", key="45da2cea-d1af-47e1-a09c-0a30034b89ae")
  icon(v-else, @click.native="$emit('click')", iconName="wishlist", key="4081eadb-23c4-48d6-b0dc-f4a6e6028bb6")
</template>

<script>
export default {
  name: 'ItemControlsWishlistComponent',

  props: {
    state: {
      type: Boolean,
      default: false
    },

    block: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="sass" scoped>
span
  cursor: pointer
  display: block
  &.block
    pointer-events: none
    ::v-deep
      svg
        path
          fill: $border-color-disabled !important
</style>
