<template lang="pug">
.item-controls
  .item-controls-wishlist
    item-controls-wishlist-icon.control-icon.is-flex(:block="blockControls", :state="wishlistState", @click="onAddToWishList")
  .item-controls-compare
    item-controls-compare-icon.control-icon.is-flex(:block="blockControls", :state="compareListState", @click="onAddToCompareList")
</template>

<script>
import ItemControlsWishlistIcon from '~~/components/ListingPage/ItemControls/ItemControlsWishlist'
import ItemControlsCompareIcon from '~~/components/ListingPage/ItemControls/ItemControlsCompare'
import addItemToLists from '~~/components/ListingPage/Mixins/addItemToLists'

export default {
  name: 'ListingItemControlsComponent',

  components: { ItemControlsCompareIcon, ItemControlsWishlistIcon },

  mixins: [addItemToLists]
}
</script>

<style lang="sass" scoped>
.item-controls
  display: flex
  position: absolute
  z-index: 3
  width: 100%
  align-items: center
  justify-content: space-between
  .control-icon
    height: 35px
    width: 35px
    align-items: center
    justify-content: center
  svg
    cursor: pointer
</style>
