<template lang="pug">
span(:class="{block}")
  icon(v-if="state", @click.native="$emit('click')", iconName="compareFilled", key="d3d6571f-4831-4de7-9baa-a4f223e6d102")
  icon(v-else, @click.native="$emit('click')", iconName="compare", key="42e0f179-c8f0-4237-9325-e07bb4f7d514")
</template>

<script>
export default {
  name: 'ItemControlsCompareComponent',

  props: {
    state: {
      type: Boolean,
      default: false
    },

    block: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="sass" scoped>
span
  cursor: pointer
  display: block
  &.block
    pointer-events: none
    ::v-deep
      svg
        path
          fill: $border-color-disabled !important
</style>
