<template lang="pug">
.accordion-item(:class="{open: opened, disabled}")
  .accordion-item-header.is-flex(@click="onHeadClickHandler")
    slot(name="header")
    i(:class="disabled ? 'fas fa-lock' : 'fa fa-chevron-down'")
  collapse-transition
    .accordion-item-body(v-show="opened")
      slot
</template>

<script>
import { CollapseTransition } from 'vue2-transitions'

export default {
  name: 'AccordionItemComponent',

  components: {
    CollapseTransition
  },

  props: {
    disabled: {
      type: Boolean,
      default: false
    }
  },

  inject: ['expanded'],

  computed: {
    opened() {
      return this._uid === this.expanded.id
    }
  },

  mounted() {
    this.$emit('mounted')
  },

  methods: {
    onHeadClickHandler() {
      if (this.disabled) return
      this.$parent.$emit('open', this._uid)
    }
  }
}
</script>

<style lang="sass" scoped>
.accordion-item
  &.error
    @include box-shadow-inner(0px 1px 0px 2px, $error-color)
  &.open
    box-shadow: unset
  &-header
    cursor: pointer
    padding: 10px
    border-top: 2px solid $border-color
    border-bottom: 2px solid $border-color
    justify-content: space-between
    align-items: center
    i
      color: $gold-color
      @include transition(all, .3s)
      &.fa-lock
        color: $grey-text-color
  &.open
    .accordion-item-header
      border-color: #aa8790
      border-bottom: 0
      i
        transform: rotate(-180deg)
    .accordion-item-body
      border-bottom: 2px solid $border-color
      border-color: #aa8790
  &.disabled
    cursor: not-allowed
</style>
