<template lang="pug">
.accordion
  slot
</template>

<script>
export default {
  name: 'AccordionComponent',

  provide() {
    return {
      expanded: this.expanded
    }
  },

  props: {
    // Opened item by default
    openIndex: {
      type: [Number, Boolean],
      default: false
    }
  },

  data: () => ({
    // provide/inject reactivity works only with objects
    expanded: {
      id: ''
    }
  }),

  watch: {
    openIndex() {
      this.openNode()
    }
  },

  beforeDestroy() {
    this.$off('open', this.onOpenHandler)
  },

  mounted() {
    this.openNode()
    this.$on('open', this.onOpenHandler)
  },

  methods: {
    openNode() {
      if (
        typeof this.openIndex === 'number' &&
        this.$children[this.openIndex]
      ) {
        this.expanded.id = this.$children[this.openIndex]._uid
      }
    },

    onOpenHandler(id) {
      if (this.expanded.id === id) {
        this.expanded.id = ''
        return
      }
      this.expanded.id = id
    }
  }
}
</script>

<style lang="sass" scoped>
.accordion
  .accordion-item.open + .accordion-item
    ::v-deep
      .accordion-item-header
        border-top: 0
</style>
