<template lang="pug">
  modal.call-to-action(v-show="mounted", transition="modal", ref="modal", classes="container", :max-width="1200" :scrollable="true", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-wrapper
      .modal-header(:class="{ dismissed: !showMessage }")
        fade-transition
          .call-to-action--header(v-if="showMessage")
            .call-to-action--header-title {{ $t('detailsPage.callToAction.headerTitle') }}
            .call-to-action--header-body
              span {{ $t('detailsPage.callToAction.headerBody') }}&nbsp
              span.dismiss(@click="showMessage = false") {{ $t('detailsPage.callToAction.headerDismiss') }}
        .close-button.is-flex(@click="onCloseHandler")
          span.is-hidden-mobile {{ $t('common.close') }}
          icon(iconName="close", iconColor="#2e2e2e")
      .modal-body
        .call-to-action--body-title.is-italic {{ $t('detailsPage.callToAction.bodyTitle') }}
        .call-to-action--body-action {{ $t('detailsPage.callToAction.bodyAction') }}
        .call-to-action--body-options.is-flex
          .call-to-action--body-option(v-for="option in options", :key="option.id", :class="{selected: selectedOption === option.type}")
            .call-to-action--body-option-container(@click="onOptionClick(option.type)")
              .call-to-action--body-option-container-inner.is-flex
                .call-to-action--body-option-icon(v-if="option.icon")
                  icon(v-if="listsStates[option.type]", iconColor="#8c7956", :width="iconSize", :height="iconSize", :iconName="`${option.icon}Filled`", key="79d3a5a8-9a99-44a7-9367-778440044c0b")
                  icon(v-else, iconColor="#8c7956", :width="iconSize", :height="iconSize", :iconName="option.icon", key="3026f6a5-3b0b-47b3-8584-16a4b48bdb63")
                .call-to-action--body-option-images.is-flex
                  .call-to-action--body-option-image(v-for="image in option.images", :key="image", :class="option.type")
                    v-image(:src="image")
                .call-to-action--body-option-description(v-if="option.description") {{ option.description }}
            fade-transition(group)
              .call-to-action--body-option-text-processed(v-if="option.processed", key="5f94b178-7a3b-43dc-be60-1abfc0e32870")
                i.fas.fa-check
                span {{ option.textCompleted }}
              .call-to-action--body-option-text(v-else, key="1c796e4a-ec36-4d66-9c02-082550d2a1ec") {{ option.text }}
        //.call-to-action--body-buttons
          button.button.gold-color(v-if="showButtons", @click="onButtonCLick", :disabled="isButtonDisabled")
            i.fas.fa-check(v-if="isButtonDisabled")
            | {{ buttonText }}
</template>

<script>
import { FadeTransition } from 'vue2-transitions'
import { mapActions, mapGetters, mapState } from 'vuex'
import camelCase from 'lodash/camelCase'
import modalMixin from '~~/mixins/modalMixin'
import { caratFormatter } from '~~/utils/formatters'
import { routesMap } from '~~/utils/definitions/defaults'

const ACTION_TYPES = {
  FAVORITES: 'favorites',
  COMPARE: 'compare',
  STONE: 'shopStone',
  SETTING: 'shopSetting',
  HOMEPAGE: 'homepage'
}

const stonesRoutesMap = {
  ruby: {
    Setting_Earring: 'rubies-matched-pairs-of-rubies',
    default: 'rubies'
  },
  emerald: {
    Setting_Earring: 'emeralds-matched-pairs-of-emeralds',
    default: 'emeralds'
  }
}

export default {
  name: 'CallToActionComponent',

  components: {
    FadeTransition
  },

  mixins: [modalMixin],

  data: () => ({
    modalEvent: 'call-to-action',
    modalName: 'call-to-action',
    width: '100%',
    showMessage: true,
    selectedOption: ''
  }),

  computed: {
    ...mapState({
      customStone: (state) => state.customItem.customStone,
      customSetting: (state) => state.customItem.customSetting,
      itemId: (state) => state.customItem.itemId
    }),

    ...mapGetters({
      customItem: 'customItem/customItem'
    }),

    iconSize() {
      if (this.$device.isMobile) return 15
      return 32
    },

    showButtons() {
      return [ACTION_TYPES.FAVORITES, ACTION_TYPES.COMPARE].includes(
        this.selectedOption
      )
    },

    // isButtonDisabled() {
    //   if (this.selectedOption === ACTION_TYPES.FAVORITES)
    //     return this.wishlistState
    //   return this.compareListState
    // },

    // buttonText() {
    //   // if already added
    //   if (this.isButtonDisabled)
    //     return this.$t('detailsPage.callToAction.added')
    //   if (this.selectedOption === ACTION_TYPES.FAVORITES)
    //     return this.$t('detailsPage.callToAction.addFavorites')
    //   return this.$t('detailsPage.callToAction.addCompare')
    // },

    listsStates() {
      return {
        favorites: this.wishlistState,
        compare: this.compareListState
      }
    },

    options() {
      return [
        {
          id: '6f33255b-a926-43e8-8f0a-e801c37f70f7',
          type: ACTION_TYPES.FAVORITES,
          images: [
            this.customStone.thumbnails[0].micro,
            this.customSetting.thumbnails[0].micro
          ],
          icon: 'wishlist',
          text: this.$t('detailsPage.callToAction.favoritesText'),
          textCompleted: this.$t(
            'detailsPage.callToAction.favoritesTextComplete'
          ),
          processed: this.wishlistState,
          description: null
        },
        {
          id: '8cb8a86e-25be-4191-9147-3b41c03ee4f5',
          type: ACTION_TYPES.COMPARE,
          images: [
            this.customStone.thumbnails[0].micro,
            this.customSetting.thumbnails[0].micro
          ],
          icon: 'compare',
          text: this.$t('detailsPage.callToAction.compareText'),
          textCompleted: this.$t(
            'detailsPage.callToAction.compareTextComplete'
          ),
          processed: this.compareListState,
          description: null
        },
        {
          id: '8f825efc-aaf2-4ad8-9d6c-1cb7ed6d94d5',
          type: ACTION_TYPES.STONE,
          images: ['details/stones@2x.png'],
          icon: null,
          text: this.$t('detailsPage.callToAction.shopStone', [
            this.$h.getItemId(this.customSetting)
          ]),
          textCompleted: null,
          processed: false,
          description: null
        },
        {
          id: '3cf4d953-a989-41f7-924e-abc3f7eebe4d',
          type: ACTION_TYPES.SETTING,
          images: [`details/${camelCase(this.customSetting.category)}@2x.jpg`],
          icon: null,
          text: this.$t('detailsPage.callToAction.shopSetting', [
            this.$t(
              `detailsPage.callToAction.${this.customSetting.category
                .replace('Setting_', '')
                .toLowerCase()}`
            ),
            caratFormatter(
              this.customStone.weight || this.customStone.totalWeight
            ),
            this.$h.getItemId(this.customStone)
          ]),
          textCompleted: null,
          processed: false,
          description: null
        },
        {
          id: 'ab28434e-ecc6-46b1-b767-d16be03e8799',
          type: ACTION_TYPES.HOMEPAGE,
          images: ['details/nrc_logo@2x.png'],
          icon: null,
          text: this.$t('detailsPage.callToAction.homePage'),
          textCompleted: null,
          processed: false,
          description: 'the natural ruby company'
        }
      ]
    },

    wishlistState() {
      return (
        this.$store.getters['favorites/customItems'].findIndex(
          (item) => item.id === this.itemId
        ) > -1
      )
    },

    compareListState() {
      return (
        this.$store.getters['compareList/customItems'].findIndex(
          (item) => item.id === this.itemId
        ) > -1
      )
    }
  },

  methods: {
    ...mapActions({
      favoritesAdd: 'favorites/addToList',
      compareAdd: 'compareList/addToList',
      resetCustomItem: 'customItem/resetCustomItem'
    }),

    onOptionClick(type) {
      this.selectedOption = type
      if (this[`${type}Process`]) this[`${type}Process`]()
    },

    favoritesProcess() {
      if (!this.wishlistState) this.favoritesAdd({ item: this.customItem })
    },

    compareProcess() {
      if (!this.compareListState) this.compareAdd({ item: this.customItem })
    },

    homepageProcess() {
      this.$root.$once('page-loaded', this.resetCustomItem)
      this.onCloseHandler()
      this.$router.push(this.localePath({ name: 'index' }))
    },

    shopStoneProcess() {
      this.onCloseHandler()
      this.$router.push(
        this.localePath({
          name:
            stonesRoutesMap[this.$site.name][this.customSetting.category] ||
            stonesRoutesMap[this.$site.name].default
        })
      )
    },

    shopSettingProcess() {
      this.onCloseHandler()
      this.$router.push(
        this.localePath({
          name: `design-your-own-setting-${
            routesMap[this.$site.name][this.customSetting.category]
          }`,
          query: { metals: 5 }
        })
      )
    }
  }
}
</script>

<style lang="sass" scoped>
.v--modal-overlay
  overflow: auto
  z-index: 3001
.call-to-action
  ::v-deep
    .container
      padding: 0 24px
      +mobile
        padding: unset
    .v--modal-box
      width: 100% !important
      left: 0 !important
      overflow: unset
      +touch
        margin: auto
        left: unset !important
      +mobile
        min-height: 100% !important
        top: 0
        bottom: 0
  &--header
    text-align: center
    padding: 30px 40px
    background-color: $second-light-primary-color
    +mobile
      padding: 30px
  &--header-title
    font-size: 18px
    font-weight: bold
  &--header-body
    font-size: 16px
    .dismiss
      text-decoration: underline
      cursor: pointer
  &--body-title
    text-align: center
    font-size: 36px
    font-family: $lora
    +mobile
      font-size: 26px
  &--body-action
    font-size: 16px
    text-align: center
    margin-top: 12px
    +mobile
      font-size: 12px
  &--body-buttons
    height: 80px
    margin-top: 50px
    text-align: center
    position: relative
    +touch
      height: 60px
      margin-top: 40px
    button
      width: 100%
      max-width: 270px
    i
      position: absolute
      left: 35px
      font-size: 16px
  &--body-options
    margin-left: -30px
    flex-wrap: wrap
    justify-content: center
    +mobile
      margin-left: -10px
  &--body-option
    margin-top: 30px
    padding-left: 30px
    width: 20%
    +touch
      width: 33%
    +mobile
      padding-left: 10px
    &.selected
      .call-to-action
        &--body-option-container
          border: 1px solid $gold-color
  &--body-option-container
    transition: border-color 0.5s
    border: 1px solid $border-color
    padding-top: 100%
    position: relative
    cursor: pointer
  &--body-option-container-inner
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    justify-content: center
    align-items: center
    flex-direction: column
  &--body-option-text-processed,
  &--body-option-text
    margin-top: 24px
    font-size: 16px
    text-align: center
    +mobile
      margin-top: 12px
      font-size: 12px
  &--body-option-text-processed
    color: $gold-color
    font-weight: 900
    i
      margin-right: 15px
  &--body-option-icon
    position: absolute
    right: 20px
    top: 20px
    +mobile
      right: 9px
      top: 9px
  &--body-option-description
    text-transform: uppercase
    color: $gold-color
    font-size: 16px
    text-align: center
    letter-spacing: 1px
    font-family: $trojan
    +mobile
      font-size: 7px
  &--body-option-images
    padding: 10px
    > * + *
      margin-left: 4px
  &--body-option-image
    &.favorites,
    &.compare
      border: 1px solid $border-color
    &.homepage
      .picture-wrapper
        +mobile
          width: 70%
          margin: auto
  .modal-wrapper
    overflow: hidden
    border-radius: 3px
    box-shadow: 0 20px 60px -2px rgba(27, 33, 58, 0.4)
    background-color: white
    text-align: left
    +mobile
      border-radius: 0
      min-height: 100vh
    .modal-header
      position: relative
      min-height: 106px
      height: 100%
      &.dismissed
        +mobile
          min-height: unset
      .close-button
        cursor: pointer
        position: absolute
        top: 10px
        right: 10px
        align-items: center
        text-transform: uppercase
        svg
          margin-left: 5px
          height: 15px
          width: 15px
    .modal-body
      padding: 40px
      +mobile
        padding: 15px 20px
</style>
