<template lang="pug">
.cart-child-page.page
  controls-component
  items-list-component
</template>

<script>
export default {
  name: 'CartChildIndexPageComponent',

  components: {
    TotalPriceComponent: () => import('~~/components/Cart/TotalPrice'),
    ItemsListComponent: () => import('~~/components/Cart/ItemsList'),
    ControlsComponent: () => import('~~/components/Cart/ShoppingCart/Controls')
  },

  scrollToTop: true
}
</script>
