<template lang="pug">
.cart-payment-order-page
  controls-component
  cart-steps-component(:active="2")
  h3.block-title.is-italic {{ $t('cart.paymentForm.paymentsOptions') }}
  .radio-group.is-flex
    radio(v-for="option in paymentOptions", :key="option.key" name="delivery", :val="option.key", v-model="paymentOption")
      .radio-value.is-flex
        span {{ $t(`cart.paymentMethod.${option.key}`) }}
        icon(height="41", :iconName="getIconNameByOptionKey(option.key)", iconColor="#8c7956")
        //v-image(:src="`cart/${camelCase(option.value)}@2x.png`")
  .payment-message(v-html="$t('cart.paymentForm.paymentsMessage')")
  collapse-transition
    form-component(ref="credit-card", v-if="paymentOption === 1")
  h3.block-title.is-italic(v-if="showDocsOptions") {{ $t('cart.docs.title') }}
  documents-component(v-if="showDocsOptions")
  .payment-terms.is-flex
    checkbox(@input="$v.acceptTerms.$touch()", :invert-color="true", v-model="$v.acceptTerms.$model", :class="{error: !$v.acceptTerms.checked && $v.acceptTerms.$dirty}")
      span(v-html="$t('cart.paymentForm.terms')")
  .form-controls
    button.button.gold-color(@click="onFormSubmit", :disabled="blockSubmitOrder") {{ $t('cart.paymentForm.proceed') }}
</template>

<script>
import { mapGetters, mapActions, mapState } from 'vuex'
import camelCase from 'lodash/camelCase'
import { CollapseTransition } from 'vue2-transitions'
import Vue from 'vue'
import { validationMixin } from 'vuelidate'
import { prohibitedCountries } from '~~/utils/definitions/defaults'

export default {
  name: 'CartPaymentOrderPageComponent',

  components: {
    CollapseTransition,
    Checkbox: () => import('~~/components/Common/Checkbox'),
    DocumentsComponent: () => import('~~/components/Cart/Documents'),
    FormComponent: () => import('~~/components/Cart/PaymentOrder/Form'),
    Radio: () => import('~~/components/Common/Radio'),
    CartStepsComponent: () => import('~~/components/Cart/Steps'),
    ControlsComponent: () => import('~~/components/Cart/SecurePayment/Controls')
  },

  mixins: [validationMixin],

  scrollToTop: true,

  validations() {
    return {
      acceptTerms: {
        checked: (value) => value === true
      }
    }
  },

  data: () => ({
    acceptTerms: false,
    submitStatus: null
  }),

  computed: {
    ...mapState({
      fetchingItems: (state) => state.cart.fetchingItems
    }),
    ...mapGetters({
      addressForm: 'cart/addressForm',
      metaData: 'cart/metaData',
      form: 'cart/paymentForm',
      locale: 'locale/locale',
      tax: 'cart/getTax',
      orderTotal: 'cart/getTotal',
      showDocsOptions: 'cart/showDocsOptions',
      shipping: 'cart/shipping',
      items: 'cart/items'
    }),

    blockSubmitOrder() {
      if (prohibitedCountries.includes(this.addressForm.shippingCountryId))
        return true
      if (this.fetchingItems) return true
      return this.submitStatus === 'PENDING'
    },

    wpDomain() {
      return process.env.wpDomain
    },

    paymentOptions() {
      return this.metaData.paymentMethods
    },

    paymentOption: {
      get() {
        return this.form.paymentOptionId
      },

      set(value) {
        this.setFormValue({ paymentOptionId: value })
      }
    }
  },

  methods: {
    ...mapActions({
      setFormValue: 'cart/setPaymentFormValue',
      postOrder: 'cart/postOrder'
    }),

    getIconNameByOptionKey(key) {
      if (key === 1) return 'creditCard'
      if (key === 3) return 'bankWire'
      if (key === 5) return 'check'
      return 'creditCard'
    },

    async onFormSubmit() {
      this.$v.$touch()
      if (this.$refs['credit-card']) {
        this.$refs['credit-card'].$v.$touch()
        if (this.$refs['credit-card'].$v.$invalid) {
          this.submitStatus = 'ERROR'
        } else {
          await this.sendOrder()
        }
        return
      }

      if (this.$v.$invalid) return

      await this.sendOrder()
      this.$cookies.remove('addresses-set')
    },

    async sendOrder() {
      try {
        this.submitStatus = 'PENDING'
        this.$root.$emit('loading-start')
        this.sendGtag()
        await this.postOrder()
        this.$root.$emit('loading-stop')
        this.submitStatus = 'OK'
        this.$router.push(
          this.localePath(
            { name: 'cart-order-summary' },
            this.$root.$i18n.locale
          )
        )
      } catch (e) {
        this.submitStatus = 'ERROR'
        console.log(e)
        if (this.$sentry) this.$sentry.captureException(e)
      } finally {
        this.$root.$emit('loading-stop')
      }
    },

    sendGtag() {
      if (this.form.paymentOptionId === 1) {
        Vue.$gtag.event('checkout_card', {
          event_label: 'Credit card details form filled'
        })
      }
    },

    camelCase
  }
}
</script>

<style lang="sass" scoped>
.cart-payment-order-page
  .documents
    margin-top: 30px
  .cart-steps
    margin-top: 20px
  h3
    margin-top: 30px
  .radio-group
    margin-right: -15px
    flex-wrap: wrap
    .radio-value
      flex-direction: column
      svg
        margin-top: 15px
        width: auto
    .radio-button-wrapper
      padding-top: 15px
      padding-right: 15px
      +touch
        width: 50%
      ::v-deep
        .checkmark
          left: 0
          right: 0
          top: 15px
          bottom: unset
          margin: 0 auto
          +mobile
            top: 10px
        .radio-button
          width: 170px
          flex-direction: column
          padding: 63px 15px 15px
          height: 100%
          border: 1px solid $border-color
          margin-bottom: 0
          +mobile
            text-align: center
            width: 100%
            padding: 53px 15px 15px
          &-label
            margin-left: 0
  .payment-message
    margin-top: 15px
  .payment-terms
    align-items: center
    margin-top: 15px
    padding: 20px
    background-color: $light-primary-color
    * + *
      margin-left: 5px
    .checkbox
      &.error
        color: $error-color
        ::v-deep
          .checkmark
            border: 1px solid $error-color
          a
            color: $error-color
      ::v-deep
        .checkbox-label
          font-size: 14px
        a
          text-decoration: underline
  .payment-form
    margin-top: 30px
  .form-controls
    text-align: left
    margin-top: 15px
    margin-bottom: 10px
    +mobile
      margin-top: 20px
    .button
      padding: 11px 70px
      +mobile
        width: 100%
</style>
