<template lang="pug">
.cart-secure-payment-page
  controls-component
  cart-steps-component(:active="1")
  address-form-component
</template>

<script>
export default {
  name: 'CartSecurePaymentPageComponent',

  scrollToTop: true,

  components: {
    AddressFormComponent: () => import('~~/components/Cart/SecurePayment/Form'),
    CartStepsComponent: () => import('~~/components/Cart/Steps'),
    ControlsComponent: () => import('~~/components/Cart/SecurePayment/Controls')
  }
}
</script>

<style lang="sass" scoped>
.cart-steps
  margin-top: 20px
.information-form
  margin-top: 30px
</style>
