<template lang="pug">
  .cart-item__inner.is-flex(:class="item.category.toLowerCase()")
    .cart-item__inner--image
      v-image(:src='thumbnail', alt='Item image', @click="$emit('to-details')")
    .cart-item__inner-wrapper.is-flex
      .cart-item__inner--info(ref="mini-parameters")
        .cart-item__inner--info-wrapper(ref="parameters")
          .parameters__visible
            .parameter(v-for="param in visibleParameters", :key="param.id")
              .parameter__name {{ param.name }}
              .parameter__values(:class="{'row-direction': !param.direction, 'column-direction': param.direction}")
                .parameter__value(v-for="v in param.value") {{ v }}
          collapse-transition
            .parameters__hidden(v-show="expanded")
              .parameter(v-for="param in hiddenParameters", :key="param.id")
                .parameter__name {{ param.name }}
                .parameter__values(:class="{'row-direction': !param.direction, 'column-direction': param.direction}")
                  .parameter__value(v-for="v in param.value") {{ v }}
              .parameters__other(v-if="centerStonesParameters.length")
                p.parameters__other-title {{ $t('cart.item.centerStone') }}
                .parameter(v-for="param in centerStonesParameters", :key="param.id")
                  .parameter__name {{ param.name }}
                  .parameter__values(:class="{'row-direction': !param.direction, 'column-direction': param.direction}")
                    .parameter__value(v-for="v in param.value") {{ v }}
              .parameters__other(v-if="sideStonesParameters.length")
                p.parameters__other-title {{ $t('cart.item.jewelrySideStones') }}
                .parameter(v-for="param in sideStonesParameters", :key="param.id")
                  .parameter__name {{ param.name }}
                  .parameter__values(:class="{'row-direction': !param.direction, 'column-direction': param.direction}")
                    .parameter__value(v-for="v in param.value") {{ v }}
              .parameters__other(v-if="sideParameters.length")
                p.parameters__other-title {{ $t('cart.item.sidestoneSelections') }}
                ul.parameters__other-list
                  li(v-for='(sidestone, i) in sideParameters', :key='i')
                    p {{ sidestone.position || sidestone.name }}
                    p {{ $t('cart.item.grade', [sidestone.grade]) }}
                    p {{ $t('cart.item.eachStoneWeight') }} {{ (sidestone.weight || sidestone.totalWeight) | sideStonesCaratFormatter }}
        .parameter__switcher(v-if="showSwitcher", :class="{expanded}", @click="onParamsSwitcherClick")
          span {{ $t(`cart.item.${expanded ? 'seeLess' : 'seeMore'}`) }}&nbsp;
          i.fas.fa-chevron-right
      .cart-item__inner--price
        price(:tooltip='true', :item='item')
</template>

<script>
import camelCase from 'lodash/camelCase'
import get from 'lodash/get'
import { mapGetters } from 'vuex'
import { CollapseTransition } from 'vue2-transitions'
import perfectScrollbarMixin from '~~/mixins/perfectScrollbarMixin'

import {
  moneyFormatter,
  priceFormatter,
  caratFormatter,
  sideStonesCaratFormatter,
  itemNameFormatter
} from '~~/utils/formatters'

export default {
  components: {
    Price: () => import('~~/components/Common/Price'),
    CollapseTransition
  },

  filters: {
    moneyFormatter,
    priceFormatter,
    caratFormatter,
    sideStonesCaratFormatter
  },

  mixins: [perfectScrollbarMixin],

  props: {
    item: {
      type: Object,
      required: true
    },
    miniCart: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    expanded: false
  }),

  computed: {
    ...mapGetters({
      isBankWire: 'cart/isBankWire'
    }),

    isPreview() {
      return !!this.designId
    },

    isWax() {
      return this.item.category === 'Wax'
    },

    designId() {
      return get(this.item, 'preview.itemRealId', null)
    },

    thumbnail() {
      if (this.isWax) return `details/wax@2x.png`
      if (this.isPreview) return this.item.preview.thumbnails[0].micro
      return this.item.thumbnails[0].micro
    },

    title() {
      return this.itemNameFormatter(this.item)
    },

    showSwitcher() {
      return (
        this.parameters.length +
          this.centerStonesParameters.length +
          this.sideStonesParameters.length >
        this.visibleParametersCount
      )
    },

    subTitle() {
      return ''
    },

    parameters() {
      return []
    },

    // for bands
    sideParameters() {
      return []
    },

    // for jewelry
    centerStonesParameters() {
      return []
    },

    // for jewelry
    sideStonesParameters() {
      return []
    },

    visibleParametersCount() {
      return 4
    },

    visibleParameters() {
      return this.parameters.slice(0, this.visibleParametersCount)
    },

    hiddenParameters() {
      return this.parameters.slice(
        this.visibleParametersCount,
        this.parameters.length
      )
    }
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.fixWidthInfoContainer)
  },

  mounted() {
    if (this.$device.isMobileOrTablet || this.miniCart) {
      window.addEventListener('resize', this.fixWidthInfoContainer, false)
      setTimeout(this.fixWidthInfoContainer, 10)
      this.makePS(this.$refs['mini-parameters'])
      return
    }
    this.makePS(this.$refs.parameters)
  },

  methods: {
    onParamsSwitcherClick() {
      this.expanded = !this.expanded
      this.$nextTick(this.fixWidthInfoContainer)
      setTimeout(() => {
        this.ps?.update()
      }, 500) // wait for finish transition
    },

    /**
     * Fix perfect scrollbar fix issue when it becomes infinite.
     * This happens when container width/height size has decimals.
     * "clientWidth" can show that width/height is integer, but in fact they can have decimals.
     * Round down for 1px to fix this issue
     */
    fixWidthInfoContainer() {
      if (!this.$refs['mini-parameters']) return
      this.$refs['mini-parameters'].style.maxWidth = null // time to get new width size
      this.$nextTick(() => {
        this.$refs['mini-parameters'].style.maxWidth = `${Math.trunc(
          this.$refs['mini-parameters'].clientWidth - 1
        )}px`
        this.ps?.update()
      })
    },

    itemNameFormatter(item) {
      return itemNameFormatter.call(this, item)
    },

    get,
    camelCase,
    moneyFormatter,
    priceFormatter,
    caratFormatter
  }
}
</script>

<style lang="sass" scoped>
@import '~~/assets/styles/components/cart.sass'

.cart-item
  &__inner-wrapper
    overflow: hidden
    width: 100%
    margin-left: 35px
    +touch
      margin-left: 20px
      flex-direction: column-reverse
      width: calc(100% - 100px)
  &__inner--image
    width: 100%
    +touch
      max-width: 100px
      min-width: 100px
    +desktop
      max-width: 90px
      min-width: 90px
    +widescreen
      max-width: 200px
      min-width: 200px
    ::v-deep
      img
        cursor: pointer
        width: 100%
        height: 100%
        border: 1px solid $border-color
  &__inner--price
    text-align: left
    ::v-deep
      .product-price__column
        > div
          text-align: left
          justify-content: flex-start
    +touch
      text-align: unset
      padding-right: 0
    +desktop
      width: $priceDesktopWidth
    +widescreen
      width: $priceWidescreenWidth
    +fullhd
      width: $priceFullHDWidth
    .item-price-component
      display: inline-block
  &__inner--info-wrapper
    position: relative
    padding-bottom: 10px
  &__inner--info
    position: relative
    max-width: 100%
    margin-top: 5px
    +touch
      width: calc(100% - 35px)
    +desktop
      width: calc(100% - $priceDesktopWidth)
    +widescreen
      width: calc(100% - $priceWidescreenWidth)
    +fullhd
      width: calc(100% - $priceFullHDWidth)
    .parameters
      &__other
        margin-top: 15px
      &__other-list
        list-style: circle
        margin-left: 15px
      &__other-title
        font-weight: 700
        font-size: 14px
        margin-bottom: 2px
    .parameter
      display: flex
      &__switcher
        color: $gold-color
        cursor: pointer
        margin-top: 10px
        i
          @include transition(all, .3s)
          font-size: 10px
        &.expanded
          i
            transform: rotate(90deg)
      .parameter
        &__name
          opacity: .6
          font-weight: 900
          min-width: 150px
          max-width: 150px
          +touch
            min-width: 120px
            max-width: 120px
        &__values
          &.row-direction
            display: flex
            .parameter__value
              &:not(:last-child)
                &:after
                  content: ', '
                  margin-right: 5px
        &__value
          white-space: nowrap
</style>
