<template lang="pug">
  .cart-item__inner-wrapper(:class="item.category.toLowerCase()")
    setting(:item="customSetting", @to-details="$emit('to-details')", :mini-cart="miniCart")
    component(:is="stoneComponent", :item="customStone", @to-details="$emit('to-details')", :mini-cart="miniCart")
</template>

<script>
import _cartItemBase from './_cartItemBase'
import extendWarrantyCartItemMixin from '~~/mixins/extendWarrantyCartItemMixin'

export default {
  name: 'CartCustomItem',

  components: {
    Stone: () => import('./Stone'),
    Pair: () => import('./Pair'),
    Setting: () => import('./Setting')
  },

  extends: _cartItemBase,

  mixins: [extendWarrantyCartItemMixin],

  computed: {
    stoneComponent() {
      if (this.item.customStone.category === 'Pair') return 'Pair'
      return 'Stone'
    },

    customStone() {
      return {
        ...this.item.customStone,
        isCustom: true,
        preview: this.item.preview,
        discountPrice: this.item.finalPrice.stonePrice,
        price: this.item.finalPrice.originalStonePrice,
        localCurrency: {
          discountPrice: this.item.finalPrice.localCurrency.stonePrice,
          price: this.item.finalPrice.localCurrency.originalStonePrice,
          symbol: this.item.finalPrice.localCurrency.symbol,
          currencyCode: this.item.finalPrice.localCurrency.currencyCode,
          localRate: this.item.finalPrice.localCurrency.localRate,
          usdRate: this.item.finalPrice.localCurrency.usdRate
        }
      }
    },

    customSetting() {
      return {
        ...this.item.customSetting,
        isCustom: true,
        preview: this.item.preview,
        selectedOptions: this.item.selectedOptions,
        sidestoneOptions: this.item.sidestoneOptions,
        price: this.item.finalPrice.settingPrice,
        localCurrency: {
          price: this.item.finalPrice.localCurrency.settingPrice,
          symbol: this.item.finalPrice.localCurrency.symbol,
          currencyCode: this.item.finalPrice.localCurrency.currencyCode,
          localRate: this.item.finalPrice.localCurrency.localRate,
          usdRate: this.item.finalPrice.localCurrency.usdRate
        }
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.cart-item__inner-wrapper
  width: 100%
  .cart-item__inner + .cart-item__inner
    margin-top: 20px
</style>
