<template lang="pug">
  .cart-item(:class="{ 'mini-cart': miniCart }")
    h3.cart-item__title(v-html="title")
    .cart-item__wrapper.is-flex
      slot
      .cart-item__controls.is-flex
        .cart-item__controls--edit.cart-item__control.is-flex(@click="$emit('to-details')")
          icon(:iconName="isEditable ? 'edit' : 'eye'", iconColor="#8c7956")
          span {{ $t(`cart.${isEditable ? 'edit' : 'view'}Item`) }}
        .cart-item__controls--remove.cart-item__control.is-flex(@click="$emit('remove')")
          icon(iconName="trash", iconColor="#8c7956")
          span {{ $t('cart.removeItem') }}
    .cart-item__options
      .cart-item__options--warning(v-if="isOutOfStock")
        .item__warning
          strong {{ $t('cart.outOfStock') }}&nbsp;
          span {{ $t('cart.outOfStockText') }}
      .cart-item__options--warning(v-if="isOnHold")
        .item__warning
          strong {{ $t('cart.onHold') }}&nbsp;
          span {{ $t('cart.onHoldText') }}
      .cart-item__options--extend-protection.is-flex(v-if="showExtendWarranty")
        .extend-logo.is-flex(:class="{selected: item.extendPlan}")
          img(src="/img/extend/extend_logo_shield_small.png", alt="Extend warranty")
        .cart-item__extend-protection-info.is-flex(:key="0", v-if="item.extendPlan")
          .cart-item__extend-protection-info--wrapper
            strong.extend-title {{ extendTitle }}:&nbsp;
            span {{ getExtendLifeTime(item.extendPlan) }}
          .price-remove-wrapper.is-flex
            price(v-if="item.extendPlan", :tooltip="false", :item="extendPrice")
            .remove__extend-protection.is-flex(v-if="!miniCart", @click="onRemoveExtend")
              span {{ $t('extendWarranty.remove') }}
              icon(iconName="trash", iconColor="#8c7956")
        .cart-item__extend-protection-button.is-flex(:key="1", v-else)
          .extend-protection(:id="extendItemId")
</template>

<script>
import { mapGetters } from 'vuex'
import { bandsByCategory } from '~~/utils/definitions/defaults'

import {
  moneyFormatter,
  caratFormatter,
  itemNameFormatter
} from '~~/utils/formatters'
import extendWarrantyCartItemMixin from '~~/mixins/extendWarrantyCartItemMixin.js'
import availabilityMixin from '~~/mixins/availabilityMixin.js'

export default {
  name: 'CartItemWrapper',

  components: {
    Price: () => import('~~/components/Common/Price')
  },

  filters: {
    moneyFormatter,
    caratFormatter
  },

  mixins: [extendWarrantyCartItemMixin, availabilityMixin],

  props: {
    item: {
      type: Object,
      required: true
    },

    title: {
      type: String,
      default: ''
    },

    miniCart: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    ...mapGetters({
      isBankWire: 'cart/isBankWire'
    }),

    extendTitle() {
      return this.item.extendPlan?.title
        ?.replace(' - Lifetime Jewelry Care', '')
        .replace(' - Jewelry Care', '')
    },

    itemDetails() {
      if (this.isCustomItem) return this.item.customStone
      return this.item
    },

    isCustomItem() {
      return this.item.category === 'Custom'
    },

    isEditable() {
      return ['Custom', 'Ring', ...bandsByCategory].includes(this.item.category)
    },

    showOutOfStock() {
      return !!this.item.estimatedShipDate
    }
  },

  methods: {
    itemNameFormatter(item) {
      return itemNameFormatter.call(this, item)
    }
  }
}
</script>

<style lang="sass" scoped>
@import '~~/assets/styles/components/cart.sass'

.cart-item
  &.mini-cart
    .cart-item__extend-protection-info
      flex-direction: column
      align-items: flex-start
    .extend-logo
      &.selected
        align-self: flex-start
        margin-top: 5px
  &__wrapper
    +touch
      flex-direction: column
      align-items: flex-end
  &__title
    margin-bottom: 25px
    font-size: 18px
    font-weight: bold
  &__inner
    width: 100%
  &__extend-protection-info
    width: 100%
    justify-content: space-between
    align-items: center
    +touch
      flex-direction: column
      align-items: flex-start
    .price-remove-wrapper
      justify-content: space-between
      +touch
        align-items: flex-start
        flex-direction: column
      +desktop
        width: calc($priceDesktopWidth + $removeEditControls - ($removeProtection - $removeEditControls) + 3px)
      +widescreen
        width: calc($priceWidescreenWidth + $removeEditControls - ($removeProtection - $removeEditControls) + 3px)
      +fullhd
        width: calc($priceFullHDWidth + $removeEditControls - ($removeProtection - $removeEditControls) + 3px)
      ::v-deep
        .product-price__column
          > div
            text-align: left
            justify-content: left
    .remove__extend-protection
      width: $removeProtection
      padding-right: 11px
      cursor: pointer
      color: $gold-color
      align-items: center
      +touch
        margin-top: 20px
        flex-direction: row-reverse
      span
        margin-right: 5px
  &__options--extend-protection
    margin-top: 20px
    padding: 25px
    background-color: $third-bg-color
    align-items: center
    .extend-protection
      ::v-deep
        iframe
          height: 27px !important
          .button
            border-radius: 0
    .extend-logo
      margin-right: 10px
      &.selected
        +touch
          align-self: flex-start
          margin-top: 5px
      img
        width: 27px
        height: 27px
  &__options--warning
    margin-top: 20px
    padding: 20px
    background-color: $secondary-bg-color
  &__controls
    width: $removeEditControls
    max-height: 62px
    padding-right: 25px
    +touch
      width: unset
      margin-top: 15px
  &__controls--edit
    width: 28px
    +touch
      width: unset
  &__control
    cursor: pointer
    text-align: center
    max-width: 45px
    align-items: center
    flex-direction: column
    color: $gold-color
    +touch
      padding: 10px 0
      flex-direction: row
      max-width: unset
      span
        margin-left: 10px
  .cart-item__control + .cart-item__control
    margin-left: 30px
    +touch
      margin-left: 15px
      padding-left: 15px
      border-left: 1px solid $border-color
</style>
