<template lang="pug">
 tr.item-placeholder
   td(colspan="3")
     .item-placeholder__inner
       content-loader(:width="400", :height="230", :speed="2", primaryColor="#f3f3f3", secondaryColor="#ecebeb")
         rect(x="0", y="27", rx="0", ry="0", width="100", height="100")
         rect(x="130", y="27", rx="0", ry="0", width="247", height="10")
         rect(x="130", y="50", rx="0", ry="0", width="195", height="10")
         rect(x="230", y="80", rx="0", ry="0", width="70", height="10")
         rect(x="130", y="100", rx="0", ry="0", width="75", height="10")
         rect(x="130", y="80", rx="0", ry="0", width="70", height="10")
         rect(x="0", y="150", rx="0", ry="0", width="200", height="10")
         rect(x="230", y="100", rx="0", ry="0", width="90", height="10")
         rect(x="130", y="120", rx="0", ry="0", width="53", height="10")
         rect(x="230", y="120", rx="0", ry="0", width="52", height="10")
         rect(x="0", y="170", rx="0", ry="0", width="390", height="10")
         rect(x="0", y="190", rx="0", ry="0", width="296", height="10")
     //.item-placeholder__inner.is-flex Loading...
</template>

<script>
import { ContentLoader } from 'vue-content-loader'

export default {
  name: 'PlaceholderComponent',

  components: {
    ContentLoader
  },

  props: {
    item: {
      type: Object,
      required: true
    }
  },

  mounted() {
    this.onItemVisible()
  },

  methods: {
    onItemVisible() {
      if (this.item.eventsStop) return
      this.$emit('load-item', this.item)
    }
  }
}
</script>

<style scoped lang="sass">
.item-placeholder
  td
    padding-left: 0
    padding-right: 0
  &__inner
    padding-left: 20px
    width: 400px
    height: 230px
    justify-content: center
    align-items: center
    +mobile
      width: 100%
    +ipad
      width: 100%
</style>
