.button
  border-radius: 0
  text-transform: uppercase
  font-weight: 700
  padding: 10px
  height: unset
  font-size: 14px
  white-space: normal
  &.link
    font-weight: normal
    text-transform: none
    text-decoration: underline
    background: none !important
    border: none
    padding: 0 !important
    cursor: pointer
  &.gold-color
    border: 1px solid $gold-color
    background-color: $gold-color
    color: #fff
    &.light
      background-color: #ffffff
      color: $gold-color
  &.pink-color
    border: 1px solid $primary-color
    color: $primary-color
  &.white-color
    background-color: #fff
    border: 1px solid #fff
    color: $primary-color
  &.empty
    background-color: transparent
