form,
.form
  .form-block
    &:not(:first-child)
      margin-top: 50px
    .form-row
      +mobile
        flex-direction: column
      &:not(:first-child)
        margin-top: 10px
        +mobile
          margin-top: unset
      .field
        flex: 1
        max-width: calc(50% - 10px)
        margin-bottom: 1.35rem
        +mobile
          max-width: unset
          width: 100%
        .help
          +mobile
            margin-bottom: 6px
        &.is-fullwidth
          max-width: unset
        &.is-half
          max-width: calc(25% - 10px)
        .control
          .is-danger.multiselect
            .multiselect__tags
              border-color: #f14668
          .vdpComponent
            display: block
            ::v-deep
              .vdpOuterWrap
                z-index: 51
                .vdpInnerWrap
                  border-radius: 0
          &.has-icons-left
            .multiselect
              &--active
                z-index: unset
              .multiselect__content-wrapper
                z-index: 51
              .multiselect__tags
                padding-left: 40px
            span.icon
              z-index: 50
        &.field-error
          margin-bottom: unset
        .label
          text-transform: uppercase
        &.submit-control
          width: 100%
          max-width: unset
          margin-top: 20px
          .control
            text-align: right
            .button
              width: 200px
        &.textarea-control
          @extend .submit-control
      .field + .field
        margin-left: 20px
        +mobile
          margin-left: unset
