.multiselect
  &--disabled
    pointer-events: unset
    .multiselect__tags,
    .multiselect__single,
    .multiselect__select
      cursor: not-allowed
      background-color: #ededed
  &__placeholder
    margin-bottom: 2px
  &__single
    white-space: nowrap
  &__tags
    border-radius: 0
  &__option
    &:hover
      background-color: $fourth-bg-color
      color: #35495e
    &--highlight
      background-color: $fourth-bg-color
      color: #35495e
    &--selected
      background-color: #f3f3f3 !important
      color: $dark-primary-color
.multiselect__option--highlight
  &.multiselect__option--selected
    background-color: $fourth-bg-color
    color: $dark-primary-color

.multiselect__content-wrapper
  border-radius: 0 !important
