.slider.noUi-horizontal
  height: 6px
  border: 0
  background: #fff
  @include box-shadow(0 0 10px 0, rgba(0,0,0,0.07))
  .noUi-base
    .noUi-connects
      border: 1px solid $dark-primary-color
    .noUi-connect
      background: $dark-primary-color
    .noUi-handle
      width: 18px
      height: 18px
      top: -6px
      @include border-radius(50%)
      cursor: pointer
      border: 2px solid #fff
      background-color: #8d7956
      box-shadow: 0 0 0 1px #8d7956
      &::after,
      &::before
        content: unset
      &:focus
        outline: none
