.notify-popup-class
  border-radius: 0 !important

.notify-confirm-button
  @extend .notify-popup-class
  background-color: $dark-primary-color !important

.swal2-container
  z-index: 9999 !important

.swal2-modal
  border-radius: 0 !important

.swal2-modal
  button.swal2-styled
    border-radius: 0 !important
    font-size: unset
    text-transform: uppercase

.swal2-popup
  .swal2-styled.swal2-cancel
    background-color: #fff !important
    color: #8d7956 !important
    border: 1px solid #8d7956 !important
    font-size: unset

.swal2-popup
  .swal2-styled.swal2-confirm
    background-color: #8d7956 !important
    color: #fff !important
    border: 1px solid #8d7956 !important
    font-size: unset

div.swal2-modal
  button.swal2-styled:focus
    -webkit-box-shadow: none !important
    box-shadow: none !important

.swal2-popup
  .swal2-title
    font-weight: 400 !important
    font-family: Lora !important
    font-style: italic !important
    font-size: 2em

.swal2-popup
  .swal2-content
    font-size: 0.9em !important
    font-weight: 700 !important

.swal2-content
  ul
    font-weight: 200
    list-style: circle
    text-align: left
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-left: 100px
    line-height: 1.4
