<template lang="pug">
  .inquire-design
    .inquire-design-title.is-italic {{ $t('customItem.noMatch.form.title') }}
    .inquire-design-message {{ $t('customItem.noMatch.form.message') }}
    .inquire-design-alert
      strong {{ $t('customItem.noMatch.form.alert1') }}
      span {{ $t('customItem.noMatch.form.alert2') }}
    form.inquire-design-form(@submit.prevent="onFormSubmit")
      .form-block
        .form-row.is-flex
          .field.is-fullwidth.has-text-centered
            label.label {{ $t('customItem.noMatch.form.designRequest') }}
            .field-request.is-flex.is-justify-content-center
              .field-request-item
                v-image(:src="customStone.thumbnails[0].micro")
                .field-request-item-id {{ $h.getItemId(customStone) }}
              .field-request-item
                v-image(:src="customSetting.thumbnails[0].micro")
                .field-request-item-id {{ $h.getItemId(customSetting) }}

        .form-row.is-flex
          .field(:class="{'field-error': $v.form.customerName.$error}")
            label.label {{ $t('customItem.noMatch.form.yourName') }}
            .control.has-icons-left
              input.input(name="given-name", v-model.trim="$v.form.customerName.$model", :class="{ 'is-danger': $v.form.customerName.$error }")
              span.icon.is-small.is-left
                i.fa.fa-user
            p.help.is-danger(v-if="!$v.form.customerName.required && $v.form.customerName.$dirty") {{ $t('customItem.noMatch.form.rules.name.required') }}

          .field.is-fullwidth(:class="{'field-error': $v.form.email.$error}")
            label.label {{ $t('customItem.noMatch.form.emailAddress') }}
            .control.has-icons-left
              input.input(ref="email-field", name="email", v-model.trim="$v.form.email.$model", :class="{ 'is-danger': $v.form.email.$error }")
              span.icon.is-small.is-left
                i.fa.fa-envelope
            p.help.is-danger(v-if="!$v.form.email.required && $v.form.email.$dirty") {{ $t('customItem.noMatch.form.rules.email.required') }}
            p.help.is-danger(v-if="!$v.form.email.email && $v.form.email.$dirty") {{ $t('customItem.noMatch.form.rules.email.template') }}

        .form-row.is-flex
          .field
            label.label {{ $t('customItem.noMatch.form.phoneNumber') }}
            .control.has-icons-left
              input.input(name="given-name", v-model.trim="$v.form.phone.$model", :class="{ 'is-danger': $v.form.phone.$error }")
              span.icon.is-small.is-left
                i.fa.fa-phone

        .form-row
          .field.is-fullwidth
            label.label {{ $t('customItem.noMatch.form.comments') }}
            .control
              textarea.comments-block-textarea.textarea(rows="4",  v-model.trim="$v.form.comments.$model")

        .form-row
          .field.is-fullwidth.submit-control
            .control
              button.button.gold-color(type="submit", :disabled="submitStatus === 'PENDING'") {{ $t('customItem.noMatch.form.submit') }}

</template>

<script>
import { validationMixin } from 'vuelidate'
import required from 'vuelidate/lib/validators/required'
import email from 'vuelidate/lib/validators/email'
import { mapActions, mapGetters } from 'vuex'
import Vue from 'vue'
import get from 'lodash/get'
import emailValidatorMixin from '~~/mixins/emailValidatorMixin'

export default {
  name: 'NoMatchFormComponent',

  mixins: [validationMixin, emailValidatorMixin],

  validations: {
    form: {
      customerName: { required },
      email: { required, email },
      phone: {},
      comments: {}
    }
  },

  data: () => ({
    form: {
      customerName: '',
      email: '',
      phone: '',
      comments: ''
    },
    submitStatus: null
  }),

  computed: {
    ...mapGetters({
      customSetting: 'customItem/customSetting',
      customStone: 'customItem/customStone'
    }),

    inquiryQuery() {
      return {
        ...this.form,
        stoneId: this.customStone.id,
        settingId: this.customSetting.id,
        metalType: this.customSetting.metalTypeCode,
        pageLink: get(window, 'location.href', '')
      }
    }
  },

  methods: {
    ...mapActions({
      submitInquiryForm: 'customItem/submitInquiryForm'
    }),

    async onFormSubmit() {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR'
      } else {
        this.submitStatus = 'PENDING'
        Vue.$gtag.event('custom_design_inquiry', {
          event_label: 'Custom design inquiry form filled'
        })
        await this.submitInquiryForm(this.inquiryQuery)
        this.submitStatus = 'OK'
        this.$emit('submitted')
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.inquire-design
  text-align: left
  & > *
    margin-top: 15px
  &-title
    margin-top: 0
    text-align: center
    font-family: $lora
    font-size: 30px
  &-alert
    padding: 20px
    background-color: $light-primary-color
    border-left: 2px solid $primary-color
    & > *
      display: block
  .field-request
    .field-request-item + .field-request-item
      margin-left: 15px
    &-item
      ::v-deep
        img
          border: 1px solid $border-color
    &-item-id
      text-align: center
  .submit-control
    .control
      text-align: center !important
</style>
