<template lang="pug">
  modal.no-match-modal(v-show="mounted", transition="modal", ref="modal", :width="width", :max-width="965", :name="modalName", :scrollable="true", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-header
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body.is-flex
      no-match-form-component(@submitted="onSubmittedHandler")
</template>

<script>
import NoMatchFormComponent from './NoMatchModalForm'
import modalMixin from '~~/mixins/modalMixin'

export default {
  name: 'NoMatchModalComponent',

  components: { NoMatchFormComponent },

  mixins: [modalMixin],

  data: () => ({
    modalEvent: 'no-match',
    modalName: 'no-match',
    width: '50%'
  }),

  methods: {
    onSubmittedHandler() {
      this.$modal.hide(this.modalName)
      this.$root.$emit('call-to-action')
    }
  }
}
</script>

<style lang="sass" scoped>
.no-match-modal
  +mobile
    z-index: 1999
  ::v-deep
    .v--modal-box
      +tablet-only
        width: 80% !important
      +mobile
        width: 100% !important
        left: 0 !important
.modal-header
  position: relative
  height: 30px
  .close-button
    cursor: pointer
    position: absolute
    top: 10px
    right: 10px
    align-items: center
    text-transform: uppercase
    svg
      margin-left: 5px
      height: 15px
      width: 15px
.modal-body
  padding: 20px
  text-align: center
  justify-content: center
</style>
