<template lang="pug">
section.details-overview.container
  .details-overview__title.title
    span.is-italic {{ $t('detailsPage.mainDetails.product') }}&nbsp
    span.is-uppercase {{ $t('detailsPage.mainDetails.details') }}
  component(v-if="componentName", :is="componentName")
  modal
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'DetailsOverviewComponent',

  inject: ['pageType'],

  components: {
    Stone: () => import('./Views/Stone'),
    Pair: () => import('./Views/Pair'),
    Ring: () => import('./Views/Ring'),
    Earring: () => import('./Views/CommonJewelry'),
    Pendant: () => import('./Views/CommonJewelry'),
    Necklace: () => import('./Views/CommonJewelry'),
    Bracelet: () => import('./Views/CommonJewelry'),
    Custom: () => import('./Views/Custom'),
    Modal: () => import('./Modal')
  },

  computed: {
    ...mapGetters({
      productDetails: 'productDetails/productDetails'
    }),

    componentName() {
      if (this.pageType === 'review') return 'Custom'
      const validCategories = [
        'Stone',
        'Pair',
        'Ring',
        'Earring',
        'Pendant',
        'Necklace',
        'Bracelet'
      ]
      return validCategories.includes(this.productDetails.category)
        ? this.productDetails.category
        : ''
    }
  }
}
</script>

<style lang="sass" scoped>
.details-overview
  margin-top: 150px
  +mobile
    margin-top: 90px
</style>
