<template lang="pug">
.page
</template>

<script>
export default {
  name: 'WeddingBandsListingPage',

  fetch({ redirect, route }) {
    const newRoute = {
      ...route,
      name: route.name.replace(
        'emerald-wedding-bands',
        'emerald-wedding-rings-bands'
      )
    }

    redirect(301, newRoute)
  }
}
</script>
