<template lang="pug">
  .big-image
    .navigation(v-if='showNavigation')
      .prev(@click="$emit('prev')")
        i.material-icons.arrow-left keyboard_arrow_left
      .next(@click="$emit('next')")
        i.material-icons.arrow-right keyboard_arrow_right
    .image-wrapper
      v-image(@click="$emit('click')", height="480", :src='image.src', :alt='image.title', :class="image.id")
      .overlay(v-if='showOverlay')
        .background
        button.button(@click="$emit('overlay-click')") {{ this.gallery.$props.overlayButtonText }}
</template>

<script>
export default {
  inject: ['gallery'],

  computed: {
    image() {
      return this.gallery.currentImage
    },

    showOverlay() {
      return this.gallery.$props.overlay
    },

    showNavigation() {
      return this.gallery.$props.navigation
    }
  }
}
</script>

<style lang="sass" scoped>
.navigation
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  z-index: 1
  display: flex
  justify-content: space-between
  width: 100%

.prev, .next
  height: 64px
  width: 64px
  background: transparent
  background-color: rgba(0, 0, 0, 0.5)
  cursor: pointer
  color: #fff
  display: none
  justify-content: center
  align-items: center
  user-select: none

.prev
  margin-left: 20px

.next
  margin-right: 20px

.prev .material-icons, .next .material-icons
  font-size: 44px

.big-image
  margin-bottom: 10px
  position: relative

  &:hover
    .next, .prev
      display: flex

.image-wrapper
  position: relative
  display: flex
  justify-content: center
  flex-flow: row nowrap
  align-items: center
  ::v-deep
    img
      display: block
      max-height: 480px

.overlay
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  opacity: 0

  &:hover
    opacity: 1

  .background
    background: #000
    opacity: 0.3
    height: 100%

.button
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  position: absolute
  padding: 15px 60px
  color: white
  border: 1px solid #ffffff
  background: transparent
  background-color: rgba(0, 0, 0, 0.1)

  &:focus
    border: 1px solid #ffffff
    background: transparent
    background-color: rgba(0, 0, 0, 0.2)

  &:hover
    background-color: rgba(0, 0, 0, 0.2)

@media screen and (max-width: 1023px)
  .overlay
    display: none
</style>
