<template lang="pug">
  .showroom-gallery.margin-top-20
    .showroom-gallery-wrapper
      .showroom-gallery-big-image
        big-image(@next='onNextImage', @prev='onPrevImage', @overlay-click="$emit('overlay-click', firstImage)")
      .showroom-gallery-thumbnails-wrapper(ref='thumbnails')
        thumbnail.showroom-gallery-thumbnail(:class="{ 'is-active': image.id === currentImage.id }", v-for='(image, index) in images', @click='onSetCurrentImage(image, index)', :key='image.id', :image='image')
</template>

<script>
import perfectScrollbarMixin from '~~/mixins/perfectScrollbarMixin'

export default {
  name: 'ShowroomGallery',

  components: {
    BigImage: () => import('./BigImage'),
    Thumbnail: () => import('./Thumbnail')
  },

  mixins: [perfectScrollbarMixin],

  provide() {
    return {
      gallery: this
    }
  },

  props: {
    images: {
      type: Array,
      default: () => []
    },

    navigation: {
      type: Boolean,
      default: false
    },

    overlay: {
      type: Boolean,
      default: false
    },

    firstImage: {
      type: Number,
      default: 0
    },

    overlayButtonText: {
      type: String,
      default: 'View gallery'
    }
  },

  data: () => ({
    currentImage: {}
  }),

  created() {
    this.currentImage = this.images[this.firstImage]
  },

  mounted() {
    this.makePS(this.$refs.thumbnails)
  },

  methods: {
    onNextImage() {
      const index = this.images.findIndex(
        (image) => image.id === this.currentImage.id
      )
      if (index < this.images.length - 1) {
        this.onSetCurrentImage(this.images[index + 1])
        return
      }
      this.onSetCurrentImage(this.images[0])
    },

    onPrevImage() {
      const index = this.images.findIndex(
        (image) => image.id === this.currentImage.id
      )
      if (index > 0) {
        this.onSetCurrentImage(this.images[index - 1])
        return
      }
      this.onSetCurrentImage(this.images[this.images.length - 1])
    },

    onSetCurrentImage(image, index) {
      this.currentImage = image
      this.emit('change', index)
    },

    emit(type) {
      const index = this.images.findIndex(
        (image) => image.id === this.currentImage.id
      )
      this.$emit(type, index)
    }
  }
}
</script>

<style lang="sass" scoped>
.showroom-gallery
  max-width: 800px
  margin: auto

.showroom-gallery-thumbnails
  white-space: nowrap
  padding: 0 10px
  width: 100%

.showroom-gallery-thumbnails-wrapper
  text-align: center
  position: relative
  white-space: nowrap
  width: 100%
  overflow: auto
  padding-bottom: 10px

.showroom-gallery-big-image
  text-align: center

.showroom-gallery-thumbnails-wrapper
  .showroom-gallery-thumbnail
    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0
</style>
