<template lang="pug">
  .thumbnail
    v-image(@click="$emit('click')", :preloader='true', :src='image.thumbnail', :alt='image.title', :lazy="false")
</template>

<script>
export default {
  props: {
    image: {
      type: Object,
      default: () => ({})
    }
  }
}
</script>

<style lang="sass" scoped>
.thumbnail
  width: 117px
  height: 78px
  display: inline-block
  overflow: hidden
  margin: 0 10px
  opacity: 0.6
  cursor: pointer

.is-active
  opacity: 1
</style>
