<template lang="pug">
.modal-view
  .modal-view-title.title.is-italic {{ $t('detailsPage.mainDetails.stoneParams.cut.title') }}
  .modal-view-body
    p(v-html="$t('detailsPage.mainDetails.stoneParams.cut.text')")
    p
      v-image(src="details/nec-dust-cover@2x.jpg", alt="Cut")
</template>

<script>
export default {
  name: 'CutComponent'
}
</script>

<style lang="sass" scoped>
.modal-view
  padding: 0 15px 25px
  &-body
    ::v-deep
      p + p
        margin-top: 15px
      a
        text-decoration: underline
</style>
