<template lang="pug">
.modal-view
  .modal-view-title.title.is-italic {{ $t('detailsPage.mainDetails.stoneParams.origin.title') }}
  .modal-view-body(v-html="$t('detailsPage.mainDetails.stoneParams.origin.text')")
</template>

<script>
export default {
  name: 'OriginComponent'
}
</script>

<style lang="sass" scoped>
.modal-view
  padding: 0 15px 25px
  &-body
    ::v-deep
      p + p
        margin-top: 15px
</style>
