<template lang="pug">
.modal-view
  .modal-view-title.title.is-italic {{ $t('detailsPage.mainDetails.stoneParams.shape.title') }}
  .modal-view-body
    p(v-html="$t('detailsPage.mainDetails.stoneParams.shape.text1')")
    p
      v-image(src="details/shape-illustrations@2x.jpg", alt="Shapes")
    p(v-html="$t('detailsPage.mainDetails.stoneParams.shape.text2')")
</template>

<script>
export default {
  name: 'ShapeComponent'
}
</script>

<style lang="sass" scoped>
.modal-view
  padding: 0 15px 25px
  &-body
    ::v-deep
      p + p
        margin-top: 15px
      a
        text-decoration: underline
</style>
