<template lang="pug">
  modal.showroom-modal(ref="modal", :max-width="1200", :width="width", transition="modal", :scrollable="true", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-header
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body
      .showroom-gallery-wrapper.is-flex
        .dialog-text.padding-15.is-hidden-tablet {{ currentImage.text }}
        showroom-gallery(
          @change="$emit('change', $event)"
          :navigation="true"
          :overlay="false"
          :showText="true"
          :firstImage="firstImage"
          :images="images")
        .dialog-text.padding-15.is-hidden-mobile {{ currentImage.text }}
</template>

<script>
import modalMixin from '~~/mixins/modalMixin'

export default {
  name: 'ShowroomGalleryModalComponent',

  components: {
    ShowroomGallery: () => import('~~/components/Showroom/ShowroomGallery')
  },
  mixins: [modalMixin],

  props: {
    currentImage: {
      type: Object,
      required: true
    },
    images: {
      type: Array,
      required: true
    },
    firstImage: {
      type: Number,
      default: 0
    }
  },

  data: () => ({
    modalEvent: 'showroom-gallery',
    modalName: 'showroom-gallery',
    modalView: '',
    width: '80%'
  })
}
</script>

<style lang="sass" scoped>
.showroom-modal
  ::v-deep
    .v--modal-box
      +touch
        width: 80% !important
        margin: auto
        left: unset !important
      +mobile
        width: 100% !important
.modal-header
  position: relative
  height: 30px
  .close-button
    cursor: pointer
    position: absolute
    top: 10px
    right: 10px
    align-items: center
    text-transform: uppercase
    svg
      margin-left: 5px
      height: 15px
      width: 15px
.modal-body
  padding: 20px
  .showroom-gallery-wrapper
    .showroom-gallery
      max-width: 70%
    .dialog-text
      font-size: 16px
</style>
