<template lang="pug">
  modal.security-modal(ref="modal", :max-width="1200", :width="width", transition="modal", :scrollable="true", :name="modalName", :adaptive="true", height="auto", @closed="enableScrolling")
    .modal-header
      .close-button.is-flex(@click="onCloseHandler")
        span {{ $t('common.close') }}
        icon(iconName="close", iconColor="#2e2e2e")
    .modal-body
      .security-dialog-wrapper
        h2.is-italic {{ $t('showroom.securityDialog.title') }}
        div(v-html="$t('showroom.securityDialog.intro')")
        h3.is-italic {{ $t('showroom.securityDialog.title1') }}
        div(v-html="$t('showroom.securityDialog.message1')")
        div
          strong {{ $t('showroom.securityDialog.title2', [showroomHours]) }}
        .lists(v-html="$t('showroom.securityDialog.message2')")
        div(v-html="$t('showroom.securityDialog.message21')")
        h3.is-italic {{ $t('showroom.securityDialog.title3') }}
        div(v-html="$t('showroom.securityDialog.message3')")
        .lists(v-html="$t('showroom.securityDialog.message31')")
        div(v-html="$t('showroom.securityDialog.message32')")
        div(v-html="$t('showroom.securityDialog.message33')")
</template>

<script>
import { mapState } from 'vuex'
import modalMixin from '~~/mixins/modalMixin'

export default {
  name: 'SecurityModalComponent',

  mixins: [modalMixin],

  data: () => ({
    modalEvent: 'security-requirements',
    modalName: 'security-requirements',
    modalView: '',
    width: '80%'
  }),

  computed: {
    ...mapState({
      workingHours: (state) => state.app.workingHours
    }),

    showroomHours() {
      const data = this.workingHours.showRoom[0] || {}
      const days = data.days?.replace('Available ', '').replace(':<br>', ',')
      return `${days} ${data.from} to ${data.to}`
    }
  }
}
</script>

<style lang="sass" scoped>
.security-modal
  ::v-deep
    .v--modal-box
      +touch
        width: 80% !important
        margin: auto
        left: unset !important
      +mobile
        width: 100% !important
.modal-header
  position: relative
  height: 30px
  .close-button
    cursor: pointer
    position: absolute
    top: 10px
    right: 10px
    align-items: center
    text-transform: uppercase
    svg
      margin-left: 5px
      height: 15px
      width: 15px
.modal-body
  padding: 20px
  .security-dialog-wrapper
    div
      ::v-deep
        p
          margin-bottom: 10px
    h2
      font-family: $lora
      font-size: 36px
      +mobile
        font-size: 26px
    h3
      margin-top: 15px
      font-family: $lora
      font-size: 26px
    .lists
      ::v-deep
        ol
          margin-bottom: 15px
          margin-left: 15px
        ul
          margin-bottom: 15px
          margin-left: 18px
          li
            list-style: disc
</style>
