<template lang="pug">
  .showroom-page__address
    .showroom-page__address-title {{ $t('showroom.sectionOne.addressTitle') }}
    hours-available-component(:options="options", :showTitle="false")
    .showroom-page__address-sub-title
      strong {{ $t('showroom.sectionOne.companyName') }}
    .showroom-page__address-location(v-html="$t('showroom.sectionOne.address')")
    .showroom-page__address-action
      p.links.is-flex
        icon(icon-color='#d21868', icon-name='map')
        a(href='https://www.google.com/maps/place/The+Natural+Ruby+Company/@40.7549234,-73.9810824,1047m/data=!3m3!1e3!4b1!5s0x89c25990a488e0b1:0x340c5b7911e4b2fe!4m5!3m4!1s0x89c259ff56c27a51:0x25d7146796e74b2b!8m2!3d40.7549194!4d-73.9788937', target='_blank') {{ $t('contacts.headOffice.map') }}
      p.links.is-flex
        icon(icon-color='#d21868', icon-name='location')
        a(href='https://www.google.com/maps/dir//The+Natural+Ruby+Company,+6+E+45th+St+Fl.+20,+New+York,+NY+10017,+United+States/@40.7549791,-74.013913,13z/data=!3m1!5s0x89c259076548250b:0xca131d87981af58b!4m8!4m7!1m0!1m5!1m1!1s0x89c259ff56c27a51:0x25d7146796e74b2b!2m2!1d-73.9788937!2d40.7549194', target='_blank') {{ $t('contacts.headOffice.directions') }}
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ShowroomAddress',

  components: {
    HoursAvailableComponent: () =>
      import(
        '~~/components/Layout/TopHeader/TopHeaderContactsLine/hoursAvailable'
      )
  },

  computed: {
    ...mapState({
      workingHours: (state) => state.app.workingHours
    }),

    options() {
      return this.workingHours.showRoom
    }
  }
}
</script>

<style lang="sass" scoped>
.showroom-page
  &__address
    width: 50%
  &__address
    font-size: 16px
    padding: 35px 10px 35px 35px
    .hours-available
      font-size: 16px
      margin-top: 35px
  &__address-title
    font-weight: bold
    font-size: 26px
    line-height: 32px
  &__address-sub-title
    margin-top: 35px
  &__address-action
    margin-top: 35px
    .links
      align-items: center
      a
        color: $dark-primary-color
        margin-left: 5px
</style>
