<template lang="pug">
.timer-component
  .timer-component__text {{ $t('showroom.sectionOne.clockLabel') }}
  .timer-component__wrapper.is-flex
    .timer-component__inputs.is-flex
      input.time-input(type="number", v-model.trim="hours", min="1", max="12", @blur="onHoursBlur")
      span.separator :
      input.time-input(type="number", v-model.trim="minutes", min="0", max="59", @blur="onMinutesBlur")
    .periods-switcher.is-flex
      button.button(:class="{ selected: period === 'AM' }", @click.prevent="period = 'AM'") AM
      button.button(:class="{ selected: period === 'PM' }", @click.prevent="period = 'PM'") PM

</template>

<script>
import { twoDigitsFormatter } from '~~/utils/formatters'

function clamp(num, min, max) {
  return num <= min ? min : num >= max ? max : num
}

export default {
  name: 'ShowroomClock',

  props: {
    value: {
      type: String,
      required: true
    }
  },

  data: () => ({
    hours: '',
    minutes: '',
    period: 'AM'
  }),

  computed: {
    time() {
      return `${this.hours}:${this.minutes} ${this.period}`
    }
  },

  watch: {
    time(val) {
      this.$emit('input', val)
    }
  },

  created() {
    this.setDefaultTime()
  },

  methods: {
    setDefaultTime() {
      const time = this.value.split(' ')
      this.period = time[1]
      ;[this.hours, this.minutes] = time[0].split(':')
    },

    onHoursBlur() {
      this.hours = twoDigitsFormatter(clamp(Number(this.hours), 1, 12))
    },

    onMinutesBlur() {
      this.minutes = twoDigitsFormatter(clamp(Number(this.minutes), 0, 59))
    }
  }
}
</script>

<style lang="sass" scoped>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

/* Firefox */
input[type=number]
  -moz-appearance: textfield

.timer-component
  padding: 25px 30px
  border: 1px solid $border-color
  &__wrapper
    justify-content: center
    flex-wrap: wrap
    +touch
      flex-direction: column
      align-items: center
  &__text
    color: $inactive-element
    text-transform: uppercase
    font-size: 15px
    font-weight: bold
  &__inputs
    align-items: center
    margin-top: 15px
    flex: 1
    +touch
      width: 100%
    .separator
      font-size: 56px
      color: $inactive-element
      margin-left: 20px
      margin-right: 20px
      padding-bottom: 10px
    .time-input
      padding: 0
      font-style: italic
      font-size: 62px
      font-family: $lora
      text-align: center
      height: 95px
      max-width: 115px
      min-width: 75px
      width: 100%
      border: 1px solid $border-color
      background-color: $third-bg-color
      color: $inactive-element
      +touch
        max-width: unset
        width: calc(50% - 7px)
      &:focus
        border: 1px solid $gold-color
        color: $gold-color
        background-color: #ffffff
  .periods-switcher
    padding-left: 20px
    margin-top: 15px
    flex: 1
    justify-content: center
    +touch
      width: 100%
      padding-left: unset
      margin-top: 20px
    .button:focus
      outline: none
      box-shadow: none
    .button
      color: $inactive-element
      font-size: 30px
      height: 95px
      width: 100%
      max-width: 115px
      min-width: 75px
      user-select: none
      +touch
        width: 50%
      &:first-child
        border-right: unset
      &.selected
        color: $gold-color
        border-color: $gold-color
    .button + .button
      border-left-color: $gold-color
</style>
