<template lang="pug">
.tile.is-flex.lazy(data-lazy-function="loaded")
  .image.is-flex
    v-image(src="collections/bracelets@2x.png", :alt="$t('imagesAlt.collectionBracelets')")
  .content.is-flex
    h3.content-title {{ $t(`homePage.collection.${type}.title`) }}
    .content-text {{ $t(`homePage.collection.${type}.text`) }}
    v-link.button.pink-color.empty(:to="{name: 'ruby-jewelry-ruby-bracelets'}") {{ $t(`homePage.collection.${type}.button`) }}
</template>

<script>
export default {
  name: 'BraceletsTileComponent',

  data: () => ({
    type: 'bracelets'
  })
}
</script>

<style lang="sass" scoped>
@include background-image('tile', 'collections/bg/rings', 'jpg')
@import '~~/assets/styles/components/collectionTileHorizontal.sass'

.tile
  +mobile
    justify-content: space-between
    height: 360px
</style>
