<template lang="pug">
.tile.is-flex.lazy(data-lazy-function="loaded", :lazy-status="$device.isDesktopOrTablet ? 'entered' : ''")
  .image.is-flex
    v-image(src="collections/earrings@2x.png", :alt="$t('imagesAlt.collectionEarrings')", :lazy="!$device.isDesktopOrTablet")
  .content.is-flex
    h3.content-title {{ $t(`homePage.collection.${type}.title`) }}
    .content-text {{ $t(`homePage.collection.${type}.text`) }}
    v-link.button.pink-color.empty(:to="{name: 'ruby-jewelry-ruby-earrings'}") {{ $t(`homePage.collection.${type}.button`) }}
</template>

<script>
export default {
  name: 'EarringsTileComponent',

  data: () => ({
    type: 'earrings'
  })
}
</script>

<style lang="sass" scoped>
@include background-image('tile', 'collections/bg/earrings', 'jpg')
@import '~~/assets/styles/components/collectionTileVertical.sass'
.tile
  .image
    ::v-deep
      img
        aspect-ratio: 13 / 6
</style>
