<template lang="pug">
.tile.is-flex.lazy(data-lazy-function="loaded")
  .image.is-flex
    v-image(src="collections/necklaces@2x.png", :alt="$t('imagesAlt.collectionNecklaces')")
  .content.is-flex
    h3.content-title {{ $t(`homePage.collection.${type}.title`) }}
    .content-text {{ $t(`homePage.collection.${type}.text`) }}
    v-link.button.pink-color.empty(:to="{name: 'ruby-jewelry-ruby-necklaces-pendants'}") {{ $t(`homePage.collection.${type}.button`) }}
</template>

<script>
export default {
  name: 'NecklacesTileComponent',

  data: () => ({
    type: 'necklaces'
  })
}
</script>

<style lang="sass" scoped>
@include background-image('tile', 'collections/bg/necklaces', 'jpg')
@import '~~/assets/styles/components/collectionTileVertical.sass'
.tile
  padding-top: unset
  +mobile
    justify-content: space-between
    height: 470px
  .image
    .picture-wrapper
      ::v-deep
        picture
          img
            aspect-ratio: 52 / 123
            width: 73%
</style>
