<template lang="pug">
.tile.is-flex.lazy(data-lazy-function="loaded", :lazy-status="$device.isDesktopOrTablet ? 'entered' : ''")
  .image.is-flex
    v-image(src="collections/rings@2x.png", :alt="$t('imagesAlt.collectionRings')", :lazy="!$device.isDesktop")
  .content.is-flex
    h3.content-title {{ $t(`homePage.collection.${type}.title`) }}
    .content-text {{ $t(`homePage.collection.${type}.text`) }}
    v-link.button.pink-color.empty(:to="{name: 'ruby-jewelry-ruby-engagement-rings'}") {{ $t(`homePage.collection.${type}.button`) }}
</template>

<script>
export default {
  name: 'RingsTileComponent',

  data: () => ({
    type: 'rings'
  })
}
</script>

<style lang="sass" scoped>
@include background-image('tile', 'collections/bg/rings', 'jpg')
@import '~~/assets/styles/components/collectionTileHorizontal.sass'
.tile
  +mobile
    justify-content: space-between
    height: 470px
  .image
    ::v-deep
      img
        aspect-ratio: 163 / 90
    +touch
      height: 40%
      .picture-wrapper
        height: 100%
        ::v-deep
          picture
            height: 100%
            img
              max-height: 100%
              max-width: 100%
              height: unset
              width: unset
  .content
    +touch
      height: 60%
</style>
