<template lang="pug">
.tile.is-flex.lazy(data-lazy-function="loaded")
  .image.is-flex
    v-image(src="collections/settings@2x.png", :alt="$t('imagesAlt.collectionSettings')")
  .content.is-flex
    h3.content-title {{ $t(`homePage.collection.${type}.title`) }}
    .content-text {{ $t(`homePage.collection.${type}.text`) }}
    v-link.button.pink-color.empty(:to="{name: 'design-your-own-setting-ruby-engagement-ring-settings'}") {{ $t(`homePage.collection.${type}.button`) }}
</template>

<script>
export default {
  name: 'SettingsTileComponent',

  data: () => ({
    type: 'settings'
  })
}
</script>

<style lang="sass" scoped>
@include background-image('tile', 'collections/bg/settings', 'jpg')
@import '~~/assets/styles/components/collectionTileVertical.sass'
.tile
  padding-top: unset
  .image
    height: 50%
    .picture-wrapper
      ::v-deep
        picture
          img
            aspect-ratio: 181 / 174
            width: 83%
  .content
    height: 50%
</style>
