<template lang="pug">
.tile.is-flex.lazy(data-lazy-function="loaded")
  .image.is-flex
    v-image(src="collections/stones@2x.png", :alt="$t('imagesAlt.collectionStones')")
  .content.is-flex
    h3.content-title {{ $t(`homePage.collection.${type}.title`) }}
    .content-text {{ $t(`homePage.collection.${type}.text`) }}
    v-link.button.pink-color.empty(:to="{name: 'rubies'}") {{ $t(`homePage.collection.${type}.button`) }}
</template>

<script>
export default {
  name: 'StonesTileComponent',

  data: () => ({
    type: 'stones'
  })
}
</script>

<style lang="sass" scoped>
@include background-image('tile', 'collections/bg/stones', 'jpg')
@import '~~/assets/styles/components/collectionTileVertical.sass'
.tile
  .image
    .picture-wrapper
      ::v-deep
        picture
          img
            aspect-ratio: 1 / 1
            width: 83%
</style>
