<template lang="pug">
.tile.is-flex.lazy(data-lazy-function="loaded", :lazy-status="$device.isDesktop ? 'entered' : ''")
  .image.is-flex
    v-image(src="collections/weddingRing@2x.png", :alt="$t('imagesAlt.collectionWeddingBands')", :lazy="!$device.isDesktop")
  .content.is-flex
    h3.content-title {{ $t(`homePage.collection.${type}.title`) }}
    .content-text {{ $t(`homePage.collection.${type}.text`) }}
    v-link.button.pink-color.empty(:to="{name: 'ruby-wedding-rings-bands'}") {{ $t(`homePage.collection.${type}.button`) }}
</template>

<script>
export default {
  name: 'WeddingBandsTileComponent',

  data: () => ({
    type: 'weddingBands'
  })
}
</script>

<style lang="sass" scoped>
@include background-image('tile', 'collections/bg/weddingRing', 'jpg')
@import '~~/assets/styles/components/collectionTileHorizontal.sass'
.tile
  .image
    ::v-deep
      img
        aspect-ratio: 362 / 191
</style>
