<template lang="pug">
form.showroom-form
  .form-block
    h3.is-italic {{ $t('showroom.schedule') }}
    .form-row
      .field(:class="{'field-error': $v.form.customerName.$error}")
        label.label {{ $t('showroom.form.customerName') }}
        .control.has-icons-left
          input.input(id="a81c105f", autocomplete="name", type="text", v-model.trim="$v.form.customerName.$model", :class="{ 'is-danger': $v.form.customerName.$error }")
          span.icon.is-small.is-left
            i.fa.fa-user
        p.help.is-danger(v-if="!$v.form.customerName.required && $v.form.customerName.$dirty") {{ $t('showroom.formErrors.customerName') }}

    .form-row
      .field(:class="{'field-error': $v.form.email.$error}")
        label.label {{ $t('showroom.form.email') }}
        .control.has-icons-left
          input.input(ref="email-field", autocomplete="email", id="c485b90a", type="text", v-model.trim="$v.form.email.$model", :class="{ 'is-danger': $v.form.email.$error }")
          span.icon.is-small.is-left
            i.fa.fa-envelope
        p.help.is-danger(v-if="!$v.form.email.required && $v.form.email.$dirty") {{ $t('showroom.formErrors.email.required') }}
        p.help.is-danger(v-if="!$v.form.email.email && $v.form.email.$dirty") {{ $t('showroom.formErrors.email.valid') }}

    .form-row
      .field(:class="{'field-error': $v.form.phone.$error}")
        label.label {{ $t('showroom.form.phone') }}
        .control.has-icons-left
          input.input(id="ed999510", autocomplete="tel", type="text", v-model.trim="$v.form.phone.$model", :class="{ 'is-danger': $v.form.phone.$error }")
          span.icon.is-small.is-left
            i.fa.fa-phone
        p.help.is-danger(v-if="!$v.form.phone.required && $v.form.phone.$dirty") {{ $t('showroom.formErrors.phone') }}

  .form-block
    h3.is-italic {{ $t('showroom.time') }}
    .form-row
      .field.is-half.date(:class="{'field-error': $v.form.date.$error}")
        label.label {{ $t('showroom.form.date') }}
        .control.has-icons-left
          vue-date-pick(v-if="datePickerMounted", id="d53d175f", v-model="$v.form.date.$model", :isDateDisabled="isPastDate", format="MM/DD/YYYY", :selectableYearRange="selectableYearRange", :inputAttributes="{readonly: true, class: { input: true, 'date-picker': true, 'is-danger': $v.form.date.$error }}")
          span.icon.is-small.is-left
            i.fa.fa-calendar
        p.help.is-danger(v-if="!$v.form.date.required && $v.form.date.$dirty") {{ $t('showroom.formErrors.date') }}

    .form-row.date-controls.is-flex
      .field.hours(:class="{'field-error': $v.form.time.$error}")
        label.label {{ $t('showroom.form.time') }}
        .control
          multiselect(
            v-if="multiselectMounted",
            id="fbf1862f",
            @select="updateTimeHandler",
            v-model.trim="hour",
            :class="{ 'is-danger': $v.form.time.$error, 'fbf1862f': true }",
            :options="hourOptions",
            :searchable="false",
            :show-labels="false",
            :allow-empty="false",
            :option-height="35"
          )

      span.separator :

      .field.minutes(:class="{'field-error': $v.form.time.$error}")
        label.label &nbsp
        .control
          multiselect(
            v-if="multiselectMounted",
            id="e23870a0"
            @select="updateTimeHandler",
            v-model.trim="minutes"
            :class="{ 'is-danger': $v.form.time.$error, 'e23870a0': true }"
            :options="minutesRange",
            :searchable="false",
            :show-labels="false",
            :allow-empty="false",
            :option-height="35"
          )

      .field.periods(:class="{'field-error': $v.form.time.$error}")
        label.label &nbsp
        .control
          multiselect(
            v-if="multiselectMounted",
            id="cdfe7ad4"
            @select="updateTimeHandler",
            v-model.trim="interval"
            :class="{ 'is-danger': $v.form.time.$error, 'cdfe7ad4': true }"
            :options="intervalRange",
            :searchable="false",
            :show-labels="false",
            :allow-empty="false",
            :option-height="35"
          )

  .form-block
    h3.is-italic {{ $t('showroom.items') }}
    i18n.buttons-group(path="showroom.itemsSub", tag="div")
      button.button.link(slot="favorites", :disabled="!favoritesItemsToImport.length", @click="onImportFavoritesClick") {{ $t('showroom.fromFavorites') }}
      button.button.link(slot="compare", :disabled="!compareItemsToImport.length", @click="onImportCompareClick") {{ $t('showroom.fromCompare') }}
    .form-row
      .field.is-marginless(:class="{'field-error': $v.form.itemIds.$error}")
        label.label {{ $t('showroom.form.itemIds') }}
        .control
          multiselect.items-ids(
            v-if="multiselectMounted",
            id="a6513d68"
            v-model.trim="items"
            :class="{ 'is-danger': $v.form.itemIds.$error, 'a6513d68': true }"
            :placeholder="$t('showroom.selectItemsPlaceholder')",
            :max="itemsLimit",
            track-by="id",
            :searchable="true",
            :show-labels="false",
            :options="searchItems",
            :multiple="true",
            :taggable="true",
            :loading="isLoading",
            :internal-search="false",
            :clear-on-select="false",
            :close-on-select="false",
            :options-limit="300",
            tagPlaceholder="",
            @search-change="fetchItems"
          )
            template(slot="tag", slot-scope="{ option, remove }")
              .multiselect__tag
                .multiselect__tag-info.is-flex
                  img(:src="getThumbnail(option)")
                  span {{ getSelectedItemId(option) }}
                i.multiselect__tag-icon(@click="remove(option)")
            template(slot="clear", slot-scope="props")
              div.multiselect__clear(
                v-if="form.itemIds.length",
                @mousedown.prevent.stop="clearAllIds(props.search)"
              )
            template(slot="option", slot-scope="props")
              component(:key="props.option.id", v-if="componentName(props.option)", :is="componentName(props.option)", :item="props.option")

        p.help.is-danger(v-if="!$v.form.itemIds.required && $v.form.itemIds.$dirty") {{ $t('showroom.formErrors.itemIds') }}
      .items-amount {{ $t('showroom.itemsAdded', [addedItemsCount, itemsLimit]) }}
  .form-block
    h3.is-italic {{ $t('showroom.questions') }}
    .form-row
      .field.textarea-field(:class="{'field-error': $v.form.message.$error}")
        label.label {{ $t('showroom.form.message') }}
        .control
          textarea.textarea.is-radiusless(id="c7edeabf", v-model.trim="$v.form.message.$model", :class="{ 'is-danger': $v.form.message.$error }")

    .form-row
      .field.submit-control
        .control.is-flex
          button.button.gold-color(ref="submitForm", id="ed82a725", :disabled="submitStatus === 'PENDING'") {{ $t('showroom.form.submit') }}

</template>

<script>
import { validationMixin } from 'vuelidate'
import email from 'vuelidate/lib/validators/email'
import required from 'vuelidate/lib/validators/required'
import { mapActions, mapGetters } from 'vuex'
import debounce from 'lodash/debounce'
import Vue from 'vue'
import emailValidatorMixin from '~~/mixins/emailValidatorMixin'
import recaptchaMixin from '~~/mixins/recaptchaMixin'
import { twoDigitsFormatter } from '~~/utils/formatters'
import autoFillForms from '~~/mixins/autoFillForms'
import {
  productListTypeByCategory,
  jewelry,
  bands,
  settings
} from '~~/utils/definitions/defaults'

const itemsLimit = 15

export default {
  name: 'ShowroomFormComponent',

  components: {
    stoneView: () => import('./ItemsViews/stoneView'),
    jewelryView: () => import('./ItemsViews/jewelryView'),
    bandView: () => import('./ItemsViews/bandView'),
    settingView: () => import('./ItemsViews/settingView')
  },

  mixins: [recaptchaMixin, validationMixin, autoFillForms, emailValidatorMixin],

  validations: {
    form: {
      customerName: { required },
      phone: { required },
      email: { required, email },
      date: { required },
      time: { required },
      message: {},
      itemIds: { required }
    }
  },

  data: () => ({
    itemsLimit,
    multiselectMounted: false,
    datePickerMounted: false,
    isLoading: false,
    hour: '01',
    minutes: '00',
    interval: 'PM',
    minutesRange: ['00', '15', '30', '45'],
    intervalRange: ['PM', 'AM'],
    submitStatus: null,
    items: [],
    form: {
      customerName: '',
      phone: '',
      email: '',
      date: '',
      time: '01:00 PM',
      message: '',
      itemIds: []
    }
  }),

  computed: {
    ...mapGetters({
      searchItems: 'showroom/searchItems',
      compareItems: 'compareList/allListItems',
      favoriteItems: 'favorites/allListItems'
    }),

    addedItemsCount() {
      return this.form.itemIds.length
    },

    hourOptions() {
      return Array.from(new Array(12), (x, i) => twoDigitsFormatter(i + 1))
    },

    selectableYearRange() {
      const currentYear = new Date().getFullYear()
      return { from: currentYear, to: currentYear + 2 }
    },

    favoritesItemsToImport() {
      return this.getListItemsIds(this.favoriteItems)
    },

    compareItemsToImport() {
      return this.getListItemsIds(this.compareItems)
    }
  },

  watch: {
    items(val) {
      this.form.itemIds = val.map((item) => item.id)
    }
  },

  mounted() {
    this.mountReCaptcha()
    this.$datePicker.insert(() => {
      this.datePickerMounted = true
    })

    this.$multiselect.insert(() => {
      this.multiselectMounted = true
    })
  },

  methods: {
    ...mapActions({
      fetchSearchItems: 'showroom/fetchSearchItems',
      clearSearchResults: 'showroom/clearSearchResults',
      submitForm: 'showroom/submitForm'
    }),

    getSelectedItemId(item) {
      if (item.dataType === 2) return item.jewelryItemId || item.id
      return item.id
    },

    getThumbnail(option) {
      if (!option.thumbnails || option.dataType === 2) return option.imagePath
      return option.thumbnails[0].micro
    },

    onImportFavoritesClick() {
      this.favoritesItemsToImport.forEach((item) => {
        if (this.items.length >= itemsLimit) return
        this.items.push(item)
      })
    },

    onImportCompareClick() {
      this.compareItemsToImport.forEach((item) => {
        if (this.items.length >= itemsLimit) return
        this.items.push(item)
      })
    },

    getListItemsIds(list) {
      return list
        .map((item) => {
          const id = this.getIdFromItem(item)
          const thumbnails = this.getThumbnailsFromItem(item)
          if (this.form.itemIds.includes(id) || !thumbnails) return

          return { id, thumbnails }
        })
        .filter((item) => item)
    },

    getIdFromItem(item) {
      let id = this.$h.getItemId(item)
      if (item.category === 'Custom') id = item.preview?.itemRealId || item.id
      return id.toString()
    },

    getThumbnailsFromItem(item) {
      return item.preview?.thumbnails || item.thumbnails
    },

    isPastDate(date) {
      const currentDate = new Date()
      return date < currentDate
    },

    getItemId(item) {
      return `${item.id}${item.metalTypeCode || ''}`
    },

    clearAllIds() {
      this.items = []
      this.form.itemIds = []
    },

    updateTimeHandler() {
      this.$nextTick(() => {
        this.form.time = `${this.hour}:${this.minutes} ${this.interval}`
      })
    },

    componentName(item) {
      if (item.isTag) return ''
      const type = productListTypeByCategory[item.category]
      if (jewelry.includes(type)) return 'jewelryView'
      if (bands.includes(type)) return 'bandView'
      if (settings.includes(type)) return 'settingView'
      return 'stoneView'
    },

    fetchItems: debounce(async function(query) {
      this.isLoading = true
      if (query.trim()) await this.fetchSearchItems(query.trim())
      this.isLoading = false
    }, 500),

    async onFormSubmit(response) {
      this.form['g-recaptcha-response'] = response

      this.$v.$touch()
      if (this.$v.$invalid) {
        if (window.grecaptcha) window.grecaptcha.reset()
        return
      }

      Vue.$gtag.event('showroom_tour', {
        event_label: 'Showroom tour form filled'
      })

      this.$root.$emit('loading-start')
      try {
        await this.submitForm(this.form)
      } catch (e) {
        if (this.$sentry) this.$sentry.captureException(e)
        console.log(e)
      } finally {
        this.$root.$emit('loading-stop')
      }

      this.$sweetalert.insert({
        title: this.$t('showroom.swal.title'),
        text: this.$t('showroom.swal.text'),
        type: 'success',
        confirmButtonText: this.$t('showroom.swal.ok')
      })
    }
  }
}
</script>

<style lang="sass" scoped>
.showroom-form
  .form-block
    h3
      font-size: 26px
      font-family: $lora
    .buttons-group
      span
        padding-top: 4px
      button
        font-size: 16px
        line-height: 21px
        &:disabled
          cursor: not-allowed
    .form-row
      .items-ids
        height: unset
        ::v-deep
          .multiselect__tags
            flex-direction: column
            align-items: flex-start
            .multiselect__input
              margin-top: 5px
          .multiselect__tags-wrap
            display: flex
            flex-wrap: wrap
            padding-top: 5px
      .items-amount
        font-size: 14px
      &.date-controls
        +mobile
          flex-direction: row
          justify-content: space-between
          .periods
            margin-left: 10px
      .multiselect
        &__tag
          position: relative
          border: 1px solid $border-color
          border-radius: 0
          background-color: transparent
          padding: 4px 10px
        &__tag-info
          flex-direction: column
          align-items: center
          color: $default-font-color
          img
            max-width: 100px
          span
            margin-top: 10px
        &__tag-icon
          bottom: unset
          &:after
            color: $default-font-color
          &:hover
            background-color: transparent
      .multiselect
        ::v-deep
          .multiselect__clear
            position: absolute
            right: 41px
            height: 40px
            width: 40px
            display: block
            cursor: pointer
            z-index: 2
            &:before,
            &:after
              content: ""
              display: block
              position: absolute
              width: 3px
              height: 16px
              background: #aaa
              top: 12px
              right: 4px
            &:before
              transform: rotate(45deg)
            &:after
              transform: rotate(-45deg)
          .multiselect__option--selected
            color: $default-font-color
            font-weight: 400
          .item-wrapper
            .item-info
              .item-price-component
                ::v-deep
                  .item-price-text
                    align-items: flex-start
      .date
        +mobile
          max-width: unset
      .hours,
      .minutes,
      .periods
        max-width: 80px
        margin-bottom: 0
      .separator
        margin: 37px 10px 0
      .submit-control
        .button
          padding: 10px 30px
</style>
