<template lang="pug">
  .order-summary(:class="{ 'order-summary__mini-cart': miniCart }")
    .order-summary__title {{ $t('cart.cartSidebar.orderSummary') }}
    .order-summary__sub-total.is-flex
      strong {{ $t('cart.cartSidebar.subtotal') }}
      span {{ subtotal | moneyFormatter }}
    .order-summary__shipping.is-flex
      strong {{ $t('cart.cartSidebar.shipping') }}
      span {{ shipping | moneyFormatter }}
    .order-summary__tax.is-flex(v-if="tax")
      strong {{ $t('cart.cartSidebar.tax', [form.shippingState]) }}
      span.order-summary__tax--calc(v-if="backendTaxCalcMode") {{ $t('cart.backendTaxCalculation') }}
      span(v-else) {{ tax | moneyFormatter }}
    .order-summary__order-price
      .order-summary__order-price--total.is-flex
        span {{ $t('cart.cartSidebar.orderTotal') }}
        span {{ orderTotal | moneyFormatter }}
      .order-summary__order-price--total-local.is-flex(v-if="showLocal")
        span.estimated-conversion {{ $t('cart.cartSidebar.orderTotalLocal', [localCurrencyCode]) }}
        span {{ priceFormatter(orderTotalLocal) }}
    .order-summary__currency-conversion(v-if="showLocal", v-html="$t('cart.cartSidebar.description', [localCurrencyCode])")
    .order-summary__pay-securely
      span {{ $t('cart.cartSidebar.paySecurely') }}:
      pay-securely-component
    v-link.order-summary__checkout.button.gold-color.is-hidden-mobile(v-if="!miniCart", :to="{name: 'cart-index-secure-payment'}") {{ $t('cart.cartControls.checkout') }}
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import { decimalFormatter, moneyFormatter } from '~~/utils/formatters/index.js'

export default {
  name: 'OrderSummaryComponent',

  filters: {
    moneyFormatter
  },

  components: {
    PaySecurelyComponent: () => import('~~/components/Cart/PaySecurely')
  },

  props: {
    miniCart: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    ...mapState({
      backendTaxCalcMode: (state) => state.cart.backendTaxCalcMode,
      localCurrency: (state) => state.app.localCurrency
    }),
    ...mapGetters({
      form: 'cart/addressForm',
      tax: 'cart/getTax',
      shipping: 'cart/shipping',
      subtotal: 'cart/getSubTotal',
      orderTotal: 'cart/getTotal',
      orderTotalLocal: 'cart/getTotalLocal',
      mixedPrices: 'cart/mixedPrices',
      localCurrencySymbol: 'app/localCurrencySymbol',
      localCurrencyCode: 'app/localCurrencyCode',
      symbolPositionFront: 'app/symbolPositionFront'
    }),

    showLocal() {
      return this.localCurrency.countryCode !== 'US'
    }
  },

  methods: {
    priceFormatter(price) {
      const p = decimalFormatter(price)
      const s = this.localCurrencySymbol
      if (this.symbolPositionFront) {
        return `${s} `.concat(p)
      }
      return `${p} `.concat(s)
    }
  }
}
</script>

<style lang="sass" scoped>
.order-summary
  padding: 20px 20px 30px
  background-color: #f7f7f7
  margin-top: 39px
  +mobile
    margin-top: 20px
  &__currency-conversion
    margin-top: 20px
  &__mini-cart
    margin-top: 0
    border-top: 1px solid $border-color
    .order-summary__title
      display: none
    .order-summary__sub-total
      margin-top: unset
  &__title
    font-size: 26px
    font-weight: bold
  &__sub-total
    margin-top: 30px
  &__shipping,
  &__tax
    margin-top: 13px
  &__sub-total,
  &__shipping,
  &__tax,
  &__order-price--total,
  &__order-price--total-local
    justify-content: space-between
  &__order-price--total-local
    .estimated-conversion
      max-width: 120px
  &__order-price
    border-top: 1px solid $border-color
    border-bottom: 1px solid $border-color
    margin-top: 20px
    padding: 20px 0
  &__order-price--total
    font-size: 18px
    font-weight: bold
  &__pay-securely
    span
      display: block
      margin-top: 20px
      margin-bottom: 20px
      font-weight: bold
  &__checkout
    margin-top: 30px
    width: 100%
</style>
