<template lang="pug">
.details-main-controls.is-flex(:class="{'is-details-page': isDetails}")
  tooltip.control(:disabled="disabled", :class="{disabled}")
    .details-main-controls-like(slot="target", @click="onAddToWishList")
      icon(v-if="wishlistState", :iconColor="disabled ? '#878787' : '#8c7956'", iconName="wishlistFilled", key="79d3a5a8-9a99-44a7-9367-778440044c0b")
      icon(v-else, :iconColor="disabled ? '#878787' : '#8c7956'", iconName="wishlist", key="3026f6a5-3b0b-47b3-8584-16a4b48bdb63")
    div {{ $t('detailsPage.controls.favorites') }}
  tooltip.control(:disabled="disabled", :class="{disabled}")
    .details-main-controls-compare(slot="target", @click="onAddToCompareList")
      icon(v-if="compareListState", :iconColor="disabled ? '#878787' : '#8c7956'", iconName="compareFilled", key="d6c15b69-9ad5-4938-be94-b74c74ca1c53")
      icon(v-else, :iconColor="disabled ? '#878787' : '#8c7956'", iconName="compare", key="c6753c28-36a8-40dd-a734-d82265e71673")
    div {{ $t('detailsPage.controls.compare') }}
  tooltip.control
    .details-main-controls-share(slot="target")
      share-product
    div {{ $t('detailsPage.controls.share') }}
  tooltip.control
    .details-main-controls-mail(slot="target", @click="onAskAbout")
      icon(iconName="email")
    div {{ $t('detailsPage.controls.question') }}
</template>

<script>
import { mapActions } from 'vuex'
import Tooltip from '~~/components/Common/Tooltip'
import addItemToLists from '~~/components/ListingPage/Mixins/addItemToLists'

export default {
  name: 'DetailsMainControlsComponent',

  components: {
    Tooltip,
    ShareProduct: () => import('../ShareProduct')
  },

  mixins: [addItemToLists],

  data: () => ({
    showShareProductLink: false
  }),

  mounted() {
    this.destroyShareLinkId()
  },

  methods: {
    ...mapActions({
      destroyShareLinkId: 'shareProduct/destroyShareLinkId'
    }),

    onAskAbout() {
      this.$root.$emit('question-about-product')
      this.$root.$emit('hide-tooltips')
    }
  }
}
</script>

<style lang="sass" scoped>
.details-main-controls
  margin-top: 35px
  .control
    cursor: pointer
    border: 1px solid $gold-color
    display: flex
    align-items: center
    padding: 10px
    > div
      height: 20px
    &.disabled
      cursor: not-allowed
  .control + .control
    border-left: none
</style>
