<template lang="pug">
main.listing-page.page
  .container.header-section.is-flex
    breadcrumbs(:items="breadcrumbs")
    steps
  main-filter-mobile(v-if="$device.isMobile")
  main-filter(v-else)
  products-list
  back-to-top-component
  custom-item-remove-modal
</template>

<script>
import { hydrateWhenIdle } from 'vue-lazy-hydration'
import { mapActions, mapGetters } from 'vuex'
import isEmpty from 'lodash/isEmpty'
import { normRouteName, query } from '~~/utils/utils'
import { settingsListBySettingUrl } from '~~/utils/definitions/defaults'
import _baseListingPage from '~~/components/ListingPage/_baseListingPage'
import FetchListing from '~~/utils/fetch/listing'

export default {
  name: 'SettingsListingPage',

  components: {
    Breadcrumbs: hydrateWhenIdle(() =>
      import('~~/components/Common/Breadcrumbs')
    ),
    Steps: hydrateWhenIdle(() => import('~~/components/ListingPage/Steps')),
    PageHeader: hydrateWhenIdle(() =>
      import('~~/components/Common/PageHeader')
    ),
    ProductsList: hydrateWhenIdle(() =>
      import('~~/components/ListingPage/ProductsList')
    ),
    MainFilter: hydrateWhenIdle(() =>
      import('~~/components/ListingPage/MainFilter')
    ),
    MainFilterMobile: hydrateWhenIdle(() =>
      import('~~/components/ListingPage/MainFilterMobile')
    )
  },

  extends: _baseListingPage,

  computed: {
    ...mapGetters({
      productDetails: 'productDetails/productDetails',
      customStone: 'customItem/customStone',
      fetched: 'fetched',
      type: 'typeList',
      allWishlistItems: 'favorites/allListItems'
    }),

    breadcrumbs() {
      const last = {
        id: '388c7bc2-24d6-43b7-8068-aea821186f91',
        name: this.$t(`breadcrumbs.listings.${this.type}`)
      }
      return [this.breadcrumbsItems.home, last]
    }
  },

  watch: {
    dirtyLists(state) {
      if (state) this.getItems()
    },

    customStone: {
      deep: true,
      async handler(val) {
        if (!isEmpty(val)) {
          await this.getFilters()
          this.getItems()
        }
      }
    }
  },

  async fetch(context) {
    try {
      const { route, error } = context
      const type =
        settingsListBySettingUrl[process.env.siteName][
          normRouteName(route.name)
        ]
      if (!type) {
        error({ statusCode: 404, message: 'This page could not be found' })
        return
      }
      const items = new FetchListing({ context, type, force: true })
      await items.fetch()
    } catch (e) {
      if (context.$sentry && context.$sentry.captureException) {
        context.$sentry.captureException(e)
      } else {
        console.log(e)
      }
    }
  },

  methods: {
    ...mapActions({
      cleanDirtyLists: 'filters/cleanDirtyLists'
    }),

    async getFilters() {
      await this.$store.dispatch('filters/setFilters', {
        itemsType: this.type,
        query: query(this.$store, this.$route)
      })
    },

    getItems() {
      if (
        !this.$store.state[this.type].pagesList.length ||
        this.$store.getters['filters/dirtyLists'] ||
        !isEmpty(this.customStone)
      ) {
        const pageNumber = parseInt(this.$route.query.page) || 1
        this.$store.dispatch(`${this.type}/getPage`, {
          filterQuery: this.query,
          pageNumber
        })
        if (this.$store.getters['filters/dirtyLists']) this.cleanDirtyLists()
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.listing-page
  border-top: 1px solid $border-color
  @include margin-bottom()
  .header-section
    flex-direction: column
    justify-content: center
    height: 145px
    +tablet-only
      height: 195px
    +mobile
      height: unset
</style>
