<template lang="pug">
  .showroom-page__section-two
    .container.is-flex
      .showroom-page__left-side
        .showroom-page__left-side--title {{ $t('showroom.sectionTwo.sectionTitle') }}

        .form-block
          i18n.buttons-group(path="showroom.sectionTwo.message", tag="div")
            button.button.link(slot="favorites", :disabled="!favoritesItemsToImport.length", @click="onImportFavoritesClick") {{ $t('showroom.sectionTwo.fromFavorites') }}
            button.button.link(slot="compare", :disabled="!compareItemsToImport.length", @click="onImportCompareClick") {{ $t('showroom.sectionTwo.fromCompare') }}
          .form-row
            .field.is-fullwidth.is-marginless(:class="{'field-error': vuelidate.itemIds.$error}")
              label.label {{ $t('showroom.form.itemIds') }}
              .control
                multiselect.items-ids(
                  v-if="multiselectMounted",
                  id="a6513d68"
                  ref="ids",
                  v-model.trim="items"
                  :class="{ 'is-danger': vuelidate.itemIds.$error, 'a6513d68': true }"
                  :placeholder="$t('showroom.sectionTwo.selectItemsPlaceholder')",
                  :max="itemsLimit",
                  track-by="id",
                  :searchable="true",
                  :show-labels="false",
                  :options="searchItems",
                  :multiple="true",
                  :taggable="true",
                  :loading="isLoading",
                  :internal-search="false",
                  :clear-on-select="false",
                  :close-on-select="false",
                  :options-limit="300",
                  tagPlaceholder="",
                  @search-change="fetchItems"
                )
                  template(slot="tag", slot-scope="{ option, remove }")
                    .multiselect__tag
                      .multiselect__tag-info.is-flex
                        img(:src="getThumbnail(option)")
                        span {{ getSelectedItemId(option) }}
                      i.multiselect__tag-icon(@click="remove(option)")
                  template(slot="clear", slot-scope="props")
                    div.multiselect__clear(
                      v-if="addedItemsCount",
                      @mousedown.prevent.stop="clearAllIds(props.search)"
                    )
                  template(slot="option", slot-scope="props")
                    component(:key="props.option.id", v-if="componentName(props.option)", :is="componentName(props.option)", :item="props.option")

              p.help.is-danger(v-if="!vuelidate.itemIds.required && vuelidate.itemIds.$dirty") {{ $t('showroom.formErrors.itemIds') }}
            .items-amount {{ $t('showroom.sectionTwo.itemsAdded', [addedItemsCount, itemsLimit]) }}
      .showroom-page__right-side
        .showroom-page__right-side--image-pendant.lazy(data-lazy-function="loaded")
        .showroom-page__right-side--image-ring.lazy(data-lazy-function="loaded")
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
import debounce from 'lodash/debounce'
import {
  bands,
  jewelry,
  productListTypeByCategory,
  settings
} from '~~/utils/definitions/defaults'
import showroomFormMixin from '~~/mixins/showroomFormMixin'

const itemsLimit = 15

export default {
  name: 'ShowroomSecondSection',

  components: {
    stoneView: () =>
      import('~~/components/Showroom/ShowroomForm/ItemsViews/stoneView'),
    jewelryView: () =>
      import('~~/components/Showroom/ShowroomForm/ItemsViews/jewelryView'),
    bandView: () =>
      import('~~/components/Showroom/ShowroomForm/ItemsViews/bandView'),
    settingView: () =>
      import('~~/components/Showroom/ShowroomForm/ItemsViews/settingView')
  },

  mixins: [showroomFormMixin],

  props: {
    vuelidate: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    itemsLimit,
    isLoading: false,
    multiselectMounted: false
  }),

  computed: {
    ...mapState({
      selectedItems: (state) => state.showroom.selectedItems
    }),
    ...mapGetters({
      searchItems: 'showroom/searchItems',
      compareItems: 'compareList/allListItems',
      favoriteItems: 'favorites/allListItems'
    }),

    items: {
      get() {
        return this.selectedItems
      },

      set(val) {
        this.setSelectedItems(val)
      }
    },

    addedItemsCount() {
      return this.itemIds.length
    },

    favoritesItemsToImport() {
      return this.getListItemsIds(this.favoriteItems)
    },

    compareItemsToImport() {
      return this.getListItemsIds(this.compareItems)
    }
  },

  watch: {
    items(val) {
      this.itemIds = val.map((item) => item.id)
    }
  },

  mounted() {
    this.$multiselect.insert(() => {
      this.multiselectMounted = true
    })
  },

  methods: {
    ...mapActions({
      setSelectedItems: 'showroom/setSelectedItems',
      fetchSearchItems: 'showroom/fetchSearchItems'
    }),

    getListItemsIds(list) {
      return list
        .map((item) => {
          const id = this.getIdFromItem(item)
          const thumbnails = this.getThumbnailsFromItem(item)
          if (this.itemIds.includes(id) || !thumbnails) return

          return { id, thumbnails }
        })
        .filter((item) => item)
    },

    getIdFromItem(item) {
      let id = this.$h.getItemId(item)
      if (item.category === 'Custom') id = item.preview?.itemRealId || item.id
      return id.toString()
    },

    getThumbnailsFromItem(item) {
      return item.preview?.thumbnails || item.thumbnails
    },

    clearAllIds() {
      this.items = []
      this.itemIds = []
    },

    componentName(item) {
      if (item.isTag) return ''
      const type = productListTypeByCategory[item.category]
      if (jewelry.includes(type)) return 'jewelryView'
      if (bands.includes(type)) return 'bandView'
      if (settings.includes(type)) return 'settingView'
      return 'stoneView'
    },

    getSelectedItemId(item) {
      if (item.dataType === 2) return item.jewelryItemId || item.id
      return item.id
    },

    getThumbnail(option) {
      if (!option.thumbnails || option.dataType === 2) return option.imagePath
      return option.thumbnails[0].micro
    },

    fetchItems: debounce(async function(query) {
      this.isLoading = true
      if (query.trim()) await this.fetchSearchItems(query.trim())
      this.isLoading = false
    }, 500),

    onImportFavoritesClick() {
      this.favoritesItemsToImport.forEach((item) => {
        if (this.items.length >= itemsLimit) return
        this.items.push(item)
      })
    },

    onImportCompareClick() {
      this.compareItemsToImport.forEach((item) => {
        if (this.items.length >= itemsLimit) return
        this.items.push(item)
      })
    }
  }
}
</script>

<style lang="sass" scoped>
@include background-image('showroom-page__right-side--image-pendant', 'showroom/pendant', 'png')
@include background-image('showroom-page__right-side--image-ring', 'showroom/ring', 'png')

.showroom-page
  &__section-two
    font-size: 16px
    +mobile
      padding-bottom: 80px
    .container
      +touch
        flex-direction: column-reverse
  &__left-side,
  &__right-side
    width: 50%
    +touch
      width: 100%
  &__section-two
    background-color: $third-bg-color
  &__right-side
    position: relative
    +touch
      height: 265px
    &--image-pendant
      position: absolute
      height: 100%
      width: 1000px
      top: 0
      left: 15%
      background-size: 80%
      background-repeat: no-repeat
      background-position-x: 80px
      +tablet-only
        width: 415px
        left: 0
        right: 0
        margin: auto
      +mobile
        width: calc(100% + 40px)
        left: -20px
    &--image-ring
      position: absolute
      height: 153px
      width: 337px
      top: 300px
      left: 10%
      background-size: 100%
      background-repeat: no-repeat
      +tablet-only
        height: 100px
        width: 185px
        top: 125px
        left: 23%
      +mobile
        height: 75px
        width: 165px
        top: 125px
        left: 5%
  &__left-side
    padding: 150px 90px 150px 0
    +tablet-only
      padding: 60px
    +mobile
      padding: 0
    .form-block
      +mobile
        margin-top: 40px
      .form-row
        margin-top: 50px
        +mobile
          margin-top: 40px
    .buttons-group
      margin-bottom: 50px
      +mobile
        text-align: center
        margin-bottom: 40px
      button
        font-size: 16px
    .control
      .multiselect
        min-height: 48px
        height: unset
        &__tag
          position: relative
          border: 1px solid $border-color
          border-radius: 0
          background-color: transparent
          padding: 4px 10px
        &__tag-info
          flex-direction: column
          align-items: center
          color: $default-font-color
          img
            max-width: 100px
          span
            margin-top: 10px
        &__tag-icon
          bottom: unset
          &:after
            color: $default-font-color
          &:hover
            background-color: transparent
        ::v-deep
          .multiselect__clear
            height: 48px !important
            &::before,
            &::after
              top: 14px !important
          .multiselect__select
            height: 46px
          .multiselect__tags
            min-height: 48px
            flex-direction: column
            align-items: flex-start
            justify-content: center
            .multiselect__input
              margin-top: 5px
          .multiselect__tags-wrap
            display: flex
            flex-wrap: wrap
            padding-top: 5px
          .multiselect__clear
            position: absolute
            right: 41px
            height: 40px
            width: 40px
            display: block
            cursor: pointer
            z-index: 2
            &:before,
            &:after
              content: ""
              display: block
              position: absolute
              width: 3px
              height: 16px
              background: #aaa
              top: 12px
              right: 4px
            &:before
              transform: rotate(45deg)
            &:after
              transform: rotate(-45deg)
          .multiselect__option--selected
            color: $default-font-color
            font-weight: 400
          .item-wrapper
            .item-info
              .item-price-component
                ::v-deep
                  .item-price-text
                    align-items: flex-start
  &__left-side--title
    line-height: 66px
    font-size: 50px
    font-style: italic
    font-family: $lora
    +touch
      text-align: center
    +mobile
      font-size: 42px
      line-height: 60px
  &__left-side--message
    padding: 50px 0
</style>
