<template lang="pug">
  .showroom-page__section-four
    .container
      fade-transition(group)
        .showroom-page__wrapper(v-if="$auth.loggedIn", key="561542b1")
          .showroom-page__title {{ $t('showroom.sectionFour.sectionTitleAuth') }}
          .showroom-page__body.authorized.is-flex
            .showroom-page__body--message {{ $t('showroom.sectionFour.authMessage') }}
            button.button.gold-color(@click.prevent="$emit('submit')") {{ $t('showroom.sectionFour.reviewButton') }}
        .showroom-page__wrapper(v-else, key="74b2db83")
          .showroom-page__title {{ $t('showroom.sectionFour.sectionTitle') }}
          .showroom-page__body.not-authorized.is-flex
            .showroom-page__left-side
              .showroom-page__left-side--sub-title {{ $t('showroom.sectionFour.loginTitle') }}
              .showroom-page__right-side--message-wrapper
                .showroom-page__left-side--message {{ $t('showroom.sectionFour.loginMessage') }}
                sign-in-form(:redirect="false")
              .or-separator.is-hidden-mobile {{ $t('showroom.sectionFour.or') }}
            .or-separator__wrapper
              .or-separator__horizontal.is-hidden-tablet {{ $t('showroom.sectionFour.or') }}
            .showroom-page__right-side.is-flex
              .showroom-page__right-side--sub-title {{ $t('showroom.sectionFour.guestTitle') }}
              i18n.showroom-page__right-side--message(path="showroom.sectionFour.guestMessage", tag="div")
                v-link(:to="{ name: 'auth' }", slot="signUp") {{ $t('showroom.sectionFour.signUp') }}
              button.button.gold-color(@click.prevent="$emit('submit')") {{ $t('showroom.sectionFour.reviewButton') }}
</template>

<script>
import { FadeTransition } from 'vue2-transitions'

export default {
  name: 'ShowroomFourthSection',

  components: {
    FadeTransition,
    SignInForm: () => import('~~/components/Auth/SignInForm')
  }
}
</script>

<style lang="sass" scoped>
.showroom-page
  &__body
    &.not-authorized
      +mobile
        flex-direction: column
    &.authorized
      flex-direction: column
      align-items: center
      .button
        margin-top: 40px
        width: 100%
        max-width: 330px
  &__body--message
    font-size: 18px
    text-align: center
    max-width: 600px
  .or-separator__horizontal
    position: absolute
    top: -12px
    left: 50%
    transform: translateX(-50%)
    padding: 0 10px
    background-color: $third-bg-color
    font-weight: bold
    font-size: 16px
  .or-separator__wrapper
    position: relative
    margin-bottom: 30px
  &__left-side,
  &__right-side
    font-size: 18px
    width: 50%
    +mobile
      width: 100%
    &--sub-title
      font-size: 26px
      font-weight: bold
    &--message
      margin-top: 30px
      a
        text-decoration: underline
  &__left-side
    border-right: 1px solid #bfbfbf
    position: relative
    +mobile
      border-right: unset
      padding-bottom: 30px
      border-bottom: 1px solid #bfbfbf
    &--message
      padding-right: 140px
      +tablet-only
        padding-right: 50px
      +mobile
        padding-right: unset
    .sign-in-form
      margin-top: 40px
      padding-right: 50px
      +mobile
        padding-right: unset
      ::v-deep
        h4
          display: none
        .submit-control
          +mobile
            margin-top: unset !important
            .button
              width: 100% !important
        .remember-me
          +mobile
            display: none !important
        .forgot-password
          +touch
            max-width: unset
    .or-separator
      position: absolute
      right: -12px
      top: 50%
      transform: translateY(-50%)
      padding: 10px 0
      background-color: $third-bg-color
      font-weight: bold
  &__right-side
    padding-left: 50px
    text-align: center
    flex-direction: column
    justify-content: center
    align-items: center
    +mobile
      padding-left: unset
    .button
      margin-top: 40px
      width: 100%
      max-width: 330px
      +mobile
        max-width: unset
  &__section-four
    background-color: $third-bg-color
    padding: 175px 0 200px
    +touch
      padding: 80px 0
  &__title
    text-align: center
    line-height: 66px
    font-size: 50px
    font-style: italic
    font-family: $lora
    margin-bottom: 60px
    +touch
      text-align: center
    +mobile
      font-size: 42px
</style>
