<template lang="pug">
  .showroom-page__section-three.container.is-flex
    .showroom-page__left-side
      .showroom-page__left-side--title {{ $t('showroom.sectionThree.sectionTitle') }}

      .form-block
        .form-row
          .field.is-fullwidth.textarea-field(:class="{'field-error': vuelidate.message.$error}")
            label.label {{ $t('showroom.form.message') }}
            .control
              textarea.textarea.is-radiusless(id="c7edeabf", rows="9", v-model.trim="vuelidate.message.$model", :class="{ 'is-danger': vuelidate.message.$error }")

    .showroom-page__right-side
      .showroom-page__right-side-image.lazy(data-lazy-function="loaded")
</template>

<script>
import showroomFormMixin from '~~/mixins/showroomFormMixin'

export default {
  name: 'ShowroomThirdSection',

  mixins: [showroomFormMixin],

  props: {
    vuelidate: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="sass" scoped>
@include background-image('showroom-page__right-side-image', 'showroom/background/showroom_full-08', 'jpg')

.showroom-page
  &__section-three
    font-size: 16px
    +touch
      flex-direction: column-reverse
  &__left-side,
  &__right-side
    width: 50%
    +touch
      width: 100%
  &__left-side
    padding: 150px 90px 140px 0
    +tablet-only
      padding: 80px 60px
    +mobile
      padding: 60px 0 80px
    .submit-control
      button
        width: unset !important
  &__right-side
    position: relative
    +tablet-only
      height: 600px
    +mobile
      height: 375px
  &__right-side-image
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 1000px
    background-repeat: no-repeat
    background-size: cover
    z-index: -1
    +touch
      width: calc(100% + 48px)
      margin-left: -24px
  &__left-side--title
    line-height: 66px
    font-size: 50px
    font-style: italic
    font-family: $lora
    +touch
      text-align: center
    +mobile
      font-size: 42px
</style>
