<template lang="pug">
.showroom-page__section-one.container.is-flex
  .showroom-page__left-side
    .showroom-page__left-side--title.is-hidden-mobile {{ $t('showroom.sectionOne.detailsTitle') }}

    .form-block
      .form-row
        .field.is-fullwidth(:class="{'field-error': vuelidate.customerName.$error}")
          label.label {{ $t('showroom.form.customerName') }}
          .control.has-icons-left
            input.input(id="a81c105f", autocomplete="name", type="text", v-model.trim="vuelidate.customerName.$model", :class="{ 'is-danger': vuelidate.customerName.$error }")
            span.icon.is-small.is-left
              i.fa.fa-user
          p.help.is-danger(v-if="!vuelidate.customerName.required && vuelidate.customerName.$dirty") {{ $t('showroom.formErrors.customerName') }}

      .form-row
        .field.is-fullwidth(:class="{'field-error': vuelidate.email.$error}")
          label.label {{ $t('showroom.form.email') }}
          .control.has-icons-left
            input.input(ref="email-field", autocomplete="email", id="c485b90a", type="text", v-model.trim="vuelidate.email.$model", :class="{ 'is-danger': vuelidate.email.$error }")
            span.icon.is-small.is-left
              i.fa.fa-envelope
          p.help.is-danger(v-if="!vuelidate.email.required && vuelidate.email.$dirty") {{ $t('showroom.formErrors.email.required') }}
          p.help.is-danger(v-if="!vuelidate.email.email && vuelidate.email.$dirty") {{ $t('showroom.formErrors.email.valid') }}

      .form-row
        .field.is-fullwidth(:class="{'field-error': vuelidate.phone.$error}")
          label.is-align-items-flex-center.is-flex
            .label {{ $t('showroom.form.phone') }}&nbsp;
            tooltip.why-phone-tooltip
              i.fa.fa-question-circle(slot="target")
              .tooltip-header-price(slot="header")
                strong {{ $t('common.whyPhone') }}
              .tooltip-body-price {{ $t('common.whyPhoneContent') }}
          .control.has-icons-left
            input.input(id="ed999510", autocomplete="tel", type="text", v-model.trim="vuelidate.phone.$model", :class="{ 'is-danger': vuelidate.phone.$error }")
            span.icon.is-small.is-left
              i.fa.fa-phone
          p.help.is-danger(v-if="!vuelidate.phone.required && vuelidate.phone.$dirty") {{ $t('showroom.formErrors.phone') }}

    .showroom-page__left-side--title.margin-top-60.is-hidden-mobile {{ $t('showroom.sectionOne.whenTitle') }}

    .form-block
      .form-row
        .field.is-fullwidth.date(:class="{'field-error': vuelidate.date.$error}")
          label.label {{ $t('showroom.form.date') }}
          .control.has-icons-left.date-picker
            vue-date-pick(v-if="datePickerMounted", id="d53d175f", v-model="vuelidate.date.$model", :isDateDisabled="isPastDate", format="MM/DD/YYYY", :selectableYearRange="selectableYearRange", :inputAttributes="{readonly: true, class: { input: true, 'date-picker': true, 'is-danger': vuelidate.date.$error }}")
            span.icon.is-small.is-left
              i.fa.fa-calendar
          p.help.is-danger(v-if="!vuelidate.date.required && vuelidate.date.$dirty") {{ $t('showroom.formErrors.date') }}

      .form-row
        .field.is-fullwidth.date(:class="{'field-error': vuelidate.date.$error}")
          label.label {{ $t('showroom.form.time') }}
          .control.has-icons-left
            showroom-clock(v-model="vuelidate.time.$model")

      .form-row.margin-top-10
        .field.is-fullwidth(:class="{'field-error': vuelidate.salesPerson.$error}")
          label.label {{ $t('showroom.form.salesPerson') }}
          .control.has-icons-left
            multiselect(
              v-if="multiselectMounted",
              v-model.trim="vuelidate.salesPerson.$model"
              :class="{ 'is-danger': vuelidate.salesPerson.$error }"
              :options="salePersons",
              track-by="id",
              label="name",
              select-label="",
              :show-labels="false",
              selected-label="",
              :allow-empty="false",
              :searchable="false",
              :option-height="35"
            )
            span.icon.is-small.is-left
              i.fa.fa-users

      .form-row.margin-top-10
        .field.is-fullwidth(:class="{'field-error': vuelidate.medicalMask.$error}")
          label.label {{ $t('showroom.form.medicalMask') }}
          .control.has-icons-left
            multiselect(
              v-if="multiselectMounted",
              v-model.trim="vuelidate.medicalMask.$model"
              :class="{ 'is-danger': vuelidate.medicalMask.$error }"
              :options="medicalMaskOptions",
              track-by="id",
              label="name",
              select-label="",
              :show-labels="false",
              selected-label="",
              :searchable="false",
              :option-height="35"
            )
            span.icon.is-small.is-left
              i.fas.fa-hand-holding-heart

  .showroom-page__right-side.is-flex
    .showroom-page__left-side--title.margin-top-60.is-hidden-tablet {{ $t('showroom.sectionOne.whenTitle') }}
    .showroom-page__right-side--image.is-flex
      v-image.is-hidden-touch(src="showroom/showroom_full-15@2x.jpg")
      v-image.is-hidden-desktop(src="showroom/address@2x.jpg")
    showroom-address
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import showroomFormMixin from '~~/mixins/showroomFormMixin'

export default {
  name: 'ShowroomFirstSection',

  components: {
    Tooltip: () => import('~~/components/Common/Tooltip'),
    ShowroomAddress: () => import('~~/components/Showroom/ShowroomAddress'),
    ShowroomClock: () => import('~~/components/Showroom/ShowroomClock')
  },

  mixins: [showroomFormMixin],

  props: {
    vuelidate: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    datePickerMounted: false,
    multiselectMounted: false
  }),

  computed: {
    ...mapGetters({
      defaultShippingAddress: 'account/defaultShippingAddress'
    }),
    ...mapState({
      salePersons: (state) => state.app.salePersons
    }),

    medicalMaskOptions() {
      return [
        {
          id: false,
          name: this.$t('showroom.form.medicalMaskNo')
        },
        {
          id: true,
          name: this.$t('showroom.form.medicalMaskYes')
        }
      ]
    },

    selectableYearRange() {
      const currentYear = new Date().getFullYear()
      return { from: currentYear, to: currentYear + 2 }
    },

    profile() {
      return this.$store.state.auth.user || {}
    }
  },

  beforeDestroy() {
    this.$root.$off('login-complete', this.autoFillForm)
  },

  created() {
    this.setDefaultFieldsValues()
  },

  mounted() {
    this.$root.$once('login-complete', this.autoFillForm)
    this.$datePicker.insert(() => {
      this.datePickerMounted = true
    })

    this.$multiselect.insert(() => {
      this.multiselectMounted = true
    })
  },

  methods: {
    autoFillForm() {
      this.customerName = [this.profile.firstName, this.profile.lastName].join(
        ' '
      )
      this.email = this.profile.email
      this.phone = this.defaultShippingAddress.phone
    },

    setDefaultFieldsValues() {
      if (!this.salesPerson)
        this.salesPerson = this.salePersons.find((c) => c.id === '-1')
    },

    isPastDate(date) {
      const currentDate = new Date()
      return date < currentDate
    }
  }
}
</script>

<style lang="sass" scoped>
.container
  padding-top: 120px
  padding-bottom: 155px
  +tablet-only
    padding-top: 60px
  +mobile
    padding-top: 0
    padding-bottom: 80px
    flex-direction: column-reverse
.showroom-page
  &__left-side,
  &__right-side
    width: 50%
    +mobile
      width: 100%
  &__left-side
    padding-right: 90px
    +tablet-only
      padding-right: 15px
    +mobile
      padding-right: unset
    .form-block
      +mobile
        margin-top: unset
    .why-phone-tooltip
      margin-bottom: .5em
    .input
      height: 3em
    ::v-deep
      .input
        height: 3em
    .control
      .multiselect
        height: 48px
        ::v-deep
          .multiselect__select
            height: 46px
          .multiselect__tags
            min-height: 48px
      &.has-icons-left
        .icon
          height: 3em
  &__right-side
    +touch
      flex-direction: column
    +tablet-only
      padding-left: 15px
  &__left-side--title
    line-height: 66px
    font-size: 50px
    font-style: italic
    font-family: $lora
    +mobile
      margin-top: unset !important
      padding-top: 60px !important
      padding-bottom: 50px !important
      font-size: 42px
      text-align: center
  &__right-side--image
    +touch
      .picture-wrapper
        width: 100%
        ::v-deep
          img
            width: 100%
  &__right-side--image,
  &__address
    width: 50%
    +touch
      width: 100% !important
  &__address
    +touch
      padding-left: 0 !important
</style>
