<template lang="pug">
.pagination__wrapper(ref="wrapper")
  .listing-pagination(ref="pagination")
    .listing-pagination__wrapper.container.is-flex
      v-link.listing-pagination__link.previous(@click.native="onPageLinkClick(currentPage)", v-if="currentPage > 1", :to="getPagePath(currentPage - 2)")
        i.fa.fa-chevron-left.is-hidden-tablet
        span.is-hidden-mobile {{ $t('listingPage.common.prev') }}
      .listing-pagination__link-pages.is-flex
        template(v-for="page in pages")
          v-link.listing-pagination__link.page(v-if="page.type === 'page'", :key="page.guid", @click.native="onPageLinkClick(page.number)", v-show="page.visible", :to="page.path", :class="{selected: page.selected}") {{ page.number }}
          .listing-pagination__link.page(v-else, :key="page.guid") ...
      v-link.listing-pagination__link.next(@click.native="onPageLinkClick(currentPage)", v-if="currentPage < totalPagesCount", :to="getPagePath(currentPage)")
        i.fa.fa-chevron-right.is-hidden-tablet
        span.is-hidden-mobile {{ $t('listingPage.common.next') }}
</template>

<script>
import range from 'lodash/range'
import throttle from 'lodash/throttle'
import { normRoute, query, getOffset } from '~~/utils/utils'

const responsive = 9 // number pages before start hide pages

export default {
  name: 'PaginationComponent',

  data: () => ({
    paginationTopOffset: 0,
    timeout: null
  }),

  computed: {
    // left and right offset from current page
    offset() {
      if (this.$device.isMobile) return 2
      return 3
    },

    isResponsive() {
      return this.totalPagesCount > responsive
    },

    type() {
      return this.$store.getters.typeList
    },

    loadedPages() {
      return this.$store.getters[`${this.type}/loadedPages`]
    },

    currentPage() {
      return parseInt(this.$route.query.page) || 1
    },

    totalPagesCount() {
      return this.$store.state[this.type].totalPagesCount
    },

    pages() {
      const pages = []
      for (let i = 0; i < this.totalPagesCount; i++) {
        pages[i] = {
          guid: this.$h.guid(),
          type: 'page',
          visible: this.isVisible(i + 1),
          number: i + 1,
          selected: this.currentPage === i + 1,
          path: this.getPagePath(i)
        }
      }

      if (!this.isResponsive) return pages

      if (!pages[1].visible)
        pages.splice(1, 0, {
          guid: this.$h.guid(),
          type: 'dots'
        })
      if (!pages[pages.length - 2].visible)
        pages.splice(pages.length - 2, 0, {
          guid: this.$h.guid(),
          type: 'dots'
        })
      return pages
    },

    minRange() {
      let minDelta = this.totalPagesCount - (this.currentPage + this.offset)
      minDelta = minDelta < 0 ? minDelta : 0
      return this.currentPage - this.offset + minDelta
    },

    maxRange() {
      let maxDelta = this.minRange - 1
      maxDelta = maxDelta < 0 ? maxDelta : 0
      return this.currentPage + this.offset - maxDelta
    },

    visiblePages() {
      return range(this.minRange, this.maxRange + 1)
    }
  },

  beforeDestroy() {
    window.removeEventListener('scroll', this.onScrollHandler, false)
    if (this.timeout) clearTimeout(this.timeout)
    // this.removeControlsOffset()
  },

  mounted() {
    this.updateTopOffset()
    // this.timeout = setTimeout(() => {
    //   this.setControlsOffset()
    // }, 5010)
    window.addEventListener('scroll', this.onScrollHandler, false)
    this.$nextTick(() => {
      this.updateTopOffset()
      this.setPaginationPosition()
    })
  },

  methods: {
    updateTopOffset() {
      this.paginationTopOffset = getOffset(this.$refs.wrapper).top
    },

    onScrollHandler: throttle(
      function() {
        this.updateTopOffset()
        this.setPaginationPosition()
      },
      500,
      { trailing: false }
    ),

    setPaginationPosition() {
      const offset = window.scrollY + window.innerHeight - 63
      if (offset <= this.paginationTopOffset) {
        this.$refs.pagination.classList.add('sticky')
        // this.setControlsOffset()
      } else {
        this.$refs.pagination.classList.remove('sticky')
        // this.removeControlsOffset()
      }
    },

    isVisible(number) {
      if (!this.isResponsive) return true
      if (number === 1) return true
      if (number === this.totalPagesCount) return true
      return this.visiblePages.includes(number)
    },

    async onPageLinkClick(pageNumber) {
      if (this.loadedPages.includes(pageNumber) && pageNumber === 1) {
        this.$root.$emit('listing-scroll-to-top')
        return
      }
      this.$root.$emit('loading-start')
      await this.$store.dispatch(`${this.type}/getPage`, {
        prefilterQuery: query(this.$store, this.$route),
        pageNumber,
        force: true
      })
      this.$root.$emit('loading-stop')
      this.$root.$emit('listing-scroll-to-top')
    },

    // setControlsOffset() {
    //   const userlike = document.getElementById('userlike-tab')
    //   const toTop = document.getElementById('to-top')
    //   if (userlike)
    //     userlike.style.bottom = this.$device.isDesktop ? '63px' : '73px'
    //   if (toTop) toTop.style.bottom = this.$device.isDesktop ? '120px' : '150px'
    // },

    // removeControlsOffset() {
    //   const userlike = document.getElementById('userlike-tab')
    //   const toTop = document.getElementById('to-top')
    //   if (userlike) userlike.style.bottom = 0
    //   if (toTop) toTop.style.bottom = this.$device.isDesktop ? '60px' : '90px'
    // },

    getPagePath(index) {
      const route = normRoute(this.$route)
      route.query.page = index + 1
      if (route.query.page === 1) delete route.query.page
      return route
    }
  }
}
</script>

<style lang="sass" scoped>
.listing-pagination
  margin-top: 30px
  border-top: 1px solid $border-color
  border-bottom: 1px solid $border-color
  background-color: #ffffff
  width: 100%
  &.sticky
    position: fixed
    border-bottom: unset
    bottom: 0
    z-index: 999
  &__wrapper
    height: 100%
    align-items: center
    justify-content: center
    padding: 20px 0
    .previous,
    .next
      font-weight: 700
      i
        color: $gold-color
    .previous
      border-right: 1px solid $border-color
      padding-right: 15px
      margin-right: 15px
    .next
      border-left: 1px solid $border-color
      padding-left: 15px
      margin-left: 15px
  &__link-pages
    .page
      &:not(:first-child)
        margin-left: 10px
  &__link
    margin-right: 5px
    text-transform: uppercase
    &.selected
      border: 1px solid $gold-color
      border-radius: 50%
      font-weight: bold
      pointer-events: none
      cursor: default
      color: $gold-color
      height: 23px
      width: 23px
      text-align: center
</style>
